{"openapi":"3.0.1","info":{"title":"Send Person to Merchant","version":"V1"},"servers":[{"url":"https://api.mastercard.com/"}],"tags":[{"name":"Merchant Transfer - Funding and Payment"},{"name":"Merchant Transfer - Payment"},{"name":"Merchant Retrieval"},{"name":"Digital Account Reference Number"},{"name":"Digital Account Reference Number Retrieval"},{"name":"Merchant Refund"},{"name":"Funding"},{"name":"Funding Reversal"},{"name":"Test Payment Notification"},{"name":"Test Refund Notification"},{"name":"Transfer Notification Registration"}],"paths":{"/send/#env/v1/partners/{partnerId}/merchant/transfer":{"post":{"tags":["Merchant Transfer - Funding and Payment"],"summary":"Initiates a Mastercard Merchant Presented QR purchase transaction by securing funds from a consumer’s account with a Funding Transaction and pushing funds to a merchant account with a Payment Transaction.","description":"Initiates a Mastercard Merchant Presented QR purchase transaction by securing funds from a consumer’s account with a Funding Transaction and pushing funds to a merchant account with a Payment Transaction.","operationId":"createMerchantTransfer","parameters":[{"name":"partnerId","in":"path","description":"Path Param - Provider assigned partner id. \n\nType: Alphanumeric Special  [a-zA-Z0-9_-], Length: 32","required":true,"schema":{"type":"string"},"example":"ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9"}],"requestBody":{"description":"Contains the details of the request message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchantTransfer_1_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/MerchantTransfer_1_wrapper"}}},"required":true},"responses":{"200":{"description":"Response details for a merchant transfer.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchantTransfer_14_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/MerchantTransfer_14_wrapper"}}}}}}},"/send/#env/v1/partners/{partnerId}/merchant/transfers":{"get":{"tags":["Merchant Retrieval"],"summary":"Purpose of this service is to retrieve the Transfer resource associated with a specified transfer_reference value.","description":"Purpose of this service is to retrieve the Transfer resource associated with a specified transfer_reference value.","operationId":"getMerchantTransferByRef","parameters":[{"name":"partnerId","in":"path","description":"Path Param - Provider assigned partner id. Details - string, 32","required":true,"schema":{"type":"string"}},{"name":"ref","in":"query","description":"Query Param - Is the client specified transfer reference when initiating the transfer. Allowable characters are alphanumeric and * , - . _ ~. Details- 6-40 Example- DEF123456","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response details for a merchant transfer.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchantTransfers_69_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/MerchantTransfers_69_wrapper"}}}}}}},"/send/#env/v1/partners/{partnerId}/merchant/transfers/payment":{"post":{"tags":["Merchant Transfer - Payment"],"summary":"Initiates a Mastercard Merchant Presented QR purchase transaction by pushing funds to a merchant account.","description":"Initiates a Mastercard Merchant Presented QR purchase transaction by pushing funds to a merchant account.","operationId":"createMerchantPayment","parameters":[{"name":"partnerId","in":"path","description":"Path Param - Provider assigned partner id. Details - string, 32","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Contains the details of the request message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchantPaymentTransfer_29_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/MerchantPaymentTransfer_29_wrapper"}}},"required":false},"responses":{"200":{"description":"Response details for a merchant transfer.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchantTransfer_40_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/MerchantTransfer_40_wrapper"}}}}}}},"/send/#env/v1/partners/{partnerId}/merchant/transfers/refund":{"post":{"tags":["Merchant Refund"],"summary":"Initiates a Mastercard Merchant Presented QR Refund transaction by pushing funds from a merchant account back to the customer's account.","description":"Initiates a Mastercard Merchant Presented QR Refund transaction by pushing funds from a merchant account back to the customer's account.","operationId":"createMerchantRefund","parameters":[{"name":"partnerId","in":"path","description":"Path Param - Provider assigned partner id. Details - string, 32","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Contains the details of the request message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchantRefundTransfer_93_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/MerchantRefundTransfer_93_wrapper"}}},"required":false},"responses":{"200":{"description":"Response details for a merchant transfer.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchantTransfer_104_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/MerchantTransfer_104_wrapper"}}}}}}},"/send/#env/v1/partners/{partnerId}/merchant/transfers/{transferId}":{"get":{"tags":["Merchant Retrieval"],"summary":"Purpose of this service is to retrieve the Transfer resource associated with the specified transfer-id.","description":"Purpose of this service is to retrieve the Transfer resource associated with the specified transfer-id.","operationId":"getMerchantTransferById","parameters":[{"name":"partnerId","in":"path","description":"Path Param - Provider assigned partner id. Details - string, 32","required":true,"schema":{"type":"string"}},{"name":"transferId","in":"path","description":"Path Param - Valid transfer id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response details for a merchant transfer.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchantTransfer_54_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/MerchantTransfer_54_wrapper"}}}}}}},"/send/v1/partners/{partner-id}/transfers/{transfer-id}/transactions/{transaction-id}/reversals":{"post":{"tags":["Funding Reversal"],"summary":"Funding Reversals must be submitted within 30 minutes of the funding transfer request, and should only be submitted for the following conditions:  Funding Transaction must be reversed if payment transaction cannot complete successfully, i.e. the payment transaction is rejected or declined.  Upon a successful reversal of a funding transaction, the refund must be credited to the sending consumer’s Funding Account.","description":"Funding Reversals must be submitted within 30 minutes of the funding transfer request, and should only be submitted for the following conditions:  Funding Transaction must be reversed if payment transaction cannot complete successfully, i.e. the payment transaction is rejected or declined.  Upon a successful reversal of a funding transaction, the refund must be credited to the sending consumer’s Funding Account.","operationId":"createFundingReversal","parameters":[{"name":"partner-id","in":"path","description":"Path Param - Provider assigned partner id. Details - string, 32","required":true,"schema":{"type":"string"}},{"name":"transfer-id","in":"path","description":"Valid transfer id","required":true,"schema":{"type":"string"}},{"name":"transaction-id","in":"path","description":"Valid transaction id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Contains the details of the request message.","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/FundingReversal_144_wrapper"}}},"required":false},"responses":{"200":{"description":"Response details","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/Transfer_145_wrapper"}}}}}}},"/send/v1/partners/{partnerId}/events/generate/payment":{"post":{"tags":["Test Payment Notification"],"summary":"Client can simulate a Mastercard Merchant Presented QR Payment notification to the registered URL endpoint. ","description":"Client can simulate a Mastercard Merchant Presented QR Payment notification to the registered URL endpoint. ","operationId":"sendNotificationPaymentRetry","parameters":[{"name":"partnerId","in":"path","description":"Path Param - Provider assigned partner id. Details - string, 32","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Contains the details of the request message.","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/NotificationRequest_159_wrapper"}}},"required":false},"responses":{"200":{"description":"Contains the details of the response message.","content":{"N/A":{"schema":{"$ref":"#/components/schemas/NotificationResponse_162_wrapper"}}}}}}},"/send/v1/partners/{partnerId}/events/generate/refund":{"post":{"tags":["Test Refund Notification"],"summary":"Client can simulate a Mastercard Merchant Presented QR Refund notification to the registered URL endpoint. ","description":"Client can simulate a Mastercard Merchant Presented QR Refund notification to the registered URL endpoint. ","operationId":"sendNotificationRefundRetry","parameters":[{"name":"partnerId","in":"path","description":"Path Param - Provider assigned partner id. Details - string, 32","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Contains the details of the request message.","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/NotificationRequest_163_wrapper"}}},"required":false},"responses":{"200":{"description":"Contains the details of the response message.","content":{"N/A":{"schema":{"$ref":"#/components/schemas/NotificationResponse_166_wrapper"}}}}}}},"/send/v1/partners/{partnerId}/notification-registries":{"post":{"tags":["Transfer Notification Registration"],"summary":"This service allows Mastercard Merchant QR originating and receiving partners to register a PAN and service provider to receive notifications on an inbound Merchant Refund or Merchant Payment Transaction.","description":"This service allows Mastercard Merchant QR originating and receiving partners to register a PAN and service provider to receive notifications on an inbound Merchant Refund or Merchant Payment Transaction.","operationId":"createTransferNotificationRegistration","parameters":[{"name":"partnerId","in":"path","description":"Path Param - Provider assigned partner id. Type: Alphanumeric Special Length: 40","required":true,"schema":{"type":"string"},"example":"ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9"}],"requestBody":{"description":"Contains the details of the request message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accountregistration_167_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Accountregistration_167_wrapper"}}},"required":false},"responses":{"200":{"description":"Response details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accountregistration_168_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Accountregistration_168_wrapper"}}}}}}},"/send/v1/partners/{partnerId}/notification-registries/{account-reg-ref}":{"get":{"tags":["Transfer Notification Registration"],"summary":"This service allows Mastercard Merchant QR originating and receiving partners to retrieve the service provider's information for a registered PAN for notifications. ","description":"This service allows Mastercard Merchant QR originating and receiving partners to retrieve the service provider's information for a registered PAN for notifications. ","operationId":"NotificationRegistrationAPIReadBy","parameters":[{"name":"partnerId","in":"path","description":"Path Param - Provider assigned partner id. Type: Alphanumeric Special Length: 40","required":true,"schema":{"type":"string"},"example":"ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9"},{"name":"account-reg-ref","in":"path","description":"Path Param - System generated unique account registration identifier. Type: Alphanumberic Special Length: 40","required":true,"schema":{"type":"string"},"example":"areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF"}],"responses":{"200":{"description":"Response details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accountregistration_172_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Accountregistration_172_wrapper"}}}}}},"put":{"tags":["Transfer Notification Registration"],"summary":"This service allows Mastercard Merchant QR originating and receiving partners to update the notitification service provider for a registered PAN.","description":"This service allows Mastercard Merchant QR originating and receiving partners to update the notitification service provider for a registered PAN.","operationId":"NotificationRegistrationAPIUpdate","parameters":[{"name":"partnerId","in":"path","description":"Path Param - Provider assigned partner id. Type: Alphanumeric Special Length: 40","required":true,"schema":{"type":"string"},"example":"ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9"},{"name":"account-reg-ref","in":"path","description":"Path Param - System generated unique account registration identifier. Type: Alphanumeric Special Length: 40","required":true,"schema":{"type":"string"},"example":"areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF"}],"requestBody":{"description":"Contains the details of the request message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accountregistration_169_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Accountregistration_169_wrapper"}}},"required":false},"responses":{"200":{"description":"Response details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accountregistration_170_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Accountregistration_170_wrapper"}}}}}},"delete":{"tags":["Transfer Notification Registration"],"summary":"This service allows Mastercard Merchant QR originating and receiving partners to delete a registered PAN for notifications. ","description":"This service allows Mastercard Merchant QR originating and receiving partners to delete a registered PAN for notifications. ","operationId":"deleteTransferNotificationRegistration","parameters":[{"name":"partnerId","in":"path","description":"Path Param - Provider assigned partner id. Type: Alphanumeric Special Length: 40","required":true,"schema":{"type":"string"},"example":"ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9"},{"name":"account-reg-ref","in":"path","description":"Path Param - System generated unique account registration identifier. Type: Alphanumeric Special Length: 40","required":true,"schema":{"type":"string"},"example":"areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF"}],"responses":{"200":{"description":"Response details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accountregistration_171_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Accountregistration_171_wrapper"}}}}}}},"/send/v1/partners/{partnerId}/transfers/funding":{"post":{"tags":["Funding"],"summary":"The Funding Transaction enables the 'pull' of money from the sender's card to the Transaction Originator who is providing the Person to Merchant service. The amount that is debited from the Funding Account (sending consumer's account) will be the amount 'pushed' to the recipient via a payment transfer request.  Funds can be transferred from Mastercard® or Maestro® debit card accounts. To initiate the funding transaction, users can provide the sending consumer's Primary Account Number (PAN) or a unique identifier previously mapped to the sending consumer's account.","description":"The Funding Transaction enables the 'pull' of money from the sender's card to the Transaction Originator who is providing the Person to Merchant service. The amount that is debited from the Funding Account (sending consumer's account) will be the amount 'pushed' to the recipient via a payment transfer request.  Funds can be transferred from Mastercard® or Maestro® debit card accounts. To initiate the funding transaction, users can provide the sending consumer's Primary Account Number (PAN) or a unique identifier previously mapped to the sending consumer's account.","operationId":"createFunding","parameters":[{"name":"partnerId","in":"path","description":"Path Param - Provider assigned partner id. Details - string, 32","required":true,"schema":{"type":"string"},"example":"ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9"}],"requestBody":{"description":"Contains the details of the request message.","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/FundingTransfer_118_wrapper"}}},"required":false},"responses":{"200":{"description":"Response details","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/Transfer_129_wrapper"}}}}}}},"/send/v1/{partnerId}/digital-account":{"post":{"tags":["Digital Account Reference Number"],"summary":"Used to create a digital account reference number from Incontrol ","description":"Used to create a digital account reference number from Incontrol ","operationId":"createDigitalAccntRefNum","parameters":[{"name":"partnerId","in":"path","description":"Path Param - Provider assigned partner id. \n\nType: Alphanumeric Special  [a-zA-Z0-9_-], Length: 32","required":true,"schema":{"type":"string"},"example":"ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9"}],"requestBody":{"description":"Contains the details of the request message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DigitalAccount_86_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DigitalAccount_86_wrapper"}}},"required":false},"responses":{"200":{"description":"Response details for a create digital account reference number","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DigitalAccount_87_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DigitalAccount_87_wrapper"}}}}}}},"/send/v1/{partnerId}/digital-account/search":{"post":{"tags":["Digital Account Reference Number Retrieval"],"summary":"Used to retreive a digital account reference list from Incontrol ","description":"Used to retreive a digital account reference list from Incontrol ","operationId":"retrieveDigitalAccntRefNumList","parameters":[{"name":"partnerId","in":"path","description":"Path Param - Provider assigned partner id. Details - string, 32","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Contains the details of the request message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DigitalAccount_89_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DigitalAccount_89_wrapper"}}},"required":false},"responses":{"200":{"description":"Response details for a retrieve digital account reference number","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DigitalAccount_90_wrapper"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DigitalAccount_90_wrapper"}}}}}}}},"components":{"schemas":{"Accountregistration_167":{"required":["account_uri","notification_partner_id"],"type":"object","properties":{"account_uri":{"type":"string","description":"URI describing the account. It must be a direct account reference, i.e. URI scheme must be pan. Valid Values- Refer 'Account URIs'. \n\nNote: do not provide exp date and CVC when scheme is pan. ","example":"pan:5299926000000542"},"notification_partner_id":{"type":"string","description":"Service provider partner id being registered to receive notifications. Type: Alphanumeric Special Length: 40","example":"ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9"}},"description":"Contains the details of the request message.","xml":{"name":"accountregistration"}},"Accountregistration_167_wrapper":{"type":"object","properties":{"accountregistration":{"$ref":"#/components/schemas/Accountregistration_167"}},"description":"Contains the details of the request message."},"Accountregistration_168":{"type":"object","properties":{"account_registration_reference":{"type":"string","description":"System generated unique account registration identifier. Type: Alphanumeric Special Length: 40","example":"areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF"},"account_uri":{"type":"string","description":"URI describing the account. It will be a direct account reference, i.e. URI scheme will be pan. Valid Values- Refer 'Account URIs'. ","example":"pan:5299926000000542"},"notification_partner_id":{"type":"string","description":"Service provider partner id registered to receive notifications. Type: Alphanumeric Special Length: 40","example":"ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9"},"notification_partner_name":{"type":"string","description":"Name of the service provider partner id registered. Type: Alphanumeric Special Length: 100","example":"PROVIDER XYZ"}},"description":"Response details","xml":{"name":"accountregistration"}},"Accountregistration_168_wrapper":{"type":"object","properties":{"accountregistration":{"$ref":"#/components/schemas/Accountregistration_168"}},"description":"Response details"},"Accountregistration_169":{"required":["account_uri","notification_partner_id"],"type":"object","properties":{"account_uri":{"type":"string","description":"URI describing the account. It must be a direct account reference, i.e. URI scheme must be pan. Valid Values- Refer 'Account URIs'. \nNote: do not provide exp date and CVC when scheme is pan. ","example":"pan:5299926000000542"},"notification_partner_id":{"type":"string","description":"Service provider partner id being registered to receive notifications. Type: Alphanumeric Special Length: 40","example":"ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9"}},"description":"Contains the details of the request message.","xml":{"name":"accountregistration"}},"Accountregistration_169_wrapper":{"type":"object","properties":{"accountregistration":{"$ref":"#/components/schemas/Accountregistration_169"}},"description":"Contains the details of the request message."},"Accountregistration_170":{"type":"object","properties":{"account_registration_reference":{"type":"string","description":"System generated unique account registration identifier. Type: Alphanumeric Special Length: 40","example":"areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF"},"account_uri":{"type":"string","description":"URI describing the account. It will be a direct account reference, i.e. URI scheme will be pan. Valid Values- Refer 'Account URIs'. ","example":"pan:5299926000000542"},"notification_partner_id":{"type":"string","description":"Service provider partner id registered to receive notifications. Type: Alphanumeric Special Length: 40","example":"ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9"},"notification_partner_name":{"type":"string","description":"Name of the service provider partner id registered. Type: Alphanumeric Special Length: 100","example":"PROVIDER XYZ"}},"description":"Response details","xml":{"name":"accountregistration"}},"Accountregistration_170_wrapper":{"type":"object","properties":{"accountregistration":{"$ref":"#/components/schemas/Accountregistration_170"}},"description":"Response details"},"Accountregistration_171":{"type":"object","properties":{"account_registration_reference":{"type":"string","description":"System generated unique account registration identifier. Type: Alphanumeric Special Length: 40","example":"areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF"},"account_uri":{"type":"string","description":"URI describing the account. It will be a direct account reference, i.e. URI scheme will be pan. Valid Values- Refer 'Account URIs'. ","example":"pan:5299926000000542"},"notification_partner_id":{"type":"string","description":"Service provider partner id registered to receive notifications. Type: Alphanumeric Special Length: 40","example":"ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9"},"notification_partner_name":{"type":"string","description":"Name of the service provider partner id registered. Type: Alphanumeric Special Length: 100","example":"PROVIDER XYZ"}},"description":"Response details","xml":{"name":"accountregistration"}},"Accountregistration_171_wrapper":{"type":"object","properties":{"accountregistration":{"$ref":"#/components/schemas/Accountregistration_171"}},"description":"Response details"},"Accountregistration_172":{"type":"object","properties":{"account_registration_reference":{"type":"string","description":"System generated unique account registration identifier. Type: Alphanumberic Special Length: 40","example":"areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF"},"account_uri":{"type":"string","description":"URI describing the account. It will be a direct account reference, i.e. URI scheme will be pan. Valid Values- Refer 'Account URIs'. ","example":"pan:5299926000000542"},"notification_partner_id":{"type":"string","description":"Service provider partner id registered to receive notifications. Type: Alphanumeric Special Length: 40","example":"ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9"},"notification_partner_name":{"type":"string","description":"Name of the service provider partner id registered. Type: Alphanumeric Special Length: 100","example":"PROVIDER XYZ"}},"description":"Response details","xml":{"name":"accountregistration"}},"Accountregistration_172_wrapper":{"type":"object","properties":{"accountregistration":{"$ref":"#/components/schemas/Accountregistration_172"}},"description":"Response details"},"AdditionalMerchantData_109":{"type":"object","properties":{"payment_facilitator_id":{"type":"integer","description":"This ID is the Company ID that will be assigned during the time of registration with Mastercard for a Service Provider as Payment Facilitator. Type: Numeric [0-9],Maximum-Length: 11.","format":"int64","example":123456},"sub_merchant_id":{"type":"string","description":"The Sub-Merchant ID must always be the merchant ID of the sub-merchant whenever a payment facilitator is involved in a transaction,Type: Alphanumeric [a-zA-Z 0-9],Maximum-Length: 15","example":"A1234D"}},"description":"Additional merchant data of recipient","xml":{"name":"additional_merchant_data"}},"AdditionalMerchantData_121":{"required":["payment_facilitator_id","sub_merchant_id"],"type":"object","properties":{"payment_facilitator_id":{"type":"integer","description":"This ID is the Company ID that will be assigned during the time of registration with Mastercard for a Service Provider as Payment Facilitator. Type: Numeric [0-9]  Length: 1-11.","format":"int32","example":123456},"sub_merchant_id":{"type":"string","description":"The Sub-Merchant ID must always be the merchant ID of the sub-merchant whenever a payment facilitator is involved in a transaction. Type: Alphanumeric [a-zA-Z 0-9], Length: 1-15.","example":"A1234"}},"description":"Additional merchant data of sender.","xml":{"name":"additional_merchant_data"}},"AdditionalMerchantData_132":{"type":"object","properties":{"payment_facilitator_id":{"type":"integer","description":"This ID is the Company ID that will be assigned during the time of registration with Mastercard for a Service Provider as Payment Facilitator. Type: Numeric [0-9], Maximum-Length: 11.","format":"int32","example":123456},"sub_merchant_id":{"type":"string","description":"The Sub-Merchant ID must always be the merchant ID of the sub-merchant whenever a payment facilitator is involved in a transaction. Type: Alphanumeric [a-zA-Z 0-9], Maximum-Length: 15.","example":"A1234"}},"description":"Additional merchant data of sender","xml":{"name":"additional_merchant_data"}},"AdditionalMerchantData_17":{"type":"object","properties":{"payment_facilitator_id":{"type":"integer","description":"This ID is the Company ID that will be assigned during the time of registration with Mastercard for a Service Provider as Payment Facilitator. Type: Numeric [0-9], Maximum-Length: 11.","format":"int64","example":123456},"sub_merchant_id":{"type":"string","description":"The Sub-Merchant ID must always be the merchant ID of the sub-merchant whenever a payment facilitator is involved in a transaction. Type: Alphanumeric [a-zA-Z 0-9], Maximum- Length: 15.","example":"A1234D"}},"description":"Additional merchant data of sender.","xml":{"name":"additional_merchant_data"}},"AdditionalMerchantData_20":{"type":"object","properties":{"payment_facilitator_id":{"type":"integer","description":"This ID is the Company ID that will be assigned during the time of registration with Mastercard for a Service Provider as Payment Facilitator. Type: Numeric [0-9], Maximum-Length: 11.","format":"int64","example":123456},"sub_merchant_id":{"type":"string","description":"The Sub-Merchant ID must always be the merchant ID of the sub-merchant whenever a payment facilitator is involved in a transaction. Type: Alphanumeric [a-zA-Z 0-9], Maximum-Length: 15.","example":"A1234D"}},"description":"Additional merchant data of recipient","xml":{"name":"additional_merchant_data"}},"AdditionalMerchantData_34":{"required":["payment_facilitator_id","sub_merchant_id"],"type":"object","properties":{"payment_facilitator_id":{"type":"integer","description":"This ID is the Company ID that will be assigned during the time of registration with Mastercard for a Service Provider as Payment Facilitator. Type: Numeric [0-9],Length: 1-11","format":"int64","example":123456},"sub_merchant_id":{"type":"string","description":"The Sub-Merchant ID must always be the merchant ID of the sub-merchant whenever a payment facilitator is involved in a transaction, Type :Alphanumeric [a-zA-Z 0-9] , Maximum- Length : 1-15","example":"A1234D"}},"description":"Additional merchant data of recipient","xml":{"name":"additional_merchant_data"}},"AdditionalMerchantData_45":{"type":"object","properties":{"payment_facilitator_id":{"type":"integer","description":"This ID is the Company ID that will be assigned during the time of registration with Mastercard for a Service Provider as Payment Facilitator. Type: Numeric [0-9],Maximum-Length: 11","format":"int64","example":123456},"sub_merchant_id":{"type":"string","description":"The Sub-Merchant ID must always be the merchant ID of the sub-merchant whenever a payment facilitator is involved in a transaction, Type :Alphanumeric [a-zA-Z 0-9] , Maximum- Length :15","example":"A1234D"}},"description":"Additonal merchant data of recipient.","xml":{"name":"additional_merchant_data"}},"AdditionalMerchantData_5":{"required":["payment_facilitator_id","sub_merchant_id"],"type":"object","properties":{"payment_facilitator_id":{"type":"integer","description":"This ID is the Company ID that will be assigned during the time of registration with Mastercard for a Service Provider as Payment Facilitator. Type: Numeric [0-9], Length:1- 11.","format":"int32","example":123456},"sub_merchant_id":{"type":"string","description":"The Sub-Merchant ID must always be the merchant ID of the sub-merchant whenever a payment facilitator is involved in a transaction. Type: Alphanumeric [a-zA-Z 0-9], Length: 1-15.","example":"A1234D"}},"description":"Additional merchant data of sender.","xml":{"name":"additional_merchant_data"}},"AdditionalMerchantData_57":{"type":"object","properties":{"payment_facilitator_id":{"type":"integer","description":"This ID is the Company ID that will be assigned during the time of registration with Mastercard for a Service Provider as Payment Facilitator.Type:Numeric [0-9], Maximum-Length: 11.","format":"int64","example":123456},"sub_merchant_id":{"type":"string","description":"The Sub-Merchant ID must always be the merchant ID of the sub-merchant whenever a payment facilitator is involved in a transaction, Type: Alphanumeric [a-zA-Z 0-9], Maximum-Length: 15","example":"A1234D"}},"description":"Additional merchant data of sender.","xml":{"name":"additional_merchant_data"}},"AdditionalMerchantData_60":{"type":"object","properties":{"payment_facilitator_id":{"type":"integer","description":"This ID is the Company ID that will be assigned during the time of registration with Mastercard for a Service Provider as Payment Facilitator.Type:Numeric [0-9], Maximum-Length: 11.","format":"int64","example":123456},"sub_merchant_id":{"type":"string","description":"The Sub-Merchant ID must always be the merchant ID of the sub-merchant whenever a payment facilitator is involved in a transaction, Type: Alphanumeric [a-zA-Z 0-9], Maximum-Length: 15","example":"A1234D"}},"description":"Additional merchant data of recipinet.","xml":{"name":"additional_merchant_data"}},"AdditionalMerchantData_74":{"type":"object","properties":{"payment_facilitator_id":{"type":"integer","description":"This ID is the Company ID that will be assigned during the time of registration with Mastercard for a Service Provider as Payment Facilitator.Type:Numeric [0-9],Maximum-Length: 11.","format":"int64","example":123456},"sub_merchant_id":{"type":"string","description":"The Sub-Merchant ID must always be the merchant ID of the sub-merchant whenever a payment facilitator is involved in a transaction, Type: Alphanumeric [a-zA-Z 0-9],Maximum-Length: 15","example":"A1234D"}},"description":"Additional merchant data of sender.","xml":{"name":"additional_merchant_data"}},"AdditionalMerchantData_77":{"type":"object","properties":{"payment_facilitator_id":{"type":"integer","description":"This ID is the Company ID that will be assigned during the time of registration with Mastercard for a Service Provider as Payment Facilitator.Type:Numeric [0-9],Maximum-Length: 11.","format":"int64","example":123456},"sub_merchant_id":{"type":"string","description":"The Sub-Merchant ID must always be the merchant ID of the sub-merchant whenever a payment facilitator is involved in a transaction, Type: Alphanumeric [a-zA-Z 0-9],Maximum-Length: 15","example":"A1234D"}},"description":"Additional merchant data of recipient.","xml":{"name":"additional_merchant_data"}},"AdditionalMerchantData_9":{"required":["payment_facilitator_id","sub_merchant_id"],"type":"object","properties":{"payment_facilitator_id":{"type":"integer","description":"This ID is the Company ID that will be assigned during the time of registration with Mastercard for a Service Provider as Payment Facilitator. Type: Numeric [0-9]  Length: 1-11.","format":"int32","example":123456},"sub_merchant_id":{"type":"string","description":"The Sub-Merchant ID must always be the merchant ID of the sub-merchant whenever a payment facilitator is involved in a transaction. Type: Alphanumeric [a-zA-Z 0-9], Length: 1-15.","example":"A1234D"}},"description":"Additional merchant data of recipient.","xml":{"name":"additional_merchant_data"}},"AdditionalMerchantData_98":{"required":["payment_facilitator_id","sub_merchant_id"],"type":"object","properties":{"payment_facilitator_id":{"type":"integer","description":"This ID is the Company ID that will be assigned during the time of registration with Mastercard for a Service Provider as Payment Facilitator.Type: Numeric [0-9], Length:1- 11.","format":"int64","example":123456},"sub_merchant_id":{"type":"string","description":"The Sub-Merchant ID must always be the merchant ID of the sub-merchant whenever a payment facilitator is involved in a transaction, Type: Alphanumeric [a-zA-Z 0-9],Length:1- 15","example":"A1234D"}},"description":"Additional merchant data of recipient.","xml":{"name":"additional_merchant_data"}},"Address_106":{"type":"object","properties":{"city":{"type":"string","description":"City of the sender. Details- 1-25","example":"Chicago"},"country":{"type":"string","description":"Country of the sender as an ISO alpha country code. Details- Alpha, Length: 3","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the sender. If the payment_transfer.sender.address.country is USA or CAN, the country subdivision is required. Details- Conditional, Alpha, 2-3","example":"IL"},"line1":{"type":"string","description":"First line of the address of the sender. Details- 1-50","example":"123 Elm St"},"line2":{"type":"string","description":"Second line of the address of the sender. Details- 1-50","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the sender. Format in 5 digits or 5 digits hyphen 4 digits.  Details numeric length: 5 or 5-4","example":"60618"}},"description":"Address of the sender.","xml":{"name":"address"}},"Address_108":{"type":"object","properties":{"city":{"type":"string","description":"City of the recipient/merchant.","example":"OFallon"},"country":{"type":"string","description":"Country of the recipient as an ISO alpha country code.","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the recipient/merchant.","example":"MO"},"line1":{"type":"string","description":"First line of the address of the recipient/merchant.","example":"1 Main St"},"line2":{"type":"string","description":"Second line of the address of the recipient/merchant.","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the recipient/merchant.","example":"63368"}},"description":"Address of the recipient/merchant.","xml":{"name":"address"}},"Address_120":{"type":"object","properties":{"city":{"type":"string","description":"Home city. Details- 1-25","example":"Chicago"},"country":{"type":"string","description":"The sender's home country as an ISO 3166-1 alpha-3 country code, in uppercase. Conditional - required if Sanction Screening validation is enabled. Details- alpha-3","example":"USA"},"country_subdivision":{"type":"string","description":"Home state or province. US or Canada country subdivision code is required. Details- 2-3","example":"MO"},"line1":{"type":"string","description":" First line of sender's home address. Details- 1-50","example":"1 Main St"},"line2":{"type":"string","description":"Second line of sender's home address. Details- 1-50","example":"Apartment 9"},"postal_code":{"type":"string","description":"Home postal code. Format in 5 digits or 5 digits hyphen 4 digits.  Details numeric length: 5 or 5-4","example":"63368"}},"description":"Sender's home address.","xml":{"name":"address"}},"Address_124":{"required":["city","country","line1","postal_code"],"type":"object","properties":{"city":{"type":"string","description":"Home city. Details- 1-25","example":"St. Louis"},"country":{"type":"string","description":"The recipient's home country as an ISO 3166-1 alpha-3 country code, in uppercase. Details- alpha-3","example":"USA"},"country_subdivision":{"type":"string","description":"Home state or province. US or Canada country subdivision code is required. Details- 2-3","example":"MO"},"line1":{"type":"string","description":"First line of recipient's home address. Details- 1-50","example":"1 Main St"},"line2":{"type":"string","description":"Second line of recipient's home address. Details- 1-50","example":"Apartment 9"},"postal_code":{"type":"string","description":"Home postal code.  Format in 5 digits or 5 digits hyphen 4 digits.  Details numeric length: 5 or 5-4","example":"63368"}},"description":"Recipient's home address.","xml":{"name":"address"}},"Address_131":{"type":"object","properties":{"city":{"type":"string","description":"City of the sender.","example":"OFallon"},"country":{"type":"string","description":"Country of the sender as an ISO alpha country code.","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the sender.","example":"MO"},"line1":{"type":"string","description":"First line of the address of the sender.","example":"1 Main St"},"line2":{"type":"string","description":"Second line of the address of the sender.","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the sender.","example":"63368"}},"description":"Address of the sender.","xml":{"name":"address"}},"Address_135":{"type":"object","properties":{"city":{"type":"string","description":"City of the recipient","example":"OFallon"},"country":{"type":"string","description":"Country of the recipient as an ISO alpha country code.","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the recipient.","example":"MO"},"line1":{"type":"string","description":"First line of the address of the recipient.","example":"1 Main St"},"line2":{"type":"string","description":"Second line of the address of the recipient.","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the recipient.","example":"63368"}},"description":" Address of the recipient.","xml":{"name":"address"}},"Address_147":{"type":"object","properties":{"city":{"type":"string","description":"City of the sender.","example":"OFallon"},"country":{"type":"string","description":"Country of the sender as an ISO alpha country code.","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the sender.","example":"MO"},"line1":{"type":"string","description":"First line of the address of the sender.","example":"1 Main St"},"line2":{"type":"string","description":"Second line of the address of the sender.","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the sender.","example":"63368"}},"description":"Address of the sender.","xml":{"name":"address"}},"Address_150":{"type":"object","properties":{"city":{"type":"string","description":"City of the recipient","example":"OFallon"},"country":{"type":"string","description":"Country of the recipient as an ISO alpha country code.","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the recipient.","example":"MO"},"line1":{"type":"string","description":"First line of the address of the recipient.","example":"1 Main St"},"line2":{"type":"string","description":"Second line of the address of the recipient.","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the recipient.","example":"63368"}},"description":" Address of the recipient.","xml":{"name":"address"}},"Address_16":{"type":"object","properties":{"city":{"type":"string","description":"City of the sender. \\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Maximum Length: 25","example":"Chicago"},"country":{"type":"string","description":"Country of the sender as an ISO alpha country code. \n\nType: Alpha [A-Z], Maximum Length: 3","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the sender. If the merchant_transfer.sender.address.country is USA or CAN, the country subdivision is required. \n\nType: Alpha [A-Z], Maximum Length: 3","example":"IL"},"line1":{"type":"string","description":"First line of the address of the sender. \\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Maximum Length: 50","example":"123 Elm St"},"line2":{"type":"string","description":"Second line of the address of the sender. \\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Maximum Length: 50","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the sender. \n\nType: Alphanumeric Special [a-zA-Z0-9- ], Maximum Length: 10","example":"60618"}},"description":"Address of the sender.","xml":{"name":"address"}},"Address_19":{"type":"object","properties":{"city":{"type":"string","description":"City of the recipient/merchant.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Maximum Length: 25","example":"OFallon"},"country":{"type":"string","description":"Country of the recipient as an ISO alpha country code. \n\nType: Alpha [A-Z], Maximum Length: 3","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the recipient/merchant. If the merchant_transfer.recipient.address.country is USA or CAN, the country subdivision code is required. \n\nType: Alpha [A-Z], Maximum Length: 3","example":"MO"},"line1":{"type":"string","description":"First line of the address of the recipient/merchant.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Maximum Length: 50","example":"1 Main St"},"line2":{"type":"string","description":"Second line of the address of the recipient/merchant.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Maximum Length: 50","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the recipient. \n\nType: Alphanumeric Special [a-zA-Z0-9- ], Maximum Length: 10","example":"63368"}},"description":"Address of the recipient/merchant.","xml":{"name":"address"}},"Address_31":{"required":["city","country"],"type":"object","properties":{"city":{"type":"string","description":"City of the sender.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-25","example":"Chicago"},"country":{"type":"string","description":"Country of the sender as an ISO alpha country code. Details- Alpha, Length: 3","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the sender. If the payment_transfer.sender.address.country is USA or CAN, the country subdivision is required. Details- Conditional, Alpha, 2-3","example":"IL"},"line1":{"type":"string","description":"First line of the address of the sender.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-50","example":"123 Elm St"},"line2":{"type":"string","description":"Second line of the address of the sender.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-50","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the sender. Format in 5 digits or 5 digits hyphen 4 digits.  Details numeric length: 5 or 5-4","example":"60618"}},"description":"Address of the sender. Optional.","xml":{"name":"address"}},"Address_33":{"required":["city","country"],"type":"object","properties":{"city":{"type":"string","description":"City of the recipient/merchant.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-25","example":"St. Louis"},"country":{"type":"string","description":"The recipient's/merchant's home country as an ISO 3166-1 alpha-3 country code, in uppercase. Details- Alpha, Length: 3","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the recipient/merchant. If the merchant_transfer.recipient.address.country is USA or CAN, the country subdivision code is required. \n\nType: Alpha [A-Z], Length 2-3","example":"MO"},"line1":{"type":"string","description":"First line of the address of the recipient/merchant.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-50","example":"435 Tucker St"},"line2":{"type":"string","description":"Second line of the address of the recipient/merchant.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-50","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the recipient/merchant. Format in 5 digits or 5 digits hyphen 4 digits.  Details numeric length: 5 or 5-4","example":"63103"}},"description":"Address of the recipient/merchant.","xml":{"name":"address"}},"Address_4":{"required":["city","country"],"type":"object","properties":{"city":{"type":"string","description":"City of the sender.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-25.","example":"Chicago"},"country":{"type":"string","description":"Country of the sender as an ISO alpha country code. \n\nType: Alpha [A-Z], Length: 3.","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the sender. If the merchant_transfer.sender.address.country is USA or CAN, the country subdivision is required. \n\nType: Alpha [A-Z], Length 2-3","example":"IL"},"line1":{"type":"string","description":"First line of the address of the sender.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-50","example":"123 Elm St"},"line2":{"type":"string","description":"Second line of the address of the sender.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-50","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the sender. \n\nType: Alphanumeric Special [a-zA-Z0-9- ], Length: 1-10","example":"60618"}},"description":"Address of the sender. Optional","xml":{"name":"address"}},"Address_42":{"type":"object","properties":{"city":{"type":"string","description":"City of the sender. Details- 1-25","example":"Chicago"},"country":{"type":"string","description":"Country of the sender as an ISO alpha country code. Details- Alpha, Length: 3","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the sender. If the payment_transfer.sender.address.country is USA or CAN, the country subdivision is required. Details- Conditional, Alpha, 2-3","example":"IL"},"line1":{"type":"string","description":"First line of the address of the sender. Details- 1-50","example":"123 Elm St"},"line2":{"type":"string","description":"Second line of the address of the sender. Details- 1-50","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the sender. Format in 5 digits or 5 digits hyphen 4 digits.  Details numeric length: 5 or 5-4","example":"60618"}},"description":"Address of the sender.","xml":{"name":"address"}},"Address_44":{"type":"object","properties":{"city":{"type":"string","description":"City of the recipient/merchant.","example":"OFallon"},"country":{"type":"string","description":"Country of the recipient as an ISO alpha country code.","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the recipient/merchant.","example":"MO"},"line1":{"type":"string","description":"First line of the address of the recipient/merchant.","example":"1 Main St"},"line2":{"type":"string","description":"Second line of the address of the recipient/merchant.","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the recipient/merchant.","example":"63368"}},"description":"Address of the recipient/merchant.","xml":{"name":"address"}},"Address_56":{"type":"object","properties":{"city":{"type":"string","description":"City of the sender. Details- 1-25","example":"Chicago"},"country":{"type":"string","description":"Country of the sender as an ISO alpha country code. Details- Alpha, Length: 3","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the sender. If the payment_transfer.sender.address.country is USA or CAN, the country subdivision is required. Details- Conditional, Alpha, 2-3","example":"IL"},"line1":{"type":"string","description":"First line of the address of the sender. Details- 1-50","example":"123 Elm St"},"line2":{"type":"string","description":"Second line of the address of the sender. Details- 1-50","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the sender. Format in 5 digits or 5 digits hyphen 4 digits.  Details numeric length: 5 or 5-4","example":"60618"}},"description":"Address of the sender.","xml":{"name":"address"}},"Address_59":{"type":"object","properties":{"city":{"type":"string","description":"City of the recipient/merchant.","example":"OFallon"},"country":{"type":"string","description":"Country of the recipient as an ISO alpha country code.","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the recipient/merchant.","example":"MO"},"line1":{"type":"string","description":"First line of the address of the recipient/merchant.","example":"1 Main St"},"line2":{"type":"string","description":"Second line of the address of the recipient/merchant.","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the recipient/merchant.","example":"63368"}},"description":"Address of the recipient/merchant.","xml":{"name":"address"}},"Address_73":{"type":"object","properties":{"city":{"type":"string","description":"City of the sender. Details- 1-25","example":"Chicago"},"country":{"type":"string","description":"Country of the sender as an ISO alpha country code. Details- Alpha, Length: 3","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the sender. If the payment_transfer.sender.address.country is USA or CAN, the country subdivision is required. Details- Conditional, Alpha, 2-3","example":"IL"},"line1":{"type":"string","description":"First line of the address of the sender. Details- 1-50","example":"123 Elm St"},"line2":{"type":"string","description":"Second line of the address of the sender. Details- 1-50","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the sender. Format in 5 digits or 5 digits hyphen 4 digits.  Details numeric length: 5 or 5-4","example":"60618"}},"description":"Address of the sender.","xml":{"name":"address"}},"Address_76":{"type":"object","properties":{"city":{"type":"string","description":"City of the recipient/merchant.","example":"OFallon"},"country":{"type":"string","description":"Country of the recipient/merchant as an ISO alpha country code.","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the recipient/merchant.","example":"MO"},"line1":{"type":"string","description":"First line of the address of the recipient/merchant.","example":"1 Main St"},"line2":{"type":"string","description":"Second line of the address of the recipient/merchant.","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the recipient/merchant.","example":"63368"}},"description":"Address of the recipient/merchant.","xml":{"name":"address"}},"Address_8":{"required":["city","country"],"type":"object","properties":{"city":{"type":"string","description":"City of the recipient/merchant.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-25","example":"St. Louis"},"country":{"type":"string","description":"The recipient''s/merchant''s home country as an ISO 3166-1 alpha-3 country code. \n\nType: Alpha [A-Z], Length: 3","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the recipient/merchant. If the merchant_transfer.recipient.address.country is USA or CAN, the country subdivision code is required. \n\nType: Alpha [A-Z], Length 2-3","example":"MO"},"line1":{"type":"string","description":"First line of the address of the recipient/merchant.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-50","example":"435 Tucker St"},"line2":{"type":"string","description":"Second line of the address of the recipient/merchant.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-50","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the receipent. \n\nType: Alphanumeric Special [a-zA-Z0-9- ], Length: 1-10","example":"63103"}},"description":"Address of the recipient/merchant.","xml":{"name":"address"}},"Address_95":{"required":["city","country"],"type":"object","properties":{"city":{"type":"string","description":"City of the sender.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-25","example":"Chicago"},"country":{"type":"string","description":"Country of the sender as an ISO alpha country code. Details- Alpha, Length: 3","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the sender. If the payment_transfer.sender.address.country is USA or CAN, the country subdivision is required. Details- Conditional, Alpha, 2-3","example":"IL"},"line1":{"type":"string","description":"First line of the address of the sender.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-50","example":"123 Elm St"},"line2":{"type":"string","description":"Second line of the address of the sender.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-50","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the sender. Format in 5 digits or 5 digits hyphen 4 digits.  Details numeric length: 5 or 5-4","example":"60618"}},"description":"Address of the sender. If this field is included then city and country field are also required.","xml":{"name":"address"}},"Address_97":{"required":["city","country"],"type":"object","properties":{"city":{"type":"string","description":"City of the recipient/merchant.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-25","example":"St. Louis"},"country":{"type":"string","description":"The recipient's/merchant's home country as an ISO 3166-1 alpha-3 country code, in uppercase. Details- Alpha, Length: 3","example":"USA"},"country_subdivision":{"type":"string","description":"State or province of the recipient/merchant. If the merchant_transfer.recipient.address.country is USA or CAN, the country subdivision code is required. \n\nType: Alpha [A-Z], Length 2-3","example":"MO"},"line1":{"type":"string","description":"First line of the address of the recipient/merchant.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-50","example":"435 Tucker St"},"line2":{"type":"string","description":"Second line of the address of the recipient/merchant.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÚÚÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], Length: 1-50","example":"Apartment 9"},"postal_code":{"type":"string","description":"Postal code of the recipient/merchant. Format in 5 digits or 5 digits hyphen 4 digits.  Details numeric length: 5 or 5-4","example":"63103"}},"description":"Address of the recipient/merchant.","xml":{"name":"address"}},"CustomField_100":{"required":["name","value"],"type":"object","properties":{"name":{"type":"string","description":"Name to be displayed in the reconciliation report. This value will appear as a header in the reconciliation reports. Name values to be defined during the onboarding process. Details- 1-40","example":"TransactionID"},"value":{"type":"string","description":"Value to be displayed in the reconciliation report. Details- 1-40","example":"456FDWBS43"}},"description":"Contains custom field names and values to appear in the reconciliation report. This can be a list of multiple name/value pairs. The names provided must match the configured in the partner setup.","xml":{"name":"custom_field"}},"CustomField_116":{"type":"object","properties":{"name":{"type":"string","description":"Name to be displayed in the reconciliation report. This value will appear as a header in the reconciliation reports. Name values to be defined during the onboarding process. Details- 1-40","example":"TransactionID"},"value":{"type":"string","description":"Value to be displayed in the reconciliation report. Details- 1-40","example":"456FDWBS43"}},"description":"Contains custom field names and values to appear in the reconciliation report. This can be a list of multiple name/value pairs. The names provided must match the configured in the partner setup.","xml":{"name":"custom_field"}},"CustomField_12":{"required":["name","value"],"type":"object","properties":{"name":{"type":"string","description":"Name to be displayed in the reconciliation report. This value will appear as a header in the reconciliation reports. Name values to be defined during the onboarding process. \\n\\nType: Alphanumeric Special [a-zA-Z0-9!\\\"#$%&'()*+,-./\\\\:;<=>?@[]_`{|}~], Length: 1-40","example":"TransactionID"},"value":{"type":"string","description":"Value to be displayed in the reconciliation report. \\n\\nType: Alphanumeric Special [a-zA-Z0-9!\\\"#$%&'()*+,-./\\\\:;<=>?@[]_`{|}~], Length: 1-40","example":"456FDWBS43"}},"description":"Contains custom field names and values to appear in the reconciliation report. This can be a list of multiple name/value pairs.","xml":{"name":"custom_field"}},"CustomField_127":{"required":["name","value"],"type":"object","properties":{"name":{"type":"string","description":"Name to be displayed in the reconciliation report for this transfer. This value will appear as a header in the column name of the report. The fields that can be used have to be defined during the onboarding process. Details- 1-40","example":"TransactionID"},"value":{"type":"string","description":"Value to be displayed in the reconciliation report for this transfer. Details- 1-40","example":"456FDWBS43"}},"description":"Contains custom field names and values to appear in the reconciliation report for this transfer. This could be a list of multiple values. These should match with the information during onboarding.","xml":{"name":"custom_field"}},"CustomField_143":{"type":"object","properties":{"name":{"type":"string","description":"Name to be displayed in the reconciliation report. This value will appear as a header in the reconciliation reports. Name values to be defined during the onboarding process. Details- 1-40","example":"TransactionID"},"value":{"type":"string","description":"Value to be displayed in the reconciliation report. Details- 1-40","example":"456FDWBS43"}},"description":"Contains custom field names and values to appear in the reconciliation report. This can be a list of multiple name/value pairs. The names provided must match the configured in the partner setup.","xml":{"name":"custom_field"}},"CustomField_158":{"type":"object","properties":{"name":{"type":"string","description":"Name to be displayed in the reconciliation report. This value will appear as a header in the reconciliation reports. Name values to be defined during the onboarding process. Details- 1-40","example":"TransactionID"},"value":{"type":"string","description":"Value to be displayed in the reconciliation report. Details- 1-40","example":"456FDWBS43"}},"description":"Contains custom field names and values to appear in the reconciliation report. This can be a list of multiple name/value pairs. The names provided must match the configured in the partner setup.","xml":{"name":"custom_field"}},"CustomField_27":{"type":"object","properties":{"name":{"type":"string","description":"Name to be displayed in the reconciliation report. This value will appear as a header in the reconciliation reports. Name values to be defined during the onboarding process.\\n\\nType: Alphanumeric Special [a-zA-Z0-9!\\\"#$%&'()*+,-./\\\\:;<=>?@[]_`{|}~], Maximum Length: 40","example":"TransactionID"},"value":{"type":"string","description":"Value to be displayed in the reconciliation report.\\n\\nType: Alphanumeric Special [a-zA-Z0-9!\\\"#$%&'()*+,-./\\\\:;<=>?@[]_`{|}~], Maximum Length: 40","example":"456FDWBS43"}},"description":"Contains custom field names and values to appear in the reconciliation report. This can be a list of multiple name/value pairs.","xml":{"name":"custom_field"}},"CustomField_36":{"required":["name","value"],"type":"object","properties":{"name":{"type":"string","description":"Name to be displayed in the reconciliation report. This value will appear as a header in the reconciliation reports. Name values to be defined during the onboarding process. Details- 1-40","example":"TransactionID"},"value":{"type":"string","description":"Value to be displayed in the reconciliation report. Details- 1-40","example":"456FDWBS43"}},"description":"Contains custom field names and values to appear in the reconciliation report. This can be a list of multiple name/value pairs. The names provided must match the configured in the partner setup.","xml":{"name":"custom_field"}},"CustomField_52":{"type":"object","properties":{"name":{"type":"string","description":"Name to be displayed in the reconciliation report. This value will appear as a header in the reconciliation reports. Name values to be defined during the onboarding process. Details- 1-40","example":"TransactionID"},"value":{"type":"string","description":"Value to be displayed in the reconciliation report. Details- 1-40","example":"456FDWBS43"}},"description":"Contains custom field names and values to appear in the reconciliation report. This can be a list of multiple name/value pairs. The names provided must match the configured in the partner setup.","xml":{"name":"custom_field"}},"CustomField_67":{"type":"object","properties":{"name":{"type":"string","description":"Name to be displayed in the reconciliation report. This value will appear as a header in the reconciliation reports. Name values to be defined during the onboarding process. Details- 1-40","example":"TransactionID"},"value":{"type":"string","description":"Value to be displayed in the reconciliation report. Details- 1-40","example":"456FDWBS43"}},"description":"Contains custom field names and values to appear in the reconciliation report. This can be a list of multiple name/value pairs. The names provided must match the configured in the partner setup.","xml":{"name":"custom_field"}},"CustomField_84":{"type":"object","properties":{"name":{"type":"string","description":"Name to be displayed in the reconciliation report. This value will appear as a header in the reconciliation reports. Name values to be defined during the onboarding process. Details- 1-40","example":"TransactionID"},"value":{"type":"string","description":"Value to be displayed in the reconciliation report. Details- 1-40","example":"456FDWBS43"}},"description":"Contains custom field names and values to appear in the reconciliation report. This can be a list of multiple name/value pairs. The names provided must match the configured in the partner setup.","xml":{"name":"custom_field"}},"Data_112":{"type":"object","properties":{"transaction":{"type":"array","description":"transaction array","items":{"$ref":"#/components/schemas/Transaction_113"}}},"description":"An array containing the Transactions in the transfer. Valid Values- Refer 'Transaction Data'","xml":{"name":"data"}},"Data_139":{"type":"object","properties":{"transaction":{"type":"array","description":"transaction array","items":{"$ref":"#/components/schemas/Transaction_140"}}},"description":"An array containing the Transactions in the transfer.","xml":{"name":"data"}},"Data_154":{"type":"object","properties":{"transaction":{"type":"array","description":"transaction array","items":{"$ref":"#/components/schemas/Transaction_155"}}},"description":"An array containing the Transactions in the transfer.","xml":{"name":"data"}},"Data_23":{"type":"object","properties":{"transaction":{"type":"array","description":"Array of transactions","items":{"$ref":"#/components/schemas/Transaction_24"}}},"description":"An array containing the Transactions in the transfer. Valid Values- Refer 'Transaction Data'","xml":{"name":"data"}},"Data_48":{"type":"object","properties":{"transaction":{"type":"array","description":"transaction array","items":{"$ref":"#/components/schemas/Transaction_49"}}},"description":"An array containing the Transactions in the transfer. Valid Values- Refer 'Transaction Data'","xml":{"name":"data"}},"Data_63":{"type":"object","properties":{"transaction":{"type":"array","description":"Array of transactions","items":{"$ref":"#/components/schemas/Transaction_64"}}},"description":"An array containing the Transactions in the transfer. Valid Values- Refer 'Transaction Data'","xml":{"name":"data"}},"Data_70":{"type":"object","properties":{"merchant_transfer":{"type":"array","description":"An array containing the Transactions in the transfer","items":{"$ref":"#/components/schemas/MerchantTransfer_71"}}},"description":"An array containing the Transactions in the transfer","xml":{"name":"data"}},"Data_80":{"type":"object","properties":{"transaction":{"type":"array","description":"Array of transactions","items":{"$ref":"#/components/schemas/Transaction_81"}}},"description":"An array containing the Transactions in the transfer. Valid Values- Refer 'Transaction Data'","xml":{"name":"data"}},"DigitalAccountReferenceNumber_88":{"type":"object","properties":{"issue_timestamp":{"type":"string","description":"Local date and time when the transaction is submitted. Details-YYYY-MM-DDTHH:MM:SS±hh[:mm]","example":"2016-09-22T13:22:11-05:30"},"pan":{"type":"string","description":"URI describing the account. It will include the account information but will not include security codes (e.g. CVC or expiration date for a card account).","example":"5234568000001230"}},"description":"Information about the digital account reference number","xml":{"name":"digital_account_reference_number"}},"DigitalAccountReferenceNumber_92":{"type":"object","properties":{"issue_timestamp":{"type":"string","description":"Date and time the Digital Account Reference Number was created. Details- YYYY-MM-DDTHH:MM:SSZ Valid Values- Refer 'Date And Time Formats'","example":"2015-03-18T14:18:55Z"},"pan":{"type":"string","description":"URI describing the account. URI scheme must be pan.Valid Values- Refer 'Account URIs'. ","example":"5234568000001230"}},"description":"Contains the details of an individual digital account reference number. ","xml":{"name":"digital_account_reference_number"}},"DigitalAccountReferenceNumbers_91":{"type":"object","properties":{"digital_account_reference_number":{"type":"array","description":"Contains the details of an individual digital account reference number. ","items":{"$ref":"#/components/schemas/DigitalAccountReferenceNumber_92"}}},"description":"Contains the list of digital account reference numbers. This can be a list of multiple pan/timestamp pairs","xml":{"name":"digital_account_reference_numbers"}},"DigitalAccount_86":{"required":["account_type","account_uri","reference"],"type":"object","properties":{"account_type":{"type":"string","description":"Account type must contain one of the following: CREDIT, DEBIT, PREPAID, DEPOSIT_ACCOUNT, MOBILE_MONEY_ACCOUNT or CASH.","example":"DEBIT"},"account_uri":{"type":"string","description":"URI describing the account. URI scheme must be rawl. Valid Values- Refer 'Account URIs'. ","example":"raw:558900009012"},"reference":{"type":"string","description":"Provide a unique reference number. It must be a unique value for the partner. Details- 6-40, Allowable characters are alphanumeric and * , - . _ ~","example":"ABC_231231233243242"}},"description":"Contains the details of the request message.","xml":{"name":"digital_account"}},"DigitalAccount_86_wrapper":{"type":"object","properties":{"digital_account":{"$ref":"#/components/schemas/DigitalAccount_86"}},"description":"Contains the details of the request message."},"DigitalAccount_87":{"type":"object","properties":{"account_type":{"type":"string","description":"Account type must contain one of the following: CREDIT, DEBIT, PREPAID, DEPOSIT_ACCOUNT, MOBILE_MONEY_ACCOUNT, CASH.","example":"DEBIT"},"account_uri":{"type":"string","description":"URI describing the account. URI scheme must be raw. Valid Values- Refer 'Account URIs'. ","example":"raw:558900009012"},"digital_account_reference_number":{"$ref":"#/components/schemas/DigitalAccountReferenceNumber_88"},"reference":{"type":"string","description":"Provide a unique transaction reference number. It must be a unique value for the partner. Details- 6-40, Allowable characters are alphanumeric and * , - . _ ~","example":"ABC_231231233243242"}},"description":"Response details for a create digital account reference number","xml":{"name":"digital_account"}},"DigitalAccount_87_wrapper":{"type":"object","properties":{"digital_account":{"$ref":"#/components/schemas/DigitalAccount_87"}},"description":"Response details for a create digital account reference number"},"DigitalAccount_89":{"required":["account_type","account_uri","reference"],"type":"object","properties":{"account_type":{"type":"string","description":"Account type must contain one of the following: CREDIT, DEBIT, PREPAID, DEPOSIT_ACCOUNT, MOBILE_MONEY_ACCOUNT or CASH.","example":"DEBIT"},"account_uri":{"type":"string","description":"URI describing the account. URI scheme must be raw. Valid Values- Refer 'Account URIs'. ","example":"raw:558900009012"},"reference":{"type":"string","description":"Provide a unique reference number. It must be a unique value for the partner. Details- 6-40, Allowable characters are alphanumeric and * , - . _ ~","example":"ABC_231231233243242"}},"description":"Contains the details of the request message.","xml":{"name":"digital_account"}},"DigitalAccount_89_wrapper":{"type":"object","properties":{"digital_account":{"$ref":"#/components/schemas/DigitalAccount_89"}},"description":"Contains the details of the request message."},"DigitalAccount_90":{"type":"object","properties":{"account_type":{"type":"string","description":"Account type must contain one of the following: CREDIT, DEBIT, PREPAID, DEPOSIT_ACCOUNT, MOBILE_MONEY_ACCOUNT or CASH.","example":"DEBIT"},"account_uri":{"type":"string","description":"URI describing the account. URI scheme must be raw. Valid Values- Refer 'Account URIs'. ","example":"raw:558900009012"},"digital_account_reference_numbers":{"$ref":"#/components/schemas/DigitalAccountReferenceNumbers_91"},"reference":{"type":"string","description":"Provide a unique reference number. It must be a unique value for the partner. Details- 6-40, Allowable characters are alphanumeric and * , - . _ ~","example":"ABC_231231233243242"}},"description":"Response details for a retrieve digital account reference number","xml":{"name":"digital_account"}},"DigitalAccount_90_wrapper":{"type":"object","properties":{"digital_account":{"$ref":"#/components/schemas/DigitalAccount_90"}},"description":"Response details for a retrieve digital account reference number"},"FundingReversal_144":{"required":["reversal_reason"],"type":"object","properties":{"reversal_reason":{"type":"string","description":"Brief description of reason for reversal. Details- alpha-numeric 1-50","example":"Payment Not Completed"}},"description":"Contains the details of the request message.","xml":{"name":"funding_reversal"}},"FundingReversal_144_wrapper":{"type":"object","properties":{"funding_reversal":{"$ref":"#/components/schemas/FundingReversal_144"}},"description":"Contains the details of the request message."},"FundingTransactionReference_38":{"required":["reference_number"],"type":"object","properties":{"network":{"type":"string","description":"Network on which funding transaction is processed required. Valid values will be provided during partner onboarding.","example":"MASTERCARD"},"reference_number":{"type":"string","description":"Provide the id from the funding transfer resource.\\n\\nType: Alphanumeric Special [a-zA-Z0-9 * , - . _ ~ ], Length: 1-19","example":"592087939"}},"description":"This section describes information used by the Mastercard and Visa networks to link a funding and payment transaction when both card accounts are Visa accounts or both accounts are Mastercard accounts.","xml":{"name":"funding_transaction_reference"}},"FundingTransfer_118":{"required":["amount","currency","recipient_account_uri","transfer_reference"],"type":"object","properties":{"additional_message":{"type":"string","description":"Additional Message. Details- alpha-numeric 1-65","example":"DEV123456"},"amount":{"type":"string","description":"Amount of the transfer in the smallest unit of currency. Decimal implied before last two positions. Example: 100 = $1.00USD Details- numeric, 1-999999999999","example":"100"},"authentication_value":{"type":"string","description":"List of name/value pairs containing authentication  values. Refer 'Authentication Value URIs'","example":"ucaf: jJJLtQa+Iws8AREAEbjsA1MAAAA"},"channel":{"type":"string","description":" Initiation channel of the payment request. This value can be defined in the onboarding process instead of passing in every call One of the WEB, MOBILE, BANK, KIOSK. Details- Conditional","example":"WEB"},"currency":{"type":"string","description":"Three-letter ISO currency code representing the currency of the transfer amount. Details- alpha, length: 3","example":"USD"},"device_id":{"type":"string","description":"The serial number of a device. Details- 1-40","example":"DEV123456"},"funding_hints":{"type":"string","description":"List of name/value pairs containing funding parameter values. Valid Values- Refer 'Funding Hints URIs'","example":"ucaf:123456789;mcaid=123344"},"interchange_rate_designator":{"type":"string","description":"Indicates the interchange rate and editing rules applied to the transaction.\n\nType:Alphanumeric [a-zA-Z 0-9], Length: 2","example":"QR"},"language_data":{"type":"string","description":"Language Data Details- binary 1-65"},"language_identification":{"type":"string","description":"Language Identification. Details- alpha - 3"},"location":{"type":"string","description":"Location where the transaction is initiated from. Details- 1-40. Valid Values- Refer 'Location URIs'","example":"state:MO"},"participation_id":{"type":"string","description":"Participation Id. An identifier agreed by both the issuing institution and the merchant. Details- alpha-numeric 1-30","example":"TERMINAL34728"},"payment_type":{"type":"string","description":"Payment type used for transfer. Value - P2M: Person to Merchant. \n\nType: Alphanumeric [A-Z0-9], Length: 3","example":"P2M"},"recipient":{"$ref":"#/components/schemas/Recipient_123"},"recipient_account_uri":{"type":"string","description":"URI identifying receiver's account to receive the transfer. Valid Values- Refer 'Account URIs'","example":"acct-ref:ABCD123456789"},"reconciliation_data":{"$ref":"#/components/schemas/ReconciliationData_126"},"sanction_screening_override":{"type":"boolean","description":"Override indicator if partner has opted into Sanction Screening validation as part of transaction processing.  If Sanction Screening score on either sender or receiver is equal to or above threshold configured for partner, the payment will error.  To bypass the Sanction Screening validation and process the payment the value 'true' should be submitted.  Details:  Optional – If partner has not enabled Sanction Screening validation default is 'true'.   Required - If partner has opted into Sanction Screening validation but wants to bypass Sanction Screening validation and process the payment, value should be 'true'. ","example":true},"sender":{"$ref":"#/components/schemas/Sender_119"},"sender_account_uri":{"type":"string","description":"URI identifying sender's account to fund the transfer. Only a pan based account is valid. Valid Values- Refer 'Account URIs' Details- Conditional","example":"consumer-ref:SNDR123456789"},"statement_descriptor":{"type":"string","description":"The statement descriptor is a string which will be displayed on the recipient's bank or card statement. It consists of one or two parts: the prefix and the content. The prefix is an optional short string typically used to identify the client/merchant. It is defined during client/merchant onboarding and the same value should be used. If not provided in the API call, system will use the value defined in the onboarding process. The content portion of the statement descriptor will be displayed on the recipient's statement. If both the prefix and content portions are defined, they both are appended &lt;prefix&gt;+&lt;content&gt; The overall length may be at most 22 characters, including the prefix (even if not provided in the API call) and the content. Note: While most financial institutions display this information consistently, some may display it incorrectly or not at all. Details- Conditional, 22","example":"TST*THANKYOU"},"token_cryptogram":{"$ref":"#/components/schemas/TokenCryptogram_128"},"transfer_reference":{"type":"string","description":"Unique transaction reference number. It must be unique within the partner's domain. Allowable characters are alphanumeric and * , - . _ ~. Details- 6-40","example":"DEF123456"}},"description":"Contains the details of the request message.","xml":{"name":"funding_transfer"}},"FundingTransfer_118_wrapper":{"type":"object","properties":{"funding_transfer":{"$ref":"#/components/schemas/FundingTransfer_118"}},"description":"Contains the details of the request message."},"GovernmentIds_122":{"type":"object","properties":{"government_id_uri":{"type":"array","description":"URI describing the government id. [see Government ID URIs]","items":{"type":"string"}}},"description":"Government id’s may be required in certain markets like LAC region and also by certain Networks. The partner must provide where applicable else there is a potential for the transaction to be rejected.\n","xml":{"name":"government_ids"}},"GovernmentIds_125":{"type":"object","properties":{"government_id_uri":{"type":"array","description":"URI describing the government id. [see Government ID URIs]","items":{"type":"string"}}},"description":"Government id’s may be required in certain markets. The partner must provide where applicable.","xml":{"name":"government_ids"}},"GovernmentIds_133":{"type":"object","properties":{"government_id_uri":{"type":"array","description":"URI describing the sender government id. See 'Government ID URIs'.","items":{"type":"string"}}},"description":"Sender Government ID.","xml":{"name":"government_ids"}},"GovernmentIds_136":{"type":"object","properties":{"government_id_uri":{"type":"array","description":"URI describing the recipient government id. See 'Government ID URIs'.","items":{"type":"string"}}},"description":"Recipient Government ID.","xml":{"name":"government_ids"}},"GovernmentIds_148":{"type":"object","properties":{"government_id_uri":{"type":"array","description":"URI describing the sender government id. See 'Government ID URIs'.","items":{"type":"string"}}},"description":"Sender Government ID.","xml":{"name":"government_ids"}},"GovernmentIds_151":{"type":"object","properties":{"government_id_uri":{"type":"array","description":"URI describing the recipient government id. See 'Government ID URIs'.","items":{"type":"string"}}},"description":"Recipient Government ID.","xml":{"name":"government_ids"}},"MerchantPaymentTransfer_29":{"required":["amount","currency","funding_source","payment_type","recipient","recipient_account_uri","sender_account_uri","transaction_local_date_time","transfer_reference"],"type":"object","properties":{"additional_message":{"type":"string","description":"Message a financial institution will associate to the transfer and may display. \\n\\nType: Alphanumeric Special [a-zA-Z0-9!\\\"#$%&'()*+,-./\\\\:;<=>?@[]_`{|}~], Length: 1-65","example":"DEV123456"},"amount":{"type":"string","description":"Amount of the transfer. The decimal point is implied based on the payment transfer currency. Details- 1-999999999999","example":"5300"},"authentication_value":{"type":"string","description":"List of name/value pairs containing authentication  values. Refer 'Authentication Value URIs'","example":"ucaf: jJJLtQa+Iws8AREAEbjsA1MAAAA"},"channel":{"type":"string","description":"Initiation channel of the transfer request. This value can be defined in the onboarding process instead of passing in every call. Values: WEB, MOBILE, BANK, KIOSK. Details- Conditional","example":"WEB"},"convenience_amount":{"type":"string","description":"Tip or convenience amount in transaction currency. Length:1-12 numeric. If present, then convenience_indicator is also required.","example":"11"},"convenience_indicator":{"type":"string","description":"Convenience fee type code. Min length: 2. Max Length: 2. Valid values are 01,02 or 03. 01:Indicates consumer should be prompted to enter tip. 02:Indicates the merchant would mandatorily charge a flat convenience fee. 03:Indicates that merchant would charge a percentage convenience fee. Required if convenience_amount is provided.","example":"02"},"currency":{"type":"string","description":"Currency of the transfer amount as an ISO alpha currency code. Details- Alpha, Length: 3","example":"USD"},"device_id":{"type":"string","description":"The serial number of a device initiating the transfer. Details- 1-40","example":"DEV123456"},"digital_account_reference_number":{"type":"string","description":"URI to identify the digital account reference number. URI scheme must be pan. Valid Values- Refer 'Account URIs'.","example":"pan:5234568000001234"},"funding_source":{"type":"string","description":"Funding source must contain one of the following: CREDIT, DEBIT, PREPAID, DEPOSIT_ACCOUNT, MOBILE_MONEY_ACCOUNT, CASH. In the Asia/Pacific region, funding sources are limited to Mastercard cards. In Subfield 1 values 04, 05, 06, and 07 are not applicable.","example":"DEBIT"},"funding_transaction_reference":{"$ref":"#/components/schemas/FundingTransactionReference_38"},"interchange_rate_designator":{"type":"string","description":"Indicates the interchange rate and editing rules applied to the transaction.\n\nType:Alphanumeric [a-zA-Z 0-9], Length: 2","example":"QR"},"location":{"type":"string","description":"Location where the transaction is initiated. Valid Values- Refer 'Location URIs'.","example":"state:MO"},"mastercard_assigned_id":{"type":"string","description":"Mastercard Assigned ID for tiered interchange calculations. \\n\\nType: Numeric [0-9], Length: 6","example":"111111"},"participant":{"$ref":"#/components/schemas/Participant_37"},"participation_id":{"type":"string","description":"Participation identifier of the sender. The receiving financial institution will associate the value to the transfer. Details- 1-30","example":"TERMINAL34728"},"payment_origination_country":{"type":"string","description":"The country where the payment originates from as an ISO 3166-1 alpha-3 country code, in uppercase. Details - Conditional. If provided, this should match a valid country configured for the partner during onboarding. If the partner is configured for multiple origination countries this field is required and must be provided. Alpha, length: 3","example":"USA"},"payment_type":{"type":"string","description":"P2M: Person to Merchant","example":"P2M"},"processor_id":{"type":"string","description":"The processor ID is a ten-digit number of the form: 9000xxxxxx, where the Single Message System-assigned processor ID will be up to the last six digits xxxxxx. If the partner is enrolled in multiple processorId numbers, the processorId number must be specified. If the partner is only enrolled in a single processorId number then system takes the onboarded value. Please contact your MasterCard Representative to enable the usage of fields in this section. Details- Numeric, 10","example":"2147483647"},"qr_data":{"type":"string","description":"Contains QR data. For future use. Details- alpha numeric special characters 1-237.","example":"Q1Q2Q3"},"recipient":{"$ref":"#/components/schemas/Recipient_32"},"recipient_account_uri":{"type":"string","description":"URI to identify the account of the recipient/merchant. When PAN is the URI then recipient/merchant information is required. Pan, Manual Entry Alias and Alias are valid schemas. Valid Values- Refer 'Account URIs'","example":"pan:5125589999999905"},"reconciliation_data":{"$ref":"#/components/schemas/ReconciliationData_35"},"routing_transit_number":{"type":"string","description":"The nine-digit Federal Reserve Routing and Transit (R & T) number of the acquiring institution or the nine-digit pseudo-number assigned to the acquiring institution by Mastercard. If the partner is enrolled in multiple routing transit numbers, the routing transit number must be specified. If the partner is only enrolled in a single routing transit number then system takes the onboarded value. Please contact your MasterCard Representative to enable the usage of fields in this section. Details- Numeric, 9","example":"965730000"},"sender":{"$ref":"#/components/schemas/Sender_30"},"sender_account_uri":{"type":"string","description":"URI to identify the account information of the sender. When PAN is the URI then sender information is required. If scheme chosen is raw, then funding_source must be other than CREDIT, DEBIT or PREPAID. Valid Values- Refer 'Account URIs'","example":"pan:5299926000000542"},"token_cryptogram":{"$ref":"#/components/schemas/TokenCryptogram_39"},"transaction_local_date_time":{"type":"string","description":"Local date and time when the transaction is submitted. Details-YYYY-MM-DDTHH:MM:SS±hh[:mm] ","example":"2016-09-22T13:22:11-05:30"},"transfer_reference":{"type":"string","description":"Provide a unique transaction reference number. It must be a unique value for the partner. Details- 6-40, Allowable characters are alphanumeric and * , - . _ ~","example":"PAYMENT123456"}},"description":"Contains the details of the request message.","xml":{"name":"merchant_payment_transfer"}},"MerchantPaymentTransfer_29_wrapper":{"type":"object","properties":{"merchant_payment_transfer":{"$ref":"#/components/schemas/MerchantPaymentTransfer_29"}},"description":"Contains the details of the request message."},"MerchantRefundTransfer_93":{"required":["amount","currency","funding_source","payment_type","sender_account_uri","transaction_local_date_time","transfer_reference"],"type":"object","properties":{"additional_message":{"type":"string","description":"Message a financial institution will associate to the transfer and may display. \\n\\nType: Alphanumeric Special [a-zA-Z0-9!\\\"#$%&'()*+,-./\\\\:;<=>?@[]_`{|}~], Length: 1-65","example":"DEV123456"},"amount":{"type":"string","description":"Amount of the transfer. The decimal point is implied based on the payment transfer currency. Details- 1-999999999999","example":"5300"},"authentication_value":{"type":"string","description":"List of name/value pairs containing authentication  values. Refer 'Authentication Value URIs'","example":"ucaf: jJJLtQa+Iws8AREAEbjsA1MAAAA"},"channel":{"type":"string","description":"Initiation channel of the transfer request. This value can be defined in the onboarding process instead of passing in every call. Values: WEB, MOBILE, BANK, KIOSK. Details- Conditional","example":"WEB"},"currency":{"type":"string","description":"Currency of the transfer amount as an ISO alpha currency code. Details- Alpha, Length: 3","example":"USD"},"device_id":{"type":"string","description":"The serial number of a device initiating the transfer. Details- 1-40","example":"DEV123456"},"digital_account_reference_number":{"type":"string","description":"URI to identify the digital account reference number. URI scheme must be pan. If merchant_refund_transfer.sender_account_uri does not start with PAN, the Digital Account Reference Number is required. Valid Values- Refer 'Account URIs'.","example":"pan:5234568000001234"},"funding_source":{"type":"string","description":"Funding source must contain one of the following: CREDIT, DEBIT, PREPAID, DEPOSIT_ACCOUNT, MOBILE_MONEY_ACCOUNT, CASH. In the Asia/Pacific region, funding sources are limited to Mastercard cards. In Subfield 1 values 04, 05, 06, and 07 are not applicable.","example":"DEBIT"},"interchange_rate_designator":{"type":"string","description":"Indicates the interchange rate and editing rules applied to the transaction.\n\nType:Alphanumeric [a-zA-Z 0-9], Length: 2","example":"QR"},"location":{"type":"string","description":"Location where the transaction is initiated. Valid Values- Refer 'Location URIs'.","example":"state:MO"},"mastercard_assigned_id":{"type":"string","description":"Mastercard Assigned ID for tiered interchange calculations. This field can be provided when available if transfer.payment_type is P2M. Type: Numeric [0-9], Maximum Length: 6","example":"111111"},"participant":{"$ref":"#/components/schemas/Participant_101"},"participation_id":{"type":"string","description":"Participation identifier of the sender. The receiving financial institution will associate the value to the transfer. Details- 1-30","example":"TERMINAL34728"},"payment_origination_country":{"type":"string","description":"The country where the payment originates from as an ISO 3166-1 alpha-3 country code, in uppercase. Details - Conditional. If provided, this should match a valid country configured for the partner during onboarding. If the partner is configured for multiple origination countries this field is required and must be provided. Alpha, length: 3","example":"USA"},"payment_transaction_reference":{"$ref":"#/components/schemas/PaymentTransactionReference_102"},"payment_type":{"type":"string","description":"MRF: Merchant Refund","example":"MRF"},"processor_id":{"type":"string","description":"The processor ID is a ten-digit number of the form: 9000xxxxxx, where the Single Message System-assigned processor ID will be up to the last six digits xxxxxx. If the partner is enrolled in multiple processorId numbers, the processorId number must be specified. If the partner is only enrolled in a single processorId number then system takes the onboarded value. Please contact your MasterCard Representative to enable the usage of fields in this section. Details- Numeric, 10","example":"2147483647"},"recipient":{"$ref":"#/components/schemas/Recipient_96"},"reconciliation_data":{"$ref":"#/components/schemas/ReconciliationData_99"},"routing_transit_number":{"type":"string","description":"The nine-digit Federal Reserve Routing and Transit (R & T) number of the acquiring institution or the nine-digit pseudo-number assigned to the acquiring institution by Mastercard. If the partner is enrolled in multiple routing transit numbers, the routing transit number must be specified. If the partner is only enrolled in a single routing transit number then system takes the onboarded value. Please contact your MasterCard Representative to enable the usage of fields in this section. Details- Numeric, 9","example":"965730000"},"sender":{"$ref":"#/components/schemas/Sender_94"},"sender_account_uri":{"type":"string","description":"URI to identify the account information of the sender. When PAN is the URI then sender information is required. If scheme chosen is raw, then funding_source must be other than CREDIT, DEBIT or PREPAID. Valid Values- Refer 'Account URIs'","example":"pan:5299926000000542"},"token_cryptogram":{"$ref":"#/components/schemas/TokenCryptogram_103"},"transaction_local_date_time":{"type":"string","description":"Local date and time when the transaction is submitted. Details-YYYY-MM-DDTHH:MM:SS±hh[:mm] ","example":"2016-09-22T13:22:11-05:30"},"transfer_reference":{"type":"string","description":"Provide a unique transaction reference number. It must be a unique value for the partner. Details- 6-40, Allowable characters are alphanumeric and * , - . _ ~","example":"PAYMENT123456"}},"description":"Contains the details of the request message.","xml":{"name":"merchant_refund_transfer"}},"MerchantRefundTransfer_93_wrapper":{"type":"object","properties":{"merchant_refund_transfer":{"$ref":"#/components/schemas/MerchantRefundTransfer_93"}},"description":"Contains the details of the request message."},"MerchantTransfer_1":{"required":["participant","payment_type","recipient","recipient_account_uri","sender","sender_account_uri","transaction_local_date_time","transfer_amount","transfer_reference"],"type":"object","properties":{"additional_message":{"type":"string","description":"Message a financial institution will associate to the transfer and may display. \\n\\nType: Alphanumeric Special [a-zA-Z0-9!\\\"#$%&'()*+,-./\\\\:;<=>?@[]_`{|}~], Length: 1-65","example":"DEV123456"},"convenience_amount":{"type":"string","description":"Amount of the convenience fee. The decimal point is implied based on the transaction_amount.currency. \"[0-9]*\". Max Length: 12. Value must be less than payment_transfer.amount.","example":"10"},"convenience_indicator":{"type":"string","description":"Convenience fee type code. Min length: 2. Max Length: 2. Valid values  (01: Indicates Consumer should be prompted to enter tip 02: Indicates that merchant would mandatorily charge a flat convenience fee 03: Indicates that merchant would charge a percentage convenience fee)","example":"01"},"digital_account_reference_number":{"type":"string","description":"URI to identify the digital account reference number. URI scheme must be pan. Valid Values- Refer 'Account URIs'. ","example":"pan:5234568000001234"},"interchange_rate_designator":{"type":"string","description":"Indicates the interchange rate and editing rules applied to the transaction. Field is applicable for Europe OIs only.\n\nType:Alphanumeric [a-zA-Z 0-9], Length: 2","example":"QR"},"mastercard_assigned_id":{"type":"string","description":"Mastercard Assigned ID for tiered interchange calculations. \n\nType: Numeric [0-9], Length: 6","example":"111111"},"participant":{"$ref":"#/components/schemas/Participant_13"},"participation_id":{"type":"string","description":"Participation identifier of the sender. The receiving financial institution will associate the value to the transfer. \\n\\nType: Alphanumeric Special [a-zA-Z0-9!\\\"#$%&'()*+,-./\\\\:;<=>?@[]_`{|}~], Length: 1-30","example":"TERMINAL34763"},"payment_origination_country":{"type":"string","description":"Country where the payment originated from as an ISO 3166-1 alpha-3 country code. \n\nType: Alpha [A-Z], Length: 3","example":"USA"},"payment_type":{"type":"string","description":"Payment type used for transfer. Value - P2M: Person to Merchant. \n\nType: Alphanumeric [A-Z0-9], Length: 3","example":"P2M"},"processor_id":{"type":"string","description":"The processor ID is a ten-digit number of the form: 9000xxxxxx, where the Single Message System-assigned processor ID will be up to the last six digits xxxxxx. Partner must provide this value only if the program they are enabling requires it. For all other implementations this value must not be provided. \n\nType: Numeric [0-9], Length: 10","example":"2147483647"},"qr_data":{"type":"string","description":"Encoded QR (Quick Response) code data. Type: Alphanumeric and special characters [a-zA-Z0-9!\"#$%&'()*+,-./\\:;<=>?@[]_`{|}~], Maximum Length: 237","example":"001006XX123400201012353611110030073041233004008LYL44354005009EEB"},"recipient":{"$ref":"#/components/schemas/Recipient_7"},"recipient_account_uri":{"type":"string","description":"URI to identify the account of the recipient/merchant. Pan, Manual Entry Alias and Alias are valid schemas. Refer 'Account URIs'","example":"pan:5125589999999905;exp=2019-08"},"reconciliation_data":{"$ref":"#/components/schemas/ReconciliationData_11"},"routing_transit_number":{"type":"string","description":"The nine-digit Federal Reserve Routing and Transit (R & T) number of the acquiring institution or the nine-digit pseudo-number assigned to the acquiring institution by Mastercard. Partner must provide thi
[...]
