{"openapi":"3.0.1","info":{"title":"PrivateDnsManagementClient","description":"The Private DNS Management Client.","version":"2018-09-01"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Network/privateDnsZones":{"get":{"tags":["PrivateZones"],"description":"Lists the Private DNS zones in all resource groups in a subscription.","operationId":"PrivateZones_List","parameters":[{"name":"$top","in":"query","description":"The maximum number of Private DNS zones to return. If not specified, returns up to 100 zones.","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateZoneListResult"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones":{"get":{"tags":["PrivateZones"],"description":"Lists the Private DNS zones within a resource group.","operationId":"PrivateZones_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"$top","in":"query","description":"The maximum number of record sets to return. If not specified, returns up to 100 record sets.","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateZoneListResult"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}":{"get":{"tags":["PrivateZones"],"description":"Gets a Private DNS zone. Retrieves the zone properties, but not the virtual networks links or the record sets within the zone.","operationId":"PrivateZones_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"privateZoneName","in":"path","description":"The name of the Private DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateZone"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["PrivateZones"],"description":"Creates or updates a Private DNS zone. Does not modify Links to virtual networks or DNS records within the zone.","operationId":"PrivateZones_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"privateZoneName","in":"path","description":"The name of the Private DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"The ETag of the Private DNS zone. Omit this value to always overwrite the current zone. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.","schema":{"type":"string"}},{"name":"If-None-Match","in":"header","description":"Set to '*' to allow a new Private DNS zone to be created, but to prevent updating an existing zone. Other values will be ignored.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the CreateOrUpdate operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateZone"}}},"required":true},"responses":{"200":{"description":"The Private DNS zone has been updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateZone"}}}},"201":{"description":"The Private DNS zone has been created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateZone"}}}},"202":{"description":"The Private DNS zone upsert operation has been accepted and will complete asynchronously."},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["PrivateZones"],"description":"Deletes a Private DNS zone. WARNING: All DNS records in the zone will also be deleted. This operation cannot be undone. Private DNS zone cannot be deleted unless all virtual network links to it are removed.","operationId":"PrivateZones_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"privateZoneName","in":"path","description":"The name of the Private DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"The ETag of the Private DNS zone. Omit this value to always delete the current zone. Specify the last-seen ETag value to prevent accidentally deleting any concurrent changes.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Private DNS zone has been deleted."},"202":{"description":"The Private DNS zone delete operation has been accepted and will complete asynchronously."},"204":{"description":"The Private DNS zone was not found."},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["PrivateZones"],"description":"Updates a Private DNS zone. Does not modify virtual network links or DNS records within the zone.","operationId":"PrivateZones_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"privateZoneName","in":"path","description":"The name of the Private DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"The ETag of the Private DNS zone. Omit this value to always overwrite the current zone. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the Update operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateZone"}}},"required":true},"responses":{"200":{"description":"The Private DNS zone has been updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateZone"}}}},"202":{"description":"The Private DNS zone update operation has been accepted and will complete asynchronously."},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/ALL":{"get":{"tags":["RecordSets"],"description":"Lists all record sets in a Private DNS zone.","operationId":"RecordSets_List","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"privateZoneName","in":"path","description":"The name of the Private DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"$top","in":"query","description":"The maximum number of record sets to return. If not specified, returns up to 100 record sets.","schema":{"type":"integer","format":"int32"}},{"name":"$recordsetnamesuffix","in":"query","description":"The suffix label of the record set name to be used to filter the record set enumeration. If this parameter is specified, the returned enumeration will only contain records that end with \".<recordsetnamesuffix>\".","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSetListResult"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/virtualNetworkLinks":{"get":{"tags":["VirtualNetworkLinks"],"description":"Lists the virtual network links to the specified Private DNS zone.","operationId":"VirtualNetworkLinks_List","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"privateZoneName","in":"path","description":"The name of the Private DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"$top","in":"query","description":"The maximum number of virtual network links to return. If not specified, returns up to 100 virtual network links.","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualNetworkLinkListResult"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/virtualNetworkLinks/{virtualNetworkLinkName}":{"get":{"tags":["VirtualNetworkLinks"],"description":"Gets a virtual network link to the specified Private DNS zone.","operationId":"VirtualNetworkLinks_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"privateZoneName","in":"path","description":"The name of the Private DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"virtualNetworkLinkName","in":"path","description":"The name of the virtual network link.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualNetworkLink"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["VirtualNetworkLinks"],"description":"Creates or updates a virtual network link to the specified Private DNS zone.","operationId":"VirtualNetworkLinks_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"privateZoneName","in":"path","description":"The name of the Private DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"virtualNetworkLinkName","in":"path","description":"The name of the virtual network link.","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"The ETag of the virtual network link to the Private DNS zone. Omit this value to always overwrite the current virtual network link. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.","schema":{"type":"string"}},{"name":"If-None-Match","in":"header","description":"Set to '*' to allow a new virtual network link to the Private DNS zone to be created, but to prevent updating an existing link. Other values will be ignored.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the CreateOrUpdate operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualNetworkLink"}}},"required":true},"responses":{"200":{"description":"The virtual network link to the Private DNS zone has been updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualNetworkLink"}}}},"201":{"description":"The virtual network link to the Private DNS zone has been created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualNetworkLink"}}}},"202":{"description":"The operation to upsert virtual network link to the Private DNS zone has been accepted and will complete asynchronously."},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["VirtualNetworkLinks"],"description":"Deletes a virtual network link to the specified Private DNS zone. WARNING: In case of a registration virtual network, all auto-registered DNS records in the zone for the virtual network will also be deleted. This operation cannot be undone.","operationId":"VirtualNetworkLinks_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"privateZoneName","in":"path","description":"The name of the Private DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"virtualNetworkLinkName","in":"path","description":"The name of the virtual network link.","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"The ETag of the virtual network link to the Private DNS zone. Omit this value to always delete the current zone. Specify the last-seen ETag value to prevent accidentally deleting any concurrent changes.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The virtual network link to the Private DNS zone has been deleted."},"202":{"description":"The operation to delete virtual network link to the Private DNS zone has been accepted and will complete asynchronously."},"204":{"description":"The virtual network link to the Private DNS zone was not found."},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["VirtualNetworkLinks"],"description":"Updates a virtual network link to the specified Private DNS zone.","operationId":"VirtualNetworkLinks_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"privateZoneName","in":"path","description":"The name of the Private DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"virtualNetworkLinkName","in":"path","description":"The name of the virtual network link.","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"The ETag of the virtual network link to the Private DNS zone. Omit this value to always overwrite the current virtual network link. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the Update operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualNetworkLink"}}},"required":true},"responses":{"200":{"description":"The virtual network link to the Private DNS zone has been updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualNetworkLink"}}}},"202":{"description":"The operation to link virtual network link to Private DNS zone has been accepted and will complete asynchronously."},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/{recordType}":{"get":{"tags":["RecordSets"],"description":"Lists the record sets of a specified type in a Private DNS zone.","operationId":"RecordSets_ListByType","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"privateZoneName","in":"path","description":"The name of the Private DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"recordType","in":"path","description":"The type of record sets to enumerate.","required":true,"schema":{"type":"string","enum":["A","AAAA","CNAME","MX","PTR","SOA","SRV","TXT"]}},{"name":"$top","in":"query","description":"The maximum number of record sets to return. If not specified, returns up to 100 record sets.","schema":{"type":"integer","format":"int32"}},{"name":"$recordsetnamesuffix","in":"query","description":"The suffix label of the record set name to be used to filter the record set enumeration. If this parameter is specified, the returned enumeration will only contain records that end with \".<recordsetnamesuffix>\".","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSetListResult"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/{recordType}/{relativeRecordSetName}":{"get":{"tags":["RecordSets"],"description":"Gets a record set.","operationId":"RecordSets_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"privateZoneName","in":"path","description":"The name of the Private DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"recordType","in":"path","description":"The type of DNS record in this record set.","required":true,"schema":{"type":"string","enum":["A","AAAA","CNAME","MX","PTR","SOA","SRV","TXT"]}},{"name":"relativeRecordSetName","in":"path","description":"The name of the record set, relative to the name of the zone.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSet"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["RecordSets"],"description":"Creates or updates a record set within a Private DNS zone.","operationId":"RecordSets_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"privateZoneName","in":"path","description":"The name of the Private DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"recordType","in":"path","description":"The type of DNS record in this record set. Record sets of type SOA can be updated but not created (they are created when the Private DNS zone is created).","required":true,"schema":{"type":"string","enum":["A","AAAA","CNAME","MX","PTR","SOA","SRV","TXT"]}},{"name":"relativeRecordSetName","in":"path","description":"The name of the record set, relative to the name of the zone.","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"The ETag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.","schema":{"type":"string"}},{"name":"If-None-Match","in":"header","description":"Set to '*' to allow a new record set to be created, but to prevent updating an existing record set. Other values will be ignored.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the CreateOrUpdate operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSet"}}},"required":true},"responses":{"200":{"description":"The record set has been updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSet"}}}},"201":{"description":"The record set has been created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSet"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["RecordSets"],"description":"Deletes a record set from a Private DNS zone. This operation cannot be undone.","operationId":"RecordSets_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"privateZoneName","in":"path","description":"The name of the Private DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"recordType","in":"path","description":"The type of DNS record in this record set. Record sets of type SOA cannot be deleted (they are deleted when the Private DNS zone is deleted).","required":true,"schema":{"type":"string","enum":["A","AAAA","CNAME","MX","PTR","SOA","SRV","TXT"]}},{"name":"relativeRecordSetName","in":"path","description":"The name of the record set, relative to the name of the zone.","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"The ETag of the record set. Omit this value to always delete the current record set. Specify the last-seen ETag value to prevent accidentally deleting any concurrent changes.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The record set has been deleted."},"204":{"description":"The record set was not found."},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["RecordSets"],"description":"Updates a record set within a Private DNS zone.","operationId":"RecordSets_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"privateZoneName","in":"path","description":"The name of the Private DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"recordType","in":"path","description":"The type of DNS record in this record set.","required":true,"schema":{"type":"string","enum":["A","AAAA","CNAME","MX","PTR","SOA","SRV","TXT"]}},{"name":"relativeRecordSetName","in":"path","description":"The name of the record set, relative to the name of the zone.","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"The ETag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the Update operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSet"}}},"required":true},"responses":{"200":{"description":"The record set has been updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSet"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"ARecord":{"type":"object","properties":{"ipv4Address":{"type":"string","description":"The IPv4 address of this A record."}},"description":"An A record."},"AaaaRecord":{"type":"object","properties":{"ipv6Address":{"type":"string","description":"The IPv6 address of this AAAA record."}},"description":"An AAAA record."},"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"An error message"},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"The error code"},"details":{"type":"array","description":"Extra error information","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"A description of what caused the error"},"target":{"type":"string","description":"The target resource of the error message"}},"description":"The body of an error message"},"CnameRecord":{"type":"object","properties":{"cname":{"type":"string","description":"The canonical name for this CNAME record."}},"description":"A CNAME record."},"MxRecord":{"type":"object","properties":{"exchange":{"type":"string","description":"The domain name of the mail host for this MX record."},"preference":{"type":"integer","description":"The preference value for this MX record.","format":"int32"}},"description":"An MX record."},"PrivateZone":{"properties":{"etag":{"type":"string","description":"The ETag of the zone."},"properties":{"$ref":"#/components/schemas/PrivateZoneProperties"}},"description":"Describes a Private DNS zone.","allOf":[{"$ref":"#/components/schemas/TrackedResource"}]},"PrivateZoneListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The continuation token for the next page of results.","readOnly":true},"value":{"type":"array","description":"Information about the Private DNS zones.","items":{"$ref":"#/components/schemas/PrivateZone"}}},"description":"The response to a Private DNS zone list operation."},"PrivateZoneProperties":{"type":"object","properties":{"maxNumberOfRecordSets":{"type":"integer","description":"The maximum number of record sets that can be created in this Private DNS zone. This is a read-only property and any attempt to set this value will be ignored.","format":"int64","readOnly":true},"maxNumberOfVirtualNetworkLinks":{"type":"integer","description":"The maximum number of virtual networks that can be linked to this Private DNS zone. This is a read-only property and any attempt to set this value will be ignored.","format":"int64","readOnly":true},"maxNumberOfVirtualNetworkLinksWithRegistration":{"type":"integer","description":"The maximum number of virtual networks that can be linked to this Private DNS zone with registration enabled. This is a read-only property and any attempt to set this value will be ignored.","format":"int64","readOnly":true},"numberOfRecordSets":{"type":"integer","description":"The current number of record sets in this Private DNS zone. This is a read-only property and any attempt to set this value will be ignored.","format":"int64","readOnly":true},"numberOfVirtualNetworkLinks":{"type":"integer","description":"The current number of virtual networks that are linked to this Private DNS zone. This is a read-only property and any attempt to set this value will be ignored.","format":"int64","readOnly":true},"numberOfVirtualNetworkLinksWithRegistration":{"type":"integer","description":"The current number of virtual networks that are linked to this Private DNS zone with registration enabled. This is a read-only property and any attempt to set this value will be ignored.","format":"int64","readOnly":true},"provisioningState":{"type":"string","description":"The provisioning state of the resource. This is a read-only property and any attempt to set this value will be ignored.","readOnly":true,"enum":["Creating","Updating","Deleting","Succeeded","Failed","Canceled"]}},"description":"Represents the properties of the Private DNS zone."},"ProxyResource":{"description":"The resource model definition for an ARM proxy resource.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"PtrRecord":{"type":"object","properties":{"ptrdname":{"type":"string","description":"The PTR target domain name for this PTR record."}},"description":"A PTR record."},"RecordSet":{"properties":{"etag":{"type":"string","description":"The ETag of the record set."},"id":{"type":"string","description":"The ID of the record set.","readOnly":true},"name":{"type":"string","description":"The name of the record set.","readOnly":true},"properties":{"$ref":"#/components/schemas/RecordSetProperties"},"type":{"type":"string","description":"The type of the record set.","readOnly":true}},"description":"Describes a DNS record set (a collection of DNS records with the same name and type) in a Private DNS zone.","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"RecordSetListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The continuation token for the next page of results.","readOnly":true},"value":{"type":"array","description":"Information about the record sets in the response.","items":{"$ref":"#/components/schemas/RecordSet"}}},"description":"The response to a record set list operation."},"RecordSetProperties":{"type":"object","properties":{"aRecords":{"type":"array","description":"The list of A records in the record set.","items":{"$ref":"#/components/schemas/ARecord"}},"aaaaRecords":{"type":"array","description":"The list of AAAA records in the record set.","items":{"$ref":"#/components/schemas/AaaaRecord"}},"cnameRecord":{"$ref":"#/components/schemas/CnameRecord"},"fqdn":{"type":"string","description":"Fully qualified domain name of the record set.","readOnly":true},"isAutoRegistered":{"type":"boolean","description":"Is the record set auto-registered in the Private DNS zone through a virtual network link?","readOnly":true},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"The metadata attached to the record set."},"mxRecords":{"type":"array","description":"The list of MX records in the record set.","items":{"$ref":"#/components/schemas/MxRecord"}},"ptrRecords":{"type":"array","description":"The list of PTR records in the record set.","items":{"$ref":"#/components/schemas/PtrRecord"}},"soaRecord":{"$ref":"#/components/schemas/SoaRecord"},"srvRecords":{"type":"array","description":"The list of SRV records in the record set.","items":{"$ref":"#/components/schemas/SrvRecord"}},"ttl":{"type":"integer","description":"The TTL (time-to-live) of the records in the record set.","format":"int64"},"txtRecords":{"type":"array","description":"The list of TXT records in the record set.","items":{"$ref":"#/components/schemas/TxtRecord"}}},"description":"Represents the properties of the records in the record set."},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Example - '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateDnsZoneName}'.","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Example - 'Microsoft.Network/privateDnsZones'.","readOnly":true}},"description":"The core properties of ARM resources"},"SoaRecord":{"type":"object","properties":{"email":{"type":"string","description":"The email contact for this SOA record."},"expireTime":{"type":"integer","description":"The expire time for this SOA record.","format":"int64"},"host":{"type":"string","description":"The domain name of the authoritative name server for this SOA record."},"minimumTtl":{"type":"integer","description":"The minimum value for this SOA record. By convention this is used to determine the negative caching duration.","format":"int64"},"refreshTime":{"type":"integer","description":"The refresh value for this SOA record.","format":"int64"},"retryTime":{"type":"integer","description":"The retry time for this SOA record.","format":"int64"},"serialNumber":{"type":"integer","description":"The serial number for this SOA record.","format":"int64"}},"description":"An SOA record."},"SrvRecord":{"type":"object","properties":{"port":{"type":"integer","description":"The port value for this SRV record.","format":"int32"},"priority":{"type":"integer","description":"The priority value for this SRV record.","format":"int32"},"target":{"type":"string","description":"The target domain name for this SRV record."},"weight":{"type":"integer","description":"The weight value for this SRV record.","format":"int32"}},"description":"An SRV record."},"SubResource":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."},"TrackedResource":{"properties":{"location":{"type":"string","description":"The Azure Region where the resource lives"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"The resource model definition for a ARM tracked top level resource","allOf":[{"$ref":"#/components/schemas/Resource"}]},"TxtRecord":{"type":"object","properties":{"value":{"type":"array","description":"The text value of this TXT record.","items":{"type":"string"}}},"description":"A TXT record."},"VirtualNetworkLink":{"properties":{"etag":{"type":"string","description":"The ETag of the virtual network link."},"properties":{"$ref":"#/components/schemas/VirtualNetworkLinkProperties"}},"description":"Describes a link to virtual network for a Private DNS zone.","allOf":[{"$ref":"#/components/schemas/TrackedResource"}]},"VirtualNetworkLinkListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The continuation token for the next page of results.","readOnly":true},"value":{"type":"array","description":"Information about the virtual network links to the Private DNS zones.","items":{"$ref":"#/components/schemas/VirtualNetworkLink"}}},"description":"The response to a list virtual network link to Private DNS zone operation."},"VirtualNetworkLinkProperties":{"type":"object","properties":{"provisioningState":{"type":"string","description":"The provisioning state of the resource. This is a read-only property and any attempt to set this value will be ignored.","readOnly":true,"enum":["Creating","Updating","Deleting","Succeeded","Failed","Canceled"]},"registrationEnabled":{"type":"boolean","description":"Is auto-registration of virtual machine records in the virtual network in the Private DNS zone enabled?"},"virtualNetwork":{"$ref":"#/components/schemas/SubResource"},"virtualNetworkLinkState":{"type":"string","description":"The status of the virtual network link to the Private DNS zone. Possible values are 'InProgress' and 'Done'. This is a read-only property and any attempt to set this value will be ignored.","readOnly":true,"enum":["InProgress","Completed"]}},"description":"Represents the properties of the Private DNS zone."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}