{"openapi":"3.0.1","info":{"title":"Commerce API","description":"Use the Ticketmaster Commerce API to look up available offers and products on various Ticketmaster platforms for North America markets. For formal partnerships and relationships, selected offers and products can be carted and transacted on through the cart, delivery, payment and purchase APIs – These APIs require approved access from Ticketmaster.","contact":{"url":"http://developer.ticketmaster.com/support/contact-us/"},"version":"v2"},"servers":[{"url":"//www.ticketmaster.com/commerce/v2"}],"paths":{"/commerce/v2/events/{eventId}/offers":{"get":{"summary":"Event Offers","description":"Returns Event Offers.","operationId":"getEventOffers","parameters":[{"name":"X-SSL-CERT-UID","in":"header","description":"API Key for external API developer","schema":{"type":"string"}},{"name":"X-TM-ACCESS-TOKEN","in":"header","description":"Access token for","schema":{"type":"string"}},{"name":"access_token","in":"query","description":"Query Param Access Token","schema":{"type":"string"}},{"name":"api-key","in":"query","description":"Query Param API Key for external API developer","schema":{"type":"string"}},{"name":"eventId","in":"path","description":"Event Identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"displayId to un-hide protected offers","content":{"*/*":{"schema":{"type":"string"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OfferingResponse"}}}}}}}},"components":{"schemas":{"Area":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/SimpleLinks"},"attributes":{"$ref":"#/components/schemas/AreaAttributes"},"id":{"type":"string"},"relationships":{"$ref":"#/components/schemas/AreaRelationships"},"type":{"type":"string"}}},"AreaAttributes":{"type":"object","properties":{"areaType":{"type":"string","enum":["LEVEL","SECTION","AREA"]},"description":{"type":"string"},"name":{"type":"string"},"rank":{"type":"integer","format":"int32"}}},"AreaRelationships":{"type":"object","properties":{"areas":{"$ref":"#/components/schemas/ResponseObjectRefList"},"offers":{"$ref":"#/components/schemas/ResponseObjectRefList"},"priceZones":{"$ref":"#/components/schemas/ResponseObjectRefList"}}},"AttributeRef":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/SimpleLinks"},"attributes":{"$ref":"#/components/schemas/AttributeRefAttributes"},"id":{"type":"string"},"relationships":{"$ref":"#/components/schemas/AttributeRefRelationships"},"type":{"type":"string"}}},"AttributeRefAttributes":{"type":"object","properties":{"description":{"type":"string"}}},"AttributeRefRelationships":{"type":"object"},"EventMappingView":{"type":"object","properties":{"id":{"type":"string"},"source":{"$ref":"#/components/schemas/Source"},"type":{"type":"string"}}},"HoldRef":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/SimpleLinks"},"attributes":{"$ref":"#/components/schemas/HoldRefAttributes"},"id":{"type":"string"},"relationships":{"$ref":"#/components/schemas/HoldRefRelationships"},"type":{"type":"string"}}},"HoldRefAttributes":{"type":"object"},"HoldRefRelationships":{"type":"object"},"HrefLinkValue":{"type":"object","properties":{"href":{"type":"string"}}},"Limit":{"type":"object","properties":{"max":{"type":"integer","format":"int32"},"maxAccessibleSeats":{"type":"integer","format":"int32"},"maxCompanionSeatsPerAccessibleSeat":{"type":"integer","format":"int32"},"min":{"type":"integer","format":"int32"},"multiples":{"type":"integer","format":"int32"},"sellableQty":{"type":"string"}}},"Links":{"type":"object"},"Offer":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/SimpleLinks"},"attributes":{"$ref":"#/components/schemas/OfferAttributes"},"id":{"type":"string"},"relationships":{"$ref":"#/components/schemas/OfferRelationships"},"type":{"type":"string"}}},"OfferAttributes":{"type":"object","properties":{"currency":{"type":"string"},"description":{"type":"string"},"end":{"type":"string","format":"date-time"},"limit":{"$ref":"#/components/schemas/Limit"},"name":{"type":"string"},"offerDetails":{"$ref":"#/components/schemas/OfferDetails"},"offerType":{"type":"string"},"prices":{"type":"array","items":{"$ref":"#/components/schemas/OfferPrice"}},"rank":{"type":"integer","format":"int32"},"start":{"type":"string","format":"date-time"}}},"OfferDetails":{"type":"object","properties":{"link":{"type":"string"},"linkText":{"type":"string"},"text":{"type":"string"}}},"OfferPrice":{"type":"object","properties":{"fees":{"type":"array","items":{"$ref":"#/components/schemas/OfferPriceFee"}},"priceZone":{"type":"string"},"taxes":{"type":"array","items":{"$ref":"#/components/schemas/OfferPriceTax"}},"total":{"type":"string"},"value":{"type":"string"}}},"OfferPriceFee":{"type":"object","properties":{"label":{"type":"string"},"type":{"type":"string"},"value":{"type":"string"}}},"OfferPriceTax":{"type":"object","properties":{"label":{"type":"string"},"type":{"type":"string"},"value":{"type":"string"}}},"OfferRelationships":{"type":"object","properties":{"areas":{"$ref":"#/components/schemas/ResponseObjectRefList"},"offerSets":{"$ref":"#/components/schemas/ResponseObjectRefList"},"passwords":{"$ref":"#/components/schemas/ResponseObjectRefList"},"priceZones":{"$ref":"#/components/schemas/ResponseObjectRefList"},"products":{"$ref":"#/components/schemas/ResponseObjectRefList"}}},"OfferedPrice":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/SimpleLinks"},"attributes":{"$ref":"#/components/schemas/OfferedPriceAttributes"},"id":{"type":"string"},"relationships":{"$ref":"#/components/schemas/OfferedPriceRelationships"},"type":{"type":"string"}}},"OfferedPriceAttributes":{"type":"object","properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"OfferedPriceRelationships":{"type":"object","properties":{"areas":{"$ref":"#/components/schemas/ResponseObjectRefList"},"offers":{"$ref":"#/components/schemas/ResponseObjectRefListSimpleLinks"},"priceZones":{"$ref":"#/components/schemas/ResponseObjectRefListSimpleLinks"}}},"OfferingResponse":{"type":"object","properties":{"_embedded":{"$ref":"#/components/schemas/OfferingResponseEmbeddedData"},"debug":{"type":"array","items":{"type":"string"}},"limits":{"$ref":"#/components/schemas/Limit"},"metadata":{"$ref":"#/components/schemas/OfferingResponseMetadata"},"offers":{"type":"array","items":{"$ref":"#/components/schemas/Offer"}},"prices":{"$ref":"#/components/schemas/ResponseObjectListOfferedPriceSimpleLinks"}}},"OfferingResponseEmbeddedData":{"type":"object","properties":{"areas":{"$ref":"#/components/schemas/ResponseObjectListAreaSimpleLinks"},"attributesRefs":{"$ref":"#/components/schemas/ResponseObjectListAttributeRefSimpleLinks"},"holds":{"$ref":"#/components/schemas/ResponseObjectListHoldRefSimpleLinks"},"passwords":{"$ref":"#/components/schemas/ResponseObjectListPasswordSimpleLinks"},"priceZones":{"$ref":"#/components/schemas/ResponseObjectListPriceZoneSimpleLinks"}}},"OfferingResponseMetadata":{"type":"object","properties":{"accessibleSeatingEnabled":{"type":"boolean","default":false},"eventMapping":{"$ref":"#/components/schemas/EventMappingView"}}},"Password":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/SimpleLinks"},"attributes":{"$ref":"#/components/schemas/PasswordAttributes"},"id":{"type":"string"},"metadata":{"$ref":"#/components/schemas/PasswordMetadata"},"relationships":{"$ref":"#/components/schemas/PasswordRelationships"},"type":{"type":"string"}}},"PasswordAttributes":{"type":"object","properties":{"end":{"type":"string","format":"date-time"},"exclusive":{"type":"boolean","default":false},"link":{"type":"string"},"linkLabel":{"type":"string"},"name":{"type":"string"},"prompts":{"type":"array","items":{"$ref":"#/components/schemas/Prompt"}},"start":{"type":"string","format":"date-time"},"text":{"type":"string"},"textLabel":{"type":"string"},"type":{"type":"string"}}},"PasswordMetadata":{"type":"object","properties":{"offerIds":{"type":"array","items":{"type":"string"}}},"discriminator":{"propertyName":"type"}},"PasswordRelationships":{"type":"object","properties":{"offers":{"$ref":"#/components/schemas/ResponseObjectRefListSimpleLinks"}}},"PriceZone":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/SimpleLinks"},"attributes":{"$ref":"#/components/schemas/PriceZoneAttributes"},"id":{"type":"string"},"relationships":{"$ref":"#/components/schemas/PriceZoneRelationships"},"type":{"type":"string"}}},"PriceZoneAttributes":{"type":"object","properties":{"currency":{"type":"string"},"name":{"type":"string"}}},"PriceZoneRelationships":{"type":"object","properties":{"areas":{"$ref":"#/components/schemas/ResponseObjectRefList"},"offers":{"$ref":"#/components/schemas/ResponseObjectRefList"}}},"Prompt":{"type":"object","properties":{"id":{"type":"string"},"text":{"type":"string"}}},"ResponseObjectListAreaSimpleLinks":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/SimpleLinks"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Area"}}}},"ResponseObjectListAttributeRefSimpleLinks":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/SimpleLinks"},"data":{"type":"array","items":{"$ref":"#/components/schemas/AttributeRef"}}}},"ResponseObjectListHoldRefSimpleLinks":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/SimpleLinks"},"data":{"type":"array","items":{"$ref":"#/components/schemas/HoldRef"}}}},"ResponseObjectListOfferedPriceSimpleLinks":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/SimpleLinks"},"data":{"type":"array","items":{"$ref":"#/components/schemas/OfferedPrice"}}}},"ResponseObjectListPasswordSimpleLinks":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/SimpleLinks"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Password"}}}},"ResponseObjectListPriceZoneSimpleLinks":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/SimpleLinks"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PriceZone"}}}},"ResponseObjectRef":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"}}},"ResponseObjectRefList":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/Links"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ResponseObjectRef"}}}},"ResponseObjectRefListSimpleLinks":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/SimpleLinks"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ResponseObjectRef"}}}},"SimpleLinks":{"type":"object","properties":{"self":{"$ref":"#/components/schemas/HrefLinkValue"}}},"Source":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}}}}}