{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ManagedNetworkManagementClient",
    "description" : "The Microsoft Azure Managed Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to programmatically view, control, change, and monitor your entire Azure network centrally and with ease.",
    "version" : "2019-06-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.ManagedNetwork/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Lists all of the available MNC operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetwork/managedNetworks" : {
      "get" : {
        "tags" : [ "ManagedNetworks" ],
        "description" : "The ListBySubscription  ManagedNetwork operation retrieves all the Managed Network Resources in the current subscription in a paginated format.",
        "operationId" : "ManagedNetworks_ListBySubscription",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "May be used to limit the number of results in a page for list queries.",
          "schema" : {
            "maximum" : 20,
            "minimum" : 1,
            "type" : "integer"
          }
        }, {
          "name" : "$skiptoken",
          "in" : "query",
          "description" : "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get successful. The operation returns all Managed Network resources under the current subscription in a paginated format.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedNetworkListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks" : {
      "get" : {
        "tags" : [ "ManagedNetworks" ],
        "description" : "The ListByResourceGroup ManagedNetwork operation retrieves all the Managed Network resources in a resource group in a paginated format.",
        "operationId" : "ManagedNetworks_ListByResourceGroup",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "May be used to limit the number of results in a page for list queries.",
          "schema" : {
            "maximum" : 20,
            "minimum" : 1,
            "type" : "integer"
          }
        }, {
          "name" : "$skiptoken",
          "in" : "query",
          "description" : "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get successful. The operation returns all Managed Network resources under the specified resource group in a paginated format",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedNetworkListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}" : {
      "get" : {
        "tags" : [ "ManagedNetworks" ],
        "description" : "The Get ManagedNetworks operation gets a Managed Network Resource, specified by the resource group and Managed Network name",
        "operationId" : "ManagedNetworks_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkName",
          "in" : "path",
          "description" : "The name of the Managed Network.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get successful. The operation returns the specified Managed Network resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedNetwork"
                }
              }
            }
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ManagedNetworks" ],
        "description" : "The Put ManagedNetworks operation creates/updates a Managed Network Resource, specified by resource group and Managed Network name",
        "operationId" : "ManagedNetworks_CreateOrUpdate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkName",
          "in" : "path",
          "description" : "The name of the Managed Network.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create/update a Managed Network Resource",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManagedNetwork"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting Managed Network resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedNetwork"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting Managed Network resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedNetwork"
                }
              }
            }
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ManagedNetworks" ],
        "description" : "The Delete ManagedNetworks operation deletes a Managed Network Resource, specified by the  resource group and Managed Network name",
        "operationId" : "ManagedNetworks_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkName",
          "in" : "path",
          "description" : "The name of the Managed Network.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Request successful. Resource does not exist."
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "ManagedNetworks" ],
        "description" : "Updates the specified Managed Network resource tags.",
        "operationId" : "ManagedNetworks_Update",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkName",
          "in" : "path",
          "description" : "The name of the Managed Network.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to update application gateway tags and/or scope.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManagedNetworkUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the updated Managed Network resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedNetwork"
                }
              }
            }
          },
          "201" : {
            "description" : "Update successful. The operation returns the updated Managed Network resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedNetwork"
                }
              }
            }
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}/managedNetworkGroups" : {
      "get" : {
        "tags" : [ "ManagedNetworkGroups" ],
        "description" : "The ListByManagedNetwork ManagedNetworkGroup operation retrieves all the Managed Network Groups in a specified Managed Networks in a paginated format.",
        "operationId" : "ManagedNetworkGroups_ListByManagedNetwork",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkName",
          "in" : "path",
          "description" : "The name of the Managed Network.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "May be used to limit the number of results in a page for list queries.",
          "schema" : {
            "maximum" : 20,
            "minimum" : 1,
            "type" : "integer"
          }
        }, {
          "name" : "$skiptoken",
          "in" : "query",
          "description" : "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get successful. The operation returns all Managed Network Group resources under the specified Managed Network in a paginated format.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedNetworkGroupListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}/managedNetworkGroups/{managedNetworkGroupName}" : {
      "get" : {
        "tags" : [ "ManagedNetworkGroups" ],
        "description" : "The Get ManagedNetworkGroups operation gets a Managed Network Group specified by the resource group, Managed Network name, and group name",
        "operationId" : "ManagedNetworkGroups_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkName",
          "in" : "path",
          "description" : "The name of the Managed Network.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkGroupName",
          "in" : "path",
          "description" : "The name of the Managed Network Group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get successful. The operation returns the specified Managed Network Group resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedNetworkGroup"
                }
              }
            }
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ManagedNetworkGroups" ],
        "description" : "The Put ManagedNetworkGroups operation creates or updates a Managed Network Group resource",
        "operationId" : "ManagedNetworkGroups_CreateOrUpdate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkName",
          "in" : "path",
          "description" : "The name of the Managed Network.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkGroupName",
          "in" : "path",
          "description" : "The name of the Managed Network Group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create/update a Managed Network Group resource",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManagedNetworkGroup"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting Managed Network Group resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedNetworkGroup"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting Managed Network Group resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedNetworkGroup"
                }
              }
            }
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ManagedNetworkGroups" ],
        "description" : "The Delete ManagedNetworkGroups operation deletes a Managed Network Group specified by the resource group, Managed Network name, and group name",
        "operationId" : "ManagedNetworkGroups_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkName",
          "in" : "path",
          "description" : "The name of the Managed Network.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkGroupName",
          "in" : "path",
          "description" : "The name of the Managed Network Group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Request successful. Resource does not exist."
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}/managedNetworkPeeringPolicies" : {
      "get" : {
        "tags" : [ "ManagedNetworkPeeringPolicies" ],
        "description" : "The ListByManagedNetwork PeeringPolicies operation retrieves all the Managed Network Peering Policies in a specified Managed Network, in a paginated format.",
        "operationId" : "ManagedNetworkPeeringPolicies_ListByManagedNetwork",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkName",
          "in" : "path",
          "description" : "The name of the Managed Network.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "May be used to limit the number of results in a page for list queries.",
          "schema" : {
            "maximum" : 20,
            "minimum" : 1,
            "type" : "integer"
          }
        }, {
          "name" : "$skiptoken",
          "in" : "query",
          "description" : "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get successful. The operation returns all Managed Network Peering Policy resources in the specified Managed Network, in a paginated format",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedNetworkPeeringPolicyListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}/managedNetworkPeeringPolicies/{managedNetworkPeeringPolicyName}" : {
      "get" : {
        "tags" : [ "ManagedNetworkPeeringPolicies" ],
        "description" : "The Get ManagedNetworkPeeringPolicies operation gets a Managed Network Peering Policy resource, specified by the  resource group, Managed Network name, and peering policy name",
        "operationId" : "ManagedNetworkPeeringPolicies_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkName",
          "in" : "path",
          "description" : "The name of the Managed Network.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkPeeringPolicyName",
          "in" : "path",
          "description" : "The name of the Managed Network Peering Policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get successful. The operation returns the specified Managed Network Peering Policy resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedNetworkPeeringPolicy"
                }
              }
            }
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ManagedNetworkPeeringPolicies" ],
        "description" : "The Put ManagedNetworkPeeringPolicies operation creates/updates a new Managed Network Peering Policy",
        "operationId" : "ManagedNetworkPeeringPolicies_CreateOrUpdate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkName",
          "in" : "path",
          "description" : "The name of the Managed Network.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkPeeringPolicyName",
          "in" : "path",
          "description" : "The name of the Managed Network Peering Policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to create/update a Managed Network Peering Policy",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManagedNetworkPeeringPolicy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting Managed Network Peering Policy resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedNetworkPeeringPolicy"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting Managed Network Peering Policy resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedNetworkPeeringPolicy"
                }
              }
            }
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ManagedNetworkPeeringPolicies" ],
        "description" : "The Delete ManagedNetworkPeeringPolicies operation deletes a Managed Network Peering Policy, specified by the  resource group, Managed Network name, and peering policy name",
        "operationId" : "ManagedNetworkPeeringPolicies_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkName",
          "in" : "path",
          "description" : "The name of the Managed Network.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedNetworkPeeringPolicyName",
          "in" : "path",
          "description" : "The name of the Managed Network Peering Policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Request successful. Resource does not exist."
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.ManagedNetwork/scopeAssignments" : {
      "get" : {
        "tags" : [ "ScopeAssignments" ],
        "description" : "Get the specified scope assignment.",
        "operationId" : "ScopeAssignments_List",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "The base resource of the scope assignment.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - Returns information about the scope assignment.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScopeAssignmentListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.ManagedNetwork/scopeAssignments/{scopeAssignmentName}" : {
      "get" : {
        "tags" : [ "ScopeAssignments" ],
        "description" : "Get the specified scope assignment.",
        "operationId" : "ScopeAssignments_Get",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "The base resource of the scope assignment.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scopeAssignmentName",
          "in" : "path",
          "description" : "The name of the scope assignment to get.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - Returns information about the scope assignment.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScopeAssignment"
                }
              }
            }
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ScopeAssignments" ],
        "description" : "Creates a scope assignment.",
        "operationId" : "ScopeAssignments_CreateOrUpdate",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "The base resource of the scope assignment to create. The scope can be any REST resource instance. For example, use 'subscriptions/{subscription-id}' for a subscription, 'subscriptions/{subscription-id}/resourceGroups/{resource-group-name}' for a resource group, and 'subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider}/{resource-type}/{resource-name}' for a resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scopeAssignmentName",
          "in" : "path",
          "description" : "The name of the scope assignment to create.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the specify which Managed Network this scope is being assigned",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ScopeAssignment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Updated - Returns information about the scope assignment.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScopeAssignment"
                }
              }
            }
          },
          "201" : {
            "description" : "Created - Returns information about the scope assignment.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScopeAssignment"
                }
              }
            }
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ScopeAssignments" ],
        "description" : "Deletes a scope assignment.",
        "operationId" : "ScopeAssignments_Delete",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "The scope of the scope assignment to delete.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scopeAssignmentName",
          "in" : "path",
          "description" : "The name of the scope assignment to delete.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete Succeed."
          },
          "default" : {
            "description" : "Resource Provider error response describing why the operation failed."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ConnectivityCollection" : {
        "type" : "object",
        "properties" : {
          "groups" : {
            "type" : "array",
            "description" : "The collection of connectivity related Managed Network Groups within the Managed Network",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ManagedNetworkGroup"
            }
          },
          "peerings" : {
            "type" : "array",
            "description" : "The collection of Managed Network Peering Policies within the Managed Network",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ManagedNetworkPeeringPolicy"
            }
          }
        },
        "description" : "The collection of Connectivity related groups and policies within the Managed Network"
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The error code.",
            "readOnly" : true
          },
          "message" : {
            "type" : "string",
            "description" : "The error message.",
            "readOnly" : true
          }
        },
        "description" : "The error response that indicates why an operation has failed."
      },
      "HubAndSpokePeeringPolicyProperties" : {
        "properties" : {
          "hub" : {
            "$ref" : "#/components/schemas/ResourceId"
          },
          "spokes" : {
            "type" : "array",
            "description" : "Gets or sets the spokes group IDs",
            "items" : {
              "$ref" : "#/components/schemas/ResourceId"
            }
          }
        },
        "description" : "Properties of a Hub and Spoke Peering Policy",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ManagedNetworkPeeringPolicyProperties"
        } ]
      },
      "ManagedNetwork" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ManagedNetworkProperties"
          }
        },
        "description" : "The Managed Network resource",
        "allOf" : [ {
          "$ref" : "#/components/schemas/TrackedResource"
        } ]
      },
      "ManagedNetworkGroup" : {
        "properties" : {
          "kind" : {
            "type" : "string",
            "description" : "Responsibility role under which this Managed Network Group will be created",
            "enum" : [ "Connectivity" ]
          },
          "properties" : {
            "$ref" : "#/components/schemas/ManagedNetworkGroupProperties"
          }
        },
        "description" : "The Managed Network Group resource",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ProxyResource"
        } ]
      },
      "ManagedNetworkGroupListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Gets the URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "Gets a page of ManagedNetworkGroup",
            "items" : {
              "$ref" : "#/components/schemas/ManagedNetworkGroup"
            }
          }
        },
        "description" : "Result of the request to list Managed Network Groups. It contains a list of groups and a URL link to get the next set of results."
      },
      "ManagedNetworkGroupProperties" : {
        "properties" : {
          "managementGroups" : {
            "type" : "array",
            "description" : "The collection of management groups covered by the Managed Network",
            "items" : {
              "$ref" : "#/components/schemas/ResourceId"
            }
          },
          "subnets" : {
            "type" : "array",
            "description" : "The collection of  subnets covered by the Managed Network",
            "items" : {
              "$ref" : "#/components/schemas/ResourceId"
            }
          },
          "subscriptions" : {
            "type" : "array",
            "description" : "The collection of subscriptions covered by the Managed Network",
            "items" : {
              "$ref" : "#/components/schemas/ResourceId"
            }
          },
          "virtualNetworks" : {
            "type" : "array",
            "description" : "The collection of virtual nets covered by the Managed Network",
            "items" : {
              "$ref" : "#/components/schemas/ResourceId"
            }
          }
        },
        "description" : "Properties of a Managed Network Group",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ResourceProperties"
        } ]
      },
      "ManagedNetworkListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Gets the URL to get the next page of results."
          },
          "value" : {
            "type" : "array",
            "description" : "Gets a page of ManagedNetworks",
            "items" : {
              "$ref" : "#/components/schemas/ManagedNetwork"
            }
          }
        },
        "description" : "Result of the request to list Managed Network. It contains a list of Managed Networks and a URL link to get the next set of results."
      },
      "ManagedNetworkPeeringPolicy" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ManagedNetworkPeeringPolicyProperties"
          }
        },
        "description" : "The Managed Network Peering Policy resource",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ProxyResource"
        } ]
      },
      "ManagedNetworkPeeringPolicyListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Gets the URL to get the next page of results."
          },
          "value" : {
            "type" : "array",
            "description" : "Gets a page of Peering Policies",
            "items" : {
              "$ref" : "#/components/schemas/ManagedNetworkPeeringPolicy"
            }
          }
        },
        "description" : "Result of the request to list Managed Network Peering Policies. It contains a list of policies and a URL link to get the next set of results."
      },
      "ManagedNetworkPeeringPolicyProperties" : {
        "required" : [ "type" ],
        "properties" : {
          "hub" : {
            "$ref" : "#/components/schemas/ResourceId"
          },
          "mesh" : {
            "type" : "array",
            "description" : "Gets or sets the mesh group IDs",
            "items" : {
              "$ref" : "#/components/schemas/ResourceId"
            }
          },
          "spokes" : {
            "type" : "array",
            "description" : "Gets or sets the spokes group IDs",
            "items" : {
              "$ref" : "#/components/schemas/ResourceId"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "Gets or sets the connectivity type of a network structure policy",
            "enum" : [ "HubAndSpokeTopology", "MeshTopology" ]
          }
        },
        "description" : "Properties of a Managed Network Peering Policy",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ResourceProperties"
        } ]
      },
      "ManagedNetworkProperties" : {
        "properties" : {
          "connectivity" : {
            "$ref" : "#/components/schemas/ConnectivityCollection"
          },
          "scope" : {
            "$ref" : "#/components/schemas/Scope"
          }
        },
        "description" : "Properties of Managed Network",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ResourceProperties"
        } ]
      },
      "ManagedNetworkUpdate" : {
        "type" : "object",
        "properties" : {
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags"
          }
        },
        "description" : "Update Tags of Managed Network"
      },
      "MeshPeeringPolicyProperties" : {
        "properties" : {
          "mesh" : {
            "type" : "array",
            "description" : "Gets or sets the mesh group IDs",
            "items" : {
              "$ref" : "#/components/schemas/ResourceId"
            }
          }
        },
        "description" : "Properties of a Mesh Peering Policy",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ManagedNetworkPeeringPolicyProperties"
        } ]
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "type" : "object",
            "properties" : {
              "operation" : {
                "type" : "string",
                "description" : "Operation type: Read, write, delete, etc."
              },
              "provider" : {
                "type" : "string",
                "description" : "Service provider: Microsoft.ManagedNetwork"
              },
              "resource" : {
                "type" : "string",
                "description" : "Resource on which the operation is performed: Profile, endpoint, etc."
              }
            },
            "description" : "The object that represents the operation."
          },
          "name" : {
            "type" : "string",
            "description" : "Operation name: {provider}/{resource}/{operation}"
          }
        },
        "description" : "REST API operation"
      },
      "OperationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of operation list results if there are any."
          },
          "value" : {
            "type" : "array",
            "description" : "List of Resource Provider operations supported by the Managed Network resource provider.",
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "Result of the request to list Managed Network operations. It contains a list of operations and a URL link to get the next set of results."
      },
      "ProxyResource" : {
        "description" : "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "The geo-location where the resource lives"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the resource",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.",
            "readOnly" : true
          }
        },
        "description" : "The general resource model definition"
      },
      "ResourceId" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource Id"
          }
        },
        "description" : "Generic pointer to a resource"
      },
      "ResourceProperties" : {
        "type" : "object",
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "Provisioning state of the ManagedNetwork resource.",
            "readOnly" : true,
            "enum" : [ "Updating", "Deleting", "Failed", "Succeeded" ]
          }
        },
        "description" : "Base for resource properties."
      },
      "Scope" : {
        "type" : "object",
        "properties" : {
          "managementGroups" : {
            "type" : "array",
            "description" : "The collection of management groups covered by the Managed Network",
            "items" : {
              "$ref" : "#/components/schemas/ResourceId"
            }
          },
          "subnets" : {
            "type" : "array",
            "description" : "The collection of  subnets covered by the Managed Network",
            "items" : {
              "$ref" : "#/components/schemas/ResourceId"
            }
          },
          "subscriptions" : {
            "type" : "array",
            "description" : "The collection of subscriptions covered by the Managed Network",
            "items" : {
              "$ref" : "#/components/schemas/ResourceId"
            }
          },
          "virtualNetworks" : {
            "type" : "array",
            "description" : "The collection of virtual nets covered by the Managed Network",
            "items" : {
              "$ref" : "#/components/schemas/ResourceId"
            }
          }
        },
        "description" : "Scope of a Managed Network"
      },
      "ScopeAssignment" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ScopeAssignmentProperties"
          }
        },
        "description" : "The Managed Network resource",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ProxyResource"
        } ]
      },
      "ScopeAssignmentListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Gets the URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "Gets a page of ScopeAssignment",
            "items" : {
              "$ref" : "#/components/schemas/ScopeAssignment"
            }
          }
        },
        "description" : "Result of the request to list ScopeAssignment. It contains a list of groups and a URL link to get the next set of results."
      },
      "ScopeAssignmentProperties" : {
        "properties" : {
          "assignedManagedNetwork" : {
            "type" : "string",
            "description" : "The managed network ID with scope will be assigned to."
          }
        },
        "description" : "Properties of Managed Network",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ResourceProperties"
        } ]
      },
      "TrackedResource" : {
        "properties" : {
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags"
          }
        },
        "description" : "The resource model definition for a ARM tracked top level resource",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ListPageSizeParameter" : {
        "name" : "$top",
        "in" : "query",
        "description" : "May be used to limit the number of results in a page for list queries.",
        "schema" : {
          "maximum" : 20,
          "minimum" : 1,
          "type" : "integer"
        }
      },
      "ListSkipTokenParameter" : {
        "name" : "$skiptoken",
        "in" : "query",
        "description" : "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
        "schema" : {
          "type" : "string"
        }
      },
      "ManagedNetworkGroupNameParameter" : {
        "name" : "managedNetworkGroupName",
        "in" : "path",
        "description" : "The name of the Managed Network Group.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ManagedNetworkNameParameter" : {
        "name" : "managedNetworkName",
        "in" : "path",
        "description" : "The name of the Managed Network.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ManagedNetworkPeeringPolicyNameParameter" : {
        "name" : "managedNetworkPeeringPolicyName",
        "in" : "path",
        "description" : "The name of the Managed Network Peering Policy.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}