{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "SharedImageGalleryServiceClient",
    "description" : "Shared Image Gallery Service Client.",
    "version" : "2019-07-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/galleries" : {
      "get" : {
        "tags" : [ "Galleries" ],
        "description" : "List galleries under a subscription.",
        "operationId" : "Galleries_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries" : {
      "get" : {
        "tags" : [ "Galleries" ],
        "description" : "List galleries under a resource group.",
        "operationId" : "Galleries_ListByResourceGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}" : {
      "get" : {
        "tags" : [ "Galleries" ],
        "description" : "Retrieves information about a Shared Image Gallery.",
        "operationId" : "Galleries_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Image Gallery.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Gallery"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Galleries" ],
        "description" : "Create or update a Shared Image Gallery.",
        "operationId" : "Galleries_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Image Gallery. The allowed characters are alphabets and numbers with dots and periods allowed in the middle. The maximum length is 80 characters.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update Shared Image Gallery operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Gallery"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Gallery"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Gallery"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Gallery"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Galleries" ],
        "description" : "Delete a Shared Image Gallery.",
        "operationId" : "Galleries_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Image Gallery to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "No Content"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Galleries" ],
        "description" : "Update a Shared Image Gallery.",
        "operationId" : "Galleries_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Image Gallery. The allowed characters are alphabets and numbers with dots and periods allowed in the middle. The maximum length is 80 characters.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the update Shared Image Gallery operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GalleryUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Gallery"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications" : {
      "get" : {
        "tags" : [ "GalleryApplications" ],
        "description" : "List gallery Application Definitions in a gallery.",
        "operationId" : "GalleryApplications_ListByGallery",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Application Gallery from which Application Definitions are to be listed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryApplicationList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{galleryApplicationName}" : {
      "get" : {
        "tags" : [ "GalleryApplications" ],
        "description" : "Retrieves information about a gallery Application Definition.",
        "operationId" : "GalleryApplications_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Application Gallery from which the Application Definitions are to be retrieved.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryApplicationName",
          "in" : "path",
          "description" : "The name of the gallery Application Definition to be retrieved.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryApplication"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "GalleryApplications" ],
        "description" : "Create or update a gallery Application Definition.",
        "operationId" : "GalleryApplications_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Application Gallery in which the Application Definition is to be created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryApplicationName",
          "in" : "path",
          "description" : "The name of the gallery Application Definition to be created or updated. The allowed characters are alphabets and numbers with dots, dashes, and periods allowed in the middle. The maximum length is 80 characters.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update gallery Application operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GalleryApplication"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryApplication"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryApplication"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryApplication"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "GalleryApplications" ],
        "description" : "Delete a gallery Application.",
        "operationId" : "GalleryApplications_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Application Gallery in which the Application Definition is to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryApplicationName",
          "in" : "path",
          "description" : "The name of the gallery Application Definition to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "No Content"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "GalleryApplications" ],
        "description" : "Update a gallery Application Definition.",
        "operationId" : "GalleryApplications_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Application Gallery in which the Application Definition is to be updated.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryApplicationName",
          "in" : "path",
          "description" : "The name of the gallery Application Definition to be updated. The allowed characters are alphabets and numbers with dots, dashes, and periods allowed in the middle. The maximum length is 80 characters.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the update gallery Application operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GalleryApplicationUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryApplication"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{galleryApplicationName}/versions" : {
      "get" : {
        "tags" : [ "GalleryApplicationVersions" ],
        "description" : "List gallery Application Versions in a gallery Application Definition.",
        "operationId" : "GalleryApplicationVersions_ListByGalleryApplication",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Application Gallery in which the Application Definition resides.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryApplicationName",
          "in" : "path",
          "description" : "The name of the Shared Application Gallery Application Definition from which the Application Versions are to be listed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryApplicationVersionList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{galleryApplicationName}/versions/{galleryApplicationVersionName}" : {
      "get" : {
        "tags" : [ "GalleryApplicationVersions" ],
        "description" : "Retrieves information about a gallery Application Version.",
        "operationId" : "GalleryApplicationVersions_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Application Gallery in which the Application Definition resides.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryApplicationName",
          "in" : "path",
          "description" : "The name of the gallery Application Definition in which the Application Version resides.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryApplicationVersionName",
          "in" : "path",
          "description" : "The name of the gallery Application Version to be retrieved.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "The expand expression to apply on the operation.",
          "schema" : {
            "type" : "string",
            "enum" : [ "ReplicationStatus" ]
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryApplicationVersion"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "GalleryApplicationVersions" ],
        "description" : "Create or update a gallery Application Version.",
        "operationId" : "GalleryApplicationVersions_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Application Gallery in which the Application Definition resides.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryApplicationName",
          "in" : "path",
          "description" : "The name of the gallery Application Definition in which the Application Version is to be created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryApplicationVersionName",
          "in" : "path",
          "description" : "The name of the gallery Application Version to be created. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update gallery Application Version operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GalleryApplicationVersion"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryApplicationVersion"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryApplicationVersion"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryApplicationVersion"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "GalleryApplicationVersions" ],
        "description" : "Delete a gallery Application Version.",
        "operationId" : "GalleryApplicationVersions_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Application Gallery in which the Application Definition resides.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryApplicationName",
          "in" : "path",
          "description" : "The name of the gallery Application Definition in which the Application Version resides.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryApplicationVersionName",
          "in" : "path",
          "description" : "The name of the gallery Application Version to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "No Content"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "GalleryApplicationVersions" ],
        "description" : "Update a gallery Application Version.",
        "operationId" : "GalleryApplicationVersions_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Application Gallery in which the Application Definition resides.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryApplicationName",
          "in" : "path",
          "description" : "The name of the gallery Application Definition in which the Application Version is to be updated.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryApplicationVersionName",
          "in" : "path",
          "description" : "The name of the gallery Application Version to be updated. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the update gallery Application Version operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GalleryApplicationVersionUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryApplicationVersion"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images" : {
      "get" : {
        "tags" : [ "GalleryImages" ],
        "description" : "List gallery Image Definitions in a gallery.",
        "operationId" : "GalleryImages_ListByGallery",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Image Gallery from which Image Definitions are to be listed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryImageList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}" : {
      "get" : {
        "tags" : [ "GalleryImages" ],
        "description" : "Retrieves information about a gallery Image Definition.",
        "operationId" : "GalleryImages_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Image Gallery from which the Image Definitions are to be retrieved.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryImageName",
          "in" : "path",
          "description" : "The name of the gallery Image Definition to be retrieved.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryImage"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "GalleryImages" ],
        "description" : "Create or update a gallery Image Definition.",
        "operationId" : "GalleryImages_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Image Gallery in which the Image Definition is to be created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryImageName",
          "in" : "path",
          "description" : "The name of the gallery Image Definition to be created or updated. The allowed characters are alphabets and numbers with dots, dashes, and periods allowed in the middle. The maximum length is 80 characters.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update gallery image operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GalleryImage"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryImage"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryImage"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryImage"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "GalleryImages" ],
        "description" : "Delete a gallery image.",
        "operationId" : "GalleryImages_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Image Gallery in which the Image Definition is to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryImageName",
          "in" : "path",
          "description" : "The name of the gallery Image Definition to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "No Content"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "GalleryImages" ],
        "description" : "Update a gallery Image Definition.",
        "operationId" : "GalleryImages_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Image Gallery in which the Image Definition is to be updated.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryImageName",
          "in" : "path",
          "description" : "The name of the gallery Image Definition to be updated. The allowed characters are alphabets and numbers with dots, dashes, and periods allowed in the middle. The maximum length is 80 characters.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the update gallery image operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GalleryImageUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryImage"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}/versions" : {
      "get" : {
        "tags" : [ "GalleryImageVersions" ],
        "description" : "List gallery Image Versions in a gallery Image Definition.",
        "operationId" : "GalleryImageVersions_ListByGalleryImage",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Image Gallery in which the Image Definition resides.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryImageName",
          "in" : "path",
          "description" : "The name of the Shared Image Gallery Image Definition from which the Image Versions are to be listed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryImageVersionList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}/versions/{galleryImageVersionName}" : {
      "get" : {
        "tags" : [ "GalleryImageVersions" ],
        "description" : "Retrieves information about a gallery Image Version.",
        "operationId" : "GalleryImageVersions_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Image Gallery in which the Image Definition resides.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryImageName",
          "in" : "path",
          "description" : "The name of the gallery Image Definition in which the Image Version resides.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryImageVersionName",
          "in" : "path",
          "description" : "The name of the gallery Image Version to be retrieved.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "The expand expression to apply on the operation.",
          "schema" : {
            "type" : "string",
            "enum" : [ "ReplicationStatus" ]
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryImageVersion"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "GalleryImageVersions" ],
        "description" : "Create or update a gallery Image Version.",
        "operationId" : "GalleryImageVersions_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Image Gallery in which the Image Definition resides.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryImageName",
          "in" : "path",
          "description" : "The name of the gallery Image Definition in which the Image Version is to be created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryImageVersionName",
          "in" : "path",
          "description" : "The name of the gallery Image Version to be created. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update gallery Image Version operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GalleryImageVersion"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryImageVersion"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryImageVersion"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryImageVersion"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "GalleryImageVersions" ],
        "description" : "Delete a gallery Image Version.",
        "operationId" : "GalleryImageVersions_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Image Gallery in which the Image Definition resides.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryImageName",
          "in" : "path",
          "description" : "The name of the gallery Image Definition in which the Image Version resides.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryImageVersionName",
          "in" : "path",
          "description" : "The name of the gallery Image Version to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "No Content"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "GalleryImageVersions" ],
        "description" : "Update a gallery Image Version.",
        "operationId" : "GalleryImageVersions_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryName",
          "in" : "path",
          "description" : "The name of the Shared Image Gallery in which the Image Definition resides.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryImageName",
          "in" : "path",
          "description" : "The name of the gallery Image Definition in which the Image Version is to be updated.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "galleryImageVersionName",
          "in" : "path",
          "description" : "The name of the gallery Image Version to be updated. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the update gallery Image Version operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GalleryImageVersionUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GalleryImageVersion"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ApiError" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The error code."
          },
          "details" : {
            "type" : "array",
            "description" : "The Api error details",
            "items" : {
              "$ref" : "#/components/schemas/ApiErrorBase"
            }
          },
          "innererror" : {
            "$ref" : "#/components/schemas/InnerError"
          },
          "message" : {
            "type" : "string",
            "description" : "The error message."
          },
          "target" : {
            "type" : "string",
            "description" : "The target of the particular error."
          }
        },
        "description" : "Api error."
      },
      "ApiErrorBase" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The error code."
          },
          "message" : {
            "type" : "string",
            "description" : "The error message."
          },
          "target" : {
            "type" : "string",
            "description" : "The target of the particular error."
          }
        },
        "description" : "Api error base."
      },
      "CloudError" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/ApiError"
          }
        },
        "description" : "An error response from the Compute service."
      },
      "Disallowed" : {
        "type" : "object",
        "properties" : {
          "diskTypes" : {
            "type" : "array",
            "description" : "A list of disk types.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Describes the disallowed disk types."
      },
      "Gallery" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/GalleryProperties"
          }
        },
        "description" : "Specifies information about the Shared Image Gallery that you want to create or update.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "GalleryApplication" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/GalleryApplicationProperties"
          }
        },
        "description" : "Specifies information about the gallery Application Definition that you want to create or update.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "GalleryApplicationList" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The uri to fetch the next page of Application Definitions in the Application Gallery. Call ListNext() with this to fetch the next page of gallery Application Definitions."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of Gallery Applications.",
            "items" : {
              "$ref" : "#/components/schemas/GalleryApplication"
            }
          }
        },
        "description" : "The List Gallery Applications operation response."
      },
      "GalleryApplicationProperties" : {
        "required" : [ "supportedOSType" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "The description of this gallery Application Definition resource. This property is updatable."
          },
          "endOfLifeDate" : {
            "type" : "string",
            "description" : "The end of life date of the gallery Application Definition. This property can be used for decommissioning purposes. This property is updatable.",
            "format" : "date-time"
          },
          "eula" : {
            "type" : "string",
            "description" : "The Eula agreement for the gallery Application Definition."
          },
          "privacyStatementUri" : {
            "type" : "string",
            "description" : "The privacy statement uri."
          },
          "releaseNoteUri" : {
            "type" : "string",
            "description" : "The release note uri."
          },
          "supportedOSType" : {
            "type" : "string",
            "description" : "This property allows you to specify the supported type of the OS that application is built for. <br><br> Possible values are: <br><br> **Windows** <br><br> **Linux**",
            "enum" : [ "Windows", "Linux" ]
          }
        },
        "description" : "Describes the properties of a gallery Application Definition."
      },
      "GalleryApplicationUpdate" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/GalleryApplicationProperties"
          }
        },
        "description" : "Specifies information about the gallery Application Definition that you want to update.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/UpdateResource"
        } ]
      },
      "GalleryApplicationVersion" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/GalleryApplicationVersionProperties"
          }
        },
        "description" : "Specifies information about the gallery Application Version that you want to create or update.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "GalleryApplicationVersionList" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The uri to fetch the next page of gallery Application Versions. Call ListNext() with this to fetch the next page of gallery Application Versions."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of gallery Application Versions.",
            "items" : {
              "$ref" : "#/components/schemas/GalleryApplicationVersion"
            }
          }
        },
        "description" : "The List Gallery Application version operation response."
      },
      "GalleryApplicationVersionProperties" : {
        "required" : [ "publishingProfile" ],
        "type" : "object",
        "properties" : {
          "provisioningState" : {
            "title" : "The current state of the gallery Application Version.",
            "type" : "string",
            "description" : "The provisioning state, which only appears in the response.",
            "readOnly" : true,
            "enum" : [ "Creating", "Updating", "Failed", "Succeeded", "Deleting", "Migrating" ]
          },
          "publishingProfile" : {
            "$ref" : "#/components/schemas/GalleryApplicationVersionPublishingProfile"
          },
          "replicationStatus" : {
            "$ref" : "#/components/schemas/ReplicationStatus"
          }
        },
        "description" : "Describes the properties of a gallery Image Version."
      },
      "GalleryApplicationVersionPublishingProfile" : {
        "properties" : {
          "contentType" : {
            "type" : "string",
            "description" : "Optional. May be used to help process this file. The type of file contained in the source, e.g. zip, json, etc."
          },
          "enableHealthCheck" : {
            "type" : "boolean",
            "description" : "Optional. Whether or not this application reports health."
          },
          "source" : {
            "$ref" : "#/components/schemas/UserArtifactSource"
          }
        },
        "description" : "The publishing profile of a gallery Image Version.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/GalleryArtifactPublishingProfileBase"
        } ]
      },
      "GalleryApplicationVersionUpdate" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/GalleryApplicationVersionProperties"
          }
        },
        "description" : "Specifies information about the gallery Application Version that you want to update.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/UpdateResource"
        } ]
      },
      "GalleryArtifactPublishingProfileBase" : {
        "type" : "object",
        "properties" : {
          "endOfLifeDate" : {
            "type" : "string",
            "description" : "The end of life date of the gallery Image Version. This property can be used for decommissioning purposes. This property is updatable.",
            "format" : "date-time"
          },
          "excludeFromLatest" : {
            "type" : "boolean",
            "description" : "If set to true, Virtual Machines deployed from the latest version of the Image Definition won't use this Image Version."
          },
          "publishedDate" : {
            "type" : "string",
            "description" : "The timestamp for when the gallery Image Version is published.",
            "format" : "date-time",
            "readOnly" : true
          },
          "replicaCount" : {
            "type" : "integer",
            "description" : "The number of replicas of the Image Version to be created per region. This property would take effect for a region when regionalReplicaCount is not specified. This property is updatable.",
            "format" : "int32"
          },
          "storageAccountType" : {
            "type" : "string",
            "description" : "Specifies the storage account type to be used to store the image. This property is not updatable.",
            "enum" : [ "Standard_LRS", "Standard_ZRS" ]
          },
          "targetRegions" : {
            "type" : "array",
            "description" : "The target regions where the Image Version is going to be replicated to. This property is updatable.",
            "items" : {
              "$ref" : "#/components/schemas/TargetRegion"
            }
          }
        },
        "description" : "Describes the basic gallery artifact publishing profile."
      },
      "GalleryArtifactSource" : {
        "required" : [ "managedImage" ],
        "type" : "object",
        "properties" : {
          "managedImage" : {
            "$ref" : "#/components/schemas/ManagedArtifact"
          }
        },
        "description" : "The source image from which the Image Version is going to be created."
      },
      "GalleryArtifactVersionSource" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The id of the gallery artifact version source. Can specify a disk uri, snapshot uri, or user image."
          }
        },
        "description" : "The gallery artifact version source."
      },
      "GalleryDataDiskImage" : {
        "properties" : {
          "lun" : {
            "type" : "integer",
            "description" : "This property specifies the logical unit number of the data disk. This value is used to identify data disks within the Virtual Machine and therefore must be unique for each data disk attached to the Virtual Machine.",
            "format" : "int32"
          }
        },
        "description" : "This is the data disk image.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/GalleryDiskImage"
        } ]
      },
      "GalleryDiskImage" : {
        "type" : "object",
        "properties" : {
          "hostCaching" : {
            "type" : "string",
            "description" : "The host caching of the disk. Valid values are 'None', 'ReadOnly', and 'ReadWrite'",
            "enum" : [ "None", "ReadOnly", "ReadWrite" ]
          },
          "sizeInGB" : {
            "type" : "integer",
            "description" : "This property indicates the size of the VHD to be created.",
            "format" : "int32",
            "readOnly" : true
          },
          "source" : {
            "$ref" : "#/components/schemas/GalleryArtifactVersionSource"
          }
        },
        "description" : "This is the disk image base class."
      },
      "GalleryIdentifier" : {
        "type" : "object",
        "properties" : {
          "uniqueName" : {
            "type" : "string",
            "description" : "The unique name of the Shared Image Gallery. This name is generated automatically by Azure.",
            "readOnly" : true
          }
        },
        "description" : "Describes the gallery unique name."
      },
      "GalleryImage" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/GalleryImageProperties"
          }
        },
        "description" : "Specifies information about the gallery Image Definition that you want to create or update.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "GalleryImageIdentifier" : {
        "required" : [ "offer", "publisher", "sku" ],
        "type" : "object",
        "properties" : {
          "offer" : {
            "type" : "string",
            "description" : "The name of the gallery Image Definition offer."
          },
          "publisher" : {
            "type" : "string",
            "description" : "The name of the gallery Image Definition publisher."
          },
          "sku" : {
            "type" : "string",
            "description" : "The name of the gallery Image Definition SKU."
          }
        },
        "description" : "This is the gallery Image Definition identifier."
      },
      "GalleryImageList" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The uri to fetch the next page of Image Definitions in the Shared Image Gallery. Call ListNext() with this to fetch the next page of gallery Image Definitions."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of Shared Image Gallery images.",
            "items" : {
              "$ref" : "#/components/schemas/GalleryImage"
            }
          }
        },
        "description" : "The List Gallery Images operation response."
      },
      "GalleryImageProperties" : {
        "required" : [ "identifier", "osState", "osType" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "The description of this gallery Image Definition resource. This property is updatable."
          },
          "disallowed" : {
            "$ref" : "#/components/schemas/Disallowed"
          },
          "endOfLifeDate" : {
            "type" : "string",
            "description" : "The end of life date of the gallery Image Definition. This property can be used for decommissioning purposes. This property is updatable.",
            "format" : "date-time"
          },
          "eula" : {
            "type" : "string",
            "description" : "The Eula agreement for the gallery Image Definition."
          },
          "hyperVGeneration" : {
            "type" : "string",
            "description" : "The hypervisor generation of the Virtual Machine. Applicable to OS disks only.",
            "enum" : [ "V1", "V2" ]
          },
          "identifier" : {
            "$ref" : "#/components/schemas/GalleryImageIdentifier"
          },
          "osState" : {
            "type" : "string",
            "description" : "This property allows the user to specify whether the virtual machines created under this image are 'Generalized' or 'Specialized'.",
            "enum" : [ "Generalized", "Specialized" ]
          },
          "osType" : {
            "type" : "string",
            "description" : "This property allows you to specify the type of the OS that is included in the disk when creating a VM from a managed image. <br><br> Possible values are: <br><br> **Windows** <br><br> **Linux**",
            "enum" : [ "Windows", "Linux" ]
          },
          "privacyStatementUri" : {
            "type" : "string",
            "description" : "The privacy statement uri."
          },
          "provisioningState" : {
            "title" : "The current state of the gallery Image Definition.",
            "type" : "string",
            "description" : "The provisioning state, which only appears in the response.",
            "readOnly" : true,
            "enum" : [ "Creating", "Updating", "Failed", "Succeeded", "Deleting", "Migrating" ]
          },
          "purchasePlan" : {
            "$ref" : "#/components/schemas/ImagePurchasePlan"
          },
          "recommended" : {
            "$ref" : "#/components/schemas/RecommendedMachineConfiguration"
          },
          "releaseNoteUri" : {
            "type" : "string",
            "description" : "The release note uri."
          }
        },
        "description" : "Describes the properties of a gallery Image Definition."
      },
      "GalleryImageUpdate" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/GalleryImageProperties"
          }
        },
        "description" : "Specifies information about the gallery Image Definition that you want to update.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/UpdateResource"
        } ]
      },
      "GalleryImageVersion" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/GalleryImageVersionProperties"
          }
        },
        "description" : "Specifies information about the gallery Image Version that you want to create or update.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "GalleryImageVersionList" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The uri to fetch the next page of gallery Image Versions. Call ListNext() with this to fetch the next page of gallery Image Versions."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of gallery Image Versions.",
            "items" : {
              "$ref" : "#/components/schemas/GalleryImageVersion"
            }
          }
        },
        "description" : "The List Gallery Image version operation response."
      },
      "GalleryImageVersionProperties" : {
        "required" : [ "storageProfile" ],
        "type" : "object",
        "properties" : {
          "provisioningState" : {
            "title" : "The current state of the gallery Image Version.",
            "type" : "string",
            "description" : "The provisioning state, which only appears in the response.",
            "readOnly" : true,
            "enum" : [ "Creating", "Updating", "Failed", "Succeeded", "Deleting", "Migrating" ]
          },
          "publishingProfile" : {
            "$ref" : "#/components/schemas/GalleryImageVersionPublishingProfile"
          },
          "replicationStatus" : {
            "$ref" : "#/components/schemas/ReplicationStatus"
          },
          "storageProfile" : {
            "$ref" : "#/components/schemas/GalleryImageVersionStorageProfile"
          }
        },
        "description" : "Describes the properties of a gallery Image Version."
      },
      "GalleryImageVersionPublishingProfile" : {
        "description" : "The publishing profile of a gallery Image Version.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/GalleryArtifactPublishingProfileBase"
        } ]
      },
      "GalleryImageVersionStorageProfile" : {
        "type" : "object",
        "properties" : {
          "dataDiskImages" : {
            "type" : "array",
            "description" : "A list of data disk images.",
            "items" : {
              "$ref" : "#/components/schemas/GalleryDataDiskImage"
            }
          },
          "osDiskImage" : {
            "$ref" : "#/components/schemas/GalleryOSDiskImage"
          },
          "source" : {
            "$ref" : "#/components/schemas/GalleryArtifactVersionSource"
          }
        },
        "description" : "This is the storage profile of a Gallery Image Version."
      },
      "GalleryImageVersionUpdate" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/GalleryImageVersionProperties"
          }
        },
        "description" : "Specifies information about the gallery Image Version that you want to update.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/UpdateResource"
        } ]
      },
      "GalleryList" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The uri to fetch the next page of galleries. Call ListNext() with this to fetch the next page of galleries."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of galleries.",
            "items" : {
              "$ref" : "#/components/schemas/Gallery"
            }
          }
        },
        "description" : "The List Galleries operation response."
      },
      "GalleryOSDiskImage" : {
        "description" : "This is the OS disk image.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/GalleryDiskImage"
        } ]
      },
      "GalleryProperties" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "The description of this Shared Image Gallery resource. This property is updatable."
          },
          "identifier" : {
            "$ref" : "#/components/schemas/GalleryIdentifier"
          },
          "provisioningState" : {
            "title" : "The current state of the gallery.",
            "type" : "string",
            "description" : "The provisioning state, which only appears in the response.",
            "readOnly" : true,
            "enum" : [ "Creating", "Updating", "Failed", "Succeeded", "Deleting", "Migrating" ]
          }
        },
        "description" : "Describes the properties of a Shared Image Gallery."
      },
      "GalleryUpdate" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/GalleryProperties"
          }
        },
        "description" : "Specifies information about the Shared Image Gallery that you want to update.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/UpdateResource"
        } ]
      },
      "ImagePurchasePlan" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The plan ID."
          },
          "product" : {
            "type" : "string",
            "description" : "The product ID."
          },
          "publisher" : {
            "type" : "string",
            "description" : "The publisher ID."
          }
        },
        "description" : "Describes the gallery Image Definition purchase plan. This is used by marketplace images."
      },
      "InnerError" : {
        "type" : "object",
        "properties" : {
          "errordetail" : {
            "type" : "string",
            "description" : "The internal error message or exception dump."
          },
          "exceptiontype" : {
            "type" : "string",
            "description" : "The exception type."
          }
        },
        "description" : "Inner error details."
      },
      "ManagedArtifact" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The managed artifact id."
          }
        },
        "description" : "The managed artifact."
      },
      "RecommendedMachineConfiguration" : {
        "type" : "object",
        "properties" : {
          "memory" : {
            "$ref" : "#/components/schemas/ResourceRange"
          },
          "vCPUs" : {
            "$ref" : "#/components/schemas/ResourceRange"
          }
        },
        "description" : "The properties describe the recommended machine configuration for this Image Definition. These properties are updatable."
      },
      "RegionalReplicationStatus" : {
        "type" : "object",
        "properties" : {
          "details" : {
            "type" : "string",
            "description" : "The details of the replication status.",
            "readOnly" : true
          },
          "progress" : {
            "type" : "integer",
            "description" : "It indicates progress of the replication job.",
            "format" : "int32",
            "readOnly" : true
          },
          "region" : {
            "type" : "string",
            "description" : "The region to which the gallery Image Version is being replicated to.",
            "readOnly" : true
          },
          "state" : {
            "type" : "string",
            "description" : "This is the regional replication state.",
            "readOnly" : true,
            "enum" : [ "Unknown", "Replicating", "Completed", "Failed" ]
          }
        },
        "description" : "This is the regional replication status."
      },
      "ReplicationStatus" : {
        "type" : "object",
        "properties" : {
          "aggregatedState" : {
            "type" : "string",
            "description" : "This is the aggregated replication status based on all the regional replication status flags.",
            "readOnly" : true,
            "enum" : [ "Unknown", "InProgress", "Completed", "Failed" ]
          },
          "summary" : {
            "type" : "array",
            "description" : "This is a summary of replication status for each region.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/RegionalReplicationStatus"
            }
          }
        },
        "description" : "This is the replication status of the gallery Image Version."
      },
      "Resource" : {
        "required" : [ "location" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource Id",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Resource location"
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags"
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type",
            "readOnly" : true
          }
        },
        "description" : "The Resource model definition."
      },
      "ResourceRange" : {
        "type" : "object",
        "properties" : {
          "max" : {
            "type" : "integer",
            "description" : "The maximum number of the resource.",
            "format" : "int32"
          },
          "min" : {
            "type" : "integer",
            "description" : "The minimum number of the resource.",
            "format" : "int32"
          }
        },
        "description" : "Describes the resource range."
      },
      "TargetRegion" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the region."
          },
          "regionalReplicaCount" : {
            "type" : "integer",
            "description" : "The number of replicas of the Image Version to be created per region. This property is updatable.",
            "format" : "int32"
          },
          "storageAccountType" : {
            "type" : "string",
            "description" : "Specifies the storage account type to be used to store the image. This property is not updatable.",
            "enum" : [ "Standard_LRS", "Standard_ZRS" ]
          }
        },
        "description" : "Describes the target region information."
      },
      "UpdateResource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource Id",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags"
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type",
            "readOnly" : true
          }
        },
        "description" : "The Update Resource model definition."
      },
      "UserArtifactSource" : {
        "required" : [ "fileName", "mediaLink" ],
        "type" : "object",
        "properties" : {
          "fileName" : {
            "type" : "string",
            "description" : "Required. The fileName of the artifact."
          },
          "mediaLink" : {
            "type" : "string",
            "description" : "Required. The mediaLink of the artifact, must be a readable storage blob."
          }
        },
        "description" : "The source image from which the Image Version is going to be created."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}