{"openapi":"3.0.1","info":{"title":"Cosmos DB","description":"Azure Cosmos DB Database Service Resource Provider REST API","version":"2019-08-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.DocumentDB/databaseAccountNames/{accountName}":{"head":{"description":"Checks that the Azure Cosmos DB account name already exists. A valid account name may contain only lowercase letters, numbers, and the '-' character, and must be between 3 and 50 characters.","operationId":"DatabaseAccounts_CheckNameExists","parameters":[{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The account name is valid but is already in use."},"404":{"description":"Not Found. The account name is available and valid."}}}},"/providers/Microsoft.DocumentDB/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available Cosmos DB Resource Provider operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/databaseAccounts":{"get":{"description":"Lists all the Azure Cosmos DB database accounts available under the subscription.","operationId":"DatabaseAccounts_List","parameters":[{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseAccountsListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts":{"get":{"description":"Lists all the Azure Cosmos DB database accounts available under the given resource group.","operationId":"DatabaseAccounts_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseAccountsListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}":{"get":{"description":"Retrieves the properties of an existing Azure Cosmos DB database account.","operationId":"DatabaseAccounts_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The database account properties were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseAccountGetResults"}}}}}},"put":{"description":"Creates or updates an Azure Cosmos DB database account. The \"Update\" method is preferred when performing updates on an account.","operationId":"DatabaseAccounts_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters to provide for the current database account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseAccountCreateUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The database account create or update operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseAccountGetResults"}}}}}},"delete":{"description":"Deletes an existing Azure Cosmos DB database account.","operationId":"DatabaseAccounts_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"The database account delete operation will complete asynchronously."},"204":{"description":"The specified account does not exist in the subscription."}}},"patch":{"description":"Updates the properties of an existing Azure Cosmos DB database account.","operationId":"DatabaseAccounts_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters to provide for the current database account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseAccountUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The database account update operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseAccountGetResults"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces":{"get":{"description":"Lists the Cassandra keyspaces under an existing Azure Cosmos DB database account.","operationId":"CassandraResources_ListCassandraKeyspaces","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Cassandra keyspace properties were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CassandraKeyspaceListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}":{"get":{"description":"Gets the Cassandra keyspaces under an existing Azure Cosmos DB database account with the provided name.","operationId":"CassandraResources_GetCassandraKeyspace","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"keyspaceName","in":"path","description":"Cosmos DB keyspace name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Cassandra keyspace property was retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CassandraKeyspaceGetResults"}}}}}},"put":{"description":"Create or update an Azure Cosmos DB Cassandra keyspace","operationId":"CassandraResources_CreateUpdateCassandraKeyspace","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"keyspaceName","in":"path","description":"Cosmos DB keyspace name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters to provide for the current Cassandra keyspace.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CassandraKeyspaceCreateUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The Cassandra keyspace create or update operation was completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CassandraKeyspaceGetResults"}}}},"202":{"description":"The Cassandra keyspace create or update operation will complete asynchronously."}}},"delete":{"description":"Deletes an existing Azure Cosmos DB Cassandra keyspace.","operationId":"CassandraResources_DeleteCassandraKeyspace","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"keyspaceName","in":"path","description":"Cosmos DB keyspace name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"The Cassandra keyspace delete operation will complete asynchronously."},"204":{"description":"The Cassandra keyspace delete operation was completed successfully."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/tables":{"get":{"description":"Lists the Cassandra table under an existing Azure Cosmos DB database account.","operationId":"CassandraResources_ListCassandraTables","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"keyspaceName","in":"path","description":"Cosmos DB keyspace name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Cassandra table properties were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CassandraTableListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/tables/{tableName}":{"get":{"description":"Gets the Cassandra table under an existing Azure Cosmos DB database account.","operationId":"CassandraResources_GetCassandraTable","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"keyspaceName","in":"path","description":"Cosmos DB keyspace name.","required":true,"schema":{"type":"string"}},{"name":"tableName","in":"path","description":"Cosmos DB table name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Cassandra table property was retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CassandraTableGetResults"}}}}}},"put":{"description":"Create or update an Azure Cosmos DB Cassandra Table","operationId":"CassandraResources_CreateUpdateCassandraTable","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"keyspaceName","in":"path","description":"Cosmos DB keyspace name.","required":true,"schema":{"type":"string"}},{"name":"tableName","in":"path","description":"Cosmos DB table name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters to provide for the current Cassandra Table.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CassandraTableCreateUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The Cassandra Table create or update operation was completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CassandraTableGetResults"}}}},"202":{"description":"The Cassandra Table create or update operation will complete asynchronously."}}},"delete":{"description":"Deletes an existing Azure Cosmos DB Cassandra table.","operationId":"CassandraResources_DeleteCassandraTable","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"keyspaceName","in":"path","description":"Cosmos DB keyspace name.","required":true,"schema":{"type":"string"}},{"name":"tableName","in":"path","description":"Cosmos DB table name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"The Cassandra table delete operation will complete asynchronously."},"204":{"description":"The Cassandra table delete operation was completed successfully."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/tables/{tableName}/throughputSettings/default":{"get":{"description":"Gets the RUs per second of the Cassandra table under an existing Azure Cosmos DB database account with the provided name.","operationId":"CassandraResources_GetCassandraTableThroughput","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"keyspaceName","in":"path","description":"Cosmos DB keyspace name.","required":true,"schema":{"type":"string"}},{"name":"tableName","in":"path","description":"Cosmos DB table name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The RUs per second of the Cassandra table was retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsGetResults"}}}}}},"put":{"description":"Update RUs per second of an Azure Cosmos DB Cassandra table","operationId":"CassandraResources_UpdateCassandraTableThroughput","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"keyspaceName","in":"path","description":"Cosmos DB keyspace name.","required":true,"schema":{"type":"string"}},{"name":"tableName","in":"path","description":"Cosmos DB table name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The RUs per second of the parameters to provide for the current Cassandra table.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The RUs per second of the Cassandra table update operation was completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsGetResults"}}}},"202":{"description":"The RUs per second of the Cassandra table update operation will complete asynchronously."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/throughputSettings/default":{"get":{"description":"Gets the RUs per second of the Cassandra Keyspace under an existing Azure Cosmos DB database account with the provided name.","operationId":"CassandraResources_GetCassandraKeyspaceThroughput","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"keyspaceName","in":"path","description":"Cosmos DB keyspace name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The RUs per second of the Cassandra Keyspace was retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsGetResults"}}}}}},"put":{"description":"Update RUs per second of an Azure Cosmos DB Cassandra Keyspace","operationId":"CassandraResources_UpdateCassandraKeyspaceThroughput","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"keyspaceName","in":"path","description":"Cosmos DB keyspace name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The RUs per second of the parameters to provide for the current Cassandra Keyspace.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The RUs per second of the Cassandra Keyspace update operation was completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsGetResults"}}}},"202":{"description":"The RUs per second of the Cassandra Keyspace update operation will complete asynchronously."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metricDefinitions":{"get":{"description":"Retrieves metric definitions for the given collection.","operationId":"Collection_ListMetricDefinitions","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseRid","in":"path","description":"Cosmos DB database rid.","required":true,"schema":{"type":"string"}},{"name":"collectionRid","in":"path","description":"Cosmos DB collection rid.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The metric definitions for the collection were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricDefinitionsListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metrics":{"get":{"description":"Retrieves the metrics determined by the given filter for the given database account and collection.","operationId":"Collection_ListMetrics","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseRid","in":"path","description":"Cosmos DB database rid.","required":true,"schema":{"type":"string"}},{"name":"collectionRid","in":"path","description":"Cosmos DB collection rid.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"An OData filter expression that describes a subset of metrics to return. The parameters that can be filtered are name.value (name of the metric, can have an or of multiple names), startTime, endTime, and timeGrain. The supported operator is eq.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The metrics for the database account were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitionKeyRangeId/{partitionKeyRangeId}/metrics":{"get":{"description":"Retrieves the metrics determined by the given filter for the given partition key range id.","operationId":"PartitionKeyRangeId_ListMetrics","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseRid","in":"path","description":"Cosmos DB database rid.","required":true,"schema":{"type":"string"}},{"name":"collectionRid","in":"path","description":"Cosmos DB collection rid.","required":true,"schema":{"type":"string"}},{"name":"partitionKeyRangeId","in":"path","description":"Partition Key Range Id for which to get data.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"An OData filter expression that describes a subset of metrics to return. The parameters that can be filtered are name.value (name of the metric, can have an or of multiple names), startTime, endTime, and timeGrain. The supported operator is eq.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The partition-level metrics for the partition key range id were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartitionMetricListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitions/metrics":{"get":{"description":"Retrieves the metrics determined by the given filter for the given collection, split by partition.","operationId":"CollectionPartition_ListMetrics","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseRid","in":"path","description":"Cosmos DB database rid.","required":true,"schema":{"type":"string"}},{"name":"collectionRid","in":"path","description":"Cosmos DB collection rid.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"An OData filter expression that describes a subset of metrics to return. The parameters that can be filtered are name.value (name of the metric, can have an or of multiple names), startTime, endTime, and timeGrain. The supported operator is eq.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The partition-level metrics for the collection were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartitionMetricListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitions/usages":{"get":{"description":"Retrieves the usages (most recent storage data) for the given collection, split by partition.","operationId":"CollectionPartition_ListUsages","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseRid","in":"path","description":"Cosmos DB database rid.","required":true,"schema":{"type":"string"}},{"name":"collectionRid","in":"path","description":"Cosmos DB collection rid.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"An OData filter expression that describes a subset of usages to return. The supported parameter is name.value (name of the metric, can have an or of multiple names).","schema":{"type":"string"}}],"responses":{"200":{"description":"The usages for the collection, per partition were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartitionUsagesResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/usages":{"get":{"description":"Retrieves the usages (most recent storage data) for the given collection.","operationId":"Collection_ListUsages","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseRid","in":"path","description":"Cosmos DB database rid.","required":true,"schema":{"type":"string"}},{"name":"collectionRid","in":"path","description":"Cosmos DB collection rid.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"An OData filter expression that describes a subset of usages to return. The supported parameter is name.value (name of the metric, can have an or of multiple names).","schema":{"type":"string"}}],"responses":{"200":{"description":"The usages for the collection were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsagesResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/metricDefinitions":{"get":{"description":"Retrieves metric definitions for the given database.","operationId":"Database_ListMetricDefinitions","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseRid","in":"path","description":"Cosmos DB database rid.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The metric definitions for the database were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricDefinitionsListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/metrics":{"get":{"description":"Retrieves the metrics determined by the given filter for the given database account and database.","operationId":"Database_ListMetrics","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseRid","in":"path","description":"Cosmos DB database rid.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"An OData filter expression that describes a subset of metrics to return. The parameters that can be filtered are name.value (name of the metric, can have an or of multiple names), startTime, endTime, and timeGrain. The supported operator is eq.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The metrics for the database account were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/usages":{"get":{"description":"Retrieves the usages (most recent data) for the given database.","operationId":"Database_ListUsages","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseRid","in":"path","description":"Cosmos DB database rid.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"An OData filter expression that describes a subset of usages to return. The supported parameter is name.value (name of the metric, can have an or of multiple names).","schema":{"type":"string"}}],"responses":{"200":{"description":"The usages for the database were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsagesResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/failoverPriorityChange":{"post":{"description":"Changes the failover priority for the Azure Cosmos DB database account. A failover priority of 0 indicates a write region. The maximum value for a failover priority = (total number of regions - 1). Failover priority values must be unique for each of the regions in which the database account exists.","operationId":"DatabaseAccounts_FailoverPriorityChange","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The new failover policies for the database account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailoverPolicies"}}},"required":true},"responses":{"202":{"description":"Accepted. The failover policy change operation will complete asynchronously."},"204":{"description":"No Content"}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases":{"get":{"description":"Lists the Gremlin databases under an existing Azure Cosmos DB database account.","operationId":"GremlinResources_ListGremlinDatabases","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Gremlin database properties were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GremlinDatabaseListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}":{"get":{"description":"Gets the Gremlin databases under an existing Azure Cosmos DB database account with the provided name.","operationId":"GremlinResources_GetGremlinDatabase","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Gremlin database property was retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GremlinDatabaseGetResults"}}}}}},"put":{"description":"Create or update an Azure Cosmos DB Gremlin database","operationId":"GremlinResources_CreateUpdateGremlinDatabase","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters to provide for the current Gremlin database.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GremlinDatabaseCreateUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The Gremlin database create or update operation was completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GremlinDatabaseGetResults"}}}},"202":{"description":"The Gremlin database create or update operation will complete asynchronously."}}},"delete":{"description":"Deletes an existing Azure Cosmos DB Gremlin database.","operationId":"GremlinResources_DeleteGremlinDatabase","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"The Gremlin database delete operation will complete asynchronously."},"204":{"description":"The Gremlin database delete operation was completed successfully."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}/graphs":{"get":{"description":"Lists the Gremlin graph under an existing Azure Cosmos DB database account.","operationId":"GremlinResources_ListGremlinGraphs","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Gremlin graph properties were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GremlinGraphListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}/graphs/{graphName}":{"get":{"description":"Gets the Gremlin graph under an existing Azure Cosmos DB database account.","operationId":"GremlinResources_GetGremlinGraph","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"graphName","in":"path","description":"Cosmos DB graph name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Gremlin graph property was retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GremlinGraphGetResults"}}}}}},"put":{"description":"Create or update an Azure Cosmos DB Gremlin graph","operationId":"GremlinResources_CreateUpdateGremlinGraph","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"graphName","in":"path","description":"Cosmos DB graph name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters to provide for the current Gremlin graph.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GremlinGraphCreateUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The Gremlin graph create or update operation was completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GremlinGraphGetResults"}}}},"202":{"description":"The Gremlin graph create or update operation will complete asynchronously."}}},"delete":{"description":"Deletes an existing Azure Cosmos DB Gremlin graph.","operationId":"GremlinResources_DeleteGremlinGraph","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"graphName","in":"path","description":"Cosmos DB graph name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"The Gremlin graph delete operation will complete asynchronously."},"204":{"description":"The Gremlin graph delete operation was completed successfully."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}/graphs/{graphName}/throughputSettings/default":{"get":{"description":"Gets the Gremlin graph throughput under an existing Azure Cosmos DB database account with the provided name.","operationId":"GremlinResources_GetGremlinGraphThroughput","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"graphName","in":"path","description":"Cosmos DB graph name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The RUs per second of the Gremlin graph was retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsGetResults"}}}}}},"put":{"description":"Update RUs per second of an Azure Cosmos DB Gremlin graph","operationId":"GremlinResources_UpdateGremlinGraphThroughput","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"graphName","in":"path","description":"Cosmos DB graph name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The RUs per second of the parameters to provide for the current Gremlin graph.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The RUs per second of the Gremlin graph update operation was completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsGetResults"}}}},"202":{"description":"The RUs per second of the Gremlin graph update operation will complete asynchronously."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}/throughputSettings/default":{"get":{"description":"Gets the RUs per second of the Gremlin database under an existing Azure Cosmos DB database account with the provided name.","operationId":"GremlinResources_GetGremlinDatabaseThroughput","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The RUs per second of the Gremlin database was retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsGetResults"}}}}}},"put":{"description":"Update RUs per second of an Azure Cosmos DB Gremlin database","operationId":"GremlinResources_UpdateGremlinDatabaseThroughput","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The RUs per second of the parameters to provide for the current Gremlin database.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The RUs per second of the Gremlin database update operation was completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsGetResults"}}}},"202":{"description":"The RUs per second of the Gremlin database update operation will complete asynchronously."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listConnectionStrings":{"post":{"description":"Lists the connection strings for the specified Azure Cosmos DB database account.","operationId":"DatabaseAccounts_ListConnectionStrings","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseAccountListConnectionStringsResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listKeys":{"post":{"description":"Lists the access keys for the specified Azure Cosmos DB database account.","operationId":"DatabaseAccounts_ListKeys","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseAccountListKeysResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/metricDefinitions":{"get":{"description":"Retrieves metric definitions for the given database account.","operationId":"DatabaseAccounts_ListMetricDefinitions","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The metric definitions for the database account were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricDefinitionsListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/metrics":{"get":{"description":"Retrieves the metrics determined by the given filter for the given database account.","operationId":"DatabaseAccounts_ListMetrics","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"An OData filter expression that describes a subset of metrics to return. The parameters that can be filtered are name.value (name of the metric, can have an or of multiple names), startTime, endTime, and timeGrain. The supported operator is eq.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The metrics for the database account were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbDatabases":{"get":{"description":"Lists the MongoDB databases under an existing Azure Cosmos DB database account.","operationId":"MongoDBResources_ListMongoDBDatabases","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The MongoDB database properties were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MongoDBDatabaseListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbDatabases/{databaseName}":{"get":{"description":"Gets the MongoDB databases under an existing Azure Cosmos DB database account with the provided name.","operationId":"MongoDBResources_GetMongoDBDatabase","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The MongoDB database property was retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MongoDBDatabaseGetResults"}}}}}},"put":{"description":"Create or updates Azure Cosmos DB MongoDB database","operationId":"MongoDBResources_CreateUpdateMongoDBDatabase","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters to provide for the current MongoDB database.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MongoDBDatabaseCreateUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The MongoDB database create or update operation was completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MongoDBDatabaseGetResults"}}}},"202":{"description":"The MongoDB database create or update operation will complete asynchronously."}}},"delete":{"description":"Deletes an existing Azure Cosmos DB MongoDB database.","operationId":"MongoDBResources_DeleteMongoDBDatabase","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"The MongoDB database delete operation will complete asynchronously."},"204":{"description":"The MongoDB database delete operation was completed successfully."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbDatabases/{databaseName}/collections":{"get":{"description":"Lists the MongoDB collection under an existing Azure Cosmos DB database account.","operationId":"MongoDBResources_ListMongoDBCollections","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The MongoDB collection properties were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MongoDBCollectionListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbDatabases/{databaseName}/collections/{collectionName}":{"get":{"description":"Gets the MongoDB collection under an existing Azure Cosmos DB database account.","operationId":"MongoDBResources_GetMongoDBCollection","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"collectionName","in":"path","description":"Cosmos DB collection name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The MongoDB collection property was retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MongoDBCollectionGetResults"}}}}}},"put":{"description":"Create or update an Azure Cosmos DB MongoDB Collection","operationId":"MongoDBResources_CreateUpdateMongoDBCollection","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"collectionName","in":"path","description":"Cosmos DB collection name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters to provide for the current MongoDB Collection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MongoDBCollectionCreateUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The MongoDB Collection create or update operation was completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MongoDBCollectionGetResults"}}}},"202":{"description":"The MongoDB Collection create or update operation will complete asynchronously."}}},"delete":{"description":"Deletes an existing Azure Cosmos DB MongoDB Collection.","operationId":"MongoDBResources_DeleteMongoDBCollection","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"collectionName","in":"path","description":"Cosmos DB collection name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"The MongoDB collection delete operation will complete asynchronously."},"204":{"description":"The MongoDB collection delete operation was completed successfully."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbDatabases/{databaseName}/collections/{collectionName}/throughputSettings/default":{"get":{"description":"Gets the RUs per second of the MongoDB collection under an existing Azure Cosmos DB database account with the provided name.","operationId":"MongoDBResources_GetMongoDBCollectionThroughput","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"collectionName","in":"path","description":"Cosmos DB collection name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The RUs per second of the MongoDB collection was retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsGetResults"}}}}}},"put":{"description":"Update the RUs per second of an Azure Cosmos DB MongoDB collection","operationId":"MongoDBResources_UpdateMongoDBCollectionThroughput","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"collectionName","in":"path","description":"Cosmos DB collection name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The RUs per second of the parameters to provide for the current MongoDB collection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The RUs per second of the MongoDB collection update operation was completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsGetResults"}}}},"202":{"description":"The RUs per second of the MongoDB collection update operation will complete asynchronously."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbDatabases/{databaseName}/throughputSettings/default":{"get":{"description":"Gets the RUs per second of the MongoDB database under an existing Azure Cosmos DB database account with the provided name.","operationId":"MongoDBResources_GetMongoDBDatabaseThroughput","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The RUs per second of the MongoDB database was retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsGetResults"}}}}}},"put":{"description":"Update RUs per second of the an Azure Cosmos DB MongoDB database","operationId":"MongoDBResources_UpdateMongoDBDatabaseThroughput","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"databaseName","in":"path","description":"Cosmos DB database name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The RUs per second of the parameters to provide for the current MongoDB database.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The RUs per second of the MongoDB database update operation was completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThroughputSettingsGetResults"}}}},"202":{"description":"The RUs per second of the MongoDB database update operation will complete asynchronously."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/offlineRegion":{"post":{"description":"Offline the specified region for the specified Azure Cosmos DB database account.","operationId":"DatabaseAccounts_OfflineRegion","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Cosmos DB region to offline for the database account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionForOnlineOffline"}}},"required":true},"responses":{"200":{"description":"The offline region operation is completed successfully."},"202":{"description":"Accepted. The offline region operation will complete asynchronously."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/onlineRegion":{"post":{"description":"Online the specified region for the specified Azure Cosmos DB database account.","operationId":"DatabaseAccounts_OnlineRegion","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Cosmos DB region to online for the database account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionForOnlineOffline"}}},"required":true},"responses":{"200":{"description":"The online region operation is completed successfully."},"202":{"description":"Accepted. The online region operation will complete asynchronously."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/percentile/metrics":{"get":{"description":"Retrieves the metrics determined by the given filter for the given database account. This url is only for PBS and Replication Latency data","operationId":"Percentile_ListMetrics","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"An OData filter expression that describes a subset of metrics to return. The parameters that can be filtered are name.value (name of the metric, can have an or of multiple names), startTime, endTime, and timeGrain. The supported operator is eq.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The percentile metrics for the account were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PercentileMetricListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/readonlykeys":{"get":{"description":"Lists the read-only access keys for the specified Azure Cosmos DB database account.","operationId":"DatabaseAccounts_GetReadOnlyKeys","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseAccountListReadOnlyKeysResult"}}}}}},"post":{"description":"Lists the read-only access keys for the specified Azure Cosmos DB database account.","operationId":"DatabaseAccounts_ListReadOnlyKeys","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseAccountListReadOnlyKeysResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/regenerateKey":{"post":{"description":"Regenerates an access key for the specified Azure Cosmos DB database account.","operationId":"DatabaseAccounts_RegenerateKey","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The name of the key to regenerate.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseAccountRegenerateKeyParameters"}}},"required":true},"responses":{"200":{"description":"OK"},"202":{"description":"Accepted. The regenerate key operation will complete asynchronously."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/databases/{databaseRid}/collections/{collectionRid}/metrics":{"get":{"description":"Retrieves the metrics determined by the given filter for the given database account, collection and region.","operationId":"CollectionRegion_ListMetrics","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"region","in":"path","description":"Cosmos DB region, with spaces between words and each word capitalized.","required":true,"schema":{"type":"string"}},{"name":"databaseRid","in":"path","description":"Cosmos DB database rid.","required":true,"schema":{"type":"string"}},{"name":"collectionRid","in":"path","description":"Cosmos DB collection rid.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"An OData filter expression that describes a subset of metrics to return. The parameters that can be filtered are name.value (name of the metric, can have an or of multiple names), startTime, endTime, and timeGrain. The supported operator is eq.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The metrics for the database account were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/databases/{databaseRid}/collections/{collectionRid}/partitionKeyRangeId/{partitionKeyRangeId}/metrics":{"get":{"description":"Retrieves the metrics determined by the given filter for the given partition key range id and region.","operationId":"PartitionKeyRangeIdRegion_ListMetrics","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"region","in":"path","description":"Cosmos DB region, with spaces between words and each word capitalized.","required":true,"schema":{"type":"string"}},{"name":"databaseRid","in":"path","description":"Cosmos DB database rid.","required":true,"schema":{"type":"string"}},{"name":"collectionRid","in":"path","description":"Cosmos DB collection rid.","required":true,"schema":{"type":"string"}},{"name":"partitionKeyRangeId","in":"path","description":"Partition Key Range Id for which to get data.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"An OData filter expression that describes a subset of metrics to return. The parameters that can be filtered are name.value (name of the metric, can have an or of multiple names), startTime, endTime, and timeGrain. The supported operator is eq.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The partition-level metrics for the partition key range id and region were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartitionMetricListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/databases/{databaseRid}/collections/{collectionRid}/partitions/metrics":{"get":{"description":"Retrieves the metrics determined by the given filter for the given collection and region, split by partition.","operationId":"CollectionPartitionRegion_ListMetrics","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"region","in":"path","description":"Cosmos DB region, with spaces between words and each word capitalized.","required":true,"schema":{"type":"string"}},{"name":"databaseRid","in":"path","description":"Cosmos DB database rid.","required":true,"schema":{"type":"string"}},{"name":"collectionRid","in":"path","description":"Cosmos DB collection rid.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"An OData filter expression that describes a subset of metrics to return. The parameters that can be filtered are name.value (name of the metric, can have an or of multiple names), startTime, endTime, and timeGrain. The supported operator is eq.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The partition-level metrics for the collection and region were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartitionMetricListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/metrics":{"get":{"description":"Retrieves the metrics determined by the given filter for the given database account and region.","operationId":"DatabaseAccountRegion_ListMetrics","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"region","in":"path","description":"Cosmos DB region, with spaces between words and each word capitalized.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"An OData filter expression that describes a subset of metrics to return. The parameters that can be filtered are name.value (name of the metric, can have an or of multiple names), startTime, endTime, and timeGrain. The supported operator is eq.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The metrics for the database account were retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sourceRegion/{sourceRegion}/targetRegion/{targetRegion}/percentile/metrics":{"get":{"description":"Retrieves the metrics determined by the given filter for the given account, source and target region. This url is only for PBS and Replication Latency data","operationId":"PercentileSourceTarget_ListMetrics","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"sourceRegion","in":"path","description":"Source region from which data is written. Cosmos DB region, with spaces between words and each word capitalized.","required":true,"schema":{"type":"string"}},{"name":"targetRegion","in":"path","description":"Target region to which data is written. Cosmos DB region, with spaces between words and each word capitalized.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. The current version is 2019-08-01.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"An OData filter expression that describes a subset of metrics to return. The parameters that can be filtered are name.value (name of the metric, can have an or of multiple names), startTime, e
[...]
