{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Pims",
    "description" : "\nHereafter is the documentation of the private API of [Pims: Pointages Intelligents pour le Monde du Spectacle](https://pims.io). This API is designed for 3rd-party softwares, editors and partners. Its main purpose is to give access the core data of a Pims customer (i.e. events, ticket counts and promotions).\n\n## Authentication\nThe API uses [basic access authentication](https://en.wikipedia.org/wiki/Basic_access_authentication), meaning you will need a username and password to get authorized.\n\nAs each customer in Pims has its own domain (e.g. caramba.pims.io, gdp.pims.io...), each credentials will be valid for one domain/customer only. If you need dedicated credentials for one domain, please contact us. (In any case, we will need an explicit agreement from the customer before we create these credentials.)\n\n<div class=\"info\">\nTo make your life easy, you can try all endpoints with the public credentials below, pointing to our [demo domain](https://demo.pims.io):\n  <ul>\n    <li>Base path: `https://demo.pims.io/api`</li>\n    <li>Username: `demo`</li>\n    <li>Password: `q83792db2GCvgYVdKpU3yG3R`</li>\n  </ul>\n</div>\n\n## Response format\nThe API returns JSON and matches the [HAL specification](http://stateless.co/hal_specification.html). The `Content-Type` of each response will be `application/hal+json`, unless an error occurs.\n\nPlease note that this documentation describes all responses “as if” they were plain JSON. The specificities of HAL are ignored on purpose, in order to remain compact and avoid repetition.\n<div style=\"-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-rule: 1px dotted #e0e0e0; -moz-column-rule: 1px dotted #e0e0e0; column-rule: 1px dotted #e0e0e0;\">\n\t<div style=\"display: inline-block; width:100%;\">\n\t\t<strong>So when you read in the doc:</strong>\n<pre><code class=\"lang-json\">{\n\t<span class=\"token string\">\"id\"</span>: <span class=\"token number\">123</span>,\n\t<span class=\"token string\">\"property1\"</span>: <span class=\"token string\">\"Lorem ipsum\"</span>,\n\t<span class=\"token string\">\"object\"</span>: {\n\t\t<span class=\"token string\">\"id\"</span>: <span class=\"token number\">456</span>,\n\t\t<span class=\"token string\">\"property2\"</span>: <span class=\"token number\">7.89</span>\n\t}\n}</code></pre>\n\t</div>\n\t<div style=\"display: inline-block; width:100%;\">\n\t\t<strong>... you'll get in the Real World®:</strong>\n<pre><code class=\"lang-json\">{\n\t<span class=\"token string\">\"id\"</span>: <span class=\"token number\">123</span>,\n\t<span class=\"token string\">\"property2\"</span>: <span class=\"token string\">\"Lorem ipsum\"</span>,\n\t<span class=\"token string\">\"_embedded\"</span>: {\n\t\t<span class=\"token string\">\"object\"</span>: {\n\t\t\t<span class=\"token string\">\"id\"</span>: <span class=\"token number\">456</span>,\n\t\t\t<span class=\"token string\">\"property2\"</span>: <span class=\"token number\">7.89</span>,\n\t\t\t<span class=\"token string\">\"_links\"</span>: {\n\t\t\t\t<span class=\"token string\">\"self\"</span>: {\n\t\t\t\t\t<span class=\"token string\">\"href\"</span>: <span class=\"token string\">\"https://api.mydomain.com/other-item/456\"</span>\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n\t<span class=\"token string\">\"_links\"</span>: {\n\t\t<span class=\"token string\">\"self\"</span>: {\n\t\t\t<span class=\"token string\">\"href\"</span>: <span class=\"token string\">\"https://api.mydomain.com/item/123\"</span>\n\t\t}\n\t}\n}</code></pre>\n\t</div>\n</div>\n\n### Errors\nErrors return JSON too and tries to match the [Problem Details for HTTP APIs specification](https://tools.ietf.org/html/rfc7807). If it does not match this spec, that's either a bug or a compatibility issue. Please contact us to solve the problem.\n\nThe `Content-Type` of errors will be `application/problem+json`. The content will match the following JSON:\n```json\n{\n\t\"type\": \"https://tools.ietf.org/html/rfc2616#section-10\",\n    \"title\": \"Not Found\",\n\t\"status\": 404,\n    \"detail\": \"Entity not found\"\n}\n```\n\n## Versioning\nThe API is fully versionned, using an URL-versioning scheme: `https://demo.pims.io/api/v1/events`, `https://demo.pims.io/api/v2/events`,...\n\nThe version part of the URL is optional, and will be completed with the last stable version if omitted.\n\n## Pagination\nAll responses corresponding to a collection of resources (e.g. `/venues` or `/series/:id/events`) are paginated. When so, you will only get the first 25 resources you asked for.\n\nIf you need to get more resources in one call, you can use the `page_size` query parameter. E.g. `/venues?page_size=50` to get the 50 first venues.\n\nAlso note that with HAL, the navigation in paginated responses is a piece of cake, as you can see below:\n```json\n{\n\t\"_links\": {\n\t\t\"self\": {\n\t\t\t\"href\": \"https://demo.pims.io/api/v1/events?page=1\"\n\t\t},\n\t\t\"first\": {\n\t\t\t\"href\": \"https://demo.pims.io/api/v1/events\"\n\t\t},\n\t\t\"last\": {\n\t\t\t\"href\": \"https://demo.pims.io/api/v1/events?page=14\"\n\t\t},\n\t\t\"next\": {\n\t\t\t\"href\": \"https://demo.pims.io/api/v1/events?page=2\"\n\t\t}\n\t},\n\t\"_embedded\": {\n \t\t... // data content goes here\n\t},\n\t\"page_count\": 14,\n\t\"page_size\": 25,\n\t\"total_items\": 331,\n\t\"page\": 1\n}\n```\n\n## Filtering and sorting\nEvery textual filter (e.g. `/events?label=U2`) and/or sort (e.g. `/events?sort=label`) performed with the API uses UTF8_UNICODE_CI collation, meaning it is:\n- Case insensitive: “Chloé” will be considered the same as “CHLOÉ”;\n- Diacritic insensitive: “Chloé” will be considered the same as “Chloe”.\n\nWhen performing a sort, it will always be *ascending* by default. To make it *descending*, just use a minus sign (`-`) in front of the parameter value (e.g. `/events?sort=-label`).\n\n## I18n\nIn responses, some labels can be translated (e.g. promotion types, event input types, etc.). These translatable labels are clearly indicated in the documentation below.\n\nBy default, they will be displayed in English, but you can change this behaviour via the `Accept-Language` header. E.g., use `fr` as a value for French.\n\n## PHP SDK\nWe provide a simple yet convenient SDK for the PHP language, see [the Github page of the project](https://github.com/pimssas/pims-api-client-php).\n\n## And now?\nGeneraly, you will start by [fetching one or more events](#tag/Events). An <span class=\"definition\">event</span> can be anything that occurs in one venue at one given date and time: a concert, a play, a match, a conference, etc. Additionnally, you can explore the [series](#tag/Series): a <span class=\"definition\">series</span> is just a group of events (e.g. a tour or a festival).\n\nOnce you retrieved the events you were interested in, you can look for the sales (<span class=\"definition\">ticket counts</span>):\n- Get a quick overview with [`/events/:id/ticket-counts`](#operation/fetchAllTicketCounts)\n- Or get a full insight by calling these endpoints:\n    1. [`/events/:id/categories`](#operation/fetchAllEventsCategories)\n    2. [`/events/:id/channels`](#operation/fetchAllEventsChannels)\n    3. [`/events/:id/ticket-counts/detailed`](#operation/fetchAllDetailedTicketCounts)\n\nEventually, you may also want to fetch the [promotions](#tag/Promotions). A <span class=\"definition\">promotion</span> can be anything meant to leverage the sales: ads, marketing campaigns, buzz or news around the event, etc. A promotion can be linked to any combination of events and/or series.",
    "contact" : {
      "email" : "support@pims.io"
    },
    "license" : {
      "name" : "Creative Commons CC BY-NC-ND 2.0",
      "url" : "https://creativecommons.org/licenses/by-nc-nd/2.0/"
    },
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://demo.pims.io/api/v1"
  } ],
  "security" : [ null ],
  "paths" : {
    "/categories" : {
      "get" : {
        "tags" : [ "Categories" ],
        "summary" : "Find all categories",
        "operationId" : "fetchAllCategories",
        "parameters" : [ {
          "name" : "label",
          "in" : "query",
          "description" : "Find only the categories whose label/short label contains this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "show_ignored",
          "in" : "query",
          "description" : "If set to `false`, show only the categories which are not ignored. If set to `true`, show all categories.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort the categories in the corresponding order.",
          "schema" : {
            "type" : "string",
            "default" : "order",
            "enum" : [ "label", "-label", "order", "-order" ]
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of categories",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CategoriesEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/categories/{category_id}" : {
      "get" : {
        "tags" : [ "Categories" ],
        "summary" : "Get one category by ID",
        "operationId" : "fetchOneCategory",
        "parameters" : [ {
          "name" : "category_id",
          "in" : "path",
          "description" : "ID of the targeted category.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives one category",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CategoriesEntity"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error404"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/channels" : {
      "get" : {
        "tags" : [ "Channels" ],
        "summary" : "Find all channels",
        "operationId" : "fetchAllChannels",
        "parameters" : [ {
          "name" : "label",
          "in" : "query",
          "description" : "Find only the channels whose label contains this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "show_ignored",
          "in" : "query",
          "description" : "If set to `false`, show only the channels which are not ignored. If set to `true`, show all channels.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort the channels in the corresponding order.",
          "schema" : {
            "type" : "string",
            "default" : "label",
            "enum" : [ "label", "-label", "order", "-order" ]
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of channels",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ChannelsEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}" : {
      "get" : {
        "tags" : [ "Channels" ],
        "summary" : "Get one channel by ID",
        "operationId" : "fetchOneChannel",
        "parameters" : [ {
          "name" : "channel_id",
          "in" : "path",
          "description" : "ID of the targeted channel.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives one channel",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChannelsEntity"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error404"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/events" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Find all events",
        "operationId" : "fetchAllEvents",
        "parameters" : [ {
          "name" : "label",
          "in" : "query",
          "description" : "Find only the events whose label contains this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from_datetime",
          "in" : "query",
          "description" : "Find only the events starting after this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "to_datetime",
          "in" : "query",
          "description" : "Find only the events starting before this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "city",
          "in" : "query",
          "description" : "Find only the events whose venue city (or metropolitan area) contains this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort the events in the corresponding order.",
          "schema" : {
            "type" : "string",
            "default" : "label",
            "enum" : [ "label", "-label", "datetime", "-datetime", "venue_label", "-venue_label", "city", "-city" ]
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of events",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EventsEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Get one event by ID",
        "operationId" : "fetchOneEvent",
        "parameters" : [ {
          "name" : "event_id",
          "in" : "path",
          "description" : "ID of the targeted event.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives one event",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventsEntity"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error404"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}/capacities" : {
      "get" : {
        "tags" : [ "Capacities" ],
        "summary" : "Find all capacities for one event",
        "operationId" : "fetchAllEventsCapacities",
        "parameters" : [ {
          "name" : "event_id",
          "in" : "path",
          "description" : "ID of the targeted event.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "show_ignored",
          "in" : "query",
          "description" : "If set to `false`, show only the [event-]categories which are not ignored. If set to `true`, show everything.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort the capacities in the corresponding order.",
          "schema" : {
            "type" : "string",
            "default" : "date",
            "enum" : [ "date", "-date" ]
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of events capacities",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EventsCapacitiesEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}/capacities/{capacity_id}" : {
      "get" : {
        "tags" : [ "Capacities" ],
        "summary" : "Get one capacity by ID",
        "operationId" : "fetchOneEventCapacity",
        "parameters" : [ {
          "name" : "event_id",
          "in" : "path",
          "description" : "ID of the targeted event.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "capacity_id",
          "in" : "path",
          "description" : "ID of the targeted capacity.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "show_ignored",
          "in" : "query",
          "description" : "If set to `false`, show only the [event-]categories which are not ignored. If set to `true`, show everything.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives one event capacity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventsCapacitiesEntity"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error404"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}/categories" : {
      "get" : {
        "tags" : [ "Categories" ],
        "summary" : "Find all categories for one event",
        "operationId" : "fetchAllEventsCategories",
        "parameters" : [ {
          "name" : "event_id",
          "in" : "path",
          "description" : "ID of the targeted event.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "show_ignored",
          "in" : "query",
          "description" : "If set to `false`, show only the [event-]categories/[event-]price ranges which are not ignored. If set to `true`, show everything.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of events categories",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EventsCategoriesEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}/categories/{category_id}" : {
      "get" : {
        "tags" : [ "Categories" ],
        "summary" : "Get one event category by ID",
        "operationId" : "fetchOneEventCategory",
        "parameters" : [ {
          "name" : "event_id",
          "in" : "path",
          "description" : "ID of the targeted event.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "category_id",
          "in" : "path",
          "description" : "ID of the targeted event category.",
          "required" : true,
          "schema" : {
            "type" : "number",
            "format" : "int32"
          }
        }, {
          "name" : "show_ignored",
          "in" : "query",
          "description" : "If set to `false`, show only the embedded [event-]price ranges which are not ignored. If set to `true`, show everything.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives one event category",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventsCategoriesEntity"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error404"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}/channels" : {
      "get" : {
        "tags" : [ "Channels" ],
        "summary" : "Find all channels for one event",
        "operationId" : "fetchAllEventsChannels",
        "parameters" : [ {
          "name" : "event_id",
          "in" : "path",
          "description" : "ID of the targeted event.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "show_ignored",
          "in" : "query",
          "description" : "If set to `false`, show only the [event-]channels which are not ignored. If set to `true`, show everything.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of events channels",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EventsChannelsEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}/channels/{channel_id}" : {
      "get" : {
        "tags" : [ "Channels" ],
        "summary" : "Get one event channel by ID",
        "operationId" : "fetchOneEventChannel",
        "parameters" : [ {
          "name" : "event_id",
          "in" : "path",
          "description" : "ID of the targeted event.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "channel_id",
          "in" : "path",
          "description" : "ID of the targeted event channel.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives one event channel",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventsChannelsEntity"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error404"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}/promotions" : {
      "get" : {
        "tags" : [ "Promotions" ],
        "summary" : "Find all promotions for one event",
        "operationId" : "fetchAllEventsPromotions",
        "parameters" : [ {
          "name" : "event_id",
          "in" : "path",
          "description" : "ID of the targeted event.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "label",
          "in" : "query",
          "description" : "Find only the promotions whose label contains this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from_date",
          "in" : "query",
          "description" : "Find only the promotions starting after this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "to_date",
          "in" : "query",
          "description" : "Find only the promotions ending before this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Find only the promotions whose type is equal to this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "family",
          "in" : "query",
          "description" : "Find only the promotions whose family is equal to this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort the promotions in the corresponding order.",
          "schema" : {
            "type" : "string",
            "default" : "date",
            "enum" : [ "date", "-date", "total_cost", "-total_cost" ]
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of promotions",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PromotionsEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}/ticket-counts" : {
      "get" : {
        "tags" : [ "Counts" ],
        "summary" : "Find all ticket counts for one event",
        "operationId" : "fetchAllTicketCounts",
        "parameters" : [ {
          "name" : "event_id",
          "in" : "path",
          "description" : "ID of the targeted event.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "from_date",
          "in" : "query",
          "description" : "Find only the ticket counts after this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "to_date",
          "in" : "query",
          "description" : "Find only the ticket counts before this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "show_ignored",
          "in" : "query",
          "description" : "If set to `false`, show only the [event-]categories/[event-]price ranges/[event]channels which are not ignored. If set to `true`, show everything.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "show_not_approved",
          "in" : "query",
          "description" : "If set to `false`, show only the approved ticket counts. If set to `true`, show all the ticket counts.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort the ticket counts in the corresponding order.",
          "schema" : {
            "type" : "string",
            "default" : "date",
            "enum" : [ "date", "-date" ]
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of ticket counts",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TicketCountsEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}/ticket-counts/detailed" : {
      "get" : {
        "tags" : [ "Counts" ],
        "summary" : "Find all detailed ticket counts for one event",
        "operationId" : "fetchAllDetailedTicketCounts",
        "parameters" : [ {
          "name" : "event_id",
          "in" : "path",
          "description" : "ID of the targeted event.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "from_date",
          "in" : "query",
          "description" : "Find only the ticket counts after this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "to_date",
          "in" : "query",
          "description" : "Find only the ticket counts before this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "show_ignored",
          "in" : "query",
          "description" : "If set to `false`, show only the [event-]categories/[event-]price ranges/[event]channels which are not ignored. If set to `true`, show everything.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "show_not_approved",
          "in" : "query",
          "description" : "If set to `false`, show only the approved ticket counts. If set to `true`, show all the ticket counts.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort the ticket counts in the corresponding order.",
          "schema" : {
            "type" : "string",
            "default" : "date",
            "enum" : [ "date", "-date" ]
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of detailed ticket counts",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TicketCountsDetailedEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}/ticket-counts/detailed/{ticket_count_id}" : {
      "get" : {
        "tags" : [ "Counts" ],
        "summary" : "Get one detailed ticket count by ID",
        "operationId" : "fetchOneDetailedTicketCount",
        "parameters" : [ {
          "name" : "event_id",
          "in" : "path",
          "description" : "ID of the targeted event.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "ticket_count_id",
          "in" : "path",
          "description" : "ID of the targeted ticket count.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "show_ignored",
          "in" : "query",
          "description" : "If set to `false`, show only the [event-]categories/[event-]price ranges/[event]channels which are not ignored. If set to `true`, show everything.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives one detailed ticket count",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TicketCountsDetailedEntity"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error404"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}/ticket-counts/{ticket_count_id}" : {
      "get" : {
        "tags" : [ "Counts" ],
        "summary" : "Get one ticket count by ID",
        "operationId" : "fetchOneTicketCount",
        "parameters" : [ {
          "name" : "event_id",
          "in" : "path",
          "description" : "ID of the targeted event.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "ticket_count_id",
          "in" : "path",
          "description" : "ID of the targeted ticket count.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "show_ignored",
          "in" : "query",
          "description" : "If set to `false`, show only the [event-]categories/[event-]price ranges/[event]channels which are not ignored. If set to `true`, show everything.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives one ticket count",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TicketCountsEntity"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error404"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/price-ranges" : {
      "get" : {
        "tags" : [ "Price ranges" ],
        "summary" : "Find all price ranges",
        "operationId" : "fetchAllPriceRanges",
        "parameters" : [ {
          "name" : "label",
          "in" : "query",
          "description" : "Find only the price ranges whose label contains this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "show_ignored",
          "in" : "query",
          "description" : "If set to `false`, show only the price ranges which are not ignored. If set to `true`, show all price ranges.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort the price ranges in the corresponding order.",
          "schema" : {
            "type" : "string",
            "default" : "label",
            "enum" : [ "label", "-label", "order", "-order" ]
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of price ranges",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PriceRangesEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/price-ranges/{price_range_id}" : {
      "get" : {
        "tags" : [ "Price ranges" ],
        "summary" : "Get one price range by ID",
        "operationId" : "fetchOnePriceRange",
        "parameters" : [ {
          "name" : "price_range_id",
          "in" : "path",
          "description" : "ID of the targeted price range.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives one price range",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VenuesEntity"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error404"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/promotions" : {
      "get" : {
        "tags" : [ "Promotions" ],
        "summary" : "Find all promotions",
        "operationId" : "fetchAllPromotions",
        "parameters" : [ {
          "name" : "label",
          "in" : "query",
          "description" : "Find only the promotions whose label contains this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from_date",
          "in" : "query",
          "description" : "Find only the promotions starting after this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "to_date",
          "in" : "query",
          "description" : "Find only the promotions ending before this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Find only the promotions whose type is equal to this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "family",
          "in" : "query",
          "description" : "Find only the promotions whose family is equal to this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort the promotions in the corresponding order.",
          "schema" : {
            "type" : "string",
            "default" : "date",
            "enum" : [ "date", "-date", "total_cost", "-total_cost" ]
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of promotions",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PromotionsEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/promotions/{promotion_id}" : {
      "get" : {
        "tags" : [ "Promotions" ],
        "summary" : "Get one promotion by ID",
        "operationId" : "fetchOnePromotion",
        "parameters" : [ {
          "name" : "promotion_id",
          "in" : "path",
          "description" : "ID of the targeted promotion.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives one promotion",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PromotionsEntity"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error404"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/series" : {
      "get" : {
        "tags" : [ "Series" ],
        "summary" : "Find all series",
        "operationId" : "fetchAllSeries",
        "parameters" : [ {
          "name" : "label",
          "in" : "query",
          "description" : "Find only the venues whose label contains this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from_date",
          "in" : "query",
          "description" : "Find only the series starting after this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "to_date",
          "in" : "query",
          "description" : "Find only the series ending before this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Find only the series whose type is equal to this value.",
          "schema" : {
            "type" : "string",
            "enum" : [ "TOU", "LGS" ]
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort the series in the corresponding order.",
          "schema" : {
            "type" : "string",
            "default" : "first_date",
            "enum" : [ "label", "-label", "first_date", "-first_date", "last_date", "-last_date" ]
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of series",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SeriesEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/series/{series_id}" : {
      "get" : {
        "tags" : [ "Series" ],
        "summary" : "Get one series by ID",
        "operationId" : "fetchOneSeries",
        "parameters" : [ {
          "name" : "series_id",
          "in" : "path",
          "description" : "ID of the targeted series.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives one series",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SeriesEntity"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error404"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/series/{series_id}/events" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Find all events for one series",
        "operationId" : "fetchAllSeriesEvents",
        "parameters" : [ {
          "name" : "series_id",
          "in" : "path",
          "description" : "ID of the targeted series.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "from_datetime",
          "in" : "query",
          "description" : "Find only the events starting after this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "to_datetime",
          "in" : "query",
          "description" : "Find only the events starting before this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "city",
          "in" : "query",
          "description" : "Find only the events whose venue city (or metropolitan area) contains this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort the events in the corresponding order.",
          "schema" : {
            "type" : "string",
            "default" : "label",
            "enum" : [ "label", "-label", "datetime", "-datetime", "venue_label", "-venue_label", "city", "-city" ]
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of events",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EventsEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/series/{series_id}/promotions" : {
      "get" : {
        "tags" : [ "Promotions" ],
        "summary" : "Find all promotions for one series",
        "operationId" : "fetchAllSeriesPromotions",
        "parameters" : [ {
          "name" : "series_id",
          "in" : "path",
          "description" : "ID of the targeted series.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "label",
          "in" : "query",
          "description" : "Find only the promotions whose label contains this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from_date",
          "in" : "query",
          "description" : "Find only the promotions starting after this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "to_date",
          "in" : "query",
          "description" : "Find only the promotions ending before this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Find only the promotions whose type is equal to this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "family",
          "in" : "query",
          "description" : "Find only the promotions whose family is equal to this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort the promotions in the corresponding order.",
          "schema" : {
            "type" : "string",
            "default" : "date",
            "enum" : [ "date", "-date", "total_cost", "-total_cost" ]
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of promotions",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PromotionsEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/venues" : {
      "get" : {
        "tags" : [ "Venues" ],
        "summary" : "Find all venues",
        "operationId" : "fetchAllVenues",
        "parameters" : [ {
          "name" : "label",
          "in" : "query",
          "description" : "Find only the venues whose label contains this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "city",
          "in" : "query",
          "description" : "Find only the venues whose city contains this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "country_code",
          "in" : "query",
          "description" : "Find only the venues whose country_code is equal to this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Find only the venues whose type is equal to this value.",
          "schema" : {
            "type" : "string",
            "enum" : [ "SAL", "FES" ]
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort the venues in the corresponding order.",
          "schema" : {
            "type" : "string",
            "default" : "label",
            "enum" : [ "label", "-label", "city", "-city", "country", "-country" ]
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of venues",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/VenuesEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/venues/{venue_id}" : {
      "get" : {
        "tags" : [ "Venues" ],
        "summary" : "Get one venue by ID",
        "operationId" : "fetchOneVenue",
        "parameters" : [ {
          "name" : "venue_id",
          "in" : "path",
          "description" : "ID of the targeted venue.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives one venue",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VenuesEntity"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error404"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/venues/{venue_id}/events" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Find all events for one venue",
        "operationId" : "fetchAllVenuesEvents",
        "parameters" : [ {
          "name" : "venue_id",
          "in" : "path",
          "description" : "ID of the targeted venue.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "from_datetime",
          "in" : "query",
          "description" : "Find only the events starting after this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "to_datetime",
          "in" : "query",
          "description" : "Find only the events starting before this date.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "city",
          "in" : "query",
          "description" : "Find only the events whose venue city (or metropolitan area) contains this value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort the events in the corresponding order.",
          "schema" : {
            "type" : "string",
            "default" : "label",
            "enum" : [ "label", "-label", "datetime", "-datetime", "venue_label", "-venue_label", "city", "-city" ]
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Pagination size, i.e. maximum number of items to be displayed in the response.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 25
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Language used for the translatable labels.",
          "schema" : {
            "type" : "string",
            "default" : "en",
            "enum" : [ "de", "en", "fr" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, gives an array of events",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EventsEntity"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized, no authentication was made",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden, the authentication is wrong",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error422"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CategoriesEntity" : {
        "title" : "Category",
        "required" : [ "id", "ignored", "label", "last_update_timestamp", "short_label" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Unique ID of the category.",
            "format" : "int32",
            "example" : 123
          },
          "ignored" : {
            "type" : "boolean",
            "description" : "Defines whether this category is ignored or not.",
            "example" : false
          },
          "label" : {
            "type" : "string",
            "description" : "Full label of the category.",
            "example" : "CATEGORY 1"
          },
          "last_update_timestamp" : {
            "type" : "integer",
            "description" : "Timestamp for when the category was last updated in the customer's database.",
            "format" : "int64",
            "example" : 1516500001
          },
          "short_label" : {
            "type" : "string",
            "description" : "Short label of the category (generally less than 5 characters).",
            "nullable" : true,
            "example" : "CAT1"
          }
        }
      },
      "ChannelsEntity" : {
        "title" : "Channel",
        "required" : [ "id", "ignored", "label", "last_update_timestamp", "short_label" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Unique ID of the channel.",
            "format" : "int32",
            "example" : 123
          },
          "ignored" : {
            "type" : "boolean",
            "description" : "Defines whether this channel is ignored or not.",
            "example" : false
          },
          "label" : {
            "type" : "string",
            "description" : "Full label of the channel.",
            "example" : "TICKETMASTER"
          },
          "last_update_timestamp" : {
            "type" : "integer",
            "description" : "Timestamp for when the channel was last updated in the customer's database.",
            "format" : "int64",
            "example" : 1516500001
          },
          "short_label" : {
            "type" : "string",
            "description" : "Short label of the channel (generally less than 5 characters).",
            "nullable" : true,
            "example" : "TKM"
          }
        }
      },
      "Error401" : {
        "required" : [ "detail", "status", "title", "type" ],
        "type" : "object",
        "properties" : {
          "detail" : {
            "type" : "string",
            "description" : "Description of the error.",
            "example" : "Unauthorized"
          },
          "status" : {
            "type" : "integer",
            "description" : "Status code of the error.",
            "format" : "int32",
            "example" : 401
          },
          "title" : {
            "type" : "string",
            "description" : "Message corresponding to the status code.",
            "example" : "Unauthorized"
          },
          "type" : {
            "type" : "string",
            "description" : "Link to RFC 2616 about status codes definitions.",
            "example" : "https://tools.ietf.org/html/rfc2616#section-10"
          }
        }
      },
      "Error403" : {
        "required" : [ "detail", "status", "title", "type" ],
        "type" : "object",
        "properties" : {
          "detail" : {
            "type" : "string",
            "description" : "Description of the error.",
            "example" : "Forbidden"
          },
          "status" : {
            "type" : "integer",
            "description" : "Status code of the error.",
            "format" : "int32",
            "example" : 403
          },
          "title" : {
            "type" : "string",
            "description" : "Message corresponding to the status code.",
            "example" : "Forbidden"
          },
          "type" : {
            "type" : "string",
            "description" : "Link to RFC 2616 about status codes definitions.",
            "example" : "https://tools.ietf.org/html/rfc2616#section-10"
          }
        }
      },
      "Error404" : {
        "required" : [ "detail", "status", "title", "type" ],
        "type" : "object",
        "properties" : {
          "detail" : {
            "type" : "string",
            "description" : "Description of the error.",
            "example" : "Entity not found."
          },
          "status" : {
            "type" : "integer",
            "description" : "Status code of the error.",
            "format" : "int32",
            "example" : 404
          },
          "title" : {
            "type" : "string",
            "description" : "Message corresponding to the status code.",
            "example" : "Not Found"
          },
          "type" : {
            "type" : "string",
            "description" : "Link to RFC 2616 about status codes definitions.",
            "example" : "https://tools.ietf.org/html/rfc2616#section-10"
          }
        }
      },
      "Error422" : {
        "required" : [ "detail", "status", "title", "type" ],
        "type" : "object",
        "properties" : {
          "detail" : {
            "type" : "string",
            "description" : "Description of the error.",
            "example" : "Unknown date format, should be 'Y-m-d?H:i:s'"
          },
          "status" : {
            "type" : "integer",
            "description" : "Status code of the error.",
            "format" : "int32",
            "example" : 422
          },
          "title" : {
            "type" : "string",
            "description" : "Message corresponding to the status code.",
            "example" : "Unprocessable Entity"
          },
          "type" : {
            "type" : "string",
            "description" : "Link to RFC 2616 about status codes definitions.",
            "example" : "https://tools.ietf.org/html/rfc2616#section-10"
          }
        }
      },
      "Error500" : {
        "required" : [ "detail", "status", "title", "type" ],
        "type" : "object",
[...]
