{"openapi":"3.0.1","info":{"title":"windowsesu","description":"Manage Multi-Access Keys (MAK) that enable Windows Extended Security Updates (ESU).","version":"2019-09-16-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.WindowsESU/operations":{"get":{"tags":["Operations"],"description":"List all available Windows.ESU provider operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.WindowsESU/multipleActivationKeys":{"get":{"tags":["MultipleActivationKeys"],"description":"List all Multiple Activation Keys (MAK) created for a subscription.","operationId":"MultipleActivationKeys_List","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultipleActivationKeyList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WindowsESU/multipleActivationKeys":{"get":{"tags":["MultipleActivationKeys"],"description":"List all Multiple Activation Keys (MAK) in a resource group.","operationId":"MultipleActivationKeys_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultipleActivationKeyList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WindowsESU/multipleActivationKeys/{multipleActivationKeyName}":{"get":{"tags":["MultipleActivationKeys"],"description":"Get a MAK key.","operationId":"MultipleActivationKeys_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"multipleActivationKeyName","in":"path","description":"The name of the MAK key.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultipleActivationKey"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["MultipleActivationKeys"],"description":"Create a MAK key.","operationId":"MultipleActivationKeys_Create","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"multipleActivationKeyName","in":"path","description":"The name of the MAK key.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Details of the MAK key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultipleActivationKey"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultipleActivationKey"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultipleActivationKey"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["MultipleActivationKeys"],"description":"Delete a MAK key.","operationId":"MultipleActivationKeys_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"multipleActivationKeyName","in":"path","description":"The name of the MAK key.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["MultipleActivationKeys"],"description":"Update a MAK key.","operationId":"MultipleActivationKeys_Update","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"multipleActivationKeyName","in":"path","description":"The name of the MAK key.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Details of the MAK key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultipleActivationKeyUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultipleActivationKey"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"ErrorDefinition":{"type":"object","properties":{"code":{"type":"string","description":"Service specific error code which serves as the substatus for the HTTP error code.","readOnly":true},"details":{"type":"array","description":"Internal error details.","readOnly":true,"items":{"$ref":"#/components/schemas/ErrorDefinition"}},"message":{"type":"string","description":"Description of the error.","readOnly":true}},"description":"Error definition."},"ErrorResponse":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDefinition"}},"description":"Error response."},"MultipleActivationKey":{"properties":{"properties":{"type":"object","properties":{"agreementNumber":{"type":"string","description":"Agreement number under which the key is requested."},"expirationDate":{"type":"string","description":"End of support of security updates activated by the MAK key.","format":"date-time","readOnly":true},"installedServerNumber":{"maximum":5000,"minimum":1,"type":"integer","description":"Number of activations/servers using the MAK key."},"isEligible":{"type":"boolean","description":"<code> true </code> if user has eligible on-premises Windows physical or virtual machines, and that the requested key will only be used in their organization; <code> false </code> otherwise."},"multipleActivationKey":{"type":"string","description":"MAK 5x5 key.","readOnly":true},"osType":{"type":"string","description":"Type of OS for which the key is requested.","enum":["Windows7","WindowsServer2008","WindowsServer2008R2"]},"provisioningState":{"type":"string","readOnly":true,"enum":["Succeeded","Failed","Canceled","Accepted","Provisioning"]},"supportType":{"type":"string","description":"Type of support","default":"SupplementalServicing","enum":["SupplementalServicing","PremiumAssurance"]}},"description":"MAK key specific properties."}},"description":"MAK key details.","allOf":[{"properties":{"location":{"type":"string","description":"The geo-location where the resource lives"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"The resource model definition for a ARM tracked top level resource","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"MultipleActivationKeyList":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to the next page of resources.","readOnly":true},"value":{"type":"array","description":"List of MAK keys.","items":{"$ref":"#/components/schemas/MultipleActivationKey"}}},"description":"List of MAK keys."},"MultipleActivationKeyUpdate":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"MAK key details."},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/OperationDisplay"},"name":{"type":"string","description":"Name of the operation.","readOnly":true}},"description":"REST API operation details."},"OperationDisplay":{"type":"object","properties":{"description":{"type":"string"},"operation":{"type":"string"},"provider":{"type":"string"},"resource":{"type":"string"}},"description":"Meta data about operation used for display in portal."},"OperationList":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to the next page of resources.","readOnly":true},"value":{"type":"array","description":"List of operations.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"List of available REST API operations."}},"parameters":{"MultipleActivationKeyNameParameter":{"name":"multipleActivationKeyName","in":"path","description":"The name of the MAK key.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}