{"openapi":"3.0.1","info":{"title":"StreamAnalyticsManagementClient","version":"2016-03-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/transformations/{transformationName}":{"get":{"tags":["Transformations"],"description":"Gets details about the specified transformation.","operationId":"Transformations_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"transformationName","in":"path","description":"The name of the transformation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the specified transformation.","headers":{"ETag":{"description":"The current entity tag for the transformation. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transformation"}}}}}},"put":{"tags":["Transformations"],"description":"Creates a transformation or replaces an already existing transformation under an existing streaming job.","operationId":"Transformations_CreateOrReplace","parameters":[{"name":"If-Match","in":"header","description":"The ETag of the transformation. Omit this value to always overwrite the current transformation. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.","schema":{"type":"string"}},{"name":"If-None-Match","in":"header","description":"Set to '*' to allow a new transformation to be created, but to prevent updating an existing transformation. Other values will result in a 412 Pre-condition Failed response.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"transformationName","in":"path","description":"The name of the transformation.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The definition of the transformation that will be used to create a new transformation or replace the existing one under the streaming job.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transformation"}}},"required":true},"responses":{"200":{"description":"The transformation was successfully created or replaced.","headers":{"ETag":{"description":"The current entity tag for the transformation. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transformation"}}}},"201":{"description":"The transformation was successfully created or replaced.","headers":{"ETag":{"description":"The current entity tag for the transformation. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transformation"}}}}}},"patch":{"tags":["Transformations"],"description":"Updates an existing transformation under an existing streaming job. This can be used to partially update (ie. update one or two properties) a transformation without affecting the rest the job or transformation definition.","operationId":"Transformations_Update","parameters":[{"name":"If-Match","in":"header","description":"The ETag of the transformation. Omit this value to always overwrite the current transformation. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"transformationName","in":"path","description":"The name of the transformation.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"A Transformation object. The properties specified here will overwrite the corresponding properties in the existing transformation (ie. Those properties will be updated). Any properties that are set to null here will mean that the corresponding property in the existing transformation will remain the same and not change as a result of this PATCH operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transformation"}}},"required":true},"responses":{"200":{"description":"The transformation was successfully updated.","headers":{"ETag":{"description":"The current entity tag for the transformation. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transformation"}}}}}}}},"components":{"schemas":{"SubResource":{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"The base sub-resource model definition."},"Transformation":{"properties":{"properties":{"$ref":"#/components/schemas/TransformationProperties"}},"description":"A transformation object, containing all information associated with the named transformation. All transformations are contained under a streaming job.","allOf":[{"$ref":"#/components/schemas/SubResource"}]},"TransformationProperties":{"type":"object","properties":{"etag":{"type":"string","description":"The current entity tag for the transformation. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","readOnly":true},"query":{"type":"string","description":"Specifies the query that will be run in the streaming job. You can learn more about the Stream Analytics Query Language (SAQL) here: https://msdn.microsoft.com/library/azure/dn834998 . Required on PUT (CreateOrReplace) requests."},"streamingUnits":{"type":"integer","description":"Specifies the number of streaming units that the streaming job uses.","format":"int32"}},"description":"The properties that are associated with a transformation."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},"StreamingJobNameParameter":{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},"TransformationNameParameter":{"name":"transformationName","in":"path","description":"The name of the transformation.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}