{"openapi":"3.0.1","info":{"title":"Update Management","description":"APIs for managing software update configurations.","contact":{"name":"Mohamed Enein"},"version":"2017-05-15-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurations":{"get":{"tags":["Software Update Configuration"],"description":"Get all software update configurations for the account.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"},"operationId":"SoftwareUpdateConfigurations_List","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"clientRequestId","in":"header","description":"Identifies this specific client request.","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation.","schema":{"type":"string"}}],"responses":{"200":{"description":"Return list of software update configurations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/softwareUpdateConfigurationListResult"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurations/{softwareUpdateConfigurationName}":{"get":{"tags":["Software Update Configuration"],"description":"Get a single software update configuration by name.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"},"operationId":"SoftwareUpdateConfigurations_GetByName","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"softwareUpdateConfigurationName","in":"path","description":"The name of the software update configuration to be created.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"clientRequestId","in":"header","description":"Identifies this specific client request.","schema":{"type":"string"}}],"responses":{"200":{"description":"A single software update configuration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/softwareUpdateConfiguration"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"put":{"tags":["Software Update Configuration"],"description":"Create a new software update configuration with the name given in the URI.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"},"operationId":"SoftwareUpdateConfigurations_Create","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"softwareUpdateConfigurationName","in":"path","description":"The name of the software update configuration to be created.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"clientRequestId","in":"header","description":"Identifies this specific client request.","schema":{"type":"string"}}],"requestBody":{"description":"Request body.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/softwareUpdateConfiguration"}}},"required":true},"responses":{"200":{"description":"Software update configuration with the same name and properties already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/softwareUpdateConfiguration"}}}},"201":{"description":"Software update configuration is created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/softwareUpdateConfiguration"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"delete":{"tags":["Software Update Configuration"],"description":"delete a specific software update configuration.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"},"operationId":"SoftwareUpdateConfigurations_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"softwareUpdateConfigurationName","in":"path","description":"The name of the software update configuration to be created.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"clientRequestId","in":"header","description":"Identifies this specific client request.","schema":{"type":"string"}}],"responses":{"200":{"description":"The software update configuration has been deleted."},"204":{"description":"The software update configuration does not exist."},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}}},"components":{"schemas":{"AdvancedSchedule":{"type":"object","properties":{"monthDays":{"type":"array","description":"Days of the month that the job should execute on. Must be between 1 and 31.","items":{"type":"integer","format":"int32","nullable":false}},"monthlyOccurrences":{"type":"array","description":"Occurrences of days within a month.","items":{"$ref":"#/components/schemas/AdvancedScheduleMonthlyOccurrence"}},"weekDays":{"type":"array","description":"Days of the week that the job should execute on.","items":{"type":"string"}}},"description":"The properties of the create Advanced Schedule."},"AdvancedScheduleMonthlyOccurrence":{"type":"object","properties":{"day":{"type":"string","description":"Day of the occurrence. Must be one of monday, tuesday, wednesday, thursday, friday, saturday, sunday.","enum":["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]},"occurrence":{"type":"integer","description":"Occurrence of the week within the month. Must be between 1 and 5","format":"int32"}},"description":"The properties of the create advanced schedule monthly occurrence."},"AzureQueryProperties":{"type":"object","properties":{"locations":{"type":"array","description":"List of locations to scope the query to.","items":{"type":"string","description":"Location to scope the query to."}},"scope":{"type":"array","description":"List of Subscription or Resource Group ARM Ids.","items":{"type":"string","description":"Subscription or Resource Group ARM Id."}},"tagSettings":{"$ref":"#/components/schemas/TagSettingsProperties"}},"description":"Azure query for the update configuration."},"LinuxProperties":{"type":"object","properties":{"excludedPackageNameMasks":{"type":"array","description":"packages excluded from the software update configuration.","items":{"type":"string"}},"includedPackageClassifications":{"type":"string","description":"Update classifications included in the software update configuration.","enum":["Unclassified","Critical","Security","Other"]},"includedPackageNameMasks":{"type":"array","description":"packages included from the software update configuration.","items":{"type":"string"}},"rebootSetting":{"type":"string","description":"Reboot setting for the software update configuration."}},"description":"Linux specific update configuration."},"NonAzureQueryProperties":{"type":"object","properties":{"functionAlias":{"type":"string","description":"Log Analytics Saved Search name."},"workspaceId":{"type":"string","description":"Workspace Id for Log Analytics in which the saved Search is resided."}},"description":"Non Azure query for the update configuration."},"ScheduleProperties":{"type":"object","properties":{"advancedSchedule":{"$ref":"#/components/schemas/AdvancedSchedule"},"creationTime":{"type":"string","description":"Gets or sets the creation time.","format":"date-time","nullable":false},"description":{"type":"string","description":"Gets or sets the description."},"expiryTime":{"type":"string","description":"Gets or sets the end time of the schedule.","format":"date-time","nullable":true},"expiryTimeOffsetMinutes":{"type":"number","description":"Gets or sets the expiry time's offset in minutes.","format":"double","nullable":false},"frequency":{"type":"string","description":"Gets or sets the frequency of the schedule.","enum":["OneTime","Day","Hour","Week","Month","Minute"]},"interval":{"type":"integer","description":"Gets or sets the interval of the schedule."},"isEnabled":{"type":"boolean","description":"Gets or sets a value indicating whether this schedule is enabled.","default":false},"lastModifiedTime":{"type":"string","description":"Gets or sets the last modified time.","format":"date-time","nullable":false},"nextRun":{"type":"string","description":"Gets or sets the next run time of the schedule.","format":"date-time","nullable":true},"nextRunOffsetMinutes":{"type":"number","description":"Gets or sets the next run time's offset in minutes.","format":"double","nullable":false},"startTime":{"type":"string","description":"Gets or sets the start time of the schedule.","format":"date-time","nullable":false},"startTimeOffsetMinutes":{"type":"number","description":"Gets the start time's offset in minutes.","format":"double","nullable":false,"readOnly":true},"timeZone":{"type":"string","description":"Gets or sets the time zone of the schedule."}},"description":"Definition of schedule parameters."},"TagSettingsProperties":{"type":"object","properties":{"filterOperator":{"type":"string","description":"Filter VMs by Any or All specified tags.","enum":["All","Any"]},"tags":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string","description":"List of tag values for a tag."}},"description":"Dictionary of tags with its list of values."}},"description":"Tag filter information for the VM."},"TargetProperties":{"type":"object","properties":{"azureQueries":{"type":"array","description":"List of Azure queries in the software update configuration.","items":{"$ref":"#/components/schemas/AzureQueryProperties"}},"nonAzureQueries":{"type":"array","description":"List of non Azure queries in the software update configuration.","items":{"$ref":"#/components/schemas/NonAzureQueryProperties"}}},"description":"Group specific to the update configuration."},"WindowsProperties":{"type":"object","properties":{"excludedKbNumbers":{"type":"array","description":"KB numbers excluded from the software update configuration.","items":{"type":"string"}},"includedKbNumbers":{"type":"array","description":"KB numbers included from the software update configuration.","items":{"type":"string"}},"includedUpdateClassifications":{"type":"string","description":"Update classification included in the software update configuration. A comma separated string with required values","enum":["Unclassified","Critical","Security","UpdateRollup","FeaturePack","ServicePack","Definition","Tools","Updates"]},"rebootSetting":{"type":"string","description":"Reboot setting for the software update configuration."}},"description":"Windows specific update configuration."},"collectionItemUpdateConfiguration":{"type":"object","properties":{"azureVirtualMachines":{"type":"array","description":"List of azure resource Ids for azure virtual machines targeted by the software update configuration.","items":{"type":"string","description":"Azure Resource Manager Id for a virtual machine."}},"duration":{"type":"string","description":"Maximum time allowed for the software update configuration run. Duration needs to be specified using the format PT[n]H[n]M[n]S as per ISO8601","format":"duration"}},"description":"object returned when requesting a collection of software update configuration"},"operatingSystemType":{"type":"string","description":"Target operating system for the software update configuration.","enum":["Windows","Linux"]},"softwareUpdateConfiguration":{"required":["properties"],"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"properties":{"$ref":"#/components/schemas/softwareUpdateConfigurationProperties"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Software update configuration properties."},"softwareUpdateConfigurationCollectionItem":{"required":["properties"],"type":"object","properties":{"id":{"type":"string","description":"Resource Id of the software update configuration","readOnly":true},"name":{"type":"string","description":"Name of the software update configuration.","readOnly":true},"properties":{"$ref":"#/components/schemas/softwareUpdateConfigurationCollectionItemProperties"}},"description":"Software update configuration collection item properties."},"softwareUpdateConfigurationCollectionItemProperties":{"type":"object","properties":{"creationTime":{"type":"string","description":"Creation time of the software update configuration, which only appears in the response.","format":"date-time","nullable":false,"readOnly":true},"frequency":{"type":"string","description":"Gets or sets the frequency of the schedule.","enum":["OneTime","Day","Hour","Week","Month","Minute"]},"lastModifiedTime":{"type":"string","description":"Last time software update configuration was modified, which only appears in the response.","format":"date-time","nullable":false,"readOnly":true},"nextRun":{"type":"string","description":"ext run time of the update.","format":"date-time","nullable":true},"provisioningState":{"type":"string","description":"Provisioning state for the software update configuration, which only appears in the response.","readOnly":true},"startTime":{"type":"string","description":"the start time of the update.","format":"date-time","nullable":false},"updateConfiguration":{"$ref":"#/components/schemas/collectionItemUpdateConfiguration"}},"description":"Software update configuration collection item properties."},"softwareUpdateConfigurationListResult":{"type":"object","properties":{"value":{"type":"array","description":"outer object returned when listing all software update configurations","items":{"$ref":"#/components/schemas/softwareUpdateConfigurationCollectionItem"}}},"description":"result of listing all software update configuration"},"softwareUpdateConfigurationProperties":{"required":["scheduleInfo","updateConfiguration"],"type":"object","properties":{"createdBy":{"type":"string","description":"CreatedBy property, which only appears in the response.","readOnly":true},"creationTime":{"type":"string","description":"Creation time of the resource, which only appears in the response.","format":"date-time","nullable":false,"readOnly":true},"error":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"},"lastModifiedBy":{"type":"string","description":"LastModifiedBy property, which only appears in the response.","readOnly":true},"lastModifiedTime":{"type":"string","description":"Last time resource was modified, which only appears in the response.","format":"date-time","nullable":false,"readOnly":true},"provisioningState":{"type":"string","description":"Provisioning state for the software update configuration, which only appears in the response.","readOnly":true},"scheduleInfo":{"$ref":"#/components/schemas/ScheduleProperties"},"tasks":{"$ref":"#/components/schemas/softwareUpdateConfigurationTasks"},"updateConfiguration":{"$ref":"#/components/schemas/updateConfiguration"}},"description":"Software update configuration properties."},"softwareUpdateConfigurationTasks":{"type":"object","properties":{"postTask":{"$ref":"#/components/schemas/taskProperties"},"preTask":{"$ref":"#/components/schemas/taskProperties"}},"description":"Task properties of the software update configuration."},"taskProperties":{"type":"object","properties":{"parameters":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets the parameters of the task."},"source":{"type":"string","description":"Gets or sets the name of the runbook."}},"description":"Task properties of the software update configuration."},"updateConfiguration":{"required":["operatingSystem"],"type":"object","properties":{"azureVirtualMachines":{"type":"array","description":"List of azure resource Ids for azure virtual machines targeted by the software update configuration.","items":{"type":"string","description":"Azure Resource Manager Id for a virtual machine."}},"duration":{"type":"string","description":"Maximum time allowed for the software update configuration run. Duration needs to be specified using the format PT[n]H[n]M[n]S as per ISO8601","format":"duration"},"linux":{"$ref":"#/components/schemas/LinuxProperties"},"nonAzureComputerNames":{"type":"array","description":"List of names of non-azure machines targeted by the software update configuration.","items":{"type":"string","description":"Name of Non-Azure OMS Computer."}},"operatingSystem":{"$ref":"#/components/schemas/operatingSystemType"},"targets":{"$ref":"#/components/schemas/TargetProperties"},"windows":{"$ref":"#/components/schemas/WindowsProperties"}},"description":"Update specific properties of the software update configuration."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}