{"openapi":"3.0.1","info":{"title":"NetworkManagementClient","description":"The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.","version":"2019-07-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Network/ExpressRoutePorts":{"get":{"tags":["ExpressRoutePorts"],"description":"List all the ExpressRoutePort resources in the specified subscription.","operationId":"ExpressRoutePorts_List","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. The operation returns a list of ExpressRoutePort resources. If there are no ExpressRoutePort resources then an empty list is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpressRoutePortListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Network/ExpressRoutePortsLocations":{"get":{"tags":["ExpressRoutePortsLocations"],"description":"Retrieves all ExpressRoutePort peering locations. Does not return available bandwidths for each location. Available bandwidths can only be obtained when retrieving a specific peering location.","operationId":"ExpressRoutePortsLocations_List","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. The operation returns the list of all ExpressRoutePort peering locations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpressRoutePortsLocationListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Network/ExpressRoutePortsLocations/{locationName}":{"get":{"tags":["ExpressRoutePortsLocations"],"description":"Retrieves a single ExpressRoutePort peering location, including the list of available bandwidths available at said peering location.","operationId":"ExpressRoutePortsLocations_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"locationName","in":"path","description":"Name of the requested ExpressRoutePort peering location.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. The operation returns the requested ExpressRoutePort peering location.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpressRoutePortsLocation"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ExpressRoutePorts":{"get":{"tags":["ExpressRoutePorts"],"description":"List all the ExpressRoutePort resources in the specified resource group.","operationId":"ExpressRoutePorts_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. The operation returns a list of ExpressRoutePort resources. If there are no ExpressRoutePort resources then an empty list is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpressRoutePortListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ExpressRoutePorts/{expressRoutePortName}":{"get":{"tags":["ExpressRoutePorts"],"description":"Retrieves the requested ExpressRoutePort resource.","operationId":"ExpressRoutePorts_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"expressRoutePortName","in":"path","description":"The name of ExpressRoutePort.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. The operation returns the requested ExpressRoutePort resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpressRoutePort"}}}}}},"put":{"tags":["ExpressRoutePorts"],"description":"Creates or updates the specified ExpressRoutePort resource.","operationId":"ExpressRoutePorts_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"expressRoutePortName","in":"path","description":"The name of the ExpressRoutePort resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the create ExpressRoutePort operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpressRoutePort"}}},"required":true},"responses":{"200":{"description":"Update successful. The operation returns the resulting ExpressRoutePort resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpressRoutePort"}}}},"201":{"description":"Create successful. The operation returns the resulting ExpressRoutePort resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpressRoutePort"}}}}}},"delete":{"tags":["ExpressRoutePorts"],"description":"Deletes the specified ExpressRoutePort resource.","operationId":"ExpressRoutePorts_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"expressRoutePortName","in":"path","description":"The name of the ExpressRoutePort resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete successful."},"202":{"description":"Accepted and the operation will complete asynchronously."},"204":{"description":"Request successful. Resource does not exist."}}},"patch":{"tags":["ExpressRoutePorts"],"description":"Update ExpressRoutePort tags.","operationId":"ExpressRoutePorts_UpdateTags","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"expressRoutePortName","in":"path","description":"The name of the ExpressRoutePort resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to update ExpressRoutePort resource tags.","content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"Tags object for patch operations."}}},"required":true},"responses":{"200":{"description":"Update successful. The operation returns the resulting ExpressRoutePort resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpressRoutePort"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ExpressRoutePorts/{expressRoutePortName}/links":{"get":{"tags":["ExpressRouteLinks"],"description":"Retrieve the ExpressRouteLink sub-resources of the specified ExpressRoutePort resource.","operationId":"ExpressRouteLinks_List","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"expressRoutePortName","in":"path","description":"The name of the ExpressRoutePort resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. The operation returns a list of ExpressRouteLink resources. If there are no ExpressRouteLink resources then an empty list is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpressRouteLinkListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ExpressRoutePorts/{expressRoutePortName}/links/{linkName}":{"get":{"tags":["ExpressRouteLinks"],"description":"Retrieves the specified ExpressRouteLink resource.","operationId":"ExpressRouteLinks_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"expressRoutePortName","in":"path","description":"The name of the ExpressRoutePort resource.","required":true,"schema":{"type":"string"}},{"name":"linkName","in":"path","description":"The name of the ExpressRouteLink resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. The operation returns the requested ExpressRouteLink resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpressRouteLink"}}}}}}}},"components":{"schemas":{"ExpressRouteLink":{"title":"ExpressRouteLink","properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"name":{"type":"string","description":"Name of child port resource that is unique among child port resources of the parent."},"properties":{"$ref":"#/components/schemas/ExpressRouteLinkPropertiesFormat"}},"description":"ExpressRouteLink child resource definition.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}]},"ExpressRouteLinkListResult":{"title":"ExpressRouteLink List Result","type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of results."},"value":{"type":"array","description":"The list of ExpressRouteLink sub-resources.","items":{"$ref":"#/components/schemas/ExpressRouteLink"}}},"description":"Response for ListExpressRouteLinks API service call."},"ExpressRouteLinkMacSecConfig":{"title":"Definition of ExpressRouteLink Mac Security configuration.","type":"object","properties":{"cakSecretIdentifier":{"type":"string","description":"Keyvault Secret Identifier URL containing Mac security CAK key."},"cipher":{"type":"string","description":"Mac security cipher.","enum":["gcm-aes-128","gcm-aes-256"]},"cknSecretIdentifier":{"type":"string","description":"Keyvault Secret Identifier URL containing Mac security CKN key."}},"description":"ExpressRouteLink Mac Security Configuration."},"ExpressRouteLinkPropertiesFormat":{"title":"ExpressRouteLink Resource Properties","type":"object","properties":{"adminState":{"type":"string","description":"Administrative state of the physical port.","enum":["Enabled","Disabled"]},"connectorType":{"type":"string","description":"Physical fiber port type.","readOnly":true,"enum":["LC","SC"]},"interfaceName":{"type":"string","description":"Name of Azure router interface.","readOnly":true},"macSecConfig":{"$ref":"#/components/schemas/ExpressRouteLinkMacSecConfig"},"patchPanelId":{"type":"string","description":"Mapping between physical port to patch panel port.","readOnly":true},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"rackId":{"type":"string","description":"Mapping of physical patch panel to rack.","readOnly":true},"routerName":{"type":"string","description":"Name of Azure router associated with physical port.","readOnly":true}},"description":"Properties specific to ExpressRouteLink resources."},"ExpressRoutePort":{"title":"ExpressRoute Port","properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"identity":{"type":"object","properties":{"principalId":{"type":"string","description":"The principal id of the system assigned identity. This property will only be provided for a system assigned identity.","readOnly":true},"tenantId":{"type":"string","description":"The tenant id of the system assigned identity. This property will only be provided for a system assigned identity.","readOnly":true},"type":{"type":"string","description":"The type of identity used for the resource. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the virtual machine.","enum":["SystemAssigned","UserAssigned","SystemAssigned, UserAssigned","None"]},"userAssignedIdentities":{"type":"object","additionalProperties":{"type":"object","properties":{"clientId":{"type":"string","description":"The client id of user assigned identity.","readOnly":true},"principalId":{"type":"string","description":"The principal id of user assigned identity.","readOnly":true}}},"description":"The list of user identities associated with resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."}},"description":"Identity for the resource."},"properties":{"$ref":"#/components/schemas/ExpressRoutePortPropertiesFormat"}},"description":"ExpressRoutePort resource definition.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Common resource representation."}]},"ExpressRoutePortListResult":{"title":"ExpressRoute Port List Result","type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of results."},"value":{"type":"array","description":"A list of ExpressRoutePort resources.","items":{"$ref":"#/components/schemas/ExpressRoutePort"}}},"description":"Response for ListExpressRoutePorts API service call."},"ExpressRoutePortPropertiesFormat":{"title":"ExpressRoutePort Properties","type":"object","properties":{"allocationDate":{"type":"string","description":"Date of the physical port allocation to be used in Letter of Authorization.","readOnly":true},"bandwidthInGbps":{"type":"integer","description":"Bandwidth of procured ports in Gbps."},"circuits":{"type":"array","description":"Reference the ExpressRoute circuit(s) that are provisioned on this ExpressRoutePort resource.","readOnly":true,"items":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}},"encapsulation":{"type":"string","description":"Encapsulation method on physical ports.","enum":["Dot1Q","QinQ"]},"etherType":{"type":"string","description":"Ether type of the physical port.","readOnly":true},"links":{"title":"ExpressRouteLink Sub-Resources","type":"array","description":"The set of physical links of the ExpressRoutePort resource.","items":{"$ref":"#/components/schemas/ExpressRouteLink"}},"mtu":{"type":"string","description":"Maximum transmission unit of the physical port pair(s).","readOnly":true},"peeringLocation":{"type":"string","description":"The name of the peering location that the ExpressRoutePort is mapped to physically."},"provisionedBandwidthInGbps":{"type":"number","description":"Aggregate Gbps of associated circuit bandwidths.","readOnly":true},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"resourceGuid":{"type":"string","description":"The resource GUID property of the express route port resource."}},"description":"Properties specific to ExpressRoutePort resources."},"ExpressRoutePortsLocation":{"title":"ExpressRoutePorts Peering Location","properties":{"properties":{"$ref":"#/components/schemas/ExpressRoutePortsLocationPropertiesFormat"}},"description":"Definition of the ExpressRoutePorts peering location resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Common resource representation."}]},"ExpressRoutePortsLocationBandwidths":{"title":"ExpressRoutePorts Location Bandwidths","type":"object","properties":{"offerName":{"type":"string","description":"Bandwidth descriptive name.","readOnly":true},"valueInGbps":{"type":"integer","description":"Bandwidth value in Gbps.","readOnly":true}},"description":"Real-time inventory of available ExpressRoute port bandwidths."},"ExpressRoutePortsLocationListResult":{"title":"ExpressRoutePorts Location List Result","type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of results."},"value":{"type":"array","description":"The list of all ExpressRoutePort peering locations.","items":{"$ref":"#/components/schemas/ExpressRoutePortsLocation"}}},"description":"Response for ListExpressRoutePortsLocations API service call."},"ExpressRoutePortsLocationPropertiesFormat":{"title":"ExpressRoutePorts Location Properties","type":"object","properties":{"address":{"type":"string","description":"Address of peering location.","readOnly":true},"availableBandwidths":{"type":"array","description":"The inventory of available ExpressRoutePort bandwidths.","items":{"$ref":"#/components/schemas/ExpressRoutePortsLocationBandwidths"}},"contact":{"type":"string","description":"Contact details of peering locations.","readOnly":true},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]}},"description":"Properties specific to ExpressRoutePorts peering location resources."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}