{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "IllumiDesk",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://api.illumidesk.com/"
  } ],
  "security" : [ {
    "jwt" : null
  } ],
  "paths" : {
    "/auth/jwt-token-auth/" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Create JSON Web Token (JWT)",
        "operationId" : "auth_jwt-token-auth",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/JWTData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "JWT created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JWT"
                },
                "example" : {
                  "token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JWT"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JWTError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JWTError"
                }
              }
            }
          }
        }
      }
    },
    "/auth/jwt-token-refresh/" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Refresh a JSON Web Token (JWT)",
        "description" : "Obtains a new JSON Web Token using existing user credentials.",
        "operationId" : "auth_jwt-token-refresh",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RefreshJSONWebTokenData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "RefreshJSONWebToken created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RefreshJSONWebToken"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RefreshJSONWebToken"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RefreshJSONWebTokenError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RefreshJSONWebTokenError"
                }
              }
            }
          }
        }
      }
    },
    "/auth/jwt-token-verify/" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Validate JSON Web Token (JWT)",
        "description" : "Checks veraciy of token.",
        "operationId" : "auth_jwt-token-verify",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VerifyJSONWebTokenData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "VerifyJSONWebToken created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VerifyJSONWebToken"
                },
                "example" : {
                  "token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VerifyJSONWebToken"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VerifyJSONWebTokenError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VerifyJSONWebTokenError"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login/{provider}/" : {
      "get" : {
        "tags" : [ "auth" ],
        "operationId" : "oauth_login",
        "parameters" : [ {
          "name" : "provider",
          "in" : "path",
          "description" : "OAuth2 provider",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "github", "google", "slack" ]
          }
        } ],
        "responses" : {
          "302" : {
            "description" : "Redirect to backend auth page"
          }
        }
      }
    },
    "/auth/register/" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Register a user",
        "description" : "User registration requires confirming email address to activate user.",
        "operationId" : "auth_register",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "User created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                },
                "example" : {
                  "email" : "user@email.com",
                  "first_name" : "John",
                  "id" : "536686d7-0096-4c72-a4c3-5d710a361a0a",
                  "last_name" : "Doe",
                  "profile" : {
                    "avatar_url" : "http://example.com/",
                    "bio" : "I like tests",
                    "company" : "IllumiDesk",
                    "location" : "Atlanta, GA",
                    "timezone" : "America/New_York",
                    "url" : "http://about.me/myprofile"
                  },
                  "username" : "johndoe"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "A convenience endpoint that is equivalent to GET /v1/users/profiles/<my user id>/",
        "operationId" : "me",
        "responses" : {
          "200" : {
            "description" : "User information retrieved.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                },
                "example" : {
                  "email" : "johndoe@email.com",
                  "first_name" : "John",
                  "id" : "66949654-1f75-4c6f-a5c5-e3572eae6527",
                  "last_name" : "Doe",
                  "profile" : {
                    "avatar_url" : "http://example.com/",
                    "bio" : "I like tests",
                    "company" : "3Blades",
                    "location" : "Atlanta, GA",
                    "timezone" : "America/New_York",
                    "url" : "http://about.me/myprofile"
                  },
                  "username" : "johndoe"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/v1/servers/options/server-size/" : {
      "get" : {
        "tags" : [ "servers" ],
        "summary" : "Retrieve available server sizes",
        "operationId" : "servers_options_sizes_list",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Set limit when retrieving items.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset when retrieving items.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ordering",
          "in" : "query",
          "description" : "Set order when retrieving items.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Server size list.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServerSize"
                  }
                },
                "example" : [ ]
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServerSize"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "servers" ],
        "summary" : "Create a new server size item",
        "description" : "Only super users with on-premises version have acceess to this endpoint.",
        "operationId" : "servers_options_server_size_create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServerSizeData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "ServerSize created. This operation is available only to super users.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerSize"
                },
                "example" : {
                  "active" : true,
                  "cpu" : 1,
                  "id" : "2f4a5830-169d-4111-b913-e68c7b94fdbe",
                  "memory" : 512,
                  "name" : "myResource"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerSize"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerSizeError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerSizeError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/servers/options/server-size/{size}/" : {
      "get" : {
        "tags" : [ "servers" ],
        "summary" : "Get a server size by id",
        "operationId" : "servers_options_resources_read",
        "parameters" : [ {
          "name" : "size",
          "in" : "path",
          "description" : "Server size unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Environment resource retrieved.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerSize"
                },
                "example" : {
                  "active" : true,
                  "cpu" : 1,
                  "id" : "2f4a5830-169d-4111-b913-e68c7b94fdbe",
                  "memory" : 512,
                  "name" : "myResource"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerSize"
                }
              }
            }
          },
          "404" : {
            "description" : "Environment resource not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "servers" ],
        "summary" : "Replace a server size by id",
        "description" : "Only super users with on-premises version have acceess to this endpoint.",
        "operationId" : "servers_options_server_size_replace",
        "parameters" : [ {
          "name" : "size",
          "in" : "path",
          "description" : "Server size unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServerSizeData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Server size replaced. This operation is available only to super users.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerSize"
                },
                "example" : {
                  "active" : true,
                  "cpu" : 1,
                  "id" : "b673c7ab-65ad-4d6e-859e-0483eea86ad6",
                  "memory" : 512,
                  "name" : "myResourceWithPut"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerSize"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerSizeError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerSizeError"
                }
              }
            }
          },
          "404" : {
            "description" : "ServerSize not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "servers" ],
        "summary" : "Delete a server size by id",
        "description" : "Only super users with on-premises version have acceess to this endpoint.",
        "operationId" : "servers_options_server_size_delete",
        "parameters" : [ {
          "name" : "size",
          "in" : "path",
          "description" : "Server size unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Server size deleted. This operation is available only to super users"
          },
          "404" : {
            "description" : "ServerSize not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "servers" ],
        "summary" : "Update a server size by id",
        "description" : "Only super users with on-premises version have acceess to this endpoint.",
        "operationId" : "servers_options_server_size_update",
        "parameters" : [ {
          "name" : "size",
          "in" : "path",
          "description" : "Server size unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServerSizeData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Server size updated. This operation is available only to super users.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerSize"
                },
                "example" : {
                  "active" : true,
                  "cpu" : 1,
                  "id" : "b673c7ab-65ad-4d6e-859e-0483eea86ad6",
                  "memory" : 512,
                  "name" : "myServerSizeWithPatch"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerSize"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerSizeError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerSizeError"
                }
              }
            }
          },
          "404" : {
            "description" : "Server size not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/" : {
      "get" : {
        "tags" : [ "teams" ],
        "summary" : "Get teams",
        "operationId" : "teams_list",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit when getting data.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset when getting data.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Team list",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Team"
                  }
                },
                "example" : [ ]
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Team"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "teams" ],
        "summary" : "Create a new team",
        "operationId" : "teams_create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TeamData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Team created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TeamError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TeamError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{team}/" : {
      "get" : {
        "tags" : [ "teams" ],
        "summary" : "Get a team",
        "operationId" : "teams_read",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Team retrieved successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              }
            }
          },
          "404" : {
            "description" : "Team not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "teams" ],
        "summary" : "Replace a team",
        "operationId" : "teams_replace",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TeamData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Team updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TeamError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TeamError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "teams" ],
        "summary" : "Delete a team",
        "operationId" : "teams_delete",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Team deleted."
          },
          "404" : {
            "description" : "Team not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "teams" ],
        "summary" : "Update a team",
        "operationId" : "teams_update",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TeamData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Team updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TeamError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TeamError"
                }
              }
            }
          },
          "404" : {
            "description" : "Team not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{team}/billing/invoices/" : {
      "get" : {
        "tags" : [ "teams", "billing" ],
        "summary" : "Get team invoices",
        "operationId" : "teams_billing_invoices_list",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit when getting items.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset when getting items.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Invoice list.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Invoice"
                  }
                },
                "example" : [ ]
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Invoice"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{team}/billing/invoices/{id}/" : {
      "get" : {
        "tags" : [ "teams", "billing" ],
        "summary" : "Get an invoice",
        "operationId" : "teams_billing_invoices_read",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Invoice unique identifier expressed as UUID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Team invoice retrieved.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Invoice"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Invoice"
                }
              }
            }
          },
          "404" : {
            "description" : "Team invoice not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{team}/billing/invoices/{invoice_id}/invoice-items/" : {
      "get" : {
        "tags" : [ "teams", "billing" ],
        "summary" : "Get team invoice items for a given invoice.",
        "operationId" : "teams_billing_invoice_items_list",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoice_id",
          "in" : "path",
          "description" : "Invoice id, expressed as UUID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit when getting items.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset when getting items.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ordering",
          "in" : "query",
          "description" : "Ordering when getting items.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Team invoiceItem list.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InvoiceItem"
                  }
                },
                "example" : [ ]
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InvoiceItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{team}/billing/invoices/{invoice_id}/invoice-items/{id}" : {
      "get" : {
        "tags" : [ "teams", "billing" ],
        "summary" : "Get a specific team InvoiceItem.",
        "operationId" : "teams_billing_invoice_items_read",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoice_id",
          "in" : "path",
          "description" : "Invoice id, expressed as UUID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "InvoiceItem id, expressed as UUID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Team invoiceItem retrieved.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvoiceItem"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvoiceItem"
                }
              }
            }
          },
          "404" : {
            "description" : "InvoiceItem not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{team}/billing/subscriptions/" : {
      "get" : {
        "tags" : [ "teams", "billing" ],
        "summary" : "Get active team subscriptons",
        "operationId" : "teams_billing_subscriptions_list",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit when getting items.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset when getting items.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ordering",
          "in" : "query",
          "description" : "Ordering when getting items.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Teams subscription list.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Subscription"
                  }
                },
                "example" : [ {
                  "application_fee_percent" : 0,
                  "cancel_at_period_end" : false,
                  "canceled_at" : "",
                  "created" : "2017-07-24T17:25:04Z",
                  "current_period_end" : "2017-07-31T17:25:04Z",
                  "current_period_start" : "2017-07-24T17:25:04Z",
                  "ended_at" : "",
                  "id" : "579208c3-4f5c-4b5d-baa3-309a06db681c",
                  "livemode" : false,
                  "plan" : "efb36cb0-0ef2-4af3-ae5d-10d9ae73845d",
                  "quantity" : 1,
                  "start" : "2017-07-24T17:25:04Z",
                  "status" : "trialing",
                  "stripe_id" : "sub_B5KyO9BZ6lUNPP",
                  "trial_end" : "2017-07-31T17:25:04Z",
                  "trial_start" : "2017-07-24T17:25:04Z"
                } ]
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Subscription"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "teams", "billing" ],
        "summary" : "Create a new team subscription",
        "operationId" : "teams_billing_subscriptions_create",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscriptionData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Team subscription created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscription"
                },
                "example" : {
                  "application_fee_percent" : 0,
                  "cancel_at_period_end" : false,
                  "canceled_at" : "",
                  "created" : "2017-07-24T17:25:04Z",
                  "current_period_end" : "2017-07-31T17:25:04Z",
                  "current_period_start" : "2017-07-24T17:25:04Z",
                  "ended_at" : "",
                  "id" : "579208c3-4f5c-4b5d-baa3-309a06db681c",
                  "livemode" : false,
                  "plan" : "efb36cb0-0ef2-4af3-ae5d-10d9ae73845d",
                  "quantity" : 1,
                  "start" : "2017-07-24T17:25:04Z",
                  "status" : "trialing",
                  "stripe_id" : "sub_B5KyO9BZ6lUNPP",
                  "trial_end" : "2017-07-31T17:25:04Z",
                  "trial_start" : "2017-07-24T17:25:04Z"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{team}/billing/subscriptions/{id}/" : {
      "get" : {
        "tags" : [ "teams", "billing" ],
        "summary" : "Get team subscriptions",
        "operationId" : "teams_billing_subscriptions_read",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier expressed as UUID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Team subscription retrieved.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscription"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscription"
                }
              }
            }
          },
          "404" : {
            "description" : "Subscription not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "teams", "billing" ],
        "summary" : "Delete a subscription",
        "operationId" : "teams_billing_subscriptions_delete",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Subscription unique identifier expressed as UUID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Subscription deleted."
          },
          "404" : {
            "description" : "Subscription not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{team}/groups/" : {
      "get" : {
        "tags" : [ "teams" ],
        "summary" : "Get team groups",
        "operationId" : "teams_groups_list",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit when getting data.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset when getting data.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Team groups list",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Group"
                  }
                }
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Group"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{team}/groups/{group}/" : {
      "get" : {
        "tags" : [ "teams" ],
        "summary" : "Get team group",
        "operationId" : "teams_groups_read",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "group",
          "in" : "path",
          "description" : "Group unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Group retrieved.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "teams" ],
        "summary" : "Patch team group",
        "operationId" : "teams_groups_replace",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "group",
          "in" : "path",
          "description" : "Group unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GroupData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Group replaced",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "teams" ],
        "summary" : "Delete team group",
        "operationId" : "teams_groups_delete",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "group",
          "in" : "path",
          "description" : "Group unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Group deleted"
          },
          "404" : {
            "description" : "Group not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "teams" ],
        "summary" : "Patch team group",
        "operationId" : "teams_groups_update",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "group",
          "in" : "path",
          "description" : "Group unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GroupData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Group updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupError"
                }
              }
            }
          },
          "404" : {
            "description" : "Group not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{team}/groups/{group}/add/" : {
      "post" : {
        "tags" : [ "teams" ],
        "summary" : "Add user to group",
        "operationId" : "teams_groups_add_to_group",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "group",
          "in" : "path",
          "description" : "Group unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "User added to group.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupUser"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupUser"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupUserError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupUserError"
                }
              }
            }
          },
          "404" : {
            "description" : "Group not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{team}/groups/{group}/remove/" : {
      "post" : {
        "tags" : [ "teams" ],
        "summary" : "User removed from group",
        "operationId" : "teams_groups_remove_from_group",
        "parameters" : [ {
          "name" : "team",
          "in" : "path",
          "description" : "Team unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "group",
          "in" : "path",
          "description" : "Group unique identifier expressed as UUID or name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "User removed from group."
          },
          "400" : {
            "description" : "Invalid data supplied"
          },
          "404" : {
            "description" : "Group not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/profiles/" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Get user list",
        "operationId" : "users_list",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit user list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset when getting users.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "username",
          "in" : "query",
          "description" : "User username.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "email",
          "in" : "query",
          "description" : "User email.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ordering",
          "in" : "query",
          "description" : "Ordering when getting users.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "User list",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/User"
                  }
                },
                "example" : [ {
                  "email" : "johndoe@email.com",
                  "first_name" : "John",
                  "id" : "66949654-1f75-4c6f-a5c5-e3572eae6527",
                  "last_name" : "Doe",
                  "profile" : {
                    "avatar_url" : "http://example.com/",
                    "bio" : "I like tests",
                    "company" : "3Blades",
                    "location" : "Atlanta, GA",
                    "timezone" : "America/New_York",
                    "url" : "http://about.me/myprofile"
                  },
                  "username" : "johndoe"
                }, {
                  "email" : "janedoe@email.com",
                  "first_name" : "John",
                  "id" : "66949654-1f75-4c6f-a5c5-e3572eae6527",
                  "last_name" : "Doe",
                  "profile" : {
                    "avatar_url" : "http://example.com/",
                    "bio" : "I like tests",
                    "company" : "3Blades",
                    "location" : "Atlanta, GA",
                    "timezone" : "America/New_York",
                    "url" : "http://about.me/myprofile"
                  },
                  "username" : "janedoe"
                } ]
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Create new user",
        "description" : "Only admin users can create new users. New users have active status by default.",
        "operationId" : "users_create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "User created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                },
                "example" : {
                  "email" : "johndoe@email.com",
                  "first_name" : "John",
                  "id" : "66949654-1f75-4c6f-a5c5-e3572eae6527",
                  "last_name" : "Doe",
                  "profile" : {
                    "avatar_url" : "http://example.com/",
                    "bio" : "I like tests",
                    "company" : "3Blades",
                    "location" : "Atlanta, GA",
                    "timezone" : "America/New_York",
                    "url" : "http://about.me/myprofile"
                  },
                  "username" : "johndoe"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/profiles/{user}/" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Retrieve a user",
        "operationId" : "users_read",
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "description" : "Unique identifier expressed as UUID or username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "User retrieved.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                },
                "example" : {
                  "email" : "johndoe@email.com",
                  "first_name" : "John",
                  "id" : "66949654-1f75-4c6f-a5c5-e3572eae6527",
                  "last_name" : "Doe",
                  "profile" : {
                    "avatar_url" : "http://example.com/",
                    "bio" : "I like tests",
                    "company" : "3Blades",
                    "location" : "Atlanta, GA",
                    "timezone" : "America/New_York",
                    "url" : "http://about.me/myprofile"
                  },
                  "username" : "johndoe"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "users" ],
        "summary" : "Delete a user",
        "operationId" : "users_delete",
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "description" : "User identifier expressed as UUID or username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "User deleted."
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "users" ],
        "summary" : "Update a user",
        "operationId" : "users_update",
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "description" : "User unique identifier expressed as UUID or username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "User updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                },
                "example" : {
                  "email" : "runB@email.com",
                  "first_name" : "John",
                  "id" : "66949654-1f75-4c6f-a5c5-e3572eae6527",
                  "last_name" : "Doe",
                  "profile" : {
                    "avatar_url" : "http://example.com/",
                    "bio" : "Data updated with patch",
                    "company" : "3Blades",
                    "location" : "Atlanta, GA",
                    "timezone" : "America/New_York",
                    "url" : "http://about.me/myprofile"
                  },
                  "username" : "johndoe"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserError"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{user}/api-key/" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Retrieve account's API key",
        "operationId" : "users_api-key_list",
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "description" : "User unique identifier expressed as UUID or username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Api Key"
          }
        }
      }
    },
    "/v1/users/{user}/avatar/" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Retrieve user's avatar",
        "operationId" : "user_avatar_get",
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "description" : "User unique identifier expressed as UUIDor username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "User avatar"
          }
        }
      },
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Add user avatar",
        "operationId" : "user_avatar_set",
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "description" : "User unique identifier expressed as UUID or username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Added user avatar",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied"
          }
        }
      },
      "delete" : {
        "tags" : [ "users" ],
        "summary" : "Delete avatar",
        "operationId" : "user_avatar_delete",
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "description" : "User unique identifier expressed as UUID or username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Avatar deleted"
          },
          "404" : {
            "description" : "Avatar not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "users" ],
        "summary" : "Update a project file",
        "operationId" : "user_avatar_update",
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "description" : "User unique identifier expressed as UUID or username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Avatar updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserError"
                }
              }
            }
          },
          "404" : {
            "description" : "Avatar not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{user}/emails/" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Retrieve account email addresses",
        "operationId" : "users_emails_list",
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "description" : "User unique identifier as expressed as UUID or username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limite when getting email list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset when getting email list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ordering",
          "in" : "query",
          "description" : "Ordering when getting email list.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Email list",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Email"
                  }
                },
                "example" : [ ]
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Email"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Create an email address",
        "operationId" : "users_emails_create",
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "description" : "User unique identifier expressed as UUID or username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmailData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Email created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Email"
                },
                "example" : {
                  "address" : "post@email.com",
                  "id" : "383e0d16-2052-4196-95b8-d9d73ed043a9",
                  "public" : true,
                  "unsubscribed" : false
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Email"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmailError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmailError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{user}/emails/{email_id}/" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Retrieve a user's email addresses",
        "operationId" : "users_emails_read",
        "parameters" : [ {
          "name" : "email_id",
          "in" : "path",
          "description" : "Email unique identifier expressed as UUID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "user",
          "in" : "path",
          "description" : "User unique identifier expressed as UUID or username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Email retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Email"
                },
                "example" : {
                  "address" : "post@email.com",
                  "id" : "383e0d16-2052-4196-95b8-d9d73ed043a9",
                  "public" : true,
                  "unsubscribed" : false
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Email"
                }
              }
            }
          },
          "404" : {
            "description" : "Email not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "users" ],
        "summary" : "Replace an email address",
        "operationId" : "users_emails_replace",
        "parameters" : [ {
          "name" : "email_id",
          "in" : "path",
          "description" : "Email unique identifier expressed as UUID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "user",
          "in" : "path",
          "description" : "User unique identifier expressed as UUID or username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmailData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Email updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Email"
                },
                "example" : {
                  "address" : "put@email.com",
                  "id" : "383e0d16-2052-4196-95b8-d9d73ed043a9",
                  "public" : false,
                  "unsubscribed" : true
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Email"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmailError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmailError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "users" ],
        "summary" : "Delete an email address",
        "operationId" : "users_emails_delete",
        "parameters" : [ {
          "name" : "email_id",
          "in" : "path",
          "description" : "Email unique identifier expressed as UUID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "user",
          "in" : "path",
          "description" : "User unique identifier expressed as UUID or username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Email deleted."
          },
          "404" : {
            "description" : "Email not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "users" ],
        "summary" : "Update an email address",
        "operationId" : "users_emails_update",
        "parameters" : [ {
          "name" : "email_id",
          "in" : "path",
          "description" : "Email unique identifier expressed as UUID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "user",
          "in" : "path",
          "description" : "User unique identifier expressed as UUID or username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmailData"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Email updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Email"
                },
                "example" : {
                  "address" : "patch@email.com",
                  "id" : "383e0d16-2052-4196-95b8-d9d73ed043a9",
                  "public" : false,
                  "unsubscribed" : false
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Email"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmailError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmailError"
                }
              }
            }
          },
          "404" : {
            "description" : "Email not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{user}/ssh-key/" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Retrieve an SSH key",
        "operationId" : "users_ssh-key_list",
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "description" : "User unique identifier expressed as UUID or username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "SSH Key.",
            "content" : {
              "application/json" : {
                "example" : {
                  "key" : "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCqadyIPIEOF4M7SDoI+MHnAj6q2CY2j62Eg0sNbBbjnuekxnhSWVVKPte+NVtK4MWIyw3wnCCzTjwe0p2pQpMqxjqnCAkBPGhOjrRWTvV54hHTihBxiAEmXqbaBg5e6SaXcqP1OajWYzDqhts4ISer0uymzi0hW65At5i5k87Xu9HSM/Q0ySVJGm0rMuDCIoaTIeQdTkAI9ww/cmOM7uvIDO0OJv2xai9xLB9APVq8zCtqWdivMaqo2waPDT/I9bwtSZxRsnRMakGmj3CWvciHv13UsGlbB7nTeDKX0eyQl/5SADLO0bU+hY/8BpRjjtdq57Pqn/Xyw22YarDkG74gjLG5GBFZkBxcpENoUtCUyE2bhBT4x9yXlTeycMBTopGtzTfIHrJtIgNCFMhg9LbK4IKP/1pLj8SrVaQ9/k/QkxmDFoqfwdGd3AWOghMCAbAB7KaDKrj/XBf/KgTd8ZozjvkTzu2YRf4o3DebxRJipPQumrH3iXX5Kfe9lBWkR7Smewwp2XZrdgBeXN/54hd+Ic3upi528IGzEzu3/xtLT/e7kLi1QH7CVVN1sskZkIRr7aukw4YiVWgVOAlqKzJEoE/BPZSOA0NlgG0h37ZmyhdY1VqtoD+Vnj7Qh272PlTB14ndEVTqGuZhsCSxIhXev+METZ6XezK5n1VQeHGveQ=="
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{user}/ssh-key/reset/" : {
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Recreate an SSH key",
        "operationId" : "users_ssh-key_reset",
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "description" : "User unique identifier expressed as UUID or username.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Reset SSH Key successfully.",
            "content" : {
              "application/json" : {
                "example" : {
                  "key" : "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDhMvg2+n2yNu0H2Hg8uiXfQtAid0WGRigNckb5J0T9GFINmqkYalI/AsWZbl4UfNMviD73h9xowUx+d7s2vB3E8bFxB9OWM22eLSp8fnbuhdI5mKBflq0jr6ms1cR/SD3YsbZ9sX6BqycQrjjYYl7WLM9rgec6b+EYyr/6nbDH/wql06TrNl6LUNkqI+YIqjRvqMeNEY9ux3sB+f46FRKO683u/cRCcp1eWAYf1ByYupIGREbQFLxhYv/NcKD8uIo7DRAuutwHKGOgnAl4WGUVsT5dplhaDYKlDTf2iMiJ+QDT25QABdrkHcIsu5D21AIdH3FI5UQnnu4unyEA77IDLp2EwKRr9k1XQc1o3zQ61+9Gm7Rt80WWgRsnhmshvAIDNcBv1+82kmA9jyeUf3M7KoRJLk6nIbZ1NwoVCX0VF3lRIB0Hvm/dL7Rpk8m/hE0SIIWIGaXbOT4ANFj+TxcF1Mfk7C3/T5/AYLHcq9ocYFKe4Q3Jv7tuHm600edpUfORdpCpjytcKStza07dRDa+OU577r6a1zHMrEMh8oEUtVO5pC1+EaRijTVaOR62DoarHdxJ23Ctk44o0JZfzj9VoVaAwVAhL1aT3pAQxQlWiTKpmYaHUYUp9SRJhyeFr/gpeIGTydKdawkh9Mz8KMlnu1GUolDDuOvSnvidzWaEaw=="
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied."
          }
        }
      }
    },
    "/v1/{namespace}/billing/cards/" : {
      "get" : {
        "tags" : [ "billing" ],
        "summary" : "Get credit cards",
        "operationId" : "billing_cards_list",
        "parameters" : [ {
          "name" : "namespace",
          "in" : "path",
          "description" : "User or team name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Set limit when retrieving credit or debit cards.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Set offset when retriving cards.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ordering",
          "in" : "query",
          "description" : "Order when retrieving cards.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Card list",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Card"
                  }
                },
                "example" : [ ]
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Card"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "billing" ],
        "summary" : "Create new credit card",
        "operationId" : "billing_cards_create",
        "parameters" : [ {
          "name" : "namespace",
          "in" : "path",
          "description" : "User or team name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CardDataPost"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Card created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Card"
                },
                "example" : {
                  "address_city" : "Atlanta",
                  "address_country" : "United States",
                  "address_line1" : "3423 Piedmont Rd NE",
                  "address_line1_check" : "pass",
                  "address_line2" : "",
                  "address_state" : "Georgia",
                  "address_zip" : "30305",
                  "address_zip_check" : "pass",
                  "brand" : "Visa",
                  "created" : "2017-07-24T15:16:07.995380Z",
                  "customer" : "7e102c7b-55cd-49a0-9b23-58865eba1cc3",
                  "cvc_check" : "",
                  "exp_month" : 1,
                  "exp_year" : 2019,
                  "fingerprint" : "WpZ4zQymdmF5LhbH",
                  "funding" : "credit",
                  "id" : "4126086e-525a-4027-b9e7-ae8de47210b2",
                  "last4" : "4242",
                  "name" : "John Doe",
                  "stripe_id" : "card_1Aj8HuLUHPUzUsaQlDbaXjzA"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Card"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{namespace}/billing/cards/{id}/" : {
      "get" : {
        "tags" : [ "billing" ],
        "summary" : "Get credit card by id",
        "operationId" : "billing_cards_read",
        "parameters" : [ {
          "name" : "namespace",
          "in" : "path",
          "description" : "User or team name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "User unique identifier expressed as UUID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Card retrieved.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Card"
                },
                "example" : {
                  "address_city" : "Atlanta",
                  "address_country" : "United States",
                  "address_line1" : "3423 Piedmont Rd NE",
                  "address_line1_check" : "pass",
                  "address_line2" : "",
                  "address_state" : "Georgia",
                  "address_zip" : "30305",
                  "address_zip_check" : "pass",
                  "brand" : "Visa",
                  "created" : "2017-07-24T15:16:07.995380Z",
                  "customer" : "7e102c7b-55cd-49a0-9b23-58865eba1cc3",
                  "cvc_check" : "",
                  "exp_month" : 1,
                  "exp_year" : 2019,
                  "fingerprint" : "WpZ4zQymdmF5LhbH",
                  "funding" : "credit",
                  "id" : "4126086e-525a-4027-b9e7-ae8de47210b2",
                  "last4" : "4242",
                  "name" : "John Doe",
                  "stripe_id" : "card_1Aj8HuLUHPUzUsaQlDbaXjzA"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Card"
                }
              }
            }
          },
          "404" : {
            "description" : "Card not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "billing" ],
        "summary" : "Replace a credit card",
        "operationId" : "billing_cards_replace",
        "parameters" : [ {
          "name" : "namespace",
          "in" : "path",
          "description" : "User or team name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CardDataPutandPatch"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Card updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Card"
                },
                "example" : {
                  "address_city" : "Atlanta",
                  "address_country" : "United States",
                  "address_line1" : "3423 Piedmont Rd NE",
                  "address_line1_check" : "pass",
                  "address_line2" : "",
                  "address_state" : "Georgia",
                  "address_zip" : "30305",
                  "address_zip_check" : "pass",
                  "brand" : "Visa",
                  "created" : "2017-07-24T15:16:07.995380Z",
                  "customer" : "7e102c7b-55cd-49a0-9b23-58865eba1cc3",
                  "cvc_check" : "",
                  "exp_month" : 1,
                  "exp_year" : 2027,
                  "fingerprint" : "WpZ4zQymdmF5LhbH",
                  "funding" : "credit",
                  "id" : "4126086e-525a-4027-b9e7-ae8de47210b2",
                  "last4" : "4242",
                  "name" : "John Doe",
                  "stripe_id" : "card_1Aj8HuLUHPUzUsaQlDbaXjzA"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Card"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "billing" ],
        "summary" : "Delete a credit card",
        "operationId" : "billing_cards_delete",
        "parameters" : [ {
          "name" : "namespace",
          "in" : "path",
          "description" : "User or team name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Card unique identifier expressed as UUID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Card deleted."
          },
          "404" : {
            "description" : "Card not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "billing" ],
        "summary" : "Update a credit card",
        "operationId" : "billing_cards_update",
        "parameters" : [ {
          "name" : "namespace",
          "in" : "path",
          "description" : "User or team name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Card unique identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CardDataPutandPatch"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Card updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Card"
                },
                "example" : {
                  "address_city" : "Atlanta",
                  "address_country" : "United States",
                  "address_line1" : "3423 Piedmont Rd NE",
                  "address_line1_check" : "pass",
                  "address_line2" : "",
                  "address_state" : "Georgia",
                  "address_zip" : "30305",
                  "address_zip_check" : "pass",
                  "brand" : "Visa",
                  "created" : "2017-07-24T15:16:10.806003Z",
                  "customer" : "7e102c7b-55cd-49a0-9b23-58865eba1cc3",
                  "cvc_check" : "",
                  "exp_month" : 1,
                  "exp_year" : 2025,
                  "fingerprint" : "WpZ4zQymdmF5LhbH",
                  "funding" : "credit",
                  "id" : "4126086e-525a-4027-b9e7-ae8de47210b2",
                  "last4" : "4242",
                  "name" : "John Doe",
                  "stripe_id" : "card_1Aj8HuLUHPUzUsaQlDbaXjzA"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Card"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid data supplied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardUpdateError"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardUpdateError"
                }
              }
            }
          },
          "404" : {
            "description" : "Card not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{namespace}/billing/invoices/" : {
      "get" : {
        "tags" : [ "billing" ],
        "summary" : "Get invoices",
        "operationId" : "billing_invoices_list",
        "parameters" : [ {
          "name" : "namespace",
          "in" : "path",
          "description" : "User or team name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit when getting items.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset when getting items.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ordering",
          "in" : "query",
          "description" : "Ordering when getting items.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Invoice list.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Invoice"
                  }
                },
                "example" : [ ]
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Invoice"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/{namespace}/billing/invoices/{id}/" : {
      "get" : {
        "tags" : [ "billing" ],
        "summary" : "Get an invoice",
        "operationId" : "billing_invoices_read",
        "parameters" : [ {
          "name" : "namespace",
          "in" : "path",
          "description" : "User or team name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
[...]
