{"openapi":"3.0.1","info":{"title":"Azure Dedicated HSM Resource Provider","description":"The Azure management API provides a RESTful set of web services that interact with Azure Dedicated HSM RP.","version":"2018-10-31-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs":{"get":{"tags":["DedicatedHsms"],"description":"The List operation gets information about the dedicated HSMs associated with the subscription.","operationId":"DedicatedHsm_ListBySubscription","parameters":[{"name":"$top","in":"query","description":"Maximum number of results to return.","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Get information about all dedicated HSMs in the specified subscription.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DedicatedHsmListResult"}}}},"default":{"description":"The error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DedicatedHsmError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs":{"get":{"tags":["DedicatedHsms"],"description":"The List operation gets information about the dedicated hsms associated with the subscription and within the specified resource group.","operationId":"DedicatedHsm_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the Resource Group to which the dedicated HSM belongs.","required":true,"schema":{"type":"string"}},{"name":"$top","in":"query","description":"Maximum number of results to return.","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Get information about all dedicated HSMs in the specified resource group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DedicatedHsmListResult"}}}},"default":{"description":"The error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DedicatedHsmError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/{name}":{"get":{"tags":["DedicatedHsms"],"description":"Gets the specified Azure dedicated HSM.","operationId":"DedicatedHsm_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the Resource Group to which the dedicated hsm belongs.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"The name of the dedicated HSM.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Retrieved dedicated HSM","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DedicatedHsm"}}}},"default":{"description":"The error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DedicatedHsmError"}}}}}},"put":{"tags":["DedicatedHsms"],"description":"Create or Update a dedicated HSM in the specified subscription.","operationId":"DedicatedHsm_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the Resource Group to which the resource belongs.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the dedicated Hsm","required":true,"schema":{"pattern":"^[a-zA-Z0-9-]{3,24}$","type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters to create or update the dedicated hsm","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DedicatedHsm"}}},"required":true},"responses":{"200":{"description":"Created dedicated HSM","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DedicatedHsm"}}}},"201":{"description":"Created dedicated HSM","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DedicatedHsm"}}}},"default":{"description":"The error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DedicatedHsmError"}}}}}},"delete":{"tags":["DedicatedHsms"],"description":"Deletes the specified Azure Dedicated HSM.","operationId":"DedicatedHsm_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the Resource Group to which the dedicated HSM belongs.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"The name of the dedicated HSM to delete","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK Response."},"202":{"description":"Accepted"},"204":{"description":"No Content"},"default":{"description":"The error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DedicatedHsmError"}}}}}},"patch":{"tags":["DedicatedHsms"],"description":"Update a dedicated HSM in the specified subscription.","operationId":"DedicatedHsm_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the Resource Group to which the server belongs.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the dedicated HSM","required":true,"schema":{"pattern":"^[a-zA-Z0-9-]{3,24}$","type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters to patch the dedicated HSM","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DedicatedHsmPatchParameters"}}},"required":true},"responses":{"200":{"description":"Patched dedicated HSM","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DedicatedHsm"}}}},"default":{"description":"The error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DedicatedHsmError"}}}}}}}},"components":{"schemas":{"ApiEntityReference":{"type":"object","properties":{"id":{"type":"string","description":"The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/..."}},"description":"The API entity reference."},"DedicatedHsm":{"properties":{"properties":{"$ref":"#/components/schemas/DedicatedHsmProperties"}},"description":"Resource information with extended details.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"DedicatedHsmError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/Error"}},"description":"The error exception."},"DedicatedHsmListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of dedicated hsms."},"value":{"type":"array","description":"The list of dedicated HSMs.","items":{"$ref":"#/components/schemas/DedicatedHsm"}}},"description":"List of dedicated HSMs"},"DedicatedHsmPatchParameters":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"}},"description":"Patchable properties of the dedicated HSM"},"DedicatedHsmProperties":{"type":"object","properties":{"networkProfile":{"$ref":"#/components/schemas/NetworkProfile"},"provisioningState":{"type":"string","description":"Provisioning state.","readOnly":true,"enum":["Succeeded","Provisioning","Allocating","Connecting","Failed","CheckingQuota","Deleting"]},"stampId":{"type":"string","description":"This field will be used when RP does not support Availability zones."},"statusMessage":{"type":"string","description":"Resource Status Message.","readOnly":true}},"description":"Properties of the dedicated hsm"},"Error":{"type":"object","properties":{"code":{"type":"string","description":"The error code.","readOnly":true},"innererror":{"$ref":"#/components/schemas/Error"},"message":{"type":"string","description":"The error message.","readOnly":true}},"description":"The key vault server error."},"NetworkInterface":{"type":"object","properties":{"id":{"type":"string","description":"The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...","readOnly":true},"privateIpAddress":{"type":"string","description":"Private Ip address of the interface"}},"description":"The network interface definition."},"NetworkProfile":{"type":"object","properties":{"networkInterfaces":{"type":"array","description":"Specifies the list of resource Ids for the network interfaces associated with the dedicated HSM.","items":{"$ref":"#/components/schemas/NetworkInterface"}},"subnet":{"$ref":"#/components/schemas/ApiEntityReference"}}},"Resource":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"The Azure Resource Manager resource ID for the dedicated HSM.","readOnly":true},"location":{"type":"string","description":"The supported Azure location where the dedicated HSM should be created."},"name":{"type":"string","description":"The name of the dedicated HSM.","readOnly":true},"sku":{"$ref":"#/components/schemas/Sku"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"},"type":{"type":"string","description":"The resource type of the dedicated HSM.","readOnly":true},"zones":{"type":"array","description":"The Dedicated Hsm zones.","items":{"type":"string"}}},"description":"Dedicated HSM resource"},"ResourceListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of dedicated HSM resources."},"value":{"type":"array","description":"The list of dedicated HSM resources.","items":{"$ref":"#/components/schemas/Resource"}}},"description":"List of dedicated HSM resources."},"Sku":{"type":"object","properties":{"name":{"type":"string","description":"SKU of the dedicated HSM","enum":["SafeNet Luna Network HSM A790"]}}}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}