{"openapi":"3.0.1","info":{"title":"HanaManagementClient","description":"The SAP HANA on Azure Management Client.","version":"2017-11-03-preview"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/providers/Microsoft.HanaOnAzure/operations":{"get":{"tags":["HanaOnAzure"],"description":"Gets a list of SAP HANA management operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.HanaOnAzure/hanaInstances":{"get":{"tags":["HanaOnAzure"],"summary":"Gets a list of SAP HANA instances in the specified subscription.","description":"Gets a list of SAP HANA instances in the specified subscription. The operations returns various properties of each SAP HANA on Azure instance.","operationId":"HanaInstances_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HanaInstancesListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.HanaOnAzure/sapMonitors":{"get":{"tags":["HanaOnAzure"],"summary":"Gets a list of SAP monitors in the specified subscription.","description":"Gets a list of SAP monitors in the specified subscription. The operations returns various properties of each SAP monitor.","operationId":"SapMonitors_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SapMonitorListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances":{"get":{"tags":["HanaOnAzure"],"summary":"Gets a list of SAP HANA instances in the specified subscription and the resource group.","description":"Gets a list of SAP HANA instances in the specified subscription and the resource group. The operations returns various properties of each SAP HANA on Azure instance.","operationId":"HanaInstances_ListByResourceGroup","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HanaInstancesListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}":{"get":{"tags":["HanaOnAzure"],"summary":"Gets properties of a SAP HANA instance.","description":"Gets properties of a SAP HANA instance for the specified subscription, resource group, and instance name.","operationId":"HanaInstances_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"hanaInstanceName","in":"path","description":"Name of the SAP HANA on Azure instance.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HanaInstance"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["HanaOnAzure"],"summary":"Creates a SAP HANA instance.","description":"Creates a SAP HANA instance for the specified subscription, resource group, and instance name.","operationId":"HanaInstances_Create","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"hanaInstanceName","in":"path","description":"Name of the SAP HANA on Azure instance.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request body representing a HanaInstance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HanaInstance"}}},"required":true},"responses":{"200":{"description":"Created HanaInstance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HanaInstance"}}}},"201":{"description":"Creating HanaInstance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HanaInstance"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["HanaOnAzure"],"summary":"Deletes a SAP HANA instance.","description":"Deletes a SAP HANA instance with the specified subscription, resource group, and instance name.","operationId":"HanaInstances_Delete","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"hanaInstanceName","in":"path","description":"Name of the SAP HANA on Azure instance.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted HanaInstance"},"202":{"description":"Deleting HanaInstance"},"204":{"description":"No HanaInstance to delete"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["HanaOnAzure"],"summary":"Patches the Tags field of a SAP HANA instance.","description":"Patches the Tags field of a SAP HANA instance for the specified subscription, resource group, and instance name.","operationId":"HanaInstances_Update","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"hanaInstanceName","in":"path","description":"Name of the SAP HANA on Azure instance.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request body that only contains the new Tags field","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tags"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HanaInstance"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}/restart":{"post":{"tags":["HanaOnAzure"],"description":"The operation to restart a SAP HANA instance.","operationId":"HanaInstances_Restart","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"hanaInstanceName","in":"path","description":"Name of the SAP HANA on Azure instance.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}/shutdown":{"post":{"tags":["HanaOnAzure"],"description":"The operation to shutdown a SAP HANA instance.","operationId":"HanaInstances_Shutdown","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"hanaInstanceName","in":"path","description":"Name of the SAP HANA on Azure instance.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}/start":{"post":{"tags":["HanaOnAzure"],"description":"The operation to start a SAP HANA instance.","operationId":"HanaInstances_Start","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"hanaInstanceName","in":"path","description":"Name of the SAP HANA on Azure instance.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/sapMonitors/{sapMonitorName}":{"get":{"tags":["HanaOnAzure"],"summary":"Gets properties of a SAP monitor.","description":"Gets properties of a SAP monitor for the specified subscription, resource group, and resource name.","operationId":"SapMonitors_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"sapMonitorName","in":"path","description":"Name of the SAP monitor resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SapMonitor"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["HanaOnAzure"],"summary":"Creates a SAP monitor.","description":"Creates a SAP monitor for the specified subscription, resource group, and resource name.","operationId":"SapMonitors_Create","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"sapMonitorName","in":"path","description":"Name of the SAP monitor resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request body representing a SAP Monitor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SapMonitor"}}},"required":true},"responses":{"200":{"description":"Created SapMonitor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SapMonitor"}}}},"201":{"description":"Creating SapMonitor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SapMonitor"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["HanaOnAzure"],"summary":"Deletes a SAP monitor.","description":"Deletes a SAP monitor with the specified subscription, resource group, and monitor name.","operationId":"SapMonitors_Delete","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"sapMonitorName","in":"path","description":"Name of the SAP monitor resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted SapMonitor"},"202":{"description":"Deleting SapMonitor"},"204":{"description":"No SapMonitor to delete"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["HanaOnAzure"],"summary":"Patches the Tags field of a SAP monitor.","description":"Patches the Tags field of a SAP monitor for the specified subscription, resource group, and monitor name.","operationId":"SapMonitors_Update","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"sapMonitorName","in":"path","description":"Name of the SAP monitor resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request body that only contains the new Tags field","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tags"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SapMonitor"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"Disk":{"type":"object","properties":{"diskSizeGB":{"type":"integer","description":"Specifies the size of an empty data disk in gigabytes.","format":"int32"},"lun":{"type":"integer","description":"Specifies the logical unit number of the data disk. This value is used to identify data disks within the VM and therefore must be unique for each data disk attached to a VM.","format":"int32","readOnly":true},"name":{"type":"string","description":"The disk name."}},"description":"Specifies the disk information fo the HANA instance"},"Display":{"type":"object","properties":{"description":{"type":"string","description":"The localized friendly description for the operation as shown to the user. This description should be thorough, yet concise. It will be used in tool-tips and detailed views.","readOnly":true},"operation":{"type":"string","description":"The localized friendly name for the operation as shown to the user. This name should be concise (to fit in drop downs), but clear (self-documenting). Use Title Casing and include the entity/resource to which it applies.","readOnly":true},"origin":{"type":"string","description":"The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX. Default value is 'user,system'","readOnly":true},"provider":{"type":"string","description":"The localized friendly form of the resource provider name. This form is also expected to include the publisher/company responsible. Use Title Casing. Begin with \"Microsoft\" for 1st party services.","readOnly":true},"resource":{"type":"string","description":"The localized friendly form of the resource type related to this action/operation. This form should match the public documentation for the resource provider. Use Title Casing. For examples, refer to the “name” section.","readOnly":true}},"description":"Detailed HANA operation information"},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."},"HanaInstance":{"properties":{"properties":{"$ref":"#/components/schemas/HanaInstanceProperties"}},"description":"HANA instance info on Azure (ARM properties and HANA properties)","allOf":[{"$ref":"#/components/schemas/Resource"}]},"HanaInstanceProperties":{"type":"object","properties":{"hanaInstanceId":{"type":"string","description":"Specifies the HANA instance unique ID.","readOnly":true},"hardwareProfile":{"$ref":"#/components/schemas/HardwareProfile"},"hwRevision":{"type":"string","description":"Hardware revision of a HANA instance","readOnly":true},"networkProfile":{"$ref":"#/components/schemas/NetworkProfile"},"osProfile":{"$ref":"#/components/schemas/OSProfile"},"partnerNodeId":{"type":"string","description":"ARM ID of another HanaInstance that will share a network with this HanaInstance"},"powerState":{"type":"string","description":"Resource power state","readOnly":true,"enum":["starting","started","stopping","stopped","restarting","unknown"]},"provisioningState":{"type":"string","description":"State of provisioning of the HanaInstance","readOnly":true,"enum":["Accepted","Creating","Updating","Failed","Succeeded","Deleting","Migrating"]},"proximityPlacementGroup":{"type":"string","description":"Resource proximity placement group","readOnly":true},"storageProfile":{"$ref":"#/components/schemas/StorageProfile"}},"description":"Describes the properties of a HANA instance."},"HanaInstancesListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of HANA instances."},"value":{"type":"array","description":"The list of SAP HANA on Azure instances.","items":{"$ref":"#/components/schemas/HanaInstance"}}},"description":"The response from the List HANA Instances operation."},"HardwareProfile":{"type":"object","properties":{"hanaInstanceSize":{"type":"string","description":"Specifies the HANA instance SKU.","readOnly":true,"enum":["S72m","S144m","S72","S144","S192","S192m","S192xm","S96","S112","S224m","S224o","S224om","S224oo","S224oom","S224ooo","S224oxm","S224oxxm","S384","S384m","S384xm","S384xxm","S576m","S576xm","S768","S768m","S768xm","S960m"]},"hardwareType":{"type":"string","description":"Name of the hardware type (vendor and/or their product name)","readOnly":true,"enum":["Cisco_UCS","HPE"]}},"description":"Specifies the hardware settings for the HANA instance."},"IpAddress":{"type":"object","properties":{"ipAddress":{"type":"string","description":"Specifies the IP address of the network interface."}},"description":"Specifies the IP address of the network interface."},"MonitoringDetails":{"type":"object","properties":{"hanaDbName":{"type":"string","description":"Name of the database itself."},"hanaDbPassword":{"type":"string","description":"Password for the HANA database to login for monitoring"},"hanaDbSqlPort":{"type":"integer","description":"The port number of the tenant DB. Used to connect to the DB."},"hanaDbUsername":{"type":"string","description":"Username for the HANA database to login to for monitoring"},"hanaHostname":{"type":"string","description":"Hostname of the HANA Instance blade."},"hanaSubnet":{"type":"string","description":"ARM ID of an Azure Subnet with access to the HANA instance."}},"description":"Details needed to monitor a Hana Instance"},"NetworkProfile":{"type":"object","properties":{"circuitId":{"type":"string","description":"Specifies the circuit id for connecting to express route.","readOnly":true},"networkInterfaces":{"type":"array","description":"Specifies the network interfaces for the HANA instance.","items":{"$ref":"#/components/schemas/IpAddress"}}},"description":"Specifies the network settings for the HANA instance disks."},"OSProfile":{"type":"object","properties":{"computerName":{"type":"string","description":"Specifies the host OS name of the HANA instance."},"osType":{"type":"string","description":"This property allows you to specify the type of the OS.","readOnly":true},"sshPublicKey":{"type":"string","description":"Specifies the SSH public key used to access the operating system."},"version":{"type":"string","description":"Specifies version of operating system.","readOnly":true}},"description":"Specifies the operating system settings for the HANA instance."},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/Display"},"name":{"type":"string","description":"The name of the operation being performed on this particular object. This name should match the action name that appears in RBAC / the event service.","readOnly":true}},"description":"HANA operation information"},"OperationList":{"type":"object","properties":{"value":{"type":"array","description":"List of HANA operations","items":{"$ref":"#/components/schemas/Operation"}}},"description":"List of HANA operations"},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"The resource model definition."},"SapMonitor":{"properties":{"properties":{"$ref":"#/components/schemas/SapMonitorProperties"}},"description":"SAP monitor info on Azure (ARM properties and SAP monitor properties)","allOf":[{"$ref":"#/components/schemas/Resource"}]},"SapMonitorListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of SAP monitors."},"value":{"type":"array","description":"The list of SAP monitors.","items":{"$ref":"#/components/schemas/SapMonitor"}}},"description":"The response from the List SAP monitors operation."},"SapMonitorProperties":{"type":"object","properties":{"enableCustomerAnalytics":{"type":"boolean","description":"The value indicating whether to send analytics to Microsoft"},"hanaDbCredentialsMsiId":{"type":"string","description":"MSI ID passed by customer which has access to customer's KeyVault and to be assigned to the Collector VM."},"hanaDbName":{"type":"string","description":"Database name of the HANA instance."},"hanaDbPassword":{"type":"string","description":"Database password of the HANA instance."},"hanaDbPasswordKeyVaultUrl":{"type":"string","description":"KeyVault URL link to the password for the HANA database."},"hanaDbSqlPort":{"type":"integer","description":"Database port of the HANA instance."},"hanaDbUsername":{"type":"string","description":"Database username of the HANA instance."},"hanaHostname":{"type":"string","description":"Hostname of the HANA instance."},"hanaSubnet":{"type":"string","description":"Specifies the SAP monitor unique ID."},"keyVaultId":{"type":"string","description":"Key Vault ID containing customer's HANA credentials."},"logAnalyticsWorkspaceArmId":{"type":"string","description":"The ARM ID of the Log Analytics Workspace that is used for monitoring"},"logAnalyticsWorkspaceId":{"type":"string","description":"The workspace ID of the log analytics workspace to be used for monitoring"},"logAnalyticsWorkspaceSharedKey":{"type":"string","description":"The shared key of the log analytics workspace that is used for monitoring"},"managedResourceGroupName":{"type":"string","description":"The name of the resource group the SAP Monitor resources get deployed into.","readOnly":true},"provisioningState":{"type":"string","description":"State of provisioning of the HanaInstance","readOnly":true,"enum":["Accepted","Creating","Updating","Failed","Succeeded","Deleting","Migrating"]}},"description":"Describes the properties of a SAP monitor."},"StorageProfile":{"type":"object","properties":{"nfsIpAddress":{"type":"string","description":"IP Address to connect to storage.","readOnly":true},"osDisks":{"type":"array","description":"Specifies information about the operating system disk used by the hana instance.","items":{"$ref":"#/components/schemas/Disk"}}},"description":"Specifies the storage settings for the HANA instance disks."},"Tags":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Tags field of the HANA instance."}},"description":"Tags field of the HANA instance."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},"HanaInstanceNameParameter":{"name":"hanaInstanceName","in":"path","description":"Name of the SAP HANA on Azure instance.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},"SapMonitorNameParameter":{"name":"sapMonitorName","in":"path","description":"Name of the SAP monitor resource.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"requestBodies":{"HanaInstanceParameter":{"description":"Request body representing a HanaInstance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HanaInstance"}}},"required":true},"MonitoringParameter":{"description":"Request body that only contains monitoring attributes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitoringDetails"}}},"required":true},"SapMonitorParameter":{"description":"Request body representing a SAP Monitor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SapMonitor"}}},"required":true},"TagsParameter":{"description":"Request body that only contains the new Tags field","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tags"}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}