{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2019-07-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/firewallPolicies" : {
      "get" : {
        "tags" : [ "FirewallPolicies" ],
        "description" : "Gets all the Firewall Policies in a subscription.",
        "operationId" : "FirewallPolicies_ListAll",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The operation returns a list of FirewallPolicy resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FirewallPolicyListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies" : {
      "get" : {
        "tags" : [ "FirewallPolicies" ],
        "description" : "Lists all Firewall Policies in a resource group.",
        "operationId" : "FirewallPolicies_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The operation returns a list of FirewallPolicy resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FirewallPolicyListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}" : {
      "get" : {
        "tags" : [ "FirewallPolicies" ],
        "description" : "Gets the specified Firewall Policy.",
        "operationId" : "FirewallPolicies_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firewallPolicyName",
          "in" : "path",
          "description" : "The name of the Firewall Policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expands referenced resources.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a Firewall Policy resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FirewallPolicy"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "FirewallPolicies" ],
        "description" : "Creates or updates the specified Firewall Policy.",
        "operationId" : "FirewallPolicies_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firewallPolicyName",
          "in" : "path",
          "description" : "The name of the Firewall Policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update Firewall Policy operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FirewallPolicy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting FirewallPolicy resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FirewallPolicy"
                }
              }
            }
          },
          "201" : {
            "description" : "Request received successfully. The operation returns the resulting FirewallPolicy resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FirewallPolicy"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "FirewallPolicies" ],
        "description" : "Deletes the specified Firewall Policy.",
        "operationId" : "FirewallPolicies_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firewallPolicyName",
          "in" : "path",
          "description" : "The name of the Firewall Policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Request successful. Resource with the specified name does not exist."
          }
        }
      },
      "patch" : {
        "tags" : [ "FirewallPolicies" ],
        "description" : "Updates a Firewall Policy Tags.",
        "operationId" : "FirewallPolicies_UpdateTags",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name of the Firewall Policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firewallPolicyName",
          "in" : "path",
          "description" : "The name of the Firewall Policy being updated.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to Update Firewall Policy tags.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "tags" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    },
                    "description" : "Resource tags."
                  }
                },
                "description" : "Tags object for patch operations."
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. Returns the details of the Firewall Policy updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FirewallPolicy"
                }
              }
            }
          },
          "default" : {
            "description" : "Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/ruleGroups" : {
      "get" : {
        "tags" : [ "FirewallPolicyRuleGroups" ],
        "description" : "Lists all FirewallPolicyRuleGroups in a FirewallPolicy resource.",
        "operationId" : "FirewallPolicyRuleGroups_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firewallPolicyName",
          "in" : "path",
          "description" : "The name of the Firewall Policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The operation returns a list of FirewallPolicyRuleGroup resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FirewallPolicyRuleGroupListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/ruleGroups/{ruleGroupName}" : {
      "get" : {
        "tags" : [ "FirewallPolicyRuleGroups" ],
        "description" : "Gets the specified FirewallPolicyRuleGroup.",
        "operationId" : "FirewallPolicyRuleGroups_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firewallPolicyName",
          "in" : "path",
          "description" : "The name of the Firewall Policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ruleGroupName",
          "in" : "path",
          "description" : "The name of the FirewallPolicyRuleGroup.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a FirewallPolicyRuleGroup resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FirewallPolicyRuleGroup"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "FirewallPolicyRuleGroups" ],
        "description" : "Creates or updates the specified FirewallPolicyRuleGroup.",
        "operationId" : "FirewallPolicyRuleGroups_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firewallPolicyName",
          "in" : "path",
          "description" : "The name of the Firewall Policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ruleGroupName",
          "in" : "path",
          "description" : "The name of the FirewallPolicyRuleGroup.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update FirewallPolicyRuleGroup operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FirewallPolicyRuleGroup"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting FirewallPolicyRuleGroup resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FirewallPolicyRuleGroup"
                }
              }
            }
          },
          "201" : {
            "description" : "Request received successfully. The operation returns the resulting FirewallPolicyRuleGroup resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FirewallPolicyRuleGroup"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "FirewallPolicyRuleGroups" ],
        "description" : "Deletes the specified FirewallPolicyRuleGroup.",
        "operationId" : "FirewallPolicyRuleGroups_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firewallPolicyName",
          "in" : "path",
          "description" : "The name of the Firewall Policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ruleGroupName",
          "in" : "path",
          "description" : "The name of the FirewallPolicyRuleGroup.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Request successful. Resource with the specified name does not exist."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ApplicationRuleCondition" : {
        "properties" : {
          "destinationAddresses" : {
            "type" : "array",
            "description" : "List of destination IP addresses or Service Tags.",
            "items" : {
              "type" : "string"
            }
          },
          "fqdnTags" : {
            "type" : "array",
            "description" : "List of FQDN Tags for this rule condition.",
            "items" : {
              "type" : "string"
            }
          },
          "protocols" : {
            "type" : "array",
            "description" : "Array of Application Protocols.",
            "items" : {
              "$ref" : "#/components/schemas/FirewallPolicyRuleConditionApplicationProtocol"
            }
          },
          "sourceAddresses" : {
            "type" : "array",
            "description" : "List of source IP addresses for this rule.",
            "items" : {
              "type" : "string"
            }
          },
          "targetFqdns" : {
            "type" : "array",
            "description" : "List of FQDNs for this rule condition.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Rule condition of type application.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/FirewallPolicyRuleCondition"
        } ]
      },
      "FirewallPolicy" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/FirewallPolicyPropertiesFormat"
          }
        },
        "description" : "FirewallPolicy Resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Common resource representation."
        } ]
      },
      "FirewallPolicyFilterRule" : {
        "properties" : {
          "action" : {
            "$ref" : "#/components/schemas/FirewallPolicyFilterRuleAction"
          },
          "ruleConditions" : {
            "type" : "array",
            "description" : "Collection of rule conditions used by a rule.",
            "items" : {
              "$ref" : "#/components/schemas/FirewallPolicyRuleCondition"
            }
          }
        },
        "description" : "Firewall Policy Filter Rule.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/FirewallPolicyRule"
        } ]
      },
      "FirewallPolicyFilterRuleAction" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "$ref" : "#/components/schemas/FirewallPolicyFilterRuleActionType"
          }
        },
        "description" : "Properties of the FirewallPolicyFilterRuleAction."
      },
      "FirewallPolicyFilterRuleActionType" : {
        "type" : "string",
        "description" : "The action type of a rule.",
        "enum" : [ "Allow", "Deny", "Alert " ]
      },
      "FirewallPolicyListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "List of Firewall Policies in a resource group.",
            "items" : {
              "$ref" : "#/components/schemas/FirewallPolicy"
            }
          }
        },
        "description" : "Response for ListFirewallPolicies API service call."
      },
      "FirewallPolicyNatRule" : {
        "properties" : {
          "action" : {
            "$ref" : "#/components/schemas/FirewallPolicyNatRuleAction"
          },
          "ruleCondition" : {
            "$ref" : "#/components/schemas/FirewallPolicyRuleCondition"
          },
          "translatedAddress" : {
            "type" : "string",
            "description" : "The translated address for this NAT rule."
          },
          "translatedPort" : {
            "type" : "string",
            "description" : "The translated port for this NAT rule."
          }
        },
        "description" : "Firewall Policy NAT Rule.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/FirewallPolicyRule"
        } ]
      },
      "FirewallPolicyNatRuleAction" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "$ref" : "#/components/schemas/FirewallPolicyNatRuleActionType"
          }
        },
        "description" : "Properties of the FirewallPolicyNatRuleAction."
      },
      "FirewallPolicyNatRuleActionType" : {
        "type" : "string",
        "description" : "The action type of a rule.",
        "enum" : [ "DNAT", "SNAT" ]
      },
      "FirewallPolicyPropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "basePolicy" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID."
              }
            },
            "description" : "Reference to another subresource."
          },
          "childPolicies" : {
            "type" : "array",
            "description" : "List of references to Child Firewall Policies.",
            "readOnly" : true,
            "items" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "type" : "string",
                  "description" : "Resource ID."
                }
              },
              "description" : "Reference to another subresource."
            }
          },
          "firewalls" : {
            "type" : "array",
            "description" : "List of references to Azure Firewalls that this Firewall Policy is associated with.",
            "readOnly" : true,
            "items" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "type" : "string",
                  "description" : "Resource ID."
                }
              },
              "description" : "Reference to another subresource."
            }
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
          "ruleGroups" : {
            "type" : "array",
            "description" : "List of references to FirewallPolicyRuleGroups.",
            "readOnly" : true,
            "items" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "type" : "string",
                  "description" : "Resource ID."
                }
              },
              "description" : "Reference to another subresource."
            }
          },
          "threatIntelMode" : {
            "type" : "string",
            "description" : "The operation mode for Threat Intel.",
            "enum" : [ "Alert", "Deny", "Off" ]
          }
        },
        "description" : "Firewall Policy definition."
      },
      "FirewallPolicyRule" : {
        "required" : [ "ruleType" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the rule."
          },
          "priority" : {
            "maximum" : 65000,
            "exclusiveMaximum" : false,
            "minimum" : 100,
            "exclusiveMinimum" : false,
            "type" : "integer",
            "description" : "Priority of the Firewall Policy Rule resource.",
            "format" : "int32"
          },
          "ruleType" : {
            "type" : "string",
            "description" : "The type of the rule.",
            "enum" : [ "FirewallPolicyNatRule", "FirewallPolicyFilterRule" ]
          }
        },
        "description" : "Properties of the rule.",
        "discriminator" : {
          "propertyName" : "ruleType"
        }
      },
      "FirewallPolicyRuleCondition" : {
        "required" : [ "ruleConditionType" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Description of the rule condition."
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the rule condition."
          },
          "ruleConditionType" : {
            "type" : "string",
            "description" : "Rule Condition Type.",
            "enum" : [ "ApplicationRuleCondition", "NetworkRuleCondition" ]
          }
        },
        "description" : "Properties of a rule.",
        "discriminator" : {
          "propertyName" : "ruleConditionType"
        }
      },
      "FirewallPolicyRuleConditionApplicationProtocol" : {
        "type" : "object",
        "properties" : {
          "port" : {
            "maximum" : 64000,
            "exclusiveMaximum" : false,
            "minimum" : 0,
            "exclusiveMinimum" : false,
            "type" : "integer",
            "description" : "Port number for the protocol, cannot be greater than 64000.",
            "format" : "int32"
          },
          "protocolType" : {
            "$ref" : "#/components/schemas/FirewallPolicyRuleConditionApplicationProtocolType"
          }
        },
        "description" : "Properties of the application rule protocol."
      },
      "FirewallPolicyRuleConditionApplicationProtocolType" : {
        "type" : "string",
        "description" : "The application protocol type of a Rule condition.",
        "enum" : [ "Http", "Https" ]
      },
      "FirewallPolicyRuleConditionNetworkProtocol" : {
        "type" : "string",
        "description" : "The Network protocol of a Rule condition.",
        "enum" : [ "TCP", "UDP", "Any", "ICMP" ]
      },
      "FirewallPolicyRuleGroup" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the resource that is unique within a resource group. This name can be used to access the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/FirewallPolicyRuleGroupProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Rule Group type.",
            "readOnly" : true
          }
        },
        "description" : "Rule Group resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            }
          },
          "description" : "Reference to another subresource."
        } ]
      },
      "FirewallPolicyRuleGroupListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "List of FirewallPolicyRuleGroups in a FirewallPolicy.",
            "items" : {
              "$ref" : "#/components/schemas/FirewallPolicyRuleGroup"
            }
          }
        },
        "description" : "Response for ListFirewallPolicyRuleGroups API service call."
      },
      "FirewallPolicyRuleGroupProperties" : {
        "type" : "object",
        "properties" : {
          "priority" : {
            "maximum" : 65000,
            "exclusiveMaximum" : false,
            "minimum" : 100,
            "exclusiveMinimum" : false,
            "type" : "integer",
            "description" : "Priority of the Firewall Policy Rule Group resource.",
            "format" : "int32"
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
          "rules" : {
            "type" : "array",
            "description" : "Group of Firewall Policy rules.",
            "items" : {
              "$ref" : "#/components/schemas/FirewallPolicyRule"
            }
          }
        },
        "description" : "Properties of the rule group."
      },
      "NetworkRuleCondition" : {
        "properties" : {
          "destinationAddresses" : {
            "type" : "array",
            "description" : "List of destination IP addresses or Service Tags.",
            "items" : {
              "type" : "string"
            }
          },
          "destinationPorts" : {
            "type" : "array",
            "description" : "List of destination ports.",
            "items" : {
              "type" : "string"
            }
          },
          "ipProtocols" : {
            "type" : "array",
            "description" : "Array of FirewallPolicyRuleConditionNetworkProtocols.",
            "items" : {
              "$ref" : "#/components/schemas/FirewallPolicyRuleConditionNetworkProtocol"
            }
          },
          "sourceAddresses" : {
            "type" : "array",
            "description" : "List of source IP addresses for this rule.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Rule condition of type network.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/FirewallPolicyRuleCondition"
        } ]
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}