{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Taxamo",
    "description" : "Taxamo’s elegant suite of APIs and comprehensive reporting dashboard enables digital merchants to easily comply with EU regulatory requirements on tax calculation, evidence collection, tax return creation and data storage.",
    "version" : "1"
  },
  "servers" : [ {
    "url" : "https://api.taxamo.com/"
  } ],
  "tags" : [ {
    "name" : "dictionaries",
    "description" : "Dictionaries"
  }, {
    "name" : "geoip",
    "description" : "GeoIP"
  }, {
    "name" : "invoices",
    "description" : "Invoices"
  }, {
    "name" : "payments",
    "description" : "Payments"
  }, {
    "name" : "refunds",
    "description" : "Refunds"
  }, {
    "name" : "reporting",
    "description" : "Reporting"
  }, {
    "name" : "settlement",
    "description" : "Settlement"
  }, {
    "name" : "statistics",
    "description" : "Statistics"
  }, {
    "name" : "tax",
    "description" : "Tax"
  }, {
    "name" : "transactions",
    "description" : "Transactions"
  }, {
    "name" : "verification",
    "description" : "Verification"
  } ],
  "paths" : {
    "/api/v1/dictionaries/countries" : {
      "get" : {
        "tags" : [ "dictionaries" ],
        "summary" : "Countries",
        "operationId" : "getCountriesDict",
        "parameters" : [ {
          "name" : "tax_supported",
          "in" : "query",
          "description" : "Should only countries with tax supported be listed?",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getCountriesDictOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/dictionaries/currencies" : {
      "get" : {
        "tags" : [ "dictionaries" ],
        "summary" : "Currencies",
        "operationId" : "getCurrenciesDict",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getCurrenciesDictOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/dictionaries/product_types" : {
      "get" : {
        "tags" : [ "dictionaries" ],
        "summary" : "Product types",
        "operationId" : "getProductTypesDict",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getProductTypesDictOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/geoip" : {
      "get" : {
        "tags" : [ "geoip" ],
        "summary" : "Locate IP",
        "operationId" : "locateMyIP",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/locateMyIPOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/geoip/{ip}" : {
      "get" : {
        "tags" : [ "geoip" ],
        "summary" : "Locate provided IP",
        "operationId" : "locateGivenIP",
        "parameters" : [ {
          "name" : "ip",
          "in" : "path",
          "description" : "IP address.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/locateGivenIPOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/reports/domestic/summary" : {
      "get" : {
        "tags" : [ "reporting" ],
        "summary" : "Calculate domestic summary",
        "operationId" : "getDomesticSummaryReport",
        "parameters" : [ {
          "name" : "format",
          "in" : "query",
          "description" : "Output format. 'xml' and 'csv' values are accepted. Default format - json",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "country_code",
          "in" : "query",
          "description" : "ISO 2-letter country code which will be used for determining which country is domestic.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "currency_code",
          "in" : "query",
          "description" : "ISO 3-letter currency code, e.g. EUR or USD. Defaults to the one assigned to MOSS calculations for a given country code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start_month",
          "in" : "query",
          "description" : "Period start month in yyyy-MM format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end_month",
          "in" : "query",
          "description" : "Period end month in yyyy-MM format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fx_date_type",
          "in" : "query",
          "description" : "Which date should be used for FX.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getDomesticSummaryReportOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/reports/eu/vies" : {
      "get" : {
        "tags" : [ "reporting" ],
        "summary" : "Calculate EU VIES report",
        "operationId" : "getEuViesReport",
        "parameters" : [ {
          "name" : "period_length",
          "in" : "query",
          "description" : "Length of report period. 'month', 'quarter' and 'year' values are accepted. Required only if Large Filer Format is requested.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "lff_sequence_number",
          "in" : "query",
          "description" : "Sequence number used to generate report in Large Filer Format. If not specified then '0000000001' will be used.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transformation",
          "in" : "query",
          "description" : "Which transformation should be applied. Please note that transformation will be applied only for xml and csv formats.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "currency_code",
          "in" : "query",
          "description" : "ISO 3-letter currency code, e.g. EUR or USD. Defaults to the one assigned to MOSS calculations for a given country code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end_month",
          "in" : "query",
          "description" : "Period end month in yyyy-MM format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tax_id",
          "in" : "query",
          "description" : "MOSS-assigned tax ID - if not provided, merchant's national tax number will be used.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start_month",
          "in" : "query",
          "description" : "Period start month in yyyy-MM format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eu_country_code",
          "in" : "query",
          "description" : "ISO 2-letter country code which will be used for determining which country is domestic.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fx_date_type",
          "in" : "query",
          "description" : "Which date should be used for FX.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Output format. 'xml', 'csv' and 'lff' (only for Ireland) values are accepted as well",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getEuViesReportOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/settlement/detailed_refunds" : {
      "get" : {
        "tags" : [ "settlement" ],
        "summary" : "Detailed refunds",
        "operationId" : "getDetailedRefunds",
        "parameters" : [ {
          "name" : "format",
          "in" : "query",
          "description" : "Output format. 'json' or 'csv'. Default value is 'json'",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "country_codes",
          "in" : "query",
          "description" : "Comma separated list of 2-letter country codes",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date_from",
          "in" : "query",
          "description" : "Take only refunds issued at or after the date. Format: yyyy-MM-dd",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date_to",
          "in" : "query",
          "description" : "Take only refunds issued at or before the date. Format: yyyy-MM-dd",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit (no more than 1000, defaults to 100).",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset. Defaults to 0",
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getDetailedRefundsOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/settlement/refunds" : {
      "get" : {
        "tags" : [ "settlement" ],
        "summary" : "Fetch refunds",
        "operationId" : "getRefunds",
        "parameters" : [ {
          "name" : "format",
          "in" : "query",
          "description" : "Output format. 'csv' value is accepted as well",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "moss_country_code",
          "in" : "query",
          "description" : "MOSS country code, used to determine currency. If ommited, merchant default setting is used.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tax_region",
          "in" : "query",
          "description" : "Tax region key, defaults to EU for backwards compatibility.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date_from",
          "in" : "query",
          "description" : "Take only refunds issued at or after the date. Format: yyyy-MM-dd",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getRefundsOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/settlement/summary/{quarter}" : {
      "get" : {
        "tags" : [ "settlement" ],
        "summary" : "Fetch summary",
        "operationId" : "getSettlementSummary",
        "parameters" : [ {
          "name" : "moss_country_code",
          "in" : "query",
          "description" : "MOSS country code, used to determine currency. If ommited, merchant default setting is used.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tax_region",
          "in" : "query",
          "description" : "Tax region key",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start_month",
          "in" : "query",
          "description" : "Period start month in yyyy-MM format. Either quarter or start-month and end-month have to be provided.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end_month",
          "in" : "query",
          "description" : "Period end month in yyyy-MM format. Either quarter or start-month and end-month have to be provided.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "quarter",
          "in" : "path",
          "description" : "Quarter in yyyy-MM format. If start-date and end-date are provided, quarter is ignored and should be set to 'range'.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getSettlementSummaryOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/settlement/{quarter}" : {
      "get" : {
        "tags" : [ "settlement" ],
        "summary" : "Fetch settlement",
        "operationId" : "getSettlement",
        "parameters" : [ {
          "name" : "moss_tax_id",
          "in" : "query",
          "description" : "MOSS-assigned tax ID - if not provided, merchant's national tax number will be used. Deprecated, please use tax-id.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "currency_code",
          "in" : "query",
          "description" : "ISO 3-letter currency code, e.g. EUR or USD. If provided, all amounts will be coerced for this currency. Defaults to region's currency code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end_month",
          "in" : "query",
          "description" : "Period end month in yyyy-MM format. Either quarter or start-month and end-month have to be provided.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tax_id",
          "in" : "query",
          "description" : "MOSS-assigned tax ID - if not provided, merchant's national tax number will be used. Deprecated, please use tax-id.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "refund_date_kind_override",
          "in" : "query",
          "description" : "Set to 'order_date' to show only refunds for the transactions in the selected reporting period. Set to 'refund_timestamp' to show refunds that were created in the selected reporting period. Do not set to use the default region's setting.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start_month",
          "in" : "query",
          "description" : "Period start month in yyyy-MM format. Either quarter or start-month and end-month have to be provided.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "moss_country_code",
          "in" : "query",
          "description" : "MOSS country code, used to determine currency/region. If ommited, merchant default setting is used. Deprecated: please use tax-country-code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Output format. 'csv' value is accepted as well",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tax_country_code",
          "in" : "query",
          "description" : "Tax entity country code, used to determine currency/region. ",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "quarter",
          "in" : "path",
          "description" : "Quarter in yyyy-MM format. If start-date and end-date are provided, quarter is ignored and should be set to 'range'.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getSettlementOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/stats/settlement/by_country" : {
      "get" : {
        "tags" : [ "statistics" ],
        "summary" : "Settlement by country",
        "operationId" : "getSettlementStatsByCountry",
        "parameters" : [ {
          "name" : "date_from",
          "in" : "query",
          "description" : "Date from in yyyy-MM format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date_to",
          "in" : "query",
          "description" : "Date to in yyyy-MM format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getSettlementStatsByCountryOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/stats/settlement/by_taxation_type" : {
      "get" : {
        "tags" : [ "statistics" ],
        "summary" : "Settlement by tax type",
        "operationId" : "getSettlementStatsByTaxationType",
        "parameters" : [ {
          "name" : "date_from",
          "in" : "query",
          "description" : "Date from in yyyy-MM format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date_to",
          "in" : "query",
          "description" : "Date to in yyyy-MM format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getSettlementStatsByTaxationTypeOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/stats/settlement/daily" : {
      "get" : {
        "tags" : [ "statistics" ],
        "summary" : "Settlement stats over time",
        "operationId" : "getDailySettlementStats",
        "parameters" : [ {
          "name" : "interval",
          "in" : "query",
          "description" : "Interval type - day, week, month.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date_from",
          "in" : "query",
          "description" : "Date from in yyyy-MM format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date_to",
          "in" : "query",
          "description" : "Date to in yyyy-MM format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getDailySettlementStatsOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/stats/transactions" : {
      "get" : {
        "tags" : [ "statistics" ],
        "summary" : "Transaction stats",
        "operationId" : "getTransactionsStats",
        "parameters" : [ {
          "name" : "date_from",
          "in" : "query",
          "description" : "Date from in yyyy-MM format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date_to",
          "in" : "query",
          "description" : "Date to in yyyy-MM format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "interval",
          "in" : "query",
          "description" : "Interval. Accepted values are 'day', 'week' and 'month'.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getTransactionsStatsOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/stats/transactions/by_country" : {
      "get" : {
        "tags" : [ "statistics" ],
        "summary" : "Settlement by country",
        "operationId" : "getTransactionsStatsByCountry",
        "parameters" : [ {
          "name" : "global_currency_code",
          "in" : "query",
          "description" : "Global currency code to use for conversion - in addition to country's currency if rate is available. Conversion is indicative and based on most-recent rate from ECB.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date_from",
          "in" : "query",
          "description" : "Date from in yyyy-MM format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date_to",
          "in" : "query",
          "description" : "Date to in yyyy-MM format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getTransactionsStatsByCountryOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/tax/calculate" : {
      "get" : {
        "tags" : [ "tax" ],
        "summary" : "Simple tax",
        "operationId" : "calculateSimpleTax",
        "parameters" : [ {
          "name" : "product_type",
          "in" : "query",
          "description" : "Product type, according to dictionary /dictionaries/product_types. ",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoice_address_city",
          "in" : "query",
          "description" : "Invoice address/postal_code",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "buyer_credit_card_prefix",
          "in" : "query",
          "description" : "First 6 digits of buyer's credit card prefix.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "currency_code",
          "in" : "query",
          "description" : "Currency code for transaction - e.g. EUR.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoice_address_region",
          "in" : "query",
          "description" : "Invoice address/region",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "unit_price",
          "in" : "query",
          "description" : "Unit price.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "quantity",
          "in" : "query",
          "description" : "Quantity Defaults to 1.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "buyer_tax_number",
          "in" : "query",
          "description" : " Buyer's tax number - EU VAT number for example. If using EU VAT number, it is possible to provide country code in it (e.g. IE1234567X) or simply use billing_country_code field for that. In the first case, if billing_country_code value was provided, it will be overwritten with country code value extracted from VAT number - but only if the VAT has been verified properly.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "force_country_code",
          "in" : "query",
          "description" : "Two-letter ISO country code, e.g. FR. Use it to force country code for tax calculation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "order_date",
          "in" : "query",
          "description" : "Order date in yyyy-MM-dd format, in merchant's timezone. If provided by the API caller, no timezone conversion is performed. Default value is current date and time. When using public token, the default value is used.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "amount",
          "in" : "query",
          "description" : "Amount. Required if total amount or both unit price and quantity are not provided.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "billing_country_code",
          "in" : "query",
          "description" : "Billing two letter ISO country code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoice_address_postal_code",
          "in" : "query",
          "description" : "Invoice address/postal_code",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "total_amount",
          "in" : "query",
          "description" : "Total amount. Required if amount or both unit price and quantity are not provided.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "tax_deducted",
          "in" : "query",
          "description" : "If the transaction is in a country supported by Taxamo, but the tax is not calculated due to merchant settings or EU B2B transaction for example.",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/calculateSimpleTaxOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      },
      "post" : {
        "tags" : [ "tax" ],
        "summary" : "Calculate tax",
        "operationId" : "calculateTax",
        "requestBody" : {
          "description" : "Input",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/calculateTaxIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/calculateTaxOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/tax/location/calculate" : {
      "get" : {
        "tags" : [ "tax" ],
        "summary" : "Calculate location",
        "operationId" : "calculateTaxLocation",
        "parameters" : [ {
          "name" : "billing_country_code",
          "in" : "query",
          "description" : "Billing two letter ISO country code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "buyer_credit_card_prefix",
          "in" : "query",
          "description" : "First 6 digits of buyer's credit card prefix.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/calculateTaxLocationOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/tax/vat_numbers/{tax_number}/validate" : {
      "get" : {
        "tags" : [ "tax" ],
        "summary" : "Validate VAT number",
        "operationId" : "validateTaxNumber",
        "parameters" : [ {
          "name" : "country_code",
          "in" : "query",
          "description" : "Two-letter ISO country code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tax_number",
          "in" : "path",
          "description" : "Tax number",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/validateTaxNumberOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/transactions" : {
      "get" : {
        "tags" : [ "transactions" ],
        "summary" : "Browse transactions",
        "operationId" : "listTransactions",
        "parameters" : [ {
          "name" : "filter_text",
          "in" : "query",
          "description" : "Filtering expression",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "has_note",
          "in" : "query",
          "description" : "Return only transactions with a note field set.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "key_or_custom_id",
          "in" : "query",
          "description" : "Taxamo provided transaction key or custom id",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "currency_code",
          "in" : "query",
          "description" : "Three letter ISO currency code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "order_date_to",
          "in" : "query",
          "description" : "Order date to in yyyy-MM-dd format.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort_reverse",
          "in" : "query",
          "description" : "If true, results are sorted in descending order.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit (no more than 1000, defaults to 100).",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "invoice_number",
          "in" : "query",
          "description" : "Transaction invoice number.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tax_country_codes",
          "in" : "query",
          "description" : "Comma separated list of two letter ISO tax country codes.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "statuses",
          "in" : "query",
          "description" : "Comma separated list of of transaction statuses. 'N' - unconfirmed transaction, 'C' - confirmed transaction.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "original_transaction_key",
          "in" : "query",
          "description" : "Taxamo provided original transaction key",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "order_date_from",
          "in" : "query",
          "description" : "Order date from in yyyy-MM-dd format.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "total_amount_greater_than",
          "in" : "query",
          "description" : "Return only transactions with total amount greater than given number. Transactions with total amount equal to a given number (e.g. 0) are not returned.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Output format - supports 'csv' value for this operation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "total_amount_less_than",
          "in" : "query",
          "description" : "Return only transactions with total amount less than a given number. Transactions with total amount equal to a given number (e.g. 1) are not returned.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tax_country_code",
          "in" : "query",
          "description" : "Two letter ISO tax country code.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/listTransactionsOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      },
      "post" : {
        "tags" : [ "transactions" ],
        "summary" : "Store transaction",
        "operationId" : "createTransaction",
        "requestBody" : {
          "description" : "Input",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/createTransactionIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createTransactionOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/transactions/{key}" : {
      "get" : {
        "tags" : [ "transactions" ],
        "summary" : "Retrieve transaction data.",
        "operationId" : "getTransaction",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Transaction key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getTransactionOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      },
      "put" : {
        "tags" : [ "transactions" ],
        "summary" : "Update transaction",
        "operationId" : "updateTransaction",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Transaction key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Input",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/updateTransactionIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/updateTransactionOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      },
      "delete" : {
        "tags" : [ "transactions" ],
        "summary" : "Delete transaction",
        "operationId" : "cancelTransaction",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Transaction key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cancelTransactionOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/transactions/{key}/confirm" : {
      "post" : {
        "tags" : [ "transactions" ],
        "summary" : "Confirm transaction",
        "operationId" : "confirmTransaction",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Transaction key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Input",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/confirmTransactionIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/confirmTransactionOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/transactions/{key}/invoice/refunds/{refund_note_number}/send_email" : {
      "post" : {
        "tags" : [ "invoices" ],
        "summary" : "Email credit note",
        "operationId" : "emailRefund",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Transaction key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "refund_note_number",
          "in" : "path",
          "description" : "Refund note id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Input",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/emailRefundIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/emailRefundOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/transactions/{key}/invoice/send_email" : {
      "post" : {
        "tags" : [ "invoices" ],
        "summary" : "Email invoice",
        "operationId" : "emailInvoice",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Transaction key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Input",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/emailInvoiceIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/emailInvoiceOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/transactions/{key}/payments" : {
      "get" : {
        "tags" : [ "payments" ],
        "summary" : "List payments",
        "operationId" : "listPayments",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Max record count (no more than 100, defaults to 10).",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "How many records need to be skipped, defaults to 0.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "Transaction key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/listPaymentsOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      },
      "post" : {
        "tags" : [ "payments" ],
        "summary" : "Register a payment",
        "operationId" : "createPayment",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Transaction key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Input",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/createPaymentIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createPaymentOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/transactions/{key}/payments/capture" : {
      "post" : {
        "tags" : [ "payments" ],
        "summary" : "Capture payment",
        "operationId" : "capturePayment",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Transaction key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/capturePaymentOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/transactions/{key}/refunds" : {
      "get" : {
        "tags" : [ "refunds" ],
        "summary" : "Get transaction refunds",
        "operationId" : "listRefunds",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Transaction key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/listRefundsOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      },
      "post" : {
        "tags" : [ "refunds" ],
        "summary" : "Create a refund",
        "operationId" : "createRefund",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Transaction key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Input",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/createRefundIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createRefundOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/transactions/{key}/unconfirm" : {
      "post" : {
        "tags" : [ "transactions" ],
        "summary" : "Un-confirm the transaction",
        "operationId" : "unconfirmTransaction",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Transaction key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Input",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/unconfirmTransactionIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unconfirmTransactionOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/verification/sms" : {
      "post" : {
        "tags" : [ "verification" ],
        "summary" : "Create SMS token",
        "operationId" : "createSMSToken",
        "requestBody" : {
          "description" : "Input",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/createSMSTokenIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createSMSTokenOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    },
    "/api/v1/verification/sms/{token}" : {
      "get" : {
        "tags" : [ "verification" ],
        "summary" : "Verify SMS token",
        "operationId" : "verifySMSToken",
        "parameters" : [ {
          "name" : "token",
          "in" : "path",
          "description" : "Provided token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/verifySMSTokenOut"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation failed, see JSON body response for details."
          },
          "401" : {
            "description" : "Incorrect token"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "C" : {
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "string",
            "description" : "Date for stats in yyyy-MM-dd format."
          },
          "day_raw" : {
            "type" : "string",
            "description" : "Date for stats in yyyy-MM-dd'T'hh:mm:ss'Z' format."
          },
          "status" : {
            "type" : "string",
            "description" : "Transaction status (C or N)."
          },
          "value" : {
            "type" : "number",
            "description" : "Transaction count."
          }
        }
      },
      "N" : {
        "type" : "object",
        "properties" : {
          "day" : {
            "type" : "string",
            "description" : "Date for stats in yyyy-MM-dd format."
          },
          "day_raw" : {
            "type" : "string",
            "description" : "Date for stats in yyyy-MM-dd'T'hh:mm:ss'Z' format."
          },
          "status" : {
            "type" : "string",
            "description" : "Transaction status (C or N)."
          },
          "value" : {
            "type" : "number",
            "description" : "Transaction count."
          }
        }
      },
      "additional_currencies" : {
        "type" : "object",
        "properties" : {
          "invoice" : {
            "$ref" : "#/components/schemas/additional_currency"
          }
        }
      },
      "additional_currency" : {
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "number",
            "description" : "Amount (w/o TAX) in designated currency."
          },
          "currency_code" : {
            "type" : "string",
            "description" : "3-letter ISO currency code."
          },
          "fx_rate" : {
            "type" : "number",
            "description" : "Foreign exchange rate used in calculation"
          },
          "tax_amount" : {
            "type" : "number",
            "description" : "Tax amount in designated currency."
          },
          "total_amount" : {
            "type" : "number",
            "description" : "Total amount in designated currency."
          }
        }
      },
      "by_country" : {
        "type" : "object",
        "properties" : {
          "currency_code" : {
            "type" : "string",
            "description" : "Three-letter ISO currency code."
          },
          "tax_country_code" : {
            "type" : "string",
            "description" : "Two letter ISO country code."
          },
          "tax_country_name" : {
            "type" : "string",
            "description" : "Country name"
          },
          "value" : {
            "type" : "number",
            "description" : "Tax amount"
          }
        }
      },
      "by_status" : {
        "type" : "object",
        "properties" : {
          "C" : {
            "type" : "array",
            "description" : "Confirmed transactions",
            "items" : {
              "$ref" : "#/components/schemas/C"
            }
          },
          "N" : {
            "type" : "array",
            "description" : "New transactions",
            "items" : {
              "$ref" : "#/components/schemas/N"
            }
          }
        }
      },
      "by_taxation_type" : {
        "type" : "object",
        "properties" : {
          "deducted_count" : {
            "type" : "number",
            "description" : "Number of tax deducted transactions."
          },
          "eu_b2b" : {
            "type" : "integer",
            "description" : "Total EU B2B transaction count."
          },
          "eu_taxed" : {
            "type" : "integer",
            "description" : "Total EU Taxed transaction count."
          },
          "taxed_count" : {
            "type" : "number",
            "description" : "Number of taxed transactions."
          },
          "transactions_count" : {
            "type" : "number",
            "description" : "Total number of transactions"
          }
        }
      },
      "calculateSimpleTaxIn" : {
        "required" : [ "currency_code" ],
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "number",
            "description" : "Amount. Required if total amount or both unit price and quantity are not provided."
          },
          "billing_country_code" : {
            "type" : "string",
            "description" : "Billing two letter ISO country code."
          },
          "buyer_credit_card_prefix" : {
            "type" : "string",
            "description" : "First 6 digits of buyer's credit card prefix."
          },
          "buyer_tax_number" : {
            "type" : "string",
            "description" : " Buyer's tax number - EU VAT number for example. If using EU VAT number, it is possible to provide country code in it (e.g. IE1234567X) or simply use billing_country_code field for that. In the first case, if billing_country_code value was provided, it will be overwritten with country code value extracted from VAT number - but only if the VAT has been verified properly."
          },
          "currency_code" : {
            "type" : "string",
            "description" : "Currency code for transaction - e.g. EUR."
          },
          "force_country_code" : {
            "type" : "string",
            "description" : "Two-letter ISO country code, e.g. FR. Use it to force country code for tax calculation."
          },
          "invoice_address_city" : {
            "type" : "string",
            "description" : "Invoice address/postal_code"
          },
          "invoice_address_postal_code" : {
            "type" : "string",
            "description" : "Invoice address/postal_code"
          },
          "invoice_address_region" : {
            "type" : "string",
            "description" : "Invoice address/region"
          },
          "order_date" : {
            "type" : "string",
            "description" : "Order date in yyyy-MM-dd format, in merchant's timezone. If provided by the API caller, no timezone conversion is performed. Default value is current date and time. When using public token, the default value is used."
          },
          "product_type" : {
            "type" : "string",
            "description" : "Product type, according to dictionary /dictionaries/product_types. "
          },
          "quantity" : {
            "type" : "number",
            "description" : "Quantity Defaults to 1."
          },
          "tax_deducted" : {
            "type" : "boolean",
            "description" : "If the transaction is in a country supported by Taxamo, but the tax is not calculated due to merchant settings or EU B2B transaction for example."
          },
          "total_amount" : {
            "type" : "number",
            "description" : "Total amount. Required if amount or both unit price and quantity are not provided."
          },
          "unit_price" : {
            "type" : "number",
            "description" : "Unit price."
          }
        }
      },
      "calculateSimpleTaxOut" : {
        "type" : "object",
        "properties" : {
          "storage_required_fields" : {
            "type" : "array",
            "description" : "Fields required for transaction storage (can be added later - it's up to merchant software). Depends on the region/transaction type.",
            "items" : {
              "$ref" : "#/components/schemas/storage_required_fields"
            }
          },
          "tax_required_fields" : {
            "type" : "array",
            "description" : "Fields required for tax calculation. Depends on the region/transaction type.",
            "items" : {
              "$ref" : "#/components/schemas/tax_required_fields"
            }
          },
          "transaction" : {
            "$ref" : "#/components/schemas/transaction"
          }
        }
      },
      "calculateTaxIn" : {
        "required" : [ "transaction" ],
        "type" : "object",
        "properties" : {
          "transaction" : {
            "$ref" : "#/components/schemas/input_transaction"
          }
        }
      },
      "calculateTaxLocationIn" : {
        "type" : "object",
        "properties" : {
          "billing_country_code" : {
            "type" : "string",
            "description" : "Billing two letter ISO country code."
          },
          "buyer_credit_card_prefix" : {
            "type" : "string",
            "description" : "First 6 digits of buyer's credit card prefix."
          }
        }
      },
      "calculateTaxLocationOut" : {
        "type" : "object",
        "properties" : {
          "billing_country_code" : {
            "type" : "string",
            "description" : "Billing two letter ISO country code."
          },
          "buyer_credit_card_prefix" : {
            "type" : "string",
            "description" : "First 6 digits of buyer's credit card prefix."
          },
          "buyer_ip" : {
            "type" : "string",
            "description" : "IP address of the buyer in dotted decimal (IPv4) or text format (IPv6)."
          },
          "countries" : {
            "$ref" : "#/components/schemas/countries"
          },
          "evidence" : {
            "$ref" : "#/components/schemas/evidence"
          },
          "tax_country_code" : {
            "type" : "string",
            "description" : "Two-letter ISO country code, e.g. FR. This code applies to detected/set country for transaction, but can be set using manual mode."
          },
          "tax_deducted" : {
            "type" : "boolean",
            "description" : "If the transaction is in a country supported by Taxamo, but the tax is not calculated due to merchant settings or EU B2B transaction for example."
          },
          "tax_supported" : {
            "type" : "boolean",
            "description" : "Is tax calculation supported for a detected tax location?"
          }
        }
      },
      "calculateTaxOut" : {
        "type" : "object",
        "properties" : {
          "storage_required_fields" : {
            "type" : "array",
            "description" : "Fields required for transaction storage (can be added later - it's up to merchant software). Depends on the region/transaction type.",
            "items" : {
              "$ref" : "#/components/schemas/storage_required_fields"
            }
          },
          "tax_required_fields" : {
            "type" : "array",
            "description" : "Fields required for tax calculation. Depends on the region/transaction type.",
            "items" : {
              "$ref" : "#/components/schemas/tax_required_fields"
            }
          },
          "transaction" : {
            "$ref" : "#/components/schemas/transaction"
          }
        }
      },
      "cancelTransactionOut" : {
        "type" : "object",
        "properties" : {
          "success" : {
            "type" : "boolean",
            "description" : "Was operation successful?"
          }
        }
      },
      "capturePaymentOut" : {
        "type" : "object",
        "properties" : {
          "success" : {
            "type" : "boolean",
            "description" : "Was the operation successful?"
          }
        }
      },
      "confirmTransactionIn" : {
        "type" : "object",
        "properties" : {
          "transaction" : {
            "$ref" : "#/components/schemas/input_transaction_update"
          }
        }
      },
      "confirmTransactionOut" : {
        "type" : "object",
        "properties" : {
          "storage_required_fields" : {
            "type" : "array",
            "description" : "Fields required for transaction storage (can be added later - it's up to merchant software). Depends on the region/transaction type.",
            "items" : {
              "$ref" : "#/components/schemas/storage_required_fields"
            }
          },
          "tax_required_fields" : {
            "type" : "array",
            "description" : "Fields required for tax calculation. Depends on the region/transaction type.",
            "items" : {
              "$ref" : "#/components/schemas/tax_required_fields"
            }
          },
          "transaction" : {
            "$ref" : "#/components/schemas/transaction"
          }
        }
      },
      "countries" : {
        "type" : "object",
        "properties" : {
          "by_2003_rules" : {
            "$ref" : "#/components/schemas/country_schema"
          },
          "by_billing" : {
            "$ref" : "#/components/schemas/country_schema"
          },
          "by_cc" : {
            "$ref" : "#/components/schemas/country_schema"
          },
          "by_ip" : {
            "$ref" : "#/components/schemas/country_schema"
          },
          "by_tax_number" : {
            "$ref" : "#/components/schemas/country_schema"
          },
          "by_token" : {
            "$ref" : "#/components/schemas/country_schema"
          },
          "detected" : {
            "$ref" : "#/components/schemas/country_schema"
          },
          "forced" : {
            "$ref" : "#/components/schemas/country_schema"
          },
          "guessed_from_ip" : {
            "$ref" : "#/components/schemas/country_schema"
          },
          "other_commercially_relevant_info" : {
            "$ref" : "#/components/schemas/country_schema"
          },
          "self_declaration" : {
            "$ref" : "#/components/schemas/country_schema"
          }
        }
      },
      "country" : {
        "type" : "object",
        "properties" : {
          "callingCode" : {
            "type" : "array",
            "description" : "List of phone number calling codes.",
            "items" : {
              "type" : "string"
            }
          },
          "cca2" : {
            "type" : "string",
            "description" : "Two letter ISO country code."
          },
          "cca3" : {
            "type" : "string",
            "description" : "Three letter ISO country code."
          },
          "ccn3" : {
            "type" : "string",
            "description" : "Country ISO 3-digit code."
          },
          "code" : {
            "type" : "string",
            "description" : "Two letter ISO country code."
          },
          "code_long" : {
            "type" : "string",
            "description" : "Three letter ISO country code."
          },
          "codenum" : {
            "type" : "string",
            "description" : "Country ISO 3-digit code."
          },
          "currency" : {
            "type" : "array",
            "description" : "List of currencies.",
            "items" : {
              "type" : "string"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Country name."
          },
          "tax_number_country_code" : {
            "type" : "string",
            "description" : "VAT number country code. Important for Greece."
          },
          "tax_region" : {
            "type" : "string",
            "description" : "Tax region code - e.g. EU, US, NO, JP..."
          },
          "tax_supported" : {
            "type" : "boolean",
            "description" : "True if tax calculation supported for this country."
          }
        }
      },
      "country_schema" : {
        "type" : "object",
        "properties" : {
          "callingCode" : {
            "type" : "array",
            "description" : "List of phone number calling codes.",
            "items" : {
              "type" : "string"
            }
          },
          "cca2" : {
            "type" : "string",
            "description" : "Two letter ISO country code."
          },
          "cca3" : {
            "type" : "string",
            "description" : "Three letter ISO country code."
          },
          "ccn3" : {
            "type" : "string",
            "description" : "Country ISO 3-digit code."
          },
          "code" : {
            "type" : "string",
            "description" : "Two letter ISO country code."
          },
          "code_long" : {
            "type" : "string",
            "description" : "Three letter ISO country code."
          },
          "codenum" : {
            "type" : "string",
            "description" : "Country ISO 3-digit code."
          },
          "currency" : {
            "type" : "array",
            "description" : "List of currencies.",
            "items" : {
              "type" : "string"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Country name."
          },
          "tax_number_country_code" : {
            "type" : "string",
            "description" : "VAT number country code. Important for Greece."
          },
          "tax_region" : {
            "type" : "string",
            "description" : "Tax region code - e.g. EU, US, NO, JP..."
          },
          "tax_supported" : {
            "type" : "boolean",
            "description" : "True if tax calculation supported for this country."
          }
        }
      },
      "createPaymentIn" : {
        "required" : [ "amount" ],
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "number",
            "description" : "Amount that has been paid. Use negative value to register refunds."
          },
          "payment_information" : {
            "type" : "string",
            "description" : "Additional payment information."
          },
          "payment_timestamp" : {
            "type" : "string",
            "description" : "When the payment was received in yyyy-MM-dd'T'HH:mm:ss(.SSS)'Z' format (24 hour, UTC timezone). Defaults to current date and time."
          }
        }
      },
      "createPaymentOut" : {
        "type" : "object",
        "properties" : {
          "success" : {
            "type" : "boolean",
            "description" : "Was the operation successful?"
          }
        }
      },
      "createRefundIn" : {
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "number",
            "description" : "Amount (without tax) to be refunded. Either amount or total amount is required. In case of line key and custom id missing, only total_amount can be used."
          },
          "custom_id" : {
            "type" : "string",
            "description" : "Line custom identifier. If neither line key or custom id is provided, the refund amount will be assigned to lines in order."
          },
          "line_key" : {
            "type" : "string",
            "description" : "Line identifier. If neither line key or custom id is provided, the refund amount will be assigned to lines in order."
          },
          "refund_reason" : {
            "type" : "string",
            "description" : "Refund reason, displayed on the credit note."
          },
          "total_amount" : {
            "type" : "number",
            "description" : "Total amount, including tax, to be refunded. Either amount or total amount is required. In case of line key and custom id missing, only total_amount can be used."
          }
        }
      },
      "createRefundOut" : {
        "type" : "object",
        "properties" : {
          "refunded_tax_amount" : {
            "type" : "number",
            "description" : "Total tax amount, that was refunded for this line."
          },
          "refunded_total_amount" : {
            "type" : "number",
            "description" : "Total amount, including tax, that was refunded for this line."
          },
          "tax_amount" : {
            "type" : "number",
            "description" : "Calculated tax amount, that was refunded in this call."
          },
          "total_amount" : {
            "type" : "number",
            "description" : "Total amount, including tax, that was refunded in this call."
          }
        }
      },
      "createSMSTokenIn" : {
        "required" : [ "country_code", "recipient" ],
        "type" : "object",
        "properties" : {
          "country_code" : {
            "type" : "string",
            "description" : "Two letter ISO country code."
          },
          "recipient" : {
            "type" : "string",
            "description" : "Recipient phone number."
          }
        }
      },
      "createSMSTokenOut" : {
        "type" : "object",
        "properties" : {
          "success" : {
            "type" : "boolean",
            "description" : "Always set to true. Success means that the message has been queued for delivery. In some cases message may be undelivered at the end, e.g. mobile number is blacklisted. API errors are signalled with appropriate error codes."
          }
        }
      },
      "createTransactionIn" : {
        "required" : [ "transaction" ],
        "type" : "object",
        "properties" : {
          "manual_mode" : {
            "type" : "boolean",
            "description" : "Use manual mode, bypassing country detection. Only allowed with private token. This flag allows to use original_transaction_key field"
          },
          "transaction" : {
            "$ref" : "#/components/schemas/input_transaction"
          }
        }
      },
      "createTransactionOut" : {
        "type" : "object",
        "properties" : {
          "storage_required_fields" : {
            "type" : "array",
            "description" : "Fields required for transaction storage (can be added later - it's up to merchant software). Depends on the region/transaction type.",
            "items" : {
              "$ref" : "#/components/schemas/storage_required_fields"
            }
          },
          "tax_required_fields" : {
            "type" : "array",
            "description" : "Fields required for tax calculation. Depends on the region/transaction type.",
            "items" : {
              "$ref" : "#/components/schemas/tax_required_fields"
            }
          },
          "transaction" : {
            "$ref" : "#/components/schemas/transaction"
          }
        }
      },
      "currency_schema" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Currency 3-letter ISO code."
          },
          "description" : {
            "type" : "string",
            "description" : "Currency description."
          },
          "isocode" : {
            "type" : "string",
            "description" : "Currency 3-letter ISO code."
          },
          "isonum" : {
            "type" : "integer",
            "description" : "Currency iso numeric code."
          },
          "minorunits" : {
            "type" : "integer",
            "description" : "Number of minor units for currency."
          }
        }
      },
      "custom_fields" : {
        "type" : "object",
        "properties" : {
          "key" : {
            "type" : "string",
            "description" : "Field's key."
          },
          "value" : {
            "type" : "string",
            "description" : "Field's value."
          }
        }
      },
      "emailInvoiceIn" : {
        "type" : "object",
        "properties" : {
          "buyer_email" : {
            "type" : "string",
            "description" : "Email to send the invoice. If not provided, transaction.buyer_email will be used."
          }
        }
      },
      "emailInvoiceOut" : {
        "type" : "object",
        "properties" : {
          "success" : {
            "type" : "boolean",
            "description" : "Was operation successful?"
          }
        }
      },
      "emailRefundIn" : {
        "type" : "object",
        "properties" : {
          "buyer_email" : {
            "type" : "string",
            "description" : "Email to send the credit note/refund note. If not provided, transaction.buyer_email will be used."
          }
        }
      },
      "emailRefundOut" : {
        "type" : "object",
        "properties" : {
          "success" : {
            "type" : "boolean",
            "description" : "Was operation successful?"
          }
        }
      },
      "evidence" : {
        "type" : "object",
        "properties" : {
          "by_2003_rules" : {
            "$ref" : "#/components/schemas/evidence_schema"
          },
          "by_billing" : {
            "$ref" : "#/components/schemas/evidence_schema"
          },
          "by_cc" : {
            "$ref" : "#/components/schemas/evidence_schema"
          },
          "by_ip" : {
            "$ref" : "#/components/schemas/evidence_schema"
          },
          "by_payment_method" : {
            "$ref" : "#/components/schemas/evidence_schema"
          },
          "by_tax_number" : {
            "$ref" : "#/components/schemas/evidence_schema"
          },
          "by_token" : {
            "$ref" : "#/components/schemas/evidence_schema"
          },
          "forced" : {
            "$ref" : "#/components/schemas/evidence_schema"
          },
          "guessed_from_ip" : {
            "$ref" : "#/components/schemas/evidence_schema"
          },
          "other_commercially_relevant_info" : {
            "$ref" : "#/components/schemas/evidence_schema"
          },
          "self_declaration" : {
            "$ref" : "#/components/schemas/evidence_schema"
          }
        }
      },
      "evidence_schema" : {
        "type" : "object",
        "properties" : {
          "evidence_type" : {
            "type" : "string",
            "description" : "Type of evidence."
          },
          "evidence_value" : {
            "type" : "string",
            "description" : "Value provided as evidence - for example IP address."
          },
          "resolved_country_code" : {
            "type" : "string",
            "description" : "Country code that was resolved using this evidence."
          },
          "used" : {
            "type" : "boolean",
            "description" : "If the evidence was used to match the actual country."
          }
        }
      },
      "getCountriesDictIn" : {
        "type" : "object",
        "properties" : {
          "tax_supported" : {
            "type" : "boolean",
            "description" : "Should only countries with tax supported be listed?"
          }
        }
      },
      "getCountriesDictOut" : {
        "type" : "object",
        "properties" : {
          "dictionary" : {
            "type" : "array",
            "description" : "Countries dictionary.",
            "items" : {
              "$ref" : "#/components/schemas/country_schema"
            }
          }
        }
      },
      "getCurrenciesDictOut" : {
        "type" : "object",
        "properties" : {
          "dictionary" : {
            "type" : "array",
            "description" : "Currency dictionary.",
            "items" : {
              "$ref" : "#/components/schemas/currency_schema"
            }
          }
        }
      },
      "getDailySettlementStatsIn" : {
        "required" : [ "date_from", "date_to", "interval" ],
        "type" : "object",
        "properties" : {
          "date_from" : {
            "type" : "string",
            "description" : "Date from in yyyy-MM format."
          },
          "date_to" : {
            "type" : "string",
            "description" : "Date to in yyyy-MM format."
          },
          "interval" : {
            "type" : "string",
            "description" : "Interval type - day, week, month."
          }
        }
      },
      "getDailySettlementStatsOut" : {
        "type" : "object",
        "properties" : {
          "settlement_daily" : {
            "type" : "array",
            "description" : "Daily settlement stats",
            "items" : {
              "$ref" : "#/components/schemas/settlement_daily_stats_schema"
            }
          }
        }
      },
      "getDetailedRefundsIn" : {
        "type" : "object",
        "properties" : {
          "country_codes" : {
            "type" : "string",
            "description" : "Comma separated list of 2-letter country codes"
          },
          "date_from" : {
            "type" : "string",
            "description" : "Take only refunds issued at or after the date. Format: yyyy-MM-dd"
          },
          "date_to" : {
            "type" : "string",
            "description" : "Take only refunds issued at or before the date. Format: yyyy-MM-dd"
          },
          "format" : {
            "type" : "string",
            "description" : "Output format. 'json' or 'csv'. Default value is 'json'"
          },
          "limit" : {
            "type" : "number",
            "description" : "Limit (no more than 1000, defaults to 100)."
          },
          "offset" : {
            "type" : "number",
            "description" : "Offset. Defaults to 0"
          }
        }
      },
      "getDetailedRefundsOut" : {
        "type" : "object",
        "properties" : {
          "report" : {
            "type" : "array",
            "description" : "Detailed refunds report",
            "items" : {
              "$ref" : "#/components/schemas/report"
            }
          }
        }
      },
      "getDomesticSummaryReportIn" : {
        "required" : [ "country_code", "end_month", "start_month" ],
        "type" : "object",
        "properties" : {
          "country_code" : {
            "type" : "string",
            "description" : "ISO 2-letter country code which will be used for determining which country is domestic."
          },
          "currency_code" : {
            "type" : "string",
            "description" : "ISO 3-letter currency code, e.g. EUR or USD. Defaults to the one assigned to MOSS calculations for a given country code."
          },
          "end_month" : {
            "type" : "string",
            "description" : "Period end month in yyyy-MM format."
          },
          "format" : {
            "type" : "string",
            "description" : "Output format. 'xml' and 'csv' values are accepted. Default format - json"
          },
          "fx_date_type" : {
            "type" : "string",
            "description" : "Which date should be used for FX."
          },
          "start_month" : {
            "type" : "string",
            "description" : "Period start month in yyyy-MM format."
          }
        }
      },
      "getDomesticSummaryReportOut" : {
        "type" : "object",
        "properties" : {
          "currency_code" : {
            "type" : "string",
            "description" : "Three-letter ISO currency code."
          },
          "domestic_refunds_amount" : {
            "type" : "number",
            "description" : "Domestic sales refunds amount."
          },
          "domestic_refunds_tax_amount" : {
            "type" : "number",
            "description" : "Domestic sales refunds tax amout."
          },
          "domestic_sales_amount" : {
            "type" : "number",
            "description" : "Domestic sales amount."
          },
          "domestic_tax_amount" : {
            "type" : "number",
            "description" : "Domestic sales tax amout."
          },
          "end_date" : {
            "type" : "string",
            "description" : "Period end date in yyyy-MM-dd'T'hh:mm:ss'Z' format."
          },
          "eu_tax_deducted_refunds" : {
            "type" : "number",
            "description" : "EU deducted tax sales."
          },
          "eu_tax_deducted_sales" : {
            "type" : "number",
            "description" : "EU deducted tax sales."
          },
          "global_refunds_amount" : {
            "type" : "number",
            "description" : "Global sales refunds amount. This includes refunds from domestic country too."
          },
          "global_refunds_tax_amount" : {
            "type" : "number",
            "description" : "Global sales refunds amount. This includes refunds from domestic country too."
          },
          "global_sales_amount" : {
            "type" : "number",
            "description" : "Global sales amount. This includes sales from domestic country too."
          },
          "global_sales_tax_amount" : {
            "type" : "number",
            "description" : "Global sales amount. This includes sales from domestic country too."
          },
          "start_date" : {
            "type" : "string",
            "description" : "Period start date in yyyy-MM-dd'T'hh:mm:ss'Z' format."
          }
        }
      },
      "getEuViesReportIn" : {
        "required" : [ "end_month", "eu_country_code", "start_month" ],
        "type" : "object",
        "properties" : {
          "currency_code" : {
            "type" : "string",
            "description" : "ISO 3-letter currency code, e.g. EUR or USD. Defaults to the one assigned to MOSS calculations for a given country code."
          },
          "end_month" : {
            "type" : "string",
            "description" : "Period end month in yyyy-MM format."
          },
          "eu_country_code" : {
            "type" : "string",
            "description" : "ISO 2-letter country code which will be used for determining which country is domestic."
          },
          "format" : {
            "type" : "string",
            "description" : "Output format. 'xml', 'csv' and 'lff' (only for Ireland) values are accepted as well"
          },
          "fx_date_type" : {
            "type" : "string",
            "description" : "Which date should be used for FX."
          },
          "lff_sequence_number" : {
            "type" : "string",
            "description" : "Sequence number used to generate report in Large Filer Format. If not specified then '0000000001' will be used."
          },
          "period_length" : {
            "type" : "string",
            "description" : "Length of report period. 'month', 'quarter' and 'year' values are accepted. Required only if Large Filer Format is requested."
          },
          "start_month" : {
            "type" : "string",
            "description" : "Period start month in yyyy-MM format."
          },
          "tax_id" : {
            "type" : "string",
            "description" : "MOSS-assigned tax ID - if not provided, merchant's national tax number will be used."
          },
          "transformation" : {
            "type" : "string",
            "description" : "Which transformation should be applied. Please note that transformation will be applied only for xml and csv formats."
          }
        }
      },
      "getEuViesReportOut" : {
        "type" : "object",
        "properties" : {
          "currency_code" : {
            "type" : "string",
            "description" : "Three-letter ISO currency code."
          },
          "end_date" : {
            "type" : "string",
            "description" : "Period end date in yyyy-MM-dd'T'hh:mm:ss'Z' format."
          },
          "report" : {
            "type" : "array",
            "description" : "Settlement report.",
            "items" : {
              "$ref" : "#/components/schemas/report"
            }
          },
          "start_date" : {
            "type" : "string",
            "description" : "Period start date in yyyy-MM-dd'T'hh:mm:ss'Z' format."
          }
        }
      },
      "getProductTypesDictOut" : {
        "type" : "object",
        "properties" : {
          "dictionary" : {
            "type" : "array",
            "description" : "Product type dictionary.",
            "items" : {
              "$ref" : "#/components/schemas/product_type_schema"
            }
          }
        }
      },
      "getRefundsIn" : {
        "required" : [ "date_from" ],
        "type" : "object",
        "properties" : {
          "date_from" : {
            "type" : "string",
            "description" : "Take only refunds issued at or after the date. Format: yyyy-MM-dd"
          },
          "format" : {
            "type" : "string",
            "description" : "Output format. 'csv' value is accepted as well"
          },
          "moss_country_code" : {
            "type" : "string",
            "description" : "MOSS country code, used to determine currency. If ommited, merchant default setting is used."
          },
          "tax_region" : {
            "type" : "string",
            "description" : "Tax region key, defaults to EU for backwards compatibility."
          }
        }
      },
      "getRefundsOut" : {
        "type" : "object",
        "properties" : {
          "report" : {
            "type" : "array",
            "description" : "Refunds report.",
            "items" : {
              "$ref" : "#/components/schemas/report"
            }
          }
        }
      },
      "getSettlementIn" : {
        "type" : "object",
        "properties" : {
          "currency_code" : {
            "type" : "string",
            "description" : "ISO 3-letter currency code, e.g. EUR or USD. If provided, all amounts will be coerced for this currency. Defaults to region's currency code."
          },
          "end_month" : {
            "type" : "string",
            "description" : "Period end month in yyyy-MM format. Either quarter or start-month and end-month have to be provided."
          },
          "format" : {
            "type" : "string",
            "description" : "Output format. 'csv' value is accepted as well"
          },
          "moss_country_code" : {
            "type" : "string",
            "description" : "MOSS country code, used to determine currency/region. If ommited, merchant default setting is used. Deprecated: please use tax-country-code."
          },
          "moss_tax_id" : {
            "type" : "string",
            "description" : "MOSS-assigned tax ID - if not provided, merchant's national tax number will be used. Deprecated, please use tax-id."
          },
          "refund_date_kind_override" : {
            "type" : "string",
            "description" : "Set to 'order_date' to show only refunds for the transactions in the selected reporting period. Set to 'refund_timestamp' to show refunds that were created in the selected reporting period. Do not set to use the default region's setting."
          },
          "start_month" : {
            "type" : "string",
            "description" : "Period start month in yyyy-MM format. Either quarter or start-month and end-month have to be provided."
          },
          "tax_country_code" : {
            "type" : "string",
            "description" : "Tax entity country code, used to determine currency/region. "
          },
          "tax_id" : {
            "type" : "string",
            "description" : "MOSS-assigned tax ID - if not provided, merchant's national tax number will be used. Deprecated, please use tax-id."
          }
        }
      },
      "getSettlementOut" : {
        "type" : "object",
        "properties" : {
          "end_date" : {
            "type" : "string",
            "description" : "Period end date in yyyy-MM-dd'T'hh:mm:ss'Z' format."
          },
          "fx_rate_date" : {
            "type" : "string",
            "description" : "Date of ECB FX rate used for conversions in yyyy-MM-dd'T'hh:mm:ss'Z' format. Applies to tax regions where "
          },
          "indicative" : {
            "type" : "boolean",
            "description" : "If the quarter isn't closed yet, tax amount is indicative, as we cannot determine FX rate or all transactions yet."
          },
          "report" : {
            "type" : "array",
            "description" : "Settlement report.",
            "items" : {
              "$ref" : "#/components/schemas/report"
            }
          },
          "start_date" : {
            "type" : "string",
            "description" : "Period start date in yyyy-MM-dd'T'hh:mm:ss'Z' format."
          }
        }
      },
      "getSettlementStatsByCountryIn" : {
        "required" : [ "date_from", "date_to" ],
        "type" : "object",
        "properties" : {
          "date_from" : {
            "type" : "string",
            "description" : "Date from in yyyy-MM format."
          },
          "date_to" : {
            "type" : "string",
            "description" : "Date to in yyyy-MM format."
          }
        }
      },
      "getSettlementStatsByCountryOut" : {
        "type" : "object",
        "properties" : {
          "by_country" : {
            "type" : "array",
            "description" : "Settlement stats.",
            "items" : {
              "$ref" : "#/components/schemas/by_country"
            }
          }
        }
      },
      "getSettlementStatsByTaxationTypeIn" : {
        "required" : [ "date_from", "date_to" ],
        "type" : "object",
        "properties" : {
          "date_from" : {
            "type" : "string",
            "description" : "Date from in yyyy-MM format."
          },
          "date_to" : {
            "type" : "string",
            "description" : "Date to in yyyy-MM format."
          }
        }
      },
      "getSettlementStatsByTaxationTypeOut" : {
        "type" : "object",
        "properties" : {
          "by_taxation_type" : {
            "$ref" : "#/components/schemas/by_taxation_type"
          }
        }
      },
      "getSettlementSummaryIn" : {
        "type" : "object",
        "properties" : {
          "end_month" : {
            "type" : "string",
            "description" : "Period end month in yyyy-MM format. Either quarter or start-month and end-month have to be provided."
          },
          "moss_country_code" : {
            "type" : "string",
            "description" : "MOSS country code, used to determine currency. If ommited, merchant default setting is used."
          },
          "start_month" : {
            "type" : "string",
            "description" : "Period start month in yyyy-MM format. Either quarter or start-month and end-month have to be provided."
          },
          "tax_region" : {
            "type" : "string",
            "description" : "Tax region key"
          }
        }
      },
      "getSettlementSummaryOut" : {
        "type" : "object",
        "properties" : {
          "summary" : {
            "$ref" : "#/components/schemas/summary"
          }
        }
      },
      "getTransactionOut" : {
        "type" : "object",
        "properties" : {
          "storage_required_fields" : {
            "type" : "array",
            "description" : "Fields required for transaction storage (can be added later - it's up to merchant software). Depends on the region/transaction type.",
            "items" : {
              "$ref" : "#/components/schemas/storage_required_fields"
            }
          },
          "tax_required_fields" : {
            "type" : "array",
            "description" : "Fields required for tax calculation. Depends on the region/transaction type.",
            "items" : {
              "$ref" : "#/components/schemas/tax_required_fields"
            }
          },
          "transaction" : {
            "$ref" : "#/components/schemas/transaction"
          }
        }
      },
      "getTransactionsStatsByCountryIn" : {
        "required" : [ "date_from", "date_to" ],
        "type" : "object",
        "properties" : {
          "date_from" : {
            "type" : "string",
            "description" : "Date from in yyyy-MM format."
          },
          "date_to" : {
            "type" : "string",
            "description" : "Date to in yyyy-MM format."
          },
          "global_currency_code" : {
            "type" : "string",
            "description" : "Global currency code to use for conversion - in addition to country's currency if rate is available. Conversion is indicative and based on most-recent rate from ECB."
          }
        }
      },
      "getTransactionsStatsByCountryOut" : {
        "type" : "object",
        "properties" : {
          "by_country" : {
            "type" : "array",
            "description" : "Settlement stats.",
            "items" : {
              "$ref" : "#/components/schemas/by_country"
            }
[...]
