{"openapi":"3.0.1","info":{"title":"SearchManagementClient","description":"Client that can be used to manage Azure Search services and API keys.","version":"2015-08-19"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Search/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available REST API operations of the Microsoft.Search provider.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"The API version to use for each request. The current version is 2015-08-19.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the list of operations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Search/checkNameAvailability":{"post":{"tags":["Services"],"description":"Checks whether or not the given Search service name is available for use. Search service names must be globally unique since they are part of the service URI (https://<name>.search.windows.net).","externalDocs":{"url":"https://aka.ms/search-manage"},"operationId":"Services_CheckNameAvailability","parameters":[{"name":"x-ms-client-request-id","in":"header","description":"A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.","schema":{"type":"string","format":"uuid"}},{"name":"api-version","in":"query","description":"The API version to use for each request. The current version is 2015-08-19.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The resource name and type to check.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameAvailabilityInput"}}},"required":true},"responses":{"200":{"description":"The name check completed. The response contains details of whether the name is valid and available. If the name is invalid, the response also contains a message explaining why not.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameAvailabilityOutput"}}}},"default":{"description":"HTTP 400 (Bad Request): The given resource type is not 'searchServices'.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Search/searchServices":{"get":{"tags":["Services"],"description":"Gets a list of all Search services in the given subscription.","externalDocs":{"url":"https://aka.ms/search-manage"},"operationId":"Services_ListBySubscription","parameters":[{"name":"x-ms-client-request-id","in":"header","description":"A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.","schema":{"type":"string","format":"uuid"}},{"name":"api-version","in":"query","description":"The API version to use for each request. The current version is 2015-08-19.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation succeeded. The response contains the list of all Search service definitions for the given subscription.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchServiceListResult"}}}},"default":{"description":"An unexpected error occurred during the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices":{"get":{"tags":["Services"],"description":"Gets a list of all Search services in the given resource group.","externalDocs":{"url":"https://aka.ms/search-manage"},"operationId":"Services_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the current subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"x-ms-client-request-id","in":"header","description":"A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.","schema":{"type":"string","format":"uuid"}},{"name":"api-version","in":"query","description":"The API version to use for each request. The current version is 2015-08-19.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation succeeded. The response contains the list of all Search service definitions for the given resource group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchServiceListResult"}}}},"default":{"description":"An unexpected error occurred during the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}":{"get":{"tags":["Services"],"description":"Gets the Search service with the given name in the given resource group.","externalDocs":{"url":"https://aka.ms/search-manage"},"operationId":"Services_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the current subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"searchServiceName","in":"path","description":"The name of the Azure Search service associated with the specified resource group.","required":true,"schema":{"type":"string"}},{"name":"x-ms-client-request-id","in":"header","description":"A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.","schema":{"type":"string","format":"uuid"}},{"name":"api-version","in":"query","description":"The API version to use for each request. The current version is 2015-08-19.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Search service definition was successfully retrieved and is in the response. If you are polling for the completion of a provisioning or scale operation, you can check its status via the provisioningState property.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchService"}}}},"default":{"description":"HTTP 404 (Not Found): The subscription, resource group, or Search service name could not be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["Services"],"description":"Creates or updates a Search service in the given resource group. If the Search service already exists, all properties will be updated with the given values.","externalDocs":{"url":"https://aka.ms/search-manage"},"operationId":"Services_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the current subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"searchServiceName","in":"path","description":"The name of the Azure Search service to create or update. Search service names must only contain lowercase letters, digits or dashes, cannot use dash as the first two or last one characters, cannot contain consecutive dashes, and must be between 2 and 60 characters in length. Search service names must be globally unique since they are part of the service URI (https://<name>.search.windows.net). You cannot change the service name after the service is created.","required":true,"schema":{"type":"string"}},{"name":"x-ms-client-request-id","in":"header","description":"A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.","schema":{"type":"string","format":"uuid"}},{"name":"api-version","in":"query","description":"The API version to use for each request. The current version is 2015-08-19.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The definition of the Search service to create or update.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchService"}}},"required":true},"responses":{"200":{"description":"The existing service definition was successfully updated. If you changed the number of replicas or partitions, the scale operation will happen asynchronously. You can periodically get your service definition and monitor progress via the provisioningState property.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchService"}}}},"201":{"description":"If you requested creation of a free Search service, the service is now provisioned and ready to use, subject to DNS propagation delay. For other SKU types, provisioning happens asynchronously. You can periodically get your service definition and monitor progress via the provisioningState property.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchService"}}}},"default":{"description":"HTTP 400 (Bad Request): The given service name or service definition is invalid; See the error code and message in the response for details. HTTP 404 (Not Found): The subscription or resource group could not be found. HTTP 409 (Conflict): The specified subscription is disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["Services"],"description":"Deletes a Search service in the given resource group, along with its associated resources.","externalDocs":{"url":"https://aka.ms/search-manage"},"operationId":"Services_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the current subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"searchServiceName","in":"path","description":"The name of the Azure Search service associated with the specified resource group.","required":true,"schema":{"type":"string"}},{"name":"x-ms-client-request-id","in":"header","description":"A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.","schema":{"type":"string","format":"uuid"}},{"name":"api-version","in":"query","description":"The API version to use for each request. The current version is 2015-08-19.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Search service was successfully deleted."},"204":{"description":"The Search service was successfully deleted."},"404":{"description":"The subscription, resource group, or Search service could not be found."},"default":{"description":"An unexpected error occurred during the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["Services"],"description":"Updates an existing Search service in the given resource group.","externalDocs":{"url":"https://aka.ms/search-manage"},"operationId":"Services_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the current subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"searchServiceName","in":"path","description":"The name of the Azure Search service to update.","required":true,"schema":{"type":"string"}},{"name":"x-ms-client-request-id","in":"header","description":"A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.","schema":{"type":"string","format":"uuid"}},{"name":"api-version","in":"query","description":"The API version to use for each request. The current version is 2015-08-19.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The definition of the Search service to update.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchService"}}},"required":true},"responses":{"200":{"description":"The existing service definition was successfully updated. If you changed the number of replicas or partitions, the scale operation will happen asynchronously. You can periodically get your service definition and monitor progress via the provisioningState property.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchService"}}}},"default":{"description":"HTTP 400 (Bad Request): The given service definition is invalid or you attempted to change a property that is immutable; See the error code and message in the response for details. HTTP 404 (Not Found): The subscription or resource group could not be found. HTTP 409 (Conflict): The specified subscription is disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/createQueryKey/{name}":{"post":{"tags":["QueryKeys"],"description":"Generates a new query key for the specified Search service. You can create up to 50 query keys per service.","externalDocs":{"url":"https://aka.ms/search-manage"},"operationId":"QueryKeys_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the current subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"searchServiceName","in":"path","description":"The name of the Azure Search service associated with the specified resource group.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"The name of the new query API key.","required":true,"schema":{"type":"string"}},{"name":"x-ms-client-request-id","in":"header","description":"A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.","schema":{"type":"string","format":"uuid"}},{"name":"api-version","in":"query","description":"The API version to use for each request. The current version is 2015-08-19.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The query key was successfully created and is in the response. You can use the query key as the value of the 'api-key' parameter in the Azure Search Service REST API or SDK to perform read-only operations on your Search indexes such as querying and looking up documents by ID.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryKey"}}}},"default":{"description":"HTTP 404 (Not Found): The subscription, resource group, or Search service could not be found. HTTP 409 (Conflict): The specified subscription is disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/deleteQueryKey/{key}":{"delete":{"tags":["QueryKeys"],"description":"Deletes the specified query key. Unlike admin keys, query keys are not regenerated. The process for regenerating a query key is to delete and then recreate it.","externalDocs":{"url":"https://aka.ms/search-manage"},"operationId":"QueryKeys_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the current subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"searchServiceName","in":"path","description":"The name of the Azure Search service associated with the specified resource group.","required":true,"schema":{"type":"string"}},{"name":"key","in":"path","description":"The query key to be deleted. Query keys are identified by value, not by name.","required":true,"schema":{"type":"string"}},{"name":"x-ms-client-request-id","in":"header","description":"A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.","schema":{"type":"string","format":"uuid"}},{"name":"api-version","in":"query","description":"The API version to use for each request. The current version is 2015-08-19.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The query key was successfully deleted."},"204":{"description":"The query key was successfully deleted."},"404":{"description":"The subscription, resource group, Search service, or query key could not be found."},"default":{"description":"HTTP 409 (Conflict): The specified subscription is disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/listAdminKeys":{"post":{"tags":["AdminKeys"],"description":"Gets the primary and secondary admin API keys for the specified Azure Search service.","externalDocs":{"url":"https://aka.ms/search-manage"},"operationId":"AdminKeys_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the current subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"searchServiceName","in":"path","description":"The name of the Azure Search service associated with the specified resource group.","required":true,"schema":{"type":"string"}},{"name":"x-ms-client-request-id","in":"header","description":"A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.","schema":{"type":"string","format":"uuid"}},{"name":"api-version","in":"query","description":"The API version to use for each request. The current version is 2015-08-19.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The admin keys were successfully retrieved and are in the response. You can use either the primary or secondary key as the value of the 'api-key' parameter in the Azure Search Service REST API or SDK to perform any operations on your Search service, including privileged operations. Privileged operations include managing resources like indexes and data sources as well as uploading, modifying, or deleting data in your indexes.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminKeyResult"}}}},"default":{"description":"HTTP 404 (Not Found): The subscription, resource group, or Search service could not be found. HTTP 409 (Conflict): The specified subscription is disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/listQueryKeys":{"get":{"tags":["QueryKeys"],"description":"Returns the list of query API keys for the given Azure Search service.","externalDocs":{"url":"https://aka.ms/search-manage"},"operationId":"QueryKeys_ListBySearchService","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the current subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"searchServiceName","in":"path","description":"The name of the Azure Search service associated with the specified resource group.","required":true,"schema":{"type":"string"}},{"name":"x-ms-client-request-id","in":"header","description":"A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.","schema":{"type":"string","format":"uuid"}},{"name":"api-version","in":"query","description":"The API version to use for each request. The current version is 2015-08-19.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"All query keys for the given Search service were successfully retrieved and are in the response. You can use any of the query keys as the value of the 'api-key' parameter in the Azure Search Service REST API or SDK to perform read-only operations on your Search indexes such as querying and looking up documents by ID.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListQueryKeysResult"}}}},"default":{"description":"HTTP 404 (Not Found): The subscription, resource group, or Search service could not be found. HTTP 409 (Conflict): The specified subscription is disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/regenerateAdminKey/{keyKind}":{"post":{"tags":["AdminKeys"],"description":"Regenerates either the primary or secondary admin API key. You can only regenerate one key at a time.","externalDocs":{"url":"https://aka.ms/search-manage"},"operationId":"AdminKeys_Regenerate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the current subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"searchServiceName","in":"path","description":"The name of the Azure Search service associated with the specified resource group.","required":true,"schema":{"type":"string"}},{"name":"keyKind","in":"path","description":"Specifies which key to regenerate. Valid values include 'primary' and 'secondary'.","required":true,"schema":{"type":"string","enum":["primary","secondary"]}},{"name":"x-ms-client-request-id","in":"header","description":"A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.","schema":{"type":"string","format":"uuid"}},{"name":"api-version","in":"query","description":"The API version to use for each request. The current version is 2015-08-19.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The specified admin key was successfully regenerated. Both admin keys are included in the response, including the newly-regenerated key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminKeyResult"}}}},"default":{"description":"HTTP 404 (Not Found): The subscription, resource group, or Search service could not be found. HTTP 409 (Conflict): The specified subscription is disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"AdminKeyResult":{"type":"object","properties":{"primaryKey":{"type":"string","description":"The primary admin API key of the Search service.","readOnly":true},"secondaryKey":{"type":"string","description":"The secondary admin API key of the Search service.","readOnly":true}},"description":"Response containing the primary and secondary admin API keys for a given Azure Search service."},"CheckNameAvailabilityInput":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"The Search service name to validate. Search service names must only contain lowercase letters, digits or dashes, cannot use dash as the first two or last one characters, cannot contain consecutive dashes, and must be between 2 and 60 characters in length."},"type":{"type":"string","description":"The type of the resource whose name is to be validated. This value must always be 'searchServices'.","enum":["searchServices"]}},"description":"Input of check name availability API."},"CheckNameAvailabilityOutput":{"type":"object","properties":{"message":{"type":"string","description":"A message that explains why the name is invalid and provides resource naming requirements. Available only if 'Invalid' is returned in the 'reason' property.","readOnly":true},"nameAvailable":{"type":"boolean","description":"A value indicating whether the name is available.","readOnly":true},"reason":{"type":"string","description":"The reason why the name is not available. 'Invalid' indicates the name provided does not match the naming requirements (incorrect length, unsupported characters, etc.). 'AlreadyExists' indicates that the name is already in use and is therefore unavailable.","readOnly":true,"enum":["Invalid","AlreadyExists"]}},"description":"Output of check name availability API."},"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"Contains information about an API error."},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"An error code that describes the error condition more precisely than an HTTP status code. Can be used to programmatically handle specific error cases."},"details":{"type":"array","description":"Contains nested errors that are related to this error.","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"A message that describes the error in detail and provides debugging information."},"target":{"type":"string","description":"The target of the particular error (for example, the name of the property in error)."}},"description":"Describes a particular API error with an error code and a message."},"Identity":{"required":["type"],"type":"object","properties":{"principalId":{"type":"string","description":"The principal ID of resource identity.","readOnly":true},"tenantId":{"type":"string","description":"The tenant ID of resource.","readOnly":true},"type":{"type":"string","description":"The identity type.","enum":["None","SystemAssigned"]}},"description":"Identity for the resource."},"ListQueryKeysResult":{"type":"object","properties":{"value":{"type":"array","description":"The query keys for the Azure Search service.","readOnly":true,"items":{"$ref":"#/components/schemas/QueryKey"}}},"description":"Response containing the query API keys for a given Azure Search service."},"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"description":{"type":"string","description":"The friendly name of the operation.","readOnly":true},"operation":{"type":"string","description":"The operation type: read, write, delete, listKeys/action, etc.","readOnly":true},"provider":{"type":"string","description":"The friendly name of the resource provider.","readOnly":true},"resource":{"type":"string","description":"The resource type on which the operation is performed.","readOnly":true}},"description":"The object that describes the operation.","readOnly":true},"name":{"type":"string","description":"The name of the operation. This name is of the form {provider}/{resource}/{operation}.","readOnly":true}},"description":"Describes a REST API operation."},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of operation list results, if any.","readOnly":true},"value":{"type":"array","description":"The list of operations supported by the resource provider.","readOnly":true,"items":{"$ref":"#/components/schemas/Operation"}}},"description":"The result of the request to list REST API operations. It contains a list of operations and a URL  to get the next set of results."},"QueryKey":{"type":"object","properties":{"key":{"type":"string","description":"The value of the query API key.","readOnly":true},"name":{"type":"string","description":"The name of the query API key; may be empty.","readOnly":true}},"description":"Describes an API key for a given Azure Search service that has permissions for query operations only."},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the resource. This can be used with the Azure Resource Manager to link resources together.","readOnly":true},"identity":{"$ref":"#/components/schemas/Identity"},"location":{"type":"string","description":"The geographic location of the resource. This must be one of the supported and registered Azure Geo Regions (for example, West US, East US, Southeast Asia, and so forth). This property is required when creating a new resource."},"name":{"type":"string","description":"The name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Tags to help categorize the resource in the Azure portal."},"type":{"type":"string","description":"The resource type.","readOnly":true}},"description":"Base type for all Azure resources."},"SearchService":{"properties":{"properties":{"$ref":"#/components/schemas/SearchServiceProperties"},"sku":{"$ref":"#/components/schemas/Sku"}},"description":"Describes an Azure Search service and its current state.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"SearchServiceListResult":{"type":"object","properties":{"value":{"type":"array","description":"The list of Search services.","readOnly":true,"items":{"$ref":"#/components/schemas/SearchService"}}},"description":"Response containing a list of Azure Search services."},"SearchServiceProperties":{"type":"object","properties":{"hostingMode":{"type":"string","description":"Applicable only for the standard3 SKU. You can set this property to enable up to 3 high density partitions that allow up to 1000 indexes, which is much higher than the maximum indexes allowed for any other SKU. For the standard3 SKU, the value is either 'default' or 'highDensity'. For all other SKUs, this value must be 'default'.","default":"default","enum":["default","highDensity"]},"partitionCount":{"maximum":12,"minimum":1,"type":"integer","description":"The number of partitions in the Search service; if specified, it can be 1, 2, 3, 4, 6, or 12. Values greater than 1 are only valid for standard SKUs. For 'standard3' services with hostingMode set to 'highDensity', the allowed values are between 1 and 3.","format":"int32","default":1},"provisioningState":{"type":"string","description":"The state of the last provisioning operation performed on the Search service. Provisioning is an intermediate state that occurs while service capacity is being established. After capacity is set up, provisioningState changes to either 'succeeded' or 'failed'. Client applications can poll provisioning status (the recommended polling interval is from 30 seconds to one minute) by using the Get Search Service operation to see when an operation is completed. If you are using the free service, this value tends to come back as 'succeeded' directly in the call to Create Search service. This is because the free service uses capacity that is already set up.","readOnly":true,"enum":["succeeded","provisioning","failed"]},"replicaCount":{"maximum":12,"minimum":1,"type":"integer","description":"The number of replicas in the Search service. If specified, it must be a value between 1 and 12 inclusive for standard SKUs or between 1 and 3 inclusive for basic SKU.","format":"int32","default":1},"status":{"type":"string","description":"The status of the Search service. Possible values include: 'running': The Search service is running and no provisioning operations are underway. 'provisioning': The Search service is being provisioned or scaled up or down. 'deleting': The Search service is being deleted. 'degraded': The Search service is degraded. This can occur when the underlying search units are not healthy. The Search service is most likely operational, but performance might be slow and some requests might be dropped. 'disabled': The Search service is disabled. In this state, the service will reject all API requests. 'error': The Search service is in an error state. If your service is in the degraded, disabled, or error states, it means the Azure Search team is actively investigating the underlying issue. Dedicated services in these states are still chargeable based on the number of search units provisioned.","readOnly":true,"enum":["running","provisioning","deleting","degraded","disabled","error"]},"statusDetails":{"type":"string","description":"The details of the Search service status.","readOnly":true}},"description":"Properties of the Search service."},"Sku":{"type":"object","properties":{"name":{"type":"string","description":"The SKU of the Search service. Valid values include: 'free': Shared service. 'basic': Dedicated service with up to 3 replicas. 'standard': Dedicated service with up to 12 partitions and 12 replicas. 'standard2': Similar to standard, but with more capacity per search unit. 'standard3': The largest Standard offering with up to 12 partitions and 12 replicas (or up to 3 partitions with more indexes if you also set the hostingMode property to 'highDensity'). 'storage_optimized_l1': Supports 1TB per partition, up to 12 partitions. 'storage_optimized_l2': Supports 2TB per partition, up to 12 partitions.'","enum":["free","basic","standard","standard2","standard3","storage_optimized_l1","storage_optimized_l2"]}},"description":"Defines the SKU of an Azure Search Service, which determines price tier and capacity limits.","externalDocs":{"url":"https://azure.microsoft.com/documentation/articles/search-sku-tier/"}}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to use for each request. The current version is 2015-08-19.","required":true,"schema":{"type":"string"}},"ClientRequestIdParameter":{"name":"x-ms-client-request-id","in":"header","description":"A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.","schema":{"type":"string","format":"uuid"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the current subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},"SearchServiceNameParameter":{"name":"searchServiceName","in":"path","description":"The name of the Azure Search service associated with the specified resource group.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}