{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CompanyAPI",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://api.roaring.io/company/1.0"
  }, {
    "url" : "http://api.roaring.io/company/1.0"
  } ],
  "paths" : {
    "/company-board-members" : {
      "get" : {
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "Country code for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company identification for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK, successful response",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyBoardMembersResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Returned when something is wrong in the request, e.g. too many entities are requested or arguments are missing",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404" : {
            "description" : "Requested resource could not be found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error occurred, please contact the system administrator with information on the error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "Country code for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request body with company identifiers to lookup",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CompanyLookupRequestBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK, successfull response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyBoardMembersMulti"
                }
              }
            }
          },
          "400" : {
            "description" : "Returned when something is wrong in the request, e.g. too many entities are requested or arguments are missing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404" : {
            "description" : "Requested resource could not be found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error occurred, please contact the system administrator with information on the error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/company-credit-decision" : {
      "get" : {
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "Country code for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company identification for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "template",
          "in" : "query",
          "description" : "Template for credit decision",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK, successful response",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyCreditDecisionResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Returned when something is wrong in the request, e.g. too many entities are requested or arguments are missing",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404" : {
            "description" : "Requested resource could not be found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error occurred, please contact the system administrator with information on the error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/company-economy-overview" : {
      "get" : {
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "Country code for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company identification for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK, successful response",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyEconomyOverviewResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Returned when something is wrong in the request, e.g. too many entities are requested or arguments are missing",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404" : {
            "description" : "Requested resource could not be found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error occurred, please contact the system administrator with information on the error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "Country code for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request body with company identifiers to lookup",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CompanyLookupRequestBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK, successfull response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyEconomyOverviewMulti"
                }
              }
            }
          },
          "400" : {
            "description" : "Returned when something is wrong in the request, e.g. too many entities are requested or arguments are missing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404" : {
            "description" : "Requested resource could not be found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error occurred, please contact the system administrator with information on the error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/company-event" : {
      "post" : {
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "Country code for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request body with company identifiers to lookup",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CompanyEventRequestBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK, successfull response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyEventResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Returned when something is wrong in the request, e.g. too many entities are requested or arguments are missing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404" : {
            "description" : "Requested resource could not be found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error occurred, please contact the system administrator with information on the error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/company-overview" : {
      "get" : {
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "Country code for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company identification for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK, successfull response",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyOverviewResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Returned when something is wrong in the request, e.g. too many entities are requested or arguments are missing",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404" : {
            "description" : "Requested resource could not be found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error occurred, please contact the system administrator with information on the error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "Country code for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request body with company identifiers to lookup",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CompanyLookupRequestBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK, successfull response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyOverviewMulti"
                }
              }
            }
          },
          "400" : {
            "description" : "Returned when something is wrong in the request, e.g. too many entities are requested or arguments are missing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404" : {
            "description" : "Requested resource could not be found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error occurred, please contact the system administrator with information on the error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/company-signatory" : {
      "get" : {
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "Country code for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company identification for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK, successful response",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanySignatoryResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Returned when something is wrong in the request, e.g. too many entities are requested or arguments are missing",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404" : {
            "description" : "Requested resource could not be found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error occurred, please contact the system administrator with information on the error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      },
      "post" : {
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "Country code for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request body with company identifiers to lookup",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CompanyLookupRequestBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK, successfull response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanySignatoryMulti"
                }
              }
            }
          },
          "400" : {
            "description" : "Returned when something is wrong in the request, e.g. too many entities are requested or arguments are missing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404" : {
            "description" : "Requested resource could not be found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFound"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error occurred, please contact the system administrator with information on the error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/company-simple-search" : {
      "get" : {
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "Country code for the company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyName",
          "in" : "query",
          "description" : "Company name",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "town",
          "in" : "query",
          "description" : "Town",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : ""
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BadRequest" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "type" : "string",
            "default" : "BadRequest"
          },
          "message" : {
            "type" : "string",
            "default" : "Required arguments are missing in the request"
          }
        },
        "description" : "Returned when something is wrong in the request, e.g. too many entities are requested or arguments are missing"
      },
      "CompanyBoardMembersMulti" : {
        "type" : "object",
        "properties" : {
          "companies" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CompanyBoardMembersResult"
            }
          },
          "responseInfo" : {
            "$ref" : "#/components/schemas/ResponseInfo"
          }
        }
      },
      "CompanyBoardMembersResult" : {
        "type" : "object",
        "properties" : {
          "boardMembers" : {
            "type" : "array",
            "description" : "Array of board members for the requested company",
            "items" : {
              "type" : "object",
              "properties" : {
                "boardMemberCompanyId" : {
                  "type" : "string",
                  "description" : ""
                },
                "firstName" : {
                  "type" : "string",
                  "description" : ""
                },
                "fromDate" : {
                  "type" : "string",
                  "description" : ""
                },
                "fullName" : {
                  "type" : "string",
                  "description" : ""
                },
                "givenName" : {
                  "type" : "string",
                  "description" : ""
                },
                "middleName" : {
                  "type" : "string",
                  "description" : ""
                },
                "personalNumber" : {
                  "type" : "string",
                  "description" : ""
                },
                "roleCode" : {
                  "type" : "string",
                  "description" : ""
                },
                "roleName" : {
                  "type" : "string",
                  "description" : ""
                },
                "surName" : {
                  "type" : "string",
                  "description" : ""
                },
                "toDate" : {
                  "type" : "string",
                  "description" : ""
                }
              }
            }
          },
          "changeDate" : {
            "type" : "string",
            "description" : ""
          },
          "companyId" : {
            "type" : "string",
            "description" : ""
          }
        },
        "description" : "Roaring Apps company board members lookup. list contains all possible fields returned"
      },
      "CompanyCreditDecisionResult" : {
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string",
            "description" : ""
          },
          "companyId" : {
            "type" : "string",
            "description" : "Company identifier"
          },
          "rejections" : {
            "$ref" : "#/components/schemas/CompanyRejection"
          },
          "statusCode" : {
            "type" : "string",
            "description" : ""
          },
          "statusText" : {
            "type" : "string",
            "description" : ""
          },
          "town" : {
            "type" : "string",
            "description" : ""
          },
          "zipCode" : {
            "type" : "string",
            "description" : ""
          }
        },
        "description" : "Roaring Apps company credit decision"
      },
      "CompanyEconomyOverviewMulti" : {
        "type" : "object",
        "properties" : {
          "companies" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CompanyEconomyOverviewResult"
            }
          },
          "responseInfo" : {
            "$ref" : "#/components/schemas/ResponseInfo"
          }
        }
      },
      "CompanyEconomyOverviewResult" : {
        "type" : "object",
        "properties" : {
          "bsCashAndBankBalances" : {
            "type" : "string",
            "description" : ""
          },
          "bsShareCapital" : {
            "type" : "string",
            "description" : ""
          },
          "bsTotalAssets" : {
            "type" : "string",
            "description" : ""
          },
          "bsTotalEquity" : {
            "type" : "string",
            "description" : ""
          },
          "changeDate" : {
            "type" : "string",
            "description" : ""
          },
          "companyId" : {
            "type" : "string",
            "description" : ""
          },
          "kpiNetMarginPercent" : {
            "type" : "string",
            "description" : ""
          },
          "kpiQuickRatioPercent" : {
            "type" : "string",
            "description" : ""
          },
          "kpiSolidityPercent" : {
            "type" : "string",
            "description" : ""
          },
          "nbrOfEmployees" : {
            "type" : "string",
            "description" : ""
          },
          "nbrOfEmployeesInterval" : {
            "type" : "string",
            "description" : ""
          },
          "nbrOfEmployeesOfficeInterval" : {
            "type" : "string",
            "description" : ""
          },
          "netTurnover" : {
            "type" : "string",
            "description" : ""
          },
          "plNetIncome" : {
            "type" : "string",
            "description" : ""
          },
          "plOperatingProfit" : {
            "type" : "string",
            "description" : ""
          },
          "plProfitLossAfterFinItems" : {
            "type" : "string",
            "description" : ""
          },
          "turnoverInterval" : {
            "type" : "string",
            "description" : ""
          },
          "turnoverPerEmployee" : {
            "type" : "string",
            "description" : ""
          }
        },
        "description" : "Roaring Apps company economy overview in a lookup. list contains all possible fields returned"
      },
      "CompanyEventRequestBody" : {
        "type" : "object",
        "properties" : {
          "requests" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "companyId" : {
                  "type" : "string",
                  "description" : "Company identifier"
                },
                "date" : {
                  "type" : "string",
                  "description" : "Earliest date to fetch events for"
                }
              }
            }
          }
        }
      },
      "CompanyEventResult" : {
        "type" : "object",
        "properties" : {
          "responses" : {
            "type" : "array",
            "description" : "Array of events for the requested companies",
            "items" : {
              "type" : "object",
              "properties" : {
                "changeDate" : {
                  "type" : "string",
                  "description" : "Date for when the event occurred"
                },
                "code" : {
                  "type" : "string",
                  "description" : "Change code for the event"
                },
                "companyId" : {
                  "type" : "string",
                  "description" : "Company identifier"
                },
                "dataSet" : {
                  "type" : "array",
                  "description" : "List of all Roaring datasets affected by the event",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "description" : "Roaring Apps company event lookup. list contains all possible fields returned"
      },
      "CompanyLookupRequestBody" : {
        "type" : "object",
        "properties" : {
          "companyIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "CompanyOverviewMulti" : {
        "type" : "object",
        "properties" : {
          "companies" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CompanyOverviewResult"
            }
          },
          "responseInfo" : {
            "$ref" : "#/components/schemas/ResponseInfo"
          }
        }
      },
      "CompanyOverviewResult" : {
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string",
            "description" : "Postal address, street/P.O BOX"
          },
          "changeDate" : {
            "type" : "string",
            "description" : "Date for when the record was last changed "
          },
          "coAddress" : {
            "type" : "string",
            "description" : "Postal address, C/O address"
          },
          "commune" : {
            "type" : "string",
            "description" : "Postal address, commune name"
          },
          "companyHolder" : {
            "type" : "string",
            "description" : "Name of company holder"
          },
          "companyId" : {
            "type" : "string",
            "description" : "Company identifier (company registration number / organization number)"
          },
          "companyName" : {
            "type" : "string",
            "description" : "Company name"
          },
          "companyRegistrationDate" : {
            "type" : "string",
            "description" : "Company registration date"
          },
          "county" : {
            "type" : "string",
            "description" : "Postal address, county"
          },
          "email" : {
            "type" : "string",
            "description" : "Email address"
          },
          "employerContributionReg" : {
            "type" : "string",
            "description" : "Company is registererd for employer contribution tax (Arb.avg Sweden)"
          },
          "faxNumber" : {
            "type" : "string",
            "description" : "Fax number"
          },
          "industryCode" : {
            "type" : "string",
            "description" : "Company main industry, NACE code"
          },
          "industryText" : {
            "type" : "string",
            "description" : "Company main industry, NACE text"
          },
          "legalGroupCode" : {
            "type" : "string",
            "description" : "Company type code"
          },
          "legalGroupText" : {
            "type" : "string",
            "description" : "Company type text"
          },
          "numberCompanyUnits" : {
            "type" : "integer",
            "description" : "Number of company units/workplaces"
          },
          "numberEmployees" : {
            "type" : "string",
            "description" : "Number of employees (pcs)"
          },
          "phoneNumber" : {
            "type" : "string",
            "description" : "Telephone number"
          },
          "preliminaryTaxReg" : {
            "type" : "string",
            "description" : "Company is approved for preliminary tax (F-skatt Sweden)"
          },
          "severalCompanyName" : {
            "type" : "boolean",
            "description" : "Indicates if the company have more than one active name"
          },
          "statusCode" : {
            "type" : "string",
            "description" : "Company status code"
          },
          "statusDateFrom" : {
            "type" : "string",
            "description" : "Company status date from"
          },
          "statusTextDetailed" : {
            "type" : "string",
            "description" : "Company status text detailed"
          },
          "statusTextHigh" : {
            "type" : "string",
            "description" : "Company status text"
          },
          "topDirectorFunction" : {
            "type" : "string",
            "description" : "Top director's function"
          },
          "topDirectorName" : {
            "type" : "string",
            "description" : "Top director's name"
          },
          "town" : {
            "type" : "string",
            "description" : "Postal address, town"
          },
          "vatReg" : {
            "type" : "string",
            "description" : "Company is registered for VAT (MOMS Sweden)"
          },
          "vepChangedDate" : {
            "type" : "string",
            "description" : "Show the latest date any of preliminaryTaxReg, employerContributionReg or vatReg has had a change"
          },
          "visitAddress" : {
            "type" : "string",
            "description" : "Visiting address, street name, street number and unit"
          },
          "visitCommune" : {
            "type" : "string",
            "description" : "Visiting address, commune"
          },
          "visitCounty" : {
            "type" : "string",
            "description" : "Visiting address, county"
          },
          "visitStreet" : {
            "type" : "string",
            "description" : "Visiting address, street"
          },
          "visitStreetNumber" : {
            "type" : "string",
            "description" : "Visiting address, number"
          },
          "visitStreetUnit" : {
            "type" : "string",
            "description" : "Visiting address, unit"
          },
          "visitTown" : {
            "type" : "string",
            "description" : "Visiting address, town"
          },
          "visitZipCode" : {
            "type" : "string",
            "description" : "Visiting address, zip code"
          },
          "webAddress" : {
            "type" : "string",
            "description" : "Web address"
          },
          "zipCode" : {
            "type" : "string",
            "description" : "Postal address, zipcode"
          }
        },
        "description" : "Roaring Apps company overview in a lookup. list contains all possible fields returned by either of the api verb calls"
      },
      "CompanyRejection" : {
        "type" : "object",
        "properties" : {
          "causeOfReject" : {
            "type" : "string",
            "description" : ""
          },
          "rejectComment" : {
            "type" : "string",
            "description" : ""
          },
          "rejectText" : {
            "type" : "string",
            "description" : ""
          }
        },
        "description" : "Credit decision rejection"
      },
      "CompanySignatoryMulti" : {
        "type" : "object",
        "properties" : {
          "companies" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CompanySignatoryResult"
            }
          },
          "responseInfo" : {
            "$ref" : "#/components/schemas/ResponseInfo"
          }
        }
      },
      "CompanySignatoryResult" : {
        "type" : "object",
        "properties" : {
          "changeDate" : {
            "type" : "string",
            "description" : "date for when the result signatory was set"
          },
          "companyId" : {
            "type" : "string",
            "description" : "Company identifier"
          },
          "companySignatory" : {
            "type" : "string",
            "description" : "Signatory for the company"
          }
        },
        "description" : "Roaring Apps company signatory in a lookup. list contains all possible fields returned"
      },
      "NotFound" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "type" : "string",
            "default" : "NotFound"
          },
          "message" : {
            "type" : "string",
            "default" : "Requested resource could not be found"
          }
        },
        "description" : "Requested resource could not be found"
      },
      "ResponseInfo" : {
        "type" : "object",
        "properties" : {
          "hitCount" : {
            "type" : "integer",
            "description" : "Number of companyIds in response (companyIds that could be found)"
          },
          "noMatchIds" : {
            "type" : "array",
            "description" : "Array of companyIds that was in request but could not be matched",
            "items" : {
              "type" : "string"
            }
          },
          "requestCount" : {
            "type" : "integer",
            "description" : "Number of requested companyIds"
          }
        }
      },
      "ServerError" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "type" : "string",
            "default" : "InternalServerError"
          },
          "message" : {
            "type" : "string",
            "default" : "An internal server error occurred, please contact the system administrator with information on the error"
          }
        },
        "description" : "Internal server error"
      }
    },
    "securitySchemes" : {
      "default" : {
        "type" : "oauth2"
      }
    }
  }
}