{"openapi":"3.0.1","info":{"title":"FabricAdminClient","description":"Fabric location operation endpoints and objects.","version":"2016-05-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations":{"get":{"tags":["FabricLocations"],"description":"Returns a list of all fabric locations.","operationId":"FabricLocations_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}},{"name":"$filter","in":"query","description":"OData filter parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FabricLocationList"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{fabricLocation}":{"get":{"tags":["FabricLocations"],"description":"Returns the requested fabric location.","operationId":"FabricLocations_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"fabricLocation","in":"path","description":"Fabric location.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FabricLocation"}}}},"404":{"description":"NOT FOUND"}}}}},"components":{"schemas":{"FabricLocation":{"properties":{"properties":{"$ref":"#/components/schemas/FabricLocationModel"}},"description":"Fabric Location resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"URI of the resource.","readOnly":true},"location":{"type":"string","description":"The region where the resource is located."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"List of key-value pairs."},"type":{"type":"string","description":"Type of resource.","readOnly":true}},"description":"Base resource object."}]},"FabricLocationList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page."},"value":{"type":"array","description":"List of fabric locations.","items":{"$ref":"#/components/schemas/FabricLocation"}}},"description":"Pageable list of fabric locations."},"FabricLocationModel":{"type":"object","properties":{"exclusiveAdminOperationName":{"type":"string","description":"Name of the running exclusive admin operation."},"exclusiveAdminOperationRunning":{"type":"boolean","description":"Value for whether an exclusive admin operation is running."},"externalDNSIPAddress01":{"type":"string","description":"First external IP address of the DNS server."},"externalDNSIPAddress02":{"type":"string","description":"Second external IP Address of the DNS server."},"pepIpAddresses":{"type":"array","description":"The IP addresses of the privileged endpoints.","items":{"type":"string"}},"shutDownActionPlanEndTime":{"type":"string","description":"Last known stamp stop time for the shut down action plan.","format":"date-time"},"shutDownActionPlanStartTime":{"type":"string","description":"Last known stamp start time for the shut down action plan","format":"date-time"},"stampInformationId":{"type":"string","description":"The deployment id of the stamp."},"startUpActionPlanEndTime":{"type":"string","description":"Last known stamp stop time for the start up action plan.","format":"date-time"},"startUpActionPlanStartTime":{"type":"string","description":"Last known stamp start time for the start up action plan.","format":"date-time"},"timeServer":{"type":"string","description":"The IP address of the time server."}},"description":"All properties of a fabric location resource."}},"parameters":{"FabricLocationParameter":{"name":"fabricLocation","in":"path","description":"Fabric location.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}