{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Machine Learning Compute Management Client",
    "description" : "These APIs allow end users to operate on Azure Machine Learning Compute resources. They support the following operations:<ul><li>Create or update a cluster</li><li>Get a cluster</li><li>Patch a cluster</li><li>Delete a cluster</li><li>Get keys for a cluster</li><li>Check if updates are available for system services in a cluster</li><li>Update system services in a cluster</li><li>Get all clusters in a resource group</li><li>Get all clusters in a subscription</li></ul>",
    "version" : "2017-08-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "paths" : {
    "/providers/Microsoft.MachineLearningCompute/operations" : {
      "get" : {
        "tags" : [ "MachineLearningComputeOperations" ],
        "description" : "Gets all available operations.",
        "operationId" : "MachineLearningCompute_ListAvailableOperations",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearningCompute resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailableOperations"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningCompute/operationalizationClusters" : {
      "get" : {
        "tags" : [ "OperationalizationClusters" ],
        "description" : "Gets the operationalization clusters in the specified subscription.",
        "operationId" : "OperationalizationClusters_ListBySubscriptionId",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearningCompute resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skiptoken",
          "in" : "query",
          "description" : "Continuation token for pagination.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The response includes a paginated array of cluster objects and a URI to the next set of results, if any. Note that the cluster objects are sparsely populated to conserve space in the response content. To get the full cluster object, call the GET operation on the cluster.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedOperationalizationClustersList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningCompute/operationalizationClusters" : {
      "get" : {
        "tags" : [ "OperationalizationClusters" ],
        "description" : "Gets the clusters in the specified resource group.",
        "operationId" : "OperationalizationClusters_ListByResourceGroup",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearningCompute resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group in which the cluster is located.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "$skiptoken",
          "in" : "query",
          "description" : "Continuation token for pagination.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The response includes a paginated array of cluster objects and a URI to the next set of results, if any. For the more information the limits of the number of items in a resource group, see https://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/. Note that the cluster objects are sparsely populated to conserve space in the response content. To get the full cluster object, call the GET operation on the cluster.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedOperationalizationClustersList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningCompute/operationalizationClusters/{clusterName}" : {
      "get" : {
        "tags" : [ "OperationalizationClusters" ],
        "description" : "Gets the operationalization cluster resource view. Note that the credentials are not returned by this call. Call ListKeys to get them.",
        "operationId" : "OperationalizationClusters_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearningCompute resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group in which the cluster is located.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationalizationCluster"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "OperationalizationClusters" ],
        "description" : "Create or update an operationalization cluster.",
        "operationId" : "OperationalizationClusters_CreateOrUpdate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearningCompute resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group in which the cluster is located.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to create or update an Operationalization cluster.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OperationalizationCluster"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The create or update succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationalizationCluster"
                }
              }
            }
          },
          "201" : {
            "description" : "The request was accepted and will complete asynchronously. To get the progress of the operation, call GET operation on the URL in Azure-AsyncOperation header field. For more information about Asynchronous Operations, see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationalizationCluster"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "OperationalizationClusters" ],
        "description" : "Deletes the specified cluster.",
        "operationId" : "OperationalizationClusters_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearningCompute resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group in which the cluster is located.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$",
            "type" : "string"
          }
        }, {
          "name" : "deleteAll",
          "in" : "query",
          "description" : "If true, deletes all resources associated with this cluster.",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "The delete request was accepted and will complete asynchronously. The know the progress of the delete operation do a GET call on the URI in the Location header. For more information about Asynchronous Operations, see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations.",
            "headers" : {
              "Location" : {
                "description" : "URI of the async operation.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content. The cluster did not exist but the request was well formed."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "OperationalizationClusters" ],
        "description" : "The PATCH operation can be used to update only the tags for a cluster. Use PUT operation to update other properties.",
        "operationId" : "OperationalizationClusters_Update",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearningCompute resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group in which the cluster is located.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters supplied to patch the cluster.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OperationalizationClusterUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The update completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationalizationCluster"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningCompute/operationalizationClusters/{clusterName}/checkSystemServicesUpdatesAvailable" : {
      "post" : {
        "tags" : [ "OperationalizationClusters" ],
        "description" : "Checks if updates are available for system services in the cluster.",
        "operationId" : "OperationalizationClusters_CheckSystemServicesUpdatesAvailable",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearningCompute resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group in which the cluster is located.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckSystemServicesUpdatesAvailableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningCompute/operationalizationClusters/{clusterName}/listKeys" : {
      "post" : {
        "tags" : [ "OperationalizationClusters" ],
        "description" : "Gets the credentials for the specified cluster such as Storage, ACR and ACS credentials. This is a long running operation because it fetches keys from dependencies.",
        "operationId" : "OperationalizationClusters_ListKeys",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearningCompute resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group in which the cluster is located.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationalizationClusterCredentials"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningCompute/operationalizationClusters/{clusterName}/updateSystemServices" : {
      "post" : {
        "tags" : [ "OperationalizationClusters" ],
        "description" : "Updates system services in a cluster.",
        "operationId" : "OperationalizationClusters_UpdateSystemServices",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearningCompute resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group in which the cluster is located.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request completed successfully. Check the response body for update details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateSystemServicesResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "The request was accepted and will complete asynchronously. The know the progress of the async operation do a GET call on the URI in the Location header. For more information about Asynchronous Operations, see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations.",
            "headers" : {
              "Location" : {
                "description" : "URI of the async operation.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AcsClusterProperties" : {
        "required" : [ "orchestratorType" ],
        "type" : "object",
        "properties" : {
          "agentCount" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The number of agent nodes in the Container Service. This can be changed to scale the cluster."
          },
          "agentVmSize" : {
            "type" : "string",
            "description" : "The Azure VM size of the agent VM nodes. This cannot be changed once the cluster is created. This list is non exhaustive; refer to https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes for the possible VM sizes.",
            "default" : "Standard_D3_v2",
            "enum" : [ "Standard_A0", "Standard_A1", "Standard_A2", "Standard_A3", "Standard_A4", "Standard_A5", "Standard_A6", "Standard_A7", "Standard_A8", "Standard_A9", "Standard_A10", "Standard_A11", "Standard_D1", "Standard_D2", "Standard_D3", "Standard_D4", "Standard_D11", "Standard_D12", "Standard_D13", "Standard_D14", "Standard_D1_v2", "Standard_D2_v2", "Standard_D3_v2", "Standard_D4_v2", "Standard_D5_v2", "Standard_D11_v2", "Standard_D12_v2", "Standard_D13_v2", "Standard_D14_v2", "Standard_G1", "Standard_G2", "Standard_G3", "Standard_G4", "Standard_G5", "Standard_DS1", "Standard_DS2", "Standard_DS3", "Standard_DS4", "Standard_DS11", "Standard_DS12", "Standard_DS13", "Standard_DS14", "Standard_GS1", "Standard_GS2", "Standard_GS3", "Standard_GS4", "Standard_GS5" ]
          },
          "clusterFqdn" : {
            "type" : "string",
            "description" : "The FQDN of the cluster. ",
            "readOnly" : true
          },
          "masterCount" : {
            "maximum" : 5,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The number of master nodes in the container service."
          },
          "orchestratorProperties" : {
            "$ref" : "#/components/schemas/KubernetesClusterProperties"
          },
          "orchestratorType" : {
            "type" : "string",
            "description" : "Type of orchestrator. It cannot be changed once the cluster is created.",
            "enum" : [ "Kubernetes", "None" ]
          },
          "systemServices" : {
            "type" : "array",
            "description" : "The system services deployed to the cluster",
            "items" : {
              "$ref" : "#/components/schemas/SystemService"
            }
          }
        },
        "description" : "Information about the container service backing the cluster"
      },
      "AppInsightsCredentials" : {
        "type" : "object",
        "properties" : {
          "appId" : {
            "type" : "string",
            "description" : "The AppInsights application ID."
          },
          "instrumentationKey" : {
            "type" : "string",
            "description" : "The AppInsights instrumentation key. This is not returned in response of GET/PUT on the resource. To see this please call listKeys API."
          }
        },
        "description" : "AppInsights credentials."
      },
      "AppInsightsProperties" : {
        "type" : "object",
        "properties" : {
          "resourceId" : {
            "type" : "string",
            "description" : "ARM resource ID of the App Insights."
          }
        },
        "description" : "Properties of App Insights."
      },
      "AutoScaleConfiguration" : {
        "type" : "object",
        "properties" : {
          "maxReplicas" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The maximum number of replicas for each service."
          },
          "minReplicas" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The minimum number of replicas for each service."
          },
          "refreshPeriodInSeconds" : {
            "type" : "integer",
            "description" : "Refresh period in seconds."
          },
          "status" : {
            "type" : "string",
            "description" : "If auto-scale is enabled for all services. Each service can turn it off individually.",
            "default" : "Disabled",
            "enum" : [ "Enabled", "Disabled" ]
          },
          "targetUtilization" : {
            "type" : "number",
            "description" : "The target utilization."
          }
        },
        "description" : "AutoScale configuration properties."
      },
      "AvailableOperations" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "An array of available operations.",
            "items" : {
              "$ref" : "#/components/schemas/ResourceOperation"
            }
          }
        },
        "description" : "Available operation list."
      },
      "CheckSystemServicesUpdatesAvailableResponse" : {
        "type" : "object",
        "properties" : {
          "updatesAvailable" : {
            "type" : "string",
            "description" : "Yes if updates are available for the system services, No if not.",
            "readOnly" : true,
            "enum" : [ "Yes", "No" ]
          }
        },
        "description" : "Information about updates available for system services in a cluster."
      },
      "ContainerRegistryCredentials" : {
        "type" : "object",
        "properties" : {
          "loginServer" : {
            "type" : "string",
            "description" : "The ACR login server name. User name is the first part of the FQDN.",
            "readOnly" : true
          },
          "password" : {
            "type" : "string",
            "description" : "The ACR primary password.",
            "readOnly" : true
          },
          "password2" : {
            "type" : "string",
            "description" : "The ACR secondary password.",
            "readOnly" : true
          },
          "username" : {
            "type" : "string",
            "description" : "The ACR login username.",
            "readOnly" : true
          }
        },
        "description" : "Information about the Azure Container Registry which contains the images deployed to the cluster."
      },
      "ContainerRegistryProperties" : {
        "type" : "object",
        "properties" : {
          "resourceId" : {
            "type" : "string",
            "description" : "ARM resource ID of the Azure Container Registry used to store Docker images for web services in the cluster. If not provided one will be created. This cannot be changed once the cluster is created."
          }
        },
        "description" : "Properties of Azure Container Registry."
      },
      "ContainerServiceCredentials" : {
        "type" : "object",
        "properties" : {
          "acsKubeConfig" : {
            "type" : "string",
            "description" : "The ACS kube config file.",
            "readOnly" : true
          },
          "imagePullSecretName" : {
            "type" : "string",
            "description" : "The ACR image pull secret name which was created in Kubernetes.",
            "readOnly" : true
          },
          "servicePrincipalConfiguration" : {
            "$ref" : "#/components/schemas/ServicePrincipalProperties"
          }
        },
        "description" : "Information about the Azure Container Registry which contains the images deployed to the cluster."
      },
      "ErrorDetail" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code."
          },
          "message" : {
            "type" : "string",
            "description" : "Error message."
          }
        },
        "description" : "Error detail information."
      },
      "ErrorResponse" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code."
          },
          "details" : {
            "type" : "array",
            "description" : "An array of error detail objects.",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Error message."
          }
        },
        "description" : "Error response information."
      },
      "ErrorResponseWrapper" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/ErrorResponse"
          }
        },
        "description" : "Wrapper for error response to follow ARM guidelines."
      },
      "GlobalServiceConfiguration" : {
        "type" : "object",
        "properties" : {
          "autoScale" : {
            "$ref" : "#/components/schemas/AutoScaleConfiguration"
          },
          "etag" : {
            "type" : "string",
            "description" : "The configuration ETag for updates."
          },
          "serviceAuth" : {
            "$ref" : "#/components/schemas/ServiceAuthConfiguration"
          },
          "ssl" : {
            "$ref" : "#/components/schemas/SslConfiguration"
          }
        },
        "additionalProperties" : {
          "type" : "object",
          "description" : "Any additional configuration key-value pairs."
        },
        "description" : "Global configuration for services in the cluster."
      },
      "KubernetesClusterProperties" : {
        "type" : "object",
        "properties" : {
          "servicePrincipal" : {
            "$ref" : "#/components/schemas/ServicePrincipalProperties"
          }
        },
        "description" : "Kubernetes cluster specific properties"
      },
      "OperationalizationCluster" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/OperationalizationClusterProperties"
          }
        },
        "description" : "Instance of an Azure ML Operationalization Cluster resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "OperationalizationClusterCredentials" : {
        "type" : "object",
        "properties" : {
          "appInsights" : {
            "$ref" : "#/components/schemas/AppInsightsCredentials"
          },
          "containerRegistry" : {
            "$ref" : "#/components/schemas/ContainerRegistryCredentials"
          },
          "containerService" : {
            "$ref" : "#/components/schemas/ContainerServiceCredentials"
          },
          "serviceAuthConfiguration" : {
            "$ref" : "#/components/schemas/ServiceAuthConfiguration"
          },
          "sslConfiguration" : {
            "$ref" : "#/components/schemas/SslConfiguration"
          },
          "storageAccount" : {
            "$ref" : "#/components/schemas/StorageAccountCredentials"
          }
        },
        "description" : "Credentials to resources in the cluster."
      },
      "OperationalizationClusterProperties" : {
        "required" : [ "clusterType" ],
        "type" : "object",
        "properties" : {
          "appInsights" : {
            "$ref" : "#/components/schemas/AppInsightsProperties"
          },
          "clusterType" : {
            "type" : "string",
            "description" : "The cluster type.",
            "enum" : [ "ACS", "Local" ]
          },
          "containerRegistry" : {
            "$ref" : "#/components/schemas/ContainerRegistryProperties"
          },
          "containerService" : {
            "$ref" : "#/components/schemas/AcsClusterProperties"
          },
          "createdOn" : {
            "type" : "string",
            "description" : "The date and time when the cluster was created.",
            "format" : "date-time",
            "readOnly" : true
          },
          "description" : {
            "type" : "string",
            "description" : "The description of the cluster."
          },
          "globalServiceConfiguration" : {
            "$ref" : "#/components/schemas/GlobalServiceConfiguration"
          },
          "modifiedOn" : {
            "type" : "string",
            "description" : "The date and time when the cluster was last modified.",
            "format" : "date-time",
            "readOnly" : true
          },
          "provisioningErrors" : {
            "type" : "array",
            "description" : "List of provisioning errors reported by the resource provider.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ErrorResponseWrapper"
            }
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The provision state of the cluster. Valid values are Unknown, Updating, Provisioning, Succeeded, and Failed.",
            "readOnly" : true,
            "enum" : [ "Unknown", "Updating", "Creating", "Deleting", "Succeeded", "Failed", "Canceled" ]
          },
          "storageAccount" : {
            "$ref" : "#/components/schemas/StorageAccountProperties"
          }
        },
        "description" : "Properties of an operationalization cluster"
      },
      "OperationalizationClusterUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater in length than 128 characters and a value no greater in length than 256 characters."
          }
        },
        "description" : "Parameters for PATCH operation on an operationalization cluster"
      },
      "PaginatedOperationalizationClustersList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "A continuation link (absolute URI) to the next page of results in the list."
          },
          "value" : {
            "type" : "array",
            "description" : "An array of cluster objects.",
            "items" : {
              "$ref" : "#/components/schemas/OperationalizationCluster"
            }
          }
        },
        "description" : "Paginated list of operationalization clusters."
      },
      "Resource" : {
        "required" : [ "location" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Specifies the resource ID.",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Specifies the location of the resource."
          },
          "name" : {
            "type" : "string",
            "description" : "Specifies the name of the resource.",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Contains resource tags defined as key/value pairs."
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of the resource.",
            "readOnly" : true
          }
        },
        "description" : "Azure resource"
      },
      "ResourceOperation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "type" : "object",
            "properties" : {
              "description" : {
                "type" : "string",
                "description" : "The description of the operation."
              },
              "operation" : {
                "type" : "string",
                "description" : "The operation."
              },
              "provider" : {
                "type" : "string",
                "description" : "The resource provider name."
              },
              "resource" : {
                "type" : "string",
                "description" : "The resource name."
              }
            },
            "description" : "Display of the operation."
          },
          "name" : {
            "type" : "string",
            "description" : "Name of this operation."
          },
          "origin" : {
            "type" : "string",
            "description" : "The operation origin."
          }
        },
        "description" : "Resource operation."
      },
      "ServiceAuthConfiguration" : {
        "required" : [ "primaryAuthKeyHash", "secondaryAuthKeyHash" ],
        "type" : "object",
        "properties" : {
          "primaryAuthKeyHash" : {
            "type" : "string",
            "description" : "The primary auth key hash. This is not returned in response of GET/PUT on the resource.. To see this please call listKeys API."
          },
          "secondaryAuthKeyHash" : {
            "type" : "string",
            "description" : "The secondary auth key hash. This is not returned in response of GET/PUT on the resource.. To see this please call listKeys API."
          }
        },
        "description" : "Global service auth configuration properties. These are the data-plane authorization keys and are used if a service doesn't define it's own."
      },
      "ServicePrincipalProperties" : {
        "required" : [ "clientId", "secret" ],
        "type" : "object",
        "properties" : {
          "clientId" : {
            "type" : "string",
            "description" : "The service principal client ID"
          },
          "secret" : {
            "type" : "string",
            "description" : "The service principal secret. This is not returned in response of GET/PUT on the resource. To see this please call listKeys."
          }
        },
        "description" : "The Azure service principal used by Kubernetes for configuring load balancers"
      },
      "SslConfiguration" : {
        "type" : "object",
        "properties" : {
          "cert" : {
            "type" : "string",
            "description" : "The SSL cert data in PEM format."
          },
          "cname" : {
            "type" : "string",
            "description" : "The CName of the certificate."
          },
          "key" : {
            "type" : "string",
            "description" : "The SSL key data in PEM format. This is not returned in response of GET/PUT on the resource. To see this please call listKeys API."
          },
          "status" : {
            "type" : "string",
            "description" : "SSL status. Allowed values are Enabled and Disabled.",
            "default" : "Enabled",
            "enum" : [ "Enabled", "Disabled" ]
          }
        },
        "description" : "SSL configuration. If configured data-plane calls to user services will be exposed over SSL only."
      },
      "StorageAccountCredentials" : {
        "type" : "object",
        "properties" : {
          "primaryKey" : {
            "type" : "string",
            "description" : "The primary key of the storage account.",
            "readOnly" : true
          },
          "resourceId" : {
            "type" : "string",
            "description" : "The ARM resource ID of the storage account.",
            "readOnly" : true
          },
          "secondaryKey" : {
            "type" : "string",
            "description" : "The secondary key of the storage account.",
            "readOnly" : true
          }
        },
        "description" : "Access information for the storage account."
      },
      "StorageAccountProperties" : {
        "type" : "object",
        "properties" : {
          "resourceId" : {
            "type" : "string",
            "description" : "ARM resource ID of the Azure Storage Account to store CLI specific files. If not provided one will be created. This cannot be changed once the cluster is created."
          }
        },
        "description" : "Properties of Storage Account."
      },
      "SystemService" : {
        "required" : [ "systemServiceType" ],
        "type" : "object",
        "properties" : {
          "publicIpAddress" : {
            "type" : "string",
            "description" : "The public IP address of the system service",
            "readOnly" : true
          },
          "systemServiceType" : {
            "type" : "string",
            "description" : "The system service type",
            "enum" : [ "None", "ScoringFrontEnd", "BatchFrontEnd" ]
          },
          "version" : {
            "type" : "string",
            "description" : "The state of the system service",
            "readOnly" : true
          }
        },
        "description" : "Information about a system service deployed in the cluster"
      },
      "UpdateSystemServicesResponse" : {
        "type" : "object",
        "properties" : {
          "updateCompletedOn" : {
            "type" : "string",
            "description" : "The date and time when the last system services update completed.",
            "format" : "date-time",
            "readOnly" : true
          },
          "updateStartedOn" : {
            "type" : "string",
            "description" : "The date and time when the last system services update was started.",
            "format" : "date-time",
            "readOnly" : true
          },
          "updateStatus" : {
            "type" : "string",
            "description" : "Update status",
            "readOnly" : true,
            "enum" : [ "Unknown", "Updating", "Creating", "Deleting", "Succeeded", "Failed", "Canceled" ]
          }
        },
        "description" : "Response of the update system services API"
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "The version of the Microsoft.MachineLearningCompute resource provider API to use.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ClusterNameParameter" : {
        "name" : "clusterName",
        "in" : "path",
        "description" : "The name of the cluster.",
        "required" : true,
        "schema" : {
          "maxLength" : 90,
          "minLength" : 1,
          "pattern" : "^[a-zA-Z][-\\w\\._\\(\\)]+[a-zA-Z0-9]$",
          "type" : "string"
        }
      },
      "DeleteAllParameter" : {
        "name" : "deleteAll",
        "in" : "query",
        "description" : "If true, deletes all resources associated with this cluster.",
        "schema" : {
          "type" : "boolean"
        }
      },
      "ResourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "Name of the resource group in which the cluster is located.",
        "required" : true,
        "schema" : {
          "maxLength" : 90,
          "minLength" : 1,
          "pattern" : "^[-\\w\\._\\(\\)]+$",
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The Azure subscription ID.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}