{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "UpdateAdminClient",
    "description" : "The Update Admin Management Client.",
    "version" : "2016-05-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.Update.Admin/operations" : {
      "get" : {
        "tags" : [ "Updates" ],
        "description" : "Get the list of support rest operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationList"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Display" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views."
          },
          "operation" : {
            "type" : "string",
            "description" : "The localized friendly name for the operation, as it should be shown to the user."
          },
          "provider" : {
            "type" : "string",
            "description" : "The localized, friendly version of the resource provider name. The provider name is expected to include the name of the publisher or company responsible. The provider name format should use title case and begin with Microsoft for first-party services. For example, the provider name may be Microsoft Monitoring Insights or Microsoft Compute."
          },
          "resource" : {
            "type" : "string",
            "description" : "The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider."
          }
        },
        "description" : "Contains the localized display information for this particular operation or action."
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "$ref" : "#/components/schemas/Display"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the operation being performed on this particular object. It should match the action name that appears in RBAC / the event service."
          }
        },
        "description" : "Describes the supported REST operation."
      },
      "OperationList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to the next page of operations."
          },
          "value" : {
            "type" : "array",
            "description" : "Array of operations",
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "List of Operations"
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "URI of the resource.",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Region location of resource."
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the resource.",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "List of key-value pairs."
          },
          "type" : {
            "type" : "string",
            "description" : "Type of resource.",
            "readOnly" : true
          }
        },
        "description" : "Base Resource Object"
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client API Version.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "default" : "2016-05-01"
        }
      },
      "ResourceGroupParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "Resource group name.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.  The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}