{"openapi":"3.0.1","info":{"title":"AuthorizationManagementClient","description":"Role based access control provides you a way to apply granular level policy administration down to individual resources or resource groups. These operations enable you to manage role definitions and role assignments. A role definition describes the set of actions that can be performed on resources. A role assignment grants access to Azure Active Directory users.","version":"2017-10-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/roleAssignments":{"get":{"tags":["RoleAssignments"],"description":"Gets all role assignments for the subscription.","operationId":"RoleAssignments_List","parameters":[{"name":"$filter","in":"query","description":"The filter to apply on the operation. Use $filter=atScope() to return all role assignments at or above the scope. Use $filter=principalId eq {id} to return all role assignments at, above or below the scope for the specified principal.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of role assignments.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAssignmentListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/roleAssignments":{"get":{"tags":["RoleAssignments"],"description":"Gets role assignments for a resource group.","operationId":"RoleAssignments_ListForResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. Use $filter=atScope() to return all role assignments at or above the scope. Use $filter=principalId eq {id} to return all role assignments at, above or below the scope for the specified principal.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of role assignments.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAssignmentListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/roleAssignments":{"get":{"tags":["RoleAssignments"],"description":"Gets role assignments for a resource.","operationId":"RoleAssignments_ListForResource","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"resourceProviderNamespace","in":"path","description":"The namespace of the resource provider.","required":true,"schema":{"type":"string"}},{"name":"parentResourcePath","in":"path","description":"The parent resource identity.","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"The resource type of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the resource to get role assignments for.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. Use $filter=atScope() to return all role assignments at or above the scope. Use $filter=principalId eq {id} to return all role assignments at, above or below the scope for the specified principal.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of role assignments.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAssignmentListResult"}}}}}}},"/{roleAssignmentId}":{"get":{"tags":["RoleAssignments"],"description":"Gets a role assignment by ID.","operationId":"RoleAssignments_GetById","parameters":[{"name":"roleAssignmentId","in":"path","description":"The ID of the role assignment to get.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns the role assignment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAssignment"}}}}}},"put":{"tags":["RoleAssignments"],"description":"Creates a role assignment by ID.","operationId":"RoleAssignments_CreateById","parameters":[{"name":"roleAssignmentId","in":"path","description":"The ID of the role assignment to create.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for the role assignment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAssignmentCreateParameters"}}},"required":true},"responses":{"201":{"description":"Created - Returns the role assignment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAssignment"}}}}}},"delete":{"tags":["RoleAssignments"],"description":"Deletes a role assignment.","operationId":"RoleAssignments_DeleteById","parameters":[{"name":"roleAssignmentId","in":"path","description":"The ID of the role assignment to delete.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns information about the role assignment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAssignment"}}}}}}},"/{scope}/providers/Microsoft.Authorization/roleAssignments":{"get":{"tags":["RoleAssignments"],"description":"Gets role assignments for a scope.","operationId":"RoleAssignments_ListForScope","parameters":[{"name":"scope","in":"path","description":"The scope of the role assignments.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. Use $filter=atScope() to return all role assignments at or above the scope. Use $filter=principalId eq {id} to return all role assignments at, above or below the scope for the specified principal.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of role assignments.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAssignmentListResult"}}}}}}},"/{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}":{"get":{"tags":["RoleAssignments"],"description":"Get the specified role assignment.","operationId":"RoleAssignments_Get","parameters":[{"name":"scope","in":"path","description":"The scope of the role assignment.","required":true,"schema":{"type":"string"}},{"name":"roleAssignmentName","in":"path","description":"The name of the role assignment to get.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns information about the role assignment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAssignment"}}}}}},"put":{"tags":["RoleAssignments"],"description":"Creates a role assignment.","operationId":"RoleAssignments_Create","parameters":[{"name":"scope","in":"path","description":"The scope of the role assignment to create. The scope can be any REST resource instance. For example, use '/subscriptions/{subscription-id}/' for a subscription, '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}' for a resource group, and '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider}/{resource-type}/{resource-name}' for a resource.","required":true,"schema":{"type":"string"}},{"name":"roleAssignmentName","in":"path","description":"The name of the role assignment to create. It can be any valid GUID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for the role assignment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAssignmentCreateParameters"}}},"required":true},"responses":{"201":{"description":"Created - Returns information about the role assignment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAssignment"}}}}}},"delete":{"tags":["RoleAssignments"],"description":"Deletes a role assignment.","operationId":"RoleAssignments_Delete","parameters":[{"name":"scope","in":"path","description":"The scope of the role assignment to delete.","required":true,"schema":{"type":"string"}},{"name":"roleAssignmentName","in":"path","description":"The name of the role assignment to delete.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns information about the role assignment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAssignment"}}}}}}}},"components":{"schemas":{"RoleAssignment":{"type":"object","properties":{"id":{"type":"string","description":"The role assignment ID.","readOnly":true},"name":{"type":"string","description":"The role assignment name.","readOnly":true},"properties":{"$ref":"#/components/schemas/RoleAssignmentPropertiesWithScope"},"type":{"type":"string","description":"The role assignment type.","readOnly":true}},"description":"Role Assignments"},"RoleAssignmentCreateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/RoleAssignmentProperties"}},"description":"Role assignment create parameters."},"RoleAssignmentFilter":{"type":"object","properties":{"canDelegate":{"type":"boolean","description":"The Delegation flag for the role assignment"},"principalId":{"type":"string","description":"Returns role assignment of the specific principal."}},"description":"Role Assignments filter"},"RoleAssignmentListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to use for getting the next set of results."},"value":{"type":"array","description":"Role assignment list.","items":{"$ref":"#/components/schemas/RoleAssignment"}}},"description":"Role assignment list operation result."},"RoleAssignmentProperties":{"type":"object","properties":{"canDelegate":{"type":"boolean","description":"The delegation flag used for creating a role assignment"},"principalId":{"type":"string","description":"The principal ID assigned to the role. This maps to the ID inside the Active Directory. It can point to a user, service principal, or security group."},"roleDefinitionId":{"type":"string","description":"The role definition ID used in the role assignment."}},"description":"Role assignment properties."},"RoleAssignmentPropertiesWithScope":{"type":"object","properties":{"canDelegate":{"type":"boolean","description":"The Delegation flag for the role assignment"},"principalId":{"type":"string","description":"The principal ID."},"roleDefinitionId":{"type":"string","description":"The role definition ID."},"scope":{"type":"string","description":"The role assignment scope."}},"description":"Role assignment properties with scope."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}