{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "AutomationManagement",
    "version" : "2015-10-31"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables" : {
      "get" : {
        "tags" : [ "Variable" ],
        "description" : "Retrieve a list of variables.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "operationId" : "Variable_ListByAutomationAccount",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VariableListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables/{variableName}" : {
      "get" : {
        "tags" : [ "Variable" ],
        "description" : "Retrieve the variable identified by variable name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "operationId" : "Variable_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "variableName",
          "in" : "path",
          "description" : "The name of variable.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Variable"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Variable" ],
        "description" : "Create a variable.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "operationId" : "Variable_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "variableName",
          "in" : "path",
          "description" : "The variable name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters supplied to the create or update variable operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VariableCreateOrUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Variable"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Variable"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Variable" ],
        "description" : "Delete the variable.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "operationId" : "Variable_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "variableName",
          "in" : "path",
          "description" : "The name of variable.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Variable" ],
        "description" : "Update a variable.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "operationId" : "Variable_Update",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "variableName",
          "in" : "path",
          "description" : "The variable name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters supplied to the update variable operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VariableUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Variable"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Variable" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/VariableProperties"
          }
        },
        "description" : "Definition of the variable.",
        "allOf" : [ {
          "description" : "ARM proxy resource.",
          "allOf" : [ {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Fully qualified resource Id for the resource",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "The name of the resource",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the resource.",
                "readOnly" : true
              }
            },
            "description" : "The core properties of ARM resources"
          } ]
        } ]
      },
      "VariableCreateOrUpdateParameters" : {
        "required" : [ "name", "properties" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the name of the variable."
          },
          "properties" : {
            "$ref" : "#/components/schemas/VariableCreateOrUpdateProperties"
          }
        },
        "description" : "The parameters supplied to the create or update variable operation."
      },
      "VariableCreateOrUpdateProperties" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Gets or sets the description of the variable."
          },
          "isEncrypted" : {
            "type" : "boolean",
            "description" : "Gets or sets the encrypted flag of the variable."
          },
          "value" : {
            "type" : "string",
            "description" : "Gets or sets the value of the variable."
          }
        },
        "description" : "The properties of the create variable operation."
      },
      "VariableListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Gets or sets the next link."
          },
          "value" : {
            "type" : "array",
            "description" : "Gets or sets a list of variables.",
            "items" : {
              "$ref" : "#/components/schemas/Variable"
            }
          }
        },
        "description" : "The response model for the list variables operation."
      },
      "VariableProperties" : {
        "type" : "object",
        "properties" : {
          "creationTime" : {
            "type" : "string",
            "description" : "Gets or sets the creation time.",
            "format" : "date-time",
            "nullable" : false
          },
          "description" : {
            "type" : "string",
            "description" : "Gets or sets the description."
          },
          "isEncrypted" : {
            "type" : "boolean",
            "description" : "Gets or sets the encrypted flag of the variable.",
            "nullable" : true
          },
          "lastModifiedTime" : {
            "type" : "string",
            "description" : "Gets or sets the last modified time.",
            "format" : "date-time",
            "nullable" : false
          },
          "value" : {
            "type" : "string",
            "description" : "Gets or sets the value of the variable."
          }
        },
        "description" : "Definition of the variable properties"
      },
      "VariableUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the name of the variable."
          },
          "properties" : {
            "$ref" : "#/components/schemas/VariableUpdateProperties"
          }
        },
        "description" : "The parameters supplied to the update variable operation."
      },
      "VariableUpdateProperties" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Gets or sets the description of the variable."
          },
          "value" : {
            "type" : "string",
            "description" : "Gets or sets the value of the variable."
          }
        },
        "description" : "The properties of the update variable"
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}