{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Wealthport API",
    "description" : "Onedot provides a simple, lightweight and open Web API based on the Open API 2.0 standard (<a href=\"https://www.openapis.org\" target=\"_blank\">https://www.openapis.org</a>). Our APIs offer a variety of operations related to managing Sources, Folders, Orders and Recipes. There are operations to submit and track Jobs, upload and download data files and many more.",
    "termsOfService" : "https://www.onedot.com/terms-of-service",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://api.wealthport.com/gateway/public/endpoints/1.0"
  } ],
  "tags" : [ {
    "name" : "Folders"
  }, {
    "name" : "Orders"
  }, {
    "name" : "Recipes"
  }, {
    "name" : "Sources"
  } ],
  "paths" : {
    "/folders" : {
      "get" : {
        "tags" : [ "Folders" ],
        "summary" : "Retrieve Folders",
        "description" : "Retrieves all Folders in the Data Inventory.",
        "operationId" : "retrieveFolders",
        "responses" : {
          "200" : {
            "description" : "Folders successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Existing_Folder"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          }
        },
        "security" : [ null, null ]
      },
      "post" : {
        "tags" : [ "Folders" ],
        "summary" : "Create Folder",
        "description" : "Creates the specified Folder in the Data Inventory.",
        "operationId" : "createFolder",
        "requestBody" : {
          "description" : "JSON",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Folder_Request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Folder successfully created and available at the returned location with the returned ID"
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "409" : {
            "description" : "Folder with same name already exists"
          }
        },
        "security" : [ null, null ]
      }
    },
    "/folders/{id}" : {
      "get" : {
        "tags" : [ "Folders" ],
        "summary" : "Retrieve Folder",
        "description" : "Retrieves the specified Folder.",
        "operationId" : "retrieveFolder",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Folder ID of the Folder to retrieve",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Folder successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Existing_Folder"
                }
              }
            }
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Folder cannot be found"
          }
        },
        "security" : [ null, null ]
      },
      "put" : {
        "tags" : [ "Folders" ],
        "summary" : "Update Folder",
        "description" : "Updates the specified Folder.",
        "operationId" : "updateFolder",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Folder ID of the Folder to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "JSON",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Folder_Request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Folder successfully updated"
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Folder cannot be found"
          },
          "409" : {
            "description" : "Folder with same name already exists"
          }
        },
        "security" : [ null, null ]
      },
      "delete" : {
        "tags" : [ "Folders" ],
        "summary" : "Delete Folder",
        "description" : "Deletes the specified Folder and all contained Sources from the Data Inventory.",
        "operationId" : "deleteFolder",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Folder ID of the Folder to delete, including any Sources contained",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Folder successfully deleted"
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Folder cannot be found"
          }
        },
        "security" : [ null, null ]
      }
    },
    "/folders/{id}/sources" : {
      "get" : {
        "tags" : [ "Folders" ],
        "summary" : "Retrieve Sources",
        "description" : "Retrieves all Sources of the specified Folder.",
        "operationId" : "retrieveFolderSources",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Folder ID of the Folder to retrieve its Sources from",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Sources successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Existing_Source"
                }
              }
            }
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Folder cannot be found"
          }
        },
        "security" : [ null, null ]
      },
      "delete" : {
        "tags" : [ "Folders" ],
        "summary" : "Delete Sources",
        "description" : "Deletes all Sources in the specified Folder.",
        "operationId" : "deleteFolderSources",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Folder ID of the Folder to delete all Sources from",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Sources successfully deleted"
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Folder cannot be found"
          }
        },
        "security" : [ null, null ]
      }
    },
    "/jobs/{id}/result" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "Get Result",
        "description" : "Returns the result of a finished Job.",
        "operationId" : "getResult",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Job ID of the job to retrieve its result",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Job has finished, potentially with errors, result is returned as JSON in the response",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "201" : {
            "description" : "Job has finished successfully, resulting source is available at the returned URL",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string",
                  "format" : "url"
                }
              }
            }
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments, job has not yet finished or is not in a valid state"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Job cannot be found"
          }
        },
        "security" : [ null, null ]
      }
    },
    "/jobs/{id}/status" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "Get Status",
        "description" : "Retrieves the status of a Job.",
        "operationId" : "getStatus",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Job ID of the job to retrieve its status",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Job has finished, potentially with errors, result is available and Job ID is returned in the response",
            "headers" : {
              "Location" : {
                "description" : "URL to the Get Result operation to retrieve the result",
                "schema" : {
                  "type" : "string",
                  "format" : "url"
                }
              }
            },
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "202" : {
            "description" : "Job is running, no result available yet and Job ID is returned",
            "headers" : {
              "Location" : {
                "description" : "URL to the Get Status operation to retrieve the result",
                "schema" : {
                  "type" : "string",
                  "format" : "url"
                }
              }
            },
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Job cannot be found"
          }
        },
        "security" : [ null, null ]
      }
    },
    "/orders" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "Retrieve Orders",
        "description" : "Retrieves all previously submitted Orders.",
        "operationId" : "retrieveOrders",
        "responses" : {
          "200" : {
            "description" : "Orders successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Existing_Order"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          }
        },
        "security" : [ null, null ]
      },
      "post" : {
        "tags" : [ "Orders" ],
        "summary" : "Create Order",
        "description" : "Creates a new Order to be submitted.<p>Orders reference one or more Sources, e.g. uploaded files, as well as one or more Folders (which again can contain Sources).The Recipe describes what to do with the referenced sources and where to publish the processing result to.</p>",
        "operationId" : "createOrder",
        "requestBody" : {
          "description" : "JSON",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Order_Request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Order successfully created and available at the returned location with the returned ID"
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          }
        },
        "security" : [ null, null ]
      }
    },
    "/orders/{id}" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "Retrieve Order",
        "description" : "Retrieves the specified Order.",
        "operationId" : "retrieveOrder",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Order ID of the order to retrieve",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Order successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Existing_Order"
                }
              }
            }
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Order cannot be found"
          }
        },
        "security" : [ null, null ]
      },
      "put" : {
        "tags" : [ "Orders" ],
        "summary" : "Update Order",
        "description" : "Updates the specified Order.",
        "operationId" : "updateOrder",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Order ID of the order to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "JSON",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Order_Request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Order successfully updated"
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Order cannot be found"
          }
        },
        "security" : [ null, null ]
      },
      "delete" : {
        "tags" : [ "Orders" ],
        "summary" : "Delete Order",
        "description" : "Deletes the specified Order.",
        "operationId" : "deleteOrder",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Order ID of the order to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Order has been deleted"
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Order cannot be found"
          }
        },
        "security" : [ null, null ]
      }
    },
    "/orders/{id}/submit" : {
      "post" : {
        "tags" : [ "Orders" ],
        "summary" : "Submit Order",
        "description" : "Submits the specified Order for processing and launches a corresponding job.",
        "operationId" : "submitOrder",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Order ID of the order to submit for processing",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Order has been submitted, Job is running and Job ID is returned in the response",
            "headers" : {
              "Location" : {
                "description" : "URL to the Get Status operation to poll for processing status updates",
                "schema" : {
                  "type" : "string",
                  "format" : "url"
                }
              }
            },
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments, order has no recipe or is not valid otherwise"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Order cannot be found"
          }
        },
        "security" : [ null, null ]
      }
    },
    "/recipes" : {
      "get" : {
        "tags" : [ "Recipes" ],
        "summary" : "Retrieve Recipes",
        "description" : "Retrieves all available Recipes.",
        "operationId" : "retrieveRecipes",
        "responses" : {
          "200" : {
            "description" : "Recipes successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Existing_Recipe"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          }
        },
        "security" : [ null, null ]
      }
    },
    "/recipes/{id}" : {
      "get" : {
        "tags" : [ "Recipes" ],
        "summary" : "Retrieve Recipe",
        "description" : "Retrieves the specified Recipe.",
        "operationId" : "retrieveRecipe",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Recipe ID of the recipe to retrieve",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Recipe successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Existing_Recipe"
                }
              }
            }
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Recipe cannot be found"
          }
        },
        "security" : [ null, null ]
      }
    },
    "/recipes/{id}/instructions" : {
      "get" : {
        "tags" : [ "Recipes" ],
        "summary" : "Retrieve Instructions",
        "description" : "Retrieves the instructions of the specified Recipe.",
        "operationId" : "retrieveInstructions",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Recipe ID of the recipe whose instructions to retrieve",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Instructions successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Recipe cannot be found"
          }
        },
        "security" : [ null, null ]
      },
      "put" : {
        "tags" : [ "Recipes" ],
        "summary" : "Update Instructions",
        "description" : "Updates the instructions of the specified Recipe.",
        "operationId" : "updateInstructions",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Recipe ID of the recipe whose instructions to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "JSON instructions to update the Recipe",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Instructions successfully updated"
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Recipe cannot be found"
          }
        },
        "security" : [ null, null ]
      }
    },
    "/sources" : {
      "get" : {
        "tags" : [ "Sources" ],
        "summary" : "Retrieve Sources",
        "description" : "Retrieves all Sources stored in the Data Inventory.",
        "operationId" : "retrieveSources",
        "responses" : {
          "200" : {
            "description" : "Sources successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Existing_Source"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          }
        },
        "security" : [ null, null ]
      },
      "post" : {
        "tags" : [ "Sources" ],
        "summary" : "Create Source",
        "description" : "Creates the specified Source.<p>Sources are either uploaded files or a reference to a database. They are referenced in orders to specify which data needs processing.</p><p>Most clients should probably use the Upload File API which implicitly creates a new source on successful file upload.</p>",
        "operationId" : "createSource",
        "requestBody" : {
          "description" : "JSON",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Source_Request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Source successfully created and available at the returned location with the returned ID"
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          }
        },
        "security" : [ null, null ]
      }
    },
    "/sources/upload" : {
      "put" : {
        "tags" : [ "Sources" ],
        "summary" : "Upload File",
        "description" : "Initiates a file upload and returns the URL where to upload the file to.<p>Calling this API generates a secure, unique and time-restricted URL where the file can be uploaded to. The URL is available in the <pre>Location</pre> HTTP header of the response. The temporal validity of the URL is available in the <pre>Cache-Control</pre> HTTP header of the response.Clients may perform a <pre>HTTP PUT</pre> request on the URL to upload the file using a form where a file <pre>sample.csv</pre> is passed as property <pre>file=sample.csv</pre>. For security reasons, clients must pass all HTTP headers as returned by the <pre>X-WP-Upload-Headers</pre> in the response, together with their values. This procedure ensures a secure, encrypted file upload.</p><p>Note that calling this API automatically generates a Source, there is no need to call the Create Source API.</p>",
        "operationId" : "getUploadUrl",
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "description" : "Name of the source to create. The name must correspond to the exact file name of the file being uploaded.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "source",
          "in" : "query",
          "description" : "Existing source ID to create a new version from",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "folder",
          "in" : "query",
          "description" : "Folder ID where to upload source to",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contentType",
          "in" : "query",
          "description" : "MIME type of the source file",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "encoding",
          "in" : "query",
          "description" : "Encoding of the source file",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Source file upload initiated",
            "headers" : {
              "X-WP-Upload-Headers" : {
                "description" : "Comma-separated list of HTTP headers from the response whose values need to be passed again as HTTP headers to the <pre>HTTP PUT</pre> request when uploading the source file",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "URL where to upload the source file to",
                "schema" : {
                  "type" : "string",
                  "format" : "url"
                }
              }
            },
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Wrong or missing mandatory argument"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          }
        },
        "security" : [ null, null ]
      }
    },
    "/sources/{id}" : {
      "get" : {
        "tags" : [ "Sources" ],
        "summary" : "Retrieve Source",
        "description" : "Retrieves the specified Source.",
        "operationId" : "retrieveSource",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Source ID of the source to retrieve",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Source successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Existing_Source"
                }
              }
            }
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Source cannot be found"
          }
        },
        "security" : [ null, null ]
      },
      "put" : {
        "tags" : [ "Sources" ],
        "summary" : "Update Source",
        "description" : "Updates the specified Source.",
        "operationId" : "updateSource",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Source ID of Source to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "JSON",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Source_Request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Source successfully updated"
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Source cannot be found"
          }
        },
        "security" : [ null, null ]
      },
      "delete" : {
        "tags" : [ "Sources" ],
        "summary" : "Delete Source",
        "description" : "Deletes the specified Source.",
        "operationId" : "deleteSource",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Source ID of the Source to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Source successfully deleted"
          },
          "400" : {
            "description" : "Wrong or missing mandatory arguments"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Source cannot be found"
          }
        },
        "security" : [ null, null ]
      }
    },
    "/sources/{id}/download" : {
      "get" : {
        "tags" : [ "Sources" ],
        "summary" : "Download File",
        "description" : "Initiates a file download and returns the URL where to download the file from.<p>Calling this API generates a secure, unique and time-restricted URL where the file can be downloaded from. The URL is available in the <pre>Location</pre> HTTP header of the response. The time restriction of the URL is availablein the <pre>Cache-Control</pre> HTTP header of the response.Clients may perform a <pre>HTTP GET</pre> request on the URL to download the file.</p>",
        "operationId" : "getDownloadUrl",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Source ID of file to download",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Source file download initiated",
            "headers" : {
              "Location" : {
                "description" : "URL where to download the file from",
                "schema" : {
                  "type" : "string",
                  "format" : "url"
                }
              }
            },
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Wrong or missing mandatory argument"
          },
          "401" : {
            "description" : "Invalid or unauthorised API key"
          },
          "403" : {
            "description" : "No permission to perform operation"
          },
          "404" : {
            "description" : "Source not found"
          }
        },
        "security" : [ null, null ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "Archivable_Object" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean",
            "default" : false
          },
          "id" : {
            "maxLength" : 36,
            "minLength" : 36,
            "type" : "string"
          }
        }
      },
      "Existing_Folder" : {
        "type" : "object"
      },
      "Existing_Order" : {
        "type" : "object"
      },
      "Existing_Recipe" : {
        "type" : "object"
      },
      "Existing_Source" : {
        "type" : "object"
      },
      "Folder_Request" : {
        "type" : "object"
      },
      "Order_Request" : {
        "type" : "object"
      },
      "Source_Request" : {
        "type" : "object"
      }
    }
  }
}