{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "FabricAdminClient",
    "description" : "Scale unit node operation endpoints and objects.",
    "version" : "2016-05-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes" : {
      "get" : {
        "tags" : [ "ScaleUnitNodes" ],
        "description" : "Returns a list of all scale unit nodes in a location.",
        "operationId" : "ScaleUnitNodes_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter parameter.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScaleUnitNodeList"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}" : {
      "get" : {
        "tags" : [ "ScaleUnitNodes" ],
        "description" : "Return the requested scale unit node.",
        "operationId" : "ScaleUnitNodes_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scaleUnitNode",
          "in" : "path",
          "description" : "Name of the scale unit node.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScaleUnitNode"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/PowerOff" : {
      "post" : {
        "tags" : [ "ScaleUnitNodes" ],
        "description" : "Power off a scale unit node.",
        "operationId" : "ScaleUnitNodes_PowerOff",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scaleUnitNode",
          "in" : "path",
          "description" : "Name of the scale unit node.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "ACCEPTED"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/PowerOn" : {
      "post" : {
        "tags" : [ "ScaleUnitNodes" ],
        "description" : "Power on a scale unit node.",
        "operationId" : "ScaleUnitNodes_PowerOn",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scaleUnitNode",
          "in" : "path",
          "description" : "Name of the scale unit node.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "ACCEPTED"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/Repair" : {
      "post" : {
        "tags" : [ "ScaleUnitNodes" ],
        "description" : "Repairs a node of the cluster.",
        "operationId" : "ScaleUnitNodes_Repair",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scaleUnitNode",
          "in" : "path",
          "description" : "Name of the scale unit node.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        } ],
        "requestBody" : {
          "description" : "Description of a node.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BareMetalNodeDescription"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "ACCEPTED"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/Shutdown" : {
      "post" : {
        "tags" : [ "ScaleUnitNodes" ],
        "description" : "Shutdown a scale unit node.",
        "operationId" : "ScaleUnitNodes_Shutdown",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scaleUnitNode",
          "in" : "path",
          "description" : "Name of the scale unit node.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "ACCEPTED"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/StartMaintenanceMode" : {
      "post" : {
        "tags" : [ "ScaleUnitNodes" ],
        "description" : "Start maintenance mode for a scale unit node.",
        "operationId" : "ScaleUnitNodes_StartMaintenanceMode",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scaleUnitNode",
          "in" : "path",
          "description" : "Name of the scale unit node.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "ACCEPTED"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/StopMaintenanceMode" : {
      "post" : {
        "tags" : [ "ScaleUnitNodes" ],
        "description" : "Stop maintenance mode for a scale unit node.",
        "operationId" : "ScaleUnitNodes_StopMaintenanceMode",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scaleUnitNode",
          "in" : "path",
          "description" : "Name of the scale unit node.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "ACCEPTED"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BareMetalNodeDescription" : {
        "type" : "object",
        "properties" : {
          "biosVersion" : {
            "type" : "string",
            "description" : "Bios version of the physical machine."
          },
          "bmcIpv4Address" : {
            "type" : "string",
            "description" : "BMC address of the physical machine."
          },
          "clusterName" : {
            "type" : "string",
            "description" : "Name of the cluster."
          },
          "computerName" : {
            "type" : "string",
            "description" : "Name of the computer."
          },
          "macAddress" : {
            "type" : "string",
            "description" : "Name of the MAC address of the bare metal node."
          },
          "model" : {
            "type" : "string",
            "description" : "Model of the physical machine."
          },
          "serialNumber" : {
            "type" : "string",
            "description" : "Serial number of the physical machine."
          },
          "vendor" : {
            "type" : "string",
            "description" : "Vendor of the physical machine."
          }
        },
        "description" : "Description of a bare metal node used for ScaleOut operation on a cluster."
      },
      "ScaleUnitNode" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ScaleUnitNodeModel"
          }
        },
        "description" : "The physical server in a cluster.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "URI of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "The region where the resource is located."
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "List of key-value pairs."
            },
            "type" : {
              "type" : "string",
              "description" : "Type of resource.",
              "readOnly" : true
            }
          },
          "description" : "Base resource object."
        } ]
      },
      "ScaleUnitNodeList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to the next page."
          },
          "value" : {
            "type" : "array",
            "description" : "List of scale unit nodes.",
            "items" : {
              "$ref" : "#/components/schemas/ScaleUnitNode"
            }
          }
        },
        "description" : "A pageable list of scale unit nodes."
      },
      "ScaleUnitNodeModel" : {
        "type" : "object",
        "properties" : {
          "biosVersion" : {
            "type" : "string",
            "description" : "BIOS version of the physical machine."
          },
          "bmcAddress" : {
            "type" : "string",
            "description" : "BMC address of the physical machine."
          },
          "canPowerOff" : {
            "type" : "boolean",
            "description" : "Value indicating whether the node can be powered off."
          },
          "capacity" : {
            "type" : "object",
            "properties" : {
              "cores" : {
                "type" : "integer",
                "description" : "The number of CPU cores for the physical machine.",
                "format" : "int64"
              },
              "memoryGB" : {
                "type" : "number",
                "description" : "The memory for the physical machine.",
                "format" : "float"
              }
            },
            "description" : "The capacity information for a physical machine."
          },
          "model" : {
            "type" : "string",
            "description" : "Model of the physical machine."
          },
          "powerState" : {
            "type" : "string",
            "description" : "PowerState of the physical machine.",
            "enum" : [ "Stopped", "Starting", "Running", "Stopping" ]
          },
          "scaleUnitName" : {
            "type" : "string",
            "description" : "Cluster name of the physical machine."
          },
          "scaleUnitNodeStatus" : {
            "type" : "string",
            "description" : "Status of the physical machine.",
            "enum" : [ "Running", "Maintenance", "Stopped" ]
          },
          "scaleUnitUri" : {
            "type" : "string",
            "description" : "URI of the corresponding cluster."
          },
          "serialNumber" : {
            "type" : "string",
            "description" : "Serial number of the physical machine."
          },
          "vendor" : {
            "type" : "string",
            "description" : "Vendor of the physical machine."
          }
        },
        "description" : "Holds all properties related to a scale unit node."
      }
    },
    "parameters" : {
      "ScaleUnitNodeParameter" : {
        "name" : "scaleUnitNode",
        "in" : "path",
        "description" : "Name of the scale unit node.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "BareMetalNodeParameter" : {
        "description" : "Description of a node.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/BareMetalNodeDescription"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}