{"openapi":"3.0.1","info":{"title":"Azure Log Analytics","description":"This API exposes Azure Log Analytics query capabilities","termsOfService":"https://dev.loganalytics.io/tos","contact":{"name":"AIAPI Team","url":"https://dev.loganalytics.io/support","email":"aiapi@microsoft.com"},"license":{"name":"Microsoft","url":"https://dev.loganalytics.io/license"},"version":"2017-10-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/query":{"get":{"summary":"Execute an Analytics query","description":"Executes an Analytics query for data","operationId":"Query_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"Name of the Log Analytics workspace.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)","required":true,"schema":{"type":"string"}},{"name":"timespan","in":"query","description":"Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.","schema":{"type":"string","format":"duration"}},{"name":"apiVersion","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2017-10-01"}}],"responses":{"200":{"description":"OK. The API call succeeded and the Analytics query result is in the response payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/queryResults"}}}},"default":{"description":"An error response object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorResponse"}}}}}},"post":{"summary":"Execute an Analytics query","description":"Executes an Analytics query for data. [Here](https://dev.loganalytics.io/documentation/Using-the-API) is an example for using POST with an Analytics query.","operationId":"Query_Execute","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"Name of the Log Analytics workspace.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2017-10-01"}}],"requestBody":{"description":"The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/queryBody"}}},"required":true},"responses":{"200":{"description":"OK. The API call succeeded and the Analytics query result is in the response payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/queryResults"}}}},"default":{"description":"An error response object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorResponse"}}}}}}}},"components":{"schemas":{"column":{"title":"A table column.","type":"object","properties":{"name":{"type":"string","description":"The name of this column."},"type":{"type":"string","description":"The data type of this column."}},"description":"A column in a table."},"errorDetail":{"title":"Error details.","required":["code","message"],"type":"object","properties":{"additionalProperties":{"type":"object"},"code":{"type":"string","description":"The error's code."},"message":{"type":"string","description":"A human readable error message."},"resources":{"type":"array","description":"Indicates resources which were responsible for the error.","items":{"type":"string"}},"target":{"type":"string","description":"Indicates which property in the request is responsible for the error."},"value":{"type":"string","description":"Indicates which value in 'target' is responsible for the error."}}},"errorInfo":{"title":"The code and message for an error.","required":["code","message"],"type":"object","properties":{"additionalProperties":{"type":"object"},"code":{"type":"string","description":"A machine readable error code."},"details":{"type":"array","description":"error details.","items":{"$ref":"#/components/schemas/errorDetail"}},"innererror":{"$ref":"#/components/schemas/errorInfo"},"message":{"type":"string","description":"A human readable error message."}}},"errorResponse":{"title":"Error details.","required":["error"],"type":"object","properties":{"error":{"$ref":"#/components/schemas/errorInfo"}},"description":"Contains details when the response code indicates an error."},"queryBody":{"required":["query"],"type":"object","properties":{"query":{"$ref":"#/components/schemas/queryParam"},"timespan":{"$ref":"#/components/schemas/timespanParam"},"workspaces":{"$ref":"#/components/schemas/workspacesParam"}},"description":"The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)"},"queryParam":{"type":"string","description":"The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)"},"queryResults":{"title":"A query response.","required":["tables"],"type":"object","properties":{"tables":{"type":"array","description":"The list of tables, columns and rows.","items":{"$ref":"#/components/schemas/table"}}},"description":"Contains the tables, columns & rows resulting from a query."},"table":{"title":"A query response table.","required":["columns","name","rows"],"type":"object","properties":{"columns":{"type":"array","description":"The list of columns in this table.","items":{"$ref":"#/components/schemas/column"}},"name":{"type":"string","description":"The name of the table."},"rows":{"type":"array","description":"The resulting rows from this query.","items":{"type":"array","items":{"type":"string"}}}},"description":"Contains the columns and rows for one table in a query response."},"timespanParam":{"type":"string","description":"Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression."},"workspacesParam":{"type":"array","description":"Workspace IDs to include in cross-workspace queries.","items":{"type":"string"}}},"parameters":{"apiVersion":{"name":"apiVersion","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2017-10-01"}},"queryParam":{"name":"query","in":"query","description":"The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)","required":true,"schema":{"type":"string"}},"resourceGroupName":{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},"subscriptionId":{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},"timespanParam":{"name":"timespan","in":"query","description":"Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.","schema":{"type":"string","format":"duration"}},"workspaceName":{"name":"workspaceName","in":"path","description":"Name of the Log Analytics workspace.","required":true,"schema":{"type":"string"}}},"requestBodies":{"queryBody":{"description":"The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/queryBody"}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}