{"openapi":"3.0.1","info":{"title":"FabricAdminClient","description":"The Admin Fabric Management Client.","version":"2016-05-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Fabric.Admin/operations":{"get":{"tags":["Fabric"],"description":"Returns the list of support REST operations.","operationId":"Fabric_ListOperations","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationList"}}}}}}}},"components":{"schemas":{"Display":{"type":"object","properties":{"description":{"type":"string","description":"The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views."},"operation":{"type":"string","description":"The localized, friendly name for the operation. Use the name as it will be displayed to the user."},"provider":{"type":"string","description":"The localized friendly form of the resource provider name – it is expected to also include the publisher/company responsible. It should use Title Casing and begin with \"Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute.\"."},"resource":{"type":"string","description":"The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider."}},"description":"Contains the localized display information for this particular operation / action."},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/Display"},"name":{"type":"string","description":"The name of the operation being performed on this particular object. This name should match the name that appears in RBAC or the event service."}},"description":"Describes the supported REST operation."},"OperationList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to next page."},"value":{"type":"array","description":"List of supported operations.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"A pageable list of supported operations objects."},"ProvisioningState":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/ProvisioningStateProperties"}},"description":"Provisioning status of the resource."},"ProvisioningStateProperties":{"type":"object","properties":{"provisioningState":{"type":"string","description":"Provisioning status of the resource."}},"description":"Provisioning status of the resource."},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"URI of the resource.","readOnly":true},"location":{"type":"string","description":"The region where the resource is located."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"List of key-value pairs."},"type":{"type":"string","description":"Type of resource.","readOnly":true}},"description":"Base resource object."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}},"FilterParameter":{"name":"$filter","in":"query","description":"OData filter parameter.","schema":{"type":"string"}},"LocationParameter":{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},"ResourceGroupParameter":{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}