{"openapi":"3.0.1","info":{"title":"HDInsightManagementClient","description":"The HDInsight Management Client.","version":"2018-06-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/extensions/clustermonitoring":{"get":{"tags":["Extensions"],"description":"Gets the status of Operations Management Suite (OMS) on the HDInsight cluster.","operationId":"Extensions_GetMonitoringStatus","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The HDInsight client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterMonitoringResponse"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."}}}}}},"put":{"tags":["Extensions"],"description":"Enables the Operations Management Suite (OMS) on the HDInsight cluster.","operationId":"Extensions_EnableMonitoring","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The HDInsight client API Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The Operations Management Suite (OMS) workspace parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterMonitoringRequest"}}},"required":true},"responses":{"200":{"description":"Ok response definition."},"202":{"description":"Accepted response definition."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."}}}}}},"delete":{"tags":["Extensions"],"description":"Disables the Operations Management Suite (OMS) on the HDInsight cluster.","operationId":"Extensions_DisableMonitoring","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The HDInsight client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ok response definition."},"202":{"description":"OK response definition."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/extensions/{extensionName}":{"get":{"tags":["Extensions"],"description":"Gets the extension properties for the specified HDInsight cluster extension.","operationId":"Extensions_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster.","required":true,"schema":{"type":"string"}},{"name":"extensionName","in":"path","description":"The name of the cluster extension.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The HDInsight client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Extension"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."}}}}}},"put":{"tags":["Extensions"],"description":"Creates an HDInsight cluster extension.","operationId":"Extensions_Create","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster.","required":true,"schema":{"type":"string"}},{"name":"extensionName","in":"path","description":"The name of the cluster extension.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The HDInsight client API Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The cluster extensions create request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Extension"}}},"required":true},"responses":{"200":{"description":"Ok response definition."},"202":{"description":"Accepted response definition."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."}}}}}},"delete":{"tags":["Extensions"],"description":"Deletes the specified extension for HDInsight cluster.","operationId":"Extensions_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster.","required":true,"schema":{"type":"string"}},{"name":"extensionName","in":"path","description":"The name of the cluster extension.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The HDInsight client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ok response definition."},"202":{"description":"Accepted response definition."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."}}}}}}}},"components":{"schemas":{"ClusterMonitoringRequest":{"type":"object","properties":{"primaryKey":{"type":"string","description":"The Operations Management Suite (OMS) workspace key."},"workspaceId":{"type":"string","description":"The Operations Management Suite (OMS) workspace ID."}},"description":"The Operations Management Suite (OMS) parameters."},"ClusterMonitoringResponse":{"type":"object","properties":{"clusterMonitoringEnabled":{"type":"boolean","description":"The status of the Operations Management Suite (OMS) on the HDInsight cluster."},"workspaceId":{"type":"string","description":"The workspace ID of the Operations Management Suite (OMS) on the HDInsight cluster."}},"description":"The Operations Management Suite (OMS) status response"},"Extension":{"type":"object","properties":{"primaryKey":{"type":"string","description":"The certificate for the cluster monitoring extensions."},"workspaceId":{"type":"string","description":"The workspace ID for the cluster monitoring extension."}},"description":"Cluster monitoring extensions"}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The HDInsight client API Version.","required":true,"schema":{"type":"string"}},"ClusterNameParameter":{"name":"clusterName","in":"path","description":"The name of the cluster.","required":true,"schema":{"type":"string"}},"ExtensionNameParameter":{"name":"extensionName","in":"path","description":"The name of the cluster extension.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}