{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2018-10-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/publicipaddresses" : {
      "get" : {
        "description" : "Gets information about all public IP addresses on a virtual machine scale set level.",
        "operationId" : "PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualMachineScaleSetName",
          "in" : "path",
          "description" : "The name of the virtual machine scale set.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-03-30" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of PublicIPInterface resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Response for ListPublicIpAddresses API service call."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses" : {
      "get" : {
        "description" : "Gets information about all public IP addresses in a virtual machine IP configuration in a virtual machine scale set.",
        "operationId" : "PublicIPAddresses_ListVirtualMachineScaleSetVMPublicIPAddresses",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualMachineScaleSetName",
          "in" : "path",
          "description" : "The name of the virtual machine scale set.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualmachineIndex",
          "in" : "path",
          "description" : "The virtual machine index.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkInterfaceName",
          "in" : "path",
          "description" : "The network interface name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ipConfigurationName",
          "in" : "path",
          "description" : "The IP configuration name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-03-30" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of PublicIPAddress resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Response for ListPublicIpAddresses API service call."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses/{publicIpAddressName}" : {
      "get" : {
        "description" : "Get the specified public IP address in a virtual machine scale set.",
        "operationId" : "PublicIPAddresses_GetVirtualMachineScaleSetPublicIPAddress",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualMachineScaleSetName",
          "in" : "path",
          "description" : "The name of the virtual machine scale set.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualmachineIndex",
          "in" : "path",
          "description" : "The virtual machine index.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkInterfaceName",
          "in" : "path",
          "description" : "The name of the network interface.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ipConfigurationName",
          "in" : "path",
          "description" : "The name of the IP configuration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publicIpAddressName",
          "in" : "path",
          "description" : "The name of the public IP Address.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-03-30" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expands referenced resources.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting PublicIPAddress resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Public IP address resource."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "PublicIPAddressPropertiesFormat" : {
        "type" : "object"
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}