{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2018-10-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/publicipaddresses" : {
      "get" : {
        "description" : "Gets information about all public IP addresses on a virtual machine scale set level.",
        "operationId" : "PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualMachineScaleSetName",
          "in" : "path",
          "description" : "The name of the virtual machine scale set.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-03-30" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of PublicIPInterface resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "nextLink" : {
                      "type" : "string",
                      "description" : "The URL to get the next set of results."
                    },
                    "value" : {
                      "type" : "array",
                      "description" : "A list of public IP addresses that exists in a resource group.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "etag" : {
                            "type" : "string",
                            "description" : "A unique read-only string that changes whenever the resource is updated."
                          },
                          "properties" : {
                            "$ref" : "#/components/schemas/PublicIPAddressPropertiesFormat"
                          },
                          "sku" : {
                            "type" : "object",
                            "properties" : {
                              "name" : {
                                "type" : "string",
                                "description" : "Name of a public IP address SKU.",
                                "enum" : [ "Basic", "Standard" ]
                              }
                            },
                            "description" : "SKU of a public IP address."
                          },
                          "zones" : {
                            "type" : "array",
                            "description" : "A list of availability zones denoting the IP allocated for the resource needs to come from.",
                            "items" : {
                              "type" : "string"
                            }
                          }
                        },
                        "description" : "Public IP address resource."
                      }
                    }
                  },
                  "description" : "Response for ListPublicIpAddresses API service call."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses" : {
      "get" : {
        "description" : "Gets information about all public IP addresses in a virtual machine IP configuration in a virtual machine scale set.",
        "operationId" : "PublicIPAddresses_ListVirtualMachineScaleSetVMPublicIPAddresses",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualMachineScaleSetName",
          "in" : "path",
          "description" : "The name of the virtual machine scale set.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualmachineIndex",
          "in" : "path",
          "description" : "The virtual machine index.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkInterfaceName",
          "in" : "path",
          "description" : "The network interface name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ipConfigurationName",
          "in" : "path",
          "description" : "The IP configuration name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-03-30" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of PublicIPAddress resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "nextLink" : {
                      "type" : "string",
                      "description" : "The URL to get the next set of results."
                    },
                    "value" : {
                      "type" : "array",
                      "description" : "A list of public IP addresses that exists in a resource group.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "etag" : {
                            "type" : "string",
                            "description" : "A unique read-only string that changes whenever the resource is updated."
                          },
                          "properties" : {
                            "$ref" : "#/components/schemas/PublicIPAddressPropertiesFormat"
                          },
                          "sku" : {
                            "type" : "object",
                            "properties" : {
                              "name" : {
                                "type" : "string",
                                "description" : "Name of a public IP address SKU.",
                                "enum" : [ "Basic", "Standard" ]
                              }
                            },
                            "description" : "SKU of a public IP address."
                          },
                          "zones" : {
                            "type" : "array",
                            "description" : "A list of availability zones denoting the IP allocated for the resource needs to come from.",
                            "items" : {
                              "type" : "string"
                            }
                          }
                        },
                        "description" : "Public IP address resource."
                      }
                    }
                  },
                  "description" : "Response for ListPublicIpAddresses API service call."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses/{publicIpAddressName}" : {
      "get" : {
        "description" : "Get the specified public IP address in a virtual machine scale set.",
        "operationId" : "PublicIPAddresses_GetVirtualMachineScaleSetPublicIPAddress",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualMachineScaleSetName",
          "in" : "path",
          "description" : "The name of the virtual machine scale set.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualmachineIndex",
          "in" : "path",
          "description" : "The virtual machine index.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkInterfaceName",
          "in" : "path",
          "description" : "The name of the network interface.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ipConfigurationName",
          "in" : "path",
          "description" : "The name of the IP configuration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publicIpAddressName",
          "in" : "path",
          "description" : "The name of the public IP Address.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-03-30" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expands referenced resources.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting PublicIPAddress resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "properties" : {
                    "etag" : {
                      "type" : "string",
                      "description" : "A unique read-only string that changes whenever the resource is updated."
                    },
                    "properties" : {
                      "$ref" : "#/components/schemas/PublicIPAddressPropertiesFormat"
                    },
                    "sku" : {
                      "type" : "object",
                      "properties" : {
                        "name" : {
                          "type" : "string",
                          "description" : "Name of a public IP address SKU.",
                          "enum" : [ "Basic", "Standard" ]
                        }
                      },
                      "description" : "SKU of a public IP address."
                    },
                    "zones" : {
                      "type" : "array",
                      "description" : "A list of availability zones denoting the IP allocated for the resource needs to come from.",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  },
                  "description" : "Public IP address resource.",
                  "allOf" : [ {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "type" : "string",
                        "description" : "Resource ID."
                      },
                      "location" : {
                        "type" : "string",
                        "description" : "Resource location."
                      },
                      "name" : {
                        "type" : "string",
                        "description" : "Resource name.",
                        "readOnly" : true
                      },
                      "tags" : {
                        "type" : "object",
                        "additionalProperties" : {
                          "type" : "string"
                        },
                        "description" : "Resource tags."
                      },
                      "type" : {
                        "type" : "string",
                        "description" : "Resource type.",
                        "readOnly" : true
                      }
                    },
                    "description" : "Common resource representation."
                  } ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "PublicIPAddressPropertiesFormat" : {
        "type" : "object"
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}