{"openapi":"3.0.1","info":{"title":"www.zoomconnect.com","description":"The world's greatest SMS API","version":"1"},"servers":[{"url":"https://www.zoomconnect.com/app"}],"tags":[{"name":"account","description":"Core information related to your account"},{"name":"contacts","description":"Manage contacts"},{"name":"groups","description":"Manage groups"},{"name":"messages","description":"Manage your messages"},{"name":"sms","description":"Send and schedule messages"},{"name":"templates","description":"Manage your templates"},{"name":"voice","description":"(BETA) Send, schedule and manage voice messages"}],"paths":{"/api/rest/v1/account/balance":{"get":{"tags":["account"],"summary":"balance","description":"Returns your account's credit balance","operationId":"getBalance","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceAccount"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceAccount"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/account/statistics":{"get":{"tags":["account"],"summary":"statistics","description":"Returns data from the statistics report. Note that by default the statistics shown are based on the number of messages, use the calculateCreditValue should you wish to calculate the statistics based on credit value.","operationId":"getStatistics","parameters":[{"name":"from","in":"query","description":"date format: dd-MM-yyyy","schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","description":"date format: dd-MM-yyyy","schema":{"type":"string","format":"date-time"}},{"name":"userEmailAddress","in":"query","description":"optional email address of user to return statistics for a single user, default is to return statistics for all users if administrator, or statistics for your own account if not an administrator","schema":{"type":"string"}},{"name":"campaign","in":"query","description":"optional campaign name","schema":{"type":"string"}},{"name":"includeRefundedAndOptout","in":"query","description":"optionally include refunded and optout counts, default is false","schema":{"type":"boolean"}},{"name":"calculateCreditValue","in":"query","description":"optionally calculate using credit value rather than message count, default is false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceAccountStatistics"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceAccountStatistics"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/account/transfer":{"post":{"tags":["account"],"summary":"transfer","description":"Transfers credits between two users in the same team. The <i>account email address</i> fields as well as the <i>number of credits to transfer</i> are required. ","operationId":"transfer","requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceTransferCreditsRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceTransferCreditsRequest"}}},"required":false},"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceUser"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceUser"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/account/user":{"get":{"tags":["account"],"summary":"search","description":"Find a user for a particular email address","operationId":"search","parameters":[{"name":"searchEmail","in":"query","description":"search by email address","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceUsers"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceUsers"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["account"],"summary":"create","description":"Creates a new sub-account in your team. The following fields are required <i>firstname, lastname, email address, contact number</i> and <i>password.</i>","requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceUser"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceUser"}}},"required":false},"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceUser"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceUser"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/account/user/{userId}":{"get":{"tags":["account"],"summary":"getUser","description":"Gets a user from a given user id","operationId":"getUser","parameters":[{"name":"userId","in":"path","description":"userId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceUser"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceUser"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["account"],"summary":"update","description":"Updates a sub-account in your team. The following fields can be updated <i>firstname, lastname, contact number</i> and <i>password.</i>","parameters":[{"name":"userId","in":"path","description":"userId","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceUser"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceUser"}}},"required":false},"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceUser"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceUser"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/contacts/all":{"get":{"tags":["contacts"],"summary":"all","description":"Returns all contacts","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceContacts"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceContacts"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/contacts/create":{"post":{"tags":["contacts"],"summary":"create","description":"Creates a  contact","requestBody":{"description":"webServiceContact","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceContact"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceContact"}}},"required":false},"responses":{"200":{"description":"No response was specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceContact"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceContact"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceContact"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceContact"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/contacts/{contactId}":{"get":{"tags":["contacts"],"summary":"get","description":"Returns details for a single contact","parameters":[{"name":"contactId","in":"path","description":"contactId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceContact"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceContact"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["contacts"],"summary":"update","description":"Updates a  contact","parameters":[{"name":"contactId","in":"path","description":"contactId","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"webServiceContact","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceContact"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceContact"}}},"required":false},"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceContact"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceContact"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["contacts"],"summary":"delete","description":"Deletes a  contact","parameters":[{"name":"contactId","in":"path","description":"contactId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Description was not specified"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/rest/v1/contacts/{contactId}/addFromGroup/{groupId}":{"get":{"tags":["contacts"],"summary":"removeFromGroup","description":"Remove a contact from a group","parameters":[{"name":"contactId","in":"path","description":"contactId","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","description":"groupId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["contacts"],"summary":"removeFromGroup","description":"Remove a contact from a group","parameters":[{"name":"contactId","in":"path","description":"contactId","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","description":"groupId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Description was not specified"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/contacts/{contactId}/addToGroup/{groupId}":{"get":{"tags":["contacts"],"summary":"addToGroup","description":"Add a contact to a group","parameters":[{"name":"contactId","in":"path","description":"contactId","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","description":"groupId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["contacts"],"summary":"addToGroup","description":"Add a contact to a group","parameters":[{"name":"contactId","in":"path","description":"contactId","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","description":"groupId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Description was not specified"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/groups/all":{"get":{"tags":["groups"],"summary":"all","description":"Returns all groups","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceGroups"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceGroups"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/groups/create":{"post":{"tags":["groups"],"summary":"create","description":"Create a  group","requestBody":{"description":"webServiceGroup","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceGroup"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceGroup"}}},"required":false},"responses":{"200":{"description":"No response was specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceGroup"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceGroup"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceGroup"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceGroup"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/groups/{groupId}":{"get":{"tags":["groups"],"summary":"get","description":"Returns details for a single group","parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceGroup"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceGroup"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["groups"],"summary":"update","description":"Update a  group","parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"webServiceGroup","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceGroup"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceGroup"}}},"required":false},"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceGroup"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceGroup"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["groups"],"summary":"delete","description":"Deletes a  group","parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Description was not specified"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/rest/v1/groups/{groupId}/addContact/{contactId}":{"get":{"tags":["groups"],"summary":"addContact","description":"Add a contact to a group","parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"schema":{"type":"string"}},{"name":"contactId","in":"path","description":"contactId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["groups"],"summary":"addContact","description":"Add a contact to a group","parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"schema":{"type":"string"}},{"name":"contactId","in":"path","description":"contactId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Description was not specified"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/groups/{groupId}/removeContact/{contactId}":{"get":{"tags":["groups"],"summary":"removeContact","description":"Remove a contact from a group","parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"schema":{"type":"string"}},{"name":"contactId","in":"path","description":"contactId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["groups"],"summary":"removeContact","description":"Remove a contact from a group","parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"schema":{"type":"string"}},{"name":"contactId","in":"path","description":"contactId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Description was not specified"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/messages/all":{"get":{"tags":["messages"],"summary":"all","description":"Returns all messages","parameters":[{"name":"pageSize","in":"query","description":"number of elements to return at a time","schema":{"type":"integer","format":"int32","default":100}},{"name":"page","in":"query","description":"page number","schema":{"type":"integer","format":"int32","default":1}},{"name":"type","in":"query","description":"filter by message type","schema":{"type":"string","enum":["OUTBOUND","INBOUND"]}},{"name":"status","in":"query","description":"filter by message status","schema":{"type":"string","enum":["SCHEDULED","UNKNOWN","SENT","FAILED","FAILED_REFUNDED","FAILED_OPTOUT","DELIVERED"]}},{"name":"fromDateTimeSent","in":"query","description":"date format: yyyyMMdd","schema":{"type":"string","format":"date-time"}},{"name":"toDateTimeSent","in":"query","description":"date format: yyyyMMdd","schema":{"type":"string","format":"date-time"}},{"name":"fromDateTimeReceived","in":"query","description":"date format: yyyyMMdd","schema":{"type":"string","format":"date-time"}},{"name":"toDateTimeReceived","in":"query","description":"date format: yyyyMMdd","schema":{"type":"string","format":"date-time"}},{"name":"fromNumber","in":"query","description":"phone number the message was sent from","schema":{"type":"string"}},{"name":"toNumber","in":"query","description":"phone number the message was sent to","schema":{"type":"string"}},{"name":"message","in":"query","description":"search matching message text","schema":{"type":"string"}},{"name":"campaign","in":"query","description":"search by campaign","schema":{"type":"string"}},{"name":"dataField","in":"query","description":"search by data field","schema":{"type":"string"}},{"name":"deleted","in":"query","description":"return only deleted / not deleted messages","schema":{"type":"boolean"}},{"name":"read","in":"query","description":"return only read / unread messages (inbox messages only)","schema":{"type":"boolean"}},{"name":"repliesToMessageId","in":"query","description":"return only inbox messages which are a reply to the message with the given message id","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceMessages"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceMessages"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/messages/analyse/full":{"post":{"tags":["messages"],"summary":"analyse-full","description":"Returns full analysis of message","operationId":"analyse-full","requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceAnalyseMessageRequestMessageAndRecipientNumber"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceAnalyseMessageRequestMessageAndRecipientNumber"}}},"required":false},"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceAnalyseMessageResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceAnalyseMessageResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/messages/analyse/message-credit-cost":{"post":{"tags":["messages"],"summary":"analyse-message-credit-cost","description":"Returns the number of credit which would be required to send the request message to the requested recipient number","operationId":"analyse-message-credit-cost","requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceAnalyseMessageRequestMessageAndRecipientNumber"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceAnalyseMessageRequestMessageAndRecipientNumber"}}},"required":false},"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"type":"number","format":"double"}},"application/xml":{"schema":{"type":"number","format":"double"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/messages/analyse/message-encoding":{"post":{"tags":["messages"],"summary":"analyse-message-encoding","description":"Returns the message encoding that would be required to send the requested message","operationId":"analyse-message-encoding","requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceAnalyseMessageRequestMessageOnly"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceAnalyseMessageRequestMessageOnly"}}},"required":false},"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/messages/analyse/message-length":{"post":{"tags":["messages"],"summary":"analyse-message-length","description":"Returns the number of characters the requested message consists of","operationId":"analyse-message-length","requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceAnalyseMessageRequestMessageOnly"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceAnalyseMessageRequestMessageOnly"}}},"required":false},"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"type":"integer","format":"int32"}},"application/xml":{"schema":{"type":"integer","format":"int32"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/messages/analyse/message-length-within-max-allowed":{"post":{"tags":["messages"],"summary":"analyse-","description":"Returns details for a single message","operationId":"analyse-","requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceAnalyseMessageRequestMessageOnly"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceAnalyseMessageRequestMessageOnly"}}},"required":false},"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"type":"boolean"}},"application/xml":{"schema":{"type":"boolean"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/messages/analyse/number-of-messages":{"post":{"tags":["messages"],"summary":"analyse-number-of-messages","description":"Returns the number of SMS parts which would be sent when sending the requested message","operationId":"analyse-number-of-messages","requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceAnalyseMessageRequestMessageOnly"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceAnalyseMessageRequestMessageOnly"}}},"required":false},"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"type":"integer","format":"int32"}},"application/xml":{"schema":{"type":"integer","format":"int32"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/messages/{messageId}":{"get":{"tags":["messages"],"summary":"get","description":"Returns details for a single message","parameters":[{"name":"messageId","in":"path","description":"messageId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceMessage"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["messages"],"summary":"delete","description":"Deletes a  message","parameters":[{"name":"messageId","in":"path","description":"messageId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Description was not specified"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/rest/v1/messages/{messageId}/markRead":{"put":{"tags":["messages"],"summary":"markRead","description":"Marks a  message as read","parameters":[{"name":"messageId","in":"path","description":"messageId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceMessage"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["messages"],"summary":"markRead","description":"Marks a  message as read","parameters":[{"name":"messageId","in":"path","description":"messageId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceMessage"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/messages/{messageId}/markUnread":{"put":{"tags":["messages"],"summary":"markUnread","description":"Marks a  message as unread","parameters":[{"name":"messageId","in":"path","description":"messageId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceMessage"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["messages"],"summary":"markUnread","description":"Marks a  message as unread","parameters":[{"name":"messageId","in":"path","description":"messageId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceMessage"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/sms/send":{"get":{"tags":["sms"],"summary":"send","description":"Returns an example of the data to POST to send a single message.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceSendSmsRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceSendSmsRequest"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["sms"],"summary":"send","description":"Sends a single message. The <i>recipientNumber</i> and <i>message</i> fields are required. All other fields are optional.","requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceSendSmsRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceSendSmsRequest"}}},"required":false},"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceSendSmsResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceSendSmsResponse"}}}},"201":{"description":"Created"},"400":{"description":"Validation error</br></br>Code and message:<ul><li>2 - Invalid mobile number</li><li>3 - Message cannot be empty</li></ul>","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/RestErrorDTO"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/sms/send-bulk":{"get":{"tags":["sms"],"summary":"send-bulk","description":"Returns an example of the data to POST to send multiple messages in one transaction.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceSendSmsRequests"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceSendSmsRequests"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["sms"],"summary":"send-bulk","description":"Send multiple messages in one transaction.","requestBody":{"description":"requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceSendSmsRequests"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceSendSmsRequests"}}},"required":false},"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceSendSmsResponses"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceSendSmsResponses"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/sms/send-url-parameters":{"get":{"tags":["sms"],"summary":"send-url-parameters","description":"Send a single message using URL parameters.The <i>recipientNumber</i> and <i>message</i> parameters are required. All other parameters are optional.","parameters":[{"name":"recipientNumber","in":"query","description":"the phone number of the recipient to send to","required":true,"schema":{"type":"string"}},{"name":"message","in":"query","description":"the message to send","required":true,"schema":{"type":"string"}},{"name":"dateToSend","in":"query","description":"date format: yyyyMMddHHmm","schema":{"type":"string","format":"date-time"}},{"name":"campaign","in":"query","description":"optional campaign name","schema":{"type":"string"}},{"name":"dataField","in":"query","description":"optional extra data","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["sms"],"summary":"send-url-parameters","description":"Send a single message using URL parameters.The <i>recipientNumber</i> and <i>message</i> parameters are required. All other parameters are optional.","parameters":[{"name":"recipientNumber","in":"query","description":"the phone number of the recipient to send to","required":true,"schema":{"type":"string"}},{"name":"message","in":"query","description":"the message to send","required":true,"schema":{"type":"string"}},{"name":"dateToSend","in":"query","description":"date format: yyyyMMddHHmm","schema":{"type":"string","format":"date-time"}},{"name":"campaign","in":"query","description":"optional campaign name","schema":{"type":"string"}},{"name":"dataField","in":"query","description":"optional extra data","schema":{"type":"string"}}],"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/sms/send-url/{token}":{"get":{"tags":["sms"],"summary":"send-url","description":"Send a single message using your unique URL without having to authenticate using your email address or REST API token. The token required is the URL Sending token available on the developer setting page. The <i>recipientNumber</i> and <i>message</i> parameters are required. All other parameters are optional. Not that the token required here is ","parameters":[{"name":"token","in":"path","description":"token","required":true,"schema":{"type":"string"}},{"name":"recipientNumber","in":"query","description":"the phone number of the recipient to send to","required":true,"schema":{"type":"string"}},{"name":"message","in":"query","description":"the message to send","required":true,"schema":{"type":"string"}},{"name":"dateToSend","in":"query","description":"date format: yyyyMMddHHmm","schema":{"type":"string","format":"date-time"}},{"name":"campaign","in":"query","description":"optional campaign name","schema":{"type":"string"}},{"name":"dataField","in":"query","description":"optional extra data","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["sms"],"summary":"send-url","description":"Send a single message using your unique URL without having to authenticate using your email address or REST API token. The token required is the URL Sending token available on the developer setting page. The <i>recipientNumber</i> and <i>message</i> parameters are required. All other parameters are optional. Not that the token required here is ","parameters":[{"name":"token","in":"path","description":"token","required":true,"schema":{"type":"string"}},{"name":"recipientNumber","in":"query","description":"the phone number of the recipient to send to","required":true,"schema":{"type":"string"}},{"name":"message","in":"query","description":"the message to send","required":true,"schema":{"type":"string"}},{"name":"dateToSend","in":"query","description":"date format: yyyyMMddHHmm","schema":{"type":"string","format":"date-time"}},{"name":"campaign","in":"query","description":"optional campaign name","schema":{"type":"string"}},{"name":"dataField","in":"query","description":"optional extra data","schema":{"type":"string"}}],"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/templates/all":{"get":{"tags":["templates"],"summary":"all","description":"Returns all templates","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceTemplates"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceTemplates"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/templates/{templateId}":{"get":{"tags":["templates"],"summary":"get","description":"Returns details for a single template","parameters":[{"name":"templateId","in":"path","description":"templateId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceTemplate"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceTemplate"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["templates"],"summary":"delete","description":"Deletes a  template","parameters":[{"name":"templateId","in":"path","description":"templateId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Description was not specified"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/rest/v1/voice/all":{"get":{"tags":["voice"],"summary":"all","description":"Returns all voice messages","parameters":[{"name":"pageSize","in":"query","description":"number of elements to return at a time","schema":{"type":"integer","format":"int32","default":100}},{"name":"page","in":"query","description":"page number","schema":{"type":"integer","format":"int32","default":1}},{"name":"status","in":"query","description":"filter by message status","schema":{"type":"string","enum":["SCHEDULED","UNKNOWN","SENT","FAILED","FAILED_REFUNDED","FAILED_OPTOUT","DELIVERED"]}},{"name":"fromDateTimeSent","in":"query","description":"date format: yyyyMMdd","schema":{"type":"string","format":"date-time"}},{"name":"toDateTimeSent","in":"query","description":"date format: yyyyMMdd","schema":{"type":"string","format":"date-time"}},{"name":"toNumber","in":"query","description":"phone number the message was sent to","schema":{"type":"string"}},{"name":"message","in":"query","description":"search matching message text","schema":{"type":"string"}},{"name":"campaign","in":"query","description":"search by campaign","schema":{"type":"string"}},{"name":"dataField","in":"query","description":"search by data field","schema":{"type":"string"}},{"name":"deleted","in":"query","description":"return only deleted / not deleted messages","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceVoiceMessages"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceVoiceMessages"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/voice/single-audio":{"post":{"tags":["voice"],"summary":"single-audio","description":"Send a single audio voice message to one recipient. Note, Content-Type header must be set to multipart/form-data for this request.","operationId":"single-audio","parameters":[{"name":"recipientNumber","in":"query","description":"the phone number of the recipient to send to","required":true,"schema":{"type":"string"}},{"name":"campaign","in":"query","description":"optional campaign name","schema":{"type":"string"}},{"name":"dataField","in":"query","description":"optional extra data","schema":{"type":"string"}},{"name":"retryCount","in":"query","description":"optional number of times to retry unanswered call","schema":{"type":"integer","format":"int32"}},{"name":"retryMinimumInterval","in":"query","description":"optional minimum interval in minutes between retry attempts","schema":{"type":"integer","format":"int32"}},{"name":"retryMaximumInterval","in":"query","description":"optional maximum interval in minutes between retry attempts","schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"audio file to play, supports MP3 or WAV format","format":"binary"}}}}},"required":true},"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceSendVoiceMessageResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceSendVoiceMessageResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/voice/single-text":{"post":{"tags":["voice"],"summary":"single-text","description":"Send a single text voice message to one recipient","operationId":"single-text","requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceVoiceMessageSendSingleTextRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceVoiceMessageSendSingleTextRequest"}}},"required":false},"responses":{"200":{"description":"Description was not specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceSendVoiceMessageResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceSendVoiceMessageResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/rest/v1/voice/{messageId}":{"get":{"tags":["voice"],"summary":"get","description":"Returns details for a single message","parameters":[{"name":"messageId","in":"path","description":"messageId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebServiceVoiceMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebServiceVoiceMessage"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["voice"],"summary":"delete","description":"Deletes a  message","parameters":[{"name":"messageId","in":"path","description":"messageId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Description was not specified"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}}},"components":{"schemas":{"Link":{"type":"object","properties":{"href":{"type":"string"},"rel":{"type":"string"},"templated":{"type":"boolean"}}},"RestErrorDTO":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"developerMessage":{"type":"string"},"message":{"type":"string"},"moreInfoUrl":{"type":"string"},"status":{"type":"string"}},"description":"RestErrorDTO"},"Void":{"type":"object"},"WebServiceAccount":{"type":"object","properties":{"creditBalance":{"type":"number","format":"double"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}}},"description":"WebServiceAccount"},"WebServiceAccountStatistics":{"type":"object","properties":{"from":{"type":"string","format":"date-time"},"grandTotal":{"$ref":"#/components/schemas/WebServiceStatistics"},"showingCreditValue":{"type":"boolean"},"to":{"type":"string","format":"date-time"},"users":{"type":"array","items":{"$ref":"#/components/schemas/WebServiceUserStatistics"}}},"description":"WebServiceAccountStatistics"},"WebServiceAnalyseMessageRequestMessageAndRecipientNumber":{"type":"object","properties":{"message":{"type":"string"},"recipientNumber":{"type":"string"}},"description":"WebServiceAnalyseMessageRequest"},"WebServiceAnalyseMessageRequestMessageOnly":{"type":"object","properties":{"message":{"type":"string"},"recipientNumber":{"type":"string"}},"description":"WebServiceAnalyseMessageRequest"},"WebServiceAnalyseMessageResponse":{"type":"object","properties":{"characterAnalysis":{"type":"array","items":{"type":"array","items":{"type":"object"}}},"messageCreditCost":{"type":"number","format":"double"},"messageEncoding":{"type":"string"},"messageLength":{"type":"integer","format":"int32"},"messageLengthWithinMaximumAllowed":{"type":"boolean"},"numberOfMessages":{"type":"integer","format":"int32"}},"description":"WebServiceAnalyseMessageResponse"},"WebServiceCampaignStatistics":{"type":"object","properties":{"campaign":{"type":"string"},"statistics":{"$ref":"#/components/schemas/WebServiceStatistics"}},"description":"WebServiceCampaignStatistics"},"WebServiceContact":{"type":"object","properties":{"contactId":{"type":"string"},"contactNumber":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}},"title":{"type":"string"}},"description":"WebServiceContact"},"WebServiceContactLink":{"type":"object","properties":{"contactId":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}}},"description":"WebServiceContactLink"},"WebServiceContacts":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}},"webServiceContacts":{"type":"array","items":{"$ref":"#/components/schemas/WebServiceContact"}}},"description":"WebServiceContacts"},"WebServiceGroup":{"type":"object","properties":{"groupId":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}},"name":{"type":"string"}},"description":"WebServiceGroup"},"WebServiceGroups":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}},"webServiceGroups":{"type":"array","items":{"$ref":"#/components/schemas/WebServiceGroup"}}},"description":"WebServiceGroups"},"WebServiceMessage":{"type":"object","properties":{"campaign":{"type":"string"},"contact":{"$ref":"#/components/schemas/WebServiceContactLink"},"creditCost":{"type":"number","format":"double"},"dateTimeReceived":{"type":"string","format":"date-time"},"dateTimeScheduled":{"type":"string","format":"date-time"},"dateTimeSent":{"type":"string","format":"date-time"},"deleted":{"type":"boolean"},"fromNumber":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}},"message":{"type":"string"},"messageId":{"type":"string"},"messageStatus":{"type":"string"},"messageType":{"type":"string"},"numberOfMessages":{"type":"integer","format":"int32"},"read":{"type":"boolean"},"repliedToMessage":{"$ref":"#/components/schemas/WebServiceMessageLink"},"toNumber":{"type":"string"},"userDataField":{"type":"string"}},"description":"WebServiceMessage"},"WebServiceMessageLink":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}},"messageId":{"type":"string"}},"description":"WebServiceMessageLink"},"WebServiceMessages":{"type":"object","properties":{"elements":{"type":"integer","format":"int32"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}},"page":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"webServiceMessages":{"type":"array","items":{"$ref":"#/components/schemas/WebServiceMessage"}}},"description":"WebServiceMessages"},"WebServiceSendSmsRequest":{"type":"object","properties":{"campaign":{"type":"string"},"dataField":{"type":"string"},"dateToSend":{"type":"string","format":"date-time"},"message":{"type":"string"},"recipientNumber":{"type":"string"}},"description":"WebServiceSendSmsRequest"},"WebServiceSendSmsRequests":{"type":"object","properties":{"defaultDateToSend":{"type":"string","format":"date-time"},"messagesPerMinute":{"type":"integer","format":"int32"},"sendSmsRequests":{"type":"array","items":{"$ref":"#/components/schemas/WebServiceSendSmsRequest"}}},"description":"WebServiceSendSmsRequests"},"WebServiceSendSmsResponse":{"type":"object","properties":{"error":{"type":"string"},"messageId":{"type":"string"}},"description":"WebServiceSendSmsResponse"},"WebServiceSendSmsResponses":{"type":"object","properties":{"sendSmsResponses":{"type":"array","items":{"$ref":"#/components/schemas/WebServiceSendSmsResponse"}}},"description":"WebServiceSendSmsResponses"},"WebServiceSendVoiceMessageResponse":{"type":"object","properties":{"error":{"type":"string"},"voiceMessageId":{"type":"string"}},"description":"WebServiceSendVoiceMessageResponse"},"WebServiceStatistics":{"type":"object","properties":{"delivered":{"type":"number","format":"double"},"failed":{"type":"number","format":"double"},"failedOptout":{"type":"number","format":"double"},"failedRefunded":{"type":"number","format":"double"},"sent":{"type":"number","format":"double"},"total":{"type":"number","format":"double"}},"description":"WebServiceStatistics"},"WebServiceTemplate":{"type":"object","properties":{"data":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}},"name":{"type":"string"},"templateId":{"type":"integer","format":"int64"}},"description":"WebServiceTemplate"},"WebServiceTemplates":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}},"webServiceTemplates":{"type":"array","items":{"$ref":"#/components/schemas/WebServiceTemplate"}}},"description":"WebServiceTemplates"},"WebServiceTransferCreditsRequest":{"type":"object","properties":{"numberOfCreditsToTransfer":{"type":"integer","format":"int32"},"transferFromEmailAddress":{"type":"string"},"transferToEmailAddress":{"type":"string"}},"description":"WebServiceTransferCreditsRequest"},"WebServiceUser":{"type":"object","properties":{"company":{"type":"string"},"contactNumber":{"type":"string"},"creditBalance":{"type":"number","format":"double"},"emailAddress":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"password":{"type":"string"},"userId":{"type":"integer","format":"int64"}},"description":"WebServiceUser"},"WebServiceUserStatistics":{"type":"object","properties":{"campaigns":{"type":"array","items":{"$ref":"#/components/schemas/WebServiceCampaignStatistics"}},"total":{"$ref":"#/components/schemas/WebServiceStatistics"},"user":{"$ref":"#/components/schemas/WebServiceUser"}},"description":"WebServiceUserStatistics"},"WebServiceUsers":{"type":"object","properties":{"webServiceUserList":{"type":"array","items":{"$ref":"#/components/schemas/WebServiceUser"}}},"description":"WebServiceUsers"},"WebServiceVoiceMessage":{"type":"object","properties":{"audioFileUrl":{"type":"string"},"campaign":{"type":"string"},"dateTimeSent":{"type":"string","format":"date-time"},"deleted":{"type":"boolean"},"language":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}},"message":{"type":"string"},"messageStatus":{"type":"string"},"toNumber":{"type":"string"},"userDataField":{"type":"string"},"voiceMessageId":{"type":"string"}},"description":"WebServiceVoiceMessage"},"WebServiceVoiceMessageSendSingleTextRequest":{"type":"object","properties":{"campaign":{"type":"string"},"dataField":{"type":"string"},"language":{"type":"string"},"message":{"type":"string"},"recipientNumber":{"type":"string"},"retryCount":{"type":"integer","format":"int32"},"retryMaximumInterval":{"type":"integer","format":"int32"},"retryMinimumInterval":{"type":"integer","format":"int32"}},"description":"WebServiceVoiceMessageSendSingleTextRequest"},"WebServiceVoiceMessages":{"type":"object","properties":{"elements":{"type":"integer","format":"int32"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}},"messages":{"type":"array","items":{"$ref":"#/components/schemas/WebServiceVoiceMessage"}},"page":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}},"description":"WebServiceVoiceMessages"}},"securitySchemes":{"email":{"type":"apiKey","name":"email","in":"header"},"token":{"type":"apiKey","name":"token","in":"header"}}}}