{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Azure SQL Database disaster recovery configurations",
    "description" : "Provides create, read, update, delete, and failover functionality for Azure SQL Database disaster recovery configurations.",
    "version" : "2014-04-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/disasterRecoveryConfiguration" : {
      "get" : {
        "tags" : [ "DisasterRecoveryConfigurations" ],
        "description" : "Lists a server's disaster recovery configuration.",
        "operationId" : "DisasterRecoveryConfigurations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverName",
          "in" : "path",
          "description" : "The name of the server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DisasterRecoveryConfigurationListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/disasterRecoveryConfiguration/{disasterRecoveryConfigurationName}" : {
      "get" : {
        "tags" : [ "DisasterRecoveryConfigurations" ],
        "description" : "Gets a disaster recovery configuration.",
        "operationId" : "DisasterRecoveryConfigurations_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverName",
          "in" : "path",
          "description" : "The name of the server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "disasterRecoveryConfigurationName",
          "in" : "path",
          "description" : "The name of the disaster recovery configuration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DisasterRecoveryConfiguration"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "DisasterRecoveryConfigurations" ],
        "description" : "Creates or updates a disaster recovery configuration.",
        "operationId" : "DisasterRecoveryConfigurations_CreateOrUpdate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverName",
          "in" : "path",
          "description" : "The name of the server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "disasterRecoveryConfigurationName",
          "in" : "path",
          "description" : "The name of the disaster recovery configuration to be created/updated.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DisasterRecoveryConfiguration"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DisasterRecoveryConfiguration"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DisasterRecoveryConfiguration"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "DisasterRecoveryConfigurations" ],
        "description" : "Deletes a disaster recovery configuration.",
        "operationId" : "DisasterRecoveryConfigurations_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverName",
          "in" : "path",
          "description" : "The name of the server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "disasterRecoveryConfigurationName",
          "in" : "path",
          "description" : "The name of the disaster recovery configuration to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "NoContent"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/disasterRecoveryConfiguration/{disasterRecoveryConfigurationName}/failover" : {
      "post" : {
        "tags" : [ "DisasterRecoveryConfigurations" ],
        "description" : "Fails over from the current primary server to this server.",
        "operationId" : "DisasterRecoveryConfigurations_Failover",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverName",
          "in" : "path",
          "description" : "The name of the server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "disasterRecoveryConfigurationName",
          "in" : "path",
          "description" : "The name of the disaster recovery configuration to failover.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/disasterRecoveryConfiguration/{disasterRecoveryConfigurationName}/forceFailoverAllowDataLoss" : {
      "post" : {
        "tags" : [ "DisasterRecoveryConfigurations" ],
        "description" : "Fails over from the current primary server to this server. This operation might result in data loss.",
        "operationId" : "DisasterRecoveryConfigurations_FailoverAllowDataLoss",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverName",
          "in" : "path",
          "description" : "The name of the server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "disasterRecoveryConfigurationName",
          "in" : "path",
          "description" : "The name of the disaster recovery configuration to failover forcefully.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "No Content"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "DisasterRecoveryConfiguration" : {
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "Location of the server that contains this disaster recovery configuration.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/DisasterRecoveryConfigurationProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of resource this is.",
            "readOnly" : true
          }
        },
        "description" : "Represents a disaster recovery configuration.",
        "allOf" : [ {
          "description" : "ARM proxy resource.",
          "allOf" : [ {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID.",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "Resource name.",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "Resource type.",
                "readOnly" : true
              }
            },
            "description" : "ARM resource."
          } ]
        } ]
      },
      "DisasterRecoveryConfigurationListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The list of disaster recovery configurations housed under the server.",
            "items" : {
              "$ref" : "#/components/schemas/DisasterRecoveryConfiguration"
            }
          }
        },
        "description" : "Represents the response to a List disaster recovery configuration request."
      },
      "DisasterRecoveryConfigurationProperties" : {
        "required" : [ "autoFailover", "failoverPolicy", "partnerServerId" ],
        "type" : "object",
        "properties" : {
          "autoFailover" : {
            "type" : "string",
            "description" : "Whether or not failover can be done automatically.",
            "enum" : [ "Off", "On" ]
          },
          "failoverPolicy" : {
            "type" : "string",
            "description" : "How aggressive the automatic failover should be.",
            "enum" : [ "Manual", "Automatic" ]
          },
          "logicalServerName" : {
            "type" : "string",
            "description" : "Logical name of the server.",
            "readOnly" : true
          },
          "partnerLogicalServerName" : {
            "type" : "string",
            "description" : "Logical name of the partner server.",
            "readOnly" : true
          },
          "partnerServerId" : {
            "type" : "string",
            "description" : "Id of the partner server."
          },
          "role" : {
            "type" : "string",
            "description" : "The role of the current server in the disaster recovery configuration.",
            "readOnly" : true,
            "enum" : [ "None", "Primary", "Secondary" ]
          },
          "status" : {
            "type" : "string",
            "description" : "The status of the disaster recovery configuration.",
            "readOnly" : true,
            "enum" : [ "Creating", "Ready", "FailingOver", "Dropping" ]
          }
        },
        "description" : "Represents the properties of a disaster recovery configuration."
      }
    },
    "parameters" : {
      "DisasterRecoveryConfigurationNameParameter" : {
        "name" : "disasterRecoveryConfigName",
        "in" : "path",
        "description" : "The name of the disaster recovery configuration.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ServerNameParameter" : {
        "name" : "serverName",
        "in" : "path",
        "description" : "The name of the server.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}