{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Security Center",
    "description" : "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version" : "2017-08-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings" : {
      "get" : {
        "tags" : [ "AutoProvisioningSettings" ],
        "description" : "Exposes the auto provisioning settings of the subscriptions",
        "operationId" : "AutoProvisioningSettings_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoProvisioningSettingList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings/{settingName}" : {
      "get" : {
        "tags" : [ "AutoProvisioningSettings" ],
        "description" : "Details of a specific setting",
        "operationId" : "AutoProvisioningSettings_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "settingName",
          "in" : "path",
          "description" : "Auto provisioning setting key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoProvisioningSetting"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "AutoProvisioningSettings" ],
        "description" : "Details of a specific setting",
        "operationId" : "AutoProvisioningSettings_Create",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "settingName",
          "in" : "path",
          "description" : "Auto provisioning setting key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Auto provisioning setting key",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AutoProvisioningSetting"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoProvisioningSetting"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings" : {
      "get" : {
        "tags" : [ "Pricings" ],
        "description" : "Security pricing configurations in the subscription",
        "operationId" : "Pricings_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PricingList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings/{pricingName}" : {
      "get" : {
        "tags" : [ "Pricings" ],
        "description" : "Security pricing configuration in the subscriptionSecurity pricing configuration in the subscription",
        "operationId" : "Pricings_GetSubscriptionPricing",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "pricingName",
          "in" : "path",
          "description" : "name of the pricing configuration",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pricing"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Pricings" ],
        "description" : "Security pricing configuration in the subscription",
        "operationId" : "Pricings_UpdateSubscriptionPricing",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "pricingName",
          "in" : "path",
          "description" : "name of the pricing configuration",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Pricing object",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Pricing"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pricing"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts" : {
      "get" : {
        "tags" : [ "Security Contacts" ],
        "description" : "Security contact configurations for the subscription",
        "operationId" : "SecurityContacts_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecurityContactList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}" : {
      "get" : {
        "tags" : [ "Security Contacts" ],
        "description" : "Security contact configurations for the subscription",
        "operationId" : "SecurityContacts_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "securityContactName",
          "in" : "path",
          "description" : "Name of the security contact object",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecurityContact"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Security Contacts" ],
        "description" : "Security contact configurations for the subscription",
        "operationId" : "SecurityContacts_Create",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "securityContactName",
          "in" : "path",
          "description" : "Name of the security contact object",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Security contact object",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SecurityContact"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecurityContact"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Security Contacts" ],
        "description" : "Security contact configurations for the subscription",
        "operationId" : "SecurityContacts_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "securityContactName",
          "in" : "path",
          "description" : "Name of the security contact object",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Security Contacts" ],
        "description" : "Security contact configurations for the subscription",
        "operationId" : "SecurityContacts_Update",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "securityContactName",
          "in" : "path",
          "description" : "Name of the security contact object",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Security contact object",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SecurityContact"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecurityContact"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/settings" : {
      "get" : {
        "tags" : [ "Settings" ],
        "description" : "Settings about different configurations in security center",
        "operationId" : "Settings_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettingsList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/settings/{settingName}" : {
      "get" : {
        "tags" : [ "Settings" ],
        "description" : "Settings of different configurations in security center",
        "operationId" : "Settings_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "settingName",
          "in" : "path",
          "description" : "Name of setting: (MCAS/WDATP)",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "MCAS", "WDATP" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Setting"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Settings" ],
        "description" : "updating settings about different configurations in security center",
        "operationId" : "Settings_Update",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "settingName",
          "in" : "path",
          "description" : "Name of setting: (MCAS/WDATP)",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "MCAS", "WDATP" ]
          }
        } ],
        "requestBody" : {
          "description" : "Setting object",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Setting"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Setting"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings" : {
      "get" : {
        "tags" : [ "Workspace Settings" ],
        "description" : "Settings about where we should store your security data and logs. If the result is empty, it means that no custom-workspace configuration was set",
        "operationId" : "WorkspaceSettings_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceSettingList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings/{workspaceSettingName}" : {
      "get" : {
        "tags" : [ "Workspace Settings" ],
        "description" : "Settings about where we should store your security data and logs. If the result is empty, it means that no custom-workspace configuration was set",
        "operationId" : "WorkspaceSettings_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "workspaceSettingName",
          "in" : "path",
          "description" : "Name of the security setting",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceSetting"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Workspace Settings" ],
        "description" : "creating settings about where we should store your security data and logs",
        "operationId" : "WorkspaceSettings_Create",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "workspaceSettingName",
          "in" : "path",
          "description" : "Name of the security setting",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Security data setting object",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WorkspaceSetting"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceSetting"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Workspace Settings" ],
        "description" : "Deletes the custom workspace settings for this subscription. new VMs will report to the default workspace",
        "operationId" : "WorkspaceSettings_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "workspaceSettingName",
          "in" : "path",
          "description" : "Name of the security setting",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Workspace Settings" ],
        "description" : "Settings about where we should store your security data and logs",
        "operationId" : "WorkspaceSettings_Update",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "workspaceSettingName",
          "in" : "path",
          "description" : "Name of the security setting",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Security data setting object",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WorkspaceSetting"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceSetting"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/pricings" : {
      "get" : {
        "tags" : [ "Pricings" ],
        "description" : "Security pricing configurations in the resource group",
        "operationId" : "Pricings_ListByResourceGroup",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PricingList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/pricings/{pricingName}" : {
      "get" : {
        "tags" : [ "Pricings" ],
        "description" : "Security pricing configuration in the resource group",
        "operationId" : "Pricings_GetResourceGroupPricing",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "pricingName",
          "in" : "path",
          "description" : "name of the pricing configuration",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pricing"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Pricings" ],
        "description" : "Security pricing configuration in the resource group",
        "operationId" : "Pricings_CreateOrUpdateResourceGroupPricing",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "pricingName",
          "in" : "path",
          "description" : "name of the pricing configuration",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Pricing object",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Pricing"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pricing"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/advancedThreatProtectionSettings/{settingName}" : {
      "get" : {
        "tags" : [ "AdvancedThreatProtection" ],
        "description" : "Gets the Advanced Threat Protection settings for the specified resource.",
        "operationId" : "AdvancedThreatProtection_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "resourceId",
          "in" : "path",
          "description" : "The identifier of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "settingName",
          "in" : "path",
          "description" : "Advanced Threat Protection setting name.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "current" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request to get Advanced Threat Protection settings.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdvancedThreatProtectionSetting"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "AdvancedThreatProtection" ],
        "description" : "Creates or updates the Advanced Threat Protection settings on a specified resource.",
        "operationId" : "AdvancedThreatProtection_Create",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "resourceId",
          "in" : "path",
          "description" : "The identifier of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "settingName",
          "in" : "path",
          "description" : "Advanced Threat Protection setting name.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "current" ]
          }
        } ],
        "requestBody" : {
          "description" : "Advanced Threat Protection Settings",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdvancedThreatProtectionSetting"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful request to put Advanced Threat Protection settings.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdvancedThreatProtectionSetting"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/compliances" : {
      "get" : {
        "tags" : [ "Compliances" ],
        "description" : "The Compliance scores of the specific management group.",
        "operationId" : "Compliances_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "scope",
          "in" : "path",
          "description" : "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management group (/providers/Microsoft.Management/managementGroups/mgName).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ComplianceList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/compliances/{complianceName}" : {
      "get" : {
        "tags" : [ "Compliances" ],
        "description" : "Details of a specific Compliance.",
        "operationId" : "Compliances_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "scope",
          "in" : "path",
          "description" : "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management group (/providers/Microsoft.Management/managementGroups/mgName).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "complianceName",
          "in" : "path",
          "description" : "name of the Compliance",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Compliance"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/informationProtectionPolicies" : {
      "get" : {
        "tags" : [ "InformationProtectionPolicies" ],
        "description" : "Information protection policies of a specific management group.",
        "operationId" : "InformationProtectionPolicies_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "scope",
          "in" : "path",
          "description" : "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management group (/providers/Microsoft.Management/managementGroups/mgName).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InformationProtectionPolicyList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/informationProtectionPolicies/{informationProtectionPolicyName}" : {
      "get" : {
        "tags" : [ "InformationProtectionPolicies" ],
        "description" : "Details of the information protection policy.",
        "operationId" : "InformationProtectionPolicies_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "scope",
          "in" : "path",
          "description" : "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management group (/providers/Microsoft.Management/managementGroups/mgName).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "informationProtectionPolicyName",
          "in" : "path",
          "description" : "Name of the information protection policy.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "effective", "custom" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InformationProtectionPolicy"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "InformationProtectionPolicies" ],
        "description" : "Details of the information protection policy.",
        "operationId" : "InformationProtectionPolicies_CreateOrUpdate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2017-08-01-preview" ]
          }
        }, {
          "name" : "scope",
          "in" : "path",
          "description" : "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management group (/providers/Microsoft.Management/managementGroups/mgName).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "informationProtectionPolicyName",
          "in" : "path",
          "description" : "Name of the information protection policy.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "effective", "custom" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InformationProtectionPolicy"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InformationProtectionPolicy"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AdvancedThreatProtectionProperties" : {
        "type" : "object",
        "properties" : {
          "isEnabled" : {
            "type" : "boolean",
            "description" : "Indicates whether Advanced Threat Protection is enabled."
          }
        },
        "description" : "The Advanced Threat Protection settings."
      },
      "AdvancedThreatProtectionSetting" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/AdvancedThreatProtectionProperties"
          }
        },
        "description" : "The Advanced Threat Protection resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "AutoProvisioningSetting" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/AutoProvisioningSettingProperties"
          }
        },
        "description" : "Auto provisioning setting",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "AutoProvisioningSettingList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to fetch the next page.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of all the auto provisioning settings",
            "items" : {
              "$ref" : "#/components/schemas/AutoProvisioningSetting"
            }
          }
        },
        "description" : "List of all the auto provisioning settings response"
      },
      "AutoProvisioningSettingProperties" : {
        "required" : [ "autoProvision" ],
        "type" : "object",
        "properties" : {
          "autoProvision" : {
            "type" : "string",
            "description" : "Describes what kind of security agent provisioning action to take",
            "enum" : [ "On", "Off" ]
          }
        },
        "description" : "describes properties of an auto provisioning setting"
      },
      "CloudError" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/CloudErrorBody"
          }
        },
        "description" : "Error response structure."
      },
      "CloudErrorBody" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
            "readOnly" : true
          },
          "message" : {
            "type" : "string",
            "description" : "A message describing the error, intended to be suitable for display in a user interface.",
            "readOnly" : true
          }
        },
        "description" : "Error details."
      },
      "Compliance" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ComplianceProperties"
          }
        },
        "description" : "Compliance of a scope",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "ComplianceList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to fetch the next page.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of Compliance objects",
            "items" : {
              "$ref" : "#/components/schemas/Compliance"
            }
          }
        },
        "description" : "List of Compliance objects response"
      },
      "ComplianceProperties" : {
        "type" : "object",
        "properties" : {
          "assessmentResult" : {
            "type" : "array",
            "description" : "An array of segment, which is the actually the compliance assessment.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ComplianceSegment"
            }
          },
          "assessmentTimestampUtcDate" : {
            "type" : "string",
            "description" : "The timestamp when the Compliance calculation was conducted.",
            "format" : "date-time",
            "readOnly" : true
          },
          "resourceCount" : {
            "type" : "integer",
            "description" : "The resource count of the given subscription for which the Compliance calculation was conducted (needed for Management Group Compliance calculation).",
            "readOnly" : true
          }
        },
        "description" : "The Compliance score (percentage) of a Subscription is a sum of all Resources' Compliances under the given Subscription. A Resource Compliance is defined as the compliant ('healthy') Policy Definitions out of all Policy Definitions applicable to a given resource."
      },
      "ComplianceSegment" : {
        "type" : "object",
        "properties" : {
          "percentage" : {
            "type" : "number",
            "description" : "The size (%) of the segment.",
            "format" : "double",
            "readOnly" : true
          },
          "segmentType" : {
            "type" : "string",
            "description" : "The segment type, e.g. compliant, non-compliance, insufficient coverage, N/A, etc.",
            "readOnly" : true
          }
        },
        "description" : "A segment of a compliance assessment."
      },
      "DataExportSetting" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/DataExportSettingProperties"
          }
        },
        "description" : "Represents a data export setting",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Setting"
        } ]
      },
      "DataExportSettingProperties" : {
        "required" : [ "enabled" ],
        "type" : "object",
        "properties" : {
          "enabled" : {
            "type" : "boolean",
            "description" : "Is the data export setting is enabled"
          }
        },
        "description" : "The data export setting properties"
      },
      "InformationProtectionKeyword" : {
        "type" : "object",
        "properties" : {
          "canBeNumeric" : {
            "type" : "boolean",
            "description" : "Indicates whether the keyword can be applied on numeric types or not."
          },
          "custom" : {
            "type" : "boolean",
            "description" : "Indicates whether the keyword is custom or not."
          },
          "excluded" : {
            "type" : "boolean",
            "description" : "Indicates whether the keyword is excluded or not."
          },
          "pattern" : {
            "type" : "string",
            "description" : "The keyword pattern."
          }
        },
        "description" : "The information type keyword."
      },
      "InformationProtectionPolicy" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/InformationProtectionPolicyProperties"
          }
        },
        "description" : "Information protection policy.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "InformationProtectionPolicyList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to fetch the next page.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of information protection policies.",
            "items" : {
              "$ref" : "#/components/schemas/InformationProtectionPolicy"
            }
          }
        },
        "description" : "Information protection policies response."
      },
      "InformationProtectionPolicyProperties" : {
        "type" : "object",
        "properties" : {
          "informationTypes" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/InformationType"
            },
            "description" : "The sensitivity information types."
          },
          "labels" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/SensitivityLabel"
            },
            "description" : "Dictionary of sensitivity labels."
          },
          "lastModifiedUtc" : {
            "type" : "string",
            "description" : "Describes the last UTC time the policy was modified.",
            "format" : "date-time",
            "readOnly" : true
          }
        },
        "description" : "describes properties of an information protection policy."
      },
      "InformationType" : {
        "type" : "object",
        "properties" : {
          "custom" : {
            "type" : "boolean",
            "description" : "Indicates whether the information type is custom or not."
          },
          "displayName" : {
            "type" : "string",
            "description" : "The name of the information type."
          },
          "enabled" : {
            "type" : "boolean",
            "description" : "Indicates whether the information type is enabled or not."
          },
          "keywords" : {
            "type" : "array",
            "description" : "The information type keywords.",
            "items" : {
              "$ref" : "#/components/schemas/InformationProtectionKeyword"
            }
          },
          "order" : {
            "type" : "number",
            "description" : "The order of the information type."
          },
          "recommendedLabelId" : {
            "type" : "string",
            "description" : "The recommended label id to be associated with this information type.",
            "format" : "uuid"
          }
        },
        "description" : "The information type."
      },
      "Kind" : {
        "type" : "object",
        "properties" : {
          "kind" : {
            "type" : "string",
            "description" : "Kind of the resource"
          }
        },
        "description" : "Describes an Azure resource with kind"
      },
      "Pricing" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/PricingProperties"
          }
        },
        "description" : "Pricing tier will be applied for the scope based on the resource ID",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "PricingList" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to fetch the next page.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of pricing configurations",
            "items" : {
              "$ref" : "#/components/schemas/Pricing"
            }
          }
        },
        "description" : "List of pricing configurations response"
      },
      "PricingProperties" : {
        "required" : [ "pricingTier" ],
        "type" : "object",
        "properties" : {
          "pricingTier" : {
            "type" : "string",
            "description" : "Pricing tier type",
            "enum" : [ "Free", "Standard" ]
          }
        },
        "description" : "Pricing data"
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource Id",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type",
            "readOnly" : true
          }
        },
        "description" : "Describes an Azure resource."
      },
      "SecurityContact" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/SecurityContactProperties"
          }
        },
        "description" : "Contact details for security issues",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "SecurityContactList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to fetch the next page.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of security contacts",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/SecurityContact"
            }
          }
        },
        "description" : "List of security contacts response"
      },
      "SecurityContactProperties" : {
        "required" : [ "alertNotifications", "alertsToAdmins", "email" ],
        "type" : "object",
        "properties" : {
          "alertNotifications" : {
            "type" : "string",
            "description" : "Whether to send security alerts notifications to the security contact",
            "enum" : [ "On", "Off" ]
          },
          "alertsToAdmins" : {
            "type" : "string",
            "description" : "Whether to send security alerts notifications to subscription admins",
            "enum" : [ "On", "Off" ]
          },
          "email" : {
            "type" : "string",
            "description" : "The email of this security contact",
            "format" : "email"
          },
          "phone" : {
            "type" : "string",
            "description" : "The phone number of this security contact"
          }
        },
        "description" : "describes security contact properties"
      },
      "SensitivityLabel" : {
        "type" : "object",
        "properties" : {
          "displayName" : {
            "type" : "string",
            "description" : "The name of the sensitivity label."
          },
          "enabled" : {
            "type" : "boolean",
            "description" : "Indicates whether the label is enabled or not."
          },
          "order" : {
            "type" : "number",
            "description" : "The order of the sensitivity label."
          }
        },
        "description" : "The sensitivity label."
      },
      "Setting" : {
        "description" : "Represents a security setting in Azure Security Center.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/SettingResource"
        } ]
      },
      "SettingResource" : {
        "properties" : {
          "kind" : {
            "type" : "string",
            "description" : "the kind of the settings string (DataExportSetting)",
            "enum" : [ "DataExportSetting", "AlertSuppressionSetting" ]
          }
        },
        "description" : "The kind of the security setting",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "SettingsList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to fetch the next page.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "The settings list.",
            "items" : {
              "$ref" : "#/components/schemas/Setting"
            }
          }
        },
        "description" : "Subscription settings list."
      },
      "WorkspaceSetting" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/WorkspaceSettingProperties"
          }
        },
        "description" : "Configures where to store the OMS agent data for workspaces under a scope",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "WorkspaceSettingList" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to fetch the next page.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of workspace settings",
            "items" : {
              "$ref" : "#/components/schemas/WorkspaceSetting"
            }
          }
        },
        "description" : "List of workspace settings response"
      },
      "WorkspaceSettingProperties" : {
        "required" : [ "scope", "workspaceId" ],
        "type" : "object",
        "properties" : {
          "scope" : {
            "type" : "string",
            "description" : "All the VMs in this scope will send their security data to the mentioned workspace unless overridden by a setting with more specific scope"
          },
          "workspaceId" : {
            "type" : "string",
            "description" : "The full Azure ID of the workspace to save the data in"
          }
        },
        "description" : "Workspace setting data"
      }
    },
    "parameters" : {
      "AdvancedThreatProtectionSettingName" : {
        "name" : "settingName",
        "in" : "path",
        "description" : "Advanced Threat Protection setting name.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "current" ]
        }
      },
      "ApiVersion" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "API version for the operation",
        "required" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "2017-08-01-preview" ]
        }
      },
      "AutoProvisioningSettingName" : {
        "name" : "settingName",
        "in" : "path",
        "description" : "Auto provisioning setting key",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ComplianceName" : {
        "name" : "complianceName",
        "in" : "path",
        "description" : "name of the Compliance",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "InformationProtectionPolicyName" : {
        "name" : "informationProtectionPolicyName",
        "in" : "path",
        "description" : "Name of the information protection policy.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "effective", "custom" ]
        }
      },
      "PricingName" : {
        "name" : "pricingName",
        "in" : "path",
        "description" : "name of the pricing configuration",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupName" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
        "required" : true,
        "schema" : {
          "maxLength" : 90,
          "minLength" : 1,
          "pattern" : "^[-\\w\\._\\(\\)]+$",
          "type" : "string"
        }
      },
      "ResourceId" : {
        "name" : "resourceId",
        "in" : "path",
        "description" : "The identifier of the resource.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "Scope" : {
        "name" : "scope",
        "in" : "path",
        "description" : "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management group (/providers/Microsoft.Management/managementGroups/mgName).",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SecurityContactName" : {
        "name" : "securityContactName",
        "in" : "path",
        "description" : "Name of the security contact object",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SettingName" : {
        "name" : "settingName",
        "in" : "path",
        "description" : "Name of setting: (MCAS/WDATP)",
        "required" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "MCAS", "WDATP" ]
        }
      },
      "SubscriptionId" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Azure subscription ID",
        "required" : true,
        "schema" : {
          "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
          "type" : "string"
        }
      },
      "WorkspaceSettingName" : {
        "name" : "workspaceSettingName",
        "in" : "path",
        "description" : "Name of the security setting",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "AdvancedThreatProtectionSetting" : {
        "description" : "Advanced Threat Protection Settings",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/AdvancedThreatProtectionSetting"
            }
          }
        },
        "required" : true
      },
      "AutoProvisioningSetting" : {
        "description" : "Auto provisioning setting key",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/AutoProvisioningSetting"
            }
          }
        },
        "required" : true
      },
      "Pricing" : {
        "description" : "Pricing object",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Pricing"
            }
          }
        },
        "required" : true
      },
      "SecurityContact" : {
        "description" : "Security contact object",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/SecurityContact"
            }
          }
        },
        "required" : true
      },
      "Setting" : {
        "description" : "Setting object",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Setting"
            }
          }
        },
        "required" : true
      },
      "WorkspaceSetting" : {
        "description" : "Security data setting object",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/WorkspaceSetting"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}