{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Fahrplan-Free",
    "description" : "A RESTful webservice to request a railway journey - FREE plan with restricted access (max. 10 requests per minute). Please ignore the message in the API Console about the access token.\n\nRegister to use an less restricted version, which requires an access token.",
    "termsOfService" : "http://data.deutschebahn.com/nutzungsbedingungen.html",
    "contact" : {
      "name" : "DBOpenData",
      "url" : "https://developer.deutschebahn.com/store/",
      "email" : "DBOpenData@deutschebahn.com"
    },
    "license" : {
      "name" : "DB Data Portal",
      "url" : "http://data.deutschebahn.com/pages/nutzungsbedingungen"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.deutschebahn.com/freeplan/v1"
  }, {
    "url" : "http://api.deutschebahn.com/freeplan/v1"
  } ],
  "paths" : {
    "/arrivalBoard/{id}" : {
      "get" : {
        "summary" : "Get arrival board of a location",
        "description" : "Get arrival board at a given location at a given daten and time.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id of location. Use attribute 'id' from the result of 'location'",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date",
          "in" : "query",
          "description" : "Date and time in ISO-8601 format, yyyy-mm-ddThh:mm:ss, example: 2017-04-01 or 2017-04-01T10:30",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "arrival board",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BoardResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid date/time specification.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "503" : {
            "description" : "The service has been disabled temporarily.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/departureBoard/{id}" : {
      "get" : {
        "summary" : "Get departure board of a location",
        "description" : "Get departure board at a given location at a given daten and time.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id of a location. Use attribute 'id' from the result of 'location'",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date",
          "in" : "query",
          "description" : "Date and time in ISO-8601 format, yyyy-mm-ddThh:mm:ss, example: 2017-04-01 or 2017-04-01T10:30",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "departure board",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BoardResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid date/time specification.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "503" : {
            "description" : "The service has been disabled temporarily.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/journeyDetails/{id}" : {
      "get" : {
        "summary" : "Get details about a single journey",
        "description" : "Retrieve details of a journey. The id of journey should come from an arrival board or a departure board.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id of a journey. Use attribute 'detailsId' from the result of  'arrivalBoard' or 'departureBoard'",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "journey details, locations of a journey",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JourneyResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "503" : {
            "description" : "The service has been disabled temporarily.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/location/{name}" : {
      "get" : {
        "summary" : "Get location information",
        "description" : "Get information about locations matching the given name or name fragment",
        "parameters" : [ {
          "name" : "name",
          "in" : "path",
          "description" : "Name or name fragment of a location",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "location information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocationResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "503" : {
            "description" : "The service has been disabled temporarily.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Board" : {
        "required" : [ "boardId", "dateTime", "detailsId", "name", "origin", "stopId", "stopName", "track", "type" ],
        "type" : "object",
        "properties" : {
          "boardId" : {
            "type" : "string",
            "description" : ""
          },
          "dateTime" : {
            "type" : "string",
            "description" : ""
          },
          "detailsId" : {
            "type" : "string",
            "description" : ""
          },
          "name" : {
            "type" : "string",
            "description" : "Name of train"
          },
          "origin" : {
            "type" : "string",
            "description" : ""
          },
          "stopId" : {
            "type" : "string",
            "description" : ""
          },
          "stopName" : {
            "type" : "string",
            "description" : ""
          },
          "track" : {
            "type" : "string",
            "description" : ""
          },
          "type" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "BoardResponse" : {
        "required" : [ "boards" ],
        "type" : "object",
        "properties" : {
          "boards" : {
            "minItems" : 1,
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Board"
            }
          }
        }
      },
      "ErrorModel" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer"
          },
          "internal_code" : {
            "type" : "integer"
          },
          "internal_message" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          }
        }
      },
      "JourneyResponse" : {
        "required" : [ "train_locs" ],
        "type" : "object",
        "properties" : {
          "train_locs" : {
            "minItems" : 1,
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/TrainLocation"
            }
          }
        }
      },
      "Location" : {
        "required" : [ "id", "lat", "lon", "name" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "id of location (eva-number), example: 8000105"
          },
          "lat" : {
            "type" : "number",
            "description" : "latitude, example: 50.107149"
          },
          "lon" : {
            "type" : "number",
            "description" : "longitude, example: 8.663785"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of location, example: Frankfurt(Main)Hbf"
          }
        }
      },
      "LocationResponse" : {
        "required" : [ "locations" ],
        "type" : "object",
        "properties" : {
          "locations" : {
            "minItems" : 1,
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Location"
            }
          }
        }
      },
      "TrainLocation" : {
        "required" : [ "arrTime", "depTime", "lat", "lon", "operator", "stopId", "stopName", "train", "type" ],
        "type" : "object",
        "properties" : {
          "arrTime" : {
            "type" : "string",
            "description" : ""
          },
          "depTime" : {
            "type" : "string",
            "description" : ""
          },
          "lat" : {
            "type" : "number",
            "description" : ""
          },
          "lon" : {
            "type" : "number",
            "description" : ""
          },
          "operator" : {
            "type" : "string",
            "description" : ""
          },
          "stopId" : {
            "type" : "string",
            "description" : ""
          },
          "stopName" : {
            "type" : "string",
            "description" : ""
          },
          "train" : {
            "type" : "string",
            "description" : ""
          },
          "type" : {
            "type" : "string",
            "description" : ""
          }
        }
      }
    }
  }
}