{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Guest Diagnostic Settings Association",
    "description" : "API to Add/Remove/List Guest Diagnostics Settings Association for Azure Resources",
    "version" : "2018-06-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/guestDiagnosticSettingsAssociations" : {
      "get" : {
        "description" : "Get a list of all guest diagnostic settings association in a subscription.",
        "operationId" : "GuestDiagnosticsSettingsAssociation_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GuestDiagnosticSettingsAssociationList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error occurred and the list of guest diagnostic settings association could not be retrieved.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/guestDiagnosticSettingsAssociations" : {
      "get" : {
        "description" : "Get a list of all guest diagnostic settings association in a resource group.",
        "operationId" : "GuestDiagnosticsSettingsAssociation_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GuestDiagnosticSettingsAssociationList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error occurred and the list of guest diagnostic settings association could not be retrieved.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{resourceUri}/providers/microsoft.insights/guestDiagnosticSettingsAssociation/{associationName}" : {
      "get" : {
        "tags" : [ "GuestDiagnosticsSettingsAssociation" ],
        "description" : "Gets guest diagnostics association settings.",
        "operationId" : "GuestDiagnosticsSettingsAssociation_Get",
        "parameters" : [ {
          "name" : "resourceUri",
          "in" : "path",
          "description" : "The fully qualified ID of the resource, including the resource name and resource type.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "associationName",
          "in" : "path",
          "description" : "The name of the diagnostic settings association.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GuestDiagnosticSettingsAssociationResource"
                }
              }
            }
          },
          "default" : {
            "description" : "An error occurred and the diagnostic settings association could not be retrieved.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "GuestDiagnosticsSettingsAssociation" ],
        "description" : "Creates or updates guest diagnostics settings association.",
        "operationId" : "GuestDiagnosticsSettingsAssociation_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceUri",
          "in" : "path",
          "description" : "The fully qualified ID of the resource, including the resource name and resource type.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "associationName",
          "in" : "path",
          "description" : "The name of the diagnostic settings association.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The diagnostic settings association to create or update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GuestDiagnosticSettingsAssociationResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "An existing guest diagnostic settings association was successfully updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GuestDiagnosticSettingsAssociationResource"
                }
              }
            }
          },
          "201" : {
            "description" : "A new guest diagnostic settings association was successfully created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GuestDiagnosticSettingsAssociationResource"
                }
              }
            }
          },
          "default" : {
            "description" : "An error occurred and the guest diagnostic settings association could not be created or updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "GuestDiagnosticsSettingsAssociation" ],
        "description" : "Delete guest diagnostics association settings.",
        "operationId" : "GuestDiagnosticsSettingsAssociation_Delete",
        "parameters" : [ {
          "name" : "resourceUri",
          "in" : "path",
          "description" : "The fully qualified ID of the resource, including the resource name and resource type.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "associationName",
          "in" : "path",
          "description" : "The name of the diagnostic settings association.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The diagnostic settings association was successfully deleted."
          },
          "204" : {
            "description" : "The diagnostic settings association does not exist. It may have already been deleted."
          },
          "default" : {
            "description" : "An error occurred and the diagnostic settings association could not be deleted.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "description" : "Updates an existing guestDiagnosticsSettingsAssociation Resource. To update other fields use the CreateOrUpdate method",
        "operationId" : "GuestDiagnosticsSettingsAssociation_Update",
        "parameters" : [ {
          "name" : "resourceUri",
          "in" : "path",
          "description" : "The fully qualified ID of the resource, including the resource name and resource type.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "associationName",
          "in" : "path",
          "description" : "The name of the diagnostic settings association.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GuestDiagnosticSettingsAssociationResourcePatch"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "An existing guest diagnostics setting resource was successfully updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GuestDiagnosticSettingsAssociationResource"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code"
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating why the operation failed."
          }
        },
        "description" : "Describes the format of Error response."
      },
      "GuestDiagnosticSettingsAssociation" : {
        "required" : [ "guestDiagnosticSettingsName" ],
        "type" : "object",
        "properties" : {
          "guestDiagnosticSettingsName" : {
            "type" : "string",
            "description" : "The guest diagnostic settings name."
          }
        },
        "description" : "A guest diagnostic settings association."
      },
      "GuestDiagnosticSettingsAssociationList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Provides the link to retrieve the next set of elements."
          },
          "value" : {
            "type" : "array",
            "description" : "The list of guest diagnostic settings association.",
            "items" : {
              "$ref" : "#/components/schemas/GuestDiagnosticSettingsAssociationResource"
            }
          }
        },
        "description" : "A list of guest diagnostic settings association."
      },
      "GuestDiagnosticSettingsAssociationResource" : {
        "required" : [ "properties" ],
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/GuestDiagnosticSettingsAssociation"
          }
        },
        "description" : "Virtual machine guest diagnostic settings resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "GuestDiagnosticSettingsAssociationResourcePatch" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/GuestDiagnosticSettingsAssociation"
          },
          "tags" : {
            "type" : "object",
            "description" : "Resource tags"
          }
        },
        "description" : "Guest diagnostic setting resource for patch operations"
      },
      "Resource" : {
        "required" : [ "location" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Azure resource Id",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Resource location"
          },
          "name" : {
            "type" : "string",
            "description" : "Azure resource name",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "description" : "Resource tags"
          },
          "type" : {
            "type" : "string",
            "description" : "Azure resource type",
            "readOnly" : true
          }
        },
        "description" : "An azure resource object"
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "DiagnosticSettingsAssociationNameParameter" : {
        "name" : "associationName",
        "in" : "path",
        "description" : "The name of the diagnostic settings association.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The Azure subscription Id.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}