{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Microsoft Storage Sync",
    "description" : "Microsoft Storage Sync Service API",
    "version" : "2019-03-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.StorageSync/operations" : {
      "get" : {
        "tags" : [ "ResourceProvider", "Operations" ],
        "description" : "Lists all of the available Storage Sync Rest API operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Array of operations resources in the Resource Provider",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationEntityListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorageSync/locations/{locationName}/checkNameAvailability" : {
      "post" : {
        "tags" : [ "StorageSyncService" ],
        "description" : "Check the give namespace name availability.",
        "operationId" : "StorageSyncServices_CheckNameAvailability",
        "parameters" : [ {
          "name" : "locationName",
          "in" : "path",
          "description" : "The desired region for the name check.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters to check availability of the given namespace name",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckNameAvailabilityParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "check availability returned successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckNameAvailabilityResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorageSync/storageSyncServices" : {
      "get" : {
        "tags" : [ "StorageSyncServices Resource" ],
        "description" : "Get a StorageSyncService list by subscription.",
        "operationId" : "StorageSyncServices_ListBySubscription",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Array of registered Storage Sync Service resources in the subscription.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncServiceArray"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/locations/{locationName}/workflows/{workflowId}/operations/{operationId}" : {
      "get" : {
        "tags" : [ "Operation Status" ],
        "description" : "Get Operation status",
        "operationId" : "OperationStatus_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "locationName",
          "in" : "path",
          "description" : "The desired region to obtain information from.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "workflowId",
          "in" : "path",
          "description" : "workflow Id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "operationId",
          "in" : "path",
          "description" : "operation Id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation Status",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationStatus"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices" : {
      "get" : {
        "tags" : [ "StorageSyncServices Resource" ],
        "description" : "Get a StorageSyncService list by Resource group name.",
        "operationId" : "StorageSyncServices_ListByResourceGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Array of registered Storage Sync Service resources in the Resource Group",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncServiceArray"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}" : {
      "get" : {
        "tags" : [ "StorageSyncServices Resource" ],
        "description" : "Get a given StorageSyncService.",
        "operationId" : "StorageSyncServices_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Storage Sync Service object",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncService"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "StorageSyncServices Resource" ],
        "description" : "Create a new StorageSyncService.",
        "operationId" : "StorageSyncServices_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Storage Sync Service resource name.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StorageSyncServiceCreateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Storage Sync Service object created/updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncService"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "StorageSyncServices Resource" ],
        "description" : "Delete a given StorageSyncService.",
        "operationId" : "StorageSyncServices_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Storage Sync Service object was deleted.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "204" : {
            "description" : "Storage Sync Service Resource doesn't exist"
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "StorageSyncServices Resource" ],
        "description" : "Patch a given StorageSyncService.",
        "operationId" : "StorageSyncServices_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Storage Sync Service resource.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StorageSyncServiceUpdateParameters"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Storage Sync Service object created/updated",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncService"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers" : {
      "get" : {
        "tags" : [ "RegisteredServer Resource" ],
        "description" : "Get a given registered server list.",
        "operationId" : "RegisteredServers_ListByStorageSyncService",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Array of Registered Server resources in Storage Sync Service",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegisteredServerArray"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers/{serverId}" : {
      "get" : {
        "tags" : [ "RegisteredServer Resource" ],
        "description" : "Get a given registered server.",
        "operationId" : "RegisteredServers_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverId",
          "in" : "path",
          "description" : "GUID identifying the on-premises server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Registered Server resources in Sync Group",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegisteredServer"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "RegisteredServer Resource" ],
        "description" : "Add a new registered server.",
        "operationId" : "RegisteredServers_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverId",
          "in" : "path",
          "description" : "GUID identifying the on-premises server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Body of Registered Server object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegisteredServerCreateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Registered Server resources in Sync Group",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegisteredServer"
                }
              }
            }
          },
          "202" : {
            "description" : "Asynchronous Operation Status Location",
            "headers" : {
              "Azure-AsyncOperation" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "RegisteredServer Resource" ],
        "description" : "Delete the given registered server.",
        "operationId" : "RegisteredServers_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverId",
          "in" : "path",
          "description" : "GUID identifying the on-premises server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "202" : {
            "description" : "Asynchronous Operation Status Location",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "204" : {
            "description" : "Resource doesn't exist"
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers/{serverId}/triggerRollover" : {
      "post" : {
        "tags" : [ "RegisteredServer Resource", "Actions" ],
        "description" : "Triggers Server certificate rollover.",
        "operationId" : "RegisteredServers_triggerRollover",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverId",
          "in" : "path",
          "description" : "Server Id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Body of Trigger Rollover request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TriggerRolloverRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Trigger Rollover success status",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "202" : {
            "description" : "Asynchronous Operation Status Location",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups" : {
      "get" : {
        "tags" : [ "SyncGroup Resource" ],
        "description" : "Get a SyncGroup List.",
        "operationId" : "SyncGroups_ListByStorageSyncService",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Array of Sync Group resources in Storage Sync Service",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncGroupArray"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}" : {
      "get" : {
        "tags" : [ "SyncGroup Resource" ],
        "description" : "Get a given SyncGroup.",
        "operationId" : "SyncGroups_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Sync Group object",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncGroup"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "SyncGroup Resource" ],
        "description" : "Create a new SyncGroup.",
        "operationId" : "SyncGroups_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Sync Group Body",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SyncGroupCreateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Sync Group object",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncGroup"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "SyncGroup Resource" ],
        "description" : "Delete a given SyncGroup.",
        "operationId" : "SyncGroups_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Sync Group object was deleted",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Request id",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "204" : {
            "description" : "Resource doesn't exist"
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints" : {
      "get" : {
        "tags" : [ "CloudEndpoint Resource" ],
        "description" : "Get a CloudEndpoint List.",
        "operationId" : "CloudEndpoints_ListBySyncGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Array of Cloud Endpoint resources in Sync Group",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudEndpointArray"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}" : {
      "get" : {
        "tags" : [ "CloudEndpoint Resource" ],
        "description" : "Get a given CloudEndpoint.",
        "operationId" : "CloudEndpoints_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cloudEndpointName",
          "in" : "path",
          "description" : "Name of Cloud Endpoint object.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Cloud Endpoint object",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudEndpoint"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "CloudEndpoint Resource" ],
        "description" : "Create a new CloudEndpoint.",
        "operationId" : "CloudEndpoints_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cloudEndpointName",
          "in" : "path",
          "description" : "Name of Cloud Endpoint object.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Body of Cloud Endpoint resource.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CloudEndpointCreateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Cloud Endpoint object",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudEndpoint"
                }
              }
            }
          },
          "202" : {
            "description" : "Asynchronous Operation Status Location",
            "headers" : {
              "Retry-After" : {
                "description" : "Retry After",
                "schema" : {
                  "type" : "string"
                }
              },
              "Azure-AsyncOperation" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-request-id" : {
                "description" : "Request id",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "CloudEndpoint Resource" ],
        "description" : "Delete a given CloudEndpoint.",
        "operationId" : "CloudEndpoints_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cloudEndpointName",
          "in" : "path",
          "description" : "Name of Cloud Endpoint object.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "202" : {
            "description" : "Asynchronous Operation Status Location",
            "headers" : {
              "Retry-After" : {
                "description" : "Retry After",
                "schema" : {
                  "type" : "string"
                }
              },
              "Azure-AsyncOperation" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-request-id" : {
                "description" : "Request id",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "204" : {
            "description" : "Resource doesn't exist"
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/postbackup" : {
      "post" : {
        "tags" : [ "CloudEndpoint Resource", "Actions", "Backup Restore" ],
        "description" : "Post Backup a given CloudEndpoint.",
        "operationId" : "CloudEndpoints_PostBackup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cloudEndpointName",
          "in" : "path",
          "description" : "Name of Cloud Endpoint object.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Body of Backup request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PostBackupResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "Asynchronous Operation Status Location",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/postrestore" : {
      "post" : {
        "tags" : [ "CloudEndpoint Resource", "Actions", "Backup Restore" ],
        "description" : "Post Restore a given CloudEndpoint.",
        "operationId" : "CloudEndpoints_PostRestore",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cloudEndpointName",
          "in" : "path",
          "description" : "Name of Cloud Endpoint object.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Body of Cloud Endpoint object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostRestoreRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok"
          },
          "202" : {
            "description" : "Asynchronous Operation Status Location",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/prebackup" : {
      "post" : {
        "tags" : [ "CloudEndpoint Resource", "Actions", "Backup Restore" ],
        "description" : "Pre Backup a given CloudEndpoint.",
        "operationId" : "CloudEndpoints_PreBackup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cloudEndpointName",
          "in" : "path",
          "description" : "Name of Cloud Endpoint object.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Body of Backup request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "202" : {
            "description" : "Asynchronous Operation Status Location",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/prerestore" : {
      "post" : {
        "tags" : [ "CloudEndpoint Resource", "Actions", "Backup Restore" ],
        "description" : "Pre Restore a given CloudEndpoint.",
        "operationId" : "CloudEndpoints_PreRestore",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cloudEndpointName",
          "in" : "path",
          "description" : "Name of Cloud Endpoint object.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Body of Cloud Endpoint object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PreRestoreRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok"
          },
          "202" : {
            "description" : "Asynchronous Operation Status Location",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/restoreheartbeat" : {
      "post" : {
        "tags" : [ "CloudEndpoint Resource", "Actions", "Backup Restore" ],
        "description" : "Restore Heartbeat a given CloudEndpoint.",
        "operationId" : "CloudEndpoints_restoreheartbeat",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cloudEndpointName",
          "in" : "path",
          "description" : "Name of Cloud Endpoint object.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Restore Heartbeat Operation has ran successfully.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/triggerChangeDetection" : {
      "post" : {
        "tags" : [ "CloudEndpoint Resource", "Actions", "Change Detection" ],
        "description" : "Triggers detection of changes performed on Azure File share connected to the specified Azure File Sync Cloud Endpoint.",
        "operationId" : "CloudEndpoints_TriggerChangeDetection",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cloudEndpointName",
          "in" : "path",
          "description" : "Name of Cloud Endpoint object.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Trigger Change Detection Action parameters.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TriggerChangeDetectionParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok"
          },
          "202" : {
            "description" : "Asynchronous Operation Status Location",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints" : {
      "get" : {
        "tags" : [ "ServerEndpoint Resource" ],
        "description" : "Get a ServerEndpoint list.",
        "operationId" : "ServerEndpoints_ListBySyncGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Array of Server Endpoint resources in Sync Group",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerEndpointArray"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints/{serverEndpointName}" : {
      "get" : {
        "tags" : [ "ServerEndpoint Resource" ],
        "description" : "Get a ServerEndpoint.",
        "operationId" : "ServerEndpoints_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverEndpointName",
          "in" : "path",
          "description" : "Name of Server Endpoint object.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Server Endpoint object",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerEndpoint"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ServerEndpoint Resource" ],
        "description" : "Create a new ServerEndpoint.",
        "operationId" : "ServerEndpoints_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverEndpointName",
          "in" : "path",
          "description" : "Name of Server Endpoint object.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Body of Server Endpoint object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServerEndpointCreateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Server Endpoint object",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServerEndpoint"
                }
              }
            }
          },
          "202" : {
            "description" : "Asynchronous Operation Status Location",
            "headers" : {
              "Azure-AsyncOperation" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ServerEndpoint Resource" ],
        "description" : "Delete a given ServerEndpoint.",
        "operationId" : "ServerEndpoints_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "storageSyncServiceName",
          "in" : "path",
          "description" : "Name of Storage Sync Service resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "syncGroupName",
          "in" : "path",
          "description" : "Name of Sync Group resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverEndpointName",
          "in" : "path",
          "description" : "Name of Server Endpoint object.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "202" : {
            "description" : "Asynchronous Operation Status Location",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-ms-correlation-request-id" : {
                "description" : "correlation request id.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "Operation Status Location URI",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error message indicating why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSyncError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "ServerEndpoint Resource" ],
        "description" : "Patch a given ServerEndpoint.",
        "operationId" : "ServerEndpoints_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
[...]
