{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "StorageManagementClient",
    "description" : "The Azure Storage Management API.",
    "version" : "2019-04-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.Storage/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Lists all of the available Storage Rest API operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/checkNameAvailability" : {
      "post" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Checks that the storage account name is valid and is not already in use.",
        "operationId" : "StorageAccounts_CheckNameAvailability",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StorageAccountCheckNameAvailabilityParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK -- Operation to check the storage account name availability was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckNameAvailabilityResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/locations/{location}/usages" : {
      "get" : {
        "tags" : [ "LocationUsage" ],
        "description" : "Gets the current usage count and the limit for the resources of the location under the subscription.",
        "operationId" : "Usages_ListByLocation",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "The location of the Azure Storage resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- current usage count and limit retrieved and returned successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsageListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/skus" : {
      "get" : {
        "tags" : [ "Skus" ],
        "description" : "Lists the available SKUs supported by Microsoft.Storage for given subscription.",
        "operationId" : "Skus_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- List of storage SKUs in the given subscription retrieved and returned successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSkuListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/storageAccounts" : {
      "get" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Lists all the storage accounts available under the subscription. Note that storage keys are not returned; use the ListKeys operation for this.",
        "operationId" : "StorageAccounts_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- List of storage accounts was retrieved and returned successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageAccountListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts" : {
      "get" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Lists all the storage accounts available under the given resource group. Note that storage keys are not returned; use the ListKeys operation for this.",
        "operationId" : "StorageAccounts_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- List of storage accounts in the given resource group retrieved and returned successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageAccountListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}" : {
      "get" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Returns the properties for the specified storage account including but not limited to name, SKU name, location, and account status. The ListKeys operation should be used to retrieve storage keys.",
        "operationId" : "StorageAccounts_GetProperties",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
          "required" : true,
          "schema" : {
            "maxLength" : 24,
            "minLength" : 3,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "May be used to expand the properties within account's properties. By default, data is not included when fetching properties. Currently we only support geoReplicationStats.",
          "schema" : {
            "type" : "string",
            "enum" : [ "geoReplicationStats" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- properties retrieved successfully for the storage account.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageAccount"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Asynchronously creates a new storage account with the specified parameters. If an account is already created and a subsequent create request is issued with different properties, the account properties will be updated. If an account is already created and a subsequent create or update request is issued with the exact same set of properties, the request will succeed.",
        "operationId" : "StorageAccounts_Create",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
          "required" : true,
          "schema" : {
            "maxLength" : 24,
            "minLength" : 3,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters to provide for the created account.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StorageAccountCreateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK -- returned when the storage account was already created from a previous request with the same properties specified in the request body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageAccount"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted -- Create or update request accepted; operation will complete asynchronously."
          }
        }
      },
      "delete" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Deletes a storage account in Microsoft Azure.",
        "operationId" : "StorageAccounts_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
          "required" : true,
          "schema" : {
            "maxLength" : 24,
            "minLength" : 3,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- storage account deleted successfully."
          },
          "204" : {
            "description" : "NoContent -- account does not exist in the subscription."
          }
        }
      },
      "patch" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "The update operation can be used to update the SKU, encryption, access tier, or tags for a storage account. It can also be used to map the account to a custom domain. Only one custom domain is supported per storage account; the replacement/change of custom domain is not supported. In order to replace an old custom domain, the old value must be cleared/unregistered before a new value can be set. The update of multiple properties is supported. This call does not change the storage keys for the account. If you want to change the storage account keys, use the regenerate keys operation. The location and name of the storage account cannot be changed after creation.",
        "operationId" : "StorageAccounts_Update",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
          "required" : true,
          "schema" : {
            "maxLength" : 24,
            "minLength" : 3,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters to provide for the updated account.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StorageAccountUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK -- storage account properties updated successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageAccount"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/ListAccountSas" : {
      "post" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "List SAS credentials of a storage account.",
        "operationId" : "StorageAccounts_ListAccountSAS",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
          "required" : true,
          "schema" : {
            "maxLength" : 24,
            "minLength" : 3,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters to provide to list SAS credentials for the storage account.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountSasParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK -- returned the account SAS created for the storage account requested.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListAccountSasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/ListServiceSas" : {
      "post" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "List service SAS credentials of a specific resource.",
        "operationId" : "StorageAccounts_ListServiceSAS",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
          "required" : true,
          "schema" : {
            "maxLength" : 24,
            "minLength" : 3,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters to provide to list service SAS credentials.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceSasParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK -- returned the service SAS created for the storage service requested.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListServiceSasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/failover" : {
      "post" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Failover request can be triggered for a storage account in case of availability issues. The failover occurs from the storage account's primary cluster to secondary cluster for RA-GRS accounts. The secondary cluster will become primary after failover.",
        "operationId" : "StorageAccounts_Failover",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
          "required" : true,
          "schema" : {
            "maxLength" : 24,
            "minLength" : 3,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- Returned when the storage account failover is completed, and the secondary cluster has become primary."
          },
          "202" : {
            "description" : "Accepted -- Failover request accepted; operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/listKeys" : {
      "post" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Lists the access keys or Kerberos keys (if active directory enabled) for the specified storage account.",
        "operationId" : "StorageAccounts_ListKeys",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
          "required" : true,
          "schema" : {
            "maxLength" : 24,
            "minLength" : 3,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "Specifies type of the key to be listed. Possible value is kerb.",
          "schema" : {
            "type" : "string",
            "enum" : [ "kerb" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- list of keys retrieved and returned successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageAccountListKeysResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/managementPolicies/{managementPolicyName}" : {
      "get" : {
        "tags" : [ "ManagementPolicies" ],
        "description" : "Gets the managementpolicy associated with the specified storage account.",
        "operationId" : "ManagementPolicies_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
          "required" : true,
          "schema" : {
            "maxLength" : 24,
            "minLength" : 3,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "managementPolicyName",
          "in" : "path",
          "description" : "The name of the Storage Account Management Policy. It should always be 'default'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "default" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- Get the managementpolicy successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagementPolicy"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ManagementPolicies" ],
        "description" : "Sets the managementpolicy to the specified storage account.",
        "operationId" : "ManagementPolicies_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
          "required" : true,
          "schema" : {
            "maxLength" : 24,
            "minLength" : 3,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "managementPolicyName",
          "in" : "path",
          "description" : "The name of the Storage Account Management Policy. It should always be 'default'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "default" ]
          }
        } ],
        "requestBody" : {
          "description" : "The ManagementPolicy set to a storage account.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManagementPolicy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK -- Put managementpolicy successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagementPolicy"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ManagementPolicies" ],
        "description" : "Deletes the managementpolicy associated with the specified storage account.",
        "operationId" : "ManagementPolicies_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
          "required" : true,
          "schema" : {
            "maxLength" : 24,
            "minLength" : 3,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "managementPolicyName",
          "in" : "path",
          "description" : "The name of the Storage Account Management Policy. It should always be 'default'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "default" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- Delete the managementpolicy successfully."
          },
          "204" : {
            "description" : "No Content -- The managementpolicy does not exist."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/regenerateKey" : {
      "post" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Regenerates one of the access keys or Kerberos keys for the specified storage account.",
        "operationId" : "StorageAccounts_RegenerateKey",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
          "required" : true,
          "schema" : {
            "maxLength" : 24,
            "minLength" : 3,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Specifies name of the key which should be regenerated -- key1, key2, kerb1, kerb2.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StorageAccountRegenerateKeyParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK -- specified key regenerated successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageAccountListKeysResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/revokeUserDelegationKeys" : {
      "post" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Revoke user delegation keys.",
        "operationId" : "StorageAccounts_RevokeUserDelegationKeys",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
          "required" : true,
          "schema" : {
            "maxLength" : 24,
            "minLength" : 3,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- revoke user delegation keys succeeded."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AccountSasParameters" : {
        "required" : [ "signedExpiry", "signedPermission", "signedResourceTypes", "signedServices" ],
        "type" : "object",
        "properties" : {
          "keyToSign" : {
            "type" : "string",
            "description" : "The key to sign the account SAS token with."
          },
          "signedExpiry" : {
            "type" : "string",
            "description" : "The time at which the shared access signature becomes invalid.",
            "format" : "date-time"
          },
          "signedIp" : {
            "type" : "string",
            "description" : "An IP address or a range of IP addresses from which to accept requests."
          },
          "signedPermission" : {
            "type" : "string",
            "description" : "The signed permissions for the account SAS. Possible values include: Read (r), Write (w), Delete (d), List (l), Add (a), Create (c), Update (u) and Process (p).",
            "enum" : [ "r", "d", "w", "l", "a", "c", "u", "p" ]
          },
          "signedProtocol" : {
            "type" : "string",
            "description" : "The protocol permitted for a request made with the account SAS.",
            "enum" : [ "https,http", "https" ]
          },
          "signedResourceTypes" : {
            "type" : "string",
            "description" : "The signed resource types that are accessible with the account SAS. Service (s): Access to service-level APIs; Container (c): Access to container-level APIs; Object (o): Access to object-level APIs for blobs, queue messages, table entities, and files.",
            "enum" : [ "s", "c", "o" ]
          },
          "signedServices" : {
            "type" : "string",
            "description" : "The signed services accessible with the account SAS. Possible values include: Blob (b), Queue (q), Table (t), File (f).",
            "enum" : [ "b", "q", "t", "f" ]
          },
          "signedStart" : {
            "type" : "string",
            "description" : "The time at which the SAS becomes valid.",
            "format" : "date-time"
          }
        },
        "description" : "The parameters to list SAS credentials of a storage account."
      },
      "ActiveDirectoryProperties" : {
        "required" : [ "azureStorageSid", "domainGuid", "domainName", "domainSid", "forestName", "netBiosDomainName" ],
        "type" : "object",
        "properties" : {
          "azureStorageSid" : {
            "type" : "string",
            "description" : "Specifies the security identifier (SID) for Azure Storage."
          },
          "domainGuid" : {
            "type" : "string",
            "description" : "Specifies the domain GUID."
          },
          "domainName" : {
            "type" : "string",
            "description" : "Specifies the primary domain that the AD DNS server is authoritative for."
          },
          "domainSid" : {
            "type" : "string",
            "description" : "Specifies the security identifier (SID)."
          },
          "forestName" : {
            "type" : "string",
            "description" : "Specifies the Active Directory forest to get."
          },
          "netBiosDomainName" : {
            "type" : "string",
            "description" : "Specifies the NetBIOS domain name."
          }
        },
        "description" : "Settings properties for Active Directory (AD)."
      },
      "AzureFilesIdentityBasedAuthentication" : {
        "required" : [ "directoryServiceOptions" ],
        "type" : "object",
        "properties" : {
          "activeDirectoryProperties" : {
            "$ref" : "#/components/schemas/ActiveDirectoryProperties"
          },
          "directoryServiceOptions" : {
            "type" : "string",
            "description" : "Indicates the directory service used.",
            "enum" : [ "None", "AADDS", "AD" ]
          }
        },
        "description" : "Settings for Azure Files identity based authentication."
      },
      "CheckNameAvailabilityResult" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "Gets an error message explaining the Reason value in more detail.",
            "readOnly" : true
          },
          "nameAvailable" : {
            "type" : "boolean",
            "description" : "Gets a boolean value that indicates whether the name is available for you to use. If true, the name is available. If false, the name has already been taken or is invalid and cannot be used.",
            "readOnly" : true
          },
          "reason" : {
            "type" : "string",
            "description" : "Gets the reason that a storage account name could not be used. The Reason element is only returned if NameAvailable is false.",
            "readOnly" : true,
            "enum" : [ "AccountNameInvalid", "AlreadyExists" ]
          }
        },
        "description" : "The CheckNameAvailability operation response."
      },
      "CustomDomain" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the custom domain name assigned to the storage account. Name is the CNAME source."
          },
          "useSubDomainName" : {
            "type" : "boolean",
            "description" : "Indicates whether indirect CName validation is enabled. Default value is false. This should only be set on updates."
          }
        },
        "description" : "The custom domain assigned to this storage account. This can be set via Update."
      },
      "DateAfterCreation" : {
        "required" : [ "daysAfterCreationGreaterThan" ],
        "type" : "object",
        "properties" : {
          "daysAfterCreationGreaterThan" : {
            "multipleOf" : 1,
            "minimum" : 0,
            "type" : "number",
            "description" : "Value indicating the age in days after creation"
          }
        },
        "description" : "Object to define the number of days after creation."
      },
      "DateAfterModification" : {
        "required" : [ "daysAfterModificationGreaterThan" ],
        "type" : "object",
        "properties" : {
          "daysAfterModificationGreaterThan" : {
            "multipleOf" : 1,
            "minimum" : 0,
            "type" : "number",
            "description" : "Value indicating the age in days after last modification"
          }
        },
        "description" : "Object to define the number of days after last modification."
      },
      "Dimension" : {
        "type" : "object",
        "properties" : {
          "displayName" : {
            "type" : "string",
            "description" : "Display name of dimension."
          },
          "name" : {
            "type" : "string",
            "description" : "Display name of dimension."
          }
        },
        "description" : "Dimension of blobs, possibly be blob type or access tier."
      },
      "Encryption" : {
        "required" : [ "keySource" ],
        "type" : "object",
        "properties" : {
          "keySource" : {
            "type" : "string",
            "description" : "The encryption keySource (provider). Possible values (case-insensitive):  Microsoft.Storage, Microsoft.Keyvault",
            "default" : "Microsoft.Storage",
            "enum" : [ "Microsoft.Storage", "Microsoft.Keyvault" ]
          },
          "keyvaultproperties" : {
            "$ref" : "#/components/schemas/KeyVaultProperties"
          },
          "services" : {
            "$ref" : "#/components/schemas/EncryptionServices"
          }
        },
        "description" : "The encryption settings on the storage account."
      },
      "EncryptionService" : {
        "type" : "object",
        "properties" : {
          "enabled" : {
            "type" : "boolean",
            "description" : "A boolean indicating whether or not the service encrypts the data as it is stored."
          },
          "lastEnabledTime" : {
            "type" : "string",
            "description" : "Gets a rough estimate of the date/time when the encryption was last enabled by the user. Only returned when encryption is enabled. There might be some unencrypted blobs which were written after this time, as it is just a rough estimate.",
            "format" : "date-time",
            "readOnly" : true
          }
        },
        "description" : "A service that allows server-side encryption to be used."
      },
      "EncryptionServices" : {
        "type" : "object",
        "properties" : {
          "blob" : {
            "$ref" : "#/components/schemas/EncryptionService"
          },
          "file" : {
            "$ref" : "#/components/schemas/EncryptionService"
          },
          "queue" : {
            "$ref" : "#/components/schemas/EncryptionService"
          },
          "table" : {
            "$ref" : "#/components/schemas/EncryptionService"
          }
        },
        "description" : "A list of services that support encryption."
      },
      "Endpoints" : {
        "type" : "object",
        "properties" : {
          "blob" : {
            "type" : "string",
            "description" : "Gets the blob endpoint.",
            "readOnly" : true
          },
          "dfs" : {
            "type" : "string",
            "description" : "Gets the dfs endpoint.",
            "readOnly" : true
          },
          "file" : {
            "type" : "string",
            "description" : "Gets the file endpoint.",
            "readOnly" : true
          },
          "queue" : {
            "type" : "string",
            "description" : "Gets the queue endpoint.",
            "readOnly" : true
          },
          "table" : {
            "type" : "string",
            "description" : "Gets the table endpoint.",
            "readOnly" : true
          },
          "web" : {
            "type" : "string",
            "description" : "Gets the web endpoint.",
            "readOnly" : true
          }
        },
        "description" : "The URIs that are used to perform a retrieval of a public blob, queue, table, web or dfs object."
      },
      "GeoReplicationStats" : {
        "type" : "object",
        "properties" : {
          "canFailover" : {
            "type" : "boolean",
            "description" : "A boolean flag which indicates whether or not account failover is supported for the account.",
            "readOnly" : true
          },
          "lastSyncTime" : {
            "type" : "string",
            "description" : "All primary writes preceding this UTC date/time value are guaranteed to be available for read operations. Primary writes following this point in time may or may not be available for reads. Element may be default value if value of LastSyncTime is not available, this can happen if secondary is offline or we are in bootstrap.",
            "format" : "date-time",
            "readOnly" : true
          },
          "status" : {
            "type" : "string",
            "description" : "The status of the secondary location. Possible values are: - Live: Indicates that the secondary location is active and operational. - Bootstrap: Indicates initial synchronization from the primary location to the secondary location is in progress.This typically occurs when replication is first enabled. - Unavailable: Indicates that the secondary location is temporarily unavailable.",
            "readOnly" : true,
            "enum" : [ "Live", "Bootstrap", "Unavailable" ]
          }
        },
        "description" : "Statistics related to replication for storage account's Blob, Table, Queue and File services. It is only available when geo-redundant replication is enabled for the storage account."
      },
      "IPRule" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "action" : {
            "type" : "string",
            "description" : "The action of IP ACL rule.",
            "default" : "Allow",
            "enum" : [ "Allow" ]
          },
          "value" : {
            "type" : "string",
            "description" : "Specifies the IP or IP range in CIDR format. Only IPV4 address is allowed."
          }
        },
        "description" : "IP rule with specific IP or IP range in CIDR format."
      },
      "Identity" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "principalId" : {
            "type" : "string",
            "description" : "The principal ID of resource identity.",
            "readOnly" : true
          },
          "tenantId" : {
            "type" : "string",
            "description" : "The tenant ID of resource.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "The identity type.",
            "enum" : [ "SystemAssigned" ]
          }
        },
        "description" : "Identity for the resource."
      },
      "KeyVaultProperties" : {
        "type" : "object",
        "properties" : {
          "keyname" : {
            "type" : "string",
            "description" : "The name of KeyVault key."
          },
          "keyvaulturi" : {
            "type" : "string",
            "description" : "The Uri of KeyVault."
          },
          "keyversion" : {
            "type" : "string",
            "description" : "The version of KeyVault key."
          }
        },
        "description" : "Properties of key vault."
      },
      "ListAccountSasResponse" : {
        "type" : "object",
        "properties" : {
          "accountSasToken" : {
            "type" : "string",
            "description" : "List SAS credentials of storage account.",
            "readOnly" : true
          }
        },
        "description" : "The List SAS credentials operation response."
      },
      "ListServiceSasResponse" : {
        "type" : "object",
        "properties" : {
          "serviceSasToken" : {
            "type" : "string",
            "description" : "List service SAS credentials of specific resource.",
            "readOnly" : true
          }
        },
        "description" : "The List service SAS credentials operation response."
      },
      "ManagementPolicy" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ManagementPolicyProperties"
          }
        },
        "description" : "The Get Storage Account ManagementPolicies operation response.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
              "readOnly" : true
            },
            "name" : {
              "type" : "string",
              "description" : "The name of the resource",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.",
              "readOnly" : true
            }
          }
        } ]
      },
      "ManagementPolicyAction" : {
        "type" : "object",
        "properties" : {
          "baseBlob" : {
            "$ref" : "#/components/schemas/ManagementPolicyBaseBlob"
          },
          "snapshot" : {
            "$ref" : "#/components/schemas/ManagementPolicySnapShot"
          }
        },
        "description" : "Actions are applied to the filtered blobs when the execution condition is met."
      },
      "ManagementPolicyBaseBlob" : {
        "type" : "object",
        "properties" : {
          "delete" : {
            "$ref" : "#/components/schemas/DateAfterModification"
          },
          "tierToArchive" : {
            "$ref" : "#/components/schemas/DateAfterModification"
          },
          "tierToCool" : {
            "$ref" : "#/components/schemas/DateAfterModification"
          }
        },
        "description" : "Management policy action for base blob."
      },
      "ManagementPolicyDefinition" : {
        "required" : [ "actions" ],
        "type" : "object",
        "properties" : {
          "actions" : {
            "$ref" : "#/components/schemas/ManagementPolicyAction"
          },
          "filters" : {
            "$ref" : "#/components/schemas/ManagementPolicyFilter"
          }
        },
        "description" : "An object that defines the Lifecycle rule. Each definition is made up with a filters set and an actions set."
      },
      "ManagementPolicyFilter" : {
        "required" : [ "blobTypes" ],
        "type" : "object",
        "properties" : {
          "blobTypes" : {
            "type" : "array",
            "description" : "An array of predefined enum values. Only blockBlob is supported.",
            "items" : {
              "type" : "string"
            }
          },
          "prefixMatch" : {
            "type" : "array",
            "description" : "An array of strings for prefixes to be match.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Filters limit rule actions to a subset of blobs within the storage account. If multiple filters are defined, a logical AND is performed on all filters. "
      },
      "ManagementPolicyProperties" : {
        "required" : [ "policy" ],
        "type" : "object",
        "properties" : {
          "lastModifiedTime" : {
            "type" : "string",
            "description" : "Returns the date and time the ManagementPolicies was last modified.",
            "format" : "date-time",
            "readOnly" : true
          },
          "policy" : {
            "$ref" : "#/components/schemas/ManagementPolicySchema"
          }
        },
        "description" : "The Storage Account ManagementPolicy properties."
      },
      "ManagementPolicyRule" : {
        "required" : [ "definition", "name", "type" ],
        "type" : "object",
        "properties" : {
          "definition" : {
            "$ref" : "#/components/schemas/ManagementPolicyDefinition"
          },
          "enabled" : {
            "type" : "boolean",
            "description" : "Rule is enabled if set to true."
          },
          "name" : {
            "type" : "string",
            "description" : "A rule name can contain any combination of alpha numeric characters. Rule name is case-sensitive. It must be unique within a policy."
          },
          "type" : {
            "type" : "string",
            "description" : "The valid value is Lifecycle",
            "enum" : [ "Lifecycle" ]
          }
        },
        "description" : "An object that wraps the Lifecycle rule. Each rule is uniquely defined by name."
      },
      "ManagementPolicySchema" : {
        "required" : [ "rules" ],
        "type" : "object",
        "properties" : {
          "rules" : {
            "type" : "array",
            "description" : "The Storage Account ManagementPolicies Rules. See more details in: https://docs.microsoft.com/en-us/azure/storage/common/storage-lifecycle-managment-concepts.",
            "items" : {
              "$ref" : "#/components/schemas/ManagementPolicyRule"
            }
          }
        },
        "description" : "The Storage Account ManagementPolicies Rules. See more details in: https://docs.microsoft.com/en-us/azure/storage/common/storage-lifecycle-managment-concepts."
      },
      "ManagementPolicySnapShot" : {
        "type" : "object",
        "properties" : {
          "delete" : {
            "$ref" : "#/components/schemas/DateAfterCreation"
          }
        },
        "description" : "Management policy action for snapshot."
      },
      "MetricSpecification" : {
        "type" : "object",
        "properties" : {
          "aggregationType" : {
            "type" : "string",
            "description" : "Aggregation type could be Average."
          },
          "category" : {
            "type" : "string",
            "description" : "The category this metric specification belong to, could be Capacity."
          },
          "dimensions" : {
            "type" : "array",
            "description" : "Dimensions of blobs, including blob type and access tier.",
            "items" : {
              "$ref" : "#/components/schemas/Dimension"
            }
          },
          "displayDescription" : {
            "type" : "string",
            "description" : "Display description of metric specification."
          },
          "displayName" : {
            "type" : "string",
            "description" : "Display name of metric specification."
          },
          "fillGapWithZero" : {
            "type" : "boolean",
            "description" : "The property to decide fill gap with zero or not."
          },
          "name" : {
            "type" : "string",
            "description" : "Name of metric specification."
          },
          "resourceIdDimensionNameOverride" : {
            "type" : "string",
            "description" : "Account Resource Id."
          },
          "unit" : {
            "type" : "string",
            "description" : "Unit could be Bytes or Count."
          }
        },
        "description" : "Metric specification of operation."
      },
      "NetworkRuleSet" : {
        "required" : [ "defaultAction" ],
        "type" : "object",
        "properties" : {
          "bypass" : {
            "type" : "string",
            "description" : "Specifies whether traffic is bypassed for Logging/Metrics/AzureServices. Possible values are any combination of Logging|Metrics|AzureServices (For example, \"Logging, Metrics\"), or None to bypass none of those traffics.",
            "default" : "AzureServices",
            "enum" : [ "None", "Logging", "Metrics", "AzureServices" ]
          },
          "defaultAction" : {
            "type" : "string",
            "description" : "Specifies the default action of allow or deny when no other rules match.",
            "default" : "Allow",
            "enum" : [ "Allow", "Deny" ]
          },
          "ipRules" : {
            "type" : "array",
            "description" : "Sets the IP ACL rules",
            "items" : {
              "$ref" : "#/components/schemas/IPRule"
            }
          },
          "virtualNetworkRules" : {
            "type" : "array",
            "description" : "Sets the virtual network rules",
            "items" : {
              "$ref" : "#/components/schemas/VirtualNetworkRule"
            }
          }
        },
        "description" : "Network rule set"
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "type" : "object",
            "properties" : {
              "description" : {
                "type" : "string",
                "description" : "Description of the operation."
              },
              "operation" : {
                "type" : "string",
                "description" : "Type of operation: get, read, delete, etc."
              },
              "provider" : {
                "type" : "string",
                "description" : "Service provider: Microsoft Storage."
              },
              "resource" : {
                "type" : "string",
                "description" : "Resource on which the operation is performed etc."
              }
            },
            "description" : "Display metadata associated with the operation."
          },
          "name" : {
            "type" : "string",
            "description" : "Operation name: {provider}/{resource}/{operation}"
          },
          "origin" : {
            "type" : "string",
            "description" : "The origin of operations."
          },
          "properties" : {
            "$ref" : "#/components/schemas/OperationProperties"
          }
        },
        "description" : "Storage REST API operation definition."
      },
      "OperationListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "List of Storage operations supported by the Storage resource provider.",
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "Result of the request to list Storage operations. It contains a list of operations and a URL link to get the next set of results."
      },
      "OperationProperties" : {
        "type" : "object",
        "properties" : {
          "serviceSpecification" : {
            "$ref" : "#/components/schemas/ServiceSpecification"
          }
        },
        "description" : "Properties of operation, include metric specifications."
      },
      "Restriction" : {
        "type" : "object",
        "properties" : {
          "reasonCode" : {
            "type" : "string",
            "description" : "The reason for the restriction. As of now this can be \"QuotaId\" or \"NotAvailableForSubscription\". Quota Id is set when the SKU has requiredQuotas parameter as the subscription does not belong to that quota. The \"NotAvailableForSubscription\" is related to capacity at DC.",
            "enum" : [ "QuotaId", "NotAvailableForSubscription" ]
          },
          "type" : {
            "type" : "string",
            "description" : "The type of restrictions. As of now only possible value for this is location.",
            "readOnly" : true
          },
          "values" : {
            "type" : "array",
            "description" : "The value of restrictions. If the restriction type is set to location. This would be different locations where the SKU is restricted.",
            "readOnly" : true,
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "The restriction because of which SKU cannot be used."
      },
      "SKUCapability" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of capability, The capability information in the specified SKU, including file encryption, network ACLs, change notification, etc.",
            "readOnly" : true
          },
          "value" : {
            "type" : "string",
            "description" : "A string value to indicate states of given capability. Possibly 'true' or 'false'.",
            "readOnly" : true
          }
        },
        "description" : "The capability information in the specified SKU, including file encryption, network ACLs, change notification, etc."
      },
      "ServiceSasParameters" : {
        "required" : [ "canonicalizedResource" ],
        "type" : "object",
        "properties" : {
          "canonicalizedResource" : {
            "type" : "string",
            "description" : "The canonical path to the signed resource."
          },
          "endPk" : {
            "type" : "string",
            "description" : "The end of partition key."
          },
          "endRk" : {
            "type" : "string",
            "description" : "The end of row key."
          },
          "keyToSign" : {
            "type" : "string",
            "description" : "The key to sign the account SAS token with."
          },
          "rscc" : {
            "type" : "string",
            "description" : "The response header override for cache control."
          },
          "rscd" : {
            "type" : "string",
            "description" : "The response header override for content disposition."
          },
          "rsce" : {
            "type" : "string",
            "description" : "The response header override for content encoding."
          },
          "rscl" : {
            "type" : "string",
            "description" : "The response header override for content language."
          },
          "rsct" : {
            "type" : "string",
            "description" : "The response header override for content type."
          },
          "signedExpiry" : {
            "type" : "string",
            "description" : "The time at which the shared access signature becomes invalid.",
            "format" : "date-time"
          },
          "signedIdentifier" : {
            "maxLength" : 64,
            "type" : "string",
            "description" : "A unique value up to 64 characters in length that correlates to an access policy specified for the container, queue, or table."
          },
          "signedIp" : {
            "type" : "string",
            "description" : "An IP address or a range of IP addresses from which to accept requests."
          },
          "signedPermission" : {
            "type" : "string",
            "description" : "The signed permissions for the service SAS. Possible values include: Read (r), Write (w), Delete (d), List (l), Add (a), Create (c), Update (u) and Process (p).",
            "enum" : [ "r", "d", "w", "l", "a", "c", "u", "p" ]
          },
          "signedProtocol" : {
            "type" : "string",
            "description" : "The protocol permitted for a request made with the account SAS.",
            "enum" : [ "https,http", "https" ]
          },
          "signedResource" : {
            "type" : "string",
            "description" : "The signed services accessible with the service SAS. Possible values include: Blob (b), Container (c), File (f), Share (s).",
            "enum" : [ "b", "c", "f", "s" ]
          },
          "signedStart" : {
            "type" : "string",
            "description" : "The time at which the SAS becomes valid.",
            "format" : "date-time"
          },
          "startPk" : {
            "type" : "string",
            "description" : "The start of partition key."
          },
          "startRk" : {
            "type" : "string",
            "description" : "The start of row key."
          }
        },
        "description" : "The parameters to list service SAS credentials of a specific resource."
      },
      "ServiceSpecification" : {
        "type" : "object",
        "properties" : {
          "metricSpecifications" : {
            "type" : "array",
            "description" : "Metric specifications of operation.",
            "items" : {
              "$ref" : "#/components/schemas/MetricSpecification"
            }
          }
        },
        "description" : "One property of operation, include metric specifications."
      },
      "Sku" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "capabilities" : {
            "type" : "array",
            "description" : "The capability information in the specified SKU, including file encryption, network ACLs, change notification, etc.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/SKUCapability"
            }
          },
          "kind" : {
            "type" : "string",
            "description" : "Indicates the type of storage account.",
            "readOnly" : true,
            "enum" : [ "Storage", "StorageV2", "BlobStorage", "FileStorage", "BlockBlobStorage" ]
          },
          "locations" : {
            "type" : "array",
            "description" : "The set of locations that the SKU is available. This will be supported and registered Azure Geo Regions (e.g. West US, East US, Southeast Asia, etc.).",
            "readOnly" : true,
            "items" : {
              "type" : "string"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the SKU name. Required for account creation; optional for update. Note that in older versions, SKU name was called accountType.",
            "enum" : [ "Standard_LRS", "Standard_GRS", "Standard_RAGRS", "Standard_ZRS", "Premium_LRS", "Premium_ZRS", "Standard_GZRS", "Standard_RAGZRS" ]
          },
          "resourceType" : {
            "type" : "string",
            "description" : "The type of the resource, usually it is 'storageAccounts'.",
            "readOnly" : true
          },
          "restrictions" : {
            "type" : "array",
            "description" : "The restrictions because of which SKU cannot be used. This is empty if there are no restrictions.",
            "items" : {
              "$ref" : "#/components/schemas/Restriction"
            }
          },
          "tier" : {
            "type" : "string",
            "description" : "Gets the SKU tier. This is based on the SKU name.",
            "readOnly" : true,
            "enum" : [ "Standard", "Premium" ]
          }
        },
        "description" : "The SKU of the storage account."
      },
      "StorageAccount" : {
        "properties" : {
          "identity" : {
            "$ref" : "#/components/schemas/Identity"
          },
          "kind" : {
            "type" : "string",
            "description" : "Gets the Kind.",
            "readOnly" : true,
            "enum" : [ "Storage", "StorageV2", "BlobStorage", "FileStorage", "BlockBlobStorage" ]
          },
          "properties" : {
            "$ref" : "#/components/schemas/StorageAccountProperties"
          },
          "sku" : {
            "$ref" : "#/components/schemas/Sku"
          }
        },
        "description" : "The storage account.",
        "allOf" : [ {
          "properties" : {
            "location" : {
              "type" : "string",
              "description" : "The geo-location where the resource lives"
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            }
          },
          "description" : "The resource model definition for a ARM tracked top level resource",
          "allOf" : [ {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "The name of the resource",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.",
                "readOnly" : true
              }
            }
          } ]
        } ]
      },
      "StorageAccountCheckNameAvailabilityParameters" : {
        "required" : [ "name", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The storage account name."
          },
          "type" : {
            "type" : "string",
            "description" : "The type of resource, Microsoft.Storage/storageAccounts",
            "enum" : [ "Microsoft.Storage/storageAccounts" ]
          }
        },
        "description" : "The parameters used to check the availability of the storage account name."
      },
      "StorageAccountCreateParameters" : {
        "required" : [ "kind", "location", "sku" ],
        "type" : "object",
        "properties" : {
          "identity" : {
            "$ref" : "#/components/schemas/Identity"
          },
          "kind" : {
            "type" : "string",
            "description" : "Required. Indicates the type of storage account.",
            "enum" : [ "Storage", "StorageV2", "BlobStorage", "FileStorage", "BlockBlobStorage" ]
          },
          "location" : {
            "type" : "string",
            "description" : "Required. Gets or sets the location of the resource. This will be one of the supported and registered Azure Geo Regions (e.g. West US, East US, Southeast Asia, etc.). The geo region of a resource cannot be changed once it is created, but if an identical geo region is specified on update, the request will succeed."
          },
          "properties" : {
            "$ref" : "#/components/schemas/StorageAccountPropertiesCreateParameters"
          },
          "sku" : {
            "$ref" : "#/components/schemas/Sku"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Gets or sets a list of key value pairs that describe the resource. These tags can be used for viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key with a length no greater than 128 characters and a value with a length no greater than 256 characters."
          }
        },
        "description" : "The parameters used when creating a storage account."
      },
      "StorageAccountKey" : {
        "type" : "object",
        "properties" : {
          "keyName" : {
            "type" : "string",
            "description" : "Name of the key.",
            "readOnly" : true
          },
          "permissions" : {
            "type" : "string",
            "description" : "Permissions for the key -- read-only or full permissions.",
            "readOnly" : true,
            "enum" : [ "Read", "Full" ]
          },
          "value" : {
            "type" : "string",
            "description" : "Base 64-encoded value of the key.",
            "readOnly" : true
          }
        },
        "description" : "An access key for the storage account."
      },
      "StorageAccountListKeysResult" : {
        "type" : "object",
        "properties" : {
          "keys" : {
            "type" : "array",
            "description" : "Gets the list of storage account keys and their properties for the specified storage account.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/StorageAccountKey"
            }
          }
        },
        "description" : "The response from the ListKeys operation."
      },
      "StorageAccountListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Request URL that can be used to query next page of storage accounts. Returned when total number of requested storage accounts exceed maximum page size.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Gets the list of storage accounts and their properties.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/StorageAccount"
            }
          }
        },
        "description" : "The response from the List Storage Accounts operation."
      },
      "StorageAccountProperties" : {
        "type" : "object",
        "properties" : {
          "accessTier" : {
            "type" : "string",
            "description" : "Required for storage accounts where kind = BlobStorage. The access tier used for billing.",
            "readOnly" : true,
            "enum" : [ "Hot", "Cool" ]
          },
          "azureFilesIdentityBasedAuthentication" : {
            "$ref" : "#/components/schemas/AzureFilesIdentityBasedAuthentication"
          },
          "creationTime" : {
            "type" : "string",
            "description" : "Gets the creation date and time of the storage account in UTC.",
            "format" : "date-time",
            "readOnly" : true
          },
          "customDomain" : {
            "$ref" : "#/components/schemas/CustomDomain"
          },
          "encryption" : {
            "$ref" : "#/components/schemas/Encryption"
          },
          "failoverInProgress" : {
            "type" : "boolean",
            "description" : "If the failover is in progress, the value will be true, otherwise, it will be null.",
            "readOnly" : true
          },
          "geoReplicationStats" : {
            "$ref" : "#/components/schemas/GeoReplicationStats"
          },
          "isHnsEnabled" : {
            "type" : "boolean",
            "description" : "Account HierarchicalNamespace enabled if sets to true."
          },
          "largeFileSharesState" : {
            "type" : "string",
            "description" : "Allow large file shares if sets to Enabled. It cannot be disabled once it is enabled.",
            "enum" : [ "Disabled", "Enabled" ]
          },
          "lastGeoFailoverTime" : {
            "type" : "string",
            "description" : "Gets the timestamp of the most recent instance of a failover to the secondary location. Only the most recent timestamp is retained. This element is not returned if there has never been a failover instance. Only available if the accountType is Standard_GRS or Standard_RAGRS.",
            "format" : "date-time",
            "readOnly" : true
          },
          "networkAcls" : {
            "$ref" : "#/components/schemas/NetworkRuleSet"
          },
          "primaryEndpoints" : {
            "$ref" : "#/components/schemas/Endpoints"
          },
          "primaryLocation" : {
            "type" : "string",
            "description" : "Gets the location of the primary data center for the storage account.",
            "readOnly" : true
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "Gets the status of the storage account at the time the operation was called.",
            "readOnly" : true,
            "enum" : [ "Creating", "ResolvingDNS", "Succeeded" ]
          },
          "secondaryEndpoints" : {
            "$ref" : "#/components/schemas/Endpoints"
          },
          "secondaryLocation" : {
            "type" : "string",
            "description" : "Gets the location of the geo-replicated secondary for the storage account. Only available if the accountType is Standard_GRS or Standard_RAGRS.",
            "readOnly" : true
          },
          "statusOfPrimary" : {
            "type" : "string",
            "description" : "Gets the status indicating whether the primary location of the storage account is available or unavailable.",
            "readOnly" : true,
            "enum" : [ "available", "unavailable" ]
          },
          "statusOfSecondary" : {
            "type" : "string",
            "description" : "Gets the status indicating whether the secondary location of the storage account is available or unavailable. Only available if the SKU name is Standard_GRS or Standard_RAGRS.",
            "readOnly" : true,
            "enum" : [ "available", "unavailable" ]
          },
          "supportsHttpsTrafficOnly" : {
            "type" : "boolean",
            "description" : "Allows https traffic only to storage service if sets to true."
          }
        },
        "description" : "Properties of the storage account."
      },
      "StorageAccountPropertiesCreateParameters" : {
        "type" : "object",
        "properties" : {
          "accessTier" : {
            "type" : "string",
            "description" : "Required for storage accounts where kind = BlobStorage. The access tier used for billing.",
            "enum" : [ "Hot", "Cool" ]
          },
          "azureFilesIdentityBasedAuthentication" : {
            "$ref" : "#/components/schemas/AzureFilesIdentityBasedAuthentication"
          },
          "customDomain" : {
            "$ref" : "#/components/schemas/CustomDomain"
          },
          "encryption" : {
            "$ref" : "#/components/schemas/Encryption"
          },
          "isHnsEnabled" : {
            "type" : "boolean",
            "description" : "Account HierarchicalNamespace enabled if sets to true."
          },
          "largeFileSharesState" : {
            "type" : "string",
            "description" : "Allow large file shares if sets to Enabled. It cannot be disabled once it is enabled.",
            "enum" : [ "Disabled", "Enabled" ]
          },
          "networkAcls" : {
            "$ref" : "#/components/schemas/NetworkRuleSet"
          },
          "supportsHttpsTrafficOnly" : {
            "type" : "boolean",
            "description" : "Allows https traffic only to storage service if sets to true. The default value is true since API version 2019-04-01."
          }
        },
        "description" : "The parameters used to create the storage account."
      },
      "StorageAccountPropertiesUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "accessTier" : {
            "type" : "string",
            "description" : "Required for storage accounts where kind = BlobStorage. The access tier used for billing.",
            "enum" : [ "Hot", "Cool" ]
          },
          "azureFilesIdentityBasedAuthentication" : {
            "$ref" : "#/components/schemas/AzureFilesIdentityBasedAuthentication"
          },
          "customDomain" : {
            "$ref" : "#/components/schemas/CustomDomain"
          },
          "encryption" : {
            "$ref" : "#/components/schemas/Encryption"
          },
          "largeFileSharesState" : {
            "type" : "string",
            "description" : "Allow large file shares if sets to Enabled. It cannot be disabled once it is enabled.",
            "enum" : [ "Disabled", "Enabled" ]
          },
          "networkAcls" : {
            "$ref" : "#/components/schemas/NetworkRuleSet"
          },
          "supportsHttpsTrafficOnly" : {
            "type" : "boolean",
            "description" : "Allows https traffic only to storage service if sets to true."
          }
        },
        "description" : "The parameters used when updating a storage account."
      },
      "StorageAccountRegenerateKeyParameters" : {
        "required" : [ "keyName" ],
        "type" : "object",
        "properties" : {
          "keyName" : {
            "type" : "string",
            "description" : "The name of storage keys that want to be regenerated, possible values are key1, key2, kerb1, kerb2."
          }
        },
        "description" : "The parameters used to regenerate the storage account key."
      },
      "StorageAccountUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "identity" : {
            "$ref" : "#/components/schemas/Identity"
          },
          "kind" : {
            "type" : "string",
            "description" : "Optional. Indicates the type of storage account. Currently only StorageV2 value supported by server.",
            "enum" : [ "Storage", "StorageV2", "BlobStorage", "FileStorage", "BlockBlobStorage" ]
          },
          "properties" : {
            "$ref" : "#/components/schemas/StorageAccountPropertiesUpdateParameters"
          },
          "sku" : {
            "$ref" : "#/components/schemas/Sku"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater in length than 128 characters and a value no greater in length than 256 characters."
          }
        },
        "description" : "The parameters that can be provided when updating the storage account properties."
      },
      "StorageSkuListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "Get the list result of storage SKUs and their properties.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/Sku"
            }
          }
        },
        "description" : "The response from the List Storage SKUs operation."
      },
      "Usage" : {
        "type" : "object",
        "properties" : {
          "currentValue" : {
            "type" : "integer",
            "description" : "Gets the current count of the allocated resources in the subscription.",
            "format" : "int32",
            "readOnly" : true
          },
          "limit" : {
            "type" : "integer",
            "description" : "Gets the maximum count of the resources that can be allocated in the subscription.",
            "format" : "int32",
            "readOnly" : true
          },
          "name" : {
            "$ref" : "#/components/schemas/UsageName"
          },
          "unit" : {
            "type" : "string",
            "description" : "Gets the unit of measurement.",
            "readOnly" : true,
            "enum" : [ "Count", "Bytes", "Seconds", "Percent", "CountsPerSecond", "BytesPerSecond" ]
          }
        },
        "description" : "Describes Storage Resource Usage."
      },
      "UsageListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "Gets or sets the list of Storage Resource Usages.",
            "items" : {
              "$ref" : "#/components/schemas/Usage"
            }
          }
        },
        "description" : "The response from the List Usages operation."
      },
      "UsageName" : {
        "type" : "object",
        "properties" : {
          "localizedValue" : {
            "type" : "string",
            "description" : "Gets a localized string describing the resource name.",
            "readOnly" : true
          },
          "value" : {
            "type" : "string",
            "description" : "Gets a string describing the resource name.",
            "readOnly" : true
          }
        },
        "description" : "The usage names that can be used; currently limited to StorageAccount."
      },
      "VirtualNetworkRule" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "action" : {
            "type" : "string",
            "description" : "The action of virtual network rule.",
            "default" : "Allow",
            "enum" : [ "Allow" ]
          },
          "id" : {
            "type" : "string",
            "description" : "Resource ID of a subnet, for example: /subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.Network/virtualNetworks/{vnetName}/subnets/{subnetName}."
          },
          "state" : {
            "type" : "string",
            "description" : "Gets the state of virtual network rule.",
            "enum" : [ "provisioning", "deprovisioning", "succeeded", "failed", "networkSourceDeleted" ]
          }
        },
        "description" : "Virtual Network rule."
      }
    },
    "parameters" : {
      "ManagementPolicyName" : {
        "name" : "managementPolicyName",
        "in" : "path",
        "description" : "The name of the Storage Account Management Policy. It should always be 'default'",
        "required" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "default" ]
        }
      },
      "ResourceGroupName" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
        "required" : true,
        "schema" : {
          "maxLength" : 90,
          "minLength" : 1,
          "pattern" : "^[-\\w\\._\\(\\)]+$",
          "type" : "string"
        }
      },
      "StorageAccountName" : {
        "name" : "accountName",
        "in" : "path",
        "description" : "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
        "required" : true,
        "schema" : {
          "maxLength" : 24,
          "minLength" : 3,
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}