{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Relay",
    "description" : "Use these API to manage Azure Relay resources through Azure Resource Manager.",
    "version" : "2017-04-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.Relay/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Lists all available Relay REST API operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Relay/checkNameAvailability" : {
      "post" : {
        "tags" : [ "Namespaces" ],
        "description" : "Check the specified namespace name availability.",
        "operationId" : "Namespaces_CheckNameAvailability",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters to check availability of the specified namespace name.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckNameAvailability"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Check availability returned successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckNameAvailabilityResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Relay/namespaces" : {
      "get" : {
        "tags" : [ "Namespaces" ],
        "description" : "Lists all the available namespaces within the subscription regardless of the resourceGroups.",
        "operationId" : "Namespaces_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Namespaces returned successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelayNamespaceListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces" : {
      "get" : {
        "tags" : [ "Namespaces" ],
        "description" : "Lists all the available namespaces within the ResourceGroup.",
        "operationId" : "Namespaces_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Namespaces by resource group returned successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelayNamespaceListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}" : {
      "get" : {
        "tags" : [ "Namespaces" ],
        "description" : "Returns the description for the specified namespace.",
        "operationId" : "Namespaces_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Namespace description returned successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelayNamespace"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Namespaces" ],
        "description" : "Create Azure Relay namespace.",
        "operationId" : "Namespaces_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to create a namespace resource.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RelayNamespace"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Namespace create request succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelayNamespace"
                }
              }
            }
          },
          "201" : {
            "description" : "Namespace create request accepted.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelayNamespace"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Namespaces" ],
        "description" : "Deletes an existing namespace. This operation also removes all associated resources under the namespace.",
        "operationId" : "Namespaces_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Namespace delete request succeeded."
          },
          "202" : {
            "description" : "Namespace delete request has been accepted for processing and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Namespace delete request has been accepted, but the namespace was not found."
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Namespaces" ],
        "description" : "Creates or updates a namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.",
        "operationId" : "Namespaces_Update",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters for updating a namespace resource.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RelayUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Namespace successfuly updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelayNamespace"
                }
              }
            }
          },
          "201" : {
            "description" : "Namespace update request accepted.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelayNamespace"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/authorizationRules" : {
      "get" : {
        "tags" : [ "Namespaces" ],
        "description" : "Authorization rules for a namespace.",
        "operationId" : "Namespaces_ListAuthorizationRules",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Namespace authorization rule returned successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationRuleListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}" : {
      "get" : {
        "tags" : [ "Namespaces" ],
        "description" : "Authorization rule for a namespace by name.",
        "operationId" : "Namespaces_GetAuthorizationRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The authorization rule name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Namespace Authorization rule returned successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationRule"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Namespaces" ],
        "description" : "Creates or updates an authorization rule for a namespace.",
        "operationId" : "Namespaces_CreateOrUpdateAuthorizationRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The authorization rule name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The authorization rule parameters.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuthorizationRule"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request to create namespace authorization rule succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationRule"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Namespaces" ],
        "description" : "Deletes a namespace authorization rule.",
        "operationId" : "Namespaces_DeleteAuthorizationRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The authorization rule name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request to delete namespace authorization rule succeeded."
          },
          "204" : {
            "description" : "No content. The request has been accepted but the namespace authorization rule was not found."
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}/listKeys" : {
      "post" : {
        "tags" : [ "Namespaces" ],
        "description" : "Primary and secondary connection strings to the namespace.",
        "operationId" : "Namespaces_ListKeys",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The authorization rule name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessKeys"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}/regenerateKeys" : {
      "post" : {
        "tags" : [ "Namespaces" ],
        "description" : "Regenerates the primary or secondary connection strings to the namespace.",
        "operationId" : "Namespaces_RegenerateKeys",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The authorization rule name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to regenerate authorization rule.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegenerateAccessKeyParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessKeys"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections" : {
      "get" : {
        "tags" : [ "HybridConnections" ],
        "description" : "Lists the hybrid connection within the namespace.",
        "operationId" : "HybridConnections_ListByNamespace",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request to retrieve hybrid connections by namespace succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HybridConnectionListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}" : {
      "get" : {
        "tags" : [ "HybridConnections" ],
        "description" : "Returns the description for the specified hybrid connection.",
        "operationId" : "HybridConnections_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "hybridConnectionName",
          "in" : "path",
          "description" : "The hybrid connection name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved description for the hybrid connection.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HybridConnection"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "HybridConnections" ],
        "description" : "Creates or updates a service hybrid connection. This operation is idempotent.",
        "operationId" : "HybridConnections_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "hybridConnectionName",
          "in" : "path",
          "description" : "The hybrid connection name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to create a hybrid connection.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HybridConnection"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request to create hybrid connections succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HybridConnection"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "HybridConnections" ],
        "description" : "Deletes a hybrid connection.",
        "operationId" : "HybridConnections_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "hybridConnectionName",
          "in" : "path",
          "description" : "The hybrid connection name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request to delete hybrid connection succeeded."
          },
          "204" : {
            "description" : "No content. The request has been accepted but the hybrid connection was not found."
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules" : {
      "get" : {
        "tags" : [ "HybridConnections" ],
        "description" : "Authorization rules for a hybrid connection.",
        "operationId" : "HybridConnections_ListAuthorizationRules",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "hybridConnectionName",
          "in" : "path",
          "description" : "The hybrid connection name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Authorization rules successfully returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationRuleListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}" : {
      "get" : {
        "tags" : [ "HybridConnections" ],
        "description" : "Hybrid connection authorization rule for a hybrid connection by name.",
        "operationId" : "HybridConnections_GetAuthorizationRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "hybridConnectionName",
          "in" : "path",
          "description" : "The hybrid connection name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The authorization rule name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hybrid connection authorization rule returned successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationRule"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "HybridConnections" ],
        "description" : "Creates or updates an authorization rule for a hybrid connection.",
        "operationId" : "HybridConnections_CreateOrUpdateAuthorizationRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "hybridConnectionName",
          "in" : "path",
          "description" : "The hybrid connection name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The authorization rule name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The authorization rule parameters.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuthorizationRule"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Hybrid connection authorization rule created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationRule"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "HybridConnections" ],
        "description" : "Deletes a hybrid connection authorization rule.",
        "operationId" : "HybridConnections_DeleteAuthorizationRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "hybridConnectionName",
          "in" : "path",
          "description" : "The hybrid connection name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The authorization rule name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hybrid connection authorization rule deleted."
          },
          "204" : {
            "description" : "Authorization rule does not exist."
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}/listKeys" : {
      "post" : {
        "tags" : [ "HybridConnections" ],
        "description" : "Primary and secondary connection strings to the hybrid connection.",
        "operationId" : "HybridConnections_ListKeys",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "hybridConnectionName",
          "in" : "path",
          "description" : "The hybrid connection name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The authorization rule name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request to retirve connection strings to the hybrid connection succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessKeys"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}/regenerateKeys" : {
      "post" : {
        "tags" : [ "HybridConnections" ],
        "description" : "Regenerates the primary or secondary connection strings to the hybrid connection.",
        "operationId" : "HybridConnections_RegenerateKeys",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "hybridConnectionName",
          "in" : "path",
          "description" : "The hybrid connection name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The authorization rule name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to regenerate authorization rule.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegenerateAccessKeyParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request to regenerate connection strings to hybrid connection succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessKeys"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays" : {
      "get" : {
        "tags" : [ "WCFRelays" ],
        "description" : "Lists the WCF relays within the namespace.",
        "operationId" : "WCFRelays_ListByNamespace",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "WCF relays returned successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WcfRelaysListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}" : {
      "get" : {
        "tags" : [ "WCFRelays" ],
        "description" : "Returns the description for the specified WCF relay.",
        "operationId" : "WCFRelays_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "relayName",
          "in" : "path",
          "description" : "The relay name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved WCF relay description.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WcfRelay"
                }
              }
            }
          },
          "204" : {
            "description" : "WCF relay not found"
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "WCFRelays" ],
        "description" : "Creates or updates a WCF relay. This operation is idempotent.",
        "operationId" : "WCFRelays_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "relayName",
          "in" : "path",
          "description" : "The relay name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to create a WCF relay.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WcfRelay"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request to create WCF relay succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WcfRelay"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "WCFRelays" ],
        "description" : "Deletes a WCF relay.",
        "operationId" : "WCFRelays_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "relayName",
          "in" : "path",
          "description" : "The relay name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "WCF relay deleted."
          },
          "204" : {
            "description" : "No content."
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}/authorizationRules" : {
      "get" : {
        "tags" : [ "WCFRelays" ],
        "description" : "Authorization rules for a WCF relay.",
        "operationId" : "WCFRelays_ListAuthorizationRules",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "relayName",
          "in" : "path",
          "description" : "The relay name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Authorization rules successfully returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationRuleListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}/authorizationRules/{authorizationRuleName}" : {
      "get" : {
        "tags" : [ "WCFRelays" ],
        "description" : "Get authorizationRule for a WCF relay by name.",
        "operationId" : "WCFRelays_GetAuthorizationRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "relayName",
          "in" : "path",
          "description" : "The relay name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The authorization rule name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request for WCF relay authorization rule succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationRule"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "WCFRelays" ],
        "description" : "Creates or updates an authorization rule for a WCF relay.",
        "operationId" : "WCFRelays_CreateOrUpdateAuthorizationRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "relayName",
          "in" : "path",
          "description" : "The relay name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The authorization rule name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The authorization rule parameters.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuthorizationRule"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "WCF relay authorization rule created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationRule"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "WCFRelays" ],
        "description" : "Deletes a WCF relay authorization rule.",
        "operationId" : "WCFRelays_DeleteAuthorizationRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "relayName",
          "in" : "path",
          "description" : "The relay name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The authorization rule name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request to delete WCF relay authorization rule succeeded."
          },
          "204" : {
            "description" : "Request accepted butthe authorization rule does not exist."
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}/authorizationRules/{authorizationRuleName}/listKeys" : {
      "post" : {
        "tags" : [ "WCFRelays" ],
        "description" : "Primary and secondary connection strings to the WCF relay.",
        "operationId" : "WCFRelays_ListKeys",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "relayName",
          "in" : "path",
          "description" : "The relay name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The authorization rule name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessKeys"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}/authorizationRules/{authorizationRuleName}/regenerateKeys" : {
      "post" : {
        "tags" : [ "WCFRelays" ],
        "description" : "Regenerates the primary or secondary connection strings to the WCF relay.",
        "operationId" : "WCFRelays_RegenerateKeys",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string"
          }
        }, {
          "name" : "relayName",
          "in" : "path",
          "description" : "The relay name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The authorization rule name.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to regenerate authorization rule.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegenerateAccessKeyParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessKeys"
                }
              }
            }
          },
          "default" : {
            "description" : "Relay error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AccessKeys" : {
        "type" : "object",
        "properties" : {
          "keyName" : {
            "type" : "string",
            "description" : "A string that describes the authorization rule."
          },
          "primaryConnectionString" : {
            "type" : "string",
            "description" : "Primary connection string of the created namespace authorization rule."
          },
          "primaryKey" : {
            "type" : "string",
            "description" : "A base64-encoded 256-bit primary key for signing and validating the SAS token."
          },
          "secondaryConnectionString" : {
            "type" : "string",
            "description" : "Secondary connection string of the created namespace authorization rule."
          },
          "secondaryKey" : {
            "type" : "string",
            "description" : "A base64-encoded 256-bit secondary key for signing and validating the SAS token."
          }
        },
        "description" : "Namespace/Relay Connection String"
      },
      "AuthorizationRule" : {
        "properties" : {
          "properties" : {
            "required" : [ "rights" ],
            "type" : "object",
            "properties" : {
              "rights" : {
                "uniqueItems" : true,
                "type" : "array",
                "description" : "The rights associated with the rule.",
                "items" : {
                  "type" : "string",
                  "enum" : [ "Manage", "Send", "Listen" ]
                }
              }
            },
            "description" : "Authorization rule properties."
          }
        },
        "description" : "Description of a namespace authorization rule.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "AuthorizationRuleListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to the next set of results. Not empty if value contains incomplete list of authorization rules."
          },
          "value" : {
            "type" : "array",
            "description" : "Result of the list authorization rules operation.",
            "items" : {
              "$ref" : "#/components/schemas/AuthorizationRule"
            }
          }
        },
        "description" : "The response from the list namespace operation."
      },
      "CheckNameAvailability" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The namespace name to check for availability. The namespace name can contain only letters, numbers, and hyphens. The namespace must start with a letter, and it must end with a letter or number."
          }
        },
        "description" : "Description of the check name availability request properties."
      },
      "CheckNameAvailabilityResult" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "The detailed info regarding the reason associated with the namespace.",
            "readOnly" : true
          },
          "nameAvailable" : {
            "type" : "boolean",
            "description" : "Value indicating namespace is available. Returns true if the namespace is available; otherwise, false."
          },
          "reason" : {
            "$ref" : "#/components/schemas/UnavailableReason"
          }
        },
        "description" : "Description of the check name availability request properties."
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code."
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating why the operation failed."
          }
        },
        "description" : "Error reponse indicates Relay service is not able to process the incoming request. The reason is provided in the error message."
      },
      "HybridConnection" : {
        "properties" : {
          "properties" : {
            "type" : "object",
            "properties" : {
              "createdAt" : {
                "type" : "string",
                "description" : "The time the hybrid connection was created.",
                "format" : "date-time",
                "readOnly" : true
              },
              "listenerCount" : {
                "maximum" : 25,
                "minimum" : 0,
                "type" : "integer",
                "description" : "The number of listeners for this hybrid connection. Note that min : 1 and max:25 are supported.",
                "format" : "int32",
                "readOnly" : true
              },
              "requiresClientAuthorization" : {
                "type" : "boolean",
                "description" : "Returns true if client authorization is needed for this hybrid connection; otherwise, false."
              },
              "updatedAt" : {
                "type" : "string",
                "description" : "The time the namespace was updated.",
                "format" : "date-time",
                "readOnly" : true
              },
              "userMetadata" : {
                "type" : "string",
                "description" : "The usermetadata is a placeholder to store user-defined string data for the hybrid connection endpoint. For example, it can be used to store descriptive data, such as a list of teams and their contact information. Also, user-defined configuration settings can be stored."
              }
            },
            "description" : "Properties of the HybridConnection."
          }
        },
        "description" : "Description of hybrid connection resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "HybridConnectionListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to the next set of results. Not empty if value contains incomplete list hybrid connection operation."
          },
          "value" : {
            "type" : "array",
            "description" : "Result of the list hybrid connections.",
            "items" : {
              "$ref" : "#/components/schemas/HybridConnection"
            }
          }
        },
        "description" : "The response of the list hybrid connection operation."
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "type" : "object",
            "properties" : {
              "operation" : {
                "type" : "string",
                "description" : "Operation type: Read, write, delete, etc.",
                "readOnly" : true
              },
              "provider" : {
                "type" : "string",
                "description" : "Service provider: Relay.",
                "readOnly" : true
              },
              "resource" : {
                "type" : "string",
                "description" : "Resource on which the operation is performed: Invoice, etc.",
                "readOnly" : true
              }
            },
            "description" : "The object that represents the operation."
          },
          "name" : {
            "type" : "string",
            "description" : "Operation name: {provider}/{resource}/{operation}",
            "readOnly" : true
          }
        },
        "description" : "A Relay REST API operation."
      },
      "OperationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of operation list results if there are any.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of Relay operations supported by resource provider.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "Result of the request to list Relay operations. It contains a list of operations and a URL link to get the next set of results."
      },
      "RegenerateAccessKeyParameters" : {
        "required" : [ "keyType" ],
        "type" : "object",
        "properties" : {
          "key" : {
            "type" : "string",
            "description" : "Optional. If the key value is provided, this is set to key type, or autogenerated key value set for key type."
          },
          "keyType" : {
            "type" : "string",
            "description" : "The access key to regenerate.",
            "enum" : [ "PrimaryKey", "SecondaryKey" ]
          }
        },
        "description" : "Parameters supplied to the regenerate authorization rule operation, specifies which key neeeds to be reset."
      },
      "RelayNamespace" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/RelayNamespaceProperties"
          },
          "sku" : {
            "$ref" : "#/components/schemas/Sku"
          }
        },
        "description" : "Description of a namespace resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/TrackedResource"
        } ]
      },
      "RelayNamespaceListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to the next set of results. Not empty if value contains incomplete list of namespaces."
          },
          "value" : {
            "type" : "array",
            "description" : "Result of the list namespace operation.",
            "items" : {
              "$ref" : "#/components/schemas/RelayNamespace"
            }
          }
        },
        "description" : "The response from the list namespace operation."
      },
      "RelayNamespaceProperties" : {
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The time the namespace was created.",
            "format" : "date-time",
            "readOnly" : true
          },
          "metricId" : {
            "type" : "string",
            "description" : "Identifier for Azure Insights metrics.",
            "readOnly" : true
          },
          "provisioningState" : {
            "type" : "string",
            "readOnly" : true,
            "enum" : [ "Created", "Succeeded", "Deleted", "Failed", "Updating", "Unknown" ]
          },
          "serviceBusEndpoint" : {
            "type" : "string",
            "description" : "Endpoint you can use to perform Service Bus operations.",
            "readOnly" : true
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The time the namespace was updated.",
            "format" : "date-time",
            "readOnly" : true
          }
        },
        "description" : "Properties of the namespace."
      },
      "RelayUpdateParameters" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/RelayNamespaceProperties"
          },
          "sku" : {
            "$ref" : "#/components/schemas/Sku"
          }
        },
        "description" : "Description of a namespace resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ResourceNamespacePatch"
        } ]
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource ID.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type.",
            "readOnly" : true
          }
        },
        "description" : "The resource definition."
      },
      "ResourceNamespacePatch" : {
        "properties" : {
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags."
          }
        },
        "description" : "Definition of resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "Sku" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Name of this SKU.",
            "enum" : [ "Standard" ]
          },
          "tier" : {
            "type" : "string",
            "description" : "The tier of this SKU.",
            "enum" : [ "Standard" ]
          }
        },
        "description" : "SKU of the namespace."
      },
      "TrackedResource" : {
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "Resource location."
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags."
          }
        },
        "description" : "Definition of resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "UnavailableReason" : {
        "type" : "string",
        "description" : "Specifies the reason for the unavailability of the service.",
        "enum" : [ "None", "InvalidName", "SubscriptionIsDisabled", "NameInUse", "NameInLockdown", "TooManyNamespaceInCurrentSubscription" ]
      },
      "WcfRelay" : {
        "properties" : {
          "properties" : {
            "type" : "object",
            "properties" : {
              "createdAt" : {
                "type" : "string",
                "description" : "The time the WCF relay was created.",
                "format" : "date-time",
                "readOnly" : true
              },
              "isDynamic" : {
                "type" : "boolean",
                "description" : "Returns true if the relay is dynamic; otherwise, false.",
                "readOnly" : true
              },
              "listenerCount" : {
                "maximum" : 25,
                "minimum" : 0,
                "type" : "integer",
                "description" : "The number of listeners for this relay. Note that min :1 and max:25 are supported.",
                "format" : "int32",
                "readOnly" : true
              },
              "relayType" : {
                "type" : "string",
                "description" : "WCF relay type.",
                "enum" : [ "NetTcp", "Http" ]
              },
              "requiresClientAuthorization" : {
                "type" : "boolean",
                "description" : "Returns true if client authorization is needed for this relay; otherwise, false."
              },
              "requiresTransportSecurity" : {
                "type" : "boolean",
                "description" : "Returns true if transport security is needed for this relay; otherwise, false."
              },
              "updatedAt" : {
                "type" : "string",
                "description" : "The time the namespace was updated.",
                "format" : "date-time",
                "readOnly" : true
              },
              "userMetadata" : {
                "type" : "string",
                "description" : "The usermetadata is a placeholder to store user-defined string data for the WCF Relay endpoint. For example, it can be used to store descriptive data, such as list of teams and their contact information. Also, user-defined configuration settings can be stored."
              }
            },
[...]
