{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "StorageManagementClient",
    "description" : "The Admin Storage Management Client.",
    "version" : "2015-12-01-preview"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/operationresults/{operationId}" : {
      "get" : {
        "tags" : [ "Containers" ],
        "description" : "Returns the status of a container migration job.",
        "operationId" : "Containers_MigrationStatus",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "farmId",
          "in" : "path",
          "description" : "Farm Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "operationId",
          "in" : "path",
          "description" : "Operation Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "REST Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- Operation has been accepted and processed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MigrationResult"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Containers" ],
        "description" : "Cancel a container migration job.",
        "operationId" : "Containers_CancelMigration",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "farmId",
          "in" : "path",
          "description" : "Farm Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "operationId",
          "in" : "path",
          "description" : "Operation Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "REST Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- Operation has been accepted and processed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MigrationResult"
                }
              }
            }
          },
          "202" : {
            "description" : "ACCEPTED - Operation has been accepted will be processed asynchronously",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MigrationResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}/containers" : {
      "get" : {
        "tags" : [ "Containers" ],
        "description" : "Returns the list of containers which can be migrated in the specified share.",
        "operationId" : "Containers_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "farmId",
          "in" : "path",
          "description" : "Farm Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "Share name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "REST Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Intent",
          "in" : "query",
          "description" : "The container migration intent.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "MaxCount",
          "in" : "query",
          "description" : "The maximum number of containers.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "StartIndex",
          "in" : "query",
          "description" : "The starting index the resource provider uses.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- The list of containers has been returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContainerList"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND -- The specified farm or share was not found."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}/destinationshares" : {
      "get" : {
        "tags" : [ "Containers" ],
        "description" : "Returns a list of destination shares that the system considers as best candidates for migration.",
        "operationId" : "Containers_ListDestinationShares",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "farmId",
          "in" : "path",
          "description" : "Farm Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "Share name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "REST Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- The list of shares has been returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "List of storage shares.",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "properties" : {
                        "type" : "object",
                        "properties" : {
                          "freeCapacity" : {
                            "type" : "integer",
                            "description" : "The free space of the storage share in bytes.",
                            "format" : "int64",
                            "readOnly" : true
                          },
                          "healthStatus" : {
                            "type" : "string",
                            "description" : "Current health status.",
                            "readOnly" : true,
                            "enum" : [ "Unknown", "Healthy", "Warning", "Critical" ]
                          },
                          "shareName" : {
                            "type" : "string",
                            "description" : "The name of the storage share.",
                            "readOnly" : true
                          },
                          "totalCapacity" : {
                            "type" : "integer",
                            "description" : "The total capacity of the storage share in bytes.",
                            "format" : "int64",
                            "readOnly" : true
                          },
                          "uncPath" : {
                            "type" : "string",
                            "description" : "The UNC path to the storage share.",
                            "readOnly" : true
                          },
                          "usedCapacity" : {
                            "type" : "integer",
                            "description" : "The used capacity of the storage share in bytes.",
                            "format" : "int64",
                            "readOnly" : true
                          }
                        },
                        "description" : "Storage share properties."
                      }
                    },
                    "description" : "Storage share."
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND -- The specified farm or share was not found."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}/migrate" : {
      "post" : {
        "tags" : [ "Containers" ],
        "description" : "Starts a container migration job to migrate containers to the specified destination share.",
        "operationId" : "Containers_Migrate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "farmId",
          "in" : "path",
          "description" : "Farm Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "Share name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "REST Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters of container migration job.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MigrationParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK -- Container has been migrated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MigrationResult"
                }
              }
            }
          },
          "202" : {
            "description" : "ACCEPTED -- Operation accepted and will be performed asynchronously",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MigrationResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Container" : {
        "type" : "object",
        "properties" : {
          "accountid" : {
            "type" : "string",
            "description" : "The ID of the storage account.",
            "readOnly" : true
          },
          "accountname" : {
            "type" : "string",
            "description" : "The name of storage account where the container locates.",
            "readOnly" : true
          },
          "containerState" : {
            "type" : "string",
            "description" : "The current state of the container.",
            "readOnly" : true
          },
          "containerid" : {
            "type" : "integer",
            "description" : "The container ID.",
            "format" : "int64",
            "readOnly" : true
          },
          "containername" : {
            "type" : "string",
            "description" : "Container name.",
            "readOnly" : true
          },
          "sharename" : {
            "type" : "string",
            "description" : "The name of the share where the container locates.",
            "readOnly" : true
          },
          "usedBytesInPrimaryVolume" : {
            "type" : "integer",
            "description" : "The used space, in bytes, of the container in the primary volume.",
            "format" : "int64",
            "readOnly" : true
          }
        },
        "description" : "Container properties."
      },
      "ContainerList" : {
        "type" : "array",
        "description" : "List of containers.",
        "items" : {
          "$ref" : "#/components/schemas/Container"
        }
      },
      "MigrationParameters" : {
        "required" : [ "containerName", "destinationShareUncPath", "storageAccountName" ],
        "type" : "object",
        "properties" : {
          "containerName" : {
            "type" : "string",
            "description" : "The name of the container to be migrated."
          },
          "destinationShareUncPath" : {
            "type" : "string",
            "description" : "The UNC path of the destination share for migration."
          },
          "storageAccountName" : {
            "type" : "string",
            "description" : "The name of the storage account where the container locates."
          }
        },
        "description" : "Parameters of container migration job."
      },
      "MigrationResult" : {
        "type" : "object",
        "properties" : {
          "containerName" : {
            "type" : "string",
            "description" : "The name of the container to be migrated.",
            "readOnly" : true
          },
          "destinationShareName" : {
            "type" : "string",
            "description" : "The name of the destination storage share.",
            "readOnly" : true
          },
          "failureReason" : {
            "type" : "string",
            "description" : "The migration failure reason.",
            "readOnly" : true
          },
          "jobId" : {
            "type" : "string",
            "description" : "The migration job ID.",
            "readOnly" : true
          },
          "migrationStatus" : {
            "$ref" : "#/components/schemas/MigrationState"
          },
          "sourceShareName" : {
            "type" : "string",
            "description" : "The name of the source storage share.",
            "readOnly" : true
          },
          "storageAccountName" : {
            "type" : "string",
            "description" : "The storage account name.",
            "readOnly" : true
          },
          "subEntitiesCompleted" : {
            "type" : "integer",
            "description" : "The number of entities which have been migrated.",
            "format" : "int64",
            "readOnly" : true
          },
          "subEntitiesFailed" : {
            "type" : "integer",
            "description" : "The number of entities which failed in migration.",
            "format" : "int64",
            "readOnly" : true
          }
        },
        "description" : "The result of the container migration."
      },
      "MigrationState" : {
        "type" : "string",
        "enum" : [ "Active", "Paused", "Deleted", "Rollback", "Complete", "Canceled", "Failed", "All" ]
      }
    },
    "parameters" : {
      "MaxCountParameter" : {
        "name" : "MaxCount",
        "in" : "query",
        "description" : "The maximum number of containers.",
        "schema" : {
          "type" : "integer",
          "format" : "int32"
        }
      },
      "MigrationIntentParameter" : {
        "name" : "Intent",
        "in" : "query",
        "description" : "The container migration intent.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "StartIndexParameter" : {
        "name" : "StartIndex",
        "in" : "query",
        "description" : "The starting index the resource provider uses.",
        "schema" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "requestBodies" : {
      "MigrationParameterParameter" : {
        "description" : "The parameters of container migration job.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/MigrationParameters"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}