{"openapi":"3.0.1","info":{"title":"ApplicationInsightsManagementClient","description":"Azure Application Insights client for selecting pricing plans and options.","version":"2017-10-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/pricingPlans/current":{"get":{"description":"Returns the current pricing plan setting for an Application Insights component.","operationId":"ComponentCurrentPricingPlan_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"An Application Insights component pricing plan definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentPricingPlan"}}}}}},"put":{"description":"Replace current pricing plan for an Application Insights component.","operationId":"ComponentCurrentPricingPlan_CreateAndUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties that need to be specified to update current pricing plan for an Application Insights component.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentPricingPlan"}}},"required":true},"responses":{"200":{"description":"Successful request when updating billing features for an Application Insights component. The updated current billing features are returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentPricingPlan"}}}}}},"patch":{"description":"Update current pricing plan for an Application Insights component.","operationId":"ComponentCurrentPricingPlan_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties that need to be specified to update current pricing plan for an Application Insights component.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentPricingPlan"}}},"required":true},"responses":{"200":{"description":"Successful request when updating billing features for an Application Insights component. The updated current billing features are returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentPricingPlan"}}}}}}}},"components":{"schemas":{"ApplicationInsightsComponentPricingPlan":{"properties":{"properties":{"$ref":"#/components/schemas/PricingPlanProperties"}},"description":"An Application Insights component pricing plan","allOf":[{"$ref":"#/components/schemas/Resource"}]},"PricingPlanProperties":{"type":"object","properties":{"cap":{"type":"number","description":"Daily data volume cap in GB."},"maxHistoryCap":{"type":"number","description":"Maximum daily data volume cap that the user can set for this component.","readOnly":true},"planType":{"type":"string","description":"Pricing Plan Type Name."},"resetHour":{"type":"integer","description":"Daily data volume cap UTC reset hour.","readOnly":true},"stopSendNotificationWhenHitCap":{"type":"boolean","description":"Do not send a notification email when the daily data volume cap is met."},"stopSendNotificationWhenHitThreshold":{"type":"boolean","description":"Reserved, not used for now."},"warningThreshold":{"type":"integer","description":"Reserved, not used for now."}},"description":"An Application Insights component daily data volume cap"},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Azure resource Id.","readOnly":true},"name":{"type":"string","description":"Azure resource name.","readOnly":true},"type":{"type":"string","description":"Azure resource type.","readOnly":true}},"description":"An Azure resource."}},"parameters":{"ResourceNameParameter":{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}