{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "EVE Swagger Interface",
    "description" : "An OpenAPI for EVE Online",
    "version" : "0.8.6"
  },
  "servers" : [ {
    "url" : "https://esi.evetech.net/latest"
  } ],
  "paths" : {
    "/alliances/" : {
      "get" : {
        "tags" : [ "Alliance" ],
        "summary" : "List all alliances",
        "description" : "List all active player alliances\n\n---\nAlternate route: `/dev/alliances/`\n\nAlternate route: `/legacy/alliances/`\n\nAlternate route: `/v1/alliances/`\n\n---\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_alliances",
        "parameters" : [ {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "schema" : {
            "type" : "string",
            "default" : "tranquility",
            "enum" : [ "tranquility", "singularity" ]
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "ETag from a previous request. A 304 will be returned if this matches the current ETag",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of Alliance IDs",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "get_alliances_ok",
                  "maxItems" : 5000,
                  "type" : "array",
                  "description" : "200 ok array",
                  "items" : {
                    "title" : "get_alliances_200_ok",
                    "minimum" : 0,
                    "type" : "integer",
                    "description" : "200 ok integer",
                    "format" : "int32"
                  }
                },
                "example" : [ 99000001, 99000002 ]
              }
            }
          },
          "304" : {
            "description" : "Not modified",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/bad_request"
                },
                "example" : {
                  "error" : "Bad request message"
                }
              }
            }
          },
          "420" : {
            "description" : "Error limited",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_limited"
                },
                "example" : {
                  "error" : "Error limited message"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/internal_server_error"
                },
                "example" : {
                  "error" : "Internal server error message"
                }
              }
            }
          },
          "503" : {
            "description" : "Service unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/service_unavailable"
                },
                "example" : {
                  "error" : "Service unavailable message"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gateway_timeout"
                },
                "example" : {
                  "error" : "Gateway timeout message"
                }
              }
            }
          }
        }
      }
    },
    "/alliances/{alliance_id}/" : {
      "get" : {
        "tags" : [ "Alliance" ],
        "summary" : "Get alliance information",
        "description" : "Public information about an alliance\n\n---\nAlternate route: `/dev/alliances/{alliance_id}/`\n\nAlternate route: `/v3/alliances/{alliance_id}/`\n\n---\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_alliances_alliance_id",
        "parameters" : [ {
          "name" : "alliance_id",
          "in" : "path",
          "description" : "An EVE alliance ID",
          "required" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "schema" : {
            "type" : "string",
            "default" : "tranquility",
            "enum" : [ "tranquility", "singularity" ]
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "ETag from a previous request. A 304 will be returned if this matches the current ETag",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Public data about an alliance",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "get_alliances_alliance_id_ok",
                  "required" : [ "creator_corporation_id", "creator_id", "date_founded", "name", "ticker" ],
                  "type" : "object",
                  "properties" : {
                    "creator_corporation_id" : {
                      "title" : "get_alliances_alliance_id_creator_corporation_id",
                      "type" : "integer",
                      "description" : "ID of the corporation that created the alliance",
                      "format" : "int32"
                    },
                    "creator_id" : {
                      "title" : "get_alliances_alliance_id_creator_id",
                      "type" : "integer",
                      "description" : "ID of the character that created the alliance",
                      "format" : "int32"
                    },
                    "date_founded" : {
                      "title" : "get_alliances_alliance_id_date_founded",
                      "type" : "string",
                      "description" : "date_founded string",
                      "format" : "date-time"
                    },
                    "executor_corporation_id" : {
                      "title" : "get_alliances_alliance_id_executor_corporation_id",
                      "type" : "integer",
                      "description" : "the executor corporation ID, if this alliance is not closed",
                      "format" : "int32"
                    },
                    "faction_id" : {
                      "title" : "get_alliances_alliance_id_faction_id",
                      "type" : "integer",
                      "description" : "Faction ID this alliance is fighting for, if this alliance is enlisted in factional warfare",
                      "format" : "int32"
                    },
                    "name" : {
                      "title" : "get_alliances_alliance_id_name",
                      "type" : "string",
                      "description" : "the full name of the alliance"
                    },
                    "ticker" : {
                      "title" : "get_alliances_alliance_id_ticker",
                      "type" : "string",
                      "description" : "the short name of the alliance"
                    }
                  },
                  "description" : "200 ok object"
                },
                "example" : {
                  "creator_corporation_id" : 45678,
                  "creator_id" : 12345,
                  "date_founded" : "2016-06-26T21:00:00Z",
                  "executor_corporation_id" : 98356193,
                  "name" : "C C P Alliance",
                  "ticker" : "<C C P>"
                }
              }
            }
          },
          "304" : {
            "description" : "Not modified",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/bad_request"
                },
                "example" : {
                  "error" : "Bad request message"
                }
              }
            }
          },
          "404" : {
            "description" : "Alliance not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "get_alliances_alliance_id_not_found",
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "title" : "get_alliances_alliance_id_404_not_found",
                      "type" : "string",
                      "description" : "Not found message"
                    }
                  },
                  "description" : "Not found"
                },
                "example" : {
                  "error" : "Not found message"
                }
              }
            }
          },
          "420" : {
            "description" : "Error limited",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_limited"
                },
                "example" : {
                  "error" : "Error limited message"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/internal_server_error"
                },
                "example" : {
                  "error" : "Internal server error message"
                }
              }
            }
          },
          "503" : {
            "description" : "Service unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/service_unavailable"
                },
                "example" : {
                  "error" : "Service unavailable message"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gateway_timeout"
                },
                "example" : {
                  "error" : "Gateway timeout message"
                }
              }
            }
          }
        }
      }
    },
    "/alliances/{alliance_id}/contacts/" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Get alliance contacts",
        "description" : "Return contacts of an alliance\n\n---\nAlternate route: `/dev/alliances/{alliance_id}/contacts/`\n\nAlternate route: `/v2/alliances/{alliance_id}/contacts/`\n\n---\nThis route is cached for up to 300 seconds",
        "operationId" : "get_alliances_alliance_id_contacts",
        "parameters" : [ {
          "name" : "alliance_id",
          "in" : "path",
          "description" : "An EVE alliance ID",
          "required" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "schema" : {
            "type" : "string",
            "default" : "tranquility",
            "enum" : [ "tranquility", "singularity" ]
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "ETag from a previous request. A 304 will be returned if this matches the current ETag",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Which page of results to return",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "token",
          "in" : "query",
          "description" : "Access token to use if unable to set a header",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of contacts",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "X-Pages" : {
                "description" : "Maximum page number",
                "schema" : {
                  "type" : "integer",
                  "format" : "int32",
                  "default" : 1
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "get_alliances_alliance_id_contacts_ok",
                  "maxItems" : 1000,
                  "type" : "array",
                  "description" : "200 ok array",
                  "items" : {
                    "title" : "get_alliances_alliance_id_contacts_200_ok",
                    "required" : [ "contact_id", "contact_type", "standing" ],
                    "type" : "object",
                    "properties" : {
                      "contact_id" : {
                        "title" : "get_alliances_alliance_id_contacts_contact_id",
                        "type" : "integer",
                        "description" : "contact_id integer",
                        "format" : "int32"
                      },
                      "contact_type" : {
                        "title" : "get_alliances_alliance_id_contacts_contact_type",
                        "type" : "string",
                        "description" : "contact_type string",
                        "enum" : [ "character", "corporation", "alliance", "faction" ]
                      },
                      "label_ids" : {
                        "title" : "get_alliances_alliance_id_contacts_label_ids",
                        "maxItems" : 63,
                        "type" : "array",
                        "description" : "label_ids array",
                        "items" : {
                          "title" : "get_alliances_alliance_id_contacts_label_id",
                          "type" : "integer",
                          "description" : "Label IDs applied to the contact",
                          "format" : "int64"
                        }
                      },
                      "standing" : {
                        "title" : "get_alliances_alliance_id_contacts_standing",
                        "type" : "number",
                        "description" : "Standing of the contact",
                        "format" : "float"
                      }
                    },
                    "description" : "200 ok object"
                  }
                },
                "example" : [ {
                  "contact_id" : 2112625428,
                  "contact_type" : "character",
                  "standing" : 9.9
                } ]
              }
            }
          },
          "304" : {
            "description" : "Not modified",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/bad_request"
                },
                "example" : {
                  "error" : "Bad request message"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unauthorized"
                },
                "example" : {
                  "error" : "Unauthorized message"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/forbidden"
                },
                "example" : {
                  "error" : "Forbidden message"
                }
              }
            }
          },
          "420" : {
            "description" : "Error limited",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_limited"
                },
                "example" : {
                  "error" : "Error limited message"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/internal_server_error"
                },
                "example" : {
                  "error" : "Internal server error message"
                }
              }
            }
          },
          "503" : {
            "description" : "Service unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/service_unavailable"
                },
                "example" : {
                  "error" : "Service unavailable message"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gateway_timeout"
                },
                "example" : {
                  "error" : "Gateway timeout message"
                }
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-alliances.read_contacts.v1" ]
        } ]
      }
    },
    "/alliances/{alliance_id}/contacts/labels/" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Get alliance contact labels",
        "description" : "Return custom labels for an alliance's contacts\n\n---\nAlternate route: `/dev/alliances/{alliance_id}/contacts/labels/`\n\nAlternate route: `/legacy/alliances/{alliance_id}/contacts/labels/`\n\nAlternate route: `/v1/alliances/{alliance_id}/contacts/labels/`\n\n---\nThis route is cached for up to 300 seconds",
        "operationId" : "get_alliances_alliance_id_contacts_labels",
        "parameters" : [ {
          "name" : "alliance_id",
          "in" : "path",
          "description" : "An EVE alliance ID",
          "required" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "schema" : {
            "type" : "string",
            "default" : "tranquility",
            "enum" : [ "tranquility", "singularity" ]
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "ETag from a previous request. A 304 will be returned if this matches the current ETag",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "token",
          "in" : "query",
          "description" : "Access token to use if unable to set a header",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of alliance contact labels",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "get_alliances_alliance_id_contacts_labels_ok",
                  "maxItems" : 64,
                  "type" : "array",
                  "description" : "200 ok array",
                  "items" : {
                    "title" : "get_alliances_alliance_id_contacts_labels_200_ok",
                    "required" : [ "label_id", "label_name" ],
                    "type" : "object",
                    "properties" : {
                      "label_id" : {
                        "title" : "get_alliances_alliance_id_contacts_labels_label_id",
                        "type" : "integer",
                        "description" : "label_id integer",
                        "format" : "int64"
                      },
                      "label_name" : {
                        "title" : "get_alliances_alliance_id_contacts_labels_label_name",
                        "type" : "string",
                        "description" : "label_name string"
                      }
                    },
                    "description" : "200 ok object"
                  }
                },
                "example" : [ {
                  "label_id" : 1,
                  "label_name" : "Alliance Friends"
                } ]
              }
            }
          },
          "304" : {
            "description" : "Not modified",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/bad_request"
                },
                "example" : {
                  "error" : "Bad request message"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unauthorized"
                },
                "example" : {
                  "error" : "Unauthorized message"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/forbidden"
                },
                "example" : {
                  "error" : "Forbidden message"
                }
              }
            }
          },
          "420" : {
            "description" : "Error limited",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_limited"
                },
                "example" : {
                  "error" : "Error limited message"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/internal_server_error"
                },
                "example" : {
                  "error" : "Internal server error message"
                }
              }
            }
          },
          "503" : {
            "description" : "Service unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/service_unavailable"
                },
                "example" : {
                  "error" : "Service unavailable message"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gateway_timeout"
                },
                "example" : {
                  "error" : "Gateway timeout message"
                }
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-alliances.read_contacts.v1" ]
        } ]
      }
    },
    "/alliances/{alliance_id}/corporations/" : {
      "get" : {
        "tags" : [ "Alliance" ],
        "summary" : "List alliance's corporations",
        "description" : "List all current member corporations of an alliance\n\n---\nAlternate route: `/dev/alliances/{alliance_id}/corporations/`\n\nAlternate route: `/legacy/alliances/{alliance_id}/corporations/`\n\nAlternate route: `/v1/alliances/{alliance_id}/corporations/`\n\n---\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_alliances_alliance_id_corporations",
        "parameters" : [ {
          "name" : "alliance_id",
          "in" : "path",
          "description" : "An EVE alliance ID",
          "required" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "schema" : {
            "type" : "string",
            "default" : "tranquility",
            "enum" : [ "tranquility", "singularity" ]
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "ETag from a previous request. A 304 will be returned if this matches the current ETag",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of corporation IDs",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "get_alliances_alliance_id_corporations_ok",
                  "maxItems" : 1000,
                  "type" : "array",
                  "description" : "200 ok array",
                  "items" : {
                    "title" : "get_alliances_alliance_id_corporations_200_ok",
                    "minimum" : 0,
                    "type" : "integer",
                    "description" : "200 ok integer",
                    "format" : "int32"
                  }
                },
                "example" : [ 98000001 ]
              }
            }
          },
          "304" : {
            "description" : "Not modified",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/bad_request"
                },
                "example" : {
                  "error" : "Bad request message"
                }
              }
            }
          },
          "420" : {
            "description" : "Error limited",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_limited"
                },
                "example" : {
                  "error" : "Error limited message"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/internal_server_error"
                },
                "example" : {
                  "error" : "Internal server error message"
                }
              }
            }
          },
          "503" : {
            "description" : "Service unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/service_unavailable"
                },
                "example" : {
                  "error" : "Service unavailable message"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gateway_timeout"
                },
                "example" : {
                  "error" : "Gateway timeout message"
                }
              }
            }
          }
        }
      }
    },
    "/alliances/{alliance_id}/icons/" : {
      "get" : {
        "tags" : [ "Alliance" ],
        "summary" : "Get alliance icon",
        "description" : "Get the icon urls for a alliance\n\n---\nAlternate route: `/dev/alliances/{alliance_id}/icons/`\n\nAlternate route: `/legacy/alliances/{alliance_id}/icons/`\n\nAlternate route: `/v1/alliances/{alliance_id}/icons/`\n\n---\nThis route expires daily at 11:05",
        "operationId" : "get_alliances_alliance_id_icons",
        "parameters" : [ {
          "name" : "alliance_id",
          "in" : "path",
          "description" : "An EVE alliance ID",
          "required" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "schema" : {
            "type" : "string",
            "default" : "tranquility",
            "enum" : [ "tranquility", "singularity" ]
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "ETag from a previous request. A 304 will be returned if this matches the current ETag",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Icon URLs for the given alliance id and server",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "get_alliances_alliance_id_icons_ok",
                  "type" : "object",
                  "properties" : {
                    "px128x128" : {
                      "title" : "get_alliances_alliance_id_icons_px128x128",
                      "type" : "string",
                      "description" : "px128x128 string"
                    },
                    "px64x64" : {
                      "title" : "get_alliances_alliance_id_icons_px64x64",
                      "type" : "string",
                      "description" : "px64x64 string"
                    }
                  },
                  "description" : "200 ok object"
                },
                "example" : {
                  "px128x128" : "https://imageserver.eveonline.com/Alliance/503818424_128.png",
                  "px64x64" : "https://imageserver.eveonline.com/Alliance/503818424_64.png"
                }
              }
            }
          },
          "304" : {
            "description" : "Not modified",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/bad_request"
                },
                "example" : {
                  "error" : "Bad request message"
                }
              }
            }
          },
          "404" : {
            "description" : "No image server for this datasource",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "get_alliances_alliance_id_icons_not_found",
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "title" : "get_alliances_alliance_id_icons_error",
                      "type" : "string",
                      "description" : "error message"
                    }
                  },
                  "description" : "No image server for this datasource"
                },
                "example" : {
                  "error" : "No image server for this datasource"
                }
              }
            }
          },
          "420" : {
            "description" : "Error limited",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_limited"
                },
                "example" : {
                  "error" : "Error limited message"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/internal_server_error"
                },
                "example" : {
                  "error" : "Internal server error message"
                }
              }
            }
          },
          "503" : {
            "description" : "Service unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/service_unavailable"
                },
                "example" : {
                  "error" : "Service unavailable message"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gateway_timeout"
                },
                "example" : {
                  "error" : "Gateway timeout message"
                }
              }
            }
          }
        }
      }
    },
    "/characters/affiliation/" : {
      "post" : {
        "tags" : [ "Character" ],
        "summary" : "Character affiliation",
        "description" : "Bulk lookup of character IDs to corporation, alliance and faction\n\n---\nAlternate route: `/dev/characters/affiliation/`\n\nAlternate route: `/legacy/characters/affiliation/`\n\nAlternate route: `/v1/characters/affiliation/`\n\n---\nThis route is cached for up to 3600 seconds",
        "operationId" : "post_characters_affiliation",
        "parameters" : [ {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "schema" : {
            "type" : "string",
            "default" : "tranquility",
            "enum" : [ "tranquility", "singularity" ]
          }
        } ],
        "requestBody" : {
          "description" : "The character IDs to fetch affiliations for. All characters must exist, or none will be returned",
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "post_characters_affiliation_characters",
                "maxItems" : 1000,
                "minItems" : 1,
                "uniqueItems" : true,
                "type" : "array",
                "description" : "characters array",
                "items" : {
                  "title" : "post_characters_affiliation_character",
                  "type" : "integer",
                  "description" : "character integer",
                  "format" : "int32"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Character corporation, alliance and faction IDs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "post_characters_affiliation_ok",
                  "maxItems" : 1000,
                  "type" : "array",
                  "description" : "200 ok array",
                  "items" : {
                    "title" : "post_characters_affiliation_200_ok",
                    "required" : [ "character_id", "corporation_id" ],
                    "type" : "object",
                    "properties" : {
                      "alliance_id" : {
                        "title" : "post_characters_affiliation_alliance_id",
                        "type" : "integer",
                        "description" : "The character's alliance ID, if their corporation is in an alliance",
                        "format" : "int32"
                      },
                      "character_id" : {
                        "title" : "post_characters_affiliation_character_id",
                        "type" : "integer",
                        "description" : "The character's ID",
                        "format" : "int32"
                      },
                      "corporation_id" : {
                        "title" : "post_characters_affiliation_corporation_id",
                        "type" : "integer",
                        "description" : "The character's corporation ID",
                        "format" : "int32"
                      },
                      "faction_id" : {
                        "title" : "post_characters_affiliation_faction_id",
                        "type" : "integer",
                        "description" : "The character's faction ID, if their corporation is in a faction",
                        "format" : "int32"
                      }
                    },
                    "description" : "200 ok object"
                  }
                },
                "example" : [ {
                  "alliance_id" : 434243723,
                  "character_id" : 95538921,
                  "corporation_id" : 109299958
                } ]
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/bad_request"
                },
                "example" : {
                  "error" : "Bad request message"
                }
              }
            }
          },
          "404" : {
            "description" : "No characters found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "post_characters_affiliation_not_found",
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "title" : "post_characters_affiliation_404_not_found",
                      "type" : "string",
                      "description" : "Not found message"
                    }
                  },
                  "description" : "Not found"
                },
                "example" : {
                  "error" : "Not found message"
                }
              }
            }
          },
          "420" : {
            "description" : "Error limited",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_limited"
                },
                "example" : {
                  "error" : "Error limited message"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/internal_server_error"
                },
                "example" : {
                  "error" : "Internal server error message"
                }
              }
            }
          },
          "503" : {
            "description" : "Service unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/service_unavailable"
                },
                "example" : {
                  "error" : "Service unavailable message"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gateway_timeout"
                },
                "example" : {
                  "error" : "Gateway timeout message"
                }
              }
            }
          }
        }
      }
    },
    "/characters/{character_id}/" : {
      "get" : {
        "tags" : [ "Character" ],
        "summary" : "Get character's public information",
        "description" : "Public information about a character\n\n---\nAlternate route: `/dev/characters/{character_id}/`\n\nAlternate route: `/v4/characters/{character_id}/`\n\n---\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_characters_character_id",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "schema" : {
            "type" : "string",
            "default" : "tranquility",
            "enum" : [ "tranquility", "singularity" ]
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "ETag from a previous request. A 304 will be returned if this matches the current ETag",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Public data for the given character",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "get_characters_character_id_ok",
                  "required" : [ "birthday", "bloodline_id", "corporation_id", "gender", "name", "race_id" ],
                  "type" : "object",
                  "properties" : {
                    "alliance_id" : {
                      "title" : "get_characters_character_id_alliance_id",
                      "type" : "integer",
                      "description" : "The character's alliance ID",
                      "format" : "int32"
                    },
                    "ancestry_id" : {
                      "title" : "get_characters_character_id_ancestry_id",
                      "type" : "integer",
                      "description" : "ancestry_id integer",
                      "format" : "int32"
                    },
                    "birthday" : {
                      "title" : "get_characters_character_id_birthday",
                      "type" : "string",
                      "description" : "Creation date of the character",
                      "format" : "date-time"
                    },
                    "bloodline_id" : {
                      "title" : "get_characters_character_id_bloodline_id",
                      "type" : "integer",
                      "description" : "bloodline_id integer",
                      "format" : "int32"
                    },
                    "corporation_id" : {
                      "title" : "get_characters_character_id_corporation_id",
                      "type" : "integer",
                      "description" : "The character's corporation ID",
                      "format" : "int32"
                    },
                    "description" : {
                      "title" : "get_characters_character_id_description",
                      "type" : "string",
                      "description" : "description string"
                    },
                    "faction_id" : {
                      "title" : "get_characters_character_id_faction_id",
                      "type" : "integer",
                      "description" : "ID of the faction the character is fighting for, if the character is enlisted in Factional Warfare",
                      "format" : "int32"
                    },
                    "gender" : {
                      "title" : "get_characters_character_id_gender",
                      "type" : "string",
                      "description" : "gender string",
                      "enum" : [ "female", "male" ]
                    },
                    "name" : {
                      "title" : "get_characters_character_id_name",
                      "type" : "string",
                      "description" : "name string"
                    },
                    "race_id" : {
                      "title" : "get_characters_character_id_race_id",
                      "type" : "integer",
                      "description" : "race_id integer",
                      "format" : "int32"
                    },
                    "security_status" : {
                      "title" : "get_characters_character_id_security_status",
                      "maximum" : 10,
                      "minimum" : -10,
                      "type" : "number",
                      "description" : "security_status number",
                      "format" : "float"
                    }
                  },
                  "description" : "200 ok object"
                },
                "example" : {
                  "ancestry_id" : 19,
                  "birthday" : "2015-03-24T11:37:00Z",
                  "bloodline_id" : 3,
                  "corporation_id" : 109299958,
                  "description" : "",
                  "gender" : "male",
                  "name" : "CCP Bartender",
                  "race_id" : 2
                }
              }
            }
          },
          "304" : {
            "description" : "Not modified",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/bad_request"
                },
                "example" : {
                  "error" : "Bad request message"
                }
              }
            }
          },
          "404" : {
            "description" : "Character not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "get_characters_character_id_not_found",
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "title" : "get_characters_character_id_404_not_found",
                      "type" : "string",
                      "description" : "Not found message"
                    }
                  },
                  "description" : "Not found"
                },
                "example" : {
                  "error" : "Not found message"
                }
              }
            }
          },
          "420" : {
            "description" : "Error limited",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_limited"
                },
                "example" : {
                  "error" : "Error limited message"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/internal_server_error"
                },
                "example" : {
                  "error" : "Internal server error message"
                }
              }
            }
          },
          "503" : {
            "description" : "Service unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/service_unavailable"
                },
                "example" : {
                  "error" : "Service unavailable message"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gateway_timeout"
                },
                "example" : {
                  "error" : "Gateway timeout message"
                }
              }
            }
          }
        }
      }
    },
    "/characters/{character_id}/agents_research/" : {
      "get" : {
        "tags" : [ "Character" ],
        "summary" : "Get agents research",
        "description" : "Return a list of agents research information for a character. The formula for finding the current research points with an agent is: currentPoints = remainderPoints + pointsPerDay * days(currentTime - researchStartDate)\n\n---\nAlternate route: `/dev/characters/{character_id}/agents_research/`\n\nAlternate route: `/legacy/characters/{character_id}/agents_research/`\n\nAlternate route: `/v1/characters/{character_id}/agents_research/`\n\n---\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_characters_character_id_agents_research",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "schema" : {
            "type" : "string",
            "default" : "tranquility",
            "enum" : [ "tranquility", "singularity" ]
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "ETag from a previous request. A 304 will be returned if this matches the current ETag",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "token",
          "in" : "query",
          "description" : "Access token to use if unable to set a header",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of agents research information",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "get_characters_character_id_agents_research_ok",
                  "maxItems" : 1000,
                  "type" : "array",
                  "description" : "200 ok array",
                  "items" : {
                    "title" : "get_characters_character_id_agents_research_200_ok",
                    "required" : [ "agent_id", "points_per_day", "remainder_points", "skill_type_id", "started_at" ],
                    "type" : "object",
                    "properties" : {
                      "agent_id" : {
                        "title" : "get_characters_character_id_agents_research_agent_id",
                        "type" : "integer",
                        "description" : "agent_id integer",
                        "format" : "int32"
                      },
                      "points_per_day" : {
                        "title" : "get_characters_character_id_agents_research_points_per_day",
                        "type" : "number",
                        "description" : "points_per_day number",
                        "format" : "float"
                      },
                      "remainder_points" : {
                        "title" : "get_characters_character_id_agents_research_remainder_points",
                        "type" : "number",
                        "description" : "remainder_points number",
                        "format" : "float"
                      },
                      "skill_type_id" : {
                        "title" : "get_characters_character_id_agents_research_skill_type_id",
                        "type" : "integer",
                        "description" : "skill_type_id integer",
                        "format" : "int32"
                      },
                      "started_at" : {
                        "title" : "get_characters_character_id_agents_research_started_at",
                        "type" : "string",
                        "description" : "started_at string",
                        "format" : "date-time"
                      }
                    },
                    "description" : "200 ok object"
                  }
                },
                "example" : [ {
                  "agent_id" : 3009358,
                  "points_per_day" : 53.5346162146776,
                  "remainder_points" : 53604.0634303189,
                  "skill_type_id" : 11450,
                  "started_at" : "2017-03-23T14:47:00Z"
                } ]
              }
            }
          },
          "304" : {
            "description" : "Not modified",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/bad_request"
                },
                "example" : {
                  "error" : "Bad request message"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unauthorized"
                },
                "example" : {
                  "error" : "Unauthorized message"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/forbidden"
                },
                "example" : {
                  "error" : "Forbidden message"
                }
              }
            }
          },
          "420" : {
            "description" : "Error limited",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_limited"
                },
                "example" : {
                  "error" : "Error limited message"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/internal_server_error"
                },
                "example" : {
                  "error" : "Internal server error message"
                }
              }
            }
          },
          "503" : {
            "description" : "Service unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/service_unavailable"
                },
                "example" : {
                  "error" : "Service unavailable message"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gateway_timeout"
                },
                "example" : {
                  "error" : "Gateway timeout message"
                }
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-characters.read_agents_research.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/assets/" : {
      "get" : {
        "tags" : [ "Assets" ],
        "summary" : "Get character assets",
        "description" : "Return a list of the characters assets\n\n---\nAlternate route: `/dev/characters/{character_id}/assets/`\n\nAlternate route: `/v3/characters/{character_id}/assets/`\n\n---\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_characters_character_id_assets",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "schema" : {
            "type" : "string",
            "default" : "tranquility",
            "enum" : [ "tranquility", "singularity" ]
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "ETag from a previous request. A 304 will be returned if this matches the current ETag",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Which page of results to return",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "token",
          "in" : "query",
          "description" : "Access token to use if unable to set a header",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A flat list of the users assets",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "X-Pages" : {
                "description" : "Maximum page number",
                "schema" : {
                  "type" : "integer",
                  "format" : "int32",
                  "default" : 1
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "get_characters_character_id_assets_ok",
                  "maxItems" : 1000,
                  "type" : "array",
                  "description" : "200 ok array",
                  "items" : {
                    "title" : "get_characters_character_id_assets_200_ok",
                    "required" : [ "is_singleton", "item_id", "location_flag", "location_id", "location_type", "quantity", "type_id" ],
                    "type" : "object",
                    "properties" : {
                      "is_blueprint_copy" : {
                        "title" : "get_characters_character_id_assets_is_blueprint_copy",
                        "type" : "boolean",
                        "description" : "is_blueprint_copy boolean"
                      },
                      "is_singleton" : {
                        "title" : "get_characters_character_id_assets_is_singleton",
                        "type" : "boolean",
                        "description" : "is_singleton boolean"
                      },
                      "item_id" : {
                        "title" : "get_characters_character_id_assets_item_id",
                        "type" : "integer",
                        "description" : "item_id integer",
                        "format" : "int64"
                      },
                      "location_flag" : {
                        "title" : "get_characters_character_id_assets_location_flag",
                        "type" : "string",
                        "description" : "location_flag string",
                        "enum" : [ "AssetSafety", "AutoFit", "BoosterBay", "Cargo", "CorpseBay", "Deliveries", "DroneBay", "FighterBay", "FighterTube0", "FighterTube1", "FighterTube2", "FighterTube3", "FighterTube4", "FleetHangar", "Hangar", "HangarAll", "HiSlot0", "HiSlot1", "HiSlot2", "HiSlot3", "HiSlot4", "HiSlot5", "HiSlot6", "HiSlot7", "HiddenModifiers", "Implant", "LoSlot0", "LoSlot1", "LoSlot2", "LoSlot3", "LoSlot4", "LoSlot5", "LoSlot6", "LoSlot7", "Locked", "MedSlot0", "MedSlot1", "MedSlot2", "MedSlot3", "MedSlot4", "MedSlot5", "MedSlot6", "MedSlot7", "QuafeBay", "RigSlot0", "RigSlot1", "RigSlot2", "RigSlot3", "RigSlot4", "RigSlot5", "RigSlot6", "RigSlot7", "ShipHangar", "Skill", "SpecializedAmmoHold", "SpecializedCommandCenterHold", "SpecializedFuelBay", "SpecializedGasHold", "SpecializedIndustrialShipHold", "SpecializedLargeShipHold", "SpecializedMaterialBay", "SpecializedMediumShipHold", "SpecializedMineralHold", "SpecializedOreHold", "SpecializedPlanetaryCommoditiesHold", "SpecializedSalvageHold", "SpecializedShipHold", "SpecializedSmallShipHold", "SubSystemBay", "SubSystemSlot0", "SubSystemSlot1", "SubSystemSlot2", "SubSystemSlot3", "SubSystemSlot4", "SubSystemSlot5", "SubSystemSlot6", "SubSystemSlot7", "Unlocked", "Wardrobe" ]
                      },
                      "location_id" : {
                        "title" : "get_characters_character_id_assets_location_id",
                        "type" : "integer",
                        "description" : "location_id integer",
                        "format" : "int64"
                      },
                      "location_type" : {
                        "title" : "get_characters_character_id_assets_location_type",
                        "type" : "string",
                        "description" : "location_type string",
                        "enum" : [ "station", "solar_system", "other" ]
                      },
                      "quantity" : {
                        "title" : "get_characters_character_id_assets_quantity",
                        "type" : "integer",
                        "description" : "quantity integer",
                        "format" : "int32"
                      },
                      "type_id" : {
                        "title" : "get_characters_character_id_assets_type_id",
                        "type" : "integer",
                        "description" : "type_id integer",
                        "format" : "int32"
                      }
                    },
                    "description" : "200 ok object"
                  }
                },
                "example" : [ {
                  "is_blueprint_copy" : true,
                  "is_singleton" : true,
                  "item_id" : 1000000016835,
                  "location_flag" : "Hangar",
                  "location_id" : 60002959,
                  "location_type" : "station",
                  "quantity" : 1,
                  "type_id" : 3516
                } ]
              }
            }
          },
          "304" : {
            "description" : "Not modified",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/bad_request"
                },
                "example" : {
                  "error" : "Bad request message"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unauthorized"
                },
                "example" : {
                  "error" : "Unauthorized message"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/forbidden"
                },
                "example" : {
                  "error" : "Forbidden message"
                }
              }
            }
          },
          "420" : {
            "description" : "Error limited",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_limited"
                },
                "example" : {
                  "error" : "Error limited message"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/internal_server_error"
                },
                "example" : {
                  "error" : "Internal server error message"
                }
              }
            }
          },
          "503" : {
            "description" : "Service unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/service_unavailable"
                },
                "example" : {
                  "error" : "Service unavailable message"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gateway_timeout"
                },
                "example" : {
                  "error" : "Gateway timeout message"
                }
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-assets.read_assets.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/assets/locations/" : {
      "post" : {
        "tags" : [ "Assets" ],
        "summary" : "Get character asset locations",
        "description" : "Return locations for a set of item ids, which you can get from character assets endpoint. Coordinates for items in hangars or stations are set to (0,0,0)\n\n---\nAlternate route: `/dev/characters/{character_id}/assets/locations/`\n\nAlternate route: `/v2/characters/{character_id}/assets/locations/`\n",
        "operationId" : "post_characters_character_id_assets_locations",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "schema" : {
            "type" : "string",
            "default" : "tranquility",
            "enum" : [ "tranquility", "singularity" ]
          }
        }, {
          "name" : "token",
          "in" : "query",
          "description" : "Access token to use if unable to set a header",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "A list of item ids",
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "post_characters_character_id_assets_locations_item_ids",
                "maxItems" : 1000,
                "minItems" : 1,
                "uniqueItems" : true,
                "type" : "array",
                "description" : "item_ids array",
                "items" : {
                  "title" : "post_characters_character_id_assets_locations_item_id",
                  "type" : "integer",
                  "description" : "item_id integer",
                  "format" : "int64"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "List of asset locations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "post_characters_character_id_assets_locations_ok",
                  "maxItems" : 1000,
                  "type" : "array",
                  "description" : "200 ok array",
                  "items" : {
                    "title" : "post_characters_character_id_assets_locations_200_ok",
                    "required" : [ "item_id", "position" ],
                    "type" : "object",
                    "properties" : {
                      "item_id" : {
                        "title" : "post_characters_character_id_assets_locations_item_id",
                        "type" : "integer",
                        "description" : "item_id integer",
                        "format" : "int64"
                      },
                      "position" : {
                        "title" : "post_characters_character_id_assets_locations_position",
                        "required" : [ "x", "y", "z" ],
                        "type" : "object",
                        "properties" : {
                          "x" : {
                            "title" : "post_characters_character_id_assets_locations_x",
                            "type" : "number",
                            "description" : "x number",
                            "format" : "double"
                          },
                          "y" : {
                            "title" : "post_characters_character_id_assets_locations_y",
                            "type" : "number",
                            "description" : "y number",
                            "format" : "double"
                          },
                          "z" : {
                            "title" : "post_characters_character_id_assets_locations_z",
                            "type" : "number",
                            "description" : "z number",
                            "format" : "double"
                          }
                        },
                        "description" : "position object"
                      }
                    },
                    "description" : "200 ok object"
                  }
                },
                "example" : [ {
                  "item_id" : 12345,
                  "position" : {
                    "x" : 1.2,
                    "y" : 2.3,
                    "z" : -3.4
                  }
                } ]
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/bad_request"
                },
                "example" : {
                  "error" : "Bad request message"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unauthorized"
                },
                "example" : {
                  "error" : "Unauthorized message"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/forbidden"
                },
                "example" : {
                  "error" : "Forbidden message"
                }
              }
            }
          },
          "420" : {
            "description" : "Error limited",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_limited"
                },
                "example" : {
                  "error" : "Error limited message"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/internal_server_error"
                },
                "example" : {
                  "error" : "Internal server error message"
                }
              }
            }
          },
          "503" : {
            "description" : "Service unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/service_unavailable"
                },
                "example" : {
                  "error" : "Service unavailable message"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gateway_timeout"
                },
                "example" : {
                  "error" : "Gateway timeout message"
                }
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-assets.read_assets.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/assets/names/" : {
      "post" : {
        "tags" : [ "Assets" ],
        "summary" : "Get character asset names",
        "description" : "Return names for a set of item ids, which you can get from character assets endpoint. Typically used for items that can customize names, like containers or ships.\n\n---\nAlternate route: `/dev/characters/{character_id}/assets/names/`\n\nAlternate route: `/legacy/characters/{character_id}/assets/names/`\n\nAlternate route: `/v1/characters/{character_id}/assets/names/`\n",
        "operationId" : "post_characters_character_id_assets_names",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "schema" : {
            "type" : "string",
            "default" : "tranquility",
            "enum" : [ "tranquility", "singularity" ]
          }
        }, {
          "name" : "token",
          "in" : "query",
          "description" : "Access token to use if unable to set a header",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "A list of item ids",
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "post_characters_character_id_assets_names_item_ids",
                "maxItems" : 1000,
                "minItems" : 1,
                "uniqueItems" : true,
                "type" : "array",
                "description" : "item_ids array",
                "items" : {
                  "title" : "post_characters_character_id_assets_names_item_id",
                  "type" : "integer",
                  "description" : "item_id integer",
                  "format" : "int64"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "List of asset names",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "post_characters_character_id_assets_names_ok",
                  "maxItems" : 1000,
                  "type" : "array",
                  "description" : "200 ok array",
                  "items" : {
                    "title" : "post_characters_character_id_assets_names_200_ok",
                    "required" : [ "item_id", "name" ],
                    "type" : "object",
                    "properties" : {
                      "item_id" : {
                        "title" : "post_characters_character_id_assets_names_item_id",
                        "type" : "integer",
                        "description" : "item_id integer",
                        "format" : "int64"
                      },
                      "name" : {
                        "title" : "post_characters_character_id_assets_names_name",
                        "type" : "string",
                        "description" : "name string"
                      }
                    },
                    "description" : "200 ok object"
                  }
                },
                "example" : [ {
                  "item_id" : 12345,
                  "name" : "Awesome Name"
                } ]
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/bad_request"
                },
                "example" : {
                  "error" : "Bad request message"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/unauthorized"
                },
                "example" : {
                  "error" : "Unauthorized message"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/forbidden"
                },
                "example" : {
                  "error" : "Forbidden message"
                }
              }
            }
          },
          "420" : {
            "description" : "Error limited",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_limited"
                },
                "example" : {
                  "error" : "Error limited message"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/internal_server_error"
                },
                "example" : {
                  "error" : "Internal server error message"
                }
              }
            }
          },
          "503" : {
            "description" : "Service unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/service_unavailable"
                },
                "example" : {
                  "error" : "Service unavailable message"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gateway_timeout"
                },
                "example" : {
                  "error" : "Gateway timeout message"
                }
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-assets.read_assets.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/attributes/" : {
      "get" : {
        "tags" : [ "Skills" ],
        "summary" : "Get character attributes",
        "description" : "Return attributes of a character\n\n---\nAlternate route: `/dev/characters/{character_id}/attributes/`\n\nAlternate route: `/legacy/characters/{character_id}/attributes/`\n\nAlternate route: `/v1/characters/{character_id}/attributes/`\n\n---\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_characters_character_id_attributes",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "schema" : {
            "type" : "string",
            "default" : "tranquility",
            "enum" : [ "tranquility", "singularity" ]
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "ETag from a previous request. A 304 will be returned if this matches the current ETag",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "token",
          "in" : "query",
          "description" : "Access token to use if unable to set a header",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Attributes of a character",
            "headers" : {
              "Cache-Control" : {
                "description" : "The caching mechanism used",
                "schema" : {
                  "type" : "string"
                }
              },
              "ETag" : {
                "description" : "RFC7232 compliant entity tag",
                "schema" : {
                  "type" : "string"
                }
              },
              "Expires" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "RFC7231 formatted datetime string",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "get_characters_character_id_attributes_ok",
                  "required" : [ "charisma", "intelligence", "memory", "perception", "willpower" ],
                  "type" : "object",
                  "properties" : {
                    "accrued_remap_cooldown_date" : {
                      "title" : "get_characters_character_id_attributes_accrued_remap_cooldown_date",
                      "type" : "string",
                      "description" : "Neural remapping cooldown after a character uses remap accrued over time",
                      "format" : "date-time"
                    },
                    "bonus_remaps" : {
                      "title" : "get_characters_character_id_attributes_bonus_remaps",
                      "type" : "integer",
                      "description" : "Number of available bonus character neural remaps",
                      "format" : "int32"
                    },
                    "charisma" : {
                      "title" : "get_characters_character_id_attributes_charisma",
                      "type" : "integer",
                      "description" : "charisma integer",
                      "format" : "int32"
                    },
                    "intelligence" : {
                      "title" : "get_characters_character_id_attributes_intelligence",
                      "type" : "integer",
                      "description" : "intelligence integer",
                      "format" : "int32"
                    },
                    "last_remap_date" : {
                      "title" : "get_characters_character_id_attributes_last_remap_date",
                      "type" : "string",
                      "description" : "Datetime of last neural remap, including usage of bonus remaps",
                      "format" : "date-time"
                    },
                    "memory" : {
                      "title" : "get_characters_character_id_attributes_memory",
                      "type" : "integer",
                      "description" : "memory integer",
                      "format" : "int32"
                    },
                    "perception" : {
[...]
