{"openapi":"3.0.1","info":{"title":"Article Rewriter and Article Extractor API","description":"Spinbot.net propose a new solution based on high technologies for faster article spinner and extractor that you will love to use it. ","termsOfService":"https://spinbot.net/terms-and-conditions","contact":{"name":"Spinbot Admin","url":"https://spinbot.net","email":"admin@spinbot.net"},"version":"1.0"},"externalDocs":{"url":"https://spinbot.net/api-documentation"},"servers":[{"url":"https://api.spinbot.net/"}],"security":[{"key":null}],"tags":[{"name":"article rewriter","description":"Article rewriter (spinner): rewrite your origin article by replacing every terms/words to their synonyms. Our program will try its best to detect as many words that can be replaced as possible. So that you will never care about the plagiarism checkers. ","externalDocs":{"url":"https://spinbot.net/api-documentation"}},{"name":"article extractor","description":"Article extractor: a lot of techniques and mordern algorithms like machine learning are used to detect the main article content in your given url. It's an automated tool to scrape and collect articles. It will reduce your time to collect data and keywords for you websites to improve their ranks.","externalDocs":{"url":"https://spinbot.net/api-documentation"}}],"paths":{"/api/acc":{"get":{"summary":"Return the user credit information.","description":"Return the user credit information.","operationId":"getInfo","parameters":[{"name":"key","in":"query","description":"Your api key","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"success","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/article":{"post":{"summary":"Extracting the main article of the given URL.","description":"Extracting the main article of the given URL. The response is in JSON format.","operationId":"postArticle","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["key","url"],"type":"object","properties":{"key":{"type":"string","description":"Your spinbot API key"},"url":{"type":"string","description":"The url of target article"},"faster_mode":{"type":"string","description":"you can set this input value to 1 to skip detecting the size (width and height in pixel) of all the images inside the extracted article. The response time of your request will be shortened if you set this input value to 1."}}}}},"required":true},"responses":{"default":{"description":"Default response","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/pretty-spinner":{"post":{"summary":"Human readable auto rewrite your article.","description":"Human readable auto rewrite your article. The response is in JSON format.","operationId":"postPrettySpinner","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["accuracy","keep","key","text"],"type":"object","properties":{"key":{"type":"string","description":"Your spinbot API key"},"text":{"type":"string","description":"Input article that need to be rewrited."},"keep":{"type":"string","description":"Keep words/phrases, separated by newline, those remain unchanged during the rewrite process."},"accuracy":{"type":"string","description":"Rewrite accuracy profile, accepted values are very-low, low, medium, high, very-high"}}}}},"required":true},"responses":{"default":{"description":"Default response","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/spinner":{"post":{"summary":"Rewriting (spinning) your input article.","description":"Rewriting (spinning) you input article. The response is in JSON format.","operationId":"postSpinner","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["key","text"],"type":"object","properties":{"key":{"type":"string","description":"Your spinbot API key"},"text":{"type":"string","description":"Input article that need to be rewrited."}}}}},"required":true},"responses":{"default":{"description":"Default response","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/spintax":{"post":{"summary":"Generate Spintax format for the input article","description":"Generate Spintax format for the input article, so you can rewrite it yourself. The response is in JSON format.","operationId":"postSpintax","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["key","text"],"type":"object","properties":{"key":{"type":"string","description":"Your spinbot API key"},"text":{"type":"string","description":"Input article that need to be rewritten."},"full_mode":{"type":"string","description":"Full mode option."}}}}},"required":true},"responses":{"default":{"description":"Default response","content":{"*/*":{"schema":{"type":"object"}}}}}}}},"components":{"securitySchemes":{"key":{"type":"apiKey","name":"key","in":"query"}}}}