{"openapi":"3.0.1","info":{"title":"Data2CRM.API","description":"<p>Make use of our in-depth documentation to get more information about the various functions of the service. Those willing to explore the mechanics of Data2CRM.API can test it in live regime using the short code samples.</p><p>Select CRM: <span id=\"docs-select-crm\" style=\"font-weight: bold\">Loading... please wait</span></p><p>Here are the API access keys:<br><b>X-API2CRM-USER-KEY</b>: <span id=\"docs-user-key\">e2a6379ab878ae7e58119d4ec842bf9c</span><br><b>X-API2CRM-APPLICATION-KEY</b>: <span id=\"docs-crm-key\">7ae5b17008fb414d84981191cf3b66a476ef8bef</span></p><p id=\"docs-crm-access\">The CRM access details are:<br><b>URL</b>: <a id=\"docs-crm-url\" href=\"https://login.salesforce.com/\" target=\"_blank\">https://login.salesforce.com/</a><br><b>E-mail / Username</b>: <span id=\"docs-crm-username\">developers.data2crm.api+1@magneticone.com</span><br><b>Password</b>: <span id=\"docs-crm-password\">data2crmapi123</span></p>","version":"1"},"externalDocs":{"url":"http://www.data2crm.com/api/"},"servers":[{"url":"https://api-2445581398133.apicast.io:443/v1"}],"tags":[{"name":"account","description":"Account Operations"},{"name":"application","description":"Application Operations"},{"name":"attachment","description":"Attachment Operations"},{"name":"call","description":"Call Operations"},{"name":"campaign","description":"Campaign Operations"},{"name":"case","description":"Case Operations"},{"name":"comment","description":"Comment Operations"},{"name":"contact","description":"Contact Operations"},{"name":"customEntity","description":"Custom Entity Operations"},{"name":"customEntityItem","description":"Custom Entity Item Operations"},{"name":"customField","description":"Custom Field Operations"},{"name":"customFieldItem","description":"Custom Field Item Operations"},{"name":"email","description":"Email Operations"},{"name":"event","description":"Event Operations"},{"name":"invoice","description":"Invoice Operations"},{"name":"invoiceItem","description":"InvoiceItem Operations"},{"name":"lead","description":"Lead Operations"},{"name":"meeting","description":"Meeting Operations"},{"name":"note","description":"Note Operations"},{"name":"opportunity","description":"Opportunity Operations"},{"name":"opportunityProduct","description":"OpportunityProduct Operations"},{"name":"platform","description":"Platform Operations"},{"name":"post","description":"Post Operations"},{"name":"priceBook","description":"PriceBook Operations"},{"name":"priceBookItem","description":"PriceBookItem Operations"},{"name":"product","description":"Product Operations"},{"name":"project","description":"Project Operations"},{"name":"quote","description":"Quote Operations"},{"name":"quoteItem","description":"QuoteItem Operations"},{"name":"request","description":"Request Operations"},{"name":"tag","description":"Tag Operations"},{"name":"task","description":"Task Operations"},{"name":"ticket","description":"Ticket Operations"},{"name":"user","description":"User Operations"}],"paths":{"/account":{"get":{"tags":["account"],"summary":"GET for account","description":"Returns all accounts from the system","operationId":"getAccountCollection","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"page_size","in":"query","description":"Amount of results (default: 25)","schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"Page to show (default: 1)","schema":{"type":"integer","format":"int32"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}},{"name":"expand","in":"query","description":"Expand relations","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Comma-separated list of fields to include in the response","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Specifies ascending or descending sort on existing fields","schema":{"type":"string"}},{"name":"unique","in":"query","description":"Find all unique values for selected field","schema":{"type":"string","enum":["false","true"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountEntity"}}}}},"404":{"description":"Not Found"}}},"post":{"tags":["account"],"summary":"POST for account","description":"Add account into the system","operationId":"createAccountEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"description":"Add account into the system","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountEntity"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}}},"/account/aggregate":{"get":{"tags":["account"],"summary":"AGGREGATE for account","description":"Returns aggregate for accounts","operationId":"getAccountAggregate","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}},{"name":"pipeline","in":"query","description":"Pipeline","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aggregate"}}}},"404":{"description":"Not Found"}}}},"/account/bulk":{"put":{"tags":["account"],"summary":"PUT bulk  for account","operationId":"updateAccountEntityBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"post":{"tags":["account"],"summary":"POST bulk  for account","description":"Add account into the system","operationId":"createAccountEntityBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"description":"Add account into the system","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"delete":{"tags":["account"],"summary":"DELETE bulk  for account","operationId":"deleteAccountCollectionBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}}},"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/account/count":{"get":{"tags":["account"],"summary":"COUNT for account","description":"Count all accounts from the system","operationId":"getAccountCountCollection","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}},"404":{"description":"Not Found"}}}},"/account/describe":{"get":{"tags":["account"],"summary":"DESCRIBE for account","description":"Returns describe for accounts","operationId":"getAccountDescribe","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDescribe"}}}},"404":{"description":"Not Found"}}}},"/account/{account_id}":{"get":{"tags":["account"],"summary":"GET for account","description":"Return account information","operationId":"getAccountEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"account_id","in":"path","description":"Account Identifier","required":true,"schema":{"type":"string"}},{"name":"expand","in":"query","description":"Expand relations","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Comma-separated list of fields to include in the response","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountEntity"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["account"],"summary":"PUT for account","description":"Update account information","operationId":"updateAccountEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"account_id","in":"path","description":"Account Identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Update account information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"delete":{"tags":["account"],"summary":"DELETE for account","description":"Delete account information","operationId":"deleteAccountEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"account_id","in":"path","description":"Account Identifier","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/application":{"get":{"tags":["application"],"summary":"GET for application","description":"Returns all applications from the system","operationId":"getApplicationCollection","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"API2CRM user key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"page_size","in":"query","description":"Amount of results (default: 25)","schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"Page to show (default: 1)","schema":{"type":"integer","format":"int32"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Comma-separated list of fields to include in the response","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Specifies ascending or descending sort on existing fields","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationEntityList"}}}}},"404":{"description":"Not Found"}}},"post":{"tags":["application"],"summary":"POST for application","description":"Add application into the system","operationId":"createApplicationEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"API2CRM user key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}}],"requestBody":{"description":"Add application into the system","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationEntityWrite"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}}},"/application/count":{"get":{"tags":["application"],"summary":"COUNT for application","description":"Count all applications from the system","operationId":"getApplicationCountCollection","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"API2CRM user key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}},"404":{"description":"Not Found"}}}},"/application/{key}":{"get":{"tags":["application"],"summary":"GET for application","description":"Return application information","operationId":"getApplicationEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"API2CRM user key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"key","in":"path","description":"Application key","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Comma-separated list of fields to include in the response","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationEntity"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["application"],"summary":"PUT for application","description":"Update application information","operationId":"updateApplicationEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"API2CRM user key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"key","in":"path","description":"Application key","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Update application information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationEntityWrite"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"delete":{"tags":["application"],"summary":"DELETE for application","description":"Delete application information","operationId":"deleteApplicationEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"API2CRM user key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"key","in":"path","description":"Application key","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/attachment":{"get":{"tags":["attachment"],"summary":"GET for attachment","description":"Returns all attachments from the system","operationId":"getAttachmentCollection","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"page_size","in":"query","description":"Amount of results (default: 25)","schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"Page to show (default: 1)","schema":{"type":"integer","format":"int32"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}},{"name":"expand","in":"query","description":"Expand relations","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Comma-separated list of fields to include in the response","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Specifies ascending or descending sort on existing fields","schema":{"type":"string"}},{"name":"unique","in":"query","description":"Find all unique values for selected field","schema":{"type":"string","enum":["false","true"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AttachmentEntityList"}}}}},"404":{"description":"Not Found"}}},"post":{"tags":["attachment"],"summary":"POST for attachment","description":"Add attachment into the system","operationId":"createAttachmentEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"description":"Add attachment into the system","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentEntityWrite"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}}},"/attachment/aggregate":{"get":{"tags":["attachment"],"summary":"AGGREGATE for attachment","description":"Returns aggregate for attachments","operationId":"getAttachmentAggregate","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}},{"name":"pipeline","in":"query","description":"Pipeline","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aggregate"}}}},"404":{"description":"Not Found"}}}},"/attachment/bulk":{"put":{"tags":["attachment"],"summary":"PUT bulk  for attachment","operationId":"updateAttachmentEntityBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"post":{"tags":["attachment"],"summary":"POST bulk  for attachment","description":"Add attachment into the system","operationId":"createAttachmentEntityBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"description":"Add attachment into the system","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"delete":{"tags":["attachment"],"summary":"DELETE bulk  for attachment","operationId":"deleteAttachmentCollectionBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}}},"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/attachment/count":{"get":{"tags":["attachment"],"summary":"COUNT for attachment","description":"Count all attachments from the system","operationId":"getAttachmentCountCollection","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}},"404":{"description":"Not Found"}}}},"/attachment/describe":{"get":{"tags":["attachment"],"summary":"DESCRIBE for attachment","description":"Returns describe for attachments","operationId":"getAttachmentDescribe","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentDescribe"}}}},"404":{"description":"Not Found"}}}},"/attachment/{attachment_id}":{"get":{"tags":["attachment"],"summary":"GET for attachment","description":"Return attachment information","operationId":"getAttachmentEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"attachment_id","in":"path","description":"Attachment Identifier","required":true,"schema":{"type":"string"}},{"name":"expand","in":"query","description":"Expand relations","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Comma-separated list of fields to include in the response","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentEntity"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["attachment"],"summary":"PUT for attachment","description":"Update attachment information","operationId":"updateAttachmentEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"attachment_id","in":"path","description":"Attachment Identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Update attachment information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentEntityWrite"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"delete":{"tags":["attachment"],"summary":"DELETE for attachment","description":"Delete attachment information","operationId":"deleteAttachmentEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"attachment_id","in":"path","description":"Attachment Identifier","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/call":{"get":{"tags":["call"],"summary":"GET for call","description":"Returns all calls from the system","operationId":"getCallCollection","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"page_size","in":"query","description":"Amount of results (default: 25)","schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"Page to show (default: 1)","schema":{"type":"integer","format":"int32"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}},{"name":"expand","in":"query","description":"Expand relations","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Comma-separated list of fields to include in the response","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Specifies ascending or descending sort on existing fields","schema":{"type":"string"}},{"name":"unique","in":"query","description":"Find all unique values for selected field","schema":{"type":"string","enum":["false","true"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CallEntity"}}}}},"404":{"description":"Not Found"}}},"post":{"tags":["call"],"summary":"POST for call","description":"Add call into the system","operationId":"createCallEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"description":"Add call into the system","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallEntity"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}}},"/call/aggregate":{"get":{"tags":["call"],"summary":"AGGREGATE for call","description":"Returns aggregate for calls","operationId":"getCallAggregate","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}},{"name":"pipeline","in":"query","description":"Pipeline","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aggregate"}}}},"404":{"description":"Not Found"}}}},"/call/bulk":{"put":{"tags":["call"],"summary":"PUT bulk  for call","operationId":"updateCallEntityBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"post":{"tags":["call"],"summary":"POST bulk  for call","description":"Add call into the system","operationId":"createCallEntityBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"description":"Add call into the system","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"delete":{"tags":["call"],"summary":"DELETE bulk  for call","operationId":"deleteCallCollectionBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}}},"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/call/count":{"get":{"tags":["call"],"summary":"COUNT for call","description":"Count all calls from the system","operationId":"getCallCountCollection","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}},"404":{"description":"Not Found"}}}},"/call/describe":{"get":{"tags":["call"],"summary":"DESCRIBE for call","description":"Returns describe for calls","operationId":"getCallDescribe","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallDescribe"}}}},"404":{"description":"Not Found"}}}},"/call/{call_id}":{"get":{"tags":["call"],"summary":"GET for call","description":"Return call information","operationId":"getCallEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"call_id","in":"path","description":"Call Identifier","required":true,"schema":{"type":"string"}},{"name":"expand","in":"query","description":"Expand relations","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Comma-separated list of fields to include in the response","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallEntity"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["call"],"summary":"PUT for call","description":"Update call information","operationId":"updateCallEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"call_id","in":"path","description":"Call Identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Update call information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"delete":{"tags":["call"],"summary":"DELETE for call","description":"Delete call information","operationId":"deleteCallEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"call_id","in":"path","description":"Call Identifier","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/campaign":{"get":{"tags":["campaign"],"summary":"GET for campaign","description":"Returns all campaigns from the system","operationId":"getCampaignCollection","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"page_size","in":"query","description":"Amount of results (default: 25)","schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"Page to show (default: 1)","schema":{"type":"integer","format":"int32"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}},{"name":"expand","in":"query","description":"Expand relations","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Comma-separated list of fields to include in the response","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Specifies ascending or descending sort on existing fields","schema":{"type":"string"}},{"name":"unique","in":"query","description":"Find all unique values for selected field","schema":{"type":"string","enum":["false","true"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CampaignEntity"}}}}},"404":{"description":"Not Found"}}},"post":{"tags":["campaign"],"summary":"POST for campaign","description":"Add campaign into the system","operationId":"createCampaignEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"description":"Add campaign into the system","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignEntity"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}}},"/campaign/aggregate":{"get":{"tags":["campaign"],"summary":"AGGREGATE for campaign","description":"Returns aggregate for campaigns","operationId":"getCampaignAggregate","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}},{"name":"pipeline","in":"query","description":"Pipeline","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aggregate"}}}},"404":{"description":"Not Found"}}}},"/campaign/bulk":{"put":{"tags":["campaign"],"summary":"PUT bulk  for campaign","operationId":"updateCampaignEntityBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"post":{"tags":["campaign"],"summary":"POST bulk  for campaign","description":"Add campaign into the system","operationId":"createCampaignEntityBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"description":"Add campaign into the system","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"delete":{"tags":["campaign"],"summary":"DELETE bulk  for campaign","operationId":"deleteCampaignCollectionBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}}},"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/campaign/count":{"get":{"tags":["campaign"],"summary":"COUNT for campaign","description":"Count all campaigns from the system","operationId":"getCampaignCountCollection","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}},"404":{"description":"Not Found"}}}},"/campaign/describe":{"get":{"tags":["campaign"],"summary":"DESCRIBE for campaign","description":"Returns describe for campaigns","operationId":"getCampaignDescribe","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignDescribe"}}}},"404":{"description":"Not Found"}}}},"/campaign/{campaign_id}":{"get":{"tags":["campaign"],"summary":"GET for campaign","description":"Return campaign information","operationId":"getCampaignEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"campaign_id","in":"path","description":"Campaign Identifier","required":true,"schema":{"type":"string"}},{"name":"expand","in":"query","description":"Expand relations","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Comma-separated list of fields to include in the response","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignEntity"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["campaign"],"summary":"PUT for campaign","description":"Update campaign information","operationId":"updateCampaignEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"campaign_id","in":"path","description":"Campaign Identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Update campaign information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"delete":{"tags":["campaign"],"summary":"DELETE for campaign","description":"Delete campaign information","operationId":"deleteCampaignEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"campaign_id","in":"path","description":"Campaign Identifier","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/case":{"get":{"tags":["case"],"summary":"GET for case","description":"Returns all cases from the system","operationId":"getCaseCollection","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"page_size","in":"query","description":"Amount of results (default: 25)","schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"Page to show (default: 1)","schema":{"type":"integer","format":"int32"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}},{"name":"expand","in":"query","description":"Expand relations","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Comma-separated list of fields to include in the response","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Specifies ascending or descending sort on existing fields","schema":{"type":"string"}},{"name":"unique","in":"query","description":"Find all unique values for selected field","schema":{"type":"string","enum":["false","true"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CasesEntity"}}}}},"404":{"description":"Not Found"}}},"post":{"tags":["case"],"summary":"POST for case","description":"Add case into the system","operationId":"createCaseEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"description":"Add case into the system","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CasesEntity"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CasesEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}}},"/case/aggregate":{"get":{"tags":["case"],"summary":"AGGREGATE for case","description":"Returns aggregate for cases","operationId":"getCaseAggregate","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}},{"name":"pipeline","in":"query","description":"Pipeline","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aggregate"}}}},"404":{"description":"Not Found"}}}},"/case/bulk":{"put":{"tags":["case"],"summary":"PUT bulk  for case","operationId":"updateCaseEntityBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"post":{"tags":["case"],"summary":"POST bulk  for case","description":"Add case into the system","operationId":"createCaseEntityBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"description":"Add case into the system","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"delete":{"tags":["case"],"summary":"DELETE bulk  for case","operationId":"deleteCaseCollectionBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}}},"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/case/count":{"get":{"tags":["case"],"summary":"COUNT for case","description":"Count all cases from the system","operationId":"getCaseCountCollection","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}},"404":{"description":"Not Found"}}}},"/case/describe":{"get":{"tags":["case"],"summary":"DESCRIBE for case","description":"Returns describe for cases","operationId":"getCaseDescribe","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseDescribe"}}}},"404":{"description":"Not Found"}}}},"/case/{case_id}":{"get":{"tags":["case"],"summary":"GET for case","description":"Return case information","operationId":"getCaseEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"case_id","in":"path","description":"Case Identifier","required":true,"schema":{"type":"string"}},{"name":"expand","in":"query","description":"Expand relations","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Comma-separated list of fields to include in the response","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CasesEntity"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["case"],"summary":"PUT for case","description":"Update case information","operationId":"updateCaseEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"case_id","in":"path","description":"Case Identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Update case information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CasesEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CasesEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"delete":{"tags":["case"],"summary":"DELETE for case","description":"Delete case information","operationId":"deleteCaseEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"case_id","in":"path","description":"Case Identifier","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/comment":{"get":{"tags":["comment"],"summary":"GET for comment","description":"Returns all comments from the system","operationId":"getCommentCollection","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"page_size","in":"query","description":"Amount of results (default: 25)","schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"Page to show (default: 1)","schema":{"type":"integer","format":"int32"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}},{"name":"expand","in":"query","description":"Expand relations","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Comma-separated list of fields to include in the response","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Specifies ascending or descending sort on existing fields","schema":{"type":"string"}},{"name":"unique","in":"query","description":"Find all unique values for selected field","schema":{"type":"string","enum":["false","true"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CommentEntity"}}}}},"404":{"description":"Not Found"}}},"post":{"tags":["comment"],"summary":"POST for comment","description":"Add comment into the system","operationId":"createCommentEntity","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"description":"Add comment into the system","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentEntity"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}}},"/comment/aggregate":{"get":{"tags":["comment"],"summary":"AGGREGATE for comment","description":"Returns aggregate for comments","operationId":"getCommentAggregate","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-ENABLE","in":"header","description":"Data Enable","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DATA-BUILD","in":"header","description":"Data Build","schema":{"type":"string","enum":["false"]}},{"name":"X-API2CRM-DATA-IS-FINAL","in":"header","description":"Data Is Final","schema":{"type":"string","enum":["true","false"]}},{"name":"X-API2CRM-DATA-STRATEGY","in":"header","description":"Data Strategy","schema":{"type":"string","enum":["simple"]}},{"name":"X-API2CRM-DATA-COHERENT-ENTITIES","in":"header","description":"Coherent Entities","schema":{"type":"string"}},{"name":"X-API2CRM-DATA-ALWAYS-ACTUAL","in":"header","description":"Data Is Actual","schema":{"type":"string","enum":["true"]}},{"name":"X-API2CRM-DATA-ACTUAL-AT","in":"header","description":"Data Actual At","schema":{"pattern":"/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/","type":"string","format":"date-time"}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter","schema":{"type":"string"}},{"name":"pipeline","in":"query","description":"Pipeline","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aggregate"}}}},"404":{"description":"Not Found"}}}},"/comment/bulk":{"put":{"tags":["comment"],"summary":"PUT bulk  for comment","operationId":"updateCommentEntityBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"post":{"tags":["comment"],"summary":"POST bulk  for comment","description":"Add comment into the system","operationId":"createCommentEntityBulk","parameters":[{"name":"X-API2CRM-USER-KEY","in":"header","description":"User Key","required":true,"schema":{"type":"string","default":"e2a6379ab878ae7e58119d4ec842bf9c"}},{"name":"X-API2CRM-APPLICATION-KEY","in":"header","description":"Application Key","required":true,"schema":{"type":"string","default":"7ae5b17008fb414d84981191cf3b66a476ef8bef"}},{"name":"X-API2CRM-NATIVE-ENABLE","in":"header","description":"Return native response","schema":{"type":"string","enum":["false","true"]}},{"name":"X-API2CRM-DESCRIBE-LIFETIME","in":"header","description":"Describe lifetime","schema":{"type":"string"}}],"requestBody":{"description":"Add comment into the system","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntity"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEntityRelation"}}}},"400":{"description":"Client Error"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"}}},"delete":{"tags":["comment"],"summary":"DELETE bulk  for comment","operatio
[...]
