{"openapi":"3.0.1","info":{"title":"MySQLManagementClient","description":"The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules, VNET rules, security alert policies, log files and configurations with new business model.","version":"2018-06-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/queryTexts":{"get":{"tags":["QueryTexts"],"description":"Retrieve the Query-Store query texts for specified queryIds.","operationId":"QueryTexts_ListByServer","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"queryIds","in":"query","description":"The query identifiers","required":true,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryTextsResultList"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/queryTexts/{queryId}":{"get":{"tags":["QueryTexts"],"description":"Retrieve the Query-Store query texts for the queryId.","operationId":"QueryTexts_Get","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"queryId","in":"path","description":"The Query-Store query identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryText"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/topQueryStatistics":{"get":{"tags":["TopQueryStatistics"],"description":"Retrieve the Query-Store top queries for specified metric and aggregation.","operationId":"TopQueryStatistics_ListByServer","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The required parameters for retrieving top query statistics.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopQueryStatisticsInput"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopQueryStatisticsResultList"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/topQueryStatistics/{queryStatisticId}":{"get":{"tags":["TopQueryStatistics"],"description":"Retrieve the query statistic for specified identifier.","operationId":"TopQueryStatistics_Get","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"queryStatisticId","in":"path","description":"The Query Statistic identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryStatistic"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/waitStatistics":{"get":{"tags":["WaitStatistics"],"description":"Retrieve wait statistics for specified aggregation window.","operationId":"WaitStatistics_ListByServer","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The required parameters for retrieving wait statistics.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WaitStatisticsInput"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WaitStatisticsResultList"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/waitStatistics/{waitStatisticsId}":{"get":{"tags":["WaitStatistics"],"description":"Retrieve wait statistics for specified identifier.","operationId":"WaitStatistics_Get","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"waitStatisticsId","in":"path","description":"The Wait Statistic identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WaitStatistic"}}}}}}}},"components":{"schemas":{"QueryStatistic":{"properties":{"properties":{"$ref":"#/components/schemas/QueryStatisticProperties"}},"description":"Represents a Query Statistic.","allOf":[{"description":"The resource model definition for a ARM proxy resource. It will have everything other than required location and tags","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"QueryStatisticProperties":{"type":"object","properties":{"aggregationFunction":{"type":"string","description":"Aggregation function name."},"databaseNames":{"type":"array","description":"The list of database names.","items":{"type":"string"}},"endTime":{"type":"string","description":"Observation end time.","format":"date-time"},"metricDisplayName":{"type":"string","description":"Metric display name."},"metricName":{"type":"string","description":"Metric name."},"metricValue":{"type":"number","description":"Metric value.","format":"double"},"metricValueUnit":{"type":"string","description":"Metric value unit."},"queryExecutionCount":{"type":"integer","description":"Number of query executions in this time interval.","format":"int64"},"queryId":{"type":"string","description":"Database query identifier."},"startTime":{"type":"string","description":"Observation start time.","format":"date-time"}},"description":"The properties of a query statistic."},"QueryText":{"properties":{"properties":{"$ref":"#/components/schemas/QueryTextProperties"}},"description":"Represents a Query Text.","allOf":[{"description":"The resource model definition for a ARM proxy resource. It will have everything other than required location and tags","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"QueryTextProperties":{"type":"object","properties":{"queryId":{"type":"string","description":"Query identifier unique to the server."},"queryText":{"type":"string","description":"Query text."}},"description":"The properties of a query text."},"QueryTextsResultList":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to retrieve next page of results.","readOnly":true},"value":{"type":"array","description":"The list of query texts.","readOnly":true,"items":{"$ref":"#/components/schemas/QueryText"}}},"description":"A list of query texts."},"TopQueryStatisticsInput":{"required":["properties"],"type":"object","properties":{"properties":{"$ref":"#/components/schemas/TopQueryStatisticsInputProperties"}},"description":"Input to get top query statistics"},"TopQueryStatisticsInputProperties":{"required":["aggregationFunction","aggregationWindow","numberOfTopQueries","observationEndTime","observationStartTime","observedMetric"],"type":"object","properties":{"aggregationFunction":{"type":"string","description":"Aggregation function name."},"aggregationWindow":{"type":"string","description":"Aggregation interval type in ISO 8601 format."},"numberOfTopQueries":{"type":"integer","description":"Max number of top queries to return.","format":"int32"},"observationEndTime":{"type":"string","description":"Observation end time.","format":"date-time"},"observationStartTime":{"type":"string","description":"Observation start time.","format":"date-time"},"observedMetric":{"type":"string","description":"Observed metric name."}},"description":"The properties for input to get top query statistics"},"TopQueryStatisticsResultList":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to retrieve next page of results.","readOnly":true},"value":{"type":"array","description":"The list of top query statistics.","readOnly":true,"items":{"$ref":"#/components/schemas/QueryStatistic"}}},"description":"A list of query statistics."},"WaitStatistic":{"properties":{"properties":{"$ref":"#/components/schemas/WaitStatisticProperties"}},"description":"Represents a Wait Statistic.","allOf":[{"description":"The resource model definition for a ARM proxy resource. It will have everything other than required location and tags","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"WaitStatisticProperties":{"type":"object","properties":{"count":{"type":"integer","description":"Wait event count observed in this time interval.","format":"int64"},"databaseName":{"type":"string","description":"Database Name."},"endTime":{"type":"string","description":"Observation end time.","format":"date-time"},"eventName":{"type":"string","description":"Wait event name."},"eventTypeName":{"type":"string","description":"Wait event type name."},"queryId":{"type":"integer","description":"Database query identifier.","format":"int64"},"startTime":{"type":"string","description":"Observation start time.","format":"date-time"},"totalTimeInMs":{"type":"number","description":"Total time of wait in milliseconds in this time interval.","format":"double"},"userId":{"type":"integer","description":"Database user identifier.","format":"int64"}},"description":"The properties of a wait statistic."},"WaitStatisticsInput":{"required":["properties"],"type":"object","properties":{"properties":{"$ref":"#/components/schemas/WaitStatisticsInputProperties"}},"description":"Input to get wait statistics"},"WaitStatisticsInputProperties":{"required":["aggregationWindow","observationEndTime","observationStartTime"],"type":"object","properties":{"aggregationWindow":{"type":"string","description":"Aggregation interval type in ISO 8601 format."},"observationEndTime":{"type":"string","description":"Observation end time.","format":"date-time"},"observationStartTime":{"type":"string","description":"Observation start time.","format":"date-time"}},"description":"The properties for input to get wait statistics"},"WaitStatisticsResultList":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to retrieve next page of results.","readOnly":true},"value":{"type":"array","description":"The list of wait statistics.","readOnly":true,"items":{"$ref":"#/components/schemas/WaitStatistic"}}},"description":"A list of wait statistics."}},"parameters":{"QueryIdParameter":{"name":"queryId","in":"path","description":"The Query-Store query identifier.","required":true,"schema":{"type":"string"}},"QueryStatisticIdParameter":{"name":"queryStatisticId","in":"path","description":"The Query Statistic identifier.","required":true,"schema":{"type":"string"}},"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},"WaitStatisticsIdParameter":{"name":"waitStatisticsId","in":"path","description":"The Wait Statistic identifier.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}