{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2019-07-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/virtualNetworkAvailableEndpointServices" : {
      "get" : {
        "description" : "List what values of endpoint services are available for use.",
        "operationId" : "AvailableEndpointServices_List",
        "parameters" : [ {
          "name" : "location",
          "in" : "path",
          "description" : "The location to check available endpoint services.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. Returns list of available endpoint services.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EndpointServicesListResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "EndpointServiceResult" : {
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Name of the endpoint service.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the endpoint service.",
            "readOnly" : true
          }
        },
        "description" : "Endpoint service.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            }
          },
          "description" : "Reference to another subresource."
        } ]
      },
      "EndpointServicesListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "List of available endpoint services in a region.",
            "items" : {
              "$ref" : "#/components/schemas/EndpointServiceResult"
            }
          }
        },
        "description" : "Response for the ListAvailableEndpointServices API service call."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}