{"openapi":"3.0.1","info":{"title":"Power BI Embedded Management Client","description":"Client to manage your Power BI Embedded workspace collections and retrieve workspaces.","version":"2016-01-29"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/providers/Microsoft.PowerBI/operations":{"get":{"tags":["Operations"],"description":"Indicates which operations can be performed by the Power BI Resource Provider.","operationId":"getAvailableOperations","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationList"}}}},"default":{"description":"Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/locations/{location}/checkNameAvailability":{"post":{"tags":["WorkspaceCollections"],"description":"Verify the specified Power BI Workspace Collection name is valid and not already in use.","operationId":"WorkspaceCollections_checkNameAvailability","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Azure location","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Check name availability request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameRequest"}}},"required":true},"responses":{"200":{"description":"Request completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameResponse"}}}},"default":{"description":"Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/workspaceCollections":{"get":{"tags":["WorkspaceCollections"],"description":"Retrieves all existing Power BI workspace collections in the specified subscription.","operationId":"WorkspaceCollections_listBySubscription","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Get workspaces response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceCollectionList"}}}},"default":{"description":"Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources":{"post":{"tags":["WorkspaceCollections"],"description":"Migrates an existing Power BI Workspace Collection to a different resource group and/or subscription.","operationId":"WorkspaceCollections_migrate","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Azure resource group","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Workspace migration request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MigrateWorkspaceCollectionRequest"}}},"required":true},"responses":{"200":{"description":"Migration completed successfully"},"default":{"description":"Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/workspaceCollections":{"get":{"tags":["WorkspaceCollections"],"description":"Retrieves all existing Power BI workspace collections in the specified resource group.","operationId":"WorkspaceCollections_listByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Azure resource group","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Get workspaces response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceCollectionList"}}}},"default":{"description":"Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/workspaceCollections/{workspaceCollectionName}":{"get":{"tags":["WorkspaceCollections"],"description":"Retrieves an existing Power BI Workspace Collection.","operationId":"WorkspaceCollections_getByName","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Azure resource group","required":true,"schema":{"type":"string"}},{"name":"workspaceCollectionName","in":"path","description":"Power BI Embedded Workspace Collection name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Workspace collection created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceCollection"}}}},"default":{"description":"Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["WorkspaceCollections"],"description":"Creates a new Power BI Workspace Collection with the specified properties. A Power BI Workspace Collection contains one or more workspaces, and can be used to provision keys that provide API access to those workspaces.","operationId":"WorkspaceCollections_create","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Azure resource group","required":true,"schema":{"type":"string"}},{"name":"workspaceCollectionName","in":"path","description":"Power BI Embedded Workspace Collection name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Create workspace collection request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWorkspaceCollectionRequest"}}},"required":true},"responses":{"200":{"description":"Workspace collection created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceCollection"}}}},"default":{"description":"Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["WorkspaceCollections"],"description":"Delete a Power BI Workspace Collection.","operationId":"WorkspaceCollections_delete","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Azure resource group","required":true,"schema":{"type":"string"}},{"name":"workspaceCollectionName","in":"path","description":"Power BI Embedded Workspace Collection name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Workspace collection deleted successfully"},"default":{"description":"Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"patch":{"tags":["WorkspaceCollections"],"description":"Update an existing Power BI Workspace Collection with the specified properties.","operationId":"WorkspaceCollections_update","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Azure resource group","required":true,"schema":{"type":"string"}},{"name":"workspaceCollectionName","in":"path","description":"Power BI Embedded Workspace Collection name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Update workspace collection request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWorkspaceCollectionRequest"}}},"required":true},"responses":{"200":{"description":"Workspace collection updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceCollection"}}}},"default":{"description":"Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/workspaceCollections/{workspaceCollectionName}/listKeys":{"post":{"tags":["WorkspaceCollections"],"description":"Retrieves the primary and secondary access keys for the specified Power BI Workspace Collection.","operationId":"WorkspaceCollections_getAccessKeys","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Azure resource group","required":true,"schema":{"type":"string"}},{"name":"workspaceCollectionName","in":"path","description":"Power BI Embedded Workspace Collection name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Get access keys completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceCollectionAccessKeys"}}}},"default":{"description":"Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/workspaceCollections/{workspaceCollectionName}/regenerateKey":{"post":{"tags":["WorkspaceCollections"],"description":"Regenerates the primary or secondary access key for the specified Power BI Workspace Collection.","operationId":"WorkspaceCollections_regenerateKey","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Azure resource group","required":true,"schema":{"type":"string"}},{"name":"workspaceCollectionName","in":"path","description":"Power BI Embedded Workspace Collection name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Access key to regenerate","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceCollectionAccessKey"}}},"required":true},"responses":{"200":{"description":"Get access keys completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceCollectionAccessKeys"}}}},"default":{"description":"Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/workspaceCollections/{workspaceCollectionName}/workspaces":{"get":{"tags":["Workspaces"],"description":"Retrieves all existing Power BI workspaces in the specified workspace collection.","operationId":"Workspaces_List","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Azure resource group","required":true,"schema":{"type":"string"}},{"name":"workspaceCollectionName","in":"path","description":"Power BI Embedded Workspace Collection name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Get workspaces completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceList"}}}},"default":{"description":"Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"AzureSku":{"required":["name","tier"],"type":"object","properties":{"name":{"type":"string","description":"SKU name","enum":["S1"]},"tier":{"type":"string","description":"SKU tier","enum":["Standard"]}}},"CheckNameRequest":{"type":"object","properties":{"name":{"type":"string","description":"Workspace collection name"},"type":{"type":"string","description":"Resource type","default":"Microsoft.PowerBI/workspaceCollections"}}},"CheckNameResponse":{"type":"object","properties":{"message":{"type":"string","description":"Message indicating an unavailable name due to a conflict, or a description of the naming rules that are violated."},"nameAvailable":{"type":"boolean","description":"Specifies a Boolean value that indicates whether the specified Power BI Workspace Collection name is available to use."},"reason":{"type":"string","description":"Reason why the workspace collection name cannot be used.","enum":["Unavailable","Invalid"]}}},"CreateWorkspaceCollectionRequest":{"type":"object","properties":{"location":{"type":"string","description":"Azure location"},"sku":{"$ref":"#/components/schemas/AzureSku"},"tags":{"type":"object","additionalProperties":{"type":"string"}}}},"Display":{"type":"object","properties":{"description":{"type":"string","description":"The localized friendly description for the operation as shown to the user. This description should be thorough, yet concise. It will be used in tool-tips and detailed views."},"operation":{"type":"string","description":"The localized friendly name for the operation as shown to the user. This name should be concise (to fit in drop downs), but clear (self-documenting). Use Title Casing and include the entity/resource to which it applies."},"origin":{"type":"string","description":"The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX. Default value is 'user,system'"},"provider":{"type":"string","description":"The localized friendly form of the resource provider name. This form is also expected to include the publisher/company responsible. Use Title Casing. Begin with \"Microsoft\" for 1st party services."},"resource":{"type":"string","description":"The localized friendly form of the resource type related to this action/operation. This form should match the public documentation for the resource provider. Use Title Casing. For examples, refer to the \"name\" section."}}},"Error":{"type":"object","properties":{"code":{"type":"string"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ErrorDetail"}},"message":{"type":"string"},"target":{"type":"string"}}},"ErrorDetail":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"target":{"type":"string"}}},"MigrateWorkspaceCollectionRequest":{"type":"object","properties":{"resources":{"type":"array","items":{"type":"string"}},"targetResourceGroup":{"type":"string","description":"Name of the resource group the Power BI workspace collections will be migrated to."}}},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/Display"},"name":{"type":"string","description":"The name of the operation being performed on this particular object. This name should match the action name that appears in RBAC / the event service."}}},"OperationList":{"type":"object","properties":{"value":{"type":"array","items":{"$ref":"#/components/schemas/Operation"}}}},"UpdateWorkspaceCollectionRequest":{"type":"object","properties":{"sku":{"$ref":"#/components/schemas/AzureSku"},"tags":{"type":"object","additionalProperties":{"type":"string"}}}},"Workspace":{"type":"object","properties":{"id":{"type":"string","description":"Workspace id"},"name":{"type":"string","description":"Workspace name"},"properties":{"type":"object","description":"Property bag"},"type":{"type":"string","description":"Resource type"}}},"WorkspaceCollection":{"type":"object","properties":{"id":{"type":"string","description":"Resource id"},"location":{"type":"string","description":"Azure location"},"name":{"type":"string","description":"Workspace collection name"},"properties":{"type":"object","description":"Properties"},"sku":{"$ref":"#/components/schemas/AzureSku"},"tags":{"type":"object","additionalProperties":{"type":"string"}},"type":{"type":"string","description":"Resource type"}}},"WorkspaceCollectionAccessKey":{"type":"object","properties":{"keyName":{"type":"string","description":"Key name","enum":["key1","key2"]}}},"WorkspaceCollectionAccessKeys":{"type":"object","properties":{"key1":{"type":"string","description":"Access key 1"},"key2":{"type":"string","description":"Access key 2"}}},"WorkspaceCollectionList":{"type":"object","properties":{"value":{"type":"array","items":{"$ref":"#/components/schemas/WorkspaceCollection"}}}},"WorkspaceList":{"type":"object","properties":{"value":{"type":"array","items":{"$ref":"#/components/schemas/Workspace"}}}}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}}}}