{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "DevSpacesManagement",
    "description" : "Dev Spaces REST API",
    "version" : "2019-01-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "paths" : {
    "/providers/Microsoft.DevSpaces/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "summary" : "Lists operations for the resource provider.",
        "description" : "Lists all the supported operations by the Microsoft.DevSpaces resource provider along with their description.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful; response contains the list of operations under Microsoft.DevSpaces resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceProviderOperationList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevSpaces/controllers" : {
      "get" : {
        "tags" : [ "Controllers" ],
        "summary" : "Lists the Azure Dev Spaces Controllers in a subscription.",
        "description" : "Lists all the Azure Dev Spaces Controllers with their properties in the subscription.",
        "operationId" : "Controllers_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful; response contains the list of Azure Dev Spaces Controllers in the subscription.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ControllerList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing the reason for operation failure.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers" : {
      "get" : {
        "tags" : [ "Controllers" ],
        "summary" : "Lists the Azure Dev Spaces Controllers in a resource group.",
        "description" : "Lists all the Azure Dev Spaces Controllers with their properties in the specified resource group and subscription.",
        "operationId" : "Controllers_ListByResourceGroup",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful; response contains the list of Azure Dev Spaces Controllers in the resource group.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ControllerList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing the reason for operation failure.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers/{name}" : {
      "get" : {
        "tags" : [ "Controllers" ],
        "summary" : "Gets an Azure Dev Spaces Controller.",
        "description" : "Gets the properties for an Azure Dev Spaces Controller.",
        "operationId" : "Controllers_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the resource.",
          "required" : true,
          "schema" : {
            "maxLength" : 31,
            "minLength" : 3,
            "pattern" : "^[a-zA-Z0-9](-?[a-zA-Z0-9])*$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful; response contains the Azure Dev Spaces Controller.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Controller"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing the reason for operation failure. 404 - NotFound(Azure Dev Spaces Controller doesn't exist.)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Controllers" ],
        "summary" : "Creates an Azure Dev Spaces Controller.",
        "description" : "Creates an Azure Dev Spaces Controller with the specified create parameters.",
        "operationId" : "Controllers_Create",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the resource.",
          "required" : true,
          "schema" : {
            "maxLength" : 31,
            "minLength" : 3,
            "pattern" : "^[a-zA-Z0-9](-?[a-zA-Z0-9])*$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Controller create parameters.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Controller"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The request was successful; response contains the created Azure Dev Spaces Controller .",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Controller"
                }
              }
            }
          },
          "201" : {
            "description" : "The request was successful; Azure Dev Spaces Controller is being created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Controller"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing the reason for operation failure. 404 - NotFound(Azure Dev Spaces Controller doesn't exist.), 400 - BadRequest(One or more creation parameters are invalid.)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Controllers" ],
        "summary" : "Deletes an Azure Dev Spaces Controller.",
        "description" : "Deletes an existing Azure Dev Spaces Controller.",
        "operationId" : "Controllers_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the resource.",
          "required" : true,
          "schema" : {
            "maxLength" : 31,
            "minLength" : 3,
            "pattern" : "^[a-zA-Z0-9](-?[a-zA-Z0-9])*$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful; the Azure Dev Spaces Controller is deleted."
          },
          "202" : {
            "description" : "The request was successful; Azure Dev Spaces Controller is being deleted."
          },
          "204" : {
            "description" : "The request was successful; Azure Dev Spaces Controller does not exist."
          },
          "default" : {
            "description" : "Error response describing the reason for operation failure. 409 - Conflict(Azure Dev Spaces Controller is already getting deleted.)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Controllers" ],
        "summary" : "Updates an Azure Dev Spaces Controller.",
        "description" : "Updates the properties of an existing Azure Dev Spaces Controller with the specified update parameters.",
        "operationId" : "Controllers_Update",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the resource.",
          "required" : true,
          "schema" : {
            "maxLength" : 31,
            "minLength" : 3,
            "pattern" : "^[a-zA-Z0-9](-?[a-zA-Z0-9])*$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters for updating the Azure Dev Spaces Controller.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ControllerUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The request was successful; response contains the updated Azure Dev Spaces Controller .",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Controller"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing the reason for operation failure. 404 - NotFound(Azure Dev Spaces Controller doesn't exist.), 400 - BadRequest(One or more update parameters are invalid.)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers/{name}/listConnectionDetails" : {
      "post" : {
        "tags" : [ "Controllers" ],
        "summary" : "Lists connection details for an Azure Dev Spaces Controller.",
        "description" : "Lists connection details for the underlying container resources of an Azure Dev Spaces Controller.",
        "operationId" : "Controllers_ListConnectionDetails",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the resource.",
          "required" : true,
          "schema" : {
            "maxLength" : 31,
            "minLength" : 3,
            "pattern" : "^[a-zA-Z0-9](-?[a-zA-Z0-9])*$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful; response contains the list of connection details for the Azure Dev Spaces Controller .",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ControllerConnectionDetailsList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing the reason for operation failure. 404 - NotFound(Azure Dev Spaces Controller doesn't exist.)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/locations/{location}/checkContainerHostMapping" : {
      "post" : {
        "tags" : [ "ContainerHostMappings" ],
        "summary" : "Returns container host mapping object for a container host resource ID if an associated controller exists.",
        "operationId" : "ContainerHostMappings_GetContainerHostMapping",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the container host.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContainerHostMapping"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ContainerHostMapping" : {
        "type" : "object",
        "properties" : {
          "containerHostResourceId" : {
            "type" : "string",
            "description" : "ARM ID of the Container Host resource"
          },
          "mappedControllerResourceId" : {
            "type" : "string",
            "description" : "ARM ID of the mapped Controller resource",
            "readOnly" : true
          }
        },
        "description" : "Container host mapping object specifying the Container host resource ID and its associated Controller resource."
      },
      "Controller" : {
        "required" : [ "properties", "sku" ],
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ControllerProperties"
          },
          "sku" : {
            "$ref" : "#/components/schemas/Sku"
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/TrackedResource"
        } ]
      },
      "ControllerConnectionDetails" : {
        "type" : "object",
        "properties" : {
          "authKey" : {
            "type" : "string",
            "description" : "Authentication key for communicating with services.",
            "readOnly" : true
          },
          "orchestratorSpecificConnectionDetails" : {
            "$ref" : "#/components/schemas/OrchestratorSpecificConnectionDetails"
          }
        }
      },
      "ControllerConnectionDetailsList" : {
        "type" : "object",
        "properties" : {
          "connectionDetailsList" : {
            "type" : "array",
            "description" : "List of Azure Dev Spaces Controller connection details.",
            "items" : {
              "$ref" : "#/components/schemas/ControllerConnectionDetails"
            }
          }
        }
      },
      "ControllerList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI that can be used to request the next page for list of Azure Dev Spaces Controllers.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of Azure Dev Spaces Controllers.",
            "items" : {
              "$ref" : "#/components/schemas/Controller"
            }
          }
        }
      },
      "ControllerProperties" : {
        "required" : [ "targetContainerHostCredentialsBase64", "targetContainerHostResourceId" ],
        "type" : "object",
        "properties" : {
          "dataPlaneFqdn" : {
            "type" : "string",
            "description" : "DNS name for accessing DataPlane services",
            "readOnly" : true
          },
          "hostSuffix" : {
            "type" : "string",
            "description" : "DNS suffix for public endpoints running in the Azure Dev Spaces Controller.",
            "readOnly" : true
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "Provisioning state of the Azure Dev Spaces Controller.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Failed", "Canceled", "Updating", "Creating", "Deleting", "Deleted" ]
          },
          "targetContainerHostCredentialsBase64" : {
            "type" : "string",
            "description" : "Credentials of the target container host (base64)."
          },
          "targetContainerHostResourceId" : {
            "type" : "string",
            "description" : "Resource ID of the target container host"
          }
        }
      },
      "ControllerUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "tags" : {
            "type" : "object",
            "description" : "Tags for the Azure Dev Spaces Controller."
          }
        },
        "description" : "Parameters for updating an Azure Dev Spaces Controller."
      },
      "ErrorDetails" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Status code for the error.",
            "readOnly" : true
          },
          "message" : {
            "type" : "string",
            "description" : "Error message describing the error in detail.",
            "readOnly" : true
          },
          "target" : {
            "type" : "string",
            "description" : "The target of the particular error.",
            "readOnly" : true
          }
        }
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/ErrorDetails"
          }
        },
        "description" : "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message."
      },
      "KubernetesConnectionDetails" : {
        "properties" : {
          "kubeConfig" : {
            "type" : "string",
            "description" : "Gets the kubeconfig for the cluster."
          }
        },
        "description" : "Contains information used to connect to a Kubernetes cluster",
        "allOf" : [ {
          "$ref" : "#/components/schemas/OrchestratorSpecificConnectionDetails"
        } ]
      },
      "OrchestratorSpecificConnectionDetails" : {
        "type" : "object",
        "properties" : {
          "instanceType" : {
            "type" : "string",
            "description" : "Gets the Instance type.",
            "readOnly" : true
          }
        },
        "description" : "Base class for types that supply values used to connect to container orchestrators",
        "discriminator" : {
          "propertyName" : "instanceType"
        }
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Fully qualified resource Id for the resource.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the resource.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the resource.",
            "readOnly" : true
          }
        },
        "description" : "An Azure resource."
      },
      "ResourceProviderOperationDefinition" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "$ref" : "#/components/schemas/ResourceProviderOperationDisplay"
          },
          "name" : {
            "type" : "string",
            "description" : "Resource provider operation name."
          }
        }
      },
      "ResourceProviderOperationDisplay" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Description of the resource provider operation."
          },
          "operation" : {
            "type" : "string",
            "description" : "Name of the resource provider operation."
          },
          "provider" : {
            "type" : "string",
            "description" : "Name of the resource provider."
          },
          "resource" : {
            "type" : "string",
            "description" : "Name of the resource type."
          }
        }
      },
      "ResourceProviderOperationList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI that can be used to request the next page for list of Azure operations.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Resource provider operations list.",
            "items" : {
              "$ref" : "#/components/schemas/ResourceProviderOperationDefinition"
            }
          }
        }
      },
      "Sku" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the SKU for Azure Dev Spaces Controller.",
            "enum" : [ "S1" ]
          },
          "tier" : {
            "type" : "string",
            "description" : "The tier of the SKU for Azure Dev Spaces Controller.",
            "enum" : [ "Standard" ]
          }
        },
        "description" : "Model representing SKU for Azure Dev Spaces Controller."
      },
      "TrackedResource" : {
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "Region where the Azure resource is located."
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Tags for the Azure resource."
          }
        },
        "description" : "The resource model definition for a ARM tracked top level resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client API version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "NameParameter" : {
        "name" : "name",
        "in" : "path",
        "description" : "Name of the resource.",
        "required" : true,
        "schema" : {
          "maxLength" : 31,
          "minLength" : 3,
          "pattern" : "^[a-zA-Z0-9](-?[a-zA-Z0-9])*$",
          "type" : "string"
        }
      },
      "ResourceGroupParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "Resource group to which the resource belongs.",
        "required" : true,
        "schema" : {
          "maxLength" : 90,
          "minLength" : 1,
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Azure subscription ID.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}