{"openapi":"3.0.1","info":{"title":"AutomationManagement","version":"2015-10-31"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connections":{"get":{"tags":["Connection"],"description":"Retrieve a list of connections.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/connectionoperations"},"operationId":"Connection_ListByAutomationAccount","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionListResult"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connections/{connectionName}":{"get":{"tags":["Connection"],"description":"Retrieve the connection identified by connection name.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/connectionoperations"},"operationId":"Connection_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"The name of connection.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"put":{"tags":["Connection"],"description":"Create or update a connection.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/connectionoperations"},"operationId":"Connection_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"The parameters supplied to the create or update connection operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters supplied to the create or update connection operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionCreateOrUpdateParameters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"delete":{"tags":["Connection"],"description":"Delete the connection.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/connectionoperations"},"operationId":"Connection_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"The name of connection.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}},"204":{"description":"No Content"},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"patch":{"tags":["Connection"],"description":"Update a connection.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/connectionoperations"},"operationId":"Connection_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"The parameters supplied to the update a connection operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters supplied to the update a connection operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionUpdateParameters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}}},"components":{"schemas":{"Connection":{"properties":{"properties":{"$ref":"#/components/schemas/ConnectionProperties"}},"description":"Definition of the connection.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The core properties of ARM resources"}]}]},"ConnectionCreateOrUpdateParameters":{"required":["name","properties"],"type":"object","properties":{"name":{"type":"string","description":"Gets or sets the name of the connection."},"properties":{"$ref":"#/components/schemas/ConnectionCreateOrUpdateProperties"}},"description":"The parameters supplied to the create or update connection operation."},"ConnectionCreateOrUpdateProperties":{"required":["connectionType"],"type":"object","properties":{"connectionType":{"$ref":"#/components/schemas/ConnectionTypeAssociationProperty"},"description":{"type":"string","description":"Gets or sets the description of the connection."},"fieldDefinitionValues":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets the field definition properties of the connection."}},"description":"The properties of the create connection properties"},"ConnectionListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Gets or sets the next link."},"value":{"type":"array","description":"Gets or sets a list of connection.","items":{"$ref":"#/components/schemas/Connection"}}},"description":"The response model for the list connection operation."},"ConnectionProperties":{"type":"object","properties":{"connectionType":{"$ref":"#/components/schemas/ConnectionTypeAssociationProperty"},"creationTime":{"type":"string","description":"Gets the creation time.","format":"date-time","nullable":false,"readOnly":true},"description":{"type":"string","description":"Gets or sets the description."},"fieldDefinitionValues":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets the field definition values of the connection.","readOnly":true},"lastModifiedTime":{"type":"string","description":"Gets the last modified time.","format":"date-time","nullable":false,"readOnly":true}},"description":"Definition of the connection properties."},"ConnectionTypeAssociationProperty":{"type":"object","properties":{"name":{"type":"string","description":"Gets or sets the name of the connection type."}},"description":"The connection type property associated with the entity."},"ConnectionUpdateParameters":{"type":"object","properties":{"name":{"type":"string","description":"Gets or sets the name of the connection."},"properties":{"$ref":"#/components/schemas/ConnectionUpdateProperties"}},"description":"The parameters supplied to the update connection operation."},"ConnectionUpdateProperties":{"type":"object","properties":{"description":{"type":"string","description":"Gets or sets the description of the connection."},"fieldDefinitionValues":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets the field definition values of the connection."}},"description":"The properties of the update connection operation."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}