{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Compute Admin Client",
    "version" : "2015-12-01-preview"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/VMExtension" : {
      "get" : {
        "tags" : [ "VMExtensions" ],
        "summary" : "Returns a list of all Virtual Machine Extension Images.",
        "description" : "List of all Virtual Machine Extension Images for the current location are returned.",
        "operationId" : "VMExtensions_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-12-01-preview"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VMExtensionList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/VMExtension/publishers/{publisher}/types/{type}/versions/{version}" : {
      "get" : {
        "tags" : [ "VMExtensions" ],
        "summary" : "Returns requested Virtual Machine Extension Image.",
        "description" : "Returns requested Virtual Machine Extension Image matching publisher, type, version.",
        "operationId" : "VMExtensions_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publisher",
          "in" : "path",
          "description" : "Name of the publisher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "path",
          "description" : "Type of extension.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The version of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-12-01-preview"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VMExtension"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "VMExtensions" ],
        "summary" : "Create a Virtual Machine Extension Image.",
        "description" : "Create a Virtual Machine Extension Image with publisher, version.",
        "operationId" : "VMExtensions_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publisher",
          "in" : "path",
          "description" : "Name of the publisher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "path",
          "description" : "Type of extension.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The version of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-12-01-preview"
          }
        } ],
        "requestBody" : {
          "description" : "Virtual Machine Extension Image creation properties.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VMExtensionParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VMExtension"
                }
              }
            }
          },
          "201" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VMExtension"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "VMExtensions" ],
        "summary" : "Deletes a Virtual Machine Extension Image.",
        "description" : "Deletes specified Virtual Machine Extension Image.",
        "operationId" : "VMExtensions_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publisher",
          "in" : "path",
          "description" : "Name of the publisher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "path",
          "description" : "Type of extension.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The version of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-12-01-preview"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AzureBlob" : {
        "type" : "object",
        "properties" : {
          "uri" : {
            "type" : "string",
            "description" : "URI to Azure or AzureStack blob."
          }
        },
        "description" : "Azure or AzureStack blob information."
      },
      "VMExtension" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/VMExtensionProperties"
          }
        },
        "description" : "Virtual Machine Extension Image.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "ID of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "Location of the resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Type of Resource.",
              "readOnly" : true
            }
          },
          "description" : "Base resource object."
        } ]
      },
      "VMExtensionList" : {
        "type" : "array",
        "description" : "List of virtual machine extensions.",
        "items" : {
          "$ref" : "#/components/schemas/VMExtension"
        }
      },
      "VMExtensionParameters" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/VMExtensionProperties"
          }
        },
        "description" : "Parameters used to create a new Virtual Machine Extension Image."
      },
      "VMExtensionProperties" : {
        "type" : "object",
        "properties" : {
          "computeRole" : {
            "type" : "string",
            "description" : "Compute role"
          },
          "isSystemExtension" : {
            "type" : "boolean",
            "description" : "Indicates if the extension is for the system."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The provisioning state of the resource.",
            "enum" : [ "Creating", "Failed", "Succeeded", "Canceled" ]
          },
          "sourceBlob" : {
            "$ref" : "#/components/schemas/AzureBlob"
          },
          "supportMultipleExtensions" : {
            "type" : "boolean",
            "description" : "True if supports multiple extensions."
          },
          "vmOsType" : {
            "type" : "string",
            "description" : "Operating system type.",
            "enum" : [ "Unknown", "Windows", "Linux" ]
          },
          "vmScaleSetEnabled" : {
            "type" : "boolean",
            "description" : "Value indicating whether the extension is enabled for virtual machine scale set support."
          }
        },
        "description" : "Properties of a Virtual Machine Extension Image."
      }
    },
    "parameters" : {
      "TypeParameter" : {
        "name" : "type",
        "in" : "path",
        "description" : "Type of extension.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "VMExtensionParameter" : {
        "description" : "Virtual Machine Extension Image creation properties.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/VMExtensionParameters"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}