{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "SiteRecoveryManagementClient",
    "version" : "2018-07-10"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}/providers/Microsoft.RecoveryServices/replicationEligibilityResults" : {
      "get" : {
        "tags" : [ "ReplicationEligibilityResults" ],
        "summary" : "Gets the validation errors in case the VM is unsuitable for protection.",
        "description" : "Validates whether a given VM can be protected or not in which case returns list of errors.",
        "operationId" : "ReplicationEligibilityResults_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualMachineName",
          "in" : "path",
          "description" : "Virtual Machine name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReplicationEligibilityResultsCollection"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}/providers/Microsoft.RecoveryServices/replicationEligibilityResults/default" : {
      "get" : {
        "tags" : [ "ReplicationEligibilityResults" ],
        "summary" : "Gets the validation errors in case the VM is unsuitable for protection.",
        "description" : "Validates whether a given VM can be protected or not in which case returns list of errors.",
        "operationId" : "ReplicationEligibilityResults_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualMachineName",
          "in" : "path",
          "description" : "Virtual Machine name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReplicationEligibilityResults"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "summary" : "Returns the list of available operations.",
        "description" : "Operation to return the list of available operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationsDiscoveryCollection"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationAlertSettings" : {
      "get" : {
        "tags" : [ "ReplicationAlertSettings" ],
        "summary" : "Gets the list of configured email notification(alert) configurations.",
        "description" : "Gets the list of email notification(alert) configurations for the vault.",
        "operationId" : "ReplicationAlertSettings_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertCollection"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationAlertSettings/{alertSettingName}" : {
      "get" : {
        "tags" : [ "ReplicationAlertSettings" ],
        "summary" : "Gets an email notification(alert) configuration.",
        "description" : "Gets the details of the specified email notification(alert) configuration.",
        "operationId" : "ReplicationAlertSettings_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "alertSettingName",
          "in" : "path",
          "description" : "The name of the email notification configuration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alert"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ReplicationAlertSettings" ],
        "summary" : "Configures email notifications for this vault.",
        "description" : "Create or update an email notification(alert) configuration.",
        "operationId" : "ReplicationAlertSettings_Create",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "alertSettingName",
          "in" : "path",
          "description" : "The name of the email notification(alert) configuration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The input to configure the email notification(alert).",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConfigureAlertRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alert"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationEvents" : {
      "get" : {
        "tags" : [ "ReplicationEvents" ],
        "summary" : "Gets the list of Azure Site Recovery events.",
        "description" : "Gets the list of Azure Site Recovery events for the vault.",
        "operationId" : "ReplicationEvents_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter options.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventCollection"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationEvents/{eventName}" : {
      "get" : {
        "tags" : [ "ReplicationEvents" ],
        "summary" : "Get the details of an Azure Site recovery event.",
        "description" : "The operation to get the details of an Azure Site recovery event.",
        "operationId" : "ReplicationEvents_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eventName",
          "in" : "path",
          "description" : "The name of the Azure Site Recovery event.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Event"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics" : {
      "get" : {
        "tags" : [ "ReplicationFabrics" ],
        "summary" : "Gets the list of ASR fabrics",
        "description" : "Gets a list of the Azure Site Recovery fabrics in the vault.",
        "operationId" : "ReplicationFabrics_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FabricCollection"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}" : {
      "get" : {
        "tags" : [ "ReplicationFabrics" ],
        "summary" : "Gets the details of an ASR fabric.",
        "description" : "Gets the details of an Azure Site Recovery fabric.",
        "operationId" : "ReplicationFabrics_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Fabric"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ReplicationFabrics" ],
        "summary" : "Creates an Azure Site Recovery fabric.",
        "description" : "The operation to create an Azure Site Recovery fabric (for e.g. Hyper-V site)",
        "operationId" : "ReplicationFabrics_Create",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Name of the ASR fabric.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Fabric creation input.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FabricCreationInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Fabric"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      },
      "delete" : {
        "tags" : [ "ReplicationFabrics" ],
        "summary" : "Purges the site.",
        "description" : "The operation to purge(force delete) an Azure Site Recovery fabric.",
        "operationId" : "ReplicationFabrics_Purge",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "ASR fabric to purge.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "NoContent"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/checkConsistency" : {
      "post" : {
        "tags" : [ "ReplicationFabrics" ],
        "summary" : "Checks the consistency of the ASR fabric.",
        "description" : "The operation to perform a consistency check on the fabric.",
        "operationId" : "ReplicationFabrics_CheckConsistency",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Fabric"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/migratetoaad" : {
      "post" : {
        "tags" : [ "ReplicationFabrics" ],
        "summary" : "Migrates the site to AAD.",
        "description" : "The operation to migrate an Azure Site Recovery fabric to AAD.",
        "operationId" : "ReplicationFabrics_MigrateToAad",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "ASR fabric to migrate.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "NoContent"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/reassociateGateway" : {
      "post" : {
        "tags" : [ "ReplicationFabrics" ],
        "summary" : "Perform failover of the process server.",
        "description" : "The operation to move replications from a process server to another process server.",
        "operationId" : "ReplicationFabrics_ReassociateGateway",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "The name of the fabric containing the process server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The input to the failover process server operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FailoverProcessServerRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Fabric"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/remove" : {
      "post" : {
        "tags" : [ "ReplicationFabrics" ],
        "summary" : "Deletes the site.",
        "description" : "The operation to delete or remove an Azure Site Recovery fabric.",
        "operationId" : "ReplicationFabrics_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "ASR fabric to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "NoContent"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/renewCertificate" : {
      "post" : {
        "tags" : [ "ReplicationFabrics" ],
        "summary" : "Renews certificate for the fabric.",
        "description" : "Renews the connection certificate for the ASR replication fabric.",
        "operationId" : "ReplicationFabrics_RenewCertificate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "fabric name to renew certs for.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Renew certificate input.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RenewCertificateInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Fabric"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationLogicalNetworks" : {
      "get" : {
        "tags" : [ "ReplicationLogicalNetworks" ],
        "summary" : "Gets the list of logical networks under a fabric.",
        "description" : "Lists all the logical networks of the Azure Site Recovery fabric",
        "operationId" : "ReplicationLogicalNetworks_ListByReplicationFabrics",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Server Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LogicalNetworkCollection"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationLogicalNetworks/{logicalNetworkName}" : {
      "get" : {
        "tags" : [ "ReplicationLogicalNetworks" ],
        "summary" : "Gets a logical network with specified server id and logical network name.",
        "description" : "Gets the details of a logical network.",
        "operationId" : "ReplicationLogicalNetworks_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Server Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "logicalNetworkName",
          "in" : "path",
          "description" : "Logical network name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LogicalNetwork"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationNetworks" : {
      "get" : {
        "tags" : [ "ReplicationNetworks" ],
        "summary" : "Gets the list of networks under a fabric.",
        "description" : "Lists the networks available for a fabric.",
        "operationId" : "ReplicationNetworks_ListByReplicationFabrics",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkCollection"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationNetworks/{networkName}" : {
      "get" : {
        "tags" : [ "ReplicationNetworks" ],
        "summary" : "Gets a network with specified server id and network name.",
        "description" : "Gets the details of a network.",
        "operationId" : "ReplicationNetworks_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Server Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkName",
          "in" : "path",
          "description" : "Primary network name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Network"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationNetworks/{networkName}/replicationNetworkMappings" : {
      "get" : {
        "tags" : [ "ReplicationNetworkMappings" ],
        "summary" : "Gets all the network mappings under a network.",
        "description" : "Lists all ASR network mappings for the specified network.",
        "operationId" : "ReplicationNetworkMappings_ListByReplicationNetworks",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Primary fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkName",
          "in" : "path",
          "description" : "Primary network name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkMappingCollection"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationNetworks/{networkName}/replicationNetworkMappings/{networkMappingName}" : {
      "get" : {
        "tags" : [ "ReplicationNetworkMappings" ],
        "summary" : "Gets network mapping by name.",
        "description" : "Gets the details of an ASR network mapping",
        "operationId" : "ReplicationNetworkMappings_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Primary fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkName",
          "in" : "path",
          "description" : "Primary network name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkMappingName",
          "in" : "path",
          "description" : "Network mapping name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkMapping"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ReplicationNetworkMappings" ],
        "summary" : "Creates network mapping.",
        "description" : "The operation to create an ASR network mapping.",
        "operationId" : "ReplicationNetworkMappings_Create",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Primary fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkName",
          "in" : "path",
          "description" : "Primary network name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkMappingName",
          "in" : "path",
          "description" : "Network mapping name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Create network mapping input.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateNetworkMappingInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkMapping"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      },
      "delete" : {
        "tags" : [ "ReplicationNetworkMappings" ],
        "summary" : "Delete network mapping.",
        "description" : "The operation to delete a network mapping.",
        "operationId" : "ReplicationNetworkMappings_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Primary fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkName",
          "in" : "path",
          "description" : "Primary network name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkMappingName",
          "in" : "path",
          "description" : "ARM Resource Name for network mapping.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "NoContent"
          }
        }
      },
      "patch" : {
        "tags" : [ "ReplicationNetworkMappings" ],
        "summary" : "Updates network mapping.",
        "description" : "The operation to update an ASR network mapping.",
        "operationId" : "ReplicationNetworkMappings_Update",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Primary fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkName",
          "in" : "path",
          "description" : "Primary network name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkMappingName",
          "in" : "path",
          "description" : "Network mapping name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Update network mapping input.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateNetworkMappingInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkMapping"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers" : {
      "get" : {
        "tags" : [ "ReplicationProtectionContainers" ],
        "summary" : "Gets the list of protection container for a fabric.",
        "description" : "Lists the protection containers in the specified fabric.",
        "operationId" : "ReplicationProtectionContainers_ListByReplicationFabrics",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtectionContainerCollection"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}" : {
      "get" : {
        "tags" : [ "ReplicationProtectionContainers" ],
        "summary" : "Gets the protection container details.",
        "description" : "Gets the details of a protection container.",
        "operationId" : "ReplicationProtectionContainers_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Protection container name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtectionContainer"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ReplicationProtectionContainers" ],
        "summary" : "Create a protection container.",
        "description" : "Operation to create a protection container.",
        "operationId" : "ReplicationProtectionContainers_Create",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Unique fabric ARM name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Unique protection container ARM name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Creation input.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateProtectionContainerInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtectionContainer"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/discoverProtectableItem" : {
      "post" : {
        "tags" : [ "ReplicationProtectionContainers" ],
        "summary" : "Adds a protectable item to the replication protection container.",
        "description" : "The operation to a add a protectable item to a protection container(Add physical server.)",
        "operationId" : "ReplicationProtectionContainers_DiscoverProtectableItem",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "The name of the fabric.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "The name of the protection container.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The request object to add a protectable item.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DiscoverProtectableItemRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtectionContainer"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/remove" : {
      "post" : {
        "tags" : [ "ReplicationProtectionContainers" ],
        "summary" : "Removes a protection container.",
        "description" : "Operation to remove a protection container.",
        "operationId" : "ReplicationProtectionContainers_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Unique fabric ARM name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Unique protection container ARM name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "NoContent"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationMigrationItems" : {
      "get" : {
        "tags" : [ "ReplicationMigrationItems" ],
        "summary" : "Gets the list of migration items in the protection container.",
        "description" : "Gets the list of ASR migration items in the protection container.",
        "operationId" : "ReplicationMigrationItems_ListByReplicationProtectionContainers",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Protection container name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MigrationItemCollection"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationMigrationItems/{migrationItemName}" : {
      "get" : {
        "tags" : [ "ReplicationMigrationItems" ],
        "summary" : "Gets the details of a migration item.",
        "operationId" : "ReplicationMigrationItems_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric unique name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Protection container name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "migrationItemName",
          "in" : "path",
          "description" : "Migration item name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MigrationItem"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ReplicationMigrationItems" ],
        "summary" : "Enables migration.",
        "description" : "The operation to create an ASR migration item (enable migration).",
        "operationId" : "ReplicationMigrationItems_Create",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Protection container name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "migrationItemName",
          "in" : "path",
          "description" : "Migration item name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Enable migration input.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EnableMigrationInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MigrationItem"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      },
      "delete" : {
        "tags" : [ "ReplicationMigrationItems" ],
        "summary" : "Delete the migration item.",
        "description" : "The operation to delete an ASR migration item.",
        "operationId" : "ReplicationMigrationItems_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Protection container name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "migrationItemName",
          "in" : "path",
          "description" : "Migration item name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deleteOption",
          "in" : "query",
          "description" : "The delete option.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "NoContent"
          }
        }
      },
      "patch" : {
        "tags" : [ "ReplicationMigrationItems" ],
        "summary" : "Updates migration item.",
        "description" : "The operation to update the recovery settings of an ASR migration item.",
        "operationId" : "ReplicationMigrationItems_Update",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Protection container name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "migrationItemName",
          "in" : "path",
          "description" : "Migration item name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Update migration item input.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateMigrationItemInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MigrationItem"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationMigrationItems/{migrationItemName}/migrate" : {
      "post" : {
        "tags" : [ "ReplicationMigrationItems" ],
        "summary" : "Migrate item.",
        "description" : "The operation to initiate migration of the item.",
        "operationId" : "ReplicationMigrationItems_Migrate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Protection container name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "migrationItemName",
          "in" : "path",
          "description" : "Migration item name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Migrate input.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MigrateInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MigrationItem"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationMigrationItems/{migrationItemName}/migrationRecoveryPoints" : {
      "get" : {
        "tags" : [ "MigrationRecoveryPoints" ],
        "summary" : "Gets the recovery points for a migration item.",
        "operationId" : "MigrationRecoveryPoints_ListByReplicationMigrationItems",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric unique name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Protection container name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "migrationItemName",
          "in" : "path",
          "description" : "Migration item name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MigrationRecoveryPointCollection"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationMigrationItems/{migrationItemName}/migrationRecoveryPoints/{migrationRecoveryPointName}" : {
      "get" : {
        "tags" : [ "MigrationRecoveryPoints" ],
        "summary" : "Gets a recovery point for a migration item.",
        "operationId" : "MigrationRecoveryPoints_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric unique name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Protection container name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "migrationItemName",
          "in" : "path",
          "description" : "Migration item name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "migrationRecoveryPointName",
          "in" : "path",
          "description" : "The migration recovery point name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MigrationRecoveryPoint"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationMigrationItems/{migrationItemName}/testMigrate" : {
      "post" : {
        "tags" : [ "ReplicationMigrationItems" ],
        "summary" : "Test migrate item.",
        "description" : "The operation to initiate test migration of the item.",
        "operationId" : "ReplicationMigrationItems_TestMigrate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Protection container name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "migrationItemName",
          "in" : "path",
          "description" : "Migration item name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Test migrate input.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TestMigrateInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MigrationItem"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationMigrationItems/{migrationItemName}/testMigrateCleanup" : {
      "post" : {
        "tags" : [ "ReplicationMigrationItems" ],
        "summary" : "Test migrate cleanup.",
        "description" : "The operation to initiate test migrate cleanup.",
        "operationId" : "ReplicationMigrationItems_TestMigrateCleanup",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Protection container name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "migrationItemName",
          "in" : "path",
          "description" : "Migration item name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Test migrate cleanup input.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TestMigrateCleanupInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MigrationItem"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationProtectableItems" : {
      "get" : {
        "tags" : [ "ReplicationProtectableItems" ],
        "summary" : "Gets the list of protectable items.",
        "description" : "Lists the protectable items in a protection container.",
        "operationId" : "ReplicationProtectableItems_ListByReplicationProtectionContainers",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Protection container name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter options.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtectableItemCollection"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationProtectableItems/{protectableItemName}" : {
      "get" : {
        "tags" : [ "ReplicationProtectableItems" ],
        "summary" : "Gets the details of a protectable item.",
        "description" : "The operation to get the details of a protectable item.",
        "operationId" : "ReplicationProtectableItems_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Protection container name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectableItemName",
          "in" : "path",
          "description" : "Protectable item name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtectableItem"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationProtectedItems" : {
      "get" : {
        "tags" : [ "ReplicationProtectedItems" ],
        "summary" : "Gets the list of Replication protected items.",
        "description" : "Gets the list of ASR replication protected items in the protection container.",
        "operationId" : "ReplicationProtectedItems_ListByReplicationProtectionContainers",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fabricName",
          "in" : "path",
          "description" : "Fabric name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protectionContainerName",
          "in" : "path",
          "description" : "Protection container name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReplicationProtectedItemCollection"
                }
              }
            }
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationProtectedItems/{replicatedProtectedItemName}" : {
      "get" : {
        "tags" : [ "ReplicationProtectedItems" ],
        "summary" : "Gets the details of a Replication protected item.",
        "description" : "Gets the details of an ASR replication protected item.",
        "operationId" : "ReplicationProtectedItems_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
[...]
