{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "DeploymentAdminClient",
    "description" : "Deployment Admin Client.",
    "version" : "2019-01-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/fileContainers" : {
      "get" : {
        "tags" : [ "FileContainers" ],
        "description" : "Returns an array of file containers.",
        "operationId" : "FileContainers_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-01-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FileContainersList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/fileContainers/{fileContainerId}" : {
      "get" : {
        "tags" : [ "FileContainers" ],
        "description" : "Retrieves the specific file container details.",
        "operationId" : "FileContainers_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fileContainerId",
          "in" : "path",
          "description" : "The file container identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-01-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FileContainer"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "put" : {
        "tags" : [ "FileContainers" ],
        "description" : "Creates a new file container.",
        "operationId" : "FileContainers_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-01-01"
          }
        }, {
          "name" : "fileContainerId",
          "in" : "path",
          "description" : "The file container identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters required to create a new file container.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FileContainerParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FileContainer"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      },
      "delete" : {
        "tags" : [ "FileContainers" ],
        "summary" : "Deletes specified file container.",
        "description" : "Delete an existing file container.",
        "operationId" : "FileContainers_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fileContainerId",
          "in" : "path",
          "description" : "The file container identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-01-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorInfo" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The error code."
          },
          "details" : {
            "type" : "array",
            "description" : "The detailed error messages.",
            "items" : {
              "$ref" : "#/components/schemas/ErrorInfo"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "The error message."
          }
        },
        "description" : "Extended Error Information."
      },
      "FileContainer" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/FileContainerAdminProperties"
          }
        },
        "description" : "File container entity.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "ID of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "Location of the resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Type of Resource.",
              "readOnly" : true
            }
          },
          "description" : "Object model of azure resource manager base."
        } ]
      },
      "FileContainerAdminProperties" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/ErrorInfo"
          },
          "fileContainerId" : {
            "$ref" : "#/components/schemas/FileContainerId"
          },
          "postCopyAction" : {
            "$ref" : "#/components/schemas/PostCopyAction"
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "Provisioning state of the resource."
          },
          "sourceUri" : {
            "$ref" : "#/components/schemas/SourceUri"
          },
          "uri" : {
            "type" : "string",
            "description" : "The file or container Uri. This is read-only property; a user cannot set it."
          }
        },
        "description" : "File Container Properties."
      },
      "FileContainerId" : {
        "type" : "string",
        "description" : "File container resource identifier containing product manifest."
      },
      "FileContainerParameters" : {
        "type" : "object",
        "properties" : {
          "postCopyAction" : {
            "$ref" : "#/components/schemas/PostCopyAction"
          },
          "sourceUri" : {
            "$ref" : "#/components/schemas/SourceUri"
          }
        },
        "description" : "Parameters for creating a new file container."
      },
      "FileContainersList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Continuation token."
          },
          "value" : {
            "type" : "array",
            "description" : "List of file containers.",
            "items" : {
              "$ref" : "#/components/schemas/FileContainer"
            }
          }
        },
        "description" : "List of file containers."
      },
      "PostCopyAction" : {
        "type" : "string",
        "description" : "Specifies the file post copy action.",
        "enum" : [ "None", "Unzip" ]
      },
      "SourceUri" : {
        "type" : "string",
        "description" : "Specifies The remote file location."
      }
    },
    "parameters" : {
      "FileContainerIdParameter" : {
        "name" : "fileContainerId",
        "in" : "path",
        "description" : "The file container identifier.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "FileContainerParameters" : {
        "description" : "The parameters required to create a new file container.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/FileContainerParameters"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}