{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NotificationHubsManagementClient",
    "description" : "Azure NotificationHub client",
    "version" : "2017-04-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.NotificationHubs/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Lists all of the available NotificationHubs REST API operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "NotificationHubs error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/checkNamespaceAvailability" : {
      "post" : {
        "tags" : [ "Namespaces" ],
        "description" : "Checks the availability of the given service namespace across all Azure subscriptions. This is useful because the domain name is created based on the service namespace name.",
        "operationId" : "Namespaces_CheckAvailability",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The namespace name.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckAvailabilityParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Checks if the Namespace name is a valid available name",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckAvailabilityResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/namespaces" : {
      "get" : {
        "tags" : [ "Namespaces" ],
        "description" : "Lists all the available namespaces within the subscription irrespective of the resourceGroups.",
        "operationId" : "Namespaces_ListAll",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Gets all the Namespaces within the subscription irrespective of the ResourceGroup",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NamespaceListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces" : {
      "get" : {
        "tags" : [ "Namespaces" ],
        "description" : "Lists the available namespaces within a resourceGroup.",
        "operationId" : "Namespaces_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. If resourceGroupName value is null the method lists all the namespaces within subscription",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Lists all Namespaces with the ResourceGroup",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NamespaceListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}" : {
      "get" : {
        "tags" : [ "Namespaces" ],
        "description" : "Returns the description for the specified namespace.",
        "operationId" : "Namespaces_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get Namespace",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NamespaceResource"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Namespaces" ],
        "description" : "Creates/Updates a service namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.",
        "externalDocs" : {
          "url" : "http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx"
        },
        "operationId" : "Namespaces_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to create a Namespace Resource.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NamespaceCreateOrUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Namespace is Create/Update",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NamespaceResource"
                }
              }
            }
          },
          "201" : {
            "description" : "Namespace is Create/Update",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NamespaceResource"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Namespaces" ],
        "description" : "Deletes an existing namespace. This operation also removes all associated notificationHubs under the namespace.",
        "externalDocs" : {
          "url" : "http://msdn.microsoft.com/en-us/library/windowsazure/jj856296.aspx"
        },
        "operationId" : "Namespaces_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Namespace is deleted"
          },
          "202" : {
            "description" : "Namespace delete request has been accepted"
          },
          "204" : {
            "description" : "Namespace is already Deleted"
          }
        }
      },
      "patch" : {
        "tags" : [ "Namespaces" ],
        "description" : "Patches the existing namespace",
        "operationId" : "Namespaces_Patch",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to patch a Namespace Resource.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NamespacePatchParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Namespace is Updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NamespaceResource"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules" : {
      "get" : {
        "tags" : [ "Namespaces" ],
        "description" : "Gets the authorization rules for a namespace.",
        "operationId" : "Namespaces_ListAuthorizationRules",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get the List of AuthorizationRules of a Namespace",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SharedAccessAuthorizationRuleListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}" : {
      "get" : {
        "tags" : [ "Namespaces" ],
        "description" : "Gets an authorization rule for a namespace by name.",
        "operationId" : "Namespaces_GetAuthorizationRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "Authorization rule name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get the Namespace AuthorizationRule",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SharedAccessAuthorizationRuleResource"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Namespaces" ],
        "description" : "Creates an authorization rule for a namespace",
        "operationId" : "Namespaces_CreateOrUpdateAuthorizationRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "Authorization Rule Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The shared access authorization rule.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Namespace Authorization Rule is Created/Updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SharedAccessAuthorizationRuleResource"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Namespaces" ],
        "description" : "Deletes a namespace authorization rule",
        "operationId" : "Namespaces_DeleteAuthorizationRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "Authorization Rule Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Namespace AuthorizationRule is deleted"
          },
          "204" : {
            "description" : "Namespace AuthorizationRule is already deleted"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys" : {
      "post" : {
        "tags" : [ "Namespaces" ],
        "description" : "Gets the Primary and Secondary ConnectionStrings to the namespace ",
        "operationId" : "Namespaces_ListKeys",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The connection string of the namespace for the specified authorizationRule.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Gets the Namespace AuthorizationRule's Primary keys and Secondary keys along with the ConnectionStrings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SharedAccessAuthorizationRuleListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys" : {
      "post" : {
        "tags" : [ "Namespaces" ],
        "description" : "Regenerates the Primary/Secondary Keys to the Namespace Authorization Rule",
        "operationId" : "Namespaces_RegenerateKeys",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The connection string of the namespace for the specified authorizationRule.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to regenerate the Namespace Authorization Rule Key.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PolicykeyResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Regenerate the Primary/Secondary Key and returns the Keys and the connection string",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceListKeys"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/checkNotificationHubAvailability" : {
      "post" : {
        "tags" : [ "NotificationHubs" ],
        "description" : "Checks the availability of the given notificationHub in a namespace.",
        "operationId" : "NotificationHubs_CheckNotificationHubAvailability",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The notificationHub name.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckAvailabilityParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Checks if the NotificationHub name is a valid available name",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckAvailabilityResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs" : {
      "get" : {
        "tags" : [ "NotificationHubs" ],
        "description" : "Lists the notification hubs associated with a namespace.",
        "operationId" : "NotificationHubs_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get all NotificationHubs within a Namespace",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotificationHubListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}" : {
      "get" : {
        "tags" : [ "NotificationHubs" ],
        "description" : "Lists the notification hubs associated with a namespace.",
        "operationId" : "NotificationHubs_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "notificationHubName",
          "in" : "path",
          "description" : "The notification hub name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get the NotificationHub",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotificationHubResource"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "NotificationHubs" ],
        "description" : "Creates/Update a NotificationHub in a namespace.",
        "operationId" : "NotificationHubs_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "notificationHubName",
          "in" : "path",
          "description" : "The notification hub name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create/update a NotificationHub Resource.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NotificationHubCreateOrUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "NotificationHub is Created/Updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotificationHubResource"
                }
              }
            }
          },
          "201" : {
            "description" : "NotificationHub is Created/Updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotificationHubResource"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "NotificationHubs" ],
        "description" : "Deletes a notification hub associated with a namespace.",
        "operationId" : "NotificationHubs_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "notificationHubName",
          "in" : "path",
          "description" : "The notification hub name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Namespace is deleted"
          }
        }
      },
      "patch" : {
        "tags" : [ "NotificationHubs" ],
        "description" : "Patch a NotificationHub in a namespace.",
        "operationId" : "NotificationHubs_Patch",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "notificationHubName",
          "in" : "path",
          "description" : "The notification hub name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to patch a NotificationHub Resource.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NotificationHubPatchParameters"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "NotificationHub is patched",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotificationHubResource"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules" : {
      "get" : {
        "tags" : [ "NotificationHubs" ],
        "description" : "Gets the authorization rules for a NotificationHub.",
        "operationId" : "NotificationHubs_ListAuthorizationRules",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "notificationHubName",
          "in" : "path",
          "description" : "The notification hub name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get all NotificationHub AuthorizationRules",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SharedAccessAuthorizationRuleListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}" : {
      "get" : {
        "tags" : [ "NotificationHubs" ],
        "description" : "Gets an authorization rule for a NotificationHub by name.",
        "operationId" : "NotificationHubs_GetAuthorizationRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "notificationHubName",
          "in" : "path",
          "description" : "The notification hub name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "authorization rule name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get NotificationHub AuthorizationRule",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SharedAccessAuthorizationRuleResource"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "NotificationHubs" ],
        "description" : "Creates/Updates an authorization rule for a NotificationHub",
        "operationId" : "NotificationHubs_CreateOrUpdateAuthorizationRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "notificationHubName",
          "in" : "path",
          "description" : "The notification hub name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "Authorization Rule Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The shared access authorization rule.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "NotificationHub AuthorizationRule is Created/Updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SharedAccessAuthorizationRuleResource"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "NotificationHubs" ],
        "description" : "Deletes a notificationHub authorization rule",
        "operationId" : "NotificationHubs_DeleteAuthorizationRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "notificationHubName",
          "in" : "path",
          "description" : "The notification hub name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "Authorization Rule Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "NotificationHub AuthorizationRule is deleted"
          },
          "204" : {
            "description" : "NotificationHub AuthorizationRule is already deleted"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/listKeys" : {
      "post" : {
        "tags" : [ "NotificationHubs" ],
        "description" : "Gets the Primary and Secondary ConnectionStrings to the NotificationHub ",
        "operationId" : "NotificationHubs_ListKeys",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "notificationHubName",
          "in" : "path",
          "description" : "The notification hub name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The connection string of the NotificationHub for the specified authorizationRule.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Gets the Namespace AuthorizationRule's Primary keys and Secondary keys along with the ConnectionStrings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceListKeys"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys" : {
      "post" : {
        "tags" : [ "NotificationHubs" ],
        "description" : "Regenerates the Primary/Secondary Keys to the NotificationHub Authorization Rule",
        "operationId" : "NotificationHubs_RegenerateKeys",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "notificationHubName",
          "in" : "path",
          "description" : "The notification hub name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationRuleName",
          "in" : "path",
          "description" : "The connection string of the NotificationHub for the specified authorizationRule.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to regenerate the NotificationHub Authorization Rule Key.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PolicykeyResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Regenerate the Primary/Secondary Key and returns the Keys and the connection string",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceListKeys"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/debugsend" : {
      "post" : {
        "tags" : [ "NotificationHubs" ],
        "description" : "test send a push notification",
        "operationId" : "NotificationHubs_DebugSend",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "notificationHubName",
          "in" : "path",
          "description" : "The notification hub name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Debug send parameters",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DebugSendParameters"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "push send status",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DebugSendResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/pnsCredentials" : {
      "post" : {
        "tags" : [ "NotificationHubs" ],
        "description" : "Lists the PNS Credentials associated with a notification hub .",
        "operationId" : "NotificationHubs_GetPnsCredentials",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "namespaceName",
          "in" : "path",
          "description" : "The namespace name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "notificationHubName",
          "in" : "path",
          "description" : "The notification hub name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Gets all the NotificationHub PNS credentials",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PnsCredentialsResource"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AdmCredential" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/AdmCredentialProperties"
          }
        },
        "description" : "Description of a NotificationHub AdmCredential."
      },
      "AdmCredentialProperties" : {
        "type" : "object",
        "properties" : {
          "authTokenUrl" : {
            "type" : "string",
            "description" : "The URL of the authorization token."
          },
          "clientId" : {
            "type" : "string",
            "description" : "The client identifier."
          },
          "clientSecret" : {
            "type" : "string",
            "description" : "The credential secret access key."
          }
        },
        "description" : "Description of a NotificationHub AdmCredential."
      },
      "ApnsCredential" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ApnsCredentialProperties"
          }
        },
        "description" : "Description of a NotificationHub ApnsCredential."
      },
      "ApnsCredentialProperties" : {
        "type" : "object",
        "properties" : {
          "apnsCertificate" : {
            "type" : "string",
            "description" : "The APNS certificate."
          },
          "appId" : {
            "type" : "string",
            "description" : "The issuer (iss) registered claim key, whose value is your 10-character Team ID, obtained from your developer account"
          },
          "appName" : {
            "type" : "string",
            "description" : "The name of the application"
          },
          "certificateKey" : {
            "type" : "string",
            "description" : "The certificate key."
          },
          "endpoint" : {
            "type" : "string",
            "description" : "The endpoint of this credential."
          },
          "keyId" : {
            "type" : "string",
            "description" : "A 10-character key identifier (kid) key, obtained from your developer account"
          },
          "thumbprint" : {
            "type" : "string",
            "description" : "The APNS certificate Thumbprint"
          },
          "token" : {
            "type" : "string",
            "description" : "Provider Authentication Token, obtained through your developer account"
          }
        },
        "description" : "Description of a NotificationHub ApnsCredential."
      },
      "BaiduCredential" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/BaiduCredentialProperties"
          }
        },
        "description" : "Description of a NotificationHub BaiduCredential."
      },
      "BaiduCredentialProperties" : {
        "type" : "object",
        "properties" : {
          "baiduApiKey" : {
            "type" : "string",
            "description" : "Baidu Api Key."
          },
          "baiduEndPoint" : {
            "type" : "string",
            "description" : "Baidu Endpoint."
          },
          "baiduSecretKey" : {
            "type" : "string",
            "description" : "Baidu Secret Key"
          }
        },
        "description" : "Description of a NotificationHub BaiduCredential."
      },
      "CheckAvailabilityParameters" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource Id",
            "readOnly" : true
          },
          "isAvailiable" : {
            "type" : "boolean",
            "description" : "True if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false."
          },
          "location" : {
            "type" : "string",
            "description" : "Resource location"
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name"
          },
          "sku" : {
            "$ref" : "#/components/schemas/Sku"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags"
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type",
            "readOnly" : true
          }
        },
        "description" : "Parameters supplied to the Check Name Availability for Namespace and NotificationHubs."
      },
      "CheckAvailabilityResult" : {
        "properties" : {
          "isAvailiable" : {
            "type" : "boolean",
            "description" : "True if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false."
          }
        },
        "description" : "Description of a CheckAvailability resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "DebugSendParameters" : {
        "type" : "object",
        "description" : "Debug Send payload"
      },
      "DebugSendResponse" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/DebugSendResult"
          }
        },
        "description" : "Description of a NotificationHub Resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "DebugSendResult" : {
        "type" : "object",
        "properties" : {
          "failure" : {
            "type" : "number",
            "description" : "send failure"
          },
          "results" : {
            "type" : "object",
            "description" : "actual failure description"
          },
          "success" : {
            "type" : "number",
            "description" : "successful send"
          }
        }
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code."
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating why the operation failed."
          }
        },
        "description" : "Error response indicates NotificationHubs service is not able to process the incoming request. The reason is provided in the error message."
      },
      "GcmCredential" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/GcmCredentialProperties"
          }
        },
        "description" : "Description of a NotificationHub GcmCredential."
      },
      "GcmCredentialProperties" : {
        "type" : "object",
        "properties" : {
          "gcmEndpoint" : {
            "type" : "string",
            "description" : "The GCM endpoint."
          },
          "googleApiKey" : {
            "type" : "string",
            "description" : "The Google API key."
          }
        },
        "description" : "Description of a NotificationHub GcmCredential."
      },
      "MpnsCredential" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/MpnsCredentialProperties"
          }
        },
        "description" : "Description of a NotificationHub MpnsCredential."
      },
      "MpnsCredentialProperties" : {
        "type" : "object",
        "properties" : {
          "certificateKey" : {
            "type" : "string",
            "description" : "The certificate key for this credential."
          },
          "mpnsCertificate" : {
            "type" : "string",
            "description" : "The MPNS certificate."
          },
          "thumbprint" : {
            "type" : "string",
            "description" : "The MPNS certificate Thumbprint"
          }
        },
        "description" : "Description of a NotificationHub MpnsCredential."
      },
      "NamespaceCreateOrUpdateParameters" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/NamespaceProperties"
          }
        },
        "description" : "Parameters supplied to the CreateOrUpdate Namespace operation.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "NamespaceListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to the next set of results. Not empty if Value contains incomplete list of Namespaces"
          },
          "value" : {
            "type" : "array",
            "description" : "Result of the List Namespace operation.",
            "items" : {
              "$ref" : "#/components/schemas/NamespaceResource"
            }
          }
        },
        "description" : "The response of the List Namespace operation."
      },
      "NamespacePatchParameters" : {
        "type" : "object",
        "properties" : {
          "sku" : {
            "$ref" : "#/components/schemas/Sku"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags"
          }
        },
        "description" : "Parameters supplied to the Patch Namespace operation."
      },
      "NamespaceProperties" : {
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The time the namespace was created.",
            "format" : "date-time"
          },
          "critical" : {
            "type" : "boolean",
            "description" : "Whether or not the namespace is set as Critical."
          },
          "dataCenter" : {
            "type" : "string",
            "description" : "Data center for the namespace"
          },
          "enabled" : {
            "type" : "boolean",
            "description" : "Whether or not the namespace is currently enabled."
          },
          "metricId" : {
            "type" : "string",
            "description" : "Identifier for Azure Insights metrics",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the namespace."
          },
          "namespaceType" : {
            "type" : "string",
            "description" : "The namespace type.",
            "enum" : [ "Messaging", "NotificationHub" ]
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "Provisioning state of the Namespace."
          },
          "region" : {
            "type" : "string",
            "description" : "Specifies the targeted region in which the namespace should be created. It can be any of the following values: Australia East, Australia Southeast, Central US, East US, East US 2, West US, North Central US, South Central US, East Asia, Southeast Asia, Brazil South, Japan East, Japan West, North Europe, West Europe"
          },
          "scaleUnit" : {
            "type" : "string",
            "description" : "ScaleUnit where the namespace gets created"
          },
          "serviceBusEndpoint" : {
            "type" : "string",
            "description" : "Endpoint you can use to perform NotificationHub operations."
          },
          "status" : {
            "type" : "string",
            "description" : "Status of the namespace. It can be any of these values:1 = Created/Active2 = Creating3 = Suspended4 = Deleting"
          },
          "subscriptionId" : {
            "type" : "string",
            "description" : "The Id of the Azure subscription associated with the namespace."
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The time the namespace was updated.",
            "format" : "date-time"
          }
        },
        "description" : "Namespace properties."
      },
      "NamespaceResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/NamespaceProperties"
          }
        },
        "description" : "Description of a Namespace resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "NotificationHubCreateOrUpdateParameters" : {
        "required" : [ "properties" ],
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/NotificationHubProperties"
          }
        },
        "description" : "Parameters supplied to the CreateOrUpdate NotificationHub operation.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "NotificationHubListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to the next set of results. Not empty if Value contains incomplete list of NotificationHub"
          },
          "value" : {
            "type" : "array",
            "description" : "Result of the List NotificationHub operation.",
            "items" : {
              "$ref" : "#/components/schemas/NotificationHubResource"
            }
          }
        },
        "description" : "The response of the List NotificationHub operation."
      },
      "NotificationHubPatchParameters" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/NotificationHubProperties"
          }
        },
        "description" : "Parameters supplied to the patch NotificationHub operation.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "NotificationHubProperties" : {
        "type" : "object",
        "properties" : {
          "admCredential" : {
            "$ref" : "#/components/schemas/AdmCredential"
          },
          "apnsCredential" : {
            "$ref" : "#/components/schemas/ApnsCredential"
          },
          "authorizationRules" : {
            "type" : "array",
            "description" : "The AuthorizationRules of the created NotificationHub",
            "items" : {
              "$ref" : "#/components/schemas/SharedAccessAuthorizationRuleProperties"
            }
          },
          "baiduCredential" : {
            "$ref" : "#/components/schemas/BaiduCredential"
          },
          "gcmCredential" : {
            "$ref" : "#/components/schemas/GcmCredential"
          },
          "mpnsCredential" : {
            "$ref" : "#/components/schemas/MpnsCredential"
          },
          "name" : {
            "type" : "string",
            "description" : "The NotificationHub name."
          },
          "registrationTtl" : {
            "type" : "string",
            "description" : "The RegistrationTtl of the created NotificationHub"
          },
          "wnsCredential" : {
            "$ref" : "#/components/schemas/WnsCredential"
          }
        },
        "description" : "NotificationHub properties."
      },
      "NotificationHubResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/NotificationHubProperties"
          }
        },
        "description" : "Description of a NotificationHub Resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "type" : "object",
            "properties" : {
              "operation" : {
                "type" : "string",
                "description" : "Operation type: Read, write, delete, etc.",
                "readOnly" : true
              },
              "provider" : {
                "type" : "string",
                "description" : "Service provider: Microsoft.NotificationHubs",
                "readOnly" : true
              },
              "resource" : {
                "type" : "string",
                "description" : "Resource on which the operation is performed: Invoice, etc.",
                "readOnly" : true
              }
            },
            "description" : "The object that represents the operation."
          },
          "name" : {
            "type" : "string",
            "description" : "Operation name: {provider}/{resource}/{operation}",
            "readOnly" : true
          }
        },
        "description" : "A NotificationHubs REST API operation"
      },
      "OperationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of operation list results if there are any.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of NotificationHubs operations supported by the Microsoft.NotificationHubs resource provider.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "Result of the request to list NotificationHubs operations. It contains a list of operations and a URL link to get the next set of results."
      },
      "PnsCredentialsProperties" : {
        "type" : "object",
        "properties" : {
          "admCredential" : {
            "$ref" : "#/components/schemas/AdmCredential"
          },
          "apnsCredential" : {
            "$ref" : "#/components/schemas/ApnsCredential"
          },
          "baiduCredential" : {
            "$ref" : "#/components/schemas/BaiduCredential"
          },
          "gcmCredential" : {
            "$ref" : "#/components/schemas/GcmCredential"
          },
          "mpnsCredential" : {
            "$ref" : "#/components/schemas/MpnsCredential"
          },
          "wnsCredential" : {
            "$ref" : "#/components/schemas/WnsCredential"
          }
        },
        "description" : "Description of a NotificationHub PNS Credentials."
      },
      "PnsCredentialsResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/PnsCredentialsProperties"
          }
        },
        "description" : "Description of a NotificationHub PNS Credentials.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "PolicykeyResource" : {
        "type" : "object",
        "properties" : {
          "policyKey" : {
            "type" : "string",
            "description" : "Name of the key that has to be regenerated for the Namespace/Notification Hub Authorization Rule. The value can be Primary Key/Secondary Key."
          }
        },
        "description" : "Namespace/NotificationHub Regenerate Keys"
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource Id",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Resource location"
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name",
            "readOnly" : true
          },
          "sku" : {
            "$ref" : "#/components/schemas/Sku"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags"
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type",
            "readOnly" : true
          }
        }
      },
      "ResourceListKeys" : {
        "type" : "object",
        "properties" : {
          "keyName" : {
            "type" : "string",
            "description" : "KeyName of the created AuthorizationRule"
          },
          "primaryConnectionString" : {
            "type" : "string",
            "description" : "PrimaryConnectionString of the AuthorizationRule."
          },
          "primaryKey" : {
            "type" : "string",
            "description" : "PrimaryKey of the created AuthorizationRule."
          },
          "secondaryConnectionString" : {
            "type" : "string",
            "description" : "SecondaryConnectionString of the created AuthorizationRule"
          },
          "secondaryKey" : {
            "type" : "string",
            "description" : "SecondaryKey of the created AuthorizationRule"
          }
        },
        "description" : "Namespace/NotificationHub Connection String"
      },
      "SharedAccessAuthorizationRuleCreateOrUpdateParameters" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/SharedAccessAuthorizationRuleProperties"
          }
        },
        "description" : "Parameters supplied to the CreateOrUpdate Namespace AuthorizationRules."
      },
      "SharedAccessAuthorizationRuleListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to the next set of results. Not empty if Value contains incomplete list of AuthorizationRules"
          },
          "value" : {
            "type" : "array",
            "description" : "Result of the List AuthorizationRules operation.",
            "items" : {
              "$ref" : "#/components/schemas/SharedAccessAuthorizationRuleResource"
            }
          }
        },
        "description" : "The response of the List Namespace operation."
      },
      "SharedAccessAuthorizationRuleProperties" : {
        "type" : "object",
        "properties" : {
          "claimType" : {
            "type" : "string",
            "description" : "A string that describes the claim type",
            "readOnly" : true
          },
          "claimValue" : {
            "type" : "string",
            "description" : "A string that describes the claim value",
            "readOnly" : true
          },
          "createdTime" : {
            "type" : "string",
            "description" : "The created time for this rule",
            "readOnly" : true
          },
          "keyName" : {
            "type" : "string",
            "description" : "A string that describes the authorization rule.",
            "readOnly" : true
          },
          "modifiedTime" : {
            "type" : "string",
            "description" : "The last modified time for this rule",
            "readOnly" : true
          },
          "primaryKey" : {
            "type" : "string",
            "description" : "A base64-encoded 256-bit primary key for signing and validating the SAS token.",
            "readOnly" : true
          },
          "revision" : {
            "type" : "integer",
            "description" : "The revision number for the rule",
            "readOnly" : true
          },
          "rights" : {
            "type" : "array",
            "description" : "The rights associated with the rule.",
            "items" : {
              "type" : "string",
              "enum" : [ "Manage", "Send", "Listen" ]
            }
          },
          "secondaryKey" : {
            "type" : "string",
            "description" : "A base64-encoded 256-bit primary key for signing and validating the SAS token.",
            "readOnly" : true
          }
        },
        "description" : "SharedAccessAuthorizationRule properties."
      },
      "SharedAccessAuthorizationRuleResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/SharedAccessAuthorizationRuleProperties"
          }
        },
        "description" : "Description of a Namespace AuthorizationRules.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "Sku" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "capacity" : {
            "type" : "integer",
            "description" : "The capacity of the resource"
          },
          "family" : {
            "type" : "string",
            "description" : "The Sku Family"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the notification hub sku",
            "enum" : [ "Free", "Basic", "Standard" ]
          },
          "size" : {
            "type" : "string",
            "description" : "The Sku size"
          },
          "tier" : {
            "type" : "string",
            "description" : "The tier of particular sku"
          }
        },
        "description" : "The Sku description for a namespace"
      },
      "SubResource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource Id"
          }
        }
      },
      "WnsCredential" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/WnsCredentialProperties"
          }
        },
        "description" : "Description of a NotificationHub WnsCredential."
      },
      "WnsCredentialProperties" : {
        "type" : "object",
        "properties" : {
          "packageSid" : {
            "type" : "string",
            "description" : "The package ID for this credential."
          },
          "secretKey" : {
            "type" : "string",
            "description" : "The secret key."
          },
          "windowsLiveEndpoint" : {
            "type" : "string",
            "description" : "The Windows Live endpoint."
          }
        },
        "description" : "Description of a NotificationHub WnsCredential."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}