{"openapi":"3.0.1","info":{"title":"SqlManagementClient","description":"The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.","version":"2018-06-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/instancePools/{instancePoolName}/usages":{"get":{"tags":["Usages"],"description":"Gets all instance pool usage metrics","operationId":"Usages_ListByInstancePool","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"instancePoolName","in":"path","description":"The name of the instance pool to be retrieved.","required":true,"schema":{"type":"string"}},{"name":"expandChildren","in":"query","description":"Optional request parameter to include managed instance usages within the instance pool.","schema":{"type":"boolean"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the instance pool usages.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageListResult"}}}},"default":{"description":"*** Error Responses: ***\n\n * 400 InstancePoolWrongUsageName - Request for an instance pool's usage has an unsupported usage name\n\n * 400 InstancePoolManagedInstanceInfoUnavailable - Information for managed instances inside this instance pool is not available\n\n * 404 InstancePoolNotFound - An instance pool cannot be found"}}}}},"components":{"schemas":{"Name":{"type":"object","properties":{"localizedValue":{"type":"string","description":"Usage name localized value."},"value":{"type":"string","description":"Usage name value"}},"description":"ARM Usage Name"},"Usage":{"type":"object","properties":{"currentValue":{"type":"integer","description":"Usage current value.","format":"int32","readOnly":true},"id":{"type":"string","description":"Resource ID.","readOnly":true},"limit":{"type":"integer","description":"Usage limit.","format":"int32","readOnly":true},"name":{"$ref":"#/components/schemas/Name"},"requestedLimit":{"type":"integer","description":"Usage requested limit.","format":"int32","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true},"unit":{"type":"string","description":"Usage unit.","readOnly":true}},"description":"ARM usage."},"UsageListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to retrieve next page of results.","readOnly":true},"value":{"type":"array","description":"Array of results.","readOnly":true,"items":{"$ref":"#/components/schemas/Usage"}}},"description":"A list of usages."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},"BlobAuditingPolicyNameParameter":{"name":"blobAuditingPolicyName","in":"path","description":"The name of the blob auditing policy.","required":true,"schema":{"type":"string","enum":["default"]}},"DatabaseNameParameter":{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},"ManagedInstanceNameParameter":{"name":"managedInstanceName","in":"path","description":"The name of the managed instance.","required":true,"schema":{"type":"string"}},"ResourceGroupParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},"SqlVirtualMachineContainerNameParameter":{"name":"sqlVirtualMachineContainerName","in":"path","description":"The name of the SqlVirtualMachineContainer.","required":true,"schema":{"type":"string"}},"SqlVirtualMachineInstanceNameParameter":{"name":"sqlVirtualMachineInstanceName","in":"path","description":"The name of the SqlVirtualMachineInstance.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},"VirtualClusterNameParameter":{"name":"virtualClusterName","in":"path","description":"The name of the virtual cluster.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}