{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ApiManagementClient",
    "description" : "Use these REST APIs to get the analytics reports associated with your Azure API Management deployment.",
    "version" : "2019-12-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byApi" : {
      "get" : {
        "tags" : [ "Reports" ],
        "description" : "Lists report records by API.",
        "operationId" : "Reports_ListByApi",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the API Management service.",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Number of records to return.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Number of records to skip.",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "OData order by query option.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Lists a collection of Report record.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "integer",
                      "description" : "Total record count number across all pages.",
                      "format" : "int64"
                    },
                    "nextLink" : {
                      "type" : "string",
                      "description" : "Next page link if any."
                    },
                    "value" : {
                      "type" : "array",
                      "description" : "Page values.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "apiId" : {
                            "type" : "string",
                            "description" : "API identifier path. /apis/{apiId}"
                          },
                          "apiRegion" : {
                            "type" : "string",
                            "description" : "API region identifier."
                          },
                          "apiTimeAvg" : {
                            "type" : "number",
                            "description" : "Average time it took to process request.",
                            "format" : "double"
                          },
                          "apiTimeMax" : {
                            "type" : "number",
                            "description" : "Maximum time it took to process request.",
                            "format" : "double"
                          },
                          "apiTimeMin" : {
                            "type" : "number",
                            "description" : "Minimum time it took to process request.",
                            "format" : "double"
                          },
                          "bandwidth" : {
                            "type" : "integer",
                            "description" : "Bandwidth consumed.",
                            "format" : "int64"
                          },
                          "cacheHitCount" : {
                            "type" : "integer",
                            "description" : "Number of times when content was served from cache policy.",
                            "format" : "int32"
                          },
                          "cacheMissCount" : {
                            "type" : "integer",
                            "description" : "Number of times content was fetched from backend.",
                            "format" : "int32"
                          },
                          "callCountBlocked" : {
                            "type" : "integer",
                            "description" : "Number of calls blocked due to invalid credentials. This includes calls returning HttpStatusCode.Unauthorized and HttpStatusCode.Forbidden and HttpStatusCode.TooManyRequests",
                            "format" : "int32"
                          },
                          "callCountFailed" : {
                            "type" : "integer",
                            "description" : "Number of calls failed due to proxy or backend errors. This includes calls returning HttpStatusCode.BadRequest(400) and any Code between HttpStatusCode.InternalServerError (500) and 600",
                            "format" : "int32"
                          },
                          "callCountOther" : {
                            "type" : "integer",
                            "description" : "Number of other calls.",
                            "format" : "int32"
                          },
                          "callCountSuccess" : {
                            "type" : "integer",
                            "description" : "Number of successful calls. This includes calls returning HttpStatusCode <= 301 and HttpStatusCode.NotModified and HttpStatusCode.TemporaryRedirect",
                            "format" : "int32"
                          },
                          "callCountTotal" : {
                            "type" : "integer",
                            "description" : "Total number of calls.",
                            "format" : "int32"
                          },
                          "country" : {
                            "type" : "string",
                            "description" : "Country to which this record data is related."
                          },
                          "interval" : {
                            "type" : "string",
                            "description" : "Length of aggregation period.  Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO 8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations)."
                          },
                          "name" : {
                            "type" : "string",
                            "description" : "Name depending on report endpoint specifies product, API, operation or developer name."
                          },
                          "operationId" : {
                            "type" : "string",
                            "description" : "Operation identifier path. /apis/{apiId}/operations/{operationId}"
                          },
                          "productId" : {
                            "type" : "string",
                            "description" : "Product identifier path. /products/{productId}",
                            "readOnly" : true
                          },
                          "region" : {
                            "type" : "string",
                            "description" : "Country region to which this record data is related."
                          },
                          "serviceTimeAvg" : {
                            "type" : "number",
                            "description" : "Average time it took to process request on backend.",
                            "format" : "double"
                          },
                          "serviceTimeMax" : {
                            "type" : "number",
                            "description" : "Maximum time it took to process request on backend.",
                            "format" : "double"
                          },
                          "serviceTimeMin" : {
                            "type" : "number",
                            "description" : "Minimum time it took to process request on backend.",
                            "format" : "double"
                          },
                          "subscriptionId" : {
                            "type" : "string",
                            "description" : "Subscription identifier path. /subscriptions/{subscriptionId}"
                          },
                          "timestamp" : {
                            "type" : "string",
                            "description" : "Start of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n",
                            "format" : "date-time"
                          },
                          "userId" : {
                            "type" : "string",
                            "description" : "User identifier path. /users/{userId}",
                            "readOnly" : true
                          },
                          "zip" : {
                            "type" : "string",
                            "description" : "Zip code to which this record data is related."
                          }
                        },
                        "description" : "Report data."
                      }
                    }
                  },
                  "description" : "Paged Report records list representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byGeo" : {
      "get" : {
        "tags" : [ "Reports" ],
        "description" : "Lists report records by geography.",
        "operationId" : "Reports_ListByGeo",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the API Management service.",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| timestamp | filter | ge, le |     | </br>| country | select |     |     | </br>| region | select |     |     | </br>| zip | select |     |     | </br>| apiRegion | filter | eq |     | </br>| userId | filter | eq |     | </br>| productId | filter | eq |     | </br>| subscriptionId | filter | eq |     | </br>| apiId | filter | eq |     | </br>| operationId | filter | eq |     | </br>| callCountSuccess | select |     |     | </br>| callCountBlocked | select |     |     | </br>| callCountFailed | select |     |     | </br>| callCountOther | select |     |     | </br>| bandwidth | select, orderBy |     |     | </br>| cacheHitsCount | select |     |     | </br>| cacheMissCount | select |     |     | </br>| apiTimeAvg | select |     |     | </br>| apiTimeMin | select |     |     | </br>| apiTimeMax | select |     |     | </br>| serviceTimeAvg | select |     |     | </br>| serviceTimeMin | select |     |     | </br>| serviceTimeMax | select |     |     | </br>",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Number of records to return.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Number of records to skip.",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Lists a collection of Report record.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "integer",
                      "description" : "Total record count number across all pages.",
                      "format" : "int64"
                    },
                    "nextLink" : {
                      "type" : "string",
                      "description" : "Next page link if any."
                    },
                    "value" : {
                      "type" : "array",
                      "description" : "Page values.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "apiId" : {
                            "type" : "string",
                            "description" : "API identifier path. /apis/{apiId}"
                          },
                          "apiRegion" : {
                            "type" : "string",
                            "description" : "API region identifier."
                          },
                          "apiTimeAvg" : {
                            "type" : "number",
                            "description" : "Average time it took to process request.",
                            "format" : "double"
                          },
                          "apiTimeMax" : {
                            "type" : "number",
                            "description" : "Maximum time it took to process request.",
                            "format" : "double"
                          },
                          "apiTimeMin" : {
                            "type" : "number",
                            "description" : "Minimum time it took to process request.",
                            "format" : "double"
                          },
                          "bandwidth" : {
                            "type" : "integer",
                            "description" : "Bandwidth consumed.",
                            "format" : "int64"
                          },
                          "cacheHitCount" : {
                            "type" : "integer",
                            "description" : "Number of times when content was served from cache policy.",
                            "format" : "int32"
                          },
                          "cacheMissCount" : {
                            "type" : "integer",
                            "description" : "Number of times content was fetched from backend.",
                            "format" : "int32"
                          },
                          "callCountBlocked" : {
                            "type" : "integer",
                            "description" : "Number of calls blocked due to invalid credentials. This includes calls returning HttpStatusCode.Unauthorized and HttpStatusCode.Forbidden and HttpStatusCode.TooManyRequests",
                            "format" : "int32"
                          },
                          "callCountFailed" : {
                            "type" : "integer",
                            "description" : "Number of calls failed due to proxy or backend errors. This includes calls returning HttpStatusCode.BadRequest(400) and any Code between HttpStatusCode.InternalServerError (500) and 600",
                            "format" : "int32"
                          },
                          "callCountOther" : {
                            "type" : "integer",
                            "description" : "Number of other calls.",
                            "format" : "int32"
                          },
                          "callCountSuccess" : {
                            "type" : "integer",
                            "description" : "Number of successful calls. This includes calls returning HttpStatusCode <= 301 and HttpStatusCode.NotModified and HttpStatusCode.TemporaryRedirect",
                            "format" : "int32"
                          },
                          "callCountTotal" : {
                            "type" : "integer",
                            "description" : "Total number of calls.",
                            "format" : "int32"
                          },
                          "country" : {
                            "type" : "string",
                            "description" : "Country to which this record data is related."
                          },
                          "interval" : {
                            "type" : "string",
                            "description" : "Length of aggregation period.  Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO 8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations)."
                          },
                          "name" : {
                            "type" : "string",
                            "description" : "Name depending on report endpoint specifies product, API, operation or developer name."
                          },
                          "operationId" : {
                            "type" : "string",
                            "description" : "Operation identifier path. /apis/{apiId}/operations/{operationId}"
                          },
                          "productId" : {
                            "type" : "string",
                            "description" : "Product identifier path. /products/{productId}",
                            "readOnly" : true
                          },
                          "region" : {
                            "type" : "string",
                            "description" : "Country region to which this record data is related."
                          },
                          "serviceTimeAvg" : {
                            "type" : "number",
                            "description" : "Average time it took to process request on backend.",
                            "format" : "double"
                          },
                          "serviceTimeMax" : {
                            "type" : "number",
                            "description" : "Maximum time it took to process request on backend.",
                            "format" : "double"
                          },
                          "serviceTimeMin" : {
                            "type" : "number",
                            "description" : "Minimum time it took to process request on backend.",
                            "format" : "double"
                          },
                          "subscriptionId" : {
                            "type" : "string",
                            "description" : "Subscription identifier path. /subscriptions/{subscriptionId}"
                          },
                          "timestamp" : {
                            "type" : "string",
                            "description" : "Start of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n",
                            "format" : "date-time"
                          },
                          "userId" : {
                            "type" : "string",
                            "description" : "User identifier path. /users/{userId}",
                            "readOnly" : true
                          },
                          "zip" : {
                            "type" : "string",
                            "description" : "Zip code to which this record data is related."
                          }
                        },
                        "description" : "Report data."
                      }
                    }
                  },
                  "description" : "Paged Report records list representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byOperation" : {
      "get" : {
        "tags" : [ "Reports" ],
        "description" : "Lists report records by API Operations.",
        "operationId" : "Reports_ListByOperation",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the API Management service.",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| timestamp | filter | ge, le |     | </br>| displayName | select, orderBy |     |     | </br>| apiRegion | filter | eq |     | </br>| userId | filter | eq |     | </br>| productId | filter | eq |     | </br>| subscriptionId | filter | eq |     | </br>| apiId | filter | eq |     | </br>| operationId | select, filter | eq |     | </br>| callCountSuccess | select, orderBy |     |     | </br>| callCountBlocked | select, orderBy |     |     | </br>| callCountFailed | select, orderBy |     |     | </br>| callCountOther | select, orderBy |     |     | </br>| callCountTotal | select, orderBy |     |     | </br>| bandwidth | select, orderBy |     |     | </br>| cacheHitsCount | select |     |     | </br>| cacheMissCount | select |     |     | </br>| apiTimeAvg | select, orderBy |     |     | </br>| apiTimeMin | select |     |     | </br>| apiTimeMax | select |     |     | </br>| serviceTimeAvg | select |     |     | </br>| serviceTimeMin | select |     |     | </br>| serviceTimeMax | select |     |     | </br>",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Number of records to return.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Number of records to skip.",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "OData order by query option.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Lists a collection of Report record.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "integer",
                      "description" : "Total record count number across all pages.",
                      "format" : "int64"
                    },
                    "nextLink" : {
                      "type" : "string",
                      "description" : "Next page link if any."
                    },
                    "value" : {
                      "type" : "array",
                      "description" : "Page values.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "apiId" : {
                            "type" : "string",
                            "description" : "API identifier path. /apis/{apiId}"
                          },
                          "apiRegion" : {
                            "type" : "string",
                            "description" : "API region identifier."
                          },
                          "apiTimeAvg" : {
                            "type" : "number",
                            "description" : "Average time it took to process request.",
                            "format" : "double"
                          },
                          "apiTimeMax" : {
                            "type" : "number",
                            "description" : "Maximum time it took to process request.",
                            "format" : "double"
                          },
                          "apiTimeMin" : {
                            "type" : "number",
                            "description" : "Minimum time it took to process request.",
                            "format" : "double"
                          },
                          "bandwidth" : {
                            "type" : "integer",
                            "description" : "Bandwidth consumed.",
                            "format" : "int64"
                          },
                          "cacheHitCount" : {
                            "type" : "integer",
                            "description" : "Number of times when content was served from cache policy.",
                            "format" : "int32"
                          },
                          "cacheMissCount" : {
                            "type" : "integer",
                            "description" : "Number of times content was fetched from backend.",
                            "format" : "int32"
                          },
                          "callCountBlocked" : {
                            "type" : "integer",
                            "description" : "Number of calls blocked due to invalid credentials. This includes calls returning HttpStatusCode.Unauthorized and HttpStatusCode.Forbidden and HttpStatusCode.TooManyRequests",
                            "format" : "int32"
                          },
                          "callCountFailed" : {
                            "type" : "integer",
                            "description" : "Number of calls failed due to proxy or backend errors. This includes calls returning HttpStatusCode.BadRequest(400) and any Code between HttpStatusCode.InternalServerError (500) and 600",
                            "format" : "int32"
                          },
                          "callCountOther" : {
                            "type" : "integer",
                            "description" : "Number of other calls.",
                            "format" : "int32"
                          },
                          "callCountSuccess" : {
                            "type" : "integer",
                            "description" : "Number of successful calls. This includes calls returning HttpStatusCode <= 301 and HttpStatusCode.NotModified and HttpStatusCode.TemporaryRedirect",
                            "format" : "int32"
                          },
                          "callCountTotal" : {
                            "type" : "integer",
                            "description" : "Total number of calls.",
                            "format" : "int32"
                          },
                          "country" : {
                            "type" : "string",
                            "description" : "Country to which this record data is related."
                          },
                          "interval" : {
                            "type" : "string",
                            "description" : "Length of aggregation period.  Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO 8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations)."
                          },
                          "name" : {
                            "type" : "string",
                            "description" : "Name depending on report endpoint specifies product, API, operation or developer name."
                          },
                          "operationId" : {
                            "type" : "string",
                            "description" : "Operation identifier path. /apis/{apiId}/operations/{operationId}"
                          },
                          "productId" : {
                            "type" : "string",
                            "description" : "Product identifier path. /products/{productId}",
                            "readOnly" : true
                          },
                          "region" : {
                            "type" : "string",
                            "description" : "Country region to which this record data is related."
                          },
                          "serviceTimeAvg" : {
                            "type" : "number",
                            "description" : "Average time it took to process request on backend.",
                            "format" : "double"
                          },
                          "serviceTimeMax" : {
                            "type" : "number",
                            "description" : "Maximum time it took to process request on backend.",
                            "format" : "double"
                          },
                          "serviceTimeMin" : {
                            "type" : "number",
                            "description" : "Minimum time it took to process request on backend.",
                            "format" : "double"
                          },
                          "subscriptionId" : {
                            "type" : "string",
                            "description" : "Subscription identifier path. /subscriptions/{subscriptionId}"
                          },
                          "timestamp" : {
                            "type" : "string",
                            "description" : "Start of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n",
                            "format" : "date-time"
                          },
                          "userId" : {
                            "type" : "string",
                            "description" : "User identifier path. /users/{userId}",
                            "readOnly" : true
                          },
                          "zip" : {
                            "type" : "string",
                            "description" : "Zip code to which this record data is related."
                          }
                        },
                        "description" : "Report data."
                      }
                    }
                  },
                  "description" : "Paged Report records list representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byProduct" : {
      "get" : {
        "tags" : [ "Reports" ],
        "description" : "Lists report records by Product.",
        "operationId" : "Reports_ListByProduct",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the API Management service.",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| timestamp | filter | ge, le |     | </br>| displayName | select, orderBy |     |     | </br>| apiRegion | filter | eq |     | </br>| userId | filter | eq |     | </br>| productId | select, filter | eq |     | </br>| subscriptionId | filter | eq |     | </br>| callCountSuccess | select, orderBy |     |     | </br>| callCountBlocked | select, orderBy |     |     | </br>| callCountFailed | select, orderBy |     |     | </br>| callCountOther | select, orderBy |     |     | </br>| callCountTotal | select, orderBy |     |     | </br>| bandwidth | select, orderBy |     |     | </br>| cacheHitsCount | select |     |     | </br>| cacheMissCount | select |     |     | </br>| apiTimeAvg | select, orderBy |     |     | </br>| apiTimeMin | select |     |     | </br>| apiTimeMax | select |     |     | </br>| serviceTimeAvg | select |     |     | </br>| serviceTimeMin | select |     |     | </br>| serviceTimeMax | select |     |     | </br>",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Number of records to return.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Number of records to skip.",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "OData order by query option.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Lists a collection of Report record.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "integer",
                      "description" : "Total record count number across all pages.",
                      "format" : "int64"
                    },
                    "nextLink" : {
                      "type" : "string",
                      "description" : "Next page link if any."
                    },
                    "value" : {
                      "type" : "array",
                      "description" : "Page values.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "apiId" : {
                            "type" : "string",
                            "description" : "API identifier path. /apis/{apiId}"
                          },
                          "apiRegion" : {
                            "type" : "string",
                            "description" : "API region identifier."
                          },
                          "apiTimeAvg" : {
                            "type" : "number",
                            "description" : "Average time it took to process request.",
                            "format" : "double"
                          },
                          "apiTimeMax" : {
                            "type" : "number",
                            "description" : "Maximum time it took to process request.",
                            "format" : "double"
                          },
                          "apiTimeMin" : {
                            "type" : "number",
                            "description" : "Minimum time it took to process request.",
                            "format" : "double"
                          },
                          "bandwidth" : {
                            "type" : "integer",
                            "description" : "Bandwidth consumed.",
                            "format" : "int64"
                          },
                          "cacheHitCount" : {
                            "type" : "integer",
                            "description" : "Number of times when content was served from cache policy.",
                            "format" : "int32"
                          },
                          "cacheMissCount" : {
                            "type" : "integer",
                            "description" : "Number of times content was fetched from backend.",
                            "format" : "int32"
                          },
                          "callCountBlocked" : {
                            "type" : "integer",
                            "description" : "Number of calls blocked due to invalid credentials. This includes calls returning HttpStatusCode.Unauthorized and HttpStatusCode.Forbidden and HttpStatusCode.TooManyRequests",
                            "format" : "int32"
                          },
                          "callCountFailed" : {
                            "type" : "integer",
                            "description" : "Number of calls failed due to proxy or backend errors. This includes calls returning HttpStatusCode.BadRequest(400) and any Code between HttpStatusCode.InternalServerError (500) and 600",
                            "format" : "int32"
                          },
                          "callCountOther" : {
                            "type" : "integer",
                            "description" : "Number of other calls.",
                            "format" : "int32"
                          },
                          "callCountSuccess" : {
                            "type" : "integer",
                            "description" : "Number of successful calls. This includes calls returning HttpStatusCode <= 301 and HttpStatusCode.NotModified and HttpStatusCode.TemporaryRedirect",
                            "format" : "int32"
                          },
                          "callCountTotal" : {
                            "type" : "integer",
                            "description" : "Total number of calls.",
                            "format" : "int32"
                          },
                          "country" : {
                            "type" : "string",
                            "description" : "Country to which this record data is related."
                          },
                          "interval" : {
                            "type" : "string",
                            "description" : "Length of aggregation period.  Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO 8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations)."
                          },
                          "name" : {
                            "type" : "string",
                            "description" : "Name depending on report endpoint specifies product, API, operation or developer name."
                          },
                          "operationId" : {
                            "type" : "string",
                            "description" : "Operation identifier path. /apis/{apiId}/operations/{operationId}"
                          },
                          "productId" : {
                            "type" : "string",
                            "description" : "Product identifier path. /products/{productId}",
                            "readOnly" : true
                          },
                          "region" : {
                            "type" : "string",
                            "description" : "Country region to which this record data is related."
                          },
                          "serviceTimeAvg" : {
                            "type" : "number",
                            "description" : "Average time it took to process request on backend.",
                            "format" : "double"
                          },
                          "serviceTimeMax" : {
                            "type" : "number",
                            "description" : "Maximum time it took to process request on backend.",
                            "format" : "double"
                          },
                          "serviceTimeMin" : {
                            "type" : "number",
                            "description" : "Minimum time it took to process request on backend.",
                            "format" : "double"
                          },
                          "subscriptionId" : {
                            "type" : "string",
                            "description" : "Subscription identifier path. /subscriptions/{subscriptionId}"
                          },
                          "timestamp" : {
                            "type" : "string",
                            "description" : "Start of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n",
                            "format" : "date-time"
                          },
                          "userId" : {
                            "type" : "string",
                            "description" : "User identifier path. /users/{userId}",
                            "readOnly" : true
                          },
                          "zip" : {
                            "type" : "string",
                            "description" : "Zip code to which this record data is related."
                          }
                        },
                        "description" : "Report data."
                      }
                    }
                  },
                  "description" : "Paged Report records list representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byRequest" : {
      "get" : {
        "tags" : [ "Reports" ],
        "description" : "Lists report records by Request.",
        "operationId" : "Reports_ListByRequest",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the API Management service.",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| timestamp | filter | ge, le |     | </br>| apiId | filter | eq |     | </br>| operationId | filter | eq |     | </br>| productId | filter | eq |     | </br>| userId | filter | eq |     | </br>| apiRegion | filter | eq |     | </br>| subscriptionId | filter | eq |     | </br>",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Number of records to return.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Number of records to skip.",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Lists a collection of Report record.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "integer",
                      "description" : "Total record count number across all pages.",
                      "format" : "int64"
                    },
                    "value" : {
                      "type" : "array",
                      "description" : "Page values.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "apiId" : {
                            "type" : "string",
                            "description" : "API identifier path. /apis/{apiId}"
                          },
                          "apiRegion" : {
                            "type" : "string",
                            "description" : "Azure region where the gateway that processed this request is located."
                          },
                          "apiTime" : {
                            "type" : "number",
                            "description" : "The total time it took to process this request.",
                            "format" : "double"
                          },
                          "backendResponseCode" : {
                            "type" : "string",
                            "description" : "The HTTP status code received by the gateway as a result of forwarding this request to the backend."
                          },
                          "cache" : {
                            "type" : "string",
                            "description" : "Specifies if response cache was involved in generating the response. If the value is none, the cache was not used. If the value is hit, cached response was returned. If the value is miss, the cache was used but lookup resulted in a miss and request was fulfilled by the backend."
                          },
                          "ipAddress" : {
                            "type" : "string",
                            "description" : "The client IP address associated with this request."
                          },
                          "method" : {
                            "type" : "string",
                            "description" : "The HTTP method associated with this request.."
                          },
                          "operationId" : {
                            "type" : "string",
                            "description" : "Operation identifier path. /apis/{apiId}/operations/{operationId}"
                          },
                          "productId" : {
                            "type" : "string",
                            "description" : "Product identifier path. /products/{productId}",
                            "readOnly" : true
                          },
                          "requestId" : {
                            "type" : "string",
                            "description" : "Request Identifier."
                          },
                          "requestSize" : {
                            "type" : "integer",
                            "description" : "The size of this request..",
                            "format" : "int32"
                          },
                          "responseCode" : {
                            "type" : "integer",
                            "description" : "The HTTP status code returned by the gateway.",
                            "format" : "int32"
                          },
                          "responseSize" : {
                            "type" : "integer",
                            "description" : "The size of the response returned by the gateway.",
                            "format" : "int32"
                          },
                          "serviceTime" : {
                            "type" : "number",
                            "description" : "he time it took to forward this request to the backend and get the response back.",
                            "format" : "double"
                          },
                          "subscriptionId" : {
                            "type" : "string",
                            "description" : "Subscription identifier path. /subscriptions/{subscriptionId}"
                          },
                          "timestamp" : {
                            "type" : "string",
                            "description" : "The date and time when this request was received by the gateway in ISO 8601 format.",
                            "format" : "date-time"
                          },
                          "url" : {
                            "type" : "string",
                            "description" : "The full URL associated with this request."
                          },
                          "userId" : {
                            "type" : "string",
                            "description" : "User identifier path. /users/{userId}",
                            "readOnly" : true
                          }
                        },
                        "description" : "Request Report data."
                      }
                    }
                  },
                  "description" : "Paged Report records list representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/bySubscription" : {
      "get" : {
        "tags" : [ "Reports" ],
        "description" : "Lists report records by subscription.",
        "operationId" : "Reports_ListBySubscription",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the API Management service.",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| timestamp | filter | ge, le |     | </br>| displayName | select, orderBy |     |     | </br>| apiRegion | filter | eq |     | </br>| userId | select, filter | eq |     | </br>| productId | select, filter | eq |     | </br>| subscriptionId | select, filter | eq |     | </br>| callCountSuccess | select, orderBy |     |     | </br>| callCountBlocked | select, orderBy |     |     | </br>| callCountFailed | select, orderBy |     |     | </br>| callCountOther | select, orderBy |     |     | </br>| callCountTotal | select, orderBy |     |     | </br>| bandwidth | select, orderBy |     |     | </br>| cacheHitsCount | select |     |     | </br>| cacheMissCount | select |     |     | </br>| apiTimeAvg | select, orderBy |     |     | </br>| apiTimeMin | select |     |     | </br>| apiTimeMax | select |     |     | </br>| serviceTimeAvg | select |     |     | </br>| serviceTimeMin | select |     |     | </br>| serviceTimeMax | select |     |     | </br>",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Number of records to return.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Number of records to skip.",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "OData order by query option.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Lists a collection of Report record.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "integer",
                      "description" : "Total record count number across all pages.",
                      "format" : "int64"
                    },
                    "nextLink" : {
                      "type" : "string",
                      "description" : "Next page link if any."
                    },
                    "value" : {
                      "type" : "array",
                      "description" : "Page values.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "apiId" : {
                            "type" : "string",
                            "description" : "API identifier path. /apis/{apiId}"
                          },
                          "apiRegion" : {
                            "type" : "string",
                            "description" : "API region identifier."
                          },
                          "apiTimeAvg" : {
                            "type" : "number",
                            "description" : "Average time it took to process request.",
                            "format" : "double"
                          },
                          "apiTimeMax" : {
                            "type" : "number",
                            "description" : "Maximum time it took to process request.",
                            "format" : "double"
                          },
                          "apiTimeMin" : {
                            "type" : "number",
                            "description" : "Minimum time it took to process request.",
                            "format" : "double"
                          },
                          "bandwidth" : {
                            "type" : "integer",
                            "description" : "Bandwidth consumed.",
                            "format" : "int64"
                          },
                          "cacheHitCount" : {
                            "type" : "integer",
                            "description" : "Number of times when content was served from cache policy.",
                            "format" : "int32"
                          },
                          "cacheMissCount" : {
                            "type" : "integer",
                            "description" : "Number of times content was fetched from backend.",
                            "format" : "int32"
                          },
                          "callCountBlocked" : {
                            "type" : "integer",
                            "description" : "Number of calls blocked due to invalid credentials. This includes calls returning HttpStatusCode.Unauthorized and HttpStatusCode.Forbidden and HttpStatusCode.TooManyRequests",
                            "format" : "int32"
                          },
                          "callCountFailed" : {
                            "type" : "integer",
                            "description" : "Number of calls failed due to proxy or backend errors. This includes calls returning HttpStatusCode.BadRequest(400) and any Code between HttpStatusCode.InternalServerError (500) and 600",
                            "format" : "int32"
                          },
                          "callCountOther" : {
                            "type" : "integer",
                            "description" : "Number of other calls.",
                            "format" : "int32"
                          },
                          "callCountSuccess" : {
                            "type" : "integer",
                            "description" : "Number of successful calls. This includes calls returning HttpStatusCode <= 301 and HttpStatusCode.NotModified and HttpStatusCode.TemporaryRedirect",
                            "format" : "int32"
                          },
                          "callCountTotal" : {
                            "type" : "integer",
                            "description" : "Total number of calls.",
                            "format" : "int32"
                          },
                          "country" : {
                            "type" : "string",
                            "description" : "Country to which this record data is related."
                          },
                          "interval" : {
                            "type" : "string",
                            "description" : "Length of aggregation period.  Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO 8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations)."
                          },
                          "name" : {
                            "type" : "string",
                            "description" : "Name depending on report endpoint specifies product, API, operation or developer name."
                          },
                          "operationId" : {
                            "type" : "string",
                            "description" : "Operation identifier path. /apis/{apiId}/operations/{operationId}"
                          },
                          "productId" : {
                            "type" : "string",
                            "description" : "Product identifier path. /products/{productId}",
                            "readOnly" : true
                          },
                          "region" : {
                            "type" : "string",
                            "description" : "Country region to which this record data is related."
                          },
                          "serviceTimeAvg" : {
                            "type" : "number",
                            "description" : "Average time it took to process request on backend.",
                            "format" : "double"
                          },
                          "serviceTimeMax" : {
                            "type" : "number",
                            "description" : "Maximum time it took to process request on backend.",
                            "format" : "double"
                          },
                          "serviceTimeMin" : {
                            "type" : "number",
                            "description" : "Minimum time it took to process request on backend.",
                            "format" : "double"
                          },
                          "subscriptionId" : {
                            "type" : "string",
                            "description" : "Subscription identifier path. /subscriptions/{subscriptionId}"
                          },
                          "timestamp" : {
                            "type" : "string",
                            "description" : "Start of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n",
                            "format" : "date-time"
                          },
                          "userId" : {
                            "type" : "string",
                            "description" : "User identifier path. /users/{userId}",
                            "readOnly" : true
                          },
                          "zip" : {
                            "type" : "string",
                            "description" : "Zip code to which this record data is related."
                          }
                        },
                        "description" : "Report data."
                      }
                    }
                  },
                  "description" : "Paged Report records list representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byTime" : {
      "get" : {
        "tags" : [ "Reports" ],
        "description" : "Lists report records by Time.",
        "operationId" : "Reports_ListByTime",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the API Management service.",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| timestamp | filter, select | ge, le |     | </br>| interval | select |     |     | </br>| apiRegion | filter | eq |     | </br>| userId | filter | eq |     | </br>| productId | filter | eq |     | </br>| subscriptionId | filter | eq |     | </br>| apiId | filter | eq |     | </br>| operationId | filter | eq |     | </br>| callCountSuccess | select |     |     | </br>| callCountBlocked | select |     |     | </br>| callCountFailed | select |     |     | </br>| callCountOther | select |     |     | </br>| bandwidth | select, orderBy |     |     | </br>| cacheHitsCount | select |     |     | </br>| cacheMissCount | select |     |     | </br>| apiTimeAvg | select |     |     | </br>| apiTimeMin | select |     |     | </br>| apiTimeMax | select |     |     | </br>| serviceTimeAvg | select |     |     | </br>| serviceTimeMin | select |     |     | </br>| serviceTimeMax | select |     |     | </br>",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Number of records to return.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Number of records to skip.",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "OData order by query option.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "interval",
          "in" : "query",
          "description" : "By time interval. Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO  8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations).This code can be used to convert TimeSpan to a valid interval string: XmlConvert.ToString(new TimeSpan(hours, minutes, seconds)).",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "duration"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Lists a collection of Report record.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "integer",
                      "description" : "Total record count number across all pages.",
                      "format" : "int64"
                    },
                    "nextLink" : {
                      "type" : "string",
                      "description" : "Next page link if any."
                    },
                    "value" : {
                      "type" : "array",
                      "description" : "Page values.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "apiId" : {
                            "type" : "string",
                            "description" : "API identifier path. /apis/{apiId}"
                          },
                          "apiRegion" : {
                            "type" : "string",
                            "description" : "API region identifier."
                          },
                          "apiTimeAvg" : {
                            "type" : "number",
                            "description" : "Average time it took to process request.",
                            "format" : "double"
                          },
                          "apiTimeMax" : {
                            "type" : "number",
                            "description" : "Maximum time it took to process request.",
                            "format" : "double"
                          },
                          "apiTimeMin" : {
                            "type" : "number",
                            "description" : "Minimum time it took to process request.",
                            "format" : "double"
                          },
                          "bandwidth" : {
                            "type" : "integer",
                            "description" : "Bandwidth consumed.",
                            "format" : "int64"
                          },
                          "cacheHitCount" : {
                            "type" : "integer",
                            "description" : "Number of times when content was served from cache policy.",
                            "format" : "int32"
                          },
                          "cacheMissCount" : {
                            "type" : "integer",
                            "description" : "Number of times content was fetched from backend.",
                            "format" : "int32"
                          },
                          "callCountBlocked" : {
                            "type" : "integer",
                            "description" : "Number of calls blocked due to invalid credentials. This includes calls returning HttpStatusCode.Unauthorized and HttpStatusCode.Forbidden and HttpStatusCode.TooManyRequests",
                            "format" : "int32"
                          },
                          "callCountFailed" : {
                            "type" : "integer",
                            "description" : "Number of calls failed due to proxy or backend errors. This includes calls returning HttpStatusCode.BadRequest(400) and any Code between HttpStatusCode.InternalServerError (500) and 600",
                            "format" : "int32"
                          },
                          "callCountOther" : {
                            "type" : "integer",
                            "description" : "Number of other calls.",
                            "format" : "int32"
                          },
                          "callCountSuccess" : {
                            "type" : "integer",
                            "description" : "Number of successful calls. This includes calls returning HttpStatusCode <= 301 and HttpStatusCode.NotModified and HttpStatusCode.TemporaryRedirect",
                            "format" : "int32"
                          },
                          "callCountTotal" : {
                            "type" : "integer",
                            "description" : "Total number of calls.",
                            "format" : "int32"
                          },
                          "country" : {
                            "type" : "string",
                            "description" : "Country to which this record data is related."
                          },
                          "interval" : {
                            "type" : "string",
                            "description" : "Length of aggregation period.  Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO 8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations)."
                          },
                          "name" : {
                            "type" : "string",
                            "description" : "Name depending on report endpoint specifies product, API, operation or developer name."
                          },
                          "operationId" : {
                            "type" : "string",
                            "description" : "Operation identifier path. /apis/{apiId}/operations/{operationId}"
                          },
                          "productId" : {
                            "type" : "string",
                            "description" : "Product identifier path. /products/{productId}",
                            "readOnly" : true
                          },
                          "region" : {
                            "type" : "string",
                            "description" : "Country region to which this record data is related."
                          },
                          "serviceTimeAvg" : {
                            "type" : "number",
                            "description" : "Average time it took to process request on backend.",
                            "format" : "double"
                          },
                          "serviceTimeMax" : {
                            "type" : "number",
                            "description" : "Maximum time it took to process request on backend.",
                            "format" : "double"
                          },
                          "serviceTimeMin" : {
                            "type" : "number",
                            "description" : "Minimum time it took to process request on backend.",
                            "format" : "double"
                          },
                          "subscriptionId" : {
                            "type" : "string",
                            "description" : "Subscription identifier path. /subscriptions/{subscriptionId}"
                          },
                          "timestamp" : {
                            "type" : "string",
                            "description" : "Start of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n",
                            "format" : "date-time"
                          },
                          "userId" : {
                            "type" : "string",
                            "description" : "User identifier path. /users/{userId}",
                            "readOnly" : true
                          },
                          "zip" : {
                            "type" : "string",
                            "description" : "Zip code to which this record data is related."
                          }
                        },
                        "description" : "Report data."
                      }
                    }
                  },
                  "description" : "Paged Report records list representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byUser" : {
      "get" : {
        "tags" : [ "Reports" ],
        "description" : "Lists report records by User.",
        "operationId" : "Reports_ListByUser",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the API Management service.",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| timestamp | filter | ge, le |     | </br>| displayName | select, orderBy |     |     | </br>| userId | select, filter | eq |     | </br>| apiRegion | filter | eq |     | </br>| productId | filter | eq |     | </br>| subscriptionId | filter | eq |     | </br>| apiId | filter | eq |     | </br>| operationId | filter | eq |     | </br>| callCountSuccess | select, orderBy |     |     | </br>| callCountBlocked | select, orderBy |     |     | </br>| callCountFailed | select, orderBy |     |     | </br>| callCountOther | select, orderBy |     |     | </br>| callCountTotal | select, orderBy |     |     | </br>| bandwidth | select, orderBy |     |     | </br>| cacheHitsCount | select |     |     | </br>| cacheMissCount | select |     |     | </br>| apiTimeAvg | select, orderBy |     |     | </br>| apiTimeMin | select |     |     | </br>| apiTimeMax | select |     |     | </br>| serviceTimeAvg | select |     |     | </br>| serviceTimeMin | select |     |     | </br>| serviceTimeMax | select |     |     | </br>",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Number of records to return.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Number of records to skip.",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "OData order by query option.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Lists a collection of Report record.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "integer",
                      "description" : "Total record count number across all pages.",
                      "format" : "int64"
                    },
                    "nextLink" : {
                      "type" : "string",
                      "description" : "Next page link if any."
                    },
                    "value" : {
                      "type" : "array",
                      "description" : "Page values.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "apiId" : {
                            "type" : "string",
                            "description" : "API identifier path. /apis/{apiId}"
                          },
                          "apiRegion" : {
                            "type" : "string",
                            "description" : "API region identifier."
                          },
                          "apiTimeAvg" : {
                            "type" : "number",
                            "description" : "Average time it took to process request.",
                            "format" : "double"
                          },
                          "apiTimeMax" : {
                            "type" : "number",
                            "description" : "Maximum time it took to process request.",
                            "format" : "double"
                          },
                          "apiTimeMin" : {
                            "type" : "number",
                            "description" : "Minimum time it took to process request.",
                            "format" : "double"
                          },
                          "bandwidth" : {
                            "type" : "integer",
                            "description" : "Bandwidth consumed.",
                            "format" : "int64"
                          },
                          "cacheHitCount" : {
                            "type" : "integer",
                            "description" : "Number of times when content was served from cache policy.",
                            "format" : "int32"
                          },
                          "cacheMissCount" : {
                            "type" : "integer",
                            "description" : "Number of times content was fetched from backend.",
                            "format" : "int32"
                          },
                          "callCountBlocked" : {
                            "type" : "integer",
                            "description" : "Number of calls blocked due to invalid credentials. This includes calls returning HttpStatusCode.Unauthorized and HttpStatusCode.Forbidden and HttpStatusCode.TooManyRequests",
                            "format" : "int32"
                          },
                          "callCountFailed" : {
                            "type" : "integer",
                            "description" : "Number of calls failed due to proxy or backend errors. This includes calls returning HttpStatusCode.BadRequest(400) and any Code between HttpStatusCode.InternalServerError (500) and 600",
                            "format" : "int32"
                          },
                          "callCountOther" : {
                            "type" : "integer",
                            "description" : "Number of other calls.",
                            "format" : "int32"
                          },
                          "callCountSuccess" : {
                            "type" : "integer",
                            "description" : "Number of successful calls. This includes calls returning HttpStatusCode <= 301 and HttpStatusCode.NotModified and HttpStatusCode.TemporaryRedirect",
                            "format" : "int32"
                          },
                          "callCountTotal" : {
                            "type" : "integer",
                            "description" : "Total number of calls.",
                            "format" : "int32"
                          },
                          "country" : {
                            "type" : "string",
                            "description" : "Country to which this record data is related."
                          },
                          "interval" : {
                            "type" : "string",
                            "description" : "Length of aggregation period.  Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO 8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations)."
                          },
                          "name" : {
                            "type" : "string",
                            "description" : "Name depending on report endpoint specifies product, API, operation or developer name."
                          },
                          "operationId" : {
                            "type" : "string",
                            "description" : "Operation identifier path. /apis/{apiId}/operations/{operationId}"
                          },
                          "productId" : {
                            "type" : "string",
                            "description" : "Product identifier path. /products/{productId}",
                            "readOnly" : true
                          },
                          "region" : {
                            "type" : "string",
                            "description" : "Country region to which this record data is related."
                          },
                          "serviceTimeAvg" : {
                            "type" : "number",
                            "description" : "Average time it took to process request on backend.",
                            "format" : "double"
                          },
                          "serviceTimeMax" : {
                            "type" : "number",
                            "description" : "Maximum time it took to process request on backend.",
                            "format" : "double"
                          },
                          "serviceTimeMin" : {
                            "type" : "number",
                            "description" : "Minimum time it took to process request on backend.",
                            "format" : "double"
                          },
                          "subscriptionId" : {
                            "type" : "string",
                            "description" : "Subscription identifier path. /subscriptions/{subscriptionId}"
                          },
                          "timestamp" : {
                            "type" : "string",
                            "description" : "Start of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n",
                            "format" : "date-time"
                          },
                          "userId" : {
                            "type" : "string",
                            "description" : "User identifier path. /users/{userId}",
                            "readOnly" : true
                          },
                          "zip" : {
                            "type" : "string",
                            "description" : "Zip code to which this record data is related."
                          }
                        },
                        "description" : "Report data."
                      }
                    }
                  },
                  "description" : "Paged Report records list representation."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}