{"openapi":"3.0.1","info":{"title":"AutomationManagement","version":"2017-05-15-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs":{"get":{"tags":["SourceControlSyncJob"],"description":"Retrieve a list of source control sync jobs.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations"},"operationId":"SourceControlSyncJob_ListByAutomationAccount","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"sourceControlName","in":"path","description":"The source control name.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation.","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceControlSyncJobListResult"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs/{sourceControlSyncJobId}":{"get":{"tags":["SourceControlSyncJob"],"description":"Retrieve the source control sync job identified by job id.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations"},"operationId":"SourceControlSyncJob_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"sourceControlName","in":"path","description":"The source control name.","required":true,"schema":{"type":"string"}},{"name":"sourceControlSyncJobId","in":"path","description":"The source control sync job id.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceControlSyncJobById"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"put":{"tags":["SourceControlSyncJob"],"description":"Creates the sync job for a source control.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations"},"operationId":"SourceControlSyncJob_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"sourceControlName","in":"path","description":"The source control name.","required":true,"schema":{"type":"string"}},{"name":"sourceControlSyncJobId","in":"path","description":"The source control sync job id.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters supplied to the create source control sync job operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceControlSyncJobCreateParameters"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceControlSyncJob"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}}},"components":{"schemas":{"SourceControlSyncJob":{"type":"object","properties":{"id":{"type":"string","description":"Resource id.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"properties":{"$ref":"#/components/schemas/SourceControlSyncJobProperties"},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Definition of the source control sync job."},"SourceControlSyncJobById":{"type":"object","properties":{"id":{"type":"string","description":"The id of the job."},"properties":{"$ref":"#/components/schemas/SourceControlSyncJobByIdProperties"}},"description":"Definition of the source control sync job."},"SourceControlSyncJobByIdProperties":{"type":"object","properties":{"creationTime":{"type":"string","description":"The creation time of the job.","format":"date-time","nullable":false,"readOnly":true},"endTime":{"type":"string","description":"The end time of the job.","format":"date-time","nullable":true,"readOnly":true},"exception":{"type":"string","description":"The exceptions that occurred while running the sync job."},"provisioningState":{"type":"string","description":"The provisioning state of the job.","enum":["Completed","Failed","Running"]},"sourceControlSyncJobId":{"type":"string","description":"The source control sync job id."},"startTime":{"type":"string","description":"The start time of the job.","format":"date-time","nullable":true,"readOnly":true},"syncType":{"type":"string","description":"The sync type.","enum":["PartialSync","FullSync"]}},"description":"Definition of source control sync job properties."},"SourceControlSyncJobCreateParameters":{"required":["properties"],"type":"object","properties":{"properties":{"$ref":"#/components/schemas/SourceControlSyncJobCreateProperties"}},"description":"The parameters supplied to the create source control sync job operation."},"SourceControlSyncJobCreateProperties":{"required":["commitId"],"type":"object","properties":{"commitId":{"minLength":0,"type":"string","description":"The commit id of the source control sync job. If not syncing to a commitId, enter an empty string."}},"description":"Definition of create source control sync job properties."},"SourceControlSyncJobListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The next link."},"value":{"type":"array","description":"The list of source control sync jobs.","items":{"$ref":"#/components/schemas/SourceControlSyncJob"}}},"description":"The response model for the list source control sync jobs operation."},"SourceControlSyncJobProperties":{"type":"object","properties":{"creationTime":{"type":"string","description":"The creation time of the job.","format":"date-time","nullable":false,"readOnly":true},"endTime":{"type":"string","description":"The end time of the job.","format":"date-time","nullable":true,"readOnly":true},"provisioningState":{"type":"string","description":"The provisioning state of the job.","enum":["Completed","Failed","Running"]},"sourceControlSyncJobId":{"type":"string","description":"The source control sync job id."},"startTime":{"type":"string","description":"The start time of the job.","format":"date-time","nullable":true,"readOnly":true},"syncType":{"type":"string","description":"The sync type.","enum":["PartialSync","FullSync"]}},"description":"Definition of source control sync job properties."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}