{"openapi":"3.0.1","info":{"title":"FabricAdminClient","description":"Drive operation endpoints and objects.","version":"2019-05-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/drives":{"get":{"tags":["Drives"],"description":"Returns a list of all storage drives at a location.","operationId":"Drives_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"scaleUnit","in":"path","description":"Name of the scale units.","required":true,"schema":{"type":"string"}},{"name":"storageSubSystem","in":"path","description":"Name of the storage system.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-05-01"}},{"name":"$filter","in":"query","description":"OData filter parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveList"}}}},"404":{"description":"NOT FOUND"}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/drives/{drive}":{"get":{"tags":["Drives"],"description":"Return the requested a storage drive.","operationId":"Drives_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"scaleUnit","in":"path","description":"Name of the scale units.","required":true,"schema":{"type":"string"}},{"name":"storageSubSystem","in":"path","description":"Name of the storage system.","required":true,"schema":{"type":"string"}},{"name":"drive","in":"path","description":"Name of the storage drive.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-05-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Drive"}}}},"404":{"description":"NOT FOUND"}}}}},"components":{"schemas":{"Drive":{"properties":{"properties":{"$ref":"#/components/schemas/DriveModel"}},"description":"Representation of a drive resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"URI of the resource.","readOnly":true},"location":{"type":"string","description":"The region where the resource is located."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"List of key-value pairs."},"type":{"type":"string","description":"Type of resource.","readOnly":true}},"description":"Base resource object."}]},"DriveList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page."},"value":{"type":"array","description":"List of storage drives.","items":{"$ref":"#/components/schemas/Drive"}}},"description":"Pageable list of storage drives."},"DriveModel":{"type":"object","properties":{"action":{"type":"string","description":"Detailed recommended action for HealthStatus/OperationalStatus. Empty if HealthStatus/OperationalStatus is Healthy/Ok.","readOnly":true},"capacityGB":{"type":"integer","description":"Total capacity in GB of the drive.","format":"int32","readOnly":true},"description":{"type":"string","description":"Detailed description for HealthStatus/OperationalStatus. Empty if HealthStatus/OperationalStatus is Healthy/Ok.","readOnly":true},"firmwareVersion":{"type":"string","description":"The firmware version of the drive.","readOnly":true},"healthStatus":{"type":"string","description":"Health status of the drive.","readOnly":true},"isIndicationEnabled":{"type":"boolean","description":"Indicate whether the drive's identification LEDs are active or not.","readOnly":true},"manufacturer":{"type":"string","description":"The name of the drive's manufacturer.","readOnly":true},"mediaType":{"type":"string","description":"Media type of the drive.","readOnly":true},"model":{"type":"string","description":"Model of the drive.","readOnly":true},"operationalStatus":{"type":"string","description":"Operational status of the drive.","readOnly":true},"physicalLocation":{"type":"string","description":"Indicate where the hardware is located.","readOnly":true},"serialNumber":{"type":"string","description":"Serial number of the drive.","readOnly":true},"storageNode":{"type":"string","description":"Node that the drive is physically connected.","readOnly":true},"storagePool":{"type":"string","description":"The storage pool where the drive is located.","readOnly":true},"usage":{"type":"string","description":"Intended usage of the drive.","readOnly":true}},"description":"Properties of a drive."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-05-01"}},"DriveParameter":{"name":"drive","in":"path","description":"Name of the storage drive.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}