{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Security Center",
    "description" : "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version" : "2015-06-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations" : {
      "get" : {
        "tags" : [ "Locations" ],
        "description" : "The location of the responsible ASC of the specific subscription (home region). For each subscription there is only one responsible location. The location in the response should be used to read or write other resources in ASC according to their ID.",
        "operationId" : "Locations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "nextLink" : {
                      "type" : "string",
                      "description" : "The URI to fetch the next page.",
                      "readOnly" : true
                    },
                    "value" : {
                      "type" : "array",
                      "readOnly" : true,
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "properties" : {
                            "type" : "object",
                            "description" : "An empty set of properties"
                          }
                        },
                        "description" : "The ASC location of the subscription is in the \"name\" field"
                      }
                    }
                  },
                  "description" : "List of locations where ASC saves your data"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}" : {
      "get" : {
        "tags" : [ "Locations" ],
        "description" : "Details of a specific location",
        "operationId" : "Locations_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "ascLocation",
          "in" : "path",
          "description" : "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "string",
                      "description" : "Resource Id",
                      "readOnly" : true
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "Resource name",
                      "readOnly" : true
                    },
                    "type" : {
                      "type" : "string",
                      "description" : "Resource type",
                      "readOnly" : true
                    }
                  },
                  "description" : "The ASC location of the subscription is in the \"name\" field"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "parameters" : {
      "ExtendedResourceName" : {
        "name" : "extendedResourceName",
        "in" : "path",
        "description" : "The name of the base resource",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ExtendedResourceProvider" : {
        "name" : "extendedResourceProvider",
        "in" : "path",
        "description" : "Resource provider name of the base resource",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ExtendedResourceType" : {
        "name" : "extendedResourceType",
        "in" : "path",
        "description" : "Type of the base resource",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}