{"openapi":"3.0.1","info":{"title":"AutomationManagementClient","version":"2015-10-31"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks":{"get":{"tags":["Webhook"],"description":"Retrieve a list of webhooks.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/webhookoperations"},"operationId":"Webhook_ListByAutomationAccount","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation.","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookListResult"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/generateUri":{"post":{"tags":["Webhook"],"description":"Generates a Uri for use in creating a webhook.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/webhookoperations"},"operationId":"Webhook_GenerateUri","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/{webhookName}":{"get":{"tags":["Webhook"],"description":"Retrieve the webhook identified by webhook name.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/webhookoperations"},"operationId":"Webhook_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"webhookName","in":"path","description":"The webhook name.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"put":{"tags":["Webhook"],"description":"Create the webhook identified by webhook name.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/webhookoperations"},"operationId":"Webhook_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"webhookName","in":"path","description":"The webhook name.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The create or update parameters for webhook.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookCreateOrUpdateParameters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"delete":{"tags":["Webhook"],"description":"Delete the webhook by name.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/webhookoperations"},"operationId":"Webhook_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"webhookName","in":"path","description":"The webhook name.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"patch":{"tags":["Webhook"],"description":"Update the webhook identified by webhook name.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/webhookoperations"},"operationId":"Webhook_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"webhookName","in":"path","description":"The webhook name.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The update parameters for webhook.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookUpdateParameters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}}},"components":{"schemas":{"RunbookAssociationProperty":{"type":"object","properties":{"name":{"type":"string","description":"Gets or sets the name of the runbook."}},"description":"The runbook property associated with the entity."},"Webhook":{"properties":{"properties":{"$ref":"#/components/schemas/WebhookProperties"}},"description":"Definition of the webhook type.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The core properties of ARM resources"}]}]},"WebhookCreateOrUpdateParameters":{"required":["name","properties"],"type":"object","properties":{"name":{"type":"string","description":"Gets or sets the name of the webhook."},"properties":{"$ref":"#/components/schemas/WebhookCreateOrUpdateProperties"}},"description":"The parameters supplied to the create or update webhook operation."},"WebhookCreateOrUpdateProperties":{"type":"object","properties":{"expiryTime":{"type":"string","description":"Gets or sets the expiry time.","format":"date-time","nullable":false},"isEnabled":{"type":"boolean","description":"Gets or sets the value of the enabled flag of webhook."},"parameters":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets the parameters of the job."},"runOn":{"type":"string","description":"Gets or sets the name of the hybrid worker group the webhook job will run on."},"runbook":{"$ref":"#/components/schemas/RunbookAssociationProperty"},"uri":{"type":"string","description":"Gets or sets the uri."}},"description":"The properties of the create webhook operation."},"WebhookListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Gets or sets the next link."},"value":{"type":"array","description":"Gets or sets a list of webhooks.","items":{"$ref":"#/components/schemas/Webhook"}}},"description":"The response model for the list webhook operation."},"WebhookProperties":{"type":"object","properties":{"creationTime":{"type":"string","description":"Gets or sets the creation time.","format":"date-time","nullable":false},"description":{"type":"string","description":"Gets or sets the description."},"expiryTime":{"type":"string","description":"Gets or sets the expiry time.","format":"date-time","nullable":false},"isEnabled":{"type":"boolean","description":"Gets or sets the value of the enabled flag of the webhook.","default":false},"lastInvokedTime":{"type":"string","description":"Gets or sets the last invoked time.","format":"date-time","nullable":true},"lastModifiedBy":{"type":"string","description":"Details of the user who last modified the Webhook"},"lastModifiedTime":{"type":"string","description":"Gets or sets the last modified time.","format":"date-time","nullable":false},"parameters":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets the parameters of the job that is created when the webhook calls the runbook it is associated with."},"runOn":{"type":"string","description":"Gets or sets the name of the hybrid worker group the webhook job will run on."},"runbook":{"$ref":"#/components/schemas/RunbookAssociationProperty"},"uri":{"type":"string","description":"Gets or sets the webhook uri."}},"description":"Definition of the webhook properties"},"WebhookUpdateParameters":{"type":"object","properties":{"name":{"type":"string","description":"Gets or sets the name of the webhook."},"properties":{"$ref":"#/components/schemas/WebhookUpdateProperties"}},"description":"The parameters supplied to the update webhook operation."},"WebhookUpdateProperties":{"type":"object","properties":{"description":{"type":"string","description":"Gets or sets the description of the webhook."},"isEnabled":{"type":"boolean","description":"Gets or sets the value of the enabled flag of webhook."},"parameters":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets the parameters of the job."},"runOn":{"type":"string","description":"Gets or sets the name of the hybrid worker group the webhook job will run on."}},"description":"The properties of the update webhook."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}