{"openapi":"3.0.1","info":{"title":"Update Management","description":"APIs for managing software update configurations.","contact":{"name":"Mohamed Enein"},"version":"2017-05-15-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationMachineRuns":{"get":{"tags":["Software Update Configuration Machine Run"],"description":"Return list of software update configuration machine runs","externalDocs":{"url":"http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"},"operationId":"SoftwareUpdateConfigurationMachineRuns_List","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"clientRequestId","in":"header","description":"Identifies this specific client request.","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. You can use the following filters: 'properties/osType', 'properties/status', 'properties/startTime', and 'properties/softwareUpdateConfiguration/name'","schema":{"type":"string"}},{"name":"$skip","in":"query","description":"number of entries you skip before returning results","schema":{"type":"string"}},{"name":"$top","in":"query","description":"Maximum number of entries returned in the results collection","schema":{"type":"string"}}],"responses":{"200":{"description":"Return list of software update configuration machine runs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/softwareUpdateConfigurationMachineRunListResult"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationMachineRuns/{softwareUpdateConfigurationMachineRunId}":{"get":{"tags":["Software Update Configuration Machine Run"],"description":"Get a single software update configuration machine run by Id.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"},"operationId":"SoftwareUpdateConfigurationMachineRuns_GetById","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"softwareUpdateConfigurationMachineRunId","in":"path","description":"The Id of the software update configuration machine run.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"clientRequestId","in":"header","description":"Identifies this specific client request.","schema":{"type":"string"}}],"responses":{"200":{"description":"A single software update configuration machine run.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/softwareUpdateConfigurationMachineRun"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}}},"components":{"schemas":{"jobNavigation":{"type":"object","properties":{"id":{"type":"string","description":"Id of the job associated with the software update configuration run","readOnly":true}},"description":"Software update configuration machine run job navigation properties."},"softwareUpdateConfigurationMachineRun":{"type":"object","properties":{"id":{"type":"string","description":"Resource Id of the software update configuration machine run","readOnly":true},"name":{"type":"string","description":"Name of the software update configuration machine run","readOnly":true},"properties":{"$ref":"#/components/schemas/updateConfigurationMachineRunProperties"}},"description":"Software update configuration machine run model."},"softwareUpdateConfigurationMachineRunListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"link to next page of results."},"value":{"type":"array","description":"outer object returned when listing all software update configuration machine runs","items":{"$ref":"#/components/schemas/softwareUpdateConfigurationMachineRun"}}},"description":"result of listing all software update configuration machine runs"},"updateConfigurationMachineRunProperties":{"type":"object","properties":{"configuredDuration":{"type":"string","description":"configured duration for the software update configuration run.","readOnly":true},"correlationId":{"type":"string","description":"correlation id of the software update configuration machine run","format":"uuid","readOnly":true},"createdBy":{"type":"string","description":"createdBy property, which only appears in the response.","readOnly":true},"creationTime":{"type":"string","description":"Creation time of the resource, which only appears in the response.","format":"date-time","nullable":false,"readOnly":true},"endTime":{"type":"string","description":"End time of the software update configuration machine run.","format":"date-time","nullable":true,"readOnly":true},"error":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"},"job":{"$ref":"#/components/schemas/jobNavigation"},"lastModifiedBy":{"type":"string","description":"lastModifiedBy property, which only appears in the response.","readOnly":true},"lastModifiedTime":{"type":"string","description":"Last time resource was modified, which only appears in the response.","format":"date-time","nullable":false,"readOnly":true},"osType":{"type":"string","description":"Operating system target of the software update configuration triggered this run","readOnly":true},"softwareUpdateConfiguration":{"$ref":"#/components/schemas/updateConfigurationNavigation"},"sourceComputerId":{"type":"string","description":"source computer id of the software update configuration machine run","format":"uuid","readOnly":true},"startTime":{"type":"string","description":"Start time of the software update configuration machine run.","format":"date-time","nullable":false,"readOnly":true},"status":{"type":"string","description":"Status of the software update configuration machine run.","readOnly":true},"targetComputer":{"type":"string","description":"name of the updated computer","readOnly":true},"targetComputerType":{"type":"string","description":"type of the updated computer.","readOnly":true}},"description":"Software update configuration machine run properties."},"updateConfigurationNavigation":{"type":"object","properties":{"name":{"type":"string","description":"Name of the software update configuration triggered the software update configuration run","readOnly":true}},"description":"Software update configuration Run Navigation model."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}