{"openapi":"3.0.1","info":{"title":"StreamAnalyticsManagementClient","version":"2016-03-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions":{"get":{"tags":["Functions"],"description":"Lists all of the functions under the specified streaming job.","operationId":"Functions_ListByStreamingJob","parameters":[{"name":"$select","in":"query","description":"The $select OData query parameter. This is a comma-separated list of structural properties to include in the response, or \"*\" to include all properties. By default, all properties are returned except diagnostics. Currently only accepts '*' as a valid value.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully listed the functions under the specified streaming job.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FunctionListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}":{"get":{"tags":["Functions"],"description":"Gets details about the specified function.","operationId":"Functions_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"functionName","in":"path","description":"The name of the function.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the specified function.","headers":{"ETag":{"description":"The current entity tag for the function. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Function"}}}}}},"put":{"tags":["Functions"],"description":"Creates a function or replaces an already existing function under an existing streaming job.","operationId":"Functions_CreateOrReplace","parameters":[{"name":"If-Match","in":"header","description":"The ETag of the function. Omit this value to always overwrite the current function. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.","schema":{"type":"string"}},{"name":"If-None-Match","in":"header","description":"Set to '*' to allow a new function to be created, but to prevent updating an existing function. Other values will result in a 412 Pre-condition Failed response.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"functionName","in":"path","description":"The name of the function.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The definition of the function that will be used to create a new function or replace the existing one under the streaming job.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Function"}}},"required":true},"responses":{"200":{"description":"The function was successfully created or replaced.","headers":{"ETag":{"description":"The current entity tag for the function. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Function"}}}},"201":{"description":"The function was successfully created or replaced.","headers":{"ETag":{"description":"The current entity tag for the function. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Function"}}}}}},"delete":{"tags":["Functions"],"description":"Deletes a function from the streaming job.","operationId":"Functions_Delete","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"functionName","in":"path","description":"The name of the function.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The function was successfully deleted."},"204":{"description":"The function does not exist."}}},"patch":{"tags":["Functions"],"description":"Updates an existing function under an existing streaming job. This can be used to partially update (ie. update one or two properties) a function without affecting the rest the job or function definition.","operationId":"Functions_Update","parameters":[{"name":"If-Match","in":"header","description":"The ETag of the function. Omit this value to always overwrite the current function. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"functionName","in":"path","description":"The name of the function.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"A function object. The properties specified here will overwrite the corresponding properties in the existing function (ie. Those properties will be updated). Any properties that are set to null here will mean that the corresponding property in the existing function will remain the same and not change as a result of this PATCH operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Function"}}},"required":true},"responses":{"200":{"description":"The function was successfully updated.","headers":{"ETag":{"description":"The current entity tag for the function. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Function"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}/RetrieveDefaultDefinition":{"post":{"tags":["Functions"],"description":"Retrieves the default definition of a function based on the parameters specified.","operationId":"Functions_RetrieveDefaultDefinition","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"functionName","in":"path","description":"The name of the function.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters used to specify the type of function to retrieve the default definition for.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FunctionRetrieveDefaultDefinitionParameters"}}},"required":false},"responses":{"200":{"description":"Successfully retrieved the function's default definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Function"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}/test":{"post":{"tags":["Functions"],"description":"Tests if the information provided for a function is valid. This can range from testing the connection to the underlying web service behind the function or making sure the function code provided is syntactically correct.","operationId":"Functions_Test","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"functionName","in":"path","description":"The name of the function.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"If the function specified does not already exist, this parameter must contain the full function definition intended to be tested. If the function specified already exists, this parameter can be left null to test the existing function as is or if specified, the properties specified will overwrite the corresponding properties in the existing function (exactly like a PATCH operation) and the resulting function will be tested.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Function"}}},"required":false},"responses":{"200":{"description":"The test operation completed successfully.","content":{"application/json":{"schema":{"type":"object","description":"Describes the status of the test operation along with error information, if applicable."}}}},"202":{"description":"The test request was successfully initiated."}}}}},"components":{"schemas":{"AzureMachineLearningWebServiceFunctionBinding":{"properties":{"properties":{"$ref":"#/components/schemas/AzureMachineLearningWebServiceFunctionBindingProperties"}},"description":"The binding to an Azure Machine Learning web service.","allOf":[{"$ref":"#/components/schemas/FunctionBinding"}]},"AzureMachineLearningWebServiceFunctionBindingProperties":{"type":"object","properties":{"apiKey":{"type":"string","description":"The API key used to authenticate with Request-Response endpoint."},"batchSize":{"type":"integer","description":"Number between 1 and 10000 describing maximum number of rows for every Azure ML RRS execute request. Default is 1000.","format":"int32"},"endpoint":{"type":"string","description":"The Request-Response execute endpoint of the Azure Machine Learning web service. Find out more here: https://docs.microsoft.com/en-us/azure/machine-learning/machine-learning-consume-web-services#request-response-service-rrs"},"inputs":{"$ref":"#/components/schemas/AzureMachineLearningWebServiceInputs"},"outputs":{"type":"array","description":"A list of outputs from the Azure Machine Learning web service endpoint execution.","items":{"$ref":"#/components/schemas/AzureMachineLearningWebServiceOutputColumn"}}},"description":"The binding properties associated with an Azure Machine learning web service."},"AzureMachineLearningWebServiceFunctionBindingRetrievalProperties":{"type":"object","properties":{"executeEndpoint":{"type":"string","description":"The Request-Response execute endpoint of the Azure Machine Learning web service. Find out more here: https://docs.microsoft.com/en-us/azure/machine-learning/machine-learning-consume-web-services#request-response-service-rrs"},"udfType":{"$ref":"#/components/schemas/UdfType"}},"description":"The binding retrieval properties associated with an Azure Machine learning web service."},"AzureMachineLearningWebServiceFunctionRetrieveDefaultDefinitionParameters":{"properties":{"bindingRetrievalProperties":{"$ref":"#/components/schemas/AzureMachineLearningWebServiceFunctionBindingRetrievalProperties"}},"description":"The parameters needed to retrieve the default function definition for an Azure Machine Learning web service function.","allOf":[{"$ref":"#/components/schemas/FunctionRetrieveDefaultDefinitionParameters"}]},"AzureMachineLearningWebServiceInputColumn":{"type":"object","properties":{"dataType":{"type":"string","description":"The (Azure Machine Learning supported) data type of the input column. A list of valid  Azure Machine Learning data types are described at https://msdn.microsoft.com/en-us/library/azure/dn905923.aspx ."},"mapTo":{"type":"integer","description":"The zero based index of the function parameter this input maps to.","format":"int32"},"name":{"type":"string","description":"The name of the input column."}},"description":"Describes an input column for the Azure Machine Learning web service endpoint."},"AzureMachineLearningWebServiceInputs":{"type":"object","properties":{"columnNames":{"type":"array","description":"A list of input columns for the Azure Machine Learning web service endpoint.","items":{"$ref":"#/components/schemas/AzureMachineLearningWebServiceInputColumn"}},"name":{"type":"string","description":"The name of the input. This is the name provided while authoring the endpoint."}},"description":"The inputs for the Azure Machine Learning web service endpoint."},"AzureMachineLearningWebServiceOutputColumn":{"type":"object","properties":{"dataType":{"type":"string","description":"The (Azure Machine Learning supported) data type of the output column. A list of valid  Azure Machine Learning data types are described at https://msdn.microsoft.com/en-us/library/azure/dn905923.aspx ."},"name":{"type":"string","description":"The name of the output column."}},"description":"Describes an output column for the Azure Machine Learning web service endpoint."},"Function":{"properties":{"properties":{"$ref":"#/components/schemas/FunctionProperties"}},"description":"A function object, containing all information associated with the named function. All functions are contained under a streaming job.","allOf":[{"$ref":"#/components/schemas/SubResource"}]},"FunctionBinding":{"type":"object","properties":{"type":{"type":"string","description":"Indicates the function binding type."}},"description":"The physical binding of the function. For example, in the Azure Machine Learning web service’s case, this describes the endpoint.","discriminator":{"propertyName":"type"}},"FunctionInput":{"type":"object","properties":{"dataType":{"type":"string","description":"The (Azure Stream Analytics supported) data type of the function input parameter. A list of valid Azure Stream Analytics data types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx"},"isConfigurationParameter":{"type":"boolean","description":"A flag indicating if the parameter is a configuration parameter. True if this input parameter is expected to be a constant. Default is false."}},"description":"Describes one input parameter of a function."},"FunctionListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link (url) to the next page of results.","readOnly":true},"value":{"type":"array","description":"A list of functions under a streaming job. Populated by a 'List' operation.","readOnly":true,"items":{"$ref":"#/components/schemas/Function"}}},"description":"Object containing a list of functions under a streaming job."},"FunctionOutput":{"type":"object","properties":{"dataType":{"type":"string","description":"The (Azure Stream Analytics supported) data type of the function output. A list of valid Azure Stream Analytics data types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx"}},"description":"Describes the output of a function."},"FunctionProperties":{"type":"object","properties":{"etag":{"type":"string","description":"The current entity tag for the function. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","readOnly":true},"type":{"type":"string","description":"Indicates the type of function."}},"description":"The properties that are associated with a function.","discriminator":{"propertyName":"type"}},"FunctionRetrieveDefaultDefinitionParameters":{"type":"object","properties":{"bindingType":{"type":"string","description":"Indicates the function binding type."}},"description":"Parameters used to specify the type of function to retrieve the default definition for.","discriminator":{"propertyName":"bindingType"}},"JavaScriptFunctionBinding":{"properties":{"properties":{"$ref":"#/components/schemas/JavaScriptFunctionBindingProperties"}},"description":"The binding to a JavaScript function.","allOf":[{"$ref":"#/components/schemas/FunctionBinding"}]},"JavaScriptFunctionBindingProperties":{"type":"object","properties":{"script":{"type":"string","description":"The JavaScript code containing a single function definition. For example: 'function (x, y) { return x + y; }'"}},"description":"The binding properties associated with a JavaScript function."},"JavaScriptFunctionBindingRetrievalProperties":{"type":"object","properties":{"script":{"type":"string","description":"The JavaScript code containing a single function definition. For example: 'function (x, y) { return x + y; }'."},"udfType":{"$ref":"#/components/schemas/UdfType"}},"description":"The binding retrieval properties associated with a JavaScript function."},"JavaScriptFunctionRetrieveDefaultDefinitionParameters":{"properties":{"bindingRetrievalProperties":{"$ref":"#/components/schemas/JavaScriptFunctionBindingRetrievalProperties"}},"description":"The parameters needed to retrieve the default function definition for a JavaScript function.","allOf":[{"$ref":"#/components/schemas/FunctionRetrieveDefaultDefinitionParameters"}]},"ScalarFunctionConfiguration":{"type":"object","properties":{"binding":{"$ref":"#/components/schemas/FunctionBinding"},"inputs":{"type":"array","description":"A list of inputs describing the parameters of the function.","items":{"$ref":"#/components/schemas/FunctionInput"}},"output":{"$ref":"#/components/schemas/FunctionOutput"}},"description":"Describes the configuration of the scalar function."},"ScalarFunctionProperties":{"properties":{"properties":{"$ref":"#/components/schemas/ScalarFunctionConfiguration"}},"description":"The properties that are associated with a scalar function.","allOf":[{"$ref":"#/components/schemas/FunctionProperties"}]},"SubResource":{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"The base sub-resource model definition."},"UdfType":{"type":"string","description":"The function type.","enum":["Scalar"]}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"FunctionNameParameter":{"name":"functionName","in":"path","description":"The name of the function.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},"StreamingJobNameParameter":{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}