{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "MarketplaceOrdering.Agreements",
    "description" : "REST API for MarketplaceOrdering Agreements.",
    "version" : "2015-06-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.MarketplaceOrdering/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Lists all of the available Microsoft.MarketplaceOrdering REST API operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Microsoft.MarketplaceOrdering error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements" : {
      "get" : {
        "description" : "List marketplace agreements in the subscription.",
        "operationId" : "MarketplaceAgreements_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Terms returned successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AgreementTerms"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements/{publisherId}/offers/{offerId}/plans/{planId}" : {
      "get" : {
        "description" : "Get marketplace agreement.",
        "operationId" : "MarketplaceAgreements_GetAgreement",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publisherId",
          "in" : "path",
          "description" : "Publisher identifier string of image being deployed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offerId",
          "in" : "path",
          "description" : "Offer identifier string of image being deployed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "planId",
          "in" : "path",
          "description" : "Plan identifier string of image being deployed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Terms returned successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AgreementTerms"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements/{publisherId}/offers/{offerId}/plans/{planId}/cancel" : {
      "post" : {
        "description" : "Cancel marketplace terms.",
        "operationId" : "MarketplaceAgreements_Cancel",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publisherId",
          "in" : "path",
          "description" : "Publisher identifier string of image being deployed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offerId",
          "in" : "path",
          "description" : "Offer identifier string of image being deployed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "planId",
          "in" : "path",
          "description" : "Plan identifier string of image being deployed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request was successfully processed and the terms were rejected.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AgreementTerms"
                }
              }
            }
          },
          "default" : {
            "description" : "Microsoft.MarketplaceOrdering error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements/{publisherId}/offers/{offerId}/plans/{planId}/sign" : {
      "post" : {
        "description" : "Sign marketplace terms.",
        "operationId" : "MarketplaceAgreements_Sign",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publisherId",
          "in" : "path",
          "description" : "Publisher identifier string of image being deployed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offerId",
          "in" : "path",
          "description" : "Offer identifier string of image being deployed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "planId",
          "in" : "path",
          "description" : "Plan identifier string of image being deployed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request was successfully processed and the terms were accepted.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AgreementTerms"
                }
              }
            }
          },
          "default" : {
            "description" : "Microsoft.MarketplaceOrdering error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/offerTypes/{offerType}/publishers/{publisherId}/offers/{offerId}/plans/{planId}/agreements/current" : {
      "get" : {
        "description" : "Get marketplace terms.",
        "operationId" : "MarketplaceAgreements_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offerType",
          "in" : "path",
          "description" : "Offer Type, currently only virtualmachine type is supported.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "virtualmachine" ]
          }
        }, {
          "name" : "publisherId",
          "in" : "path",
          "description" : "Publisher identifier string of image being deployed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offerId",
          "in" : "path",
          "description" : "Offer identifier string of image being deployed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "planId",
          "in" : "path",
          "description" : "Plan identifier string of image being deployed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Terms returned successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AgreementTerms"
                }
              }
            }
          }
        }
      },
      "put" : {
        "description" : "Save marketplace terms.",
        "operationId" : "MarketplaceAgreements_Create",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offerType",
          "in" : "path",
          "description" : "Offer Type, currently only virtualmachine type is supported.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "virtualmachine" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publisherId",
          "in" : "path",
          "description" : "Publisher identifier string of image being deployed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offerId",
          "in" : "path",
          "description" : "Offer identifier string of image being deployed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "planId",
          "in" : "path",
          "description" : "Plan identifier string of image being deployed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Create Marketplace Terms operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AgreementTerms"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The request was successfully processed and the terms were accepted or acceptance revoked as per the request body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AgreementTerms"
                }
              }
            }
          },
          "default" : {
            "description" : "Microsoft.MarketplaceOrdering error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AgreementProperties" : {
        "type" : "object",
        "properties" : {
          "accepted" : {
            "type" : "boolean",
            "description" : "If any version of the terms have been accepted, otherwise false."
          },
          "licenseTextLink" : {
            "type" : "string",
            "description" : "Link to HTML with Microsoft and Publisher terms."
          },
          "plan" : {
            "type" : "string",
            "description" : "Plan identifier string of image being deployed."
          },
          "privacyPolicyLink" : {
            "type" : "string",
            "description" : "Link to the privacy policy of the publisher."
          },
          "product" : {
            "type" : "string",
            "description" : "Offer identifier string of image being deployed."
          },
          "publisher" : {
            "type" : "string",
            "description" : "Publisher identifier string of image being deployed."
          },
          "retrieveDatetime" : {
            "type" : "string",
            "description" : "Date and time in UTC of when the terms were accepted. This is empty if Accepted is false.",
            "format" : "date-time"
          },
          "signature" : {
            "type" : "string",
            "description" : "Terms signature."
          }
        },
        "description" : "Agreement Terms definition"
      },
      "AgreementTerms" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/AgreementProperties"
          }
        },
        "description" : "Terms properties for provided Publisher/Offer/Plan tuple",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "type" : "object",
            "properties" : {
              "code" : {
                "type" : "string",
                "description" : "Error code.",
                "readOnly" : true
              },
              "message" : {
                "type" : "string",
                "description" : "Error message indicating why the operation failed.",
                "readOnly" : true
              }
            },
            "description" : "The details of the error."
          }
        },
        "description" : "Error response indicates Microsoft.MarketplaceOrdering service is not able to process the incoming request. The reason is provided in the error message."
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "type" : "object",
            "properties" : {
              "operation" : {
                "type" : "string",
                "description" : "Operation type: Get Agreement, Sign Agreement, Cancel Agreement etc."
              },
              "provider" : {
                "type" : "string",
                "description" : "Service provider: Microsoft.MarketplaceOrdering"
              },
              "resource" : {
                "type" : "string",
                "description" : "Resource on which the operation is performed: Agreement, virtualmachine, etc."
              }
            },
            "description" : "The object that represents the operation."
          },
          "name" : {
            "type" : "string",
            "description" : "Operation name: {provider}/{resource}/{operation}"
          }
        },
        "description" : "Microsoft.MarketplaceOrdering REST API operation"
      },
      "OperationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of operation list results if there are any.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of Microsoft.MarketplaceOrdering operations supported by the Microsoft.MarketplaceOrdering resource provider.",
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "Result of the request to list MarketplaceOrdering operations. It contains a list of operations and a URL link to get the next set of results."
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource ID.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type.",
            "readOnly" : true
          }
        },
        "description" : "ARM resource."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "The API version to use for the request.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "OfferTypeParameter" : {
        "name" : "offerType",
        "in" : "path",
        "description" : "Offer Type, currently only virtualmachine type is supported.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "virtualmachine" ]
        }
      },
      "OffersParameter" : {
        "name" : "offerId",
        "in" : "path",
        "description" : "Offer identifier string of image being deployed.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "PlansParameter" : {
        "name" : "planId",
        "in" : "path",
        "description" : "Plan identifier string of image being deployed.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "PublishersParameter" : {
        "name" : "publisherId",
        "in" : "path",
        "description" : "Publisher identifier string of image being deployed.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The subscription ID that identifies an Azure subscription.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}