{"openapi":"3.0.1","info":{"title":"UpdateAdminClient","description":"Update run operation endpoints and objects.","version":"2016-05-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updateRuns":{"get":{"tags":["UpdateRuns"],"description":"Get the list of update runs.","operationId":"UpdateRuns_ListTopLevel","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.  The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name.","required":true,"schema":{"type":"string"}},{"name":"updateLocation","in":"path","description":"The name of the update location.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRunList"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updateRuns/{runName}":{"get":{"tags":["UpdateRuns"],"description":"Get an instance of update run using the ID.","operationId":"UpdateRuns_GetTopLevel","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.  The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name.","required":true,"schema":{"type":"string"}},{"name":"updateLocation","in":"path","description":"The name of the update location.","required":true,"schema":{"type":"string"}},{"name":"runName","in":"path","description":"Update run identifier.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRun"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/updateRuns":{"get":{"tags":["UpdateRuns"],"description":"Get the list of update runs.","operationId":"UpdateRuns_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.  The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name.","required":true,"schema":{"type":"string"}},{"name":"updateLocation","in":"path","description":"The name of the update location.","required":true,"schema":{"type":"string"}},{"name":"updateName","in":"path","description":"Name of the update.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRunList"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/updateRuns/{runName}":{"get":{"tags":["UpdateRuns"],"description":"Get an instance of update run using the ID.","operationId":"UpdateRuns_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.  The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name.","required":true,"schema":{"type":"string"}},{"name":"updateLocation","in":"path","description":"The name of the update location.","required":true,"schema":{"type":"string"}},{"name":"updateName","in":"path","description":"Name of the update.","required":true,"schema":{"type":"string"}},{"name":"runName","in":"path","description":"Update run identifier.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRun"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/updateRuns/{runName}/rerun":{"post":{"tags":["UpdateRuns"],"description":"Resume a failed update.","operationId":"UpdateRuns_Rerun","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.  The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name.","required":true,"schema":{"type":"string"}},{"name":"updateLocation","in":"path","description":"The name of the update location.","required":true,"schema":{"type":"string"}},{"name":"updateName","in":"path","description":"Name of the update.","required":true,"schema":{"type":"string"}},{"name":"runName","in":"path","description":"Update run identifier.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"Step":{"type":"object","properties":{"description":{"type":"string","description":"Description of the step."},"endTimeUtc":{"type":"string","description":"Time at which this step stopped executing","format":"date-time"},"errorMessage":{"type":"string","description":"Error message, if any."},"name":{"type":"string","description":"Name of the step."},"startTimeUtc":{"type":"string","description":"Time at which this step started executing","format":"date-time"},"status":{"type":"string","description":"State of the step."},"steps":{"type":"array","description":"Inner steps","items":{"$ref":"#/components/schemas/Step"}}},"description":"Information about each step of the update process."},"UpdateRun":{"properties":{"properties":{"$ref":"#/components/schemas/UpdateRunModel"}},"description":"Representation of a update run resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"URI of the resource.","readOnly":true},"location":{"type":"string","description":"Region location of resource."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"List of key-value pairs."},"type":{"type":"string","description":"Type of resource.","readOnly":true}},"description":"Base Resource Object"}]},"UpdateRunList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page."},"value":{"type":"array","description":"List of update runs.","items":{"$ref":"#/components/schemas/UpdateRun"}}},"description":"Pageable list of update runs."},"UpdateRunModel":{"type":"object","properties":{"duration":{"type":"string","description":"Duration of the update."},"progress":{"$ref":"#/components/schemas/Step"},"state":{"$ref":"#/components/schemas/UpdateRunState"},"timeStarted":{"type":"string","description":"Update start time.","format":"date-time"}},"description":"Properties of an update run."},"UpdateRunState":{"type":"string","description":"State of the update run.","enum":["Unknown","Succeeded","InProgress","Failed"]}},"parameters":{"UpdateRunParameter":{"name":"runName","in":"path","description":"Update run identifier.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}