{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "MasterCard ABU API",
    "description" : "Mastercard ABU API",
    "contact" : {
      "name" : "openapi@mastercard.com"
    },
    "license" : {
      "name" : "Mastercard",
      "url" : "http://www.mastercard.com"
    },
    "version" : "1.1.0"
  },
  "servers" : [ {
    "url" : "https://api.mastercard.com/maws"
  } ],
  "paths" : {
    "/v1/maws" : {
      "post" : {
        "tags" : [ "ABU" ],
        "summary" : "Access methods for merchants to ABU program.",
        "description" : "<ul>\n  <li><p><b>Pull model:</b></p>\n    <br>\n    <p>To receive information for a given PAN, the customer sends a request and will receive a response with the most up to date information.</p>\n    <p>In this page, customers can execute samples of requests to explore the pattern of the API responses. However, once the customer decides to start using the SDK, it is necessary to be fully onboarded to ABU API Pull model.</p>\n  </li>\n  <br>\n  <li><p><b>Push model:</b></p>\n    <br>\n    <p>Customers can choose to automatically receive ABU account update notifications on a designated endpoint. This means that a customer can subscribe to each PAN in order to receive updates, so that when these PANs have any changes, the customer will receive the updates via notifications on the designated endpoint.</p>\n    <p>Different fields on the API are mandatory to use this model.</p><p>In order to complete a full end-to-end test scenario (including the notifications), it is necessary to be fully onboarded on ABU API Push model:</p>\n    <p>- An endpoint provided by the customer must be registered with Mastercard so that notifications can be pro-actively sent out to the customer.</p>\n    <p>- A certificate provided by Mastercard representative must be used by the customer to receive notifications on the designated endpoint.</p>\n    <br>\n    <p><b>* For customers who are already enrolled to ABU API Pull model and want to start using ABU API Push model, it is necessary to perform a technical enrollment that involves a certificate exchange and must be registered as an ABU API Push model user.</b></p>\n    <br>\n    <p>For more details on how to proceed with onboarding for ABU API push model contact abu_push_onboarding@mastercard.com.</p><p>Note: This email is for ABU API push onboarding only. For general ABU API inquiry questions contact api_support@mastercard.com and for general ABU questions contact abu_helpdesk@mastercard.com.</p>\n  </li>\n</ul>",
        "operationId" : "abuPost",
        "requestBody" : {
          "description" : "Request for ABU API",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ABU"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AbuResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Possible causes: <br>Validation failure or System error.</br>"
          },
          "401" : {
            "description" : "Possible causes:<br>ClientID not provisioned.<br>"
          },
          "500" : {
            "description" : "System error."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ABU" : {
        "required" : [ "id", "method", "params" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "An identifier established by the Client that MUST contain a String, Number, or NULL value if included.",
            "example" : "a1234567890"
          },
          "jsonrpc" : {
            "type" : "string",
            "description" : "A String specifying the version of the JSON-RPC protocol. MUST be exactly \"2.0\".",
            "example" : "2.0"
          },
          "method" : {
            "type" : "string",
            "description" : "A String containing the name of the method to be invoked.",
            "example" : "abu"
          },
          "params" : {
            "$ref" : "#/components/schemas/AbuDTO"
          }
        }
      },
      "AbuDTO" : {
        "required" : [ "merchantId", "oldAccountNumber", "oldExpirationDate" ],
        "type" : "object",
        "properties" : {
          "discretionaryData" : {
            "maxLength" : 10,
            "minLength" : 0,
            "type" : "string",
            "description" : "Optional data that can be used by the requested for matching to the original inquiry.",
            "example" : "RandomData"
          },
          "ica" : {
            "maxLength" : 11,
            "minLength" : 0,
            "type" : "string",
            "description" : "<p class='suffix-required' style='margin-bottom:5px'>[This field is required when the multiple ICAs are registered under the same client key.]</p>Data that can be used to inform the ICA number: Interbank Card Association.",
            "example" : "1111"
          },
          "merchantId" : {
            "maxLength" : 15,
            "minLength" : 15,
            "type" : "string",
            "description" : "Registered merchant ID that is mapped to the Customer ID.",
            "example" : "000111222333456"
          },
          "oldAccountNumber" : {
            "maxLength" : 19,
            "minLength" : 16,
            "type" : "string",
            "description" : "Account number on file provided by merchant.",
            "example" : "5573491171027312"
          },
          "oldExpirationDate" : {
            "maxLength" : 4,
            "minLength" : 4,
            "type" : "string",
            "description" : "Account number expiration date on file provided by merchant that must be in MMYY format.",
            "example" : "0714"
          },
          "subMerchantId" : {
            "maxLength" : 15,
            "minLength" : 15,
            "type" : "string",
            "description" : "Optionally populated when the merchant ID is actually a previously populated payment facilitator or payment aggregator.",
            "example" : "000000000000001"
          },
          "subscribe" : {
            "maxLength" : 12,
            "minLength" : 0,
            "type" : "string",
            "description" : "<p class=\"suffix-required\" style=\"margin-bottom:5px\">[Field used by Push Model only - REQUIRED]</p>Optional data that can be used to subscribe, un-subscribe or query subscription status for PAN updates. Valid values are \"subscribe\", \"un-subscribe\" and \"query\".",
            "example" : "subscribe"
          }
        }
      },
      "AbuResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "An identifier established by the Client that MUST contain a String, Number, or NULL value if included.",
            "example" : "a1234567890"
          },
          "jsonrpc" : {
            "type" : "string",
            "description" : "A String specifying the version of the JSON-RPC protocol. MUST be exactly \"2.0\".",
            "example" : "2.0"
          },
          "result" : {
            "$ref" : "#/components/schemas/AbuResultDTO"
          },
          "status" : {
            "type" : "boolean",
            "description" : "The Service Status, success (true) or failure (false).",
            "example" : true
          }
        }
      },
      "AbuResultDTO" : {
        "type" : "object",
        "properties" : {
          "discretionaryData" : {
            "maxLength" : 10,
            "minLength" : 0,
            "type" : "string",
            "description" : "Discretionary data as in the request.",
            "example" : "RandomData"
          },
          "ica" : {
            "maxLength" : 11,
            "minLength" : 0,
            "type" : "string",
            "description" : "ICA number as in the request.",
            "example" : "1111"
          },
          "merchantId" : {
            "maxLength" : 15,
            "minLength" : 15,
            "type" : "string",
            "description" : "Merchant ID as in the request.",
            "example" : "000111222333456"
          },
          "newAccountNumber" : {
            "maxLength" : 19,
            "minLength" : 16,
            "type" : "string",
            "description" : "New account number.",
            "example" : "5573491171027318"
          },
          "newExpirationDate" : {
            "maxLength" : 4,
            "minLength" : 4,
            "type" : "string",
            "description" : "New account number expiration date, in MMYY format.",
            "example" : "1218"
          },
          "oldAccountNumber" : {
            "maxLength" : 19,
            "minLength" : 16,
            "type" : "string",
            "description" : "Account number on file as in the request.",
            "example" : "5573491171027318"
          },
          "oldExpirationDate" : {
            "maxLength" : 4,
            "minLength" : 4,
            "type" : "string",
            "description" : "Expiration date on file as in the request.",
            "example" : "0714"
          },
          "reasonIdentifier" : {
            "maxLength" : 6,
            "type" : "string",
            "description" : "Response Type based on requested account.",
            "example" : "EXPIRY"
          },
          "responseIndicator" : {
            "maxLength" : 1,
            "minLength" : 1,
            "type" : "string",
            "description" : "One character additional data, returned bases on  reasonIdentifier.(Note- ResponseIndicator displayed only when ReasonIdentifier is VALID or UNKNWN)",
            "example" : "P"
          },
          "subMerchantId" : {
            "maxLength" : 15,
            "minLength" : 15,
            "type" : "string",
            "description" : "SubMerchantID as in the request.",
            "example" : "000000000000001"
          },
          "subscriptionIdentifier" : {
            "maxLength" : 70,
            "type" : "string",
            "description" : "<p class=\"suffix-required\" style=\"margin-bottom:5px\">[Field used by Push Model only]</p> Response Type based on the status of subscribe/un-subscribe or query subscription status for PAN.",
            "example" : "Successfully subscribed"
          },
          "subscriptionIndicator" : {
            "maxLength" : 1,
            "minLength" : 1,
            "type" : "string",
            "description" : "<p class=\"suffix-required\" style=\"margin-bottom:5px\">[Field used by Push Model only]</p> One character additional data, returned based on subscriptionIdentifier:<ul><li>\"S\" for success</li><li>\"F\" for failures</li><li>\"T\" for token results.</li></ul>",
            "example" : "S"
          }
        }
      }
    }
  }
}