{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ResourceHealthMetadata API Client",
    "version" : "2018-02-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/resourceHealthMetadata" : {
      "get" : {
        "tags" : [ "ResourceHealthMetadata" ],
        "summary" : "List all ResourceHealthMetadata for all sites in the subscription.",
        "description" : "List all ResourceHealthMetadata for all sites in the subscription.",
        "operationId" : "ResourceHealthMetadata_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceHealthMetadataCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/resourceHealthMetadata" : {
      "get" : {
        "tags" : [ "ResourceHealthMetadata" ],
        "summary" : "List all ResourceHealthMetadata for all sites in the resource group in the subscription.",
        "description" : "List all ResourceHealthMetadata for all sites in the resource group in the subscription.",
        "operationId" : "ResourceHealthMetadata_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceHealthMetadataCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resourceHealthMetadata" : {
      "get" : {
        "tags" : [ "ResourceHealthMetadata" ],
        "summary" : "Gets the category of ResourceHealthMetadata to use for the given site as a collection",
        "description" : "Gets the category of ResourceHealthMetadata to use for the given site as a collection",
        "operationId" : "ResourceHealthMetadata_ListBySite",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of web app.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceHealthMetadataCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resourceHealthMetadata/default" : {
      "get" : {
        "tags" : [ "ResourceHealthMetadata" ],
        "summary" : "Gets the category of ResourceHealthMetadata to use for the given site",
        "description" : "Gets the category of ResourceHealthMetadata to use for the given site",
        "operationId" : "ResourceHealthMetadata_GetBySite",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of web app",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceHealthMetadata"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/slots/{slot}/resourceHealthMetadata" : {
      "get" : {
        "tags" : [ "ResourceHealthMetadata" ],
        "summary" : "Gets the category of ResourceHealthMetadata to use for the given site as a collection",
        "description" : "Gets the category of ResourceHealthMetadata to use for the given site as a collection",
        "operationId" : "ResourceHealthMetadata_ListBySiteSlot",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of web app.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "slot",
          "in" : "path",
          "description" : "Name of web app slot. If not specified then will default to production slot.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceHealthMetadataCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/slots/{slot}/resourceHealthMetadata/default" : {
      "get" : {
        "tags" : [ "ResourceHealthMetadata" ],
        "summary" : "Gets the category of ResourceHealthMetadata to use for the given site",
        "description" : "Gets the category of ResourceHealthMetadata to use for the given site",
        "operationId" : "ResourceHealthMetadata_GetBySiteSlot",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of web app",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "slot",
          "in" : "path",
          "description" : "Name of web app slot. If not specified then will default to production slot.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceHealthMetadata"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ResourceHealthMetadata" : {
        "properties" : {
          "properties" : {
            "type" : "object",
            "properties" : {
              "category" : {
                "type" : "string",
                "description" : "The category that the resource matches in the RHC Policy File"
              },
              "signalAvailability" : {
                "type" : "boolean",
                "description" : "Is there a health signal for the resource"
              }
            },
            "description" : "ResourceHealthMetadata resource specific properties"
          }
        },
        "description" : "Used for getting ResourceHealthCheck settings.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Azure proxy only resource. This resource is not tracked by Azure Resource Manager."
        } ]
      },
      "ResourceHealthMetadataCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to next page of resources.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Collection of resources.",
            "items" : {
              "$ref" : "#/components/schemas/ResourceHealthMetadata"
            }
          }
        },
        "description" : "Collection of resource health metadata."
      }
    },
    "parameters" : {
      "apiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "API Version",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "resourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "Name of the resource group to which the resource belongs.",
        "required" : true,
        "schema" : {
          "maxLength" : 90,
          "minLength" : 1,
          "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
          "type" : "string"
        }
      },
      "subscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}