{"openapi":"3.0.1","info":{"title":"ApiManagementClient","description":"Use these REST APIs for performing operations on Email Templates associated with your Azure API Management deployment.","version":"2019-01-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/templates":{"get":{"tags":["EmailTemplate"],"description":"Lists a collection of properties defined within a service instance.","operationId":"EmailTemplate_ListByService","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"$filter","in":"query","description":"|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>","schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of records to return.","schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"$skip","in":"query","description":"Number of records to skip.","schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A Collection of the Email Template for the specified API Management service instance.","content":{"application/json":{"schema":{"type":"object","description":"Paged email template list representation."}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/templates/{templateName}":{"get":{"tags":["EmailTemplates"],"description":"Gets the details of the email template specified by its identifier.","operationId":"EmailTemplate_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"templateName","in":"path","description":"Email Template Name Identifier.","required":true,"schema":{"type":"string","enum":["applicationApprovedNotificationMessage","accountClosedDeveloper","quotaLimitApproachingDeveloperNotificationMessage","newDeveloperNotificationMessage","emailChangeIdentityDefault","inviteUserNotificationMessage","newCommentNotificationMessage","confirmSignUpIdentityDefault","newIssueNotificationMessage","purchaseDeveloperNotificationMessage","passwordResetIdentityDefault","passwordResetByAdminNotificationMessage","rejectDeveloperNotificationMessage","requestDeveloperNotificationMessage"]}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The response body contains the specified Email template.","headers":{"ETag":{"description":"Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","description":"Email Template details."}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}},"put":{"tags":["EmailTemplates"],"description":"Updates an Email Template.","operationId":"EmailTemplate_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"templateName","in":"path","description":"Email Template Name Identifier.","required":true,"schema":{"type":"string","enum":["applicationApprovedNotificationMessage","accountClosedDeveloper","quotaLimitApproachingDeveloperNotificationMessage","newDeveloperNotificationMessage","emailChangeIdentityDefault","inviteUserNotificationMessage","newCommentNotificationMessage","confirmSignUpIdentityDefault","newIssueNotificationMessage","purchaseDeveloperNotificationMessage","passwordResetIdentityDefault","passwordResetByAdminNotificationMessage","rejectDeveloperNotificationMessage","requestDeveloperNotificationMessage"]}},{"name":"If-Match","in":"header","description":"ETag of the Entity. Not required when creating an entity, but required when updating an entity.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Email Template update parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"properties":{"type":"object","properties":{"body":{"minLength":1,"type":"string","description":"Email Template Body. This should be a valid XDocument"},"description":{"type":"string","description":"Description of the Email Template."},"parameters":{"type":"array","description":"Email Template Parameter values.","items":{"type":"object","properties":{"description":{"maxLength":256,"minLength":1,"pattern":"^[A-Za-z0-9-._]+$","type":"string","description":"Template parameter description."},"name":{"maxLength":256,"minLength":1,"pattern":"^[A-Za-z0-9-._]+$","type":"string","description":"Template parameter name."},"title":{"maxLength":4096,"minLength":1,"type":"string","description":"Template parameter title."}},"description":"Email Template Parameter contract."}},"subject":{"maxLength":1000,"minLength":1,"type":"string","description":"Subject of the Template."},"title":{"type":"string","description":"Title of the Template."}},"description":"Email Template Update Contract properties."}},"description":"Email Template update Parameters."}}},"required":true},"responses":{"200":{"description":"Email Template was successfully updated.","content":{"application/json":{"schema":{"type":"object","description":"Email Template details."}}}},"201":{"description":"Email Template was successfully updated.","content":{"application/json":{"schema":{"type":"object","description":"Email Template details."}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}},"delete":{"tags":["EmailTemplates"],"description":"Reset the Email Template to default template provided by the API Management service instance.","operationId":"EmailTemplate_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"templateName","in":"path","description":"Email Template Name Identifier.","required":true,"schema":{"type":"string","enum":["applicationApprovedNotificationMessage","accountClosedDeveloper","quotaLimitApproachingDeveloperNotificationMessage","newDeveloperNotificationMessage","emailChangeIdentityDefault","inviteUserNotificationMessage","newCommentNotificationMessage","confirmSignUpIdentityDefault","newIssueNotificationMessage","purchaseDeveloperNotificationMessage","passwordResetIdentityDefault","passwordResetByAdminNotificationMessage","rejectDeveloperNotificationMessage","requestDeveloperNotificationMessage"]}},{"name":"If-Match","in":"header","description":"ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Email Template was successfully reset to default."},"204":{"description":"Email Template was successfully reset to default."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}},"head":{"tags":["EmailTemplates"],"description":"Gets the entity state (Etag) version of the email template specified by its identifier.","operationId":"EmailTemplate_GetEntityTag","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"templateName","in":"path","description":"Email Template Name Identifier.","required":true,"schema":{"type":"string","enum":["applicationApprovedNotificationMessage","accountClosedDeveloper","quotaLimitApproachingDeveloperNotificationMessage","newDeveloperNotificationMessage","emailChangeIdentityDefault","inviteUserNotificationMessage","newCommentNotificationMessage","confirmSignUpIdentityDefault","newIssueNotificationMessage","purchaseDeveloperNotificationMessage","passwordResetIdentityDefault","passwordResetByAdminNotificationMessage","rejectDeveloperNotificationMessage","requestDeveloperNotificationMessage"]}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Specified email template entity exists and current entity state version is present in the ETag header.","headers":{"ETag":{"description":"Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.","schema":{"type":"string"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}},"patch":{"tags":["EmailTemplates"],"description":"Updates the specific Email Template.","operationId":"EmailTemplate_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"templateName","in":"path","description":"Email Template Name Identifier.","required":true,"schema":{"type":"string","enum":["applicationApprovedNotificationMessage","accountClosedDeveloper","quotaLimitApproachingDeveloperNotificationMessage","newDeveloperNotificationMessage","emailChangeIdentityDefault","inviteUserNotificationMessage","newCommentNotificationMessage","confirmSignUpIdentityDefault","newIssueNotificationMessage","purchaseDeveloperNotificationMessage","passwordResetIdentityDefault","passwordResetByAdminNotificationMessage","rejectDeveloperNotificationMessage","requestDeveloperNotificationMessage"]}},{"name":"If-Match","in":"header","description":"ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Update parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"properties":{"type":"object","properties":{"body":{"minLength":1,"type":"string","description":"Email Template Body. This should be a valid XDocument"},"description":{"type":"string","description":"Description of the Email Template."},"parameters":{"type":"array","description":"Email Template Parameter values.","items":{"type":"object","properties":{"description":{"maxLength":256,"minLength":1,"pattern":"^[A-Za-z0-9-._]+$","type":"string","description":"Template parameter description."},"name":{"maxLength":256,"minLength":1,"pattern":"^[A-Za-z0-9-._]+$","type":"string","description":"Template parameter name."},"title":{"maxLength":4096,"minLength":1,"type":"string","description":"Template parameter title."}},"description":"Email Template Parameter contract."}},"subject":{"maxLength":1000,"minLength":1,"type":"string","description":"Subject of the Template."},"title":{"type":"string","description":"Title of the Template."}},"description":"Email Template Update Contract properties."}},"description":"Email Template update Parameters."}}},"required":true},"responses":{"204":{"description":"Email Template was successfully updated."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}}}},"components":{"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}