{"openapi":"3.0.1","info":{"title":"LogicAppsManagementClient","version":"2016-06-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Web/connectionGateways":{"get":{"tags":["Connection Gateways"],"summary":"Lists all of the connection gateways","description":"Gets a list of gateways under a subscription","operationId":"ConnectionGateways_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The gateway definitions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionGatewayDefinitionCollection"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/customApis":{"get":{"tags":["Custom APIs"],"summary":"List of custom APIs","description":"Gets a list of all custom APIs for a subscription id","operationId":"CustomApis_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}},{"name":"$top","in":"query","description":"The number of items to be included in the result","schema":{"type":"integer","format":"int32"}},{"name":"skiptoken","in":"query","description":"Skip Token","schema":{"type":"string"}}],"responses":{"200":{"description":"A list of custom APIs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomApiDefinitionCollection"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/connectionGatewayInstallations":{"get":{"tags":["Connection Gateways"],"summary":"Gets a list of installed gateways that the user is an admin of","description":"Gets a list of installed gateways that the user is an admin of, in a specific subscription and at a certain location","operationId":"ConnectionGatewayInstallations_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The location","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The gateway installations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionGatewayInstallationDefinitionCollection"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/connectionGatewayInstallations/{gatewayId}":{"get":{"tags":["Connection Gateways"],"summary":"Gets an installed gateway that the user is an admin of","description":"Get a specific installed gateway that the user is an admin of, in a specific subscription and at a certain location","operationId":"ConnectionGatewayInstallations_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The location","required":true,"schema":{"type":"string"}},{"name":"gatewayId","in":"path","description":"Gateway ID","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The gateway installation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionGatewayInstallationDefinition"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/extractApiDefinitionFromWsdl":{"post":{"tags":["Custom APIs"],"summary":"Returns API definition from WSDL","description":"Parses the specified WSDL and extracts the API definition","operationId":"CustomApis_ExtractApiDefinitionFromWsdl","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The location","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"WSDL definition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WsdlDefinition"}}},"required":true},"responses":{"200":{"description":"Swagger of the API extracted from the WSDL","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/listWsdlInterfaces":{"post":{"tags":["Custom APIs"],"summary":"Lists WSDL interfaces","description":"This returns the list of interfaces in the WSDL","operationId":"CustomApis_ListWsdlInterfaces","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The location","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"WSDL definition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WsdlDefinition"}}},"required":true},"responses":{"200":{"description":"A list of interfaces","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WsdlServiceCollection"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/managedApis":{"get":{"tags":["Managed APIs"],"summary":"Lists managed APIs","description":"Gets a list of managed APIs","operationId":"ManagedApis_List","parameters":[{"name":"location","in":"path","description":"The location","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of managed APIs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagedApiDefinitionCollection"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/managedApis/{apiName}":{"get":{"tags":["Managed APIs"],"summary":"Gets managed API","description":"Gets a managed API","operationId":"ManagedApis_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The location","required":true,"schema":{"type":"string"}},{"name":"apiName","in":"path","description":"API name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A managed API definition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagedApiDefinition"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connectionGateways":{"get":{"tags":["Connection Gateways"],"summary":"Lists all of the connection gateways","description":"Gets a list of gateways under a subscription and in a specific resource group","operationId":"ConnectionGateways_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The gateway definitions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionGatewayDefinitionCollection"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connectionGateways/{connectionGatewayName}":{"get":{"tags":["Connection Gateways"],"summary":"Gets a specific gateway","description":"Gets a specific gateway under a subscription and in a specific resource group","operationId":"ConnectionGateways_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"connectionGatewayName","in":"path","description":"The connection gateway name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The gateway definition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionGatewayDefinition"}}}}}},"put":{"tags":["Connection Gateways"],"summary":"Replaces a specific gateway","description":"Creates or updates a specific gateway for under a subscription and in a specific resource group","operationId":"ConnectionGateways_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"connectionGatewayName","in":"path","description":"The connection gateway name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The connection gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionGatewayDefinition"}}},"required":true},"responses":{"200":{"description":"The updated gateway definition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionGatewayDefinition"}}}},"201":{"description":"The newly created gateway definition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionGatewayDefinition"}}}}}},"delete":{"tags":["Connection Gateways"],"summary":"Deletes a specific gateway","description":"Deletes a specific gateway for under a subscription and in a specific resource group","operationId":"ConnectionGateways_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"connectionGatewayName","in":"path","description":"The connection gateway name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted the connection gateway"},"204":{"description":"No connection gateway to delete"}}},"patch":{"tags":["Connection Gateways"],"summary":"Updates a specific gateway","description":"Updates a connection gateway's tags","operationId":"ConnectionGateways_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"connectionGatewayName","in":"path","description":"The connection gateway name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The connection gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionGatewayDefinition"}}},"required":true},"responses":{"200":{"description":"The gateway definition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionGatewayDefinition"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections":{"get":{"tags":["Connections"],"summary":"Get all connections","description":"Gets a list of connections","operationId":"Connections_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"$top","in":"query","description":"The number of items to be included in the result","schema":{"type":"integer","format":"int32"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of API connection","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiConnectionDefinitionCollection"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}":{"get":{"tags":["Connections"],"summary":"Get a connection","description":"Get a specific connection","operationId":"Connections_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"Connection name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"An API connection","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiConnectionDefinition"}}}}}},"put":{"tags":["Connections"],"summary":"Replace an existing connection","description":"Creates or updates a connection","operationId":"Connections_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"Connection name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The connection","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiConnectionDefinition"}}},"required":true},"responses":{"200":{"description":"New API connection created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiConnectionDefinition"}}}},"201":{"description":"Already existing API connection updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiConnectionDefinition"}}}}}},"delete":{"tags":["Connections"],"summary":"Delete an existing connection","description":"Deletes a connection","operationId":"Connections_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"Connection name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted the connection"},"204":{"description":"No connection to delete"}}},"patch":{"tags":["Connections"],"summary":"Update an existing connection","description":"Updates a connection's tags","operationId":"Connections_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"Connection name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The connection","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiConnectionDefinition"}}},"required":true},"responses":{"200":{"description":"API connection updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiConnectionDefinition"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/confirmConsentCode":{"post":{"tags":["Connections"],"summary":"Confirms the consent code for a connection","description":"Confirms consent code of a connection","operationId":"Connections_ConfirmConsentCode","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"Connection name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The consent code confirmation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmConsentCodeDefinition"}}},"required":true},"responses":{"200":{"description":"Confirmation of the consent code","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmConsentCodeDefinition"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/listConsentLinks":{"post":{"tags":["Connections"],"summary":"Lists consent links for a connection","description":"Lists the consent links of a connection","operationId":"Connections_ListConsentLinks","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"Connection name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The consent links","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListConsentLinksDefinition"}}},"required":true},"responses":{"200":{"description":"A list of the consent links","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentLinkCollection"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/customApis":{"get":{"tags":["Custom APIs"],"summary":"List of custom APIs","description":"Gets a list of all custom APIs in a subscription for a specific resource group","operationId":"CustomApis_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}},{"name":"$top","in":"query","description":"The number of items to be included in the result","schema":{"type":"integer","format":"int32"}},{"name":"skiptoken","in":"query","description":"Skip Token","schema":{"type":"string"}}],"responses":{"200":{"description":"A list of custom APIs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomApiDefinitionCollection"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/customApis/{apiName}":{"get":{"tags":["Custom APIs"],"summary":"Get a custom API","description":"Gets a custom API by name for a specific subscription and resource group","operationId":"CustomApis_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"apiName","in":"path","description":"API name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A custom API","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomApiDefinition"}}}}}},"put":{"tags":["Custom APIs"],"summary":"Replaces an existing custom API","description":"Creates or updates an existing custom API","operationId":"CustomApis_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"apiName","in":"path","description":"API name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The custom API","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomApiDefinition"}}},"required":true},"responses":{"200":{"description":"The replacing custom API","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomApiDefinition"}}}}}},"delete":{"tags":["Custom APIs"],"summary":"Delete a custom API","description":"Deletes a custom API from the resource group","operationId":"CustomApis_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"apiName","in":"path","description":"API name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted the custom API"},"204":{"description":"No custom API to delete"}}},"patch":{"tags":["Custom APIs"],"summary":"Update an existing custom API","description":"Updates an existing custom API's tags","operationId":"CustomApis_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"apiName","in":"path","description":"API name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The custom API","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomApiDefinition"}}},"required":true},"responses":{"200":{"description":"The updated custom API","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomApiDefinition"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/customApis/{apiName}/move":{"post":{"tags":["Custom APIs"],"summary":"Moves the custom API","description":"Moves a specific custom API","operationId":"CustomApis_Move","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},{"name":"apiName","in":"path","description":"API name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The custom API reference","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomApiReference"}}},"required":true},"responses":{"200":{"description":"custom API successfully moved"}}}}},"components":{"schemas":{"ApiConnectionDefinition":{"properties":{"properties":{"type":"object","properties":{"api":{"$ref":"#/components/schemas/ApiReference"},"changedTime":{"type":"string","description":"Timestamp of last connection change","format":"date-time"},"createdTime":{"type":"string","description":"Timestamp of the connection creation","format":"date-time"},"customParameterValues":{"type":"object","additionalProperties":{"type":"string"},"description":"Dictionary of custom parameter values"},"displayName":{"type":"string","description":"Display name"},"nonSecretParameterValues":{"type":"object","additionalProperties":{"type":"string"},"description":"Dictionary of nonsecret parameter values"},"parameterValues":{"type":"object","additionalProperties":{"type":"string"},"description":"Dictionary of parameter values"},"statuses":{"type":"array","description":"Status of the connection","items":{"$ref":"#/components/schemas/ConnectionStatusDefinition"}},"testLinks":{"type":"array","description":"Links to test the API connection","items":{"$ref":"#/components/schemas/ApiConnectionTestLink"}}}}},"description":"API connection","allOf":[{"$ref":"#/components/schemas/ResourceDefinition"}]},"ApiConnectionDefinitionCollection":{"type":"object","properties":{"value":{"type":"array","description":"Collection of API connections","items":{"$ref":"#/components/schemas/ApiConnectionDefinition"}}},"description":"A list of API connection definitions"},"ApiConnectionTestLink":{"type":"object","properties":{"method":{"type":"string","description":"HTTP Method"},"requestUri":{"type":"string","description":"Test link request URI"}},"description":"API connection properties"},"ApiOAuthSettings":{"type":"object","properties":{"clientId":{"type":"string","description":"Resource provider client id"},"clientSecret":{"type":"string","description":"Client Secret needed for OAuth"},"customParameters":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ApiOAuthSettingsParameter"},"description":"OAuth parameters key is the name of parameter"},"identityProvider":{"type":"string","description":"Identity provider"},"properties":{"type":"object","description":"Read only properties for this oauth setting."},"redirectUrl":{"type":"string","description":"Url"},"scopes":{"type":"array","description":"OAuth scopes","items":{"type":"string"}}},"description":"OAuth settings for the connection provider"},"ApiOAuthSettingsParameter":{"type":"object","properties":{"options":{"type":"object","description":"Options available to this parameter"},"uiDefinition":{"type":"object","description":"UI definitions per culture as caller can specify the culture"},"value":{"type":"string","description":"Value of the setting"}},"description":"OAuth settings for the API"},"ApiReference":{"properties":{"brandColor":{"type":"string","description":"Brand color"},"description":{"type":"string","description":"The custom API description"},"displayName":{"type":"string","description":"The display name"},"iconUri":{"type":"string","description":"The icon URI"},"name":{"type":"string","description":"The name of the API"},"swagger":{"type":"object","description":"The JSON representation of the swagger"}},"allOf":[{"$ref":"#/components/schemas/ResourceReference"}]},"ApiResourceBackendService":{"type":"object","properties":{"serviceUrl":{"type":"string","description":"The service URL"}},"description":"The API backend service"},"ApiResourceDefinitions":{"type":"object","properties":{"modifiedSwaggerUrl":{"type":"string","description":"The modified swagger URL"},"originalSwaggerUrl":{"type":"string","description":"The original swagger URL"}},"description":"API Definitions"},"ApiResourceGeneralInformation":{"type":"object","properties":{"description":{"type":"string","description":"The API description"},"displayName":{"type":"string","description":"Display name"},"iconUrl":{"type":"string","description":"The icon URL"},"releaseTag":{"type":"string","description":"Release tag"},"termsOfUseUrl":{"type":"string","description":"URL to the Terms of Use"}},"description":"General information about the API"},"ApiResourceMetadata":{"type":"object","properties":{"apiType":{"$ref":"#/components/schemas/ApiType"},"brandColor":{"type":"string","description":"Brand color"},"connectionType":{"type":"string","description":"The connection type"},"hideKey":{"type":"string","description":"Hide key"},"source":{"type":"string","description":"The source"},"tags":{"$ref":"#/components/schemas/TagsDictionary"},"wsdlImportMethod":{"$ref":"#/components/schemas/WsdlImportMethod"},"wsdlService":{"$ref":"#/components/schemas/WsdlService"}}},"ApiResourcePolicies":{"type":"object","properties":{"content":{"type":"string","description":"API level policies as XML"},"contentLink":{"type":"string","description":"Link to the JSON of the policies"}},"description":"Describes the API policies either as embedded content or as a link to uploaded content"},"ApiResourceProperties":{"type":"object","properties":{"apiDefinitionUrl":{"type":"string","description":"URL where the swagger can be downloaded from"},"apiDefinitions":{"$ref":"#/components/schemas/ApiResourceDefinitions"},"backendService":{"$ref":"#/components/schemas/ApiResourceBackendService"},"capabilities":{"type":"array","description":"The managed API capabilities","items":{"type":"string"}},"connectionParameters":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ConnectionParameter"},"description":"Connection parameters"},"generalInformation":{"$ref":"#/components/schemas/ApiResourceGeneralInformation"},"metadata":{"$ref":"#/components/schemas/ApiResourceMetadata"},"name":{"type":"string"},"policies":{"$ref":"#/components/schemas/ApiResourcePolicies"},"runtimeUrls":{"type":"array","description":"Runtime URLs","items":{"type":"string"}},"swagger":{"type":"object","description":"The JSON representation of the swagger"}},"description":"API resource properties"},"ApiType":{"type":"string","description":"The API type","enum":["NotSpecified","Rest","Soap"]},"ConfirmConsentCodeDefinition":{"type":"object","properties":{"code":{"type":"string","description":"Code that was returned during consent flow"},"objectId":{"type":"string","description":"AAD object ID. This is userId"},"tenantId":{"type":"string","description":"Tenant Id"}},"description":"Confirm consent code request"},"ConnectionError":{"properties":{"properties":{"type":"object","properties":{"code":{"type":"string","description":"Code of the status"},"message":{"type":"string","description":"Description of the status"}}}},"description":"Connection error","allOf":[{"$ref":"#/components/schemas/ResourceDefinition"}]},"ConnectionGatewayDefinition":{"properties":{"properties":{"type":"object","properties":{"backendUri":{"type":"string","description":"The URI of the backend"},"connectionGatewayInstallation":{"$ref":"#/components/schemas/ConnectionGatewayReference"},"contactInformation":{"type":"array","description":"The gateway admin","items":{"type":"string"}},"description":{"type":"string","description":"The gateway description"},"displayName":{"type":"string","description":"The gateway display name"},"machineName":{"type":"string","description":"The machine name of the gateway"},"status":{"type":"object","description":"The gateway status"}}}},"description":"The gateway definition","allOf":[{"$ref":"#/components/schemas/ResourceDefinition"}]},"ConnectionGatewayDefinitionCollection":{"type":"object","properties":{"value":{"type":"array","description":"Collection of connection gateways","items":{"$ref":"#/components/schemas/ConnectionGatewayDefinition"}}},"description":"A list of connection gateway definitions"},"ConnectionGatewayInstallationDefinition":{"properties":{"properties":{"type":"object","properties":{"backendUri":{"type":"string","description":"The URI of the backend"},"connectionGateway":{"$ref":"#/components/schemas/ConnectionGatewayReference"},"contactInformation":{"type":"array","description":"The gateway admin","items":{"type":"string"}},"description":{"type":"string","description":"The gateway description"},"displayName":{"type":"string","description":"The gateway display name"},"machineName":{"type":"string","description":"The machine name of the gateway"},"status":{"type":"object","description":"The gateway status"}}}},"description":"The gateway installation","allOf":[{"$ref":"#/components/schemas/ResourceDefinition"}]},"ConnectionGatewayInstallationDefinitionCollection":{"type":"object","properties":{"value":{"type":"array","description":"Collection of connection gateway installations","items":{"$ref":"#/components/schemas/ConnectionGatewayInstallationDefinition"}}},"description":"A list of connection gateway installation definitions"},"ConnectionGatewayReference":{"properties":{"location":{"type":"string","description":"Resource reference location"},"name":{"type":"string","description":"Resource reference name"}},"description":"The gateway installation reference","allOf":[{"$ref":"#/components/schemas/ResourceReference"}]},"ConnectionParameter":{"type":"object","properties":{"oAuthSettings":{"$ref":"#/components/schemas/ApiOAuthSettings"},"type":{"type":"string","description":"Type of the parameter","enum":["string","securestring","secureobject","int","bool","object","array","oauthSetting","connection"]}},"description":"Connection provider parameters"},"ConnectionStatusDefinition":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ConnectionError"},"status":{"type":"string","description":"The gateway status"},"target":{"type":"string","description":"Target of the error"}},"description":"Connection status"},"ConsentLinkCollection":{"type":"object","properties":{"value":{"type":"array","description":"Collection of resources","items":{"$ref":"#/components/schemas/ConsentLinkDefinition"}}},"description":"Collection of consent links"},"ConsentLinkDefinition":{"type":"object","properties":{"displayName":{"type":"string","description":"Display name of the parameter in the connection provider's OAuth settings"},"firstPartyLoginUri":{"type":"string","description":"URI for first party login"},"link":{"type":"string","description":"URI for the consent link"},"status":{"type":"string","description":"Status of the link","enum":["Unauthenticated","Authenticated","Error"]}},"description":"A consent link"},"ConsentLinkParameterDefinition":{"type":"object","properties":{"objectId":{"type":"string","description":"AAD OID (user or group) if the principal type is ActiveDirectory. MSA PUID if the principal type is MicrosoftAccount"},"parameterName":{"type":"string","description":"Name of the parameter in the connection provider's OAuth settings"},"redirectUrl":{"type":"string","description":"Name of the parameter in the connection provider's OAuth settings"},"tenantId":{"type":"string","description":"The tenant id"}},"description":"Consent link definition"},"CustomApiDefinition":{"properties":{"properties":{"$ref":"#/components/schemas/CustomApiPropertiesDefinition"}},"description":"A custom API","allOf":[{"$ref":"#/components/schemas/ResourceDefinition"}]},"CustomApiDefinitionCollection":{"type":"object","properties":{"value":{"type":"array","description":"Collection of custom APIs","items":{"$ref":"#/components/schemas/CustomApiDefinition"}}},"description":"A list of custom API definitions"},"CustomApiPropertiesDefinition":{"type":"object","properties":{"apiDefinitions":{"$ref":"#/components/schemas/ApiResourceDefinitions"},"apiType":{"$ref":"#/components/schemas/ApiType"},"backendService":{"$ref":"#/components/schemas/ApiResourceBackendService"},"brandColor":{"type":"string","description":"Brand color"},"capabilities":{"type":"array","description":"The custom API capabilities","items":{"type":"string"}},"connectionParameters":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ConnectionParameter"},"description":"Connection parameters"},"description":{"type":"string","description":"The custom API description"},"displayName":{"type":"string","description":"The display name"},"iconUri":{"type":"string","description":"The icon URI"},"runtimeUrls":{"type":"array","description":"Runtime URLs","items":{"type":"string"}},"swagger":{"type":"object","description":"The JSON representation of the swagger"},"wsdlDefinition":{"$ref":"#/components/schemas/WsdlDefinition"}},"description":"Custom API properties"},"CustomApiReference":{"properties":{"name":{"type":"string"}},"description":"The custom API reference","allOf":[{"$ref":"#/components/schemas/ApiReference"}]},"ListConnectionKeysDefinition":{"properties":{"properties":{"type":"object","properties":{"validityTimeSpan":{"type":"string","description":"Time span for how long the keys will be valid"}}}},"description":"List connection keys","allOf":[{"$ref":"#/components/schemas/ResourceDefinition"}]},"ListConsentLinksDefinition":{"type":"object","properties":{"parameters":{"type":"array","description":"Collection of resources","items":{"$ref":"#/components/schemas/ConsentLinkParameterDefinition"}}},"description":"Request for a list of consent links"},"ManagedApiDefinition":{"properties":{"properties":{"$ref":"#/components/schemas/ApiResourceProperties"}},"description":"A managed API definition","allOf":[{"$ref":"#/components/schemas/ResourceDefinition"}]},"ManagedApiDefinitionCollection":{"type":"object","properties":{"value":{"type":"array","description":"Collection of managed APIs","items":{"$ref":"#/components/schemas/ManagedApiDefinition"}}},"description":"A list of managed API definitions"},"ResourceDefinition":{"type":"object","properties":{"etag":{"type":"string","description":"Resource ETag"},"id":{"type":"string","description":"Resource id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"tags":{"$ref":"#/components/schemas/TagsDictionary"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"A resource"},"ResourceReference":{"type":"object","properties":{"id":{"type":"string","description":"Resource reference id"},"type":{"type":"string","description":"Resource reference type"}}},"TagsDictionary":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags","example":{"SampleTagName":"SampleTagValue"}},"WsdlDefinition":{"type":"object","properties":{"content":{"type":"string","description":"The WSDL content"},"importMethod":{"$ref":"#/components/schemas/WsdlImportMethod"},"service":{"$ref":"#/components/schemas/WsdlService"},"url":{"type":"string","description":"The WSDL URL"}},"description":"The WSDL definition"},"WsdlImportMethod":{"type":"string","description":"The WSDL import method","enum":["NotSpecified","SoapToRest","SoapPassThrough"]},"WsdlService":{"required":["qualifiedName"],"type":"object","properties":{"endpointQualifiedNames":{"type":"array","description":"List of the endpoints' qualified names","items":{"type":"string"}},"qualifiedName":{"type":"string","description":"The service's qualified name"}},"description":"The service with name and endpoint names"},"WsdlServiceCollection":{"type":"object","properties":{"value":{"type":"array","description":"Collection of WSDL interfaces","items":{"$ref":"#/components/schemas/WsdlService"}}},"description":"A list of custom API WSDL interfaces"}},"parameters":{"apiNameParameter":{"name":"apiName","in":"path","description":"API name","required":true,"schema":{"type":"string"}},"apiVersionParameter":{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}},"connectionGatewayNameParameter":{"name":"connectionGatewayName","in":"path","description":"The connection gateway name","required":true,"schema":{"type":"string"}},"connectionNameParameter":{"name":"connectionName","in":"path","description":"Connection name","required":true,"schema":{"type":"string"}},"filterParameter":{"name":"$filter","in":"query","description":"The filter to apply on the operation","schema":{"type":"string"}},"gatewayIdParameter":{"name":"gatewayId","in":"path","description":"Gateway ID","required":true,"schema":{"type":"string"}},"locationParameter":{"name":"location","in":"path","description":"The location","required":true,"schema":{"type":"string"}},"pageSizeParameter":{"name":"$top","in":"query","description":"The number of items to be included in the result","schema":{"type":"integer","format":"int32"}},"resourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The resource group","required":true,"schema":{"type":"string"}},"skipTokenParameter":{"name":"skiptoken","in":"query","description":"Skip Token","schema":{"type":"string"}},"subscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}}},"requestBodies":{"apiConnectionParameter":{"description":"The connection","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiConnectionDefinition"}}},"required":true},"confirmConsentCodeParameter":{"description":"The consent code confirmation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmConsentCodeDefinition"}}},"required":true},"connectionGatewayBodyParameter":{"description":"The connection gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionGatewayDefinition"}}},"required":true},"customApiParameter":{"description":"The custom API","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomApiDefinition"}}},"required":true},"customApiReferenceParameter":{"description":"The custom API reference","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomApiReference"}}},"required":true},"listConnectionKeysParameter":{"description":"The connection keys to list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListConnectionKeysDefinition"}}},"required":true},"listConsentLinkParameter":{"description":"The consent links","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListConsentLinksDefinition"}}},"required":true},"wsdlDefinitionParameter":{"description":"WSDL definition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WsdlDefinition"}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}