{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2019-07-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/usages" : {
      "get" : {
        "tags" : [ "Usages" ],
        "description" : "List network usages for a subscription.",
        "operationId" : "Usages_List",
        "parameters" : [ {
          "name" : "location",
          "in" : "path",
          "description" : "The location where resource usage is queried.",
          "required" : true,
          "schema" : {
            "pattern" : "^[-\\w\\._ ]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of Usage resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsagesListResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Usage" : {
        "required" : [ "currentValue", "limit", "name", "unit" ],
        "type" : "object",
        "properties" : {
          "currentValue" : {
            "type" : "integer",
            "description" : "The current value of the usage.",
            "format" : "int64"
          },
          "id" : {
            "type" : "string",
            "description" : "Resource identifier.",
            "readOnly" : true
          },
          "limit" : {
            "type" : "integer",
            "description" : "The limit of usage.",
            "format" : "int64"
          },
          "name" : {
            "$ref" : "#/components/schemas/UsageName"
          },
          "unit" : {
            "type" : "string",
            "description" : "An enum describing the unit of measurement.",
            "enum" : [ "Count" ]
          }
        },
        "description" : "Describes network resource usage."
      },
      "UsageName" : {
        "type" : "object",
        "properties" : {
          "localizedValue" : {
            "type" : "string",
            "description" : "A localized string describing the resource name."
          },
          "value" : {
            "type" : "string",
            "description" : "A string describing the resource name."
          }
        },
        "description" : "The usage names."
      },
      "UsagesListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "The list network resource usages.",
            "items" : {
              "$ref" : "#/components/schemas/Usage"
            }
          }
        },
        "description" : "The list usages operation response."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}