{"openapi":"3.0.1","info":{"title":"Azure SQL Database","description":"Provides create, read, update and delete functionality for Azure SQL Database resources including recommendations and operations.","version":"2014-04-01"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools":{"get":{"tags":["RecommendedElasticPools"],"description":"Returns recommended elastic pools.","operationId":"RecommendedElasticPools_ListByServer","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecommendedElasticPoolListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}":{"get":{"tags":["RecommendedElasticPools"],"description":"Gets a recommended elastic pool.","operationId":"RecommendedElasticPools_Get","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"recommendedElasticPoolName","in":"path","description":"The name of the recommended elastic pool to be retrieved.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecommendedElasticPool"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/metrics":{"get":{"tags":["RecommendedElasticPools"],"description":"Returns recommended elastic pool metrics.","operationId":"RecommendedElasticPools_ListMetrics","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"recommendedElasticPoolName","in":"path","description":"The name of the recommended elastic pool to be retrieved.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecommendedElasticPoolListMetricsResult"}}}}}}}},"components":{"schemas":{"RecommendedElasticPool":{"properties":{"properties":{"$ref":"#/components/schemas/RecommendedElasticPoolProperties"}},"description":"Represents a recommended elastic pool.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."}]}]},"RecommendedElasticPoolListMetricsResult":{"required":["value"],"type":"object","properties":{"value":{"type":"array","description":"The list of recommended elastic pools metrics.","items":{"$ref":"#/components/schemas/RecommendedElasticPoolMetric"}}},"description":"Represents the response to a list recommended elastic pool metrics request."},"RecommendedElasticPoolListResult":{"required":["value"],"type":"object","properties":{"value":{"type":"array","description":"The list of recommended elastic pools hosted in the server.","items":{"$ref":"#/components/schemas/RecommendedElasticPool"}}},"description":"Represents the response to a list recommended elastic pool request."},"RecommendedElasticPoolMetric":{"type":"object","properties":{"dateTime":{"type":"string","description":"The time of metric (ISO8601 format).","format":"date-time"},"dtu":{"type":"number","description":"Gets or sets the DTUs (Database Transaction Units). See https://azure.microsoft.com/documentation/articles/sql-database-what-is-a-dtu/","format":"double"},"sizeGB":{"type":"number","description":"Gets or sets size in gigabytes.","format":"double"}},"description":"Represents recommended elastic pool metric."},"RecommendedElasticPoolProperties":{"type":"object","properties":{"databaseDtuMax":{"type":"number","description":"The maximum DTU for the database.","format":"double"},"databaseDtuMin":{"type":"number","description":"The minimum DTU for the database.","format":"double"},"databaseEdition":{"type":"string","description":"The edition of the recommended elastic pool. The ElasticPoolEdition enumeration contains all the valid editions.","readOnly":true,"enum":["Basic","Standard","Premium","GeneralPurpose","BusinessCritical"]},"databases":{"type":"array","description":"The list of databases in this pool. Expanded property","readOnly":true,"items":{"type":"object","properties":{"kind":{"type":"string","description":"Kind of database.  This is metadata used for the Azure portal experience.","readOnly":true},"properties":{"type":"object","properties":{"collation":{"type":"string","description":"The collation of the database. If createMode is not Default, this value is ignored."},"containmentState":{"type":"integer","description":"The containment state of the database.","format":"int64","readOnly":true},"createMode":{"type":"string","description":"Specifies the mode of database creation.\n\nDefault: regular database creation.\n\nCopy: creates a database as a copy of an existing database. sourceDatabaseId must be specified as the resource ID of the source database.\n\nOnlineSecondary/NonReadableSecondary: creates a database as a (readable or nonreadable) secondary replica of an existing database. sourceDatabaseId must be specified as the resource ID of the existing primary database.\n\nPointInTimeRestore: Creates a database by restoring a point in time backup of an existing database. sourceDatabaseId must be specified as the resource ID of the existing database, and restorePointInTime must be specified.\n\nRecovery: Creates a database by restoring a geo-replicated backup. sourceDatabaseId must be specified as the recoverable database resource ID to restore.\n\nRestore: Creates a database by restoring a backup of a deleted database. sourceDatabaseId must be specified. If sourceDatabaseId is the database's original resource ID, then sourceDatabaseDeletionDate must be specified. Otherwise sourceDatabaseId must be the restorable dropped database resource ID and sourceDatabaseDeletionDate is ignored. restorePointInTime may also be specified to restore from an earlier point in time.\n\nRestoreLongTermRetentionBackup: Creates a database by restoring from a long term retention vault. recoveryServicesRecoveryPointResourceId must be specified as the recovery point resource ID.\n\nCopy, NonReadableSecondary, OnlineSecondary and RestoreLongTermRetentionBackup are not supported for DataWarehouse edition.","enum":["Copy","Default","NonReadableSecondary","OnlineSecondary","PointInTimeRestore","Recovery","Restore","RestoreLongTermRetentionBackup"]},"creationDate":{"type":"string","description":"The creation date of the database (ISO8601 format).","format":"date-time","readOnly":true},"currentServiceObjectiveId":{"type":"string","description":"The current service level objective ID of the database. This is the ID of the service level objective that is currently active.","format":"uuid","readOnly":true},"databaseId":{"type":"string","description":"The ID of the database.","format":"uuid","readOnly":true},"defaultSecondaryLocation":{"type":"string","description":"The default secondary region for this database.","readOnly":true},"earliestRestoreDate":{"type":"string","description":"This records the earliest start date and time that restore is available for this database (ISO8601 format).","format":"date-time","readOnly":true},"edition":{"type":"string","description":"The edition of the database. The DatabaseEditions enumeration contains all the valid editions. If createMode is NonReadableSecondary or OnlineSecondary, this value is ignored.\r\n\r\nThe list of SKUs may vary by region and support offer. To determine the SKUs (including the SKU name, tier/edition, family, and capacity) that are available to your subscription in an Azure region, use the `Capabilities_ListByLocation` REST API or one of the following commands:\r\n\r\n```azurecli\r\naz sql db list-editions -l <location> -o table\r\n````\r\n\r\n```powershell\r\nGet-AzSqlServerServiceObjective -Location <location>\r\n````\r\n","enum":["Web","Business","Basic","Standard","Premium","PremiumRS","Free","Stretch","DataWarehouse","System","System2","GeneralPurpose","BusinessCritical","Hyperscale"]},"elasticPoolName":{"type":"string","description":"The name of the elastic pool the database is in. If elasticPoolName and requestedServiceObjectiveName are both updated, the value of requestedServiceObjectiveName is ignored. Not supported for DataWarehouse edition."},"failoverGroupId":{"type":"string","description":"The resource identifier of the failover group containing this database.","readOnly":true},"maxSizeBytes":{"type":"string","description":"The max size of the database expressed in bytes. If createMode is not Default, this value is ignored. To see possible values, query the capabilities API (/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationID}/capabilities) referred to by operationId: \"Capabilities_ListByLocation.\""},"readScale":{"type":"string","description":"Conditional. If the database is a geo-secondary, readScale indicates whether read-only connections are allowed to this database or not. Not supported for DataWarehouse edition.","enum":["Enabled","Disabled"]},"recommendedIndex":{"type":"array","description":"The recommended indices for this database.","readOnly":true,"items":{"type":"object","properties":{"properties":{"type":"object","properties":{"action":{"type":"string","description":"The proposed index action. You can create a missing index, drop an unused index, or rebuild an existing index to improve its performance.","readOnly":true,"enum":["Create","Drop","Rebuild"]},"columns":{"type":"array","description":"Columns over which to build index","readOnly":true,"items":{"type":"string"}},"created":{"type":"string","description":"The UTC datetime showing when this resource was created (ISO8601 format).","format":"date-time","readOnly":true},"estimatedImpact":{"type":"array","description":"The estimated impact of doing recommended index action.","readOnly":true,"items":{"type":"object","properties":{"changeValueAbsolute":{"type":"number","description":"The absolute impact to dimension.","format":"double","readOnly":true},"changeValueRelative":{"type":"number","description":"The relative impact to dimension (null if not applicable)","format":"double","readOnly":true},"name":{"type":"string","description":"The name of the impact dimension.","readOnly":true},"unit":{"type":"string","description":"The unit in which estimated impact to dimension is measured.","readOnly":true}},"description":"The impact of an operation, both in absolute and relative terms."}},"includedColumns":{"type":"array","description":"The list of column names to be included in the index","readOnly":true,"items":{"type":"string"}},"indexScript":{"type":"string","description":"The full build index script","readOnly":true},"indexType":{"type":"string","description":"The type of index (CLUSTERED, NONCLUSTERED, COLUMNSTORE, CLUSTERED COLUMNSTORE)","readOnly":true,"enum":["CLUSTERED","NONCLUSTERED","COLUMNSTORE","CLUSTERED COLUMNSTORE"]},"lastModified":{"type":"string","description":"The UTC datetime of when was this resource last changed (ISO8601 format).","format":"date-time","readOnly":true},"reportedImpact":{"type":"array","description":"The values reported after index action is complete.","readOnly":true,"items":{"type":"object","properties":{"changeValueAbsolute":{"type":"number","description":"The absolute impact to dimension.","format":"double","readOnly":true},"changeValueRelative":{"type":"number","description":"The relative impact to dimension (null if not applicable)","format":"double","readOnly":true},"name":{"type":"string","description":"The name of the impact dimension.","readOnly":true},"unit":{"type":"string","description":"The unit in which estimated impact to dimension is measured.","readOnly":true}},"description":"The impact of an operation, both in absolute and relative terms."}},"schema":{"type":"string","description":"The schema where table to build index over resides","readOnly":true},"state":{"type":"string","description":"The current recommendation state.","readOnly":true,"enum":["Active","Pending","Executing","Verifying","Pending Revert","Reverting","Reverted","Ignored","Expired","Blocked","Success"]},"table":{"type":"string","description":"The table on which to build index.","readOnly":true}},"description":"Represents the properties of a database recommended index."}},"description":"Represents a database recommended index."}},"recoveryServicesRecoveryPointResourceId":{"type":"string","description":"Conditional. If createMode is RestoreLongTermRetentionBackup, then this value is required. Specifies the resource ID of the recovery point to restore from."},"requestedServiceObjectiveId":{"type":"string","description":"The configured service level objective ID of the database. This is the service level objective that is in the process of being applied to the database. Once successfully updated, it will match the value of currentServiceObjectiveId property. If requestedServiceObjectiveId and requestedServiceObjectiveName are both updated, the value of requestedServiceObjectiveId overrides the value of requestedServiceObjectiveName.\r\n\r\nThe list of SKUs may vary by region and support offer. To determine the service objective ids that are available to your subscription in an Azure region, use the `Capabilities_ListByLocation` REST API.","format":"uuid"},"requestedServiceObjectiveName":{"type":"string","description":"The name of the configured service level objective of the database. This is the service level objective that is in the process of being applied to the database. Once successfully updated, it will match the value of serviceLevelObjective property. \r\n\r\nThe list of SKUs may vary by region and support offer. To determine the SKUs (including the SKU name, tier/edition, family, and capacity) that are available to your subscription in an Azure region, use the `Capabilities_ListByLocation` REST API or one of the following commands:\r\n\r\n```azurecli\r\naz sql db list-editions -l <location> -o table\r\n````\r\n\r\n```powershell\r\nGet-AzSqlServerServiceObjective -Location <location>\r\n````\r\n","enum":["System","System0","System1","System2","System3","System4","System2L","System3L","System4L","Free","Basic","S0","S1","S2","S3","S4","S6","S7","S9","S12","P1","P2","P3","P4","P6","P11","P15","PRS1","PRS2","PRS4","PRS6","DW100","DW200","DW300","DW400","DW500","DW600","DW1000","DW1200","DW1000c","DW1500","DW1500c","DW2000","DW2000c","DW3000","DW2500c","DW3000c","DW6000","DW5000c","DW6000c","DW7500c","DW10000c","DW15000c","DW30000c","DS100","DS200","DS300","DS400","DS500","DS600","DS1000","DS1200","DS1500","DS2000","ElasticPool"]},"restorePointInTime":{"type":"string","description":"Conditional. If createMode is PointInTimeRestore, this value is required. If createMode is Restore, this value is optional. Specifies the point in time (ISO8601 format) of the source database that will be restored to create the new database. Must be greater than or equal to the source database's earliestRestoreDate value.","format":"date-time"},"sampleName":{"type":"string","description":"Indicates the name of the sample schema to apply when creating this database. If createMode is not Default, this value is ignored. Not supported for DataWarehouse edition.","enum":["AdventureWorksLT"]},"serviceLevelObjective":{"type":"string","description":"The current service level objective of the database.","readOnly":true,"enum":["System","System0","System1","System2","System3","System4","System2L","System3L","System4L","Free","Basic","S0","S1","S2","S3","S4","S6","S7","S9","S12","P1","P2","P3","P4","P6","P11","P15","PRS1","PRS2","PRS4","PRS6","DW100","DW200","DW300","DW400","DW500","DW600","DW1000","DW1200","DW1000c","DW1500","DW1500c","DW2000","DW2000c","DW3000","DW2500c","DW3000c","DW6000","DW5000c","DW6000c","DW7500c","DW10000c","DW15000c","DW30000c","DS100","DS200","DS300","DS400","DS500","DS600","DS1000","DS1200","DS1500","DS2000","ElasticPool"]},"serviceTierAdvisors":{"type":"array","description":"The list of service tier advisors for this database. Expanded property","readOnly":true,"items":{"type":"object","properties":{"properties":{"type":"object","properties":{"activeTimeRatio":{"type":"number","description":"The activeTimeRatio for service tier advisor.","format":"double","readOnly":true},"avgDtu":{"type":"number","description":"Gets or sets avgDtu for service tier advisor.","format":"double","readOnly":true},"confidence":{"type":"number","description":"Gets or sets confidence for service tier advisor.","format":"double","nullable":false,"readOnly":true},"currentServiceLevelObjective":{"type":"string","description":"Gets or sets currentServiceLevelObjective for service tier advisor.","readOnly":true},"currentServiceLevelObjectiveId":{"type":"string","description":"Gets or sets currentServiceLevelObjectiveId for service tier advisor.","format":"uuid","readOnly":true},"databaseSizeBasedRecommendationServiceLevelObjective":{"type":"string","description":"Gets or sets databaseSizeBasedRecommendationServiceLevelObjective for service tier advisor.","readOnly":true},"databaseSizeBasedRecommendationServiceLevelObjectiveId":{"type":"string","description":"Gets or sets databaseSizeBasedRecommendationServiceLevelObjectiveId for service tier advisor.","format":"uuid","readOnly":true},"disasterPlanBasedRecommendationServiceLevelObjective":{"type":"string","description":"Gets or sets disasterPlanBasedRecommendationServiceLevelObjective for service tier advisor.","readOnly":true},"disasterPlanBasedRecommendationServiceLevelObjectiveId":{"type":"string","description":"Gets or sets disasterPlanBasedRecommendationServiceLevelObjectiveId for service tier advisor.","format":"uuid","readOnly":true},"maxDtu":{"type":"number","description":"Gets or sets maxDtu for service tier advisor.","format":"double","readOnly":true},"maxSizeInGB":{"type":"number","description":"Gets or sets maxSizeInGB for service tier advisor.","format":"double","readOnly":true},"minDtu":{"type":"number","description":"Gets or sets minDtu for service tier advisor.","format":"double","readOnly":true},"observationPeriodEnd":{"type":"string","description":"The observation period start (ISO8601 format).","format":"date-time","readOnly":true},"observationPeriodStart":{"type":"string","description":"The observation period start (ISO8601 format).","format":"date-time","readOnly":true},"overallRecommendationServiceLevelObjective":{"type":"string","description":"Gets or sets overallRecommendationServiceLevelObjective for service tier advisor.","readOnly":true},"overallRecommendationServiceLevelObjectiveId":{"type":"string","description":"Gets or sets overallRecommendationServiceLevelObjectiveId for service tier advisor.","format":"uuid","readOnly":true},"serviceLevelObjectiveUsageMetrics":{"type":"array","description":"Gets or sets serviceLevelObjectiveUsageMetrics for the service tier advisor.","readOnly":true,"items":{"type":"object","properties":{"inRangeTimeRatio":{"type":"number","description":"Gets or sets inRangeTimeRatio for SLO usage metric.","format":"double","nullable":false,"readOnly":true},"serviceLevelObjective":{"type":"string","description":"The serviceLevelObjective for SLO usage metric.","readOnly":true,"enum":["System","System0","System1","System2","System3","System4","System2L","System3L","System4L","Free","Basic","S0","S1","S2","S3","S4","S6","S7","S9","S12","P1","P2","P3","P4","P6","P11","P15","PRS1","PRS2","PRS4","PRS6","DW100","DW200","DW300","DW400","DW500","DW600","DW1000","DW1200","DW1000c","DW1500","DW1500c","DW2000","DW2000c","DW3000","DW2500c","DW3000c","DW6000","DW5000c","DW6000c","DW7500c","DW10000c","DW15000c","DW30000c","DS100","DS200","DS300","DS400","DS500","DS600","DS1000","DS1200","DS1500","DS2000","ElasticPool"]},"serviceLevelObjectiveId":{"type":"string","description":"The serviceLevelObjectiveId for SLO usage metric.","format":"uuid","nullable":false,"readOnly":true}},"description":"A Slo Usage Metric."}},"usageBasedRecommendationServiceLevelObjective":{"type":"string","description":"Gets or sets usageBasedRecommendationServiceLevelObjective for service tier advisor.","readOnly":true},"usageBasedRecommendationServiceLevelObjectiveId":{"type":"string","description":"Gets or sets usageBasedRecommendationServiceLevelObjectiveId for service tier advisor.","format":"uuid","readOnly":true}},"description":"Represents the properties of a Service Tier Advisor."}},"description":"Represents a Service Tier Advisor."}},"sourceDatabaseDeletionDate":{"type":"string","description":"Conditional. If createMode is Restore and sourceDatabaseId is the deleted database's original resource id when it existed (as opposed to its current restorable dropped database id), then this value is required. Specifies the time that the database was deleted.","format":"date-time"},"sourceDatabaseId":{"type":"string","description":"Conditional. If createMode is Copy, NonReadableSecondary, OnlineSecondary, PointInTimeRestore, Recovery, or Restore, then this value is required. Specifies the resource ID of the source database. If createMode is NonReadableSecondary or OnlineSecondary, the name of the source database must be the same as the new database being created."},"status":{"type":"string","description":"The status of the database.","readOnly":true},"transparentDataEncryption":{"type":"array","description":"The transparent data encryption info for this database.","readOnly":true,"items":{"type":"object","properties":{"location":{"type":"string","description":"Resource location.","readOnly":true},"properties":{"type":"object","properties":{"status":{"type":"string","description":"The status of the database transparent data encryption.","enum":["Enabled","Disabled"]}},"description":"Represents the properties of a database transparent data encryption."}},"description":"Represents a database transparent data encryption configuration."}},"zoneRedundant":{"type":"boolean","description":"Whether or not this database is zone redundant, which means the replicas of this database will be spread across multiple availability zones."}},"description":"Represents the properties of a database."}},"description":"Represents a database."}},"dtu":{"type":"number","description":"The DTU for the recommended elastic pool.","format":"double"},"maxObservedDtu":{"type":"number","description":"Gets maximum observed DTU.","format":"double","readOnly":true},"maxObservedStorageMB":{"type":"number","description":"Gets maximum observed storage in megabytes.","format":"double","readOnly":true},"metrics":{"type":"array","description":"The list of databases housed in the server. Expanded property","readOnly":true,"items":{"$ref":"#/components/schemas/RecommendedElasticPoolMetric"}},"observationPeriodEnd":{"type":"string","description":"The observation period start (ISO8601 format).","format":"date-time","readOnly":true},"observationPeriodStart":{"type":"string","description":"The observation period start (ISO8601 format).","format":"date-time","readOnly":true},"storageMB":{"type":"number","description":"Gets storage size in megabytes.","format":"double"}},"description":"Represents the properties of a recommended elastic pool."}},"parameters":{"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}