{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "DomainRegistrationProvider API Client",
    "version" : "2018-02-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.DomainRegistration/operations" : {
      "get" : {
        "tags" : [ "DomainRegistrationProvider" ],
        "summary" : "Implements Csm operations Api to exposes the list of available Csm Apis under the resource provider",
        "description" : "Implements Csm operations Api to exposes the list of available Csm Apis under the resource provider",
        "operationId" : "DomainRegistrationProvider_ListOperations",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "value" ],
                  "type" : "object",
                  "properties" : {
                    "nextLink" : {
                      "type" : "string",
                      "description" : "Link to next page of resources.",
                      "readOnly" : true
                    },
                    "value" : {
                      "type" : "array",
                      "description" : "Collection of resources.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "display" : {
                            "type" : "object",
                            "properties" : {
                              "description" : {
                                "type" : "string"
                              },
                              "operation" : {
                                "type" : "string"
                              },
                              "provider" : {
                                "type" : "string"
                              },
                              "resource" : {
                                "type" : "string"
                              }
                            },
                            "description" : "Meta data about operation used for display in portal."
                          },
                          "name" : {
                            "type" : "string"
                          },
                          "origin" : {
                            "type" : "string"
                          },
                          "properties" : {
                            "type" : "object",
                            "properties" : {
                              "serviceSpecification" : {
                                "type" : "object",
                                "properties" : {
                                  "logSpecifications" : {
                                    "type" : "array",
                                    "items" : {
                                      "type" : "object",
                                      "properties" : {
                                        "blobDuration" : {
                                          "type" : "string"
                                        },
                                        "displayName" : {
                                          "type" : "string"
                                        },
                                        "name" : {
                                          "type" : "string"
                                        }
                                      },
                                      "description" : "Log Definition of a single resource metric."
                                    }
                                  },
                                  "metricSpecifications" : {
                                    "type" : "array",
                                    "items" : {
                                      "type" : "object",
                                      "properties" : {
                                        "aggregationType" : {
                                          "type" : "string"
                                        },
                                        "availabilities" : {
                                          "type" : "array",
                                          "items" : {
                                            "type" : "object",
                                            "properties" : {
                                              "blobDuration" : {
                                                "type" : "string"
                                              },
                                              "timeGrain" : {
                                                "type" : "string"
                                              }
                                            },
                                            "description" : "Retention policy of a resource metric."
                                          }
                                        },
                                        "category" : {
                                          "type" : "string"
                                        },
                                        "dimensions" : {
                                          "type" : "array",
                                          "items" : {
                                            "type" : "object",
                                            "properties" : {
                                              "displayName" : {
                                                "type" : "string"
                                              },
                                              "internalName" : {
                                                "type" : "string"
                                              },
                                              "name" : {
                                                "type" : "string"
                                              },
                                              "toBeExportedForShoebox" : {
                                                "type" : "boolean"
                                              }
                                            },
                                            "description" : "Dimension of a resource metric. For e.g. instance specific HTTP requests for a web app, \nwhere instance name is dimension of the metric HTTP request"
                                          }
                                        },
                                        "displayDescription" : {
                                          "type" : "string"
                                        },
                                        "displayName" : {
                                          "type" : "string"
                                        },
                                        "enableRegionalMdmAccount" : {
                                          "type" : "boolean"
                                        },
                                        "fillGapWithZero" : {
                                          "type" : "boolean"
                                        },
                                        "isInternal" : {
                                          "type" : "boolean"
                                        },
                                        "metricFilterPattern" : {
                                          "type" : "string"
                                        },
                                        "name" : {
                                          "type" : "string"
                                        },
                                        "sourceMdmAccount" : {
                                          "type" : "string"
                                        },
                                        "sourceMdmNamespace" : {
                                          "type" : "string"
                                        },
                                        "supportsInstanceLevelAggregation" : {
                                          "type" : "boolean"
                                        },
                                        "unit" : {
                                          "type" : "string"
                                        }
                                      },
                                      "description" : "Definition of a single resource metric."
                                    }
                                  }
                                },
                                "description" : "Resource metrics service provided by Microsoft.Insights resource provider."
                              }
                            },
                            "description" : "Properties available for a Microsoft.Web resource provider operation."
                          }
                        },
                        "description" : "Description of an operation available for Microsoft.Web resource provider."
                      }
                    }
                  },
                  "description" : "Collection of Azure resource manager operation metadata."
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "parameters" : {
      "apiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "API Version",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "subscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}