{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Active Documentation for /v1",
    "description" : "Our active docs provide the ability to test out your account and to see the responses to your queries. The services are RESTful, and are accessed using standard HTTP methods over a secure HTTPS channel. Requests and responses are currently sent in JSON format, and have a base URL of /v1.",
    "termsOfService" : "https://app.idtbeyond.com/terms/",
    "version" : "1.1.7"
  },
  "servers" : [ {
    "url" : "https://api.idtbeyond.com/v1"
  } ],
  "paths" : {
    "/iatu/balance" : {
      "get" : {
        "tags" : [ "account" ],
        "summary" : "Account balance",
        "description" : "Returns a JSON of the account balance.",
        "parameters" : [ {
          "name" : "x-idt-beyond-app-id",
          "in" : "header",
          "description" : "Application ID you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_ID"
          }
        }, {
          "name" : "x-idt-beyond-app-key",
          "in" : "header",
          "description" : "Application KEY you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_KEY"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful balance JSON response"
          }
        }
      }
    },
    "/iatu/charges/reports/all" : {
      "get" : {
        "tags" : [ "charges" ],
        "summary" : "List of account charges in JSON",
        "description" : "Returns charges by date range.",
        "parameters" : [ {
          "name" : "x-idt-beyond-app-id",
          "in" : "header",
          "description" : "Application ID you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_ID"
          }
        }, {
          "name" : "x-idt-beyond-app-key",
          "in" : "header",
          "description" : "Application KEY you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_KEY"
          }
        }, {
          "name" : "date_from",
          "in" : "query",
          "description" : "The beginning date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-28"
          }
        }, {
          "name" : "date_to",
          "in" : "query",
          "description" : "The ending date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-28"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful charges JSON response"
          }
        }
      }
    },
    "/iatu/charges/reports/all.csv" : {
      "get" : {
        "tags" : [ "charges" ],
        "summary" : "List of account charges in CSV",
        "description" : "Returns charges by date range in CSV.",
        "parameters" : [ {
          "name" : "x-idt-beyond-app-id",
          "in" : "header",
          "description" : "Application ID you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_ID"
          }
        }, {
          "name" : "x-idt-beyond-app-key",
          "in" : "header",
          "description" : "Application KEY you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_KEY"
          }
        }, {
          "name" : "date_from",
          "in" : "query",
          "description" : "The beginning date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-28"
          }
        }, {
          "name" : "date_to",
          "in" : "query",
          "description" : "The ending date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-28"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful charges CSV response"
          }
        }
      }
    },
    "/iatu/number-validator" : {
      "get" : {
        "tags" : [ "utilities" ],
        "summary" : "Mobile number validation",
        "description" : "Checks to verify if the phone number is valid for the country supplied.",
        "parameters" : [ {
          "name" : "x-idt-beyond-app-id",
          "in" : "header",
          "description" : "Application ID you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_ID"
          }
        }, {
          "name" : "x-idt-beyond-app-key",
          "in" : "header",
          "description" : "Application KEY you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_KEY"
          }
        }, {
          "name" : "country_code",
          "in" : "query",
          "description" : "2-digit code of the country in ISO 3166 format. 'BR'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "BR"
          }
        }, {
          "name" : "mobile_number",
          "in" : "query",
          "description" : "The mobile number you would like to validate. '5521983115555'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "5521983115555"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Local value response"
          }
        }
      }
    },
    "/iatu/products/promotions" : {
      "get" : {
        "tags" : [ "utilities" ],
        "summary" : "Current promotions",
        "description" : "Returns a JSON of the current promotions.",
        "parameters" : [ {
          "name" : "x-idt-beyond-app-id",
          "in" : "header",
          "description" : "Application ID you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_ID"
          }
        }, {
          "name" : "x-idt-beyond-app-key",
          "in" : "header",
          "description" : "Application KEY you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_KEY"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Promotions JSON response"
          }
        }
      }
    },
    "/iatu/products/reports/all" : {
      "get" : {
        "tags" : [ "products" ],
        "summary" : "Get a list of products in JSON format",
        "description" : "Returns a JSON list of products, ranges, and their commissions percentages.",
        "parameters" : [ {
          "name" : "x-idt-beyond-app-id",
          "in" : "header",
          "description" : "Application ID you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_ID"
          }
        }, {
          "name" : "x-idt-beyond-app-key",
          "in" : "header",
          "description" : "Application KEY you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_KEY"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Products JSON response"
          }
        }
      }
    },
    "/iatu/products/reports/all.csv" : {
      "get" : {
        "tags" : [ "products" ],
        "summary" : "Get a list of products in CSV format",
        "description" : "Returns a CSV of products, ranges, and their commissions percentages.",
        "parameters" : [ {
          "name" : "x-idt-beyond-app-id",
          "in" : "header",
          "description" : "Application ID you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_ID"
          }
        }, {
          "name" : "x-idt-beyond-app-key",
          "in" : "header",
          "description" : "Application KEY you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_KEY"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Products CSV response"
          }
        }
      }
    },
    "/iatu/products/reports/local-value" : {
      "get" : {
        "tags" : [ "products" ],
        "summary" : "Get the estimated Local Value of a product",
        "description" : "Returns a CSV of products, ranges, and their commissions percentages.",
        "parameters" : [ {
          "name" : "x-idt-beyond-app-id",
          "in" : "header",
          "description" : "Application ID you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_ID"
          }
        }, {
          "name" : "x-idt-beyond-app-key",
          "in" : "header",
          "description" : "Application KEY you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_KEY"
          }
        }, {
          "name" : "country_code",
          "in" : "query",
          "description" : "2-digit code of the country in ISO 3166 format. 'GT'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "GT"
          }
        }, {
          "name" : "carrier_code",
          "in" : "query",
          "description" : "Name of the mobile carrier. 'Claro'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Claro"
          }
        }, {
          "name" : "amount",
          "in" : "query",
          "description" : "This is the amount, in cents, of the product you are purchasing. '500' = $5.00",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "default" : 500
          }
        }, {
          "name" : "currency_code",
          "in" : "query",
          "description" : "The currency code (ISO 4217) on the product you are querying. 'USD'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "USD"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Local value response"
          }
        }
      }
    },
    "/iatu/topups" : {
      "post" : {
        "tags" : [ "topups" ],
        "summary" : "Topup a mobile phone",
        "description" : "Submits an IATU transaction request.",
        "parameters" : [ {
          "name" : "x-idt-beyond-app-id",
          "in" : "header",
          "description" : "Application ID you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_ID"
          }
        }, {
          "name" : "x-idt-beyond-app-key",
          "in" : "header",
          "description" : "Application KEY you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_KEY"
          }
        } ],
        "requestBody" : {
          "description" : "Topups details",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Topups"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "The transaction has been completed successfully."
          },
          "202" : {
            "description" : "The transaction has been received, but the final status is unknown. Please query by the client_transaction_id to get the current status of the transaction."
          },
          "400" : {
            "description" : "Invalid ID supplied"
          },
          "404" : {
            "description" : "X not found"
          },
          "405" : {
            "description" : "Validation exception"
          },
          "500" : {
            "description" : "There is an error in your transaction. Please check the error code contained in the result for more information."
          }
        }
      }
    },
    "/iatu/topups/reports" : {
      "post" : {
        "tags" : [ "topups" ],
        "summary" : "Search topups transactions",
        "description" : "Search topups transactions, by date, with client_transaction_id or to_service_number. Use 'client_transaction_id' to search by transaction number, or 'to_service_number' to get transaction status.",
        "parameters" : [ {
          "name" : "x-idt-beyond-app-id",
          "in" : "header",
          "description" : "Application ID you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_ID"
          }
        }, {
          "name" : "x-idt-beyond-app-key",
          "in" : "header",
          "description" : "Application KEY you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_KEY"
          }
        } ],
        "requestBody" : {
          "description" : "Topups reports request details",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TopupsReports"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful topups JSON response"
          }
        }
      }
    },
    "/iatu/topups/reports/all" : {
      "get" : {
        "tags" : [ "topups" ],
        "summary" : "List of account topups in JSON",
        "description" : "Returns topups by date range.",
        "parameters" : [ {
          "name" : "x-idt-beyond-app-id",
          "in" : "header",
          "description" : "Application ID you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_ID"
          }
        }, {
          "name" : "x-idt-beyond-app-key",
          "in" : "header",
          "description" : "Application KEY you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_KEY"
          }
        }, {
          "name" : "date_from",
          "in" : "query",
          "description" : "The beginning date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-28"
          }
        }, {
          "name" : "date_to",
          "in" : "query",
          "description" : "The ending date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-28"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful topups JSON response"
          }
        }
      }
    },
    "/iatu/topups/reports/all.csv" : {
      "get" : {
        "tags" : [ "topups" ],
        "summary" : "List of account topups in CSV",
        "description" : "Returns topups by date range in CSV.",
        "parameters" : [ {
          "name" : "x-idt-beyond-app-id",
          "in" : "header",
          "description" : "Application ID you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_ID"
          }
        }, {
          "name" : "x-idt-beyond-app-key",
          "in" : "header",
          "description" : "Application KEY you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_KEY"
          }
        }, {
          "name" : "date_from",
          "in" : "query",
          "description" : "The beginning date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-28"
          }
        }, {
          "name" : "date_to",
          "in" : "query",
          "description" : "The ending date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-28"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful topups CSV response"
          }
        }
      }
    },
    "/iatu/topups/reports/totals" : {
      "get" : {
        "tags" : [ "topups" ],
        "summary" : "Summary of account topups in JSON",
        "description" : "Returns topups totals by date range.",
        "parameters" : [ {
          "name" : "x-idt-beyond-app-id",
          "in" : "header",
          "description" : "Application ID you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_ID"
          }
        }, {
          "name" : "x-idt-beyond-app-key",
          "in" : "header",
          "description" : "Application KEY you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_KEY"
          }
        }, {
          "name" : "date_from",
          "in" : "query",
          "description" : "The beginning date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-28"
          }
        }, {
          "name" : "date_to",
          "in" : "query",
          "description" : "The ending date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-28"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful topups JSON response"
          }
        }
      }
    },
    "/iatu/topups/reverse" : {
      "post" : {
        "tags" : [ "topups" ],
        "summary" : "Reversal of a Topup",
        "description" : "Occasionally, a carrier will not be able to successfully complete a topup request. In this case, we will attempt to automatically reverse the transaction for you, and return the money into your account. In the case when this is not possible, you may need to request a reverse on the transaction that has a status of 'transaction_status' 'notredeemed'.",
        "parameters" : [ {
          "name" : "x-idt-beyond-app-id",
          "in" : "header",
          "description" : "Application ID you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_ID"
          }
        }, {
          "name" : "x-idt-beyond-app-key",
          "in" : "header",
          "description" : "Application KEY you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_KEY"
          }
        } ],
        "requestBody" : {
          "description" : "Topups details",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TopupsReversal"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful charges JSON response"
          }
        }
      }
    },
    "/status" : {
      "get" : {
        "tags" : [ "utilities" ],
        "summary" : "Status check",
        "description" : "Returns a JSON of the API status.",
        "parameters" : [ {
          "name" : "x-idt-beyond-app-id",
          "in" : "header",
          "description" : "Application ID you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_ID"
          }
        }, {
          "name" : "x-idt-beyond-app-key",
          "in" : "header",
          "description" : "Application KEY you would like to use",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "APP_KEY"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful status JSON response"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Topups" : {
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "integer",
            "description" : "The amount, in cents, of the product you are purchasing. '500' = $5.00"
          },
          "carrier_code" : {
            "type" : "string",
            "description" : "Name of the mobile carrier. 'Claro'",
            "default" : "Claro"
          },
          "client_transaction_id" : {
            "type" : "string",
            "description" : "UNIQUE 15 char ID you use to track topups. 'trans0123456789'",
            "default" : ""
          },
          "country_code" : {
            "type" : "string",
            "description" : "2-digit code of the country in ISO 3166 format. 'GT'",
            "default" : "GT"
          },
          "mobile_number" : {
            "type" : "string",
            "description" : "Mobile number to topup. VALIDATE prior to submission. '50231234567'",
            "default" : "50231234567"
          },
          "plan" : {
            "type" : "string",
            "description" : "The Application plan being used. Case-sensitive. 'Sandbox' or 'Production'",
            "default" : "Sandbox"
          },
          "product_code" : {
            "type" : "string",
            "description" : "Optional code to distinguish one particular product from another. '76560'",
            "default" : ""
          },
          "terminal_id" : {
            "type" : "string",
            "description" : "ID for the Terminal used to perform the topup. 'Kiosk 5'",
            "default" : "Kiosk 5"
          }
        }
      },
      "TopupsReports" : {
        "type" : "object",
        "properties" : {
          "client_transaction_id" : {
            "type" : "string",
            "description" : "The UNIQUE 15 char ID used to track topups. 'trans0123456789'",
            "default" : "trans0123456789"
          },
          "date_from" : {
            "type" : "string",
            "description" : "The beginning date of the search IN YYYY-MM-DD format (America/New_York timezone). Not used in query by to_service_number. '2016-01-28'",
            "default" : "2016-01-28"
          },
          "date_to" : {
            "type" : "string",
            "description" : "The ending date of the search IN YYYY-MM-DD format (America/New_York timezone). Not used in query by to_service_number. '2016-01-28'",
            "default" : "2016-01-28"
          },
          "to_service_number" : {
            "type" : "string",
            "description" : "Enter the to_service_number returned in the response to track the current transaction status. '0123456789'",
            "default" : "123456789"
          },
          "type_of_report" : {
            "type" : "string",
            "description" : "The type of query you would like to search by.",
            "default" : "client_transaction_id or to_service_number"
          }
        }
      },
      "TopupsReversal" : {
        "type" : "object",
        "properties" : {
          "client_transaction_id" : {
            "type" : "string",
            "description" : "UNIQUE 15 char ID you use to track topups. 'trans0123456789'",
            "default" : "trans0123456789"
          },
          "to_service_number" : {
            "type" : "string",
            "description" : "UNIQUE IDT transaction number found in the response of a successful topup request. '0123456789'",
            "default" : "123456789"
          }
        }
      }
    }
  }
}