{"openapi":"3.0.1","info":{"title":"FabricAdminClient","description":"Logical network operation endpoints and objects.","version":"2016-05-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/logicalNetworks":{"get":{"tags":["LogicalNetworks"],"description":"Returns a list of all logical networks at a location.","operationId":"LogicalNetworks_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}},{"name":"$filter","in":"query","description":"OData filter parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogicalNetworkList"}}}},"404":{"description":"NOT FOUND"}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/logicalNetworks/{logicalNetwork}":{"get":{"tags":["LogicalNetworks"],"description":"Returns the requested logical network.","operationId":"LogicalNetworks_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"logicalNetwork","in":"path","description":"Name of the logical network.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogicalNetwork"}}}},"404":{"description":"NOT FOUND"}}}}},"components":{"schemas":{"LogicalNetwork":{"properties":{"properties":{"$ref":"#/components/schemas/LogicalNetworkModel"}},"description":"This resource represents a logical partition of physical network that is dedicated for a particular purpose.  A logical network comprises a collection of logical subnets.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"URI of the resource.","readOnly":true},"location":{"type":"string","description":"The region where the resource is located."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"List of key-value pairs."},"type":{"type":"string","description":"Type of resource.","readOnly":true}},"description":"Base resource object."}]},"LogicalNetworkList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page."},"value":{"type":"array","description":"List of logical networks.","items":{"$ref":"#/components/schemas/LogicalNetwork"}}},"description":"A pageable list of logical networks."},"LogicalNetworkModel":{"type":"object","properties":{"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"Metadata related to the logical network."},"networkVirtualizationEnabled":{"type":"boolean","description":"Flag to indicate that the network virtualization is enabled on the logical network."},"subnets":{"type":"array","description":"List of subnets belonging to the logical network.","items":{"type":"string"}}},"description":"Properties of a logical network."}},"parameters":{"LogicalNetworkParameter":{"name":"logicalNetwork","in":"path","description":"Name of the logical network.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}