{"openapi":"3.0.1","info":{"title":"DataLakeStoreAccountManagementClient","description":"Creates an Azure Data Lake Store account management client.","version":"2016-11-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.DataLakeStore/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available Data Lake Store REST API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully listed the available operations for Data Lake Store.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/accounts":{"get":{"tags":["Accounts"],"description":"Lists the Data Lake Store accounts within the subscription. The response includes a link to the next page of results, if any.","operationId":"Accounts_List","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"OData filter. Optional.","schema":{"type":"string"}},{"name":"$top","in":"query","description":"The number of items to return. Optional.","schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"$skip","in":"query","description":"The number of items to skip over before returning elements. Optional.","schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"$select","in":"query","description":"OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.","schema":{"type":"string"}},{"name":"$orderby","in":"query","description":"OrderBy clause. One or more comma-separated expressions with an optional \"asc\" (the default) or \"desc\" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.","schema":{"type":"string"}},{"name":"$count","in":"query","description":"The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.","schema":{"type":"boolean"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the list of accounts.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataLakeStoreAccountListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/capability":{"get":{"tags":["Locations"],"description":"Gets subscription-level properties and limits for Data Lake Store specified by resource location.","operationId":"Locations_GetCapability","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The resource location without whitespace.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the subscription-level properties and limits for Data Lake Store specified by resource location.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CapabilityInformation"}}}},"404":{"description":"Subscription not found."}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/checkNameAvailability":{"post":{"tags":["Accounts"],"description":"Checks whether the specified account name is available or taken.","operationId":"Accounts_CheckNameAvailability","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The resource location without whitespace.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to check the Data Lake Store account name availability.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameAvailabilityParameters"}}},"required":true},"responses":{"200":{"description":"Successfully retrieved the Data Lake Store account name availability information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameAvailabilityInformation"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/usages":{"get":{"tags":["LocationUsage"],"description":"Gets the current usage count and the limit for the resources of the location under the subscription.","operationId":"Locations_GetUsage","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The resource location without whitespace.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- current usage count and limit retrieved and returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts":{"get":{"tags":["Accounts"],"description":"Lists the Data Lake Store accounts within a specific resource group. The response includes a link to the next page of results, if any.","operationId":"Accounts_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"OData filter. Optional.","schema":{"type":"string"}},{"name":"$top","in":"query","description":"The number of items to return. Optional.","schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"$skip","in":"query","description":"The number of items to skip over before returning elements. Optional.","schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"$select","in":"query","description":"OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.","schema":{"type":"string"}},{"name":"$orderby","in":"query","description":"OrderBy clause. One or more comma-separated expressions with an optional \"asc\" (the default) or \"desc\" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.","schema":{"type":"string"}},{"name":"$count","in":"query","description":"A Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.","schema":{"type":"boolean"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the list of accounts in the specified resource group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataLakeStoreAccountListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}":{"get":{"tags":["Accounts"],"description":"Gets the specified Data Lake Store account.","operationId":"Accounts_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved details of the specified account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataLakeStoreAccount"}}}}}},"put":{"tags":["Accounts"],"description":"Creates the specified Data Lake Store account.","operationId":"Accounts_Create","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to create the Data Lake Store account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDataLakeStoreAccountParameters"}}},"required":true},"responses":{"200":{"description":"Successfully created the account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataLakeStoreAccount"}}}},"201":{"description":"Successfully initiated creation of the account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataLakeStoreAccount"}}}}}},"delete":{"tags":["Accounts"],"description":"Deletes the specified Data Lake Store account.","operationId":"Accounts_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted the specified account."},"202":{"description":"Successfully initiated the deletion of the specified account."},"204":{"description":"The specified account was not found."}}},"patch":{"tags":["Accounts"],"description":"Updates the specified Data Lake Store account information.","operationId":"Accounts_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to update the Data Lake Store account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDataLakeStoreAccountParameters"}}},"required":true},"responses":{"200":{"description":"Successfully updated the account details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataLakeStoreAccount"}}}},"201":{"description":"Successfully initiated the update of the account details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataLakeStoreAccount"}}}},"202":{"description":"Successfully initiated the update of the account details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataLakeStoreAccount"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/enableKeyVault":{"post":{"tags":["Accounts"],"description":"Attempts to enable a user managed Key Vault for encryption of the specified Data Lake Store account.","operationId":"Accounts_EnableKeyVault","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully enabled the user-managed Key Vault settings used for encrypting this Data Lake Store account."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/firewallRules":{"get":{"tags":["FirewallRules"],"description":"Lists the Data Lake Store firewall rules within the specified Data Lake Store account.","operationId":"FirewallRules_ListByAccount","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the list of firewall rules.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirewallRuleListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/firewallRules/{firewallRuleName}":{"get":{"tags":["FirewallRules"],"description":"Gets the specified Data Lake Store firewall rule.","operationId":"FirewallRules_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"firewallRuleName","in":"path","description":"The name of the firewall rule to retrieve.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the firewall rule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirewallRule"}}}}}},"put":{"tags":["FirewallRules"],"description":"Creates or updates the specified firewall rule. During update, the firewall rule with the specified name will be replaced with this new firewall rule.","operationId":"FirewallRules_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"firewallRuleName","in":"path","description":"The name of the firewall rule to create or update.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to create or update the firewall rule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateFirewallRuleParameters"}}},"required":true},"responses":{"200":{"description":"Successfully created or updated the specified firewall rule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirewallRule"}}}}}},"delete":{"tags":["FirewallRules"],"description":"Deletes the specified firewall rule from the specified Data Lake Store account.","operationId":"FirewallRules_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"firewallRuleName","in":"path","description":"The name of the firewall rule to delete.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted the specified firewall rule."},"204":{"description":"The specified firewall rule does not exist or was already deleted."}}},"patch":{"tags":["FirewallRules"],"description":"Updates the specified firewall rule.","operationId":"FirewallRules_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"firewallRuleName","in":"path","description":"The name of the firewall rule to update.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to update the firewall rule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFirewallRuleParameters"}}},"required":false},"responses":{"200":{"description":"Successfully updated the specified firewall rule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirewallRule"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/trustedIdProviders":{"get":{"tags":["TrustedIdProviders"],"description":"Lists the Data Lake Store trusted identity providers within the specified Data Lake Store account.","operationId":"TrustedIdProviders_ListByAccount","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the list of trusted identity providers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrustedIdProviderListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/trustedIdProviders/{trustedIdProviderName}":{"get":{"tags":["TrustedIdProviders"],"description":"Gets the specified Data Lake Store trusted identity provider.","operationId":"TrustedIdProviders_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"trustedIdProviderName","in":"path","description":"The name of the trusted identity provider to retrieve.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved details of the specified trusted identity provider.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrustedIdProvider"}}}}}},"put":{"tags":["TrustedIdProviders"],"description":"Creates or updates the specified trusted identity provider. During update, the trusted identity provider with the specified name will be replaced with this new provider","operationId":"TrustedIdProviders_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"trustedIdProviderName","in":"path","description":"The name of the trusted identity provider. This is used for differentiation of providers in the account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to create or replace the trusted identity provider.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateTrustedIdProviderParameters"}}},"required":true},"responses":{"200":{"description":"Successfully added the trusted identity provider.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrustedIdProvider"}}}}}},"delete":{"tags":["TrustedIdProviders"],"description":"Deletes the specified trusted identity provider from the specified Data Lake Store account","operationId":"TrustedIdProviders_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"trustedIdProviderName","in":"path","description":"The name of the trusted identity provider to delete.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted the specified trusted identity provider details."},"204":{"description":"The specified trusted identity provider was not found."}}},"patch":{"tags":["TrustedIdProviders"],"description":"Updates the specified trusted identity provider.","operationId":"TrustedIdProviders_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"trustedIdProviderName","in":"path","description":"The name of the trusted identity provider. This is used for differentiation of providers in the account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to update the trusted identity provider.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTrustedIdProviderParameters"}}},"required":false},"responses":{"200":{"description":"Successfully added the trusted identity provider.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrustedIdProvider"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/virtualNetworkRules":{"get":{"tags":["VirtualNetworkRules"],"description":"Lists the Data Lake Store virtual network rules within the specified Data Lake Store account.","operationId":"VirtualNetworkRules_ListByAccount","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the list of virtual network rules.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualNetworkRuleListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/virtualNetworkRules/{virtualNetworkRuleName}":{"get":{"tags":["VirtualNetworkRules"],"description":"Gets the specified Data Lake Store virtual network rule.","operationId":"VirtualNetworkRules_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"virtualNetworkRuleName","in":"path","description":"The name of the virtual network rule to retrieve.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the virtual network rule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualNetworkRule"}}}}}},"put":{"tags":["VirtualNetworkRules"],"description":"Creates or updates the specified virtual network rule. During update, the virtual network rule with the specified name will be replaced with this new virtual network rule.","operationId":"VirtualNetworkRules_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"virtualNetworkRuleName","in":"path","description":"The name of the virtual network rule to create or update.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to create or update the virtual network rule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateVirtualNetworkRuleParameters"}}},"required":true},"responses":{"200":{"description":"Successfully created or updated the specified virtual network rule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualNetworkRule"}}}}}},"delete":{"tags":["VirtualNetworkRules"],"description":"Deletes the specified virtual network rule from the specified Data Lake Store account.","operationId":"VirtualNetworkRules_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"virtualNetworkRuleName","in":"path","description":"The name of the virtual network rule to delete.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted the specified virtual network rule."},"204":{"description":"The specified virtual network rule does not exist or was already deleted."}}},"patch":{"tags":["VirtualNetworkRules"],"description":"Updates the specified virtual network rule.","operationId":"VirtualNetworkRules_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},{"name":"virtualNetworkRuleName","in":"path","description":"The name of the virtual network rule to update.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to update the virtual network rule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateVirtualNetworkRuleParameters"}}},"required":false},"responses":{"200":{"description":"Successfully updated the specified virtual network rule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualNetworkRule"}}}}}}}},"components":{"schemas":{"CapabilityInformation":{"type":"object","properties":{"accountCount":{"type":"integer","description":"The current number of accounts under this subscription.","format":"int32","readOnly":true},"maxAccountCount":{"type":"integer","description":"The maximum supported number of accounts under this subscription.","format":"int32","readOnly":true},"migrationState":{"type":"boolean","description":"The Boolean value of true or false to indicate the maintenance state.","readOnly":true},"state":{"type":"string","description":"The subscription state.","readOnly":true,"enum":["Registered","Suspended","Deleted","Unregistered","Warned"]},"subscriptionId":{"type":"string","description":"The subscription credentials that uniquely identifies the subscription.","format":"uuid","readOnly":true}},"description":"Subscription-level properties and limits for Data Lake Store."},"CheckNameAvailabilityParameters":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"The Data Lake Store name to check availability for."},"type":{"type":"string","description":"The resource type. Note: This should not be set by the user, as the constant value is Microsoft.DataLakeStore/accounts","enum":["Microsoft.DataLakeStore/accounts"]}},"description":"Data Lake Store account name availability check parameters."},"CreateDataLakeStoreAccountParameters":{"required":["location"],"type":"object","properties":{"identity":{"$ref":"#/components/schemas/EncryptionIdentity"},"location":{"type":"string","description":"The resource location."},"properties":{"$ref":"#/components/schemas/CreateDataLakeStoreAccountProperties"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The resource tags."}}},"CreateDataLakeStoreAccountProperties":{"type":"object","properties":{"defaultGroup":{"type":"string","description":"The default owner group for all new folders and files created in the Data Lake Store account."},"encryptionConfig":{"$ref":"#/components/schemas/EncryptionConfig"},"encryptionState":{"type":"string","description":"The current state of encryption for this Data Lake Store account.","enum":["Enabled","Disabled"]},"firewallAllowAzureIps":{"type":"string","description":"The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced.","enum":["Enabled","Disabled"]},"firewallRules":{"type":"array","description":"The list of firewall rules associated with this Data Lake Store account.","items":{"$ref":"#/components/schemas/CreateFirewallRuleWithAccountParameters"}},"firewallState":{"type":"string","description":"The current state of the IP address firewall for this Data Lake Store account.","enum":["Enabled","Disabled"]},"newTier":{"type":"string","description":"The commitment tier to use for next month.","enum":["Consumption","Commitment_1TB","Commitment_10TB","Commitment_100TB","Commitment_500TB","Commitment_1PB","Commitment_5PB"]},"trustedIdProviderState":{"type":"string","description":"The current state of the trusted identity provider feature for this Data Lake Store account.","enum":["Enabled","Disabled"]},"trustedIdProviders":{"type":"array","description":"The list of trusted identity providers associated with this Data Lake Store account.","items":{"$ref":"#/components/schemas/CreateTrustedIdProviderWithAccountParameters"}},"virtualNetworkRules":{"type":"array","description":"The list of virtual network rules associated with this Data Lake Store account.","items":{"$ref":"#/components/schemas/CreateVirtualNetworkRuleWithAccountParameters"}}}},"CreateFirewallRuleWithAccountParameters":{"required":["name","properties"],"type":"object","properties":{"name":{"type":"string","description":"The unique name of the firewall rule to create."},"properties":{"$ref":"#/components/schemas/CreateOrUpdateFirewallRuleProperties"}},"description":"The parameters used to create a new firewall rule while creating a new Data Lake Store account."},"CreateOrUpdateFirewallRuleParameters":{"required":["properties"],"type":"object","properties":{"properties":{"$ref":"#/components/schemas/CreateOrUpdateFirewallRuleProperties"}},"description":"The parameters used to create a new firewall rule."},"CreateOrUpdateFirewallRuleProperties":{"required":["endIpAddress","startIpAddress"],"type":"object","properties":{"endIpAddress":{"type":"string","description":"The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol."},"startIpAddress":{"type":"string","description":"The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol."}},"description":"The firewall rule properties to use when creating a new firewall rule."},"CreateOrUpdateTrustedIdProviderParameters":{"required":["properties"],"type":"object","properties":{"properties":{"$ref":"#/components/schemas/CreateOrUpdateTrustedIdProviderProperties"}},"description":"The parameters used to create a new trusted identity provider."},"CreateOrUpdateTrustedIdProviderProperties":{"required":["idProvider"],"type":"object","properties":{"idProvider":{"type":"string","description":"The URL of this trusted identity provider."}},"description":"The trusted identity provider properties to use when creating a new trusted identity provider."},"CreateOrUpdateVirtualNetworkRuleParameters":{"required":["properties"],"type":"object","properties":{"properties":{"$ref":"#/components/schemas/CreateOrUpdateVirtualNetworkRuleProperties"}},"description":"The parameters used to create a new virtual network rule."},"CreateOrUpdateVirtualNetworkRuleProperties":{"required":["subnetId"],"type":"object","properties":{"subnetId":{"type":"string","description":"The resource identifier for the subnet."}},"description":"The virtual network rule properties to use when creating a new virtual network rule."},"CreateTrustedIdProviderWithAccountParameters":{"required":["name","properties"],"type":"object","properties":{"name":{"type":"string","description":"The unique name of the trusted identity provider to create."},"properties":{"$ref":"#/components/schemas/CreateOrUpdateTrustedIdProviderProperties"}},"description":"The parameters used to create a new trusted identity provider while creating a new Data Lake Store account."},"CreateVirtualNetworkRuleWithAccountParameters":{"required":["name","properties"],"type":"object","properties":{"name":{"type":"string","description":"The unique name of the virtual network rule to create."},"properties":{"$ref":"#/components/schemas/CreateOrUpdateVirtualNetworkRuleProperties"}},"description":"The parameters used to create a new virtual network rule while creating a new Data Lake Store account."},"DataLakeStoreAccount":{"properties":{"identity":{"$ref":"#/components/schemas/EncryptionIdentity"},"properties":{"$ref":"#/components/schemas/DataLakeStoreAccountProperties"}},"description":"Data Lake Store account information.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"DataLakeStoreAccountBasic":{"properties":{"properties":{"$ref":"#/components/schemas/DataLakeStoreAccountPropertiesBasic"}},"description":"Basic Data Lake Store account information, returned on list calls.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"DataLakeStoreAccountListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link (url) to the next page of results.","readOnly":true},"value":{"type":"array","description":"The results of the list operation.","readOnly":true,"items":{"$ref":"#/components/schemas/DataLakeStoreAccountBasic"}}},"description":"Data Lake Store account list information response."},"DataLakeStoreAccountProperties":{"properties":{"currentTier":{"type":"string","description":"The commitment tier in use for the current month.","readOnly":true,"enum":["Consumption","Commitment_1TB","Commitment_10TB","Commitment_100TB","Commitment_500TB","Commitment_1PB","Commitment_5PB"]},"defaultGroup":{"type":"string","description":"The default owner group for all new folders and files created in the Data Lake Store account.","readOnly":true},"encryptionConfig":{"$ref":"#/components/schemas/EncryptionConfig"},"encryptionProvisioningState":{"type":"string","description":"The current state of encryption provisioning for this Data Lake Store account.","readOnly":true,"enum":["Creating","Succeeded"]},"encryptionState":{"type":"string","description":"The current state of encryption for this Data Lake Store account.","readOnly":true,"enum":["Enabled","Disabled"]},"firewallAllowAzureIps":{"type":"string","description":"The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced.","readOnly":true,"enum":["Enabled","Disabled"]},"firewallRules":{"type":"array","description":"The list of firewall rules associated with this Data Lake Store account.","readOnly":true,"items":{"$ref":"#/components/schemas/FirewallRule"}},"firewallState":{"type":"string","description":"The current state of the IP address firewall for this Data Lake Store account.","readOnly":true,"enum":["Enabled","Disabled"]},"newTier":{"type":"string","description":"The commitment tier to use for next month.","readOnly":true,"enum":["Consumption","Commitment_1TB","Commitment_10TB","Commitment_100TB","Commitment_500TB","Commitment_1PB","Commitment_5PB"]},"trustedIdProviderState":{"type":"string","description":"The current state of the trusted identity provider feature for this Data Lake Store account.","readOnly":true,"enum":["Enabled","Disabled"]},"trustedIdProviders":{"type":"array","description":"The list of trusted identity providers associated with this Data Lake Store account.","readOnly":true,"items":{"$ref":"#/components/schemas/TrustedIdProvider"}},"virtualNetworkRules":{"type":"array","description":"The list of virtual network rules associated with this Data Lake Store account.","readOnly":true,"items":{"$ref":"#/components/schemas/VirtualNetworkRule"}}},"description":"Data Lake Store account properties information.","allOf":[{"$ref":"#/components/schemas/DataLakeStoreAccountPropertiesBasic"}]},"DataLakeStoreAccountPropertiesBasic":{"type":"object","properties":{"accountId":{"type":"string","description":"The unique identifier associated with this Data Lake Store account.","format":"uuid","readOnly":true},"creationTime":{"type":"string","description":"The account creation time.","format":"date-time","readOnly":true},"endpoint":{"type":"string","description":"The full CName endpoint for this account.","readOnly":true},"lastModifiedTime":{"type":"string","description":"The account last modified time.","format":"date-time","readOnly":true},"provisioningState":{"type":"string","description":"The provisioning status of the Data Lake Store account.","readOnly":true,"enum":["Failed","Creating","Running","Succeeded","Patching","Suspending","Resuming","Deleting","Deleted","Undeleting","Canceled"]},"state":{"type":"string","description":"The state of the Data Lake Store account.","readOnly":true,"enum":["Active","Suspended"]}},"description":"The basic account specific properties that are associated with an underlying Data Lake Store account."},"EncryptionConfig":{"required":["type"],"type":"object","properties":{"keyVaultMetaInfo":{"$ref":"#/components/schemas/KeyVaultMetaInfo"},"type":{"type":"string","description":"The type of encryption configuration being used. Currently the only supported types are 'UserManaged' and 'ServiceManaged'.","enum":["UserManaged","ServiceManaged"]}},"description":"The encryption configuration for the account."},"EncryptionIdentity":{"required":["type"],"type":"object","properties":{"principalId":{"type":"string","description":"The principal identifier associated with the encryption.","format":"uuid","readOnly":true},"tenantId":{"type":"string","description":"The tenant identifier associated with the encryption.","format":"uuid","readOnly":true},"type":{"type":"string","description":"The type of encryption being used. Currently the only supported type is 'SystemAssigned'.","enum":["SystemAssigned"]}},"description":"The encryption identity properties."},"FirewallRule":{"properties":{"properties":{"$ref":"#/components/schemas/FirewallRuleProperties"}},"description":"Data Lake Store firewall rule information.","allOf":[{"$ref":"#/components/schemas/SubResource"}]},"FirewallRuleListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link (url) to the next page of results.","readOnly":true},"value":{"type":"array","description":"The results of the list operation.","readOnly":true,"items":{"$ref":"#/components/schemas/FirewallRule"}}},"description":"Data Lake Store firewall rule list information."},"FirewallRuleProperties":{"type":"object","properties":{"endIpAddress":{"type":"string","description":"The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.","readOnly":true},"startIpAddress":{"type":"string","description":"The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.","readOnly":true}},"description":"The firewall rule properties."},"KeyVaultMetaInfo":{"required":["encryptionKeyName","encryptionKeyVersion","keyVaultResourceId"],"type":"object","properties":{"encryptionKeyName":{"type":"string","description":"The name of the user managed encryption key."},"encryptionKeyVersion":{"type":"string","description":"The version of the user managed encryption key."},"keyVaultResourceId":{"type":"string","description":"The resource identifier for the user managed Key Vault being used to encrypt."}},"description":"Metadata information used by account encryption."},"NameAvailabilityInformation":{"type":"object","properties":{"message":{"type":"string","description":"The message describing why the Data Lake Store account name is not available, if nameAvailable is false.","readOnly":true},"nameAvailable":{"type":"boolean","description":"The Boolean value of true or false to indicate whether the Data Lake Store account name is available or not.","readOnly":true},"reason":{"type":"string","description":"The reason why the Data Lake Store account name is not available, if nameAvailable is false.","readOnly":true}},"description":"Data Lake Store account name availability result information."},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/OperationDisplay"},"name":{"type":"string","description":"The name of the operation.","readOnly":true},"origin":{"type":"string","description":"The intended executor of the operation.","readOnly":true,"enum":["user","system","user,system"]}},"description":"An available operation for Data Lake Store."},"OperationDisplay":{"type":"object","properties":{"description":{"type":"string","description":"A friendly description of the operation.","readOnly":true},"operation":{"type":"string","description":"A friendly name of the operation.","readOnly":true},"provider":{"type":"string","description":"The resource provider of the operation.","readOnly":true},"resource":{"type":"string","description":"The resource type of the operation.","readOnly":true}},"description":"The display information for a particular operation."},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link (url) to the next page of results.","readOnly":true},"value":{"type":"array","description":"The results of the list operation.","readOnly":true,"items":{"$ref":"#/components/schemas/Operation"}}},"description":"The list of available operations for Data Lake Store."},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"The resource identifier.","readOnly":true},"location":{"type":"string","description":"The resource location.","readOnly":true},"name":{"type":"string","description":"The resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The resource tags.","readOnly":true},"type":{"type":"string","description":"The resource type.","readOnly":true}},"description":"The resource model definition."},"SubResource":{"type":"object","properties":{"id":{"type":"string","description":"The resource identifier.","readOnly":true},"name":{"type":"string","description":"The resource name.","readOnly":true},"type":{"type":"string","description":"The resource type.","readOnly":true}},"description":"The resource model definition for a nested resource."},"TrustedIdProvider":{"properties":{"properties":{"$ref":"#/components/schemas/TrustedIdProviderProperties"}},"description":"Data Lake Store trusted identity provider information.","allOf":[{"$ref":"#/components/schemas/SubResource"}]},"TrustedIdProviderListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link (url) to the next page of results.","readOnly":true},"value":{"type":"array","description":"The results of the list operation.","readOnly":true,"items":{"$ref":"#/components/schemas/TrustedIdProvider"}}},"description":"Data Lake Store trusted identity provider list information."},"TrustedIdProviderProperties":{"type":"object","properties":{"idProvider":{"type":"string","description":"The URL of this trusted identity provider.","readOnly":true}},"description":"The trusted identity provider properties."},"UpdateDataLakeStoreAccountParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/UpdateDataLakeStoreAccountProperties"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"}},"description":"Data Lake Store account information to update."},"UpdateDataLakeStoreAccountProperties":{"type":"object","properties":{"defaultGroup":{"type":"string","description":"The default owner group for all new folders and files created in the Data Lake Store account."},"encryptionConfig":{"$ref":"#/components/schemas/UpdateEncryptionConfig"},"firewallAllowAzureIps":{"type":"string","description":"The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced.","enum":["Enabled","Disabled"]},"firewallRules":{"type":"array","description":"The list of firewall rules associated with this Data Lake Store account.","items":{"$ref":"#/components/schemas/UpdateFirewallRuleWithAccountParameters"}},"firewallState":{"type":"string","description":"The current state of the IP address firewall for this Data Lake Store account. Disabling the firewall does not remove existing rules, they will just be ignored until the firewall is re-enabled.","enum":["Enabled","Disabled"]},"newTier":{"type":"string","description":"The commitment tier to use for next month.","enum":["Consumption","Commitment_1TB","Commitment_10TB","Commitment_100TB","Commitment_500TB","Commitment_1PB","Commitment_5PB"]},"trustedIdProviderState":{"type":"string","description":"The current state of the trusted identity provider feature for this Data Lake Store account. Disabling trusted identity provider functionality does not remove the providers, they will just be ignored until this feature is re-enabled.","enum":["Enabled","Disabled"]},"trustedIdProviders":{"type":"array","description":"The list of trusted identity providers associated with this Data Lake Store account.","items":{"$ref":"#/components/schemas/UpdateTrustedIdProviderWithAccountParameters"}},"virtualNetworkRules":{"type":"array","description":"The list of virtual network rules associated with this Data Lake Store account.","items":{"$ref":"#/components/schemas/UpdateVirtualNetworkRuleWithAccountParameters"}}},"description":"Data Lake Store account properties information to be updated."},"UpdateEncryptionConfig":{"type":"object","properties":{"keyVaultMetaInfo":{"$ref":"#/components/schemas/UpdateKeyVaultMetaInfo"}},"description":"The encryption configuration used to update a user managed Key Vault key."},"UpdateFirewallRuleParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/UpdateFirewallRuleProperties"}},"description":"The parameters used to update a firewall rule."},"UpdateFirewallRuleProperties":{"type":"object","properties":{"endIpAddress":{"type":"string","description":"The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol."},"startIpAddress":{"type":"string","description":"The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol."}},"description":"The firewall rule properties to use when updating a firewall rule."},"UpdateFirewallRuleWithAccountParameters":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The unique name of the firewall rule to update."},"properties":{"$ref":"#/components/schemas/UpdateFirewallRuleProperties"}},"description":"The parameters used to update a firewall rule while updating a Data Lake Store account."},"UpdateKeyVaultMetaInfo":{"type":"object","properties":{"encryptionKeyVersion":{"type":"string","description":"The version of the user managed encryption key to update through a key rotation."}},"description":"The Key Vault update information used for user managed key rotation."},"UpdateTrustedIdProviderParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/UpdateTrustedIdProviderProperties"}},"description":"The parameters used to update a trusted identity provider."},"UpdateTrustedIdProviderProperties":{"type":"object","properties":{"idProvider":{"type":"string","description":"The URL of this trusted identity provider."}},"description":"The trusted identity provider properties to use when updating a trusted identity provider."},"UpdateTrustedIdProviderWithAccountParameters":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The unique name of the trusted identity provider to update."},"properties":{"$ref":"#/components/schemas/UpdateTrustedIdProviderProperties"}},"description":"The parameters used to update a trusted identity provider while updating a Data Lake Store account."},"UpdateVirtualNetworkRuleParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/UpdateVirtualNetworkRuleProperties"}},"description":"The parameters used to update a virtual network rule."},"UpdateVirtualNetworkRuleProperties":{"type":"object","properties":{"subnetId":{"type":"string","description":"The resource identifier for the subnet."}},"description":"The virtual network rule properties to use when updating a virtual network rule."},"UpdateVirtualNetworkRuleWithAccountParameters":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The unique name of the virtual network rule to update."},"properties":{"$ref":"#/components/schemas/UpdateVirtualNetworkRuleProperties"}},"description":"The parameters used to update a virtual network rule while updating a Data Lake Store account."},"Usage":{"type":"object","properties":{"currentValue":{"type":"integer","description":"Gets the current count of the allocated resources in the subscription.","format":"int32","readOnly":true},"id":{"type":"string","description":"Resource identifier.","readOnly":true},"limit":{"type":"integer","description":"Gets the maximum count of the resources that can be allocated in the subscription.","format":"int32","readOnly":true},"name":{"$ref":"#/components/schemas/UsageName"},"unit":{"type":"string","description":"Gets the unit of measurement.","readOnly":true,"enum":["Count","Bytes","Seconds","Percent","CountsPerSecond","BytesPerSecond"]}},"description":"Describes the Resource Usage."},"UsageListResult":{"type":"object","properties":{"value":{"type":"array","description":"Gets or sets the list of Storage Resource Usages.","items":{"$ref":"#/components/schemas/Usage"}}},"description":"The response from the List Usages operation."},"UsageName":{"type":"object","properties":{"localizedValue":{"type":"string","description":"Gets a localized string describing the resource name.","readOnly":true},"value":{"type":"string","description":"Gets a string describing the resource name.","readOnly":true}},"description":"The usage names that can be used."},"VirtualNetworkRule":{"properties":{"properties":{"$ref":"#/components/schemas/VirtualNetworkRuleProperties"}},"description":"Data Lake Store virtual network rule information.","allOf":[{"$ref":"#/components/schemas/SubResource"}]},"VirtualNetworkRuleListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link (url) to the next page of results.","readOnly":true},"value":{"type":"array","description":"The results of the list operation.","readOnly":true,"items":{"$ref":"#/components/schemas/VirtualNetworkRule"}}},"description":"Data Lake Store virtual network rule list information."},"VirtualNetworkRuleProperties":{"type":"object","properties":{"subnetId":{"type":"string","description":"The resource identifier for the subnet.","readOnly":true}},"description":"The virtual network rule properties."}},"parameters":{"AccountNameParameter":{"name":"accountName","in":"path","description":"The name of the Data Lake Store account.","required":true,"schema":{"type":"string"}},"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the Azure resource group.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}