{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "MonitorManagementClient",
    "version" : "2017-12-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/{resourceUri}/providers/microsoft.insights/metricNamespaces" : {
      "get" : {
        "tags" : [ "metricNamespaces" ],
        "description" : "Lists the metric namespaces for the resource.",
        "operationId" : "MetricNamespaces_List",
        "parameters" : [ {
          "name" : "resourceUri",
          "in" : "path",
          "description" : "The identifier of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startTime",
          "in" : "query",
          "description" : "The ISO 8601 conform Date start time from which to query for metric namespaces.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request to get the list of metric namespaces",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricNamespaceCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code"
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating why the operation failed."
          }
        },
        "description" : "Describes the format of Error response."
      },
      "MetricNamespace" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID of the metricNamespace."
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the namespace."
          },
          "properties" : {
            "$ref" : "#/components/schemas/MetricNamespaceName"
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the namespace."
          }
        },
        "description" : "Metric namespace class specifies the metadata for a metric namespace."
      },
      "MetricNamespaceCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The values for the metric namespaces.",
            "items" : {
              "$ref" : "#/components/schemas/MetricNamespace"
            }
          }
        },
        "description" : "Represents collection of metric namespaces."
      },
      "MetricNamespaceName" : {
        "type" : "object",
        "properties" : {
          "metricNamespaceName" : {
            "type" : "string",
            "description" : "The metric namespace name."
          }
        },
        "description" : "The fully qualified metric namespace name."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceUriParameter" : {
        "name" : "resourceUri",
        "in" : "path",
        "description" : "The identifier of the resource.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "StartTimeParameter" : {
        "name" : "startTime",
        "in" : "query",
        "description" : "The ISO 8601 conform Date start time from which to query for metric namespaces.",
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}