{"openapi":"3.0.1","info":{"title":"GameSparks Game Details API","description":"The API to manage the GameSparks game details","termsOfService":"http://www.gamesparks.com/gamesparks-terms-of-use","license":{"name":" "},"version":"v2"},"servers":[{"url":"//config2.gamesparks.net/"}],"tags":[{"name":"scripts","description":"Scripts Restv 2 Controller"},{"name":"experiments","description":"Experiment Rest Controller"},{"name":"billingDetails","description":"Billing Details Rest V 2 Controller"},{"name":"manage","description":"Manage Restv 2 Controller"},{"name":"analytics","description":"Analytics Restv 2 Controller"},{"name":"pushNotificationTest","description":"Push Notification Test Controller"},{"name":"credentials","description":"Game Credentials Rest V 2 Controller"},{"name":"snapshots"},{"name":"gamesAdmin","description":"Games Admin Restv 2 Controller"},{"name":"region","description":"Region Restv 2 Controller"},{"name":"testHarness","description":"Test Harness Restv 2 Controller"},{"name":"segmentQueryFilters","description":"Segment Query Filter Restv 2 Controller"},{"name":"notifications","description":"Log Summary Restv 2 Controller"}],"paths":{"/restv2/game/regions":{"get":{"tags":["region"],"summary":"getRegionOptions","operationId":"getRegionOptionsUsingGET","responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/GameRegionOptionsDTO"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/analytics":{"get":{"tags":["analytics"],"summary":"Returns the results of executed query defined by the parameters passed in","operationId":"getAnalyticsDataUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"stage","in":"query","description":"stage","required":true,"schema":{"type":"string","enum":["LIVE","PREVIEW"]}},{"name":"dataType","in":"query","description":"dataType","required":true,"schema":{"type":"string","enum":["activeDevices","activeLocations","activeUsers","averageBandwidthPerUser","averageDauOverMau","averageJsExecutionTime","averageRequestsPerUser","averageResponseTime","averageResponseTimePerType","scriptLogLevelsCount","sessionAnalytic","storagePerUser","customAnalyticTotal","customAnalyticUser","timedAnalyticTotal","sessionAnalyticTotal","connectedUsers"]}},{"name":"precision","in":"query","description":"precision","required":true,"schema":{"type":"string","enum":["HOURLY","DAILY","MONTHLY"]}},{"name":"startDate","in":"query","description":"yyyy-MM-dd","required":true,"schema":{"type":"string","format":"date"}},{"name":"endDate","in":"query","description":"yyyy-MM-dd","required":true,"schema":{"type":"string","format":"date"}},{"name":"keys","in":"query","description":"the keys to select. For example \"ReturningUsers\", \"NewUsers\", etc","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsDataSwaggerModel"}}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/analytics/count":{"get":{"tags":["analytics"],"summary":"Returns the count of executed query","operationId":"getDataCountUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"stage","in":"query","description":"stage","required":true,"schema":{"type":"string","enum":["LIVE","PREVIEW"]}},{"name":"queryName","in":"query","description":"queryName","required":true,"schema":{"type":"string","enum":["activeUsersNow","dailyActiveUsers","averageDailyActiveUsers","lastMonthlyActiveUsers","monthlyActiveUsers","averageSessionDuration"]}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AnalyticsDataCountSwaggerModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/analytics/rollingRetention":{"get":{"tags":["analytics"],"summary":"Returns the percentage of user retention over the last 30 days","operationId":"getRetentionUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"stage","in":"query","description":"stage","required":true,"schema":{"type":"string","enum":["LIVE","PREVIEW"]}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AnalyticsDataCountSwaggerModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/billingDetails":{"get":{"tags":["billingDetails"],"summary":"Retrieves the Billing Details","description":"Retrieves the Billing Details.","operationId":"getBillingDetails","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BillingDetailsModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"put":{"tags":["billingDetails"],"summary":"Updates the Billing Details","description":"Updates the Billing Details.","operationId":"putBillingDetails","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"billingDetails","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingDetailsModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BillingDetailsModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/notifications/summary":{"get":{"tags":["notifications"],"summary":"getGameSummary","operationId":"getGameSummaryUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"stage","in":"query","description":"stage","required":true,"schema":{"type":"string","enum":["LIVE","PREVIEW"]}},{"name":"startDate","in":"query","description":"yyyy-MM-dd","required":true,"schema":{"type":"string","format":"date"}},{"name":"endDate","in":"query","description":"yyyy-MM-dd","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/GameSummaryModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/pushNotifications/test/amazon":{"post":{"tags":["pushNotificationTest"],"summary":"testPushAmazonNotifications","operationId":"testPushAmazonNotificationsUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"messageDetails","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationTestModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushNotificationTestSummaryListModel"}}}},"400":{"description":"json error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/pushNotifications/test/apple/development":{"post":{"tags":["pushNotificationTest"],"summary":"testPushAppleDevNotifications","operationId":"testPushAppleDevNotificationsUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"messageDetails","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationTestModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushNotificationTestSummaryListModel"}}}},"400":{"description":"json error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/pushNotifications/test/apple/production":{"post":{"tags":["pushNotificationTest"],"summary":"testPushAppleProdNotifications","operationId":"testPushAppleProdNotificationsUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"messageDetails","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationTestModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushNotificationTestSummaryListModel"}}}},"400":{"description":"json error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/pushNotifications/test/google":{"post":{"tags":["pushNotificationTest"],"summary":"testPushGoogleNotifications","operationId":"testPushGoogleNotificationsUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"messageDetails","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationTestModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushNotificationTestSummaryListModel"}}}},"400":{"description":"json error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/pushNotifications/test/microsoft/windows8":{"post":{"tags":["pushNotificationTest"],"summary":"testWindows8Notifications","operationId":"testWindows8NotificationsUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"messageDetails","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationTestModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushNotificationTestSummaryListModel"}}}},"400":{"description":"json error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/pushNotifications/test/microsoft/windowsPhone8":{"post":{"tags":["pushNotificationTest"],"summary":"testWindowsPhone8Notifications","operationId":"testWindowsPhone8NotificationsUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"messageDetails","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationTestModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushNotificationTestSummaryListModel"}}}},"400":{"description":"json error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/pushNotifications/test/viber/integration":{"post":{"tags":["pushNotificationTest"],"summary":"testViberIntegrationNotifications","operationId":"testViberIntegrationNotificationsUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"messageDetails","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationTestModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushNotificationTestSummaryListModel"}}}},"400":{"description":"json error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/pushNotifications/test/viber/production":{"post":{"tags":["pushNotificationTest"],"summary":"testViberProductionNotifications","operationId":"testViberProductionNotificationsUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"messageDetails","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationTestModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushNotificationTestSummaryListModel"}}}},"400":{"description":"json error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/scripts/differences/{snapshotId1}/{snapshotId2}":{"get":{"tags":["scripts"],"summary":"getScriptDifferences","operationId":"getScriptDifferencesUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"snapshotId1","in":"path","description":"snapshotId1","required":true,"schema":{"type":"string"}},{"name":"snapshotId2","in":"path","description":"snapshotId2","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScriptsDifferenceListModel"}}}},"400":{"description":"json error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/scripts/export":{"get":{"tags":["scripts"],"summary":"exportZip","operationId":"exportZipUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"json error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/scripts/import/accept":{"post":{"tags":["scripts"],"summary":"importAccept","operationId":"importAcceptUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"body","in":"query","description":"body","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"file","format":"binary"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/scripts/import/preview":{"post":{"tags":["scripts"],"summary":"importZip","operationId":"importZipUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"file","format":"binary"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ScriptsDifferenceListModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/scripts/versions":{"get":{"tags":["scripts"],"summary":"getScriptVersions","operationId":"getScriptVersionsUsingGET_1","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"pageSize","schema":{"type":"integer","format":"int32","default":100}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SnapshotScriptVersionListModel"}}}},"400":{"description":"json error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/scripts/versions/{page}":{"get":{"tags":["scripts"],"summary":"getScriptVersions","operationId":"getScriptVersionsUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"page","in":"path","description":"page","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"pageSize","schema":{"type":"integer","format":"int32","default":100}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SnapshotScriptVersionListModel"}}}},"400":{"description":"json error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/segmentQueryFilters":{"get":{"tags":["segmentQueryFilters"],"summary":"getSegmentQueryFilters","operationId":"getSegmentQueryFiltersUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SegmentQueryFilterListModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/segmentQueryFilters/config":{"get":{"tags":["segmentQueryFilters"],"summary":"getSegmentQueryFiltersConfig","operationId":"getSegmentQueryFiltersConfigUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SegmentQueryFilterConfigModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"put":{"tags":["segmentQueryFilters"],"summary":"updateSegmentQueryFiltersConfig","operationId":"updateSegmentQueryFiltersConfigUsingPUT","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"segmentQueryConfig","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SegmentQueryFilterConfigModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SegmentQueryFilterConfigModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/segmentQueryFilters/standardFilters":{"get":{"tags":["segmentQueryFilters"],"summary":"getSegmentQueryStandardFilters","operationId":"getSegmentQueryStandardFiltersUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SegmentQueryFilterListModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/snapshots":{"get":{"tags":["snapshots"],"summary":"getSnapshots","operationId":"getSnapshotsUsingGET_1","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"pageSize","schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SnapshotModel"}}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"post":{"tags":["snapshots"],"summary":"createSnapshots","operationId":"createSnapshotsUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"description","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotCreationModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SnapshotModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/snapshots/liveSnapshotId":{"get":{"tags":["snapshots"],"summary":"getLiveSnapshotId","operationId":"getLiveSnapshotIdUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/snapshots/page/{page}":{"get":{"tags":["snapshots"],"summary":"getSnapshots","operationId":"getSnapshotsUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"page","in":"path","description":"page","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"pageSize","schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SnapshotModel"}}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/snapshots/revert/to/{snapshotId}":{"post":{"tags":["snapshots"],"summary":"revertToSnapshot","operationId":"revertToSnapshotUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"snapshotId","in":"path","description":"snapshotId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/snapshots/{snapshotId}":{"get":{"tags":["snapshots"],"summary":"getSnapshot","operationId":"getSnapshotUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"snapshotId","in":"path","description":"snapshotId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SnapshotModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"delete":{"tags":["snapshots"],"summary":"deleteSnapshot","operationId":"deleteSnapshotUsingDELETE_1","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"snapshotId","in":"path","description":"snapshotId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/snapshots/{snapshotId}/copy":{"post":{"tags":["snapshots"],"summary":"copySnapshotToNewGame","operationId":"copySnapshotToNewGameUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"snapshotId","in":"path","description":"snapshotId","required":true,"schema":{"type":"string"}},{"name":"includeGameConfig","in":"query","description":"includeGameConfig","schema":{"type":"boolean","default":true}},{"name":"includeMetadata","in":"query","description":"includeMetadata","schema":{"type":"boolean","default":true}},{"name":"includeBinaries","in":"query","description":"includeBinaries","schema":{"type":"boolean","default":true}},{"name":"includeCollaborators","in":"query","description":"includeCollaborators","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SnapshotCreationSuccessModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/snapshots/{snapshotId}/copy/to/{targetApiKey}":{"post":{"tags":["snapshots"],"summary":"copySnapshotToExistingGame","operationId":"copySnapshotToExistingGameUsingPOST_1","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"snapshotId","in":"path","description":"snapshotId","required":true,"schema":{"type":"string"}},{"name":"targetApiKey","in":"path","description":"targetApiKey","required":true,"schema":{"type":"string"}},{"name":"includeGameConfig","in":"query","description":"includeGameConfig","schema":{"type":"boolean","default":true}},{"name":"includeMetadata","in":"query","description":"includeMetadata","schema":{"type":"boolean","default":true}},{"name":"includeBinaries","in":"query","description":"includeBinaries","schema":{"type":"boolean","default":true}},{"name":"includeCollaborators","in":"query","description":"includeCollaborators","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SnapshotCreationSuccessModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/snapshots/{snapshotId}/publish":{"post":{"tags":["snapshots"],"summary":"publishSnapshot","operationId":"publishSnapshotUsingPOST_1","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"snapshotId","in":"path","description":"snapshotId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/snapshots/{snapshotId}/unpublish":{"post":{"tags":["snapshots"],"summary":"unpublishSnapshot","operationId":"unpublishSnapshotUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"snapshotId","in":"path","description":"snapshotId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/testHarness/scenarios":{"get":{"tags":["testHarness"],"summary":"getTestHarnessScenarios","operationId":"getTestHarnessScenariosUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TestHarnessScenarioModel"}}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"post":{"tags":["testHarness"],"summary":"createTestHarnessScenario","operationId":"createTestHarnessScenarioUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"testHarnessScenarioDTO","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestHarnessScenarioModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TestHarnessScenarioModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/admin/testHarness/scenarios/{scenarioName}":{"get":{"tags":["testHarness"],"summary":"getTestHarnessScenario","operationId":"getTestHarnessScenarioUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"scenarioName","in":"path","description":"scenarioName","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TestHarnessScenarioModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"put":{"tags":["testHarness"],"summary":"updateTestHarnessScenario","operationId":"updateTestHarnessScenarioUsingPUT","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"scenarioName","in":"path","description":"scenarioName","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"testHarnessScenarioDTO","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestHarnessScenarioModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TestHarnessScenarioModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"delete":{"tags":["testHarness"],"summary":"deleteTestHarnessScenario","operationId":"deleteTestHarnessScenarioUsingDELETE","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"scenarioName","in":"path","description":"scenarioName","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/config/~credentials/{credentialName}/resetSecret":{"post":{"tags":["credentials"],"summary":"Resets the secret of a credential","operationId":"updateCredentialSecretUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"credentialName","in":"path","description":"credentialName","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/endpoints":{"get":{"tags":["gamesAdmin"],"summary":"getGamesEndpoints","operationId":"getGamesEndpointsUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/GameEndpointsModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/manage/experiments":{"get":{"tags":["experiments"],"summary":"getExperiments","operationId":"getExperimentsUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExperimentModel"}}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"post":{"tags":["experiments"],"summary":"createExperiment","operationId":"createExperimentUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExperimentModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExperimentModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/manage/experiments/{id}":{"get":{"tags":["experiments"],"summary":"getExperiment","operationId":"getExperimentUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExperimentModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"put":{"tags":["experiments"],"summary":"updateExperiment","operationId":"updateExperimentUsingPUT","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExperimentModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExperimentModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"delete":{"tags":["experiments"],"summary":"deleteExperiment","operationId":"deleteExperimentUsingDELETE","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/manage/experiments/{id}/{action}":{"post":{"tags":["experiments"],"summary":"doActionExperiment","operationId":"doActionExperimentUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"action","in":"path","description":"action","required":true,"schema":{"type":"string","enum":["start","stop","publish","unpublish"]}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExperimentModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/manage/queries":{"get":{"tags":["manage"],"summary":"listQueries","operationId":"listQueriesUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManageItemSummary"}}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"post":{"tags":["manage"],"summary":"createQuery","operationId":"createQueryUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"query","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageQuery"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageQuery"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/manage/queries/{shortCode}":{"get":{"tags":["manage"],"summary":"getQuery","operationId":"getQueryUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"shortCode","in":"path","description":"shortCode","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageQuery"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"put":{"tags":["manage"],"summary":"updateQuery","operationId":"updateQueryUsingPUT","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"shortCode","in":"path","description":"shortCode","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"query","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageQuery"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageQuery"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"delete":{"tags":["manage"],"summary":"deleteQuery","operationId":"deleteQueryUsingDELETE","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"shortCode","in":"path","description":"shortCode","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageResult"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/manage/screens":{"get":{"tags":["manage"],"summary":"listScreens","operationId":"listScreensUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManageItemSummary"}}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"post":{"tags":["manage"],"summary":"createScreen","operationId":"createScreenUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"screen","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageScreen"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageScreen"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/manage/screens/executable":{"get":{"tags":["manage"],"summary":"listExecutableScreens","operationId":"listExecutableScreensUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManageItemSummary"}}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/manage/screens/{shortCode}":{"get":{"tags":["manage"],"summary":"getScreen","operationId":"getScreenUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"shortCode","in":"path","description":"shortCode","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageScreen"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"put":{"tags":["manage"],"summary":"updateScreen","operationId":"updateScreenUsingPUT","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"shortCode","in":"path","description":"shortCode","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"screen","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageScreen"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageScreen"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"delete":{"tags":["manage"],"summary":"deleteScreen","operationId":"deleteScreenUsingDELETE","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"shortCode","in":"path","description":"shortCode","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageResult"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/manage/snapshots":{"get":{"tags":["manage"],"summary":"listSnapshots","operationId":"listSnapshotsUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManageSnapshot"}}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"post":{"tags":["manage"],"summary":"createSnapshot","operationId":"createSnapshotUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotCreationModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageSnapshot"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/manage/snapshots/{snapshotId}":{"delete":{"tags":["manage"],"summary":"deleteSnapshot","operationId":"deleteSnapshotUsingDELETE","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"snapshotId","in":"path","description":"snapshotId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"success"},"201":{"description":"Created","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageResult"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/manage/snapshots/{snapshotId}/copy/to/{targetApiKey}":{"post":{"tags":["manage"],"summary":"copySnapshotToExistingGame","operationId":"copySnapshotToExistingGameUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"snapshotId","in":"path","description":"snapshotId","required":true,"schema":{"type":"string"}},{"name":"targetApiKey","in":"path","description":"targetApiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageResult"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/manage/snapshots/{snapshotId}/publish":{"post":{"tags":["manage"],"summary":"publishSnapshot","operationId":"publishSnapshotUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"snapshotId","in":"path","description":"snapshotId","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Created","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageResult"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/manage/snapshots/{snapshotId}/revert":{"post":{"tags":["manage"],"summary":"revertSnapshot","operationId":"revertSnapshotUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"snapshotId","in":"path","description":"snapshotId","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Created","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageResult"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/manage/snippets":{"get":{"tags":["manage"],"summary":"listSnippets","operationId":"listSnippetsUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManageItemSummary"}}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"post":{"tags":["manage"],"summary":"createSnippet","operationId":"createSnippetUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"snippet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageSnippet"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageSnippet"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/manage/snippets/{shortCode}":{"get":{"tags":["manage"],"summary":"getSnippet","operationId":"getSnippetUsingGET","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"shortCode","in":"path","description":"shortCode","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageSnippet"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"put":{"tags":["manage"],"summary":"updateSnippet","operationId":"updateSnippetUsingPUT","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"shortCode","in":"path","description":"shortCode","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"snippet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageSnippet"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageSnippet"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}},"delete":{"tags":["manage"],"summary":"deleteSnippet","operationId":"deleteSnippetUsingDELETE","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}},{"name":"shortCode","in":"path","description":"shortCode","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ManageResult"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{apiKey}/restore":{"post":{"tags":["gamesAdmin"],"summary":"restoreDeletedGame","operationId":"restoreDeletedGameUsingPOST","parameters":[{"name":"apiKey","in":"path","description":"apiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{gameApiKey}/region/{regionCode}":{"post":{"tags":["region"],"summary":"setGameRegion","operationId":"setGameRegionUsingPOST","parameters":[{"name":"gameApiKey","in":"path","description":"gameApiKey","required":true,"schema":{"type":"string"}},{"name":"regionCode","in":"path","description":"regionCode","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/RegionResult"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/game/{gameApiKey}/regions":{"get":{"tags":["region"],"summary":"getGameRegionOptions","operationId":"getGameRegionOptionsUsingGET","parameters":[{"name":"gameApiKey","in":"path","description":"gameApiKey","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/GameRegionOptionsDTO"}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/games":{"get":{"tags":["gamesAdmin"],"summary":"list","operationId":"listUsingGET","responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GameModel"}}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}},"/restv2/games/deleted":{"get":{"tags":["gamesAdmin"],"summary":"listDeleted","operationId":"listDeletedUsingGET","responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeletedGameModel"}}}}},"400":{"description":"json error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageModel"}}}},"403":{"description":"not allowed"},"404":{"description":"not found"}}}}},"components":{"schemas":{"AnalyticsDataCountSwaggerModel":{"type":"object","properties":{"result":{"type":"string"}}},"AnalyticsDataSwaggerModel":{"type":"object","properties":{"_id":{"type":"string"}}},"BillingDetailsModel":{"required":["building","city","companyName","country","email1","firstName1","lastName1","postcode","street"],"type":"object","properties":{"building":{"type":"string"},"city":{"type":"string"},"companyName":{"type":"string"},"country":{"type":"string"},"email1":{"type":"string"},"email2":{"type":"string"},"email3":{"type":"string"},"firstName1":{"type":"string"},"firstName2":{"type":"string"},"firstName3":{"type":"string"},"lastName1":{"type":"string"},"lastName2":{"type":"string"},"lastName3":{"type":"string"},"postcode":{"type":"string"},"state":{"type":"string"},"street":{"type":"string"},"taxNumber":{"type":"string"}}},"DeletedGameModel":{"type":"object","properties":{"apiKey":{"type":"string"},"name":{"type":"string"}}},"ExperimentConfigModel":{"type":"object","properties":{"playerMongoQuery":{"type":"string"},"playerQuery":{"type":"string"},"variants":{"type":"string"}}},"ExperimentModel":{"type":"object","properties":{"active":{"type":"boolean"},"changedFieldsAndInitialValues":{"type":"object"},"complete":{"type":"boolean"},"config":{"$ref":"#/components/schemas/ExperimentConfigModel"},"endDate":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64"},"measurements":{"type":"string"},"measurementsEsQuery":{"type":"string"},"name":{"type":"string"},"percentHash":{"type":"string"},"publishedStages":{"type":"array","items":{"type":"string"}},"startDate":{"type":"string","format":"date-time"}}},"GameEndpointsModel":{"type":"object","properties":{"liveElasticSearch":{"type":"string"},"liveNosql":{"type":"string"},"previewElasticSearch":{"type":"string"},"previewNosql":{"type":"string"}}},"GameModel":{"type":"object","properties":{"@id":{"type":"string"},"name":{"type":"string"}}},"GameRegionOptionDTO":{"type":"object","properties":{"regionCode":{"type":"string"},"regionName":{"type":"string"},"selected":{"type":"boolean"}}},"GameRegionOptionsDTO":{"type":"object","properties":{"locked":{"type":"boolean"},"options":{"type":"array","items":{"$ref":"#/components/schemas/GameRegionOptionDTO"}}}},"GameSummaryModel":{"type":"object","properties":{"logLevelData":{"type":"array","items":{"type":"object"}},"logLevelSummary":{"type":"array","items":{"$ref":"#/components/schemas/LogLevelSummaryModel"}},"message":{"type":"string"}}},"LogLevelSummaryModel":{"type":"object","properties":{"count":{"type":"integer","format":"int64"},"level":{"type":"string"}}},"ManageItemSummary":{"type":"object","properties":{"name":{"type":"string"},"shortCode":{"type":"string"}}},"ManageQuery":{"type":"object","properties":{"esRules":{"type":"string"},"name":{"type":"string"},"qbRules":{"type":"string"},"shortCode":{"type":"string"}}},"ManageResult":{"type":"object","properties":{"message":{"type":"string"}}},"ManageScreen":{"type":"object","properties":{"groups":{"type":"array","items":{"type":"string"}},"name":{"type":"string"},"shortCode":{"type":"string"},"template":{"type":"string"}}},"ManageSnapshot":{"type":"object","properties":{"date":{"type":"string","format":"date-time"},"description":{"type":"string"},"id":{"type":"string"},"published":{"type":"boolean"}}},"ManageSnippet":{"type":"object","properties":{"groups":{"type":"array","items":{"type":"string"}},"name":{"type":"string"},"script":{"type":"string"},"scriptData":{"type":"string"},"shortCode":{"type":"string"},"template":{"type":"string"}}},"MessageModel":{"type":"object","properties":{"message":{"type":"string"}}},"Number":{"type":"object"},"PushNotificationTestModel":{"type":"object","properties":{"customJson":{"type":"string"},"messageId":{"type":"string"},"pushId":{"type":"string"},"subtitle":{"type":"string"},"summary":{"type":"string"},"title":{"type":"string"}}},"PushNotificationTestSummaryListModel":{"type":"object","properties":{"summaries":{"type":"array","items":{"$ref":"#/components/schemas/PushNotificationTestSummaryModel"}}}},"PushNotificationTestSummaryModel":{"type":"object","properties":{"error":{"type":"boolean"},"outgoingMessageParts":{"type":"object","additionalProperties":{"type":"string"}},"resultParts":{"type":"object","additionalProperties":{"type":"string"}},"title":{"type":"string"}}},"RegionResult":{"type":"object","properties":{"message":{"type":"string"}}},"ScriptsDifferenceListModel":{"type":"object","properties":{"differences":{"type":"array","items":{"$ref":"#/components/schemas/ScriptsDifferenceModel"}}}},"ScriptsDifferenceModel":{"type":"object","properties":{"bind":{"type":"string"},"changeType":{"type":"string","enum":["NOCHANGE","ADDED","CHANGED","DELETED","IGNORED","CHANGED_CODE_INVALID","CHANGED_NAME_INVALID"]},"fileName":{"type":"string"},"script1":{"type":"string"},"script2":{"type":"string"},"type":{"type":"string"}}},"SegmentQueryFilterConfigModel":{"type":"object","properties":{"customFilters":{"type":"array","items":{"$ref":"#/components/schemas/SegmentQueryFilterModel"}},"hiddenFilters":{"type":"array","items":{"type":"string"}}}},"SegmentQueryFilterListModel":{"type":"object","properties":{"filters":{"type":"array","items":{"$ref":"#/components/schemas/SegmentQueryFilterModel"}}}},"SegmentQueryFilterModel":{"type":"object","properties":{"key":{"type":"string"},"name":{"type":"string"},"options":{"type":"array","items":{"type":"object"}},"type":{"type":"string"}}},"SnapshotCreationModel":{"type":"object","properties":{"description":{"type":"string"}}},"SnapshotCreationSuccessModel":{"type":"object","properties":{"targetGameApiKey":{"type":"string"}}},"SnapshotModel":{"type":"object","properties":{"created":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"description":{"type":"string"},"id":{"type":"string"},"indexProgress":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}},"published":{"type":"boolean"},"status":{"type":"string"}}},"SnapshotScriptVersionListModel":{"type":"object","properties":{"scriptVersions":{"type":"array","items":{"$ref":"#/components/schemas/SnapshotScriptVersionModel"}}}},"SnapshotScriptVersionModel":{"type":"object","properties":{"cloudCodeVersion":{"type":"integer","format":"int64"},"createdDate":{"type":"string","format":"date-time"},"description":{"type":"string"},"id":{"type":"string"},"live":{"type":"boolean"}}},"TestHarnessScenarioModel":{"type":"object","properties":{"scenarioJson":{"type":"object"},"scenarioName":{"type":"string"}}}},"securitySchemes":{"accessToken":{"type":"apiKey","name":"accessToken","in":"header"},"basic":{"type":"http","scheme":"basic"},"jwt":{"type":"apiKey","name":"jwt","in":"header"}}}}