{"openapi":"3.0.1","info":{"title":"Postmark API","description":"Postmark makes sending and receiving email\nincredibly easy.\n","version":"1.0.0"},"servers":[{"url":"//api.postmarkapp.com/"}],"paths":{"/bounces":{"get":{"tags":["Bounces API"],"summary":"Get bounces","operationId":"getBounces","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"count","in":"query","description":"Number of bounces to return per request. Max 500.","required":true,"schema":{"maximum":500,"type":"integer"}},{"name":"offset","in":"query","description":"Number of bounces to skip.","required":true,"schema":{"type":"integer"}},{"name":"type","in":"query","description":"Filter by type of bounce","schema":{"type":"string","enum":["HardBounce","Transient","Unsubscribe","Subscribe","AutoResponder","AddressChange","DnsError","SpamNotification","OpenRelayTest","Unknown","SoftBounce","VirusNotification","MailFrontier Matador.","BadEmailAddress","SpamComplaint","ManuallyDeactivated","Unconfirmed","Blocked","SMTPApiError","InboundError","DMARCPolicy","TemplateRenderingFailed"]}},{"name":"inactive","in":"query","description":"Filter by emails that were deactivated by Postmark due to the bounce. Set to true or false. If this isn't specified it will return both active and inactive.","schema":{"type":"boolean"}},{"name":"emailFilter","in":"query","description":"Filter by email address","schema":{"type":"string","format":"email"}},{"name":"messageID","in":"query","description":"Filter by messageID","schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"todate","in":"query","description":"Filter messages up to the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}},{"name":"fromdate","in":"query","description":"Filter messages starting from the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BounceSearchResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/bounces/{bounceid}":{"get":{"tags":["Bounces API"],"summary":"Get a single bounce","operationId":"getSingleBounce","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"bounceid","in":"path","description":"The ID of the bounce to retrieve.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BounceInfoResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/bounces/{bounceid}/activate":{"put":{"tags":["Bounces API"],"summary":"Activate a bounce","operationId":"activateBounce","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"bounceid","in":"path","description":"The ID of the Bounce to activate.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BounceActivationResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/bounces/{bounceid}/dump":{"get":{"tags":["Bounces API"],"summary":"Get bounce dump","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"bounceid","in":"path","description":"The ID for the bounce dump to retrieve.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BounceDumpResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/deliverystats":{"get":{"tags":["Bounces API"],"summary":"Get delivery stats","operationId":"getDeliveryStats","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryStatsResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/email":{"post":{"tags":["Sending API"],"summary":"Send a single email","operationId":"sendEmail","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEmailRequest"}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEmailResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/email/batch":{"post":{"tags":["Sending API"],"summary":"Send a batch of emails","operationId":"sendEmailBatch","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEmailBatchRequest"}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEmailBatchResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/email/batchWithTemplates":{"post":{"tags":["Sending API","Templates API"],"summary":"Send a batch of email using templates.","operationId":"sendEmailBatchWithTemplates","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEmailTemplatedBatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEmailBatchResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/email/withTemplate":{"post":{"tags":["Sending API","Templates API"],"summary":"Send an email using a Template","operationId":"sendEmailWithTemplate","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailWithTemplateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEmailResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/messages/inbound":{"get":{"tags":["Messages API"],"summary":"Inbound message search","operationId":"searchInboundMessages","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"count","in":"query","description":"Number of messages to return per request. Max 500.","required":true,"schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of messages to skip","required":true,"schema":{"type":"integer"}},{"name":"recipient","in":"query","description":"Filter by the user who was receiving the email","schema":{"type":"string","format":"email"}},{"name":"fromemail","in":"query","description":"Filter by the sender email address","schema":{"type":"string","format":"email"}},{"name":"subject","in":"query","description":"Filter by email subject","schema":{"type":"string"}},{"name":"mailboxhash","in":"query","description":"Filter by mailboxhash","schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"status","in":"query","description":"Filter by status (`blocked`, `processed`, `queued`, `failed`, `scheduled`)","schema":{"type":"string","enum":["blocked","processed","queued","failed","scheduled"]}},{"name":"todate","in":"query","description":"Filter messages up to the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}},{"name":"fromdate","in":"query","description":"Filter messages starting from the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InboundSearchResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/messages/inbound/{messageid}/bypass":{"put":{"tags":["Messages API"],"summary":"Bypass rules for a blocked inbound message","operationId":"bypassRulesForInboundMessage","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"messageid","in":"path","description":"The ID of the message which should bypass inbound rules.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/messages/inbound/{messageid}/details":{"get":{"tags":["Messages API"],"summary":"Inbound message details","operationId":"getInboundMessageDetails","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"messageid","in":"path","description":"The ID of the message for which to details will be retrieved.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InboundMessageFullDetailsResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/messages/inbound/{messageid}/retry":{"put":{"tags":["Messages API"],"summary":"Retry a failed inbound message for processing","operationId":"retryInboundMessageProcessing","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"messageid","in":"path","description":"The ID of the inbound message on which we should retry processing.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/messages/outbound":{"get":{"tags":["Messages API"],"summary":"Outbound message search","operationId":"searchOutboundMessages","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"count","in":"query","description":"Number of messages to return per request. Max 500.","required":true,"schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of messages to skip","required":true,"schema":{"type":"integer"}},{"name":"recipient","in":"query","description":"Filter by the user who was receiving the email","schema":{"type":"string","format":"email"}},{"name":"fromemail","in":"query","description":"Filter by the sender email address","schema":{"type":"string","format":"email"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"status","in":"query","description":"Filter by status (`queued` or `sent`)","schema":{"type":"string","enum":["queued","sent"]}},{"name":"todate","in":"query","description":"Filter messages up to the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}},{"name":"fromdate","in":"query","description":"Filter messages starting from the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutboundSearchResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/messages/outbound/clicks":{"get":{"tags":["Messages API"],"summary":"Clicks for a all messages","operationId":"searchClicksForOutboundMessages","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"count","in":"query","description":"Number of message clicks to return per request. Max 500.","required":true,"schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of messages to skip","required":true,"schema":{"type":"integer"}},{"name":"recipient","in":"query","description":"Filter by To, Cc, Bcc","schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"client_name","in":"query","description":"Filter by client name, i.e. Outlook, Gmail","schema":{"type":"string"}},{"name":"client_company","in":"query","description":"Filter by company, i.e. Microsoft, Apple, Google","schema":{"type":"string"}},{"name":"client_family","in":"query","description":"Filter by client family, i.e. OS X, Chrome","schema":{"type":"string"}},{"name":"os_name","in":"query","description":"Filter by full OS name and specific version, i.e. OS X 10.9 Mavericks, Windows 7","schema":{"type":"string"}},{"name":"os_family","in":"query","description":"Filter by kind of OS used without specific version, i.e. OS X, Windows","schema":{"type":"string"}},{"name":"os_company","in":"query","description":"Filter by company which produced the OS, i.e. Apple Computer, Inc., Microsoft Corporation","schema":{"type":"string"}},{"name":"platform","in":"query","description":"Filter by platform, i.e. webmail, desktop, mobile","schema":{"type":"string"}},{"name":"country","in":"query","description":"Filter by country messages were opened in, i.e. Denmark, Russia","schema":{"type":"string"}},{"name":"region","in":"query","description":"Filter by full name of region messages were opened in, i.e. Moscow, New York","schema":{"type":"string"}},{"name":"city","in":"query","description":"Filter by full name of region messages were opened in, i.e. Moscow, New York","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageClickSearchResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/messages/outbound/clicks/{messageid}":{"get":{"tags":["Messages API"],"summary":"Retrieve Message Clicks","operationId":"getClicksForSingleOutboundMessage","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"messageid","in":"path","description":"The ID of the Outbound Message for which click statistics should be retrieved.","required":true,"schema":{"type":"string"}},{"name":"count","in":"query","description":"Number of message clicks to return per request. Max 500.","required":true,"schema":{"maximum":500,"minimum":1,"type":"integer","default":1}},{"name":"offset","in":"query","description":"Number of messages to skip.","required":true,"schema":{"minimum":0,"type":"integer","default":0}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageClickSearchResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/messages/outbound/opens":{"get":{"tags":["Messages API"],"summary":"Opens for all messages","operationId":"searchOpensForOutboundMessages","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"count","in":"query","description":"Number of message opens to return per request. Max 500.","required":true,"schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of messages to skip","required":true,"schema":{"type":"integer"}},{"name":"recipient","in":"query","description":"Filter by To, Cc, Bcc","schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"client_name","in":"query","description":"Filter by client name, i.e. Outlook, Gmail","schema":{"type":"string"}},{"name":"client_company","in":"query","description":"Filter by company, i.e. Microsoft, Apple, Google","schema":{"type":"string"}},{"name":"client_family","in":"query","description":"Filter by client family, i.e. OS X, Chrome","schema":{"type":"string"}},{"name":"os_name","in":"query","description":"Filter by full OS name and specific version, i.e. OS X 10.9 Mavericks, Windows 7","schema":{"type":"string"}},{"name":"os_family","in":"query","description":"Filter by kind of OS used without specific version, i.e. OS X, Windows","schema":{"type":"string"}},{"name":"os_company","in":"query","description":"Filter by company which produced the OS, i.e. Apple Computer, Inc., Microsoft Corporation","schema":{"type":"string"}},{"name":"platform","in":"query","description":"Filter by platform, i.e. webmail, desktop, mobile","schema":{"type":"string"}},{"name":"country","in":"query","description":"Filter by country messages were opened in, i.e. Denmark, Russia","schema":{"type":"string"}},{"name":"region","in":"query","description":"Filter by full name of region messages were opened in, i.e. Moscow, New York","schema":{"type":"string"}},{"name":"city","in":"query","description":"Filter by full name of region messages were opened in, i.e. Moscow, New York","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageOpenSearchResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/messages/outbound/opens/{messageid}":{"get":{"tags":["Messages API"],"summary":"Retrieve Message Opens","operationId":"getOpensForSingleOutboundMessage","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"messageid","in":"path","description":"The ID of the Outbound Message for which open statistics should be retrieved.","required":true,"schema":{"type":"string"}},{"name":"count","in":"query","description":"Number of message opens to return per request. Max 500.","required":true,"schema":{"maximum":500,"minimum":1,"type":"integer","default":1}},{"name":"offset","in":"query","description":"Number of messages to skip.","required":true,"schema":{"minimum":0,"type":"integer","default":0}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageOpenSearchResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/messages/outbound/{messageid}/details":{"get":{"tags":["Messages API"],"summary":"Outbound message details","operationId":"getOutboundMessageDetails","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"messageid","in":"path","description":"The ID of the message for which to retrieve details.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutboundMessageDetailsResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/messages/outbound/{messageid}/dump":{"get":{"tags":["Messages API"],"summary":"Outbound message dump","operationId":"getOutboundMessageDump","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"messageid","in":"path","description":"The ID of the message for which to retrieve a dump.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutboundMessageDumpResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/server":{"get":{"tags":["Server Configuration API"],"summary":"Get Server Configuration","operationId":"getCurrentServerConfiguration","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerConfigurationResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}},"put":{"tags":["Server Configuration API"],"summary":"Edit Server Configuration","operationId":"editCurrentServerConfiguration","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The settings that should be modified for the current server.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditServerConfigurationRequest"}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerConfigurationResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/stats/outbound":{"get":{"tags":["Stats API"],"summary":"Get outbound overview","operationId":"getOutboundOverviewStatistics","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"fromdate","in":"query","description":"Filter stats starting from the date specified. e.g. `2014-01-01`","schema":{"type":"string","format":"date"}},{"name":"todate","in":"query","description":"Filter stats up to the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutboundOverviewStatsResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/stats/outbound/bounces":{"get":{"tags":["Stats API"],"summary":"Get bounce counts","operationId":"getBounceCounts","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"fromdate","in":"query","description":"Filter stats starting from the date specified. e.g. `2014-01-01`","schema":{"type":"string","format":"date"}},{"name":"todate","in":"query","description":"Filter stats up to the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/stats/outbound/clicks":{"get":{"tags":["Stats API"],"summary":"Get click counts","operationId":"getOutboundClickCounts","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"fromdate","in":"query","description":"Filter stats starting from the date specified. e.g. `2014-01-01`","schema":{"type":"string","format":"date"}},{"name":"todate","in":"query","description":"Filter stats up to the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/stats/outbound/clicks/browserfamilies":{"get":{"tags":["Stats API"],"summary":"Get browser usage by family","operationId":"getOutboundClickCountsByBrowserFamily","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"fromdate","in":"query","description":"Filter stats starting from the date specified. e.g. `2014-01-01`","schema":{"type":"string","format":"date"}},{"name":"todate","in":"query","description":"Filter stats up to the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/stats/outbound/clicks/location":{"get":{"tags":["Stats API"],"summary":"Get clicks by body location","operationId":"getOutboundClickCountsByLocation","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"fromdate","in":"query","description":"Filter stats starting from the date specified. e.g. `2014-01-01`","schema":{"type":"string","format":"date"}},{"name":"todate","in":"query","description":"Filter stats up to the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/stats/outbound/clicks/platforms":{"get":{"tags":["Stats API"],"summary":"Get browser plaform usage","operationId":"getOutboundClickCountsByPlatform","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"fromdate","in":"query","description":"Filter stats starting from the date specified. e.g. `2014-01-01`","schema":{"type":"string","format":"date"}},{"name":"todate","in":"query","description":"Filter stats up to the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/stats/outbound/opens":{"get":{"tags":["Stats API"],"summary":"Get email open counts","operationId":"getOutboundOpenCounts","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"fromdate","in":"query","description":"Filter stats starting from the date specified. e.g. `2014-01-01`","schema":{"type":"string","format":"date"}},{"name":"todate","in":"query","description":"Filter stats up to the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/stats/outbound/opens/emailclients":{"get":{"tags":["Stats API"],"summary":"Get email client usage","operationId":"getOutboundOpenCountsByEmailClient","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"fromdate","in":"query","description":"Filter stats starting from the date specified. e.g. `2014-01-01`","schema":{"type":"string","format":"date"}},{"name":"todate","in":"query","description":"Filter stats up to the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/stats/outbound/opens/platforms":{"get":{"tags":["Stats API"],"summary":"Get email platform usage","operationId":"getOutboundOpenCountsByPlatform","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"fromdate","in":"query","description":"Filter stats starting from the date specified. e.g. `2014-01-01`","schema":{"type":"string","format":"date"}},{"name":"todate","in":"query","description":"Filter stats up to the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/stats/outbound/sends":{"get":{"tags":["Stats API"],"summary":"Get sent counts","operationId":"getSentCounts","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"fromdate","in":"query","description":"Filter stats starting from the date specified. e.g. `2014-01-01`","schema":{"type":"string","format":"date"}},{"name":"todate","in":"query","description":"Filter stats up to the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentCountsResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/stats/outbound/spam":{"get":{"tags":["Stats API"],"summary":"Get spam complaints","operationId":"getSpamComplaints","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"fromdate","in":"query","description":"Filter stats starting from the date specified. e.g. `2014-01-01`","schema":{"type":"string","format":"date"}},{"name":"todate","in":"query","description":"Filter stats up to the date specified. e.g. `2014-02-01`","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/stats/outbound/tracked":{"get":{"tags":["Stats API"],"summary":"Get tracked email counts","operationId":"getTrackedEmailCounts","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag","schema":{"type":"string"}},{"name":"fromdate","in":"query","description":"Filter stats starting from the date specified. e.g. `2014-01-01`","schema":{"type":"string","format":"date"}},{"name":"todate","in":"query","description":"Filter stats starting from the date specified. e.g. `2014-01-01`","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/templates":{"get":{"tags":["Templates API"],"summary":"Get the Templates associated with this Server","operationId":"listTemplates","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"Count","in":"query","description":"The number of Templates to return","required":true,"schema":{"type":"number","format":"int"}},{"name":"Offset","in":"query","description":"The number of Templates to \"skip\" before returning results.","required":true,"schema":{"type":"number","format":"int"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateListingResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}},"post":{"tags":["Templates API"],"summary":"Create a Template","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTemplateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateRecordResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/templates/validate":{"post":{"tags":["Templates API"],"summary":"Test Template Content","operationId":"testTemplateContent","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateValidationRequest"}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateValidationResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/templates/{templateIdOrAlias}":{"get":{"tags":["Templates API"],"summary":"Get a Template","operationId":"getSingleTemplate","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"templateIdOrAlias","in":"path","description":"The 'TemplateID' or 'Alias' value for the Template you wish to retrieve.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateDetailResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}},"put":{"tags":["Templates API"],"summary":"Update a Template","operationId":"updateTemplate","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"templateIdOrAlias","in":"path","description":"The 'TemplateID' or 'Alias' value for the Template you wish to update.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditTemplateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateRecordResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}},"delete":{"tags":["Templates API"],"summary":"Delete a Template","operationId":"deleteTemplate","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"templateIdOrAlias","in":"path","description":"The 'TemplateID' or 'Alias' value for the Template you wish to delete.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateDetailResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/triggers/inboundrules":{"get":{"tags":["Inbound Rules API"],"summary":"List inbound rule triggers","operationId":"listInboundRules","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"count","in":"query","description":"Number of records to return per request.","required":true,"schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of records to skip.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}},"post":{"tags":["Inbound Rules API"],"summary":"Create an inbound rule trigger","operationId":"createInboundRule","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInboundRuleRequest"}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/triggers/inboundrules/{triggerid}":{"delete":{"tags":["Inbound Rules API"],"summary":"Delete a single trigger","operationId":"deleteInboundRule","parameters":[{"name":"X-Postmark-Server-Token","in":"header","description":"The token associated with the Server on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"triggerid","in":"path","description":"The ID of the Inbound Rule that should be deleted.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}}},"components":{"schemas":{"Attachment":{"type":"object","properties":{"Content":{"type":"string"},"ContentID":{"type":"string"},"ContentType":{"type":"string"},"Name":{"type":"string"}},"description":"An attachment for an email message."},"AttachmentCollection":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"}},"BounceActivationResponse":{"type":"object","properties":{"Bounce":{"$ref":"#/components/schemas/BounceInfoResponse"},"Message":{"type":"string"}}},"BounceCountElement":{"type":"object","properties":{"Count":{"type":"integer"},"Name":{"type":"string"},"Type":{"type":"string"}}},"BounceDumpResponse":{"type":"object","properties":{"Body":{"type":"string","description":"Raw source of bounce. If no dump is available this will return an empty string."}}},"BounceInfoResponse":{"type":"object","properties":{"BouncedAt":{"type":"string","format":"date-time"},"CanActivate":{"type":"boolean"},"Content":{"type":"string"},"Description":{"type":"string"},"Details":{"type":"string"},"DumpAvailable":{"type":"boolean"},"Email":{"type":"string","format":"email"},"ID":{"type":"string"},"Inactive":{"type":"boolean"},"MessageID":{"type":"string"},"Name":{"type":"string"},"Subject":{"type":"string"},"Tag":{"type":"string"},"Type":{"type":"string"},"TypeCode":{"type":"integer"}}},"BounceSearchResponse":{"type":"object","properties":{"Bounces":{"type":"array","items":{"$ref":"#/components/schemas/BounceInfoResponse"}},"TotalCount":{"type":"integer"}},"description":""},"CreateInboundRuleRequest":{"type":"object","properties":{"Rule":{"type":"string","format":"email"}},"description":""},"CreateTemplateRequest":{"required":["Name","Subject"],"type":"object","properties":{"Alias":{"type":"string","description":"The optional string identifier for referring to this Template (numbers, letters, and '.', '-', '_' characters, starts with a letter)."},"HtmlBody":{"type":"string","description":"The HTML template definition for this Template."},"Name":{"type":"string","description":"The friendly display name for the template."},"Subject":{"type":"string","description":"The Subject template definition for this Template."},"TextBody":{"type":"string","description":"The Text template definition for this Template."}},"description":"The contents required for creating a new template."},"DeliveryStatsResponse":{"type":"object","properties":{"Bounces":{"type":"array","items":{"$ref":"#/components/schemas/BounceCountElement"}},"InactiveMails":{"type":"integer"}},"description":""},"DynamicResponse":{"type":"object","description":"The properties of this object will vary based request parameters."},"EditServerConfigurationRequest":{"type":"object","properties":{"BounceHookUrl":{"type":"string"},"ClickHookUrl":{"type":"string","description":"Webhook url allowing real-time notification when tracked links are clicked."},"Color":{"type":"string","enum":["purple","blue","turqoise","green","red","yellow","grey"]},"DeliveryHookUrl":{"type":"string"},"InboundDomain":{"type":"string"},"InboundHookUrl":{"type":"string"},"InboundSpamThreshold":{"type":"integer"},"Name":{"type":"string"},"OpenHookUrl":{"type":"string"},"PostFirstOpenOnly":{"type":"boolean"},"RawEmailEnabled":{"type":"boolean"},"SmtpApiActivated":{"type":"boolean"},"TrackLinks":{"type":"string","enum":["None","HtmlAndText","HtmlOnly","TextOnly"]},"TrackOpens":{"type":"boolean"}}},"EditTemplateRequest":{"type":"object","properties":{"Alias":{"type":"string","description":"The optional string identifier for referring to this Template (numbers, letters, and '.', '-', '_' characters, starts with a letter)."},"HtmlBody":{"type":"string","description":"The HTML template definition for this Template."},"Name":{"type":"string","description":"The friendly display name for the template."},"Subject":{"type":"string","description":"The Subject template definition for this Template."},"TextBody":{"type":"string","description":"The Text template definition for this Template."}},"description":"The contents required for creating a new template."},"EmailNameAddressPair":{"type":"object","properties":{"Email":{"type":"string"},"Name":{"type":"string"}},"description":""},"EmailWithTemplateRequest":{"required":["From","TemplateAlias","TemplateId","TemplateModel","To"],"type":"object","properties":{"Attachments":{"$ref":"#/components/schemas/AttachmentCollection"},"Bcc":{"type":"string","format":"email"},"Cc":{"type":"string","format":"email"},"From":{"type":"string","format":"email"},"Headers":{"$ref":"#/components/schemas/HeaderCollection"},"InlineCss":{"type":"boolean","default":true},"ReplyTo":{"type":"string"},"Tag":{"type":"string"},"TemplateAlias":{"type":"string","description":"Required if 'TemplateId' is not specified."},"TemplateId":{"type":"integer","description":"Required if 'TemplateAlias' is not specified."},"TemplateModel":{"type":"object"},"To":{"type":"string","format":"email"},"TrackLinks":{"type":"string","description":"Replace links in content to enable \"click tracking\" stats. Default is 'null', which uses the server's LinkTracking setting'.","enum":["None","HtmlAndText","HtmlOnly","TextOnly"]},"TrackOpens":{"type":"boolean","description":"Activate open tracking for this email."}}},"ExtendedMessageClickEventInformation":{"type":"object","properties":{"ClickLocation":{"type":"string"},"Client":{"type":"object","properties":{"Company":{"type":"string"},"Family":{"type":"string"},"Name":{"type":"string"}},"description":""},"Geo":{"type":"object","properties":{"City":{"type":"string"},"Coords":{"type":"string"},"Country":{"type":"string"},"CountryISOCode":{"type":"string"},"IP":{"type":"string"},"Region":{"type":"string"},"RegionISOCode":{"type":"string"},"Zip":{"type":"string"}}},"MessageID":{"type":"string"},"OS":{"type":"object","properties":{"Company":{"type":"string"},"Family":{"type":"string"},"Name":{"type":"string"}}},"OriginalLink":{"type":"string"},"Platform":{"type":"string"},"ReceivedAt":{"type":"string","format":"date-time"},"Recipient":{"type":"string","format":"email"},"Tag":{"type":"string"},"UserAgent":{"type":"string"}},"description":""},"ExtendedMessageOpenEventInformation":{"type":"object","properties":{"Client":{"type":"object","properties":{"Company":{"type":"string"},"Family":{"type":"string"},"Name":{"type":"string"}},"description":""},"FirstOpen":{"type":"boolean"},"Geo":{"type":"object","properties":{"City":{"type":"string"},"Coords":{"type":"string"},"Country":{"type":"string"},"CountryISOCode":{"type":"string"},"IP":{"type":"string"},"Region":{"type":"string"},"RegionISOCode":{"type":"string"},"Zip":{"type":"string"}}},"MessageID":{"type":"string"},"OS":{"type":"object","properties":{"Company":{"type":"string"},"Family":{"type":"string"},"Name":{"type":"string"}}},"Platform":{"type":"string"},"ReceivedAt":{"type":"string","format":"date-time"},"Recipient":{"type":"string","format":"email"},"Tag":{"type":"string"},"UserAgent":{"type":"string"}},"description":""},"HeaderCollection":{"type":"array","items":{"$ref":"#/components/schemas/MessageHeader"}},"InboundMessageDetail":{"type":"object","properties":{"Attachments":{"$ref":"#/components/schemas/AttachmentCollection"},"Cc":{"type":"string"},"CcFull":{"type":"array","items":{"$ref":"#/components/schemas/EmailNameAddressPair"}},"Date":{"type":"string"},"From":{"type":"string"},"FromFull":{"type":"object","properties":{"Email":{"type":"string"},"Name":{"type":"string"}},"description":""},"FromName":{"type":"string"},"MailboxHash":{"type":"string"},"MessageID":{"type":"string"},"OriginalRecipient":{"type":"string"},"ReplyTo":{"type":"string"},"Status":{"type":"string"},"Subject":{"type":"string"},"Tag":{"type":"string"},"To":{"type":"string"},"ToFull":{"type":"array","items":{"$ref":"#/components/schemas/EmailNameAddressPair"}}},"description":""},"InboundMessageFullDetailsResponse":{"type":"object","properties":{"Attachments":{"$ref":"#/components/schemas/AttachmentCollection"},"BlockedReason":{"type":"string"},"Cc":{"type":"string"},"CcFull":{"type":"array","items":{"$ref":"#/components/schemas/EmailNameAddressPair"}},"Date":{"type":"string"},"From":{"type":"string"},"FromFull":{"type":"object","properties":{"Email":{"type":"string"},"Name":{"type":"string"}},"description":""},"FromName":{"type":"string"},"Headers":{"$ref":"#/components/schemas/HeaderCollection"},"HtmlBody":{"type":"string"},"MailboxHash":{"type":"string"},"MessageID":{"type":"string"},"OriginalRecipient":{"type":"string"},"ReplyTo":{"type":"string"},"Status":{"type":"string"},"Subject":{"type":"string"},"Tag":{"type":"string"},"TextBody":{"type":"string"},"To":{"type":"string"},"ToFull":{"type":"array","items":{"$ref":"#/components/schemas/EmailNameAddressPair"}}}},"InboundSearchResponse":{"type":"object","properties":{"InboundMessages":{"type":"array","items":{"$ref":"#/components/schemas/InboundMessageDetail"}},"TotalCount":{"type":"integer"}},"description":""},"MessageClickSearchResponse":{"type":"object","properties":{"Clicks":{"type":"array","items":{"$ref":"#/components/schemas/ExtendedMessageClickEventInformation"}},"TotalCount":{"type":"integer"}}},"MessageEventDetails":{"type":"object","properties":{"Details":{"type":"object","properties":{"BounceID":{"type":"string"},"DeliveryMessage":{"type":"string"},"DestinationIP":{"type":"string"},"DestinationServer":{"type":"string"},"Summary":{"type":"string"}}},"ReceivedAt":{"type":"string","format":"date-time"},"Recipient":{"type":"string"},"Type":{"type":"string"}},"description":""},"MessageHeader":{"type":"object","properties":{"Name":{"type":"string","description":"The header's name."},"Value":{"type":"string","description":"The header's value."}},"description":"A single header for an email message."},"MessageOpenSearchResponse":{"type":"object","properties":{"Opens":{"type":"array","items":{"$ref":"#/components/schemas/ExtendedMessageOpenEventInformation"}},"TotalCount":{"type":"integer"}}},"OutboundMessageDetail":{"type":"object","properties":{"Attachments":{"$ref":"#/components/schemas/AttachmentCollection"},"Bcc":{"type":"array","items":{"$ref":"#/components/schemas/EmailNameAddressPair"}},"Cc":{"type":"array","items":{"$ref":"#/components/schemas/EmailNameAddressPair"}},"From":{"type":"string"},"MessageID":{"type":"string"},"ReceivedAt":{"type":"string","format":"date-time"},"Recipients":{"type":"array","items":{"type":"string"}},"Status":{"type":"string"},"Subject":{"type":"string"},"Tag":{"type":"string"},"To":{"type":"array","items":{"$ref":"#/components/schemas/EmailNameAddressPair"}},"TrackLinks":{"type":"string","enum":["None","HtmlAndText","HtmlOnly","TextOnly"]},"TrackOpens":{"type":"boolean"}},"description":""},"OutboundMessageDetailsResponse":{"type":"object","properties":{"Attachments":{"$ref":"#/components/schemas/AttachmentCollection"},"Bcc":{"type":"array","items":{"$ref":"#/components/schemas/EmailNameAddressPair"}},"Body":{"type":"string"},"Cc":{"type":"array","items":{"$ref":"#/components/schemas/EmailNameAddressPair"}},"From":{"type":"string"},"HtmlBody":{"type":"string"},"MessageEvents":{"type":"array","items":{"$ref":"#/components/schemas/MessageEventDetails"}},"MessageID":{"type":"string"},"ReceivedAt":{"type":"string","format":"date-time"},"Recipients":{"type":"array","items":{"type":"string"}},"Status":{"type":"string"},"Subject":{"type":"string"},"Tag":{"type":"string"},"TextBody":{"type":"string"},"To":{"type":"array","items":{"$ref":"#/components/schemas/EmailNameAddressPair"}},"TrackLinks":{"type":"string","enum":["None","HtmlAndText","HtmlOnly","TextOnly"]},"TrackOpens":{"type":"boolean"}}},"OutboundMessageDumpResponse":{"type":"object","properties":{"Body":{"type":"string","description":"Raw source of message. If no dump is available this will return an empty string."}}},"OutboundOverviewStatsResponse":{"type":"object","properties":{"BounceRate":{"type":"integer"},"Bounced":{"type":"integer"},"Opens":{"type":"integer"},"SMTPAPIErrors":{"type":"integer"},"Sent":{"type":"integer"},"SpamComplaints":{"type":"integer"},"SpamComplaintsRate":{"type":"integer"},"TotalClicks":{"type":"integer"},"TotalTrackedLinksSent":{"type":"integer"},"Tracked":{"type":"integer"},"UniqueLinksClicked":{"type":"integer"},"UniqueOpens":{"type":"integer"},"WithClientRecorded":{"type":"integer"},"WithLinkTracking":{"type":"integer"},"WithOpenTracking":{"type":"integer"},"WithPlatformRecorded":{"type":"integer"}},"description":""},"OutboundSearchResponse":{"type":"object","properties":{"Messages":{"type":"array","items":{"$ref":"#/components/schemas/OutboundMessageDetail"}},"TotalCount":{"type":"integer"}},"description":""},"SendEmailBatchRequest":{"type":"array","items":{"$ref":"#/components/schemas/SendEmailRequest"}},"SendEmailBatchResponse":{"type":"array","items":{"$ref":"#/components/schemas/SendEmailResponse"}},"SendEmailRequest":{"type":"object","properties":{"Attachments":{"$ref":"#/components/schemas/AttachmentCollection"},"Bcc":{"type":"string","description":"Bcc recipient email address. Multiple addresses are comma seperated. Max 50."},"Cc":{"type":"string","description":"Recipient email address. Multiple addresses are comma seperated. Max 50."},"From":{"type":"string","description":"The sender email address. Must have a registered and confirmed Sender Signature."},"Headers":{"$ref":"#/components/schemas/HeaderCollection"},"HtmlBody":{"type":"string","description":"If no TextBody specified HTML email message"},"ReplyTo":{"type":"string","description":"Reply To override email address. Defaults to the Reply To set in the sender signature."},"Subject":{"type":"string","description":"Email Subject"},"Tag":{"type":"string","description":"Email tag that allows you to categorize outgoing emails and get detailed statistics."},"TextBody":{"type":"string","description":"If no HtmlBody specified Plain text email message"},"To":{"type":"string","description":"Recipient email address. Multiple addresses are comma seperated. Max 50."},"TrackLinks":{"type":"string","description":"Replace links in content to enable \"click tracking\" stats. Default is 'null', which uses the server's LinkTracking setting'.","enum":["None","HtmlAndText","HtmlOnly","TextOnly"]},"TrackOpens":{"type":"boolean","description":"Activate open tracking for this email."}}},"SendEmailResponse":{"type":"object","properties":{"ErrorCode":{"type":"integer"},"Message":{"type":"string"},"MessageID":{"type":"string"},"SubmittedAt":{"type":"string","format":"date-time"},"To":{"type":"string"}},"description":"The standard response when a postmark message is sent"},"SendEmailTemplatedBatchRequest":{"type":"object","properties":{"Messages":{"type":"array","items":{"$ref":"#/components/schemas/EmailWithTemplateRequest"}}}},"SentCountsResponse":{"type":"object","properties":{"Days":{"type":"array","items":{"type":"object","properties":{"Date":{"type":"string"},"Sent":{"type":"integer"}}}},"Sent":{"type":"integer"}},"description":"The result of a get sent counts operation."},"ServerConfigurationResponse":{"type":"object","properties":{"ApiTokens":{"type":"array","items":{"type":"string"}},"BounceHookUrl":{"type":"string"},"ClickHookUrl":{"type":"string"},"Color":{"type":"string","enum":["purple","blue","turqoise","green","red","yellow","grey"]},"DeliveryHookUrl":{"type":"string"},"ID":{"type":"integer"},"InboundAddress":{"type":"string","format":"email"},"InboundDomain":{"type":"string"},"InboundHash":{"type":"string"},"InboundHookUrl":{"type":"string"},"InboundSpamThreshold":{"type":"integer"},"Name":{"type":"string"},"OpenHookUrl":{"type":"string"},"PostFirstOpenOnly":{"type":"boolean"},"RawEmailEnabled":{"type":"boolean"},"ServerLink":{"type":"string"},"SmtpApiActivated":{"type":"boolean"},"TrackLinks":{"type":"string","enum":["None","HtmlAndText","HtmlOnly","TextOnly"]},"TrackOpens":{"type":"boolean"}}},"StandardPostmarkResponse":{"type":"object","properties":{"ErrorCode":{"type":"integer"},"Message":{"type":"string"}},"description":"A Postmark API error."},"TemplateDetailResponse":{"type":"object","properties":{"Active":{"type":"boolean","description":"Indicates that this template may be used for sending email."},"Alias":{"type":"string","description":"The user-supplied alias for this template."},"AssociatedServerId":{"type":"integer","description":"The ID of the Server with which this template is associated."},"HtmlBody":{"type":"string","description":"The content to use for the HtmlBody when this template is used to send email."},"Name":{"type":"string","description":"The display name for the template."},"Subject":{"type":"string","description":"The content to use for the Subject when this template is used to send email."},"TemplateID":{"type":"integer","description":"The ID associated with the template."},"TextBody":{"type":"string","description":"The content to use for the TextBody when this template is used to send email."}}},"TemplateListingResponse":{"type":"object","properties":{"Templates API":{"type":"array","description":"Basic information for each Template returned from the query.","items":{"$ref":"#/components/schemas/TemplateRecordResponse"}},"TotalCount":{"type":"number","description":"The total number of Templates API associated with this server."}}},"TemplateRecordResponse":{"type":"object","properties":{"Active":{"type":"boolean","description":"True if this template is currently available for use."},"Alias":{"type":"string","description":"The user-supplied alias for this template."},"Name":{"type":"string","description":"The display name for this template."},"TemplateId":{"type":"number","description":"The associated ID for this template.","format":"int"}}},"TemplateValidationError":{"type":"object","properties":{"CharacterPosition":{"type":"integer"},"Line":{"type":"integer"},"Message":{"type":"string"}}},"TemplateValidationRequest":{"type":"object","properties":{"HtmlBody":{"type":"string","description":"The html body content to validate. Must be specified if Subject or\nTextBody are not. See our template language documentation for more\ninformation on the syntax for this field.\n"},"InlineCssForHtmlTestRender":{"type":"boolean","description":"When HtmlBody is specified, the test render will have style blocks\ninlined as style attributes on matching html elements. You may disable\nthe css inlining behavior by passing false for this parameter.\n","default":true},"Subject":{"type":"string","description":"The subject content to validate. Must be specified if HtmlBody or\nTextBody are not. See our template language documentation for more\ninformation on the syntax for this field.\n"},"TestRenderModel":{"type":"object","description":"The model to be used when rendering test content."},"TextBody":{"type":"string","description":"The text body content to validate. Must be specified if HtmlBody or\nSubject are not. See our template language documentation for more\ninformation on the syntax for this field.\n"}}},"TemplateValidationResponse":{"type":"object","properties":{"AllContentIsValid":{"type":"boolean"},"HtmlBody":{"$ref":"#/components/schemas/TemplateValidationResult"},"Subject":{"$ref":"#/components/schemas/TemplateValidationResult"},"SuggestedTemplateModel":{"type":"object"},"TextBody":{"$ref":"#/components/schemas/TemplateValidationResult"}}},"TemplateValidationResult":{"type":"object","properties":{"ContentIsValid":{"type":"boolean"},"RenderedContent":{"type":"string"},"ValidationErrors":{"type":"array","items":{"$ref":"#/components/schemas/TemplateValidationError"}}}}},"responses":{"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}}