{"openapi":"3.0.1","info":{"title":"NetworkManagementClient","description":"The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.","version":"2019-07-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Network/bastionHosts":{"get":{"tags":["BastionHosts"],"description":"Lists all Bastion Hosts in a subscription.","operationId":"BastionHosts_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The operation returns a list of Bastion Host resources.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BastionHostListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts":{"get":{"tags":["BastionHosts"],"description":"Lists all Bastion Hosts in a resource group.","operationId":"BastionHosts_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The operation returns a list of BastionHost resources.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BastionHostListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}":{"get":{"tags":["BastionHosts"],"description":"Gets the specified Bastion Host.","operationId":"BastionHosts_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"bastionHostName","in":"path","description":"The name of the Bastion Host.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. The operation returns an BastionHost resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BastionHost"}}}}}},"put":{"tags":["BastionHosts"],"description":"Creates or updates the specified Bastion Host.","operationId":"BastionHosts_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"bastionHostName","in":"path","description":"The name of the Bastion Host.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the create or update Bastion Host operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BastionHost"}}},"required":true},"responses":{"200":{"description":"Update successful. The operation returns the resulting Bastion Host resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BastionHost"}}}},"201":{"description":"Create successful. The operation returns the resulting Bastion Host resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BastionHost"}}}}}},"delete":{"tags":["BastionHosts"],"description":"Deletes the specified Bastion Host.","operationId":"BastionHosts_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"bastionHostName","in":"path","description":"The name of the Bastion Host.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete successful."},"202":{"description":"Accepted and the operation will complete asynchronously."},"204":{"description":"Request successful. Resource with the specified name does not exist."}}}}},"components":{"schemas":{"BastionHost":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"properties":{"$ref":"#/components/schemas/BastionHostPropertiesFormat"}},"description":"Bastion Host resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Common resource representation."}]},"BastionHostIPConfiguration":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"name":{"type":"string","description":"Name of the resource that is unique within a resource group. This name can be used to access the resource."},"properties":{"$ref":"#/components/schemas/BastionHostIPConfigurationPropertiesFormat"},"type":{"type":"string","description":"Ip configuration type.","readOnly":true}},"description":"IP configuration of an Bastion Host.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}]},"BastionHostIPConfigurationPropertiesFormat":{"required":["publicIPAddress","subnet"],"type":"object","properties":{"privateIPAllocationMethod":{"type":"string","description":"IP address allocation method.","enum":["Static","Dynamic"]},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"publicIPAddress":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."},"subnet":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}},"description":"Properties of IP configuration of an Bastion Host."},"BastionHostListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of results."},"value":{"type":"array","description":"List of Bastion Hosts in a resource group.","items":{"$ref":"#/components/schemas/BastionHost"}}},"description":"Response for ListBastionHosts API service call."},"BastionHostPropertiesFormat":{"type":"object","properties":{"dnsName":{"type":"string","description":"FQDN for the endpoint on which bastion host is accessible."},"ipConfigurations":{"type":"array","description":"IP configuration of the Bastion Host resource.","items":{"$ref":"#/components/schemas/BastionHostIPConfiguration"}},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]}},"description":"Properties of the Bastion Host."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}