{"openapi":"3.0.1","info":{"title":"Personalized Offers","description":"This API provides content for financial instutions participating in Mastercard Personalized Offers to use in online and mobile banking applications for cardholders.","version":"1.3"},"servers":[{"url":"https://api.mastercard.com/plo/v1"}],"paths":{"/activatestatementcreditoffer":{"post":{"tags":["Activate Statement Credit Offer"],"summary":"Make Statement Credit Offer Available Redeemable","description":"This resource is used to make a statement credit offer available for redemption.\n","parameters":[{"name":"FId","in":"query","description":"Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.","required":true,"schema":{"type":"string"},"example":"999999"},{"name":"UserToken","in":"query","description":"Session identifier as returned by the UserToken resource.","required":true,"schema":{"type":"string"}},{"name":"OfferId","in":"query","description":"System-wide identifier for the campaign, not intended for end-user display.","required":true,"schema":{"type":"string"},"example":"c7dcfca7-cf35-36b0-9e67-d4f363d643e0"}],"responses":{"200":{"description":"This resource returns information about the activated offer.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivateOfferResponse"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/matchedoffers":{"get":{"tags":["Matched Offers"],"summary":"Returns Matched Offers","description":"This resource returns offers that are available to the user and conform to the search criteria (if specified).\n","parameters":[{"name":"FId","in":"query","description":"Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.","required":true,"schema":{"type":"string"},"example":"999999"},{"name":"UserToken","in":"query","description":"Session identifier as returned by the UserToken resource.","required":true,"schema":{"type":"string"}},{"name":"Lang","in":"query","description":"When utilized with a multi-lingual implementation, may be the tongue and country of the user in ISO 639-1, underscore, ISO 3166-1 alpha-2 format.","schema":{"type":"string"},"example":"en_US"},{"name":"MerchantName","in":"query","description":"Fuzzy term to search retailers with offers for the user. In general, searching of Matched Offers is not advised as users generally have a modest selection of highly relevant promotions.","schema":{"type":"string"},"example":"Example.com"},{"name":"Category","in":"query","description":"Offer Categories.","schema":{"type":"string"},"example":"DEPARTMENTSTORE"},{"name":"OfferType","in":"query","description":"The kind of deal. POSTPAIDCREDIT- Statement Credit Offer, which is a discount that is automatically applied to the card linked to the user and utilized to make the purchase.","schema":{"type":"string"},"example":"POSTPAIDCREDIT"},{"name":"PageNumber","in":"query","description":"Segment of offers to return.","schema":{"type":"integer"},"example":1},{"name":"ItemsPerPage","in":"query","description":"Segment size of offer to be returned. Default is 25.","schema":{"type":"integer"},"example":1}],"responses":{"200":{"description":"This resource returns offers that are available to the user and conform to the search criteria (if specified).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchedOffersResponse"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/offerdetails":{"get":{"tags":["Offer Details"],"summary":"Returns Information on an Offer","description":"This resource returns extended information for the requested offer, typically used to display a detail view.\n","parameters":[{"name":"FId","in":"query","description":"Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.","required":true,"schema":{"type":"string"},"example":"999999"},{"name":"UserToken","in":"query","description":"Session identifier as returned by the UserToken resource.","required":true,"schema":{"type":"string"},"example":"mh3WonUm5xmE"},{"name":"OfferId","in":"query","description":"System-wide identifier for the campaign, not intended for end-user display.","required":true,"schema":{"type":"string"},"example":"c7dcfca7-cf35-36b0-9e67-d4f363d643e0"}],"responses":{"200":{"description":"This resource returns extended information for the requested offer, typically used to display a detail view.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OfferDetailsResponse"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/redeemedoffers":{"get":{"tags":["Redeemed Offers"],"summary":"Returns Redeemed Offers","description":"This resource returns offers that have been fulfilled by the user.\n","parameters":[{"name":"FId","in":"query","description":"Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.","required":true,"schema":{"type":"string"},"example":"999999"},{"name":"UserToken","in":"query","description":"Session identifier as returned by the UserToken resource.","required":true,"schema":{"type":"string"}},{"name":"Lang","in":"query","description":"When utilized with a multi-lingual implementation, may be the tongue and country of the user in ISO 639-1, underscore, ISO 3166-1 alpha-2 format.","schema":{"type":"string"},"example":"en_US"},{"name":"PageNumber","in":"query","description":"Segment of offers to return.","schema":{"type":"integer"},"example":1},{"name":"ItemsPerPage","in":"query","description":"Segment size of offer to be returned. Default is 25.","schema":{"type":"integer"},"example":1}],"responses":{"200":{"description":"This resource returns offers that have been fulfilled by the user.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RedeemedOffersResponse"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/statementcreditactivationdetail":{"get":{"tags":["Statement Credit Activation Detail"],"summary":"Returns Information About Redeemable Postpaid Credit Offer","description":"This resource returns extended information about the specified activated postpaid credit offer.\n","parameters":[{"name":"FId","in":"query","description":"Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.","required":true,"schema":{"type":"string"},"example":"999999"},{"name":"UserToken","in":"query","description":"Session identifier as returned by the UserToken resource.","required":true,"schema":{"type":"string"}},{"name":"ActivationId","in":"query","description":"Distinct identifier for the offer being available for redemption by the user as returned by Activate Statement Credit Offer or Redeemed Offers, not intended for end-user display.","required":true,"schema":{"type":"string"},"example":"TRU_1000136"}],"responses":{"200":{"description":"This resource returns extended information about the specified activated postpaid credit offer.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatementCreditActivationResponse"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/userfeedback":{"post":{"tags":["User Feedback"],"summary":"Provide User Feedback on Offer","description":"This resource allows a user to provide a thumbs-up or a thumbs-down rating of the specified offer. Offer matches that are disliked will be supressed from the results of future calls to Matched Offers.\n","parameters":[{"name":"FId","in":"query","description":"Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.","required":true,"schema":{"type":"string"},"example":"999999"},{"name":"UserToken","in":"query","description":"Session identifier as returned by the UserToken resource.","required":true,"schema":{"type":"string"}},{"name":"OfferId","in":"query","description":"System-wide identifier for the campaign, not intended for end-user display.","required":true,"schema":{"type":"string"},"example":"d82e1e7c-c6b9-3b46-acd0-5498731c2838"},{"name":"Feedback","in":"query","description":"User response to the offer. 0- Dislike offer. 1- Like offer.","required":true,"schema":{"type":"integer"},"example":1}],"responses":{"200":{"description":"This resource returns the user rating of the specified offer.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserFeedbackResponse"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/usersavings":{"get":{"tags":["User Savings"],"summary":"Returns Savings for the User","description":"This resource returns the accumulated and potential savings for a Personalized Offers user.\n","parameters":[{"name":"FId","in":"query","description":"Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.","required":true,"schema":{"type":"string"},"example":"999999"},{"name":"UserToken","in":"query","description":"Session identifier as returned by the UserToken resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"This resource returns the accumulated and potential savings for a Personalized Offers user.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSavingsResponse"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/usertoken":{"get":{"tags":["User Token"],"summary":"Returns User Session Token","description":"This resource creates the user session. It must be called prior to any other API calls for the specified user. The Token value does not expire.\n","parameters":[{"name":"FId","in":"query","description":"Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.","required":true,"schema":{"type":"string"},"example":"999999"},{"name":"AuthInfo","in":"query","description":"Authorization Information. AES 128-bit encrypted concatenation of \"User ID as specified in enrollment:FI ID as provided by Mastercard:current Unix time\". Key exchange and establishment of maintenance procedures occur during implementation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"This resource returns the user session token (UserToken), which is a required input to all other API resources.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTokenResponse"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"ActivateOfferResponse":{"type":"object","properties":{"Response":{"$ref":"#/components/schemas/ActivateResponse"}}},"ActivateResponse":{"type":"object","properties":{"ScActivation":{"$ref":"#/components/schemas/ScActivation"},"Status":{"$ref":"#/components/schemas/Status"}}},"ActivationResponse":{"type":"object","properties":{"ScActivation":{"$ref":"#/components/schemas/ScActivation"},"Status":{"$ref":"#/components/schemas/Status"}}},"DetailPostpaidCreditOffer":{"type":"object","properties":{"CashBack":{"type":"string","description":"Value of POSTPAIDCREDIT deal redemption.","example":"10"},"CurrencyCode":{"type":"string","description":"ISO 4217 code in which the redeeming transaction must be made to qualify for the offer.","example":"USD"},"MaxCashback":{"type":"string","description":"The most cash back which a user can earn for the offer.","example":"10"},"MinTransactionAmountToRedeem":{"type":"string","description":"The smallest purchase amount that will qualify for redemption.","example":"30"},"StatementCreditType":{"type":"string","description":"Calculation kind of the redemption value. SPEND_CASH/VISIT_CASH- fixed value. SPEND_PERCENTAGE/VISIT_PERCENTAGE- share value.","example":"SPEND_CASH"},"VisitThreshold":{"type":"string","description":"The number of purchases required to qualify for redemption.","example":"1"}}},"Error":{"type":"object","properties":{"ReasonCode":{"type":"string","description":"This will identify the reason for the error."},"Source":{"type":"string","description":"This is the unique identifier that attempts to define the field in error when available.  If a specific field can't be identified System will be returned.","example":"Atms.Atm.Location.Address.Line1"}}},"ErrorResponse":{"type":"object","properties":{"Errors":{"$ref":"#/components/schemas/Errors"}}},"Errors":{"type":"object","properties":{"Error":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"FeedbackResponse":{"type":"object","properties":{"Status":{"$ref":"#/components/schemas/Status"},"UserFeedback":{"$ref":"#/components/schemas/UserFeedback"}}},"Items":{"type":"object","properties":{"MatchedOffer":{"$ref":"#/components/schemas/MatchedOffer"}}},"MatchedOffer":{"type":"object","properties":{"ActiveSc":{"type":"string","description":"ACTIVATED_STATEMENT_CREDIT- ready for redemption by the user. AVAILABLE- requires call to Activate Statement Credit Offer to make ready for redemption.","example":"AVAILABLE"},"CurrencyCode":{"type":"string","description":"ISO 4217 code in which the redeeming transaction must be made to qualify for the offer.","example":"USD"},"Discount":{"type":"string","description":"The markdown represented by the offer, in absolute value or percentage.","example":"20"},"DiscountType":{"type":"string","description":"The kind of markdown represented by the offer. ABSOLUTE- fixed amount. PERCENTAGE- share of purchase.","example":"20"},"EventEndDate":{"type":"string","description":"Last day that redemption can be made.","format":"date","example":1341878400000},"EventStartDate":{"type":"string","description":"First day that redemption can be made by any user, may not apply to the specified user.","format":"date","example":1336608000000},"Headline":{"type":"string","description":"Brief details about the deal.","example":"Shop at Example.com and get 20% back on purchase of $25 or more"},"Language":{"type":"string","description":"Tongue of offer display text.","example":"English"},"Merchant":{"$ref":"#/components/schemas/Merchant"},"MerchantImageURL":{"type":"string","description":"Square picture of the retailer logo.","example":"https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png"},"OfferId":{"type":"string","description":"System-wide identifier for the campaign, not intended for end-user display.","example":"c7dcfca7-cf35-36b0-9e67-d4f363d643e0"},"OfferSource":{"type":"string","description":"Platform that made the offer available, not intended for end-user display.","example":"Truaxis"},"OfferType":{"type":"string","description":"The kind of deal. POSTPAIDCREDIT- Statement Credit Offer, which is a discount that is automatically applied to the card linked to the user and utilized to make the purchase.","example":"POSTPAIDCREDIT"},"Price":{"type":"string","description":"Reserved for future use.","example":"0"},"RedemptionMode":{"type":"string","description":"Type of credit made upon redemption of the offer- CASH, POINTS, or EITHER.","example":"CASH"},"ShortDescription":{"type":"string","description":"Summary of the deal, typically displayed beneath the headline in a list view.","example":"On your next purchase of $25 or more at Example.com online or at a store, receive 20% back posted to the card associated with this account."}}},"MatchedOffersResponse":{"type":"object","properties":{"Response":{"$ref":"#/components/schemas/MatchedResponse"}}},"MatchedResponse":{"type":"object","properties":{"CurrentPage":{"type":"integer","description":"Count of current offer return segment.","example":1},"Items":{"$ref":"#/components/schemas/Items"},"ItemsPerPage":{"type":"integer","description":"Count of offers in the returned segment.","example":1},"NumberOfPages":{"type":"integer","description":"Count of offer return segments.","example":1},"Status":{"$ref":"#/components/schemas/Status"},"TotalCount":{"type":"integer","description":"Count of all offers available for criteria.","example":8}}},"Merchant":{"type":"object","properties":{"Category":{"type":"string","description":"The type of retailer to which the offer applies.","example":"DEPARTMENTSTORE"},"MerchantDistance":{"type":"string","description":"Reserved for future use.","example":"0"},"Name":{"type":"string","description":"Display name for the retailer to which the offer applies.","example":"Example.com"},"StoreLocatorUrl":{"type":"string","description":"Web page where retailer outlets can be found.","example":"http://www.example.com/locations/"},"WebsiteUrl":{"type":"string","description":"The internet address of the retailer.","example":"http://www.example.com/"}}},"OfferDetails":{"type":"object","properties":{"CurrencyCode":{"type":"string","description":"ISO 4217 code in which the redeeming transaction must be made to qualify for the offer.","example":"USD"},"DetailPostpaidCreditOffer":{"$ref":"#/components/schemas/DetailPostpaidCreditOffer"},"EventEndDate":{"type":"string","description":"Last day that redemption can be made.","format":"date","example":1341878400000},"EventStartDate":{"type":"string","description":"First day that redemption can be made by any user, may not apply to the specified user.","format":"date","example":1336608000000},"Headline":{"type":"string","description":"Brief details about the deal.","example":"Shop at Example.com and get 20% back on purchase of $25 or more"},"Language":{"type":"string","description":"Tongue of offer display text.","example":"English"},"LinkOut":{"type":"object","description":"Deprecated."},"LongDescription":{"type":"string","description":"Explanation of the deal, typically displayed beneath the headline in a detail view. Often the same as the ShortDescription.","example":"On your next purchase of $30 or more at Example.com online or at a store, receive $10.00 back posted to the card associated with this account."},"Merchant":{"$ref":"#/components/schemas/Merchant"},"OfferDisplay":{"$ref":"#/components/schemas/OfferDisplay"},"OfferId":{"type":"string","description":"System-wide identifier for the campaign, not intended for end-user display.","example":"c7dcfca7-cf35-36b0-9e67-d4f363d643e0"},"OfferMedia":{"$ref":"#/components/schemas/OfferMedia"},"OfferSource":{"type":"string","description":"Platform that made the offer available, not intended for end-user display.","example":"Truaxis"},"OfferType":{"type":"string","description":"The kind of deal. POSTPAIDCREDIT- Statement Credit Offer, which is a discount that is automatically applied to the card linked to the user and utilized to make the purchase.","example":"POSTPAIDCREDIT"},"OfferUrl":{"type":"object","description":"Deprecated."},"RedemptionMode":{"type":"string","description":"Type of credit made upon redemption of the offer- CASH, POINTS, or EITHER.","example":"CASH"},"RedemptionType":{"type":"string","description":"Where a purchase may be made to qualify for the offer- INSTORE, ONLINE, or ONLINE-INSTORE (either).","example":"ONLINE-INSTORE"},"ShortDescription":{"type":"string","description":"Summary of the deal, typically displayed beneath the headline in a list view.","example":"On your next purchase of $25 or more at Example.com online or at a store, receive 20% back posted to the card associated with this account."}}},"OfferDetailsResponse":{"type":"object","properties":{"Response":{"$ref":"#/components/schemas/OfferResponse"}}},"OfferDisplay":{"type":"object","properties":{"DetailedTerms":{"type":"string","description":"Conditions required for successful redemption of the offer.","example":"Offer is non-transferable and applies to one purchase of a min. of $30 online or in store charged to your card by the expiration date."}}},"OfferImages":{"type":"object","properties":{"AltText":{"type":"string","description":"Description of a picture or graphic that may be displayed along with the offer information.","example":"Example.com"},"Description":{"type":"string","description":"Verbal details of the image, may be used for accessiblity.","example":"The logo for Example.com"},"ImageUrl":{"type":"string","description":"A picture or graphic that may be displayed along with the offer information.","example":"https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png"}}},"OfferMedia":{"type":"object","properties":{"OfferImages":{"type":"array","items":{"$ref":"#/components/schemas/OfferImages"}}}},"OfferResponse":{"type":"object","properties":{"OfferDetails":{"$ref":"#/components/schemas/OfferDetails"},"Status":{"$ref":"#/components/schemas/Status"}}},"PrepaidOfferSavings":{"type":"object","properties":{"AmountSaved":{"type":"string","description":"Deprecated.","example":"0"},"NumAvailable":{"type":"string","description":"Deprecated.","example":"0"},"NumPurchased":{"type":"string","description":"Deprecated.","example":"0"},"PotentialSavings":{"type":"string","description":"Deprecated.","example":"0"}}},"RedeemedOffersResponse":{"type":"object","properties":{"Response":{"$ref":"#/components/schemas/ReedemedResponse"}}},"RedemedItems":{"type":"object","properties":{"RedemedOffer":{"$ref":"#/components/schemas/RedemedOffer"}}},"RedemedOffer":{"type":"object","properties":{"ActivationDate":{"type":"string","description":"Day on which the offer became ready for redemption.","format":"date","example":1444867200000},"ActivationId":{"type":"string","description":"Distinct identifier for the offer being available for redemption by the user, not intended for end-user display.","example":"TRU_1000136"},"CurrencyCode":{"type":"string","description":"ISO 4217 code in which the redeeming transaction must be made to qualify for the offer.","example":"USD"},"DetailPostpaidCreditOffer":{"$ref":"#/components/schemas/DetailPostpaidCreditOffer"},"EventEndDate":{"type":"string","description":"Last day that redemption can be made.","format":"date","example":1341878400000},"EventStartDate":{"type":"string","description":"First day that redemption can be made.","format":"date","example":1336608000000},"Headline":{"type":"string","description":"Brief details about the deal.","example":"Shop at Example.com and get 20% back on purchase of $25 or more"},"Language":{"type":"string","description":"Tongue of offer display text.","example":"English"},"LinkoutUrl":{"type":"string","description":"Deprecated, disregard."},"LongDescription":{"type":"string","description":"Explanation of the deal, typically displayed beneath the headline in a detail view. Often the same as the ShortDescription.","example":"On your next purchase of $30 or more at Example.com online or at a store, receive $10.00 back posted to the card associated with this account."},"MaxUserRedemptions":{"type":"integer","description":"The number of times that the cardholder may take advantage of this offer.","example":1},"Merchant":{"$ref":"#/components/schemas/RedemedOfferMerchant"},"OfferDisplay":{"$ref":"#/components/schemas/OfferDisplay"},"OfferId":{"type":"string","description":"System-wide identifier for the campaign, not intended for end-user display.","example":"c7dcfca7-cf35-36b0-9e67-d4f363d643e0"},"OfferMedia":{"$ref":"#/components/schemas/OfferMedia"},"OfferSource":{"type":"string","description":"Platform that made the offer available, not intended for end-user display.","example":"Truaxis"},"OfferType":{"type":"string","description":"The kind of deal. POSTPAIDCREDIT- Statement Credit Offer, which is a discount that is automatically applied to the card linked to the user and utilized to make the purchase.","example":"POSTPAIDCREDIT"},"OfferUrl":{"type":"string","description":"Deprecated, disregard."},"RedemptionMode":{"type":"string","description":"Type of credit made upon redemption of the offer- CASH, POINTS, or EITHER.","example":"CASH"},"RedemptionType":{"type":"string","description":"Where a purchase may be made to qualify for the offer- INSTORE, ONLINE, or ONLINE-INSTORE (either).","example":"ONLINE-INSTORE"},"ShortDescription":{"type":"string","description":"Summary of the deal, typically displayed beneath the headline in a list view.","example":"On your next purchase of $30 or more at Example.com inline or at a store, receive $10.00 back posted to the card associated with this account."},"Transactions":{"$ref":"#/components/schemas/Transaction"}}},"RedemedOfferMerchant":{"type":"object","properties":{"Category":{"type":"string","description":"The type of retailer to which the offer applies, not intended for end-user display.","example":"DEPARTMENTSTORE"},"MerchantDistance":{"type":"number","description":"Reserved for future use.","example":0.0},"Name":{"type":"string","description":"Display name for the retailer to which the offer applies.","example":"Example.com"},"StoreLocatorUrl":{"type":"string","description":"Web page where retailer outlets can be found.","example":"http://www.example.com/locations/"},"WebsiteUrl":{"type":"string","description":"The internet address of the retailer.","example":"http://www.example.com/"}}},"ReedemedResponse":{"type":"object","properties":{"CurrentPage":{"type":"integer","description":"Count of current offer return segment.","example":1},"Items":{"$ref":"#/components/schemas/RedemedItems"},"ItemsPerPage":{"type":"integer","description":"Count of offers in the returned segment.","example":1},"NumberOfPages":{"type":"integer","description":"Count of offer return segments.","example":1},"Status":{"$ref":"#/components/schemas/Status"},"TotalCount":{"type":"integer","description":"Count of all offers available for criteria.","example":8}}},"SavingsResponse":{"type":"object","properties":{"Status":{"$ref":"#/components/schemas/Status"},"UserSavings":{"$ref":"#/components/schemas/UserSavings"}}},"ScActivation":{"type":"object","properties":{"ActivationDate":{"type":"string","description":"Day on which the offer became ready for redemption.","format":"date","example":1444867200000},"ActivationId":{"type":"string","description":"Distinct identifier for the offer being available for redemption by the user, not intended for end-user display.","example":"TRU_1000136"},"CashBack":{"type":"string","description":"Value earned upon fulfillment of offer conditions, not applicable to points activations.","example":"0"},"DaysRemaining":{"type":"string","description":"Number of days until the offer expires.","example":"13"},"Headline":{"type":"string","description":"Brief details about the deal.","example":"Shop at Example.com and get $10.00 back on purchase of $30 or more"},"Merchant":{"type":"string","description":"Display name for the retailer to which the offer applies.","example":"Example.com"},"MerchantLogo":{"type":"string","description":"Square retailer brand image.","example":"https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png"},"OfferId":{"type":"string","description":"System-wide identifier for the campaign, not intended for end-user display.","example":"c7dcfca7-cf35-36b0-9e67-d4f363d643e0"},"PointsEarned":{"type":"string","description":"Value earned upon fulfillment of offer conditions, not applicable to cash activations.","example":"0"},"RedemptionEndDate":{"type":"string","description":"Last day on which a purchase will qualify for the offer.","format":"date","example":1446076800000},"RedemptionMode":{"type":"string","description":"Type of credit made upon redemption of the offer- CASH or POINTS.","example":"CASH"},"RemainingSpend":{"type":"string","description":"Purchase amount still required to redeem the offer.","example":"30"},"ShortDescription":{"type":"string","description":"Summary of the deal, typically displayed beneath the headline in a list view.","example":"On your next purchase of $30 or more at Example.com inline or at a store, receive $10.00 back posted to the card associated with this account."},"Status":{"type":"string","description":"Disposition of offer- ACTIVATED, REDEEMED, CREDIT_DECLINED.","example":"ACTIVATED"},"TotalSpend":{"type":"string","description":"Count of purchases user made to redeem the offer.","example":"0"}}},"StatementCreditActivationResponse":{"type":"object","properties":{"Response":{"$ref":"#/components/schemas/ActivationResponse"}}},"StatementCreditOffersSavings":{"type":"object","properties":{"EarnedCashback":{"type":"string","description":"Value of postpaid credit deal redemptions.","example":"21"},"NumAvailable":{"type":"string","description":"Count of postpaid credit deals that are ready for activation or redemption.","example":"0"},"NumRedeemed":{"type":"string","description":"Count of postpaid credit deals redeemed.","example":"1"},"PotentialSavings":{"type":"string","description":"Minimum value of unredeemed postpaid credit deals.","example":"195"}}},"Status":{"type":"object","properties":{"Code":{"type":"string","description":"Status Code","example":"600"},"Message":{"type":"string","description":"Success or Failure","example":"Success"}}},"TokenResponse":{"type":"object","properties":{"Status":{"$ref":"#/components/schemas/Status"},"UserToken":{"$ref":"#/components/schemas/UserToken"}}},"Transaction":{"type":"object","properties":{"CashBackEarned":{"type":"string","description":"Value earned upon fulfillment of offer conditions, not applicable to points activations.","example":"0"},"PointsEarned":{"type":"string","description":"Value earned upon fulfillment of offer conditions, not applicable to cash activations.","example":"0"},"RedemptionDate":{"type":"string","description":"The day on which a purchase fulfilled the offer.","format":"date","example":1444608000000},"TransactionAmount":{"type":"string","description":"Value of the purchase that fulfilled the offer, decimal is implied.","example":"12"}}},"UserFeedback":{"type":"object","properties":{"Feedback":{"type":"string","description":"Response provided by the user.","example":"1"},"OfferId":{"type":"string","description":"System-wide identifier for the campaign, not intended for end-user display.","example":"c7dcfca7-cf35-36b0-9e67-d4f363d643e0"}}},"UserFeedbackResponse":{"type":"object","properties":{"Response":{"$ref":"#/components/schemas/FeedbackResponse"}}},"UserSavings":{"type":"object","properties":{"PrepaidOfferSavings":{"$ref":"#/components/schemas/PrepaidOfferSavings"},"StatementCreditOffersSavings":{"$ref":"#/components/schemas/StatementCreditOffersSavings"},"TotalAmountSaved":{"type":"string","description":"Combined value of purchased and redeemed deals.","example":"21"},"TotalOffersUsed":{"type":"string","description":"Combined count of purchased and redeemed deals.","example":"1"}}},"UserSavingsResponse":{"type":"object","properties":{"Response":{"$ref":"#/components/schemas/SavingsResponse"}}},"UserToken":{"type":"object","properties":{"Token":{"type":"string","description":"Session identifier that is passed for subsequent API calls.","example":"mh3WonUm5xmE"}}},"UserTokenResponse":{"type":"object","properties":{"Response":{"$ref":"#/components/schemas/TokenResponse"}}}}}}