{"openapi":"3.0.1","info":{"title":"Microsoft Insights","description":"Azure Monitor client to create/update/delete Scheduled Query Rules","version":"2018-04-16"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/microsoft.insights/scheduledQueryRules":{"get":{"tags":["scheduledQueryRules"],"description":"List the Log Search rules within a subscription group.","operationId":"ScheduledQueryRules_ListBySubscription","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. For more information please see https://msdn.microsoft.com/en-us/library/azure/dn931934.aspx","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request for a list of alert rules","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogSearchRuleResourceCollection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/scheduledQueryRules":{"get":{"tags":["scheduledQueryRules"],"description":"List the Log Search rules within a resource group.","operationId":"ScheduledQueryRules_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. For more information please see https://msdn.microsoft.com/en-us/library/azure/dn931934.aspx","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request for a list of alert rules","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogSearchRuleResourceCollection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/scheduledQueryRules/{ruleName}":{"get":{"tags":["scheduledQueryRules"],"description":"Gets an Log Search rule","operationId":"ScheduledQueryRules_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"ruleName","in":"path","description":"The name of the rule.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request to get a Log Search rule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogSearchRuleResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["scheduledQueryRules"],"description":"Creates or updates an log search rule.","operationId":"ScheduledQueryRules_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"ruleName","in":"path","description":"The name of the rule.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters of the rule to create or update.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogSearchRuleResource"}}},"required":true},"responses":{"200":{"description":"Successful request to update an Log Search rule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogSearchRuleResource"}}}},"201":{"description":"Created alert rule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogSearchRuleResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["scheduledQueryRules"],"description":"Deletes a Log Search rule","operationId":"ScheduledQueryRules_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"ruleName","in":"path","description":"The name of the rule.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request to delete a  Log Search rule"},"204":{"description":"No Content. Resource not found"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["scheduledQueryRules"],"description":"Update log search Rule.","operationId":"ScheduledQueryRules_Update","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"ruleName","in":"path","description":"The name of the rule.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters of the rule to update.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogSearchRuleResourcePatch"}}},"required":true},"responses":{"200":{"description":"Successful request to update an Log Search rule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogSearchRuleResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"Action":{"required":["odata.type"],"type":"object","properties":{"odata.type":{"type":"string","description":"Specifies the action. Supported values - AlertingAction, LogToMetricAction"}},"description":"Action descriptor.","discriminator":{"propertyName":"odata.type"}},"AlertSeverity":{"type":"string","description":"Severity Level of Alert","enum":["0","1","2","3","4"]},"AlertingAction":{"properties":{"aznsAction":{"$ref":"#/components/schemas/AzNsActionGroup"},"severity":{"$ref":"#/components/schemas/AlertSeverity"},"throttlingInMin":{"type":"integer","description":"time (in minutes) for which Alerts should be throttled or suppressed.","format":"int32"},"trigger":{"$ref":"#/components/schemas/TriggerCondition"}},"description":"Specify action need to be taken when rule type is Alert","allOf":[{"$ref":"#/components/schemas/Action"}]},"AzNsActionGroup":{"type":"object","properties":{"actionGroup":{"type":"array","description":"Azure Action Group reference.","items":{"type":"string"}},"customWebhookPayload":{"type":"string","description":"Custom payload to be sent for all webhook URI in Azure action group"},"emailSubject":{"type":"string","description":"Custom subject override for all email ids in Azure action group"}},"description":"Azure action group"},"ConditionalOperator":{"type":"string","description":"Result Condition Evaluation criteria. Supported Values - 'GreaterThan' or 'LessThan' or 'Equal'.","enum":["GreaterThan","LessThan","Equal"]},"Criteria":{"required":["metricName"],"type":"object","properties":{"dimensions":{"type":"array","description":"List of Dimensions for creating metric","items":{"$ref":"#/components/schemas/Dimension"}},"metricName":{"type":"string","description":"Name of the metric"}},"description":"Specifies the criteria for converting log to metric."},"Dimension":{"required":["name","operator","values"],"type":"object","properties":{"name":{"type":"string","description":"Name of the dimension"},"operator":{"type":"string","description":"Operator for dimension values","enum":["Include"]},"values":{"type":"array","description":"List of dimension values","items":{"type":"string"}}},"description":"Specifies the criteria for converting log to metric."},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."},"LogMetricTrigger":{"type":"object","properties":{"metricColumn":{"type":"string","description":"Evaluation of metric on a particular column"},"metricTriggerType":{"$ref":"#/components/schemas/MetricTriggerType"},"threshold":{"type":"number","description":"The threshold of the metric trigger.","format":"double"},"thresholdOperator":{"$ref":"#/components/schemas/ConditionalOperator"}},"description":"A log metrics trigger descriptor."},"LogSearchRule":{"required":["action","source"],"type":"object","properties":{"action":{"$ref":"#/components/schemas/Action"},"description":{"type":"string","description":"The description of the Log Search rule."},"enabled":{"type":"string","description":"The flag which indicates whether the Log Search rule is enabled. Value should be true or false","enum":["true","false"]},"lastUpdatedTime":{"type":"string","description":"Last time the rule was updated in IS08601 format.","format":"date-time","readOnly":true},"provisioningState":{"type":"string","description":"Provisioning state of the scheduled query rule","readOnly":true,"enum":["Succeeded","Deploying","Canceled","Failed"]},"schedule":{"$ref":"#/components/schemas/Schedule"},"source":{"$ref":"#/components/schemas/Source"}},"description":"Log Search Rule Definition"},"LogSearchRulePatch":{"type":"object","properties":{"enabled":{"type":"string","description":"The flag which indicates whether the Log Search rule is enabled. Value should be true or false","enum":["true","false"]}},"description":"Log Search Rule Definition for Patching"},"LogSearchRuleResource":{"properties":{"properties":{"$ref":"#/components/schemas/LogSearchRule"}},"description":"The Log Search Rule resource.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"LogSearchRuleResourceCollection":{"type":"object","properties":{"value":{"type":"array","description":"The values for the Log Search Rule resources.","items":{"$ref":"#/components/schemas/LogSearchRuleResource"}}},"description":"Represents a collection of Log Search rule resources."},"LogSearchRuleResourcePatch":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/LogSearchRulePatch"},"tags":{"type":"object","description":"Resource tags"}},"description":"The log search rule resource for patch operations."},"LogToMetricAction":{"properties":{"criteria":{"type":"array","description":"Criteria of Metric","items":{"$ref":"#/components/schemas/Criteria"}}},"description":"Specify action need to be taken when rule type is converting log to metric","allOf":[{"$ref":"#/components/schemas/Action"}]},"MetricTriggerType":{"type":"string","description":"Metric Trigger Evaluation Type","enum":["Consecutive","Total"]},"QueryType":{"type":"string","description":"Set value to 'ResultAccount'","enum":["ResultCount"]},"Resource":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"Azure resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Azure resource name","readOnly":true},"tags":{"type":"object","description":"Resource tags"},"type":{"type":"string","description":"Azure resource type","readOnly":true}},"description":"An azure resource object"},"Schedule":{"required":["frequencyInMinutes","timeWindowInMinutes"],"type":"object","properties":{"frequencyInMinutes":{"type":"integer","description":"frequency (in minutes) at which rule condition should be evaluated.","format":"int32"},"timeWindowInMinutes":{"type":"integer","description":"Time window for which data needs to be fetched for query (should be greater than or equal to frequencyInMinutes).","format":"int32"}},"description":"Defines how often to run the search and the time interval."},"Source":{"required":["dataSourceId"],"type":"object","properties":{"authorizedResources":{"type":"array","description":"List of  Resource referred into query","items":{"type":"string"}},"dataSourceId":{"type":"string","description":"The resource uri over which log search query is to be run."},"query":{"type":"string","description":"Log search query. Required for action type - AlertingAction"},"queryType":{"$ref":"#/components/schemas/QueryType"}},"description":"Specifies the log search query."},"TriggerCondition":{"required":["threshold","thresholdOperator"],"type":"object","properties":{"metricTrigger":{"$ref":"#/components/schemas/LogMetricTrigger"},"threshold":{"type":"number","description":"Result or count threshold based on which rule should be triggered.","format":"double"},"thresholdOperator":{"$ref":"#/components/schemas/ConditionalOperator"}},"description":"The condition that results in the Log Search rule."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"FilterParameter":{"name":"$filter","in":"query","description":"The filter to apply on the operation. For more information please see https://msdn.microsoft.com/en-us/library/azure/dn931934.aspx","schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},"RuleNameParameter":{"name":"ruleName","in":"path","description":"The name of the rule.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}