{"openapi":"3.0.1","info":{"title":"Azure CDN WebApplicationFirewallManagement","description":"APIs to manage web application firewall rules for Azure CDN","version":"2019-06-15-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/CdnWebApplicationFirewallManagedRuleSets":{"get":{"tags":["WebApplicationFirewallManagedRuleSets"],"description":"Lists all available managed rule sets.","operationId":"ManagedRuleSets_List","parameters":[{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The operation returns a list of all available web application firewall managed rule sets.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagedRuleSetDefinitionList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code.","readOnly":true},"message":{"type":"string","description":"Error message indicating why the operation failed.","readOnly":true}},"description":"Error response indicates CDN service is not able to process the incoming request. The reason is provided in the error message."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/CdnWebApplicationFirewallPolicies":{"get":{"tags":["WebApplicationFirewallPolicies"],"description":"Lists all of the protection policies within a resource group.","operationId":"Policies_List","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$","type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CdnWebApplicationFirewallPolicyList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code.","readOnly":true},"message":{"type":"string","description":"Error message indicating why the operation failed.","readOnly":true}},"description":"Error response indicates CDN service is not able to process the incoming request. The reason is provided in the error message."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/CdnWebApplicationFirewallPolicies/{policyName}":{"get":{"tags":["WebApplicationFirewallPolicies"],"description":"Retrieve protection policy with specified name within a resource group.","operationId":"Policies_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$","type":"string"}},{"name":"policyName","in":"path","description":"The name of the CdnWebApplicationFirewallPolicy.","required":true,"schema":{"maxLength":128,"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CdnWebApplicationFirewallPolicy"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code.","readOnly":true},"message":{"type":"string","description":"Error message indicating why the operation failed.","readOnly":true}},"description":"Error response indicates CDN service is not able to process the incoming request. The reason is provided in the error message."}}}}}},"put":{"tags":["WebApplicationFirewallPolicies"],"description":"Create or update policy with specified rule set name within a resource group.","operationId":"Policies_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$","type":"string"}},{"name":"policyName","in":"path","description":"The name of the CdnWebApplicationFirewallPolicy.","required":true,"schema":{"maxLength":128,"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Policy to be created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CdnWebApplicationFirewallPolicy"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CdnWebApplicationFirewallPolicy"}}}},"201":{"description":"Created. The request has been fulfilled and a new protection policy has been created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CdnWebApplicationFirewallPolicy"}}}},"202":{"description":"Accepted. The request has been accepted for processing and the operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CdnWebApplicationFirewallPolicy"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code.","readOnly":true},"message":{"type":"string","description":"Error message indicating why the operation failed.","readOnly":true}},"description":"Error response indicates CDN service is not able to process the incoming request. The reason is provided in the error message."}}}}}},"delete":{"tags":["WebApplicationFirewallPolicies"],"description":"Deletes Policy","operationId":"Policies_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$","type":"string"}},{"name":"policyName","in":"path","description":"The name of the CdnWebApplicationFirewallPolicy.","required":true,"schema":{"maxLength":128,"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete successful."},"204":{"description":"No Content. The request has been accepted but the policy was not found."}}},"patch":{"tags":["WebApplicationFirewallPolicies"],"description":"Update an existing CdnWebApplicationFirewallPolicy with the specified policy name under the specified subscription and resource group","operationId":"Policies_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$","type":"string"}},{"name":"policyName","in":"path","description":"The name of the CdnWebApplicationFirewallPolicy.","required":true,"schema":{"maxLength":128,"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"CdnWebApplicationFirewallPolicy parameters to be patched.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CdnWebApplicationFirewallPolicyPatchParameters"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CdnWebApplicationFirewallPolicy"}}}},"202":{"description":"Accepted. The request has been accepted for processing and the operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CdnWebApplicationFirewallPolicy"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code.","readOnly":true},"message":{"type":"string","description":"Error message indicating why the operation failed.","readOnly":true}},"description":"Error response indicates CDN service is not able to process the incoming request. The reason is provided in the error message."}}}}}}}},"components":{"schemas":{"ActionType":{"type":"string","description":"Defines the action to take on rule match.","enum":["Allow","Block","Log","Redirect"]},"CdnEndpoint":{"type":"object","properties":{"id":{"type":"string","description":"ARM Resource ID string."}},"description":"Defines the ARM Resource ID for the linked endpoints"},"CdnWebApplicationFirewallPolicy":{"properties":{"etag":{"type":"string","description":"Gets a unique read-only string that changes whenever the resource is updated."},"properties":{"$ref":"#/components/schemas/CdnWebApplicationFirewallPolicyProperties"},"sku":{"type":"object","properties":{"name":{"type":"string","description":"Name of the pricing tier.","enum":["Standard_Verizon","Premium_Verizon","Custom_Verizon","Standard_Akamai","Standard_ChinaCdn","Standard_Microsoft","Premium_ChinaCdn"]}},"description":"The pricing tier (defines a CDN provider, feature list and rate) of the CDN profile."}},"description":"Defines web application firewall policy for Azure CDN.","allOf":[{"properties":{"location":{"type":"string","description":"Resource location."},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"The resource model definition for a ARM tracked top level resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"The core properties of ARM resources"}]}]},"CdnWebApplicationFirewallPolicyList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of WebApplicationFirewallPolicy objects if there are any."},"value":{"type":"array","description":"List of Azure CDN WebApplicationFirewallPolicies within a resource group.","readOnly":true,"items":{"$ref":"#/components/schemas/CdnWebApplicationFirewallPolicy"}}},"description":"Defines a list of WebApplicationFirewallPolicies for Azure CDN. It contains a list of WebApplicationFirewallPolicy objects and a URL link to get the next set of results."},"CdnWebApplicationFirewallPolicyPatchParameters":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"CdnWebApplicationFirewallPolicy tags"}},"description":"Properties required to update a CdnWebApplicationFirewallPolicy."},"CdnWebApplicationFirewallPolicyProperties":{"type":"object","properties":{"customRules":{"$ref":"#/components/schemas/CustomRuleList"},"endpointLinks":{"type":"array","description":"Describes Azure CDN endpoints associated with this Web Application Firewall policy.","readOnly":true,"items":{"$ref":"#/components/schemas/CdnEndpoint"}},"managedRules":{"$ref":"#/components/schemas/ManagedRuleSetList"},"policySettings":{"$ref":"#/components/schemas/policySettings"},"provisioningState":{"type":"string","description":"Provisioning state of the WebApplicationFirewallPolicy.","readOnly":true,"enum":["Creating","Succeeded","Failed"]},"rateLimitRules":{"$ref":"#/components/schemas/RateLimitRuleList"},"resourceState":{"title":"Resource status of the policy.","type":"string","readOnly":true,"enum":["Creating","Enabling","Enabled","Disabling","Disabled","Deleting"]}},"description":"Defines CDN web application firewall policy properties."},"CustomRule":{"required":["action","matchConditions","name","priority"],"type":"object","properties":{"action":{"$ref":"#/components/schemas/ActionType"},"enabledState":{"type":"string","description":"Describes if the custom rule is in enabled or disabled state. Defaults to Enabled if not specified.","enum":["Disabled","Enabled"]},"matchConditions":{"type":"array","description":"List of match conditions.","items":{"$ref":"#/components/schemas/MatchCondition"}},"name":{"type":"string","description":"Defines the name of the custom rule"},"priority":{"maximum":1000,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false,"type":"integer","description":"Defines in what order this rule be evaluated in the overall list of custom rules"}},"description":"Defines the common attributes for a custom rule that can be included in a waf policy"},"CustomRuleList":{"type":"object","properties":{"rules":{"type":"array","description":"List of rules","items":{"$ref":"#/components/schemas/CustomRule"}}},"description":"Defines contents of custom rules"},"ManagedRuleDefinition":{"type":"object","properties":{"description":{"type":"string","description":"Describes the functionality of the managed rule.","readOnly":true},"ruleId":{"type":"string","description":"Identifier for the managed rule.","readOnly":true}},"description":"Describes a managed rule definition."},"ManagedRuleGroupDefinition":{"type":"object","properties":{"description":{"type":"string","description":"Description of the managed rule group.","readOnly":true},"ruleGroupName":{"type":"string","description":"Name of the managed rule group.","readOnly":true},"rules":{"type":"array","description":"List of rules within the managed rule group.","readOnly":true,"items":{"$ref":"#/components/schemas/ManagedRuleDefinition"}}},"description":"Describes a managed rule group."},"ManagedRuleGroupOverride":{"required":["ruleGroupName"],"type":"object","properties":{"ruleGroupName":{"type":"string","description":"Describes the managed rule group within the rule set to override"},"rules":{"type":"array","description":"List of rules that will be disabled. If none specified, all rules in the group will be disabled.","items":{"$ref":"#/components/schemas/ManagedRuleOverride"}}},"description":"Defines a managed rule group override setting."},"ManagedRuleOverride":{"required":["ruleId"],"type":"object","properties":{"action":{"$ref":"#/components/schemas/ActionType"},"enabledState":{"type":"string","description":"Describes if the managed rule is in enabled or disabled state. Defaults to Disabled if not specified.","enum":["Disabled","Enabled"]},"ruleId":{"type":"string","description":"Identifier for the managed rule."}},"description":"Defines a managed rule group override setting."},"ManagedRuleSet":{"required":["ruleSetType","ruleSetVersion"],"type":"object","properties":{"anomalyScore":{"maximum":20,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false,"type":"integer","description":"Verizon only : If the rule set supports anomaly detection mode, this describes the threshold for blocking requests."},"ruleGroupOverrides":{"type":"array","description":"Defines the rule overrides to apply to the rule set.","items":{"$ref":"#/components/schemas/ManagedRuleGroupOverride"}},"ruleSetType":{"type":"string","description":"Defines the rule set type to use."},"ruleSetVersion":{"type":"string","description":"Defines the version of the rule set to use."}},"description":"Defines a managed rule set."},"ManagedRuleSetDefinition":{"properties":{"properties":{"$ref":"#/components/schemas/ManagedRuleSetDefinitionProperties"},"sku":{"type":"object","properties":{"name":{"type":"string","description":"Name of the pricing tier.","enum":["Standard_Verizon","Premium_Verizon","Custom_Verizon","Standard_Akamai","Standard_ChinaCdn","Standard_Microsoft","Premium_ChinaCdn"]}},"description":"The pricing tier (defines a CDN provider, feature list and rate) of the CDN profile."}},"description":"Describes a managed rule set definition.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"The core properties of ARM resources"}]},"ManagedRuleSetDefinitionList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to retrieve next set of managed rule set definitions."},"value":{"type":"array","description":"List of managed rule set definitions.","readOnly":true,"items":{"$ref":"#/components/schemas/ManagedRuleSetDefinition"}}},"description":"List of managed rule set definitions available for use in a policy."},"ManagedRuleSetDefinitionProperties":{"type":"object","properties":{"provisioningState":{"type":"string","description":"Provisioning state of the managed rule set.","readOnly":true},"ruleGroups":{"type":"array","description":"Rule groups of the managed rule set.","readOnly":true,"items":{"$ref":"#/components/schemas/ManagedRuleGroupDefinition"}},"ruleSetType":{"type":"string","description":"Type of the managed rule set.","readOnly":true},"ruleSetVersion":{"type":"string","description":"Version of the managed rule set type.","readOnly":true}},"description":"Properties for a managed rule set definition."},"ManagedRuleSetList":{"type":"object","properties":{"managedRuleSets":{"type":"array","description":"List of rule sets.","items":{"$ref":"#/components/schemas/ManagedRuleSet"}}},"description":"Defines the list of managed rule sets for the policy."},"MatchCondition":{"required":["matchValue","matchVariable","operator"],"type":"object","properties":{"matchValue":{"type":"array","description":"List of possible match values.","items":{"type":"string"}},"matchVariable":{"type":"string","description":"Match variable to compare against.","enum":["RemoteAddr","Country","RequestMethod","RequestHeader","RequestUri","QueryString","RequestBody","Cookies","PostArgs"]},"negateCondition":{"type":"boolean","description":"Describes if the result of this condition should be negated."},"operator":{"type":"string","description":"Describes operator to be matched","enum":["Any","IPMatch","GeoMatch","Equal","Contains","LessThan","GreaterThan","LessThanOrEqual","GreaterThanOrEqual","BeginsWith","EndsWith","RegEx"]},"selector":{"type":"string","description":"Selector can used to match a specific key for QueryString, RequestUri, RequestHeaders or RequestBody."},"transforms":{"type":"array","description":"List of transforms.","items":{"$ref":"#/components/schemas/TransformType"}}},"description":"Define match conditions"},"RateLimitRule":{"properties":{"rateLimitDurationInMinutes":{"maximum":60,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false,"type":"integer","description":"Defines rate limit duration. Default is 1 minute."},"rateLimitThreshold":{"minimum":0,"exclusiveMinimum":false,"type":"integer","description":"Defines rate limit threshold."}},"description":"Defines a rate limiting rule that can be included in a waf policy","allOf":[{"$ref":"#/components/schemas/CustomRule"}]},"RateLimitRuleList":{"type":"object","properties":{"rules":{"type":"array","description":"List of rules","items":{"$ref":"#/components/schemas/RateLimitRule"}}},"description":"Defines contents of rate limit rules"},"TransformType":{"type":"string","description":"Describes what transforms were applied before matching.","enum":["Lowercase","Uppercase","Trim","UrlDecode","UrlEncode","RemoveNulls"]},"policySettings":{"type":"object","properties":{"defaultCustomBlockResponseBody":{"pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$","type":"string","description":"If the action type is block, customer can override the response body. The body must be specified in base64 encoding."},"defaultCustomBlockResponseStatusCode":{"maximum":599,"exclusiveMaximum":false,"minimum":200,"exclusiveMinimum":false,"type":"integer","description":"If the action type is block, this field defines the default customer overridable http response status code."},"defaultRedirectUrl":{"type":"string","description":"If action type is redirect, this field represents the default redirect URL for the client."},"enabledState":{"type":"string","description":"describes if the policy is in enabled state or disabled state","enum":["Disabled","Enabled"]},"mode":{"type":"string","description":"Describes if it is in detection mode or prevention mode at policy level.","enum":["Prevention","Detection"]}},"description":"Defines contents of a web application firewall global configuration"}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}},"PolicyNameParameter":{"name":"policyName","in":"path","description":"The name of the CdnWebApplicationFirewallPolicy.","required":true,"schema":{"maxLength":128,"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$","type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}