{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "rePower",
    "version" : "V2"
  },
  "servers" : [ {
    "url" : "https://api.mastercard.com/"
  } ],
  "tags" : [ {
    "name" : "rePower Transfer"
  }, {
    "name" : "rePower Transfer Reversal"
  } ],
  "paths" : {
    "/repower/v2/repower" : {
      "post" : {
        "tags" : [ "rePower Transfer" ],
        "description" : "Mastercard rePower empowers consumers to instantly add money to eligible Mastercard cards. Money is available immediately for expenditures anywhere Mastercard prepaid account is accepted. The ease with which cardholders can convert cash to prepaid card funds turns their reloadable prepaid cards into valuable and practical financial tools. Making the reload process simple and accessible provides merchants with an opportunity to increase cardholder traffic. Unlike other top-up services, merchants have the flexibility to set their own reload fees.  This resource streamlines development efforts to offer Mastercard rePower services, through quick and convenient web services with the following benefits: 1)Savings in development and operational costs associated with implementing a standard MIP connection.  2)Requires support for only a single acquiring interface.  3)Leverages existing processing messages and transaction codes  4)Mastercard provides a net settlement guarantee for each reload transaction  5)Supports EMV, PayPass & MDES transactions.  This resource facilitates the ability for cardholders to reload their prepaid cards easily and securely. \n\n",
        "operationId" : "repowerPost2",
        "requestBody" : {
          "description" : "Contains the details of the repower request message.",
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/Repowerrequest_1_wrapper"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Response details",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Repower_5_wrapper"
                }
              }
            }
          }
        }
      }
    },
    "/repower/v2/repowerreversal" : {
      "post" : {
        "tags" : [ "rePower Transfer Reversal" ],
        "description" : "A Transfer Reversal is a request to reverse a previously submitted Mastercard rePower Transfer, and is only available in extremely limited circumstances.  Reversal Processing : A rePower transaction reversal may be submitted in the event of a documented clerical error. The rePower transaction reversal must be submitted within 15 minutes of the time the original rePower transaction was authorized.  Use this resource to reverse a previously submitted rePower Transfer. ",
        "operationId" : "repowerReversalPost2",
        "requestBody" : {
          "description" : "Contains the details of the repower reversal request message.",
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/Repowerreversalrequest_10_wrapper"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Response details",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Repowerreversal_11_wrapper"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Accountbalance_9" : {
        "type" : "object",
        "properties" : {
          "Currency" : {
            "type" : "string",
            "description" : "Global currency code used to represent the type of currency for the \"Value\" for the Account balance. Details- numeric, 3, valid ISO 4217 numeric currency codes (leading zeros may be required.)",
            "example" : "840"
          },
          "Value" : {
            "type" : "string",
            "description" : "Account balance. Implied decimal point based on currency exponent. Details- Numeric, 12",
            "example" : "7500"
          }
        },
        "description" : "Account Balance amount value and currency",
        "xml" : {
          "name" : "AccountBalance"
        }
      },
      "Cardacceptor_2" : {
        "required" : [ "City", "Country", "Name", "State" ],
        "type" : "object",
        "properties" : {
          "City" : {
            "type" : "string",
            "description" : "City of merchant's address. Details- String, 1-13",
            "example" : "St Charles"
          },
          "Country" : {
            "type" : "string",
            "description" : "The CountryIso3Code will be a three character value compliant with ISO 3166-1 and alpha-3 standards. Details- String, 3",
            "example" : "USA"
          },
          "Name" : {
            "type" : "string",
            "description" : "Point of sale merchant's name. Details- String, 1-22",
            "example" : "THE BEST BANK"
          },
          "PostalCode" : {
            "type" : "string",
            "description" : "The PostalCode is a value representing the zip code for the merchant's address. Details- String, 10",
            "example" : "63368-1234"
          },
          "State" : {
            "type" : "string",
            "description" : "State of the merchant's address. Details- String, 2",
            "example" : "MO"
          }
        },
        "description" : "Card Acceptor",
        "xml" : {
          "name" : "CardAcceptor"
        }
      },
      "Repower_5" : {
        "type" : "object",
        "properties" : {
          "AccountBalance" : {
            "$ref" : "#/components/schemas/Accountbalance_9"
          },
          "ICCEMVData" : {
            "type" : "string",
            "description" : " Integrated Circuit Card (ICC) System related data. It must be present for EMV transactions. Required DE 55 Subelements in /0200 and /0220 Messages. Details- Conditional, String, 255",
            "example" : "9F36020000910AEE7C7466F8DE982D0010"
          },
          "PANMappingFileInformation" : {
            "type" : "string",
            "description" : "PAN Mapping File Information will be avalable when the PAN is MDES token. Details- Conditional, String, 33",
            "example" : "0101M0216518600960419927903041907"
          },
          "PersonPresentIndicator" : {
            "type" : "string",
            "description" : "Person Present Indicator values is populated in repower response.\nWhere the repower requests are \na. PaymentPosEntryMode (07*/09*) \nb. CardSequenceNumber > 0 \nc. Transaction Amount > 0\nIt is a number value and size 2 digit",
            "example" : "1"
          },
          "RequestId" : {
            "type" : "string",
            "description" : "This is the unique identifier for API Web service request. Details- Numeric value, variable length between 1 and 19 digits, without zero padding",
            "example" : "1023"
          },
          "TransactionHistory" : {
            "$ref" : "#/components/schemas/Transactionhistory_6"
          },
          "TransactionReference" : {
            "type" : "string",
            "description" : "This value represents the unique reference number for the rePower transaction provided by the merchant or acquiring institution. Details- Alphanumeric value, 19",
            "example" : "999999034810154900"
          }
        },
        "description" : "Response details",
        "xml" : {
          "name" : "Repower"
        }
      },
      "Repower_5_wrapper" : {
        "type" : "object",
        "properties" : {
          "Repower" : {
            "$ref" : "#/components/schemas/Repower_5"
          }
        },
        "description" : "Response details"
      },
      "Repowerrequest_1" : {
        "required" : [ "CardNumber", "Channel", "ICA", "LocalDate", "LocalTime", "MerchantType", "ProcessorId", "RoutingAndTransitNumber", "TransactionReference" ],
        "type" : "object",
        "properties" : {
          "AdditionalSenderInformation" : {
            "type" : "string",
            "description" : " Contains additional sender information in the Financial Transaction.The first 20 digits will be telephone number(n-20), the next 8 digits will be Date of Birth(n-8)(MMDDYYYY)and 'Check' or 'Cash' needs to be populated next based on check load or cash load.  Details- String, Min 32 characters, Max 65 characters in Length",
            "example" : "1234567891234567891202031985Cash"
          },
          "CardAcceptor" : {
            "$ref" : "#/components/schemas/Cardacceptor_2"
          },
          "CardNumber" : {
            "type" : "string",
            "description" : "Cardholder personal account number. Details- Numeric, 16 or 19, must pass LUHN MOD10 validation",
            "example" : "5184680430000014"
          },
          "CardSequenceNumber" : {
            "type" : "string",
            "description" : "Card Sequence Number as part of PaymentPOS Entry mode Integrated Circuit and contactless M/Chip. It must be present for EMV,MDES or PayPass transactions (where POS Entry Mode = \"05x\" or \"07x\"). Details- Numeric, 3, The Possible values for Card Sequence Number are in the range 000–099",
            "example" : "010"
          },
          "Channel" : {
            "type" : "string",
            "description" : "Origination channel for the rePower transaction as 'Attended POS' (P) or 'Web' (W).  Details- Alpha, 1, Constant P or W",
            "example" : "W"
          },
          "ICA" : {
            "type" : "string",
            "description" : "ICA of acquiring institution. Details- Numeric, 4-6",
            "example" : "999999"
          },
          "ICCEMVData" : {
            "type" : "string",
            "description" : "Integrated Circuit Card (ICC) System related data. It must be present for EMV(Including paypass/MDES EMV) transactions. Details- String, 255. Please refer section 'ICCEMVData' for more details.",
            "example" : "5F2A02064382025C00950500000000009A030306199C01009F02060000000100009F10200012A08003242000961F00000000000000FF00000000000000000000000000009F1A0206439F2701809F360200A29F3704000000569F4104000066829F260878F10CB66852EA62"
          },
          "LocalDate" : {
            "type" : "string",
            "description" : "This is the local date for the location where the request is originating. Details- Numeric, 4, MMDD",
            "example" : "1231 "
          },
          "LocalTime" : {
            "type" : "string",
            "description" : " This is the local time for the location where the request is originating. The format is military or twenty-four hour clock time. Details- Numeric, HHMMSS",
            "example" : "143752"
          },
          "MerchantType" : {
            "type" : "string",
            "description" : "Merchant's type of business or Service will be represented as a member financial institution initiated rePower transaction (6532), or merchant initiated rePower transaction (6533). Details- Numeric, 4, constant 6532 or 6533",
            "example" : "6532"
          },
          "POSCardDataTerminalInputCapabilityIndicator" : {
            "type" : "string",
            "description" : "Point of Service (POS) card data terminal input capability indicator. It must be present for EMV,MDES or PayPass transactions (where POS Entry Mode = \"05x\" or \"07x\" or \"91x\"). Details- Conditional, numeric, 1, The Possible values for POS card data terminal input capability indicator is 3 or 4.",
            "example" : "3"
          },
          "PaymentInitiationChannel" : {
            "type" : "string",
            "description" : "Payment Initiation Channel is the device type used to identify mobile-initiated (m-commerce) or other non-card device initiated transactions. It's an option field for paypass transactions. Details-  Numeric, 2 digits. The possible values for Payment Initiation Channel is detailed out in section 'PaymentInitiationChannel'",
            "example" : "01"
          },
          "PaymentPosEntryMode" : {
            "type" : "string",
            "description" : "PaymentPos Entry Mode to represent the POS Terminal PAN Entry Mode & Terminal PIN Entry Mode. This is required for EMV transactions and Paypass/MDES magstripe transactions. The first two digits indicate PAN entry mode and the last digit indicate PIN entry mode. Details- Numeric, 3. For PAN/PIN Entry mode details refer section 'PaymentPosEntryMode'",
            "example" : "070"
          },
          "ProcessorId" : {
            "type" : "string",
            "description" : "Processor Id. Details- Numeric, 10",
            "example" : "1234567890"
          },
          "ReceiverTrack2Data" : {
            "type" : "string",
            "description" : "Contains 8 sub fields to enhance the repower API to support EMV scripting data fields.It must be present for EMV, MDES or PayPass transactions(where POS Entry Mode is other than 010 or 011 or 012). Details- Conditional, String, Max 37 characters in Length. Refer section 'ReceiverTrack2Data'",
            "example" : "1234567890123452=241210100000860"
          },
          "RoutingAndTransitNumber" : {
            "type" : "string",
            "description" : "Routing and Transit number. Details- Numeric, 9",
            "example" : "123456789"
          },
          "TransactionAmount" : {
            "$ref" : "#/components/schemas/Transactionamount_3"
          },
          "TransactionFee" : {
            "$ref" : "#/components/schemas/Transactionfee_4"
          },
          "TransactionReference" : {
            "type" : "string",
            "description" : "Repower Transaction Reference Number. Provided by the Client submitting the rePower transfer request. Must be \"unique\" across all rePower transfer requests. Details- Numeric, length 19",
            "example" : "0999999034810154901 "
          }
        },
        "description" : "Contains the details of the repower request message.",
        "xml" : {
          "name" : "RepowerRequest"
        }
      },
      "Repowerrequest_1_wrapper" : {
        "type" : "object",
        "properties" : {
          "RepowerRequest" : {
            "$ref" : "#/components/schemas/Repowerrequest_1"
          }
        },
        "description" : "Contains the details of the repower request message."
      },
      "Repowerreversal_11" : {
        "type" : "object",
        "properties" : {
          "OriginalRequestId" : {
            "type" : "string",
            "description" : "Unique identifier assigned to the original rePower transaction request. Details- Numeric value, 1-19",
            "example" : "1005"
          },
          "RequestId" : {
            "type" : "string",
            "description" : "This is the unique identifier for API Web service request. Details- Numeric value, variable length between 1 and 19 digits, without zero padding",
            "example" : "1023"
          },
          "TransactionHistory" : {
            "$ref" : "#/components/schemas/Transactionhistory_12"
          },
          "TransactionReference" : {
            "type" : "string",
            "description" : "This is the Request ID for the original rePower transaction provided by the merchant or acquiring institution. Details- Alphanumeric value, 19",
            "example" : "999999034810154900"
          }
        },
        "description" : "Response details",
        "xml" : {
          "name" : "RepowerReversal"
        }
      },
      "Repowerreversal_11_wrapper" : {
        "type" : "object",
        "properties" : {
          "RepowerReversal" : {
            "$ref" : "#/components/schemas/Repowerreversal_11"
          }
        },
        "description" : "Response details"
      },
      "Repowerreversalrequest_10" : {
        "required" : [ "ICA", "ReversalReason", "TransactionReference" ],
        "type" : "object",
        "properties" : {
          "ICA" : {
            "type" : "string",
            "description" : "ICA of acquiring institution. Details- Numeric, 4-6",
            "example" : "999999"
          },
          "ReversalReason" : {
            "type" : "string",
            "description" : "Brief description of reason for reversal. Details- String, 1-50",
            "example" : "FAILURE IN PROCESSING"
          },
          "TransactionReference" : {
            "type" : "string",
            "description" : "Unique reference number provided by the client in the \"original\" rePower transfer to be reversed. Details- Alphanumeric, 19",
            "example" : "0999999034810154901 "
          }
        },
        "description" : "Contains the details of the repower reversal request message.",
        "xml" : {
          "name" : "RepowerReversalRequest"
        }
      },
      "Repowerreversalrequest_10_wrapper" : {
        "type" : "object",
        "properties" : {
          "RepowerReversalRequest" : {
            "$ref" : "#/components/schemas/Repowerreversalrequest_10"
          }
        },
        "description" : "Contains the details of the repower reversal request message."
      },
      "Response_14" : {
        "type" : "object",
        "properties" : {
          "Code" : {
            "type" : "string",
            "description" : "Code that specifies the dispensation of the financial transaction request. Details- Alpha numeric, 2",
            "example" : "11"
          },
          "Description" : {
            "type" : "string",
            "description" : "This is the Description of response. Details- Alpha Numeric, Special, 80",
            "example" : "Approved or completed successfully "
          }
        },
        "description" : "Transaction response",
        "xml" : {
          "name" : "Response"
        }
      },
      "Response_8" : {
        "type" : "object",
        "properties" : {
          "Code" : {
            "type" : "string",
            "description" : "Code that specifies the dispensation of the financial transaction request. Details- Alpha numeric, 2",
            "example" : "11"
          },
          "Description" : {
            "type" : "string",
            "description" : "This is the Description of response. Details- Alpha Numeric, Special, 80",
            "example" : "Approved or completed successfully "
          }
        },
        "description" : "Transaction response",
        "xml" : {
          "name" : "Response"
        }
      },
      "Transaction_13" : {
        "type" : "object",
        "properties" : {
          "NetworkReferenceNumber" : {
            "type" : "string",
            "description" : "Network Reference Number that can be used for transaction inquiry. Details- Numeric, 9",
            "example" : "412370594"
          },
          "Response" : {
            "$ref" : "#/components/schemas/Response_14"
          },
          "SettlementDate" : {
            "type" : "string",
            "description" : "Date Funds will be transferred between the acquirer and issuer by Single Message System, in MMDD format",
            "example" : "1231"
          },
          "SubmitDateTime" : {
            "type" : "string",
            "description" : "This is the time and date of the transaction submission, in the following format: <date>T<time>Z, where date> is YYYY-MM-DD, <time> is HH:MM:SS",
            "example" : "2012-07-02T12:17:46Z"
          },
          "SystemTraceAuditNumber" : {
            "type" : "string",
            "description" : "Identifier assigned to each transaction by the rePower service. This identifier is unique for any single UTC date. Details- Numeric value, 6",
            "example" : "192325"
          },
          "Type" : {
            "type" : "string",
            "description" : "Type of transaction. Details- Alpha",
            "example" : "REPOWERPAYMENTREVERSAL"
          }
        },
        "description" : "Information for one transaction",
        "xml" : {
          "name" : "Transaction"
        }
      },
      "Transaction_7" : {
        "type" : "object",
        "properties" : {
          "NetworkReferenceNumber" : {
            "type" : "string",
            "description" : "Network Reference Number that can be used for transaction inquiry. Details- Numeric, 9",
            "example" : "412370594"
          },
          "Response" : {
            "$ref" : "#/components/schemas/Response_8"
          },
          "SettlementDate" : {
            "type" : "string",
            "description" : "Date Funds will be transferred between the acquirer and issuer by Single Message System, in MMDD format",
            "example" : "1231"
          },
          "SubmitDateTime" : {
            "type" : "string",
            "description" : "This is the time and date of the transaction submission, in the following format: <date>T<time>Z, where date> is YYYY-MM-DD, <time> is HH:MM:SS",
            "example" : "2012-07-02T12:17:46Z"
          },
          "SystemTraceAuditNumber" : {
            "type" : "string",
            "description" : "Identifier assigned to each transaction by the rePower service. This identifier is unique for any single UTC date. Details- Numeric value, 6",
            "example" : "192325"
          },
          "Type" : {
            "type" : "string",
            "description" : "Type of transaction. Details- Alpha",
            "example" : "REPOWERPAYMENT"
          }
        },
        "description" : "Information for one transaction",
        "xml" : {
          "name" : "Transaction"
        }
      },
      "Transactionamount_3" : {
        "required" : [ "Currency", "Value" ],
        "type" : "object",
        "properties" : {
          "Currency" : {
            "type" : "string",
            "description" : "Global currency code used to represent the type of currency for the \"Value\" representing funds to be topped up. Details- numeric, 3, valid ISO 4217 numeric currency codes (leading zeros may be required.)",
            "example" : "840"
          },
          "Value" : {
            "type" : "string",
            "description" : "The amount to be loaded onto the account. Implied decimal point based on currency exponent. Details- Numeric, 2-12",
            "example" : "25000"
          }
        },
        "description" : "Transaction amount value and currency",
        "xml" : {
          "name" : "TransactionAmount"
        }
      },
      "Transactionfee_4" : {
        "type" : "object",
        "properties" : {
          "Currency" : {
            "type" : "string",
            "description" : "Global currency code used to represent the type of currency for the \"Value\" representing the fees.It should match the transaction amount currency. Details- Numeric, 3, valid ISO 4217 numeric currency codes (leading zeros may be required.)",
            "example" : "840"
          },
          "Value" : {
            "type" : "string",
            "description" : "Fee charged by the acquirer for transaction activity in the currency of the Transaction amount value. Details- numeric, 1-8",
            "example" : "250"
          }
        },
        "description" : "Transaction fee amount and currency",
        "xml" : {
          "name" : "TransactionFee"
        }
      },
      "Transactionhistory_12" : {
        "type" : "object",
        "properties" : {
          "Transaction" : {
            "type" : "array",
            "description" : "Information for one transaction",
            "items" : {
              "$ref" : "#/components/schemas/Transaction_13"
            }
          }
        },
        "description" : "List of transactions performed to complete request ",
        "xml" : {
          "name" : "TransactionHistory"
        }
      },
      "Transactionhistory_6" : {
        "type" : "object",
        "properties" : {
          "Transaction" : {
            "type" : "array",
            "description" : "Information for one transaction",
            "items" : {
              "$ref" : "#/components/schemas/Transaction_7"
            }
          }
        },
        "description" : "List of transactions performed to complete request ",
        "xml" : {
          "name" : "TransactionHistory"
        }
      }
    }
  }
}