{"openapi":"3.0.1","info":{"title":"AutomationManagement","version":"2015-10-31"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/linkedWorkspace":{"get":{"tags":["LinkedWorkspace"],"description":"Retrieve the linked workspace for the account id.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/linkedworkspaceoperations"},"operationId":"LinkedWorkspace_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedWorkspace"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}}},"components":{"schemas":{"LinkedWorkspace":{"type":"object","properties":{"id":{"type":"string","description":"Gets the id of the linked workspace.","readOnly":true}},"description":"Definition of the linked workspace."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}