{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "IntuneResourceManagementClient",
    "description" : "Microsoft.Intune Resource provider Api features in the swagger-2.0 specification",
    "version" : "2015-01-14-privatepreview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "paths" : {
    "/providers/Microsoft.Intune/locations" : {
      "get" : {
        "description" : "Returns location for user tenant.",
        "operationId" : "GetLocations",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "location response as a collection",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocationCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/hostName" : {
      "get" : {
        "description" : "Returns location for given tenant.",
        "operationId" : "GetLocationByHostName",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "single location response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Location"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/AndroidPolicies/{policyName}/apps" : {
      "get" : {
        "description" : "Get apps for an AndroidMAMPolicy.",
        "operationId" : "Android_GetAppForMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "select specific fields in entity.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "applications as collection response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/androidPolicies" : {
      "get" : {
        "description" : "Returns Intune Android policies.",
        "operationId" : "Android_GetMAMPolicies",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "select specific fields in entity.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "android Policies response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AndroidMAMPolicyCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}" : {
      "get" : {
        "description" : "Returns AndroidMAMPolicy with given name.",
        "operationId" : "Android_GetMAMPolicyByName",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "select specific fields in entity.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "iOSMAMPolicy entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AndroidMAMPolicy"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "description" : "Creates or updates AndroidMAMPolicy.",
        "operationId" : "Android_CreateOrUpdateMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Create or update an android policy operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AndroidMAMPolicy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "android entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AndroidMAMPolicy"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "description" : "Delete Android Policy",
        "operationId" : "Android_DeleteMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No-Content."
          },
          "204" : {
            "description" : "No-Content."
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "description" : "Patch AndroidMAMPolicy.",
        "operationId" : "Android_PatchMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Create or update an android policy operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AndroidMAMPolicy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "android entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AndroidMAMPolicy"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/apps/{appName}" : {
      "put" : {
        "description" : "Add app to an AndroidMAMPolicy.",
        "operationId" : "Android_AddAppForMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appName",
          "in" : "path",
          "description" : "application unique Name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Create or update app to an android policy operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MAMPolicyAppIdOrGroupIdPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "No-Content."
          },
          "204" : {
            "description" : "No-Content."
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "description" : "Delete App for Android Policy",
        "operationId" : "Android_DeleteAppForMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appName",
          "in" : "path",
          "description" : "application unique Name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No-Content."
          },
          "204" : {
            "description" : "No-Content."
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups" : {
      "get" : {
        "description" : "Returns groups for a given AndroidMAMPolicy.",
        "operationId" : "Android_GetGroupsForMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "policy name for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "groups as collection response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupsCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups/{groupId}" : {
      "put" : {
        "description" : "Add group to an AndroidMAMPolicy.",
        "operationId" : "Android_AddGroupForMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupId",
          "in" : "path",
          "description" : "group Id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Create or update app to an android policy operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MAMPolicyAppIdOrGroupIdPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "No-Content."
          },
          "204" : {
            "description" : "No-Content."
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "description" : "Delete Group for Android Policy",
        "operationId" : "Android_DeleteGroupForMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupId",
          "in" : "path",
          "description" : "application unique Name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No-Content."
          },
          "204" : {
            "description" : "No-Content."
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/apps" : {
      "get" : {
        "description" : "Returns Intune Manageable apps.",
        "operationId" : "GetApps",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "select specific fields in entity.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "applications as collection response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/flaggedUsers" : {
      "get" : {
        "description" : "Returns Intune flagged user collection",
        "operationId" : "GetMAMFlaggedUsers",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "select specific fields in entity.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Flagged users as collection response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FlaggedUserCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}" : {
      "get" : {
        "description" : "Returns Intune flagged user details",
        "operationId" : "GetMAMFlaggedUserByName",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "path",
          "description" : "Flagged userName",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "select specific fields in entity.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Flagged user details in response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FlaggedUser"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}/flaggedEnrolledApps" : {
      "get" : {
        "description" : "Returns Intune flagged enrolled app collection for the User",
        "operationId" : "GetMAMUserFlaggedEnrolledApps",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "path",
          "description" : "User name for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "select specific fields in entity.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Flagged enrolled Apps as collection response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FlaggedEnrolledAppCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies" : {
      "get" : {
        "description" : "Returns Intune iOSPolicies.",
        "operationId" : "Ios_GetMAMPolicies",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "select specific fields in entity.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "applications as collection response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IOSMAMPolicyCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}" : {
      "get" : {
        "description" : "Returns Intune iOS policies.",
        "operationId" : "Ios_GetMAMPolicyByName",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "select specific fields in entity.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "iOSMAMPolicy entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/iOSMAMPolicy"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "description" : "Creates or updates iOSMAMPolicy.",
        "operationId" : "Ios_CreateOrUpdateMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Create or update an android policy operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/iOSMAMPolicy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "iOSMAMPolicy entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/iOSMAMPolicy"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "description" : "Delete Ios Policy",
        "operationId" : "Ios_DeleteMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No-Content."
          },
          "204" : {
            "description" : "No-Content."
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "description" : " patch an iOSMAMPolicy.",
        "operationId" : "Ios_PatchMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Create or update an android policy operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/iOSMAMPolicy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "iOSMAMPolicy entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/iOSMAMPolicy"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps" : {
      "get" : {
        "description" : "Get apps for an iOSMAMPolicy.",
        "operationId" : "Ios_GetAppForMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "select specific fields in entity.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "applications as collection response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps/{appName}" : {
      "put" : {
        "description" : "Add app to an iOSMAMPolicy.",
        "operationId" : "Ios_AddAppForMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appName",
          "in" : "path",
          "description" : "application unique Name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to add an app to an ios policy.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MAMPolicyAppIdOrGroupIdPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "No-Content."
          },
          "204" : {
            "description" : "No-Content."
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "description" : "Delete App for Ios Policy",
        "operationId" : "Ios_DeleteAppForMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appName",
          "in" : "path",
          "description" : "application unique Name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No-Content."
          },
          "204" : {
            "description" : "No-Content."
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups" : {
      "get" : {
        "description" : "Returns groups for a given iOSMAMPolicy.",
        "operationId" : "Ios_GetGroupsForMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "policy name for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "groups as collection response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupsCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups/{groupId}" : {
      "put" : {
        "description" : "Add group to an iOSMAMPolicy.",
        "operationId" : "Ios_AddGroupForMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupId",
          "in" : "path",
          "description" : "group Id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Create or update app to an android policy operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MAMPolicyAppIdOrGroupIdPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "No-Content."
          },
          "204" : {
            "description" : "No-Content."
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "description" : "Delete Group for iOS Policy",
        "operationId" : "Ios_DeleteGroupForMAMPolicy",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "Unique name for the policy",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupId",
          "in" : "path",
          "description" : "application unique Name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No-Content."
          },
          "204" : {
            "description" : "No-Content."
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/operationResults" : {
      "get" : {
        "description" : "Returns operationResults.",
        "operationId" : "GetOperationResults",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "select specific fields in entity.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "applications as collection response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationResultCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/statuses/default" : {
      "get" : {
        "description" : "Returns Intune Tenant level statuses.",
        "operationId" : "GetMAMStatuses",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "applications as collection response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatusesDefault"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices" : {
      "get" : {
        "description" : "Get devices for a user.",
        "operationId" : "GetMAMUserDevices",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "path",
          "description" : "user unique Name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "select specific fields in entity.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "devices as collection response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeviceCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}" : {
      "get" : {
        "description" : "Get a unique device for a user.",
        "operationId" : "GetMAMUserDeviceByDeviceName",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "path",
          "description" : "unique user name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceName",
          "in" : "path",
          "description" : "device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "select specific fields in entity.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Device entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Device"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}/wipe" : {
      "post" : {
        "description" : "Wipe a device for a user.",
        "operationId" : "WipeMAMUserDevice",
        "parameters" : [ {
          "name" : "hostName",
          "in" : "path",
          "description" : "Location hostName for the tenant",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "path",
          "description" : "unique user name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceName",
          "in" : "path",
          "description" : "device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Service Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Wipe operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WipeDeviceOperationResult"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AndroidMAMPolicy" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/AndroidMAMPolicyProperties"
          }
        },
        "description" : "Android Policy entity for Intune MAM.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "AndroidMAMPolicyCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextlink" : {
            "type" : "string",
            "description" : "Gets the URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AndroidMAMPolicy"
            }
          }
        }
      },
      "AndroidMAMPolicyProperties" : {
        "properties" : {
          "fileEncryption" : {
            "type" : "string",
            "default" : "required",
            "enum" : [ "required", "notRequired" ]
          },
          "screenCapture" : {
            "type" : "string",
            "default" : "allow",
            "enum" : [ "allow", "block" ]
          }
        },
        "description" : "Intune MAM iOS Policy Properties.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/MAMPolicyProperties"
        } ]
      },
      "Application" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ApplicationProperties"
          }
        },
        "description" : "Application entity for Intune MAM.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "ApplicationCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextlink" : {
            "type" : "string",
            "description" : "Gets the URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Application"
            }
          }
        }
      },
      "ApplicationProperties" : {
        "required" : [ "friendlyName", "platform" ],
        "type" : "object",
        "properties" : {
          "appId" : {
            "type" : "string"
          },
          "friendlyName" : {
            "type" : "string"
          },
          "platform" : {
            "type" : "string",
            "default" : "ios",
            "enum" : [ "ios", "android", "windows" ]
          }
        }
      },
      "Device" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/DeviceProperties"
          }
        },
        "description" : "Device entity for Intune.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "DeviceCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextlink" : {
            "type" : "string",
            "description" : "Gets the URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Device"
            }
          }
        }
      },
      "DeviceProperties" : {
        "required" : [ "deviceType", "friendlyName", "platform", "platformVersion", "userId" ],
        "type" : "object",
        "properties" : {
          "deviceType" : {
            "type" : "string"
          },
          "friendlyName" : {
            "type" : "string"
          },
          "platform" : {
            "type" : "string"
          },
          "platformVersion" : {
            "type" : "string"
          },
          "userId" : {
            "type" : "string"
          }
        }
      },
      "Error" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          }
        }
      },
      "FlaggedEnrolledApp" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/FlaggedEnrolledAppProperties"
          }
        },
        "description" : "Flagged Enrolled App for the given tenant.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "FlaggedEnrolledAppCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextlink" : {
            "type" : "string",
            "description" : "Gets the URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FlaggedEnrolledApp"
            }
          }
        },
        "description" : "Flagged Enrolled App collection for the given tenant."
      },
      "FlaggedEnrolledAppError" : {
        "type" : "object",
        "properties" : {
          "errorCode" : {
            "type" : "string",
            "readOnly" : true
          },
          "severity" : {
            "type" : "string",
            "readOnly" : true
          }
        }
      },
      "FlaggedEnrolledAppProperties" : {
        "type" : "object",
        "properties" : {
          "deviceType" : {
            "type" : "string",
            "readOnly" : true
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FlaggedEnrolledAppError"
            }
          },
          "friendlyName" : {
            "type" : "string",
            "readOnly" : true
          },
          "lastModifiedTime" : {
            "type" : "string",
            "readOnly" : true
          },
          "platform" : {
            "type" : "string",
            "readOnly" : true
          }
        }
      },
      "FlaggedUser" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/FlaggedUserProperties"
          }
        },
        "description" : "Flagged user for the given tenant.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "FlaggedUserCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextlink" : {
            "type" : "string",
            "description" : "Gets the URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FlaggedUser"
            }
          }
        },
        "description" : "Flagged user collection for the given tenant."
      },
      "FlaggedUserProperties" : {
        "type" : "object",
        "properties" : {
          "errorCount" : {
            "type" : "integer",
            "readOnly" : true
          },
          "friendlyName" : {
            "type" : "string",
            "readOnly" : true
          }
        }
      },
      "GroupItem" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/GroupProperties"
          }
        },
        "description" : "Group entity for Intune MAM.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "GroupProperties" : {
        "required" : [ "friendlyName" ],
        "type" : "object",
        "properties" : {
          "friendlyName" : {
            "type" : "string"
          }
        }
      },
      "GroupsCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextlink" : {
            "type" : "string",
            "description" : "Gets the URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/GroupItem"
            }
          }
        }
      },
      "IOSMAMPolicyCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextlink" : {
            "type" : "string",
            "description" : "Gets the URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/iOSMAMPolicy"
            }
          }
        }
      },
      "Location" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/LocationProperties"
          }
        },
        "description" : "Location entity for given tenant.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "LocationCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextlink" : {
            "type" : "string",
            "description" : "Gets the URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Location"
            }
          }
        }
      },
      "LocationProperties" : {
        "required" : [ "hostName" ],
        "type" : "object",
        "properties" : {
          "hostName" : {
            "type" : "string"
          }
        }
      },
      "MAMPolicyAppIdOrGroupIdPayload" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/MAMPolicyAppOrGroupIdProperties"
          }
        },
        "description" : "MAM Policy request body for properties Intune MAM."
      },
      "MAMPolicyAppOrGroupIdProperties" : {
        "required" : [ "url" ],
        "type" : "object",
        "properties" : {
          "url" : {
            "type" : "string"
          }
        },
        "description" : "Android Policy request body for Intune MAM."
      },
      "MAMPolicyProperties" : {
        "required" : [ "friendlyName" ],
        "type" : "object",
        "properties" : {
          "accessRecheckOfflineTimeout" : {
            "type" : "string",
            "format" : "duration"
          },
          "accessRecheckOnlineTimeout" : {
            "type" : "string",
            "format" : "duration"
          },
          "appSharingFromLevel" : {
            "type" : "string",
            "default" : "none",
            "enum" : [ "none", "policyManagedApps", "allApps" ]
          },
          "appSharingToLevel" : {
            "type" : "string",
            "default" : "none",
            "enum" : [ "none", "policyManagedApps", "allApps" ]
          },
          "authentication" : {
            "type" : "string",
            "default" : "required",
            "enum" : [ "required", "notRequired" ]
          },
          "clipboardSharingLevel" : {
            "type" : "string",
            "default" : "blocked",
            "enum" : [ "blocked", "policyManagedApps", "policyManagedAppsWithPasteIn", "allApps" ]
          },
          "dataBackup" : {
            "type" : "string",
            "default" : "allow",
            "enum" : [ "allow", "block" ]
          },
          "description" : {
            "type" : "string"
          },
          "deviceCompliance" : {
            "type" : "string",
            "default" : "enable",
            "enum" : [ "enable", "disable" ]
          },
          "fileSharingSaveAs" : {
            "type" : "string",
            "default" : "allow",
            "enum" : [ "allow", "block" ]
          },
          "friendlyName" : {
            "type" : "string"
          },
          "groupStatus" : {
            "type" : "string",
            "readOnly" : true,
            "default" : "notTargeted",
            "enum" : [ "notTargeted", "targeted" ]
          },
          "lastModifiedTime" : {
            "type" : "string",
            "format" : "date-time",
            "readOnly" : true
          },
          "managedBrowser" : {
            "type" : "string",
            "default" : "required",
            "enum" : [ "required", "notRequired" ]
          },
          "numOfApps" : {
            "type" : "integer",
            "readOnly" : true
          },
          "offlineWipeTimeout" : {
            "type" : "string",
            "format" : "duration"
          },
          "pin" : {
            "type" : "string",
            "default" : "required",
            "enum" : [ "required", "notRequired" ]
          },
          "pinNumRetry" : {
            "type" : "integer"
          }
        }
      },
      "OperationResult" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/OperationResultProperties"
          }
        },
        "description" : "OperationResult entity for Intune.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "OperationResultCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextlink" : {
            "type" : "string",
            "description" : "Gets the URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OperationResult"
            }
          }
        }
      },
      "OperationResultProperties" : {
        "required" : [ "friendlyName", "operationMetadata" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string"
          },
          "friendlyName" : {
            "type" : "string"
          },
          "lastModifiedTime" : {
            "type" : "string"
          },
          "operationMetadata" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/operationMetadataProperties"
            }
          },
          "state" : {
            "type" : "string"
          }
        }
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource Id",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Resource Location"
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource Tags"
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type",
            "readOnly" : true
          }
        }
      },
      "StatusesDefault" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/StatusesProperties"
          }
        },
        "description" : "Default Statuses entity for the given tenant.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "StatusesProperties" : {
        "type" : "object",
        "properties" : {
          "deployedPolicies" : {
            "type" : "integer",
            "readOnly" : true
          },
          "enrolledUsers" : {
            "type" : "integer",
            "readOnly" : true
          },
          "flaggedUsers" : {
            "type" : "integer",
            "readOnly" : true
          },
          "lastModifiedTime" : {
            "type" : "string",
            "format" : "date-time",
            "readOnly" : true
          },
          "policyAppliedUsers" : {
            "type" : "integer",
            "readOnly" : true
          },
          "status" : {
            "type" : "string",
            "readOnly" : true
          },
          "wipeFailedApps" : {
            "type" : "integer",
            "readOnly" : true
          },
          "wipePendingApps" : {
            "type" : "integer",
            "readOnly" : true
          },
          "wipeSucceededApps" : {
            "type" : "integer",
            "readOnly" : true
          }
        }
      },
      "WipeDeviceOperationResult" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/WipeDeviceOperationResultProperties"
          }
        },
        "description" : "Device entity for Intune.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "WipeDeviceOperationResultProperties" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "string"
          }
        }
      },
      "iOSMAMPolicy" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/iOSMAMPolicyProperties"
          }
        },
        "description" : "iOS Policy entity for Intune MAM.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "iOSMAMPolicyProperties" : {
        "properties" : {
          "fileEncryptionLevel" : {
            "type" : "string",
            "default" : "deviceLocked",
            "enum" : [ "deviceLocked", "deviceLockedExceptFilesOpen", "afterDeviceRestart", "useDeviceSettings" ]
          },
          "touchId" : {
            "type" : "string",
            "default" : "enable",
            "enum" : [ "enable", "disable" ]
          }
        },
        "description" : "Intune MAM iOS Policy Properties.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/MAMPolicyProperties"
        } ]
      },
      "operationMetadataProperties" : {
        "required" : [ "name", "value" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          }
        }
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Service Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    }
  }
}