{"openapi":"3.0.1","info":{"title":"CdnManagementClient","description":"Use these APIs to manage Azure CDN resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure.","version":"2019-06-15-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Cdn/checkNameAvailability":{"post":{"tags":["CheckNameAvailability"],"description":"Check the availability of a resource name. This is needed for resources where name is globally unique, such as a CDN endpoint.","operationId":"CheckNameAvailability","parameters":[{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Input to check.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameAvailabilityInput"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameAvailabilityOutput"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/providers/Microsoft.Cdn/edgenodes":{"get":{"tags":["Edgenodes"],"description":"Edgenodes are the global Point of Presence (POP) locations used to deliver CDN content to end users.","operationId":"EdgeNodes_List","parameters":[{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EdgenodeResult"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/providers/Microsoft.Cdn/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available CDN REST API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationsListResult"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/checkNameAvailability":{"post":{"tags":["CheckNameAvailabilityWithSubscription"],"description":"Check the availability of a resource name. This is needed for resources where name is globally unique, such as a CDN endpoint.","operationId":"CheckNameAvailabilityWithSubscription","parameters":[{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Input to check.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameAvailabilityInput"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameAvailabilityOutput"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/checkResourceUsage":{"post":{"tags":["CheckResourceUsage"],"description":"Check the quota and actual usage of the CDN profiles under the given subscription.","operationId":"ResourceUsage_List","parameters":[{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUsageListResult"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/profiles":{"get":{"tags":["Profiles"],"description":"Lists all of the CDN profiles within an Azure subscription.","operationId":"Profiles_List","parameters":[{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileListResult"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/validateProbe":{"post":{"tags":["ValidateProbe"],"description":"Check if the probe path is a valid path and the file can be accessed. Probe path is the path to a file hosted on the origin server to help accelerate the delivery of dynamic content via the CDN endpoint. This path is relative to the origin path specified in the endpoint configuration.","operationId":"ValidateProbe","parameters":[{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Input to check.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateProbeInput"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateProbeOutput"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles":{"get":{"tags":["Profiles"],"description":"Lists all of the CDN profiles within a resource group.","operationId":"Profiles_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileListResult"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}":{"get":{"tags":["Profiles"],"description":"Gets a CDN profile with the specified profile name under the specified subscription and resource group.","operationId":"Profiles_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Profiles"],"description":"Creates a new CDN profile with a profile name under the specified subscription and resource group.","operationId":"Profiles_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Profile properties needed to create a new profile.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}}},"201":{"description":"Created. The request has been fulfilled and a new profile has been created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}}},"202":{"description":"Accepted. The request has been accepted for processing and the operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Profiles"],"description":"Deletes an existing CDN profile with the specified parameters. Deleting a profile will result in the deletion of all of the sub-resources including endpoints, origins and custom domains.","operationId":"Profiles_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted. The request has been accepted for processing and the operation will complete asynchronously."},"204":{"description":"No Content. The request has been accepted but the profile was not found."},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Profiles"],"description":"Updates an existing CDN profile with the specified profile name under the specified subscription and resource group.","operationId":"Profiles_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Profile properties needed to update an existing profile.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileUpdateParameters"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}}},"202":{"description":"Accepted. The request has been accepted for processing and the operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/checkResourceUsage":{"post":{"tags":["Profiles"],"description":"Checks the quota and actual usage of endpoints under the given CDN profile.","operationId":"Profiles_ListResourceUsage","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUsageListResult"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints":{"get":{"tags":["Endpoints"],"description":"Lists existing CDN endpoints.","operationId":"Endpoints_ListByProfile","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointListResult"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}":{"get":{"tags":["Endpoints"],"description":"Gets an existing CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile.","operationId":"Endpoints_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Endpoints"],"description":"Creates a new CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile.","operationId":"Endpoints_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Endpoint properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}}},"201":{"description":"Created. The request has been fulfilled and a new endpoint has been created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}}},"202":{"description":"Accepted and the operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Endpoints"],"description":"Deletes an existing CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile.","operationId":"Endpoints_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted and the operation will complete asynchronously."},"204":{"description":"No Content. The request has been accepted but the endpoint was not found."},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Endpoints"],"description":"Updates an existing CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile. Only tags and Origin HostHeader can be updated after creating an endpoint. To update origins, use the Update Origin operation. To update custom domains, use the Update Custom Domain operation.","operationId":"Endpoints_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Endpoint update properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointUpdateParameters"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}}},"202":{"description":"Accepted and the operation will complete asynchronously","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}}},"default":{"description":"CDN error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/checkResourceUsage":{"post":{"tags":["Endpoints"],"description":"Checks the quota and usage of geo filters and custom domains under the given endpoint.","operationId":"Endpoints_ListResourceUsage","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUsageListResult"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains":{"get":{"tags":["CustomDomains"],"description":"Lists all of the existing custom domains within an endpoint.","operationId":"CustomDomains_ListByEndpoint","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomDomainListResult"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}":{"get":{"tags":["CustomDomains"],"description":"Gets an existing custom domain within an endpoint.","operationId":"CustomDomains_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"customDomainName","in":"path","description":"Name of the custom domain within an endpoint.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomDomain"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["CustomDomains"],"description":"Creates a new custom domain within an endpoint.","operationId":"CustomDomains_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"customDomainName","in":"path","description":"Name of the custom domain within an endpoint.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties required to create a new custom domain.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomDomainParameters"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomDomain"}}}},"201":{"description":"Created. The request has been fulfilled and a new custom domain has been created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomDomain"}}}},"202":{"description":"Accepted and the operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomDomain"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["CustomDomains"],"description":"Deletes an existing custom domain within an endpoint.","operationId":"CustomDomains_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"customDomainName","in":"path","description":"Name of the custom domain within an endpoint.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded."},"202":{"description":"Accepted and the operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomDomain"}}}},"204":{"description":"No Content. The request has been accepted but the custom domain was not found"},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}/disableCustomHttps":{"post":{"tags":["CustomDomains"],"description":"Disable https delivery of the custom domain.","operationId":"CustomDomains_DisableCustomHttps","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"customDomainName","in":"path","description":"Name of the custom domain within an endpoint.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded."},"202":{"description":"Accepted and the operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomDomain"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}/enableCustomHttps":{"post":{"tags":["CustomDomains"],"description":"Enable https delivery of the custom domain.","operationId":"CustomDomains_EnableCustomHttps","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"customDomainName","in":"path","description":"Name of the custom domain within an endpoint.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The configuration specifying how to enable HTTPS for the custom domain - using CDN managed certificate or user's own certificate. If not specified, enabling ssl uses CDN managed certificate by default.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomDomainHttpsParameters"}}},"required":false},"responses":{"200":{"description":"OK. The request has succeeded."},"202":{"description":"Accepted and the operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomDomain"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/load":{"post":{"tags":["Endpoints"],"description":"Pre-loads a content to CDN. Available for Verizon Profiles.","operationId":"Endpoints_LoadContent","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The path to the content to be loaded. Path should be a full URL, e.g. ‘/pictures/city.png' which loads a single file ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoadParameters"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded."},"202":{"description":"Accepted and the operation will complete asynchronously."},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/origins":{"get":{"tags":["Origins"],"description":"Lists all of the existing origins within an endpoint.","operationId":"Origins_ListByEndpoint","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OriginListResult"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/origins/{originName}":{"get":{"tags":["Origins"],"description":"Gets an existing origin within an endpoint.","operationId":"Origins_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"originName","in":"path","description":"Name of the origin which is unique within the endpoint.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Origin"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Origins"],"description":"Updates an existing origin within an endpoint.","operationId":"Origins_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"originName","in":"path","description":"Name of the origin which is unique within the endpoint.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Origin properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OriginUpdateParameters"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Origin"}}}},"202":{"description":"Accepted and the operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Origin"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/purge":{"post":{"tags":["Endpoints"],"description":"Removes a content from CDN.","operationId":"Endpoints_PurgeContent","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The path to the content to be purged. Path can be a full URL, e.g. '/pictures/city.png' which removes a single file, or a directory with a wildcard, e.g. '/pictures/*' which removes all folders and files in the directory.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurgeParameters"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded."},"202":{"description":"Accepted and the operation will complete asynchronously."},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/start":{"post":{"tags":["Endpoints"],"description":"Starts an existing CDN endpoint that is on a stopped state.","operationId":"Endpoints_Start","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}}},"202":{"description":"Accepted and the operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/stop":{"post":{"tags":["Endpoints"],"description":"Stops an existing running CDN endpoint.","operationId":"Endpoints_Stop","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}}},"202":{"description":"Accepted and the operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/validateCustomDomain":{"post":{"tags":["Endpoints"],"description":"Validates the custom domain mapping to ensure it maps to the correct CDN endpoint in DNS.","operationId":"Endpoints_ValidateCustomDomain","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"Name of the endpoint under the profile which is unique globally.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Custom domain to be validated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateCustomDomainInput"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateCustomDomainOutput"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/generateSsoUri":{"post":{"tags":["Profiles"],"description":"Generates a dynamic SSO URI used to sign in to the CDN supplemental portal. Supplemental portal is used to configure advanced feature capabilities that are not yet available in the Azure portal, such as core reports in a standard profile; rules engine, advanced HTTP reports, and real-time stats and alerts in a premium profile. The SSO URI changes approximately every 10 minutes.","operationId":"Profiles_GenerateSsoUri","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SsoUri"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getSupportedOptimizationTypes":{"post":{"tags":["Profiles"],"description":"Gets the supported optimization types for the current profile. A user can create an endpoint with an optimization type from the listed values.","operationId":"Profiles_ListSupportedOptimizationTypes","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"profileName","in":"path","description":"Name of the CDN profile which is unique within the resource group.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2017-04-02.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupportedOptimizationTypesListResult"}}}},"default":{"description":"CDN error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"CacheExpirationActionParameters":{"required":["@odata.type","cacheBehavior","cacheType"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleCacheExpirationActionParameters"]},"cacheBehavior":{"type":"string","description":"Caching behavior for the requests","enum":["BypassCache","Override","SetIfMissing"]},"cacheDuration":{"type":"string","description":"The duration for which the content needs to be cached. Allowed format is [d.]hh:mm:ss","nullable":true},"cacheType":{"type":"string","description":"The level at which the content needs to be cached.","enum":["All"]}},"description":"Defines the parameters for the cache expiration action."},"CacheKeyQueryStringActionParameters":{"required":["@odata.type","queryStringBehavior"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleCacheKeyQueryStringBehaviorActionParameters"]},"queryParameters":{"type":"string","description":"query parameters to include or exclude (comma separated).","nullable":true},"queryStringBehavior":{"type":"string","description":"Caching behavior for the requests","enum":["Include","IncludeAll","Exclude","ExcludeAll"]}},"description":"Defines the parameters for the cache-key query string action."},"CdnCertificateSourceParameters":{"required":["@odata.type","certificateType"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.CdnCertificateSourceParameters"]},"certificateType":{"type":"string","description":"Type of certificate used","enum":["Shared","Dedicated"]}},"description":"Defines the parameters for using CDN managed certificate for securing custom domain."},"CdnManagedHttpsParameters":{"properties":{"certificateSourceParameters":{"$ref":"#/components/schemas/CdnCertificateSourceParameters"}},"description":"Defines the certificate source parameters using CDN managed certificate for enabling SSL.","allOf":[{"$ref":"#/components/schemas/CustomDomainHttpsParameters"}]},"CheckNameAvailabilityInput":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"The resource name to validate."},"type":{"$ref":"#/components/schemas/ResourceType"}},"description":"Input of CheckNameAvailability API."},"CheckNameAvailabilityOutput":{"type":"object","properties":{"message":{"type":"string","description":"The detailed error message describing why the name is not available.","readOnly":true},"nameAvailable":{"type":"boolean","description":"Indicates whether the name is available.","readOnly":true},"reason":{"type":"string","description":"The reason why the name is not available.","readOnly":true}},"description":"Output of check name availability API."},"CookiesMatchConditionParameters":{"required":["@odata.type","matchValues","operator","selector"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleCookiesConditionParameters"]},"matchValues":{"type":"array","description":"The match value for the condition of the delivery rule","items":{"type":"string"}},"negateCondition":{"type":"boolean","description":"Describes if this is negate condition or not"},"operator":{"type":"string","description":"Describes operator to be matched","enum":["Any","Equal","Contains","BeginsWith","EndsWith","LessThan","LessThanOrEqual","GreaterThan","GreaterThanOrEqual"]},"selector":{"type":"string","description":"Name of Cookies to be matched"},"transforms":{"type":"array","description":"List of transforms","items":{"$ref":"#/components/schemas/transform"}}},"description":"Defines the parameters for Cookies match conditions"},"CustomDomain":{"properties":{"properties":{"$ref":"#/components/schemas/CustomDomainProperties"}},"description":"Friendly domain name mapping to the endpoint hostname that the customer provides for branding purposes, e.g. www.contoso.com.","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"CustomDomainHttpsParameters":{"required":["certificateSource","protocolType"],"type":"object","properties":{"certificateSource":{"type":"string","description":"Defines the source of the SSL certificate.","enum":["AzureKeyVault","Cdn"]},"minimumTlsVersion":{"type":"string","description":"TLS protocol version that will be used for Https","enum":["None","TLS10","TLS12"]},"protocolType":{"type":"string","description":"Defines the TLS extension protocol that is used for secure delivery.","enum":["ServerNameIndication","IPBased"]}},"description":"The JSON object that contains the properties to secure a custom domain.","discriminator":{"propertyName":"certificateSource"}},"CustomDomainListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of custom domain objects if there are any."},"value":{"type":"array","description":"List of CDN CustomDomains within an endpoint.","readOnly":true,"items":{"$ref":"#/components/schemas/CustomDomain"}}},"description":"Result of the request to list custom domains. It contains a list of custom domain objects and a URL link to get the next set of results."},"CustomDomainParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/CustomDomainPropertiesParameters"}},"description":"The customDomain JSON object required for custom domain creation or update."},"CustomDomainProperties":{"required":["hostName"],"type":"object","properties":{"customHttpsParameters":{"$ref":"#/components/schemas/CustomDomainHttpsParameters"},"customHttpsProvisioningState":{"type":"string","description":"Provisioning status of Custom Https of the custom domain.","readOnly":true,"enum":["Enabling","Enabled","Disabling","Disabled","Failed"]},"customHttpsProvisioningSubstate":{"type":"string","description":"Provisioning substate shows the progress of custom HTTPS enabling/disabling process step by step.","readOnly":true,"enum":["SubmittingDomainControlValidationRequest","PendingDomainControlValidationREquestApproval","DomainControlValidationRequestApproved","DomainControlValidationRequestRejected","DomainControlValidationRequestTimedOut","IssuingCertificate","DeployingCertificate","CertificateDeployed","DeletingCertificate","CertificateDeleted"]},"hostName":{"type":"string","description":"The host name of the custom domain. Must be a domain name."},"provisioningState":{"type":"string","description":"Provisioning status of the custom domain.","readOnly":true},"resourceState":{"type":"string","description":"Resource status of the custom domain.","readOnly":true,"enum":["Creating","Active","Deleting"]},"validationData":{"type":"string","description":"Special validation or data may be required when delivering CDN to some regions due to local compliance reasons. E.g. ICP license number of a custom domain is required to deliver content in China."}},"description":"The JSON object that contains the properties of the custom domain to create."},"CustomDomainPropertiesParameters":{"required":["hostName"],"type":"object","properties":{"hostName":{"type":"string","description":"The host name of the custom domain. Must be a domain name."}},"description":"The JSON object that contains the properties of the custom domain to create."},"DeepCreatedOrigin":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Origin name"},"properties":{"$ref":"#/components/schemas/DeepCreatedOriginProperties"}},"description":"The main origin of CDN content which is added when creating a CDN endpoint."},"DeepCreatedOriginProperties":{"required":["hostName"],"type":"object","properties":{"hostName":{"type":"string","description":"The address of the origin. It can be a domain name, IPv4 address, or IPv6 address."},"httpPort":{"maximum":65535,"exclusiveMaximum":false,"minimum":1,"exclusiveMinimum":false,"type":"integer","description":"The value of the HTTP port. Must be between 1 and 65535"},"httpsPort":{"maximum":65535,"exclusiveMaximum":false,"minimum":1,"exclusiveMinimum":false,"type":"integer","description":"The value of the HTTPS port. Must be between 1 and 65535"}},"description":"Properties of the origin created on the CDN endpoint."},"DeliveryRule":{"required":["actions","order"],"type":"object","properties":{"actions":{"type":"array","description":"A list of actions that are executed when all the conditions of a rule are satisfied.","items":{"$ref":"#/components/schemas/DeliveryRuleAction"}},"conditions":{"type":"array","description":"A list of conditions that must be matched for the actions to be executed","items":{"$ref":"#/components/schemas/DeliveryRuleCondition"}},"name":{"type":"string","description":"Name of the rule"},"order":{"type":"integer","description":"The order in which the rules are applied for the endpoint. Possible values {0,1,2,3,………}. A rule with a lesser order will be applied before a rule with a greater order. Rule with order 0 is a special rule. It does not require any condition and actions listed in it will always be applied."}},"description":"A rule that specifies a set of actions and conditions"},"DeliveryRuleAction":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the action for the delivery rule.","enum":["CacheExpiration","CacheKeyQueryString","ModifyRequestHeader","ModifyResponseHeader","UrlRedirect","UrlRewrite"]}},"description":"An action for the delivery rule.","discriminator":{"propertyName":"name"}},"DeliveryRuleCacheExpirationAction":{"properties":{"parameters":{"$ref":"#/components/schemas/CacheExpirationActionParameters"}},"description":"Defines the cache expiration action for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleAction"}]},"DeliveryRuleCacheKeyQueryStringAction":{"properties":{"parameters":{"$ref":"#/components/schemas/CacheKeyQueryStringActionParameters"}},"description":"Defines the cache-key query string action for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleAction"}]},"DeliveryRuleCondition":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the condition for the delivery rule.","enum":["RemoteAddress","RequestMethod","QueryString","PostArgs","RequestUri","RequestHeader","RequestBody","RequestScheme","UrlPath","UrlFileExtension","UrlFileName","HttpVersion","Cookies","IsDevice"]}},"description":"A condition for the delivery rule.","discriminator":{"propertyName":"name"}},"DeliveryRuleCookiesCondition":{"properties":{"parameters":{"$ref":"#/components/schemas/CookiesMatchConditionParameters"}},"description":"Defines the Cookies condition for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleCondition"}]},"DeliveryRuleHttpVersionCondition":{"properties":{"parameters":{"$ref":"#/components/schemas/HttpVersionMatchConditionParameters"}},"description":"Defines the HttpVersion condition for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleCondition"}]},"DeliveryRuleIsDeviceCondition":{"properties":{"parameters":{"$ref":"#/components/schemas/IsDeviceMatchConditionParameters"}},"description":"Defines the IsDevice condition for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleCondition"}]},"DeliveryRulePostArgsCondition":{"properties":{"parameters":{"$ref":"#/components/schemas/PostArgsMatchConditionParameters"}},"description":"Defines the PostArgs condition for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleCondition"}]},"DeliveryRuleQueryStringCondition":{"properties":{"parameters":{"$ref":"#/components/schemas/QueryStringMatchConditionParameters"}},"description":"Defines the QueryString condition for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleCondition"}]},"DeliveryRuleRemoteAddressCondition":{"properties":{"parameters":{"$ref":"#/components/schemas/RemoteAddressMatchConditionParameters"}},"description":"Defines the RemoteAddress condition for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleCondition"}]},"DeliveryRuleRequestBodyCondition":{"properties":{"parameters":{"$ref":"#/components/schemas/RequestBodyMatchConditionParameters"}},"description":"Defines the RequestBody condition for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleCondition"}]},"DeliveryRuleRequestHeaderAction":{"properties":{"parameters":{"$ref":"#/components/schemas/HeaderActionParameters"}},"description":"Defines the request header action for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleAction"}]},"DeliveryRuleRequestHeaderCondition":{"properties":{"parameters":{"$ref":"#/components/schemas/RequestHeaderMatchConditionParameters"}},"description":"Defines the RequestHeader condition for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleCondition"}]},"DeliveryRuleRequestMethodCondition":{"properties":{"parameters":{"$ref":"#/components/schemas/RequestMethodMatchConditionParameters"}},"description":"Defines the RequestMethod condition for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleCondition"}]},"DeliveryRuleRequestSchemeCondition":{"properties":{"parameters":{"$ref":"#/components/schemas/RequestSchemeMatchConditionParameters"}},"description":"Defines the RequestScheme condition for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleCondition"}]},"DeliveryRuleRequestUriCondition":{"properties":{"parameters":{"$ref":"#/components/schemas/RequestUriMatchConditionParameters"}},"description":"Defines the RequestUri condition for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleCondition"}]},"DeliveryRuleResponseHeaderAction":{"properties":{"parameters":{"$ref":"#/components/schemas/HeaderActionParameters"}},"description":"Defines the response header action for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleAction"}]},"DeliveryRuleUrlFileExtensionCondition":{"properties":{"parameters":{"$ref":"#/components/schemas/UrlFileExtensionMatchConditionParameters"}},"description":"Defines the UrlFileExtension condition for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleCondition"}]},"DeliveryRuleUrlFileNameCondition":{"properties":{"parameters":{"$ref":"#/components/schemas/UrlFileNameMatchConditionParameters"}},"description":"Defines the UrlFileName condition for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleCondition"}]},"DeliveryRuleUrlPathCondition":{"properties":{"parameters":{"$ref":"#/components/schemas/UrlPathMatchConditionParameters"}},"description":"Defines the UrlPath condition for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleCondition"}]},"EdgeNode":{"properties":{"properties":{"$ref":"#/components/schemas/EdgeNodeProperties"}},"description":"Edgenode is a global Point of Presence (POP) location used to deliver CDN content to end users.","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"EdgeNodeProperties":{"required":["ipAddressGroups"],"type":"object","properties":{"ipAddressGroups":{"type":"array","description":"List of ip address groups.","items":{"$ref":"#/components/schemas/IpAddressGroup"}}},"description":"The JSON object that contains the properties required to create an edgenode."},"EdgenodeResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of edgenode list results if there are any."},"value":{"type":"array","description":"Edge node of CDN service.","readOnly":true,"items":{"$ref":"#/components/schemas/EdgeNode"}}},"description":"Result of the request to list CDN edgenodes. It contains a list of ip address group and a URL link to get the next set of results."},"Endpoint":{"properties":{"properties":{"$ref":"#/components/schemas/EndpointProperties"}},"description":"CDN endpoint is the entity within a CDN profile containing configuration information such as origin, protocol, content caching and delivery behavior. The CDN endpoint uses the URL format <endpointname>.azureedge.net.","allOf":[{"$ref":"#/components/schemas/TrackedResource"}]},"EndpointListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of endpoint objects if there is any."},"value":{"type":"array","description":"List of CDN endpoints within a profile","readOnly":true,"items":{"$ref":"#/components/schemas/Endpoint"}}},"description":"Result of the request to list endpoints. It contains a list of endpoint objects and a URL link to get the next set of results."},"EndpointProperties":{"properties":{"hostName":{"type":"string","description":"The host name of the endpoint structured as {endpointName}.{DNSZone}, e.g. contoso.azureedge.net","readOnly":true},"origins":{"type":"array","description":"The source of the content being delivered via CDN.","items":{"$ref":"#/components/schemas/DeepCreatedOrigin"}},"provisioningState":{"type":"string","description":"Provisioning status of the endpoint.","readOnly":true},"resourceState":{"type":"string","description":"Resource status of the endpoint.","readOnly":true,"enum":["Creating","Deleting","Running","Starting","Stopped","Stopping"]}},"description":"The JSON object that contains the properties required to create an endpoint.","allOf":[{"$ref":"#/components/schemas/EndpointPropertiesUpdateParameters"}]},"EndpointPropertiesUpdateParameters":{"type":"object","properties":{"contentTypesToCompress":{"type":"array","description":"List of content types on which compression applies. The value should be a valid MIME type.","items":{"type":"string"}},"deliveryPolicy":{"required":["rules"],"type":"object","properties":{"description":{"type":"string","description":"User-friendly description of the policy."},"rules":{"type":"array","description":"A list of the delivery rules.","items":{"$ref":"#/components/schemas/DeliveryRule"}}},"description":"A policy that specifies the delivery rules to be used for an endpoint."},"geoFilters":{"type":"array","description":"List of rules defining the user's geo access within a CDN endpoint. Each geo filter defines an access rule to a specified path or content, e.g. block APAC for path /pictures/","items":{"$ref":"#/components/schemas/GeoFilter"}},"isCompressionEnabled":{"type":"boolean","description":"Indicates whether content compression is enabled on CDN. Default value is false. If compression is enabled, content will be served as compressed if user requests for a compressed version. Content won't be compressed on CDN when requested content is smaller than 1 byte or larger than 1 MB."},"isHttpAllowed":{"type":"boolean","description":"Indicates whether HTTP traffic is allowed on the endpoint. Default value is true. At least one protocol (HTTP or HTTPS) must be allowed."},"isHttpsAllowed":{"type":"boolean","description":"Indicates whether HTTPS traffic is allowed on the endpoint. Default value is true. At least one protocol (HTTP or HTTPS) must be allowed."},"optimizationType":{"$ref":"#/components/schemas/OptimizationType"},"originHostHeader":{"type":"string","description":"The host header value sent to the origin with each request. If you leave this blank, the request hostname determines this value. Azure CDN origins, such as Web Apps, Blob Storage, and Cloud Services require this host header value to match the origin hostname by default."},"originPath":{"type":"string","description":"A directory path on the origin that CDN can use to retrieve content from, e.g. contoso.cloudapp.net/originpath."},"probePath":{"type":"string","description":"Path to a file hosted on the origin which helps accelerate delivery of the dynamic content and calculate the most optimal routes for the CDN. This is relative to the origin path."},"queryStringCachingBehavior":{"$ref":"#/components/schemas/QueryStringCachingBehavior"},"webApplicationFirewallPolicyLink":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Defines the Web Application Firewall policy for the endpoint (if applicable)"}},"description":"The JSON object containing endpoint update parameters."},"EndpointUpdateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/EndpointPropertiesUpdateParameters"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Endpoint tags."}},"description":"Properties required to create or update an endpoint."},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code.","readOnly":true},"message":{"type":"string","description":"Error message indicating why the operation failed.","readOnly":true}},"description":"Error response indicates CDN service is not able to process the incoming request. The reason is provided in the error message."},"GeoFilter":{"required":["action","countryCodes","relativePath"],"type":"object","properties":{"action":{"type":"string","description":"Action of the geo filter, i.e. allow or block access.","enum":["Block","Allow"]},"countryCodes":{"type":"array","description":"Two letter country codes defining user country access in a geo filter, e.g. AU, MX, US.","items":{"type":"string"}},"relativePath":{"type":"string","description":"Relative path applicable to geo filter. (e.g. '/mypictures', '/mypicture/kitty.jpg', and etc.)"}},"description":"Rules defining user's geo access within a CDN endpoint."},"HeaderActionParameters":{"required":["@odata.type","headerAction","headerName"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters"]},"headerAction":{"type":"string","description":"Action to perform","enum":["Append","Overwrite","Delete"]},"headerName":{"type":"string","description":"Name of the header to modify"},"value":{"type":"string","description":"Value for the specified action"}},"description":"Defines the parameters for the request header action."},"HttpVersionMatchConditionParameters":{"required":["@odata.type","matchValues","operator"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleHttpVersionConditionParameters"]},"matchValues":{"type":"array","description":"The match value for the condition of the delivery rule","items":{"type":"string"}},"negateCondition":{"type":"boolean","description":"Describes if this is negate condition or not"},"operator":{"type":"string","description":"Describes operator to be matched","enum":["Equal"]}},"description":"Defines the parameters for HttpVersion match conditions"},"IpAddressGroup":{"type":"object","properties":{"deliveryRegion":{"type":"string","description":"The delivery region of the ip address group"},"ipv4Addresses":{"type":"array","description":"The list of ip v4 addresses.","items":{"$ref":"#/components/schemas/cidrIpAddress"}},"ipv6Addresses":{"type":"array","description":"The list of ip v6 addresses.","items":{"$ref":"#/components/schemas/cidrIpAddress"}}},"description":"CDN Ip address group"},"IsDeviceMatchConditionParameters":{"required":["@odata.type","matchValues","operator"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleIsDeviceConditionParameters"]},"matchValues":{"type":"array","description":"The match value for the condition of the delivery rule","items":{"type":"string","enum":["Mobile","Desktop"]}},"negateCondition":{"type":"boolean","description":"Describes if this is negate condition or not"},"operator":{"type":"string","description":"Describes operator to be matched","enum":["Equal"]},"transforms":{"type":"array","description":"List of transforms","items":{"$ref":"#/components/schemas/transform"}}},"description":"Defines the parameters for IsDevice match conditions"},"KeyVaultCertificateSourceParameters":{"required":["@odata.type","deleteRule","resourceGroupName","secretName","secretVersion","subscriptionId","updateRule","vaultName"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.KeyVaultCertificateSourceParameters"]},"deleteRule":{"type":"string","description":"Describes the action that shall be taken when the certificate is removed from Key Vault.","enum":["NoAction"]},"resourceGroupName":{"type":"string","description":"Resource group of the user's Key Vault containing the SSL certificate"},"secretName":{"type":"string","description":"The name of Key Vault Secret (representing the full certificate PFX) in Key Vault."},"secretVersion":{"type":"string","description":"The version(GUID) of Key Vault Secret in Key Vault."},"subscriptionId":{"type":"string","description":"Subscription Id of the user's Key Vault containing the SSL certificate"},"updateRule":{"type":"string","description":"Describes the action that shall be taken when the certificate is updated in Key Vault.","enum":["NoAction"]},"vaultName":{"type":"string","description":"The name of the user's Key Vault containing the SSL certificate"}},"description":"Describes the parameters for using a user's KeyVault certificate for securing custom domain."},"LoadParameters":{"required":["contentPaths"],"type":"object","properties":{"contentPaths":{"type":"array","description":"The path to the content to be loaded. Path should be a relative file URL of the origin.","items":{"type":"string"}}},"description":"Parameters required for content load."},"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"operation":{"type":"string","description":"Operation type: Read, write, delete, etc.","readOnly":true},"provider":{"type":"string","description":"Service provider: Microsoft.Cdn","readOnly":true},"resource":{"type":"string","description":"Resource on which the operation is performed: Profile, endpoint, etc.","readOnly":true}},"description":"The object that represents the operation."},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}","readOnly":true}},"description":"CDN REST API operation"},"OperationsListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of CDN operations supported by the CDN resource provider.","readOnly":true,"items":{"$ref":"#/components/schemas/Operation"}}},"description":"Result of the request to list CDN operations. It contains a list of operations and a URL link to get the next set of results."},"OptimizationType":{"type":"string","description":"Specifies what scenario the customer wants this CDN endpoint to optimize, e.g. Download, Media services. With this information we can apply scenario driven optimization.","enum":["GeneralWebDelivery","GeneralMediaStreaming","VideoOnDemandMediaStreaming","LargeFileDownload","DynamicSiteAcceleration"]},"Origin":{"properties":{"properties":{"$ref":"#/components/schemas/OriginProperties"}},"description":"CDN origin is the source of the content being delivered via CDN. When the edge nodes represented by an endpoint do not have the requested content cached, they attempt to fetch it from one or more of the configured origins.","allOf":[{"$ref":"#/components/schemas/TrackedResource"}]},"OriginListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of origin objects if there are any."},"value":{"type":"array","description":"List of CDN origins within an endpoint","readOnly":true,"items":{"$ref":"#/components/schemas/Origin"}}},"description":"Result of the request to list origins. It contains a list of origin objects and a URL link to get the next set of results."},"OriginProperties":{"required":["hostName"],"type":"object","properties":{"hostName":{"type":"string","description":"The address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported."},"httpPort":{"maximum":65535,"exclusiveMaximum":false,"minimum":1,"exclusiveMinimum":false,"type":"integer","description":"The value of the HTTP port. Must be between 1 and 65535."},"httpsPort":{"maximum":65535,"exclusiveMaximum":false,"minimum":1,"exclusiveMinimum":false,"type":"integer","description":"The value of the https port. Must be between 1 and 65535."},"provisioningState":{"type":"string","description":"Provisioning status of the origin.","readOnly":true},"resourceState":{"type":"string","description":"Resource status of the origin.","readOnly":true,"enum":["Creating","Active","Deleting"]}},"description":"The JSON object that contains the properties of the origin."},"OriginPropertiesParameters":{"type":"object","properties":{"hostName":{"type":"string","description":"The address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported."},"httpPort":{"maximum":65535,"exclusiveMaximum":false,"minimum":1,"exclusiveMinimum":false,"type":"integer","description":"The value of the HTTP port. Must be between 1 and 65535."},"httpsPort":{"maximum":65535,"exclusiveMaximum":false,"minimum":1,"exclusiveMinimum":false,"type":"integer","description":"The value of the HTTPS port. Must be between 1 and 65535."}},"description":"The JSON object that contains the properties of the origin."},"OriginUpdateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/OriginPropertiesParameters"}},"description":"Origin properties needed for origin creation or update."},"PostArgsMatchConditionParameters":{"required":["@odata.type","matchValues","operator","selector"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRulePostArgsConditionParameters"]},"matchValues":{"type":"array","description":"The match value for the condition of the delivery rule","items":{"type":"string"}},"negateCondition":{"type":"boolean","description":"Describes if this is negate condition or not"},"operator":{"type":"string","description":"Describes operator to be matched","enum":["Any","Equal","Contains","BeginsWith","EndsWith","LessThan","LessThanOrEqual","GreaterThan","GreaterThanOrEqual"]},"selector":{"type":"string","description":"Name of PostArg to be matched"},"transforms":{"type":"array","description":"List of transforms","items":{"$ref":"#/components/schemas/transform"}}},"description":"Defines the parameters for PostArgs match conditions"},"Profile":{"properties":{"properties":{"$ref":"#/components/schemas/ProfileProperties"},"sku":{"$ref":"#/components/schemas/Sku"}},"description":"CDN profile is a logical grouping of endpoints that share the same settings, such as CDN provider and pricing tier.","allOf":[{"$ref":"#/components/schemas/TrackedResource"}]},"ProfileListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of profile objects if there are any."},"value":{"type":"array","description":"List of CDN profiles within a resource group.","readOnly":true,"items":{"$ref":"#/components/schemas/Profile"}}},"description":"Result of the request to list profiles. It contains a list of profile objects and a URL link to get the next set of results."},"ProfileProperties":{"type":"object","properties":{"provisioningState":{"type":"string","description":"Provisioning status of the profile.","readOnly":true},"resourceState":{"type":"string","description":"Resource status of the profile.","readOnly":true,"enum":["Creating","Active","Deleting","Disabled"]}},"description":"The JSON object that contains the properties required to create a profile."},"ProfileUpdateParameters":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Profile tags"}},"description":"Properties required to update a profile."},"ProxyResource":{"description":"The resource model definition for a ARM proxy resource. It will have everything other than required location and tags","allOf":[{"$ref":"#/components/schemas/Resource"}]},"PurgeParameters":{"required":["contentPaths"],"type":"object","properties":{"contentPaths":{"type":"array","description":"The path to the content to be purged. Can describe a file path or a wild card directory.","items":{"type":"string"}}},"description":"Parameters required for content purge."},"QueryStringCachingBehavior":{"type":"string","description":"Defines how CDN caches requests that include query strings. You can ignore any query strings when caching, bypass caching to prevent requests that contain query strings from being cached, or cache every request with a unique URL.","enum":["IgnoreQueryString","BypassCaching","UseQueryString","NotSet"]},"QueryStringMatchConditionParameters":{"required":["@odata.type","matchValues","operator"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleQueryStringConditionParameters"]},"matchValues":{"type":"array","description":"The match value for the condition of the delivery rule","items":{"type":"string"}},"negateCondition":{"type":"boolean","description":"Describes if this is negate condition or not"},"operator":{"type":"string","description":"Describes operator to be matched","enum":["Any","Equal","Contains","BeginsWith","EndsWith","LessThan","LessThanOrEqual","GreaterThan","GreaterThanOrEqual"]},"transforms":{"type":"array","description":"List of transforms","items":{"$ref":"#/components/schemas/transform"}}},"description":"Defines the parameters for QueryString match conditions"},"RemoteAddressMatchConditionParameters":{"required":["@odata.type","matchValues","operator"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters"]},"matchValues":{"type":"array","description":"Match values to match against. The operator will apply to each value in here with OR semantics. If any of them match the variable with the given operator this match condition is considered a match.","items":{"type":"string"}},"negateCondition":{"type":"boolean","description":"Describes if this is negate condition or not"},"operator":{"type":"string","description":"Describes operator to be matched","enum":["Any","IPMatch","GeoMatch"]},"transforms":{"type":"array","description":"List of transforms","items":{"$ref":"#/components/schemas/transform"}}},"description":"Defines the parameters for RemoteAddress match conditions"},"RequestBodyMatchConditionParameters":{"required":["@odata.type","matchValues","operator"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestBodyConditionParameters"]},"matchValues":{"type":"array","description":"The match value for the condition of the delivery rule","items":{"type":"string"}},"negateCondition":{"type":"boolean","description":"Describes if this is negate condition or not"},"operator":{"type":"string","description":"Describes operator to be matched","enum":["Any","Equal","Contains","BeginsWith","EndsWith","LessThan","LessThanOrEqual","GreaterThan","GreaterThanOrEqual"]},"transforms":{"type":"array","description":"List of transforms","items":{"$ref":"#/components/schemas/transform"}}},"description":"Defines the parameters for RequestBody match conditions"},"RequestHeaderMatchConditionParameters":{"required":["@odata.type","matchValues","operator","selector"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestHeaderConditionParameters"]},"matchValues":{"type":"array","description":"The match value for the condition of the delivery rule","items":{"type":"string"}},"negateCondition":{"type":"boolean","description":"Describes if this is negate condition or not"},"operator":{"type":"string","description":"Describes operator to be matched","enum":["Any","Equal","Contains","BeginsWith","EndsWith","LessThan","LessThanOrEqual","GreaterThan","GreaterThanOrEqual"]},"selector":{"type":"string","description":"Name of Header to be matched"},"transforms":{"type":"array","description":"List of transforms","items":{"$ref":"#/components/schemas/transform"}}},"description":"Defines the parameters for RequestHeader match conditions"},"RequestMethodMatchConditionParameters":{"required":["@odata.type","matchValues","operator"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestMethodConditionParameters"]},"matchValues":{"type":"array","description":"The match value for the condition of the delivery rule","items":{"type":"string","enum":["GET","HEAD","POST","PUT","DELETE","OPTIONS","TRACE"]}},"negateCondition":{"type":"boolean","description":"Describes if this is negate condition or not"},"operator":{"type":"string","description":"Describes operator to be matched","enum":["Equal"]}},"description":"Defines the parameters for RequestMethod match conditions"},"RequestSchemeMatchConditionParameters":{"required":["@odata.type","matchValues","operator"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestSchemeConditionParameters"]},"matchValues":{"type":"array","description":"The match value for the condition of the delivery rule","items":{"type":"string","enum":["HTTP","HTTPS"]}},"negateCondition":{"type":"boolean","description":"Describes if this is negate condition or not"},"operator":{"type":"string","description":"Describes operator to be matched","enum":["Equal"]}},"description":"Defines the parameters for RequestScheme match conditions "},"RequestUriMatchConditionParameters":{"required":["@odata.type","matchValues","operator"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestUriConditionParameters"]},"matchValues":{"type":"array","description":"The match value for the condition of the delivery rule","items":{"type":"string"}},"negateCondition":{"type":"boolean","description":"Describes if this is negate condition or not"},"operator":{"type":"string","description":"Describes operator to be matched","enum":["Any","Equal","Contains","BeginsWith","EndsWith","LessThan","LessThanOrEqual","GreaterThan","GreaterThanOrEqual"]},"transforms":{"type":"array","description":"List of transforms","items":{"$ref":"#/components/schemas/transform"}}},"description":"Defines the parameters for RequestUri match conditions"},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"The core properties of ARM resources"},"ResourceType":{"type":"string","description":"Type of CDN resource used in CheckNameAvailability.","enum":["Microsoft.Cdn/Profiles/Endpoints"]},"ResourceUsage":{"type":"object","properties":{"currentValue":{"type":"integer","description":"Actual value of usage on the specified resource type.","readOnly":true},"limit":{"type":"integer","description":"Quota of the specified resource type.","readOnly":true},"resourceType":{"type":"string","description":"Resource type for which the usage is provided.","readOnly":true},"unit":{"type":"string","description":"Unit of the usage. e.g. Count.","readOnly":true}},"description":"Output of check resource usage API."},"ResourceUsageListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of custom domain objects if there are any."},"value":{"type":"array","description":"List of resource usages.","readOnly":true,"items":{"$ref":"#/components/schemas/ResourceUsage"}}},"description":"Output of check resource usage API."},"Sku":{"type":"object","properties":{"name":{"type":"string","description":"Name of the pricing tier.","enum":["Standard_Verizon","Premium_Verizon","Custom_Verizon","Standard_Akamai","Standard_ChinaCdn","Standard_Microsoft","Premium_ChinaCdn"]}},"description":"The pricing tier (defines a CDN provider, feature list and rate) of the CDN profile."},"SsoUri":{"type":"object","properties":{"ssoUriValue":{"type":"string","description":"The URI used to login to the supplemental portal.","readOnly":true}},"description":"The URI required to login to the supplemental portal from the Azure portal."},"SupportedOptimizationTypesListResult":{"type":"object","properties":{"supportedOptimizationTypes":{"type":"array","description":"Supported optimization types for a profile.","readOnly":true,"items":{"$ref":"#/components/schemas/OptimizationType"}}},"description":"The result of the GetSupportedOptimizationTypes API"},"TrackedResource":{"properties":{"location":{"type":"string","description":"Resource location."},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"The resource model definition for a ARM tracked top level resource.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"UrlFileExtensionMatchConditionParameters":{"required":["@odata.type","matchValues","operator"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlFileExtensionMatchConditionParameters"]},"matchValues":{"type":"array","description":"The match value for the condition of the delivery rule","items":{"type":"string"}},"negateCondition":{"type":"boolean","description":"Describes if this is negate condition or not"},"operator":{"type":"string","description":"Describes operator to be matched","enum":["Any","Equal","Contains","BeginsWith","EndsWith","LessThan","LessThanOrEqual","GreaterThan","GreaterThanOrEqual"]},"transforms":{"type":"array","description":"List of transforms","items":{"$ref":"#/components/schemas/transform"}}},"description":"Defines the parameters for UrlFileExtension match conditions"},"UrlFileNameMatchConditionParameters":{"required":["@odata.type","matchValues","operator"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlFilenameConditionParameters"]},"matchValues":{"type":"array","description":"The match value for the condition of the delivery rule","items":{"type":"string"}},"negateCondition":{"type":"boolean","description":"Describes if this is negate condition or not"},"operator":{"type":"string","description":"Describes operator to be matched","enum":["Any","Equal","Contains","BeginsWith","EndsWith","LessThan","LessThanOrEqual","GreaterThan","GreaterThanOrEqual"]},"transforms":{"type":"array","description":"List of transforms","items":{"$ref":"#/components/schemas/transform"}}},"description":"Defines the parameters for UrlFilename match conditions"},"UrlPathMatchConditionParameters":{"required":["@odata.type","matchValues","operator"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlPathMatchConditionParameters"]},"matchValues":{"type":"array","description":"The match value for the condition of the delivery rule","items":{"type":"string"}},"negateCondition":{"type":"boolean","description":"Describes if this is negate condition or not"},"operator":{"type":"string","description":"Describes operator to be matched","enum":["Any","Equal","Contains","BeginsWith","EndsWith","LessThan","LessThanOrEqual","GreaterThan","GreaterThanOrEqual","Wildcard"]},"transforms":{"type":"array","description":"List of transforms","items":{"$ref":"#/components/schemas/transform"}}},"description":"Defines the parameters for UrlPath match conditions"},"UrlRedirectAction":{"properties":{"parameters":{"$ref":"#/components/schemas/UrlRedirectActionParameters"}},"description":"Defines the url redirect action for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleAction"}]},"UrlRedirectActionParameters":{"required":["@odata.type","redirectType"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlRedirectActionParameters"]},"customFragment":{"type":"string","description":"Fragment to add to the redirect URL. Fragment is the part of the URL that comes after #. Do not include the #."},"customHostname":{"type":"string","description":"Host to redirect. Leave empty to use the incoming host as the destination host."},"customPath":{"type":"string","description":"The full path to redirect. Path cannot be empty and must start with /. Leave empty to use the incoming path as destination path."},"customQueryString":{"type":"string","description":"The set of query strings to be placed in the redirect URL. Setting this value would replace any existing query string; leave empty to preserve the incoming query string. Query string must be in <key>=<value> format. ? and & will be added automatically so do not include them."},"destinationProtocol":{"type":"string","description":"Protocol to use for the redirect. The default value is MatchRequest","enum":["MatchRequest","Http","Https"]},"redirectType":{"type":"string","description":"The redirect type the rule will use when redirecting traffic.","enum":["Moved","Found","TemporaryRedirect","PermanentRedirect"]}},"description":"Defines the parameters for the url redirect action."},"UrlRewriteAction":{"properties":{"parameters":{"$ref":"#/components/schemas/UrlRewriteActionParameters"}},"description":"Defines the url rewrite action for the delivery rule.","allOf":[{"$ref":"#/components/schemas/DeliveryRuleAction"}]},"UrlRewriteActionParameters":{"required":["@odata.type","destination","sourcePattern"],"type":"object","properties":{"@odata.type":{"type":"string","enum":["#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlRewriteActionParameters"]},"destination":{"type":"string","description":"Define the destination path for be used in the rewrite. This will overwrite the source pattern "},"preserveUnmatchedPath":{"type":"boolean","description":"If True, the remaining path after the source pattern will be appended to the new destination path.  "},"sourcePattern":{"type":"string","description":"define a request URI pattern that identifies the type of requests that may be rewritten. Currently, source pattern uses a prefix-based match. To match all URL paths, use \"/\" as the source pattern value. To match only the root directory and re-write this path, use the origin path field"}},"description":"Defines the parameters for the url rewrite action."},"UserManagedHttpsParameters":{"properties":{"certificateSourceParameters":{"$ref":"#/components/schemas/KeyVaultCertificateSourceParameters"}},"description":"Defines the certificate source parameters using user's keyvault certificate for enabling SSL.","allOf":[{"$ref":"#/components/schemas/CustomDomainHttpsParameters"}]},"ValidateCustomDomainInput":{"required":["hostName"],"type":"object","properties":{"hostName":{"type":"string","description":"The host name of the custom domain. Must be a domain name."}},"description":"Input of the custom domain to be validated for DNS mapping."},"ValidateCustomDomainOutput":{"type":"object","properties":{"customDomainValidated":{"type":"boolean","description":"Indicates whether the custom domain is valid or not.","readOnly":true},"message":{"type":"string","description":"Error message describing why the custom domain is not valid.","readOnly":true},"reason":{"type":"string","description":"The reason why the custom domain is not valid.","readOnly":true}},"description":"Output of custom domain validation."},"ValidateProbeInput":{"required":["probeURL"],"type":"object","properties":{"probeURL":{"type":"string","description":"The probe URL to validate."}},"description":"Input of the validate probe API."},"ValidateProbeOutput":{"type":"object","properties":{"errorCode":{"type":"string","description":"Specifies the error code when the probe url is not accepted.","readOnly":true},"isValid":{"type":"boolean","description":"Indicates whether the probe URL is accep
[...]
