{"openapi":"3.0.1","info":{"title":"Security Center","description":"API spec for Microsoft.Security (Azure Security Center) resource provider","version":"2019-08-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels":{"get":{"tags":["IoT Security Solution Analytics"],"description":"Use this method to get IoT security Analytics metrics in an array.","operationId":"IotSecuritySolutionAnalytics_List","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"solutionName","in":"path","description":"The name of the IoT Security solution.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IoTSecuritySolutionAnalyticsModelList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default":{"get":{"tags":["IoT Security Solution Analytics"],"description":"Use this method to get IoT Security Analytics metrics.","operationId":"IotSecuritySolutionAnalytics_Get","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"solutionName","in":"path","description":"The name of the IoT Security solution.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IoTSecuritySolutionAnalyticsModel"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedAlerts":{"get":{"tags":["Aggregated Alert"],"description":"Use this method to get the aggregated alert list of yours IoT Security solution.","operationId":"IotSecuritySolutionsAnalyticsAggregatedAlert_List","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"solutionName","in":"path","description":"The name of the IoT Security solution.","required":true,"schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of results to retrieve.","schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IoTSecurityAggregatedAlertList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedAlerts/{aggregatedAlertName}":{"get":{"tags":["Aggregated Alert"],"description":"Use this method to get a single the aggregated alert of yours IoT Security solution. This aggregation is performed by alert name.","operationId":"IotSecuritySolutionsAnalyticsAggregatedAlert_Get","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"solutionName","in":"path","description":"The name of the IoT Security solution.","required":true,"schema":{"type":"string"}},{"name":"aggregatedAlertName","in":"path","description":"Identifier of the aggregated alert.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IoTSecurityAggregatedAlert"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedAlerts/{aggregatedAlertName}/dismiss":{"post":{"tags":["Aggregated Alert"],"description":"Use this method to dismiss an aggregated IoT Security Solution Alert.","operationId":"IotSecuritySolutionsAnalyticsAggregatedAlert_Dismiss","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"solutionName","in":"path","description":"The name of the IoT Security solution.","required":true,"schema":{"type":"string"}},{"name":"aggregatedAlertName","in":"path","description":"Identifier of the aggregated alert.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"This aggregate alert is permanently dismissed."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedRecommendations":{"get":{"tags":["Aggregated Recommendation"],"description":"Use this method to get the list of aggregated security analytics recommendations of yours IoT Security solution.","operationId":"IotSecuritySolutionsAnalyticsRecommendation_List","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"solutionName","in":"path","description":"The name of the IoT Security solution.","required":true,"schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of results to retrieve.","schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IoTSecurityAggregatedRecommendationList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedRecommendations/{aggregatedRecommendationName}":{"get":{"tags":["Aggregated Recommendation"],"description":"Use this method to get the aggregated security analytics recommendation of yours IoT Security solution. This aggregation is performed by recommendation name.","operationId":"IotSecuritySolutionsAnalyticsRecommendation_Get","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"solutionName","in":"path","description":"The name of the IoT Security solution.","required":true,"schema":{"type":"string"}},{"name":"aggregatedRecommendationName","in":"path","description":"Name of the recommendation aggregated for this query.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IoTSecurityAggregatedRecommendation"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}}},"components":{"schemas":{"IoTSecurityAggregatedAlert":{"properties":{"properties":{"$ref":"#/components/schemas/IoTSecurityAggregatedAlertProperties"}},"description":"Security Solution Aggregated Alert information","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Describes an Azure resource."},{"$ref":"#/components/schemas/TagsResource"}]},"IoTSecurityAggregatedAlertList":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"When there is too much alert data for one page, use this URI to fetch the next page.","readOnly":true},"value":{"type":"array","description":"List of aggregated alerts data.","items":{"$ref":"#/components/schemas/IoTSecurityAggregatedAlert"}}},"description":"List of IoT Security solution aggregated alert data."},"IoTSecurityAggregatedAlertProperties":{"type":"object","properties":{"actionTaken":{"type":"string","description":"IoT Security solution alert response.","readOnly":true},"aggregatedDateUtc":{"type":"string","description":"Date of detection.","format":"date","readOnly":true},"alertDisplayName":{"type":"string","description":"Display name of the alert type.","readOnly":true},"alertType":{"type":"string","description":"Name of the alert type.","readOnly":true},"count":{"type":"integer","description":"Number of alerts occurrences within the aggregated time window.","readOnly":true},"description":{"type":"string","description":"Description of the suspected vulnerability and meaning.","readOnly":true},"effectedResourceType":{"type":"string","description":"Azure resource ID of the resource that received the alerts.","readOnly":true},"logAnalyticsQuery":{"type":"string","description":"Log analytics query for getting the list of affected devices/alerts.","readOnly":true},"remediationSteps":{"type":"string","description":"Recommended steps for remediation.","readOnly":true},"reportedSeverity":{"type":"string","description":"Assessed alert severity.","readOnly":true,"enum":["Informational","Low","Medium","High"]},"systemSource":{"type":"string","description":"The type of the alerted resource (Azure, Non-Azure).","readOnly":true},"topDevicesList":{"type":"array","description":"10 devices with the highest number of occurrences of this alert type, on this day.","readOnly":true,"items":{"type":"object","properties":{"alertsCount":{"type":"integer","description":"Number of alerts raised for this device.","readOnly":true},"deviceId":{"type":"string","description":"Name of the device.","readOnly":true},"lastOccurrence":{"type":"string","description":"Most recent time this alert was raised for this device, on this day.","readOnly":true}}}},"vendorName":{"type":"string","description":"Name of the organization that raised the alert.","readOnly":true}},"description":"IoT Security solution aggregated alert details."},"IoTSecurityAggregatedRecommendation":{"properties":{"properties":{"$ref":"#/components/schemas/IoTSecurityAggregatedRecommendationProperties"}},"description":"IoT Security solution recommendation information.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Describes an Azure resource."},{"$ref":"#/components/schemas/TagsResource"}]},"IoTSecurityAggregatedRecommendationList":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"When there is too much alert data for one page, use this URI to fetch the next page.","readOnly":true},"value":{"type":"array","description":"List of aggregated recommendations data.","items":{"$ref":"#/components/schemas/IoTSecurityAggregatedRecommendation"}}},"description":"List of IoT Security solution aggregated recommendations."},"IoTSecurityAggregatedRecommendationProperties":{"type":"object","properties":{"description":{"type":"string","description":"Description of the suspected vulnerability and meaning.","readOnly":true},"detectedBy":{"type":"string","description":"Name of the organization that made the recommendation.","readOnly":true},"healthyDevices":{"type":"integer","description":"Number of healthy devices within the IoT Security solution.","readOnly":true},"logAnalyticsQuery":{"type":"string","description":"Log analytics query for getting the list of affected devices/alerts.","readOnly":true},"recommendationDisplayName":{"type":"string","description":"Display name of the recommendation type.","readOnly":true},"recommendationName":{"type":"string","description":"Name of the recommendation."},"recommendationTypeId":{"type":"string","description":"Recommendation-type GUID.","readOnly":true},"remediationSteps":{"type":"string","description":"Recommended steps for remediation","readOnly":true},"reportedSeverity":{"type":"string","description":"Assessed recommendation severity.","readOnly":true,"enum":["Informational","Low","Medium","High"]},"unhealthyDeviceCount":{"type":"integer","description":"Number of unhealthy devices within the IoT Security solution.","readOnly":true}},"description":"IoT Security solution aggregated recommendation information"},"IoTSecurityAlertedDevice":{"type":"object","properties":{"alertsCount":{"type":"integer","description":"Number of alerts raised for this device.","readOnly":true},"deviceId":{"type":"string","description":"Device identifier.","readOnly":true}},"description":"Statistical information about the number of alerts per device during last set number of days."},"IoTSecurityAlertedDevicesList":{"type":"array","description":"List of devices with open alerts including the count of alerts per device.","items":{"$ref":"#/components/schemas/IoTSecurityAlertedDevice"}},"IoTSecurityDeviceAlert":{"type":"object","properties":{"alertDisplayName":{"type":"string","description":"Display name of the alert","readOnly":true},"alertsCount":{"type":"integer","description":"Number of alerts raised for this alert type.","readOnly":true},"reportedSeverity":{"type":"string","description":"Assessed Alert severity.","readOnly":true,"enum":["Informational","Low","Medium","High"]}},"description":"Statistical information about the number of alerts per alert type during last set number of days"},"IoTSecurityDeviceAlertsList":{"type":"array","description":"List of alerts with the count of raised alerts","items":{"$ref":"#/components/schemas/IoTSecurityDeviceAlert"}},"IoTSecurityDeviceRecommendation":{"type":"object","properties":{"devicesCount":{"type":"integer","description":"Number of devices with this recommendation.","readOnly":true},"recommendationDisplayName":{"type":"string","description":"Display name of the recommendation.","readOnly":true},"reportedSeverity":{"type":"string","description":"Assessed recommendation severity.","readOnly":true,"enum":["Informational","Low","Medium","High"]}},"description":"Statistical information about the number of recommendations per device, per recommendation type."},"IoTSecurityDeviceRecommendationsList":{"type":"array","description":"List of aggregated recommendation data, per recommendation type, per device.","items":{"$ref":"#/components/schemas/IoTSecurityDeviceRecommendation"}},"IoTSecuritySolutionAnalyticsModel":{"properties":{"properties":{"$ref":"#/components/schemas/IoTSecuritySolutionAnalyticsModelProperties"}},"description":"Security analytics of your IoT Security solution","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Describes an Azure resource."}]},"IoTSecuritySolutionAnalyticsModelList":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"When there is too much alert data for one page, use this URI to fetch the next page.","readOnly":true},"value":{"type":"array","description":"List of Security analytics of your IoT Security solution","items":{"$ref":"#/components/schemas/IoTSecuritySolutionAnalyticsModel"}}},"description":"List of Security analytics of your IoT Security solution"},"IoTSecuritySolutionAnalyticsModelProperties":{"type":"object","properties":{"devicesMetrics":{"type":"array","description":"List of device metrics by the aggregation date.","readOnly":true,"items":{"type":"object","properties":{"date":{"type":"string","description":"Aggregation of IoT Security solution device alert metrics by date.","format":"date-time"},"devicesMetrics":{"$ref":"#/components/schemas/IoTSeverityMetrics"}}}},"metrics":{"$ref":"#/components/schemas/IoTSeverityMetrics"},"mostPrevalentDeviceAlerts":{"$ref":"#/components/schemas/IoTSecurityDeviceAlertsList"},"mostPrevalentDeviceRecommendations":{"$ref":"#/components/schemas/IoTSecurityDeviceRecommendationsList"},"topAlertedDevices":{"$ref":"#/components/schemas/IoTSecurityAlertedDevicesList"},"unhealthyDeviceCount":{"type":"integer","description":"Number of unhealthy devices within your IoT Security solution.","readOnly":true}},"description":"Security analytics properties of your IoT Security solution"},"IoTSeverityMetrics":{"type":"object","properties":{"high":{"type":"integer","description":"Count of high severity alerts/recommendations."},"low":{"type":"integer","description":"Count of low severity alerts/recommendations."},"medium":{"type":"integer","description":"Count of medium severity alerts/recommendations."}},"description":"IoT Security solution analytics severity metrics."},"TagsResource":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"}},"description":"A container holding only the Tags for a resource, allowing the user to update the tags."}},"parameters":{"AggregatedAlertName":{"name":"aggregatedAlertName","in":"path","description":"Identifier of the aggregated alert.","required":true,"schema":{"type":"string"}},"AggregatedRecommendationName":{"name":"aggregatedRecommendationName","in":"path","description":"Name of the recommendation aggregated for this query.","required":true,"schema":{"type":"string"}},"SolutionName":{"name":"solutionName","in":"path","description":"The name of the IoT Security solution.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}