{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ApplicationInsightsManagementClient",
    "description" : "Apis for customer in enterprise agreement migrate to new pricing model or rollback to legacy pricing model.",
    "version" : "2017-10-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/listMigrationdate" : {
      "post" : {
        "description" : "list date to migrate to new pricing model.",
        "operationId" : "EASubscriptionListMigrationDate_Post",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success list migrate date information for this subscription.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EASubscriptionMigrationDate"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/migrateToNewPricingModel" : {
      "post" : {
        "description" : "Enterprise Agreement Customer opted to use new pricing model.",
        "operationId" : "EASubscriptionMigrateToNewPricingModel_Post",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success migrate to new pricing model for this subscription."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/rollbackToLegacyPricingModel" : {
      "post" : {
        "description" : "Enterprise Agreement Customer roll back to use legacy pricing model.",
        "operationId" : "EASubscriptionRollbackToLegacyPricingModel_Post",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success roll back to legacy pricing model for this subscription."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CloudError" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/CloudErrorBody"
          }
        },
        "description" : "An error response from the Batch service."
      },
      "CloudErrorBody" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
          },
          "details" : {
            "type" : "array",
            "description" : "A list of additional details about the error.",
            "items" : {
              "$ref" : "#/components/schemas/CloudErrorBody"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "A message describing the error, intended to be suitable for display in a user interface."
          },
          "target" : {
            "type" : "string",
            "description" : "The target of the particular error. For example, the name of the property in error."
          }
        },
        "description" : "An error response from the Batch service."
      },
      "EASubscriptionMigrationDate" : {
        "type" : "object",
        "properties" : {
          "isGrandFatherableSubscription" : {
            "type" : "boolean",
            "description" : "Is subscription in the grand fatherable subscription list."
          },
          "optedInDate" : {
            "type" : "string",
            "description" : "Time to start using new pricing model.",
            "format" : "date-time"
          }
        },
        "description" : "Subscription migrate date information properties"
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}