{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ComputeDiskAdminManagementClient",
    "description" : "The Admin Compute Disk Management Client.",
    "version" : "2018-07-30-preview"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/disks" : {
      "get" : {
        "tags" : [ "Disks" ],
        "description" : "Returns a list of disks.",
        "operationId" : "Disks_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userSubscriptionId",
          "in" : "query",
          "description" : "User Subscription Id which the resource belongs to.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "The parameters of disk state.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sharePath",
          "in" : "query",
          "description" : "The source share which the resource belongs to.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The maximum number of disks to return.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "The start index of disks in query.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2018-07-30-preview"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- The list of disks has been returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "nextLink" : {
                      "type" : "string",
                      "description" : "URI to the next page."
                    },
                    "value" : {
                      "type" : "array",
                      "description" : "List of disks.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "properties" : {
                            "type" : "object",
                            "properties" : {
                              "actualSizeGB" : {
                                "type" : "integer",
                                "description" : "The actual size of disk in GB.",
                                "format" : "int64",
                                "readOnly" : true
                              },
                              "diskId" : {
                                "type" : "string",
                                "description" : "The disk id."
                              },
                              "diskSku" : {
                                "type" : "string",
                                "description" : "Disk Sku.",
                                "enum" : [ "Standard_LRS", "Standard_ZRS", "Standard_GRS", "Standard_RAGRS", "Premium_LRS", "StandardSSD_LRS", "UltraSSD_LRS" ]
                              },
                              "diskType" : {
                                "type" : "string",
                                "description" : "Disk resource type.",
                                "enum" : [ "Undefined", "Disk", "Snapshot", "RestorePoint", "ManagedBlob" ]
                              },
                              "managedBy" : {
                                "type" : "string",
                                "description" : "Compute resource Uri which owns this disk.",
                                "readOnly" : true
                              },
                              "provisionSizeGB" : {
                                "type" : "integer",
                                "description" : "The provision size of disk in GB.",
                                "format" : "int64",
                                "readOnly" : true
                              },
                              "sharePath" : {
                                "type" : "string",
                                "description" : "The disk share path."
                              },
                              "status" : {
                                "type" : "string",
                                "description" : "Disk State.",
                                "enum" : [ "Undefined", "Unattached", "Attached", "Reserved", "ActiveSAS", "Unknown", "All", "Recommended", "OfflineMigration", "OnlineMigration" ]
                              },
                              "userResourceId" : {
                                "type" : "string",
                                "description" : "The disk resource Uri from user view.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Managed disk properties."
                          }
                        },
                        "description" : "Managed Disk."
                      }
                    }
                  },
                  "description" : "List of disks."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/disks/{DiskId}" : {
      "get" : {
        "tags" : [ "Disks" ],
        "description" : "Returns the disk.",
        "operationId" : "Disks_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DiskId",
          "in" : "path",
          "description" : "The disk guid as identity.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2018-07-30-preview"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK -- The disk has been returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "properties" : {
                    "properties" : {
                      "type" : "object",
                      "properties" : {
                        "actualSizeGB" : {
                          "type" : "integer",
                          "description" : "The actual size of disk in GB.",
                          "format" : "int64",
                          "readOnly" : true
                        },
                        "diskId" : {
                          "type" : "string",
                          "description" : "The disk id."
                        },
                        "diskSku" : {
                          "type" : "string",
                          "description" : "Disk Sku.",
                          "enum" : [ "Standard_LRS", "Standard_ZRS", "Standard_GRS", "Standard_RAGRS", "Premium_LRS", "StandardSSD_LRS", "UltraSSD_LRS" ]
                        },
                        "diskType" : {
                          "type" : "string",
                          "description" : "Disk resource type.",
                          "enum" : [ "Undefined", "Disk", "Snapshot", "RestorePoint", "ManagedBlob" ]
                        },
                        "managedBy" : {
                          "type" : "string",
                          "description" : "Compute resource Uri which owns this disk.",
                          "readOnly" : true
                        },
                        "provisionSizeGB" : {
                          "type" : "integer",
                          "description" : "The provision size of disk in GB.",
                          "format" : "int64",
                          "readOnly" : true
                        },
                        "sharePath" : {
                          "type" : "string",
                          "description" : "The disk share path."
                        },
                        "status" : {
                          "type" : "string",
                          "description" : "Disk State.",
                          "enum" : [ "Undefined", "Unattached", "Attached", "Reserved", "ActiveSAS", "Unknown", "All", "Recommended", "OfflineMigration", "OnlineMigration" ]
                        },
                        "userResourceId" : {
                          "type" : "string",
                          "description" : "The disk resource Uri from user view.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Managed disk properties."
                    }
                  },
                  "description" : "Managed Disk.",
                  "allOf" : [ {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "type" : "string",
                        "description" : "ID of the resource.",
                        "readOnly" : true
                      },
                      "location" : {
                        "type" : "string",
                        "description" : "Location of the resource."
                      },
                      "name" : {
                        "type" : "string",
                        "description" : "Name of the resource.",
                        "readOnly" : true
                      },
                      "type" : {
                        "type" : "string",
                        "description" : "Type of Resource.",
                        "readOnly" : true
                      }
                    },
                    "description" : "Base resource object."
                  } ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AccountType" : {
        "type" : "string",
        "description" : "Disk Sku.",
        "enum" : [ "Standard_LRS", "Standard_ZRS", "Standard_GRS", "Standard_RAGRS", "Premium_LRS", "StandardSSD_LRS", "UltraSSD_LRS" ]
      },
      "Disk" : {
        "properties" : {
          "properties" : {
            "type" : "object",
            "properties" : {
              "actualSizeGB" : {
                "type" : "integer",
                "description" : "The actual size of disk in GB.",
                "format" : "int64",
                "readOnly" : true
              },
              "diskId" : {
                "type" : "string",
                "description" : "The disk id."
              },
              "diskSku" : {
                "type" : "string",
                "description" : "Disk Sku.",
                "enum" : [ "Standard_LRS", "Standard_ZRS", "Standard_GRS", "Standard_RAGRS", "Premium_LRS", "StandardSSD_LRS", "UltraSSD_LRS" ]
              },
              "diskType" : {
                "type" : "string",
                "description" : "Disk resource type.",
                "enum" : [ "Undefined", "Disk", "Snapshot", "RestorePoint", "ManagedBlob" ]
              },
              "managedBy" : {
                "type" : "string",
                "description" : "Compute resource Uri which owns this disk.",
                "readOnly" : true
              },
              "provisionSizeGB" : {
                "type" : "integer",
                "description" : "The provision size of disk in GB.",
                "format" : "int64",
                "readOnly" : true
              },
              "sharePath" : {
                "type" : "string",
                "description" : "The disk share path."
              },
              "status" : {
                "type" : "string",
                "description" : "Disk State.",
                "enum" : [ "Undefined", "Unattached", "Attached", "Reserved", "ActiveSAS", "Unknown", "All", "Recommended", "OfflineMigration", "OnlineMigration" ]
              },
              "userResourceId" : {
                "type" : "string",
                "description" : "The disk resource Uri from user view.",
                "readOnly" : true
              }
            },
            "description" : "Managed disk properties."
          }
        },
        "description" : "Managed Disk.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "ID of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "Location of the resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Type of Resource.",
              "readOnly" : true
            }
          },
          "description" : "Base resource object."
        } ]
      },
      "DiskList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to the next page."
          },
          "value" : {
            "type" : "array",
            "description" : "List of disks.",
            "items" : {
              "type" : "object",
              "properties" : {
                "properties" : {
                  "type" : "object",
                  "properties" : {
                    "actualSizeGB" : {
                      "type" : "integer",
                      "description" : "The actual size of disk in GB.",
                      "format" : "int64",
                      "readOnly" : true
                    },
                    "diskId" : {
                      "type" : "string",
                      "description" : "The disk id."
                    },
                    "diskSku" : {
                      "type" : "string",
                      "description" : "Disk Sku.",
                      "enum" : [ "Standard_LRS", "Standard_ZRS", "Standard_GRS", "Standard_RAGRS", "Premium_LRS", "StandardSSD_LRS", "UltraSSD_LRS" ]
                    },
                    "diskType" : {
                      "type" : "string",
                      "description" : "Disk resource type.",
                      "enum" : [ "Undefined", "Disk", "Snapshot", "RestorePoint", "ManagedBlob" ]
                    },
                    "managedBy" : {
                      "type" : "string",
                      "description" : "Compute resource Uri which owns this disk.",
                      "readOnly" : true
                    },
                    "provisionSizeGB" : {
                      "type" : "integer",
                      "description" : "The provision size of disk in GB.",
                      "format" : "int64",
                      "readOnly" : true
                    },
                    "sharePath" : {
                      "type" : "string",
                      "description" : "The disk share path."
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Disk State.",
                      "enum" : [ "Undefined", "Unattached", "Attached", "Reserved", "ActiveSAS", "Unknown", "All", "Recommended", "OfflineMigration", "OnlineMigration" ]
                    },
                    "userResourceId" : {
                      "type" : "string",
                      "description" : "The disk resource Uri from user view.",
                      "readOnly" : true
                    }
                  },
                  "description" : "Managed disk properties."
                }
              },
              "description" : "Managed Disk."
            }
          }
        },
        "description" : "List of disks."
      },
      "DiskProperties" : {
        "type" : "object",
        "properties" : {
          "actualSizeGB" : {
            "type" : "integer",
            "description" : "The actual size of disk in GB.",
            "format" : "int64",
            "readOnly" : true
          },
          "diskId" : {
            "type" : "string",
            "description" : "The disk id."
          },
          "diskSku" : {
            "type" : "string",
            "description" : "Disk Sku.",
            "enum" : [ "Standard_LRS", "Standard_ZRS", "Standard_GRS", "Standard_RAGRS", "Premium_LRS", "StandardSSD_LRS", "UltraSSD_LRS" ]
          },
          "diskType" : {
            "type" : "string",
            "description" : "Disk resource type.",
            "enum" : [ "Undefined", "Disk", "Snapshot", "RestorePoint", "ManagedBlob" ]
          },
          "managedBy" : {
            "type" : "string",
            "description" : "Compute resource Uri which owns this disk.",
            "readOnly" : true
          },
          "provisionSizeGB" : {
            "type" : "integer",
            "description" : "The provision size of disk in GB.",
            "format" : "int64",
            "readOnly" : true
          },
          "sharePath" : {
            "type" : "string",
            "description" : "The disk share path."
          },
          "status" : {
            "type" : "string",
            "description" : "Disk State.",
            "enum" : [ "Undefined", "Unattached", "Attached", "Reserved", "ActiveSAS", "Unknown", "All", "Recommended", "OfflineMigration", "OnlineMigration" ]
          },
          "userResourceId" : {
            "type" : "string",
            "description" : "The disk resource Uri from user view.",
            "readOnly" : true
          }
        },
        "description" : "Managed disk properties."
      },
      "DiskResourceType" : {
        "type" : "string",
        "description" : "Disk resource type.",
        "enum" : [ "Undefined", "Disk", "Snapshot", "RestorePoint", "ManagedBlob" ]
      },
      "DiskState" : {
        "type" : "string",
        "description" : "Disk State.",
        "enum" : [ "Undefined", "Unattached", "Attached", "Reserved", "ActiveSAS", "Unknown", "All", "Recommended", "OfflineMigration", "OnlineMigration" ]
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client API Version.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "default" : "2018-07-30-preview"
        }
      },
      "DiskCountParameter" : {
        "name" : "count",
        "in" : "query",
        "description" : "The maximum number of disks to return.",
        "schema" : {
          "type" : "integer",
          "format" : "int32"
        }
      },
      "DiskIdParameter" : {
        "name" : "DiskId",
        "in" : "path",
        "description" : "The disk guid as identity.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "DiskStartParameter" : {
        "name" : "start",
        "in" : "query",
        "description" : "The start index of disks in query.",
        "schema" : {
          "type" : "integer",
          "format" : "int32"
        }
      },
      "DiskStateParameter" : {
        "name" : "status",
        "in" : "query",
        "description" : "The parameters of disk state.",
        "schema" : {
          "type" : "string"
        }
      },
      "SourceSharePathParameter" : {
        "name" : "sharePath",
        "in" : "query",
        "description" : "The source share which the resource belongs to.",
        "schema" : {
          "type" : "string"
        }
      },
      "UserSubscriptionIdParameter" : {
        "name" : "userSubscriptionId",
        "in" : "query",
        "description" : "User Subscription Id which the resource belongs to.",
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}