{"openapi":"3.0.1","info":{"title":"ApplicationClient","description":"ARM applications","version":"2018-06-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Solutions/applications":{"get":{"tags":["Applications"],"description":"Gets all the applications within a subscription.","operationId":"Applications_ListBySubscription","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of applications.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions":{"get":{"tags":["ApplicationDefinitions"],"description":"Lists the managed application definitions in a resource group.","operationId":"ApplicationDefinitions_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of managed application definitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationDefinitionListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}":{"get":{"tags":["ApplicationDefinitions"],"description":"Gets the managed application definition.","operationId":"ApplicationDefinitions_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"applicationDefinitionName","in":"path","description":"The name of the managed application definition.","required":true,"schema":{"maxLength":64,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns the managed application definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationDefinition"}}}},"404":{"description":"Not Found"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["ApplicationDefinitions"],"description":"Creates a new managed application definition.","operationId":"ApplicationDefinitions_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"applicationDefinitionName","in":"path","description":"The name of the managed application definition.","required":true,"schema":{"maxLength":64,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the create or update an managed application definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationDefinition"}}},"required":true},"responses":{"200":{"description":"OK - Returns information about the managed application definition, including provisioning status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationDefinition"}}}},"201":{"description":"Created - Returns information about the managed application definition, including provisioning status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationDefinition"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["ApplicationDefinitions"],"description":"Deletes the managed application definition.","operationId":"ApplicationDefinitions_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"applicationDefinitionName","in":"path","description":"The name of the managed application definition to delete.","required":true,"schema":{"maxLength":64,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted - Returns this status until the asynchronous operation has completed."},"204":{"description":"NoContent"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications":{"get":{"tags":["Applications"],"description":"Gets all the applications within a resource group.","operationId":"Applications_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of applications.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}":{"get":{"tags":["Applications"],"description":"Gets the managed application.","operationId":"Applications_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"applicationName","in":"path","description":"The name of the managed application.","required":true,"schema":{"maxLength":64,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns the managed application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"404":{"description":"Not Found"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Applications"],"description":"Creates a new managed application.","operationId":"Applications_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"applicationName","in":"path","description":"The name of the managed application.","required":true,"schema":{"maxLength":64,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the create or update a managed application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}},"required":true},"responses":{"200":{"description":"Created - Returns information about the managed application, including provisioning status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"201":{"description":"Created - Returns information about the managed application, including provisioning status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Applications"],"description":"Deletes the managed application.","operationId":"Applications_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"applicationName","in":"path","description":"The name of the managed application.","required":true,"schema":{"maxLength":64,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted - Returns this status until the asynchronous operation has completed."},"204":{"description":"NoContent"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Applications"],"description":"Updates an existing managed application. The only value that can be updated via PATCH currently is the tags.","operationId":"Applications_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"applicationName","in":"path","description":"The name of the managed application.","required":true,"schema":{"maxLength":64,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to update an existing managed application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}},"required":false},"responses":{"200":{"description":"Created - Returns information about the managed application, including provisioning status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/{applicationId}":{"get":{"tags":["Applications"],"description":"Gets the managed application.","operationId":"Applications_GetById","parameters":[{"name":"applicationId","in":"path","description":"The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns the managed application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"404":{"description":"Not Found"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Applications"],"description":"Creates a new managed application.","operationId":"Applications_CreateOrUpdateById","parameters":[{"name":"applicationId","in":"path","description":"The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the create or update a managed application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}},"required":true},"responses":{"200":{"description":"Created - Returns information about the managed application, including provisioning status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"201":{"description":"Created - Returns information about the managed application, including provisioning status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Applications"],"description":"Deletes the managed application.","operationId":"Applications_DeleteById","parameters":[{"name":"applicationId","in":"path","description":"The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted - Returns this status until the asynchronous operation has completed."},"204":{"description":"NoContent"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Applications"],"description":"Updates an existing managed application. The only value that can be updated via PATCH currently is the tags.","operationId":"Applications_UpdateById","parameters":[{"name":"applicationId","in":"path","description":"The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to update an existing managed application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}},"required":false},"responses":{"200":{"description":"Created - Returns information about the managed application, including provisioning status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"Application":{"properties":{"kind":{"pattern":"^[-\\w\\._,\\(\\)]+$","type":"string","description":"The kind of the managed application. Allowed values are MarketPlace and ServiceCatalog."},"plan":{"$ref":"#/components/schemas/Plan"},"properties":{"$ref":"#/components/schemas/ApplicationProperties"}},"description":"Information about managed application.","allOf":[{"$ref":"#/components/schemas/GenericResource"}]},"ApplicationArtifact":{"type":"object","properties":{"name":{"type":"string","description":"The managed application artifact name."},"type":{"$ref":"#/components/schemas/ApplicationArtifactType"},"uri":{"type":"string","description":"The managed application artifact blob uri."}},"description":"Managed application artifact."},"ApplicationArtifactType":{"type":"string","description":"The managed application artifact type.","enum":["Template","Custom"]},"ApplicationDefinition":{"properties":{"properties":{"$ref":"#/components/schemas/ApplicationDefinitionProperties"}},"description":"Information about managed application definition.","allOf":[{"$ref":"#/components/schemas/GenericResource"}]},"ApplicationDefinitionListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to use for getting the next set of results."},"value":{"type":"array","description":"The array of managed application definitions.","items":{"$ref":"#/components/schemas/ApplicationDefinition"}}},"description":"List of managed application definitions."},"ApplicationDefinitionProperties":{"required":["authorizations","lockLevel"],"type":"object","properties":{"artifacts":{"type":"array","description":"The collection of managed application artifacts. The portal will use the files specified as artifacts to construct the user experience of creating a managed application from a managed application definition.","items":{"$ref":"#/components/schemas/ApplicationArtifact"}},"authorizations":{"type":"array","description":"The managed application provider authorizations.","items":{"$ref":"#/components/schemas/ApplicationProviderAuthorization"}},"createUiDefinition":{"type":"object","description":"The createUiDefinition json for the backing template with Microsoft.Solutions/applications resource. It can be a JObject or well-formed JSON string."},"description":{"type":"string","description":"The managed application definition description."},"displayName":{"type":"string","description":"The managed application definition display name."},"isEnabled":{"type":"string","description":"A value indicating whether the package is enabled or not."},"lockLevel":{"$ref":"#/components/schemas/ApplicationLockLevel"},"mainTemplate":{"type":"object","description":"The inline main template json which has resources to be provisioned. It can be a JObject or well-formed JSON string."},"packageFileUri":{"type":"string","description":"The managed application definition package file Uri. Use this element"}},"description":"The managed application definition properties."},"ApplicationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to use for getting the next set of results."},"value":{"type":"array","description":"The array of managed applications.","items":{"$ref":"#/components/schemas/Application"}}},"description":"List of managed applications."},"ApplicationLockLevel":{"type":"string","description":"The managed application lock level.","enum":["CanNotDelete","ReadOnly","None"]},"ApplicationPatchable":{"properties":{"kind":{"pattern":"^[-\\w\\._,\\(\\)]+$","type":"string","description":"The kind of the managed application. Allowed values are MarketPlace and ServiceCatalog."},"plan":{"$ref":"#/components/schemas/PlanPatchable"},"properties":{"$ref":"#/components/schemas/ApplicationPropertiesPatchable"}},"description":"Information about managed application.","allOf":[{"$ref":"#/components/schemas/GenericResource"}]},"ApplicationProperties":{"required":["managedResourceGroupId"],"type":"object","properties":{"applicationDefinitionId":{"type":"string","description":"The fully qualified path of managed application definition Id."},"managedResourceGroupId":{"type":"string","description":"The managed resource group Id."},"outputs":{"type":"object","description":"Name and value pairs that define the managed application outputs.","readOnly":true},"parameters":{"type":"object","description":"Name and value pairs that define the managed application parameters. It can be a JObject or a well formed JSON string."},"provisioningState":{"$ref":"#/components/schemas/ProvisioningState"}},"description":"The managed application properties."},"ApplicationPropertiesPatchable":{"type":"object","properties":{"applicationDefinitionId":{"type":"string","description":"The fully qualified path of managed application definition Id."},"managedResourceGroupId":{"type":"string","description":"The managed resource group Id."},"outputs":{"type":"object","description":"Name and value pairs that define the managed application outputs.","readOnly":true},"parameters":{"type":"object","description":"Name and value pairs that define the managed application parameters. It can be a JObject or a well formed JSON string."},"provisioningState":{"$ref":"#/components/schemas/ProvisioningState"}},"description":"The managed application properties."},"ApplicationProviderAuthorization":{"required":["principalId","roleDefinitionId"],"type":"object","properties":{"principalId":{"type":"string","description":"The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the managed application resources."},"roleDefinitionId":{"type":"string","description":"The provider's role definition identifier. This role will define all the permissions that the provider must have on the managed application's container resource group. This role definition cannot have permission to delete the resource group."}},"description":"The managed application provider authorization."},"ErrorResponse":{"type":"object","properties":{"errorCode":{"type":"string","description":"Error code."},"errorMessage":{"type":"string","description":"Error message indicating why the operation failed."},"httpStatus":{"type":"string","description":"Http status code."}},"description":"Error response indicates managed application is not able to process the incoming request. The reason is provided in the error message."},"GenericResource":{"properties":{"identity":{"$ref":"#/components/schemas/Identity"},"managedBy":{"type":"string","description":"ID of the resource that manages this resource."},"sku":{"$ref":"#/components/schemas/Sku"}},"description":"Resource information.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"Identity":{"type":"object","properties":{"principalId":{"type":"string","description":"The principal ID of resource identity.","readOnly":true},"tenantId":{"type":"string","description":"The tenant ID of resource.","readOnly":true},"type":{"type":"string","description":"The identity type.","enum":["SystemAssigned"]}},"description":"Identity for the resource."},"Plan":{"required":["name","product","publisher","version"],"type":"object","properties":{"name":{"type":"string","description":"The plan name."},"product":{"type":"string","description":"The product code."},"promotionCode":{"type":"string","description":"The promotion code."},"publisher":{"type":"string","description":"The publisher ID."},"version":{"type":"string","description":"The plan's version."}},"description":"Plan for the managed application."},"PlanPatchable":{"type":"object","properties":{"name":{"type":"string","description":"The plan name."},"product":{"type":"string","description":"The product code."},"promotionCode":{"type":"string","description":"The promotion code."},"publisher":{"type":"string","description":"The publisher ID."},"version":{"type":"string","description":"The plan's version."}},"description":"Plan for the managed application."},"ProvisioningState":{"type":"string","description":"Provisioning status of the managed application.","enum":["Accepted","Running","Ready","Creating","Created","Deleting","Deleted","Canceled","Failed","Succeeded","Updating"]},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Resource information."},"Sku":{"required":["name"],"type":"object","properties":{"capacity":{"type":"integer","description":"The SKU capacity.","format":"int32"},"family":{"type":"string","description":"The SKU family."},"model":{"type":"string","description":"The SKU model."},"name":{"type":"string","description":"The SKU name."},"size":{"type":"string","description":"The SKU size."},"tier":{"type":"string","description":"The SKU tier."}},"description":"SKU for the resource."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}