{"openapi":"3.0.1","info":{"title":"Cosmos DB","description":"Azure Cosmos DB Database Service Resource Provider REST API","version":"2019-08-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/privateEndpointConnections":{"get":{"tags":["PrivateEndpointConnections"],"description":"List all private endpoint connections on a Cosmos DB account.","operationId":"PrivateEndpointConnections_ListByDatabaseAccount","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}}],"responses":{"200":{"description":"Successfully retrieved private endpoint connections.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateEndpointConnectionListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}":{"get":{"tags":["PrivateEndpointConnections"],"description":"Gets a private endpoint connection.","operationId":"PrivateEndpointConnections_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"privateEndpointConnectionName","in":"path","description":"The name of the private endpoint connection.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved a specified private endpoint connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateEndpointConnection"}}}}}},"put":{"tags":["PrivateEndpointConnections"],"description":"Approve or reject a private endpoint connection with a given name.","operationId":"PrivateEndpointConnections_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"privateEndpointConnectionName","in":"path","description":"The name of the private endpoint connection.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateEndpointConnection"}}},"required":true},"responses":{"200":{"description":"Successfully approved or rejected private endpoint connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateEndpointConnection"}}}},"202":{"description":"Accepted. The private endpoint connection update will complete asynchronously."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["PrivateEndpointConnections"],"description":"Deletes a private endpoint connection with a given name.","operationId":"PrivateEndpointConnections_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}},{"name":"privateEndpointConnectionName","in":"path","description":"The name of the private endpoint connection.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted. The private endpoint connection delete will complete asynchronously."},"204":{"description":"Private endpoint connection does not exist."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code."},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error Response."},"PrivateEndpointConnection":{"properties":{"properties":{"$ref":"#/components/schemas/PrivateEndpointConnectionProperties"}},"description":"A private endpoint connection","allOf":[{"description":"The resource model definition for a ARM proxy resource. It will have everything other than required location and tags","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"PrivateEndpointConnectionListResult":{"type":"object","properties":{"value":{"type":"array","description":"Array of private endpoint connections","items":{"$ref":"#/components/schemas/PrivateEndpointConnection"}}},"description":"A list of private endpoint connections"},"PrivateEndpointConnectionProperties":{"type":"object","properties":{"privateEndpoint":{"$ref":"#/components/schemas/PrivateEndpointProperty"},"privateLinkServiceConnectionState":{"$ref":"#/components/schemas/PrivateLinkServiceConnectionStateProperty"}},"description":"Properties of a private endpoint connection."},"PrivateEndpointProperty":{"type":"object","properties":{"id":{"type":"string","description":"Resource id of the private endpoint."}},"description":"Private endpoint which the connection belongs to."},"PrivateLinkServiceConnectionStateProperty":{"type":"object","properties":{"actionsRequired":{"type":"string","description":"Any action that is required beyond basic workflow (approve/ reject/ disconnect)","readOnly":true},"description":{"type":"string","description":"The private link service connection description."},"status":{"type":"string","description":"The private link service connection status."}},"description":"Connection State of the Private Endpoint Connection."}},"parameters":{"PrivateEndpointConnectionNameParameter":{"name":"privateEndpointConnectionName","in":"path","description":"The name of the private endpoint connection.","required":true,"schema":{"type":"string"}},"accountNameParameter":{"name":"accountName","in":"path","description":"Cosmos DB database account name.","required":true,"schema":{"maxLength":50,"minLength":3,"pattern":"^[a-z0-9]+(-[a-z0-9]+)*","type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}