{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NBA Stats API",
    "description" : "The destination for current and historic NBA statistics.",
    "version" : "version"
  },
  "servers" : [ {
    "url" : "//stats.nba.com/stats"
  } ],
  "paths" : {
    "/allstarballotpredictor" : {
      "get" : {
        "parameters" : [ {
          "name" : "PointCap",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WestPlayer1",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WestPlayer2",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WestPlayer3",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WestPlayer4",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WestPlayer5",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EastPlayer1",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EastPlayer2",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EastPlayer3",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EastPlayer4",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EastPlayer5",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/boxscore" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartPeriod",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndPeriod",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartRange",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndRange",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "RangeType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : true
      }
    },
    "/boxscoreadvanced" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartPeriod",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndPeriod",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartRange",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndRange",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "RangeType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : true
      }
    },
    "/boxscoreadvancedv2" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartRange",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndRange",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "RangeType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/boxscorefourfactors" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartPeriod",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndPeriod",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartRange",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndRange",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "RangeType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : true
      }
    },
    "/boxscorefourfactorsv2" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartRange",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndRange",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "RangeType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/boxscoremisc" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartPeriod",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndPeriod",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartRange",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndRange",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "RangeType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : true
      }
    },
    "/boxscoremiscv2" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartRange",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndRange",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "RangeType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/boxscoreplayertrackv2" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/boxscorescoring" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartPeriod",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndPeriod",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartRange",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndRange",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "RangeType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : true
      }
    },
    "/boxscorescoringv2" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartRange",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndRange",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "RangeType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/boxscoresummaryv2" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/boxscoretraditionalv2" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartRange",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndRange",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "RangeType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/boxscoreusage" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartPeriod",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndPeriod",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartRange",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndRange",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "RangeType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : true
      }
    },
    "/boxscoreusagev2" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartRange",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndRange",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "RangeType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/commonTeamYears" : {
      "get" : {
        "parameters" : [ {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/commonallplayers" : {
      "get" : {
        "parameters" : [ {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "IsOnlyCurrentSeason",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/commonplayerinfo" : {
      "get" : {
        "parameters" : [ {
          "name" : "PlayerID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/commonplayoffseries" : {
      "get" : {
        "parameters" : [ {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/commonteamroster" : {
      "get" : {
        "parameters" : [ {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "TeamID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/draftcombinedrillresults" : {
      "get" : {
        "parameters" : [ {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonYear",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/draftcombinenonstationaryshooting" : {
      "get" : {
        "parameters" : [ {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonYear",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/draftcombineplayeranthro" : {
      "get" : {
        "parameters" : [ {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonYear",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/draftcombinespotshooting" : {
      "get" : {
        "parameters" : [ {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonYear",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/draftcombinestats" : {
      "get" : {
        "parameters" : [ {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonYear",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/drafthistory" : {
      "get" : {
        "parameters" : [ {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/franchisehistory" : {
      "get" : {
        "parameters" : [ {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/homepageleaders" : {
      "get" : {
        "parameters" : [ {
          "name" : "StatCategory",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerOrTeam",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Game",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Player",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerScope",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameScope",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/homepagev2" : {
      "get" : {
        "parameters" : [ {
          "name" : "StatType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerOrTeam",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Game",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Player",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerScope",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameScope",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/leaderstiles" : {
      "get" : {
        "parameters" : [ {
          "name" : "Stat",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerOrTeam",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Game",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Player",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerScope",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameScope",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/leaguedashlineups" : {
      "get" : {
        "parameters" : [ {
          "name" : "GroupQuantity",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "MeasureType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlusMinus",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PaceAdjust",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Rank",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Outcome",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Month",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateFrom",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateTo",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OpponentTeamID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsConference",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsDivision",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Period",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LastNGames",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/leaguedashplayerbiostats" : {
      "get" : {
        "parameters" : [ {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/leaguedashplayerclutch" : {
      "get" : {
        "parameters" : [ {
          "name" : "ClutchTime",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "AheadBehind",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PointDiff",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameScope",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerExperience",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerPosition",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StarterBench",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "MeasureType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlusMinus",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PaceAdjust",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Rank",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Outcome",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Month",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateFrom",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateTo",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OpponentTeamID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsConference",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsDivision",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Period",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LastNGames",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/leaguedashplayerptshot" : {
      "get" : {
        "parameters" : [ {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/leaguedashplayershotlocations" : {
      "get" : {
        "parameters" : [ {
          "name" : "MeasureType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlusMinus",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PaceAdjust",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Rank",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Outcome",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Month",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateFrom",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateTo",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OpponentTeamID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsConference",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsDivision",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Period",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LastNGames",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DistanceRange",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameScope",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerExperience",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerPosition",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StarterBench",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/leaguedashplayerstats" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameScope",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerExperience",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerPosition",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StarterBench",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "MeasureType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlusMinus",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PaceAdjust",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Rank",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Outcome",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Month",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateFrom",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateTo",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OpponentTeamID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsConference",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsDivision",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Period",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LastNGames",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/leaguedashptdefend" : {
      "get" : {
        "parameters" : [ {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DefenseCategory",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/leaguedashptteamdefend" : {
      "get" : {
        "parameters" : [ {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DefenseCategory",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/leaguedashteamclutch" : {
      "get" : {
        "parameters" : [ {
          "name" : "ClutchTime",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "AheadBehind",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PointDiff",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameScope",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerExperience",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerPosition",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StarterBench",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "MeasureType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlusMinus",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PaceAdjust",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Rank",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Outcome",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Month",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateFrom",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateTo",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OpponentTeamID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsConference",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsDivision",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Period",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LastNGames",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/leaguedashteamptshot" : {
      "get" : {
        "parameters" : [ {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/leaguedashteamshotlocations" : {
      "get" : {
        "parameters" : [ {
          "name" : "MeasureType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlusMinus",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PaceAdjust",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Rank",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Outcome",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Month",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateFrom",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateTo",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OpponentTeamID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsConference",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsDivision",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Period",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LastNGames",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DistanceRange",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameScope",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerExperience",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerPosition",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StarterBench",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/leaguedashteamstats" : {
      "get" : {
        "parameters" : [ {
          "name" : "MeasureType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlusMinus",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PaceAdjust",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Rank",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Outcome",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Month",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateFrom",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateTo",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OpponentTeamID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsConference",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsDivision",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Period",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LastNGames",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/leagueleaders" : {
      "get" : {
        "parameters" : [ {
          "name" : "LeagueID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StatCategory",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Scope",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/playbyplay" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/playbyplayv2" : {
      "get" : {
        "parameters" : [ {
          "name" : "GameID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "StartPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EndPeriod",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/playercareerstats" : {
      "get" : {
        "parameters" : [ {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/playercompare" : {
      "get" : {
        "parameters" : [ {
          "name" : "PlayerIDList",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsPlayerIDList",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "MeasureType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlusMinus",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PaceAdjust",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Rank",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Outcome",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Month",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateFrom",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateTo",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OpponentTeamID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsConference",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsDivision",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Period",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LastNGames",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/playerdashboardbyclutch" : {
      "get" : {
        "parameters" : [ {
          "name" : "MeasureType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlusMinus",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PaceAdjust",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Rank",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Outcome",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Month",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateFrom",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateTo",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OpponentTeamID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsConference",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsDivision",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Period",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LastNGames",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/playerdashboardbygamesplits" : {
      "get" : {
        "parameters" : [ {
          "name" : "MeasureType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlusMinus",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PaceAdjust",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Rank",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Outcome",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Month",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateFrom",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateTo",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OpponentTeamID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsConference",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsDivision",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Period",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LastNGames",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/playerdashboardbygeneralsplits" : {
      "get" : {
        "parameters" : [ {
          "name" : "MeasureType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlusMinus",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PaceAdjust",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Rank",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Outcome",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Month",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateFrom",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateTo",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OpponentTeamID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsConference",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsDivision",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Period",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LastNGames",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/playerdashboardbylastngames" : {
      "get" : {
        "parameters" : [ {
          "name" : "MeasureType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlusMinus",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PaceAdjust",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Rank",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Outcome",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Month",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateFrom",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateTo",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OpponentTeamID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsConference",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsDivision",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Period",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LastNGames",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/playerdashboardbyopponent" : {
      "get" : {
        "parameters" : [ {
          "name" : "MeasureType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlusMinus",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PaceAdjust",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Rank",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Outcome",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Month",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateFrom",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateTo",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OpponentTeamID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsConference",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "VsDivision",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GameSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Period",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LastNGames",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK"
          },
          "400" : {
            "description" : "Bad request - bad parameters"
          },
          "404" : {
            "description" : "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "deprecated" : false
      }
    },
    "/playerdashboardbyshootingsplits" : {
      "get" : {
        "parameters" : [ {
          "name" : "MeasureType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PerMode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlusMinus",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PaceAdjust",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Rank",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Season",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PlayerID",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Outcome",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Location",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Month",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SeasonSegment",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "DateFrom",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
[...]
