{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "StreamAnalyticsManagementClient",
    "version" : "2016-03-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/locations/{location}/quotas" : {
      "get" : {
        "tags" : [ "Subscriptions" ],
        "description" : "Retrieves the subscription's current quota information in a particular region.",
        "operationId" : "Subscriptions_ListQuotas",
        "parameters" : [ {
          "name" : "location",
          "in" : "path",
          "description" : "The region in which to retrieve the subscription's quota information. You can find out which regions Azure Stream Analytics is supported in here: https://azure.microsoft.com/en-us/regions/",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the subscription's quota information in the specified region.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionQuotasListResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "SubResource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource Id",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name"
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type",
            "readOnly" : true
          }
        },
        "description" : "The base sub-resource model definition."
      },
      "SubscriptionQuota" : {
        "properties" : {
          "properties" : {
            "type" : "object",
            "properties" : {
              "currentCount" : {
                "type" : "integer",
                "description" : "The current usage of this resource.",
                "format" : "int32",
                "readOnly" : true
              },
              "maxCount" : {
                "type" : "integer",
                "description" : "The max permitted usage of this resource.",
                "format" : "int32",
                "readOnly" : true
              }
            },
            "description" : "Describes the properties of the quota.",
            "readOnly" : true
          }
        },
        "description" : "Describes the current quota for the subscription.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/SubResource"
        } ]
      },
      "SubscriptionQuotasListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "List of quotas for the subscription in a particular region.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionQuota"
            }
          }
        },
        "description" : "Result of the GetQuotas operation. It contains a list of quotas for the subscription in a particular region."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}