{"openapi":"3.0.1","info":{"title":"NetworkManagementClient","description":"The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.","version":"2019-07-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureFirewalls":{"get":{"tags":["AzureFirewalls"],"description":"Gets all the Azure Firewalls in a subscription.","operationId":"AzureFirewalls_ListAll","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The operation returns a list of AzureFirewall resources.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AzureFirewallListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls":{"get":{"tags":["AzureFirewalls"],"description":"Lists all Azure Firewalls in a resource group.","operationId":"AzureFirewalls_List","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The operation returns a list of AzureFirewall resources.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AzureFirewallListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls/{azureFirewallName}":{"get":{"tags":["AzureFirewalls"],"description":"Gets the specified Azure Firewall.","operationId":"AzureFirewalls_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"azureFirewallName","in":"path","description":"The name of the Azure Firewall.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. The operation returns an AzureFirewall resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AzureFirewall"}}}}}},"put":{"tags":["AzureFirewalls"],"description":"Creates or updates the specified Azure Firewall.","operationId":"AzureFirewalls_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"azureFirewallName","in":"path","description":"The name of the Azure Firewall.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the create or update Azure Firewall operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AzureFirewall"}}},"required":true},"responses":{"200":{"description":"Update successful. The operation returns the resulting AzureFirewall resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AzureFirewall"}}}},"201":{"description":"Create successful. The operation returns the resulting AzureFirewall resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AzureFirewall"}}}}}},"delete":{"tags":["AzureFirewalls"],"description":"Deletes the specified Azure Firewall.","operationId":"AzureFirewalls_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"azureFirewallName","in":"path","description":"The name of the Azure Firewall.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete successful."},"202":{"description":"Accepted and the operation will complete asynchronously."},"204":{"description":"Request successful. Resource with the specified name does not exist."}}},"patch":{"tags":["AzureFirewalls"],"description":"Updates tags for an Azure Firewall resource.","operationId":"AzureFirewalls_UpdateTags","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"azureFirewallName","in":"path","description":"The name of the Azure Firewall.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the create or update Azure Firewall operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AzureFirewall"}}},"required":true},"responses":{"200":{"description":"Update successful. The operation returns the resulting AzureFirewall resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AzureFirewall"}}}}}}}},"components":{"schemas":{"AzureFirewall":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"properties":{"$ref":"#/components/schemas/AzureFirewallPropertiesFormat"},"zones":{"type":"array","description":"A list of availability zones denoting where the resource needs to come from.","items":{"type":"string"}}},"description":"Azure Firewall resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Common resource representation."}]},"AzureFirewallApplicationRule":{"type":"object","properties":{"description":{"type":"string","description":"Description of the rule."},"fqdnTags":{"type":"array","description":"List of FQDN Tags for this rule.","items":{"type":"string"}},"name":{"type":"string","description":"Name of the application rule."},"protocols":{"type":"array","description":"Array of ApplicationRuleProtocols.","items":{"$ref":"#/components/schemas/AzureFirewallApplicationRuleProtocol"}},"sourceAddresses":{"type":"array","description":"List of source IP addresses for this rule.","items":{"type":"string"}},"targetFqdns":{"type":"array","description":"List of FQDNs for this rule.","items":{"type":"string"}}},"description":"Properties of an application rule."},"AzureFirewallApplicationRuleCollection":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"name":{"type":"string","description":"The name of the resource that is unique within the Azure firewall. This name can be used to access the resource."},"properties":{"$ref":"#/components/schemas/AzureFirewallApplicationRuleCollectionPropertiesFormat"}},"description":"Application rule collection resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}]},"AzureFirewallApplicationRuleCollectionPropertiesFormat":{"type":"object","properties":{"action":{"$ref":"#/components/schemas/AzureFirewallRCAction"},"priority":{"maximum":65000,"exclusiveMaximum":false,"minimum":100,"exclusiveMinimum":false,"type":"integer","description":"Priority of the application rule collection resource.","format":"int32"},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"rules":{"type":"array","description":"Collection of rules used by a application rule collection.","items":{"$ref":"#/components/schemas/AzureFirewallApplicationRule"}}},"description":"Properties of the application rule collection."},"AzureFirewallApplicationRuleProtocol":{"type":"object","properties":{"port":{"maximum":64000,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false,"type":"integer","description":"Port number for the protocol, cannot be greater than 64000. This field is optional.","format":"int32"},"protocolType":{"$ref":"#/components/schemas/AzureFirewallApplicationRuleProtocolType"}},"description":"Properties of the application rule protocol."},"AzureFirewallApplicationRuleProtocolType":{"type":"string","description":"The protocol type of a Application Rule resource.","enum":["Http","Https","Mssql"]},"AzureFirewallIPConfiguration":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"name":{"type":"string","description":"Name of the resource that is unique within a resource group. This name can be used to access the resource."},"properties":{"$ref":"#/components/schemas/AzureFirewallIPConfigurationPropertiesFormat"}},"description":"IP configuration of an Azure Firewall.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}]},"AzureFirewallIPConfigurationPropertiesFormat":{"type":"object","properties":{"privateIPAddress":{"type":"string","description":"The Firewall Internal Load Balancer IP to be used as the next hop in User Defined Routes.","readOnly":true},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"publicIPAddress":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."},"subnet":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}},"description":"Properties of IP configuration of an Azure Firewall."},"AzureFirewallListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of results."},"value":{"type":"array","description":"List of Azure Firewalls in a resource group.","items":{"$ref":"#/components/schemas/AzureFirewall"}}},"description":"Response for ListAzureFirewalls API service call."},"AzureFirewallNatRCAction":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/AzureFirewallNatRCActionType"}},"description":"AzureFirewall NAT Rule Collection Action."},"AzureFirewallNatRCActionType":{"type":"string","description":"The action type of a NAT rule collection.","enum":["Snat","Dnat"]},"AzureFirewallNatRule":{"type":"object","properties":{"description":{"type":"string","description":"Description of the rule."},"destinationAddresses":{"type":"array","description":"List of destination IP addresses for this rule. Supports IP ranges, prefixes, and service tags.","items":{"type":"string"}},"destinationPorts":{"type":"array","description":"List of destination ports.","items":{"type":"string"}},"name":{"type":"string","description":"Name of the NAT rule."},"protocols":{"type":"array","description":"Array of AzureFirewallNetworkRuleProtocols applicable to this NAT rule.","items":{"$ref":"#/components/schemas/AzureFirewallNetworkRuleProtocol"}},"sourceAddresses":{"type":"array","description":"List of source IP addresses for this rule.","items":{"type":"string"}},"translatedAddress":{"type":"string","description":"The translated address for this NAT rule."},"translatedPort":{"type":"string","description":"The translated port for this NAT rule."}},"description":"Properties of a NAT rule."},"AzureFirewallNatRuleCollection":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"name":{"type":"string","description":"The name of the resource that is unique within the Azure firewall. This name can be used to access the resource."},"properties":{"$ref":"#/components/schemas/AzureFirewallNatRuleCollectionProperties"}},"description":"NAT rule collection resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}]},"AzureFirewallNatRuleCollectionProperties":{"type":"object","properties":{"action":{"$ref":"#/components/schemas/AzureFirewallNatRCAction"},"priority":{"maximum":65000,"exclusiveMaximum":false,"minimum":100,"exclusiveMinimum":false,"type":"integer","description":"Priority of the NAT rule collection resource.","format":"int32"},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"rules":{"type":"array","description":"Collection of rules used by a NAT rule collection.","items":{"$ref":"#/components/schemas/AzureFirewallNatRule"}}},"description":"Properties of the NAT rule collection."},"AzureFirewallNetworkRule":{"type":"object","properties":{"description":{"type":"string","description":"Description of the rule."},"destinationAddresses":{"type":"array","description":"List of destination IP addresses.","items":{"type":"string"}},"destinationPorts":{"type":"array","description":"List of destination ports.","items":{"type":"string"}},"name":{"type":"string","description":"Name of the network rule."},"protocols":{"type":"array","description":"Array of AzureFirewallNetworkRuleProtocols.","items":{"$ref":"#/components/schemas/AzureFirewallNetworkRuleProtocol"}},"sourceAddresses":{"type":"array","description":"List of source IP addresses for this rule.","items":{"type":"string"}}},"description":"Properties of the network rule."},"AzureFirewallNetworkRuleCollection":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"name":{"type":"string","description":"The name of the resource that is unique within the Azure firewall. This name can be used to access the resource."},"properties":{"$ref":"#/components/schemas/AzureFirewallNetworkRuleCollectionPropertiesFormat"}},"description":"Network rule collection resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}]},"AzureFirewallNetworkRuleCollectionPropertiesFormat":{"type":"object","properties":{"action":{"$ref":"#/components/schemas/AzureFirewallRCAction"},"priority":{"maximum":65000,"exclusiveMaximum":false,"minimum":100,"exclusiveMinimum":false,"type":"integer","description":"Priority of the network rule collection resource.","format":"int32"},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"rules":{"type":"array","description":"Collection of rules used by a network rule collection.","items":{"$ref":"#/components/schemas/AzureFirewallNetworkRule"}}},"description":"Properties of the network rule collection."},"AzureFirewallNetworkRuleProtocol":{"type":"string","description":"The protocol of a Network Rule resource.","enum":["TCP","UDP","Any","ICMP"]},"AzureFirewallPropertiesFormat":{"type":"object","properties":{"applicationRuleCollections":{"type":"array","description":"Collection of application rule collections used by Azure Firewall.","items":{"$ref":"#/components/schemas/AzureFirewallApplicationRuleCollection"}},"firewallPolicy":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."},"hubIpAddresses":{"$ref":"#/components/schemas/HubIPAddresses"},"ipConfigurations":{"type":"array","description":"IP configuration of the Azure Firewall resource.","items":{"$ref":"#/components/schemas/AzureFirewallIPConfiguration"}},"natRuleCollections":{"type":"array","description":"Collection of NAT rule collections used by Azure Firewall.","items":{"$ref":"#/components/schemas/AzureFirewallNatRuleCollection"}},"networkRuleCollections":{"type":"array","description":"Collection of network rule collections used by Azure Firewall.","items":{"$ref":"#/components/schemas/AzureFirewallNetworkRuleCollection"}},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"threatIntelMode":{"$ref":"#/components/schemas/AzureFirewallThreatIntelMode"},"virtualHub":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}},"description":"Properties of the Azure Firewall."},"AzureFirewallPublicIPAddress":{"type":"object","properties":{"address":{"type":"string","description":"Public IP Address value."}},"description":"Public IP Address associated with azure firewall."},"AzureFirewallRCAction":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/AzureFirewallRCActionType"}},"description":"Properties of the AzureFirewallRCAction."},"AzureFirewallRCActionType":{"type":"string","description":"The action type of a rule collection.","enum":["Allow","Deny"]},"AzureFirewallThreatIntelMode":{"type":"string","description":"The operation mode for Threat Intel.","enum":["Alert","Deny","Off"]},"HubIPAddresses":{"type":"object","properties":{"privateIPAddress":{"type":"string","description":"Private IP Address associated with azure firewall."},"publicIPAddresses":{"type":"array","description":"List of Public IP addresses associated with azure firewall.","items":{"$ref":"#/components/schemas/AzureFirewallPublicIPAddress"}}},"description":"IP addresses associated with azure firewall."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}