{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ContainerServiceClient",
    "description" : "The Container Service Client.",
    "version" : "2017-09-30"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/locations/{location}/orchestrators" : {
      "get" : {
        "tags" : [ "ContainerServices" ],
        "summary" : "Gets a list of supported orchestrators in the specified subscription.",
        "description" : "Gets a list of supported orchestrators in the specified subscription. The operation returns properties of each orchestrator including version and available upgrades.",
        "operationId" : "ContainerServices_ListOrchestrators",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "The name of a supported Azure region.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-type",
          "in" : "query",
          "description" : "resource type for which the list of orchestrators needs to be returned",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrchestratorVersionProfileListResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "OrchestratorProfile" : {
        "required" : [ "orchestratorType", "orchestratorVersion" ],
        "type" : "object",
        "properties" : {
          "orchestratorType" : {
            "type" : "string",
            "description" : "Orchestrator type."
          },
          "orchestratorVersion" : {
            "type" : "string",
            "description" : "Orchestrator version (major, minor, patch)."
          }
        },
        "description" : "Contains information about orchestrator."
      },
      "OrchestratorVersionProfile" : {
        "required" : [ "default", "orchestratorType", "orchestratorVersion", "upgrades" ],
        "type" : "object",
        "properties" : {
          "default" : {
            "type" : "boolean",
            "description" : "Installed by default if version is not specified."
          },
          "orchestratorType" : {
            "type" : "string",
            "description" : "Orchestrator type."
          },
          "orchestratorVersion" : {
            "type" : "string",
            "description" : "Orchestrator version (major, minor, patch)."
          },
          "upgrades" : {
            "type" : "array",
            "description" : "The list of available upgrade versions.",
            "items" : {
              "$ref" : "#/components/schemas/OrchestratorProfile"
            }
          }
        },
        "description" : "The profile of an orchestrator and its available versions."
      },
      "OrchestratorVersionProfileListResult" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id of the orchestrator version profile list result.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the orchestrator version profile list result.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/OrchestratorVersionProfileProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the orchestrator version profile list result.",
            "readOnly" : true
          }
        },
        "description" : "The list of versions for supported orchestrators."
      },
      "OrchestratorVersionProfileProperties" : {
        "required" : [ "orchestrators" ],
        "type" : "object",
        "properties" : {
          "orchestrators" : {
            "type" : "array",
            "description" : "List of orchestrator version profiles.",
            "items" : {
              "$ref" : "#/components/schemas/OrchestratorVersionProfile"
            }
          }
        },
        "description" : "The properties of an orchestrator version profile."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "LocationParameter" : {
        "name" : "location",
        "in" : "path",
        "description" : "The name of a supported Azure region.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceTypeParameter" : {
        "name" : "resource-type",
        "in" : "query",
        "description" : "resource type for which the list of orchestrators needs to be returned",
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}