{"openapi":"3.0.1","info":{"title":"Azure Stack Azure Bridge Client","version":"2017-06-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.AzureStack/operations":{"get":{"tags":["AzureStack"],"description":"Returns the list of supported REST operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2017-06-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationList"}}}}}}}},"components":{"schemas":{"Display":{"type":"object","properties":{"description":{"type":"string","description":"The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views."},"operation":{"type":"string","description":"The localized, friendly name for the operation. Use the name as it will displayed to the user."},"provider":{"type":"string","description":"The localized, friendly version of the resource provider name."},"resource":{"type":"string","description":"The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider."}},"description":"Contains the localized display information for this particular operation or action."},"ErrorDetails":{"type":"object","properties":{"code":{"type":"string","description":"Error code.","readOnly":true},"message":{"type":"string","description":"Error message indicating why the operation failed.","readOnly":true},"target":{"type":"string","description":"The target of the particular error.","readOnly":true}},"description":"The details of the error."},"ErrorResponse":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDetails"}},"description":"Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message."},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/Display"},"name":{"type":"string","description":"The name of the operation being performed on this particular object."},"origin":{"type":"string","description":"The intended executor of the operation."}},"description":"Describes the supported REST operation."},"OperationList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page of operations."},"value":{"type":"array","description":"Array of operations","items":{"$ref":"#/components/schemas/Operation"}}},"description":"List of Operations"},"ProvisioningState":{"type":"string","description":"The provisioning state of the resource.","enum":["Creating","Failed","Succeeded","Canceled"]},"Resource":{"type":"object","properties":{"etag":{"type":"string","description":"The entity tag used for optimistic concurrency when modifying the resource."},"id":{"type":"string","description":"ID of the resource.","readOnly":true},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"type":{"type":"string","description":"Type of Resource.","readOnly":true}},"description":"Base resource object."},"TrackedResource":{"required":["location"],"type":"object","properties":{"etag":{"type":"string","description":"The entity tag used for optimistic concurrency when modifying the resource."},"id":{"type":"string","description":"ID of the resource.","readOnly":true},"location":{"type":"string","description":"Location of the resource.","enum":["global"]},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Custom tags for the resource."},"type":{"type":"string","description":"Type of Resource.","readOnly":true}},"description":"Base resource object."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2017-06-01"}},"RegistrationNameParameter":{"name":"registrationName","in":"path","description":"Name of the Azure Stack registration.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroup","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}