{"openapi":"3.0.1","info":{"title":"KustoManagementClient","version":"2019-09-07"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/providers/Microsoft.Kusto/operations":{"get":{"tags":["Operations"],"description":"Lists available operations for the Microsoft.Kusto provider.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains the list of available operations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Kusto/clusters":{"get":{"tags":["Clusters"],"description":"Lists all Kusto clusters within a subscription.","operationId":"Clusters_List","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Kusto/locations/{location}/checkNameAvailability":{"post":{"tags":["Clusters"],"description":"Checks that the cluster name is valid and is not already in use.","operationId":"Clusters_CheckNameAvailability","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Azure location.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The name of the cluster.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterCheckNameRequest"}}},"required":true},"responses":{"200":{"description":"OK -- Operation to check the kusto resource name availability was successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Kusto/skus":{"get":{"description":"Lists eligible SKUs for Kusto resource provider.","operationId":"Clusters_ListSkus","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SkuDescriptionList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters":{"get":{"tags":["Clusters"],"description":"Lists all Kusto clusters within a resource group.","operationId":"Clusters_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}":{"get":{"tags":["Clusters"],"description":"Gets a Kusto cluster.","operationId":"Clusters_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Kusto cluster.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["Clusters"],"description":"Create or update a Kusto cluster.","operationId":"Clusters_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The Kusto cluster parameters supplied to the CreateOrUpdate operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}},"required":true},"responses":{"200":{"description":"Successfully updated the Cluster.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"201":{"description":"Successfully created the cluster.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["Clusters"],"description":"Deletes a Kusto cluster.","operationId":"Clusters_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- cluster deleted successfully."},"202":{"description":"Accepted the delete cluster request."},"204":{"description":"NoContent -- cluster does not exist in the subscription."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["Clusters"],"description":"Update a Kusto cluster.","operationId":"Clusters_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The Kusto cluster parameters supplied to the Update operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterUpdate"}}},"required":true},"responses":{"200":{"description":"Successfully updated the Cluster.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"201":{"description":"Successfully updated the cluster.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"202":{"description":"Successfully updated the cluster.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/attachedDatabaseConfigurations":{"get":{"tags":["AttachedDatabaseConfigurations"],"description":"Returns the list of attached database configurations of the given Kusto cluster.","operationId":"AttachedDatabaseConfigurations_ListByCluster","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the list of attached database configurations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachedDatabaseConfigurationListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/attachedDatabaseConfigurations/{attachedDatabaseConfigurationName}":{"get":{"tags":["AttachedDatabaseConfigurations"],"description":"Returns an attached database configuration.","operationId":"AttachedDatabaseConfigurations_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"attachedDatabaseConfigurationName","in":"path","description":"The name of the attached database configuration.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the specified attached database configuration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachedDatabaseConfiguration"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["AttachedDatabaseConfigurations"],"description":"Creates or updates an attached database configuration.","operationId":"AttachedDatabaseConfigurations_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"attachedDatabaseConfigurationName","in":"path","description":"The name of the attached database configuration.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The database parameters supplied to the CreateOrUpdate operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachedDatabaseConfiguration"}}},"required":true},"responses":{"200":{"description":"Successfully updated the database.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachedDatabaseConfiguration"}}}},"201":{"description":"Successfully created the database.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachedDatabaseConfiguration"}}}},"202":{"description":"Accepted the create database request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachedDatabaseConfiguration"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["AttachedDatabaseConfigurations"],"description":"Deletes the attached database configuration with the given name.","operationId":"AttachedDatabaseConfigurations_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"attachedDatabaseConfigurationName","in":"path","description":"The name of the attached database configuration.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted the database."},"202":{"description":"Accepted."},"204":{"description":"The specified database does not exist."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/checkNameAvailability":{"post":{"tags":["Databases"],"description":"Checks that the database name is valid and is not already in use.","operationId":"Databases_CheckNameAvailability","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The name of the resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameRequest"}}},"required":true},"responses":{"200":{"description":"OK -- Operation to check the kusto resource name availability was successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases":{"get":{"tags":["Databases"],"description":"Returns the list of databases of the given Kusto cluster.","operationId":"Databases_ListByCluster","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the list of databases.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}":{"get":{"tags":["Databases"],"description":"Returns a database.","operationId":"Databases_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database in the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the specified database.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Database"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["Databases"],"description":"Creates or updates a database.","operationId":"Databases_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database in the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The database parameters supplied to the CreateOrUpdate operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Database"}}},"required":true},"responses":{"200":{"description":"Successfully updated the database.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Database"}}}},"201":{"description":"Successfully created the database.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Database"}}}},"202":{"description":"Accepted the create database request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Database"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["Databases"],"description":"Deletes the database with the given name.","operationId":"Databases_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database in the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted the database."},"202":{"description":"Accepted."},"204":{"description":"The specified database does not exist."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["Databases"],"description":"Updates a database.","operationId":"Databases_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database in the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The database parameters supplied to the Update operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Database"}}},"required":true},"responses":{"200":{"description":"Successfully updated the database.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Database"}}}},"201":{"description":"Successfully updated the database.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Database"}}}},"202":{"description":"Accepted the update database request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Database"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/addPrincipals":{"post":{"tags":["Databases"],"description":"Add Database principals permissions.","operationId":"Databases_AddPrincipals","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database in the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"List of database principals to add.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabasePrincipalListRequest"}}},"required":true},"responses":{"200":{"description":"OK -- Successfully added the list of database principals. Returns the updated list of principals.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabasePrincipalListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/checkNameAvailability":{"post":{"tags":["DataConnections"],"description":"Checks that the data connection name is valid and is not already in use.","operationId":"DataConnections_CheckNameAvailability","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database in the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The name of the data connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataConnectionCheckNameRequest"}}},"required":true},"responses":{"200":{"description":"OK -- Operation to check the Kusto resource name availability was successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/dataConnectionValidation":{"post":{"tags":["DataConnections"],"description":"Checks that the data connection parameters are valid.","operationId":"DataConnections_dataConnectionValidation","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database in the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The data connection parameters supplied to the CreateOrUpdate operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataConnectionValidation"}}},"required":true},"responses":{"200":{"description":"OK -- Operation to check the kusto resource name availability was successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataConnectionValidationListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/dataConnections":{"get":{"tags":["DataConnections"],"description":"Returns the list of data connections of the given Kusto database.","operationId":"DataConnections_ListByDatabase","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database in the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the list of data connections.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataConnectionListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/dataConnections/{dataConnectionName}":{"get":{"tags":["DataConnections"],"description":"Returns a data connection.","operationId":"DataConnections_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database in the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"dataConnectionName","in":"path","description":"The name of the data connection.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the specified data connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataConnection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["DataConnections"],"description":"Creates or updates a data connection.","operationId":"DataConnections_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database in the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"dataConnectionName","in":"path","description":"The name of the data connection.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The data connection parameters supplied to the CreateOrUpdate operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataConnection"}}},"required":true},"responses":{"200":{"description":"Successfully updated the data connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataConnection"}}}},"201":{"description":"Successfully created the data connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataConnection"}}}},"202":{"description":"Accepted the create data connection request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataConnection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["DataConnections"],"description":"Deletes the data connection with the given name.","operationId":"DataConnections_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database in the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"dataConnectionName","in":"path","description":"The name of the data connection.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted the data connection."},"202":{"description":"Accepted."},"204":{"description":"The specified data connection does not exist."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["DataConnections"],"description":"Updates a data connection.","operationId":"DataConnections_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database in the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"dataConnectionName","in":"path","description":"The name of the data connection.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The data connection parameters supplied to the Update operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataConnection"}}},"required":true},"responses":{"200":{"description":"Successfully updated the data connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataConnection"}}}},"201":{"description":"Successfully updated the data connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataConnection"}}}},"202":{"description":"Accepted the update data connection request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataConnection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/listPrincipals":{"post":{"tags":["Databases"],"description":"Returns a list of database principals of the given Kusto cluster and database.","operationId":"Databases_ListPrincipals","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database in the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the list of database principals.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabasePrincipalListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/removePrincipals":{"post":{"tags":["Databases"],"description":"Remove Database principals permissions.","operationId":"Databases_RemovePrincipals","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database in the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"List of database principals to remove.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabasePrincipalListRequest"}}},"required":true},"responses":{"200":{"description":"OK -- Successfully removed the list of database principals. Returns the updated list of principals.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabasePrincipalListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/detachFollowerDatabases":{"post":{"tags":["Clusters"],"description":"Detaches all followers of a database owned by this cluster.","operationId":"Clusters_DetachFollowerDatabases","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The follower databases properties to remove.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FollowerDatabaseDefinition"}}},"required":true},"responses":{"200":{"description":"OK."},"202":{"description":"Accepted"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/listFollowerDatabases":{"post":{"tags":["Clusters"],"description":"Returns a list of databases that are owned by this cluster and were followed by another cluster.","operationId":"Clusters_ListFollowerDatabases","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the list of followed databases.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FollowerDatabaseListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/skus":{"get":{"tags":["Clusters"],"description":"Returns the SKUs available for the provided resource.","operationId":"Clusters_ListSkusByResource","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResourceSkusResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/start":{"post":{"tags":["Clusters"],"description":"Starts a Kusto cluster.","operationId":"Clusters_Start","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK."},"202":{"description":"Accepted."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/stop":{"post":{"tags":["Clusters"],"description":"Stops a Kusto cluster.","operationId":"Clusters_Stop","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK."},"202":{"description":"Accepted"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"AttachedDatabaseConfiguration":{"properties":{"location":{"type":"string","description":"Resource location."},"properties":{"$ref":"#/components/schemas/AttachedDatabaseConfigurationProperties"}},"description":"Class representing an attached database configuration.","allOf":[{"description":"The resource model definition for a ARM proxy resource. It will have everything other than required location and tags","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"AttachedDatabaseConfigurationListResult":{"type":"object","properties":{"value":{"type":"array","description":"The list of attached database configurations.","items":{"$ref":"#/components/schemas/AttachedDatabaseConfiguration"}}},"description":"The list attached database configurations operation response."},"AttachedDatabaseConfigurationProperties":{"required":["clusterResourceId","databaseName","defaultPrincipalsModificationKind"],"type":"object","properties":{"attachedDatabaseNames":{"type":"array","description":"The list of databases from the clusterResourceId which are currently attached to the cluster.","readOnly":true,"items":{"type":"string"}},"clusterResourceId":{"type":"string","description":"The resource id of the cluster where the databases you would like to attach reside."},"databaseName":{"type":"string","description":"The name of the database which you would like to attach, use * if you want to follow all current and future databases."},"defaultPrincipalsModificationKind":{"type":"string","description":"The default principals modification kind","enum":["Union","Replace","None"]},"provisioningState":{"type":"string","description":"The provisioned state of the resource.","readOnly":true,"enum":["Running","Creating","Deleting","Succeeded","Failed","Moving"]}},"description":"Class representing the an attached database configuration properties of kind specific."},"AzureCapacity":{"required":["default","maximum","minimum","scaleType"],"type":"object","properties":{"default":{"type":"integer","description":"The default capacity that would be used."},"maximum":{"type":"integer","description":"Maximum allowed capacity."},"minimum":{"type":"integer","description":"Minimum allowed capacity."},"scaleType":{"type":"string","description":"Scale type.","enum":["automatic","manual","none"]}},"description":"Azure capacity definition."},"AzureResourceSku":{"type":"object","properties":{"capacity":{"$ref":"#/components/schemas/AzureCapacity"},"resourceType":{"type":"string","description":"Resource Namespace and Type."},"sku":{"$ref":"#/components/schemas/AzureSku"}},"description":"Azure resource SKU definition."},"AzureSku":{"required":["name","tier"],"type":"object","properties":{"capacity":{"type":"integer","description":"The number of instances of the cluster."},"name":{"type":"string","description":"SKU name.","enum":["Standard_DS13_v2+1TB_PS","Standard_DS13_v2+2TB_PS","Standard_DS14_v2+3TB_PS","Standard_DS14_v2+4TB_PS","Standard_D13_v2","Standard_D14_v2","Standard_L8s","Standard_L16s","Standard_D11_v2","Standard_D12_v2","Standard_L4s","Dev(No SLA)_Standard_D11_v2"]},"tier":{"type":"string","description":"SKU tier.","enum":["Basic","Standard"]}},"description":"Azure SKU definition."},"CheckNameRequest":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"Resource name."},"type":{"type":"string","description":"The type of resource, for instance Microsoft.Kusto/clusters/databases.","enum":["Microsoft.Kusto/clusters/databases","Microsoft.Kusto/clusters/attachedDatabaseConfigurations"]}},"description":"The result returned from a database check name availability request."},"CheckNameResult":{"type":"object","properties":{"message":{"type":"string","description":"Message indicating an unavailable name due to a conflict, or a description of the naming rules that are violated."},"name":{"type":"string","description":"The name that was checked."},"nameAvailable":{"type":"boolean","description":"Specifies a Boolean value that indicates if the name is available."},"reason":{"type":"string","description":"Message providing the reason why the given name is invalid.","enum":["Invalid","AlreadyExists"]}},"description":"The result returned from a check name availability request."},"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"An error response from Kusto."},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically."},"details":{"type":"array","description":"A list of additional details about the error.","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"A message describing the error, intended to be suitable for displaying in a user interface."},"target":{"type":"string","description":"The target of the particular error. For example, the name of the property in error."}},"description":"An error response from Kusto."},"Cluster":{"properties":{"identity":{"$ref":"#/components/schemas/Identity"},"properties":{"$ref":"#/components/schemas/ClusterProperties"},"sku":{"$ref":"#/components/schemas/AzureSku"},"zones":{"$ref":"#/components/schemas/Zones"}},"description":"Class representing a Kusto cluster.","allOf":[{"properties":{"location":{"type":"string","description":"The geo-location where the resource lives"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"The resource model definition for a ARM tracked top level resource","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"ClusterCheckNameRequest":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"Cluster name."},"type":{"type":"string","description":"The type of resource, Microsoft.Kusto/clusters.","enum":["Microsoft.Kusto/clusters"]}},"description":"The result returned from a cluster check name availability request."},"ClusterListResult":{"type":"object","properties":{"value":{"type":"array","description":"The list of Kusto clusters.","items":{"$ref":"#/components/schemas/Cluster"}}},"description":"The list Kusto clusters operation response."},"ClusterProperties":{"type":"object","properties":{"dataIngestionUri":{"type":"string","description":"The cluster data ingestion URI.","readOnly":true},"enableDiskEncryption":{"type":"boolean","description":"A boolean value that indicates if the cluster's disks are encrypted."},"enableStreamingIngest":{"type":"boolean","description":"A boolean value that indicates if the streaming ingest is enabled.","default":false},"keyVaultProperties":{"$ref":"#/components/schemas/KeyVaultProperties"},"optimizedAutoscale":{"$ref":"#/components/schemas/OptimizedAutoscale"},"provisioningState":{"type":"string","description":"The provisioned state of the resource.","readOnly":true,"enum":["Running","Creating","Deleting","Succeeded","Failed","Moving"]},"state":{"type":"string","description":"The state of the resource.","readOnly":true,"enum":["Creating","Unavailable","Running","Deleting","Deleted","Stopping","Stopped","Starting","Updating"]},"trustedExternalTenants":{"type":"array","description":"The cluster's external tenants.","items":{"$ref":"#/components/schemas/TrustedExternalTenant"}},"uri":{"type":"string","description":"The cluster URI.","readOnly":true},"virtualNetworkConfiguration":{"$ref":"#/components/schemas/VirtualNetworkConfiguration"}},"description":"Class representing the Kusto cluster properties."},"ClusterUpdate":{"properties":{"identity":{"$ref":"#/components/schemas/Identity"},"location":{"type":"string","description":"Resource location."},"properties":{"$ref":"#/components/schemas/ClusterProperties"},"sku":{"$ref":"#/components/schemas/AzureSku"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"Class representing an update to a Kusto cluster.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]},"DataConnection":{"properties":{"kind":{"type":"string","description":"Kind of the endpoint for the data connection","enum":["EventHub","EventGrid","IotHub"]},"location":{"type":"string","description":"Resource location."}},"description":"Class representing an data connection.","allOf":[{"description":"The resource model definition for a ARM proxy resource. It will have everything other than required location and tags","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"DataConnectionCheckNameRequest":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"Data Connection name."},"type":{"type":"string","description":"The type of resource, Microsoft.Kusto/clusters/databases/dataConnections.","enum":["Microsoft.Kusto/clusters/databases/dataConnections"]}},"description":"The result returned from a data connections check name availability request."},"DataConnectionListResult":{"type":"object","properties":{"value":{"type":"array","description":"The list of Kusto data connections.","items":{"$ref":"#/components/schemas/DataConnection"}}},"description":"The list Kusto data connections operation response."},"DataConnectionValidation":{"type":"object","properties":{"dataConnectionName":{"type":"string","description":"The name of the data connection."},"properties":{"$ref":"#/components/schemas/DataConnection"}},"description":"Class representing an data connection validation."},"DataConnectionValidationListResult":{"type":"object","properties":{"value":{"type":"array","description":"The list of Kusto data connection validation errors.","items":{"$ref":"#/components/schemas/DataConnectionValidationResult"}}},"description":"The list Kusto data connection validation result."},"DataConnectionValidationResult":{"type":"object","properties":{"errorMessage":{"type":"string","description":"A message which indicates a problem in data connection validation."}},"description":"The result returned from a data connection validation request."},"DataFormat":{"type":"string","description":"The data format of the message. Optionally the data format can be added to each message.","enum":["MULTIJSON","JSON","CSV","TSV","SCSV","SOHSV","PSV","TXT","RAW","SINGLEJSON","AVRO","TSVE"]},"Database":{"properties":{"kind":{"type":"string","description":"Kind of the database","enum":["ReadWrite","ReadOnlyFollowing"]},"location":{"type":"string","description":"Resource location."}},"description":"Class representing a Kusto database.","allOf":[{"description":"The resource model definition for a ARM proxy resource. It will have everything other than required location and tags","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"DatabaseListResult":{"type":"object","properties":{"value":{"type":"array","description":"The list of Kusto databases.","items":{"$ref":"#/components/schemas/Database"}}},"description":"The list Kusto databases operation response."},"DatabasePrincipal":{"required":["name","role","type"],"type":"object","properties":{"appId":{"type":"string","description":"Application id - relevant only for application principal type."},"email":{"type":"string","description":"Database principal email if exists."},"fqn":{"type":"string","description":"Database principal fully qualified name."},"name":{"type":"string","description":"Database principal name."},"role":{"type":"string","description":"Database principal role.","enum":["Admin","Ingestor","Monitor","User","UnrestrictedViewers","Viewer"]},"tenantName":{"type":"string","description":"The tenant name of the principal","readOnly":true},"type":{"type":"string","description":"Database principal type.","enum":["App","Group","User"]}},"description":"A class representing database principal entity."},"DatabasePrincipalListRequest":{"type":"object","properties":{"value":{"type":"array","description":"The list of Kusto database principals.","items":{"$ref":"#/components/schemas/DatabasePrincipal"}}},"description":"The list Kusto database principals operation request."},"DatabasePrincipalListResult":{"type":"object","properties":{"value":{"type":"array","description":"The list of Kusto database principals.","items":{"$ref":"#/components/schemas/DatabasePrincipal"}}},"description":"The list Kusto database principals operation response."},"DatabaseStatistics":{"type":"object","properties":{"size":{"type":"number","description":"The database size - the total size of compressed data and index in bytes."}},"description":"A class that contains database statistics information."},"EventGridConnectionProperties":{"required":["consumerGroup","dataFormat","eventHubResourceId","storageAccountResourceId","tableName"],"type":"object","properties":{"consumerGroup":{"type":"string","description":"The event hub consumer group."},"dataFormat":{"$ref":"#/components/schemas/DataFormat"},"eventHubResourceId":{"type":"string","description":"The resource ID where the event grid is configured to send events."},"mappingRuleName":{"type":"string","description":"The mapping rule to be used to ingest the data. Optionally the mapping information can be added to each message."},"storageAccountResourceId":{"type":"string","description":"The resource ID of the storage account where the data resides."},"tableName":{"type":"string","description":"The table where the data should be ingested. Optionally the table information can be added to each message."}},"description":"Class representing the Kusto event grid connection properties."},"EventGridDataConnection":{"properties":{"properties":{"$ref":"#/components/schemas/EventGridConnectionProperties"}},"description":"Class representing an Event Grid data connection.","allOf":[{"$ref":"#/components/schemas/DataConnection"}]},"EventHubConnectionProperties":{"required":["consumerGroup","eventHubResourceId"],"type":"object","properties":{"consumerGroup":{"type":"string","description":"The event hub consumer group."},"dataFormat":{"$ref":"#/components/schemas/DataFormat"},"eventHubResourceId":{"type":"string","description":"The resource ID of the event hub to be used to create a data connection."},"eventSystemProperties":{"type":"array","description":"System properties of the event hub","items":{"type":"string"}},"mappingRuleName":{"type":"string","description":"The mapping rule to be used to ingest the data. Optionally the mapping information can be added to each message."},"tableName":{"type":"string","description":"The table where the data should be ingested. Optionally the table information can be added to each message."}},"description":"Class representing the Kusto event hub connection properties."},"EventHubDataConnection":{"properties":{"properties":{"$ref":"#/components/schemas/EventHubConnectionProperties"}},"description":"Class representing an event hub data connection.","allOf":[{"$ref":"#/components/schemas/DataConnection"}]},"FollowerDatabaseDefinition":{"required":["attachedDatabaseConfigurationName","clusterResourceId"],"type":"object","properties":{"attachedDatabaseConfigurationName":{"type":"string","description":"Resource name of the attached database configuration in the follower cluster."},"clusterResourceId":{"type":"string","description":"Resource id of the cluster that follows a database owned by this cluster."},"databaseName":{"type":"string","description":"The database name owned by this cluster that was followed. * in case following all databases.","readOnly":true}},"description":"A class representing follower database request."},"FollowerDatabaseListResult":{"type":"object","properties":{"value":{"type":"array","description":"The list of follower database result.","items":{"$ref":"#/components/schemas/FollowerDatabaseDefinition"}}},"description":"The list Kusto database principals operation response."},"Identity":{"required":["type"],"type":"object","properties":{"principalId":{"type":"string","description":"The principal ID of resource identity.","readOnly":true},"tenantId":{"type":"string","description":"The tenant ID of resource.","readOnly":true},"type":{"type":"string","description":"The identity type.","enum":["None","SystemAssigned"]},"userAssignedIdentities":{"type":"object","additionalProperties":{"type":"object","properties":{"clientId":{"type":"string","description":"The client id of user assigned identity.","readOnly":true},"principalId":{"type":"string","description":"The principal id of user assigned identity.","readOnly":true}}},"description":"The list of user identities associated with the Kusto cluster. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."}},"description":"Identity for the resource."},"IotHubConnectionProperties":{"required":["consumerGroup","iotHubResourceId","sharedAccessPolicyName"],"type":"object","properties":{"consumerGroup":{"type":"string","description":"The iot hub consumer group."},"dataFormat":{"$ref":"#/components/schemas/DataFormat"},"eventSystemProperties":{"type":"array","description":"System properties of the iot hub","items":{"type":"string"}},"iotHubResourceId":{"type":"string","description":"The resource ID of the Iot hub to be used to create a data connection."},"mappingRuleName":{"type":"string","description":"The mapping rule to be used to ingest the data. Optionally the mapping information can be added to each message."},"sharedAccessPolicyName":{"type":"string","description":"The name of the share access policy name"},"tableName":{"type":"string","description":"The table where the data should be ingested. Optionally the table information can be added to each message."}},"description":"Class representing the Kusto iot hub connection properties."},"IotHubDataConnection":{"properties":{"properties":{"$ref":"#/components/schemas/IotHubConnectionProperties"}},"description":"Class representing an iot hub data connection.","allOf":[{"$ref":"#/components/schemas/DataConnection"}]},"KeyVaultProperties":{"required":["keyName","keyVaultUri","keyVersion"],"type":"object","properties":{"keyName":{"type":"string","description":"The name of the key vault key."},"keyVaultUri":{"type":"string","description":"The Uri of the key vault."},"keyVersion":{"type":"string","description":"The version of the key vault key."}},"description":"Properties of the key vault."},"ListResourceSkusResult":{"type":"object","properties":{"value":{"type":"array","description":"The collection of available SKUs for an existing resource.","items":{"$ref":"#/components/schemas/AzureResourceSku"}}},"description":"List of available SKUs for a Kusto Cluster."},"Operation":{"title":"A REST API operation","type":"object","properties":{"display":{"title":"The object that describes the operation.","type":"object","properties":{"description":{"title":"The friendly name of the operation.","type":"string"},"operation":{"title":"The operation type.","type":"string","description":"For example: read, write, delete."},"provider":{"title":"Friendly name of the resource provider.","type":"string"},"resource":{"title":"The resource type on which the operation is performed.","type":"string"}}},"name":{"title":"The operation name.","type":"string","description":"This is of the format {provider}/{resource}/{operation}."},"origin":{"title":"The intended executor of the operation.","type":"string"},"properties":{"title":"Properties of the operation.","type":"object"}}},"OperationListResult":{"title":"Result of the request to list REST API operations. It contains a list of operations and a URL nextLink to get the next set of results.","type":"object","properties":{"nextLink":{"title":"The URL to get the next set of operation list results if there are any.","type":"string"},"value":{"title":"The list of operations supported by the resource provider.","type":"array","items":{"$ref":"#/components/schemas/Operation"}}}},"OptimizedAutoscale":{"required":["isEnabled","maximum","minimum","version"],"type":"object","properties":{"isEnabled":{"type":"boolean","description":"A boolean value that indicate if the optimized autoscale feature is enabled or not."},"maximum":{"type":"integer","description":"Maximum allowed instances count."},"minimum":{"type":"integer","description":"Minimum allowed instances count."},"version":{"type":"integer","description":"The version of the template defined, for instance 1."}},"description":"A class that contains the optimized auto scale definition."},"ReadOnlyFollowingDatabase":{"properties":{"properties":{"$ref":"#/components/schemas/ReadOnlyFollowingDatabaseProperties"}},"description":"Class representing a read only following database.","allOf":[{"$ref":"#/components/schemas/Database"}]},"ReadOnlyFollowingDatabaseProperties":{"type":"object","properties":{"attachedDatabaseConfigurationName":{"type":"string","description":"The name of the attached database configuration cluster","readOnly":true},"hotCachePeriod":{"type":"string","description":"The time the data should be kept in cache for fast queries in TimeSpan.","format":"duration"},"leaderClusterResourceId":{"type":"string","description":"The name of the leader cluster","readOnly":true},"principalsModificationKind":{"type":"string","description":"The principals modification kind of the database","readOnly":true,"enum":["Union","Replace","None"]},"provisioningState":{"type":"string","description":"The provisioned state of the resource.","readOnly":true,"enum":["Running","Creating","Deleting","Succeeded","Failed","Moving"]},"softDeletePeriod":{"type":"string","description":"The time the data should be kept before it stops being accessible to queries in TimeSpan.","format":"duration","readOnly":true},"statistics":{"$ref":"#/components/schemas/DatabaseStatistics"}},"description":"Class representing the Kusto database properties."},"ReadWriteDatabase":{"properties":{"properties":{"$ref":"#/components/schemas/ReadWriteDatabaseProperties"}},"description":"Class representing a read write database.","allOf":[{"$ref":"#/components/schemas/Database"}]},"ReadWriteDatabaseProperties":{"type":"object","properties":{"hotCachePeriod":{"type":"string","description":"The time the data should be kept in cache for fast queries in TimeSpan.","format":"duration"},"provisioningState":{"type":"string","description":"The provisioned state of the resource.","readOnly":true,"enum":["Running","Creating","Deleting","Succeeded","Failed","Moving"]},"softDeletePeriod":{"type":"string","description":"The time the data should be kept before it stops being accessible to queries in TimeSpan.","format":"duration"},"statistics":{"$ref":"#/components/schemas/DatabaseStatistics"}},"description":"Class representing the Kusto database properties."},"SkuDescription":{"type":"object","properties":{"locationInfo":{"type":"array","description":"Locations and zones","readOnly":true,"items":{"$ref":"#/components/schemas/SkuLocationInfoItem"}},"locations":{"type":"array","description":"The set of locations that the SKU is available","readOnly":true,"items":{"type":"string"}},"name":{"type":"string","description":"The name of the SKU","readOnly":true},"resourceType":{"type":"string","description":"The resource type","readOnly":true},"restrictions":{"type":"array","description":"The restrictions because of which SKU cannot be used","readOnly":true,"items":{"type":"object"}},"tier":{"type":"string","description":"The tier of the SKU","readOnly":true}},"description":"The Kusto SKU description of given resource type"},"SkuDescriptionList":{"type":"object","properties":{"value":{"type":"array","description":"SKU descriptions","readOnly":true,"items":{"$ref":"#/components/schemas/SkuDescription"}}},"description":"The list of the EngagementFabric SKU descriptions"},"SkuLocationInfoItem":{"required":["location"],"type":"object","properties":{"location":{"type":"string","description":"The available location of the SKU."},"zones":{"type":"array","description":"The available zone of the SKU.","items":{"type":"string"}}},"description":"The locations and zones info for SKU."},"TrustedExternalTenant":{"type":"object","properties":{"value":{"type":"string","description":"GUID representing an external tenant."}},"description":"Represents a tenant ID that is trusted by the cluster."},"VirtualNetworkConfiguration":{"required":["dataManagementPublicIpId","enginePublicIpId","subnetId"],"type":"object","properties":{"dataManagementPublicIpId":{"type":"string","description":"Data management's service public IP address resource id."},"enginePublicIpId":{"type":"string","description":"Engine service's public IP address resource id."},"subnetId":{"type":"string","description":"The subnet resource id."}},"description":"A class that contains virtual network definition."},"Zones":{"type":"array","description":"An array represents the availability zones of the cluster.","items":{"type":"string"}}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},"AttachedDatabaseConfigurationNameParameter":{"name":"attachedDatabaseConfigurationName","in":"path","description":"The name of the attached database configuration.","required":true,"schema":{"type":"string"}},"ClusterNameParameter":{"name":"clusterName","in":"path","description":"The name of the Kusto cluster.","required":true,"schema":{"type":"string"}},"DataConnectionNameParameter":{"name":"dataConnectionName","in":"path","description":"The name of the data connection.","required":true,"schema":{"type":"string"}},"DatabaseNameParameter":{"name":"databaseName","in":"path","description":"The name of the database in the Kusto cluster.","required":true,"schema":{"type":"string"}},"ResourceGroupParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Kusto cluster.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}