{"openapi":"3.0.1","info":{"title":"Afterbanks API","description":"La estandarización de la conexión con cualquier banco en tiempo real.","version":"3.0.0"},"servers":[{"url":"https://www.afterbanks.com/"}],"paths":{"/forms":{"get":{"tags":["forms"],"summary":"Lista de bancos soportados","description":"Obtén una lista completa de los bancos soportados, así como los nombres de los campos necesarios para dibujar un formulario de login similar al oritinal del banco.\n","parameters":[{"name":"country_code","in":"query","description":"Código del país, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para España. Si no se proporciona ningún código, se devolverá la lista completa.","schema":{"type":"string"}}],"responses":{"200":{"description":"Array con el listado de bancos soportados y la información necesaria para dibujar su formulario de login","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Forms"}}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/me":{"post":{"tags":["User"],"summary":"Información de uso de mi licencia","description":"Devuelve información sobre mi licencia y uso de llamadas","parameters":[{"name":"servicekey","in":"query","description":"Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Profile information for a user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/me"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/serviceV3":{"post":{"tags":["serviceV3"],"summary":"Posición global y movimientos hasta una fecha dada.","description":"Este endpoint devuelve el listado de productos y los movimientos para cada uno de los productos desde la fecha solicidata hasta el día actual. Existe un sandbox donde probar llamadas: https://www.afterbanks.com/sandbox/\n","parameters":[{"name":"servicekey","in":"query","description":"Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com","required":true,"schema":{"type":"string"}},{"name":"service","in":"query","description":"Identificador único para cada banco. El listado de bancos soportados se obtiene de https://www.afterbanks.com/forms/","required":true,"schema":{"type":"string"}},{"name":"documentType","in":"query","description":"Algunos bancos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deberá identificar un número entero (de 0 a 4), que corresponde con su posición en el formulario de login del banco.","schema":{"type":"number","format":"int32"}},{"name":"user","in":"query","description":"Usuario","required":true,"schema":{"type":"string"}},{"name":"pass","in":"query","description":"Contraseña","required":true,"schema":{"type":"string"}},{"name":"pass2","in":"query","description":"Algunos bancos utilizan una segunda contraseña.","schema":{"type":"string"}},{"name":"products","in":"query","description":"Nombres de productos bancarios (cuentas corrientes, tarjetas, etc), separados por coma. Cabe destacar que en la primera llamada a la API, aún no conocemos los nombres de los productos que el usuario tiene contratados, por lo que este parámetro estará vacío.","schema":{"type":"string"}},{"name":"startdate","in":"query","description":"Fecha desde la que queremos obtener los movimientos en formato dd-mm-aaaa. Obligatorio cuando el valor de \"products\" es distinto de GLOBAL.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Array con listado de productos bancarios y movimientos.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/serviceV3"}}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"Error":{"type":"object","properties":{"code":{"type":"integer","description":"Posibles valores: description:  1, Genérico; 2, La web del banco esta fuera de servicio; 3, Algún dato de conexión no es válido; 4, La cuenta solicitada no existe; 5, Conexion cortada, reintente la solicitud; 6, El usuario debe acceder a la web del banco a realizar una acción; 50, Parametro incorrecto en la llamada a la API","format":"int32"},"message":{"type":"string","description":"Texto detallando el error encontrado, en el idioma del banco"}}},"Forms":{"type":"object","properties":{"business":{"type":"boolean","description":"Valor booleano. Hay bancos que tienen accesos diferentes para particulares y para empresas. Si el valor es 1, indica que es acceso de empresas"},"country_code":{"type":"string","description":"Código del país, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."},"documentType":{"type":"string","description":"Lista de valores posibles para el campo de \"tipo de documento\", separado por el caracter \"|\" (por ejemplo: NIF|Pasaporte|Tarjeta de residencia). En el caso de que el banco no requiera de esta información en su formulario de login, el valor es 0"},"fullname":{"type":"string","description":"Nombre completo del banco."},"image":{"type":"string","description":"URL del icono del banco en formato PNG transparente y resolución 128x128."},"pass":{"type":"string","description":"Texto que acompaña al input box de password"},"pass2":{"type":"string","description":"Texto que acompaña al input box del segundo password. En el caso de que el banco no requiera de esta información en su formulario de login, el valor es 0"},"pass2desc":{"type":"string","description":"Texto de ayuda para rellenar el inputbox de segundo password, en caso de que el formulario original del banco tenga algún texto de ayuda."},"pass2type":{"type":"string","description":"Texto que acompaña al input box del segundo password. En el caso de que el banco no requiera de esta información en su formulario de login, el valor es 0"},"passdesc":{"type":"string","description":"Texto de ayuda para rellenar el inputbox de password, en caso de que el formulario original del banco tenga algún texto de ayuda."},"passtype":{"type":"string","description":"Texto que acompaña al input box de password"},"service":{"type":"string","description":"Identificador único del banco en la API."},"swift":{"type":"string","description":"Código SWIFT, formato ISO 9362 (https://en.wikipedia.org/wiki/ISO_9362)."},"user":{"type":"string","description":"Texto que acompaña al input box de usuario"},"userdesc":{"type":"string","description":"Texto de ayuda para rellenar el inputbox de usuario, en caso de que el formulario original del banco tenga algún texto de ayuda."},"usertype":{"type":"string","description":"Texto que acompaña al input box de usuario"}}},"Transactions":{"type":"object","properties":{"amount":{"type":"number","description":"Importe de la transacción","format":"float"},"balance":{"type":"number","description":"Saldo del producto en el instante posterior a la transacción","format":"float"},"categoryId":{"type":"number","description":"Id de categoría. Solo para las servicekeys con la opción contratada. Listado de categorías: https://www.afterbanks.com/serviceV3/categories/?country_code=ES","format":"int"},"date":{"type":"string","description":"Fecha del movimiento en formato dd-mm-yyyy","format":"date"},"date2":{"type":"string","description":"Fecha de valor en formato dd-mm-yyyy","format":"date"},"description":{"type":"string","description":"Descricipción de la transacción"},"transactionId":{"type":"string","description":"Identificador único de la transacción de 32 caracteres"}}},"me":{"type":"object","properties":{"date_renewal":{"type":"string","description":"Fecha de renovación del contador de llamadas, en formato dd-mm-yyyy","format":"date"},"remaining_calls":{"type":"integer","description":"Llamadas restantes para tu ciclo de facturación actual.","format":"int32"}}},"serviceV3":{"type":"object","properties":{"arranged_balance":{"type":"number","description":"Saldo dispuesto","format":"float"},"balance":{"type":"number","description":"Saldo disponible del producto. Siempre existirá este saldo, el resto de valores balance podrán existir o no.","format":"float"},"balance_credit_granted":{"type":"number","description":"Saldo concedido","format":"float"},"balance_value":{"type":"number","description":"Saldo valor","format":"float"},"countable_balance":{"type":"number","description":"Saldo contable","format":"float"},"currency":{"type":"string","description":"Código de la divisa en formato [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."},"description":{"type":"string","description":"Nombre del producto. En ocasiones es un alias que ha asignado el usuario, o puede coincidir con el valor de product."},"product":{"type":"string","description":"Identificador único para un producto. Por ejemplo, número de cuenta bancaria o numeración de tarjeta de crédito."},"transactions":{"type":"array","items":{"$ref":"#/components/schemas/Transactions"}},"type":{"type":"string","description":"Tipo de producto. Los valores más habituales son \"checking\" para cuenta corriente, \"card\" para tarjeta de crédito, \"debit\" para tarjeta de débito y \"loan\" para préstamos. Los valores posibles son: card, checking, debit, deposit, insurance, investment, lineofcredit, loan, other, pensionplan, saving, securities, stocks"}}}}}}