{"openapi":"3.0.1","info":{"title":"Azure SQL Server API spec","description":"The Azure SQL Server management API provides a RESTful set of web services that interact with Azure SQL Server services to manage your databases. The API enables users update server connection policy.","version":"2014-04-01"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/connectionPolicies/{connectionPolicyName}":{"get":{"tags":["ConnectionPolicies"],"description":"Gets the server's secure connection policy.","operationId":"ServerConnectionPolicies_Get","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"connectionPolicyName","in":"path","description":"The name of the connection policy.","required":true,"schema":{"type":"string","enum":["default"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerConnectionPolicy"}}}}}},"put":{"tags":["ConnectionPolicies"],"description":"Creates or updates the server's connection policy.","operationId":"ServerConnectionPolicies_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"connectionPolicyName","in":"path","description":"The name of the connection policy.","required":true,"schema":{"type":"string","enum":["default"]}}],"requestBody":{"description":"The required parameters for updating a secure connection policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerConnectionPolicy"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerConnectionPolicy"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerConnectionPolicy"}}}}}}}},"components":{"schemas":{"ServerConnectionPolicy":{"properties":{"kind":{"type":"string","description":"Metadata used for the Azure portal experience.","readOnly":true},"location":{"type":"string","description":"Resource location.","readOnly":true},"properties":{"$ref":"#/components/schemas/ServerConnectionPolicyProperties"}},"description":"A server secure connection policy.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."}]}]},"ServerConnectionPolicyProperties":{"required":["connectionType"],"type":"object","properties":{"connectionType":{"type":"string","description":"The server connection type.","enum":["Default","Proxy","Redirect"]}},"description":"The properties of a server secure connection policy."}},"parameters":{"ConnectionPolicyNameParameter":{"name":"connectionPolicyName","in":"path","description":"The name of the connection policy.","required":true,"schema":{"type":"string","enum":["default"]}},"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}