{"openapi":"3.0.1","info":{"title":"Sonar Trading","description":"Currency Authority: Exchange Rate of 1453 country currencies and crypto currencies","version":"1.0"},"servers":[{"url":"https://sonar.trading/api/v1/"}],"paths":{"/convert":{"get":{"tags":["Currencies"],"summary":"Convert a currency amount to multiple other currencies","parameters":[{"name":"from","in":"query","description":"Currency you want to convert. For example, EUR","required":true,"schema":{"type":"string"}},{"name":"to","in":"query","description":"Comma separated list of currencies codes. For example, USD","required":true,"schema":{"type":"string"}},{"name":"amount","in":"query","description":"This parameter can be used to specify the amount you want to convert. If an amount is not specified then 1 is assumed.","schema":{"type":"string"}},{"name":"decimal_places","in":"query","description":"This parameter can be used to specify the number of decimal places included in the output. If an amount is not specified then 12 is assumed.","schema":{"type":"string"}}],"responses":{"200":{"description":"Command completed successfully"},"422":{"description":"Parameter value syntax error / Parameter value range error"}}}},"/country/currencies":{"get":{"tags":["Currencies"],"summary":"Return a list of all currencies of countries, available via service","parameters":[{"name":"language","in":"query","description":"Parameter used to specify the language in which you would like the currency names to be provided. If not specified, EN is used. Now availeble only EN language.","schema":{"type":"string"}}],"responses":{"200":{"description":"Command completed successfully"},"422":{"description":"Parameter value syntax error / Parameter value range error"}}}},"/digital/currencies":{"get":{"tags":["Currencies"],"summary":"Return a list of all digital currencies, available via service","parameters":[{"name":"language","in":"query","description":"Parameter used to specify the language in which you would like the currency names to be provided. If not specified, EN is used. Now availeble only EN language.","schema":{"type":"string"}}],"responses":{"200":{"description":"Command completed successfully"},"422":{"description":"Parameter value syntax error / Parameter value range error"}}}},"/history":{"get":{"tags":["Currencies"],"summary":"Return a historic rate for a currencies","parameters":[{"name":"from","in":"query","description":"Currency you want to convert. For example, EUR","required":true,"schema":{"type":"string"}},{"name":"to","in":"query","description":"Comma separated list of currencies codes. For example, USD","required":true,"schema":{"type":"string"}},{"name":"date","in":"query","description":"UTC date should be in the form of YYYY-MM-DD, for example, 2018-06-20. Data available from 2018-06-19 only.","required":true,"schema":{"type":"string"}},{"name":"amount","in":"query","description":"This parameter can be used to specify the amount you want to convert. If an amount is not specified then 1 is assumed.","schema":{"type":"string"}},{"name":"decimal_places","in":"query","description":"This parameter can be used to specify the number of decimal places included in the output. If an amount is not specified then 4 is assumed.","schema":{"type":"string"}}],"responses":{"200":{"description":"Command completed successfully"},"422":{"description":"Parameter value syntax error / Parameter value range error"}}}}}}