{"openapi":"3.0.1","info":{"title":"NetworkManagementClient","description":"The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.","version":"2019-07-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Network/operations":{"get":{"description":"Lists all of the available Network Rest API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}}}}}},"components":{"schemas":{"Availability":{"type":"object","properties":{"blobDuration":{"type":"string","description":"Duration of the availability blob."},"retention":{"type":"string","description":"The retention of the availability."},"timeGrain":{"type":"string","description":"The time grain of the availability."}},"description":"Availability of the metric."},"Dimension":{"type":"object","properties":{"displayName":{"type":"string","description":"The display name of the dimension."},"internalName":{"type":"string","description":"The internal name of the dimension."},"name":{"type":"string","description":"The name of the dimension."}},"description":"Dimension of the metric."},"LogSpecification":{"type":"object","properties":{"blobDuration":{"type":"string","description":"Duration of the blob."},"displayName":{"type":"string","description":"The display name of the specification."},"name":{"type":"string","description":"The name of the specification."}},"description":"Description of logging specification."},"MetricSpecification":{"type":"object","properties":{"aggregationType":{"type":"string","description":"The aggregation type."},"availabilities":{"type":"array","description":"List of availability.","items":{"$ref":"#/components/schemas/Availability"}},"dimensions":{"type":"array","description":"List of dimensions.","items":{"$ref":"#/components/schemas/Dimension"}},"displayDescription":{"type":"string","description":"The description of the metric."},"displayName":{"type":"string","description":"The display name of the metric."},"enableRegionalMdmAccount":{"type":"boolean","description":"Whether regional MDM account enabled."},"fillGapWithZero":{"type":"boolean","description":"Whether gaps would be filled with zeros."},"isInternal":{"type":"boolean","description":"Whether the metric is internal."},"metricFilterPattern":{"type":"string","description":"Pattern for the filter of the metric."},"name":{"type":"string","description":"The name of the metric."},"resourceIdDimensionNameOverride":{"type":"string","description":"The resource Id dimension name override."},"sourceMdmAccount":{"type":"string","description":"The source MDM account."},"sourceMdmNamespace":{"type":"string","description":"The source MDM namespace."},"unit":{"type":"string","description":"Units the metric to be displayed in."}},"description":"Description of metrics specification."},"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"description":{"type":"string","description":"Description of the operation."},"operation":{"type":"string","description":"Type of the operation: get, read, delete, etc."},"provider":{"type":"string","description":"Service provider: Microsoft Network."},"resource":{"type":"string","description":"Resource on which the operation is performed."}},"description":"Display metadata associated with the operation."},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}."},"origin":{"type":"string","description":"Origin of the operation."},"properties":{"$ref":"#/components/schemas/OperationPropertiesFormat"}},"description":"Network REST API operation definition."},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of Network operations supported by the Network resource provider.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"Result of the request to list Network operations. It contains a list of operations and a URL link to get the next set of results."},"OperationPropertiesFormat":{"type":"object","properties":{"serviceSpecification":{"type":"object","properties":{"logSpecifications":{"type":"array","description":"Operation log specification.","items":{"$ref":"#/components/schemas/LogSpecification"}},"metricSpecifications":{"type":"array","description":"Operation service specification.","items":{"$ref":"#/components/schemas/MetricSpecification"}}},"description":"Specification of the service."}},"description":"Description of operation properties format."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}