{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "MonitorManagementClient",
    "version" : "2016-03-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules/{ruleName}/incidents" : {
      "get" : {
        "tags" : [ "AlertRuleIncidents" ],
        "description" : "Gets a list of incidents associated to an alert rule",
        "operationId" : "AlertRuleIncidents_ListByAlertRule",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ruleName",
          "in" : "path",
          "description" : "The name of the rule.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request for a list of alert rule related incidents",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IncidentListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules/{ruleName}/incidents/{incidentName}" : {
      "get" : {
        "tags" : [ "AlertRuleIncidents" ],
        "description" : "Gets an incident associated to an alert rule",
        "operationId" : "AlertRuleIncidents_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ruleName",
          "in" : "path",
          "description" : "The name of the rule.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "incidentName",
          "in" : "path",
          "description" : "The name of the incident to retrieve.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request for one alert rule related incident",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Incident"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code"
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating why the operation failed."
          }
        },
        "description" : "Describes the format of Error response."
      },
      "Incident" : {
        "type" : "object",
        "properties" : {
          "activatedTime" : {
            "type" : "string",
            "description" : "The time at which the incident was activated in ISO8601 format.",
            "format" : "date-time",
            "readOnly" : true
          },
          "isActive" : {
            "type" : "boolean",
            "description" : "A boolean to indicate whether the incident is active or resolved.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Incident name.",
            "readOnly" : true
          },
          "resolvedTime" : {
            "type" : "string",
            "description" : "The time at which the incident was resolved in ISO8601 format. If null, it means the incident is still active.",
            "format" : "date-time",
            "readOnly" : true
          },
          "ruleName" : {
            "type" : "string",
            "description" : "Rule name that is associated with the incident.",
            "readOnly" : true
          }
        },
        "description" : "An alert incident indicates the activation status of an alert rule."
      },
      "IncidentListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "the incident collection.",
            "items" : {
              "$ref" : "#/components/schemas/Incident"
            }
          }
        },
        "description" : "The List incidents operation response."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "RuleNameParameter" : {
        "name" : "ruleName",
        "in" : "path",
        "description" : "The name of the rule.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The Azure subscription Id.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}