{"openapi":"3.0.1","info":{"title":"SqlManagementClient","description":"The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.","version":"2015-05-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/auditingSettings/{blobAuditingPolicyName}":{"get":{"tags":["BlobAuditing"],"description":"Gets a database's blob auditing policy.","operationId":"DatabaseBlobAuditingPolicies_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database for which the blob audit policy is defined.","required":true,"schema":{"type":"string"}},{"name":"blobAuditingPolicyName","in":"path","description":"The name of the blob auditing policy.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the database blob auditing policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseBlobAuditingPolicy"}}}},"default":{"description":"*** Error Responses: ***\n\n * 400 BlobAuditingIsNotSupportedOnResourceType - Blob Auditing is currently not supported for this resource type.\n\n * 400 InvalidDatabaseBlobAuditingPolicyCreateRequest - The create database blob auditing policy request does not exist or has no properties object.\n\n * 400 InvalidBlobAuditActionsAndGroups - Invalid audit actions or action groups.\n\n * 400 DataSecurityInvalidUserSuppliedParameter - An invalid parameter value was provided by the client.\n\n * 404 SourceDatabaseNotFound - The source database does not exist.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 500 DatabaseIsUnavailable - Loading failed. Please try again later.\n\n * 500 GetBlobAuditingPolicyFailed - Failed to get Auditing settings"}}},"put":{"tags":["BlobAuditing"],"description":"Creates or updates a database's blob auditing policy.","operationId":"DatabaseBlobAuditingPolicies_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database for which the blob auditing policy will be defined.","required":true,"schema":{"type":"string"}},{"name":"blobAuditingPolicyName","in":"path","description":"The name of the blob auditing policy.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The database blob auditing policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseBlobAuditingPolicy"}}},"required":true},"responses":{"200":{"description":"Successfully set the database blob auditing policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseBlobAuditingPolicy"}}}},"201":{"description":"Successfully created the database blob auditing policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseBlobAuditingPolicy"}}}},"default":{"description":"*** Error Responses: ***\n\n * 400 BlobAuditingIsNotSupportedOnResourceType - Blob Auditing is currently not supported for this resource type.\n\n * 400 InvalidDatabaseBlobAuditingPolicyCreateRequest - The create database blob auditing policy request does not exist or has no properties object.\n\n * 400 InvalidBlobAuditActionsAndGroups - Invalid audit actions or action groups.\n\n * 400 DataSecurityInvalidUserSuppliedParameter - An invalid parameter value was provided by the client.\n\n * 404 SourceDatabaseNotFound - The source database does not exist.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 500 DatabaseIsUnavailable - Loading failed. Please try again later.\n\n * 500 UpsertBlobAuditingPolicyFailed - An error has occurred while saving Auditing settings, please try again later"}}}}},"components":{"schemas":{"DatabaseBlobAuditingPolicy":{"properties":{"kind":{"type":"string","description":"Resource kind.","readOnly":true},"properties":{"$ref":"#/components/schemas/DatabaseBlobAuditingPolicyProperties"}},"description":"A database blob auditing policy.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."}]}]},"DatabaseBlobAuditingPolicyProperties":{"required":["state"],"type":"object","properties":{"auditActionsAndGroups":{"type":"array","description":"Specifies the Actions and Actions-Groups to audit.","items":{"type":"string"}},"isStorageSecondaryKeyInUse":{"type":"boolean","description":"Specifies whether storageAccountAccessKey value is the storage’s secondary key."},"retentionDays":{"type":"integer","description":"Specifies the number of days to keep in the audit logs.","format":"int32"},"state":{"type":"string","description":"Specifies the state of the policy. If state is Enabled, storageEndpoint and storageAccountAccessKey are required.","enum":["Enabled","Disabled"]},"storageAccountAccessKey":{"type":"string","description":"Specifies the identifier key of the auditing storage account. If state is Enabled, storageAccountAccessKey is required."},"storageAccountSubscriptionId":{"type":"string","description":"Specifies the blob storage subscription Id.","format":"uuid"},"storageEndpoint":{"type":"string","description":"Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net). If state is Enabled, storageEndpoint is required."}},"description":"Properties of a database blob auditing policy."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},"DatabaseNameParameter":{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},"ResourceGroupParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}