{"openapi":"3.0.1","info":{"title":"RecoveryServicesBackupClient","version":"2016-06-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupEngines":{"get":{"tags":["BackupEngines"],"description":"The backup management servers registered to a Recovery Services vault. This returns a pageable list of servers.","operationId":"BackupEngines_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"Use this filter to choose the specific backup management server. backupManagementType { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql }.","schema":{"type":"string"}},{"name":"$skipToken","in":"query","description":"The Skip Token filter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupEngineBaseResourceList"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/operationResults/{operationId}":{"get":{"tags":["ProtectionContainerRefreshOperationResults"],"description":"Provides the result of the refresh operation triggered by the BeginRefresh operation.","operationId":"ProtectionContainerRefreshOperationResults_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"The fabric name associated with the container.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"The operation ID used for this GET operation.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted."},"204":{"description":"No content."}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}":{"get":{"tags":["ProtectionContainers"],"description":"Gets details of the specific container registered to your Recovery Services vault.","operationId":"ProtectionContainers_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"The fabric name associated with the container.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"The container name used for this GET operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionContainerResource"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/operationResults/{operationId}":{"get":{"tags":["ProtectionContainerOperationResults"],"description":"Gets the result of any operation on the container.","operationId":"ProtectionContainerOperationResults_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"The fabric name associated with the container.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"The container name used for this GET operation.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"The operation ID used for this GET operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionContainerResource"}}}},"202":{"description":"Accepted."},"204":{"description":"No content."}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}":{"get":{"tags":["ProtectedItems"],"description":"Provides the details of the backup item. This is an asynchronous operation. To know the status of the operation, call the GetItemOperationResult API.","operationId":"ProtectedItems_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"The fabric name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"The container name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"The backup item name used in this GET operation.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"expand eq {extendedInfo}. This filter enables you to choose (or filter) specific items in the list of backup items.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectedItemResource"}}}}},"deprecated":false},"put":{"tags":["ProtectedItems"],"description":"This operation enables an item to be backed up, or modifies the existing backup policy information for an item that has been backed up. This is an asynchronous operation. To learn the status of the operation, call the GetItemOperationResult API.","operationId":"ProtectedItems_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"The fabric name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"The container name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"The name of the backup item.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The resource backup item.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectedItemResource"}}},"required":true},"responses":{"202":{"description":"Accepted."}},"deprecated":false},"delete":{"tags":["ProtectedItems"],"description":"Used to disable the backup job for an item within a container. This is an asynchronous operation. To learn the status of the request, call the GetItemOperationResult API.","operationId":"ProtectedItems_Delete","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":" The fabric name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"The container name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"The backup item to be deleted.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted."},"204":{"description":"No content."}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/backup":{"post":{"tags":["Backups"],"description":"Triggers the backup job for the specified backup item. This is an asynchronous operation. To know the status of the operation, call GetProtectedItemOperationResult API.","operationId":"Backups_Trigger","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"The fabric name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"The container name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"The name of backup item used in this POST operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The resource backup request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupRequestResource"}}},"required":true},"responses":{"202":{"description":"Accepted"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationResults/{operationId}":{"get":{"tags":["ProtectedItemOperationResults"],"description":"Gets the result of any operation on the backup item.","operationId":"ProtectedItemOperationResults_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"The fabric name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"The container name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"The name of backup item used in this GET operation.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"The OperationID used in this GET operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectedItemResource"}}}},"202":{"description":"Accepted."},"204":{"description":"No content."}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationsStatus/{operationId}":{"get":{"tags":["ProtectedItemOperationStatuses"],"description":"Gets the status of an operation such as triggering a backup or restore. The status can be: In progress, Completed, or Failed. You can refer to the OperationStatus enum for all the possible states of the operation. Some operations create jobs. This method returns the list of jobs associated with the operation.","operationId":"ProtectedItemOperationStatuses_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"The fabric name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"The container name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"The name of backup item used in this GET operation.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"The OperationID used in this GET operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationStatus"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints":{"get":{"tags":["RecoveryPoints"],"description":"Lists the recovery points, or backup copies, for the specified backup item.","operationId":"RecoveryPoints_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"The fabric name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"The container name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"The name of backup item used in this GET operation.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"startDate eq {yyyy-mm-dd hh:mm:ss PM} and endDate { yyyy-mm-dd hh:mm:ss PM}.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecoveryPointResourceList"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}":{"get":{"tags":["RecoveryPoints"],"description":"Provides the backup data for the RecoveryPointID. This is an asynchronous operation. To learn the status of the operation, call the GetProtectedItemOperationResult API.","operationId":"RecoveryPoints_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"The fabric name associated with backup item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"The container name associated with backup item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"The name of the backup item used in this GET operation.","required":true,"schema":{"type":"string"}},{"name":"recoveryPointId","in":"path","description":"The RecoveryPointID associated with this GET operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecoveryPointResource"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/provisionInstantItemRecovery":{"post":{"tags":["ItemLevelRecoveryConnections"],"description":"Provisions a script which invokes an iSCSI connection to the backup data. Executing this script opens File Explorer which displays the recoverable files and folders. This is an asynchronous operation. To get the provisioning status, call GetProtectedItemOperationResult API.","operationId":"ItemLevelRecoveryConnections_Provision","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"The fabric name associated with the backup items.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"The container name associated with the backup items.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"The name of the backup item whose files or folders are to be restored.","required":true,"schema":{"type":"string"}},{"name":"recoveryPointId","in":"path","description":"The recovery point ID for backup data. The iSCSI connection will be provisioned for this backup data.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The resource Item Level Recovery (ILR) request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ILRRequestResource"}}},"required":true},"responses":{"202":{"description":"Accepted."}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/restore":{"post":{"tags":["Restores"],"description":"Restores the specified backup data. This is an asynchronous operation. To know the status of this API call, use GetProtectedItemOperationResult API.","operationId":"Restores_Trigger","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"The fabric name associated with the backup items.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"The container name associated with the backup items.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"The backup item to be restored.","required":true,"schema":{"type":"string"}},{"name":"recoveryPointId","in":"path","description":"The recovery point ID for the backup data to be restored.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The resource restore request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestoreRequestResource"}}},"required":true},"responses":{"202":{"description":"The data restore operation was accepted."}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/revokeInstantItemRecovery":{"post":{"tags":["ItemLevelRecoveryConnections"],"description":"Revokes an iSCSI connection which can be used to download a script. Executing this script opens a file explorer displaying all recoverable files and folders. This is an asynchronous operation.","operationId":"ItemLevelRecoveryConnections_Revoke","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"The fabric name associated with the backup items. The value allowed is Azure.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"The container name associated with the backup items.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"The name of the backup items whose files or folders will be restored.","required":true,"schema":{"type":"string"}},{"name":"recoveryPointId","in":"path","description":"The string that identifies the recovery point. The iSCSI connection will be revoked for this protected data.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"The revocation was accepted."}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/refreshContainers":{"post":{"tags":["ProtectionContainers"],"description":"Discovers the containers in the subscription that can be protected in a Recovery Services vault. This is an asynchronous operation. To learn the status of the operation, use the GetRefreshOperationResult API.","operationId":"ProtectionContainers_Refresh","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"The fabric name associated with the container.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted."}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs":{"get":{"tags":["Jobs"],"description":"Provides a pageable list of jobs.","operationId":"Jobs_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The following equation can be used to filter the list of jobs based on status, type, start date, and end date. status eq { InProgress , Completed , Failed , CompletedWithWarnings , Cancelled , Cancelling } and backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and operation eq { ConfigureBackup , Backup , Restore , DisableBackup , DeleteBackupData } and jobId eq {guid} and startTime eq { yyyy-mm-dd hh:mm:ss PM } and endTime eq { yyyy-mm-dd hh:mm:ss PM }.","schema":{"type":"string"}},{"name":"$skipToken","in":"query","description":"The Skip Token filter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobResourceList"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/operationResults/{operationId}":{"get":{"tags":["ExportJobsOperationResults"],"description":"Gets the result of the operation triggered by the ExportJob API.","operationId":"ExportJobsOperationResults_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"The ID associated with the export job.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationResultInfoBaseResource"}}}},"202":{"description":"Accepted"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}":{"get":{"tags":["JobDetails"],"description":"Gets extended information associated with the job.","operationId":"JobDetails_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"Name of the job associated with this GET operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobResource"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/cancel":{"post":{"tags":["JobCancellations"],"description":"Cancels the job. This is an asynchronous operation. To know the status of the cancellation, call the GetCancelOperationResult API.","operationId":"JobCancellations_Trigger","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"Name of the job to cancel.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted."}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/operationResults/{operationId}":{"get":{"tags":["JobOperationResults"],"description":"Gets the result of the operation.","operationId":"JobOperationResults_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"Job name associated with this GET operation.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"OperationID associated with this GET operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK."},"202":{"description":"Accepted."},"204":{"description":"No content."}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobsExport":{"post":{"tags":["Jobs"],"description":"Exports all jobs for a given Shared Access Signatures (SAS) URL. The SAS URL expires within 15 minutes of its creation.","operationId":"Jobs_Export","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The OData filter options. status eq { InProgress , Completed , Failed , CompletedWithWarnings , Cancelled , Cancelling } and backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and operation eq { ConfigureBackup , Backup , Restore , DisableBackup , DeleteBackupData } and jobId eq {guid} and startTime eq { yyyy-mm-dd hh:mm:ss PM } and endTime eq { yyyy-mm-dd hh:mm:ss PM }.","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted."}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupOperationResults/{operationId}":{"get":{"tags":["BackupOperationResults"],"description":"Provides the status of the delete operations, for example, deleting a backup item. Once the operation starts, the response status code is Accepted. The response status code remains in this state until the operation reaches completion. On successful completion, the status code changes to OK. This method expects OperationID as an argument. OperationID is part of the Location header of the operation response.","operationId":"BackupOperationResults_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"The ID of the operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK."},"202":{"description":"Accepted."},"204":{"description":"No content."}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupOperations/{operationId}":{"get":{"tags":["BackupOperationStatuses"],"description":"Gets the status of an operation such as triggering a backup or restore. The status can be In progress, Completed or Failed. You can refer to the OperationStatus enum for all the possible states of an operation. Some operations create jobs. This method returns the list of jobs when the operation is complete.","operationId":"BackupOperationStatuses_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"The ID of the operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationStatus"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies":{"get":{"tags":["ProtectionPolicies"],"description":"Lists the backup policies associated with the Recovery Services vault. The API provides parameters to Get scoped results.","operationId":"ProtectionPolicies_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The following equation can be used to filter the list of backup policies. backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql}.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionPolicyResourceList"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}":{"get":{"tags":["ProtectionPolicies"],"description":"Gets the details of the backup policy associated with the Recovery Services vault. This is an asynchronous operation. Use the GetPolicyOperationResult API to Get the operation status.","operationId":"ProtectionPolicies_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"policyName","in":"path","description":"The backup policy name used in this GET operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionPolicyResource"}}}}},"deprecated":false},"put":{"tags":["ProtectionPolicies"],"description":"Creates or modifies a backup policy. This is an asynchronous operation. Use the GetPolicyOperationResult API to Get the operation status.","operationId":"ProtectionPolicies_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"policyName","in":"path","description":"The backup policy to be created.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The resource backup policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionPolicyResource"}}},"required":true},"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionPolicyResource"}}}},"202":{"description":"Accepted."}},"deprecated":false},"delete":{"tags":["ProtectionPolicies"],"description":"Deletes the specified backup policy from your Recovery Services vault. This is an asynchronous operation. Use the GetPolicyOperationResult API to Get the operation status.","operationId":"ProtectionPolicies_Delete","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"policyName","in":"path","description":"The name of the backup policy to be deleted.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK."},"204":{"description":"No content."}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operationResults/{operationId}":{"get":{"tags":["ProtectionPolicyOperationResults"],"description":"Provides the result of an operation.","operationId":"ProtectionPolicyOperationResults_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"policyName","in":"path","description":"The backup policy name used in this GET operation.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"The ID associated with this GET operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionPolicyResource"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operations/{operationId}":{"get":{"tags":["ProtectionPolicyOperationStatuses"],"description":"Provides the status of the asynchronous operations like backup or restore. The status can be: in progress, completed, or failed. You can refer to the Operation Status enumeration for the possible states of an operation. Some operations create jobs. This method returns the list of jobs associated with the operation.","operationId":"ProtectionPolicyOperationStatuses_Get","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"policyName","in":"path","description":"The backup policy name used in this GET operation.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"The ID associated with this GET operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationStatus"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectableItems":{"get":{"tags":["ProtectableItems"],"description":"Based on the query filter and the pagination parameters, this operation provides a pageable list of objects within the subscription that can be protected.","operationId":"ProtectableItems_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"Using the following query filters, you can sort a specific backup item based on: type of backup item, status, name of the item, and more.  providerType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and status eq { NotProtected , Protecting , Protected } and friendlyName {name} and skipToken eq {string which provides the next set of list} and topToken eq {int} and backupManagementType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql }.","schema":{"type":"string"}},{"name":"$skipToken","in":"query","description":"The Skip Token filter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkloadProtectableItemResourceList"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectedItems":{"get":{"tags":["ProtectedItems"],"description":"Provides a pageable list of all items in a subscription, that can be protected.","operationId":"ProtectedItems_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":" itemType eq { VM , FileFolder , AzureSqlDb , SQLDB , Exchange , Sharepoint , DPMUnknown } and providerType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and policyName eq {policyName} and containerName eq {containername} and backupManagementType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql }.","schema":{"type":"string"}},{"name":"$skipToken","in":"query","description":" The Skip Token filter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectedItemResourceList"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectionContainers":{"get":{"tags":["ProtectionContainers"],"description":"Lists the containers registered to the Recovery Services vault.","operationId":"ProtectionContainers_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The following equation is used to sort or filter the containers registered to the vault. providerType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql} and status eq {Unknown, NotRegistered, Registered, Registering} and friendlyName eq {containername} and backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql}.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionContainerResourceList"}}}}},"deprecated":false}}},"components":{"schemas":{"AzureBackupServerEngine":{"description":"The backup engine type when Azure Backup Server is used to manage the backups.","allOf":[{"$ref":"#/components/schemas/BackupEngineBase"}]},"AzureIaaSClassicComputeVMContainer":{"description":"IaaS VM workload-specific backup item representing a classic-deployed virtual machine.","allOf":[{"$ref":"#/components/schemas/IaaSVMContainer"}]},"AzureIaaSClassicComputeVMProtectableItem":{"description":"IaaS VM workload-specific backup item representing a classic VM.","allOf":[{"$ref":"#/components/schemas/IaaSVMProtectableItem"}]},"AzureIaaSClassicComputeVMProtectedItem":{"description":"IaaS VM workload-specific backup item representing the classic VM.","allOf":[{"$ref":"#/components/schemas/AzureIaaSVMProtectedItem"}]},"AzureIaaSComputeVMContainer":{"description":"IaaS VM workload-specific backup item representing a Resource Manager-deployed virtual machine.","allOf":[{"$ref":"#/components/schemas/IaaSVMContainer"}]},"AzureIaaSComputeVMProtectableItem":{"description":"IaaS VM workload-specific backup item representing a Resource Manager VM.","allOf":[{"$ref":"#/components/schemas/IaaSVMProtectableItem"}]},"AzureIaaSComputeVMProtectedItem":{"description":"IaaS VM workload-specific backup item representing the Resource Manager VM.","allOf":[{"$ref":"#/components/schemas/AzureIaaSVMProtectedItem"}]},"AzureIaaSVMErrorInfo":{"type":"object","properties":{"errorCode":{"type":"integer","description":"Error code.","format":"int32"},"errorString":{"type":"string","description":"Localized error string."},"errorTitle":{"type":"string","description":"Title: typically, the entity associated the error."},"recommendations":{"type":"array","description":"List of localized recommendations for the error string.","items":{"type":"string"}}},"description":"Azure IaaS VM workload-specific error information."},"AzureIaaSVMJob":{"properties":{"actionsInfo":{"type":"array","description":"Gets or sets the state, or actions, applicable on this job. Examples of the actions are: Cancel or Retry.","items":{"type":"string","enum":["Invalid","Cancellable","Retriable"]}},"duration":{"type":"string","description":"The time that elapsed during the execution of this job.","format":"duration"},"errorDetails":{"type":"array","description":"Error details about this job.","items":{"$ref":"#/components/schemas/AzureIaaSVMErrorInfo"}},"extendedInfo":{"$ref":"#/components/schemas/AzureIaaSVMJobExtendedInfo"},"virtualMachineVersion":{"type":"string","description":"Specifies whether the backup item is a Classic VM or a Resource Manager VM."}},"description":"The Azure IaaS VM workload-specific job object.","allOf":[{"$ref":"#/components/schemas/Job"}]},"AzureIaaSVMJobExtendedInfo":{"type":"object","properties":{"dynamicErrorMessage":{"type":"string","description":"Non-localized error message for job execution."},"progressPercentage":{"type":"number","description":"Indicates progress of the job. Null if it has not started or completed.","format":"double"},"propertyBag":{"type":"object","additionalProperties":{"type":"string"},"description":"Job properties."},"tasksList":{"type":"array","description":"List of tasks associated with this job.","items":{"$ref":"#/components/schemas/AzureIaaSVMJobTaskDetails"}}},"description":"Additional information for the Azure IaaS VM workload-specific job."},"AzureIaaSVMJobTaskDetails":{"type":"object","properties":{"duration":{"type":"string","description":"The time elapsed for the task.","format":"duration"},"endTime":{"type":"string","description":"The end time.","format":"date-time"},"instanceId":{"type":"string","description":"The instance ID."},"progressPercentage":{"type":"number","description":"The progress of the task, as a percentage.","format":"double"},"startTime":{"type":"string","description":"The start time.","format":"date-time"},"status":{"type":"string","description":"The status."},"taskId":{"type":"string","description":"The task display name."}},"description":"Azure IaaS VM workload-specific job task details."},"AzureIaaSVMProtectedItem":{"properties":{"extendedInfo":{"$ref":"#/components/schemas/AzureIaaSVMProtectedItemExtendedInfo"},"friendlyName":{"type":"string","description":"The friendly name of the VM represented by this backup item."},"lastBackupStatus":{"type":"string","description":"The last backup operation status. The possible values are: Healthy or Unhealthy."},"lastBackupTime":{"type":"string","description":"The timestamp of the last backup operation for this backup item.","format":"date-time"},"protectionState":{"type":"string","description":"The backup state of this backup item.","enum":["Invalid","IRPending","Protected","ProtectionError","ProtectionStopped","ProtectionPaused"]},"protectionStatus":{"type":"string","description":"The backup status of this backup item."},"virtualMachineId":{"type":"string","description":"The fully qualified Resource Manager ID of the virtual machine represented by this item."}},"description":"This Azure VM workload-specific (also known as IaaS VM workload-specific) backup item has been backed up.","allOf":[{"$ref":"#/components/schemas/ProtectedItem"}]},"AzureIaaSVMProtectedItemExtendedInfo":{"type":"object","properties":{"oldestRecoveryPoint":{"type":"string","description":"The oldest backup copy available for this backup item.","format":"date-time"},"policyInconsistent":{"type":"boolean","description":"Specifies if the backup policy associated with the backup item is inconsistent."},"recoveryPointCount":{"type":"integer","description":"The number of backup copies available for this backup item.","format":"int32"}},"description":"Additional information for the Azure VM (also known as IaaS VM)-specific backup item."},"AzureIaaSVMProtectionPolicy":{"properties":{"retentionPolicy":{"$ref":"#/components/schemas/RetentionPolicy"},"schedulePolicy":{"$ref":"#/components/schemas/SchedulePolicy"}},"description":"Azure VM (also known as IaaS VM) workload-specific backup policy.","allOf":[{"$ref":"#/components/schemas/ProtectionPolicy"}]},"AzureSqlContainer":{"description":"Azure SQL workload-specific container.","allOf":[{"$ref":"#/components/schemas/ProtectionContainer"}]},"AzureSqlProtectedItem":{"properties":{"extendedInfo":{"$ref":"#/components/schemas/AzureSqlProtectedItemExtendedInfo"},"protectedItemDataId":{"type":"string","description":"The internal ID of a backup item. The internal ID is used by the Azure SQL Backup engine to contact Recovery Services."},"protectionState":{"type":"string","description":"The backup state of the backup item.","enum":["Invalid","IRPending","Protected","ProtectionError","ProtectionStopped","ProtectionPaused"]}},"description":"This is an Azure SQL workload-specific backup item.","allOf":[{"$ref":"#/components/schemas/ProtectedItem"}]},"AzureSqlProtectedItemExtendedInfo":{"type":"object","properties":{"oldestRecoveryPoint":{"type":"string","description":"The oldest backup copy available for this item in the service.","format":"date-time"},"policyState":{"type":"string","description":"The state of the backup policy associated with this backup item."},"recoveryPointCount":{"type":"integer","description":"The number of available backup copies for this backup item.","format":"int32"}},"description":"Additional information for the Azure SQL specific backup item."},"AzureSqlProtectionPolicy":{"properties":{"retentionPolicy":{"$ref":"#/components/schemas/RetentionPolicy"}},"description":" The Azure SQL workload-specific backup policy.","allOf":[{"$ref":"#/components/schemas/ProtectionPolicy"}]},"BEKDetails":{"type":"object","properties":{"secretData":{"type":"string","description":"Bitlocker Encryption Key (BEK) data."},"secretUrl":{"type":"string","description":"Secret refers to Bitlocker Encryption Key (BEK). The Secret can be unlocked by the key (or KEK)."},"secretVaultId":{"type":"string","description":"ID of the Key Vault where this Secret is stored."}},"description":"BEK is Bitlocker Encryption Key."},"BMSBackupEngineQueryObject":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"The backup management type associated with the backup engine.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]}},"description":"The query parameters used to GET the list of backup engines."},"BMSContainerQueryObject":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"The backup management type for this container.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"friendlyName":{"type":"string","description":"The friendly name of the container."},"status":{"type":"string","description":"The status of the container's registration with the Recovery Services vault."}},"description":"The query filters that can be used with the list containers API."},"BMSPOQueryObject":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"The backup management type.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"friendlyName":{"type":"string","description":"The friendly name for the item."},"status":{"type":"string","description":"The backup status query parameter."}},"description":"Filters the list of backup items."},"BMSRPQueryObject":{"type":"object","properties":{"endDate":{"type":"string","description":"Use backup copies created before this time.","format":"date-time"},"startDate":{"type":"string","description":"Use backup copies created after this time.","format":"date-time"}},"description":"Filters the list of backup copies based on the property."},"BackupEngineBase":{"type":"object","properties":{"backupEngineId":{"type":"string","description":"The ID of the backup engine."},"backupEngineType":{"type":"string","description":"The type of the backup engine."},"backupManagementType":{"type":"string","description":"The type of backup management associated with the backup engine.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"canReRegister":{"type":"boolean","description":"The flag indicating whether the backup engine be registered again, once the engine has been initially registered."},"friendlyName":{"type":"string","description":"The friendly name of the backup engine."},"healthStatus":{"type":"string","description":"The backup status of the backup engine."},"registrationStatus":{"type":"string","description":"The status of the backup engine registration with the Recovery Services vault."}},"description":"The base backup engine class. All workload-specific backup engines derive from this class.","discriminator":{"propertyName":"backupEngineType"}},"BackupEngineBaseResource":{"properties":{"properties":{"$ref":"#/components/schemas/BackupEngineBase"}},"description":"The base backup engine class. All workload-specific backup engines derive from this class.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"BackupEngineBaseResourceList":{"properties":{"value":{"type":"array","description":"List of resources.","items":{"$ref":"#/components/schemas/BackupEngineBaseResource"}}},"description":"List of BackupEngineBase resources","allOf":[{"$ref":"#/components/schemas/ResourceList"}]},"BackupRequest":{"type":"object","properties":{"objectType":{"type":"string","description":"This property is used as the discriminator for deciding the specific types in the polymorphic chain of types."}},"description":"The base class for a backup request. Workload-specific backup requests are derived from this class.","discriminator":{"propertyName":"objectType"}},"BackupRequestResource":{"properties":{"properties":{"$ref":"#/components/schemas/BackupRequest"}},"description":"Base class for the backup request. Workload-specific backup requests are derived from this class.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"ClientScriptForConnect":{"type":"object","properties":{"osType":{"type":"string","description":"The operating system platform (\"Windows\" or \"Linux\") for which this file or folder restore client script works."},"scriptContent":{"type":"string","description":"File content of the client script for file or folder restore."},"scriptExtension":{"type":"string","description":"File extension of the client script for the file or folder restore. Some examples of the extension are: .ps1 and .sh."}},"description":"Client script details for the file or folder restore."},"DailyRetentionFormat":{"type":"object","properties":{"daysOfTheMonth":{"type":"array","description":"List of days of the month.","items":{"$ref":"#/components/schemas/Day"}}},"description":"Daily retention format."},"DailyRetentionSchedule":{"type":"object","properties":{"retentionDuration":{"$ref":"#/components/schemas/RetentionDuration"},"retentionTimes":{"type":"array","description":"The retention times of retention policy.","items":{"type":"string","format":"date-time"}}},"description":"Daily retention schedule."},"Day":{"type":"object","properties":{"date":{"type":"integer","format":"int32"},"isLast":{"type":"boolean"}},"description":"Day of the week."},"DpmBackupEngine":{"description":"The backup engine type when Data Protection Manager (DPM) is used to manage backups.","allOf":[{"$ref":"#/components/schemas/BackupEngineBase"}]},"DpmErrorInfo":{"type":"object","properties":{"errorString":{"type":"string","description":"Localized error string."},"recommendations":{"type":"array","description":"The list of localized recommendations for the error string.","items":{"type":"string"}}},"description":"DPM workload-specific error information."},"DpmJob":{"properties":{"actionsInfo":{"type":"array","description":"The state or actions applicable on this job, such as Cancel or Retry.","items":{"type":"string","enum":["Invalid","Cancellable","Retriable"]}},"containerName":{"type":"string","description":"The name of the cluster or server protecting the current backup item, if any."},"containerType":{"type":"string","description":"The type of container."},"dpmServerName":{"type":"string","description":"DPM server name managing the backup item or backup job."},"duration":{"type":"string","description":"The time elapsed for the job.","format":"duration"},"errorDetails":{"type":"array","description":"The errors.","items":{"$ref":"#/components/schemas/DpmErrorInfo"}},"extendedInfo":{"$ref":"#/components/schemas/DpmJobExtendedInfo"},"workloadType":{"type":"string","description":"The type of backup item."}},"description":"The DPM workload-specific job object.","allOf":[{"$ref":"#/components/schemas/Job"}]},"DpmJobExtendedInfo":{"type":"object","properties":{"dynamicErrorMessage":{"type":"string","description":"Non-localized error message on job execution."},"propertyBag":{"type":"object","additionalProperties":{"type":"string"},"description":"The job properties."},"tasksList":{"type":"array","description":"List of tasks associated with this job.","items":{"$ref":"#/components/schemas/DpmJobTaskDetails"}}},"description":"Additional information on the DPM workload-specific job."},"DpmJobTaskDetails":{"type":"object","properties":{"duration":{"type":"string","description":"The time elapsed for task.","format":"duration"},"endTime":{"type":"string","description":"The end time.","format":"date-time"},"startTime":{"type":"string","description":"The start time.","format":"date-time"},"status":{"type":"string","description":"The status."},"taskId":{"type":"string","description":"The task display name."}},"description":"DPM workload-specific job task details."},"EncryptionDetails":{"type":"object","properties":{"encryptionEnabled":{"type":"boolean","description":"Identifies whether the backup copy represents an encrypted VM at the time of backup."},"kekUrl":{"type":"string","description":"URL of the Key Encryption Key (KEK)."},"kekVaultId":{"type":"string","description":"The ID of Key Vault where the Key Encryption Key (KEK) is stored."},"secretKeyUrl":{"type":"string","description":"URL of the Bitlocker Encryption Key (BEK)."},"secretKeyVaultId":{"type":"string","description":"The ID of Key Vault where the Bitlocker Encryption Key (BEK), or Secret, is stored."}},"description":"Details needed if the VM was encrypted at the time of backup."},"ExportJobsOperationResultInfo":{"properties":{"blobSasKey":{"type":"string","description":"The Shared Access Signatures (SAS) key used to access the blob. The key expires after 15 minutes."},"blobUrl":{"type":"string","description":"The URL of the blob. The serialized string, which is the list of jobs, is exported to this URL."}},"description":"This class is used to send blob details after exporting jobs.","allOf":[{"$ref":"#/components/schemas/OperationResultInfoBase"}]},"GenericRecoveryPoint":{"properties":{"friendlyName":{"type":"string","description":"Friendly name of the backup copy."},"recoveryPointAdditionalInfo":{"type":"string","description":"Additional information associated with this backup copy."},"recoveryPointTime":{"type":"string","description":"The time when this backup copy was created.","format":"date-time"},"recoveryPointType":{"type":"string","description":"Type of the backup copy."}},"description":"Generic backup copy.","allOf":[{"$ref":"#/components/schemas/RecoveryPoint"}]},"GetProtectedItemQueryObject":{"type":"object","properties":{"expand":{"type":"string","description":"Specifies if the additional information should be provided for this item."}},"description":"This object filters the list of backup items."},"ILRRequest":{"type":"object","properties":{"objectType":{"type":"string","description":"This property is used as the discriminator for deciding the specific types in the polymorphic chain of types."}},"description":"Parameters to restore file or folders API.","discriminator":{"propertyName":"objectType"}},"ILRRequestResource":{"properties":{"properties":{"$ref":"#/components/schemas/ILRRequest"}},"description":"The parameters to restore files or folders.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"IaaSVMContainer":{"properties":{"resourceGroup":{"type":"string","description":"The resource group name associated with the Recovery Services vault."},"virtualMachineId":{"type":"string","description":"The fully qualified Resource Manager URL of the virtual machine represented by this Azure IaaS VM container."},"virtualMachineVersion":{"type":"string","description":"Specifies whether the container represents a classic or a Resource Manager-deployed virtual machine."}},"description":"IaaS VM workload-specific container.","allOf":[{"$ref":"#/components/schemas/ProtectionContainer"}]},"IaaSVMProtectableItem":{"properties":{"virtualMachineId":{"type":"string","description":"The fully qualified Resource Manager ID of the virtual machine."}},"description":"This Azure VM workload-specific (also known as IaaS VM workload-specific) backup item can be backed up.","allOf":[{"$ref":"#/components/schemas/WorkloadProtectableItem"}]},"IaasVMBackupRequest":{"properties":{"recoveryPointExpiryTimeInUTC":{"type":"string","description":"The backup copy will expire after the time specified. The time is in UTC format.","format":"date-time"}},"description":"This is an Azure VM (also known as IaaS VM) workload-specific backup request.","allOf":[{"$ref":"#/components/schemas/BackupRequest"}]},"IaasVMILRRegistrationRequest":{"properties":{"initiatorName":{"type":"string","description":"The iSCSI initiator name."},"recoveryPointId":{"type":"string","description":"The ID of the IaaS VM recovery point used to restore the files or folders."},"renewExistingRegistration":{"type":"boolean","description":"Whether to renew the existing registration with the iSCSI server."},"virtualMachineId":{"type":"string","description":"The fully qualified Resource Manager ID of the VM used to restore the files or folders."}},"description":"Restore files or folders from a backup copy, or recovery point, of an IaaS (or Azure) VM.","allOf":[{"$ref":"#/components/schemas/ILRRequest"}]},"IaasVMRecoveryPoint":{"properties":{"isInstantILRSessionActive":{"type":"boolean","description":"Answer to the question - Is the session to recover items from this backup copy still active."},"isSourceVMEncrypted":{"type":"boolean","description":"Identifies whether the VM was encrypted when the backup copy is created."},"keyAndSecret":{"$ref":"#/components/schemas/KeyAndSecretDetails"},"recoveryPointAdditionalInfo":{"type":"string","description":"Additional information associated with this backup copy."},"recoveryPointTime":{"type":"string","description":"The date and time when the backup copy was created.","format":"date-time"},"recoveryPointType":{"type":"string","description":"Type of the backup copy."},"sourceVMStorageType":{"type":"string","description":"The storage type for the VM whose backup copy was created."}},"description":"Azure VM (also known as IaaS VM) workload-specific backup copy.","allOf":[{"$ref":"#/components/schemas/RecoveryPoint"}]},"IaasVMRestoreRequest":{"properties":{"affinityGroup":{"type":"string","description":"The affinity group associated with the VM to be restored. Affinity groups are used only for Classic-deployed virtual machines."},"createNewCloudService":{"type":"boolean","description":"Asks the question if a new cloud service should be created while restoring the VM. If the answer is false, the VM is restored to the same cloud service."},"encryptionDetails":{"$ref":"#/components/schemas/EncryptionDetails"},"recoveryPointId":{"type":"string","description":"The ID of the backup copy to be recovered."},"recoveryType":{"type":"string","description":"The type of this recovery.","enum":["Invalid","OriginalLocation","AlternateLocation","RestoreDisks"]},"region":{"type":"string","description":"The region where the virtual machine is restored."},"sourceResourceId":{"type":"string","description":"The fully qualified Resource Manager ID of the VM being recovered."},"storageAccountId":{"type":"string","description":"The fully qualified Resource Manager ID of the storage account where the VM will be restored."},"subnetId":{"type":"string","description":"Subnet ID is the identifier for the VM to be restored. For Classic VMs the subnet ID would be {VnetID}/Subnet/{SubnetName}, and for the Resource Manager VMs, the subnet ID would be the Resource Manager resource ID used to represent the subnet."},"targetDomainNameId":{"type":"string","description":"The fully qualified Resource Manager ID of the domain name to be associated with the VM being restored. Use the Resource Manager ID to identify the domain, only for Classic-deployed virtual machines."},"targetResourceGroupId":{"type":"string","description":"The Resource Manager ID of the resource group you're creating for this VM and other artifacts.\r\n    For example: /subscriptions/{subId}/resourcegroups/{rg}"},"targetVirtualMachineId":{"type":"string","description":"The complete Resource Manager ID of the VM that will be created.\r\n            For example: /subscriptions/{subId}/resourcegroups/{rg}/provider/Microsoft.Compute/virtualmachines/{vm}"},"virtualNetworkId":{"type":"string","description":"This is the virtual network ID of the vnet that is attached to the virtual machine.\r\n            Your join action permissions are validated during the linked access."}},"description":"IaaS VM workload-specific restore.","allOf":[{"$ref":"#/components/schemas/RestoreRequest"}]},"InstantItemRecoveryTarget":{"type":"object","properties":{"clientScripts":{"type":"array","description":"List of client scripts.","items":{"$ref":"#/components/schemas/ClientScriptForConnect"}}},"description":"Target details for the file or folder restore."},"Job":{"type":"object","properties":{"activityId":{"type":"string","description":"ActivityId of job."},"backupManagementType":{"type":"string","description":"The backup management type for the current job.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"endTime":{"type":"string","description":"The end time.","format":"date-time"},"entityFriendlyName":{"type":"string","description":"The friendly name of the entity on which the current job is executing."},"jobType":{"type":"string","description":"This property is the discriminator for deciding between the specific types in the polymorphic chain of types."},"operation":{"type":"string","description":"The operation name."},"startTime":{"type":"string","description":"The start time.","format":"date-time"},"status":{"type":"string","description":"The job status."}},"description":"Defines workload-agnostic properties for a job.","discriminator":{"propertyName":"jobType"}},"JobQueryObject":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"Type of backup management for the job.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"endTime":{"type":"string","description":"The time when the job ends. The value is in UTC.","format":"date-time"},"jobId":{"type":"string","description":"The ID of the job. Each jobID is unique."},"operation":{"type":"string","description":"The type of operation.","enum":["Invalid","ConfigureBackup","Backup","Restore","DisableBackup","DeleteBackupData"]},"startTime":{"type":"string","description":"The time when the job starts. The value is in UTC.","format":"date-time"},"status":{"type":"string","description":"Status of the job.","enum":["Invalid","InProgress","Completed","Failed","CompletedWithWarnings","Cancelled","Cancelling"]}},"description":"The filters to list the jobs."},"JobResource":{"properties":{"properties":{"$ref":"#/components/schemas/Job"}},"description":"Defines the workload-agnostic properties for a job.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"JobResourceList":{"properties":{"value":{"type":"array","description":"List of resources.","items":{"$ref":"#/components/schemas/JobResource"}}},"description":"List of Job resources.","allOf":[{"$ref":"#/components/schemas/ResourceList"}]},"KEKDetails":{"type":"object","properties":{"keyBackupData":{"type":"string","description":"Key Backup Data refers to Key Encryption Key (KEK) data."},"keyUrl":{"type":"string","description":"Key refers to the Key Encryption Key (KEK). The KEK is the Key to unlock the Secret."},"keyVaultId":{"type":"string","description":"Key Vault ID identifies where the KEK is stored."}},"description":"The Key Encryption Key (KEK) is the encryption key for the Bitlocker Encryption Key (BEK)."},"KeyAndSecretDetails":{"type":"object","properties":{"bekDetails":{"$ref":"#/components/schemas/BEKDetails"},"kekDetails":{"$ref":"#/components/schemas/KEKDetails"}},"description":"BEK stands for Bitlocker Encryption Key.\r\n KEK stands for Key Encryption Key. KEK is the encryption key used to protect the Secret for the BEK\r\n  If the VM is encrypted, then the service stores the following details :\r\n  1. Secret(BEK) - Url + Backup Data + vaultID.\r\n            2. Key(KEK) - Url + Backup Data + vaultID.\r\n   It is possible for the BEK and KEK to have different vaultIDs."},"LongTermRetentionPolicy":{"properties":{"dailySchedule":{"$ref":"#/components/schemas/DailyRetentionSchedule"},"monthlySchedule":{"$ref":"#/components/schemas/MonthlyRetentionSchedule"},"weeklySchedule":{"$ref":"#/components/schemas/WeeklyRetentionSchedule"},"yearlySchedule":{"$ref":"#/components/schemas/YearlyRetentionSchedule"}},"description":"Long-term retention policy.","allOf":[{"$ref":"#/components/schemas/RetentionPolicy"}]},"LongTermSchedulePolicy":{"description":"Long-term policy schedule.","allOf":[{"$ref":"#/components/schemas/SchedulePolicy"}]},"MabContainer":{"properties":{"agentVersion":{"type":"string","description":"The version of the agent used with this container."},"canReRegister":{"type":"boolean","description":"The container can be registered one more time."},"containerId":{"type":"integer","description":"The ID for the container.","format":"int64"},"extendedInfo":{"$ref":"#/components/schemas/MabContainerExtendedInfo"},"protectedItemCount":{"type":"integer","description":"The number of backup items in the container.","format":"int64"}},"description":"The container associated with items backed up using Azure Backup Server.","allOf":[{"$ref":"#/components/schemas/ProtectionContainer"}]},"MabContainerExtendedInfo":{"type":"object","properties":{"backupItemType":{"type":"string","description":"The type of backup items associated with this container.","enum":["Invalid","VM","FileFolder","AzureSqlDb","SQLDB","Exchange","Sharepoint","DPMUnknown"]},"backupItems":{"type":"array","description":"The list of backup items associated with this container.","items":{"type":"string"}},"lastBackupStatus":{"type":"string","description":"The latest backup status of this container."},"lastRefreshedAt":{"type":"string","description":"The time stamp when this container was refreshed.","format":"date-time"},"policyName":{"type":"string","description":"The backup policy associated with this container."}},"description":"Additional information for the container."},"MabErrorInfo":{"type":"object","properties":{"errorString":{"type":"string","description":"Localized error string."},"recommendations":{"type":"array","description":"List of localized recommendations.","items":{"type":"string"}}},"description":"Azure Backup Server workload-specific error information."},"MabFileFolderProtectedItem":{"properties":{"computerName":{"type":"string","description":"The name of the computer associated with this backup item."},"extendedInfo":{"$ref":"#/components/schemas/MabFileFolderProtectedItemExtendedInfo"},"friendlyName":{"type":"string","description":"The friendly name of this backup item."},"isScheduledForDeferredDelete":{"type":"boolean"},"lastBackupStatus":{"type":"string","description":"The status of last backup operation."},"protectionState":{"type":"string","description":"The states for this property are: Protected, ProtectionStopped, IRPending, or ProtectionError."}},"description":"This is a file or folder workload-specific backup item.","allOf":[{"$ref":"#/components/schemas/ProtectedItem"}]},"MabFileFolderProtectedItemExtendedInfo":{"type":"object","properties":{"lastRefreshedAt":{"type":"string","description":"The last day and time the agent synced with the service.","format":"date-time"},"oldestRecoveryPoint":{"type":"string","description":"The oldest backup copy available.","format":"date-time"},"recoveryPointCount":{"type":"integer","description":"The number of backup copies associated with the backup item.","format":"int32"}},"description":"Additional information for the backup item."},"MabJob":{"properties":{"actionsInfo":{"type":"array","description":"The state or actions applicable on jobs such as Cancel or Retry.","items":{"type":"string","enum":["Invalid","Cancellable","Retriable"]}},"duration":{"type":"string","description":"The time required for the job to run.","format":"duration"},"errorDetails":{"type":"array","description":"The errors.","items":{"$ref":"#/components/schemas/MabErrorInfo"}},"extendedInfo":{"$ref":"#/components/schemas/MabJobExtendedInfo"},"mabServerName":{"type":"string","description":"The name of server protecting the data store."},"mabServerType":{"type":"string","description":"Server type of the Azure Backup Server container.","enum":["Invalid","Unknown","IaasVMContainer","IaasVMServiceContainer","DPMContainer","DPMVenusContainer","MABContainer","ClusterResource","AzureSqlContainer","WindowsServer","Windows"]},"workloadType":{"type":"string","description":"Workload type of backup item.","enum":["Invalid","VM","FileFolder","AzureSqlDb","SQLDB","Exchange","Sharepoint","DPMUnknown"]}},"description":"The Azure Backup Server workload-specific job.","allOf":[{"$ref":"#/components/schemas/Job"}]},"MabJobExtendedInfo":{"type":"object","properties":{"dynamicErrorMessage":{"type":"string","description":"Non-localized error message specific to this job."},"propertyBag":{"type":"object","additionalProperties":{"type":"string"},"description":"The job properties."},"tasksList":{"type":"array","description":"List of tasks for this job.","items":{"$ref":"#/components/schemas/MabJobTaskDetails"}}},"description":"Additional information for the Azure Backup Server workload-specific job."},"MabJobTaskDetails":{"type":"object","properties":{"duration":{"type":"string","description":"Time elapsed for task.","format":"duration"},"endTime":{"type":"string","description":"The end time.","format":"date-time"},"startTime":{"type":"string","description":"The start time.","format":"date-time"},"status":{"type":"string","description":"The status."},"taskId":{"type":"string","description":"The task display name."}},"description":"Azure Backup Server workload-specific job task details."},"MabProtectionPolicy":{"properties":{"retentionPolicy":{"$ref":"#/components/schemas/RetentionPolicy"},"schedulePolicy":{"$ref":"#/components/schemas/SchedulePolicy"}},"description":"The backup policy for the file or folder container.","allOf":[{"$ref":"#/components/schemas/ProtectionPolicy"}]},"MonthlyRetentionSchedule":{"type":"object","properties":{"retentionDuration":{"$ref":"#/components/schemas/RetentionDuration"},"retentionScheduleDaily":{"$ref":"#/components/schemas/DailyRetentionFormat"},"retentionScheduleFormatType":{"type":"string","description":"Retention schedule format type for monthly retention policy.","enum":["Invalid","Daily","Weekly"]},"retentionScheduleWeekly":{"$ref":"#/components/schemas/WeeklyRetentionFormat"},"retentionTimes":{"type":"array","description":"Retention times of the retention policy.","items":{"type":"string","format":"date-time"}}},"description":"The monthly retention schedule."},"Object":{"type":"object","description":"Base of all objects."},"OperationResultInfo":{"properties":{"jobList":{"type":"array","description":"List of jobs created by this operation.","items":{"type":"string"}}},"description":"Information about the result of the operation.","allOf":[{"$ref":"#/components/schemas/OperationResultInfoBase"}]},"OperationResultInfoBase":{"type":"object","properties":{"objectType":{"type":"string","description":"This property is the discriminator for deciding between the specific types in the polymorphic chain of types."}},"description":"The base class for operation result information.","discriminator":{"propertyName":"objectType"}},"OperationResultInfoBaseResource":{"properties":{"properties":{"$ref":"#/components/schemas/OperationResultInfoBase"}},"description":"Base class for operation result information.","allOf":[{"$ref":"#/components/schemas/OperationWorkerResponse"}]},"OperationStatus":{"type":"object","properties":{"endTime":{"type":"string","description":"The operation end time. The format of the time is ISO-8601.","format":"date-time"},"error":{"$ref":"#/components/schemas/OperationStatusError"},"id":{"type":"string","description":"ID of the operation."},"name":{"type":"string","description":"Name of the operation."},"properties":{"$ref":"#/components/schemas/OperationStatusExtendedInfo"},"startTime":{"type":"string","description":"The operation start time. The format of the time is ISO-8601.","format":"date-time"},"status":{"type":"string","description":"Operation status.","enum":["Invalid","InProgress","Succeeded","Failed","Canceled"]}},"description":"Operation status."},"OperationStatusError":{"type":"object","properties":{"code":{"type":"string","description":"The error code for the failed operation."},"message":{"type":"string","description":"The error message for the failed operation."}},"description":"Error information associated with the operation status call."},"OperationStatusExtendedInfo":{"type":"object","properties":{"objectType":{"type":"string","description":"This property is used as the discriminator for deciding between types, in the polymorphic chain of types."}},"description":"The base class for additional information about the operation status.","discriminator":{"propertyName":"objectType"}},"OperationStatusJobExtendedInfo":{"properties":{"jobId":{"type":"string","description":"ID of the job created for this backup item."}},"description":"Extended information about the operation status job.","allOf":[{"$ref":"#/components/schemas/OperationStatusExtendedInfo"}]},"OperationStatusJobsExtendedInfo":{"properties":{"failedJobsError":{"type":"object","additionalProperties":{"type":"string"},"description":"Stores all the failed jobs along with the corresponding error codes."},"jobIds":{"type":"array","description":"IDs of the jobs created for the backup item.","items":{"type":"string"}}},"description":"Operation status extended info for the job list.","allOf":[{"$ref":"#/components/schemas/OperationStatusExtendedInfo"}]},"OperationStatusProvisionILRExtendedInfo":{"properties":{"recoveryTarget":{"$ref":"#/components/schemas/InstantItemRecoveryTarget"}},"description":"Extended information about the Item Level Recovery (ILR) provision action, operation status.","allOf":[{"$ref":"#/components/schemas/OperationStatusExtendedInfo"}]},"OperationWorkerResponse":{"type":"object","properties":{"Headers":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"description":"The HTTP headers associated with this operation."},"statusCode":{"type":"string","description":"The HTTP status code of the operation.","enum":["Continue","SwitchingProtocols","OK","Created","Accepted","NonAuthoritativeInformation","NoContent","ResetContent","PartialContent","MultipleChoices","Ambiguous","MovedPermanently","Moved","Found","Redirect","SeeOther","RedirectMethod","NotModified","UseProxy","Unused","TemporaryRedirect","RedirectKeepVerb","BadRequest","Unauthorized","PaymentRequired","Forbidden","NotFound","MethodNotAllowed","NotAcceptable","ProxyAuthenticationRequired","RequestTimeout","Conflict","Gone","LengthRequired","PreconditionFailed","RequestEntityTooLarge","RequestUriTooLong","UnsupportedMediaType","RequestedRangeNotSatisfiable","ExpectationFailed","UpgradeRequired","InternalServerError","NotImplemented","BadGateway","ServiceUnavailable","GatewayTimeout","HttpVersionNotSupported"]}},"description":"The base class for operation result responses."},"ProtectedItem":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"The backup management type associated with the backup item.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"lastRecoveryPoint":{"type":"string","description":"The timestamp when the most recent backup copy was created for this backup item.","format":"date-time"},"policyId":{"type":"string","description":"The ID of the backup policy associated with this backup item."},"protectedItemType":{"type":"string","description":"The backup item type."},"sourceResourceId":{"type":"string","description":"The ID of the resource to be backed up."},"workloadType":{"type":"string","description":"The workload type for this item.","enum":["Invalid","VM","FileFolder","AzureSqlDb","SQLDB","Exchange","Sharepoint","DPMUnknown"]}},"description":"The base class for backup items.","discriminator":{"propertyName":"protectedItemType"}},"ProtectedItemQueryObject":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"The backup management type associated with an item.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"containerName":{"type":"string","description":"The name of the container."},"itemType":{"type":"string","description":"The workload type associated with an item.","enum":["Invalid","VM","FileFolder","AzureSqlDb","SQLDB","Exchange","Sharepoint","DPMUnknown"]},"policyName":{"type":"string","description":"The name of the backup policy associated with the item."}},"description":"Filters the list of backup items."},"ProtectedItemResource":{"properties":{"properties":{"$ref":"#/components/schemas/ProtectedItem"}},"description":"The base class for backup items.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"ProtectedItemResourceList":{"properties":{"value":{"type":"array","description":"The list of resources.","items":{"$ref":"#/components/schemas/ProtectedItemResource"}}},"description":"The list of ProtectedItem resources.","allOf":[{"$ref":"#/components/schemas/ResourceList"}]},"ProtectionContainer":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"The backup management type for the container.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"containerType":{"type":"string","description":"The type assigned to the container. The values to use for each of these properties are:<br/> 1. Compute Azure VM is Microsoft.Compute/virtualMachines<br/> 2. Classic Compute Azure VM is Microsoft.ClassicCompute/virtualMachines<br/> 3. Windows machines (like Azure Backup Server and DPM) is Windows<br/> 4. Azure SQL instance is AzureSqlContainer.","readOnly":true},"friendlyName":{"type":"string","description":"Friendly name of the container."},"healthStatus":{"type":"string","description":"The status of the container's health."},"protectableObjectType":{"type":"string","description":"The protectable object type associated with the container."},"registrationStatus":{"type":"string","description":"The container's registration status with the Recovery Services vault."}},"description":"The base class for a container with backup items. Containers with specific workloads are derived from this class.","discriminator":{"propertyName":"protectableObjectType"}},"ProtectionContainerResource":{"properties":{"properties":{"$ref":"#/components/schemas/ProtectionContainer"}},"description":"Base class for a container with backup items. Containers with specific workloads are derived from this class.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"ProtectionContainerResourceList":{"properties":{"value":{"type":"array","description":"The list of resources.","items":{"$ref":"#/components/schemas/ProtectionContainerResource"}}},"description":"The list of ProtectionContainer resources.","allOf":[{"$ref":"#/components/schemas/ResourceList"}]},"ProtectionPolicy":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"This property is used as the discriminator for deciding the specific types in the polymorphic chain of types."},"protectedItemsCount":{"type":"integer","description":"The number of items associated with this policy.","format":"int32"}},"description":"The base class for a backup policy. Workload-specific backup policies are derived from this class.","discriminator":{"propertyName":"backupManagementType"}},"ProtectionPolicyQueryObject":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"The backup management type associated with the backup policy.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]}},"description":"This object filters the list of backup policies."},"ProtectionPolicyResource":{"properties":{"properties":{"$ref":"#/components/schemas/ProtectionPolicy"}},"description":"The base class for backup policy. Workload-specific backup policies are derived from this class.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"ProtectionPolicyResourceList":{"properties":{"value":{"type":"array","description":"The list of resources.","items":{"$ref":"#/components/schemas/ProtectionPolicyResource"}}},"description":"The list of ProtectionPolicy resources.","allOf":[{"$ref":"#/components/schemas/ResourceList"}]},"RecoveryPoint":{"type":"object","properties":{"objectType":{"type":"string","description":"This property is used as the discriminator for deciding the specific types in the polymorphic chain of types."}},"description":"The base class for backup copies. Workload-specific backup copies are derived from this class.","discriminator":{"propertyName":"objectType"}},"RecoveryPointResource":{"properties":{"properties":{"$ref":"#/components/schemas/RecoveryPoint"}},"description":"The base class for backup copies. Workload-specific backup copies are derived from this class.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"RecoveryPointResourceList":{"properties":{"value":{"type":"array","description":"The list of resources.","items":{"$ref":"#/components/schemas/RecoveryPointResource"}}},"description":"The list of RecoveryPoint resources.","allOf":[{"$ref":"#/components/schemas/ResourceList"}]},"Resource":{"type":"object","properties":{"eTag":{"type":"string","description":"Optional ETag."},"id":{"type":"string","description":"Resource ID represents the complete path to the resource."},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource name associated with the resource."},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/..."}},"description":"Base for all resources."},"ResourceList":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to GET the next page of resources. Call ListNext() gets the next page of resources."}},"description":"Base for all lists of resources."},"RestoreRequest":{"type":"object","properties":{"objectType":{"type":"string","description":"This property is used as the discriminator for deciding the specific types in the polymorphic chain of types."}},"description":"The base class for restore requests. Workload-specific restore requests are derived from this class.","discriminator":{"propertyName":"objectType"}},"RestoreRequestResource":{"properties":{"properties":{"$ref":"#/components/schemas/RestoreRequest"}},"description":"The base class for a restore request. Workload-specific restore requests are derived from this class.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"RetentionDuration":{"type":"object","properties":{"count":{"type":"integer","description":"Count of the duration types. Retention duration is determined by the combining the Count times and durationType. \r\n   For example, if Count = 3 and durationType = Weeks, then the retention duration is three weeks.","format":"int32"},"durationType":{"type":"string","description":"The retention duration type of the retention policy.","enum":["Invalid","Days","Weeks","Months","Years"]}},"description":"Retention duration."},"RetentionPolicy":{"type":"object","properties":{"retentionPolicyType":{"type":"string","description":"This property is used as the discriminator for deciding the specific types in the polymorphic chain of types."}},"description":"The base class for retention policy.","discriminator":{"propertyName":"retentionPolicyType"}},"SchedulePolicy":{"type":"object","properties":{"schedulePolicyType":{"type":"string","description":"This property is used as the discriminator for deciding the specific types in the polymorphic chain of types."}},"description":"The base class for backup schedules.","discriminator":{"propertyName":"schedulePolicyType"}},"SimpleRetentionPolicy":{"properties":{"retentionDuration":{"$ref":"#/components/schemas/RetentionDuration"}},"description":"Simple policy retention.","allOf":[{"$ref":"#/components/schemas/RetentionPolicy"}]},"SimpleSchedulePolicy":{"properties":{"scheduleRunDays":{"type":"array","description":"This list is the days of the week when the schedule runs.","items":{"type":"string","enum":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]}},"scheduleRunFrequency":{"type":"string","description":"Defines the frequency interval (daily or weekly) for the schedule policy.","enum":["Invalid","Daily","Weekly"]},"scheduleRunTimes":{"type":"array","description":"List of times, during a day, when the schedule runs.","items":{"type":"string","format":"date-time"}},"scheduleWeeklyFrequency":{"type":"integer","description":"The number of times per week the schedule runs.","format":"int32"}},"description":"Simple policy schedule.","allOf":[{"$ref":"#/components/schemas/SchedulePolicy"}]},"WeeklyRetentionFormat":{"type":"object","properties":{"daysOfTheWeek":{"type":"array","description":"List of days of the week.","items":{"type":"string","enum":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]}},"weeksOfTheMonth":{"type":"array","description":"List of weeks of the month.","items":{"type":"string","enum":["First","Second","Third","Fourth","Last"]}}},"description":"Weekly retention format."},"WeeklyRetentionSchedule":{"type":"object","properties":{"daysOfTheWeek":{"type":"array","description":"List of the days of the week for the weekly retention policy.","items":{"type":"string","enum":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]}},"retentionDuration":{"$ref":"#/components/schemas/RetentionDuration"},"retentionTimes":{"type":"array","description":"Retention times of the retention policy.","items":{"type":"string","format":"date-time"}}},"description":"Weekly retention schedule."},"WorkloadProtectableItem":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"The backup management type."},"friendlyName":{"type":"string","description":"The friendly name of the backup item."},"protectableItemType":{"type":"string","description":"The type of the backup item."},"protectionState":{"type":"string","description":"The state of the back up item.","enum":["Invalid","NotProtected","Protecting","Protected"]}},"description":"The base class for backup item. Workload-specific backup items are derived from this class.","discriminator":{"propertyName":"protectableItemType"}},"WorkloadProtectableItemResource":{"properties":{"properties":{"$ref":"#/components/schemas/WorkloadProtectableItem"}},"description":"The base class for the backup item. Workload-specific backup items are derived from this class.","allOf":[{"$ref":"#/co
[...]
