{"openapi":"3.0.1","info":{"title":"ApplicationInsightsManagementClient","description":"Azure Application Insights client for web test locations.","version":"2015-05-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/syntheticmonitorlocations":{"get":{"description":"Gets a list of web test locations available to this Application Insights component.","operationId":"webTestLocations_List","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list containing 0 or more web test location names available to the Application Insights component.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsWebTestLocationsListResult"}}}}}}}},"components":{"schemas":{"ApplicationInsightsComponentWebTestLocation":{"type":"object","properties":{"DisplayName":{"type":"string","description":"The display name of the web test location.","readOnly":true},"Tag":{"type":"string","description":"Internally defined geographic location tag.","readOnly":true}},"description":"Properties that define a web test location available to an Application Insights Component."},"ApplicationInsightsWebTestLocationsListResult":{"required":["value"],"type":"object","properties":{"value":{"type":"array","description":"List of web test locations.","items":{"$ref":"#/components/schemas/ApplicationInsightsComponentWebTestLocation"}}},"description":"Describes the list of web test locations available to an Application Insights Component."}},"parameters":{"ResourceNameParameter":{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}