{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "RecoveryServicesClient",
    "version" : "2016-06-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/replicationUsages" : {
      "get" : {
        "tags" : [ "ReplicationUsages" ],
        "description" : "Fetches the replication usages of the vault.",
        "operationId" : "ReplicationUsages_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReplicationUsageList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    }
  },
  "components" : {
    "schemas" : {
      "JobsSummary" : {
        "type" : "object",
        "properties" : {
          "failedJobs" : {
            "type" : "integer",
            "description" : "Count of failed jobs."
          },
          "inProgressJobs" : {
            "type" : "integer",
            "description" : "Count of in-progress jobs."
          },
          "suspendedJobs" : {
            "type" : "integer",
            "description" : "Count of suspended jobs."
          }
        },
        "description" : "Summary of the replication job data for this vault."
      },
      "MonitoringSummary" : {
        "type" : "object",
        "properties" : {
          "deprecatedProviderCount" : {
            "type" : "integer",
            "description" : "Count of all deprecated recovery service providers."
          },
          "eventsCount" : {
            "type" : "integer",
            "description" : "Count of all critical warnings."
          },
          "supportedProviderCount" : {
            "type" : "integer",
            "description" : "Count of all the supported recovery service providers."
          },
          "unHealthyProviderCount" : {
            "type" : "integer",
            "description" : "Count of unhealthy replication providers."
          },
          "unHealthyVmCount" : {
            "type" : "integer",
            "description" : "Count of unhealthy VMs."
          },
          "unsupportedProviderCount" : {
            "type" : "integer",
            "description" : "Count of all the unsupported recovery service providers."
          }
        },
        "description" : "Summary of the replication monitoring data for this vault."
      },
      "ReplicationUsage" : {
        "type" : "object",
        "properties" : {
          "jobsSummary" : {
            "$ref" : "#/components/schemas/JobsSummary"
          },
          "monitoringSummary" : {
            "$ref" : "#/components/schemas/MonitoringSummary"
          },
          "protectedItemCount" : {
            "type" : "integer",
            "description" : "Number of replication protected items for this vault."
          },
          "recoveryPlanCount" : {
            "type" : "integer",
            "description" : "Number of replication recovery plans for this vault."
          },
          "recoveryServicesProviderAuthType" : {
            "type" : "integer",
            "description" : "The authentication type of recovery service providers in the vault."
          },
          "registeredServersCount" : {
            "type" : "integer",
            "description" : "Number of servers registered to this vault."
          }
        },
        "description" : "Replication usages of a vault."
      },
      "ReplicationUsageList" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The list of replication usages for the given vault.",
            "items" : {
              "$ref" : "#/components/schemas/ReplicationUsage"
            }
          }
        },
        "description" : "Replication usages for vault."
      }
    },
    "parameters" : {
      "ApiVersion" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupName" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group where the recovery services vault is present.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionId" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The subscription Id.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "VaultName" : {
        "name" : "vaultName",
        "in" : "path",
        "description" : "The name of the recovery services vault.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}