{"openapi":"3.0.1","info":{"title":"ML Team Account Management Client","description":"These APIs allow end users to operate on Azure Machine Learning Team Account resources. They support CRUD operations for Azure Machine Learning Team Accounts.","version":"2017-05-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.MachineLearningExperimentation/operations":{"get":{"tags":["Operation"],"description":"Lists all of the available Azure Machine Learning Team Accounts REST API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningExperimentation/accounts":{"get":{"tags":["Accounts"],"description":"Lists all the available machine learning team accounts under the specified subscription.","operationId":"Accounts_List","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountListResult"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts":{"get":{"tags":["Accounts"],"description":"Lists all the available machine learning team accounts under the specified resource group.","operationId":"Accounts_ListByResourceGroup","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountListResult"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}":{"get":{"tags":["Accounts"],"description":"Gets the properties of the specified machine learning team account.","operationId":"Accounts_Get","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the machine learning team account.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Accounts"],"description":"Creates or updates a team account with the specified parameters.","operationId":"Accounts_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the machine learning team account.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}}],"requestBody":{"description":"The parameters for creating or updating a machine learning team account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}},"required":true},"responses":{"200":{"description":"The request was successful; the resource already exists and was updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}},"201":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Accounts"],"description":"Deletes a machine learning team account.","operationId":"Accounts_Delete","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the machine learning team account.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly."},"204":{"description":"The machine learning team account does not exist in the subscription."},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Accounts"],"description":"Updates a machine learning team account with the specified parameters.","operationId":"Accounts_Update","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the machine learning team account.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}}],"requestBody":{"description":"The parameters for updating a machine learning team account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces":{"get":{"tags":["Workspaces"],"description":"Lists all the available machine learning workspaces under the specified team account.","operationId":"Workspaces_ListByAccounts","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the machine learning team account.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceListResult"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces/{workspaceName}":{"get":{"tags":["Workspaces"],"description":"Gets the properties of the specified machine learning workspace.","operationId":"Workspaces_Get","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the machine learning team account.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the machine learning team account workspace.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Workspaces"],"description":"Creates or updates a machine learning workspace with the specified parameters.","operationId":"Workspaces_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the machine learning team account.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the machine learning team account workspace.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}}],"requestBody":{"description":"The parameters for creating or updating a machine learning workspace.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}},"required":true},"responses":{"200":{"description":"The request was successful; the resource already exists and was updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"201":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Workspaces"],"description":"Deletes a machine learning workspace.","operationId":"Workspaces_Delete","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the machine learning team account.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the machine learning team account workspace.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly."},"204":{"description":"The machine learning workspace does not exist in the subscription."},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Workspaces"],"description":"Updates a machine learning workspace with the specified parameters.","operationId":"Workspaces_Update","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the machine learning team account.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the machine learning team account workspace.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}}],"requestBody":{"description":"The parameters for updating a machine learning workspace.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces/{workspaceName}/projects/{projectName}":{"get":{"tags":["Projects"],"description":"Gets the properties of the specified machine learning project.","operationId":"Projects_Get","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the machine learning team account.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the machine learning team account workspace.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},{"name":"projectName","in":"path","description":"The name of the machine learning project under a team account workspace.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Projects"],"description":"Creates or updates a project with the specified parameters.","operationId":"Projects_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the machine learning team account.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the machine learning team account workspace.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},{"name":"projectName","in":"path","description":"The name of the machine learning project under a team account workspace.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}}],"requestBody":{"description":"The parameters for creating or updating a project.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}},"required":true},"responses":{"200":{"description":"The request was successful; the resource already exists and was updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}}},"201":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Projects"],"description":"Deletes a project.","operationId":"Projects_Delete","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the machine learning team account.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the machine learning team account workspace.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},{"name":"projectName","in":"path","description":"The name of the machine learning project under a team account workspace.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly."},"204":{"description":"The machine learning team account does not exist in the subscription."},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Projects"],"description":"Updates a project with the specified parameters.","operationId":"Projects_Update","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the machine learning team account.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the machine learning team account workspace.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},{"name":"projectName","in":"path","description":"The name of the machine learning project under a team account workspace.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}}],"requestBody":{"description":"The parameters for updating a machine learning team account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces{workspaceName}/projects":{"get":{"tags":["Projects"],"description":"Lists all the available machine learning projects under the specified workspace.","operationId":"Projects_ListByWorkspace","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The name of the machine learning team account.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the machine learning team account workspace.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectListResult"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"Account":{"properties":{"properties":{"$ref":"#/components/schemas/AccountProperties"}},"description":"An object that represents a machine learning team account.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"AccountListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI that can be used to request the next list of machine learning team accounts."},"value":{"type":"array","description":"The list of machine learning team accounts. Since this list may be incomplete, the nextLink field should be used to request the next list of machine learning team accounts.","items":{"$ref":"#/components/schemas/Account"}}},"description":"The result of a request to list machine learning team accounts."},"AccountProperties":{"required":["keyVaultId","storageAccount","vsoAccountId"],"type":"object","properties":{"accountId":{"type":"string","description":"The immutable id associated with this team account.","readOnly":true},"creationDate":{"type":"string","description":"The creation date of the machine learning team account in ISO8601 format.","format":"date-time","readOnly":true},"description":{"type":"string","description":"The description of this workspace."},"discoveryUri":{"type":"string","description":"The uri for this machine learning team account.","readOnly":true},"friendlyName":{"type":"string","description":"The friendly name for this workspace. This will be the workspace name in the arm id when the workspace object gets created"},"keyVaultId":{"type":"string","description":"The fully qualified arm id of the user key vault."},"provisioningState":{"type":"string","description":"The current deployment state of team account resource. The provisioningState is to indicate states for resource provisioning.","readOnly":true,"enum":["Creating","Succeeded","Updating","Deleting","Failed"]},"seats":{"type":"string","description":"The no of users/seats who can access this team account. This property defines the charge on the team account."},"storageAccount":{"$ref":"#/components/schemas/StorageAccountProperties"},"vsoAccountId":{"type":"string","description":"The fully qualified arm id of the vso account to be used for this team account."}},"description":"The properties of a machine learning team account."},"AccountPropertiesUpdateParameters":{"type":"object","properties":{"description":{"type":"string","description":"The description of this workspace."},"friendlyName":{"type":"string","description":"The friendly name for this workspace. This will be the workspace name in the arm id when the workspace object gets created"},"seats":{"type":"string","description":"The no of users/seats who can access this team account. This property defines the charge on the team account."},"storageAccountKey":{"type":"string","description":"The key for storage account associated with this team account"}},"description":"The parameters for updating the properties of a machine learning team account."},"AccountUpdateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/AccountPropertiesUpdateParameters"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The resource tags for the machine learning team account."}},"description":"The parameters for updating a machine learning team account."},"ErrorResponse":{"required":["code","message"],"type":"object","properties":{"code":{"type":"string","description":"error code"},"message":{"type":"string","description":"error message"}},"description":"The error response send when an operation fails."},"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"description":{"type":"string","description":"The description for the operation."},"operation":{"type":"string","description":"The operation that users can perform."},"provider":{"type":"string","description":"The resource provider name: Microsoft.MachineLearningExperimentation"},"resource":{"type":"string","description":"The resource on which the operation is performed."}},"description":"Display name of operation"},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}"}},"description":"Azure Machine Learning team account REST API operation"},"OperationListResult":{"type":"object","properties":{"value":{"type":"array","description":"List of AML team account operations supported by the AML team account resource provider.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"An array of operations supported by the resource provider."},"Project":{"properties":{"properties":{"$ref":"#/components/schemas/ProjectProperties"}},"description":"An object that represents a machine learning project.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"ProjectListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI that can be used to request the next list of projects."},"value":{"type":"array","description":"The list of projects. Since this list may be incomplete, the nextLink field should be used to request the next list of projects.","items":{"$ref":"#/components/schemas/Project"}}},"description":"The result of a request to list projects."},"ProjectProperties":{"required":["friendlyName"],"type":"object","properties":{"accountId":{"type":"string","description":"The immutable id of the team account which contains this project.","readOnly":true},"creationDate":{"type":"string","description":"The creation date of the project in ISO8601 format.","format":"date-time","readOnly":true},"description":{"type":"string","description":"The description of this project."},"friendlyName":{"type":"string","description":"The friendly name for this project."},"gitrepo":{"type":"string","description":"The reference to git repo for this project."},"projectId":{"type":"string","description":"The immutable id of this project.","readOnly":true},"provisioningState":{"type":"string","description":"The current deployment state of project resource. The provisioningState is to indicate states for resource provisioning.","readOnly":true,"enum":["Creating","Succeeded","Updating","Deleting","Failed"]},"workspaceId":{"type":"string","description":"The immutable id of the workspace which contains this project.","readOnly":true}},"description":"The properties of a machine learning project."},"ProjectPropertiesUpdateParameters":{"type":"object","properties":{"description":{"type":"string","description":"The description of this project."},"friendlyName":{"type":"string","description":"The friendly name for this project."},"gitrepo":{"type":"string","description":"The reference to git repo for this project."}},"description":"The parameters for updating the properties of a project."},"ProjectUpdateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/ProjectPropertiesUpdateParameters"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The resource tags for the machine learning project."}},"description":"The parameters for updating a machine learning project."},"Resource":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"The resource ID.","readOnly":true},"location":{"type":"string","description":"The location of the resource. This cannot be changed after the resource is created."},"name":{"type":"string","description":"The name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The tags of the resource."},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"An Azure resource."},"StorageAccountProperties":{"required":["accessKey","storageAccountId"],"type":"object","properties":{"accessKey":{"type":"string","description":"The access key to the storage account."},"storageAccountId":{"type":"string","description":"The fully qualified arm Id of the storage account."}},"description":"The properties of a storage account for a machine learning team account."},"Workspace":{"properties":{"properties":{"$ref":"#/components/schemas/WorkspaceProperties"}},"description":"An object that represents a machine learning team account workspace.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"WorkspaceListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI that can be used to request the next list of machine learning workspaces."},"value":{"type":"array","description":"The list of machine learning team account workspaces. Since this list may be incomplete, the nextLink field should be used to request the next list of machine learning team accounts.","items":{"$ref":"#/components/schemas/Workspace"}}},"description":"The result of a request to list machine learning team account workspaces."},"WorkspaceProperties":{"required":["friendlyName"],"type":"object","properties":{"accountId":{"type":"string","description":"The immutable id of the team account which contains this workspace.","readOnly":true},"creationDate":{"type":"string","description":"The creation date of the machine learning workspace in ISO8601 format.","format":"date-time","readOnly":true},"description":{"type":"string","description":"The description of this workspace."},"friendlyName":{"type":"string","description":"The friendly name for this workspace. This will be the workspace name in the arm id when the workspace object gets created"},"provisioningState":{"type":"string","description":"The current deployment state of team account workspace resource. The provisioningState is to indicate states for resource provisioning.","readOnly":true,"enum":["Creating","Succeeded","Updating","Deleting","Failed"]},"workspaceId":{"type":"string","description":"The immutable id of this workspace.","readOnly":true}},"description":"The properties of a machine learning team account workspace."},"WorkspacePropertiesUpdateParameters":{"type":"object","properties":{"description":{"type":"string","description":"Description for this workspace."},"friendlyName":{"type":"string","description":"Friendly name of this workspace."}},"description":"The parameters for updating the properties of a machine learning team account workspace."},"WorkspaceUpdateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/WorkspacePropertiesUpdateParameters"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The resource tags for the machine learning team account workspace."}},"description":"The parameters for updating a machine learning team account workspace."}},"parameters":{"AccountNameParameter":{"name":"accountName","in":"path","description":"The name of the machine learning team account.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},"ApiVersionParameter":{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},"ProjectNameParameter":{"name":"projectName","in":"path","description":"The name of the machine learning project under a team account workspace.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}},"ResourceGroupParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning team account belongs.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},"WorkspaceNameParameter":{"name":"workspaceName","in":"path","description":"The name of the machine learning team account workspace.","required":true,"schema":{"maxLength":50,"minLength":5,"pattern":"^[a-zA-Z0-9]*$","type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}