{"openapi":"3.0.1","info":{"title":"Starwars Translations API","description":"Funtranslations Starwars API gives access to the full set of starwars language translations available at funtranslations.com so that you can integrate them in your workflow or an app. [Click here to get details and subscribe](http://funtranslations.com/api/starwars) .      \n\n  You can also subscribe to individual translators. Here are the details.\n  \n  Ever wonder how to talk like Yoda? Well, use our API and let your APP/webpage speak like Yoda too.[Click here to subscribe](http://funtranslations.com/api/yoda)  \n  \n  Sith Translator API. [Click here to subscribe](http://funtranslations.com/api/sith) \n  \n  Cheunh Translator API. [Click here to subscribe](http://funtranslations.com/api/cheunh) \n  \n  Huttese Translator API. [Click here to subscribe](http://funtranslations.com/api/huttese)\n  \n  Mandalorian Translator API. [Click here to subscribe](http://funtranslations.com/api/mandalorian)\n  \n  Gungan Translator API. [Click here to subscribe](http://funtranslations.com/api/gungan)\n","termsOfService":"https://funtranslations.com/terms","contact":{"name":"Fun Translations","url":"http://funtranslations.com/"},"version":"2.3"},"servers":[{"url":"https://api.funtranslations.com/"},{"url":"http://api.funtranslations.com/"}],"tags":[{"name":"Starwars","description":"Starwars Translation API","externalDocs":{"description":"Find out more","url":"http://funtranslations.com/api/starwars"}}],"paths":{"/translate/cheunh":{"get":{"tags":["Starwars"],"description":"Translate from English to Starwars cheunh.","parameters":[{"name":"text","in":"query","description":"Text to translate","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Ch'ah went ch'at coruscant vea was bav parsec ch'itt'suvrecah!\",\n    \"text\": \"I went to coruscant which was ten parsec away!\",\n    \"translation\": \"cheunh\"\n  }\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}   "}}}},"security":[{"X-Funtranslations-Api-Secret":null}]}},"/translate/gungan":{"get":{"tags":["Starwars"],"description":"Translate from English to Starwars Gungan Language.","parameters":[{"name":"text","in":"query","description":"Text to translate","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Yousa came to mesa home and mesa said okeeday!\",\n    \"text\": \"You came to my home and I said okay!\",\n    \"translation\": \"gungan\"\n  }\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n} "}}}},"security":[{"X-Funtranslations-Api-Secret":null}]}},"/translate/huttese":{"get":{"tags":["Starwars"],"description":"Translate from English to Starwars Huttese Language.","parameters":[{"name":"text","in":"query","description":"Text to translate","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Did u stuka doe murishani?\",\n    \"text\": \"Did you see the bounty hunter?\",\n    \"translation\": \"huttese\"\n  }\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"}}}},"security":[{"X-Funtranslations-Api-Secret":null}]}},"/translate/mandalorian":{"get":{"tags":["Starwars"],"description":"Translate from English to Starwars Mandalorian Language.","parameters":[{"name":"text","in":"query","description":"Text to translate","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Ni'd guuror a pint cuyir gal\",\n    \"text\": \"I'd like a pint of ale\",\n    \"translation\": \"mandalorian\"\n  }\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"}}}},"security":[{"X-Funtranslations-Api-Secret":null}]}},"/translate/sith":{"get":{"tags":["Starwars"],"description":"Translate from English to Sith Speak.","parameters":[{"name":"text","in":"query","description":"Text to translate","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Nu went kia coruscant which meo ten parsekas salini!\",\n    \"text\": \"I went to coruscant which was ten parsec away!\",\n    \"translation\": \"sith\"\n  }\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"}}}},"security":[{"X-Funtranslations-Api-Secret":null}]}},"/translate/yoda":{"get":{"tags":["Starwars"],"description":"Translate from English to Yoda Speak.","parameters":[{"name":"text","in":"query","description":"Text to translate","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Lost a planet,  master obiwan has. \",\n    \"text\": \"Master Obiwan has lost a planet.\",\n    \"translation\": \"yoda\"\n  }\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n} "}}}},"security":[{"X-Funtranslations-Api-Secret":null}]}}},"components":{"securitySchemes":{"X-Funtranslations-Api-Secret":{"type":"apiKey","name":"X-Funtranslations-Api-Secret","in":"header"}}}}