{"openapi":"3.0.1","info":{"title":"DeploymentAdminClient","description":"Deployment Admin Client.","version":"2019-01-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans/{planId}/operations":{"get":{"tags":["ActionPlanOperations"],"description":"Lists the action plan operations","operationId":"ActionPlanOperations_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"planId","in":"path","description":"Identifier of the action plan.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-01-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionPlanOperationsList"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans/{planId}/operations/{operationId}":{"get":{"tags":["ActionPlanOperations"],"description":"Gets the specified action plan operation","operationId":"ActionPlanOperations_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"planId","in":"path","description":"Identifier of the action plan.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"Identifier of the action plan operation.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-01-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionPlanOperationResourceEntity"}}}},"404":{"description":"NOT FOUND"}}}}},"components":{"schemas":{"ActionPlanOperationAdminProperties":{"type":"object","properties":{"actionPlanInstanceId":{"type":"string","description":"Action plan instance identifier"},"actionPlanOperationId":{"type":"string","description":"Action plan operation identifier"},"blobContainerName":{"type":"string","description":"Blob container name storing the deployment data"},"description":{"type":"string","description":"The operation description"},"endTime":{"type":"string","description":"The deployment end time","format":"date-time"},"error":{"type":"object","properties":{"code":{"type":"string","description":"Error Code"},"details":{"$ref":"#/components/schemas/ExtendedErrorInfo"},"message":{"type":"string","description":"Error Message"}},"description":"Error information"},"outputs":{"type":"object","description":"The action plan operation outputs in JToken format"},"parameters":{"type":"object","description":"The deployment parameters in JToken format"},"provisioningState":{"type":"string","description":"The provisioning state"},"startTime":{"type":"string","description":"The deployment start time","format":"date-time"},"subscriptionId":{"type":"string","description":"The target subscription identifier"},"title":{"type":"string","description":"The operation title"},"type":{"$ref":"#/components/schemas/ActionType"}},"description":"Action Plan Operation Properties"},"ActionPlanOperationResourceEntity":{"properties":{"eTag":{"type":"string","description":"Entity tag of the resource"},"properties":{"$ref":"#/components/schemas/ActionPlanOperationAdminProperties"}},"description":"Action Plan Operation Resource Entity","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"ID of the resource.","readOnly":true},"location":{"type":"string","description":"Location of the resource."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"type":{"type":"string","description":"Type of Resource.","readOnly":true}},"description":"Object model of azure resource manager base."}]},"ActionPlanOperationsList":{"type":"object","properties":{"nextLink":{"type":"string","description":"Continuation token"},"value":{"type":"array","description":"Array of action plan operations.","items":{"$ref":"#/components/schemas/ActionPlanOperationResourceEntity"}}},"description":"List of action plan operations"},"ActionType":{"type":"string","description":"Action plan operation type"},"ExtendedErrorInfo":{"type":"object"}},"parameters":{"OperationIdParameter":{"name":"operationId","in":"path","description":"Identifier of the action plan operation.","required":true,"schema":{"type":"string"}},"PlanIdParameter":{"name":"planId","in":"path","description":"Identifier of the action plan.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}