{"openapi":"3.0.1","info":{"title":"Rotten Tomatoes","description":"Test our API services using I/O Docs.","contact":{"name":"Mike Ralphson","url":"https://github.com/mermade/mashery2openapi","email":"mike.ralphson@gmail.com"},"license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"version":"1.0"},"externalDocs":{"description":"You can also view our written documentation.","url":"http://developer.rottentomatoes.com/io-docs/docs"},"servers":[{"url":"http://api.rottentomatoes.com/api/public/v1.0"}],"security":[{"key":null}],"tags":[{"name":"Movie Lists"},{"name":"DVD Lists"},{"name":"Detailed Info"},{"name":"Search"},{"name":"Top Level Lists"}],"paths":{"/lists.json":{"get":{"tags":["Top Level Lists"],"operationId":"ListsDirectoryTopLevelLists","responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/lists/dvds.json":{"get":{"tags":["Top Level Lists"],"operationId":"DVDListsDirectoryTopLevelLists","responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/lists/dvds/current_releases.json":{"get":{"tags":["DVD Lists"],"operationId":"CurrentReleaseDVDsDVDLists","parameters":[{"name":"page_limit","in":"query","description":"The amount of new release dvds to show per page","schema":{"type":"string","default":"16"}},{"name":"page","in":"query","description":"The selected page of current DVD releases","schema":{"type":"string","default":"1"}},{"name":"country","in":"query","description":"Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.","schema":{"type":"string","default":"us"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/lists/dvds/new_releases.json":{"get":{"tags":["DVD Lists"],"operationId":"NewReleaseDVDsDVDLists","parameters":[{"name":"page_limit","in":"query","description":"The amount of new release dvds to show per page","schema":{"type":"string","default":"16"}},{"name":"page","in":"query","description":"The selected page of new release DVDs","schema":{"type":"string","default":"1"}},{"name":"country","in":"query","description":"Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.","schema":{"type":"string","default":"us"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/lists/dvds/top_rentals.json":{"get":{"tags":["DVD Lists"],"operationId":"TopRentalsDVDLists","parameters":[{"name":"limit","in":"query","description":"Limits the number of top rentals returned","schema":{"type":"string","default":"10"}},{"name":"country","in":"query","description":"Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.","schema":{"type":"string","default":"us"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/lists/dvds/upcoming.json":{"get":{"tags":["DVD Lists"],"operationId":"UpcomingDVDsDVDLists","parameters":[{"name":"page_limit","in":"query","description":"The amount of upcoming dvds to show per page","schema":{"type":"string","default":"16"}},{"name":"page","in":"query","description":"The selected page of upcoming DVDs","schema":{"type":"string","default":"1"}},{"name":"country","in":"query","description":"Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.","schema":{"type":"string","default":"us"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/lists/movies.json":{"get":{"tags":["Top Level Lists"],"operationId":"MovieListsDirectoryTopLevelLists","responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/lists/movies/box_office.json":{"get":{"tags":["Movie Lists"],"operationId":"BoxOfficeMovieLists","parameters":[{"name":"limit","in":"query","description":"Limits the number of movies returned","schema":{"type":"string","default":"16"}},{"name":"country","in":"query","description":"Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.","schema":{"type":"string","default":"us"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/lists/movies/in_theaters.json":{"get":{"tags":["Movie Lists"],"operationId":"InTheatersMovieLists","parameters":[{"name":"page_limit","in":"query","description":"The amount of movies in theaters to show per page","schema":{"type":"string","default":"16"}},{"name":"page","in":"query","description":"The selected page of in theaters movies","schema":{"type":"string","default":"1"}},{"name":"country","in":"query","description":"Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.","schema":{"type":"string","default":"us"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/lists/movies/opening.json":{"get":{"tags":["Movie Lists"],"operationId":"OpeningMoviesMovieLists","parameters":[{"name":"limit","in":"query","description":"Limits the number of opening movies returned","schema":{"type":"string","default":"16"}},{"name":"country","in":"query","description":"Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.","schema":{"type":"string","default":"us"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/lists/movies/upcoming.json":{"get":{"tags":["Movie Lists"],"operationId":"UpcomingMoviesMovieLists","parameters":[{"name":"page_limit","in":"query","description":"The amount of upcoming movies to show per page","schema":{"type":"string","default":"16"}},{"name":"page","in":"query","description":"The selected page of upcoming movies","schema":{"type":"string","default":"1"}},{"name":"country","in":"query","description":"Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.","schema":{"type":"string","default":"us"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/movie_alias.json":{"get":{"tags":["Detailed Info"],"operationId":"MoviesAliasDetailedInfo","parameters":[{"name":"id","in":"query","description":"Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID","schema":{"type":"string","default":"0031381"}},{"name":"type","in":"query","description":"Only supports imdb lookup at this time","schema":{"type":"string","default":"imdb"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/movies.json":{"get":{"tags":["Search"],"operationId":"MoviesSearchSearch","parameters":[{"name":"q","in":"query","description":"The plain text search query to search for a movie. Remember to URI encode this!","schema":{"type":"string"}},{"name":"page_limit","in":"query","description":"The amount of movie search results to show per page","schema":{"type":"string","default":"10"}},{"name":"page","in":"query","description":"The selected page of movie search results","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/movies/{id}.json":{"get":{"tags":["Detailed Info"],"operationId":"MoviesInfoDetailedInfo","parameters":[{"name":"id","in":"path","description":"Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID","required":true,"schema":{"type":"string","default":"770672122"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/movies/{id}/cast.json":{"get":{"tags":["Detailed Info"],"operationId":"CastInfoDetailedInfo","parameters":[{"name":"id","in":"path","description":"Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID","required":true,"schema":{"type":"string","default":"770672122"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/movies/{id}/clips.json":{"get":{"tags":["Detailed Info"],"operationId":"MovieClipsDetailedInfo","parameters":[{"name":"id","in":"path","description":"Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID","required":true,"schema":{"type":"string","default":"770672122"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/movies/{id}/reviews.json":{"get":{"tags":["Detailed Info"],"operationId":"MoviesReviewsDetailedInfo","parameters":[{"name":"id","in":"path","description":"Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID","required":true,"schema":{"type":"string","default":"770672122"}},{"name":"review_type","in":"query","description":"3 different review types are possible: 'all', 'top_critic' and 'dvd'. 'top_critic' shows all the Rotten Tomatoes designated top critics. 'dvd' pulls the reviews given on the DVD of the movie. 'all' as the name implies retrieves all reviews.","schema":{"type":"string","default":"top_critic"}},{"name":"page_limit","in":"query","description":"The number of reviews to show per page","schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"The selected page of reviews","schema":{"type":"string","default":"1"}},{"name":"country","in":"query","description":"Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.","schema":{"type":"string","default":"us"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}},"/movies/{id}/similar.json":{"get":{"tags":["Detailed Info"],"operationId":"MoviesSimilarDetailedInfo","parameters":[{"name":"id","in":"path","description":"Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID","required":true,"schema":{"type":"string","default":"770672122"}},{"name":"limit","in":"query","description":"Limit the number of similar movies to show","schema":{"type":"string","default":"5"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}}}}},"components":{"securitySchemes":{"key":{"type":"apiKey","name":"apikey","in":"query"}}}}