{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Visual Studio Projects Resource Provider Client",
    "description" : "Use these APIs to manage Visual Studio Team Services resources through the Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol specification and each operation returns an x-ms-request-id header that can be used to obtain information about the request. You must make sure that requests made to these resources are secure. For more information, see https://docs.microsoft.com/en-us/rest/api/index.",
    "version" : "2018-08-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/microsoft.visualstudio/pipelineTemplates" : {
      "get" : {
        "tags" : [ "PipelineTemplates" ],
        "summary" : "PipelineTemplates_List",
        "description" : "Gets all pipeline templates which can be used to configure a CI/CD pipeline in a new or an existing Team Services project.",
        "operationId" : "PipelineTemplates_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation succeeded. The response is a list of all pipeline templates which can be used to configure a CI/CD pipeline in a new or an existing Team Services project.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineTemplateResourceListResult"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    }
  },
  "components" : {
    "schemas" : {
      "InputDescriptor" : {
        "required" : [ "id", "type" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Description of what this input is used for."
          },
          "id" : {
            "type" : "string",
            "description" : "Identifier for the input."
          },
          "possibleValues" : {
            "type" : "array",
            "description" : "Possible values that this input can take.",
            "items" : {
              "$ref" : "#/components/schemas/InputValue"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "Data type of the input.",
            "enum" : [ "String", "SecureString", "Int", "Bool", "Authorization" ]
          }
        },
        "description" : "Defines a pipeline template input."
      },
      "InputValue" : {
        "type" : "object",
        "properties" : {
          "displayValue" : {
            "type" : "string",
            "description" : "Display text to show for the value of an input."
          },
          "value" : {
            "type" : "string",
            "description" : "Value to store for an input."
          }
        },
        "description" : "Value for an input."
      },
      "PipelineTemplate" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Description of the pipeline which this template enables."
          },
          "id" : {
            "type" : "string",
            "description" : "Unique id of pipeline template."
          },
          "inputs" : {
            "type" : "array",
            "description" : "Inputs required by this template to create pipeline.",
            "items" : {
              "$ref" : "#/components/schemas/InputDescriptor"
            }
          }
        },
        "description" : "Defines a pipeline template resource."
      },
      "PipelineTemplateResourceListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "Array of resource details.",
            "items" : {
              "$ref" : "#/components/schemas/PipelineTemplate"
            }
          }
        },
        "description" : "The response to pipeline template resource list GET request."
      }
    },
    "parameters" : {
      "apiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "API Version",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}