{"openapi":"3.0.1","info":{"title":"U.S. EPA Enforcement and Compliance History Online (ECHO) - Safe Drinking Water Act","description":"Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated compliance and enforcement information for over 1 million regulated facilities nationwide.\n   SDW Rest Services provides multiple service endpoints, each with specific capabilities, to search and retrieve data on public water systems regulated under the Safe Drinking Water Act (SDWA).  The returned results reflect data drawn from EPA's Federal Safe Drinking Water Information System (SDWIS) database.\n\\\nThe get_systems, get_qid, and get_download end points are meant to be used together.\n\\\nThe recommended use scenario for get_systems, get_qid, and get_downoad is:\n\\\n <b>1)</b>  Use get_systems to validate passed query parameters, obtain summary statistics and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately 30 minutes.\n <b>2)</b>  Use get_qid, with the returned QID, to paginate through arrays of water system results.\n <b>3)</b>  Use get_download, with the returned QID, to generate a Comma Separated Value (CSV) file of water system information that meets the QID query criteria.\n\\\n\\\nUse the qcolumns parameter to customize your search results.  Use the Metadata service endpoint for a list of available output objects, their Column Ids, and their definitions to help you build your customized output. \n\\\nAdditional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n ","contact":{"name":"U.S. EPA, OECA Integration, Targeting and Access Branch","url":"https://echo.epa.gov/resources/general-info/contact-us"},"license":{"name":"U.S. Public Domain License","url":"https://edg.epa.gov/EPA_Data_License.html"},"version":"2019.10.15"},"servers":[{"url":"https://echodata.epa.gov/echo"}],"paths":{"/sdw_rest_services.get_download":{"get":{"tags":["Safe Drinking Water"],"summary":"Safe Drinking Water Act (SDWA) Download Data Service","description":"Based on the QID obtained from a get_systems query, return a comma separated value (CSV) file of the water systems found.","parameters":[{"name":"output","in":"query","description":"Output Format Flag.  Enter one of the following keywords:\n- CSV = Facility results formatted as comma delimited file download (default).","schema":{"type":"string"}},{"name":"qid","in":"query","description":"Query ID Selector.  Enter the QueryID number from a previously run query.","required":true,"schema":{"type":"string"}},{"name":"qcolumns","in":"query","description":"Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.","schema":{"type":"string"}}],"responses":{"200":{"description":"Results are a comma separated value (CSV) file.","content":{"application/json":{"schema":{"type":"string","format":"binary"}},"application/xml":{"schema":{"type":"string","format":"binary"}}}}}},"post":{"tags":["Safe Drinking Water"],"summary":"Safe Drinking Water Act (SDWA) Download Data Service","description":"Based on the QID obtained from a get_systems query, return a comma separated value (CSV) file of the water systems found.","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["qid"],"type":"object","properties":{"output":{"type":"string","description":"Output Format Flag.  Enter one of the following keywords:\n- CSV = Facility results formatted as comma delimited file download (default)."},"qid":{"type":"string","description":"Query ID Selector.  Enter the QueryID number from a previously run query."},"qcolumns":{"type":"string","description":"Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."}}}}},"required":true},"responses":{"200":{"description":"Results are a comma separated value (CSV) file.","content":{"application/json":{"schema":{"type":"string","format":"binary"}},"application/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"/sdw_rest_services.get_qid":{"get":{"tags":["Safe Drinking Water"],"summary":"Safe Drinking Water Act (SDWA) Paginated Results Service","description":"GET_QID is passed with a query ID corresponding to a previously run get_systems query. It then returns a Systems object containing all matching water systems. The main purpose of GET_QID is for large querysets that contain multiple pages (responsesets) of output. GET_QID allows for pagination and for the selection and sorting of columns. ","parameters":[{"name":"output","in":"query","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","schema":{"type":"string","enum":["JSONP","JSON","XML"]}},{"name":"qid","in":"query","description":"Query ID Selector.  Enter the QueryID number from a previously run query.","required":true,"schema":{"type":"string"}},{"name":"pageno","in":"query","description":"Indicates the number of the page to display. It is used only when the results are paginated.","schema":{"type":"number","default":1.0}},{"name":"callback","in":"query","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.","schema":{"type":"string"}},{"name":"newsort","in":"query","description":"Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column.","schema":{"type":"number"}},{"name":"descending","in":"query","description":"Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated.","schema":{"type":"string","enum":["Y","N"]}},{"name":"qcolumns","in":"query","description":"Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.","schema":{"type":"string"}}],"responses":{"200":{"description":"Results are an array (page)  of SDWA (SDWIS) Water Systems with the number of systems equal to the responseset (page size).","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/sdw02"}},"description":"Root Object"}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/sdw02"}},"description":"Root Object"}}}}}},"post":{"tags":["Safe Drinking Water"],"summary":"Safe Drinking Water Act (SDWA) Paginated Results Service","description":"GET_QID is passed with a query ID corresponding to a previously run get_systems query. It then returns a Systems object containing all matching water systems. The main purpose of GET_QID is for large querysets that contain multiple pages (responsesets) of output. GET_QID allows for pagination and for the selection and sorting of columns. ","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["qid"],"type":"object","properties":{"output":{"type":"string","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","enum":["JSONP","JSON","XML"]},"qid":{"type":"string","description":"Query ID Selector.  Enter the QueryID number from a previously run query."},"pageno":{"type":"number","description":"Indicates the number of the page to display. It is used only when the results are paginated.","default":1.0},"callback":{"type":"string","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."},"newsort":{"type":"number","description":"Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column."},"descending":{"type":"string","description":"Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated.","enum":["Y","N"]},"qcolumns":{"type":"string","description":"Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."}}}}},"required":true},"responses":{"200":{"description":"Results are an array (page)  of SDWA (SDWIS) Water Systems with the number of systems equal to the responseset (page size).","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/sdw02"}},"description":"Root Object"}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/sdw02"}},"description":"Root Object"}}}}}}},"/sdw_rest_services.get_systems":{"get":{"tags":["Safe Drinking Water"],"summary":"Safe Drinking Water Act (SDWA) Systems Search Service","description":"Returns an array of public water systems that meet the specified search criteria.","parameters":[{"name":"output","in":"query","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","schema":{"type":"string","enum":["JSONP","JSON","XML"]}},{"name":"p_fn","in":"query","description":"Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers.","schema":{"type":"string"}},{"name":"p_ct","in":"query","description":"Facility City Filter. Enter a single case-insensitive city name to filter results.","schema":{"type":"string"}},{"name":"p_co","in":"query","description":"Facility County Filter. Provide a single county name in combination with a state value provided via p_st.","schema":{"type":"string"}},{"name":"p_fips","in":"query","description":"FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059.","schema":{"type":"string"}},{"name":"p_st","in":"query","description":"Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_zip","in":"query","description":"5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values.","schema":{"type":"string"}},{"name":"p_reg","in":"query","description":"EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.","schema":{"type":"string","enum":["01","02","03","04","05","06","07","08","09","10"]}},{"name":"p_trb","in":"query","description":"Tribe name","schema":{"type":"string"}},{"name":"p_act","in":"query","description":"Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.","schema":{"type":"string","enum":["Y","N","A"]}},{"name":"p_qiv","in":"query","description":"Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.","schema":{"type":"string","enum":["0","GT1","GT2","GT4","GT8","12"]}},{"name":"p_ico","in":"query","description":"Indian Country Flag.  Enter a \"Y\" or \"N\" to restrict searches to facilities inside or outside Indian Country.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_pid","in":"query","description":"Nine-digit permit IDs. May contain up to 2000 comma-separated values.","schema":{"type":"string"}},{"name":"p_owop","in":"query","description":"Owner/Operator code filter.  Enter one of the following codes to filter results:\n- F = Federal Government\n- S = State Government\n- L = Local Government\n- M = Public/Private\n- N = Native American\n- P = Private","schema":{"type":"string","enum":["F","S","L","M","N","P"]}},{"name":"p_systyp","in":"query","description":"Type of public water system:\n- CWS=Community water system\n- NCWS=Non-community water system\n- NTCWS=Non-transient non-community water system\n- TNCWS=Transient non-community water system","schema":{"type":"string","enum":["CWS","NCWS","NTCWS","TNCWS"]}},{"name":"p_swtyp","in":"query","description":"Source Water Type:\n- SW = Surface water \n- GW= Ground water\n- GU = Ground water under direct influence of (UDI) surface water\n- SWP = Purchased Surface water\n- GWP = Purchased Ground water\n- GUP = Purchased Ground water UDI surface water","schema":{"type":"string","enum":["SW","GW","GU","SWP","GWP","GUP"]}},{"name":"p_popsv","in":"query","description":"Estimated average daily population served by a system:\n- LE500 = 500 or less\n- IN501_3K = 501-3,300\n- IN3K_10K = 3,301-10,000\n- IN10K_100K = 10,001-100,000\n- IN100K_1M = 100,001-1,000,000\n- GT1M = More than 1,000,000\nMay contain multiple comma-separated values.","schema":{"type":"string"}},{"name":"p_cntysv","in":"query","schema":{"type":"string"}},{"name":"p_cs","in":"query","description":"Current violations:\n- M = Monitoring and Reporting Violations\n- H = Health-based Violations\n- O = Other Violations\n- P = Public Notice Violations\n- S = Serious Violator\n- N = No Violations\nMay contain multiple comma-separated values.","schema":{"type":"string"}},{"name":"p_mr","in":"query","description":"Monitoring and Reporting Violations (failure to conduct regular monitoring of drinking water quality or submit monitoring results in a timely fashion).","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_health","in":"query","description":"Violations of health-based drinking water standards (maximum contaminant levels, maximum residual disinfectant levels, or treatment technique rules).","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_other","in":"query","description":"Other violations, such as failing to issue annual consumer confidence reports or maintain required records.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_pn","in":"query","description":"Public Notice Violations (failure to immediately alert consumers of serious problem with drinking water).","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_sv","in":"query","description":"Serious Violator (unresolved serious, multiple, and/or continuing violations). A value of Y will return only SDWIS systems that are Serious Violators, while a value of N will only return SDWIS Systems that are not Serious Violators.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_qs","in":"query","description":"Quick Search. Allows entry for city, state, and/or zip code.","schema":{"type":"string"}},{"name":"p_sfs","in":"query","description":"Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched.","schema":{"type":"string"}},{"name":"p_pswpol","in":"query","description":"For CWA, pollutant names for surface water discharges. for Drinking Water, SDWIS Violation contaminant codes for unaddressed violations that have occurred in the last 3 years. May contain multiple comma-separated values.","schema":{"type":"string"}},{"name":"p_pswvio","in":"query","description":"Used in conjuction with parameters p_pswpol and p_pswparam, indicates whether search should only include pollutants with violations.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_pbale","in":"query","description":"Lead Action Level Exceedance.  A \"Y\" value will select water systems with at least 1 Lead Action Level Exceedance.","schema":{"type":"string"}},{"name":"p_cuale","in":"query","description":"Copper Action Level Exceedance.  A \"Y\" value will select water systems with at least 1 Copper Action Level Exceedance.","schema":{"type":"string"}},{"name":"p_rc350v","in":"query","description":"Rule code 350 violation. A \"Y\" value will select water systems with at least one rule code 350 violation.","schema":{"type":"string"}},{"name":"p_pbv","in":"query","description":"Lead Violations.  A \"Y\" value will select water systems with at least 1 Lead Violation.","schema":{"type":"string"}},{"name":"p_cuv","in":"query","description":"Copper Violation.  A \"Y\" value will select water systems with at least 1 Copper Violation.","schema":{"type":"string"}},{"name":"p_lcrv","in":"query","description":"Lead or Copper rule violations.  A \"Y\" value will select water systems with at least 1 Lead or Copper Rule Violation.","schema":{"type":"string"}},{"name":"p_fea","in":"query","description":"Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.\n- W = within date range\n- N = not within date range","schema":{"type":"string","enum":["W","N"]}},{"name":"p_feay","in":"query","description":"Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.","schema":{"type":"number","enum":[1,2,3,4,5]}},{"name":"p_feaa","in":"query","description":"Agency associated with Formal Enforcement Actions:\n- E = EPA\n- S = State\n- A = All","schema":{"type":"string","enum":["A","E","S"]}},{"name":"p_iea","in":"query","description":"Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.\n- W = within date range\n- N = not within date range","schema":{"type":"string","enum":["W","N"]}},{"name":"p_ieay","in":"query","description":"Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.","schema":{"type":"number","enum":[1,2,3,4,5]}},{"name":"p_ieaa","in":"query","description":"Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.\n- E = EPA\n- S = State","schema":{"type":"string","enum":["E","S"]}},{"name":"p_qis","in":"query","description":"Significant Quarters in Noncompliance Limiter.  Enter one of the following codes to limit results to facilities having given quarters of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GE1 = One or more quarters in noncompliance.\n- GT1 = More than one quarters in noncompliance.\n- GE2 = Two or more quarters in noncompliance.\n- GT2 = More than two quarters in noncompliance.\n- GE4 = Four or more quarters in noncompliance.\n- GT4 = More than four quarters in noncompliance.\n- GE8 = Eight or more quarters in noncompliance.\n- GT8 = More than eight quarters in noncompliance.\n- GE12 = Twelve or more quarters in noncompliance.\n- GT12 = Twelve or more quarters in noncompliance.\n- 12 = Exactly twelve quarters in noncompliance.\nNote the seemingly incongruous of GT12 is deliberate.","schema":{"type":"string","enum":["Z","GE1","GT1","GE2","GT2","GE4","GT4","GE8","GT8","GE12","GT12","12"]}},{"name":"p_pfead1","in":"query","description":"Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY format to set the start of the range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.","schema":{"type":"string"}},{"name":"p_pfead2","in":"query","description":"Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY format to set the end of the date range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.","schema":{"type":"string"}},{"name":"p_pfeat","in":"query","description":"Formal Enforcement Action (FEA) Code Filter.  Enter one or more three-letter FEA codes to restrict results to facilities with these attributes.  Use p_fead1 and p_fead2 parameters to further restrict this filter by entering a date range.  Provide multiple codes as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_ss5yr","in":"query","description":"Sanitary Surveys (in past 5 years) flag.  Values of visit_reason_code are either \"SNSV\" or \"SNSP\" in the past 5 years indicate a Sanitary Survey.  \n\nEnter \"Y\" to select facilities with Sanitary Surveys within the past 5 years.  \n\nEnter \"N\" to select facilities without Sanitary Surveys in the past 5 years.\n\nEnter a number to search for greater for facilities with a quantity than or equal to that value.\n\n\n","schema":{"type":"string"}},{"name":"p_sdc","in":"query","description":"Significant Deficiency Count (in past 5 years) flag.  \n\nEnter \"Y\" to select facilities with Sanitary Surveys within the past 5 years.  \n\nEnter \"N\" to select facilities without Sanitary Surveys in the past 5 years.\n\nEnter a number to search for facilities with a quantity greater than or equal to that value.","schema":{"type":"string"}},{"name":"p_sdc_ils","in":"query","schema":{"type":"string"}},{"name":"p_ysl","in":"query","description":"Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.\n- W = within date range\n- N = not within date range","schema":{"type":"string","enum":["W","N","NV"]}},{"name":"p_ysly","in":"query","description":"Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.","schema":{"type":"string","enum":["1","2","3","4","5"]}},{"name":"p_ysla","in":"query","description":"Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:\n- E = EPA\n- S = State","schema":{"type":"string","enum":["E","S","A"]}},{"name":"p_idt1","in":"query","description":"Beginning of date range of most recent facility inspection.","schema":{"type":"string"}},{"name":"p_idt2","in":"query","description":"End of date range of most recent facility inspection.","schema":{"type":"string"}},{"name":"p_cms_flag","in":"query","schema":{"type":"string"}},{"name":"queryset","in":"query","description":"Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.","schema":{"type":"number"}},{"name":"responseset","in":"query","description":"Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.","schema":{"type":"number"}},{"name":"callback","in":"query","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.","schema":{"type":"string"}},{"name":"qcolumns","in":"query","description":"Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns an array of public water systems that meet the specified search criteria.","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/sdw03"}},"description":"Root Object"}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/sdw03"}},"description":"Root Object"}}}}}},"post":{"tags":["Safe Drinking Water"],"summary":"Safe Drinking Water Act (SDWA) Systems Search Service","description":"Returns an array of public water systems that meet the specified search criteria.","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"output":{"type":"string","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","enum":["JSONP","JSON","XML"]},"p_fn":{"type":"string","description":"Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers."},"p_ct":{"type":"string","description":"Facility City Filter. Enter a single case-insensitive city name to filter results."},"p_co":{"type":"string","description":"Facility County Filter. Provide a single county name in combination with a state value provided via p_st."},"p_fips":{"type":"string","description":"FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059."},"p_st":{"type":"string","description":"Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list."},"p_zip":{"type":"string","description":"5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values."},"p_reg":{"type":"string","description":"EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.","enum":["01","02","03","04","05","06","07","08","09","10"]},"p_trb":{"type":"string","description":"Tribe name"},"p_act":{"type":"string","description":"Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.","enum":["Y","N","A"]},"p_qiv":{"type":"string","description":"Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.","enum":["0","GT1","GT2","GT4","GT8","12"]},"p_ico":{"type":"string","description":"Indian Country Flag.  Enter a \"Y\" or \"N\" to restrict searches to facilities inside or outside Indian Country.","enum":["Y","N"]},"p_pid":{"type":"string","description":"Nine-digit permit IDs. May contain up to 2000 comma-separated values."},"p_owop":{"type":"string","description":"Owner/Operator code filter.  Enter one of the following codes to filter results:\n- F = Federal Government\n- S = State Government\n- L = Local Government\n- M = Public/Private\n- N = Native American\n- P = Private","enum":["F","S","L","M","N","P"]},"p_systyp":{"type":"string","description":"Type of public water system:\n- CWS=Community water system\n- NCWS=Non-community water system\n- NTCWS=Non-transient non-community water system\n- TNCWS=Transient non-community water system","enum":["CWS","NCWS","NTCWS","TNCWS"]},"p_swtyp":{"type":"string","description":"Source Water Type:\n- SW = Surface water \n- GW= Ground water\n- GU = Ground water under direct influence of (UDI) surface water\n- SWP = Purchased Surface water\n- GWP = Purchased Ground water\n- GUP = Purchased Ground water UDI surface water","enum":["SW","GW","GU","SWP","GWP","GUP"]},"p_popsv":{"type":"string","description":"Estimated average daily population served by a system:\n- LE500 = 500 or less\n- IN501_3K = 501-3,300\n- IN3K_10K = 3,301-10,000\n- IN10K_100K = 10,001-100,000\n- IN100K_1M = 100,001-1,000,000\n- GT1M = More than 1,000,000\nMay contain multiple comma-separated values."},"p_cntysv":{"type":"string"},"p_cs":{"type":"string","description":"Current violations:\n- M = Monitoring and Reporting Violations\n- H = Health-based Violations\n- O = Other Violations\n- P = Public Notice Violations\n- S = Serious Violator\n- N = No Violations\nMay contain multiple comma-separated values."},"p_mr":{"type":"string","description":"Monitoring and Reporting Violations (failure to conduct regular monitoring of drinking water quality or submit monitoring results in a timely fashion).","enum":["Y","N"]},"p_health":{"type":"string","description":"Violations of health-based drinking water standards (maximum contaminant levels, maximum residual disinfectant levels, or treatment technique rules).","enum":["Y","N"]},"p_other":{"type":"string","description":"Other violations, such as failing to issue annual consumer confidence reports or maintain required records.","enum":["Y","N"]},"p_pn":{"type":"string","description":"Public Notice Violations (failure to immediately alert consumers of serious problem with drinking water).","enum":["Y","N"]},"p_sv":{"type":"string","description":"Serious Violator (unresolved serious, multiple, and/or continuing violations). A value of Y will return only SDWIS systems that are Serious Violators, while a value of N will only return SDWIS Systems that are not Serious Violators.","enum":["Y","N"]},"p_qs":{"type":"string","description":"Quick Search. Allows entry for city, state, and/or zip code."},"p_sfs":{"type":"string","description":"Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched."},"p_pswpol":{"type":"string","description":"For CWA, pollutant names for surface water discharges. for Drinking Water, SDWIS Violation contaminant codes for unaddressed violations that have occurred in the last 3 years. May contain multiple comma-separated values."},"p_pswvio":{"type":"string","description":"Used in conjuction with parameters p_pswpol and p_pswparam, indicates whether search should only include pollutants with violations.","enum":["Y","N"]},"p_pbale":{"type":"string","description":"Lead Action Level Exceedance.  A \"Y\" value will select water systems with at least 1 Lead Action Level Exceedance."},"p_cuale":{"type":"string","description":"Copper Action Level Exceedance.  A \"Y\" value will select water systems with at least 1 Copper Action Level Exceedance."},"p_rc350v":{"type":"string","description":"Rule code 350 violation. A \"Y\" value will select water systems with at least one rule code 350 violation."},"p_pbv":{"type":"string","description":"Lead Violations.  A \"Y\" value will select water systems with at least 1 Lead Violation."},"p_cuv":{"type":"string","description":"Copper Violation.  A \"Y\" value will select water systems with at least 1 Copper Violation."},"p_lcrv":{"type":"string","description":"Lead or Copper rule violations.  A \"Y\" value will select water systems with at least 1 Lead or Copper Rule Violation."},"p_fea":{"type":"string","description":"Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.\n- W = within date range\n- N = not within date range","enum":["W","N"]},"p_feay":{"type":"number","description":"Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.","enum":["1","2","3","4","5"]},"p_feaa":{"type":"string","description":"Agency associated with Formal Enforcement Actions:\n- E = EPA\n- S = State\n- A = All","enum":["A","E","S"]},"p_iea":{"type":"string","description":"Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.\n- W = within date range\n- N = not within date range","enum":["W","N"]},"p_ieay":{"type":"number","description":"Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.","enum":["1","2","3","4","5"]},"p_ieaa":{"type":"string","description":"Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.\n- E = EPA\n- S = State","enum":["E","S"]},"p_qis":{"type":"string","description":"Significant Quarters in Noncompliance Limiter.  Enter one of the following codes to limit results to facilities having given quarters of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GE1 = One or more quarters in noncompliance.\n- GT1 = More than one quarters in noncompliance.\n- GE2 = Two or more quarters in noncompliance.\n- GT2 = More than two quarters in noncompliance.\n- GE4 = Four or more quarters in noncompliance.\n- GT4 = More than four quarters in noncompliance.\n- GE8 = Eight or more quarters in noncompliance.\n- GT8 = More than eight quarters in noncompliance.\n- GE12 = Twelve or more quarters in noncompliance.\n- GT12 = Twelve or more quarters in noncompliance.\n- 12 = Exactly twelve quarters in noncompliance.\nNote the seemingly incongruous of GT12 is deliberate.","enum":["Z","GE1","GT1","GE2","GT2","GE4","GT4","GE8","GT8","GE12","GT12","12"]},"p_pfead1":{"type":"string","description":"Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY format to set the start of the range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years."},"p_pfead2":{"type":"string","description":"Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY format to set the end of the date range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years."},"p_pfeat":{"type":"string","description":"Formal Enforcement Action (FEA) Code Filter.  Enter one or more three-letter FEA codes to restrict results to facilities with these attributes.  Use p_fead1 and p_fead2 parameters to further restrict this filter by entering a date range.  Provide multiple codes as a comma-delimited list."},"p_ss5yr":{"type":"string","description":"Sanitary Surveys (in past 5 years) flag.  Values of visit_reason_code are either \"SNSV\" or \"SNSP\" in the past 5 years indicate a Sanitary Survey.  \n\nEnter \"Y\" to select facilities with Sanitary Surveys within the past 5 years.  \n\nEnter \"N\" to select facilities without Sanitary Surveys in the past 5 years.\n\nEnter a number to search for greater for facilities with a quantity than or equal to that value.\n\n\n"},"p_sdc":{"type":"string","description":"Significant Deficiency Count (in past 5 years) flag.  \n\nEnter \"Y\" to select facilities with Sanitary Surveys within the past 5 years.  \n\nEnter \"N\" to select facilities without Sanitary Surveys in the past 5 years.\n\nEnter a number to search for facilities with a quantity greater than or equal to that value."},"p_sdc_ils":{"type":"string"},"p_ysl":{"type":"string","description":"Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.\n- W = within date range\n- N = not within date range","enum":["W","N","NV"]},"p_ysly":{"type":"string","description":"Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.","enum":["1","2","3","4","5"]},"p_ysla":{"type":"string","description":"Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:\n- E = EPA\n- S = State","enum":["E","S","A"]},"p_idt1":{"type":"string","description":"Beginning of date range of most recent facility inspection."},"p_idt2":{"type":"string","description":"End of date range of most recent facility inspection."},"p_cms_flag":{"type":"string"},"queryset":{"type":"number","description":"Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000."},"responseset":{"type":"number","description":"Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000."},"callback":{"type":"string","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."},"qcolumns":{"type":"string","description":"Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."}}}}}},"responses":{"200":{"description":"Returns an array of public water systems that meet the specified search criteria.","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/sdw03"}},"description":"Root Object"}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/sdw03"}},"description":"Root Object"}}}}}}},"/sdw_rest_services.metadata":{"get":{"tags":["Metadata"],"summary":"Safe Drinking Water Act (SDWA) Metadata Service","description":"Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_systems endpoint.","parameters":[{"name":"output","in":"query","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","schema":{"type":"string","enum":["JSONP","JSON","XML"]}},{"name":"callback","in":"query","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.","schema":{"type":"string"}}],"responses":{"200":{"description":"Results are an array of columns/objects.","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/meta1"}},"description":"Root Object"}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/meta1"}},"description":"Root Object"}}}}}},"post":{"tags":["Metadata"],"summary":"Safe Drinking Water Act (SDWA) Metadata Service","description":"Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_systems endpoint.","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"output":{"type":"string","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","enum":["JSONP","JSON","XML"]},"callback":{"type":"string","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."}}}}}},"responses":{"200":{"description":"Results are an array of columns/objects.","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/meta1"}},"description":"Root Object"}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/meta1"}},"description":"Root Object"}}}}}}}},"components":{"schemas":{"formData_f.callback":{"type":"string","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."},"formData_f.descending":{"type":"string","description":"Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated.","enum":["Y","N"]},"formData_f.newsort":{"type":"number","description":"Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column."},"formData_f.p_act":{"type":"string","description":"Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.","enum":["Y","N","A"]},"formData_f.p_cms_flag":{"type":"string"},"formData_f.p_cntysv":{"type":"string"},"formData_f.p_co":{"type":"string","description":"Facility County Filter. Provide a single county name in combination with a state value provided via p_st."},"formData_f.p_cs":{"type":"string","description":"Current violations:\n- M = Monitoring and Reporting Violations\n- H = Health-based Violations\n- O = Other Violations\n- P = Public Notice Violations\n- S = Serious Violator\n- N = No Violations\nMay contain multiple comma-separated values."},"formData_f.p_ct":{"type":"string","description":"Facility City Filter. Enter a single case-insensitive city name to filter results."},"formData_f.p_cuale":{"type":"string","description":"Copper Action Level Exceedance.  A \"Y\" value will select water systems with at least 1 Copper Action Level Exceedance."},"formData_f.p_cuv":{"type":"string","description":"Copper Violation.  A \"Y\" value will select water systems with at least 1 Copper Violation."},"formData_f.p_fea":{"type":"string","description":"Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.\n- W = within date range\n- N = not within date range","enum":["W","N"]},"formData_f.p_feaa":{"type":"string","description":"Agency associated with Formal Enforcement Actions:\n- E = EPA\n- S = State\n- A = All","enum":["A","E","S"]},"formData_f.p_feay":{"type":"number","description":"Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.","enum":["1","2","3","4","5"]},"formData_f.p_fips":{"type":"string","description":"FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059."},"formData_f.p_fn":{"type":"string","description":"Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers."},"formData_f.p_health":{"type":"string","description":"Violations of health-based drinking water standards (maximum contaminant levels, maximum residual disinfectant levels, or treatment technique rules).","enum":["Y","N"]},"formData_f.p_ico":{"type":"string","description":"Indian Country Flag.  Enter a \"Y\" or \"N\" to restrict searches to facilities inside or outside Indian Country.","enum":["Y","N"]},"formData_f.p_idt1":{"type":"string","description":"Beginning of date range of most recent facility inspection."},"formData_f.p_idt2":{"type":"string","description":"End of date range of most recent facility inspection."},"formData_f.p_iea":{"type":"string","description":"Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.\n- W = within date range\n- N = not within date range","enum":["W","N"]},"formData_f.p_ieaa":{"type":"string","description":"Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.\n- E = EPA\n- S = State","enum":["E","S"]},"formData_f.p_ieay":{"type":"number","description":"Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.","enum":["1","2","3","4","5"]},"formData_f.p_lcrv":{"type":"string","description":"Lead or Copper rule violations.  A \"Y\" value will select water systems with at least 1 Lead or Copper Rule Violation."},"formData_f.p_mr":{"type":"string","description":"Monitoring and Reporting Violations (failure to conduct regular monitoring of drinking water quality or submit monitoring results in a timely fashion).","enum":["Y","N"]},"formData_f.p_other":{"type":"string","description":"Other violations, such as failing to issue annual consumer confidence reports or maintain required records.","enum":["Y","N"]},"formData_f.p_owop":{"type":"string","description":"Owner/Operator code filter.  Enter one of the following codes to filter results:\n- F = Federal Government\n- S = State Government\n- L = Local Government\n- M = Public/Private\n- N = Native American\n- P = Private","enum":["F","S","L","M","N","P"]},"formData_f.p_pbale":{"type":"string","description":"Lead Action Level Exceedance.  A \"Y\" value will select water systems with at least 1 Lead Action Level Exceedance."},"formData_f.p_pbv":{"type":"string","description":"Lead Violations.  A \"Y\" value will select water systems with at least 1 Lead Violation."},"formData_f.p_pfead1":{"type":"string","description":"Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY format to set the start of the range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years."},"formData_f.p_pfead2":{"type":"string","description":"Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY format to set the end of the date range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years."},"formData_f.p_pfeat":{"type":"string","description":"Formal Enforcement Action (FEA) Code Filter.  Enter one or more three-letter FEA codes to restrict results to facilities with these attributes.  Use p_fead1 and p_fead2 parameters to further restrict this filter by entering a date range.  Provide multiple codes as a comma-delimited list."},"formData_f.p_pid":{"type":"string","description":"Nine-digit permit IDs. May contain up to 2000 comma-separated values."},"formData_f.p_pn":{"type":"string","description":"Public Notice Violations (failure to immediately alert consumers of serious problem with drinking water).","enum":["Y","N"]},"formData_f.p_popsv":{"type":"string","description":"Estimated average daily population served by a system:\n- LE500 = 500 or less\n- IN501_3K = 501-3,300\n- IN3K_10K = 3,301-10,000\n- IN10K_100K = 10,001-100,000\n- IN100K_1M = 100,001-1,000,000\n- GT1M = More than 1,000,000\nMay contain multiple comma-separated values."},"formData_f.p_pswpol":{"type":"string","description":"For CWA, pollutant names for surface water discharges. for Drinking Water, SDWIS Violation contaminant codes for unaddressed violations that have occurred in the last 3 years. May contain multiple comma-separated values."},"formData_f.p_pswvio":{"type":"string","description":"Used in conjuction with parameters p_pswpol and p_pswparam, indicates whether search should only include pollutants with violations.","enum":["Y","N"]},"formData_f.p_qis":{"type":"string","description":"Significant Quarters in Noncompliance Limiter.  Enter one of the following codes to limit results to facilities having given quarters of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GE1 = One or more quarters in noncompliance.\n- GT1 = More than one quarters in noncompliance.\n- GE2 = Two or more quarters in noncompliance.\n- GT2 = More than two quarters in noncompliance.\n- GE4 = Four or more quarters in noncompliance.\n- GT4 = More than four quarters in noncompliance.\n- GE8 = Eight or more quarters in noncompliance.\n- GT8 = More than eight quarters in noncompliance.\n- GE12 = Twelve or more quarters in noncompliance.\n- GT12 = Twelve or more quarters in noncompliance.\n- 12 = Exactly twelve quarters in noncompliance.\nNote the seemingly incongruous of GT12 is deliberate.","enum":["Z","GE1","GT1","GE2","GT2","GE4","GT4","GE8","GT8","GE12","GT12","12"]},"formData_f.p_qiv":{"type":"string","description":"Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.","enum":["0","GT1","GT2","GT4","GT8","12"]},"formData_f.p_qs":{"type":"string","description":"Quick Search. Allows entry for city, state, and/or zip code."},"formData_f.p_rc350v":{"type":"string","description":"Rule code 350 violation. A \"Y\" value will select water systems with at least one rule code 350 violation."},"formData_f.p_reg":{"type":"string","description":"EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.","enum":["01","02","03","04","05","06","07","08","09","10"]},"formData_f.p_sdc":{"type":"string","description":"Significant Deficiency Count (in past 5 years) flag.  \n\nEnter \"Y\" to select facilities with Sanitary Surveys within the past 5 years.  \n\nEnter \"N\" to select facilities without Sanitary Surveys in the past 5 years.\n\nEnter a number to search for facilities with a quantity greater than or equal to that value."},"formData_f.p_sdc_ils":{"type":"string"},"formData_f.p_sfs":{"type":"string","description":"Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched."},"formData_f.p_ss5yr":{"type":"string","description":"Sanitary Surveys (in past 5 years) flag.  Values of visit_reason_code are either \"SNSV\" or \"SNSP\" in the past 5 years indicate a Sanitary Survey.  \n\nEnter \"Y\" to select facilities with Sanitary Surveys within the past 5 years.  \n\nEnter \"N\" to select facilities without Sanitary Surveys in the past 5 years.\n\nEnter a number to search for greater for facilities with a quantity than or equal to that value.\n\n\n"},"formData_f.p_st":{"type":"string","description":"Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list."},"formData_f.p_sv":{"type":"string","description":"Serious Violator (unresolved serious, multiple, and/or continuing violations). A value of Y will return only SDWIS systems that are Serious Violators, while a value of N will only return SDWIS Systems that are not Serious Violators.","enum":["Y","N"]},"formData_f.p_swtyp":{"type":"string","description":"Source Water Type:\n- SW = Surface water \n- GW= Ground water\n- GU = Ground water under direct influence of (UDI) surface water\n- SWP = Purchased Surface water\n- GWP = Purchased Ground water\n- GUP = Purchased Ground water UDI surface water","enum":["SW","GW","GU","SWP","GWP","GUP"]},"formData_f.p_systyp":{"type":"string","description":"Type of public water system:\n- CWS=Community water system\n- NCWS=Non-community water system\n- NTCWS=Non-transient non-community water system\n- TNCWS=Transient non-community water system","enum":["CWS","NCWS","NTCWS","TNCWS"]},"formData_f.p_trb":{"type":"string","description":"Tribe name"},"formData_f.p_ysl":{"type":"string","description":"Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.\n- W = within date range\n- N = not within date range","enum":["W","N","NV"]},"formData_f.p_ysla":{"type":"string","description":"Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:\n- E = EPA\n- S = State","enum":["E","S","A"]},"formData_f.p_ysly":{"type":"string","description":"Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.","enum":["1","2","3","4","5"]},"formData_f.p_zip":{"type":"string","description":"5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values."},"formData_f.pageno":{"type":"number","description":"Indicates the number of the page to display. It is used only when the results are paginated.","default":1.0},"formData_f.qcolumns":{"type":"string","description":"Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."},"formData_f.qid":{"type":"string","description":"Query ID Selector.  Enter the QueryID number from a previously run query."},"formData_f.queryset":{"type":"number","description":"Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000."},"formData_f.responseset":{"type":"number","description":"Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000."},"meta1":{"required":["Message"],"type":"object","properties":{"Message":{"title":"Message","type":"string","description":"Field to record messages (typically performance-related) about packet processing","example":"Success"},"ResultColumns":{"title":"Result Columns","type":"array","xml":{"name":"ResultColumns","wrapped":true},"items":{"$ref":"#/components/schemas/meta3"}}},"description":"Results Object"},"meta3":{"required":["ColumnID","ColumnName","DataLength","DataType","Description","ObjectName"],"type":"object","properties":{"ColumnID":{"title":"Column ID","type":"string"},"ColumnName":{"title":"Column Name","type":"string"},"DataLength":{"title":"Data Length","type":"string","description":"Data length for EPA program database column.","example":"10"},"DataType":{"title":"Data Type","type":"string","description":"Data type for EPA program database column.","example":"NUMBER"},"Description":{"title":"Column Description","type":"string"},"ObjectName":{"title":"Object Name","type":"string","description":"The JSON name used for the database column.","example":"CaseName"}},"description":"Results Column Object","xml":{"name":"ResultColumn"}},"sdw02":{"required":["Message","PageNo","QueryID","QueryRows"],"type":"object","properties":{"Message":{"title":"Message","type":"string","description":"Field to record messages (typically performance-related) about packet processing","example":"Success"},"PageNo":{"title":"Page Number","type":"string","description":"The number of pages of results returned","example":"1"},"QueryID":{"title":"Query Identifier","type":"string","description":"Sequential number assigned to entire search result","example":"245"},"QueryRows":{"title":"Query Row Count","type":"string","description":"Number of query results returned","example":"5"},"WaterSystems":{"title":"Water Systems","type":"array","xml":{"name":"WaterSystems","wrapped":true},"items":{"$ref":"#/components/schemas/sdw04"}}},"description":"Results Object"},"sdw03":{"required":["BadSystemIDs","CVRows","FEARows","INSPRows","IndianCountryRows","InfFEARows","Message","PageNo","QueryID","QueryRows","SVRows","V3Rows","Version"],"type":"object","properties":{"BadSystemIDs":{"type":"string","description":"Identifies which passed query system identifiers are invalid."},"CVRows":{"type":"string","description":"Summary count of the number of CWA facilities or SDWA public drinking water systems with current violations.","example":"0"},"FEARows":{"type":"string","description":"Summary count of the number of facilities with a formal enforcement action in the past five years","example":"1"},"INSPRows":{"type":"string","description":"Number of facilities with insp_5yr_flag populated (CWP_DATE_LAST_INSPECTION)","example":"1"},"IndianCountryRows":{"title":"Indian Country Row Count","type":"string","description":"Number of facilities with tribal_flag populated","example":"0"},"InfFEARows":{"type":"string","description":"Number of facilities with infea_5yr_flag populated (INFORMAL_ENF_ACT_COUNT > 0)","example":"0"},"Message":{"title":"Message","type":"string","description":"Field to record messages (typically performance-related) about packet processing","example":"Success"},"PageNo":{"title":"Page Number","type":"string","description":"The number of pages of results returned","example":"1"},"QueryID":{"title":"Query Identifier","type":"string","description":"Sequential number assigned to entire search result","example":"245"},"QueryRows":{"title":"Query Row Count","type":"string","description":"Number of query results returned","example":"5"},"SVRows":{"title":"Significant Violation Result Count","type":"string","description":"Number of facilities with curr_sv_flag populated (CWP_STATUS = \"Significant Violation\")","example":"0"},"V3Rows":{"type":"string","description":"Number of facilities having one or more quarters in non-compliance (QNC) in the last three years","example":"2"},"Version":{"title":"Version","type":"string","description":"Version of the SDWA system service","example":"v2016-02-02 14:"},"WaterSystems":{"title":"Water Systems","type":"array","xml":{"name":"WaterSystems","wrapped":true},"items":{"$ref":"#/components/schemas/sdw04"}}},"description":"Results Object"},"sdw04":{"required":["CitiesServed","CountiesServed","CuAle","CuViol","CurrVioFlag","DateLastSansurvey","DfrUrl","EPARegion","FIPSCodes","FeaFlag","Feas","GwSwCode","HealthFlag","IeaFlag","Ifea","IndianCountry","Insp5yrFlag","LeadAndCopperViol","MaxScore","MrFlag","NewVioFlg","OtherFlag","OwnerDesc","OwnerTypeCode","PWSActivityCode","PWSActivityDesc","PWSId","PWSName","PWSTypeCode","PWSTypeDesc","PbAle","PbViol","PnFlag","PopulationServedCount","PrimarySourceCode","PrimarySourceDesc","QtrsWithSNC","QtrsWithVio","Rc350Viol","RegistryID","RulesVio","RulesVio3yr","SDWA3yrComplQtrsHistory","SDWAContaminants","SDWAContaminantsInCurViol","SDWAContaminantsInViol3yr","SDWDateLastFea","SDWDateLastFeaEPA","SDWDateLastFeaSt","SDWDateLastIea","SDWDateLastIeaEPA","SDWDateLastIeaSt","SDWDateLastVisit","SDWDateLastVisitEPA","SDWDateLastVisitLocal","SDWDateLastVisitState","SNC","SNCFlag","Sansurvey5yr","SeriousViolator","ServiceAreaTypeCode","ServiceAreaTypeDesc","SignificantDeficiencyCount","SignificantDeficiencyCountIls","SiteVisits5yrAll","SiteVisits5yrInspections","SiteVisits5yrOther","StateCode","TRIbalFlag","VioFlag","Viofeanot","ViolationCategories","Viopaccr","Vioremain","Viortcfea","Viortcnofea","ZipCodesServed"],"type":"object","properties":{"CitiesServed":{"type":"string","description":"County","example":"CAROLINE"},"CountiesServed":{"title":"City","type":"string","description":"City","example":"ALEXANDRIA"},"CuAle":{"title":"Copper Action Level Exceedances (5 years)","type":"string","description":"The count of occurrences when 90th percentile sample concentrations of copper exceeded the copper action level of 1.3 mg/L in the past five years.","example":"4"},"CuViol":{"title":"Copper Violation","type":"string","description":"The number of copper violations in the last five years.","example":"2"},"CurrVioFlag":{"title":"Current Violation Flag","type":"string","description":"Indicates if the facility has a current violation. 1 = Yes","example":"0"},"DateLastSansurvey":{"type":"string"},"DfrUrl":{"title":"DFR URL","type":"string","description":"The URL to the facility's Detailed Facility Report."},"EPARegion":{"title":"EPA Region","type":"string","description":"The EPA region in which the facility is located","example":"04"},"FIPSCodes":{"type":"string","description":"Five-character Federal Information Processing Standards (FIPS) value: 2-character state || 3-character county","example":"51033"},"FeaFlag":{"type":"string","description":"Number of formal enforcement responses during the past 5 years (20 most recent quarters) as of the last quarterly refresh.  Formal enforcement actions compel a PWS to take specific actions by specific dates to return to compliance","example":"1"},"Feas":{"title":"Formal Enforcement Actions","type":"string","description":"Number of formal enforcement responses during the past 5 years (20 most recent quarters) as of the last quarterly refresh.  Formal enforcement actions compel a PWS to take specific actions by specific dates to return to compliance.","example":"2"},"GwSwCode":{"title":"Ground Water/Surface Water Code","type":"string","description":"Returns \"GW\" if the system�source water type is ground water. Returns \"SW\" if the system source water type is surface water.","example":"GW"},"HealthFlag":{"title":"Health Flag","type":"string","description":"Indicates whether system has violations of health-based drinking water standards","example":"Y"},"IeaFlag":{"title":"Informal Enforcement Action Flag","type":"string","description":"Returns 0 if the system does not have informal enforcement actions in the past five years. Returns 1 if the system does have informal enforcement actions in the past five years.","example":"1"},"Ifea":{"title":"Informal Enforcement Actions","type":"string","description":"Number of informal enforcement responses during the past 5 years (20 most recent quarters) as of the last quarterly refresh.  Informal enforcement actions do not specify actions and deadlines for returning to compliance.","example":"3"},"IndianCountry":{"title":"Indian Country","type":"string","description":"Indicates whether the facility is located in Indian Country","example":"N"},"Insp5yrFlag":{"title":"Inspected Within Last Five Years Flag","type":"string","description":"Indicates if the facility has an inspection within the last 5 years. 1 = Yes","example":"1"},"LeadAndCopperViol":{"title":"Lead and Copper Violation","type":"string","description":"The number of lead and copper violations.","example":"4"},"MaxScore":{"title":"Max Score","type":"string","description":"A sorting score for internal use.","example":"1"},"MrFlag":{"type":"string","description":"Indicates whether system has monitoring and reporting violations","example":"Y"},"NewVioFlg":{"title":"Has New Violations","type":"string","description":"Violations that have been reported to SDWA since end of the last official quarter. These violations are considered draft and do not reflect the official compliance status for the facility.","example":"No"},"OtherFlag":{"title":"Other Flag","type":"string","description":"Indicates whether system has other violations, such as failing to issue annual consumer confidence reports or maintain required records","example":"Y"},"OwnerDesc":{"title":"Owner Description","type":"string","description":"Description of Owner code","example":"Local Government"},"OwnerTypeCode":{"title":"Owner Type Code","type":"string","description":"Owner/Operator:\n- P = Private\n- F = Federal Government\n- S = State Government\n- L = Local Government","example":"P"},"PWSActivityCode":{"title":"PWS Activity Code","type":"string","description":"Indicates whether systems have an active or inactive designation.","example":"A"},"PWSActivityDesc":{"title":"PWS Activity Description","type":"string","description":"Description of activity status code (ACT), e.g., active, inactive.","example":"Active"},"PWSId":{"title":"Public Water System Identifier","type":"string","description":"Unique identifying code for a public water system, consisting of a two-letter state or region code, followed by seven digits","example":"VA0033235"},"PWSName":{"title":"System Name","type":"string","description":"Name of the system regulated under the Safe Drinking Water Act (SDWA)","example":"ARBOR CHRISTIAN HOME"},"PWSTypeCode":{"title":"System Type","type":"string","description":"Type of public water system:\n- CWS   = Community water system\n- NCWS  = Non-community water system\n- NTCWS = Non-transient non-community water system\n- TNCWS = Transient non-community water system","example":"TNCWS"},"PWSTypeDesc":{"title":"System Type Description","type":"string","description":"The type of public water system (PWS) and description of corresponding SystemType code. A public water system is a system for the provision to the public of piped water for human consumption, which has at least 15 service connections or regularly serves a","example":"Transient non-community system"},"PbAle":{"title":"Lead Action Level Exceedances (5 years)","type":"string","description":"The count of occurrences when 90th percentile sample concentrations of lead exceeded the lead action level of 0.015 mg/L in the past five years."},"PbViol":{"title":"Lead Violation","type":"string","description":"The number of lead violations in the last five years.","example":"1"},"PnFlag":{"title":"Public Notice Violation Flag","type":"string","description":"Indicates whether system has Public Notice Violations (failure to immediately alert consumers of serious problem with drinking water)","example":"Y"},"PopulationServedCount":{"title":"Population Served","type":"string","description":"Estimated average daily population served by a system","example":"34"},"PrimarySourceCode":{"title":"Primary Source Code","type":"string","description":"The source water type:\nSurface water (SW) - Water pumped and treated from sources open to the atmosphere, such as rivers, lakes, and reservoirs.\nGround water (GW) - Water pumped and treated from aquifers (natural reservoirs below the earth's surface).\nGround water under direct influence of surface water (GU) - Any water pumped from natural reservoirs below the earth's surface that has been determined to be under the direct influence of surface water.\nPurchased (Surface, Ground, Ground UDI Surface) Water - Water purchased from a wholesaler who pumps and treats water.","example":"SW"},"PrimarySourceDesc":{"title":"Primary Source Description","type":"string","description":"The source water type:\nSurface water (SW) - Water pumped and treated from sources open to the atmosphere, such as rivers, lakes, and reservoirs.\nGround water (GW) - Water pumped and treated from aquifers (natural reservoirs below the earth's surface).\nGround water under direct influence of surface water (GU) - Any water pumped from natural reservoirs below the earth's surface that has been determined to be under the direct influence of surface water.\nPurchased (Surface, Ground, Ground UDI Surface) Water - Water purchased from a wholesaler who pumps and treats water.","example":"Surface water"},"QtrsWithSNC":{"title":"Quarters with SNC","type":"string","description":"The number of quarters the system was designated by EPA as a serious violator over the past 3 years (12 most recent quarters).","example":"0"},"QtrsWithVio":{"title":"Quarters with Violation","type":"string","description":"The number of quarters the system was in violation over the past three years. This includes the 12 most recent official quarters and new violations reported after the end of the last official quarter.","example":"0"},"Rc350Viol":{"type":"string","description":"The count of open health-based lead violations in the past five years. These include violations of maximum contaminant levels (MCLs), maximum residual disinfectant levels (MRDLs), or treatment technique (TT) rules. This count includes new violations that have been reported since the end of the last official quarter.","example":"2"},"RegistryID":{"title":"FRS ID","type":"string","description":"An internal 12-digit Facility Registry Service (FRS) tracking number used to tie all facility data together in EPA regulatory program databases.","example":"110020837601"},"RulesVio":{"title":"Rules Being Violated","type":"string","description":"The count of rules the system is violating as of the latest official quarter of data in the source system, SDWIS, which may lag by 3-6 months. This includes violations in the most recent official quarter and new violations reported after the end of the last official quarter.","example":"0"},"RulesVio3yr":{"title":"Rules In Violation (past 3 years)","type":"string","description":"The count of rules the system was in violation of over the past three years. This includes the 12 most recent official quarters and new violations reported after the end of the last official quarter.","example":"5"},"SDWA3yrComplQtrsHistory":{"title":"SDWA 3-Year Compliance History","type":"string","description":"The system's 3-year compliance status history by quarter (3-month period). Each character represents a quarter of compliance, going from oldest to most recent. Character values correspond to the following compliance statuses:\n_ - No Violation Identified\nV - Noncompliance\nS - Significant Noncompliance\nU - Undetermined","example":"____SS__VVUU"},"SDWAContaminants":{"title":"SDWA Contaminants","type":"string","description":"All unresolved violation contaminants or violation contaminants that have been resolved in the last 5 years."},"SDWAContaminantsInCurViol":{"title":"SDWA Contaminants in Current Violation","type":"string","description":"The contaminant name and code (in SDWIS) in violation of a SDWA regulation. This includes violations in the most recent official quarter and new violations that have been reported since the end of the last official quarter.","example":"7500=Public Notice"},"SDWAContaminantsInViol3yr":{"type":"string","description":"The contaminant name and code in violation of a SDWA regulation in the past three years","example":"2456=Total Haloacetic Acids (HAA5); 7500=Public Notice"},"SDWDateLastFea":{"title":"Date Last Formal Enforcement Action","type":"string","description":"Indicates the effective date of the most recent listed formal enforcement action taken against the PWS within the last five years.","example":"1/27/2013"},"SDWDateLastFeaEPA":{"title":"Date Last Formal Enforcement Action by EPA","type":"string","description":"Indicates the effective date of the most recent listed formal enforcement action taken against the PWS by EPA within the last five years.","example":"4/5/2011"},"SDWDateLastFeaSt":{"title":"Date Last Formal Enforcement Action by State","type":"string","description":"Indicates the effective date of the most recent listed formal enforcement action taken against the PWS by a state environmental agency within the last five years.","example":"2/19/2010"},"SDWDateLastIea":{"title":"Date Last Informal Enforcement Action","type":"string","description":"Indicates the effective date of the most recent listed informal enforcement action taken against the PWS within the last five years.","example":"6/30/2008"},"SDWDateLastIeaEPA":{"title":"Date Last Informal Enforcement Action by EPA","type":"string","description":"Indicates the effective date of the most recent listed informal enforcement action taken against the PWS by EPA within the last five years.","example":"4/11/2013"},"SDWDateLastIeaSt":{"title":"Date Last Informal Enforcement Action by State","type":"string","description":"Indicates the effective date of the most recent listed informal enforcement action taken against the PWS by a state environmental agency within the last five years.","example":"7/17/2010"},"SDWDateLastVisit":{"title":"Date Last Visit","type":"string","description":"The date of the last system visit.","example":"4/11/2013"},"SDWDateLastVisitEPA":{"title":"Date Last Visit by EPA","type":"string","description":"The date of the last system visit by EPA.","example":"4/11/2013"},"SDWDateLastVisitLocal":{"title":"Date Last Visit by Local","type":"string","description":"The date of the last system visit by a local agency.","example":"4/11/2013"},"SDWDateLastVisitState":{"title":"Date Last Visit by State","type":"string","description":"The date of the last system visit by a state agency.","example":"4/11/2013"},"SNC":{"title":"Compliance Status","type":"string","description":"Indicates the system's compliance status: No Violation,�In Violation, Signficant Noncompliance, or Unknown.","example":"In Violation"},"SNCFlag":{"title":"SNC Flag","type":"string","description":"Returns 1 if the system is in significant noncompliance (SNC); returns 0 if not.","example":"0"},"Sansurvey5yr":{"title":"Sanitary Surveys (5 years)","type":"string","description":"The number of sanitary surveys completed within the past five years. A sanitary survey is an on-site review of a system's water source, facilities, equipment, operation, and maintenance, intended to point out sanitary deficiencies and assess the system's capability to supply safe drinking water.","example":"5"},"SeriousViolator":{"title":"Serious Violator","type":"string","description":"Indicates whether system is a Serious Violator (has unresolved serious, multiple, and/or continuing violations that is designated as a priority candidate for formal enforcement)","example":"No"},"ServiceAreaTypeCode":{"type":"string"},"ServiceAreaTypeDesc":{"type":"string"},"SignificantDeficiencyCount":{"title":"Significant Deficiency Count","type":"string","description":"The number of significant deficiencies found from a sanitary survey within the past five years.","example":"3"},"SignificantDeficiencyCountIls":{"type":"string"},"SiteVisits5yrAll":{"type":"string"},"SiteVisits5yrInspections":{"type":"string"},"SiteVisits5yrOther":{"type":"string"},"StateCode":{"title":"State Code","type":"string","description":"The state in which the system is located.","example":"VA"},"TRIbalFlag":{"title":"Tribal Lands Flag","type":"string","description":"A flag indicating that the facility is within a tribal area.","example":"1"},"VioFlag":{"title":"Violation Flag","type":"string","description":"Indicates whether the system has been in violation in the past five years (1 if yes, 0 if no).","example":"0"},"Viofeanot":{"type":"string","description":"Sum of violation points accrued during past five years (20 most recent quarters) that are under formal enforcement but not yet returned to compliance, as of the last quarterly refresh","example":"1"},"ViolationCategories":{"type":"string"},"Viopaccr":{"type":"string","description":"Sum of all violation points for violations reported during the past five years (20 most recent quarters), as of the last quarterly refresh","example":"12"},"Vioremain":{"type":"string","description":"Sum of violation points that were not returned to compliance as of the last quarterly refresh.  Includes points that have received formal enforcement but have not returned to compliance","example":"4"},"Viortcfea":{"type":"string","description":"Sum of violation points during past 5 years (20 most recent quarters) that received formal enforcement and returned to compliance, as of the last quarterly refresh","example":"6"},"Viortcnofea":{"type":"string","description":"Sum of violation points during past 5 years (20 most recent quarters) that did not receive formal enforcement but did return to compliance, as of the last quarterly refresh","example":"2"},"ZipCodesServed":{"title":"Zip Code","type":"string","description":"ZIP code","example":"22302"}},"description":"Safe Drinking Water Search Results Object","xml":{"name":"WaterSystem"}}},"parameters":{"q.callback":{"name":"callback","in":"query","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.","schema":{"type":"string"}},"q.descending":{"name":"descending","in":"query","description":"Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated.","schema":{"type":"string","enum":["Y","N"]}},"q.newsort":{"name":"newsort","in":"query","description":"Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column.","schema":{"type":"number"}},"q.p_act":{"name":"p_act","in":"query","description":"Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.","schema":{"type":"string","enum":["Y","N","A"]}},"q.p_cms_flag":{"name":"p_cms_flag","in":"query","schema":{"type":"string"}},"q.p_cntysv":{"name":"p_cntysv","in":"query","schema":{"type":"string"}},"q.p_co":{"name":"p_co","in":"query","description":"Facility County Filter. Provide a single county name in combination with a state value provided via p_st.","schema":{"type":"string"}},"q.p_cs":{"name":"p_cs","in":"query","description":"Current violations:\n- M = Monitoring and Reporting Violations\n- H = Health-based Violations\n- O = Other Violations\n- P = Public Notice Violations\n- S = Serious Violator\n- N = No Violations\nMay contain multiple comma-separated values.","schema":{"type":"string"}},"q.p_ct":{"name":"p_ct","in":"query","description":"Facility City Filter. Enter a single case-insensitive city name to filter results.","schema":{"type":"string"}},"q.p_cuale":{"name":"p_cuale","in":"query","description":"Copper Action Level Exceedance.  A \"Y\" value will select water systems with at least 1 Copper Action Level Exceedance.","schema":{"type":"string"}},"q.p_cuv":{"name":"p_cuv","in":"query","description":"Copper Violation.  A \"Y\" value will select water systems with at least 1 Copper Violation.","schema":{"type":"string"}},"q.p_fea":{"name":"p_fea","in":"query","description":"Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.\n- W = within date range\n- N = not within date range","schema":{"type":"string","enum":["W","N"]}},"q.p_feaa":{"name":"p_feaa","in":"query","description":"Agency associated with Formal Enforcement Actions:\n- E = EPA\n- S = State\n- A = All","schema":{"type":"string","enum":["A","E","S"]}},"q.p_feay":{"name":"p_feay","in":"query","description":"Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.","schema":{"type":"number","enum":[1,2,3,4,5]}},"q.p_fips":{"name":"p_fips","in":"query","description":"FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059.","schema":{"type":"string"}},"q.p_fn":{"name":"p_fn","in":"query","description":"Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers.","schema":{"type":"string"}},"q.p_health":{"name":"p_health","in":"query","description":"Violations of health-based drinking water standards (maximum contaminant levels, maximum residual disinfectant levels, or treatment technique rules).","schema":{"type":"string","enum":["Y","N"]}},"q.p_ico":{"name":"p_ico","in":"query","description":"Indian Country Flag.  Enter a \"Y\" or \"N\" to restrict searches to facilities inside or outside Indian Country.","schema":{"type":"string","enum":["Y","N"]}},"q.p_idt1":{"name":"p_idt1","in":"query","description":"Beginning of date range of most recent facility inspection.","schema":{"type":"string"}},"q.p_idt2":{"name":"p_idt2","in":"query","description":"End of date range of most recent facility inspection.","schema":{"type":"string"}},"q.p_iea":{"name":"p_iea","in":"query","description":"Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.\n- W = within date range\n- N = not within date range","schema":{"type":"string","enum":["W","N"]}},"q.p_ieaa":{"name":"p_ieaa","in":"query","description":"Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.\n- E = EPA\n- S = State","schema":{"type":"string","enum":["E","S"]}},"q.p_ieay":{"name":"p_ieay","in":"query","description":"Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.","schema":{"type":"number","enum":[1,2,3,4,5]}},"q.p_lcrv":{"name":"p_lcrv","in":"query","description":"Lead or Copper rule violations.  A \"Y\" value will select water systems with at least 1 Lead or Copper Rule Violation.","schema":{"type":"string"}},"q.p_mr":{"name":"p_mr","in":"query","description":"Monitoring and Reporting Violations (failure to conduct regular monitoring of drinking water quality or submit monitoring results in a timely fashion).","schema":{"type":"string","enum":["Y","N"]}},"q.p_other":{"name":"p_other","in":"query","description":"Other violations, such as failing to issue annual consumer confidence reports or maintain required records.","schema":{"type":"string","enum":["Y","N"]}},"q.p_owop":{"name":"p_owop","in":"query","description":"Owner/Operator code filter.  Enter one of the following codes to filter results:\n- F = Federal Government\n- S = State Government\n- L = Local Government\n- M = Public/Private\n- N = Native American\n- P = Private","schema":{"type":"string","enum":["F","S","L","M","N","P"]}},"q.p_pbale":{"name":"p_pbale","in":"query","description":"Lead Action Level Exceedance.  A \"Y\" value will select water systems with at least 1 Lead Action Level Exceedance.","schema":{"type":"string"}},"q.p_pbv":{"name":"p_pbv","in":"query","description":"Lead Violations.  A \"Y\" value will select water systems with at least 1 Lead Violation.","schema":{"type":"string"}},"q.p_pfead1":{"name":"p_pfead1","in":"query","description":"Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY format to set the start of the range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.","schema":{"type":"string"}},"q.p_pfead2":{"name":"p_pfead2","in":"query","description":"Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY format to set the end of the date range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.","schema":{"type":"string"}},"q.p_pfeat":{"name":"p_pfeat","in":"query","description":"Formal Enforcement Action (FEA) Code Filter.  Enter one or more three-letter FEA codes to restrict results to facilities with these attributes.  Use p_fead1 and p_fead2 parameters to further restrict this filter by entering a date range.  Provide multiple codes as a comma-delimited list.","schema":{"type":"string"}},"q.p_pid":{"name":"p_pid","in":"query","description":"Nine-digit permit IDs. May contain up to 2000 comma-separated values.","schema":{"type":"string"}},"q.p_pn":{"name":"p_pn","in":"query","description":"Public Notice Violations (failure to immediately alert consumers of serious problem with drinking water).","schema":{"type":"string","enum":["Y","N"]}},"q.p_popsv":{"name":"p_popsv","in":"query","description":"Estimated average daily population served by a system:\n- LE500 = 500 or less\n- IN501_3K = 501-3,300\n- IN3K_10K = 3,301-10,000\n- IN10K_100K = 10,001-100,000\n- IN100K_1M = 100,001-1,000,000\n- GT1M = More than 1,000,000\nMay contain multiple comma-separated values.","schema":{"type":"string"}},"q.p_pswpol":{"name":"p_pswpol","in":"query","description":"For CWA, pollutant names for surface water discharges. for Drinking Water, SDWIS Violation contaminant codes for unaddressed violations that have occurred in the last 3 years. May contain multiple comma-separated values.","schema":{"type":"string"}},"q.p_pswvio":{"name":"p_pswvio","in":"query","description":"Used in conjuction with parameters p_pswpol and p_pswparam, indicates whether search should only include pollutants with violations.","schema":{"type":"string","enum":["Y","N"]}},"q.p_qis":{"name":"p_qis","in":"query","description":"Significant Quarters in Noncompliance Limiter.  Enter one of the following codes to limit results to facilities having given quarters of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GE1 = One or more quarters in noncompliance.\n- GT1 = More than one quarters in noncompliance.\n- GE2 = Two or more quarters in noncompliance.\n- GT2 = More than two quarters in noncompliance.\n- GE4 = Four or more quarters in noncompliance.\n- GT4 = More than four quarters in noncompliance.\n- GE8 = Eight or more quarters in noncompliance.\n- GT8 = More than eight quarters in noncompliance.\n- GE12 = Twelve or more quarters in noncompliance.\n- GT12 = Twelve or more quarters in noncompliance.\n- 12 = Exactly twelve quarters in noncompliance.\nNote the seemingly incongruous of GT12 is deliberate.","schema":{"type":"string","enum":["Z","GE1","GT1","GE2","GT2","GE4","GT4","GE8","GT8","GE12","GT12","12"]}},"q.p_qiv":{"name":"p_qiv","in":"query","description":"Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.","schema":{"type":"string","enum":["0","GT1","GT2","GT4","GT8","12"]}},"q.p_qs":{"name":"p_qs","in":"query","description":"Quick Search. Allows entry for city, state, and/or zip code.","schema":{"type":"string"}},"q.p_rc350v":{"name":"p_rc350v","in":"query","description":"Rule code 350 violation. A \"Y\" value will select water systems with at least one rule code 350 violation.","schema":{"type":"string"}},"q.p_reg":{"name":"p_reg","in":"query","description":"EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.","schema":{"type":"string","enum":["01","02","03","04","05","06","07","08","09","10"]}},"q.p_sdc":{"name":"p_sdc","in":"query","description":"Significant Deficiency Count (in past 5 years) flag.  \n\nEnter \"Y\" to select facilities with Sanitary Surveys within the past 5 years.  \n\nEnter \"N\" to select facilities without Sanitary Surveys in the past 5 years.\n\nEnter a number to search for facilities with a quantity greater than or equal to that value.","schema":{"type":"string"}},"q.p_sdc_ils":{"name":"p_sdc_ils","in":"query","schema":{"type":"string"}},"q.p_sfs":{"name":"p_sfs","in":"query","description":"Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched.","schema":{"type":"string"}},"q.p_ss5yr":{"name":"p_ss5yr","in":"query","description":"Sanitary Surveys (in past 5 years) flag.  Values of visit_reason_code are either \"SNSV\" or \"SNSP\" in the past 5 years indicate a Sanitary Survey.  \n\nEnter \"Y\" to select facilities with Sanitary Surveys within the past 5 years.  \n\nEnter \"N\" to select facilities without Sanitary Surveys in the past 5 years.\n\nEnter a number to search for greater for facilities with a quantity than or equal to that value.\n\n\n","schema":{"type":"string"}},"q.p_st":{"name":"p_st","in":"query","description":"Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},"q.p_sv":{"name":"p_sv","in":"query","description":"Serious Violator (unresolved serious, multiple, and/or continuing violations). A value of Y will return only SDWIS systems that are Serious Violators, while a value of N will only return SDWIS Systems that are not Serious Violators.","schema":{"type":"string","enum":["Y","N"]}},"q.p_swtyp":{"name":"p_swtyp","in":"query","description":"Source Water Type:\n- SW = Surface water \n- GW= Ground water\n- GU = Ground water under direct influence of (UDI) surface water\n- SWP = Purchased Surface water\n- GWP = Purchased Ground water\n- GUP = Purchased Ground water UDI surface water","schema":{"type":"string","enum":["SW","GW","GU","SWP","GWP","GUP"]}},"q.p_systyp":{"name":"p_systyp","in":"query","description":"Type of public water system:\n- CWS=Community water system\n- NCWS=Non-community water system\n- NTCWS=Non-transient non-community water system\n- TNCWS=Transient non-community water system","schema":{"type":"string","enum":["CWS","NCWS","NTCWS","TNCWS"]}},"q.p_trb":{"name":"p_trb","in":"query","description":"Tribe name","schema":{"type":"string"}},"q.p_ysl":{"name":"p_ysl","in":"query","description":"Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.\n- W = within date range\n- N = not within date range","schema":{"type":"string","enum":["W","N","NV"]}},"q.p_ysla":{"name":"p_ysla","in":"query","description":"Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:\n- E = EPA\n- S = State","schema":{"type":"string","enum":["E","S","A"]}},"q.p_ysly":{"name":"p_ysly","in":"query","description":"Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.","schema":{"type":"string","enum":["1","2","3","4","5"]}},"q.p_zip":{"name":"p_zip","in":"query","description":"5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values.","schema":{"type":"string"}},"q.pageno":{"name":"pageno","in":"query","description":"Indicates the number of the page to display. It is used only when the results are paginated.","schema":{"type":"number","default":1.0}},"q.qcolumns":{"name":"qcolumns","in":"query","description":"Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.","schema":{"type":"string"}},"q.qid":{"name":"qid","in":"query","description":"Query ID Selector.  Enter the QueryID number from a previously run query.","required":true,"schema":{"type":"string"}},"q.queryset":{"name":"queryset","in":"query","description":"Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.","schema":{"type":"number"}},"q.responseset":{"name":"responseset","in":"query","description":"Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.","schema":{"type":"number"}}}}}