{"openapi":"3.0.1","info":{"title":"DeploymentScriptsClient","description":"The APIs listed in this specification can be used to manage Deployment Scripts resource through the Azure Resource Manager.","version":"2019-10-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deploymentScripts":{"get":{"tags":["DeploymentScripts"],"description":"Lists all deployment scripts for a given subscription.","operationId":"DeploymentScripts_ListBySubscription","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id which forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- Returns a list of deployment scripts.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentScriptListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts":{"get":{"tags":["DeploymentScripts"],"description":"Lists deployments scripts.","operationId":"DeploymentScripts_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id which forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Client Api version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- Returns a list of deployment scripts.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentScriptListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts/{scriptName}":{"get":{"tags":["DeploymentScripts"],"description":"Gets a deployment script with a given name.","operationId":"DeploymentScripts_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id which forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"scriptName","in":"path","description":"Name of the deployment script.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"Client Api version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- Returns information about the deployment script.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentScript"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultErrorResponse"}}}}}},"put":{"tags":["DeploymentScripts"],"description":"Creates a deployment script.","operationId":"DeploymentScripts_Create","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id which forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"scriptName","in":"path","description":"Name of the deployment script.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"Client Api version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Deployment script supplied to the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentScript"}}},"required":true},"responses":{"200":{"description":"OK -- Deployment script is updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentScript"}}}},"201":{"description":"Created -- Deployment script created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentScript"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultErrorResponse"}}}}}},"delete":{"tags":["DeploymentScripts"],"description":"Deletes a deployment script. When operation completes, status code 200 returned without content.","operationId":"DeploymentScripts_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id which forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"scriptName","in":"path","description":"Name of the deployment script.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"Client Api version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- Deployment script deleted."},"204":{"description":"Deployment script does not exist."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultErrorResponse"}}}}}},"patch":{"tags":["DeploymentScripts"],"description":"Updates deployment script tags with specified values.","operationId":"DeploymentScripts_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id which forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"scriptName","in":"path","description":"Name of the deployment script.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"Client Api version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Deployment script resource with the tags to be updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentScriptUpdateParameter"}}},"required":false},"responses":{"200":{"description":"OK -- Deployment script tags are updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentScript"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts/{scriptName}/logs":{"get":{"tags":["DeploymentScripts"],"description":"Gets deployment script logs for a given deployment script name.","operationId":"DeploymentScripts_GetLogs","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id which forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"scriptName","in":"path","description":"Name of the deployment script.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"Client Api version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- Returns deployment script logs if available.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScriptLogsList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts/{scriptName}/logs/default":{"get":{"tags":["DeploymentScripts"],"description":"Gets deployment script logs for a given deployment script name.","operationId":"DeploymentScripts_GetLogsDefault","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id which forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"scriptName","in":"path","description":"Name of the deployment script.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"Client Api version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- Returns deployment script logs if available.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScriptLog"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultErrorResponse"}}}}}}}},"components":{"schemas":{"AzureCliScript":{"properties":{"properties":{"$ref":"#/components/schemas/AzureCliScriptProperties"}},"description":"Object model for the Azure CLI script.","allOf":[{"$ref":"#/components/schemas/DeploymentScript"}]},"AzureCliScriptProperties":{"properties":{"azCliVersion":{"type":"string","description":"Azure CLI module version to be used."}},"description":"Properties of the Azure CLI script object.","allOf":[{"$ref":"#/components/schemas/DeploymentScriptPropertiesBase"},{"$ref":"#/components/schemas/ScriptConfigurationBase"}]},"AzurePowerShellScript":{"properties":{"properties":{"$ref":"#/components/schemas/AzurePowerShellScriptProperties"}},"description":"Object model for the Azure PowerShell script.","allOf":[{"$ref":"#/components/schemas/DeploymentScript"}]},"AzurePowerShellScriptProperties":{"properties":{"azPowerShellVersion":{"type":"string","description":"Azure PowerShell module version to be used."}},"description":"Properties of the Azure PowerShell script object.","allOf":[{"$ref":"#/components/schemas/DeploymentScriptPropertiesBase"},{"$ref":"#/components/schemas/ScriptConfigurationBase"}]},"AzureResourceBase":{"type":"object","properties":{"id":{"type":"string","description":"String Id used to locate any resource on Azure.","readOnly":true},"name":{"type":"string","description":"Name of this resource.","readOnly":true},"type":{"type":"string","description":"Type of this resource.","readOnly":true}},"description":"Common properties for all Azure resources."},"DefaultErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"One of a server-defined set of error codes."},"details":{"type":"array","description":"Detailed errors.","items":{"$ref":"#/components/schemas/DefaultErrorResponse"}},"message":{"type":"string","description":"A human-readable representation of the error."},"target":{"type":"string","description":"The target of the particular error."}},"description":"The details of the error."},"DeploymentScript":{"properties":{"identity":{"$ref":"#/components/schemas/ManagedServiceIdentity"},"kind":{"type":"string","description":"Type of the script.","enum":["AzurePowerShell","AzureCLI"]},"location":{"type":"string","description":"The location of the ACI and the storage account for the deployment script."},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"Deployment script object.","allOf":[{"$ref":"#/components/schemas/AzureResourceBase"}]},"DeploymentScriptListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to use for getting the next set of results.","readOnly":true},"value":{"type":"array","description":"An array of deployment scripts.","items":{"$ref":"#/components/schemas/DeploymentScript"}}},"description":"List of deployment scripts."},"DeploymentScriptPropertiesBase":{"type":"object","properties":{"cleanupPreference":{"type":"string","description":"The clean up preference when the script execution gets in a terminal state. Default setting is 'Always'.","enum":["Always","OnSuccess","OnExpiration"]},"outputs":{"type":"object","additionalProperties":{"type":"object","description":"Script output in <name, value> pair."},"description":"List of script outputs.","readOnly":true},"provisioningState":{"type":"string","description":"State of the script execution. This only appears in the response.","readOnly":true,"enum":["Creating","ProvisioningResources","Running","Succeeded","Failed","Canceled"]},"status":{"$ref":"#/components/schemas/ScriptStatus"}},"description":"Common properties for the deployment script."},"DeploymentScriptUpdateParameter":{"properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags to be updated."}},"description":"Deployment script parameters to be updated. ","allOf":[{"$ref":"#/components/schemas/AzureResourceBase"}]},"EnvironmentVariable":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the environment variable."},"secureValue":{"type":"string","description":"The value of the secure environment variable."},"value":{"type":"string","description":"The value of the environment variable."}},"description":"The environment variable to pass to the script in the container instance."},"LogProperties":{"type":"object","properties":{"log":{"type":"string","description":"Script execution logs in text format.","readOnly":true}},"description":"Script log properties."},"ManagedServiceIdentity":{"type":"object","properties":{"type":{"type":"string","description":"Type of the managed identity.","enum":["UserAssigned"]},"userAssignedIdentities":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/UserAssignedIdentity"},"description":"The list of user-assigned managed identities associated with the resource. Key is the Azure resource Id of the managed identity."}},"description":"Managed identity generic object."},"ScriptConfigurationBase":{"required":["retentionInterval"],"type":"object","properties":{"arguments":{"type":"string","description":"Command line arguments to pass to the script. Arguments are separated by spaces. ex: -Name blue* -Location 'West US 2' "},"environmentVariables":{"type":"array","description":"The environment variables to pass over to the script.","items":{"$ref":"#/components/schemas/EnvironmentVariable"}},"forceUpdateTag":{"type":"string","description":"Gets or sets how the deployment script should be forced to execute even if the script resource has not changed. Can be current time stamp or a GUID."},"primaryScriptUri":{"type":"string","description":"Uri for the script. This is the entry point for the external script."},"retentionInterval":{"type":"string","description":"Interval for which the service retains the script resource after it reaches a terminal state. Resource will be deleted when this duration expires. Duration is based on ISO 8601 pattern (for example P7D means one week).","format":"duration"},"scriptContent":{"maxLength":32000,"type":"string","description":"Script body."},"supportingScriptUris":{"type":"array","description":"Supporting files for the external script.","items":{"type":"string","description":"Supporting file Uri."}},"timeout":{"type":"string","description":"Maximum allowed script execution time specified in ISO 8601 format. Default value is PT1H","format":"duration"}},"description":"Common configuration settings for both Azure PowerShell and Azure CLI scripts."},"ScriptLog":{"properties":{"properties":{"$ref":"#/components/schemas/LogProperties"}},"description":"Script execution log object.","allOf":[{"$ref":"#/components/schemas/AzureResourceBase"}]},"ScriptLogsList":{"type":"object","properties":{"value":{"type":"array","description":"Deployment scripts logs.","items":{"$ref":"#/components/schemas/ScriptLog"}}},"description":"Deployment script execution logs."},"ScriptStatus":{"type":"object","properties":{"containerInstanceId":{"type":"string","description":"ACI resource Id.","readOnly":true},"endTime":{"type":"string","description":"End time of the script execution.","format":"date-time","readOnly":true},"error":{"$ref":"#/components/schemas/DefaultErrorResponse"},"expirationTime":{"type":"string","description":"Time the deployment script resource will expire.","format":"date-time","readOnly":true},"startTime":{"type":"string","description":"Start time of the script execution.","format":"date-time","readOnly":true},"storageAccountId":{"type":"string","description":"Storage account resource Id.","readOnly":true}},"description":"Generic object modeling results of script execution."},"UserAssignedIdentity":{"type":"object","properties":{"clientId":{"type":"string","description":"Client App Id associated with this identity."},"principalId":{"type":"string","description":"Azure Active Directory principal ID associated with this identity."}},"description":"User-assigned managed identity."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api version.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},"ScriptNameParameter":{"name":"scriptName","in":"path","description":"Name of the deployment script.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription Id which forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}