{"openapi":"3.0.1","info":{"title":"HDInsightManagementClient","description":"The HDInsight Management Client.","version":"2015-03-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/capabilities":{"get":{"tags":["Regions"],"description":"Gets the capabilities for the specified location.","operationId":"Location_GetCapabilities","parameters":[{"name":"location","in":"path","description":"The location to get capabilities for.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The HDInsight client API Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/capabilitiesResult"}}}}}}}},"components":{"schemas":{"capabilitiesResult":{"type":"object","properties":{"features":{"type":"array","description":"The capabilty features.","items":{"type":"string"}},"quota":{"$ref":"#/components/schemas/quotaCapability"},"regions":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/regionsCapability"},"description":"The virtual machine size compatibilty features."},"versions":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/versionsCapability"},"description":"The version capability."},"vmSize_filters":{"type":"array","description":"The virtual machine size compatibilty filters.","items":{"$ref":"#/components/schemas/vmSizeCompatibilityFilter"}},"vmSizes":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/vmSizesCapability"},"description":"The virtual machine sizes."}},"description":"The Get Capabilities operation response."},"quotaCapability":{"type":"object","properties":{"regionalQuotas":{"type":"array","description":"The list of region quota capabilities.","items":{"$ref":"#/components/schemas/regionalQuotaCapability"}}},"description":"The regional quota capability."},"regionalQuotaCapability":{"type":"object","properties":{"cores_available":{"type":"integer","description":"The number of courses available in the region.","format":"int64"},"cores_used":{"type":"integer","description":"The number of cores used in the region.","format":"int64"},"region_name":{"type":"string","description":"The region name."}},"description":"The regional quota capacity."},"regionsCapability":{"type":"object","properties":{"available":{"type":"array","description":"The list of region capabilities.","items":{"type":"string"}}},"description":"The regions capability."},"versionSpec":{"type":"object","properties":{"componentVersions":{"type":"object","additionalProperties":{"type":"string"},"description":"The component version property."},"displayName":{"type":"string","description":"The display name"},"friendlyName":{"type":"string","description":"The friendly name"},"isDefault":{"type":"string","description":"Whether or not the version is the default version."}},"description":"The version properties."},"versionsCapability":{"type":"object","properties":{"available":{"type":"array","description":"The list of version capabilities.","items":{"$ref":"#/components/schemas/versionSpec"}}},"description":"The version capability."},"vmSizeCompatibilityFilter":{"type":"object","properties":{"ClusterFlavors":{"type":"array","description":"The list of cluster types available.","items":{"type":"string"}},"ClusterVersions":{"type":"array","description":"The list of cluster versions.","items":{"type":"string"}},"FilterMode":{"type":"string","description":"The mode for the filter."},"NodeTypes":{"type":"array","description":"The list of node types.","items":{"type":"string"}},"Regions":{"type":"array","description":"The list of regions.","items":{"type":"string"}},"vmsizes":{"type":"array","description":"The list of virtual machine sizes.","items":{"type":"string"}}},"description":"The virtual machine type compatibility filter."},"vmSizesCapability":{"type":"object","properties":{"available":{"type":"array","description":"The list of virtual machine size capabilities.","items":{"type":"string"}}},"description":"The virtual machine sizes capability."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The HDInsight client API Version.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}