{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "StorSimple8000SeriesManagementClient",
    "version" : "2017-06-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.StorSimple/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Lists all of the available REST API operations of the Microsoft.StorSimple provider",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of available provider operations.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailableProviderOperationList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorSimple/managers" : {
      "get" : {
        "tags" : [ "Managers" ],
        "description" : "Retrieves all the managers in a subscription.",
        "operationId" : "Managers_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of StorSimple managers.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagerList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers" : {
      "get" : {
        "tags" : [ "Managers" ],
        "description" : "Retrieves all the managers in a resource group.",
        "operationId" : "Managers_ListByResourceGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of StorSimple managers.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagerList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}" : {
      "get" : {
        "tags" : [ "Managers" ],
        "description" : "Returns the properties of the specified manager name.",
        "operationId" : "Managers_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The StorSimple manager.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Manager"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Managers" ],
        "description" : "Creates or updates the manager.",
        "operationId" : "Managers_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The manager.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Manager"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The StorSimple manager has been successfully updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Manager"
                }
              }
            }
          },
          "201" : {
            "description" : "The StorSimple manager has been successfully created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Manager"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Managers" ],
        "description" : "Deletes the manager.",
        "operationId" : "Managers_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The StorSimple manager has been successfully deleted"
          },
          "204" : {
            "description" : "The StorSimple manager is already in a deleted state"
          }
        },
        "deprecated" : false
      },
      "patch" : {
        "tags" : [ "Managers" ],
        "description" : "Updates the StorSimple Manager.",
        "operationId" : "Managers_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The manager update parameters.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManagerPatch"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The StorSimple manager has been successfully updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Manager"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords" : {
      "get" : {
        "tags" : [ "AccessControlRecords" ],
        "description" : "Retrieves all the access control records in a manager.",
        "operationId" : "AccessControlRecords_ListByManager",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of access control records.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessControlRecordList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords/{accessControlRecordName}" : {
      "get" : {
        "tags" : [ "AccessControlRecords" ],
        "description" : "Returns the properties of the specified access control record name.",
        "operationId" : "AccessControlRecords_Get",
        "parameters" : [ {
          "name" : "accessControlRecordName",
          "in" : "path",
          "description" : "Name of access control record to be fetched.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The access control record.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessControlRecord"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "AccessControlRecords" ],
        "description" : "Creates or Updates an access control record.",
        "operationId" : "AccessControlRecords_CreateOrUpdate",
        "parameters" : [ {
          "name" : "accessControlRecordName",
          "in" : "path",
          "description" : "The name of the access control record.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The access control record to be added or updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccessControlRecord"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully created or updated the access control record.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessControlRecord"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted the request to create or update the access control record."
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "AccessControlRecords" ],
        "description" : "Deletes the access control record.",
        "operationId" : "AccessControlRecords_Delete",
        "parameters" : [ {
          "name" : "accessControlRecordName",
          "in" : "path",
          "description" : "The name of the access control record to delete.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to delete the access control record."
          },
          "204" : {
            "description" : "Successfully deleted the access control record."
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/alerts" : {
      "get" : {
        "tags" : [ "Alerts" ],
        "description" : "Retrieves all the alerts in a manager.",
        "operationId" : "Alerts_ListByManager",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData Filter options",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of alerts.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/bandwidthSettings" : {
      "get" : {
        "tags" : [ "BandwidthSettings" ],
        "description" : "Retrieves all the bandwidth setting in a manager.",
        "operationId" : "BandwidthSettings_ListByManager",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of bandwidth settings.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BandwidthSettingList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/bandwidthSettings/{bandwidthSettingName}" : {
      "get" : {
        "tags" : [ "BandwidthSettings" ],
        "description" : "Returns the properties of the specified bandwidth setting name.",
        "operationId" : "BandwidthSettings_Get",
        "parameters" : [ {
          "name" : "bandwidthSettingName",
          "in" : "path",
          "description" : "The name of bandwidth setting to be fetched.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The bandwidth setting.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BandwidthSetting"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "BandwidthSettings" ],
        "description" : "Creates or updates the bandwidth setting",
        "operationId" : "BandwidthSettings_CreateOrUpdate",
        "parameters" : [ {
          "name" : "bandwidthSettingName",
          "in" : "path",
          "description" : "The bandwidth setting name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The bandwidth setting to be added or updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BandwidthSetting"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully created or updated the bandwidth setting.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BandwidthSetting"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted the request to create or update the bandwidth setting."
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "BandwidthSettings" ],
        "description" : "Deletes the bandwidth setting",
        "operationId" : "BandwidthSettings_Delete",
        "parameters" : [ {
          "name" : "bandwidthSettingName",
          "in" : "path",
          "description" : "The name of the bandwidth setting.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to delete the bandwidth setting."
          },
          "204" : {
            "description" : "Successfully deleted the bandwidth setting."
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/clearAlerts" : {
      "post" : {
        "tags" : [ "Alerts" ],
        "description" : "Clear the alerts.",
        "operationId" : "Alerts_Clear",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The clear alert request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClearAlertRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Successfully cleared the alerts."
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/cloudApplianceConfigurations" : {
      "get" : {
        "tags" : [ "CloudAppliances" ],
        "description" : "Lists supported cloud appliance models and supported configurations.",
        "operationId" : "CloudAppliances_ListSupportedConfigurations",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of cloud appliance configuration.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudApplianceConfigurationList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/configureDevice" : {
      "post" : {
        "tags" : [ "Devices" ],
        "description" : "Complete minimal setup before using the device.",
        "operationId" : "Devices_Configure",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The minimal properties to configure a device.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConfigureDeviceRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted the request to configure device."
          },
          "204" : {
            "description" : "Successfully configured the device."
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices" : {
      "get" : {
        "tags" : [ "Devices" ],
        "description" : "Returns the list of devices for the specified manager.",
        "operationId" : "Devices_ListByManager",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "Specify $expand=details to populate additional fields related to the device or $expand=rolloverdetails to populate additional fields related to the service data encryption key rollover on device",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of devices.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeviceList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}" : {
      "get" : {
        "tags" : [ "Devices" ],
        "description" : "Returns the properties of the specified device.",
        "operationId" : "Devices_Get",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "Specify $expand=details to populate additional fields related to the device or $expand=rolloverdetails to populate additional fields related to the service data encryption key rollover on device",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The device.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Device"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Devices" ],
        "description" : "Deletes the device.",
        "operationId" : "Devices_Delete",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to delete the device."
          },
          "204" : {
            "description" : "Successfully deleted the device."
          }
        },
        "deprecated" : false
      },
      "patch" : {
        "tags" : [ "Devices" ],
        "description" : "Patches the device.",
        "operationId" : "Devices_Update",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Patch representation of the device.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DevicePatch"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully patched the device.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Device"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/alertSettings/default" : {
      "get" : {
        "tags" : [ "DeviceSettings" ],
        "description" : "Gets the alert settings of the specified device.",
        "operationId" : "DeviceSettings_GetAlertSettings",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Alert settings.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertSettings"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "DeviceSettings" ],
        "description" : "Creates or updates the alert settings of the specified device.",
        "operationId" : "DeviceSettings_CreateOrUpdateAlertSettings",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The alert settings to be added or updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertSettings"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully created or updated the alert settings.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertSettings"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted the request to create or update the alert settings."
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/authorizeForServiceEncryptionKeyRollover" : {
      "post" : {
        "tags" : [ "Devices" ],
        "description" : "Authorizes the specified device for service data encryption key rollover.",
        "operationId" : "Devices_AuthorizeForServiceEncryptionKeyRollover",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Successfully authorized the device for service encryption key rollover"
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies" : {
      "get" : {
        "tags" : [ "BackupPolicies" ],
        "description" : "Gets all the backup policies in a device.",
        "operationId" : "BackupPolicies_ListByDevice",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of backup policies.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupPolicyList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}" : {
      "get" : {
        "tags" : [ "BackupPolicies" ],
        "description" : "Gets the properties of the specified backup policy name.",
        "operationId" : "BackupPolicies_Get",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupPolicyName",
          "in" : "path",
          "description" : "The name of backup policy to be fetched.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The backup policy.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupPolicy"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "BackupPolicies" ],
        "description" : "Creates or updates the backup policy.",
        "operationId" : "BackupPolicies_CreateOrUpdate",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupPolicyName",
          "in" : "path",
          "description" : "The name of the backup policy to be created/updated.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The backup policy.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupPolicy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully created or updated the backup policy.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupPolicy"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted the request to create or update the backup policy."
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "BackupPolicies" ],
        "description" : "Deletes the backup policy.",
        "operationId" : "BackupPolicies_Delete",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupPolicyName",
          "in" : "path",
          "description" : "The name of the backup policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to delete the backup policy."
          },
          "204" : {
            "description" : "Successfully deleted the backup policy."
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}/backup" : {
      "post" : {
        "tags" : [ "BackupPolicies" ],
        "description" : "Backup the backup policy now.",
        "operationId" : "BackupPolicies_BackupNow",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupPolicyName",
          "in" : "path",
          "description" : "The backup policy name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupType",
          "in" : "query",
          "description" : "The backup Type. This can be cloudSnapshot or localSnapshot.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to backup the backup policy."
          },
          "204" : {
            "description" : "Successfully completed backup of the backup policy."
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}/schedules" : {
      "get" : {
        "tags" : [ "BackupSchedules" ],
        "description" : "Gets all the backup schedules in a backup policy.",
        "operationId" : "BackupSchedules_ListByBackupPolicy",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupPolicyName",
          "in" : "path",
          "description" : "The backup policy name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of backup schedules.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupScheduleList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}/schedules/{backupScheduleName}" : {
      "get" : {
        "tags" : [ "BackupSchedules" ],
        "description" : "Gets the properties of the specified backup schedule name.",
        "operationId" : "BackupSchedules_Get",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupPolicyName",
          "in" : "path",
          "description" : "The backup policy name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupScheduleName",
          "in" : "path",
          "description" : "The name of the backup schedule to be fetched",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The backup schedule.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupSchedule"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "BackupSchedules" ],
        "description" : "Creates or updates the backup schedule.",
        "operationId" : "BackupSchedules_CreateOrUpdate",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupPolicyName",
          "in" : "path",
          "description" : "The backup policy name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupScheduleName",
          "in" : "path",
          "description" : "The backup schedule name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The backup schedule.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupSchedule"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully created or updated the backup schedule.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupSchedule"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted the request to create or update the backup schedule."
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "BackupSchedules" ],
        "description" : "Deletes the backup schedule.",
        "operationId" : "BackupSchedules_Delete",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupPolicyName",
          "in" : "path",
          "description" : "The backup policy name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupScheduleName",
          "in" : "path",
          "description" : "The name the backup schedule.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to delete the backup schedule."
          },
          "204" : {
            "description" : "Successfully deleted the backup schedule."
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups" : {
      "get" : {
        "tags" : [ "Backups" ],
        "description" : "Retrieves all the backups in a device.",
        "operationId" : "Backups_ListByDevice",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData Filter options",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of backups.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}" : {
      "delete" : {
        "tags" : [ "Backups" ],
        "description" : "Deletes the backup.",
        "operationId" : "Backups_Delete",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupName",
          "in" : "path",
          "description" : "The backup name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to delete the backup."
          },
          "204" : {
            "description" : "Successfully deleted the backup."
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}/elements/{backupElementName}/clone" : {
      "post" : {
        "tags" : [ "Backups" ],
        "description" : "Clones the backup element as a new volume.",
        "operationId" : "Backups_Clone",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupName",
          "in" : "path",
          "description" : "The backup name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupElementName",
          "in" : "path",
          "description" : "The backup element name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The clone request object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CloneRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully cloned the backup."
          },
          "202" : {
            "description" : "Accepted the request to clone."
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}/restore" : {
      "post" : {
        "tags" : [ "Backups" ],
        "description" : "Restores the backup on the device.",
        "operationId" : "Backups_Restore",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupName",
          "in" : "path",
          "description" : "The backupSet name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully restored the backup."
          },
          "202" : {
            "description" : "Accepted the request to restore."
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/deactivate" : {
      "post" : {
        "tags" : [ "Devices" ],
        "description" : "Deactivates the device.",
        "operationId" : "Devices_Deactivate",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to deactivate the device."
          },
          "204" : {
            "description" : "Successfully deactivated the device."
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/hardwareComponentGroups" : {
      "get" : {
        "tags" : [ "HardwareComponentGroups" ],
        "description" : "Lists the hardware component groups at device-level.",
        "operationId" : "HardwareComponentGroups_ListByDevice",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched hardware component groups.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HardwareComponentGroupList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/hardwareComponentGroups/{hardwareComponentGroupName}/changeControllerPowerState" : {
      "post" : {
        "tags" : [ "HardwareComponentGroups" ],
        "description" : "Changes the power state of the controller.",
        "operationId" : "HardwareComponentGroups_ChangeControllerPowerState",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hardwareComponentGroupName",
          "in" : "path",
          "description" : "The hardware component group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The controller power state change request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ControllerPowerStateChangeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted the request to change power state of the controller."
          },
          "204" : {
            "description" : "Successfully changed the power state of the controller."
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/installUpdates" : {
      "post" : {
        "tags" : [ "Devices" ],
        "description" : "Downloads and installs the updates on the device.",
        "operationId" : "Devices_InstallUpdates",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to download and install updates."
          },
          "204" : {
            "description" : "Successfully installed updates."
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/jobs" : {
      "get" : {
        "tags" : [ "Jobs" ],
        "description" : "Gets all the jobs for specified device. With optional OData query parameters, a filtered set of jobs is returned.",
        "operationId" : "Jobs_ListByDevice",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData Filter options",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of jobs for the specified manager and device name.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JobList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/jobs/{jobName}" : {
      "get" : {
        "tags" : [ "Jobs" ],
        "description" : "Gets the details of the specified job name.",
        "operationId" : "Jobs_Get",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "jobName",
          "in" : "path",
          "description" : "The job Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The job.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Job"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/jobs/{jobName}/cancel" : {
      "post" : {
        "tags" : [ "Jobs" ],
        "description" : "Cancels a job on the device.",
        "operationId" : "Jobs_Cancel",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "jobName",
          "in" : "path",
          "description" : "The jobName.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to cancel a deviceJob"
          },
          "204" : {
            "description" : "Successfully cancelled the deviceJob"
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/listFailoverSets" : {
      "post" : {
        "tags" : [ "Devices" ],
        "description" : "Returns all failover sets for a given device and their eligibility for participating in a failover. A failover set refers to a set of volume containers that need to be failed-over as a single unit to maintain data integrity.",
        "operationId" : "Devices_ListFailoverSets",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns the list of failover sets on the given device.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FailoverSetsList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/metrics" : {
      "get" : {
        "tags" : [ "Devices" ],
        "description" : "Gets the metrics for the specified device.",
        "operationId" : "Devices_ListMetrics",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData Filter options",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of metrics.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/metricsDefinitions" : {
      "get" : {
        "tags" : [ "Devices" ],
        "description" : "Gets the metric definitions for the specified device.",
        "operationId" : "Devices_ListMetricDefinition",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of metric definitions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricDefinitionList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/networkSettings/default" : {
      "get" : {
        "tags" : [ "DeviceSettings" ],
        "description" : "Gets the network settings of the specified device.",
        "operationId" : "DeviceSettings_GetNetworkSettings",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Network settings.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkSettings"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "patch" : {
        "tags" : [ "DeviceSettings" ],
        "description" : "Updates the network settings on the specified device.",
        "operationId" : "DeviceSettings_UpdateNetworkSettings",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The network settings to be updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NetworkSettingsPatch"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The Network settings.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkSettings"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted the request to update network settings."
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/publicEncryptionKey" : {
      "post" : {
        "tags" : [ "Managers" ],
        "description" : "Returns the public encryption key of the device.",
        "operationId" : "Managers_GetDevicePublicEncryptionKey",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
[...]
