{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "BillingManagementClient",
    "description" : "Billing client provides access to billing resources for Azure subscriptions.",
    "version" : "2019-10-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.Billing/billingAccounts" : {
      "get" : {
        "tags" : [ "BillingAccounts" ],
        "description" : "Lists all billing accounts for a user which he has access to.",
        "operationId" : "BillingAccounts_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "May be used to expand the address, invoiceSections and billingProfiles.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingAccountListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}" : {
      "get" : {
        "tags" : [ "BillingAccounts" ],
        "description" : "Get the billing account by id.",
        "operationId" : "BillingAccounts_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "May be used to expand the address, invoiceSections and billingProfiles.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingAccount"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "BillingAccounts" ],
        "description" : "The operation to update a billing account.",
        "operationId" : "BillingAccounts_Update",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request parameters supplied to the update billing account operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingAccountUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingAccount"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted. Billing account update is in progress."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/agreements" : {
      "get" : {
        "tags" : [ "Agreements" ],
        "description" : "Lists all agreements for a billing account.",
        "operationId" : "Agreements_ListByBillingAccount",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "May be used to expand the participants.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AgreementListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/agreements/{agreementName}" : {
      "get" : {
        "tags" : [ "Agreements" ],
        "description" : "Get the agreement by name.",
        "operationId" : "Agreements_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "agreementName",
          "in" : "path",
          "description" : "Agreement Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "May be used to expand the participants.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Agreement"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingPermissions" : {
      "get" : {
        "tags" : [ "BillingPermissions" ],
        "description" : "Lists all billing permissions for the caller under a billing account.",
        "operationId" : "BillingPermissions_ListByBillingAccount",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingPermissionsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles" : {
      "get" : {
        "tags" : [ "BillingProfiles" ],
        "description" : "Lists all billing profiles for a user which that user has access to.",
        "operationId" : "BillingProfiles_ListByBillingAccount",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "May be used to expand the invoiceSections.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingProfileListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}" : {
      "get" : {
        "tags" : [ "BillingProfiles" ],
        "description" : "Get the billing profile by id.",
        "operationId" : "BillingProfiles_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "May be used to expand the invoiceSections.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingProfile"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "BillingProfiles" ],
        "description" : "The operation to create a BillingProfile.",
        "operationId" : "BillingProfiles_Create",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request parameters supplied to the Create BillingProfile operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingProfileCreationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingProfile"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "headers" : {
              "Retry-After" : {
                "description" : "Recommends the retryable time after receiving this.",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Location" : {
                "description" : "Location URI to poll for result",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "BillingProfiles" ],
        "description" : "The operation to update a billing profile.",
        "operationId" : "BillingProfiles_Update",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request parameters supplied to the update billing profile operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingProfile"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingProfile"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted. Billing profile update is in progress.",
            "headers" : {
              "Retry-After" : {
                "description" : "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "GET this URL to retrieve the status of the asynchronous operation.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/availableBalance/default" : {
      "get" : {
        "tags" : [ "AvailableBalances" ],
        "description" : "The latest available credit balance for a given billingAccountName and billingProfileName.",
        "operationId" : "AvailableBalances_GetByBillingProfile",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailableBalance"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingPermissions" : {
      "get" : {
        "tags" : [ "BillingPermissions" ],
        "description" : "Lists all billing permissions the caller has for a billing account.",
        "operationId" : "BillingPermissions_ListByBillingProfile",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingPermissionsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleAssignments" : {
      "get" : {
        "tags" : [ "BillingRoleAssignments" ],
        "description" : "Get the role assignments on the Billing Profile",
        "operationId" : "BillingRoleAssignments_ListByBillingProfile",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingRoleAssignmentListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleAssignments/{billingRoleAssignmentName}" : {
      "get" : {
        "tags" : [ "BillingRoleAssignments" ],
        "description" : "Get the role assignment for the caller on the Billing Profile",
        "operationId" : "BillingRoleAssignments_GetByBillingProfile",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingRoleAssignmentName",
          "in" : "path",
          "description" : "role assignment id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingRoleAssignment"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BillingRoleAssignments" ],
        "description" : "Delete the role assignment on this Billing Profile",
        "operationId" : "BillingRoleAssignments_DeleteByBillingProfile",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingRoleAssignmentName",
          "in" : "path",
          "description" : "role assignment id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingRoleAssignment"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleDefinitions" : {
      "get" : {
        "tags" : [ "BillingRoleDefinitions" ],
        "description" : "Lists the role definition for a Billing Profile",
        "operationId" : "BillingRoleDefinitions_ListByBillingProfile",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingRoleDefinitionListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleDefinitions/{billingRoleDefinitionName}" : {
      "get" : {
        "tags" : [ "BillingRoleDefinitions" ],
        "description" : "Gets the role definition for a role",
        "operationId" : "BillingRoleDefinitions_GetByBillingProfile",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingRoleDefinitionName",
          "in" : "path",
          "description" : "role definition id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingRoleDefinition"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingSubscriptions" : {
      "get" : {
        "tags" : [ "BillingSubscriptions" ],
        "description" : "Lists billing subscriptions by billing profile name.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId" : "BillingSubscriptions_ListByBillingProfile",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingSubscriptionsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/createBillingRoleAssignment" : {
      "post" : {
        "tags" : [ "BillingRoleAssignments" ],
        "description" : "The operation to add a role assignment to a billing profile.",
        "operationId" : "BillingRoleAssignments_AddByBillingProfile",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to add a role assignment.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingRoleAssignmentPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Role assignment is successfully created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingRoleAssignmentListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers" : {
      "get" : {
        "tags" : [ "Customers" ],
        "description" : "Lists customers by billing profile which the current user can work with on-behalf of a partner.",
        "operationId" : "Customers_ListByBillingProfile",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "May be used to filter the list of customers.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skiptoken",
          "in" : "query",
          "description" : "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/initiateTransfer" : {
      "post" : {
        "tags" : [ "Transfers" ],
        "description" : "Initiates the request to transfer the legacy subscriptions or RIs.",
        "operationId" : "PartnerTransfers_Initiate",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerName",
          "in" : "path",
          "description" : "Customer name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to initiate the transfer.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InitiateTransferRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Initiated transfer details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransferDetails"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/transfers" : {
      "get" : {
        "tags" : [ "Transfers" ],
        "description" : "Lists all transfer's details initiated from given invoice section.",
        "operationId" : "PartnerTransfers_List",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerName",
          "in" : "path",
          "description" : "Customer name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of transfers initiated from this invoice section.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransferDetailsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/transfers/{transferName}" : {
      "get" : {
        "tags" : [ "Transfers" ],
        "description" : "Gets the transfer details for given transfer Id.",
        "operationId" : "PartnerTransfers_Get",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerName",
          "in" : "path",
          "description" : "Customer name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transferName",
          "in" : "path",
          "description" : "Transfer Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Details of transfer.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransferDetails"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Transfers" ],
        "description" : "Cancels the transfer for given transfer Id.",
        "operationId" : "PartnerTransfers_Cancel",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerName",
          "in" : "path",
          "description" : "Customer name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transferName",
          "in" : "path",
          "description" : "Transfer Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Details of canceled transfer.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransferDetails"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/instructions" : {
      "get" : {
        "tags" : [ "Instructions" ],
        "description" : "Lists the instructions by billing profile id.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId" : "Instructions_ListByBillingProfile",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InstructionListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/instructions/{instructionName}" : {
      "get" : {
        "tags" : [ "Instructions" ],
        "description" : "Get the instruction by name.",
        "operationId" : "Instructions_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "instructionName",
          "in" : "path",
          "description" : "Instruction Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Instruction"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Instructions" ],
        "description" : "The operation to create or update a instruction.",
        "operationId" : "Instructions_Put",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "instructionName",
          "in" : "path",
          "description" : "Instruction Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The new instruction.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Instruction"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Instruction"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections" : {
      "get" : {
        "tags" : [ "InvoiceSections" ],
        "description" : "Lists all invoice sections for a user which he has access to.",
        "operationId" : "InvoiceSections_ListByBillingProfile",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvoiceSectionListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}" : {
      "get" : {
        "tags" : [ "InvoiceSections" ],
        "description" : "Get the InvoiceSection by id.",
        "operationId" : "InvoiceSections_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvoiceSection"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "InvoiceSections" ],
        "description" : "The operation to create an invoice section.",
        "operationId" : "InvoiceSections_Create",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request parameters supplied to the Create InvoiceSection operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InvoiceSectionCreationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvoiceSection"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "headers" : {
              "Retry-After" : {
                "description" : "Recommends the retryable time after receiving this.",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Location" : {
                "description" : "Location URI to poll for result",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "InvoiceSections" ],
        "description" : "The operation to update a InvoiceSection.",
        "operationId" : "InvoiceSections_Update",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request parameters supplied to the Create InvoiceSection operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InvoiceSection"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvoiceSection"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted. InvoiceSection update is in progress.",
            "headers" : {
              "Retry-After" : {
                "description" : "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Location" : {
                "description" : "GET this URL to retrieve the status of the asynchronous operation.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingPermissions" : {
      "get" : {
        "tags" : [ "BillingPermissions" ],
        "description" : "Lists all billing permissions for the caller under invoice section.",
        "operationId" : "BillingPermissions_ListByInvoiceSections",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingPermissionsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingRoleAssignments" : {
      "get" : {
        "tags" : [ "BillingRoleAssignments" ],
        "description" : "Get the role assignments on the invoice Section",
        "operationId" : "BillingRoleAssignments_ListByInvoiceSection",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingRoleAssignmentListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingRoleAssignments/{billingRoleAssignmentName}" : {
      "get" : {
        "tags" : [ "BillingRoleAssignments" ],
        "description" : "Get the role assignment for the caller on the invoice Section",
        "operationId" : "BillingRoleAssignments_GetByInvoiceSection",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingRoleAssignmentName",
          "in" : "path",
          "description" : "role assignment id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingRoleAssignment"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BillingRoleAssignments" ],
        "description" : "Delete the role assignment on the invoice Section",
        "operationId" : "BillingRoleAssignments_DeleteByInvoiceSection",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingRoleAssignmentName",
          "in" : "path",
          "description" : "role assignment id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingRoleAssignment"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingRoleDefinitions" : {
      "get" : {
        "tags" : [ "BillingRoleDefinitions" ],
        "description" : "Lists the role definition for an invoice Section",
        "operationId" : "BillingRoleDefinitions_ListByInvoiceSection",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingRoleDefinitionListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingRoleDefinitions/{billingRoleDefinitionName}" : {
      "get" : {
        "tags" : [ "BillingRoleDefinitions" ],
        "description" : "Gets the role definition for a role",
        "operationId" : "BillingRoleDefinitions_GetByInvoiceSection",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingRoleDefinitionName",
          "in" : "path",
          "description" : "role definition id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingRoleDefinition"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingSubscriptions" : {
      "get" : {
        "tags" : [ "BillingSubscriptions" ],
        "description" : "Lists billing subscription by invoice section name.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId" : "BillingSubscriptions_ListByInvoiceSection",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingSubscriptionsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingSubscriptions/{billingSubscriptionName}" : {
      "get" : {
        "tags" : [ "BillingSubscriptions" ],
        "description" : "Get a single billing subscription by name.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId" : "BillingSubscriptions_Get",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingSubscriptionName",
          "in" : "path",
          "description" : "Billing Subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingSubscription"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingSubscriptions/{billingSubscriptionName}/transfer" : {
      "post" : {
        "description" : "Transfers the subscription from one invoice section to another within a billing account.",
        "operationId" : "BillingSubscriptions_Transfer",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingSubscriptionName",
          "in" : "path",
          "description" : "Billing Subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request parameters supplied to the Transfer Billing Subscription operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TransferBillingSubscriptionRequestProperties"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransferBillingSubscriptionResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted. Billing Subscription transfer is in progress.",
            "headers" : {
              "Retry-After" : {
                "description" : "Recommends the retryable time after receiving this.",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Location" : {
                "description" : "Location URI to poll for result.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingSubscriptions/{billingSubscriptionName}/validateTransferEligibility" : {
      "post" : {
        "description" : "Validates the transfer of billing subscriptions across invoice sections.",
        "operationId" : "BillingSubscriptions_ValidateTransfer",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingSubscriptionName",
          "in" : "path",
          "description" : "Billing Subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Transfer Billing Subscription operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TransferBillingSubscriptionRequestProperties"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ValidateSubscriptionTransferEligibilityResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/createBillingRoleAssignment" : {
      "post" : {
        "tags" : [ "BillingRoleAssignments" ],
        "description" : "The operation to add a role assignment to a invoice Section.",
        "operationId" : "BillingRoleAssignments_AddByInvoiceSection",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to add a role assignment.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingRoleAssignmentPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Role assignment is successfully created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingRoleAssignmentListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/elevate" : {
      "post" : {
        "tags" : [ "InvoiceSections" ],
        "description" : "Elevates the caller's access to match their billing profile access.",
        "operationId" : "InvoiceSections_ElevateToBillingProfile",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Elevated the caller's access to the invoice section."
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/initiateTransfer" : {
      "post" : {
        "tags" : [ "Transfers" ],
        "description" : "Initiates the request to transfer the legacy subscriptions or RIs.",
        "operationId" : "Transfers_Initiate",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to initiate the transfer.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InitiateTransferRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Initiated transfer details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransferDetails"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/products" : {
      "get" : {
        "tags" : [ "Products" ],
        "description" : "Lists products by invoice section name.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId" : "Products_ListByInvoiceSection",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "May be used to filter by product type. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/products/{productName}" : {
      "get" : {
        "tags" : [ "Products" ],
        "description" : "Get a single product by name.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId" : "Products_Get",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "productName",
          "in" : "path",
          "description" : "Invoice Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/products/{productName}/transfer" : {
      "post" : {
        "tags" : [ "Products" ],
        "description" : "The operation to transfer a Product to another invoice section.",
        "operationId" : "Products_Transfer",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "productName",
          "in" : "path",
          "description" : "Invoice Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Transfer Product operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TransferProductRequestProperties"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "headers" : {
              "Retry-After" : {
                "description" : "Recommends the retryable time after receiving this.",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Location" : {
                "description" : "Location URI to poll for result",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/products/{productName}/updateAutoRenew" : {
      "post" : {
        "tags" : [ "Products" ],
        "description" : "Cancel auto renew for product by product id and invoice section name",
        "operationId" : "Products_UpdateAutoRenewByInvoiceSection",
        "parameters" : [ {
          "name" : "billingAccountName",
          "in" : "path",
          "description" : "billing Account Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingProfileName",
          "in" : "path",
          "description" : "Billing Profile Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceSectionName",
          "in" : "path",
          "description" : "InvoiceSection Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "productName",
          "in" : "path",
          "description" : "Invoice Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-10-01-preview.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Update auto renew request parameters.",
          "content" : {
            "application/json" : {
              "schema" : {
[...]
