{"openapi":"3.0.1","info":{"title":"ComputeManagementClient","description":"The Compute Management Client.","version":"2019-04-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Compute/skus":{"get":{"tags":["Skus","AvailabilitySets"],"description":"Gets the list of Microsoft.Compute SKUs available for your Subscription.","operationId":"ResourceSkus_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceSkusResult"}}}}}}}},"components":{"schemas":{"ResourceSku":{"type":"object","properties":{"apiVersions":{"type":"array","description":"The api versions that support this SKU.","readOnly":true,"items":{"type":"string"}},"capabilities":{"type":"array","description":"A name value pair to describe the capability.","readOnly":true,"items":{"$ref":"#/components/schemas/ResourceSkuCapabilities"}},"capacity":{"$ref":"#/components/schemas/ResourceSkuCapacity"},"costs":{"type":"array","description":"Metadata for retrieving price info.","readOnly":true,"items":{"$ref":"#/components/schemas/ResourceSkuCosts"}},"family":{"type":"string","description":"The Family of this particular SKU.","readOnly":true},"kind":{"type":"string","description":"The Kind of resources that are supported in this SKU.","readOnly":true},"locationInfo":{"type":"array","description":"A list of locations and availability zones in those locations where the SKU is available.","readOnly":true,"items":{"$ref":"#/components/schemas/ResourceSkuLocationInfo"}},"locations":{"type":"array","description":"The set of locations that the SKU is available.","readOnly":true,"items":{"type":"string"}},"name":{"type":"string","description":"The name of SKU.","readOnly":true},"resourceType":{"type":"string","description":"The type of resource the SKU applies to.","readOnly":true},"restrictions":{"type":"array","description":"The restrictions because of which SKU cannot be used. This is empty if there are no restrictions.","readOnly":true,"items":{"$ref":"#/components/schemas/ResourceSkuRestrictions"}},"size":{"type":"string","description":"The Size of the SKU.","readOnly":true},"tier":{"type":"string","description":"Specifies the tier of virtual machines in a scale set.<br /><br /> Possible Values:<br /><br /> **Standard**<br /><br /> **Basic**","readOnly":true}},"description":"Describes an available Compute SKU."},"ResourceSkuCapabilities":{"type":"object","properties":{"name":{"type":"string","description":"An invariant to describe the feature.","readOnly":true},"value":{"type":"string","description":"An invariant if the feature is measured by quantity.","readOnly":true}},"description":"Describes The SKU capabilities object."},"ResourceSkuCapacity":{"type":"object","properties":{"default":{"type":"integer","description":"The default capacity.","format":"int64","readOnly":true},"maximum":{"type":"integer","description":"The maximum capacity that can be set.","format":"int64","readOnly":true},"minimum":{"type":"integer","description":"The minimum capacity.","format":"int64","readOnly":true},"scaleType":{"type":"string","description":"The scale type applicable to the sku.","readOnly":true,"enum":["Automatic","Manual","None"]}},"description":"Describes scaling information of a SKU."},"ResourceSkuCosts":{"type":"object","properties":{"extendedUnit":{"type":"string","description":"An invariant to show the extended unit.","readOnly":true},"meterID":{"type":"string","description":"Used for querying price from commerce.","readOnly":true},"quantity":{"type":"integer","description":"The multiplier is needed to extend the base metered cost.","format":"int64","readOnly":true}},"description":"Describes metadata for retrieving price info."},"ResourceSkuLocationInfo":{"type":"object","properties":{"location":{"type":"string","description":"Location of the SKU","readOnly":true},"zoneDetails":{"type":"array","description":"Details of capabilities available to a SKU in specific zones.","readOnly":true,"items":{"$ref":"#/components/schemas/ResourceSkuZoneDetails"}},"zones":{"type":"array","description":"List of availability zones where the SKU is supported.","readOnly":true,"items":{"type":"string"}}}},"ResourceSkuRestrictionInfo":{"type":"object","properties":{"locations":{"type":"array","description":"Locations where the SKU is restricted","readOnly":true,"items":{"type":"string"}},"zones":{"type":"array","description":"List of availability zones where the SKU is restricted.","readOnly":true,"items":{"type":"string"}}}},"ResourceSkuRestrictions":{"type":"object","properties":{"reasonCode":{"type":"string","description":"The reason for restriction.","readOnly":true,"enum":["QuotaId","NotAvailableForSubscription"]},"restrictionInfo":{"$ref":"#/components/schemas/ResourceSkuRestrictionInfo"},"type":{"type":"string","description":"The type of restrictions.","readOnly":true,"enum":["Location","Zone"]},"values":{"type":"array","description":"The value of restrictions. If the restriction type is set to location. This would be different locations where the SKU is restricted.","readOnly":true,"items":{"type":"string"}}},"description":"Describes scaling information of a SKU."},"ResourceSkuZoneDetails":{"type":"object","properties":{"capabilities":{"type":"array","description":"A list of capabilities that are available for the SKU in the specified list of zones.","readOnly":true,"items":{"$ref":"#/components/schemas/ResourceSkuCapabilities"}},"name":{"type":"array","description":"The set of zones that the SKU is available in with the specified capabilities.","readOnly":true,"items":{"type":"string"}}},"description":"Describes The zonal capabilities of a SKU."},"ResourceSkusResult":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page of Resource Skus. Call ListNext() with this URI to fetch the next page of Resource Skus"},"value":{"type":"array","description":"The list of skus available for the subscription.","items":{"$ref":"#/components/schemas/ResourceSku"}}},"description":"The List Resource Skus operation response."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}