{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "RecoveryServicesBackupClient",
    "version" : "2017-07-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs" : {
      "get" : {
        "tags" : [ "BackupJobs" ],
        "description" : "Provides a pageable list of jobs.",
        "operationId" : "BackupJobs_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter options.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "skipToken Filter.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JobResourceList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}" : {
      "get" : {
        "tags" : [ "JobDetails" ],
        "description" : "Gets exteded information associated with the job.",
        "operationId" : "JobDetails_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "jobName",
          "in" : "path",
          "description" : "Name of the job whose details are to be fetched.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JobResource"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    }
  },
  "components" : {
    "schemas" : {
      "AzureIaaSVMErrorInfo" : {
        "type" : "object",
        "properties" : {
          "errorCode" : {
            "type" : "integer",
            "description" : "Error code.",
            "format" : "int32"
          },
          "errorString" : {
            "type" : "string",
            "description" : "Localized error string."
          },
          "errorTitle" : {
            "type" : "string",
            "description" : "Title: Typically, the entity that the error pertains to."
          },
          "recommendations" : {
            "type" : "array",
            "description" : "List of localized recommendations for above error code.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Azure IaaS VM workload-specific error information."
      },
      "AzureIaaSVMJob" : {
        "properties" : {
          "actionsInfo" : {
            "type" : "array",
            "description" : "Gets or sets the state/actions applicable on this job like cancel/retry.",
            "items" : {
              "type" : "string",
              "enum" : [ "Invalid", "Cancellable", "Retriable" ]
            }
          },
          "duration" : {
            "type" : "string",
            "description" : "Time elapsed during the execution of this job.",
            "format" : "duration"
          },
          "errorDetails" : {
            "type" : "array",
            "description" : "Error details on execution of this job.",
            "items" : {
              "$ref" : "#/components/schemas/AzureIaaSVMErrorInfo"
            }
          },
          "extendedInfo" : {
            "$ref" : "#/components/schemas/AzureIaaSVMJobExtendedInfo"
          },
          "virtualMachineVersion" : {
            "type" : "string",
            "description" : "Specifies whether the backup item is a Classic or an Azure Resource Manager VM."
          }
        },
        "description" : "Azure IaaS VM workload-specifc job object.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Job"
        } ]
      },
      "AzureIaaSVMJobExtendedInfo" : {
        "type" : "object",
        "properties" : {
          "dynamicErrorMessage" : {
            "type" : "string",
            "description" : "Non localized error message on job execution."
          },
          "progressPercentage" : {
            "type" : "number",
            "description" : "Indicates progress of the job. Null if it has not started or completed.",
            "format" : "double"
          },
          "propertyBag" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Job properties."
          },
          "tasksList" : {
            "type" : "array",
            "description" : "List of tasks associated with this job.",
            "items" : {
              "$ref" : "#/components/schemas/AzureIaaSVMJobTaskDetails"
            }
          }
        },
        "description" : "Azure IaaS VM workload-specific additional information for job."
      },
      "AzureIaaSVMJobTaskDetails" : {
        "type" : "object",
        "properties" : {
          "duration" : {
            "type" : "string",
            "description" : "Time elapsed for task.",
            "format" : "duration"
          },
          "endTime" : {
            "type" : "string",
            "description" : "The end time.",
            "format" : "date-time"
          },
          "instanceId" : {
            "type" : "string",
            "description" : "The instanceId."
          },
          "progressPercentage" : {
            "type" : "number",
            "description" : "Progress of the task.",
            "format" : "double"
          },
          "startTime" : {
            "type" : "string",
            "description" : "The start time.",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "The status."
          },
          "taskId" : {
            "type" : "string",
            "description" : "The task display name."
          }
        },
        "description" : "Azure IaaS VM workload-specific job task details."
      },
      "DpmErrorInfo" : {
        "type" : "object",
        "properties" : {
          "errorString" : {
            "type" : "string",
            "description" : "Localized error string."
          },
          "recommendations" : {
            "type" : "array",
            "description" : "List of localized recommendations for above error code.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "DPM workload-specific error information."
      },
      "DpmJob" : {
        "properties" : {
          "actionsInfo" : {
            "type" : "array",
            "description" : "The state/actions applicable on this job like cancel/retry.",
            "items" : {
              "type" : "string",
              "enum" : [ "Invalid", "Cancellable", "Retriable" ]
            }
          },
          "containerName" : {
            "type" : "string",
            "description" : "Name of cluster/server protecting current backup item, if any."
          },
          "containerType" : {
            "type" : "string",
            "description" : "Type of container."
          },
          "dpmServerName" : {
            "type" : "string",
            "description" : "DPM server name managing the backup item or backup job."
          },
          "duration" : {
            "type" : "string",
            "description" : "Time elapsed for job.",
            "format" : "duration"
          },
          "errorDetails" : {
            "type" : "array",
            "description" : "The errors.",
            "items" : {
              "$ref" : "#/components/schemas/DpmErrorInfo"
            }
          },
          "extendedInfo" : {
            "$ref" : "#/components/schemas/DpmJobExtendedInfo"
          },
          "workloadType" : {
            "type" : "string",
            "description" : "Type of backup item."
          }
        },
        "description" : "DPM workload-specifc job object.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Job"
        } ]
      },
      "DpmJobExtendedInfo" : {
        "type" : "object",
        "properties" : {
          "dynamicErrorMessage" : {
            "type" : "string",
            "description" : "Non localized error message on job execution."
          },
          "propertyBag" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The job properties."
          },
          "tasksList" : {
            "type" : "array",
            "description" : "List of tasks associated with this job.",
            "items" : {
              "$ref" : "#/components/schemas/DpmJobTaskDetails"
            }
          }
        },
        "description" : "Additional information on the DPM workload-specific job."
      },
      "DpmJobTaskDetails" : {
        "type" : "object",
        "properties" : {
          "duration" : {
            "type" : "string",
            "description" : "Time elapsed for task.",
            "format" : "duration"
          },
          "endTime" : {
            "type" : "string",
            "description" : "The end time.",
            "format" : "date-time"
          },
          "startTime" : {
            "type" : "string",
            "description" : "The start time.",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "The status."
          },
          "taskId" : {
            "type" : "string",
            "description" : "The task display name."
          }
        },
        "description" : "DPM workload-specific job task details."
      },
      "Job" : {
        "required" : [ "jobType" ],
        "type" : "object",
        "properties" : {
          "activityId" : {
            "type" : "string",
            "description" : "ActivityId of job."
          },
          "backupManagementType" : {
            "type" : "string",
            "description" : "Backup management type to execute the current job.",
            "enum" : [ "Invalid", "AzureIaasVM", "MAB", "DPM", "AzureBackupServer", "AzureSql" ]
          },
          "endTime" : {
            "type" : "string",
            "description" : "The end time.",
            "format" : "date-time"
          },
          "entityFriendlyName" : {
            "type" : "string",
            "description" : "Friendly name of the entity on which the current job is executing."
          },
          "jobType" : {
            "type" : "string",
            "description" : "This property will be used as the discriminator for deciding the specific types in the polymorhpic chain of types."
          },
          "operation" : {
            "type" : "string",
            "description" : "The operation name."
          },
          "startTime" : {
            "type" : "string",
            "description" : "The start time.",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "Job status."
          }
        },
        "description" : "Defines workload agnostic properties for a job.",
        "discriminator" : {
          "propertyName" : "jobType"
        }
      },
      "JobQueryObject" : {
        "type" : "object",
        "properties" : {
          "backupManagementType" : {
            "type" : "string",
            "description" : "Type of backup managmenent for the job.",
            "enum" : [ "Invalid", "AzureIaasVM", "MAB", "DPM", "AzureBackupServer", "AzureSql" ]
          },
          "endTime" : {
            "type" : "string",
            "description" : "Job has ended at this time. Value is in UTC.",
            "format" : "date-time"
          },
          "jobId" : {
            "type" : "string",
            "description" : "JobID represents the job uniquely."
          },
          "operation" : {
            "type" : "string",
            "description" : "Type of operation.",
            "enum" : [ "Invalid", "Register", "UnRegister", "ConfigureBackup", "Backup", "Restore", "DisableBackup", "DeleteBackupData" ]
          },
          "startTime" : {
            "type" : "string",
            "description" : "Job has started at this time. Value is in UTC.",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "Status of the job.",
            "enum" : [ "Invalid", "InProgress", "Completed", "Failed", "CompletedWithWarnings", "Cancelled", "Cancelling" ]
          }
        },
        "description" : "Filters to list the jobs."
      },
      "JobResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/Job"
          }
        },
        "description" : "Defines workload agnostic properties for a job.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "JobResourceList" : {
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "List of resources.",
            "items" : {
              "$ref" : "#/components/schemas/JobResource"
            }
          }
        },
        "description" : "List of Job resources",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ResourceList"
        } ]
      },
      "MabErrorInfo" : {
        "type" : "object",
        "properties" : {
          "errorString" : {
            "type" : "string",
            "description" : "Localized error string."
          },
          "recommendations" : {
            "type" : "array",
            "description" : "List of localized recommendations.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "MAB workload-specific error information."
      },
      "MabJob" : {
        "properties" : {
          "actionsInfo" : {
            "type" : "array",
            "description" : "The state/actions applicable on jobs like cancel/retry.",
            "items" : {
              "type" : "string",
              "enum" : [ "Invalid", "Cancellable", "Retriable" ]
            }
          },
          "duration" : {
            "type" : "string",
            "description" : "Time taken by job to run.",
            "format" : "duration"
          },
          "errorDetails" : {
            "type" : "array",
            "description" : "The errors.",
            "items" : {
              "$ref" : "#/components/schemas/MabErrorInfo"
            }
          },
          "extendedInfo" : {
            "$ref" : "#/components/schemas/MabJobExtendedInfo"
          },
          "mabServerName" : {
            "type" : "string",
            "description" : "Name of server protecting the DS."
          },
          "mabServerType" : {
            "type" : "string",
            "description" : "Server type of MAB container.",
            "enum" : [ "Invalid", "Unknown", "IaasVMContainer", "IaasVMServiceContainer", "DPMContainer", "AzureBackupServerContainer", "MABContainer", "Cluster", "AzureSqlContainer", "Windows", "VCenter" ]
          },
          "workloadType" : {
            "type" : "string",
            "description" : "Workload type of backup item.",
            "enum" : [ "Invalid", "VM", "FileFolder", "AzureSqlDb", "SQLDB", "Exchange", "Sharepoint", "VMwareVM", "SystemState", "Client", "GenericDataSource" ]
          }
        },
        "description" : "MAB workload-specific job.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Job"
        } ]
      },
      "MabJobExtendedInfo" : {
        "type" : "object",
        "properties" : {
          "dynamicErrorMessage" : {
            "type" : "string",
            "description" : "Non localized error message specific to this job."
          },
          "propertyBag" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The job properties."
          },
          "tasksList" : {
            "type" : "array",
            "description" : "List of tasks for this job.",
            "items" : {
              "$ref" : "#/components/schemas/MabJobTaskDetails"
            }
          }
        },
        "description" : "Additional information for the MAB workload-specific job."
      },
      "MabJobTaskDetails" : {
        "type" : "object",
        "properties" : {
          "duration" : {
            "type" : "string",
            "description" : "Time elapsed for task.",
            "format" : "duration"
          },
          "endTime" : {
            "type" : "string",
            "description" : "The end time.",
            "format" : "date-time"
          },
          "startTime" : {
            "type" : "string",
            "description" : "The start time.",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "The status."
          },
          "taskId" : {
            "type" : "string",
            "description" : "The task display name."
          }
        },
        "description" : "MAB workload-specific job task details."
      },
      "Object" : {
        "type" : "object",
        "description" : "Base of all objects."
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "eTag" : {
            "type" : "string",
            "description" : "Optional ETag."
          },
          "id" : {
            "type" : "string",
            "description" : "Resource Id represents the complete path to the resource.",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Resource location."
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name associated with the resource.",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags."
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...",
            "readOnly" : true
          }
        },
        "description" : "ARM Resource."
      },
      "ResourceList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The uri to fetch the next page of resources. Call ListNext() fetches next page of resources."
          }
        },
        "description" : "Base for all lists of resources."
      }
    },
    "parameters" : {
      "ApiVersion" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupName" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group where the recovery services vault is present.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionId" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The subscription Id.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "VaultName" : {
        "name" : "vaultName",
        "in" : "path",
        "description" : "The name of the recovery services vault.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}