{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Cosmos DB",
    "description" : "Azure Cosmos DB Database Service Resource Provider REST API",
    "version" : "2019-08-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/privateLinkResources" : {
      "get" : {
        "tags" : [ "PrivateLinkResources" ],
        "description" : "Gets the private link resources that need to be created for a Cosmos DB account.",
        "operationId" : "PrivateLinkResources_ListByDatabaseAccount",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-08-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "Cosmos DB database account name.",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 3,
            "pattern" : "^[a-z0-9]+(-[a-z0-9]+)*",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved private link resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrivateLinkResourceListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/privateLinkResources/{groupName}" : {
      "get" : {
        "tags" : [ "PrivateLinkResources" ],
        "description" : "Gets the private link resources that need to be created for a Cosmos DB account.",
        "operationId" : "PrivateLinkResources_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-08-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "Cosmos DB database account name.",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 3,
            "pattern" : "^[a-z0-9]+(-[a-z0-9]+)*",
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "The name of the private link resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved a specified private link resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrivateLinkResource"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "PrivateLinkResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/PrivateLinkResourceProperties"
          }
        },
        "description" : "A private link resource",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "The unique resource identifier of the database account.",
              "readOnly" : true
            },
            "name" : {
              "type" : "string",
              "description" : "The name of the database account.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "The type of Azure resource.",
              "readOnly" : true
            }
          },
          "description" : "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags"
        } ]
      },
      "PrivateLinkResourceListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "Array of private link resources",
            "items" : {
              "$ref" : "#/components/schemas/PrivateLinkResource"
            }
          }
        },
        "description" : "A list of private link resources"
      },
      "PrivateLinkResourceProperties" : {
        "type" : "object",
        "properties" : {
          "groupId" : {
            "type" : "string",
            "description" : "The private link resource group id.",
            "readOnly" : true
          },
          "requiredMembers" : {
            "type" : "array",
            "description" : "The private link resource required member names.",
            "readOnly" : true,
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Properties of a private link resource."
      }
    },
    "parameters" : {
      "GroupNameParameter" : {
        "name" : "groupName",
        "in" : "path",
        "description" : "The name of the private link resource.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}