{"openapi":"3.0.1","info":{"title":"SportsData API","description":"The William Hill SportsData REST API is a collection of GET methods to provide William Hill product data such as sport, competition, event, market and selection data (including prices).","contact":{"name":"William Hill Labs","url":"http://developer.williamhill.com"},"version":"2"},"servers":[{"url":"https://sandbox.whapi.com/v2/sportsdata"}],"paths":{"/classes/{classId}/competitions/":{"get":{"tags":["sportsdata"],"summary":"Retrieves a list of competitions for a given class id.","description":"Retrieves a list of competitions for a given class id.","operationId":"getCompetitionsForClass","parameters":[{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"classId","in":"path","description":"The class id to retrieve information for.","required":true,"schema":{"pattern":"^(OB_CL\\d{1,7})$","type":"string"}},{"name":"isPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"displayed","in":"query","description":"Specify whether to return displayed entities or not","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"channel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"status","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"sort","in":"query","description":"The field to order the response by, followed by the order. For example: name,desc","schema":{"type":"string","default":"id,asc"}},{"name":"offset","in":"query","description":"Skip over a number of elements by specifying a start value for the query","schema":{"type":"integer","default":0}},{"name":"limit","in":"query","description":"Specify the number of results to return","schema":{"type":"integer","default":100}},{"name":"culture","in":"query","description":"Code used to return responses in language other than English, acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/competitionsWrapper"},"example":"{\n \"competitions\": [\n {\n \"id\": \"OB_TY1733\",\n \"name\": \"Manchester Senior Cup\",\n \"status\": \"A\"\n }\n ]\n}\n"}}},"400":{"description":"Incorrect or Missing Parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10070\",\n \"message\":\"Missing Parameter\",\n \"field\":\"apiKey\"\n }\n ]\n}\n"}}},"404":{"description":"No data found for request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10003\",\n \"message\":\"Resource Not Found\"\n }\n ]\n}\n"}}}}}},"/classes/{classId}/events/":{"get":{"tags":["sportsdata"],"summary":"Retrieves a list of events for a given class id.","description":"Retrieves a list of events for a given class id. 'includeAllDescendants' parameter should be accompanied with 'date' filter or one of 'dateFrom' and 'dateTo' filters.","operationId":"getEventsForClass","parameters":[{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"classId","in":"path","description":"The class id to retrieve information for.","required":true,"schema":{"pattern":"^(OB_CL\\d{1,7})$","type":"string"}},{"name":"isPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"displayed","in":"query","description":"Specify whether to return displayed entities or not","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"channel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"settled","in":"query","description":"Specify wether only settled entities should be returned","schema":{"type":"boolean"}},{"name":"includeEmpty","in":"query","description":"When declared as false it should exclude markets and events that have no selections / markets","schema":{"type":"boolean","default":true}},{"name":"status","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"sort","in":"query","description":"The field to order the response by, followed by the order. For example: name,desc","schema":{"type":"string","default":"id,asc"}},{"name":"offset","in":"query","description":"Skip over a number of elements by specifying a start value for the query","schema":{"type":"integer","default":0}},{"name":"limit","in":"query","description":"Specify the number of results to return","schema":{"type":"integer","default":100}},{"name":"headlineSummary","in":"query","description":"Return only headline markets (Markets with the lowest display order) Either 1 InPlay and 1 Pre-Match, or the amount specified in marketCount, if available. Markets and Outcomes will be returned.","schema":{"type":"boolean","default":false}},{"name":"includeAllDescendants","in":"query","description":"Include every descendant in the below heirarchy","schema":{"type":"boolean","default":false}},{"name":"isInPlay","in":"query","description":"Show only events that are in-play","schema":{"type":"boolean"}},{"name":"marketCount","in":"query","description":"Specify the number of markets to return when requesting headlineSummary. This count of InPlay and Pre-Match markets will be returned.For example, when specifying 1, 1 In Play and 1 Pre Match market will be returned.","schema":{"maximum":3,"minimum":1,"type":"integer","default":1}},{"name":"date","in":"query","description":"Return only events for the specified date (yyyy-MM-dd).","schema":{"pattern":"^(\\\\d{4})-(\\\\d{2})-(\\\\d{2})$","type":"string"}},{"name":"dateFrom","in":"query","description":"The UTC datetime from the events to be returned. (yyyy-MM-ddTHH:mm:ss)","schema":{"pattern":"^(\\\\d{4})-(\\\\d{2})-(\\\\d{2})T(\\\\d{2}):(\\\\d{2}):(\\\\d{2})$","type":"string"}},{"name":"dateTo","in":"query","description":"The UTC datetime TO the events to be returned. (yyyy-MM-ddTHH:mm:ss)","schema":{"pattern":"^(\\\\d{4})-(\\\\d{2})-(\\\\d{2})T(\\\\d{2}):(\\\\d{2}):(\\\\d{2})$","type":"string"}},{"name":"eventSort","in":"query","description":"Filter event by event sort","schema":{"type":"string"}},{"name":"culture","in":"query","description":"Code used to return responses in language other than English, acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}},{"name":"marketPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"marketStatus","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"marketDisplayed","in":"query","description":"Specify whether to return displayed entities or not","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"marketChannel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"marketSort","in":"query","description":"Filter by market sort (e.g. MR (match result) -- (Outright)).","schema":{"type":"string"}},{"name":"marketEW","in":"query","description":"Specify whether to return markets with each way betting or those without","schema":{"pattern":"(yes|no|Yes|No)","type":"string"}},{"name":"selectionStatus","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"selectionChannel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"selectionPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all)","type":"string","default":"yes"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/eventsWrapper"},"example":"{\n\"events\": [\n {\n \"id\": \"OB_EV2828\",\n \"name\": \"Forest Green Vs Liverpool\",\n \"status\": \"A\",\n \"startDateTime\": \"2016-01-29T20:00:00\"\n },\n {\n \"id\": \"OB_EV2829\",\n \"name\": \"XXXMan Utd Vs Man City\",\n \"status\": \"A\",\n \"startDateTime\": \"2016-01-07T11:00:00\"\n },\n {\n \"id\": \"OB_EV2849\",\n \"name\": \"Manchester Senior Cup - Winners 2015-16\",\n \"status\": \"A\",\n \"startDateTime\": \"2016-01-01T00:00:00\"\n }\n]\n}\n"}}},"400":{"description":"Incorrect or Missing Parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10070\",\n \"message\":\"Missing Parameter\",\n \"field\":\"apiKey\"\n }\n ]\n}\n"}}},"404":{"description":"No data found for request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10003\",\n \"message\":\"Resource Not Found\"\n }\n ]\n}\n"}}}}}},"/competitions/{competitionId}":{"get":{"tags":["sportsdata"],"summary":"Retrieves a specific competition","description":"Retrieves a specific competition","operationId":"getCompetition","parameters":[{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"competitionId","in":"path","description":"The competition id to retrieve information for.","required":true,"schema":{"pattern":"^(OB_TY\\d{1,7})$","type":"string"}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"culture","in":"query","description":"Code used to return responses in language other than English, acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/competition"},"example":"{\n \"id\": \"OB_TY1733\",\n \"name\": \"Manchester Senior Cup\",\n \"status\": \"A\"\n}\n"}}},"400":{"description":"Incorrect or Missing Parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10070\",\n \"message\":\"Missing Parameter\",\n \"field\":\"apiKey\"\n }\n ]\n}\n"}}},"404":{"description":"No data found for request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10003\",\n \"message\":\"Resource Not Found\"\n }\n ]\n}\n"}}}}}},"/competitions/{competitionId}/events/":{"get":{"tags":["sportsdata"],"summary":"Retrieves a list of events for a given competition id.","description":"Retrieves a list of events for a given competition id. 'headlineSummary' and includeAllDescendants parameters should be accompanied with 'date' filter or one of 'dateFrom' and 'dateTo' filters.","operationId":"getEventsForCompetition","parameters":[{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"competitionId","in":"path","description":"The competition id to retrieve information for.","required":true,"schema":{"pattern":"^(OB_TY\\d{1,7})$","type":"string"}},{"name":"isPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"displayed","in":"query","description":"Specify whether to return displayed entities or not","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"channel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"settled","in":"query","description":"Specify wether only settled entities should be returned","schema":{"type":"boolean"}},{"name":"includeEmpty","in":"query","description":"When declared as false it should exclude markets and events that have no selections / markets","schema":{"type":"boolean","default":true}},{"name":"status","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"sort","in":"query","description":"The field to order the response by, followed by the order. For example: name,desc","schema":{"type":"string","default":"id,asc"}},{"name":"offset","in":"query","description":"Skip over a number of elements by specifying a start value for the query","schema":{"type":"integer","default":0}},{"name":"limit","in":"query","description":"Specify the number of results to return","schema":{"type":"integer","default":100}},{"name":"headlineSummary","in":"query","description":"Return only headline markets (Markets with the lowest display order) Either 1 InPlay and 1 Pre-Match, or the amount specified in marketCount, if available. Markets and Outcomes will be returned.","schema":{"type":"boolean","default":false}},{"name":"includeAllDescendants","in":"query","description":"Include every descendant in the below heirarchy","schema":{"type":"boolean","default":false}},{"name":"isInPlay","in":"query","description":"Show only events that are in-play","schema":{"type":"boolean"}},{"name":"marketCount","in":"query","description":"Specify the number of markets to return when requesting headlineSummary. This count of InPlay and Pre-Match markets will be returned.For example, when specifying 1, 1 In Play and 1 Pre Match market will be returned.","schema":{"maximum":3,"minimum":1,"type":"integer","default":1}},{"name":"date","in":"query","description":"Return only events for the specified date (yyyy-MM-dd).","schema":{"pattern":"^(\\\\d{4})-(\\\\d{2})-(\\\\d{2})$","type":"string"}},{"name":"dateFrom","in":"query","description":"The UTC datetime from the events to be returned. (yyyy-MM-ddTHH:mm:ss)","schema":{"pattern":"^(\\\\d{4})-(\\\\d{2})-(\\\\d{2})T(\\\\d{2}):(\\\\d{2}):(\\\\d{2})$","type":"string"}},{"name":"dateTo","in":"query","description":"The UTC datetime TO the events to be returned. (yyyy-MM-ddTHH:mm:ss)","schema":{"pattern":"^(\\\\d{4})-(\\\\d{2})-(\\\\d{2})T(\\\\d{2}):(\\\\d{2}):(\\\\d{2})$","type":"string"}},{"name":"marketGroupId","in":"query","description":"Filter by marketGroupId (e.g. OB_MG1276585).","schema":{"type":"string"}},{"name":"eventSort","in":"query","description":"Filter event by event sort","schema":{"type":"string"}},{"name":"culture","in":"query","description":"Code used to return responses in language other than English, acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}},{"name":"marketPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"marketStatus","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"marketDisplayed","in":"query","description":"Specify whether to return displayed entities or not","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"marketChannel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"marketSort","in":"query","description":"Filter by market sort (e.g. MR (match result) -- (Outright)).","schema":{"type":"string"}},{"name":"marketEW","in":"query","description":"Specify whether to return markets with each way betting or those without","schema":{"pattern":"(yes|no|Yes|No)","type":"string"}},{"name":"selectionStatus","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"selectionChannel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"selectionPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all)","type":"string","default":"yes"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/eventsWrapper"},"example":"{\n\"events\": [\n {\n \"id\": \"OB_EV2828\",\n \"name\": \"Forest Green Vs Liverpool\",\n \"status\": \"A\",\n \"startDateTime\": \"2016-01-29T20:00:00\"\n },\n {\n \"id\": \"OB_EV2829\",\n \"name\": \"XXXMan Utd Vs Man City\",\n \"status\": \"A\",\n \"startDateTime\": \"2016-01-07T11:00:00\"\n },\n {\n \"id\": \"OB_EV2849\",\n \"name\": \"Manchester Senior Cup - Winners 2015-16\",\n \"status\": \"A\",\n \"startDateTime\": \"2016-01-01T00:00:00\"\n }\n]\n}\n"}}},"400":{"description":"Incorrect or Missing Parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10070\",\n \"message\":\"Missing Parameter\",\n \"field\":\"apiKey\"\n }\n ]\n}\n"}}},"404":{"description":"No data found for request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10003\",\n \"message\":\"Resource Not Found\"\n }\n ]\n}\n"}}}}}},"/competitions/{competitionId}/marketgroups/":{"get":{"tags":["sportsdata"],"summary":"Retrieves a list of market groups for a given competition id","description":"Retrieves a list of market groups for a given competition id","operationId":"getMarketGroupsForCompetition","parameters":[{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"competitionId","in":"path","description":"The competition id to retrieve information for.","required":true,"schema":{"pattern":"^(OB_TY\\d{1,7})$","type":"string"}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sort","in":"query","description":"The field to order the response by, followed by the order. For example: name,desc","schema":{"type":"string","default":"id,asc"}},{"name":"offset","in":"query","description":"Skip over a number of elements by specifying a start value for the query","schema":{"type":"integer","default":0}},{"name":"limit","in":"query","description":"Specify the number of results to return","schema":{"type":"integer","default":100}},{"name":"culture","in":"query","description":"Code used to return responses in language other than English, acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}},{"name":"name","in":"query","description":"Filter by market group name","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/marketGroupsWrapper"},"example":"{\n \"marketgroups\": [\n {\n \"id\": \"OB_MG36963\",\n \"name\": \"90 Minutes\"\n },\n {\n \"id\": \"OB_MG36964\",\n \"name\": \"Correct Score\"\n },\n {\n \"id\": \"OB_MG36966\",\n \"name\": \"First Goalscorer\"\n },\n {\n \"id\": \"OB_MG37004\",\n \"name\": \"Match Betting Live\"\n },\n {\n \"id\": \"OB_MG37043\",\n \"name\": \"Outright\"\n }\n ]\n}\n"}}},"400":{"description":"Incorrect or Missing Parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10070\",\n \"message\":\"Missing Parameter\",\n \"field\":\"apiKey\"\n }\n ]\n}\n"}}},"404":{"description":"No data found for request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10003\",\n \"message\":\"Resource Not Found\"\n }\n ]\n}\n"}}}}}},"/competitions/{competitionId}/marketsByGroupid":{"get":{"tags":["sportsdata"],"summary":"Retrieves a list of events/markets/selections where markets within said event match selected sort/groupId","description":"Retrieves a list of events/markets/selections where markets within said event match selected sort/groupId","operationId":"getMarketsByGroupId","parameters":[{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"competitionId","in":"path","description":"The competition id to retrieve information for.","required":true,"schema":{"pattern":"^(OB_TY\\d{1,7})$","type":"string"}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"marketSort","in":"query","description":"Filter by market sort (e.g. MR (match result) -- (Outright)).","required":true,"schema":{"type":"string"}},{"name":"marketGroupId","in":"query","description":"Filter by marketGroupId (e.g. OB_MG1276585).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/marketGroupsWrapper"},"example":"{\n \"events\": [\n\n {\n \"id\": \"OB_EV123\",\n \"name\": \"ManU v City\",\n \"markets\": {\n \"id\": \"OB_MA1234\",\n \"name\": \"90 Minutes\"\n \"selections\": {\n \"id\": \"OB_OU12345\",\n \"fractionalOdds\": \"2/1\"\n \n }\n }\n }\n ]\n}\n"}}},"400":{"description":"Incorrect or Missing Parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10070\",\n \"message\":\"Missing Parameter\",\n \"field\":\"apiKey\"\n }\n ]\n}\n"}}},"404":{"description":"No data found for request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10003\",\n \"message\":\"Resource Not Found\"\n }\n ]\n}\n"}}}}}},"/events/":{"get":{"tags":["sportsdata"],"summary":"Retrieves a list of events for the provided IDs.","description":"Retrieves a list of events for the provided IDs.","operationId":"getEvents","parameters":[{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"ids","in":"query","description":"A comma-separated list of selectionIds","style":"form","explode":false,"schema":{"maxItems":200,"minItems":1,"type":"array","items":{"pattern":"^(OB_OU\\d{1,7})$","type":"string"}}},{"name":"isPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"includeAllDescendants","in":"query","description":"Include every descendant in the below heirarchy","schema":{"type":"boolean","default":false}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"channel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"settled","in":"query","description":"Specify wether only settled entities should be returned","schema":{"type":"boolean"}},{"name":"includeEmpty","in":"query","description":"When declared as false it should exclude markets and events that have no selections / markets","schema":{"type":"boolean","default":true}},{"name":"headlineSummary","in":"query","description":"Return only headline markets (Markets with the lowest display order) Either 1 InPlay and 1 Pre-Match, or the amount specified in marketCount, if available. Markets and Outcomes will be returned.","schema":{"type":"boolean","default":false}},{"name":"marketCount","in":"query","description":"Specify the number of markets to return when requesting headlineSummary. This count of InPlay and Pre-Match markets will be returned.For example, when specifying 1, 1 In Play and 1 Pre Match market will be returned.","schema":{"maximum":3,"minimum":1,"type":"integer","default":1}},{"name":"sort","in":"query","description":"The field to order the response by, followed by the order. For example: name,desc","schema":{"type":"string","default":"id,asc"}},{"name":"offset","in":"query","description":"Skip over a number of elements by specifying a start value for the query","schema":{"type":"integer","default":0}},{"name":"limit","in":"query","description":"Specify the number of results to return","schema":{"type":"integer","default":100}},{"name":"marketIds","in":"query","description":"Comma-seaerated list of market IDs to filter by","style":"form","explode":false,"schema":{"type":"array","items":{"pattern":"^(OB_MA\\d{1,7})$","type":"string"}}},{"name":"culture","in":"query","description":"Code used to return responses in language other than English, acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}},{"name":"marketPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"marketStatus","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"marketDisplayed","in":"query","description":"Specify whether to return displayed entities or not","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"marketChannel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"marketSort","in":"query","description":"Filter by market sort (e.g. MR (match result) -- (Outright)).","schema":{"type":"string"}},{"name":"marketEW","in":"query","description":"Specify whether to return markets with each way betting or those without","schema":{"pattern":"(yes|no|Yes|No)","type":"string"}},{"name":"selectionStatus","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"selectionChannel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"selectionPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all)","type":"string","default":"yes"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/eventsWrapper"},"example":"{\n \"events\": [\n {\n \"id\": \"OB_EV2828\",\n \"name\": \"Forest Green Vs Liverpool\",\n \"status\": \"A\",\n \"startDateTime\": \"2016-01-29T20:00:00\",\n \"markets\": [\n {\n \"id\": \"OB_MA2559\",\n \"name\": \"Correct Score\",\n \"status\": \"A\",\n \"selections\": [\n {\n \"id\": \"OB_OU3863\",\n \"currentPriceNum\": 14,\n \"currentPriceDen\": 1,\n \"name\": \"Liverpool 2-1\",\n \"status\": \"A\"\n }\n ]\n }\n ]\n }\n ]\n}\n"}}},"400":{"description":"Incorrect or Missing Parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10070\",\n \"message\":\"Missing Parameter\",\n \"field\":\"apiKey\"\n }\n ]\n}\n"}}},"404":{"description":"No data found for request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10003\",\n \"message\":\"Resource Not Found\"\n }\n ]\n}\n"}}}}}},"/events/{eventId}":{"get":{"tags":["sportsdata"],"summary":"Retrieves a single event by ID.","description":"Retrieves a single event by ID.","operationId":"getEvent","parameters":[{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"eventId","in":"path","description":"The event ID to retrieve information for.","required":true,"schema":{"pattern":"^(OB_EV\\d{1,7})$","type":"string"}},{"name":"includeAllDescendants","in":"query","description":"Include every descendant in the below heirarchy","schema":{"type":"boolean","default":false}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"headlineSummary","in":"query","description":"Return only headline markets (Markets with the lowest display order) Either 1 InPlay and 1 Pre-Match, or the amount specified in marketCount, if available. Markets and Outcomes will be returned.","schema":{"type":"boolean","default":false}},{"name":"marketCount","in":"query","description":"Specify the number of markets to return when requesting headlineSummary. This count of InPlay and Pre-Match markets will be returned.For example, when specifying 1, 1 In Play and 1 Pre Match market will be returned.","schema":{"maximum":3,"minimum":1,"type":"integer","default":1}},{"name":"marketIds","in":"query","description":"Comma-seaerated list of market IDs to filter by","style":"form","explode":false,"schema":{"type":"array","items":{"pattern":"^(OB_MA\\d{1,7})$","type":"string"}}},{"name":"includeEmpty","in":"query","description":"When declared as false it should exclude markets and events that have no selections / markets","schema":{"type":"boolean","default":true}},{"name":"culture","in":"query","description":"Code used to return responses in language other than English, acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}},{"name":"marketPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"marketStatus","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"marketDisplayed","in":"query","description":"Specify whether to return displayed entities or not","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"marketChannel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"marketSort","in":"query","description":"Filter by market sort (e.g. MR (match result) -- (Outright)).","schema":{"type":"string"}},{"name":"marketEW","in":"query","description":"Specify whether to return markets with each way betting or those without","schema":{"pattern":"(yes|no|Yes|No)","type":"string"}},{"name":"selectionStatus","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"selectionChannel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"selectionPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all)","type":"string","default":"yes"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/eventsWrapper"},"example":"{\n \"events\": [\n {\n \"id\": \"OB_EV2828\",\n \"name\": \"Forest Green Vs Liverpool\",\n \"status\": \"A\",\n \"startDateTime\": \"2016-01-29T20:00:00\",\n \"markets\": [\n {\n \"id\": \"OB_MA2559\",\n \"name\": \"Correct Score\",\n \"status\": \"A\",\n \"selections\": [\n {\n \"id\": \"OB_OU3863\",\n \"currentPriceNum\": 14,\n \"currentPriceDen\": 1,\n \"name\": \"Liverpool 2-1\",\n \"status\": \"A\"\n }\n ]\n }\n ]\n }\n ]\n}\n"}}},"400":{"description":"Incorrect or Missing Parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10070\",\n \"message\":\"Missing Parameter\",\n \"field\":\"apiKey\"\n }\n ]\n}\n"}}},"404":{"description":"No data found for request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10003\",\n \"message\":\"Resource Not Found\"\n }\n ]\n}\n"}}}}}},"/events/{eventId}/competitors":{"get":{"tags":["competitors"],"summary":"Retrieves competitors for a single event by ID.","description":"Retrieves competitors for a single event by ID.","operationId":"getEventCompetitors","parameters":[{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"eventId","in":"path","description":"The event ID to retrieve information for.","required":true,"schema":{"pattern":"^(OB_EV\\d{1,7})$","type":"string"}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/eventCompetitorsWrapper"},"example":"{\n \"competitors\": \n [\n {\n \"id\": \"1\",\n \"name\": \"Springer Dinger\",\n \"age\": \"3\",\n \"drawNumber\": \"4\",\n \"jockeyName\": \"Atzeni, A\",\n \"weightPounds\": \"134\",\n \"silkImageUrl\": \"http://whdn.williamhill.com/content/sportsbook/silks/55336.gif\",\n \"trainerName\": \"Varian, R\",\n \"ownerName\": \"Sheikh Mohammed Obaid Al Maktoum\"\n \"colour\": \"grey\",\n \"sex\": \"Male\",\n \"formGuide\": \"4-2711\",\n \"rating\": \"27\",\n \"overview\":\n {\n \"runner\":\"Good pedigree; took him five times to click but won his Lingfield novice nicely in the end and duly confirmed himself progressive by following up at Newmarket, again over 7f (good ground); pace was true there so form looks okay and rates a danger to all off 6lb higher.\"\n \"sire\":\"top-class 2yo over 6-7f inc Phoenix S. Lagardere; sire of Group winners; good record with fillies\",\n }\n ]\n}\n"}}},"400":{"description":"Incorrect or Missing Parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10070\",\n \"message\":\"Missing Parameter\",\n \"field\":\"apiKey\"\n }\n ]\n}\n"}}},"404":{"description":"No data found for request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10003\",\n \"message\":\"Resource Not Found\"\n }\n ]\n}\n"}}}}}},"/events/{eventId}/markets/":{"get":{"tags":["sportsdata"],"summary":"Gets one or more specific markets","description":"Retrieves one or more specific markets. Markets with Live at the end are always In-Play markets. However, not ALL In-Play markets have Live at the end of the market name.","operationId":"getMarkets","parameters":[{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"eventId","in":"path","description":"The event ID to retrieve information for.","required":true,"schema":{"pattern":"^(OB_EV\\d{1,7})$","type":"string"}},{"name":"ids","in":"query","description":"A comma-separated list of selectionIds","style":"form","explode":false,"schema":{"maxItems":200,"minItems":1,"type":"array","items":{"pattern":"^(OB_OU\\d{1,7})$","type":"string"}}},{"name":"includeAllDescendants","in":"query","description":"Include every descendant in the below heirarchy","schema":{"type":"boolean","default":false}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"includeEmpty","in":"query","description":"When declared as false it should exclude markets and events that have no selections / markets","schema":{"type":"boolean","default":true}},{"name":"culture","in":"query","description":"Code used to return responses in language other than English, acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}},{"name":"marketPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"marketStatus","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"marketDisplayed","in":"query","description":"Specify whether to return displayed entities or not","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"marketChannel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"marketSort","in":"query","description":"Filter by market sort (e.g. MR (match result) -- (Outright)).","schema":{"type":"string"}},{"name":"marketEW","in":"query","description":"Specify whether to return markets with each way betting or those without","schema":{"pattern":"(yes|no|Yes|No)","type":"string"}},{"name":"selectionStatus","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"selectionChannel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"selectionPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all)","type":"string","default":"yes"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/marketsWrapper"},"example":"{\n \"markets\": [\n {\n \"id\": \"OB_MA2493\",\n \"name\": \"90 Minutes\",\n \"status\": \"A\"\n },\n {\n \"id\": \"OB_MA2559\",\n \"name\": \"Correct Score\",\n \"status\": \"A\"\n }\n ]\n}\n"}}},"400":{"description":"Incorrect or Missing Parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10070\",\n \"message\":\"Missing Parameter\",\n \"field\":\"apiKey\"\n }\n ]\n}\n"}}},"404":{"description":"No data found for request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10003\",\n \"message\":\"Resource Not Found\"\n }\n ]\n}\n"}}}}}},"/events/{eventId}/markets/{marketId}/selections/":{"get":{"tags":["sportsdata"],"summary":"Gets one or more selections for a market","description":"Retrieves one or more selections for a market","operationId":"getSelections","parameters":[{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"eventId","in":"path","description":"The event ID to retrieve information for.","required":true,"schema":{"pattern":"^(OB_EV\\d{1,7})$","type":"string"}},{"name":"marketId","in":"path","description":"The market id to retrieve information for","required":true,"schema":{"pattern":"^(OB_MA\\d{1,7})$","type":"string"}},{"name":"ids","in":"query","description":"A comma-separated list of selectionIds","style":"form","explode":false,"schema":{"maxItems":200,"minItems":1,"type":"array","items":{"pattern":"^(OB_OU\\d{1,7})$","type":"string"}}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"culture","in":"query","description":"Code used to return responses in language other than English, acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}},{"name":"selectionStatus","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"selectionChannel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"selectionPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all)","type":"string","default":"yes"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/selectionsWrapper"},"example":"{\n \"selections\": [\n {\n \"id\": \"OB_OU3863\",\n \"currentPriceNum\": 14,\n \"currentPriceDen\": 1,\n \"name\": \"Liverpool 2-1\",\n \"status\": \"A\"\n },\n {\n \"id\": \"OB_OU3846\",\n \"currentPriceNum\": 11,\n \"currentPriceDen\": 2,\n \"name\": \"Forest Green 1-0\",\n \"status\": \"A\"\n }\n}\n"}}},"400":{"description":"Incorrect or Missing Parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10070\",\n \"message\":\"Missing Parameter\",\n \"field\":\"apiKey\"\n }\n ]\n}\n"}}},"404":{"description":"No data found for request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10003\",\n \"message\":\"Resource Not Found\"\n }\n ]\n}\n"}}}}}},"/sports/":{"get":{"tags":["sportsdata"],"summary":"Gets a list of all sports","description":"Gets a list of all sports","operationId":"getSports","parameters":[{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"sort","in":"query","description":"The field to order the response by, followed by the order. For example: name,desc","schema":{"type":"string","default":"id,asc"}},{"name":"offset","in":"query","description":"Skip over a number of elements by specifying a start value for the query","schema":{"type":"integer","default":0}},{"name":"isPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"limit","in":"query","description":"Specify the number of results to return","schema":{"type":"integer","default":100}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"culture","in":"query","description":"Code used to return responses in language other than English, acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sportsWrapper"},"example":"{\n \"sports\": [\n {\n \"id\": \"OB_SP43\",\n \"name\": \"Horse Racing\"\n },\n {\n \"id\": \"OB_SP9\",\n \"name\": \"Football\"\n }\n ]\n}\n"}}},"400":{"description":"Incorrect or Missing Parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"000000\",\n \"message\":\"Error Message Text\",\n \"field\":\"aparam\"\n }\n ]\n}\n"}}},"404":{"description":"No data found for request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10003\",\n \"message\":\"Resource Not Found\"\n }\n ]\n}\n"}}}}}},"/sports/{sportId}/classes/":{"get":{"tags":["sportsdata"],"summary":"Retrieves a list of classes for a given sport id.","description":"Retrieves a list of classes for a given sport id.","operationId":"getClassesForSport","parameters":[{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"sportId","in":"path","description":"The sport id to retrieve information for.","required":true,"schema":{"pattern":"^(OB_SP\\d{1,7})$","type":"string"}},{"name":"isPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"displayed","in":"query","description":"Specify whether to return displayed entities or not","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"channel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"status","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"sort","in":"query","description":"The field to order the response by, followed by the order. For example: name,desc","schema":{"type":"string","default":"id,asc"}},{"name":"offset","in":"query","description":"Skip over a number of elements by specifying a start value for the query","schema":{"type":"integer","default":0}},{"name":"limit","in":"query","description":"Specify the number of results to return","schema":{"type":"integer","default":100}},{"name":"culture","in":"query","description":"Code used to return responses in language other than English, acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/classesWrapper"},"example":"{\n \"classes\": [\n {\n \"id\": \"OB_CL1\",\n \"name\": \"UK Football\",\n \"status\": \"A\"\n }\n ]\n}\n"}}},"400":{"description":"Incorrect or Missing Parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10070\",\n \"message\":\"Missing Parameter\",\n \"field\":\"apiKey\"\n }\n ]\n}\n"}}},"404":{"description":"No data found for request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10003\",\n \"message\":\"Resource Not Found\"\n }\n ]\n}\n"}}}}}},"/sports/{sportId}/competitions/":{"get":{"tags":["sportsdata"],"summary":"Retrieves a list of competitions for a given sport id.","description":"Retrieves a list of competitions for a given sport id.","operationId":"getCompetitionsForSport","parameters":[{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"sportId","in":"path","description":"The sport id to retrieve information for.","required":true,"schema":{"pattern":"^(OB_SP\\d{1,7})$","type":"string"}},{"name":"isPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"displayed","in":"query","description":"Specify whether to return displayed entities or not","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},{"name":"channel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},{"name":"status","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},{"name":"sort","in":"query","description":"The field to order the response by, followed by the order. For example: name,desc","schema":{"type":"string","default":"id,asc"}},{"name":"offset","in":"query","description":"Skip over a number of elements by specifying a start value for the query","schema":{"type":"integer","default":0}},{"name":"limit","in":"query","description":"Specify the number of results to return","schema":{"type":"integer","default":100}},{"name":"culture","in":"query","description":"Code used to return responses in language other than English, acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/competitionsWrapper"},"example":"{\n \"competitions\": [\n {\n \"id\": \"OB_TY1733\",\n \"name\": \"Manchester Senior Cup\",\n \"status\": \"A\"\n }\n ]\n}\n"}}},"400":{"description":"Incorrect or Missing Parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10070\",\n \"message\":\"Missing Parameter\",\n \"field\":\"apiKey\"\n }\n ]\n}\n"}}},"404":{"description":"No data found for request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : [\n {\n \"code\":\"10003\",\n \"message\":\"Resource Not Found\"\n }\n ]\n}\n"}}}}}},"/topbets/":{"get":{"tags":["sportsdata"],"summary":"Retrieves a weighted list of Selections.","description":"Retrieves a weighted list of Selections.","operationId":"getTopBets","parameters":[{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"sportIds","in":"query","description":"A comma-separated list of sportsIds for which to retrieve topBets for","style":"form","explode":false,"schema":{"maxItems":10,"minItems":1,"type":"array","items":{"pattern":"^(OB_SP\\d+)(,OB_SP\\d+)*$","type":"string"}}},{"name":"competitionIds","in":"query","description":"A comma-separated list of competitionIds for which to retrieve topBets for","style":"form","explode":false,"schema":{"maxItems":10,"minItems":1,"type":"array","items":{"pattern":"^(OB_TY\\d+)$","type":"string"}}},{"name":"limit","in":"query","description":"Specify the number of results to return","schema":{"type":"integer","default":100}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"param_topBetEventId","in":"query","description":"The event ID to retrieve top bet information for. Multiple events up to 5 may be used","schema":{"pattern":"^(OB_EV\\d{1,7})$","type":"string"}},{"name":"sortName","in":"query","description":"The market sort code used to further filter event results. Please note this can only be used with event id(s).","schema":{"type":"string"}},{"name":"culture","in":"query","description":"Code used to return responses in language other than English, acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}},{"name":"Locale","in":"query","description":"Code used to select a set of top bets settings, default is \"whapi\" which allows events set in far future to be included, setting the value to \"en-GB\" will activate english sportsbook settings, mirroring top bets on the website, which restricts events returned to those taking place in next 36 hours. Acceptable values (not all heve their own settings - if none currently available for that locale - en-GB will be used) are de-DE|whapi|en-GB|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/topBetsWrapper"},"example":"{\n bets:\n {\n weight: \"\",\n sports:\n {\n isPublished:true,\n id: \"\",\n name: \"\"\n },\n competitions:\n {\n isPublished: true,\n parentIds: [\"\",\"\"],\n betInRunningDelay:9\n description:\"The description of the competition\"\n cashinAvailable:true,\n channels:[\"\",\"\"],\n displayed:true,\n flags:[\"\",\"\"],\n id:\"\",\n name:\"\",\n order: 1,\n status:\"A\"\n },\n events:\n {\n isPublished: true,\n parentIds:[\"\",\"\"],\n bettingStatus:\"\",\n betInRunningDelay:5,\n description:\"The description of the event\",\n cashinAvailable: true,\n channels:[\"\",\"\"],\n country: \"\",\n displayed: true, \n flags: [\"\",\"\"], \n hasInPlayMarkets:true,\n hasLivePrices:true,\n id: \"\",\n isInPlay:true,\n marketCountActiveInPlay:2, \n marketCountActivePreMatch: 3,\n marketCountActiveTotal:9,\n marketCountInPlay:6,\n marketCountPreMatch:2,\n name:\"6:10 Windsor\",\n order:4, \n raceNum:\"\", \n settled: true,\n eventSort:\"\",\n startDateTime:\"\",\n status:\"A\",\n markets:\n [ \n {\n isPublished:true,\n parentIds:[\"\",\"\"],\n antepostMarket:true,\n betInRunningDelay:4,\n description:\"Additional market information\",\n channels:\"\",\n displayed:true,\n eachWay: true,\n eachWayFactorDen:5, \n eachWayFactorNum:1,\n eachWayPlaces:3,\n earlyPriceAvailable:true,\n firstFourAvailable:true,\n firstPriceAvailable:true,\n flags:\"\",\n bestOddsGuaranteed:true,\n isInPlayMarket: true,\n hcapMakeup:5,\n hcapValue: 5,\n id:\"OB_MA1\",\n livePriceAvailable:true,\n marketGroupCollectionId:\"\",\n marketGroupId:\"\",\n marketGroupName:\"\",\n name:\"\",\n order:\"5\",\n quinellaAvailable:true,\n settled:true,\n marketSort:\"\",\n startingPriceAvailable:true,\n status:\"A\",\n selections:\n [\n {\n parentIds:[\"\",\"\"],\n isPublished:true,\n description:\"\",\n cashinPriceNum:5,\n cashinPriceDen:4,\n channels:[\"\",\"\"],\n csAway:5,\n csHome:5,\n currentPriceNum:5,\n currentPriceDen:5,\n displayed:true,\n resultType:\"\",\n id:\"\",\n name:\"\",\n order:5,\n result:\"\",\n runnerNum:5,\n settled:true,\n status:\"A\",\n oddsDecimal:1.1,\n resultType:\"\",\n priceFormatted:\n {\n fractional:\"EVS\",\n decimal:2,\n american:\"+100\"\n } \n }\n ]\n }\n ],\n markets:\n {\n isPublished:true,\n parentIds:[\"\",\"\"],\n antepostMarket:true,\n betInRunningDelay:4,\n description:\"Additional market information\",\n channels:\"\",\n displayed:true,\n eachWay: true,\n eachWayFactorDen:5, \n eachWayFactorNum:1,\n eachWayPlaces:3,\n earlyPriceAvailable:true,\n firstFourAvailable:true,\n firstPriceAvailable:true,\n flags:\"\",\n bestOddsGuaranteed:true,\n isInPlayMarket: true,\n hcapMakeup:5,\n hcapValue: 5,\n id:\"OB_MA1\",\n livePriceAvailable:true,\n marketGroupCollectionId:\"\",\n marketGroupId:\"\",\n marketGroupName:\"\",\n name:\"\",\n order:\"5\",\n quinellaAvailable:true,\n settled:true,\n marketSort:\"\",\n startingPriceAvailable:true,\n status:\"A\",\n selections:\n [\n {\n parentIds:[\"\",\"\"],\n isPublished:true,\n description:\"\",\n cashinPriceNum:5,\n cashinPriceDen:4,\n channels:[\"\",\"\"],\n csAway:5,\n csHome:5,\n currentPriceNum:5,\n currentPriceDen:5,\n displayed:true,\n resultType:\"\",\n id:\"\",\n name:\"\",\n order:5,\n result:\"\",\n runnerNum:5,\n settled:true,\n status:\"A\",\n oddsDecimal:1.1,\n priceFormatted:\n {\n fractional:\"EVS\",\n decimal:2,\n american:\"+100\"\n } \n }\n ]\n },\n selections:\n {\n parentIds:[\"\",\"\"],\n isPublished:true,\n description:\"\",\n cashinPriceNum:5,\n cashinPriceDen:4,\n channels:[\"\",\"\"],\n csAway:5,\n csHome:5,\n currentPriceNum:5,\n currentPriceDen:5,\n displayed:true,\n resultType:\"\",\n id:\"\",\n name:\"\",\n order:5,\n result:\"\",\n runnerNum:5,\n settled:true,\n status:\"A\",\n oddsDecimal:1.1,\n resultType:\"\",\n priceFormatted:\n {\n fractional:\"EVS\",\n decimal:2,\n american:\"+100\"\n } \n }\n }\n}\n"}}},"500":{"description":"Server Error: Something went wrong","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorsWrapper"},"example":"{\n \"errors\" : \n [\n {\n \"code\":\"10000\",\n \"message\":\"Server Error\", \n }\n ]\n}\n"}}}}}}},"components":{"schemas":{"class":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string","description":"The Id of the Class"},"isPublished":{"type":"boolean","description":"Indicates if the item is published"},"name":{"type":"string","description":"The description of the Class"},"status":{"type":"string","description":"Indicates if the class is (A)ctive or (S)uspended"}}},"classesWrapper":{"type":"object","properties":{"classes":{"type":"array","items":{"$ref":"#/components/schemas/class"}}}},"competition":{"required":["id","name","status"],"type":"object","properties":{"betInRunningDelay":{"type":"number","description":"Delay in seconds between bet being sent and bet being placed","format":"integer"},"cashinAvailable":{"type":"boolean","description":"Indicates whether cashin is available on the events of this competition"},"channels":{"type":"array","description":"A list of channels that apply to this competition","items":{"type":"string"}},"description":{"type":"string","description":"The description of the competition"},"displayed":{"type":"boolean","description":"Whether the competition should be displayed or not"},"flags":{"type":"array","description":"A list of flags that apply to this competition","items":{"type":"string"}},"id":{"type":"string","description":"The Id of the Competition"},"isPublished":{"type":"boolean","description":"Indicates if the item is published or not"},"name":{"type":"string","description":"The name of the competition"},"order":{"type":"integer","description":"The display order of the competition","format":"integer"},"parentIds":{"type":"array","description":"A list of IDs of parent entities","items":{"type":"string"}},"status":{"type":"string","description":"The status of the competition (A for Active, S for Suspended)"}}},"competitionsWrapper":{"type":"object","properties":{"competitions":{"type":"array","items":{"$ref":"#/components/schemas/competition"}}}},"competitor":{"required":["id","silkImageUrl"],"type":"object","properties":{"age":{"type":"number","description":"The age of the horse"},"colour":{"type":"string","description":"The colour of the horse (There are 5 colours. b = Bay. bl = Black. br = Brown. ch = Chestnut. gr = Grey)"},"drawNumber":{"type":"number","description":"The stall number that the horse is allocated and will start from"},"formGuide":{"type":"string","description":"The form of a horse is a record of significant events, mainly its performance in previous races. For example: The value 874-1 means that the horse finished 8th, then 7th in the next race, then 4th, hyphen here means he did not finish in the race, and was 1st in the last race he was running in."},"id":{"type":"number","description":"Unique identifier of the competitor in the event"},"jockeyName":{"type":"string","description":"The name of the Jockey who's riding the horse"},"name":{"type":"string","description":"The name of competitor that the information is being given for"},"overview":{"type":"string","description":"Additional information about the horse's performance"},"ownerName":{"type":"string","description":"The name of the horses owner(s)"},"rating":{"type":"string","description":"The rating of the horse which is defined by a rating provider. It represents the horse's performance (the higher the rating, the better the horse is)"},"sex":{"type":"string","description":"The sex of the horse (F|M)"},"silkImageUrl":{"type":"string","description":"The URL for the image that represents the 'silk' (Coathing pattern) worn by the jockey."},"trainerName":{"type":"string","description":"The name of the horses trainer"},"weightPounds":{"type":"string","description":"The rider weight (in pounds)"}}},"error":{"type":"object","properties":{"code":{"type":"string","description":"The William Hill API Error Code"},"field":{"type":"string","description":"Optional field to point to the field with an error"},"message":{"type":"string","description":"A String describing the error"}}},"errorsWrapper":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}}}},"event":{"required":["id","name","startDateTime","status"],"type":"object","properties":{"betInRunningDelay":{"type":"number","description":"Delay in seconds between bet being sent and bet being placed","format":"integer"},"bettingStatus":{"type":"string","description":"Betting status of the event"},"cashinAvailable":{"type":"boolean","description":"Whether cashin is available on this event"},"channels":{"type":"array","description":"A list of channels that apply to this event","items":{"type":"string"}},"country":{"type":"string","description":"A string indicating the country code of this event if available"},"description":{"type":"string","description":"The description of the event"},"displayed":{"type":"boolean","description":"whether the event should be displayed or not"},"eventSort":{"type":"string","description":"What type of event is this? (e.g. MTCH, TRNMT)"},"flags":{"type":"array","description":"A list of flags that apply to this event","items":{"type":"string"}},"hasInPlayMarkets":{"type":"boolean","description":"Whether this event has inplay markets"},"hasLivePrices":{"type":"boolean","description":"Whether this event has Live Prices"},"id":{"type":"string","description":"The Id of the event"},"isInPlay":{"type":"boolean","description":"Whether this event has started and therefore is inplay"},"isPublished":{"type":"boolean","description":"Indicates if the item is published"},"marketCountActiveInPlay":{"type":"number","description":"Count of active markets in play","format":"integer"},"marketCountActivePreMatch":{"type":"number","description":"count of active market pre-match","format":"integer"},"marketCountActiveTotal":{"type":"number","description":"Total market count","format":"integer"},"marketCountInPlay":{"type":"number","description":"Total inplay markets","format":"integer"},"marketCountPreMatch":{"type":"number","description":"Total prematch markets","format":"integer"},"markets":{"type":"array","description":"A list of markets belonging to this event","items":{"$ref":"#/components/schemas/market"}},"name":{"type":"string","description":"The name of the event"},"order":{"type":"number","description":"Display order of the event","format":"integer"},"parentIds":{"type":"array","description":"A list of IDs of parent entities","items":{"type":"string"}},"raceNum":{"type":"string","description":"Race number for race events"},"settled":{"type":"boolean","description":"Whether the event has been settled"},"startDateTime":{"type":"string","description":"The start date and time of the event"},"status":{"type":"string","description":"Status of the event (A for Active, S for Suspended)"}}},"eventCompetitorsWrapper":{"type":"object","properties":{"competitors":{"type":"array","items":{"$ref":"#/components/schemas/competitor"}}}},"eventsWrapper":{"type":"object","properties":{"events":{"type":"array","items":{"$ref":"#/components/schemas/event"}}}},"market":{"required":["id","name","status"],"type":"object","properties":{"antepostMarket":{"type":"boolean","description":"Antepost Market"},"bestOddsGuaranteed":{"type":"boolean","description":"BOG Available"},"betInRunningDelay":{"type":"number","format":"integer"},"channels":{"type":"string","description":"A channel indicates where an entry can be accessed. Its made up of a string containing a number of characters"},"description":{"type":"string","description":"Additional market information"},"displayed":{"type":"boolean","description":"Indicates if the item should be displayed"},"eachWay":{"type":"boolean","description":"Indicates if each way betting is available"},"eachWayFactorDen":{"type":"number","description":"Where each way terms are stored with the bet, this holds the denominator for the each way\nfactor. For example, if the each way terms are: 5 places pay ¼, this value will be 4","format":"integer"},"eachWayFactorNum":{"type":"number","description":"Where each way terms are stored with the bet, this holds the numerator for the each way\nfactor. For example, if the each way terms are: 5 places pay ¼, this value will be 1","format":"integer"},"eachWayPlaces":{"type":"number","description":"Where each way terms are stored with the bet, this holds the number of places paid. For\nexample, if the each way terms are: 5 places pay ¼, this value will be 5","format":"integer"},"earlyPriceAvailable":{"type":"boolean","description":"Early Pricing Active"},"fcAvailable":{"type":"boolean","description":"Is tricast betting available"},"firstFourAvailable":{"type":"boolean","description":"Is firstFour betting available"},"firstPriceAvailable":{"type":"boolean","description":"Is firstPrice betting available"},"flags":{"type":"string","description":"Flags for the market"},"hcapMakeup":{"type":"number","description":"Handicap score","format":"integer"},"hcapValue":{"type":"number","description":"This value indicates the current handicap set on the Event Market, assuming it has a handicap type.","format":"integer"},"id":{"type":"string","description":"ID (e.g. OB_MA{id} (e.g. OB_MA1), OB_SP (Sport), OB_CL (Class), OB_TY (Competition / type), OB_EV (event) OB_MA (Market), OB_OU (Selection / outcome)"},"isInPlayMarket":{"type":"boolean","description":"Is this an in-play market"},"isPublished":{"type":"boolean","description":"Indicates if the item is published"},"livePriceAvailable":{"type":"boolean","description":"Live Price"},"marketGroupCollectionId":{"type":"string","description":"The collectionId of the Market Group inherited from"},"marketGroupId":{"type":"string","description":"The group id the market was inherited from"},"marketGroupName":{"type":"string","description":"The group name the market was inherited from"},"marketSort":{"type":"string","description":"The sort defines the market template"},"name":{"type":"string","description":"Human-friendly name of the market"},"order":{"type":"number","description":"Display order of the items (Ascending)","format":"integer"},"parentIds":{"type":"array","description":"A list of IDs of parent entities","items":{"type":"string"}},"quinellaAvailable":{"type":"boolean","description":"Is firstFour betting available"},"selections":{"type":"array","description":"A list of selections belonging to the market","items":{"$ref":"#/components/schemas/selection"}},"settled":{"type":"boolean","description":"Whether the market is settled or not"},"startingPriceAvailable":{"type":"boolean","description":"Starting Price Available"},"status":{"type":"string","description":"Indicates the status of the Market (A = Active/S = Suspended)"},"tcAvailable":{"type":"boolean","description":"Is forecast betting available"}}},"marketGroupsWrapper":{"type":"object","properties":{"marketGroups":{"type":"array","items":{"$ref":"#/components/schemas/marketgroup"}}}},"marketgroup":{"required":["id","name"],"type":"object","properties":{"collectionId":{"type":"string","description":"The collectionId of the Market Group, If it has one"},"competitionId":{"type":"string","description":"The CompetitionId of the Market Group"},"id":{"type":"string","description":"The Id of the Market Group"},"marketSort":{"type":"string","description":"The market sort of this group"},"name":{"type":"string","description":"The Name of the Market Group"}}},"marketsWrapper":{"type":"object","properties":{"markets":{"type":"array","items":{"$ref":"#/components/schemas/market"}}}},"priceFormatted":{"type":"object","properties":{"american":{"type":"string","description":"The price in American format"},"decimal":{"type":"number","description":"The decimal format of the price","format":"double"},"fractional":{"type":"string","description":"The fractional format of the price or EVS when the price evens."}}},"selection":{"required":["id","name","oddsDecimal","oddsFractional","status"],"type":"object","properties":{"cashinPriceDen":{"type":"number","description":"The cashin price denominator","format":"integer"},"cashinPriceNum":{"type":"number","description":"The cashin price numerator","format":"integer"},"channels":{"type":"array","description":"A list of channels that applies to this selection","items":{"type":"string"}},"csAway":{"type":"number","description":"The away score in a correct score event","format":"integer"},"csHome":{"type":"number","description":"The home score in a correct score event","format":"integer"},"currentPriceDen":{"type":"number","description":"Denominator of the price","format":"integer"},"currentPriceNum":{"type":"number","description":"Numerator of the price","format":"integer"},"description":{"type":"string","description":"The description of the selection"},"displayed":{"type":"boolean","description":"Wether this selection should be displayed or not"},"id":{"type":"string","description":"The Id of the selection"},"isPublished":{"type":"boolean","description":"Indicates if the item is published"},"name":{"type":"string","description":"The name of the selection"},"oddsDecimal":{"type":"number","description":"The selection price, in decimal format","format":"decimal"},"oddsFractional":{"type":"number","description":"The selection price, in fractional format","format":"fraction"},"order":{"type":"number","description":"The display order of the selection","format":"integer"},"parentIds":{"type":"array","description":"A list of IDs of parent entities","items":{"type":"string"}},"priceFormatted":{"$ref":"#/components/schemas/priceFormatted"},"result":{"type":"string","description":"The result of this selection"},"resultType":{"type":"string","description":"football Result"},"runnerNum":{"type":"number","description":"The runner number in race events","format":"integer"},"settled":{"type":"boolean","description":"Wether this selection has been settled or not"},"status":{"type":"string","description":"The status of the selection (A for Active or S for Suspended)"}}},"selectionsWrapper":{"type":"object","properties":{"selections":{"type":"array","items":{"$ref":"#/components/schemas/selection"}}}},"sport":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string","description":"The Id of the Sport"},"isPublished":{"type":"boolean","description":"Indicates if the item is published"},"name":{"type":"string","description":"The description of the Sport"}}},"sportsWrapper":{"type":"object","properties":{"sports":{"type":"array","items":{"$ref":"#/components/schemas/sport"}}}},"topBet":{"type":"object","properties":{"competition":{"$ref":"#/components/schemas/competition"},"event":{"$ref":"#/components/schemas/event"},"market":{"$ref":"#/components/schemas/market"},"selection":{"$ref":"#/components/schemas/selection"},"sport":{"$ref":"#/components/schemas/sport"},"weight":{"type":"string","description":"The weighting of the bet in the Top bets ranking"}}},"topBetsWrapper":{"type":"object","properties":{"bets":{"type":"array","items":{"$ref":"#/components/schemas/topBet"}}}}},"parameters":{"param_active":{"name":"isPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},"param_apiKey":{"name":"apiKey","in":"header","description":"Your API Key available from your developer portal","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},"param_channel":{"name":"channel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},"param_classId":{"name":"classId","in":"path","description":"The class id to retrieve information for.","required":true,"schema":{"pattern":"^(OB_CL\\d{1,7})$","type":"string"}},"param_competitionId":{"name":"competitionId","in":"path","description":"The competition id to retrieve information for.","required":true,"schema":{"pattern":"^(OB_TY\\d{1,7})$","type":"string"}},"param_competitionIds":{"name":"competitionIds","in":"query","description":"A comma-separated list of competitionIds for which to retrieve topBets for","style":"form","explode":false,"schema":{"maxItems":10,"minItems":1,"type":"array","items":{"pattern":"^(OB_TY\\d+)$","type":"string"}}},"param_culture":{"name":"culture","in":"query","description":"Code used to return responses in language other than English, acceptable values are en-GB|de-DE|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}},"param_date":{"name":"date","in":"query","description":"Return only events for the specified date (yyyy-MM-dd).","schema":{"pattern":"^(\\\\d{4})-(\\\\d{2})-(\\\\d{2})$","type":"string"}},"param_dateFrom":{"name":"dateFrom","in":"query","description":"The UTC datetime from the events to be returned. (yyyy-MM-ddTHH:mm:ss)","schema":{"pattern":"^(\\\\d{4})-(\\\\d{2})-(\\\\d{2})T(\\\\d{2}):(\\\\d{2}):(\\\\d{2})$","type":"string"}},"param_dateTo":{"name":"dateTo","in":"query","description":"The UTC datetime TO the events to be returned. (yyyy-MM-ddTHH:mm:ss)","schema":{"pattern":"^(\\\\d{4})-(\\\\d{2})-(\\\\d{2})T(\\\\d{2}):(\\\\d{2}):(\\\\d{2})$","type":"string"}},"param_displayed":{"name":"displayed","in":"query","description":"Specify whether to return displayed entities or not","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},"param_eventId":{"name":"eventId","in":"path","description":"The event ID to retrieve information for.","required":true,"schema":{"pattern":"^(OB_EV\\d{1,7})$","type":"string"}},"param_eventSort":{"name":"eventSort","in":"query","description":"Filter event by event sort","schema":{"type":"string"}},"param_exclude":{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},"param_fields":{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},"param_headlinesummary":{"name":"headlineSummary","in":"query","description":"Return only headline markets (Markets with the lowest display order) Either 1 InPlay and 1 Pre-Match, or the amount specified in marketCount, if available. Markets and Outcomes will be returned.","schema":{"type":"boolean","default":false}},"param_ids":{"name":"ids","in":"query","description":"A comma-separated list of selectionIds","style":"form","explode":false,"schema":{"maxItems":200,"minItems":1,"type":"array","items":{"pattern":"^(OB_OU\\d{1,7})$","type":"string"}}},"param_include":{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma-Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},"param_includeAllDescendants":{"name":"includeAllDescendants","in":"query","description":"Include every descendant in the below heirarchy","schema":{"type":"boolean","default":false}},"param_includeEmpty":{"name":"includeEmpty","in":"query","description":"When declared as false it should exclude markets and events that have no selections / markets","schema":{"type":"boolean","default":true}},"param_isInPlay":{"name":"isInPlay","in":"query","description":"Show only events that are in-play","schema":{"type":"boolean"}},"param_limit":{"name":"limit","in":"query","description":"Specify the number of results to return","schema":{"type":"integer","default":100}},"param_locale":{"name":"Locale","in":"query","description":"Code used to select a set of top bets settings, default is \"whapi\" which allows events set in far future to be included, setting the value to \"en-GB\" will activate english sportsbook settings, mirroring top bets on the website, which restricts events returned to those taking place in next 36 hours. Acceptable values (not all heve their own settings - if none currently available for that locale - en-GB will be used) are de-DE|whapi|en-GB|es-ES|fr-FR|nn-NO|fi-FI|ru-RU|pt-PT|hu-HU|sl-SL|ga-IE|en-CA|sr-Latn|sv-SE|el=GR|zh-CHS|it-IT|zh-CHT|cs-CZ|de-AT|ja-JP|pl-PL|da-DK|ro-RO|nl-NL|tr-TR","schema":{"type":"string"}},"param_marketChannel":{"name":"marketChannel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},"param_marketCount":{"name":"marketCount","in":"query","description":"Specify the number of markets to return when requesting headlineSummary. This count of InPlay and Pre-Match markets will be returned.For example, when specifying 1, 1 In Play and 1 Pre Match market will be returned.","schema":{"maximum":3,"minimum":1,"type":"integer","default":1}},"param_marketDisplayed":{"name":"marketDisplayed","in":"query","description":"Specify whether to return displayed entities or not","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},"param_marketEW":{"name":"marketEW","in":"query","description":"Specify whether to return markets with each way betting or those without","schema":{"pattern":"(yes|no|Yes|No)","type":"string"}},"param_marketGroupId":{"name":"marketGroupId","in":"query","description":"Filter by marketGroupId (e.g. OB_MG1276585).","schema":{"type":"string"}},"param_marketGroupId2":{"name":"marketGroupId","in":"query","description":"Filter by marketGroupId (e.g. OB_MG1276585).","required":true,"schema":{"type":"string"}},"param_marketId":{"name":"marketId","in":"path","description":"The market id to retrieve information for","required":true,"schema":{"pattern":"^(OB_MA\\d{1,7})$","type":"string"}},"param_marketIds":{"name":"marketIds","in":"query","description":"Comma-seaerated list of market IDs to filter by","style":"form","explode":false,"schema":{"type":"array","items":{"pattern":"^(OB_MA\\d{1,7})$","type":"string"}}},"param_marketPublished":{"name":"marketPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all|YES|NO|ALL)","type":"string","default":"yes"}},"param_marketSort":{"name":"marketSort","in":"query","description":"Filter by market sort (e.g. MR (match result) -- (Outright)).","schema":{"type":"string"}},"param_marketSort2":{"name":"marketSort","in":"query","description":"Filter by market sort (e.g. MR (match result) -- (Outright)).","required":true,"schema":{"type":"string"}},"param_marketStatus":{"name":"marketStatus","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},"param_offset":{"name":"offset","in":"query","description":"Skip over a number of elements by specifying a start value for the query","schema":{"type":"integer","default":0}},"param_selectionChannel":{"name":"selectionChannel","in":"query","description":"Specify a channel filter and only results from that channel will be returned","schema":{"pattern":"^[A-Z]{1}$","type":"string"}},"param_selectionPublished":{"name":"selectionPublished","in":"query","description":"Specify whether only active entities should be returned, according to the William Hill definition of active","schema":{"pattern":"(yes|no|all)","type":"string","default":"yes"}},"param_selectionStatus":{"name":"selectionStatus","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},"param_settled":{"name":"settled","in":"query","description":"Specify wether only settled entities should be returned","schema":{"type":"boolean"}},"param_sort":{"name":"sort","in":"query","description":"The field to order the response by, followed by the order. For example: name,desc","schema":{"type":"string","default":"id,asc"}},"param_sortName":{"name":"sortName","in":"query","description":"The market sort code used to further filter event results. Please note this can only be used with event id(s).","schema":{"type":"string"}},"param_sportId":{"name":"sportId","in":"path","description":"The sport id to retrieve information for.","required":true,"schema":{"pattern":"^(OB_SP\\d{1,7})$","type":"string"}},"param_sportIds":{"name":"sportIds","in":"query","description":"A comma-separated list of sportsIds for which to retrieve topBets for","style":"form","explode":false,"schema":{"maxItems":10,"minItems":1,"type":"array","items":{"pattern":"^(OB_SP\\d+)(,OB_SP\\d+)*$","type":"string"}}},"param_status":{"name":"status","in":"query","description":"Specify a status to filter results by. This is currently A (active) or S (suspended)","schema":{"pattern":"(A|S)","type":"string"}},"param_topBetEventId":{"name":"param_topBetEventId","in":"query","description":"The event ID to retrieve top bet information for. Multiple events up to 5 may be used","schema":{"pattern":"^(OB_EV\\d{1,7})$","type":"string"}}}}}