{"openapi":"3.0.1","info":{"title":"StorageManagementClient","description":"The Admin Storage Management Client.","version":"2019-08-08-preview"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Storage.Admin/operations":{"get":{"tags":["Commerce"],"description":"Get the list of support rest operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"REST Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- The list of operations has been returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationList"}}}},"default":{"description":"Error Response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"Display":{"type":"object","properties":{"description":{"type":"string","description":"The localized friendly description for the operation, as it should be shown to the user. It should be thorough, yet concise – it will be used in tool tips and detailed views.","readOnly":true},"operation":{"type":"string","description":"The localized friendly name for the operation, as it should be shown to the user.","readOnly":true},"provider":{"type":"string","description":"The localized friendly form of the resource provider name – it is expected to also include the publisher/company responsible. It should use Title Casing and begin with \"Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute.\"","readOnly":true},"resource":{"type":"string","description":"The localized friendly form of the resource type related to this action/operation – it should match the public documentation for the resource provider.","readOnly":true}},"description":"Contains the localized display information for this particular operation / action."},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"The error description code.","readOnly":true},"details":{"type":"array","description":"The error details information.","readOnly":true,"items":{"type":"string"}},"message":{"type":"string","description":"The error description message.","readOnly":true},"target":{"type":"string","description":"The error target description.","readOnly":true}},"description":"The error response for request which failed."},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/Display"},"name":{"type":"string","description":"The name of the operation being performed on this particular object. It should match the action name that appears in RBAC / the event service.","readOnly":true}},"description":"Describes the supported REST operation."},"OperationList":{"type":"object","properties":{"value":{"type":"array","description":"List of operations","items":{"$ref":"#/components/schemas/Operation"}}},"description":"Pageable list of supported operations."},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"location":{"type":"string","description":"Resource Location.","readOnly":true},"name":{"type":"string","description":"Resource Name.","readOnly":true},"type":{"type":"string","description":"Resource Type.","readOnly":true}},"description":"Base resource object."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"REST Api Version.","required":true,"schema":{"type":"string"}},"LocationParameter":{"name":"location","in":"path","description":"Resource location.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription Id.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}