{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "LaunchDarkly REST API",
    "description" : "Build custom integrations with the LaunchDarkly REST API",
    "termsOfService" : "https://launchdarkly.com/terms",
    "contact" : {
      "name" : "LaunchDarkly Support",
      "url" : "https://support.launchdarkly.com",
      "email" : "support@launchdarkly.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version" : "5.3.0"
  },
  "servers" : [ {
    "url" : "https://app.launchdarkly.com/api/v2"
  } ],
  "security" : [ {
    "Token" : null
  } ],
  "paths" : {
    "/" : {
      "get" : {
        "tags" : [ "Root" ],
        "description" : "You can issue a GET request to the root resource to find all of the resource categories supported by the API.",
        "operationId" : "getRoot",
        "responses" : {
          "200" : {
            "description" : "A list of links to available resources in the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Links"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          }
        }
      }
    },
    "/account/relay-auto-configs" : {
      "get" : {
        "tags" : [ "Relay proxy configurations" ],
        "summary" : "Returns a list of relay proxy configurations in the account.",
        "operationId" : "getRelayProxyConfigs",
        "responses" : {
          "200" : {
            "description" : "Relay proxy configs response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelayProxyConfigs"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Relay proxy configurations" ],
        "summary" : "Create a new relay proxy config.",
        "operationId" : "postRelayAutoConfig",
        "requestBody" : {
          "description" : "Create a new relay proxy configuration",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string",
                    "description" : "A human-friendly name for the relay proxy configuration",
                    "example" : "My relay proxy config"
                  },
                  "policy" : {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/components/schemas/Policy"
                    }
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Relay proxy config response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelayProxyConfig"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "403" : {
            "description" : "Access to the requested resource was denied."
          }
        }
      }
    },
    "/account/relay-auto-configs/{id}" : {
      "get" : {
        "tags" : [ "Relay proxy configurations" ],
        "summary" : "Get a single relay proxy configuration by ID.",
        "operationId" : "getRelayProxyConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The relay proxy configuration ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Relay proxy config response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelayProxyConfig"
                }
              }
            }
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "delete" : {
        "tags" : [ "Relay proxy configurations" ],
        "summary" : "Delete a relay proxy configuration by ID.",
        "operationId" : "deleteRelayProxyConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The relay proxy configuration ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Action completed successfully."
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "patch" : {
        "tags" : [ "Relay proxy configurations" ],
        "summary" : "Modify a relay proxy configuration by ID.",
        "operationId" : "patchRelayProxyConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The relay proxy configuration ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Requires a JSON Patch representation of the desired changes to the project. 'http://jsonpatch.com/'",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/PatchOperation"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Relay proxy config response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelayProxyConfig"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/account/relay-auto-configs/{id}/reset" : {
      "post" : {
        "tags" : [ "Relay proxy configurations" ],
        "summary" : "Reset a relay proxy configuration's secret key with an optional expiry time for the old key.",
        "operationId" : "resetRelayProxyConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The relay proxy configuration ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expiry",
          "in" : "query",
          "description" : "An expiration time for the old relay proxy configuration key, expressed as a Unix epoch time in milliseconds. By default, the relay proxy configuration will expire immediately",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Relay proxy config response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelayProxyConfig"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      }
    },
    "/auditlog" : {
      "get" : {
        "tags" : [ "Audit log" ],
        "summary" : "Get a list of all audit log entries. The query parameters allow you to restrict the returned results by date ranges, resource specifiers, or a full-text search query.",
        "operationId" : "getAuditLogEntries",
        "parameters" : [ {
          "name" : "before",
          "in" : "query",
          "description" : "A timestamp filter, expressed as a Unix epoch time in milliseconds. All entries returned will have before this timestamp.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "A timestamp filter, expressed as a Unix epoch time in milliseconds. All entries returned will have occurred after this timestamp.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "Text to search for. You can search for the full or partial name of the resource involved or full or partial email address of the member who made the change.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "A limit on the number of audit log entries to be returned, between 1 and 20.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "spec",
          "in" : "query",
          "description" : "A resource specifier, allowing you to filter audit log listings by resource.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Audit log entries response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuditLogEntries"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          }
        }
      }
    },
    "/auditlog/{resourceId}" : {
      "get" : {
        "tags" : [ "Audit log" ],
        "summary" : "Use this endpoint to fetch a single audit log entry by its resouce ID.",
        "operationId" : "getAuditLogEntry",
        "parameters" : [ {
          "name" : "resourceId",
          "in" : "path",
          "description" : "The resource ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Audit log entry response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuditLogEntry"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      }
    },
    "/destinations" : {
      "get" : {
        "tags" : [ "Data export destinations" ],
        "summary" : "Returns a list of all data export destinations.",
        "operationId" : "getDestinations",
        "responses" : {
          "200" : {
            "description" : "Destinations response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Destinations"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          }
        }
      }
    },
    "/destinations/{projectKey}/{environmentKey}" : {
      "post" : {
        "tags" : [ "Data export destinations" ],
        "summary" : "Create a new data export destination",
        "operationId" : "postDestination",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Create a new data export destination.",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "config", "kind", "name" ],
                "type" : "object",
                "properties" : {
                  "config" : {
                    "type" : "object",
                    "description" : "destination-specific configuration.",
                    "example" : {
                      "project" : "cool-project",
                      "topic" : "test"
                    }
                  },
                  "kind" : {
                    "type" : "string",
                    "description" : "The data export destination type. Available choices are kinesis, google-pubsub, mparticle, or segment.",
                    "example" : "google-pubsub",
                    "enum" : [ "google-pubsub", "kinesis", "mparticle", "segment" ]
                  },
                  "name" : {
                    "type" : "string",
                    "description" : "A human-readable name for your data export destination.",
                    "example" : "Example Google Pub/Sub Destination"
                  },
                  "on" : {
                    "type" : "boolean",
                    "description" : "Whether the data export destination is on or not.",
                    "example" : true
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Destination response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Destination"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/destinations/{projectKey}/{environmentKey}/{destinationId}" : {
      "get" : {
        "tags" : [ "Data export destinations" ],
        "summary" : "Get a single data export destination by ID",
        "operationId" : "getDestination",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "destinationId",
          "in" : "path",
          "description" : "The data export destination ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Destination response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Destination"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "delete" : {
        "tags" : [ "Data export destinations" ],
        "summary" : "Get a single data export destination by ID",
        "operationId" : "deleteDestination",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "destinationId",
          "in" : "path",
          "description" : "The data export destination ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Action completed successfully."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "patch" : {
        "tags" : [ "Data export destinations" ],
        "summary" : "Perform a partial update to a data export destination.",
        "operationId" : "patchDestination",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "destinationId",
          "in" : "path",
          "description" : "The data export destination ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Requires a JSON Patch representation of the desired changes to the project. 'http://jsonpatch.com/' Feature flag patches also support JSON Merge Patch format. 'https://tools.ietf.org/html/rfc7386' The addition of comments is also supported.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/PatchOperation"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Destination response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Destination"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/flag-status/{projectKey}/{featureFlagKey}" : {
      "get" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Get the status for a particular feature flag across environments",
        "operationId" : "getFeatureFlagStatusAcrossEnvironments",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status of the requested feature flag across environments",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeatureFlagStatusAcrossEnvironments"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "403" : {
            "description" : "This is a beta API, you must pass beta in the LD-API-Version header to use it.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsageError"
                }
              }
            }
          }
        }
      }
    },
    "/flag-statuses/{projectKey}/{environmentKey}" : {
      "get" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Get a list of statuses for all feature flags. The status includes the last time the feature flag was requested, as well as the state of the flag.",
        "operationId" : "getFeatureFlagStatuses",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of feature flag statuses.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeatureFlagStatuses"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          }
        }
      }
    },
    "/flag-statuses/{projectKey}/{environmentKey}/{featureFlagKey}" : {
      "get" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Get the status for a particular feature flag.",
        "operationId" : "getFeatureFlagStatus",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status of the requested feature flag.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeatureFlagStatus"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          }
        }
      }
    },
    "/flags/{projectKey}" : {
      "get" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Get a list of all features in the given project.",
        "operationId" : "getFeatureFlags",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "By default, each feature will include configurations for each environment. You can filter environments with the env query parameter. For example, setting env=[\"production\"] will restrict the returned configurations to just your production environment.",
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "summary",
          "in" : "query",
          "description" : "By default in api version >= 1, flags will _not_ include their list of prerequisites, targets or rules.  Set summary=0 to include these fields for each flag returned.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "When set to 1, only archived flags will be included in the list of flags returned.  By default, archived flags are not included in the list of flags.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of objects to return. Defaults to -1, which returns everything.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Where to start in the list. This is for use with pagination. For example, an offset of 10 would skip the first 10 items and then return the next limit items.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "A comma-separated list of filters. Each filter is of the form field:value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "A comma-separated list of fields to sort by. A field prefixed by a - will be sorted in descending order.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tag",
          "in" : "query",
          "description" : "Filter by tag. A tag can be used to group flags across projects.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Flags response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeatureFlags"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          }
        }
      },
      "post" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Creates a new feature flag.",
        "operationId" : "postFeatureFlag",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clone",
          "in" : "query",
          "description" : "The key of the feature flag to be cloned. The key identifies the flag in your code.  For example, setting clone=flagKey will copy the full targeting configuration for all environments (including on/off state) from the original flag to the new flag.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Create a new feature flag.",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "key", "name", "variations" ],
                "type" : "object",
                "properties" : {
                  "clientSideAvailability" : {
                    "$ref" : "#/components/schemas/ClientSideAvailability"
                  },
                  "defaults" : {
                    "$ref" : "#/components/schemas/Defaults"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "A description of the feature flag.",
                    "example" : "This flag controls whether test feature is turned on or not."
                  },
                  "includeInSnippet" : {
                    "type" : "boolean",
                    "description" : "Whether or not this flag should be made available to the client-side JavaScript SDK."
                  },
                  "key" : {
                    "type" : "string",
                    "description" : "A unique key that will be used to reference the flag in your code.",
                    "example" : "new-test-flag"
                  },
                  "name" : {
                    "type" : "string",
                    "description" : "A human-friendly name for the feature flag. Remember to note if this flag is intended to be temporary or permanent.",
                    "example" : "new test flag"
                  },
                  "tags" : {
                    "type" : "array",
                    "description" : "Tags for the feature flag.",
                    "items" : {
                      "type" : "string",
                      "example" : ""
                    }
                  },
                  "temporary" : {
                    "type" : "boolean",
                    "description" : "Whether or not the flag is a temporary flag."
                  },
                  "variations" : {
                    "type" : "array",
                    "description" : "An array of possible variations for the flag.",
                    "items" : {
                      "$ref" : "#/components/schemas/Variation"
                    }
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Flag response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeatureFlag"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/flags/{projectKey}/{environmentKey}/{featureFlagKey}/dependent-flags" : {
      "get" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Get dependent flags for the flag in the environment specified in path parameters",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Dependent flags in a single envrionemnt response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DependentFlagsByEnvironment"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "403" : {
            "description" : "This is a beta API, you must pass beta in the LD-API-Version header to use it.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsageError"
                }
              }
            }
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      }
    },
    "/flags/{projectKey}/{featureFlagKey}" : {
      "get" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Get a single feature flag by key.",
        "operationId" : "getFeatureFlag",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "By default, each feature will include configurations for each environment. You can filter environments with the env query parameter. For example, setting env=[\"production\"] will restrict the returned configurations to just your production environment.",
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Flag response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeatureFlag"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "delete" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Delete a feature flag in all environments. Be careful-- only delete feature flags that are no longer being used by your application.",
        "operationId" : "deleteFeatureFlag",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Action completed successfully."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "patch" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Perform a partial update to a feature.",
        "operationId" : "patchFeatureFlag",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Requires a JSON Patch representation of the desired changes to the project, and an optional comment. 'http://jsonpatch.com/' Feature flag patches also support JSON Merge Patch format. 'https://tools.ietf.org/html/rfc7386' The addition of comments is also supported.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "comment" : {
                    "type" : "string",
                    "example" : "This is a comment string"
                  },
                  "patch" : {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/components/schemas/PatchOperation"
                    }
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Feature flag response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeatureFlag"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/flags/{projectKey}/{featureFlagKey}/copy" : {
      "post" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Copies the feature flag configuration from one environment to the same feature flag in another environment.",
        "operationId" : "copyFeatureFlag",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Copy feature flag configurations between environments.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "comment" : {
                    "type" : "string",
                    "description" : "comment will be included in audit log item for change.",
                    "example" : "This is a comment string"
                  },
                  "excludedActions" : {
                    "type" : "array",
                    "description" : "Define the parts of the flag configuration that will not be copied.",
                    "items" : {
                      "$ref" : "#/components/schemas/CopyActions"
                    }
                  },
                  "includedActions" : {
                    "type" : "array",
                    "description" : "Define the parts of the flag configuration that will be copied.",
                    "items" : {
                      "$ref" : "#/components/schemas/CopyActions"
                    }
                  },
                  "source" : {
                    "$ref" : "#/components/schemas/FeatureFlagCopyObject"
                  },
                  "target" : {
                    "$ref" : "#/components/schemas/FeatureFlagCopyObject"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Flag configuration copy response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeatureFlag"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/flags/{projectKey}/{featureFlagKey}/dependent-flags" : {
      "get" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Get dependent flags across all environments for the flag specified in the path parameters",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Dependent flags accross all environemnts in the project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiEnvironmentDependentFlags"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "403" : {
            "description" : "This is a beta API, you must pass beta in the LD-API-Version header to use it.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsageError"
                }
              }
            }
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      }
    },
    "/flags/{projectKey}/{featureFlagKey}/expiring-user-targets/{environmentKey}" : {
      "get" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Get expiring user targets for feature flag",
        "operationId" : "getExpiringUserTargets",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "User targets of the requested feature flag.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserTargetingExpirationForFlags"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          }
        }
      },
      "patch" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Update, add, or delete expiring user targets on feature flag",
        "operationId" : "patchExpiringUserTargets",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Requires a Semantic Patch representation of the desired changes to the resource. 'https://apidocs.launchdarkly.com/reference#updates-via-semantic-patches'. The addition of comments is also supported.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/SemanticPatchOperation"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "User targeting expirations on feature flag response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserTargetingExpirationForFlags"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/integrations" : {
      "get" : {
        "tags" : [ "Integrations" ],
        "summary" : "Get a list of all configured audit log event integrations associated with this account.",
        "operationId" : "getIntegrations",
        "responses" : {
          "200" : {
            "description" : "Integrations response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Integrations"
                }
              }
            }
          },
          "403" : {
            "description" : "This is a beta API, you must pass beta in the LD-API-Version header to use it.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsageError"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/{integrationKey}" : {
      "get" : {
        "tags" : [ "Integrations" ],
        "summary" : "Get a list of all configured integrations of a given kind.",
        "operationId" : "getIntegrationSubscriptions",
        "parameters" : [ {
          "name" : "integrationKey",
          "in" : "path",
          "description" : "The key used to specify the integration kind.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Integrations response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Integration"
                }
              }
            }
          },
          "403" : {
            "description" : "This is a beta API, you must pass beta in the LD-API-Version header to use it.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsageError"
                }
              }
            }
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "post" : {
        "tags" : [ "Integrations" ],
        "summary" : "Create a new integration subscription of a given kind.",
        "operationId" : "postIntegrationSubscription",
        "parameters" : [ {
          "name" : "integrationKey",
          "in" : "path",
          "description" : "The key used to specify the integration kind.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Create a new integration subscription.",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "config", "name" ],
                "type" : "object",
                "properties" : {
                  "config" : {
                    "type" : "object",
                    "description" : "Integration-specific configuration fields.",
                    "example" : {
                      "apiKey" : "582**************************116",
                      "hostURL" : "https://api.datadoghq.com"
                    }
                  },
                  "name" : {
                    "type" : "string",
                    "description" : "A human-readable name for your subscription configuration.",
                    "example" : "Example Datadog Integration"
                  },
                  "on" : {
                    "type" : "boolean",
                    "description" : "Whether the integration subscription is active or not.",
                    "example" : true
                  },
                  "statements" : {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/components/schemas/Statement"
                    }
                  },
                  "tags" : {
                    "type" : "array",
                    "description" : "Tags for the integration subscription.",
                    "example" : [ ],
                    "items" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Integrations response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegrationSubscription"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/integrations/{integrationKey}/{integrationId}" : {
      "get" : {
        "tags" : [ "Integrations" ],
        "summary" : "Get a single integration subscription by ID.",
        "operationId" : "getIntegrationSubscription",
        "parameters" : [ {
          "name" : "integrationKey",
          "in" : "path",
          "description" : "The key used to specify the integration kind.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "integrationId",
          "in" : "path",
          "description" : "The integration ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Integrations response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegrationSubscription"
                }
              }
            }
          },
          "403" : {
            "description" : "This is a beta API, you must pass beta in the LD-API-Version header to use it.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsageError"
                }
              }
            }
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "delete" : {
        "tags" : [ "Integrations" ],
        "summary" : "Delete an integration subscription by ID.",
        "operationId" : "deleteIntegrationSubscription",
        "parameters" : [ {
          "name" : "integrationKey",
          "in" : "path",
          "description" : "The key used to specify the integration kind.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "integrationId",
          "in" : "path",
          "description" : "The integration ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Action completed successfully."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "patch" : {
        "tags" : [ "Integrations" ],
        "summary" : "Modify an integration subscription by ID.",
        "operationId" : "patchIntegrationSubscription",
        "parameters" : [ {
          "name" : "integrationKey",
          "in" : "path",
          "description" : "The key used to specify the integration kind.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "integrationId",
          "in" : "path",
          "description" : "The integration ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Requires a JSON Patch representation of the desired changes to the project. 'http://jsonpatch.com/'",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/PatchOperation"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Integrations response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegrationSubscription"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      }
    },
    "/members" : {
      "get" : {
        "tags" : [ "Team members" ],
        "summary" : "Returns a list of all members in the account.",
        "operationId" : "getMembers",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of objects to return. Defaults to -1, which returns everything.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Where to start in the list. This is for use with pagination. For example, an offset of 10 would skip the first 10 items and then return the next limit items.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "A comma-separated list of filters. Each filter is of the form field:value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "A comma-separated list of fields to sort by. A field prefixed by a - will be sorted in descending order.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Members response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Members"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          }
        }
      },
      "post" : {
        "tags" : [ "Team members" ],
        "summary" : "Invite new members.",
        "operationId" : "postMembers",
        "requestBody" : {
          "description" : "New members to invite.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "required" : [ "email" ],
                  "type" : "object",
                  "properties" : {
                    "customRoles" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string",
                        "description" : "The 20-hexdigit id or the key for a custom role.",
                        "example" : "revenue-team"
                      }
                    },
                    "email" : {
                      "type" : "string",
                      "example" : "exampleuser@email.com"
                    },
                    "firstName" : {
                      "type" : "string",
                      "example" : "Bob"
                    },
                    "inlineRole" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Statement"
                      }
                    },
                    "lastName" : {
                      "type" : "string",
                      "example" : "Loblaw"
                    },
                    "role" : {
                      "$ref" : "#/components/schemas/Role"
                    }
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Members response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Members"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/members/me" : {
      "get" : {
        "tags" : [ "Team members" ],
        "summary" : "Get the current team member associated with the token",
        "operationId" : "getMe",
        "responses" : {
          "200" : {
            "description" : "Member response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Member"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          }
        }
      }
    },
    "/members/{memberId}" : {
      "get" : {
        "tags" : [ "Team members" ],
        "summary" : "Get a single team member by ID.",
        "operationId" : "getMember",
        "parameters" : [ {
          "name" : "memberId",
          "in" : "path",
          "description" : "The member ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Member response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Member"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          }
        }
      },
      "delete" : {
        "tags" : [ "Team members" ],
        "summary" : "Delete a team member by ID.",
        "operationId" : "deleteMember",
        "parameters" : [ {
          "name" : "memberId",
          "in" : "path",
          "description" : "The member ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Action completed successfully."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "patch" : {
        "tags" : [ "Team members" ],
        "summary" : "Modify a team member by ID.",
        "operationId" : "patchMember",
        "parameters" : [ {
          "name" : "memberId",
          "in" : "path",
          "description" : "The member ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Requires a JSON Patch representation of the desired changes to the project. 'http://jsonpatch.com/'",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/PatchOperation"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Member response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Member"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/projects" : {
      "get" : {
        "tags" : [ "Projects" ],
        "summary" : "Returns a list of all projects in the account.",
        "operationId" : "getProjects",
        "responses" : {
          "200" : {
            "description" : "Projects response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Projects"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          }
        }
      },
      "post" : {
        "tags" : [ "Projects" ],
        "summary" : "Create a new project with the given key and name.",
        "operationId" : "postProject",
        "requestBody" : {
          "description" : "Project keys must be unique within an account.",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "key", "name" ],
                "type" : "object",
                "properties" : {
                  "defaultClientSideAvailability" : {
                    "$ref" : "#/components/schemas/ClientSideAvailability"
                  },
                  "environments" : {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/components/schemas/EnvironmentPost"
                    }
                  },
                  "includeInSnippetByDefault" : {
                    "type" : "boolean",
                    "example" : false
                  },
                  "key" : {
                    "type" : "string",
                    "example" : "new-project"
                  },
                  "name" : {
                    "type" : "string",
                    "example" : "New Project"
                  },
                  "tags" : {
                    "type" : "array",
                    "example" : [ "ops", "dev" ],
                    "items" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Successful Project response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/projects/{projectKey}" : {
      "get" : {
        "tags" : [ "Projects" ],
        "summary" : "Fetch a single project by key.",
        "operationId" : "getProject",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Project response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "delete" : {
        "tags" : [ "Projects" ],
        "summary" : "Delete a project by key. Caution-- deleting a project will delete all associated environments and feature flags. You cannot delete the last project in an account.",
        "operationId" : "deleteProject",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Action completed successfully."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "patch" : {
        "tags" : [ "Projects" ],
        "summary" : "Modify a project by ID.",
        "operationId" : "patchProject",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Requires a JSON Patch representation of the desired changes to the project. 'http://jsonpatch.com/'",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/PatchOperation"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Project response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/projects/{projectKey}/environments" : {
      "post" : {
        "tags" : [ "Environments" ],
        "summary" : "Create a new environment in a specified project with a given name, key, and swatch color.",
        "operationId" : "postEnvironment",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "New environment.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EnvironmentPost"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Environment response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Environment"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/projects/{projectKey}/environments/{environmentKey}" : {
      "get" : {
        "tags" : [ "Environments" ],
        "summary" : "Get an environment given a project and key.",
        "operationId" : "getEnvironment",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Environment response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Environment"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "delete" : {
        "tags" : [ "Environments" ],
        "summary" : "Delete an environment in a specific project.",
        "operationId" : "deleteEnvironment",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Action completed successfully."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "patch" : {
        "tags" : [ "Environments" ],
        "summary" : "Modify an environment by ID. If you try to patch the environment by setting both required and requiredApprovalTags, it will result in an error. Users can specify either required approvals for all flags in an environment or those with specific tags, but not both. Only customers on an Enterprise plan can require approval for flag updates with either mechanism.",
        "operationId" : "patchEnvironment",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Requires a JSON Patch representation of the desired changes to the project. 'http://jsonpatch.com/'",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/PatchOperation"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Environment response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Environment"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request body."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/projects/{projectKey}/environments/{environmentKey}/apiKey" : {
      "post" : {
        "tags" : [ "Environments" ],
        "summary" : "Reset an environment's SDK key with an optional expiry time for the old key.",
        "operationId" : "resetEnvironmentSDKKey",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expiry",
          "in" : "query",
          "description" : "An expiration time for the old environment SDK key, expressed as a Unix epoch time in milliseconds. By default, the key will expire immediately.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Environment response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Environment"
                }
              }
            }
          },
          "404" : {
            "description" : "Invalid resource specifier."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/projects/{projectKey}/environments/{environmentKey}/mobileKey" : {
      "post" : {
        "tags" : [ "Environments" ],
        "summary" : "Reset an environment's mobile key. The optional expiry for the old key is deprecated for this endpoint, so the old key will always expire immediately.",
        "operationId" : "resetEnvironmentMobileKey",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expiry",
          "in" : "query",
          "description" : "The expiry parameter is deprecated for this endpoint, so the old mobile key will always expire immediately. This parameter will be removed in an upcoming major API client version.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Environment response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Environment"
                }
              }
            }
          },
          "404" : {
            "description" : "Invalid resource specifier."
          },
          "409" : {
            "description" : "Status conflict."
          }
        }
      }
    },
    "/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests" : {
      "get" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Get all approval requests for a feature flag config",
        "operationId" : "getApprovalRequests",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Approval requests response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApprovalRequests"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      }
    },
    "/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests/{approvalRequestId}" : {
      "get" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Get a single approval request for a feature flag config",
        "operationId" : "getApprovalRequest",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "approvalRequestId",
          "in" : "path",
          "description" : "The approval request ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Approval request response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApprovalRequests"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "post" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Create an approval request for a feature flag config",
        "operationId" : "postApprovalRequest",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "approvalRequestId",
          "in" : "path",
          "description" : "The approval request ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Create a new approval request",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "description", "instructions", "notifyMemberIds" ],
                "type" : "object",
                "properties" : {
                  "comment" : {
                    "type" : "string",
                    "description" : "comment will be included in audit log item for change."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "A name that describes the changes you would like to apply to a feature flag configuration"
                  },
                  "executionDate" : {
                    "type" : "integer",
                    "description" : "Timestamp for when instructions will be executed",
                    "format" : "int64"
                  },
                  "instructions" : {
                    "$ref" : "#/components/schemas/SemanticPatchInstruction"
                  },
                  "notifyMemberIds" : {
                    "type" : "array",
                    "example" : [ "memberId", "memberId2" ],
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "operatingOnId" : {
                    "type" : "string",
                    "description" : "ID of scheduled change to edit or delete"
                  }
                }
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Approval request response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApprovalRequest"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "delete" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Delete an approval request for a feature flag config",
        "operationId" : "deleteApprovalRequest",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "approvalRequestId",
          "in" : "path",
          "description" : "The approval request ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Create a new approval request",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "description", "instructions", "notifyMemberIds" ],
                "type" : "object",
                "properties" : {
                  "comment" : {
                    "type" : "string",
                    "description" : "comment will be included in audit log item for change."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "A name that describes the changes you would like to apply to a feature flag configuration"
                  },
                  "executionDate" : {
                    "type" : "integer",
                    "description" : "Timestamp for when instructions will be executed",
                    "format" : "int64"
                  },
                  "instructions" : {
                    "$ref" : "#/components/schemas/SemanticPatchInstruction"
                  },
                  "notifyMemberIds" : {
                    "type" : "array",
                    "example" : [ "memberId", "memberId2" ],
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "operatingOnId" : {
                    "type" : "string",
                    "description" : "ID of scheduled change to edit or delete"
                  }
                }
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "204" : {
            "description" : "Action completed successfully."
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      }
    },
    "/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests/{approvalRequestId}/apply" : {
      "post" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Apply approval request for a feature flag config",
        "operationId" : "postApplyApprovalRequest",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "approvalRequestId",
          "in" : "path",
          "description" : "The approval request ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Apply an approval request",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "comment" : {
                    "type" : "string",
                    "description" : "comment will be included in audit log item for change.",
                    "example" : "Applying approved changes"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Approval request applied response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApprovalRequests"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      }
    },
    "/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests/{approvalRequestId}/review" : {
      "post" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Review approval request for a feature flag config",
        "operationId" : "postReviewApprovalRequest",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "approvalRequestId",
          "in" : "path",
          "description" : "The approval request ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Review an approval request",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "kind" ],
                "type" : "object",
                "properties" : {
                  "comment" : {
                    "type" : "string",
                    "description" : "comment will be included in audit log item for change.",
                    "example" : "This is a comment string"
                  },
                  "kind" : {
                    "type" : "string",
                    "description" : "One of approve, decline, or comment.",
                    "example" : "approve",
                    "enum" : [ "approve", "decline", "comment" ]
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Approval request reviewed response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApprovalRequests"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      }
    },
    "/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/scheduled-changes" : {
      "get" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Get all scheduled workflows for a feature flag by key.",
        "operationId" : "getFlagConfigScheduledChanges",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of scheduled changes for feature flag response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeatureFlagScheduledChanges"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token."
          },
          "404" : {
            "description" : "Invalid resource specifier."
          }
        }
      },
      "post" : {
        "tags" : [ "Feature flags" ],
        "summary" : "Creates a new scheduled change for a feature flag.",
        "operationId" : "postFlagConfigScheduledChanges",
        "parameters" : [ {
          "name" : "projectKey",
          "in" : "path",
          "description" : "The project key, used to tie the flags together under one project so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureFlagKey",
          "in" : "path",
          "description" : "The feature flag's key. The key identifies the flag in your code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "environmentKey",
          "in" : "path",
          "description" : "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
          "required" : true,
          "schema" : {
            "type" : "string"
[...]
