{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Turbine Labs API",
    "description" : "The Turbine Labs API provides CRUD operations for core object types, and is\nmostly RESTy. The easiest way to interact with the API is with\n[tbnctl](https://docs.turbinelabs.io/advanced/tbnctl.html).\nIf you want to make direct HTTP calls, however, you can obtain an access\ntoken using tbnctl, and then pass it in the Authorization header,\nprefixed by `Token `:\n```console\ncurl -H \"Authorization: Token <access token>\" https://api.turbinelabs.io/v1.0/cluster\n```\n",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://api.turbinelabs.io/v1.0"
  } ],
  "security" : [ {
    "api_key" : null
  } ],
  "tags" : [ {
    "name" : "Zone",
    "description" : "A logical deployment of services, which typically maps to a datacenter, availability zone, or compute cluster."
  }, {
    "name" : "Proxy",
    "description" : "A configuration that can be applied to one or more running Proxies serving one or more Domains."
  }, {
    "name" : "Listener",
    "description" : "An interface and port a Proxy will listen on"
  }, {
    "name" : "Domain",
    "description" : "A served hostname and port."
  }, {
    "name" : "Route",
    "description" : "A served path within a Domain."
  }, {
    "name" : "Shared Rules",
    "description" : "A collection of rules specifying how a request should be mapped to an instance within a cluster. These may be shared between multiple Routes."
  }, {
    "name" : "Cluster",
    "description" : "A collection of Instances, homogeneous in their purpose, heterogeneous in their metadata."
  }, {
    "name" : "Audit Log",
    "description" : "A collection of events that have occurred in your infrastructure. This includes changes detected by the deployed collectors (new Clusters or Cluster instances) as well as routing changes through the UI or API."
  } ],
  "paths" : {
    "/admin/user/self" : {
      "get" : {
        "tags" : [ "User Management" ],
        "summary" : "Returns the user object for the account authorized and making this request.",
        "description" : "Request the user object for an authorized requesting account.",
        "responses" : {
          "200" : {
            "description" : "The authorized user.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/admin/user/self/access_token/{access-token-key}" : {
      "delete" : {
        "tags" : [ "User Management" ],
        "summary" : "Delete the specified access token.",
        "parameters" : [ {
          "name" : "access-token-key",
          "in" : "path",
          "description" : "the key of the Access Token that should be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f0724070000"
        }, {
          "name" : "checksum",
          "in" : "query",
          "description" : "the current checksum of the user to be modified",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f07240700b9"
        } ],
        "responses" : {
          "200" : {
            "description" : "An empty result if the API key deletion was successful."
          },
          "default" : {
            "description" : "An error; may be unexpected or validation error if the last API was removed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/admin/user/self/access_tokens" : {
      "get" : {
        "tags" : [ "User Management" ],
        "summary" : "Lists Access Tokens that are configured for the authenticated user.",
        "responses" : {
          "200" : {
            "description" : "A list of Access Tokens defined for the authenticated user.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiAccessTokens"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "User Management" ],
        "summary" : "Creates a new Access Token and associates it with the authenticated user.",
        "requestBody" : {
          "description" : "A short string (<255 characters) describing the expected use of the token.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccessTokenDescription"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The new Access Token that was created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/changelog/adhoc" : {
      "get" : {
        "tags" : [ "Audit Log" ],
        "summary" : "Allows an arbitrary filter to be specified and applied to the org\\'s change log.",
        "description" : "Perform an adhoc query against the change log for your org. The filter is a JSON encoded FilterSum as defined in this file.",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "Encoded FilterSums representing the query you would like to execute. See object definition for details.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of changes that meet the provided filter.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedChangeDescriptions"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/changelog/cluster-graph/{clusterKey}" : {
      "get" : {
        "tags" : [ "Audit Log" ],
        "summary" : "get changes related to the indicated cluster",
        "description" : "Gets all changes to a cluster.\n",
        "parameters" : [ {
          "name" : "clusterKey",
          "in" : "path",
          "description" : "the cluster key to see an audit log for",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f0724070000"
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "The beginning of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "The end of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "Determines how many ChangeDescription object should be returned to\nthe calling code.\n",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "ref_id",
          "in" : "query",
          "description" : "When paginating a Changelog request start on the entry that comes\nimmediately before or after this ID (as determined by the direction\nargument).\n",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "If set to \"before\" then changes will be returned that occurred before\nreference ID. If \"after\" then changes will be returned that have\noccurred since the reference ID.\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "before", "after" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of changes occurring during the requested window.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedChangeDescriptions"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/changelog/domain-graph/{domainKey}" : {
      "get" : {
        "tags" : [ "Audit Log" ],
        "summary" : "get changes related to the indicated domain",
        "description" : "Gets all changes to a domain, the proxies that front the specified domain,\nroutes within that domain, the shared rules of each route, the clusters\nconnected via route or shared rules.\n",
        "parameters" : [ {
          "name" : "domainKey",
          "in" : "path",
          "description" : "the domain key to see an audit log for",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f0724070000"
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "The beginning of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "The end of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "Determines how many ChangeDescription object should be returned to\nthe calling code.\n",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "ref_id",
          "in" : "query",
          "description" : "When paginating a Changelog request start on the entry that comes\nimmediately before or after this ID (as determined by the direction\nargument).\n",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "If set to \"before\" then changes will be returned that occurred before\nreference ID. If \"after\" then changes will be returned that have\noccurred since the reference ID.\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "before", "after" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of changes occurring during the requested window.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedChangeDescriptions"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/changelog/route-graph/{routeKey}" : {
      "get" : {
        "tags" : [ "Audit Log" ],
        "summary" : "get changes related to the indicated route",
        "description" : "Gets all changes to a route, the domains associated with it, the shared\nrules it references, and the clusters connected to it.\n",
        "parameters" : [ {
          "name" : "routeKey",
          "in" : "path",
          "description" : "the route key to see an audit log for",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f0724070000"
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "The beginning of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "The end of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "Determines how many ChangeDescription object should be returned to\nthe calling code.\n",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "ref_id",
          "in" : "query",
          "description" : "When paginating a Changelog request start on the entry that comes\nimmediately before or after this ID (as determined by the direction\nargument).\n",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "If set to \"before\" then changes will be returned that occurred before\nreference ID. If \"after\" then changes will be returned that have\noccurred since the reference ID.\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "before", "after" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of changes occurring during the requested window.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedChangeDescriptions"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/changelog/shared-rules-graph/{sharedRulesKey}" : {
      "get" : {
        "tags" : [ "Audit Log" ],
        "summary" : "get changes related to the indicated SharedRules",
        "description" : "Gets all changes associated with set of Shared Rules; the domains using\nit and the clusters referenced by it.\n",
        "parameters" : [ {
          "name" : "sharedRulesKey",
          "in" : "path",
          "description" : "the shared rules key to see an audit log for",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f0724070000"
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "The beginning of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "The end of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "Determines how many ChangeDescription object should be returned to\nthe calling code.\n",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "ref_id",
          "in" : "query",
          "description" : "When paginating a Changelog request start on the entry that comes\nimmediately before or after this ID (as determined by the direction\nargument).\n",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "If set to \"before\" then changes will be returned that occurred before\nreference ID. If \"after\" then changes will be returned that have\noccurred since the reference ID.\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "before", "after" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of changes occurring during the requested window.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedChangeDescriptions"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/changelog/zone/{zoneKey}" : {
      "get" : {
        "tags" : [ "Audit Log" ],
        "summary" : "get changes in a specified zone",
        "description" : "Retrieve all changes in the specified zone.",
        "parameters" : [ {
          "name" : "zoneKey",
          "in" : "path",
          "description" : "the zone key to see an audit log for",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f0724070000"
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "The beginning of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "The end of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "Determines how many ChangeDescription object should be returned to\nthe calling code.\n",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "ref_id",
          "in" : "query",
          "description" : "When paginating a Changelog request start on the entry that comes\nimmediately before or after this ID (as determined by the direction\nargument).\n",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "If set to \"before\" then changes will be returned that occurred before\nreference ID. If \"after\" then changes will be returned that have\noccurred since the reference ID.\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "before", "after" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of changes occurring during the requested window.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedChangeDescriptions"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cluster" : {
      "get" : {
        "tags" : [ "Cluster" ],
        "summary" : "get clusters",
        "description" : "Get a list of clusters",
        "parameters" : [ {
          "name" : "filters",
          "in" : "query",
          "description" : "A JSON encoded array of ClusterFilter objects. The filter is taken\nas a union of intersections. In other words an object that matches\nevery constraint in any ClusterFilter will be included.\n",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "a result containing a list of clusters",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiClusterResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Cluster" ],
        "summary" : "create cluster",
        "description" : "Create a new cluster",
        "requestBody" : {
          "description" : "the cluster to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClusterCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "the newly created cluster",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClusterResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/{clusterKey}" : {
      "get" : {
        "tags" : [ "Cluster" ],
        "summary" : "get cluster",
        "description" : "Get details for an existing cluster",
        "parameters" : [ {
          "name" : "clusterKey",
          "in" : "path",
          "description" : "the cluster key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "7ef80556-60bb-46bd-4cec-f4e2533aa75c"
        } ],
        "responses" : {
          "200" : {
            "description" : "a result containing a single cluster",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClusterResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Cluster" ],
        "summary" : "modify cluster",
        "description" : "Modify an existing cluster",
        "parameters" : [ {
          "name" : "clusterKey",
          "in" : "path",
          "description" : "the cluster key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "5074fe62-821e-4034-55bd-b9caa09af2a1"
        } ],
        "requestBody" : {
          "description" : "the cluster to modify",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Cluster"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A result containing the modified cluster",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClusterResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Cluster" ],
        "summary" : "delete cluster",
        "description" : "Delete an existing cluster",
        "parameters" : [ {
          "name" : "clusterKey",
          "in" : "path",
          "description" : "the cluster key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "7ef80556-60bb-46bd-4cec-f4e2533aa75c"
        }, {
          "name" : "checksum",
          "in" : "query",
          "description" : "the current checksum of the cluster to be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f07240700b9"
        } ],
        "responses" : {
          "200" : {
            "description" : "an empty result",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/{clusterKey}/instances" : {
      "post" : {
        "tags" : [ "Cluster" ],
        "summary" : "add instance",
        "description" : "Add a new instance to a cluster",
        "parameters" : [ {
          "name" : "clusterKey",
          "in" : "path",
          "description" : "the cluster to add the instance to",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
        } ],
        "requestBody" : {
          "description" : "the instance to add",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Instance"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "the newly created instance",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InstanceResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/{clusterKey}/instances/{instanceIdentifier}" : {
      "delete" : {
        "tags" : [ "Cluster" ],
        "summary" : "remove instance",
        "description" : "Remove an instance from a cluster",
        "parameters" : [ {
          "name" : "checksum",
          "in" : "query",
          "description" : "the current checksum of the instance to be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f07240700b9"
        }, {
          "name" : "clusterKey",
          "in" : "path",
          "description" : "the cluster to remove an instance from",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "7ef80556-60bb-46bd-4cec-f4e2533aa75c"
        }, {
          "name" : "instanceIdentifier",
          "in" : "path",
          "description" : "the instance to remove, identified as <host>:<port>",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "foo-1.useast.test.com:8080"
        } ],
        "responses" : {
          "200" : {
            "description" : "an empty result",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/domain" : {
      "get" : {
        "tags" : [ "Domain" ],
        "summary" : "get domains",
        "description" : "Get a list of domains",
        "parameters" : [ {
          "name" : "filters",
          "in" : "query",
          "description" : "A JSON encoded array of DomainFilter objects. The filter is taken\nas a union of intersections. In other words an object that matches\nevery constraint in any DomainFilter will be included.\n",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "a result containing a list of domains",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiDomainResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Domain" ],
        "summary" : "create domain",
        "description" : "Create a new domain",
        "requestBody" : {
          "description" : "the domain to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DomainCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "the newly created zone",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DomainResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/domain/{domainKey}" : {
      "get" : {
        "tags" : [ "Domain" ],
        "summary" : "get domain",
        "description" : "Get details for a single domain",
        "parameters" : [ {
          "name" : "domainKey",
          "in" : "path",
          "description" : "the domain key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "48cf1c9b-f027-4223-b405-d48018ffb900"
        } ],
        "responses" : {
          "200" : {
            "description" : "a result containing a single domain",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DomainResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Domain" ],
        "summary" : "delete domain",
        "description" : "Delete an existing domain",
        "parameters" : [ {
          "name" : "domainKey",
          "in" : "path",
          "description" : "the domain key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "48cf1c9b-f027-4223-b405-d48018ffb900"
        }, {
          "name" : "checksum",
          "in" : "query",
          "description" : "the current checksum of the domain to be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f07240700b9"
        } ],
        "responses" : {
          "200" : {
            "description" : "an empty result",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/listener" : {
      "get" : {
        "tags" : [ "Listener" ],
        "summary" : "list listeners",
        "description" : "Get a list of listeners",
        "parameters" : [ {
          "name" : "filters",
          "in" : "query",
          "description" : "A JSON encoded array of ListenerFilter objects. The filter is taken\nas a union of intersections. In other words an object that matches\nevery constraint in any ListenerFilter will be included.\n",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "a result containing a list of listeners",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiListenerResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Listener" ],
        "summary" : "create listener",
        "description" : "Create a new listener",
        "requestBody" : {
          "description" : "the listener to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListenerCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "the newly created listener",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListenerResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/listener/{listenerKey}" : {
      "get" : {
        "tags" : [ "Listener" ],
        "summary" : "get listener",
        "description" : "Get details for a single listener",
        "parameters" : [ {
          "name" : "listenerKey",
          "in" : "path",
          "description" : "the listener key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "72c86057-ee8d-4a2b-a3a7-760fbd1d3b9f"
        } ],
        "responses" : {
          "200" : {
            "description" : "a result containing a single listener",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListenerResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Listener" ],
        "summary" : "modify listener",
        "description" : "Modify an existing listener",
        "parameters" : [ {
          "name" : "listenerKey",
          "in" : "path",
          "description" : "the listener key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "5074fe62-821e-4034-55bd-b9caa09af2a1"
        } ],
        "requestBody" : {
          "description" : "the listener to modify",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Listener"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A result containing the modified cluster",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListenerResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Listener" ],
        "summary" : "delete listener",
        "description" : "Delete existing listener",
        "parameters" : [ {
          "name" : "listenerKey",
          "in" : "path",
          "description" : "the listener key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "72c86057-ee8d-4a2b-a3a7-760fbd1d3b9f"
        }, {
          "name" : "checksum",
          "in" : "query",
          "description" : "the current checksum of the listener to be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f07240700b9"
        } ],
        "responses" : {
          "200" : {
            "description" : "an empty result",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Listener"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proxy" : {
      "get" : {
        "tags" : [ "Proxy" ],
        "summary" : "list proxies",
        "description" : "Get a list of proxies",
        "parameters" : [ {
          "name" : "filters",
          "in" : "query",
          "description" : "A JSON encoded array of ProxyFilter objects. The filter is taken\nas a union of intersections. In other words an object that matches\nevery constraint in any ProxyFilter will be included.\n",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "a result containing a list of proxies",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiProxyResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Proxy" ],
        "summary" : "create proxy",
        "description" : "Create a new proxy",
        "requestBody" : {
          "description" : "the proxy to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProxyCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "the newly created proxy",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProxyResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proxy/{proxyKey}" : {
      "get" : {
        "tags" : [ "Proxy" ],
        "summary" : "get proxy",
        "description" : "Get details for a single proxy",
        "parameters" : [ {
          "name" : "proxyKey",
          "in" : "path",
          "description" : "the proxy key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "72c86057-ee8d-4a2b-a3a7-760fbd1d3b9f"
        } ],
        "responses" : {
          "200" : {
            "description" : "a result containing a single proxy",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProxyResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Proxy" ],
        "summary" : "delete proxy",
        "description" : "Delete existing proxy",
        "parameters" : [ {
          "name" : "proxyKey",
          "in" : "path",
          "description" : "the proxy key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "72c86057-ee8d-4a2b-a3a7-760fbd1d3b9f"
        }, {
          "name" : "checksum",
          "in" : "query",
          "description" : "the current checksum of the proxy to be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f07240700b9"
        } ],
        "responses" : {
          "200" : {
            "description" : "an empty result",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Proxy"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/route" : {
      "get" : {
        "tags" : [ "Route" ],
        "summary" : "get routes",
        "description" : "Get a list of routes",
        "parameters" : [ {
          "name" : "filters",
          "in" : "query",
          "description" : "A JSON encoded array of RouteFilter objects. The filter is taken\nas a union of intersections. In other words an object that matches\nevery constraint in any RouteFilter will be included.\n",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "a result containing a list of routes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiRouteResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Route" ],
        "summary" : "create route",
        "description" : "Create a new route",
        "requestBody" : {
          "description" : "the route to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RouteCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "the newly created route",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RouteResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/route/{routeKey}" : {
      "get" : {
        "tags" : [ "Route" ],
        "summary" : "get route",
        "description" : "Get details for an existing route",
        "parameters" : [ {
          "name" : "routeKey",
          "in" : "path",
          "description" : "the route key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
        } ],
        "responses" : {
          "200" : {
            "description" : "a result containing a single route",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RouteResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Route" ],
        "summary" : "modify route",
        "description" : "Modify an existing route",
        "parameters" : [ {
          "name" : "routeKey",
          "in" : "path",
          "description" : "the route key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
        } ],
        "requestBody" : {
          "description" : "the route to modify",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Route"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A result containing the modified route",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RouteResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Route" ],
        "summary" : "delete route",
        "description" : "Delete an existing route",
        "parameters" : [ {
          "name" : "routeKey",
          "in" : "path",
          "description" : "the route key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
        }, {
          "name" : "checksum",
          "in" : "query",
          "description" : "the current checksum of the route to be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f07240700b9"
        } ],
        "responses" : {
          "200" : {
            "description" : "an empty result",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/shared_rules" : {
      "get" : {
        "tags" : [ "Shared Rules" ],
        "summary" : "get shared_rules",
        "description" : "Get a list of shared_rules",
        "parameters" : [ {
          "name" : "filters",
          "in" : "query",
          "description" : "A JSON encoded array of SharedRulesFilter objects. The filter is taken\nas a union of intersections. In other words an object that matches\nevery constraint in any SharedRulesFilter will be included.\n",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "a result containing a list of shared_rules",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiSharedRulesResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Shared Rules" ],
        "summary" : "create shared_rules",
        "description" : "Create a new shared_rules object",
        "requestBody" : {
          "description" : "the shared_rules object to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SharedRulesCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "the newly created shared_rules object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SharedRulesResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/shared_rules/{sharedRulesKey}" : {
      "get" : {
        "tags" : [ "Shared Rules" ],
        "summary" : "get shared_rules object",
        "description" : "Get details for an existing shared_rules object",
        "parameters" : [ {
          "name" : "sharedRulesKey",
          "in" : "path",
          "description" : "the shared_rules key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
        } ],
        "responses" : {
          "200" : {
            "description" : "a result containing a single shared_rules object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SharedRulesResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Shared Rules" ],
        "summary" : "modify shared_rules object",
        "description" : "Modify an existing shared_rules object",
        "parameters" : [ {
          "name" : "sharedRulesKey",
          "in" : "path",
          "description" : "the shared_rules key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
        } ],
        "requestBody" : {
          "description" : "the shared_rules object to modify",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SharedRules"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A result containing the modified shared_rules object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SharedRulesResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Route" ],
        "summary" : "delete shared_rules object",
        "description" : "Delete an existing shared_rules object",
        "parameters" : [ {
          "name" : "sharedRulesKey",
          "in" : "path",
          "description" : "the shared_rules key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
        }, {
          "name" : "checksum",
          "in" : "query",
          "description" : "the current checksum of the shared_rules to be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f07240700b9"
        } ],
        "responses" : {
          "200" : {
            "description" : "an empty result",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/zone" : {
      "get" : {
        "tags" : [ "Zone" ],
        "summary" : "get a list of zones",
        "description" : "Get all zones. possibly with filters\n",
        "parameters" : [ {
          "name" : "filters",
          "in" : "query",
          "description" : "A JSON encoded array of ZoneFilter objects. The filter is taken\nas a union of intersections. In other words an object that matches\nevery constraint in any ZoneFilter will be included.\n",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A result containing an array of zones",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiZoneResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Zone" ],
        "summary" : "create zone",
        "description" : "Create a new zone.\n",
        "requestBody" : {
          "description" : "the zone to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ZoneCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A result containing the newly created zone",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ZoneResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/zone/{zoneKey}" : {
      "get" : {
        "tags" : [ "Zone" ],
        "summary" : "get zone",
        "description" : "Get details for a single zone\n",
        "parameters" : [ {
          "name" : "zoneKey",
          "in" : "path",
          "description" : "the zone key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f0724070000"
        } ],
        "responses" : {
          "200" : {
            "description" : "a result containing a single zone",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ZoneResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Zone" ],
        "summary" : "delete zone",
        "description" : "Delete a zone.\n",
        "parameters" : [ {
          "name" : "zoneKey",
          "in" : "path",
          "description" : "the zone key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f0724070000"
        }, {
          "name" : "checksum",
          "in" : "query",
          "description" : "the current checksum of the zone to be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "9cd24183-f848-48f8-6f55-0f07240700b9"
        } ],
        "responses" : {
          "200" : {
            "description" : "an empty result",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AccessToken" : {
        "required" : [ "access_token_key", "checksum", "created_at", "description", "user_key" ],
        "type" : "object",
        "properties" : {
          "access_token_key" : {
            "type" : "string"
          },
          "checksum" : {
            "type" : "string"
          },
          "created_at" : {
            "type" : "string",
            "description" : "A timestamp that marks when a user was deleted. It is in the format\nyyyy-mm-ddThh:mm:ss.SZ. The timezone will always be UTC.\n"
          },
          "description" : {
            "type" : "string"
          },
          "signed_token" : {
            "type" : "string",
            "description" : "This will be set only when an AccessToken is initially created\n"
          },
          "user_key" : {
            "type" : "string"
          }
        }
      },
      "AccessTokenDescription" : {
        "required" : [ "description" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string"
          }
        }
      },
      "AllConstraints" : {
        "required" : [ "light" ],
        "type" : "object",
        "properties" : {
          "dark" : {
            "$ref" : "#/components/schemas/ClusterConstraints"
          },
          "light" : {
            "$ref" : "#/components/schemas/ClusterConstraints"
          },
          "tap" : {
            "$ref" : "#/components/schemas/ClusterConstraints"
          }
        }
      },
      "CORSConfig" : {
        "required" : [ "allowed_methods", "allowed_origins" ],
        "type" : "object",
        "properties" : {
          "allow_credentials" : {
            "type" : "boolean",
            "description" : "Indicates whether the response to request can be exposed when the\nomit credentials flag is unset\nhttps://www.w3.org/TR/cors/#access-control-allow-credentials-response-header.\n"
          },
          "allowed_headers" : {
            "type" : "array",
            "description" : "Specifies what headers are allowed to be set when a request is made.\nhttps://www.w3.org/TR/cors/#access-control-allow-headers-response-header.\n",
            "items" : {
              "type" : "string"
            }
          },
          "allowed_methods" : {
            "type" : "array",
            "description" : "Indicates which HTTP request types may be used to call an endpoint.\nhttps://www.w3.org/TR/cors/#access-control-allow-methods-response-header.\n",
            "items" : {
              "type" : "string"
            }
          },
          "allowed_origins" : {
            "type" : "array",
            "description" : "Must contain a single element specifying the domain (origin) allowed\nto make requsets to this domain. If any origin is acceptable '*' may\nbe used as a wildcard https://www.w3.org/TR/cors/#origin-request-header,\nhttps://www.w3.org/TR/cors/#access-control-allow-origin-response-header.\n",
            "items" : {
              "type" : "string"
            }
          },
          "exposed_headers" : {
            "type" : "array",
            "description" : "Indicates which response headers may be accessed from the browser.\nhttps://www.w3.org/TR/cors/#http-access-control-expose-headers.\n",
            "items" : {
              "type" : "string"
            }
          },
          "max_age" : {
            "type" : "integer",
            "description" : "Sets how long (in seconds) the response to a preflight request may be\ncached. A value of -1 will disable caching. https://www.w3.org/TR/cors/#access-control-max-age-response-header.\n"
          }
        },
        "description" : "Experimental: Controls simple CORS responses for the associated domain.\nThe configurable properties map closely to the CORS specification which\nshould be referenced for a full discussion on their meaning:\nhttps://www.w3.org/TR/cors/ or https://developer.mozilla.org/docs/Web/HTTP/Access_control_CORS.\n"
      },
      "CertKeyPathPair" : {
        "required" : [ "certificate_path", "key_path" ],
        "type" : "object",
        "properties" : {
          "certificate_path" : {
            "type" : "string",
            "description" : "Path to a certificate in the PEM format for the domain. If multiple\ncertificates need to be specified then should be contained in this file\nin the following order: first the primary certificate followed by any\nintermediary certificats.\n"
          },
          "key_path" : {
            "type" : "string",
            "description" : "Path to a file with the secret key in the PEM format for the domain.\n"
          }
        },
        "description" : "A key/cert pair that will be served when a domain terminates a SSL/TLS\nrequest.  Paths should be absolute and accessible to the user running\nthe proxy instance.\n"
      },
      "ChangeDescription" : {
        "type" : "object",
        "properties" : {
          "actor_key" : {
            "type" : "string",
            "description" : "The user who made the change."
          },
          "at" : {
            "type" : "number",
            "description" : "When the change took place in milliseconds since the Unix epoch.",
            "format" : "int64"
          },
          "comment" : {
            "type" : "string",
            "description" : "A description of the change."
          },
          "diffs" : {
            "type" : "array",
            "description" : "A collection of attribute updates that compose this change.",
            "items" : {
              "$ref" : "#/components/schemas/ChangeEntry"
            }
          },
          "txn" : {
            "type" : "string",
            "description" : "A unique identifier for all this transaction. It is shared by all\nattribute updates within a change.\n"
          }
        }
      },
      "ChangeEntry" : {
        "type" : "object",
        "properties" : {
          "change_type" : {
            "type" : "string",
            "description" : "Whether the value was added or removed to the object.",
            "enum" : [ "addition", "removal" ]
          },
          "object_key" : {
            "type" : "string",
            "description" : "An ID uniquely identifying the object being changed."
          },
          "object_type" : {
            "type" : "string",
            "description" : "The name of the object being being altered.",
            "enum" : [ "org", "user", "zone", "proxy", "domain", "route", "shared_rules", "cluster" ]
          },
          "path" : {
            "type" : "string",
            "description" : "A dot-separated / bracket-indexed path to the field changed on the object."
          },
          "value" : {
            "type" : "string",
            "description" : "The value that has been added or removed to the object at the attribute\npath indicated in path.\n"
          },
          "zone_key" : {
            "type" : "string",
            "description" : "The zone this object is located in."
          }
        }
      },
      "CircuitBreakers" : {
        "type" : "object",
        "properties" : {
          "max_connections" : {
            "type" : "integer",
            "description" : "Maximum number of connections that will be established to all\ninstances in a cluster within a proxy. If set to 0, no new connections\nwill be created. If not specified, defaults to 1024.\n"
          },
          "max_pending_requests" : {
            "type" : "integer",
            "description" : "Maximum number of requests that will be queued while waiting on a\nconnection pool to a cluster within a proxy. If set to 0, no requests\nwill be queued. If not specified, defaults to 1024.\n"
          },
          "max_requests" : {
            "type" : "integer",
            "description" : "Maximum number of requests that can be outstanding to all instances in\na cluster within  a proxy. Only applicable to HTTP/2 traffic since\nHTTP/1.1 clusters are governed by the maximum connections circuit\nbreaker. If set to 0, no requests will be made. If not specified,\ndefaults to 1024.\n"
          },
          "max_retries" : {
            "type" : "integer",
            "description" : "Maximum number of retries that can be outstanding to all instances in\na cluster within a proxy. If set to 0, requests will not be retried.\nIf not specified, defaults to 3.\n"
          }
        },
        "description" : "Provides limits on various parameters to protect clusters against sudden\nsurges in traffic.\n"
      },
      "Cluster" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/ClusterCreate"
        }, {
          "required" : [ "checksum", "cluster_key" ],
          "type" : "object",
          "properties" : {
            "checksum" : {
              "type" : "string"
            },
            "cluster_key" : {
              "type" : "string"
            }
          }
        } ]
      },
      "ClusterConstraint" : {
        "type" : "object",
        "properties" : {
          "cluster_key" : {
            "type" : "string"
          },
          "constraint_key" : {
            "type" : "string"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/Metadata"
          },
          "properties" : {
            "$ref" : "#/components/schemas/Metadata"
          },
          "response_data" : {
            "type" : "object",
            "description" : "When a request is served by a cluster selected by this constraint annotate\nthe response with the information specified within this ResponseData\nobject. It's possible that multiple response data configurations will\napply; if that's the case then the values from ClusterConstarint takes\nprecedence over those from a Route or SharedRules object.\n",
            "allOf" : [ {
              "$ref" : "#/components/schemas/ResponseData"
            } ]
          },
          "weight" : {
            "type" : "integer"
          }
        }
      },
      "ClusterConstraints" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/ClusterConstraint"
        }
      },
      "ClusterCreate" : {
        "required" : [ "name", "zone_key" ],
        "type" : "object",
        "properties" : {
          "circuit_breakers" : {
            "$ref" : "#/components/schemas/CircuitBreakers"
          },
          "health_checks" : {
            "$ref" : "#/components/schemas/HealthChecks"
          },
          "instances" : {
            "$ref" : "#/components/schemas/Instances"
          },
          "name" : {
            "type" : "string"
          },
          "outlier_detection" : {
            "$ref" : "#/components/schemas/OutlierDetection"
          },
          "require_tls" : {
            "type" : "boolean",
            "description" : "If set, requests to this collection of hosts will be made via HTTPS.\nAt this time neither certificate validation and certificate pinning\nare supported for proxy clients of this cluster.\n"
          },
          "zone_key" : {
            "type" : "string"
          }
        }
      },
      "ClusterFilter" : {
        "type" : "object",
        "properties" : {
          "cluster_key" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "zone_key" : {
            "type" : "string"
          }
        }
      },
      "ClusterResult" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "$ref" : "#/components/schemas/Cluster"
          }
        }
      },
      "CohortSeed" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the cookie, the header field, or the query argument to\nbe checked for a cohort seed value.\n"
          },
          "type" : {
            "type" : "string",
            "description" : "Where a request's cohort seed will be drawn from.",
            "enum" : [ "header", "cookie", "query" ]
          },
          "use_zero_value_seed" : {
            "type" : "boolean",
            "description" : "If true, requests with a seed source which resolves to an empty value\nwill still be grouped and routed consistently. This means a misspelled\nor missing seed source on a request will sort all such traffic into a\nsingle backend. This could result in all traffic being assigned to a\nbackend intended for only a small percentage of traffic. Use with\ncaution.\n"
          }
        }
      },
      "CookieDatum" : {
        "type" : "object",
        "properties" : {
          "domain" : {
            "type" : "string",
            "description" : "Specifies the hosts to hich a cookie will be sent. Maps directly to a\ncookie's 'Domain' attribute.\n"
          },
          "expires_in_sec" : {
            "type" : "integer",
            "description" : "This indicates how long a cookie will be valid, in seconds. If not set the\ndefault is to provide no expiration information. If set to 0 the cookie will\nhave an 'Expires' attribute set to 'Mon, 1 Jan 0001 12:00:00 UTC'. For values\ngreater than 0 the cookie's 'Max-Age' attribute will be set to that value.\n"
          },
          "http_only" : {
            "type" : "boolean",
            "description" : "If set the cookie value will not be accessible via Document.cookie. Maps\ndirectly to 'HttpOnly' attribute.\n"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the cookie that will be attached to the response sent."
          },
          "path" : {
            "type" : "string",
            "description" : "Specifies the path a cookie will be associated with. Maps directly to\nthe 'Path' attribute.\n"
          },
          "same_site" : {
            "type" : "string",
            "description" : "Allows assertions how a cookie should behave wend making cross-site requests.\nMaps directly to 'SameSite' attribute. If unset no guidance will be included\nin the cookie.\n",
            "enum" : [ "Strict", "Lax" ]
          },
          "secure" : {
            "type" : "boolean",
            "description" : "If set the cookie will only be sent on subsequent requests when accessing\na server via HTTPS. Maps directly to 'Secure' attribute.\n"
          },
          "value" : {
            "type" : "string",
            "description" : "A literal value to send as the cookie value or a reference to\nsome metadatum value set on the Cluster Intsance that handles\na specific request.\n"
          },
          "value_is_literal" : {
            "type" : "boolean",
            "description" : "If true then the value attribute is treated as a literal and no attempt\nto resolve to a server metadatum.\n"
          }
        },
        "description" : "This describes a cookie that should be set in response to a HTTP request.\n"
      },
      "Domain" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/DomainCreate"
        }, {
          "required" : [ "checksum", "domain_key" ],
          "type" : "object",
          "properties" : {
            "checksum" : {
              "type" : "string"
            },
            "domain_key" : {
              "type" : "string"
            }
          }
        } ]
      },
      "DomainCreate" : {
        "required" : [ "name", "port", "zone_key" ],
        "type" : "object",
        "properties" : {
          "aliases" : {
            "type" : "array",
            "description" : "A set of alternate names that this Domain may be referenced by. May\nstart ('*.') or end ('.*') with a wildcard.\n",
            "items" : {
              "type" : "string"
            }
          },
          "checksum" : {
            "type" : "string"
          },
          "cors_config" : {
            "$ref" : "#/components/schemas/CORSConfig"
          },
          "domain_key" : {
            "type" : "string"
          },
          "force_https" : {
            "type" : "boolean",
            "description" : "If set to true, requests must use TLS. If a request is not using TLS, (as determined by\nthe scheme or the presence of X-Forwarded-Proto header), a 301 redirect will be sent\ntelling the client to use HTTPS.\n"
          },
          "gzip_enabled" : {
            "type" : "boolean",
            "description" : "Experimental: if set to true will enable gzip compression on data that passes trough this domain"
          },
          "name" : {
            "type" : "string"
          },
          "port" : {
            "type" : "integer"
          },
          "redirects" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Redirect"
            }
          },
          "ssl_config" : {
            "$ref" : "#/components/schemas/SSLConfig"
          },
          "zone_key" : {
            "type" : "string"
          }
        }
      },
      "DomainFilter" : {
        "type" : "object",
        "properties" : {
          "domain_key" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "proxy_keys" : {
            "type" : "array",
            "description" : "matches Domains with a superset of the specified proxy_keys. A\nslice with a single value of \"-\" will produce Domains with no linked\nProxies.\n",
            "items" : {
              "type" : "string"
            }
          },
          "zone_key" : {
            "type" : "string"
          }
        }
      },
      "DomainResult" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "$ref" : "#/components/schemas/Domain"
          }
        }
      },
      "Empty" : {
        "type" : "object"
      },
      "Error" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fields" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          }
        }
      },
      "Filter" : {
        "type" : "object",
        "properties" : {
          "absolute_match_only" : {
            "type" : "boolean",
            "description" : "If set this will return ChangeEntry values with a path that matches\nthe attribute_path property exactly.\n"
          },
          "actor_key" : {
            "type" : "string",
            "description" : "The user who made the change."
          },
          "attribute_path" : {
            "type" : "string",
            "description" : "A dot-separated / bracket-indexed path to the field changed on the\nobject. '%' may be used as a wildcard.\n"
          },
          "attribute_value" : {
            "type" : "string",
            "description" : "The value that has been added or removed to the object at the attribute\npath indicated in path.\n"
          },
          "change_txn" : {
            "type" : "string",
            "description" : "A unique identifier for all this transaction. It is shared by all\nattribute updates within a change.\n"
          },
          "change_type" : {
            "type" : "string",
            "description" : "Whether the value was added or removed to the object.",
            "enum" : [ "addition", "removal" ]
          },
          "exclude_empty_values" : {
            "type" : "boolean",
            "description" : "If set this will exclude ChangeEntry records that save the addition\nor removal of an empty value.\n"
          },
          "negative_match" : {
            "type" : "boolean",
            "description" : "If set this filter will match the all ChangeEntry records that do\nNOT meet the constraints laid out in this Filter object.\n"
          },
          "object_key" : {
            "type" : "string",
            "description" : "An ID uniquely identifying the object being changed."
          },
          "object_type" : {
            "type" : "string",
            "description" : "The name of the object being being altered.",
            "enum" : [ "org", "user", "zone", "proxy", "domain", "route", "shared_rules", "cluster" ]
          },
          "org_key" : {
            "type" : "string",
            "description" : "The organization the objects being updated belong to."
          },
          "time_range" : {
            "$ref" : "#/components/schemas/TimeRange"
          },
          "zone_key" : {
            "type" : "string",
            "description" : "The zone this object is located in."
          }
        }
      },
      "FilterProducts" : {
        "type" : "object",
        "properties" : {
          "and" : {
            "type" : "array",
            "description" : "An array of changelog filters that will be joined via logical AND.",
            "items" : {
              "$ref" : "#/components/schemas/Filter"
            }
          }
        }
      },
      "FilterSums" : {
        "type" : "object",
        "properties" : {
          "or" : {
            "type" : "array",
            "description" : "An array of changelog filters that will be joined via logical OR.",
            "items" : {
              "$ref" : "#/components/schemas/FilterProducts"
            }
          }
        }
      },
      "HTTPHealthCheck" : {
        "type" : "object",
        "properties" : {
          "host" : {
            "type" : "string",
            "description" : "The value of the host header in the HTTP health check request.\nIf left empty, the name of the cluster being health checked\nwill be used.\n"
          },
          "path" : {
            "type" : "string",
            "description" : "Specifies the HTTP path that will be requested during health\nchecking.\n"
          },
          "request_headers_to_add" : {
            "type" : "object",
            "description" : "Specifies a list of HTTP headers that should be added to each request\nsent to the health checked cluster.\n",
            "allOf" : [ {
              "$ref" : "#/components/schemas/Metadata"
            } ]
          },
          "service_name" : {
            "type" : "string",
            "description" : "An optional service name parameter which is used to validate\nthe identity of the health checked cluster.\n"
          }
        }
      },
      "HeaderConstraint" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "case_sensitive" : {
            "type" : "boolean",
            "description" : "If set, the header value check will be case sensitive."
          },
          "invert" : {
            "type" : "boolean",
            "description" : "If set, the header constraint will succeed if the match described faile.\n"
          },
          "name" : {
            "type" : "string",
            "description" : "The header that is being checked. This must match the regexp \"^[0-9a-zA-Z-]+$\".\nThis is checked in a case insensitive manner.\n"
          },
          "value" : {
            "type" : "string",
            "description" : "If set the header's value will be compared to this. The default is to\nmake case insensitive comparisons.\n"
          }
        },
        "description" : "Indicates that a request's headers should meet some requirement before being\nselected for a rewrite. Must have zore or one elements.\n"
      },
      "HeaderDatum" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the header that will be attached to the response sent.\nThis is case insensitive.\n"
          },
          "value" : {
            "type" : "string",
            "description" : "A literal value to send as the header value or a reference to\nsome metadatum value set on the Cluster Intsance that handles\na specific request. If this value is empty after looking up an\nInstance metadatum value no header will be sent.\n"
          },
          "value_is_literal" : {
            "type" : "boolean",
            "description" : "If true then the value attribute is treated as a literal and no attempt\nto resolve instance metadatum to find a value.\n"
          }
        },
        "description" : "This describes a HTTP header that should be attached to requests.\n"
      },
      "HealthCheck" : {
        "required" : [ "health_checker", "healthy_threshold", "interval_msec", "timeout_msec", "unhealthy_threshold" ],
        "type" : "object",
        "properties" : {
          "health_checker" : {
            "type" : "object",
            "properties" : {
              "http_health_check" : {
                "$ref" : "#/components/schemas/HTTPHealthCheck"
              },
              "tcp_health_check" : {
                "$ref" : "#/components/schemas/TCPHealthCheck"
              }
            },
            "description" : "Defines the type of health checker to use. Only a single health\nchecker can be defined per HealthCheck.\n"
          },
          "healthy_edge_interval_msec" : {
            "type" : "integer",
            "description" : "Interval used for the first health check right after a host is marked\nas healthy. For subsequent health checks, the proxy will shift back to\nusing the standard health check interval(\\'interval_msec\\') that is\ndefined. Defaults to the same value as \\'interval_msec\\' if not\nspecified.\n"
          },
          "healthy_threshold" : {
            "type" : "integer",
            "description" : "The number of healthy health checks required before a host is marked\nhealthy. Note that during startup, only a single successful health\ncheck is required to mark a host healthy.\n"
          },
          "interval_jitter_msec" : {
            "type" : "integer",
            "description" : "An optional jitter amount that is added to each interval value\ncalculated by the proxy. If not specified, defaults to 0.\n"
          },
          "interval_msec" : {
            "type" : "integer",
            "description" : "The interval between health checks. The first round of health checks\nwill occur during startup before any traffic is routed to a cluster.\nThis means that the \\'no_traffic_interval_msec\\' value will be used as\nthe first interval of health checks.\n"
          },
          "no_traffic_interval_msec" : {
            "type" : "integer",
            "description" : "Interval used when a cluster has never had traffic routed to it. It\nallows cluster information to be kept up to date, without sending a\npotentially large amount of active health checking traffic for no\nreason. Once a cluster has been used for traffic routing, The proxy\nwill shift back to using the standard health check interval that is\ndefined. Note that this interval takes precedence over any other.\nDefaults to 60s.\n"
          },
          "reuse_connection" : {
            "type" : "boolean",
            "description" : "Whether or not to reuse health check connections between health checks.\nDefault is true.\n"
          },
          "timeout_msec" : {
            "type" : "integer",
            "description" : "The time to wait for a health check response. If the timeout is\nreached without a response, the health check attempt will be\nconsidered a failure. This is a required field and must be greater\nthan 0.\n"
          },
          "unhealthy_edge_interval_msec" : {
            "type" : "integer",
            "description" : "Interval used for the first health check right after a host is marked\nas unhealthy. For subsequent health checks, the proxy will shift back\nto using either \\'unhealthy_interval_msec\\' if present or the standard\nhealth check interval, \\'interval_msec\\'.\n"
          },
          "unhealthy_interval_msec" : {
            "type" : "integer",
            "description" : "Interval used for hosts that are marked as unhealthy. As soon as the\nhost is marked as healthy, The proxy will shift back to using the\nstandard health check interval that is defined. This defaults to the\nsame value as \\'interval_msec\\' if not specified.\n"
          },
          "unhealthy_threshold" : {
            "type" : "integer",
            "description" : "The number of unhealthy health checks required before a host is\nmarked unhealthy. Note that for *http* health checking, if a host\nresponds with 503, this threshold is ignored and the host is\nconsidered unhealthy immediately.\n"
          }
        },
        "description" : "Configures active health checking for every instance in a cluster.\n"
      },
      "HealthChecks" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/HealthCheck"
        }
      },
      "Instance" : {
        "type" : "object",
        "properties" : {
          "host" : {
            "type" : "string"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/Metadata"
          },
          "port" : {
            "type" : "integer"
          }
        }
      },
      "InstanceResult" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "$ref" : "#/components/schemas/Instance"
          }
        }
      },
      "Instances" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/Instance"
        }
      },
      "Listener" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/ListenerCreate"
        }, {
          "required" : [ "checksum", "listener_key" ],
          "type" : "object",
          "properties" : {
            "checksum" : {
              "type" : "string"
            },
            "listener_key" : {
              "type" : "string"
            }
          }
        } ]
      },
      "ListenerCreate" : {
        "required" : [ "name", "port", "protocol" ],
        "type" : "object",
        "properties" : {
          "domain_keys" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "ip" : {
            "type" : "string",
            "description" : "the interface this listener should bind to."
          },
          "name" : {
            "type" : "string"
          },
          "port" : {
            "type" : "integer",
            "description" : "the port this listener should bind to."
          },
          "protocol" : {
            "type" : "string",
            "description" : "the protocol this listener will handle. http and http2 configure the listener to only\nprocess requests of that type. http_auto will adapt to HTTP/1.1 and HTTP/2 as needed.\ntcp configures the listener to be a tcp proxy\n",
            "enum" : [ "http", "http2", "http_auto", "tcp" ]
          },
          "tracing_config" : {
            "$ref" : "#/components/schemas/TracingConfig"
          },
          "zone_key" : {
            "type" : "string"
          }
        }
      },
      "ListenerResult" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "$ref" : "#/components/schemas/Listener"
          }
        }
      },
      "Match" : {
        "type" : "object",
        "properties" : {
          "behavior" : {
            "type" : "string",
            "description" : "Defines how a request attribute should be matched. If not specified,\ndefaults to `exact`. Valid values are\n  * exact\n  * regex\n  * range\n  * prefix\n  * suffix\n"
          },
          "from" : {
            "type" : "object",
            "description" : "The request attribute key and value to match. `key` must always be\ndefined while `value` can be unspecified (only if behavior is set to\n`exact`) to indicate that all values should be matched. If to.value\nis also unspecified, the matched value of the request will be used as\na constraint on the destination cluster.\n\n\\# Behavior\n  * `regex` if To.Value is unspecified, `value` must contain one and\n  only one subgroup. Otherwise, `value` must not be empty.\n  * `range` `value` must be specified and must be of the format\n  `[start_integer, end_integer)`. Start and end must be valid integer\n  values and `end_integer` must be greater than `start_integer`.\n  * `prefix`/`suffix` `value` must be specified\n\n\\# Kind\n  * `cookie` does not support `range` behavior\n  * `query` does not support `regex` behavior\n",
            "allOf" : [ {
              "$ref" : "#/components/schemas/Metadatum"
            } ]
          },
          "kind" : {
            "type" : "string",
            "description" : "Defines the attribute by which a request should be matched on. Valid\nvalues are\n  * cookie\n  * header\n  * query (for query parameter)\n"
          },
          "to" : {
            "type" : "object",
            "description" : "The constraints on a cluster that a matched request should map to. If\nto.key is specified and to.value is not, the matched from.value will\nbe used as a metadata constraint on instances in the destination\ncluster, keyed by to.key. If using `regex` behavior with multiple\nsubgroups in from.value, variables `$1` through `$n`, where n is the\nnumber of subgroups in the matching regex, can be used to interpolate\ncaptured matches in to.value.\n",
            "allOf" : [ {
              "$ref" : "#/components/schemas/Metadatum"
            } ]
          }
        },
        "description" : "Represents a mapping of request attributes to constraints on a cluster\nusing different matching schemes.\n\nCertain combinations of `kind` and `behavior` are not allowed\n  | kind | behavior |\n  | ---- | -------- |\n  | query | regex |\n  | query | range |\n  | cookie | range |\n"
      },
      "Matches" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/Match"
        }
      },
      "Metadata" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/Metadatum"
        }
      },
      "Metadatum" : {
        "type" : "object",
        "properties" : {
          "key" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          }
        }
      },
      "MultiAccessTokens" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AccessToken"
            }
          }
        }
      },
      "MultiClusterResult" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Cluster"
            }
          }
        }
      },
      "MultiDomainResult" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Domain"
            }
          }
        }
      },
      "MultiListenerResult" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Listener"
            }
          }
        }
      },
      "MultiProxyResult" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Proxy"
            }
          }
        }
      },
      "MultiRouteResult" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Route"
            }
          }
        }
      },
      "MultiSharedRulesResult" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SharedRules"
            }
          }
        }
      },
      "MultiZoneResult" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Zone"
            }
          }
        }
      },
      "OutlierDetection" : {
        "type" : "object",
        "properties" : {
          "base_ejection_time_msec" : {
            "type" : "integer",
[...]
