{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Azure SQL Database Backup Long Term Retention Policy",
    "description" : "Provides read and update functionality for Azure SQL Database backup long term retention policy",
    "version" : "2014-04-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupLongTermRetentionPolicies" : {
      "get" : {
        "tags" : [ "BackupLongTermRetentionPolicies" ],
        "description" : "Returns a database backup long term retention policy",
        "operationId" : "BackupLongTermRetentionPolicies_ListByDatabase",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverName",
          "in" : "path",
          "description" : "The name of the server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "databaseName",
          "in" : "path",
          "description" : "The name of the database.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupLongTermRetentionPolicyListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupLongTermRetentionPolicies/{backupLongTermRetentionPolicyName}" : {
      "get" : {
        "tags" : [ "BackupLongTermRetentionPolicies" ],
        "description" : "Returns a database backup long term retention policy",
        "operationId" : "BackupLongTermRetentionPolicies_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverName",
          "in" : "path",
          "description" : "The name of the server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "databaseName",
          "in" : "path",
          "description" : "The name of the database.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupLongTermRetentionPolicyName",
          "in" : "path",
          "description" : "The name of the backup long term retention policy",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "Default" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupLongTermRetentionPolicy"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "BackupLongTermRetentionPolicies" ],
        "description" : "Creates or updates a database backup long term retention policy",
        "operationId" : "BackupLongTermRetentionPolicies_CreateOrUpdate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverName",
          "in" : "path",
          "description" : "The name of the server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "databaseName",
          "in" : "path",
          "description" : "The name of the database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupLongTermRetentionPolicyName",
          "in" : "path",
          "description" : "The name of the backup long term retention policy",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "Default" ]
          }
        } ],
        "requestBody" : {
          "description" : "The required parameters to update a backup long term retention policy",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupLongTermRetentionPolicy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupLongTermRetentionPolicy"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupLongTermRetentionPolicy"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BackupLongTermRetentionPolicy" : {
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "The geo-location where the resource lives",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/BackupLongTermRetentionPolicyProperties"
          }
        },
        "description" : "A backup long term retention policy",
        "allOf" : [ {
          "description" : "ARM proxy resource.",
          "allOf" : [ {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID.",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "Resource name.",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "Resource type.",
                "readOnly" : true
              }
            },
            "description" : "ARM resource."
          } ]
        } ]
      },
      "BackupLongTermRetentionPolicyListResult" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The list of long-term retention policies in the database.",
            "items" : {
              "$ref" : "#/components/schemas/BackupLongTermRetentionPolicy"
            }
          }
        },
        "description" : "Represents the response to a list long-term retention policies request."
      },
      "BackupLongTermRetentionPolicyProperties" : {
        "required" : [ "recoveryServicesBackupPolicyResourceId", "state" ],
        "type" : "object",
        "properties" : {
          "recoveryServicesBackupPolicyResourceId" : {
            "type" : "string",
            "description" : "The azure recovery services backup protection policy resource id"
          },
          "state" : {
            "type" : "string",
            "description" : "The status of the backup long term retention policy",
            "enum" : [ "Disabled", "Enabled" ]
          }
        },
        "description" : "The properties of a backup long term retention policy"
      }
    },
    "parameters" : {
      "ServerNameParameter" : {
        "name" : "serverName",
        "in" : "path",
        "description" : "The name of the server.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}