{"openapi":"3.0.1","info":{"title":"Moon by Ai Weiwei & Olafur Eliasson","description":"Turn nothing into something – make a drawing, make a mark.","version":"1.0"},"servers":[{"url":"http://moonmoonmoonmoon.com/"}],"tags":[{"name":"marks","description":"Moon data"}],"paths":{"/api/hashtags":{"get":{"tags":["marks"],"summary":"Fetches popular hashtags or marks tagged with specified hashtag","description":"Search for specified tag (no pound sign necessary). If <b>tag</b> is empty, the 50 most popular hashtags will be returned.","operationId":"Marks#hashtags","parameters":[{"name":"tag","in":"query","description":"Hashtag to search for","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"},"400":{"description":"Bad Request"}}}},"/api/marks":{"get":{"tags":["marks"],"summary":"Fetches marks","description":"The main method for querying the marks database. You may use the following options:\n        <ol style='list-style-type: lower-roman;'>\n        <li>No parameters to retrieve all marks in descending chronological order (use <b>before</b> for pagination)</li>\n        <li><b>popular</b> (and optionally <b>last_popular_id</b>) to retrieve all popular marks</li>\n        <li><b>featured</b> to retrieve all featured marks</li>\n        <li><b>x & y</b> to retrieve mark at specific coordinate</li>\n        <li><b>user</b> to retrieve all marks created by the specified user</li>\n        <li><b>collection</b> to retrieve all marks collected by the specified user</li>\n        </ol>","operationId":"Marks#index","parameters":[{"name":"before","in":"query","description":"Before ID (pagination purposes)","schema":{"type":"string"}},{"name":"popular","in":"query","description":"Popular marks","schema":{"type":"boolean"}},{"name":"last_popular_id","in":"query","description":"Last popular ID (for pagination purposes)","schema":{"type":"string"}},{"name":"featured","in":"query","description":"Featured marks","schema":{"type":"boolean"}},{"name":"x","in":"query","description":"X coordinate","schema":{"type":"integer"}},{"name":"y","in":"query","description":"Y coordinate","schema":{"type":"integer"}},{"name":"user","in":"query","description":"Created by user ID","schema":{"type":"string"}},{"name":"collection","in":"query","description":"Collection ID","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"},"400":{"description":"Bad Request"}}}}}}