{"openapi":"3.0.1","info":{"title":"APIMATIC API Transformer","description":"Transform API Descriptions from/to various formats","termsOfService":"https://apimatic.io/transformer","contact":{"name":"API Transformer","url":"https://apimatic.io/transformer","email":"transform@apimatic.io"},"license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"version":"1.0"},"externalDocs":{"description":"API Transformer Website","url":"https://apimatic.io/transformer"},"servers":[{"url":"https://apimatic.io/api/transform"}],"paths":{"/transform":{"post":{"summary":"Transform API Descriptions from/to various formats","description":"Transform API Descriptions from/to various formats e.g., Swagger, API Blueprint, RAML, WADL, Google Discovery, I/O Docs.\n\n### INPUTS\n* API Blueprint\n* Swagger 1.0 - 1.2\n* Swagger 2.0 JSON\n* Swagger 2.0 YAML\n* WADL - W3C 2009\n* Google Discovery\n* RAML 0.8\n* I/O Docs - Mashery\n* HAR 1.2\n* Postman Collection 1.0 - 2.0\n* APIMATIC Format\n* Mashape\n\n### OUTPUTS\n* API Blueprint\n* Swagger 1.2\n* Swagger 2.0 JSON\n* Swagger 2.0 YAML\n* WADL - W3C 2009\n* RAML 0.8 - 1.0\n* APIMATIC Format","operationId":"ConvertAPI","parameters":[{"name":"format","in":"query","required":true,"schema":{"type":"string","enum":["swagger10","swagger20","swaggeryaml","apiblueprint","wadl2009","raml","apimatic"]}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"url":{"type":"string"}}}},"text/plain":{"schema":{"type":"object","properties":{"url":{"type":"string"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"url":{"type":"string"}}}}}},"responses":{"200":{"description":"The converted API specification","content":{"application/json":{"schema":{"type":"object"}},"application/x-yaml":{"schema":{"type":"object"}}}},"429":{"description":"Rate-limit exceeded"}}}}},"components":{"securitySchemes":{"api-key":{"type":"apiKey","name":"apikey","in":"query"},"basic":{"type":"http","scheme":"basic"}}}}