{"openapi":"3.0.1","info":{"title":"GuestConfiguration","version":"2018-11-20"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.GuestConfiguration/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available GuestConfiguration REST API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","description":"The response model for the list of Automation operations"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments":{"get":{"tags":["GuestConfigurationAssignments"],"description":"List all guest configuration assignments for a virtual machine.","operationId":"GuestConfigurationAssignments_List","parameters":[{"name":"resourceGroupName","in":"path","description":"The resource group name.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"vmName","in":"path","description":"The name of the virtual machine.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestConfigurationAssignmentList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}":{"get":{"tags":["GuestConfigurationAssignments"],"description":"Get information about a guest configuration assignment","operationId":"GuestConfigurationAssignments_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The resource group name.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"guestConfigurationAssignmentName","in":"path","description":"The guest configuration assignment name.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"vmName","in":"path","description":"The name of the virtual machine.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The guest configuration assignment was returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestConfigurationAssignment"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error response of an operation failure"}}}}}},"put":{"tags":["GuestConfigurationAssignments"],"description":"Creates an association between a VM and guest configuration","operationId":"GuestConfigurationAssignments_CreateOrUpdate","parameters":[{"name":"guestConfigurationAssignmentName","in":"path","description":"Name of the guest configuration assignment.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"vmName","in":"path","description":"The name of the virtual machine.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the create or update guest configuration assignment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestConfigurationAssignment"}}},"required":true},"responses":{"200":{"description":"OK. The guest configuration assignment for the VM was updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestConfigurationAssignment"}}}},"201":{"description":"Created. The guest configuration assignment for the VM was created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestConfigurationAssignment"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error response of an operation failure"}}}}}},"delete":{"tags":["GuestConfigurationAssignments"],"description":"Delete a guest configuration assignment","operationId":"GuestConfigurationAssignments_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The resource group name.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"guestConfigurationAssignmentName","in":"path","description":"Name of the guest configuration assignment","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"vmName","in":"path","description":"The name of the virtual machine.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}/reports":{"get":{"tags":["GuestConfigurationAssignmentReports"],"description":"List all reports for the guest configuration assignment, latest report first.","operationId":"GuestConfigurationAssignmentReports_List","parameters":[{"name":"resourceGroupName","in":"path","description":"The resource group name.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"guestConfigurationAssignmentName","in":"path","description":"The guest configuration assignment name.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"vmName","in":"path","description":"The name of the virtual machine.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. This response is due one of these two reasons: 1. Reports were returned successfully 2. Guest configuration assignment was found, but VM is not registered yet, hence no reports returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestConfigurationAssignmentReportList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}/reports/{reportId}":{"get":{"tags":["GuestConfigurationAssignmentReports"],"description":"Get a report for the guest configuration assignment, by reportId.","operationId":"GuestConfigurationAssignmentReports_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The resource group name.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"guestConfigurationAssignmentName","in":"path","description":"The guest configuration assignment name.","required":true,"schema":{"type":"string"}},{"name":"reportId","in":"path","description":"The GUID for the guest configuration assignment report.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"vmName","in":"path","description":"The name of the virtual machine.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. This response is due one of these two reasons: 1. Report was returned successfully 2. Guest configuration assignment was found, but VM is not registered yet, hence no report was returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestConfigurationAssignmentReport"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error response of an operation failure"}}}}}}}},"components":{"schemas":{"AssignmentInfo":{"type":"object","properties":{"configuration":{"$ref":"#/components/schemas/ConfigurationInfo"},"name":{"type":"string","description":"Name of the guest configuration assignment.","readOnly":true}},"description":"Information about the guest configuration assignment."},"AssignmentReportDetails":{"type":"object","properties":{"complianceStatus":{"type":"string","description":"A value indicating compliance status of the virtual machine for the assigned guest configuration.","readOnly":true,"enum":["Compliant","NonCompliant","Pending"]},"endTime":{"type":"string","description":"End date and time of the guest configuration assignment compliance status check.","format":"date-time","readOnly":true},"jobId":{"type":"string","description":"GUID of the report.","readOnly":true},"operationType":{"type":"string","description":"Type of report, Consistency or Initial","readOnly":true,"enum":["Consistency","Initial"]},"resources":{"type":"array","description":"The list of resources for which guest configuration assignment compliance is checked.","items":{"$ref":"#/components/schemas/AssignmentReportResource"}},"startTime":{"type":"string","description":"Start date and time of the guest configuration assignment compliance status check.","format":"date-time","readOnly":true}},"description":"Details of the guest configuration assignment report."},"AssignmentReportResource":{"type":"object","properties":{"complianceStatus":{"type":"string","description":"A value indicating compliance status of the virtual machine for the assigned guest configuration.","readOnly":true,"enum":["Compliant","NonCompliant","Pending"]},"properties":{"type":"object","description":"Properties of a guest configuration assignment resource.","readOnly":true},"reasons":{"type":"array","description":"Compliance reason and reason code for a resource.","items":{"$ref":"#/components/schemas/AssignmentReportResourceComplianceReason"}}},"description":"The guest configuration assignment resource."},"AssignmentReportResourceComplianceReason":{"type":"object","properties":{"code":{"type":"string","description":"Code for the compliance of the guest configuration assignment resource.","readOnly":true},"phrase":{"type":"string","description":"Reason for the compliance of the guest configuration assignment resource.","readOnly":true}},"description":"Reason and code for the compliance of the guest configuration assignment resource."},"ConfigurationInfo":{"type":"object","properties":{"name":{"type":"string","description":"Name of the configuration.","readOnly":true},"version":{"type":"string","description":"Version of the configuration.","readOnly":true}},"description":"Information about the configuration."},"ConfigurationParameter":{"type":"object","properties":{"name":{"type":"string","description":"Name of the configuration parameter.","readOnly":true},"value":{"type":"string","description":"Value of the configuration parameter.","readOnly":true}},"description":"Represents a configuration parameter."},"ConfigurationSetting":{"type":"object","properties":{"actionAfterReboot":{"type":"string","description":"Specifies what happens after a reboot during the application of a configuration. The possible values are ContinueConfiguration and StopConfiguration","readOnly":true,"enum":["ContinueConfiguration","StopConfiguration"]},"allowModuleOverwrite":{"type":"string","description":"If true - new configurations downloaded from the pull service are allowed to overwrite the old ones on the target node. Otherwise, false","enum":["True","False"]},"configurationMode":{"type":"string","description":"Specifies how the LCM(Local Configuration Manager) actually applies the configuration to the target nodes. Possible values are ApplyOnly, ApplyAndMonitor, and ApplyAndAutoCorrect.","readOnly":true,"enum":["ApplyOnly","ApplyAndMonitor","ApplyAndAutoCorrect"]},"configurationModeFrequencyMins":{"type":"number","description":"How often, in minutes, the current configuration is checked and applied. This property is ignored if the ConfigurationMode property is set to ApplyOnly. The default value is 15.","readOnly":true},"rebootIfNeeded":{"type":"string","description":"Set this to true to automatically reboot the node after a configuration that requires reboot is applied. Otherwise, you will have to manually reboot the node for any configuration that requires it. The default value is false. To use this setting when a reboot condition is enacted by something other than DSC (such as Windows Installer), combine this setting with the xPendingReboot module.","readOnly":true,"default":"False","enum":["True","False"]},"refreshFrequencyMins":{"type":"number","description":"The time interval, in minutes, at which the LCM checks a pull service to get updated configurations. This value is ignored if the LCM is not configured in pull mode. The default value is 30.","readOnly":true}},"description":"Configuration setting of LCM (Local Configuration Manager)."},"GuestConfigurationAssignment":{"properties":{"properties":{"$ref":"#/components/schemas/GuestConfigurationAssignmentProperties"}},"description":"Guest configuration assignment is an association between a VM and guest configuration.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"ARM resource id of the guest configuration assignment.","readOnly":true},"location":{"type":"string","description":"Region where the VM is located.","readOnly":true},"name":{"type":"string","description":"Name of the guest configuration assignment.","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The core properties of ARM resources"}]}]},"GuestConfigurationAssignmentList":{"type":"object","properties":{"value":{"type":"array","description":"Result of the list guest configuration assignment operation.","items":{"$ref":"#/components/schemas/GuestConfigurationAssignment"}}},"description":"The response of the list guest configuration assignment operation."},"GuestConfigurationAssignmentProperties":{"type":"object","properties":{"assignmentHash":{"type":"string","description":"Combined hash of the configuration package and parameters.","nullable":true,"readOnly":true},"complianceStatus":{"type":"string","description":"A value indicating compliance status of the virtual machine for the assigned guest configuration.","readOnly":true,"enum":["Compliant","NonCompliant","Pending"]},"context":{"type":"string","description":"The source which initiated the guest configuration assignment. Ex: Azure Policy"},"guestConfiguration":{"$ref":"#/components/schemas/GuestConfigurationNavigation"},"lastComplianceStatusChecked":{"type":"string","description":"Date and time when last compliance status was checked.","format":"date-time","nullable":true,"readOnly":true},"latestReportId":{"type":"string","description":"Id of the latest report for the guest configuration assignment. ","nullable":true,"readOnly":true},"provisioningState":{"type":"string","description":"The provisioning state, which only appears in the response.","nullable":true,"readOnly":true,"enum":["Succeeded","Failed","Canceled","Created"]}},"description":"Guest configuration assignment properties."},"GuestConfigurationAssignmentReport":{"type":"object","properties":{"id":{"type":"string","description":"ARM resource id of the report for the guest configuration assignment.","readOnly":true},"name":{"type":"string","description":"GUID that identifies the guest configuration assignment report under a subscription, resource group.","readOnly":true},"properties":{"$ref":"#/components/schemas/GuestConfigurationAssignmentReportProperties"}},"description":"Report for the guest configuration assignment. Report contains information such as compliance status, reason, and more."},"GuestConfigurationAssignmentReportList":{"type":"object","properties":{"value":{"type":"array","description":"List of reports for the guest configuration. Report contains information such as compliance status, reason and more.","items":{"$ref":"#/components/schemas/GuestConfigurationAssignmentReport"}}},"description":"List of guest configuration assignment reports."},"GuestConfigurationAssignmentReportProperties":{"type":"object","properties":{"assignment":{"$ref":"#/components/schemas/AssignmentInfo"},"complianceStatus":{"type":"string","description":"A value indicating compliance status of the virtual machine for the assigned guest configuration.","readOnly":true,"enum":["Compliant","NonCompliant","Pending"]},"details":{"$ref":"#/components/schemas/AssignmentReportDetails"},"endTime":{"type":"string","description":"End date and time of the guest configuration assignment compliance status check.","format":"date-time","readOnly":true},"reportId":{"type":"string","description":"GUID that identifies the guest configuration assignment report under a subscription, resource group.","readOnly":true},"startTime":{"type":"string","description":"Start date and time of the guest configuration assignment compliance status check.","format":"date-time","readOnly":true},"vm":{"$ref":"#/components/schemas/VMInfo"}},"description":"Report for the guest configuration assignment. Report contains information such as compliance status, reason, and more."},"GuestConfigurationNavigation":{"type":"object","properties":{"configurationParameter":{"type":"array","description":"The configuration parameters for the guest configuration.","items":{"$ref":"#/components/schemas/ConfigurationParameter"}},"configurationSetting":{"$ref":"#/components/schemas/ConfigurationSetting"},"contentHash":{"type":"string","description":"Combined hash of the guest configuration package and configuration parameters.","readOnly":true},"contentUri":{"type":"string","description":"Uri of the storage where guest configuration package is uploaded.","readOnly":true},"kind":{"type":"string","description":"Kind of the guest configuration. For example:DSC","enum":["DSC"]},"name":{"type":"string","description":"Name of the guest configuration."},"version":{"type":"string","description":"Version of the guest configuration."}},"description":"Guest configuration is an artifact that encapsulates DSC configuration and its dependencies. The artifact is a zip file containing DSC configuration (as MOF) and dependent resources and other dependencies like modules."},"VMInfo":{"type":"object","properties":{"id":{"type":"string","description":"Azure resource Id of the VM.","readOnly":true},"uuid":{"type":"string","description":"UUID(Universally Unique Identifier) of the VM.","readOnly":true}},"description":"Information about the VM."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}