{"openapi":"3.0.1","info":{"title":"Security Center","description":"API spec for Microsoft.Security (Azure Security Center) resource provider","version":"2015-06-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Security/adaptiveNetworkHardenings":{"get":{"tags":["AdaptiveNetworkHardenings"],"description":"Gets a list of Adaptive Network Hardenings resources in scope of an extended resource.","operationId":"AdaptiveNetworkHardenings_ListByExtendedResource","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"resourceNamespace","in":"path","description":"The Namespace of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"The type of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Name of the resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdaptiveNetworkHardeningsList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Security/adaptiveNetworkHardenings/{adaptiveNetworkHardeningResourceName}":{"get":{"tags":["AdaptiveNetworkHardenings"],"description":"Gets a single Adaptive Network Hardening resource","operationId":"AdaptiveNetworkHardenings_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"resourceNamespace","in":"path","description":"The Namespace of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"The type of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Name of the resource.","required":true,"schema":{"type":"string"}},{"name":"adaptiveNetworkHardeningResourceName","in":"path","description":"The name of the Adaptive Network Hardening resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdaptiveNetworkHardening"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Security/adaptiveNetworkHardenings/{adaptiveNetworkHardeningResourceName}/{adaptiveNetworkHardeningEnforceAction}":{"post":{"tags":["AdaptiveNetworkHardenings"],"description":"Enforces the given rules on the NSG(s) listed in the request","operationId":"AdaptiveNetworkHardenings_Enforce","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"resourceNamespace","in":"path","description":"The Namespace of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"The type of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Name of the resource.","required":true,"schema":{"type":"string"}},{"name":"adaptiveNetworkHardeningResourceName","in":"path","description":"The name of the Adaptive Network Hardening resource.","required":true,"schema":{"type":"string"}},{"name":"adaptiveNetworkHardeningEnforceAction","in":"path","description":"Enforces the given rules on the NSG(s) listed in the request","required":true,"schema":{"type":"string","enum":["enforce"]}},{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdaptiveNetworkHardeningEnforceRequest"}}},"required":true},"responses":{"200":{"description":"OK."},"202":{"description":"Accepted"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}}},"components":{"schemas":{"AdaptiveNetworkHardening":{"properties":{"properties":{"$ref":"#/components/schemas/AdaptiveNetworkHardeningProperties"}},"description":"The resource whose properties describes the Adaptive Network Hardening settings for some Azure resource","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Describes an Azure resource."}]},"AdaptiveNetworkHardeningEnforceRequest":{"required":["networkSecurityGroups","rules"],"type":"object","properties":{"networkSecurityGroups":{"type":"array","description":"The Azure resource IDs of the effective network security groups that will be updated with the created security rules from the Adaptive Network Hardening rules","items":{"type":"string"}},"rules":{"type":"array","description":"The rules to enforce","items":{"$ref":"#/components/schemas/Rule"}}}},"AdaptiveNetworkHardeningProperties":{"type":"object","properties":{"effectiveNetworkSecurityGroups":{"type":"array","description":"The Network Security Groups effective on the network interfaces of the protected resource","items":{"$ref":"#/components/schemas/EffectiveNetworkSecurityGroups"}},"rules":{"type":"array","description":"The security rules which are recommended to be effective on the VM","items":{"$ref":"#/components/schemas/Rule"}},"rulesCalculationTime":{"type":"string","description":"The UTC time on which the rules were calculated","format":"date-time"}},"description":"Adaptive Network Hardening resource properties"},"AdaptiveNetworkHardeningsList":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of results"},"value":{"type":"array","description":"A list of Adaptive Network Hardenings resources","items":{"$ref":"#/components/schemas/AdaptiveNetworkHardening"}}},"description":"Response for ListAdaptiveNetworkHardenings API service call"},"EffectiveNetworkSecurityGroups":{"type":"object","properties":{"networkInterface":{"type":"string","description":"The Azure resource ID of the network interface"},"networkSecurityGroups":{"type":"array","description":"The Network Security Groups effective on the network interface","items":{"type":"string"}}},"description":"Describes the Network Security Groups effective on a network interface"},"PortNumber":{"maximum":65535,"minimum":0,"type":"integer"},"Rule":{"type":"object","properties":{"destinationPort":{"$ref":"#/components/schemas/PortNumber"},"direction":{"type":"string","description":"The rule's direction","enum":["Inbound","Outbound"]},"ipAddresses":{"type":"array","description":"The remote IP addresses that should be able to communicate with the Azure resource on the rule's destination port and protocol","items":{"type":"string"}},"name":{"type":"string","description":"The name of the rule"},"protocols":{"type":"array","description":"The rule's transport protocols","items":{"type":"string","enum":["TCP","UDP"]}}},"description":"Describes remote addresses that is recommended to communicate with the Azure resource on some (Protocol, Port, Direction). All other remote addresses are recommended to be blocked"}},"parameters":{"AdaptiveNetworkHardeningEnforceAction":{"name":"adaptiveNetworkHardeningEnforceAction","in":"path","description":"Enforces the given rules on the NSG(s) listed in the request","required":true,"schema":{"type":"string","enum":["enforce"]}},"AdaptiveNetworkHardeningResourceName":{"name":"adaptiveNetworkHardeningResourceName","in":"path","description":"The name of the Adaptive Network Hardening resource.","required":true,"schema":{"type":"string"}}},"requestBodies":{"AdaptiveNetworkHardeningEnforceRequest":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdaptiveNetworkHardeningEnforceRequest"}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}