{"openapi":"3.0.1","info":{"title":"DnsManagementClient","description":"The DNS Management Client.","version":"2018-05-01"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Network/dnszones":{"get":{"tags":["Zones"],"description":"Lists the DNS zones in all resource groups in a subscription.","operationId":"Zones_List","parameters":[{"name":"$top","in":"query","description":"The maximum number of DNS zones to return. If not specified, returns up to 100 zones.","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"Specifies the API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZoneListResult"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Network/getDnsResourceReference":{"post":{"description":"Returns the DNS records specified by the referencing targetResourceIds.","operationId":"DnsResourceReference_GetByTargetResources","parameters":[{"name":"api-version","in":"query","description":"Specifies the API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties for dns resource reference request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DnsResourceReferenceRequest"}}},"required":true},"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DnsResourceReferenceResult"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones":{"get":{"tags":["Zones"],"description":"Lists the DNS zones within a resource group.","operationId":"Zones_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"$top","in":"query","description":"The maximum number of record sets to return. If not specified, returns up to 100 record sets.","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"Specifies the API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZoneListResult"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}":{"get":{"tags":["Zones"],"description":"Gets a DNS zone. Retrieves the zone properties, but not the record sets within the zone.","operationId":"Zones_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"zoneName","in":"path","description":"The name of the DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Zone"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["Zones"],"description":"Creates or updates a DNS zone. Does not modify DNS records within the zone.","operationId":"Zones_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"zoneName","in":"path","description":"The name of the DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"The etag of the DNS zone. Omit this value to always overwrite the current zone. Specify the last-seen etag value to prevent accidentally overwriting any concurrent changes.","schema":{"type":"string"}},{"name":"If-None-Match","in":"header","description":"Set to '*' to allow a new DNS zone to be created, but to prevent updating an existing zone. Other values will be ignored.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the CreateOrUpdate operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Zone"}}},"required":true},"responses":{"200":{"description":"The DNS zone has been updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Zone"}}}},"201":{"description":"The DNS zone has been created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Zone"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["Zones"],"description":"Deletes a DNS zone. WARNING: All DNS records in the zone will also be deleted. This operation cannot be undone.","operationId":"Zones_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"zoneName","in":"path","description":"The name of the DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"The etag of the DNS zone. Omit this value to always delete the current zone. Specify the last-seen etag value to prevent accidentally deleting any concurrent changes.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The DNS zone has been deleted."},"202":{"description":"The DNS zone delete operation has been accepted and will complete asynchronously."},"204":{"description":"The DNS zone was not found."},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["Zones"],"description":"Updates a DNS zone. Does not modify DNS records within the zone.","operationId":"Zones_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"zoneName","in":"path","description":"The name of the DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"The etag of the DNS zone. Omit this value to always overwrite the current zone. Specify the last-seen etag value to prevent accidentally overwriting any concurrent changes.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the Update operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZoneUpdate"}}},"required":true},"responses":{"200":{"description":"The DNS zone has been updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Zone"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/all":{"get":{"tags":["RecordSets"],"description":"Lists all record sets in a DNS zone.","operationId":"RecordSets_ListAllByDnsZone","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"zoneName","in":"path","description":"The name of the DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"$top","in":"query","description":"The maximum number of record sets to return. If not specified, returns up to 100 record sets.","schema":{"type":"integer","format":"int32"}},{"name":"$recordsetnamesuffix","in":"query","description":"The suffix label of the record set name that has to be used to filter the record set enumerations. If this parameter is specified, Enumeration will return only records that end with .<recordSetNameSuffix>","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSetListResult"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/recordsets":{"get":{"tags":["RecordSets"],"description":"Lists all record sets in a DNS zone.","operationId":"RecordSets_ListByDnsZone","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"zoneName","in":"path","description":"The name of the DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"$top","in":"query","description":"The maximum number of record sets to return. If not specified, returns up to 100 record sets.","schema":{"type":"integer","format":"int32"}},{"name":"$recordsetnamesuffix","in":"query","description":"The suffix label of the record set name that has to be used to filter the record set enumerations. If this parameter is specified, Enumeration will return only records that end with .<recordSetNameSuffix>","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSetListResult"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}":{"get":{"tags":["RecordSets"],"description":"Lists the record sets of a specified type in a DNS zone.","operationId":"RecordSets_ListByType","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"zoneName","in":"path","description":"The name of the DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"recordType","in":"path","description":"The type of record sets to enumerate.","required":true,"schema":{"type":"string","enum":["A","AAAA","CAA","CNAME","MX","NS","PTR","SOA","SRV","TXT"]}},{"name":"$top","in":"query","description":"The maximum number of record sets to return. If not specified, returns up to 100 record sets.","schema":{"type":"integer","format":"int32"}},{"name":"$recordsetnamesuffix","in":"query","description":"The suffix label of the record set name that has to be used to filter the record set enumerations. If this parameter is specified, Enumeration will return only records that end with .<recordSetNameSuffix>","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSetListResult"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}/{relativeRecordSetName}":{"get":{"tags":["RecordSets"],"description":"Gets a record set.","operationId":"RecordSets_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"zoneName","in":"path","description":"The name of the DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"relativeRecordSetName","in":"path","description":"The name of the record set, relative to the name of the zone.","required":true,"schema":{"type":"string"}},{"name":"recordType","in":"path","description":"The type of DNS record in this record set.","required":true,"schema":{"type":"string","enum":["A","AAAA","CAA","CNAME","MX","NS","PTR","SOA","SRV","TXT"]}},{"name":"api-version","in":"query","description":"Specifies the API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSet"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["RecordSets"],"description":"Creates or updates a record set within a DNS zone.","operationId":"RecordSets_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"zoneName","in":"path","description":"The name of the DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"relativeRecordSetName","in":"path","description":"The name of the record set, relative to the name of the zone.","required":true,"schema":{"type":"string"}},{"name":"recordType","in":"path","description":"The type of DNS record in this record set. Record sets of type SOA can be updated but not created (they are created when the DNS zone is created).","required":true,"schema":{"type":"string","enum":["A","AAAA","CAA","CNAME","MX","NS","PTR","SOA","SRV","TXT"]}},{"name":"If-Match","in":"header","description":"The etag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen etag value to prevent accidentally overwriting any concurrent changes.","schema":{"type":"string"}},{"name":"If-None-Match","in":"header","description":"Set to '*' to allow a new record set to be created, but to prevent updating an existing record set. Other values will be ignored.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the CreateOrUpdate operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSet"}}},"required":true},"responses":{"200":{"description":"The record set has been updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSet"}}}},"201":{"description":"The record set has been created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSet"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["RecordSets"],"description":"Deletes a record set from a DNS zone. This operation cannot be undone.","operationId":"RecordSets_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"zoneName","in":"path","description":"The name of the DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"relativeRecordSetName","in":"path","description":"The name of the record set, relative to the name of the zone.","required":true,"schema":{"type":"string"}},{"name":"recordType","in":"path","description":"The type of DNS record in this record set. Record sets of type SOA cannot be deleted (they are deleted when the DNS zone is deleted).","required":true,"schema":{"type":"string","enum":["A","AAAA","CAA","CNAME","MX","NS","PTR","SOA","SRV","TXT"]}},{"name":"If-Match","in":"header","description":"The etag of the record set. Omit this value to always delete the current record set. Specify the last-seen etag value to prevent accidentally deleting any concurrent changes.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The record set has been deleted."},"204":{"description":"The record set was not found."},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["RecordSets"],"description":"Updates a record set within a DNS zone.","operationId":"RecordSets_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"zoneName","in":"path","description":"The name of the DNS zone (without a terminating dot).","required":true,"schema":{"type":"string"}},{"name":"relativeRecordSetName","in":"path","description":"The name of the record set, relative to the name of the zone.","required":true,"schema":{"type":"string"}},{"name":"recordType","in":"path","description":"The type of DNS record in this record set.","required":true,"schema":{"type":"string","enum":["A","AAAA","CAA","CNAME","MX","NS","PTR","SOA","SRV","TXT"]}},{"name":"If-Match","in":"header","description":"The etag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen etag value to prevent accidentally overwriting concurrent changes.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the Update operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSet"}}},"required":true},"responses":{"200":{"description":"The record set has been updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordSet"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"ARecord":{"type":"object","properties":{"ipv4Address":{"type":"string","description":"The IPv4 address of this A record."}},"description":"An A record."},"AaaaRecord":{"type":"object","properties":{"ipv6Address":{"type":"string","description":"The IPv6 address of this AAAA record."}},"description":"An AAAA record."},"CaaRecord":{"type":"object","properties":{"flags":{"type":"integer","description":"The flags for this CAA record as an integer between 0 and 255.","format":"int32"},"tag":{"type":"string","description":"The tag for this CAA record."},"value":{"type":"string","description":"The value for this CAA record."}},"description":"A CAA record."},"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"An error message"},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"The error code"},"details":{"type":"array","description":"Extra error information","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"A description of what caused the error"},"target":{"type":"string","description":"The target resource of the error message"}},"description":"The body of an error message"},"CnameRecord":{"type":"object","properties":{"cname":{"type":"string","description":"The canonical name for this CNAME record."}},"description":"A CNAME record."},"DnsResourceReference":{"type":"object","properties":{"dnsResources":{"type":"array","description":"A list of dns Records ","items":{"$ref":"#/components/schemas/SubResource"}},"targetResource":{"$ref":"#/components/schemas/SubResource"}},"description":"Represents a single Azure resource and its referencing DNS records."},"DnsResourceReferenceRequest":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/DnsResourceReferenceRequestProperties"}},"description":"Represents the properties of the Dns Resource Reference Request."},"DnsResourceReferenceRequestProperties":{"type":"object","properties":{"targetResources":{"type":"array","description":"A list of references to azure resources for which referencing dns records need to be queried.","items":{"$ref":"#/components/schemas/SubResource"}}},"description":"Represents the properties of the Dns Resource Reference Request."},"DnsResourceReferenceResult":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/DnsResourceReferenceResultProperties"}},"description":"Represents the properties of the Dns Resource Reference Result."},"DnsResourceReferenceResultProperties":{"type":"object","properties":{"dnsResourceReferences":{"type":"array","description":"The result of dns resource reference request. A list of dns resource references for each of the azure resource in the request","items":{"$ref":"#/components/schemas/DnsResourceReference"}}},"description":"The result of dns resource reference request. Returns a list of dns resource references for each of the azure resource in the request."},"MxRecord":{"type":"object","properties":{"exchange":{"type":"string","description":"The domain name of the mail host for this MX record."},"preference":{"type":"integer","description":"The preference value for this MX record.","format":"int32"}},"description":"An MX record."},"NsRecord":{"type":"object","properties":{"nsdname":{"type":"string","description":"The name server name for this NS record."}},"description":"An NS record."},"PtrRecord":{"type":"object","properties":{"ptrdname":{"type":"string","description":"The PTR target domain name for this PTR record."}},"description":"A PTR record."},"RecordSet":{"type":"object","properties":{"etag":{"type":"string","description":"The etag of the record set."},"id":{"type":"string","description":"The ID of the record set.","readOnly":true},"name":{"type":"string","description":"The name of the record set.","readOnly":true},"properties":{"$ref":"#/components/schemas/RecordSetProperties"},"type":{"type":"string","description":"The type of the record set.","readOnly":true}},"description":"Describes a DNS record set (a collection of DNS records with the same name and type)."},"RecordSetListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The continuation token for the next page of results.","readOnly":true},"value":{"type":"array","description":"Information about the record sets in the response.","items":{"$ref":"#/components/schemas/RecordSet"}}},"description":"The response to a record set List operation."},"RecordSetProperties":{"type":"object","properties":{"AAAARecords":{"type":"array","description":"The list of AAAA records in the record set.","items":{"$ref":"#/components/schemas/AaaaRecord"}},"ARecords":{"type":"array","description":"The list of A records in the record set.","items":{"$ref":"#/components/schemas/ARecord"}},"CNAMERecord":{"$ref":"#/components/schemas/CnameRecord"},"MXRecords":{"type":"array","description":"The list of MX records in the record set.","items":{"$ref":"#/components/schemas/MxRecord"}},"NSRecords":{"type":"array","description":"The list of NS records in the record set.","items":{"$ref":"#/components/schemas/NsRecord"}},"PTRRecords":{"type":"array","description":"The list of PTR records in the record set.","items":{"$ref":"#/components/schemas/PtrRecord"}},"SOARecord":{"$ref":"#/components/schemas/SoaRecord"},"SRVRecords":{"type":"array","description":"The list of SRV records in the record set.","items":{"$ref":"#/components/schemas/SrvRecord"}},"TTL":{"type":"integer","description":"The TTL (time-to-live) of the records in the record set.","format":"int64"},"TXTRecords":{"type":"array","description":"The list of TXT records in the record set.","items":{"$ref":"#/components/schemas/TxtRecord"}},"caaRecords":{"type":"array","description":"The list of CAA records in the record set.","items":{"$ref":"#/components/schemas/CaaRecord"}},"fqdn":{"type":"string","description":"Fully qualified domain name of the record set.","readOnly":true},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"The metadata attached to the record set."},"provisioningState":{"type":"string","description":"provisioning State of the record set.","readOnly":true},"targetResource":{"$ref":"#/components/schemas/SubResource"}},"description":"Represents the properties of the records in the record set."},"RecordSetUpdateParameters":{"type":"object","properties":{"RecordSet":{"$ref":"#/components/schemas/RecordSet"}},"description":"Parameters supplied to update a record set."},"Resource":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Common properties of an Azure Resource Manager resource"},"SoaRecord":{"type":"object","properties":{"email":{"type":"string","description":"The email contact for this SOA record."},"expireTime":{"type":"integer","description":"The expire time for this SOA record.","format":"int64"},"host":{"type":"string","description":"The domain name of the authoritative name server for this SOA record."},"minimumTTL":{"type":"integer","description":"The minimum value for this SOA record. By convention this is used to determine the negative caching duration.","format":"int64"},"refreshTime":{"type":"integer","description":"The refresh value for this SOA record.","format":"int64"},"retryTime":{"type":"integer","description":"The retry time for this SOA record.","format":"int64"},"serialNumber":{"type":"integer","description":"The serial number for this SOA record.","format":"int64"}},"description":"An SOA record."},"SrvRecord":{"type":"object","properties":{"port":{"type":"integer","description":"The port value for this SRV record.","format":"int32"},"priority":{"type":"integer","description":"The priority value for this SRV record.","format":"int32"},"target":{"type":"string","description":"The target domain name for this SRV record."},"weight":{"type":"integer","description":"The weight value for this SRV record.","format":"int32"}},"description":"An SRV record."},"SubResource":{"type":"object","properties":{"id":{"type":"string","description":"Resource Id."}},"description":"A reference to a another resource"},"TxtRecord":{"type":"object","properties":{"value":{"type":"array","description":"The text value of this TXT record.","items":{"type":"string"}}},"description":"A TXT record."},"Zone":{"properties":{"etag":{"type":"string","description":"The etag of the zone."},"properties":{"$ref":"#/components/schemas/ZoneProperties"}},"description":"Describes a DNS zone.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"ZoneListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The continuation token for the next page of results.","readOnly":true},"value":{"type":"array","description":"Information about the DNS zones.","items":{"$ref":"#/components/schemas/Zone"}}},"description":"The response to a Zone List or ListAll operation."},"ZoneProperties":{"type":"object","properties":{"maxNumberOfRecordSets":{"type":"integer","description":"The maximum number of record sets that can be created in this DNS zone.  This is a read-only property and any attempt to set this value will be ignored.","format":"int64","readOnly":true},"nameServers":{"type":"array","description":"The name servers for this DNS zone. This is a read-only property and any attempt to set this value will be ignored.","readOnly":true,"items":{"type":"string"}},"numberOfRecordSets":{"type":"integer","description":"The current number of record sets in this DNS zone.  This is a read-only property and any attempt to set this value will be ignored.","format":"int64","readOnly":true},"registrationVirtualNetworks":{"type":"array","description":"A list of references to virtual networks that register hostnames in this DNS zone. This is a only when ZoneType is Private.","items":{"$ref":"#/components/schemas/SubResource"}},"resolutionVirtualNetworks":{"type":"array","description":"A list of references to virtual networks that resolve records in this DNS zone. This is a only when ZoneType is Private.","items":{"$ref":"#/components/schemas/SubResource"}},"zoneType":{"type":"string","description":"The type of this DNS zone (Public or Private).","default":"Public","enum":["Public","Private"]}},"description":"Represents the properties of the zone."},"ZoneUpdate":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"Describes a request to update a DNS zone."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Specifies the API version.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}