{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KeyVaultManagementClient",
    "description" : "The Azure management API provides a RESTful set of web services that interact with Azure Key Vault.",
    "version" : "2018-02-14-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/secrets" : {
      "get" : {
        "tags" : [ "Secrets" ],
        "description" : "The List operation gets information about the secrets in a vault.  NOTE: This API is intended for internal use in ARM deployments. Users should use the data-plane REST service for interaction with vault secrets.",
        "operationId" : "Secrets_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Resource Group to which the vault belongs.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Maximum number of results to return.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get information about secrets in the specified vault.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/secrets/{secretName}" : {
      "get" : {
        "tags" : [ "Secrets" ],
        "description" : "Gets the specified secret.  NOTE: This API is intended for internal use in ARM deployments. Users should use the data-plane REST service for interaction with vault secrets.",
        "operationId" : "Secrets_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Resource Group to which the vault belongs.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "secretName",
          "in" : "path",
          "description" : "The name of the secret.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved secret",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Secret"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Secrets" ],
        "description" : "Create or update a secret in a key vault in the specified subscription.  NOTE: This API is intended for internal use in ARM deployments. Users should use the data-plane REST service for interaction with vault secrets.",
        "operationId" : "Secrets_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Resource Group to which the vault belongs.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "Name of the vault",
          "required" : true,
          "schema" : {
            "pattern" : "^[a-zA-Z0-9-]{3,24}$",
            "type" : "string"
          }
        }, {
          "name" : "secretName",
          "in" : "path",
          "description" : "Name of the secret",
          "required" : true,
          "schema" : {
            "pattern" : "^[a-zA-Z0-9-]{1,127}$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters to create or update the secret",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SecretCreateOrUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Created or updated secret",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Secret"
                }
              }
            }
          },
          "201" : {
            "description" : "Created or updated vault",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Secret"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Secrets" ],
        "description" : "Update a secret in the specified subscription.  NOTE: This API is intended for internal use in ARM deployments.  Users should use the data-plane REST service for interaction with vault secrets.",
        "operationId" : "Secrets_Update",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Resource Group to which the vault belongs.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "Name of the vault",
          "required" : true,
          "schema" : {
            "pattern" : "^[a-zA-Z0-9-]{3,24}$",
            "type" : "string"
          }
        }, {
          "name" : "secretName",
          "in" : "path",
          "description" : "Name of the secret",
          "required" : true,
          "schema" : {
            "pattern" : "^[a-zA-Z0-9-]{1,127}$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters to patch the secret",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SecretPatchParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Patched secret",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Secret"
                }
              }
            }
          },
          "201" : {
            "description" : "Patched secret",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Secret"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Attributes" : {
        "type" : "object",
        "properties" : {
          "created" : {
            "type" : "integer",
            "description" : "Creation time in seconds since 1970-01-01T00:00:00Z.",
            "format" : "unixtime",
            "readOnly" : true
          },
          "enabled" : {
            "type" : "boolean",
            "description" : "Determines whether the object is enabled."
          },
          "exp" : {
            "type" : "integer",
            "description" : "Expiry date in seconds since 1970-01-01T00:00:00Z.",
            "format" : "unixtime"
          },
          "nbf" : {
            "type" : "integer",
            "description" : "Not before date in seconds since 1970-01-01T00:00:00Z.",
            "format" : "unixtime"
          },
          "updated" : {
            "type" : "integer",
            "description" : "Last updated time in seconds since 1970-01-01T00:00:00Z.",
            "format" : "unixtime",
            "readOnly" : true
          }
        },
        "description" : "The object attributes managed by the KeyVault service."
      },
      "Secret" : {
        "required" : [ "properties" ],
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/SecretProperties"
          }
        },
        "description" : "Resource information with extended details.",
        "allOf" : [ {
          "required" : [ "location" ],
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "The Azure Resource Manager resource ID for the key vault.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "The supported Azure location where the key vault should be created."
            },
            "name" : {
              "type" : "string",
              "description" : "The name of the key vault.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "The tags that will be assigned to the key vault. "
            },
            "type" : {
              "type" : "string",
              "description" : "The resource type of the key vault.",
              "readOnly" : true
            }
          },
          "description" : "Key Vault resource"
        } ]
      },
      "SecretAttributes" : {
        "description" : "The secret management attributes.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Attributes"
        } ]
      },
      "SecretCreateOrUpdateParameters" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/SecretProperties"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The tags that will be assigned to the secret. "
          }
        },
        "description" : "Parameters for creating or updating a secret"
      },
      "SecretListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of secrets."
          },
          "value" : {
            "type" : "array",
            "description" : "The list of secrets.",
            "items" : {
              "$ref" : "#/components/schemas/Secret"
            }
          }
        },
        "description" : "List of secrets"
      },
      "SecretPatchParameters" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/SecretPatchProperties"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The tags that will be assigned to the secret. "
          }
        },
        "description" : "Parameters for patching a secret"
      },
      "SecretPatchProperties" : {
        "type" : "object",
        "properties" : {
          "attributes" : {
            "$ref" : "#/components/schemas/SecretAttributes"
          },
          "contentType" : {
            "type" : "string",
            "description" : "The content type of the secret."
          },
          "value" : {
            "type" : "string",
            "description" : "The value of the secret."
          }
        },
        "description" : "Properties of the secret"
      },
      "SecretProperties" : {
        "type" : "object",
        "properties" : {
          "attributes" : {
            "$ref" : "#/components/schemas/SecretAttributes"
          },
          "contentType" : {
            "type" : "string",
            "description" : "The content type of the secret."
          },
          "secretUri" : {
            "type" : "string",
            "description" : "The URI to retrieve the current version of the secret.",
            "readOnly" : true
          },
          "secretUriWithVersion" : {
            "type" : "string",
            "description" : "The URI to retrieve the specific version of the secret.",
            "readOnly" : true
          },
          "value" : {
            "type" : "string",
            "description" : "The value of the secret. NOTE: 'value' will never be returned from the service, as APIs using this model are is intended for internal use in ARM deployments. Users should use the data-plane REST service for interaction with vault secrets."
          }
        },
        "description" : "Properties of the secret"
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}