{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CORE API v2",
    "description" : "<p style=\"text-align: justify;\">You can use the CORE API to access the \n    resources harvested and enriched by CORE. If you encounter any problems with the API, please <a href=\"/contact\">report them to us</a>.</p>\n\n<h2>Overview</h2>\n<p style=\"text-align: justify;\">The API is organised by resource type. The resources are <b>articles</b>, \n    <b>journals</b> and <b>repositories</b> and are represented using JSON data format. Furthermore, \n    each resource has a list of methods. The API also provides two global methods for accessing all resources at once.</p>\n\n<h2>Response format</h2>\n<p style=\"text-align: justify;\">Response for each query contains two fields: <b>status</b> and <b>data</b>.\n    In case of an error status, the data field is empty. The data field contains a single object\n    in case the request is for a specific identifier (e.g. CORE ID, CORE repository ID, etc.), or  \n    contains a list of objects, for example for search queries. In case of batch requests, the response\n    is an array of objects, each of which contains its own <b>status</b> and <b>data</b> fields.\n    For search queries the response contains an additional field <b>totalHits</b>, which is the \n    total number of items which match the search criteria.</p>\n\n<h2>Search query syntax</h2>\n\n<p style=\"text-align: justify\">Complex search queries can be used in all of the API search methods.\n    The query can be a simple string or it can be built using terms and operators described in Elasticsearch\n    <a href=\"http://www.elastic.co/guide/en/elasticsearch/reference/1.4/query-dsl-query-string-query.html#query-string-syntax\">documentation</a>.\n    The usable field names are <strong>title</strong>, <strong>description</strong>, <strong>fullText</strong>, \n    <strong>authors</strong>, <strong>publisher</strong>, <strong>repositories.id</strong>, <strong>repositories.name</strong>, \n    <strong>doi</strong>, <strong>oai</strong>, <strong>identifiers</strong> (which is a list of article identifiers including OAI, URL, etc.), <strong>language.name</strong> \n    and <strong>year</strong>. Some example queries:\n</p>\n\n<ul style=\"margin-left: 30px;\">\n    <li><p>title:psychology and language.name:English</p></li>\n    <li><p>repositories.id:86 AND year:2014</p></li>\n    <li><p>identifiers:\"oai:aura.abdn.ac.uk:2164/3837\" OR identifiers:\"oai:aura.abdn.ac.uk:2164/3843\"</p></li>\n    <li><p>doi:\"10.1186/1471-2458-6-309\"</p></li>\n</ul>\n\n<h3>Retrieving the latest Articles</h3>\n<p style=\"text-align: justify\">\n    You can retrieve the harvested items since specific dates using the following queries:\n</p>\n\n<ul style=\"margin-left: 30px;\">\n    <li><p>repositoryDocument.metadataUpdated:>2017-02-10</p></li>\n    <li><p>repositoryDocument.metadataUpdated:>2017-03-01 AND repositoryDocument.metadataUpdated:<2017-03-31</p></li>    \n</ul>\n\n<h2>Sort order</h2>\n\n<p style=\"text-align: justify;\">For search queries, the results are ordered by relevance score. For batch \n    requests, the results are retrieved in the order of the requests.</p>\n\n<h2>Parameters</h2>\n<p style=\"text-align: justify;\">The API methods allow different parameters to be passed. Additionally, there is an API key parameter which is common to all API methods. For all API methods \n    the API key can be provided either as a query parameter or in the request header. If the API key \n    is not provided, the API will return HTTP 401 error. You can register for an API key <a href=\"/services#api\">here</a>.</p>\n\n<h2>API methods</h2>",
    "version" : "2.0"
  },
  "servers" : [ {
    "url" : "http://core.ac.uk/api-v2"
  } ],
  "security" : [ {
    "apiKey" : null
  } ],
  "tags" : [ {
    "name" : "all",
    "description" : "Global operations"
  }, {
    "name" : "articles",
    "description" : "Operations for retrieving articles"
  }, {
    "name" : "journals",
    "description" : "Operations for retrieving journals"
  }, {
    "name" : "repositories",
    "description" : "Operations for retrieving repositories"
  } ],
  "paths" : {
    "/articles/dedup" : {
      "post" : {
        "tags" : [ "articles" ],
        "summary" : "Get all near duplicate articles",
        "description" : "Method accepts values for several parameters and retrieves a JSON array of articles which have near duplicate content matching the input parameters' values. The response array contains ids of the near duplicate articles along with their relevance scores.",
        "operationId" : "nearDuplicateArticles",
        "parameters" : [ {
          "name" : "doi",
          "in" : "query",
          "description" : "The DOI for which the duplicates will be identified",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "title",
          "in" : "query",
          "description" : "Title to match when looking for duplicate articles. Only useful when either value for @year or @description is supplied.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year the article was published. Only useful when value for @title is supplied. ",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "description",
          "in" : "query",
          "description" : "Abstract for an article based on which its duplicates will be found. Only useful when value for @title is supplied.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fulltext",
          "in" : "query",
          "description" : "Full text for an article based on which its duplicates will be found.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identifier",
          "in" : "query",
          "description" : "Article identifier for which the duplicates will be identified. Only useful when either values for @doi or (@title and @year) or (@title and @abstract) or @fulltext are supplied.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "repositoryId",
          "in" : "query",
          "description" : "Limit the duplicates search to particular repository id. ",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArticleDedupResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Insufficient/Unsuitable input parameters."
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "503" : {
            "description" : "Could not run the deduplication service at this time; please try again later."
          }
        }
      }
    },
    "/articles/get" : {
      "post" : {
        "tags" : [ "articles" ],
        "summary" : "Batch operation for retrieving articles by CORE ID",
        "description" : "Method accepts a JSON array of CORE IDs and retrieves a list of articles. The response array is ordered based on the order of the IDs in the request array.",
        "operationId" : "getArticleByCoreIdBatch",
        "parameters" : [ {
          "name" : "metadata",
          "in" : "query",
          "description" : "Whether to retrieve the full article metadata or only the IDs. The default value is true",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "fulltext",
          "in" : "query",
          "description" : "Whether to retrieve fulltexts of the articles. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "citations",
          "in" : "query",
          "description" : "Whether to retrieve citations found in the articles. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "similar",
          "in" : "query",
          "description" : "Whether to retrieve lists of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "duplicate",
          "in" : "query",
          "description" : "Whether to retrieve CORE IDs of different versions of the articles. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "urls",
          "in" : "query",
          "description" : "Whether to retrieve lists of URLs of the article fulltexts. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "faithfulMetadata",
          "in" : "query",
          "description" : "Returns the records raw XML metadata from the original repository. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "description" : "JSON array with CORE IDs of articles that need to be fetched",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "integer"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ArticleResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Missing or malformed JSON in request body"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "403" : {
            "description" : "Too many queries in request body"
          },
          "429" : {
            "description" : "Too many requests in given amount of time"
          }
        }
      }
    },
    "/articles/get/{coreId}" : {
      "get" : {
        "tags" : [ "articles" ],
        "summary" : "Get article by CORE ID",
        "description" : "Method will retrieve an article based on given CORE ID.",
        "operationId" : "getArticleByCoreId",
        "parameters" : [ {
          "name" : "coreId",
          "in" : "path",
          "description" : "CORE ID of the article that needs to be fetched.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "metadata",
          "in" : "query",
          "description" : "Whether to retrieve the full article metadata or only the ID. The default value is true.",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "fulltext",
          "in" : "query",
          "description" : "Whether to retrieve full text of the article. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "citations",
          "in" : "query",
          "description" : "Whether to retrieve citations found in the article. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "similar",
          "in" : "query",
          "description" : "Whether to retrieve a list of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "duplicate",
          "in" : "query",
          "description" : "Whether to retrieve a list of CORE IDs of different versions of the article. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "urls",
          "in" : "query",
          "description" : "Whether to retrieve a list of URLs from which the article can be downloaded. This can include links to PDFs as well as HTML pages. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "faithfulMetadata",
          "in" : "query",
          "description" : "Returns the records raw XML metadata from the original repository. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArticleResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid identifier supplied"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "429" : {
            "description" : "Too many requests in given amount of time"
          }
        }
      }
    },
    "/articles/get/{coreId}/download/pdf" : {
      "get" : {
        "tags" : [ "articles" ],
        "summary" : "Get fulltext PDF by CORE ID",
        "description" : "Method will retrieve an article based on given CORE ID.",
        "operationId" : "getArticlePdfByCoreId",
        "parameters" : [ {
          "name" : "coreId",
          "in" : "path",
          "description" : "ID of article history that needs to be fetched",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "404" : {
            "description" : "No Article pdf found"
          },
          "429" : {
            "description" : "Too many requests in given amount of time"
          }
        }
      }
    },
    "/articles/get/{coreId}/history" : {
      "get" : {
        "tags" : [ "articles" ],
        "summary" : "Get article history by CORE ID",
        "description" : "Method accepts a single CORE ID and returns a list of all historical versions of the article, which are stored in CORE database. The results are ordered from the newest one to the oldest one.",
        "operationId" : "getArticleHistoryByCoreId",
        "parameters" : [ {
          "name" : "coreId",
          "in" : "path",
          "description" : "CORE ID of the article which history should be fetched",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Which page of the history results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).",
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "The number of results to return per page. Can be any number between 10 and 100, default is 10.",
          "schema" : {
            "maximum" : 100,
            "minimum" : 10,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArticleHistoryResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Parameter invalid or out of bounds"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "429" : {
            "description" : "Too many requests in given amount of time"
          }
        }
      }
    },
    "/articles/search" : {
      "post" : {
        "tags" : [ "articles" ],
        "summary" : "Batch operation for search through articles",
        "description" : "Method accepts a JSON array of search queries and parameters. It then searches through all articles and returns a JSON array of search results for each of the queries. Method searches through all article fields (title, authors, subjects, identifiers, etc.).",
        "operationId" : "searchArticlesBatch",
        "parameters" : [ {
          "name" : "metadata",
          "in" : "query",
          "description" : "Whether to retrieve the full article metadata or only the ID. The default value is true.",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "fulltext",
          "in" : "query",
          "description" : "Whether to retrieve full text of the article. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "citations",
          "in" : "query",
          "description" : "Whether to retrieve citations found in the article. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "similar",
          "in" : "query",
          "description" : "Whether to retrieve a list of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "duplicate",
          "in" : "query",
          "description" : "Whether to retrieve a list of CORE IDs of different versions of the article. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "urls",
          "in" : "query",
          "description" : "Whether to retrieve a list of URLs from which the article can be downloaded. This can include links to PDFs as well as HTML pages. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "faithfulMetadata",
          "in" : "query",
          "description" : "Whether to retrieve the raw XML metadata of the article. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "description" : "JSON array with search queries and parameters. One request can contain up to 100 queries",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/SearchRequest"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ArticleSearchResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Missing or malformed JSON in request body"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "403" : {
            "description" : "Too many queries in request body"
          },
          "429" : {
            "description" : "Too many requests in given amount of time"
          }
        }
      }
    },
    "/articles/search/{query}" : {
      "get" : {
        "tags" : [ "articles" ],
        "summary" : "Search through all documents",
        "description" : "Searches through all articles and returns a JSON array with search results. Method searches through all article fields.",
        "operationId" : "searchArticles",
        "parameters" : [ {
          "name" : "query",
          "in" : "path",
          "description" : "The search query",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Which page of the search results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).",
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "The number of results to return per page. Can be any number between 10 and 100, default is 10.",
          "schema" : {
            "maximum" : 100,
            "minimum" : 10,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "metadata",
          "in" : "query",
          "description" : "Whether to retrieve the full article metadata or only the ID. The default value is true.",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "fulltext",
          "in" : "query",
          "description" : "Whether to retrieve full text of the article. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "citations",
          "in" : "query",
          "description" : "Whether to retrieve citations found in the article. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "similar",
          "in" : "query",
          "description" : "Whether to retrieve a list of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "duplicate",
          "in" : "query",
          "description" : "Whether to retrieve a list of CORE IDs of different versions of the article. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "urls",
          "in" : "query",
          "description" : "Whether to retrieve a list of URLs from which the article can be downloaded. This can include links to PDFs as well as HTML pages. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "faithfulMetadata",
          "in" : "query",
          "description" : "Returns the records raw XML metadata from the original repository. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArticleSearchResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Parameter invalid or out of bounds"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "429" : {
            "description" : "Too many requests in given amount of time"
          }
        }
      }
    },
    "/articles/similar" : {
      "post" : {
        "tags" : [ "articles" ],
        "summary" : "Get articles by similarity to a text",
        "description" : "Method accepts a text and retrieves a JSON array of articles which are similar to the given text. The response array is ordered based on similarity score, starting from the most similar.",
        "operationId" : "similarArticles",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "How many similar articles to retrieve at most. Can be any number betwen 1 and 100, default is 10",
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "default" : 10
          }
        }, {
          "name" : "metadata",
          "in" : "query",
          "description" : "Whether to retrieve the full article metadata or only the IDs of the similar articles. The default value is true",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "fulltext",
          "in" : "query",
          "description" : "Whether to retrieve fulltexts of the similar articles. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "citations",
          "in" : "query",
          "description" : "Whether to retrieve citations found in the articles. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "similar",
          "in" : "query",
          "description" : "Whether to retrieve lists of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "duplicate",
          "in" : "query",
          "description" : "Whether to retrieve CORE IDs of different versions of the articles. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "urls",
          "in" : "query",
          "description" : "Whether to retrieve lists of URLs of the article fulltexts. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "faithfulMetadata",
          "in" : "query",
          "description" : "Whether to retrieve the raw XML metadata of the articles. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "description" : "The text that requires similar articles to be calculated on",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/SimilarRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArticleSimilarResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Missing text in request body or parameter out of bounds or invalid parameter"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "429" : {
            "description" : "Too many requests in given amount of time"
          }
        }
      }
    },
    "/journals/get" : {
      "post" : {
        "tags" : [ "journals" ],
        "summary" : "Batch operation for retrieving journals by ISSN",
        "description" : "Method accepts a JSON array of ISSNs and retrieves a list of journals.",
        "operationId" : "getJournalByIssnBatch",
        "requestBody" : {
          "description" : "JSON array with ISSNs of journals that need to be fetched",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JournalResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Missing or malformed JSON in request body"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "403" : {
            "description" : "Too many queries in request body"
          }
        }
      }
    },
    "/journals/get/{issn}" : {
      "get" : {
        "tags" : [ "journals" ],
        "summary" : "Find journal by ISSN",
        "description" : "Returns a journal with given ISSN identifier.",
        "operationId" : "getJournalByIssn",
        "parameters" : [ {
          "name" : "issn",
          "in" : "path",
          "description" : "ISSN identifier of journal that needs to be fetched.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JournalResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid ISSN identifier supplied"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          }
        }
      }
    },
    "/journals/search" : {
      "post" : {
        "tags" : [ "journals" ],
        "summary" : "Batch operation for search through journals",
        "description" : "Method accepts a JSON array of search queries and parameters. It then searches through all journals and returns a JSON array of search results for each of the queries. Method searches through all journal fields (title, identifiers, subjects, language, rights and publisher).",
        "requestBody" : {
          "description" : "JSON array with search queries and parameters. One request can contain up to 100 queries.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/SearchRequest"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JournalResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Missing or malformed JSON in request body"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "403" : {
            "description" : "Too many queries in request body"
          }
        }
      }
    },
    "/journals/search/{query}" : {
      "get" : {
        "tags" : [ "journals" ],
        "summary" : "Search through journals",
        "description" : "Searches through all journals and returns a JSON array of search results. Method searches through all journal fields (title, identifiers, subjects, language, rights and publisher).",
        "parameters" : [ {
          "name" : "query",
          "in" : "path",
          "description" : "Search query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Which page of the search results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).",
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "The number of results to return per page. Can be any number between 10 and 100, default is 10.",
          "schema" : {
            "maximum" : 100,
            "minimum" : 10,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JournalSearchResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Parameter invalid or out of bounds"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          }
        }
      }
    },
    "/repositories/get" : {
      "post" : {
        "tags" : [ "repositories" ],
        "summary" : "Batch operation for retrieving repositories by CORE repository ID",
        "description" : "Method accepts a JSON array of CORE repository IDs and retrieves a list of repositories. The response array is ordered based on the order of the IDs in the request array. The maximum number of IDs in request is 100.",
        "operationId" : "getRepositoryByIdBatch",
        "parameters" : [ {
          "name" : "stats",
          "in" : "query",
          "description" : "Whether to retrieve statistics about the repository. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "depositHistory",
          "in" : "query",
          "description" : "Returns deposit history over time",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "depositHistoryCumulative",
          "in" : "query",
          "description" : "Returns deposit history over time",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "description" : "JSON array with CORE repository IDs of repositories that need to be fetched",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "integer"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RepositoryResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Missing or malformed JSON in request body"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "403" : {
            "description" : "Too many queries in request body"
          },
          "429" : {
            "description" : "Too many requests in given amount of time"
          }
        }
      }
    },
    "/repositories/get/{repositoryId}" : {
      "get" : {
        "tags" : [ "repositories" ],
        "summary" : "Get repository by CORE repository ID",
        "description" : "Method will retrieve a repository based on given CORE repository ID.",
        "operationId" : "getRepositoryById",
        "parameters" : [ {
          "name" : "repositoryId",
          "in" : "path",
          "description" : "CORE repository ID of the article that needs to be fetched.",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "stats",
          "in" : "query",
          "description" : "Whether to retrieve statistics about the repository. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "depositHistory",
          "in" : "query",
          "description" : "Returns deposit history over time",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "depositHistoryCumulative",
          "in" : "query",
          "description" : "Returns deposit history over time",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RepositoryResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid identifier supplied"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "429" : {
            "description" : "Too many requests in given amount of time"
          }
        }
      }
    },
    "/repositories/search" : {
      "post" : {
        "tags" : [ "repositories" ],
        "summary" : "Batch operation for searching through repositories",
        "description" : "Method accepts a JSON array of search queries and parameters. It then searches through all repositories and returns a JSON array of search results for each of the queries. Method searches through all repository fields.",
        "parameters" : [ {
          "name" : "stats",
          "in" : "query",
          "description" : "Whether to retrieve statistics about the repository. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "depositHistory",
          "in" : "query",
          "description" : "Returns deposit history over time",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "depositHistoryCumulative",
          "in" : "query",
          "description" : "Returns deposit history over time",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "description" : "JSON array with search queries and parameters. One request can contain up to 100 queries",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/SearchRequest"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RepositorySearchResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Missing or malformed JSON in request body"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "403" : {
            "description" : "Too many queries in request body"
          },
          "429" : {
            "description" : "Too many requests in given amount of time"
          }
        }
      }
    },
    "/repositories/search/{query}" : {
      "get" : {
        "tags" : [ "repositories" ],
        "summary" : "Search through all repositories",
        "description" : "Searches through all repositories and returns a JSON array with search results. Method searches through all repository fields.",
        "parameters" : [ {
          "name" : "query",
          "in" : "path",
          "description" : "The search query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Which page of the search results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).",
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "The number of results to return per page. Can be any number between 10 and 100, default is 10.",
          "schema" : {
            "maximum" : 100,
            "minimum" : 10,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "stats",
          "in" : "query",
          "description" : "Whether to retrieve statistics about the repository. The default value is false",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "depositHistory",
          "in" : "query",
          "description" : "Returns deposit history over time",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "depositHistoryCumulative",
          "in" : "query",
          "description" : "Returns deposit history over time",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RepositorySearchResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Parameter invalid or out of bounds"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "429" : {
            "description" : "Too many requests in given amount of time"
          }
        }
      }
    },
    "/search" : {
      "post" : {
        "tags" : [ "all" ],
        "summary" : "Batch operation for search through all resources",
        "description" : "Method accepts a JSON array of search queries. It searches through all resources and returns a JSON array with search results for each of the queries. Method searches through all resources and all fields. The results are ordered by relevance score and contain type of the relevant resource and its ID. Furthermore, the responses are oredered based on the order of the request items. The metadata of each resource need to be obtained through an appropriate method.",
        "requestBody" : {
          "description" : "JSON array with search queries and pagination parameters. One request can contain up to 100 queries",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/SearchRequest"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SearchAllResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Missing or malformed JSON in request body"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "403" : {
            "description" : "Too many queries in request body"
          },
          "429" : {
            "description" : "Too many requests in given amount of time"
          }
        }
      }
    },
    "/search/{query}" : {
      "get" : {
        "tags" : [ "all" ],
        "summary" : "Search through all resources",
        "description" : "Searches through all resources and returns a JSON array with search results. Method searches through all resources and all fields. The results are ordered by relevance score and contain type of the relevant resource and its ID. The metadata of each resource need to be obtained through an appropriate method.",
        "parameters" : [ {
          "name" : "query",
          "in" : "path",
          "description" : "The search query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Which page of the search results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).",
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "The number of results to return per page. Can be any number between 10 and 100, default is 10.",
          "schema" : {
            "maximum" : 100,
            "minimum" : 10,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SearchAllResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Parameter invalid or out of bounds"
          },
          "401" : {
            "description" : "Invalid or no API key provided"
          },
          "429" : {
            "description" : "Too many requests in given amount of time"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Article" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "authors" : {
            "type" : "array",
            "description" : "List of article authors",
            "items" : {
              "type" : "string"
            }
          },
          "citations" : {
            "type" : "array",
            "description" : "Citations found in the article",
            "items" : {
              "$ref" : "#/components/schemas/Citation"
            }
          },
          "contributors" : {
            "type" : "array",
            "description" : "List of article contributors",
            "items" : {
              "type" : "string"
            }
          },
          "datePublished" : {
            "type" : "string",
            "description" : "Date article published"
          },
          "description" : {
            "type" : "string",
            "description" : "The abstract"
          },
          "doi" : {
            "type" : "string",
            "description" : "The DOI of the article"
          },
          "downloadUrl" : {
            "type" : "string",
            "description" : "The download PDF URL which is displayed on our /display/[ArticleID] page"
          },
          "fulltext" : {
            "type" : "string",
            "description" : "Article full text"
          },
          "fulltextIdentifier" : {
            "type" : "string",
            "description" : "The URL to the fulltext"
          },
          "fulltextUrls" : {
            "type" : "array",
            "description" : "URLs of the fulltext version of this article",
            "items" : {
              "type" : "string"
            }
          },
          "id" : {
            "type" : "integer",
            "description" : "Article ID"
          },
          "identifiers" : {
            "type" : "array",
            "description" : "List of document identifiers",
            "items" : {
              "type" : "string"
            }
          },
          "journals" : {
            "type" : "array",
            "description" : "List of journals this article belongs to",
            "items" : {
              "$ref" : "#/components/schemas/ArticleJournal"
            }
          },
          "language" : {
            "$ref" : "#/components/schemas/Language"
          },
          "oai" : {
            "type" : "string",
            "description" : "The OAI of the article"
          },
          "publisher" : {
            "type" : "string",
            "description" : "Publisher of the article"
          },
          "rawRecordXml" : {
            "$ref" : "#/components/schemas/RawRecordXml"
          },
          "relations" : {
            "type" : "array",
            "description" : "URLs of relating articles, etc.",
            "items" : {
              "type" : "string"
            }
          },
          "repositories" : {
            "type" : "array",
            "description" : "List of repositories this article belongs to",
            "items" : {
              "$ref" : "#/components/schemas/Repository"
            }
          },
          "repositoryDocument" : {
            "$ref" : "#/components/schemas/RepositoryDocument"
          },
          "similarities" : {
            "type" : "array",
            "description" : "Similar articles",
            "items" : {
              "$ref" : "#/components/schemas/Similar"
            }
          },
          "subjects" : {
            "type" : "array",
            "description" : "Article subjects",
            "items" : {
              "type" : "string"
            }
          },
          "title" : {
            "type" : "string",
            "description" : "Article title"
          },
          "topics" : {
            "type" : "array",
            "description" : "Article topics",
            "items" : {
              "type" : "string"
            }
          },
          "types" : {
            "type" : "array",
            "description" : "Types, e.g. conference paper, journal paper, etc.",
            "items" : {
              "type" : "string"
            }
          },
          "year" : {
            "type" : "integer",
            "description" : "Year the article was published"
          }
        }
      },
      "ArticleDedupResponse" : {
        "type" : "object"
      },
      "ArticleHistoryResponse" : {
        "required" : [ "status" ],
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "description" : "List of article versions",
            "items" : {
              "$ref" : "#/components/schemas/RawRecordXml"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "Operation status",
            "enum" : [ "OK", "Not found", "Too many queries", "Missing parameter", "Invalid parameter", "Parameter out of bounds" ]
          }
        }
      },
      "ArticleJournal" : {
        "type" : "object",
        "properties" : {
          "identifiers" : {
            "type" : "array",
            "description" : "List of journal identifiers",
            "items" : {
              "type" : "string"
            }
          },
          "title" : {
            "type" : "string",
            "description" : "Title of the journal"
          }
        }
      },
      "ArticleResponse" : {
        "required" : [ "data", "status" ],
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/Article"
          },
          "status" : {
            "type" : "string",
            "description" : "Operation status",
            "enum" : [ "OK", "Not found", "Too many queries", "Missing parameter", "Invalid parameter", "Parameter out of bounds" ]
          }
        }
      },
      "ArticleSearchResponse" : {
        "required" : [ "data", "status", "totalHits" ],
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "description" : "Search results",
            "items" : {
              "$ref" : "#/components/schemas/Article"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "Operation status",
            "enum" : [ "OK", "Not found", "Too many queries", "Missing parameter", "Invalid parameter", "Parameter out of bounds" ]
          },
          "totalHits" : {
            "type" : "integer",
            "description" : "Total number of articles matching the search criteria"
          }
        }
      },
      "ArticleSimilarResponse" : {
        "required" : [ "data", "status" ],
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "description" : "Similar articles",
            "items" : {
              "$ref" : "#/components/schemas/Article"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "Operation status",
            "enum" : [ "OK", "Not found", "Too many queries", "Missing parameter", "Invalid parameter", "Parameter out of bounds" ]
          }
        }
      },
      "Citation" : {
        "type" : "object",
        "properties" : {
          "authors" : {
            "type" : "string",
            "description" : "Authors of the article"
          },
          "date" : {
            "type" : "string",
            "description" : "Date the cited article was published"
          },
          "doi" : {
            "type" : "string",
            "description" : "Digital Object Identifier"
          },
          "raw" : {
            "type" : "string",
            "description" : "Citation as raw string"
          },
          "title" : {
            "type" : "string",
            "description" : "Title of the cited article"
          }
        }
      },
      "Journal" : {
        "required" : [ "identifiers" ],
        "type" : "object",
        "properties" : {
          "identifiers" : {
            "type" : "array",
            "description" : "List of journal identifiers (e.g. URL, OAI or ISSN). The type is prepended to the identifier string (e.g. 'issn:2296-0597')",
            "items" : {
              "type" : "string"
            }
          },
          "language" : {
            "type" : "string",
            "description" : "Language of the journal"
          },
          "publisher" : {
            "type" : "string",
            "description" : "Publisher of the journal"
          },
          "rights" : {
            "type" : "string",
            "description" : "Copyright license of the journal"
          },
          "subjects" : {
            "type" : "array",
            "description" : "List of journal subjects",
            "items" : {
              "type" : "string"
            }
          },
          "title" : {
            "type" : "string",
            "description" : "Journal title"
          }
        }
      },
      "JournalResponse" : {
        "required" : [ "status" ],
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/Journal"
          },
          "status" : {
            "type" : "string",
            "description" : "Operation status",
            "enum" : [ "OK", "NOT_FOUND", "TOO_MANY_QUERIES", "MISSING_PARAMETER", "INVALID_PARAMETER" ]
          }
        }
      },
      "JournalSearchResponse" : {
        "required" : [ "status", "totalHits" ],
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "description" : "Search results",
            "items" : {
              "$ref" : "#/components/schemas/Journal"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "Operation status",
            "enum" : [ "OK", "NOT_FOUND", "TOO_MANY_QUERIES", "MISSING_PARAMETER", "INVALID_PARAMETER" ]
          },
          "totalHits" : {
            "type" : "integer",
            "description" : "Total number of journals matching the search criteria"
          }
        }
      },
      "Language" : {
        "type" : "object",
        "properties" : {
          "deletedStatus" : {
            "type" : "integer",
            "description" : "The deleted status of the document: 0 for allowed, 1 for deleted, 2 for disabled"
          },
          "depositedDate" : {
            "type" : "string",
            "description" : "The date the item was deposited in the Data Provider (repository/Journal)",
            "format" : "date"
          },
          "indexed" : {
            "type" : "integer",
            "description" : "The index status of the document: 0 for not indexed, 1 for indexed"
          },
          "metadataUpdated" : {
            "type" : "string",
            "description" : "The last date metadata of this article were updated",
            "format" : "date"
          },
          "pdfOrigin" : {
            "type" : "string",
            "description" : "The remote URL where we aquired the PDF"
          },
          "pdfSize" : {
            "type" : "integer",
            "description" : "The size of pdf in bytes"
          },
          "pdfStatus" : {
            "type" : "integer",
            "description" : "The pdf status flag of article: 0 no pdf, 1 pdf exists"
          },
          "tdmOnly" : {
            "type" : "boolean",
            "description" : "The tdmOnly flag of the article: 0 normal, 1 tdm only"
          },
          "textStatus" : {
            "type" : "integer",
            "description" : "The text status flag of article: 0 does not exist, 1 exists"
          },
          "timestamp" : {
            "type" : "string",
            "description" : "The date of article as given by the repository",
            "format" : "date"
          }
        }
      },
      "RawRecordXml" : {
        "type" : "object",
        "properties" : {
          "datetime" : {
            "type" : "string",
            "description" : "Timestamp when CORE harvested the metadata",
            "format" : "date-format"
          },
          "metadata" : {
            "type" : "string",
            "description" : "The raw XML metadata"
          }
        }
      },
      "Repository" : {
        "type" : "object",
        "properties" : {
          "dataProviderSourceStats" : {
            "type" : "array",
            "description" : "Statistics based on the Data Provider/repository rather than data processed and filtered by CORE. This array is in beta and may change in the future",
            "items" : {
              "type" : "object"
            }
          },
          "history" : {
            "type" : "array",
            "description" : "The number of deposits in the repository per date. This field is in beta and may change in the future",
            "items" : {
              "type" : "object"
            }
          },
          "historyCumulative" : {
            "type" : "array",
            "description" : "The number of deposits in the repository per date over time (cumulative). This field is in beta and may change in the future",
            "items" : {
              "type" : "object"
            }
          },
          "id" : {
            "type" : "integer",
            "description" : "CORE repository ID"
          },
          "lastSeen" : {
            "type" : "string",
            "description" : "The time the repository was last harvested by CORE. This field is in beta and may change in the future",
            "format" : "date-time"
          },
          "name" : {
            "type" : "string",
            "description" : "Repository name"
          },
          "openDoarId" : {
            "type" : "integer",
            "description" : "ID of the repository in Open DOAR"
          },
          "repositoryLocation" : {
            "$ref" : "#/components/schemas/RepositoryLocation"
          },
          "repositoryStats" : {
            "$ref" : "#/components/schemas/RepositoryStats"
          },
          "uri" : {
            "type" : "string",
            "description" : "Repository URI"
          },
          "urlHomepage" : {
            "type" : "string",
            "description" : "Repository homepage"
          },
          "urlOaipmh" : {
            "type" : "string",
            "description" : "Repository OAI-PMH endpoint"
          }
        }
      },
      "RepositoryDocument" : {
        "type" : "object"
      },
      "RepositoryLocation" : {
        "type" : "object",
        "properties" : {
          "country" : {
            "type" : "string",
            "description" : "Country name"
          },
          "countryCode" : {
            "type" : "string",
            "description" : "Two letter country code"
          },
          "id" : {
            "type" : "integer",
            "description" : "CORE repository ID"
          },
          "latitude" : {
            "type" : "integer"
          },
          "longitude" : {
            "type" : "integer"
          },
          "repositoryName" : {
            "type" : "string",
            "description" : "Repository name"
          }
        }
      },
      "RepositoryResponse" : {
        "required" : [ "status" ],
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/Repository"
          },
          "status" : {
            "type" : "string",
            "description" : "Operation status",
            "enum" : [ "OK", "Not found", "Too many queries", "Missing parameter", "Invalid parameter", "Parameter out of bounds" ]
          }
        }
      },
      "RepositorySearchResponse" : {
        "required" : [ "status", "totalHits" ],
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "description" : "Search results",
            "items" : {
              "$ref" : "#/components/schemas/Repository"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "Operation status",
            "enum" : [ "OK", "Not found", "Too many queries", "Missing parameter", "Invalid parameter", "Parameter out of bounds" ]
          },
          "totalHits" : {
            "type" : "integer",
            "description" : "Total number of repositories matching the search criteria"
          }
        }
      },
      "RepositoryStats" : {
        "type" : "object",
        "properties" : {
          "countFulltext" : {
            "type" : "integer",
            "description" : "Repository fulltext count"
          },
          "countMetadata" : {
            "type" : "integer",
            "description" : "Repository metadata count"
          },
          "dateLastProcessed" : {
            "type" : "string",
            "description" : "Last repository processing date"
          }
        }
      },
      "Resource" : {
        "required" : [ "id", "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Identifier of the resource"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the resource",
            "enum" : [ "journal", "article", "repository" ]
          }
        }
      },
      "SearchAllResponse" : {
        "required" : [ "data", "status", "totalHits" ],
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "description" : "List of relevant resources",
            "items" : {
              "$ref" : "#/components/schemas/Resource"
            }
          },
          "status" : {
            "type" : "string",
            "description" : "Operation status",
            "enum" : [ "OK", "Not found", "Too many queries", "Missing parameter", "Invalid parameter", "Parameter out of bounds" ]
          },
          "totalHits" : {
            "type" : "integer",
            "description" : "Total number of items matching the search criteria"
          }
        }
      },
      "SearchRequest" : {
        "required" : [ "query" ],
        "type" : "object",
        "properties" : {
          "page" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "description" : "Which page of the search results should be retrieved. Can be any number from 1 to 100, default is 1 (first page)"
          },
          "pageSize" : {
            "maximum" : 100,
            "minimum" : 10,
            "type" : "integer",
            "description" : "The number of results to return per page. Can be any number from 10 to 100, default is 10"
          },
          "query" : {
            "type" : "string",
            "description" : "Search query"
          }
        }
      },
      "Similar" : {
        "required" : [ "id", "score" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "CORE ID of the similar article"
          },
          "score" : {
            "type" : "number",
            "description" : "Similarity score",
            "format" : "double"
          },
          "title" : {
            "type" : "string",
            "description" : "Title of the similar article"
          }
        }
      },
      "SimilarRequest" : {
        "required" : [ "text" ],
        "type" : "object",
        "properties" : {
          "text" : {
            "type" : "string",
            "description" : "Find Similar articles based on this string"
          }
        }
      }
    },
    "securitySchemes" : {
      "apiKey" : {
        "type" : "apiKey",
        "description" : "Your Api Key. Also accepts apiKey as a header",
        "name" : "apiKey",
        "in" : "query"
      }
    }
  }
}