{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "AutomationManagement",
    "version" : "2018-06-30"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks" : {
      "get" : {
        "tags" : [ "Runbook" ],
        "description" : "Retrieve a list of runbooks.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "operationId" : "Runbook_ListByAutomationAccount",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RunbookListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}" : {
      "get" : {
        "tags" : [ "Runbook" ],
        "description" : "Retrieve the runbook identified by runbook name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "operationId" : "Runbook_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The runbook name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Runbook"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Runbook" ],
        "description" : "Create the runbook identified by runbook name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "operationId" : "Runbook_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The runbook name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The create or update parameters for runbook. Provide either content link for a published runbook or draft, not both.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RunbookCreateOrUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Runbook"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Runbook"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Runbook" ],
        "description" : "Delete the runbook by name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "operationId" : "Runbook_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The runbook name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "204" : {
            "description" : "No Content"
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Runbook" ],
        "description" : "Update the runbook identified by runbook name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "operationId" : "Runbook_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The runbook name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The update parameters for runbook.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RunbookUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Runbook"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/content" : {
      "get" : {
        "tags" : [ "Runbook" ],
        "description" : "Retrieve the content of runbook identified by runbook name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "operationId" : "Runbook_GetContent",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The runbook name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "text/powershell" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "text/powershell" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft" : {
      "get" : {
        "tags" : [ "RunbookDraft" ],
        "description" : "Retrieve the runbook draft identified by runbook name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "operationId" : "RunbookDraft_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The runbook name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RunbookDraft"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/content" : {
      "get" : {
        "tags" : [ "RunbookDraft" ],
        "description" : "Retrieve the content of runbook draft identified by runbook name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "operationId" : "RunbookDraft_GetContent",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The runbook name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "text/powershell" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "text/powershell" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "RunbookDraft" ],
        "description" : "Replaces the runbook draft content.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "operationId" : "RunbookDraft_ReplaceContent",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The runbook name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The runbook draft content.",
          "content" : {
            "text/powershell" : {
              "schema" : {
                "type" : "object",
                "format" : "file"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and  the operation will complete asynchronously.",
            "headers" : {
              "location" : {
                "description" : "URL to query for status of the operation.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob" : {
      "get" : {
        "tags" : [ "TestJob" ],
        "description" : "Retrieve the test job for the specified runbook.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/testjoboperations"
        },
        "operationId" : "TestJob_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The runbook name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TestJob"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "TestJob" ],
        "description" : "Create a test job of the runbook.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/testjoboperations"
        },
        "operationId" : "TestJob_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The parameters supplied to the create test job operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters supplied to the create test job operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TestJobCreateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TestJob"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/resume" : {
      "post" : {
        "tags" : [ "TestJob" ],
        "description" : "Resume the test job.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/testjoboperations"
        },
        "operationId" : "TestJob_Resume",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The runbook name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/stop" : {
      "post" : {
        "tags" : [ "TestJob" ],
        "description" : "Stop the test job.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/testjoboperations"
        },
        "operationId" : "TestJob_Stop",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The runbook name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/streams" : {
      "get" : {
        "tags" : [ "TestJobStream" ],
        "description" : "Retrieve a list of test job streams identified by runbook name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/jobstreamoperations"
        },
        "operationId" : "TestJobStreams_ListByTestJob",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The runbook name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JobStreamListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/streams/{jobStreamId}" : {
      "get" : {
        "tags" : [ "TestJobStream" ],
        "description" : "Retrieve a test job stream of the test job identified by runbook name and stream id.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/jobstreamoperations"
        },
        "operationId" : "TestJobStreams_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The runbook name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "jobStreamId",
          "in" : "path",
          "description" : "The job stream id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JobStream"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/suspend" : {
      "post" : {
        "tags" : [ "TestJob" ],
        "description" : "Suspend the test job.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/testjoboperations"
        },
        "operationId" : "TestJob_Suspend",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The runbook name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/undoEdit" : {
      "post" : {
        "tags" : [ "RunbookDraft" ],
        "description" : "Undo draft edit to last known published state identified by runbook name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "operationId" : "RunbookDraft_UndoEdit",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The runbook name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RunbookDraftUndoEditResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/publish" : {
      "post" : {
        "tags" : [ "Runbook" ],
        "description" : "Publish runbook draft.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "operationId" : "Runbook_Publish",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "runbookName",
          "in" : "path",
          "description" : "The parameters supplied to the publish runbook operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted and  the operation will complete asynchronously.",
            "headers" : {
              "location" : {
                "description" : "URL to query for status of the operation.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ContentHash" : {
        "required" : [ "algorithm", "value" ],
        "type" : "object",
        "properties" : {
          "algorithm" : {
            "type" : "string",
            "description" : "Gets or sets the content hash algorithm used to hash the content."
          },
          "value" : {
            "type" : "string",
            "description" : "Gets or sets expected hash value of the content."
          }
        },
        "description" : "Definition of the runbook property type."
      },
      "ContentLink" : {
        "type" : "object",
        "properties" : {
          "contentHash" : {
            "$ref" : "#/components/schemas/ContentHash"
          },
          "uri" : {
            "type" : "string",
            "description" : "Gets or sets the uri of the runbook content."
          },
          "version" : {
            "type" : "string",
            "description" : "Gets or sets the version of the content."
          }
        },
        "description" : "Definition of the content link."
      },
      "JobStream" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Gets or sets the id of the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/JobStreamProperties"
          }
        },
        "description" : "Definition of the job stream."
      },
      "JobStreamListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Gets or sets the next link."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of job streams.",
            "items" : {
              "$ref" : "#/components/schemas/JobStream"
            }
          }
        },
        "description" : "The response model for the list job stream operation."
      },
      "JobStreamProperties" : {
        "type" : "object",
        "properties" : {
          "jobStreamId" : {
            "type" : "string",
            "description" : "Gets or sets the id of the job stream."
          },
          "streamText" : {
            "type" : "string",
            "description" : "Gets or sets the stream text."
          },
          "streamType" : {
            "type" : "string",
            "description" : "Gets or sets the stream type.",
            "enum" : [ "Progress", "Output", "Warning", "Error", "Debug", "Verbose", "Any" ]
          },
          "summary" : {
            "type" : "string",
            "description" : "Gets or sets the summary."
          },
          "time" : {
            "type" : "string",
            "description" : "Gets or sets the creation time of the job.",
            "format" : "date-time",
            "nullable" : false
          },
          "value" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object"
            },
            "description" : "Gets or sets the values of the job stream."
          }
        },
        "description" : "Definition of the job stream."
      },
      "Runbook" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "Gets or sets the etag of the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/RunbookProperties"
          }
        },
        "description" : "Definition of the runbook type.",
        "allOf" : [ {
          "properties" : {
            "location" : {
              "type" : "string",
              "description" : "The Azure Region where the resource lives"
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            }
          },
          "description" : "The resource model definition for a ARM tracked top level resource",
          "allOf" : [ {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Fully qualified resource Id for the resource",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "The name of the resource",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the resource.",
                "readOnly" : true
              }
            },
            "description" : "The core properties of ARM resources"
          } ]
        } ]
      },
      "RunbookCreateOrUpdateDraftParameters" : {
        "required" : [ "runbookContent" ],
        "type" : "object",
        "properties" : {
          "runbookContent" : {
            "type" : "string",
            "description" : "Content of the Runbook."
          }
        },
        "description" : "The parameters supplied to the create or update runbook operation."
      },
      "RunbookCreateOrUpdateDraftProperties" : {
        "required" : [ "draft", "runbookType" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Gets or sets the description of the runbook."
          },
          "draft" : {
            "$ref" : "#/components/schemas/RunbookDraft"
          },
          "logActivityTrace" : {
            "type" : "integer",
            "description" : "Gets or sets the activity-level tracing options of the runbook.",
            "format" : "int32"
          },
          "logProgress" : {
            "type" : "boolean",
            "description" : "Gets or sets progress log option."
          },
          "logVerbose" : {
            "type" : "boolean",
            "description" : "Gets or sets verbose log option."
          },
          "runbookType" : {
            "type" : "string",
            "description" : "Gets or sets the type of the runbook.",
            "enum" : [ "Script", "Graph", "PowerShellWorkflow", "PowerShell", "GraphPowerShellWorkflow", "GraphPowerShell" ]
          }
        },
        "description" : "The parameters supplied to the create or update draft runbook properties."
      },
      "RunbookCreateOrUpdateParameters" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "Gets or sets the location of the resource."
          },
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the name of the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/RunbookCreateOrUpdateProperties"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Gets or sets the tags attached to the resource."
          }
        },
        "description" : "The parameters supplied to the create or update runbook operation."
      },
      "RunbookCreateOrUpdateProperties" : {
        "required" : [ "runbookType" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Gets or sets the description of the runbook."
          },
          "draft" : {
            "$ref" : "#/components/schemas/RunbookDraft"
          },
          "logActivityTrace" : {
            "type" : "integer",
            "description" : "Gets or sets the activity-level tracing options of the runbook.",
            "format" : "int32"
          },
          "logProgress" : {
            "type" : "boolean",
            "description" : "Gets or sets progress log option."
          },
          "logVerbose" : {
            "type" : "boolean",
            "description" : "Gets or sets verbose log option."
          },
          "publishContentLink" : {
            "$ref" : "#/components/schemas/ContentLink"
          },
          "runbookType" : {
            "type" : "string",
            "description" : "Gets or sets the type of the runbook.",
            "enum" : [ "Script", "Graph", "PowerShellWorkflow", "PowerShell", "GraphPowerShellWorkflow", "GraphPowerShell" ]
          }
        },
        "description" : "The parameters supplied to the create or update runbook properties."
      },
      "RunbookDraft" : {
        "type" : "object",
        "properties" : {
          "creationTime" : {
            "type" : "string",
            "description" : "Gets or sets the creation time of the runbook draft.",
            "format" : "date-time",
            "nullable" : false
          },
          "draftContentLink" : {
            "$ref" : "#/components/schemas/ContentLink"
          },
          "inEdit" : {
            "type" : "boolean",
            "description" : "Gets or sets whether runbook is in edit mode."
          },
          "lastModifiedTime" : {
            "type" : "string",
            "description" : "Gets or sets the last modified time of the runbook draft.",
            "format" : "date-time",
            "nullable" : false
          },
          "outputTypes" : {
            "type" : "array",
            "description" : "Gets or sets the runbook output types.",
            "items" : {
              "type" : "string"
            }
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/RunbookParameter"
            },
            "description" : "Gets or sets the runbook draft parameters."
          }
        }
      },
      "RunbookDraftUndoEditResult" : {
        "type" : "object",
        "properties" : {
          "requestId" : {
            "type" : "string"
          },
          "statusCode" : {
            "type" : "string",
            "enum" : [ "Continue", "SwitchingProtocols", "OK", "Created", "Accepted", "NonAuthoritativeInformation", "NoContent", "ResetContent", "PartialContent", "MultipleChoices", "Ambiguous", "MovedPermanently", "Moved", "Found", "Redirect", "SeeOther", "RedirectMethod", "NotModified", "UseProxy", "Unused", "TemporaryRedirect", "RedirectKeepVerb", "BadRequest", "Unauthorized", "PaymentRequired", "Forbidden", "NotFound", "MethodNotAllowed", "NotAcceptable", "ProxyAuthenticationRequired", "RequestTimeout", "Conflict", "Gone", "LengthRequired", "PreconditionFailed", "RequestEntityTooLarge", "RequestUriTooLong", "UnsupportedMediaType", "RequestedRangeNotSatisfiable", "ExpectationFailed", "UpgradeRequired", "InternalServerError", "NotImplemented", "BadGateway", "ServiceUnavailable", "GatewayTimeout", "HttpVersionNotSupported" ]
          }
        },
        "description" : "The response model for the undo edit runbook operation."
      },
      "RunbookListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Gets or sets the next link."
          },
          "value" : {
            "type" : "array",
            "description" : "Gets or sets a list of runbooks.",
            "items" : {
              "$ref" : "#/components/schemas/Runbook"
            }
          }
        },
        "description" : "The response model for the list runbook operation."
      },
      "RunbookParameter" : {
        "type" : "object",
        "properties" : {
          "defaultValue" : {
            "type" : "string",
            "description" : "Gets or sets the default value of parameter."
          },
          "isMandatory" : {
            "type" : "boolean",
            "description" : "Gets or sets a Boolean value to indicate whether the parameter is mandatory or not."
          },
          "position" : {
            "type" : "integer",
            "description" : "Get or sets the position of the parameter.",
            "format" : "int32"
          },
          "type" : {
            "type" : "string",
            "description" : "Gets or sets the type of the parameter."
          }
        },
        "description" : "Definition of the runbook parameter type."
      },
      "RunbookProperties" : {
        "type" : "object",
        "properties" : {
          "creationTime" : {
            "type" : "string",
            "description" : "Gets or sets the creation time.",
            "format" : "date-time",
            "nullable" : false
          },
          "description" : {
            "type" : "string",
            "description" : "Gets or sets the description."
          },
          "draft" : {
            "$ref" : "#/components/schemas/RunbookDraft"
          },
          "jobCount" : {
            "type" : "integer",
            "description" : "Gets or sets the job count of the runbook.",
            "format" : "int32"
          },
          "lastModifiedBy" : {
            "type" : "string",
            "description" : "Gets or sets the last modified by."
          },
          "lastModifiedTime" : {
            "type" : "string",
            "description" : "Gets or sets the last modified time.",
            "format" : "date-time",
            "nullable" : false
          },
          "logActivityTrace" : {
            "type" : "integer",
            "description" : "Gets or sets the option to log activity trace of the runbook.",
            "format" : "int32"
          },
          "logProgress" : {
            "type" : "boolean",
            "description" : "Gets or sets progress log option."
          },
          "logVerbose" : {
            "type" : "boolean",
            "description" : "Gets or sets verbose log option."
          },
          "outputTypes" : {
            "type" : "array",
            "description" : "Gets or sets the runbook output types.",
            "items" : {
              "type" : "string"
            }
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/RunbookParameter"
            },
            "description" : "Gets or sets the runbook parameters."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "Gets or sets the provisioning state of the runbook.",
            "enum" : [ "Succeeded" ]
          },
          "publishContentLink" : {
            "$ref" : "#/components/schemas/ContentLink"
          },
          "runbookType" : {
            "type" : "string",
            "description" : "Gets or sets the type of the runbook.",
            "enum" : [ "Script", "Graph", "PowerShellWorkflow", "PowerShell", "GraphPowerShellWorkflow", "GraphPowerShell" ]
          },
          "state" : {
            "type" : "string",
            "description" : "Gets or sets the state of the runbook.",
            "enum" : [ "New", "Edit", "Published" ]
          }
        },
        "description" : "Definition of the runbook property type."
      },
      "RunbookUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "Gets or sets the location of the resource."
          },
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the name of the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/RunbookUpdateProperties"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Gets or sets the tags attached to the resource."
          }
        },
        "description" : "The parameters supplied to the update runbook operation."
      },
      "RunbookUpdateProperties" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Gets or sets the description of the runbook."
          },
          "logActivityTrace" : {
            "type" : "integer",
            "description" : "Gets or sets the activity-level tracing options of the runbook.",
            "format" : "int32"
          },
          "logProgress" : {
            "type" : "boolean",
            "description" : "Gets or sets progress log option."
          },
          "logVerbose" : {
            "type" : "boolean",
            "description" : "Gets or sets verbose log option."
          }
        },
        "description" : "The parameters supplied to the update runbook properties."
      },
      "TestJob" : {
        "type" : "object",
        "properties" : {
          "creationTime" : {
            "type" : "string",
            "description" : "Gets or sets the creation time of the test job.",
            "format" : "date-time",
            "nullable" : false
          },
          "endTime" : {
            "type" : "string",
            "description" : "Gets or sets the end time of the test job.",
            "format" : "date-time",
            "nullable" : true
          },
          "exception" : {
            "type" : "string",
            "description" : "Gets or sets the exception of the test job."
          },
          "lastModifiedTime" : {
            "type" : "string",
            "description" : "Gets or sets the last modified time of the test job.",
            "format" : "date-time",
            "nullable" : false
          },
          "lastStatusModifiedTime" : {
            "type" : "string",
            "description" : "Gets or sets the last status modified time of the test job.",
            "format" : "date-time",
            "nullable" : true
          },
          "logActivityTrace" : {
            "type" : "integer",
            "description" : "The activity-level tracing options of the runbook.",
            "format" : "int32"
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Gets or sets the parameters of the test job."
          },
          "runOn" : {
            "type" : "string",
            "description" : "Gets or sets the runOn which specifies the group name where the job is to be executed."
          },
          "startTime" : {
            "type" : "string",
            "description" : "Gets or sets the start time of the test job.",
            "format" : "date-time",
            "nullable" : true
          },
          "status" : {
            "type" : "string",
            "description" : "Gets or sets the status of the test job."
          },
          "statusDetails" : {
            "type" : "string",
            "description" : "Gets or sets the status details of the test job."
          }
        },
        "description" : "Definition of the test job."
      },
      "TestJobCreateParameters" : {
        "type" : "object",
        "properties" : {
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Gets or sets the parameters of the test job."
          },
          "runOn" : {
            "type" : "string",
            "description" : "Gets or sets the runOn which specifies the group name where the job is to be executed."
          }
        },
        "description" : "The parameters supplied to the create test job operation."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}