{"openapi":"3.0.1","info":{"title":"IotCentralClient","description":"Use this API to manage IoT Central Applications in your Azure subscription.","version":"2018-09-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.IoTCentral/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available IoT Central application REST API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/IoTApps":{"get":{"tags":["Apps"],"description":"Get all IoT Central Applications in a subscription.","operationId":"Apps_ListBySubscription","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the IoT Central Applications in the subscription.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppListResult"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/appTemplates":{"post":{"tags":["Apps"],"description":"Get all available application templates.","operationId":"Apps_ListTemplates","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The body contains all the IoT Central application templates.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppTemplatesResult"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/checkNameAvailability":{"post":{"tags":["Apps"],"description":"Check if an IoT Central application name is available.","operationId":"Apps_CheckNameAvailability","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Set the name parameter in the OperationInputs structure to the name of the IoT Central application to check.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationInputs"}}},"required":true},"responses":{"200":{"description":"This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the IoT Central application name is available. If the name is not available, the body contains the reason.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAvailabilityInfo"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/checkSubdomainAvailability":{"post":{"tags":["Apps"],"description":"Check if an IoT Central application subdomain is available.","operationId":"Apps_CheckSubdomainAvailability","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Set the name parameter in the OperationInputs structure to the subdomain of the IoT Central application to check.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationInputs"}}},"required":true},"responses":{"200":{"description":"This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the IoT Central application subdomain is available. If the subdomain is not available, the body contains the reason.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAvailabilityInfo"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTCentral/IoTApps":{"get":{"tags":["Apps"],"description":"Get all the IoT Central Applications in a resource group.","operationId":"Apps_ListByResourceGroup","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the IoT Central application.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the IoT Central Applications in the resource group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppListResult"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTCentral/IoTApps/{resourceName}":{"get":{"tags":["Apps"],"description":"Get the metadata of an IoT Central application.","operationId":"Apps_Get","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the IoT Central application.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The ARM resource name of the IoT Central application.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The body contains all the non-security properties of the IoT Central application. Security-related properties are set to null.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/App"}}}},"default":{"description":"Default error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false},"put":{"tags":["Apps"],"description":"Create or update the metadata of an IoT Central application. The usual pattern to modify a property is to retrieve the IoT Central application metadata and security metadata, and then combine them with the modified values in a new body to update the IoT Central application.","operationId":"Apps_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the IoT Central application.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The ARM resource name of the IoT Central application.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The IoT Central application metadata and security metadata.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/App"}}},"required":true},"responses":{"200":{"description":"This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/App"}}}},"201":{"description":"This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/App"}}}},"202":{"description":"Accepted - Put request accepted; the operation will complete asynchronously."},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false},"delete":{"tags":["Apps"],"description":"Delete an IoT Central application.","operationId":"Apps_Delete","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the IoT Central application.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The ARM resource name of the IoT Central application.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"This is returned as a response to the status polling request for the delete operation. The body contains the resource representation that indicates a transitional provisioning state."},"202":{"description":"Accepted - Delete request accepted; the operation will complete asynchronously."},"204":{"description":"Once the long running delete operation completes successfully, a 204 No Content status code is returned when the status polling request finds the IoT Central application metadata in the service and the status of the delete operation is set to a completed state."},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}}},"patch":{"tags":["Apps"],"description":"Update the metadata of an IoT Central application.","operationId":"Apps_Update","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the IoT Central application.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The ARM resource name of the IoT Central application.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The IoT Central application metadata and security metadata.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppPatch"}}},"required":true},"responses":{"200":{"description":"This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/App"}}}},"202":{"description":"Accepted - Put request accepted; the operation will complete asynchronously."},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false}}},"components":{"schemas":{"App":{"properties":{"properties":{"$ref":"#/components/schemas/AppProperties"},"sku":{"$ref":"#/components/schemas/AppSkuInfo"}},"description":"The IoT Central application.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"AppAvailabilityInfo":{"type":"object","properties":{"message":{"type":"string","description":"The detailed reason message.","readOnly":true},"nameAvailable":{"type":"boolean","description":"The value which indicates whether the provided name is available.","readOnly":true},"reason":{"type":"string","description":"The reason for unavailability.","readOnly":true}},"description":"The properties indicating whether a given IoT Central application name or subdomain is available."},"AppListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link used to get the next page of IoT Central Applications."},"value":{"type":"array","description":"A list of IoT Central Applications.","items":{"$ref":"#/components/schemas/App"}}},"description":"A list of IoT Central Applications with a next link."},"AppPatch":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/AppProperties"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Instance tags"}},"description":"The description of the IoT Central application."},"AppProperties":{"type":"object","properties":{"applicationId":{"type":"string","description":"The ID of the application.","readOnly":true},"displayName":{"pattern":"^.{1,200}$","type":"string","description":"The display name of the application."},"subdomain":{"pattern":"^[a-z0-9-]{1,63}$","type":"string","description":"The subdomain of the application."},"template":{"type":"string","description":"The ID of the application template, which is a blueprint that defines the characteristics and behaviors of an application. Optional; if not specified, defaults to a blank blueprint and allows the application to be defined from scratch."}},"description":"The properties of an IoT Central application."},"AppSkuInfo":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the SKU.","enum":["F1","S1","ST0","ST1","ST2"]}},"description":"Information about the SKU of the IoT Central application."},"AppTemplate":{"type":"object","properties":{"appTemplateName":{"type":"string","description":"The name of the template.","readOnly":true},"description":{"type":"string","description":"The description of the template.","readOnly":true},"manifestId":{"type":"string","description":"The ID of the template.","readOnly":true},"manifestVersion":{"type":"string","description":"The version of the template.","readOnly":true},"order":{"type":"number","description":"The order of the template in the templates list.","readOnly":true},"title":{"type":"string","description":"The title of the template.","readOnly":true}},"description":"IoT Central Application Template."},"AppTemplatesResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link used to get the next page of IoT Central application templates."},"value":{"type":"array","description":"A list of IoT Central Application Templates.","readOnly":true,"items":{"$ref":"#/components/schemas/AppTemplate"}}},"description":"A list of IoT Central Application Templates with a next link."},"ErrorDetails":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorResponseBody"}},"description":"Error details."},"ErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The error code.","readOnly":true},"details":{"type":"array","description":"A list of additional details about the error.","items":{"$ref":"#/components/schemas/ErrorResponseBody"}},"message":{"type":"string","description":"The error message.","readOnly":true},"target":{"type":"string","description":"The target of the particular error.","readOnly":true}},"description":"Details of error response."},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/OperationDisplay"},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{read | write | action | delete}","readOnly":true}},"description":"IoT Central REST API operation"},"OperationDisplay":{"type":"object","properties":{"description":{"type":"string","description":"Friendly description for the operation,","readOnly":true},"operation":{"type":"string","description":"Name of the operation","readOnly":true},"provider":{"type":"string","description":"Service provider: Microsoft IoT Central","readOnly":true},"resource":{"type":"string","description":"Resource Type: IoT Central","readOnly":true}},"description":"The object that represents the operation."},"OperationInputs":{"required":["name"],"type":"object","properties":{"name":{"pattern":"^[a-z0-9-]{1,63}$","type":"string","description":"The name of the IoT Central application instance to check."},"type":{"type":"string","description":"The type of the IoT Central resource to query.","default":"IoTApps"}},"description":"Input values."},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link used to get the next page of IoT Central description objects."},"value":{"type":"array","description":"A list of operations supported by the Microsoft.IoTCentral resource provider.","readOnly":true,"items":{"$ref":"#/components/schemas/Operation"}}},"description":"A list of IoT Central operations. It contains a list of operations and a URL link to get the next set of results."},"Resource":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"The ARM resource identifier.","readOnly":true},"location":{"type":"string","description":"The resource location."},"name":{"pattern":"^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,99}[a-zA-Z0-9]$","type":"string","description":"The ARM resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The resource tags."},"type":{"type":"string","description":"The resource type.","readOnly":true}},"description":"The common properties of an ARM resource."}},"parameters":{"api-version":{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},"resourceGroupName":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the IoT Central application.","required":true,"schema":{"type":"string"}},"resourceName":{"name":"resourceName","in":"path","description":"The ARM resource name of the IoT Central application.","required":true,"schema":{"type":"string"}},"subscriptionId":{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}