{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "VirtualMachineImageTemplate",
    "description" : "Virtual Machine Image Template",
    "version" : "2019-05-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.VirtualMachineImages/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Lists available operations for the Microsoft.VirtualMachineImages provider",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation was successful. The response contains the list of available operations.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.VirtualMachineImages/imageTemplates" : {
      "get" : {
        "tags" : [ "VirtualMachineImageTemplate" ],
        "description" : "Gets information about the VM image templates associated with the subscription.",
        "operationId" : "VirtualMachineImageTemplates_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription Id forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImageTemplateListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates" : {
      "get" : {
        "tags" : [ "VirtualMachineImageTemplate" ],
        "description" : "Gets information about the VM image templates associated with the specified resource group.",
        "operationId" : "VirtualMachineImageTemplates_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription Id forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImageTemplateListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates/{imageTemplateName}" : {
      "get" : {
        "tags" : [ "VirtualMachineImageTemplate" ],
        "description" : "Get information about a virtual machine image template",
        "operationId" : "VirtualMachineImageTemplates_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription Id forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "imageTemplateName",
          "in" : "path",
          "description" : "The name of the image Template",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z0-9-_.]{1,64}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImageTemplate"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "VirtualMachineImageTemplate" ],
        "description" : "Create or update a virtual machine image template",
        "operationId" : "VirtualMachineImageTemplates_CreateOrUpdate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription Id forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "imageTemplateName",
          "in" : "path",
          "description" : "The name of the image Template",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z0-9-_.]{1,64}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the CreateImageTemplate operation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ImageTemplate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImageTemplate"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImageTemplate"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "VirtualMachineImageTemplate" ],
        "description" : "Delete a virtual machine image template",
        "operationId" : "VirtualMachineImageTemplates_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription Id forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "imageTemplateName",
          "in" : "path",
          "description" : "The name of the image Template",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z0-9-_.]{1,64}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation was successful."
          },
          "202" : {
            "description" : "The operation will be completed asynchronously."
          },
          "204" : {
            "description" : "NoContent -- VM image template does not exist in the subscription."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "VirtualMachineImageTemplate" ],
        "description" : "Update the tags for this Virtual Machine Image Template",
        "operationId" : "VirtualMachineImageTemplates_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription Id forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "imageTemplateName",
          "in" : "path",
          "description" : "The name of the image Template",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z0-9-_.]{1,64}$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Additional parameters for Image Template update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ImageTemplateUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImageTemplate"
                }
              }
            }
          },
          "202" : {
            "description" : "The operation will be completed asynchronously."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates/{imageTemplateName}/run" : {
      "post" : {
        "tags" : [ "VirtualMachineImageTemplate" ],
        "description" : "Create artifacts from a existing image template",
        "operationId" : "VirtualMachineImageTemplates_Run",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription Id forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "imageTemplateName",
          "in" : "path",
          "description" : "The name of the image Template",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z0-9-_.]{1,64}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "The operation will be completed asynchronously."
          },
          "204" : {
            "description" : "The operation was successful."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates/{imageTemplateName}/runOutputs" : {
      "get" : {
        "tags" : [ "VirtualMachineImageTemplate" ],
        "description" : "List all run outputs for the specified Image Template resource",
        "operationId" : "VirtualMachineImageTemplates_ListRunOutputs",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription Id forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "imageTemplateName",
          "in" : "path",
          "description" : "The name of the image Template",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z0-9-_.]{1,64}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RunOutputCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates/{imageTemplateName}/runOutputs/{runOutputName}" : {
      "get" : {
        "tags" : [ "VirtualMachineImageTemplate" ],
        "description" : "Get the specified run output for the specified image template resource",
        "operationId" : "VirtualMachineImageTemplates_GetRunOutput",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription Id forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "imageTemplateName",
          "in" : "path",
          "description" : "The name of the image Template",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z0-9-_.]{1,64}$",
            "type" : "string"
          }
        }, {
          "name" : "runOutputName",
          "in" : "path",
          "description" : "The name of the run output",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z0-9-_.]{1,64}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RunOutput"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ApiError" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The error code."
          },
          "details" : {
            "type" : "array",
            "description" : "The Api error details",
            "items" : {
              "$ref" : "#/components/schemas/ApiErrorBase"
            }
          },
          "innerError" : {
            "$ref" : "#/components/schemas/InnerError"
          },
          "message" : {
            "type" : "string",
            "description" : "The error message."
          },
          "target" : {
            "type" : "string",
            "description" : "The target of the particular error."
          }
        },
        "description" : "Api error."
      },
      "ApiErrorBase" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The error code."
          },
          "message" : {
            "type" : "string",
            "description" : "The error message."
          },
          "target" : {
            "type" : "string",
            "description" : "The target of the particular error."
          }
        },
        "description" : "Api error base."
      },
      "ImageTemplate" : {
        "properties" : {
          "identity" : {
            "$ref" : "#/components/schemas/ImageTemplateIdentity"
          },
          "properties" : {
            "$ref" : "#/components/schemas/ImageTemplateProperties"
          }
        },
        "description" : "Image template is an ARM resource managed by Microsoft.VirtualMachineImages provider",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "ImageTemplateCustomizer" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Friendly Name to provide context on what this customization step does"
          },
          "type" : {
            "type" : "string",
            "description" : "The type of customization tool you want to use on the Image. For example, \"Shell\" can be shell customizer"
          }
        },
        "description" : "Describes a unit of image customization",
        "discriminator" : {
          "propertyName" : "type"
        }
      },
      "ImageTemplateDistributor" : {
        "required" : [ "runOutputName", "type" ],
        "type" : "object",
        "properties" : {
          "artifactTags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Tags that will be applied to the artifact once it has been created/updated by the distributor."
          },
          "runOutputName" : {
            "pattern" : "^[A-Za-z0-9-_.]{1,64}$",
            "type" : "string",
            "description" : "The name to be used for the associated RunOutput."
          },
          "type" : {
            "type" : "string",
            "description" : "Type of distribution."
          }
        },
        "description" : "Generic distribution object",
        "discriminator" : {
          "propertyName" : "type"
        }
      },
      "ImageTemplateFileCustomizer" : {
        "properties" : {
          "destination" : {
            "type" : "string",
            "description" : "The absolute path to a file (with nested directory structures already created) where the file (from sourceUri) will be uploaded to in the VM"
          },
          "sha256Checksum" : {
            "type" : "string",
            "description" : "SHA256 checksum of the file provided in the sourceUri field above"
          },
          "sourceUri" : {
            "type" : "string",
            "description" : "The URI of the file to be uploaded for customizing the VM. It can be a github link, SAS URI for Azure Storage, etc"
          }
        },
        "description" : "Uploads files to VMs (Linux, Windows). Corresponds to Packer file provisioner",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ImageTemplateCustomizer"
        } ]
      },
      "ImageTemplateIdentity" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of identity used for the image template. The type 'None' will remove any identities from the image template.",
            "enum" : [ "UserAssigned", "None" ]
          },
          "userAssignedIdentities" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : {
                "clientId" : {
                  "type" : "string",
                  "description" : "The client id of user assigned identity.",
                  "readOnly" : true
                },
                "principalId" : {
                  "type" : "string",
                  "description" : "The principal id of user assigned identity.",
                  "readOnly" : true
                }
              }
            },
            "description" : "The list of user identities associated with the image template. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
          }
        },
        "description" : "Identity for the image template."
      },
      "ImageTemplateIsoSource" : {
        "properties" : {
          "sha256Checksum" : {
            "type" : "string",
            "description" : "SHA256 Checksum of the ISO image."
          },
          "sourceUri" : {
            "type" : "string",
            "description" : "URI to get the ISO image. This URI has to be accessible to the resource provider at the time of the image template creation."
          }
        },
        "description" : "Describes an image source that is an installation ISO. Currently only supports Red Hat Enterprise Linux 7.2-7.5 ISO's.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ImageTemplateSource"
        } ]
      },
      "ImageTemplateLastRunStatus" : {
        "type" : "object",
        "properties" : {
          "endTime" : {
            "type" : "string",
            "description" : "End time of the last run (UTC)",
            "format" : "date-time"
          },
          "message" : {
            "type" : "string",
            "description" : "Verbose information about the last run state"
          },
          "runState" : {
            "type" : "string",
            "description" : "State of the last run",
            "enum" : [ "Running", "Succeeded", "PartiallySucceeded", "Failed" ]
          },
          "runSubState" : {
            "type" : "string",
            "description" : "Sub-state of the last run",
            "enum" : [ "Queued", "Building", "Customizing", "Distributing" ]
          },
          "startTime" : {
            "type" : "string",
            "description" : "Start time of the last run (UTC)",
            "format" : "date-time"
          }
        },
        "description" : "Describes the latest status of running an image template"
      },
      "ImageTemplateListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The continuation token."
          },
          "value" : {
            "type" : "array",
            "description" : "An array of image templates",
            "items" : {
              "$ref" : "#/components/schemas/ImageTemplate"
            }
          }
        },
        "description" : "The result of List image templates operation"
      },
      "ImageTemplateManagedImageDistributor" : {
        "properties" : {
          "imageId" : {
            "type" : "string",
            "description" : "Resource Id of the Managed Disk Image"
          },
          "location" : {
            "type" : "string",
            "description" : "Azure location for the image, should match if image already exists"
          }
        },
        "description" : "Distribute as a Managed Disk Image.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ImageTemplateDistributor"
        } ]
      },
      "ImageTemplateManagedImageSource" : {
        "properties" : {
          "imageId" : {
            "type" : "string",
            "description" : "ARM resource id of the managed image in customer subscription"
          }
        },
        "description" : "Describes an image source that is a managed image in customer subscription.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ImageTemplateSource"
        } ]
      },
      "ImageTemplatePlatformImageSource" : {
        "properties" : {
          "offer" : {
            "type" : "string",
            "description" : "Image offer from the [Azure Gallery Images](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages)."
          },
          "publisher" : {
            "type" : "string",
            "description" : "Image Publisher in [Azure Gallery Images](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages)."
          },
          "sku" : {
            "type" : "string",
            "description" : "Image sku from the [Azure Gallery Images](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages)."
          },
          "version" : {
            "type" : "string",
            "description" : "Image version from the [Azure Gallery Images](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages)."
          }
        },
        "description" : "Describes an image source from [Azure Gallery Images](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages).",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ImageTemplateSource"
        } ]
      },
      "ImageTemplatePowerShellCustomizer" : {
        "properties" : {
          "inline" : {
            "type" : "array",
            "description" : "Array of PowerShell commands to execute",
            "items" : {
              "type" : "string"
            }
          },
          "runElevated" : {
            "type" : "boolean",
            "description" : "If specified, the PowerShell script will be run with elevated privileges"
          },
          "scriptUri" : {
            "type" : "string",
            "description" : "URI of the PowerShell script to be run for customizing. It can be a github link, SAS URI for Azure Storage, etc"
          },
          "sha256Checksum" : {
            "type" : "string",
            "description" : "SHA256 checksum of the power shell script provided in the scriptUri field above"
          },
          "validExitCodes" : {
            "type" : "array",
            "description" : "Valid exit codes for the PowerShell script. [Default: 0]",
            "items" : {
              "type" : "integer"
            }
          }
        },
        "description" : "Runs the specified PowerShell on the VM (Windows). Corresponds to Packer powershell provisioner. Exactly one of 'scriptUri' or 'inline' can be specified.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ImageTemplateCustomizer"
        } ]
      },
      "ImageTemplateProperties" : {
        "required" : [ "distribute", "source" ],
        "type" : "object",
        "properties" : {
          "buildTimeoutInMinutes" : {
            "maximum" : 960,
            "minimum" : 0,
            "type" : "integer",
            "description" : "Maximum duration to wait while building the image template. Omit or specify 0 to use the default (4 hours)."
          },
          "customize" : {
            "type" : "array",
            "description" : "Specifies the properties used to describe the customization steps of the image, like Image source etc",
            "items" : {
              "$ref" : "#/components/schemas/ImageTemplateCustomizer"
            }
          },
          "distribute" : {
            "type" : "array",
            "description" : "The distribution targets where the image output needs to go to.",
            "items" : {
              "$ref" : "#/components/schemas/ImageTemplateDistributor"
            }
          },
          "lastRunStatus" : {
            "$ref" : "#/components/schemas/ImageTemplateLastRunStatus"
          },
          "provisioningError" : {
            "$ref" : "#/components/schemas/ProvisioningError"
          },
          "provisioningState" : {
            "$ref" : "#/components/schemas/ProvisioningState"
          },
          "source" : {
            "$ref" : "#/components/schemas/ImageTemplateSource"
          },
          "vmProfile" : {
            "$ref" : "#/components/schemas/ImageTemplateVmProfile"
          }
        },
        "description" : "Describes the properties of an image template"
      },
      "ImageTemplateRestartCustomizer" : {
        "properties" : {
          "restartCheckCommand" : {
            "type" : "string",
            "description" : "Command to check if restart succeeded [Default: '']"
          },
          "restartCommand" : {
            "type" : "string",
            "description" : "Command to execute the restart [Default: 'shutdown /r /f /t 0 /c \"packer restart\"']"
          },
          "restartTimeout" : {
            "type" : "string",
            "description" : "Restart timeout specified as a string of magnitude and unit, e.g. '5m' (5 minutes) or '2h' (2 hours) [Default: '5m']"
          }
        },
        "description" : "Reboots a VM and waits for it to come back online (Windows). Corresponds to Packer windows-restart provisioner",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ImageTemplateCustomizer"
        } ]
      },
      "ImageTemplateSharedImageDistributor" : {
        "properties" : {
          "galleryImageId" : {
            "type" : "string",
            "description" : "Resource Id of the Shared Image Gallery image"
          },
          "replicationRegions" : {
            "type" : "array",
            "description" : "A list of regions that the image will be replicated to",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Distribute via Shared Image Gallery.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ImageTemplateDistributor"
        } ]
      },
      "ImageTemplateSharedImageVersionSource" : {
        "properties" : {
          "imageVersionId" : {
            "type" : "string",
            "description" : "ARM resource id of the image version in the shared image gallery"
          }
        },
        "description" : "Describes an image source that is an image version in a shared image gallery.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ImageTemplateSource"
        } ]
      },
      "ImageTemplateShellCustomizer" : {
        "properties" : {
          "inline" : {
            "type" : "array",
            "description" : "Array of shell commands to execute",
            "items" : {
              "type" : "string"
            }
          },
          "scriptUri" : {
            "type" : "string",
            "description" : "URI of the shell script to be run for customizing. It can be a github link, SAS URI for Azure Storage, etc"
          },
          "sha256Checksum" : {
            "type" : "string",
            "description" : "SHA256 checksum of the shell script provided in the scriptUri field"
          }
        },
        "description" : "Runs a shell script during the customization phase (Linux). Corresponds to Packer shell provisioner. Exactly one of 'scriptUri' or 'inline' can be specified.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ImageTemplateCustomizer"
        } ]
      },
      "ImageTemplateSource" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of source image you want to start with."
          }
        },
        "description" : "Describes a virtual machine image source for building, customizing and distributing",
        "discriminator" : {
          "propertyName" : "type"
        }
      },
      "ImageTemplateUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "identity" : {
            "$ref" : "#/components/schemas/ImageTemplateIdentity"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The user-specified tags associated with the image template."
          }
        },
        "description" : "Parameters for updating an image template."
      },
      "ImageTemplateVhdDistributor" : {
        "description" : "Distribute via VHD in a storage account.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ImageTemplateDistributor"
        } ]
      },
      "ImageTemplateVmProfile" : {
        "type" : "object",
        "properties" : {
          "vmSize" : {
            "type" : "string",
            "description" : "Size of the virtual machine used to build, customize and capture images. Omit or specify empty string to use the default (Standard_D1_v2)."
          }
        },
        "description" : "Describes the virtual machine used to build, customize and capture images"
      },
      "InnerError" : {
        "type" : "object",
        "properties" : {
          "errorDetail" : {
            "type" : "string",
            "description" : "The internal error message or exception dump."
          },
          "exceptionType" : {
            "type" : "string",
            "description" : "The exception type."
          }
        },
        "description" : "Inner error details."
      },
      "Operation" : {
        "title" : "A REST API operation",
        "type" : "object",
        "properties" : {
          "display" : {
            "title" : "The object that describes the operation.",
            "type" : "object",
            "properties" : {
              "description" : {
                "title" : "The friendly name of the operation",
                "type" : "string"
              },
              "operation" : {
                "title" : "The operation type.",
                "type" : "string",
                "description" : "For example: read, write, delete, or listKeys/action"
              },
              "provider" : {
                "title" : "Friendly name of the resource provider.",
                "type" : "string"
              },
              "resource" : {
                "title" : "The resource type on which the operation is performed.",
                "type" : "string"
              }
            }
          },
          "name" : {
            "title" : "The operation name.",
            "type" : "string",
            "description" : "This is of the format {provider}/{resource}/{operation}"
          },
          "origin" : {
            "title" : "The intended executor of the operation.",
            "type" : "string"
          },
          "properties" : {
            "title" : "Properties of the operation.",
            "type" : "object"
          }
        }
      },
      "OperationListResult" : {
        "title" : "Result of the request to list REST API operations. It contains a list of operations and a URL nextLink to get the next set of results.",
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "title" : "The URL to get the next set of operation list results if there are any.",
            "type" : "string"
          },
          "value" : {
            "title" : "The list of operations supported by the resource provider.",
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        }
      },
      "ProvisioningError" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "Verbose error message about the provisioning failure"
          },
          "provisioningErrorCode" : {
            "type" : "string",
            "description" : "Error code of the provisioning failure",
            "enum" : [ "BadSourceType", "BadPIRSource", "BadISOSource", "BadManagedImageSource", "BadSharedImageVersionSource", "BadCustomizerType", "UnsupportedCustomizerType", "NoCustomizerScript", "BadDistributeType", "BadSharedImageDistribute", "ServerError", "Other" ]
          }
        },
        "description" : "Describes the error happened when create or update an image template"
      },
      "ProvisioningState" : {
        "type" : "string",
        "description" : "Provisioning state of the resource",
        "enum" : [ "Creating", "Updating", "Succeeded", "Failed", "Deleting" ]
      },
      "Resource" : {
        "required" : [ "location" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource Id",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Resource location"
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags"
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type",
            "readOnly" : true
          }
        },
        "description" : "The Resource model definition."
      },
      "RunOutput" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/RunOutputProperties"
          }
        },
        "description" : "Represents an output that was created by running an image template.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/SubResource"
        } ]
      },
      "RunOutputCollection" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The continuation token."
          },
          "value" : {
            "type" : "array",
            "description" : "An array of run outputs",
            "items" : {
              "$ref" : "#/components/schemas/RunOutput"
            }
          }
        },
        "description" : "The result of List run outputs operation"
      },
      "RunOutputProperties" : {
        "type" : "object",
        "properties" : {
          "artifactId" : {
            "type" : "string",
            "description" : "The resource id of the artifact."
          },
          "artifactUri" : {
            "type" : "string",
            "description" : "The location URI of the artifact."
          },
          "provisioningState" : {
            "$ref" : "#/components/schemas/ProvisioningState"
          }
        },
        "description" : "Describes the properties of a run output"
      },
      "SubResource" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource Id",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name"
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type",
            "readOnly" : true
          }
        },
        "description" : "The Sub Resource model definition."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ImageTemplateNameParameter" : {
        "name" : "imageTemplateName",
        "in" : "path",
        "description" : "The name of the image Template",
        "required" : true,
        "schema" : {
          "pattern" : "^[A-Za-z0-9-_.]{1,64}$",
          "type" : "string"
        }
      },
      "LocationParameter" : {
        "name" : "location",
        "in" : "path",
        "description" : "Location of the service.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "RunOutputNameParameter" : {
        "name" : "runOutputName",
        "in" : "path",
        "description" : "The name of the run output",
        "required" : true,
        "schema" : {
          "pattern" : "^[A-Za-z0-9-_.]{1,64}$",
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription Id forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}