{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "SubscriptionClient",
    "description" : "The User Subscription Management Client.",
    "version" : "2015-11-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions" : {
      "get" : {
        "tags" : [ "Subscriptions" ],
        "description" : "Get the list of subscriptions.",
        "operationId" : "Subscriptions_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}" : {
      "get" : {
        "tags" : [ "Subscriptions" ],
        "description" : "Gets details about particular subscription.",
        "operationId" : "Subscriptions_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Id of the subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Subscriptions" ],
        "description" : "Create or updates a subscription.",
        "operationId" : "Subscriptions_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Id of the subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "requestBody" : {
          "description" : "Subscription parameter.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Subscription"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscription"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Subscriptions" ],
        "description" : "Delete the specified subscription.",
        "operationId" : "Subscriptions_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Id of the subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "204" : {
            "description" : "No Content"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "URI of the resource.",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Location of the resource"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the resource.",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "List of key-value pairs.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "Type of resource.",
            "readOnly" : true
          }
        },
        "description" : "Base Resource Object"
      },
      "Subscription" : {
        "type" : "object",
        "properties" : {
          "displayName" : {
            "type" : "string",
            "description" : "Subscription name."
          },
          "id" : {
            "type" : "string",
            "description" : "Fully qualified identifier."
          },
          "offerId" : {
            "type" : "string",
            "description" : "Identifier of the offer under the scope of a delegated provider."
          },
          "state" : {
            "$ref" : "#/components/schemas/SubscriptionState"
          },
          "subscriptionId" : {
            "type" : "string",
            "description" : "Subscription identifier."
          },
          "tenantId" : {
            "type" : "string",
            "description" : "Directory tenant identifier."
          }
        },
        "description" : "List of supported operations."
      },
      "SubscriptionList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to the next page."
          },
          "value" : {
            "type" : "array",
            "description" : "Subscription definition.",
            "items" : {
              "$ref" : "#/components/schemas/Subscription"
            }
          }
        },
        "description" : "List of subscriptions."
      },
      "SubscriptionState" : {
        "type" : "string",
        "description" : "Subscription notification state.",
        "enum" : [ "NotDefined", "Enabled", "Warned", "PastDue", "Disabled", "Deleted" ]
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "default" : "2015-11-01"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Id of the subscription.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "NewSubscriptionParameter" : {
        "description" : "Subscription parameter.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Subscription"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 flow"
      }
    }
  }
}