{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ManagedServicesClient",
    "description" : "Specification for ManagedServices.",
    "version" : "2019-06-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.ManagedServices/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Gets a list of the operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - Returns a list of operations.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.ManagedServices/registrationAssignments" : {
      "get" : {
        "tags" : [ "RegistrationAssignments" ],
        "description" : "Gets a list of the registration assignments.",
        "operationId" : "RegistrationAssignments_List",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Scope of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expandRegistrationDefinition",
          "in" : "query",
          "description" : "Tells whether to return registration definition details also along with registration assignment details.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - Returns a list of the registration assignments.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegistrationAssignmentList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.ManagedServices/registrationAssignments/{registrationAssignmentId}" : {
      "get" : {
        "tags" : [ "RegistrationAssignments" ],
        "description" : "Gets the details of specified registration assignment.",
        "operationId" : "RegistrationAssignments_Get",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Scope of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationAssignmentId",
          "in" : "path",
          "description" : "Guid of the registration assignment.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expandRegistrationDefinition",
          "in" : "query",
          "description" : "Tells whether to return registration definition details also along with registration assignment details.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - Returns the registration assignment.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegistrationAssignment"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "RegistrationAssignments" ],
        "description" : "Creates or updates a registration assignment.",
        "operationId" : "RegistrationAssignments_CreateOrUpdate",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Scope of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationAssignmentId",
          "in" : "path",
          "description" : "Guid of the registration assignment.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters required to create new registration assignment.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegistrationAssignment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok - Returns information about the updated registration assignment.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegistrationAssignment"
                }
              }
            }
          },
          "201" : {
            "description" : "Created - Returns information about the created registration assignment.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegistrationAssignment"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "RegistrationAssignments" ],
        "description" : "Deletes the specified registration assignment.",
        "operationId" : "RegistrationAssignments_Delete",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Scope of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationAssignmentId",
          "in" : "path",
          "description" : "Guid of the registration assignment.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - The registration assignment is deleted."
          },
          "202" : {
            "description" : "Accepted - The registration assignment deletion operation is accepted."
          },
          "204" : {
            "description" : "No Content- The registration assignment does not exist."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.ManagedServices/registrationDefinitions" : {
      "get" : {
        "tags" : [ "RegistrationDefinitions" ],
        "description" : "Gets a list of the registration definitions.",
        "operationId" : "RegistrationDefinitions_List",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Scope of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - Returns a list of the registration definitions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegistrationDefinitionList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.ManagedServices/registrationDefinitions/{registrationDefinitionId}" : {
      "get" : {
        "tags" : [ "RegistrationDefinitions" ],
        "description" : "Gets the registration definition details.",
        "operationId" : "RegistrationDefinitions_Get",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Scope of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationDefinitionId",
          "in" : "path",
          "description" : "Guid of the registration definition.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - Returns the complete registration definition with plan details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegistrationDefinition"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "RegistrationDefinitions" ],
        "description" : "Creates or updates a registration definition.",
        "operationId" : "RegistrationDefinitions_CreateOrUpdate",
        "parameters" : [ {
          "name" : "registrationDefinitionId",
          "in" : "path",
          "description" : "Guid of the registration definition.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scope",
          "in" : "path",
          "description" : "Scope of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters required to create new registration definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegistrationDefinition"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok - Returns information about the updated registration definition.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegistrationDefinition"
                }
              }
            }
          },
          "201" : {
            "description" : "Created - Returns information about the created registration definition.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegistrationDefinition"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "RegistrationDefinitions" ],
        "description" : "Deletes the registration definition.",
        "operationId" : "RegistrationDefinitions_Delete",
        "parameters" : [ {
          "name" : "registrationDefinitionId",
          "in" : "path",
          "description" : "Guid of the registration definition.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scope",
          "in" : "path",
          "description" : "Scope of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - The registration definition is deleted."
          },
          "204" : {
            "description" : "No Content- The registration definition does not exist."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Authorization" : {
        "required" : [ "principalId", "roleDefinitionId" ],
        "type" : "object",
        "properties" : {
          "principalId" : {
            "type" : "string",
            "description" : "Principal Id of the security group/service principal/user that would be assigned permissions to the projected subscription"
          },
          "roleDefinitionId" : {
            "type" : "string",
            "description" : "The role definition identifier. This role will define all the permissions that the security group/service principal/user must have on the projected subscription. This role cannot be an owner role."
          }
        },
        "description" : "Authorization tuple containing principal Id (of user/service principal/security group) and role definition id."
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "required" : [ "code", "message" ],
            "type" : "object",
            "properties" : {
              "code" : {
                "type" : "string",
                "description" : "Error code."
              },
              "message" : {
                "type" : "string",
                "description" : "Error message indicating why the operation failed."
              }
            },
            "description" : "Error response indicates Azure Resource Manager is not able to process the incoming request. The reason is provided in the error message.",
            "readOnly" : true
          }
        },
        "description" : "Error response."
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "type" : "object",
            "properties" : {
              "description" : {
                "type" : "string",
                "description" : "Description of the operation."
              },
              "operation" : {
                "type" : "string",
                "description" : "Operation type: Read, write, delete, etc."
              },
              "provider" : {
                "type" : "string",
                "description" : "Service provider: Microsoft.ManagedServices"
              },
              "resource" : {
                "type" : "string",
                "description" : "Resource on which the operation is performed: Registration definition, registration assignment etc."
              }
            },
            "description" : "The object that represents the operation.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Operation name: {provider}/{resource}/{operation}",
            "readOnly" : true
          }
        },
        "description" : "Object that describes a single Microsoft.ManagedServices operation."
      },
      "OperationList" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "List of Microsoft.ManagedServices operations.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "List of the operations."
      },
      "Plan" : {
        "required" : [ "name", "product", "publisher", "version" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The plan name."
          },
          "product" : {
            "type" : "string",
            "description" : "The product code."
          },
          "publisher" : {
            "type" : "string",
            "description" : "The publisher ID."
          },
          "version" : {
            "type" : "string",
            "description" : "The plan's version."
          }
        },
        "description" : "Plan details for the managed services."
      },
      "RegistrationAssignment" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The fully qualified path of the registration assignment.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the registration assignment.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/RegistrationAssignmentProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the resource.",
            "readOnly" : true
          }
        },
        "description" : "Registration assignment."
      },
      "RegistrationAssignmentList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to next page of registration assignments.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of registration assignments.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/RegistrationAssignment"
            }
          }
        },
        "description" : "List of registration assignments."
      },
      "RegistrationAssignmentProperties" : {
        "required" : [ "registrationDefinitionId" ],
        "type" : "object",
        "properties" : {
          "provisioningState" : {
            "type" : "string",
            "description" : "Current state of the registration assignment.",
            "readOnly" : true,
            "enum" : [ "NotSpecified", "Accepted", "Running", "Ready", "Creating", "Created", "Deleting", "Deleted", "Canceled", "Failed", "Succeeded", "Updating" ]
          },
          "registrationDefinition" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Fully qualified path of the registration definition.",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "Name of the registration definition.",
                "readOnly" : true
              },
              "plan" : {
                "$ref" : "#/components/schemas/Plan"
              },
              "properties" : {
                "type" : "object",
                "properties" : {
                  "authorizations" : {
                    "type" : "array",
                    "description" : "Authorization tuple containing principal id of the user/security group or service principal and id of the build-in role.",
                    "items" : {
                      "$ref" : "#/components/schemas/Authorization"
                    }
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "Description of the registration definition."
                  },
                  "managedByTenantId" : {
                    "type" : "string",
                    "description" : "Id of the managedBy tenant."
                  },
                  "managedByTenantName" : {
                    "type" : "string",
                    "description" : "Name of the managedBy tenant."
                  },
                  "manageeTenantId" : {
                    "type" : "string",
                    "description" : "Id of the home tenant."
                  },
                  "manageeTenantName" : {
                    "type" : "string",
                    "description" : "Name of the home tenant."
                  },
                  "provisioningState" : {
                    "type" : "string",
                    "description" : "Current state of the registration definition.",
                    "enum" : [ "NotSpecified", "Accepted", "Running", "Ready", "Creating", "Created", "Deleting", "Deleted", "Canceled", "Failed", "Succeeded", "Updating" ]
                  },
                  "registrationDefinitionName" : {
                    "type" : "string",
                    "description" : "Name of the registration definition."
                  }
                },
                "description" : "Properties of registration definition inside registration assignment."
              },
              "type" : {
                "type" : "string",
                "description" : "Type of the resource (Microsoft.ManagedServices/registrationDefinitions).",
                "readOnly" : true
              }
            },
            "description" : "Registration definition inside registration assignment.",
            "readOnly" : true
          },
          "registrationDefinitionId" : {
            "type" : "string",
            "description" : "Fully qualified path of the registration definition."
          }
        },
        "description" : "Properties of a registration assignment."
      },
      "RegistrationDefinition" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Fully qualified path of the registration definition.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the registration definition.",
            "readOnly" : true
          },
          "plan" : {
            "$ref" : "#/components/schemas/Plan"
          },
          "properties" : {
            "$ref" : "#/components/schemas/RegistrationDefinitionProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the resource.",
            "readOnly" : true
          }
        },
        "description" : "Registration definition."
      },
      "RegistrationDefinitionList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to next page of registration definitions.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of registration definitions.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/RegistrationDefinition"
            }
          }
        },
        "description" : "List of registration definitions."
      },
      "RegistrationDefinitionProperties" : {
        "required" : [ "authorizations", "managedByTenantId" ],
        "type" : "object",
        "properties" : {
          "authorizations" : {
            "type" : "array",
            "description" : "Authorization tuple containing principal id of the user/security group or service principal and id of the build-in role.",
            "items" : {
              "$ref" : "#/components/schemas/Authorization"
            }
          },
          "description" : {
            "type" : "string",
            "description" : "Description of the registration definition."
          },
          "managedByTenantId" : {
            "type" : "string",
            "description" : "Id of the managedBy tenant."
          },
          "managedByTenantName" : {
            "type" : "string",
            "description" : "Name of the managedBy tenant.",
            "readOnly" : true
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "Current state of the registration definition.",
            "readOnly" : true,
            "enum" : [ "NotSpecified", "Accepted", "Running", "Ready", "Creating", "Created", "Deleting", "Deleted", "Canceled", "Failed", "Succeeded", "Updating" ]
          },
          "registrationDefinitionName" : {
            "type" : "string",
            "description" : "Name of the registration definition."
          }
        },
        "description" : "Properties of a registration definition."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "The API version to use for this operation.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ExpandRegistrationDefinition" : {
        "name" : "$expandRegistrationDefinition",
        "in" : "query",
        "description" : "Tells whether to return registration definition details also along with registration assignment details.",
        "schema" : {
          "type" : "boolean"
        }
      },
      "RegistrationAssignmentIdParameter" : {
        "name" : "registrationAssignmentId",
        "in" : "path",
        "description" : "Guid of the registration assignment.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ScopeParameter" : {
        "name" : "scope",
        "in" : "path",
        "description" : "Scope of the resource.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "registrationDefinitionIdParameter" : {
        "name" : "registrationDefinitionId",
        "in" : "path",
        "description" : "Guid of the registration definition.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}